Repository zephyrproject-rtos/zephyr, pull requests merged in 2018-07, with the labels that each got.

#8552 drivers: uart: nrf: fixing interrupt driven API
  drivers/serial/uart_nrfx_uart.c
Labels: area: UART, nRF

#8639 net: shell: Check link address when printing iface info
  subsys/net/ip/net_shell.c
Labels: area: Networking

#8651 net: config: Introduce a dedicated header for the library
  include/net/net_app.h
  include/net/net_config.h
  subsys/net/lib/config/init.c
  tests/net/app/src/main.c
Labels: area: Networking

#8633 net: l2: Fixed wifi can not connect to open AP.
  subsys/net/l2/wifi_mgmt.c
  subsys/net/l2/wifi_shell.c
Labels: area: Networking

#8619 gPTP statistics fixes and enhancements
  subsys/net/ip/net_shell.c
Labels: area: Networking

#8672 net: icmpv4: Merge process_icmpv4_pkt() into net_icmpv4_input()
  subsys/net/ip/icmpv4.c
  subsys/net/ip/icmpv4.h
  subsys/net/ip/ipv4.c
Labels: area: Networking

#8656 drivers: i2c: nrfx: Move device tree selection to driver Kconfig
  boards/arm/bbc_microbit/Kconfig.board
  boards/arm/nrf52810_pca10040/Kconfig.board
  boards/arm/nrf52840_pca10056/Kconfig.board
  boards/arm/nrf52_blenano2/Kconfig.board
  boards/arm/nrf52_pca10040/Kconfig.board
  boards/arm/nrf52_pca20020/Kconfig.board
  drivers/i2c/Kconfig.nrfx
Labels: area: Device Tree, area: I2C, nRF

#8664 dts: arm: st: Correct pin assignment of node usart6@0
  dts/arm/st/stm32f4-pinctrl.dtsi
Labels: STM32

#8676 net: icmpv4: Simplify the flow at net_icmpv4_get_hdr()
  subsys/net/ip/icmpv4.c
Labels: area: Networking

#8686 drivers: eth: stm32: Added missing ethernet_init() call
  drivers/ethernet/eth_stm32_hal.c
Labels: STM32, area: Networking

#8707 include: i2c: replace num_bytes type u8_t with u32_t
  include/i2c.h
Labels: area: I2C

#8580 kernel/stack: Introduce K_THREAD_STACK_LEN macro
  include/arch/arc/arch.h
  include/arch/arm/arch.h
  include/arch/x86/arch.h
  include/kernel.h
Labels: area: Memory Protection

#8638 arch: arm: update compile options for DSP
  arch/arm/CMakeLists.txt
  arch/arm/core/cortex_m/Kconfig
  cmake/gcc-m-cpu.cmake
Labels: area: ARM, area: Build System

#8670 boards: disco_l475_iot1: Move BT_SPI_BLUENRG selection to avoid warning
  boards/arm/disco_l475_iot1/Kconfig.defconfig
  boards/arm/disco_l475_iot1/disco_l475_iot1_defconfig
Labels: STM32

#8542 drivers: gpio: sam: Fixed Dead Code in SAM GPIO Driver
  drivers/gpio/gpio_sam.c
  samples/drivers/gpio/src/main.c
Labels: ATMEL, area: GPIO

#8541 scripts: extract_dts_includes.py: refactor for better maintenance
  scripts/dts/extract/clocks.py
  scripts/dts/extract/default.py
  scripts/dts/extract/directive.py
  scripts/dts/extract/flash.py
  scripts/dts/extract/interrupts.py
  scripts/dts/extract/pinctrl.py
  scripts/dts/extract/reg.py
  scripts/dts/extract_dts_includes.py
Labels: area: Device Tree

#8513 build: fix git describe call on older Git versions
  cmake/app/boilerplate.cmake
Labels: area: Build System, bug

#8706 usb: usb_descriptor: fix null pointer dereference
  subsys/usb/usb_descriptor.c
Labels: Coverity, area: USB

#8714 boards: native_posix: Add option to build with Address Sanitizer
  arch/posix/CMakeLists.txt
  subsys/debug/Kconfig
Labels: area: Testing, area: native port

#8685 eth: mcux: Add an option for randomized, but stable MAC address
  drivers/ethernet/Kconfig.mcux
  drivers/ethernet/eth_mcux.c
Labels: NXP, area: Ethernet, area: Networking

#8603 Arch arm v8m mpu reorg arm mpu
  arch/arm/core/cortex_m/mpu/arm_mpu.c
Labels: area: ARM, area: Memory Protection

#8712 drivers: gpio: nrfx: Move device tree selection to driver Kconfig
  boards/arm/96b_nitrogen/Kconfig.board
  boards/arm/nrf52810_pca10040/Kconfig.board
  boards/arm/nrf52840_pca10056/Kconfig.board
  boards/arm/nrf52_blenano2/Kconfig.board
  boards/arm/nrf52_pca10040/Kconfig.board
  boards/arm/nrf52_pca20020/Kconfig.board
  boards/arm/nrf52_sparkfun/Kconfig.board
  boards/arm/nrf52_vbluno52/Kconfig.board
  drivers/gpio/Kconfig.nrf5
Labels: area: Device Tree, area: GPIO, nRF

#8666 drivers: entropy: stm32: add support for STM32F7
  arch/arm/soc/st_stm32/stm32f7/Kconfig.defconfig.series
  arch/arm/soc/st_stm32/stm32f7/soc.h
  drivers/entropy/Kconfig.stm32
  drivers/entropy/entropy_stm32.c
Labels: STM32

#8677 tests: net: ptp: Make sure we check clock increment properly
  tests/net/ptp/clock/src/main.c
Labels: area: Networking

#8731 tests: net: tx_timestamp: Check max number of interfaces
  tests/net/tx_timestamp/src/main.c
Labels: area: Networking

#8739 net: gptp: Init only the ports we have configured
  subsys/net/l2/ethernet/gptp/gptp_mi.c
Labels: area: Networking

#8740 doc: native_posix: Add paragraph about ASan
  boards/posix/native_posix/doc/board.rst
Labels: area: Documentation, area: native port

#7445 arch: ARM: Change the march used by cortex-m0 and cortex-m0plus
  arch/arm/CMakeLists.txt
Labels: area: ARM

#8620 drivers: eth: native_posix: Enable gPTP support
  drivers/ethernet/Kconfig.native_posix
  drivers/ethernet/eth_native_posix.c
  drivers/ethernet/eth_native_posix_adapt.c
  drivers/ethernet/eth_native_posix_priv.h
  samples/net/gptp/boards/native_posix.conf
Labels: area: Ethernet, area: Networking

#8750 net: gptp: Fix debug prints and use correct modifier
  subsys/net/l2/ethernet/gptp/gptp.c
Labels: area: Networking

#8688 net: Add bound checking in net_addr_pton()
  subsys/net/ip/utils.c
Labels: area: Networking

#8751 net: icmpv4: Set the ICMPv4 header correctly
  subsys/net/ip/icmpv4.c
Labels: area: Networking

#8177 boards: curie_ble: add board.cmake
  boards/arm/curie_ble/board.cmake
Labels: area: Flashing

#8733 drivers: usb_dc_stm32: don't wait for semaphore in ISR context
  drivers/usb/device/usb_dc_stm32.c
Labels: STM32, area: Drivers, area: USB

#8663 drivers: pinmux: stm32: STM32F7 added ETH support to pinmux
  drivers/pinmux/stm32/pinmux_stm32f7.h
Labels: STM32

#8665 dts: stm32f7-pinctrl Add definitions for F7 USART/UARTs
  dts/arm/st/stm32f7-pinctrl.dtsi
Labels: STM32

#8765 arch: arm: beetle: Pull in CMSDK header for CMSIS support on Beetle
  arch/arm/soc/arm/beetle/CMSDK_BEETLE.h
  arch/arm/soc/arm/beetle/soc.h
  arch/arm/soc/arm/beetle/soc_mpu.h
Labels: area: ARM

#8687 arm: Print NXP MPU error information in BusFault dump
  arch/arm/core/fault.c
Labels: NXP, area: Memory Protection

#8747 arch: arm: mpu: get REGION_SIZE_<X> defines directly from ARM CMSIS
  include/arch/arm/cortex_m/mpu/arm_mpu_v7m.h
Labels: area: ARM

#8763 ext: debug: segger: Fix CONFIG_SEGGER_RTT_MODE generation.
  ext/debug/segger/Kconfig
Labels: EXT, area: Console, area: Debugging, bug

#8744 tests: net: trickle: Initialize test variables earlier
  tests/net/trickle/src/main.c
Labels: area: Networking

#8780 arch: stm32f0/f1/f3/l0: remove core zephyr header inclusions
  arch/arm/soc/st_stm32/stm32f0/soc.h
  arch/arm/soc/st_stm32/stm32f1/soc.h
  arch/arm/soc/st_stm32/stm32f3/soc.h
  arch/arm/soc/st_stm32/stm32l0/soc.h
Labels: STM32

#8774 arch: arm: stm32f2: remove core zephyr header inclusions from soc.h
  arch/arm/soc/st_stm32/stm32f2/soc.h
Labels: STM32

#8777 doc: net: Fix source tree layout documentation
  doc/subsystems/networking/overview.rst
Labels: area: Documentation, area: Networking

#8805 logging: Avoid compile warning because of wrong type
  include/logging/log_core.h
Labels: area: Logging

#8824 net: dhcpv4: Use less parameters in debug print
  subsys/net/ip/dhcpv4.c
Labels: area: Networking

#8799 Uart add port 1 PINs support
  drivers/serial/uart_nrfx_uart.c
Labels: nRF

#8831 arch: arm: fix linker script title comment
  include/arch/arm/cortex_m/scripts/linker.ld
Labels: area: ARM, priority: low

#8809 arm: nxp: mpu: Consolidate k64 mpu regions
  arch/arm/soc/nxp_kinetis/k6x/nxp_mpu_regions.c
  include/arch/arm/cortex_m/mpu/nxp_mpu.h
Labels: NXP, area: Memory Protection

#8675 syscalls: Scan multiple folders to build complete syscall list
  CMakeLists.txt
  misc/Kconfig
  scripts/parse_syscalls.py
Labels: area: Memory Protection

#8845 samples: net: Fix echo_client/echo_server TLS config files
  samples/net/echo_client/prj_qemu_x86_tls.conf
  samples/net/echo_server/prj_qemu_x86_tls.conf
Labels: area: Networking

#8839 tests: pending: Add description and RTM links
  tests/kernel/pending/src/main.c
Labels: area: Tests

#8806 tests: kernel: Add test description and doxygen groups
  tests/kernel/workq/work_queue/src/main.c
  tests/kernel/workq/work_queue_api/src/main.c
Labels: area: Tests

#8782 tests: kernel: Add description and group tests for doxygen
  tests/kernel/tickless/tickless/src/main.c
  tests/kernel/tickless/tickless/src/timestamps.c
  tests/kernel/tickless/tickless_concept/src/main.c
Labels: area: Tests

#8840 logging: Fix fail when log locally disabled
  include/logging/log.h
  include/logging/log_core.h
  include/logging/log_instance.h
Labels: area: Logging

#6986 boards: Add support for nRF52 Adafruit Feather
  boards/arm/nrf52_adafruit_feather/Kconfig
  boards/arm/nrf52_adafruit_feather/Kconfig.board
  boards/arm/nrf52_adafruit_feather/Kconfig.defconfig
  boards/arm/nrf52_adafruit_feather/board.cmake
  boards/arm/nrf52_adafruit_feather/board.h
  boards/arm/nrf52_adafruit_feather/doc/img/nRF52Feather.png
  boards/arm/nrf52_adafruit_feather/doc/nrf52_adafruit_feather.rst
  boards/arm/nrf52_adafruit_feather/nrf52_adafruit_feather.dts
  boards/arm/nrf52_adafruit_feather/nrf52_adafruit_feather.yaml
  boards/arm/nrf52_adafruit_feather/nrf52_adafruit_feather_defconfig
Labels: area: Boards, nRF

#8844 logging: Handle 0 Hz frequency in log_output
  subsys/logging/log_output.c
Labels: area: Logging

#8850 logging: Ensure constant side effects of log API
  include/logging/log_core.h
Labels: area: Logging

#8846 boards: arm: nrf: enable UARTE on nrf52810_pca10040
  boards/arm/nrf52810_pca10040/nrf52810_pca10040_defconfig
Labels: nRF

#8843 Drivers nrf gpio remove hal
  drivers/gpio/gpio_nrf5.c
Labels: nRF

#8868 arch: arm: mpu: fix _get_region_ap(.) function
  arch/arm/core/cortex_m/mpu/arm_mpu.c
Labels: area: ARM, area: Memory Protection, bug, priority: high

#8718 tests: boards: intel_s1000_crb: Fix build error.
  tests/boards/intel_s1000_crb/src/test_hid.c
Labels: area: Tests

#8885 tests: net: arp: Increase network buffer counts
  tests/net/arp/prj.conf
  tests/net/arp/src/main.c
Labels: area: Networking

#8847 Serial driver migration to DT
  arch/arm/soc/nordic_nrf/nrf51/dts.fixup
  arch/arm/soc/nordic_nrf/nrf52/dts.fixup
  drivers/serial/uart_nrfx_uart.c
  drivers/serial/uart_nrfx_uarte.c
Labels: area: Device Tree, nRF

#8923 ext: mcux: Add a script to import new versions of mcux
  ext/hal/nxp/mcux/scripts/import_mcux_sdk.py
Labels: EXT, NXP

#8842 logging: Add log initialization to system startup
  include/logging/log_ctrl.h
  include/logging/log_msg.h
  kernel/init.c
  samples/subsys/logging/logger/src/main.c
  subsys/logging/log_core.c
  subsys/logging/log_msg.c
  tests/subsys/logging/log_core/src/log_core_test.c
Labels: area: Logging

#5113 include: drivers: gpio: Turn functions generic - esp32
  arch/xtensa/soc/esp32/soc.h
  drivers/i2c/i2c_esp32.c
  include/drivers/gpio/gpio_esp32.h
Labels: ESP32

#8538 frdm_k64f: dts: Addition of a Flash Partion
  boards/arm/frdm_k64f/frdm_k64f.dts
Labels: NXP

#8936 kernel: minor improve in SYS_CLOCK_HW_CYCLES_PER_SEC help description
  kernel/Kconfig
Labels: priority: low

#7771 usb: set SN string descriptor at runtime
  subsys/usb/usb_descriptor.c
  subsys/usb/usb_descriptor.h
Labels: area: USB, enhancement

#8947 drivers: usb_dc_kinetis: fix gcc 7.3.1 warning
  drivers/usb/device/usb_dc_kinetis.c
Labels: area: USB

#8942 arch: arm: enable/disable MPU using API functions
  arch/arm/core/cortex_m/mpu/arm_mpu.c
Labels: area: ARM, area: Memory Protection, bug

#8905 net: sockets: Make poll() call threadsafe by avoiding global array
  subsys/net/lib/sockets/sockets.c
Labels: area: Networking

#8766 doc: tests: Add test description and doxygen groups in timer
  tests/kernel/timer/timer_api/src/main.c
  tests/kernel/timer/timer_monotonic/src/main.c
Labels: area: Tests

#8673 tests: net: tcp: Use correct network interface for sending
  tests/net/tcp/src/main.c
Labels: area: Networking, area: Tests

#8745 tests: kernel: Add description for tests in common, interrupt and boot_page_table
  tests/kernel/arm_irq_vector_table/src/arm_irq_vector_table.c
  tests/kernel/arm_runtime_nmi/src/arm_runtime_nmi.c
  tests/kernel/boot_page_table/src/boot_page_table.c
  tests/kernel/common/src/atomic.c
  tests/kernel/common/src/bitfield.c
  tests/kernel/common/src/byteorder.c
  tests/kernel/common/src/clock.c
  tests/kernel/common/src/dlist.c
  tests/kernel/common/src/intmath.c
  tests/kernel/common/src/main.c
  tests/kernel/common/src/multilib.c
  tests/kernel/common/src/printk.c
  tests/kernel/common/src/slist.c
  tests/kernel/common/src/timeout_order.c
Labels: area: Tests

#8967 tests: net: udp: Increase network buffer counts
  tests/net/udp/prj.conf
  tests/net/udp/src/main.c
Labels: area: Networking

#8835 drivers: wifi: winc1500: Use offload_context instead of user_data.
  drivers/wifi/winc1500/wifi_winc1500.c
  include/net/net_context.h
Labels: area: Networking

#9008 samples: net: Explicitly ignore socket close return value
  samples/net/sockets/echo_client/src/tcp.c
  samples/net/sockets/echo_client/src/udp.c
  samples/net/sockets/echo_server/src/tcp.c
  samples/net/sockets/echo_server/src/udp.c
Labels: area: Networking

#8985 net: ipv6: Fix NA debug print
  subsys/net/ip/ipv6.c
Labels: area: Networking

#8913 net: eth: Convert to use callbacks to query stats
  drivers/ethernet/eth_native_posix.c
  include/net/ethernet.h
  subsys/net/l2/ethernet/eth_stats.h
  subsys/net/l2/ethernet/ethernet_stats.c
Labels: area: Networking

#9036 samples: net: Fix incorrect use of ipv4 in ipv6 branch
  samples/net/traffic_class/src/main.c
Labels: area: Networking

#8812 boards: arm: add nrf52840_pca10059
  boards/arm/nrf52840_pca10059/CMakeLists.txt
  boards/arm/nrf52840_pca10059/Kconfig
  boards/arm/nrf52840_pca10059/Kconfig.board
  boards/arm/nrf52840_pca10059/Kconfig.defconfig
  boards/arm/nrf52840_pca10059/board.c
  boards/arm/nrf52840_pca10059/board.cmake
  boards/arm/nrf52840_pca10059/board.h
  boards/arm/nrf52840_pca10059/doc/img/nrf52840_pca10059.jpg
  boards/arm/nrf52840_pca10059/doc/nrf52840_pca10059.rst
  boards/arm/nrf52840_pca10059/nrf52840_pca10059.dts
  boards/arm/nrf52840_pca10059/nrf52840_pca10059.yaml
  boards/arm/nrf52840_pca10059/nrf52840_pca10059_defconfig
  dts/arm/nordic/nrf52840.dtsi
Labels: nRF

#9020 ext: hal: cmsis: Remove headers from old CMSIS import
  ext/hal/cmsis/Include/arm_common_tables.h
  ext/hal/cmsis/Include/arm_const_structs.h
  ext/hal/cmsis/Include/arm_math.h
  ext/hal/cmsis/Include/cmsis_armcc_V6.h
Labels: area: ARM

#8920 kernel: Use accurate tick/ms conversion if clock rate is set at runtime
  include/kernel.h
Labels: area: Kernel

#9060 drivers/serial: ns16550: extend to support 4 ports
  drivers/serial/Kconfig.ns16550
  drivers/serial/uart_ns16550.c
Labels: area: UART

#9050 net: getaddrinfo: Make availability depend on CONFIG_DNS_RESOLVER
  subsys/net/lib/sockets/getaddrinfo.c
Labels: area: Networking

#8972 Arch arm rework fault handling
  arch/arm/core/fault.c
  include/arch/arm/cortex_m/error.h
Labels: area: ARM, bug, priority: medium

#9079 net: relax net_ip.h check
  include/net/net_ip.h
Labels: area: Networking

#9071 Bluetooth: Kconfig: Lower minimum required ACL buffer count
  subsys/bluetooth/host/Kconfig
Labels: area: Bluetooth

#9033 samples: net: echo-server: Add overlay config support
  samples/net/echo_server/CMakeLists.txt
  samples/net/echo_server/README.rst
  samples/net/echo_server/boards/arduino_101.conf
  samples/net/echo_server/boards/frdm_kw41z.conf
  samples/net/echo_server/boards/nrf52840_pca10056.conf
  samples/net/echo_server/overlay-bt.conf
  samples/net/echo_server/overlay-cc2520.conf
  samples/net/echo_server/overlay-enc28j60.conf
  samples/net/echo_server/overlay-frdm_k64f_cc2520.conf
  samples/net/echo_server/overlay-frdm_k64f_mcr20a.conf
  samples/net/echo_server/overlay-netusb.conf
  samples/net/echo_server/overlay-ot.conf
  samples/net/echo_server/overlay-qemu_802154.conf
  samples/net/echo_server/overlay-tls.conf
  samples/net/echo_server/prj_arduino_101.conf
  samples/net/echo_server/prj_bt.conf
  samples/net/echo_server/prj_cc2520.conf
  samples/net/echo_server/prj_frdm_k64f_cc2520.conf
  samples/net/echo_server/prj_frdm_k64f_mcr20a.conf
  samples/net/echo_server/prj_frdm_kw41z.conf
  samples/net/echo_server/prj_frdm_kw41z_ot.conf
  samples/net/echo_server/prj_netusb.conf
  samples/net/echo_server/prj_nrf5.conf
  samples/net/echo_server/prj_nrf52840_ot.conf
  samples/net/echo_server/prj_qemu_802154.conf
  samples/net/echo_server/prj_qemu_x86_tls.conf
  samples/net/echo_server/sample.yaml
Labels: area: Networking

#9068 drivers/ieee802154: Fix settings channel/tx power in upipe driver
  drivers/ieee802154/ieee802154_uart_pipe.c
Labels: area: Networking

#9093 samples: net: echo-client: Add overlay config support
  samples/net/echo_client/CMakeLists.txt
  samples/net/echo_client/README.rst
  samples/net/echo_client/boards/arduino_101.conf
  samples/net/echo_client/boards/frdm_kw41z.conf
  samples/net/echo_client/boards/nrf52840_pca10056.conf
  samples/net/echo_client/boards/qemu_cortext_m3.conf
  samples/net/echo_client/boards/qemu_x86.conf
  samples/net/echo_client/overlay-bt.conf
  samples/net/echo_client/overlay-cc2520.conf
  samples/net/echo_client/overlay-enc28j60.conf
  samples/net/echo_client/overlay-frdm_k64f_cc2520.conf
  samples/net/echo_client/overlay-frdm_k64f_mcr20a.conf
  samples/net/echo_client/overlay-ot.conf
  samples/net/echo_client/overlay-qemu_802154.conf
  samples/net/echo_client/overlay-tls.conf
  samples/net/echo_client/prj.conf
  samples/net/echo_client/prj_arduino_101.conf
  samples/net/echo_client/prj_bt.conf
  samples/net/echo_client/prj_cc2520.conf
  samples/net/echo_client/prj_frdm_k64f.conf
  samples/net/echo_client/prj_frdm_k64f_cc2520.conf
  samples/net/echo_client/prj_frdm_k64f_mcr20a.conf
  samples/net/echo_client/prj_frdm_kw41z.conf
  samples/net/echo_client/prj_frdm_kw41z_ot.conf
  samples/net/echo_client/prj_nrf5.conf
  samples/net/echo_client/prj_nrf52840_ot.conf
  samples/net/echo_client/prj_qemu_802154.conf
  samples/net/echo_client/prj_qemu_x86.conf
  samples/net/echo_client/prj_qemu_x86_tls.conf
  samples/net/echo_client/prj_sam_e70_xplained.conf
  samples/net/echo_client/sample.yaml
Labels: area: Networking

#9111 net: Avoid holes in structs
  include/net/net_context.h
  include/net/net_if.h
  include/net/net_pkt.h
  subsys/net/ip/icmpv4.h
  subsys/net/ip/icmpv6.h
  subsys/net/ip/rpl.h
  subsys/net/ip/tcp.c
  subsys/net/ip/tcp_internal.h
  subsys/net/l2/ethernet/gptp/gptp_data_set.h
  subsys/net/l2/ethernet/gptp/gptp_md.h
  subsys/net/l2/ethernet/gptp/gptp_mi.h
  subsys/net/l2/ethernet/gptp/gptp_state.h
  subsys/net/lib/dns/dns_pack.h
Labels: area: Networking

#9115 logging: Use vsnprintk instead of vsnprintf
  subsys/logging/log_core.c
Labels: area: Logging

#7632 userspace: compartmentalized app memory organization
  CMakeLists.txt
  arch/x86/core/x86_mmu.c
  doc/kernel/usermode/usermode.rst
  doc/kernel/usermode/usermode_sharedmem.rst
  include/app_memory/app_memdomain.h
  include/arch/arc/v2/linker.ld
  include/arch/arm/cortex_m/scripts/app_smem.ld
  include/arch/arm/cortex_m/scripts/linker.ld
  include/arch/x86/linker.ld
  include/linker/linker-defs.h
  include/linker/sections.h
  include/misc/util.h
  kernel/init.c
  scripts/gen_app_smem.py
  scripts/sanitycheck
  subsys/CMakeLists.txt
  subsys/Kconfig
  subsys/app_memory/CMakeLists.txt
  subsys/app_memory/Kconfig
  subsys/app_memory/app_memdomain.c
  tests/kernel/mem_protect/userspace/prj.conf
  tests/kernel/mem_protect/userspace/src/main.c
  tests/kernel/mem_protect/userspace/testcase.yaml
  tests/ztest/include/ztest_test.h
  tests/ztest/src/ztest.c
Labels: area: Memory Management, area: Memory Protection, enhancement

#8127 tests: kernel: Move tests/kernel/profiling to tests/kernel/threads
  tests/kernel/profiling/profiling_api/src/main.c
  tests/kernel/threads/thread_apis/prj.conf
  tests/kernel/threads/thread_apis/src/main.c
  tests/kernel/threads/thread_apis/src/test_kthread_for_each.c
Labels: area: Tests

#9107 net: ipv6: Fix memory leak caused by NS request failure
  subsys/net/ip/ipv6.c
Labels: area: Networking

#9103 drivers: wifi: simplelink: enable Fast Connect policy
  boards/arm/cc3220sf_launchxl/doc/cc3220sf_launchxl.rst
  drivers/wifi/simplelink/simplelink_support.c
Labels: area: Networking

#9138 doc: scripts: Updates for pyocd v0.11.1
  doc/application/application.rst
  doc/getting_started/installation_linux.rst
  doc/getting_started/installation_mac.rst
  doc/getting_started/installation_win.rst
  doc/tools/opensda.rst
  scripts/py2-requirements.txt
  scripts/requirements.txt
Labels: area: Debugging, area: Documentation, area: Flashing

#9168 Bluetooth: SMP: Fix missing NULL-checks for bt_auth
  subsys/bluetooth/host/smp.c
Labels: area: Bluetooth

#9155 net: arp: Fix ARP message sending if VLAN is enabled
  subsys/net/l2/ethernet/ethernet.c
Labels: area: Networking

#9126 Bluetooth: SMP Don't return STK if it hasn't been generated yet
  subsys/bluetooth/host/smp.c
Labels: area: Bluetooth

#8590 net: l2: Move individual L2 to dedicated directories
  subsys/net/l2/CMakeLists.txt
  subsys/net/l2/bluetooth/CMakeLists.txt
  subsys/net/l2/bluetooth/bluetooth.c
  subsys/net/l2/bluetooth/bluetooth_shell.c
  subsys/net/l2/dummy/CMakeLists.txt
  subsys/net/l2/dummy/dummy.c
  subsys/net/l2/wifi/CMakeLists.txt
  subsys/net/l2/wifi/wifi_mgmt.c
  subsys/net/l2/wifi/wifi_shell.c
Labels: area: Networking

#9175 linker: riscv: Relocate .eh_frame symbol
  include/arch/riscv32/common/linker.ld
Labels: area: RISCv32

#9171 drivers: eth: native_posix: Make sure sent pkt is freed properly
  drivers/ethernet/eth_native_posix.c
Labels: area: Networking

#9170 802.1Qav support for SAM GMAC
  drivers/ethernet/eth_sam_gmac.c
Labels: area: Networking

#9191 drivers/pinmux: stm32 fix ports_enable array definition
  drivers/gpio/gpio_stm32.h
  drivers/pinmux/stm32/pinmux_stm32.c
Labels: STM32
