Repository zephyrproject-rtos/zephyr, pull requests merged in 2018-10, with the labels that each got.

#10301 boards: nrf51_ble400: Convert to using dts for led/button
  boards/arm/nrf51_ble400/board.h
  boards/arm/nrf51_ble400/nrf51_ble400.dts
Labels: area: Boards, area: GPIO, nRF

#10265 net: sockets: Add getaddrinfo and freeaddrinfo to socket offloading
  drivers/wifi/simplelink/simplelink_sockets.c
  include/net/socket.h
  include/net/socket_offload.h
  include/net/socket_offload_ops.h
Labels: area: Networking

#10084 scripts: extract: globals.py: Fix node name parsing
  scripts/dts/extract/globals.py
Labels: area: Device Tree

#10335 dt: Fix DTC warning
  boards/arm/96b_argonkey/96b_argonkey.dts
  boards/arm/colibri_imx7d_m4/colibri_imx7d_m4.dts
  boards/arm/frdm_k64f/frdm_k64f.dts
  boards/arm/frdm_kl25z/frdm_kl25z.dts
  boards/arm/frdm_kw41z/frdm_kw41z.dts
  boards/arm/hexiwear_k64/hexiwear_k64.dts
  boards/arm/lpcxpresso54114_m0/lpcxpresso54114_m0.dts
  boards/arm/lpcxpresso54114_m4/lpcxpresso54114_m4.dts
  boards/arm/mimxrt1050_evk/mimxrt1050_evk.dts
  boards/arm/nrf51_pca10028/nrf51_pca10028.dts
  boards/arm/nrf52810_pca10040/nrf52810_pca10040.dts
  boards/arm/nrf52840_pca10056/nrf52840_pca10056.dts
  boards/arm/nrf52840_pca10059/nrf52840_pca10059.dts
  boards/arm/nrf52_pca10040/nrf52_pca10040.dts
  boards/arm/nucleo_l432kc/nucleo_l432kc.dts
  boards/arm/reel_board/reel_board.dts
  boards/arm/udoo_neo_full_m4/udoo_neo_full_m4.dts
  boards/arm/usb_kw24d512/usb_kw24d512.dts
Labels: area: Boards, area: Device Tree

#10001 scripts/dts/extract/flash.py: fix load offset
  scripts/dts/extract/flash.py
Labels: area: Device Tree, area: Flash

#10341 gpio: Remove deprecated macros
  include/gpio.h
Labels: area: GPIO

#10307 native_posix doc improvements
  boards/posix/native_posix/doc/board.rst
Labels: area: Documentation, area: native port

#10333 logging: Make log_strdup() parameter const
  include/logging/log.h
  subsys/logging/log_core.c
Labels: area: Logging

#10247 subsys: console: Split serial tty handling to a separate module
  include/console.h
  subsys/console/CMakeLists.txt
  subsys/console/getchar.c
  subsys/console/tty.c
Labels: area: Console, area: UART

#10354 ext: lib: mgmt: mcumgr: update to latest master
  ext/lib/mgmt/mcumgr/cmd/img_mgmt/src/img_mgmt.c
Labels: area: mcumgr

#10213 subsys: bluetooth: shell: bt: Add command to show LL address
  subsys/bluetooth/shell/bt.c
  subsys/bluetooth/shell/ll.c
  subsys/bluetooth/shell/ll.h
Labels: area: Bluetooth

#10363 driver: wifi: simplelink: Fix socket offload after s_addr cleanup
  drivers/wifi/simplelink/simplelink_sockets.c
Labels: area: Networking

#10361 dts: Reduce include paths for building dts
  cmake/dts.cmake
Labels: area: Build System, area: Device Tree

#10371 script: dts: Fix alias generation for reg property.
  scripts/dts/extract/reg.py
Labels: area: Device Tree

#10385 boards: lpcxpresso54114_m0: fix pinmux.c
  boards/arm/lpcxpresso54114_m0/pinmux.c
Labels: NXP, area: Boards

#10391 Bluetooth: controller: Fix advertising random delay resolution calc
  subsys/bluetooth/controller/ll_sw/ctrl.c
Labels: area: Bluetooth, bug, priority: high

#10323 Bluetooth: controller: Fix connection cancel deadlock
  subsys/bluetooth/controller/hci/hci.c
  subsys/bluetooth/controller/hci/hci_driver.c
  subsys/bluetooth/controller/hci/hci_internal.h
  subsys/bluetooth/controller/include/ll.h
  subsys/bluetooth/controller/ll_sw/ctrl.c
Labels: DNM

#10406 net: Make Kconfig template variables prettier
  drivers/ethernet/Kconfig
  drivers/ieee802154/Kconfig
  drivers/net/Kconfig
  subsys/net/Kconfig
  subsys/net/lib/app/Kconfig
  subsys/net/lib/coap/Kconfig
  subsys/net/lib/config/Kconfig
  subsys/net/lib/dns/Kconfig
  subsys/net/lib/http/Kconfig
  subsys/net/lib/lwm2m/Kconfig
  subsys/net/lib/sntp/Kconfig
  subsys/net/lib/sockets/Kconfig
  subsys/net/lib/websocket/Kconfig
  subsys/usb/class/netusb/Kconfig
Labels: area: Networking

#10411 drivers/spi: stm32: fix warning in SYS_LOG_ERR macro
  drivers/spi/spi_ll_stm32.c
Labels: STM32

#10343 scripts/dts/extract: Add support for translating range properties
  scripts/dts/extract/globals.py
  scripts/dts/extract/reg.py
Labels: area: Device Tree

#9969 dma: stm32f4: check whether memory to memory is allowed
  drivers/dma/dma_stm32f4x.c
Labels: STM32, area: DMA

#10394 boards: atmel: Convert boards to use device tree for LEDs
  boards/arm/adafruit_feather_m0_basic_proto/adafruit_feather_m0_basic_proto.dts
  boards/arm/adafruit_feather_m0_basic_proto/board.h
  boards/arm/adafruit_trinket_m0/adafruit_trinket_m0.dts
  boards/arm/adafruit_trinket_m0/board.h
  boards/arm/arduino_zero/arduino_zero.dts
  boards/arm/arduino_zero/board.h
  boards/arm/atsamd21_xpro/atsamd21_xpro.dts
  boards/arm/atsamd21_xpro/board.h
Labels: ATMEL, area: Device Tree, area: GPIO

#10393 boards: x86: Convert boards to use device tree for LEDs & Buttons
  boards/x86/arduino_101/arduino_101.dts
  boards/x86/arduino_101/board.h
  boards/x86/quark_d2000_crb/board.h
  boards/x86/quark_d2000_crb/quark_d2000_crb.dts
  boards/x86/quark_se_c1000_devboard/board.h
  boards/x86/quark_se_c1000_devboard/quark_se_c1000_devboard.dts
  boards/x86/tinytile/board.h
  boards/x86/tinytile/tinytile.dts
  dts/x86/intel_curie.dtsi
  dts/x86/intel_quark_d2000.dtsi
Labels: area: Boards, area: GPIO, area: X86

#10466 drivers: serial: nrf: remove obsolete PIN Kconfig definitions
  drivers/serial/Kconfig.nrfx
Labels: bug, nRF

#10465 libc: minimal: Make fcntl.h be at top level, not sys/fcntl.h
  lib/libc/minimal/include/fcntl.h
  subsys/net/lib/sockets/sockets.c
Labels: area: C Library, area: POSIX

#8703 net: l2: update wifi mgmt to adapt non network offload wifi chip.
  subsys/net/l2/wifi/wifi_mgmt.c
Labels: area: Networking

#10495 soc: silabs: efm32hg: Move USART fixups from board to SoC
  boards/arm/efm32hg_slstk3400a/dts_fixup.h
  soc/arm/silabs_exx32/efm32hg/dts_fixup.h
Labels: SiLabs

#6529 tests: add tests to validate interrupt features
  tests/kernel/interrupt/CMakeLists.txt
  tests/kernel/interrupt/prj.conf
  tests/kernel/interrupt/src/interrupt.h
  tests/kernel/interrupt/src/main.c
  tests/kernel/interrupt/src/nested_irq.c
  tests/kernel/interrupt/testcase.yaml
Labels: area: Kernel, area: Tests, task

#10506 logging: init strdup mem_slab with aligned buffer size
  subsys/logging/log_core.c
Labels: area: Logging, bug, priority: high

#10504 drivers: wifi: simplelink: Move NWP configuration to iface_init
  drivers/wifi/simplelink/simplelink.c
Labels: area: Networking, area: Wifi

#10521 net: wifi: Allow mgmt interface to compile if not offloaded
  include/net/net_if.h
  include/net/wifi_mgmt.h
Labels: area: Networking

#10507 arch: arm: linker.ld: Fixed incorrect placement of noinit section
  include/arch/arm/cortex_m/scripts/linker.ld
Labels: area: ARM

#9017 SoC: STM32F4: enable DMA options for soc
  soc/arm/st_stm32/stm32f4/Kconfig.defconfig.series
Labels: STM32

#10370 USB: netusb: Refactor function registration
  subsys/usb/class/netusb/function_ecm.c
  subsys/usb/class/netusb/function_eem.c
  subsys/usb/class/netusb/function_rndis.c
  subsys/usb/class/netusb/netusb.c
  subsys/usb/class/netusb/netusb.h
Labels: area: USB

#9183 board: 96b_argonkey: Add on-board MP34DT05 microphone support in BSP
  boards/arm/96b_argonkey/96b_argonkey.dts
  boards/arm/96b_argonkey/96b_argonkey_defconfig
  boards/arm/96b_argonkey/Kconfig.defconfig
  boards/arm/96b_argonkey/doc/96b_argonkey.rst
  boards/arm/96b_argonkey/pinmux.c
Labels: STM32

#10441 net: Fix assert on net_if_api send for NET_OFFLOAD drivers
  subsys/net/ip/net_if.c
Labels: area: Networking

#10550 drivers: pci: pci_show: Add missing space in output
  drivers/pci/pci.c
Labels: area: PCI

#10530 rtc: rtc_mcux: Fix build issue with logging change
  drivers/rtc/rtc_mcux.c
Labels: NXP, area: Logging, area: RTC

#10560 tests: fatal: fix condition for NXP MPU
  tests/kernel/fatal/src/main.c
Labels: NXP, bug

#10612 drivers: eth: e1000: Remove unused variable
  drivers/ethernet/eth_e1000.c
Labels: area: Ethernet, area: Networking

#10467 arch: arm: re-program MPU stack guard upon userspace enter
  arch/arm/core/userspace.S
Labels: area: ARM, area: Memory Protection, bug, priority: medium

#10613 drivers: gpio: sifive: Fix GPIO extern interrupts
  drivers/gpio/gpio_sifive.c
Labels: area: GPIO, area: RISCv32

#9502 Bluetooth: controller: Avoid retransmission of NACK-ed Tx PDU
  subsys/bluetooth/controller/Kconfig
  subsys/bluetooth/controller/ll_sw/ctrl.c
Labels: area: Bluetooth

#10653 scripts: extract_dts_includes: Read files as utf-8
  scripts/dts/extract_dts_includes.py
Labels: area: Build System

#10304 Fix gpio_sam.c ACCESS_BY_PORT mode
  drivers/gpio/gpio_sam.c
Labels: area: GPIO

#10661 kernel: syscall_handler.h: Typo fix in docstring
  kernel/include/syscall_handler.h
Labels: area: Documentation

#10665 net: shell: Return -ETIMEDOUT if ping target timeout
  subsys/net/ip/net_shell.c
Labels: area: Networking

#10647 net: ip: Fix compile error due to config dependency
  subsys/net/ip/net_shell.c
Labels: area: Networking

#10009 cmake: Eclipse CDT4 generator amendment
  cmake/app/boilerplate.cmake
  cmake/ide/eclipse_cdt4_generator_amendment.cmake
Labels: area: Build System

#10675 scripts: dts: extract: Fix handling of reg prop being a list of lists
  scripts/dts/extract/reg.py
Labels: area: Device Tree

#10674 dts: x86: Fix dts warnings when building up_squared
  boards/x86/up_squared/up_squared.dts
  dts/x86/apollo_lake.dtsi
Labels: area: Boards, area: Device Tree, area: X86

#10681 drivers: sensors: adxl372: Add missing dts bindings
  dts/bindings/sensor/adi,adxl372.yaml
Labels: area: Device Tree

#10683 dts/extract/globals.py: Add function to get list of compats
  scripts/dts/extract/globals.py
Labels: area: Device Tree

#10712 serial: nrfx_uarte: fix spelling mistake in an error message
  drivers/serial/uart_nrfx_uarte.c
Labels: bug, nRF, priority: low

#10711 net: logging: Remove function name from NET_DBG if needed
  include/net/net_core.h
Labels: area: Networking

#10702 dts: Add proper handling for boolean properties
  scripts/dts/extract/default.py
  scripts/dts/extract/flash.py
  scripts/dts/extract_dts_includes.py
Labels: area: Device Tree

#10353 Add device tree support to eth_mcux.c
  boards/arm/frdm_k64f/frdm_k64f.dts
  drivers/ethernet/Kconfig.mcux
  drivers/ethernet/eth_mcux.c
  dts/arm/nxp/nxp_k6x.dtsi
  dts/bindings/ethernet/ethernet.yaml
  dts/bindings/ethernet/nxp,kinetis-ethernet.yaml
  dts/bindings/ethernet/nxp.kinetis-ptp.yaml
  soc/arm/nxp_kinetis/k6x/dts_fixup.h
  soc/arm/nxp_kinetis/k6x/soc.h
Labels: NXP, area: Device Tree, area: Ethernet, area: Networking

#10682 dts/extract_dts_includes.py: Filter out standard properties
  scripts/dts/extract_dts_includes.py
Labels: area: Device Tree

#10732 net: lwm2m: fix compile warning related to Logger changes
  subsys/net/lib/lwm2m/lwm2m_engine.c
Labels: bug

#10725 net: tls: Do not assume PSK id is NULL terminated
  subsys/net/lib/sockets/sockets_tls.c
Labels: area: Networking

#10731 libc: newlib: libc-hooks: Consistently use const void* as arg to write
  include/misc/libc-hooks.h
  lib/libc/newlib/libc-hooks.c
Labels: area: C Library, area: POSIX

#10763 net: buf: Fix debug level setting
  subsys/net/Kconfig
  subsys/net/buf.c
Labels: area: Networking

#10663 drivers: eth: native_posix: Allow non-root access
  drivers/ethernet/Kconfig.native_posix
  drivers/ethernet/eth_native_posix.c
  drivers/ethernet/eth_native_posix_adapt.c
  drivers/ethernet/eth_native_posix_priv.h
  samples/net/eth_native_posix/README.rst
Labels: area: Networking

#10742 dts: stm32f302: Delete spi1 node from STM32F302X8
  dts/arm/st/f3/stm32f302X8.dtsi
Labels: STM32, area: Device Tree

#10789 tests: posix: Bugfix unitialized array in posix_pthread_execution
  tests/posix/common/src/pthread.c
Labels: priority: high

#10787 nrf52_bsim: Fix possible NULL pointer dereference
  boards/posix/nrf52_bsim/bstests_entry.c
Labels: nrf52_bsim

#10795 boards: nrf52_adafruit_feather: remove RTS/CTS pin definitions from dts
  boards/arm/nrf52_adafruit_feather/nrf52_adafruit_feather.dts
  boards/arm/nrf52_adafruit_feather/nrf52_adafruit_feather_defconfig
Labels: area: Boards, area: Device Tree, area: UART, nRF

#10740 dts: stm32f334: Delete usb node
  dts/arm/st/f3/stm32f334.dtsi
Labels: STM32, area: Device Tree

#10797 scripts/dts/extract: Change compat define prefix
  scripts/dts/extract/compatible.py
  scripts/dts/extract/globals.py
Labels: area: Device Tree

#10812 nrf52_bsim: Fix typo in warning message
  boards/posix/nrf52_bsim/argparse.c
Labels: nrf52_bsim

#10810 doc: bluetooth: clarify where to find the btmgmt binary
  doc/subsystems/bluetooth/devel.rst
Labels: area: Bluetooth, area: Documentation

#10826 nrf52_bsim: Codestyle fix
  boards/posix/nrf52_bsim/bstests.h
  boards/posix/nrf52_bsim/bstests_entry.c
Labels: nrf52_bsim

#10544 arch: high-level Kconfig symbol structure for Trusted Execution
  arch/Kconfig
  arch/arm/core/Kconfig
  arch/arm/core/cortex_m/Kconfig
  arch/arm/core/cortex_m/tz/Kconfig
  soc/arm/Kconfig
Labels: area: ARM, area: Architectures, area: Trusted Execution

#10616 logging: fix out of bounds write in log_strdup
  subsys/logging/log_core.c
Labels: area: Logging

#10704 drivers: ssd1306: fixup dts support
  drivers/display/ssd1306.c
  dts/bindings/display/solomon,ssd1306fb-i2c.yaml
  samples/display/cfb/dts_fixup.h
Labels: area: Device Tree, area: Display

#10673 scripts/dts: extract_dts_includes: fix alias creation for subnodes
  scripts/dts/extract_dts_includes.py
Labels: area: Device Tree

#10839 boards: reel_board: add links to the PHYTEC reel board procuct page
  boards/arm/reel_board/doc/reel_board.rst
Labels: area: Documentation

#10830 boards: reel_board: fix DTS compatible string
  boards/arm/reel_board/reel_board.dts
Labels: area: Device Tree

#10837 net: log: Max debug level was forced too high
  subsys/net/ip/Kconfig.debug
Labels: area: Networking

#10836 net: ipv6: Add Destination Options Header support
  subsys/net/ip/ipv6.c
  subsys/net/ip/ipv6_fragment.c
Labels: area: Networking

#10864 samples: net: wifi: Fix README, to account for new shell regression
  samples/net/wifi/README.rst
Labels: area: Networking

#10854 net: Set used transport protocol to net_pkt
  include/net/net_pkt.h
  subsys/net/ip/ipv4.c
  subsys/net/ip/ipv6.c
  subsys/net/ip/net_pkt.c
  tests/net/utils/src/main.c
Labels: area: Networking

#10783 IPv6 MLDv2: Remove incorrect length assigment
  subsys/net/ip/ipv6_mld.c
Labels: area: Networking

#10822 posix arch: Improve description of posix_halt_cpu
  soc/posix/inf_clock/soc.c
Labels: area: native port

#10790 arch: arm: API to allow Non-Secure FPU Access
  arch/arm/core/cortex_m/tz/arm_core_tz.c
  arch/arm/include/cortex_m/tz.h
Labels: area: ARM

#10876 arch: increase priv stack with built-in stack-overflow checking
  arch/Kconfig
Labels: area: Memory Protection

#10813 samples: hci_uart: add note about reduced baudrate on the BBC micro:bit
  samples/bluetooth/hci_uart/README.rst
Labels: area: Bluetooth, area: Documentation, area: Samples

#10849 tests: sched: schedule_api: Increase the minimum ram needed.
  tests/kernel/sched/schedule_api/testcase.yaml
Labels: area: Tests

#10879 Remove errno defines not used (introduced for bluetooth l2cap)
  lib/libc/minimal/include/errno.h
Labels: area: Bluetooth

#10736 drivers: modem: migrate modem shell to new shell API
  drivers/modem/Kconfig
  drivers/modem/modem_shell.c
Labels: area: Shell

#10737 drivers: modem: wncm14a2a: fix void ptr math warning
  drivers/modem/wncm14a2a.c
Labels: Trivial

#10792 Build: Improve C++ support
  CMakeLists.txt
  include/kernel.h
  misc/Kconfig
  subsys/Kconfig
  subsys/cpp/CMakeLists.txt
  subsys/cpp/Kconfig
  subsys/cpp/cpp_new.cpp
Labels: area: Build System, area: C Library

#10895 dts/arm/st: f4: gpioh node is defined twice for stm32f405
  dts/arm/st/f4/stm32f405.dtsi
Labels: STM32, Trivial, area: Device Tree

#10901 kernel: mem_domain: minor typo fixes
  doc/kernel/usermode/usermode_sharedmem.rst
  kernel/mem_domain.c
Labels: Trivial

#10906 drivers: uart: Remove deprecated uart_irq_tx_empty
  include/uart.h
Labels: API, area: UART

#10900 Nordic SoC: Add Nordic GPREGRET setting support
  soc/arm/nordic_nrf/nrf51/CMakeLists.txt
  soc/arm/nordic_nrf/nrf51/power.c
  soc/arm/nordic_nrf/nrf52/power.c
Labels: nRF

#10809 drivers/i2s_ll_stm32.c: Fix dma_callback() signature
  drivers/i2s/i2s_ll_stm32.c
Labels: STM32

#10818 net: icmpv4: Drop ICMPv4 packet with zero checksum
  subsys/net/ip/icmpv4.c
Labels: area: Networking

#9795 logging: Fix possible out-of-bound access in log_output
  include/logging/log_msg.h
  subsys/logging/log_msg.c
Labels: area: Logging

#10939 boards: arm: Remove CONFIG_MCUMGR_SMP_UART from dts files
  boards/arm/nrf51_pca10028/nrf51_pca10028.dts
  boards/arm/nrf52810_pca10040/nrf52810_pca10040.dts
  boards/arm/nrf52832_mdk/nrf52832_mdk.dts
  boards/arm/nrf52840_mdk/nrf52840_mdk.dts
  boards/arm/nrf52840_pca10056/nrf52840_pca10056.dts
  boards/arm/nrf52840_pca10059/nrf52840_pca10059.dts
  boards/arm/nrf52_adafruit_feather/nrf52_adafruit_feather.dts
  boards/arm/nrf52_pca10040/nrf52_pca10040.dts
  boards/arm/reel_board/reel_board.dts
Labels: area: Device Tree

#10799 dts: bindings: cleanup soc-nv-flash binding
  dts/bindings/mtd/soc-nv-flash.yaml
Labels: area: Device Tree, area: Flash

#10946 dts/bindings: document use of value 'base_label'
  dts/bindings/device_node.yaml.template
Labels: area: Device Tree

#10949 doc: Added generic display interface to API doc
  doc/api/display_api.rst
  include/display.h
Labels: Trivial, area: Documentation

#10761 include: uart: Another pass on improving docstrings
  include/uart.h
Labels: area: UART

#10973 native_posix doc: Remove possible macOS support note
  boards/posix/native_posix/doc/board.rst
Labels: Trivial, area: Documentation, area: native port

#10974 dts/bindings: Remove id field from inventek,eswifi
  dts/bindings/wifi/inventek,eswifi.yaml
Labels: area: Device Tree
