Repository zephyrproject-rtos/zephyr, pull requests merged in 2018-03, with the labels that each got.

#6407 net: ipv6: Drop ICMPv6 NS if neighbor table is full
  subsys/net/ip/ipv6.c
Labels: area: Networking

#6355 native: doc: command line related improvements
  boards/posix/native_posix/cmdline.c
  boards/posix/native_posix/doc/board.rst
Labels: area: Documentation, area: native port

#6359 slip: fix a bug when in non-TAP mode.
  drivers/net/slip.c
Labels: area: Networking

#6394 net: Exit early on zero length packet append
  subsys/net/ip/net_pkt.c
Labels: area: Networking

#6387 net: ipv6: Ignore reachable time greater than maximum
  subsys/net/ip/ipv6.c
Labels: area: Networking

#6368 netusb: drop the extra zero byte on multiple-of-packet-length frames
  subsys/usb/class/netusb/function_ecm.c
Labels: area: Networking

#6411 samples: net: echo_async: Better error and write handling
  samples/net/sockets/echo_async/src/socket_echo.c
Labels: area: Networking

#6417 Bluetooth: Workaround privacy feature issue
  subsys/bluetooth/host/hci_core.c
Labels: RFC, area: Bluetooth

#6431 net: context: fix semaphore for offload in in net_context_put()
  subsys/net/ip/net_context.c
Labels: area: Networking, bug

#6434 doc: add 1.11 links for docs and release notes
  doc/index.rst
  doc/release-notes.rst
Labels: area: Documentation

#6167 net: http: Provide destination address in http replies
  include/net/http.h
  include/net/http_parser.h
  samples/net/http_client/prj.conf
  samples/net/http_client/src/main.c
  samples/net/http_server/src/main.c
  subsys/net/lib/http/http.c
  subsys/net/lib/http/http_client.c
  subsys/net/lib/http/http_server.c
Labels: area: Networking

#6445 sockets: Fixes for non-blocking mode
  subsys/net/lib/sockets/sockets.c
Labels: area: Networking

#6460 kernel: mem_domain: Fix compile issues
  kernel/mem_domain.c
Labels: bug, priority: high

#6438 boards/arm/olimexino_stm32: Enable SPI2 port
  boards/arm/olimexino_stm32/Kconfig.defconfig
  boards/arm/olimexino_stm32/olimexino_stm32.dts
  boards/arm/olimexino_stm32/pinmux.c
Labels: STM32, area: ARM, area: Boards, area: SPI

#6462 Bluetooth: Add missing check prior sending LE Set Privacy Mode cmd
  subsys/bluetooth/host/hci_core.c
Labels: area: Bluetooth

#6476 arch: arm: remove redundant dependence on ARM_CORE_MPU
  arch/arm/core/Kconfig
Labels: area: ARM, area: Memory Protection

#6486 arch: arm: cmsis: cleanup cmsis.h and update error-code macros
  arch/arm/core/fault.c
  include/arch/arm/cortex_m/cmsis.h
Labels: area: ARM, enhancement

#6490 tests: fatal: Fix incorrect filter on kernel.fatal.stack_protection
  tests/kernel/fatal/testcase.yaml
Labels: bug

#6489 drivers: sensor: lsm6ds0: Fix assert logical error (fix Coverity-CID: 182594)
  drivers/sensor/lsm6ds0/lsm6ds0.c
Labels: Coverity, bug

#6475 Bluetooth: controller: Generate LE Conn Complete on cancellation
  subsys/bluetooth/controller/hci/hci.c
Labels: bug, priority: high

#6437 drivers: GPIO Added GPIO for SAM family.
  arch/arm/soc/atmel_sam/sam4s/dts.fixup
  arch/arm/soc/atmel_sam/same70/dts.fixup
  boards/arm/sam4s_xplained/board.h
  boards/arm/sam4s_xplained/doc/sam4s_xplained.rst
  boards/arm/sam4s_xplained/sam4s_xplained_defconfig
  boards/arm/sam_e70_xplained/board.h
  boards/arm/sam_e70_xplained/doc/sam_e70_xplained.rst
  boards/arm/sam_e70_xplained/sam_e70_xplained_defconfig
  drivers/gpio/CMakeLists.txt
  drivers/gpio/Kconfig
  drivers/gpio/Kconfig.sam
  drivers/gpio/gpio_sam.c
  dts/arm/atmel/sam4s.dtsi
  dts/arm/atmel/same70.dtsi
  dts/bindings/gpio/atmel.sam-gpio.yaml
Labels: ATMEL, area: ARM, area: GPIO

#6433 doc: add version info on Latest docs
  doc/conf.py
Labels: area: Documentation

#6517 arch: arm: fix bug in escalated HF dump
  include/arch/arm/cortex_m/cmsis.h
Labels: bug, priority: high

#6390 arch: arm: add missing floating-point fault logging
  arch/arm/core/cortex_m/Kconfig
  arch/arm/core/fault.c
Labels: area: ARM

#6454 boards: Add UART6 for 96b_carbon
  boards/arm/96b_carbon/96b_carbon.dts
  boards/arm/96b_carbon/pinmux.c
  drivers/serial/uart_stm32.c
  dts/arm/st/stm32f4-pinctrl.dtsi
Labels: STM32, area: ARM, area: Boards

#6535 boards: nucleo_f412zg: Add USB support
  boards/arm/nucleo_f412zg/Kconfig.defconfig
  boards/arm/nucleo_f412zg/doc/nucleo412zg.rst
  boards/arm/nucleo_f412zg/nucleo_f412zg.dts
Labels: STM32, area: USB

#6423 arch: arm: Change method of __swap processing
  arch/arm/core/CMakeLists.txt
  arch/arm/core/swap.c
  arch/arm/core/swap_helper.S
Labels: area: ARM

#6554 usb: ateml: samd21: enable usb controller in board dts not soc
  boards/arm/adafruit_trinket_m0/adafruit_trinket_m0.dts
  boards/arm/arduino_zero/arduino_zero.dts
  dts/arm/atmel/samd21.dtsi
Labels: ATMEL, area: ARM, area: Device Tree, area: USB

#6560 scripts: extract_dts_includes: Fix path handling in Windows
  scripts/dts/extract_dts_includes.py
Labels: area: Device Tree

#6556 boards: arm: enable CLOCK_STM32_HSE_BYPASS in Nucleo F0/F3 defconfigs
  boards/arm/nucleo_f030r8/nucleo_f030r8_defconfig
  boards/arm/nucleo_f091rc/nucleo_f091rc_defconfig
  boards/arm/nucleo_f334r8/nucleo_f334r8_defconfig
Labels: STM32, area: Boards

#6568 arch: arm: remove redundant asm inline headers
  arch/arm/include/asm_inline.h
  arch/arm/include/cortex_m/asm_inline_gcc.h
  arch/arm/include/cortex_m/exc.h
  arch/arm/include/cortex_m/stack.h
  arch/arm/include/kernel_event_logger_arch.h
Labels: area: ARM

#6536 net: ipv6: Drop RA with MTU out of valid range
  subsys/net/ip/ipv6.c
Labels: area: Networking

#6580 adafruit_feather_m0_basic_proto: Enable usb controller in board dts
  boards/arm/adafruit_feather_m0_basic_proto/adafruit_feather_m0_basic_proto.dts
Labels: ATMEL, area: Device Tree, area: USB

#6561 boards: arduino_zero: Fix SPI pinmux configuration.
  boards/arm/arduino_zero/pinmux.c
Labels: ATMEL, area: ARM, area: SPI

#6563 subsys: fs: Fix fs_file_t and fs_dir_t usage
  ext/lib/mgmt/mcumgr/cmd/fs_mgmt/port/zephyr/src/zephyr_fs_mgmt.c
  subsys/bluetooth/host/storage.c
  subsys/fs/shell.c
Labels: area: File System

#6553 tests: arm_runtime_nmi: Make test build on v8m
  tests/kernel/arm_runtime_nmi/src/arm_runtime_nmi.c
Labels: area: ARM

#6603 ext/hal/stm32l0xx: Remove stm32l0xx_ll_usb from CMakeLists
  ext/hal/st/stm32cube/stm32l0xx/CMakeLists.txt
Labels: STM32

#6592 boards: arm: improve Nucleo boards documentation formatting
  boards/arm/nucleo_f030r8/doc/nucleof030r8.rst
  boards/arm/nucleo_f091rc/doc/nucleof091rc.rst
  boards/arm/nucleo_f103rb/doc/nucleof103rb.rst
  boards/arm/nucleo_f334r8/doc/nucleof334r8.rst
  boards/arm/nucleo_f401re/doc/nucleof401re.rst
  boards/arm/nucleo_f411re/doc/nucleof411re.rst
  boards/arm/nucleo_f412zg/doc/nucleof412zg.rst
  boards/arm/nucleo_f413zh/doc/nucleof413zh.rst
  boards/arm/nucleo_f429zi/doc/nucleof429zi.rst
  boards/arm/nucleo_f446re/doc/nucleof446re.rst
  boards/arm/nucleo_l432kc/doc/nucleol432kc.rst
  boards/arm/nucleo_l476rg/doc/nucleol476rg.rst
Labels: STM32, area: ARM, area: Boards

#6581 boards: olimex stm32-h407: Add initial support
  boards/arm/olimex_stm32_h407/CMakeLists.txt
  boards/arm/olimex_stm32_h407/Kconfig.board
  boards/arm/olimex_stm32_h407/Kconfig.defconfig
  boards/arm/olimex_stm32_h407/board.cmake
  boards/arm/olimex_stm32_h407/board.h
  boards/arm/olimex_stm32_h407/doc/img/olimex-stm32-h407-front.png
  boards/arm/olimex_stm32_h407/doc/img/olimex-stm32-h407.png
  boards/arm/olimex_stm32_h407/doc/olimex_stm32_h407.rst
  boards/arm/olimex_stm32_h407/olimex_stm32_h407.dts
  boards/arm/olimex_stm32_h407/olimex_stm32_h407.yaml
  boards/arm/olimex_stm32_h407/olimex_stm32_h407_defconfig
  boards/arm/olimex_stm32_h407/pinmux.c
  boards/arm/olimex_stm32_h407/support/openocd.cfg
Labels: STM32, area: ARM, area: Boards

#6609 ext: hal: cmsis: Update ARM CMSIS headers to version 5.3.0
  ext/hal/cmsis/Include/cmsis_armcc.h
  ext/hal/cmsis/Include/cmsis_armclang.h
  ext/hal/cmsis/Include/cmsis_compiler.h
  ext/hal/cmsis/Include/cmsis_gcc.h
  ext/hal/cmsis/Include/cmsis_iccarm.h
  ext/hal/cmsis/Include/core_armv8mbl.h
  ext/hal/cmsis/Include/core_armv8mml.h
  ext/hal/cmsis/Include/core_cm0.h
  ext/hal/cmsis/Include/core_cm0plus.h
  ext/hal/cmsis/Include/core_cm23.h
  ext/hal/cmsis/Include/core_cm3.h
  ext/hal/cmsis/Include/core_cm33.h
  ext/hal/cmsis/Include/core_cm4.h
  ext/hal/cmsis/Include/core_cm7.h
  ext/hal/cmsis/Include/core_sc000.h
  ext/hal/cmsis/Include/core_sc300.h
  ext/hal/cmsis/Include/mpu_armv7.h
  ext/hal/cmsis/Include/mpu_armv8.h
  ext/hal/cmsis/Include/tz_context.h
  ext/hal/cmsis/README
Labels: area: ARM

#6622 net: sockets: Refactoring zsock_recvfrom
  subsys/net/lib/sockets/sockets.c
Labels: area: Networking

#6618 scripts: extract_dts_inculdes: Fix issue if no zephyr,flash prop
  scripts/dts/extract_dts_includes.py
Labels: area: Device Tree, bug

#6619 arch: arc: quark_se_c1000_ss: Fix DCCM_SIZE
  arch/arc/soc/quark_se_c1000_ss/dts.fixup
Labels: area: ARC, area: Boards, area: Device Tree, bug

#6639 net: icmpv6: Drop malformed ICMPv6 echo request
  subsys/net/ip/icmpv6.c
Labels: area: Networking

#6600 net: ipv6: Fix compile error if neighbor cache is disabled
  subsys/net/ip/ipv6.c
Labels: area: Networking

#6641 tests: net: websocket: Fix buiding on qemu_xtensa
  tests/net/websocket/prj.conf
  tests/net/websocket/testcase.yaml
Labels: area: Networking

#6426 boards: Add support for Waveshare BLE400 board.
  boards/arm/nrf51_ble400/Kconfig.board
  boards/arm/nrf51_ble400/Kconfig.defconfig
  boards/arm/nrf51_ble400/board.cmake
  boards/arm/nrf51_ble400/board.h
  boards/arm/nrf51_ble400/doc/img/BLE400-intro.jpg
  boards/arm/nrf51_ble400/doc/img/BLE400-size.jpg
  boards/arm/nrf51_ble400/doc/img/Core51822-pin.jpg
  boards/arm/nrf51_ble400/doc/nrf51_ble400.rst
  boards/arm/nrf51_ble400/nrf51_ble400.dts
  boards/arm/nrf51_ble400/nrf51_ble400.yaml
  boards/arm/nrf51_ble400/nrf51_ble400_defconfig
Labels: NRF5, area: ARM, area: Boards

#6631 ieee802154: Make ar flag check L2 agnostic
  include/net/ieee802154_radio.h
  subsys/net/ip/l2/ieee802154/ieee802154_frame.c
Labels: area: Networking

#6629 net: sockets: Support MSG_DONTWAIT flag in zsock_recvfrom
  include/net/socket.h
  subsys/net/lib/sockets/sockets.c
Labels: area: Networking

#6713 net: ethernet: Avoid overlapping memcpy for tx packets
  subsys/net/ip/l2/ethernet.c
Labels: area: Networking

#6711 arch: arm: SecureFault_IRQn for non-CMSIS-compliant MCUs
  include/arch/arm/cortex_m/cmsis.h
Labels: area: ARM, priority: low

#6715 net: ipv6: fix memory leak caused by echo request
  subsys/net/ip/ipv6.c
Labels: area: Networking

#6642 net: sockets: Support MSG_PEEK flag in zsock_recvfrom
  include/net/socket.h
  subsys/net/lib/sockets/sockets.c
  tests/net/socket/tcp/src/main.c
  tests/net/socket/udp/src/main.c
Labels: area: Networking

#6712 net: pkt: net_pkt_get_reserve_data() was aliased incorrectly
  include/net/net_pkt.h
Labels: area: Networking

#6707 doc: application: Add Eclipse debugging section
  doc/application/application.rst
Labels: area: Debugging, area: Documentation

#6723 net: sockets: Support MSG_DONTWAIT flag in zsock_sendto
  subsys/net/lib/sockets/sockets.c
Labels: area: Networking

#6724 net: sockets: Add freeaddrinfo()
  include/net/socket.h
Labels: area: Networking

#6725 net: sockets: Allow empty service in getaddrinfo()
  subsys/net/lib/sockets/getaddrinfo.c
Labels: area: Networking

#6733 subsys: usb: usb_descriptor: fix style and function declaration
  subsys/usb/usb_descriptor.c
  subsys/usb/usb_descriptor.h
Labels: area: USB

#6739 doc: Add Elixir cross-referencer to resources list
  README.rst
Labels: area: Documentation

#6579 hid: change the API table to const.
  include/usb/class/usb_hid.h
  samples/subsys/usb/hid/src/main.c
  subsys/usb/class/hid/core.c
Labels: area: USB

#6741 doc: Fix SAM0 SPI controller device names
  boards/arm/adafruit_feather_m0_basic_proto/doc/adafruit_feather_m0_basic_proto.rst
  boards/arm/adafruit_trinket_m0/doc/adafruit_trinket_m0.rst
  boards/arm/arduino_zero/doc/arduino_zero.rst
Labels: ATMEL, area: ARM, area: Documentation, area: SPI

#6767 net: websocket: Use system provided base64 function
  samples/net/ws_console/prj.conf
  samples/net/ws_console/sample.yaml
  samples/net/ws_echo_server/prj.conf
  samples/net/ws_echo_server/sample.yaml
  subsys/net/lib/websocket/Kconfig
  subsys/net/lib/websocket/websocket.c
  tests/net/websocket/prj.conf
Labels: area: Networking

#6797 samples: net: websocket_console: Do not copy pass end of string
  samples/net/ws_console/src/ws_console.c
Labels: area: Networking

#6796 tests: net: websocket: Fix null at the end of string
  tests/net/websocket/src/server.c
Labels: area: Networking

#6801 drivers: eth: native_posix: No need to sleep in select
  drivers/ethernet/eth_native_posix_adapt.c
Labels: area: Networking

#6812 usb: sam0: add the new usb_dc_ep_mps() function.
  drivers/usb/device/usb_dc_sam0.c
Labels: ATMEL, area: USB

#6813 netusb: implement the ethernet interface.
  subsys/usb/class/netusb/netusb.c
Labels: area: Ethernet, area: Networking, area: USB

#6828 ethernet: fix an unaligned access fault by removing __packed.
  include/net/ethernet.h
Labels: area: Networking

#6790 sample: net: echo-server: Cleanup config files
  samples/net/echo_server/README.rst
  samples/net/echo_server/prj.conf
  samples/net/echo_server/prj_frdm_k64f.conf
  samples/net/echo_server/prj_qemu_cortex_m3.conf
  samples/net/echo_server/prj_sam_e70_xplained.conf
Labels: area: Networking

#6478 sensors: lis3dh: Fix i2c burst read
  drivers/sensor/lis3dh/lis3dh.c
Labels: area: Sensors

#6838 net: if: Bring back __net_if_align
  include/net/net_if.h
Labels: area: Networking

#5745 samples: net: add put and post methods to coap
  samples/net/coap_client/src/coap-client.c
  samples/net/coap_server/src/coap-server.c
Labels: area: Networking, task

#6786 samples: net: http_server: Send final chunk
  samples/net/http_server/src/main.c
Labels: area: Networking

#6771 build: doc: Add support for a Windows equivalent to .zephyrrc
  doc/getting_started/installation_win.rst
  zephyr-env.cmd
Labels: area: Build System
