Repository zephyrproject-rtos/zephyr, pull requests merged in 2018-02, with the labels that each got.

#6122 doc: Sanitycheck command line options fixup
  doc/subsystems/test/sanitycheck.rst
  scripts/sanitycheck
Labels: area: Documentation

#6133 samples: net: sockets: Clean up/improve socket samples
  samples/net/sockets/dumb_http_server/prj.conf
  samples/net/sockets/dumb_http_server/src/socket_dumb_http.c
  samples/net/sockets/echo/prj.conf
  samples/net/sockets/echo/src/socket_echo.c
  samples/net/sockets/echo_async/prj.conf
  samples/net/sockets/echo_async/src/socket_echo.c
  samples/net/sockets/http_get/prj.conf
Labels: area: Networking, area: Samples

#6126 sanitycheck: better coverage report generation
  scripts/sanitycheck
Labels: area: Testing Suite

#6158 net: sockets: getaddrinfo() buffer overflow, etc. fixes
  subsys/net/lib/sockets/getaddrinfo.c
Labels: Backport, area: Networking, priority: high

#6168 net: coap: retransmission for four times
  subsys/net/lib/coap/coap.c
Labels: area: Networking

#6058 TCP related and other fixes
  subsys/net/ip/net_context.c
  subsys/net/ip/tcp.c
  subsys/net/ip/tcp.h
Labels: area: Networking

#6170 net: icmpv4: Drop ICMPv4 packet if ICMP header is NULL
  subsys/net/ip/ipv4.c
Labels: area: Networking

#6174 net: buf: Support allocation of a net_buf pointing to external buffer
  include/net/buf.h
  subsys/net/buf.c
Labels: area: Networking

#6169 net: sockets: getaddrinfo() buffer overflow, etc. fixes
  subsys/net/lib/sockets/getaddrinfo.c
Labels: Backport, area: Networking

#6195 net: app: client: set remote port after DNS lookup
  subsys/net/lib/app/client.c
Labels: area: Networking, bug

#6206 drivers/pinmux/stm32: Fix 80 characters line warnings
  drivers/pinmux/stm32/pinmux_stm32f3.h
  drivers/pinmux/stm32/pinmux_stm32f4.h
  drivers/pinmux/stm32/pinmux_stm32l4x.h
Labels: STM32, area: Pinmux

#6219 mbedtls: config-mini-tls1_2.h: Update stale comments
  ext/lib/crypto/mbedtls/configs/config-mini-tls1_2.h
Labels: area: Crypto / RNG, area: Networking

#6221 [RFC] mbedtls: Switch default MBEDTLS_CFG_FILE to config-mini-tls1_2.h
  ext/lib/crypto/mbedtls/Kconfig
  samples/net/mbedtls_dtlsserver/prj.conf
  tests/crypto/mbedtls/prj.conf
Labels: area: Crypto / RNG, area: Networking

#6144 sensors: sensor_value: Elaborate docs
  include/sensor.h
Labels: area: Sensors

#6224 net: icmpv6: Drop ICMPv6 packet if NS header is NULL
  subsys/net/ip/ipv6.c
Labels: area: Networking

#6175 samples: sockets: Add big_http_download sample
  samples/net/sockets/big_http_download/CMakeLists.txt
  samples/net/sockets/big_http_download/Makefile.posix
  samples/net/sockets/big_http_download/README.rst
  samples/net/sockets/big_http_download/prj.conf
  samples/net/sockets/big_http_download/sample.yaml
  samples/net/sockets/big_http_download/src/big_http_download.c
Labels: area: Networking

#6246 subsys: net: http: Send "Internal Server Error" on unknown error code
  subsys/net/lib/http/http_server.c
Labels: area: Networking

#6239 samples: sockets: http_get: Include Host: header in request
  samples/net/sockets/http_get/src/http_get.c
Labels: area: Networking

#6208 net: Set net_buf alloc timeout for IPv4 ARP and IPv6 ND
  subsys/net/ip/ipv6.c
  subsys/net/ip/l2/arp.c
Labels: area: Networking

#6237 Fix net_app_ctx issues
  subsys/net/lib/app/net_app.c
Labels: area: Networking

#6270 drivers: net: loopback: Fix possible double unref
  drivers/net/loopback.c
Labels: area: Networking

#6272 net: icmpv6: Drop NS packet if LL address length is invalid
  subsys/net/ip/ipv6.c
Labels: area: Networking

#6273 Fix comment typo in word fragment
  subsys/net/ip/net_pkt.c
Labels: area: Networking

#6268 net: shell: Fix net mem command output
  subsys/net/ip/net_shell.c
Labels: area: Networking

#6282 scripts: extract_dts_inculdes: Fix reg prop size/addr cell calculation
  scripts/dts/extract_dts_includes.py
Labels: area: Device Tree, bug

#5437 boards: arm: same70: Add mcuboot flash partitions to dts
  boards/arm/sam_e70_xplained/sam_e70_xplained.dts
Labels: ATMEL, area: ARM, area: Boards, area: Flash

#5780 serial: sam0: add samd20 support
  drivers/serial/uart_sam0.c
Labels: ATMEL, area: ARM, area: UART

#6301 dts: ti: Refactor TI SoC dts.fixup into arch/arm/soc/ti_simplelink
  arch/arm/soc/ti_simplelink/cc2650/dts.fixup
  arch/arm/soc/ti_simplelink/cc32xx/dts.fixup
  arch/arm/soc/ti_simplelink/msp432p4xx/dts.fixup
Labels: area: Device Tree

#6298 dts: nxp: Add add addr/size cell to spi nodes
  dts/arm/nxp/nxp_k6x.dtsi
  dts/arm/nxp/nxp_kw2xd.dtsi
  dts/arm/nxp/nxp_kw40z.dtsi
  dts/arm/nxp/nxp_kw41z.dtsi
Labels: NXP, area: Device Tree, area: SPI

#6304 dts: atmel_sam: Refactor SoC dts.fixup into arch/arm/soc/atmel_sam
  arch/arm/soc/atmel_sam/sam3x/dts.fixup
  arch/arm/soc/atmel_sam/sam4s/dts.fixup
  arch/arm/soc/atmel_sam/same70/dts.fixup
Labels: ATMEL, area: Device Tree

#6210 boards: add the Adafruit Trinket M0.
  boards/arm/adafruit_trinket_m0/CMakeLists.txt
  boards/arm/adafruit_trinket_m0/Kconfig.board
  boards/arm/adafruit_trinket_m0/Kconfig.defconfig
  boards/arm/adafruit_trinket_m0/adafruit_trinket_m0.dts
  boards/arm/adafruit_trinket_m0/adafruit_trinket_m0.yaml
  boards/arm/adafruit_trinket_m0/adafruit_trinket_m0_defconfig
  boards/arm/adafruit_trinket_m0/board.cmake
  boards/arm/adafruit_trinket_m0/board.h
  boards/arm/adafruit_trinket_m0/doc/adafruit_trinket_m0.rst
  boards/arm/adafruit_trinket_m0/doc/img/adafruit_trinket_m0.png
  boards/arm/adafruit_trinket_m0/pinmux.c
Labels: ATMEL, area: ARM, area: Boards

#6300 net: app: Move mbedTLS debug log level config to mbedTLS Kconfig
  ext/lib/crypto/mbedtls/Kconfig
  samples/net/http_client/prj_tls.conf
  samples/net/http_server/prj_tls.conf
  subsys/net/lib/app/Kconfig
  subsys/net/lib/app/net_app.c
  subsys/net/lib/app/net_app_private.h
Labels: area: Crypto / RNG, area: Networking

#6317 net: ipv6: Drop ICMPv6 packet if NA header is NULL
  subsys/net/ip/ipv6.c
Labels: area: Networking

#6138 native: added more proper command line parameters parsing
  arch/posix/include/posix_arch_internal.h
  boards/posix/native_posix/CMakeLists.txt
  boards/posix/native_posix/cmdline.c
  boards/posix/native_posix/cmdline.h
  boards/posix/native_posix/cmdline_common.c
  boards/posix/native_posix/cmdline_common.h
  boards/posix/native_posix/main.c
Labels: area: native port

#6310 boards: Add support for the Adafruit Feather M0 Basic Proto.
  boards/arm/adafruit_feather_m0_basic_proto/CMakeLists.txt
  boards/arm/adafruit_feather_m0_basic_proto/Kconfig.board
  boards/arm/adafruit_feather_m0_basic_proto/Kconfig.defconfig
  boards/arm/adafruit_feather_m0_basic_proto/adafruit_feather_m0_basic_proto.dts
  boards/arm/adafruit_feather_m0_basic_proto/adafruit_feather_m0_basic_proto.yaml
  boards/arm/adafruit_feather_m0_basic_proto/adafruit_feather_m0_basic_proto_defconfig
  boards/arm/adafruit_feather_m0_basic_proto/board.cmake
  boards/arm/adafruit_feather_m0_basic_proto/board.h
  boards/arm/adafruit_feather_m0_basic_proto/doc/adafruit_feather_m0_basic_proto.rst
  boards/arm/adafruit_feather_m0_basic_proto/doc/img/adafruit_feather_m0_basic_proto.jpg
  boards/arm/adafruit_feather_m0_basic_proto/pinmux.c
Labels: ATMEL, area: Boards

#6348 boards/arm/nucleo_l476rg: Fix usart1 node
  boards/arm/nucleo_l476rg/nucleo_l476rg.dts
Labels: STM32, area: ARM, area: Boards, area: Device Tree

#6277 samples: sockets: echo: Better error and short write handling
  samples/net/sockets/echo/src/socket_echo.c
Labels: area: Networking, area: Samples

#6357 arch: arm: correct fault address logging
  arch/arm/core/fault.c
Labels: area: ARM, area: Architectures, area: Memory Protection, enhancement

#6386 cmake: dts: Fix usage of BOARD vs BOARD_FAMILY
  boards/x86/qemu_x86/qemu_x86_iamcu.dts
  boards/x86/qemu_x86/qemu_x86_nommu.dts
  cmake/dts.cmake
Labels: area: Device Tree, bug
