Repository zephyrproject-rtos/zephyr, pull requests merged in 2018-04, with the labels that each got.

#6871 net: dns: Fix end-of-results callback on error
  subsys/net/lib/dns/resolve.c
Labels: area: Networking

#6870 net: sockets: Check for errors from dns_get_addr_info
  subsys/net/lib/sockets/getaddrinfo.c
  tests/net/socket/getaddrinfo/CMakeLists.txt
  tests/net/socket/getaddrinfo/prj.conf
  tests/net/socket/getaddrinfo/src/main.c
  tests/net/socket/getaddrinfo/testcase.yaml
Labels: area: Networking

#6856 net: tcp: Fix crash from SYN flood
  subsys/net/ip/net_pkt.c
  subsys/net/ip/tcp.c
Labels: area: Networking

#6901 tests: net: tc: Run the tests only for qemu_x86
  tests/net/traffic_class/testcase.yaml
Labels: area: Networking

#6401 drivers: sensor: lsm6dsl: add SPI support
  drivers/sensor/lsm6dsl/CMakeLists.txt
  drivers/sensor/lsm6dsl/Kconfig
  drivers/sensor/lsm6dsl/lsm6dsl.c
  drivers/sensor/lsm6dsl/lsm6dsl.h
  drivers/sensor/lsm6dsl/lsm6dsl_i2c.c
  drivers/sensor/lsm6dsl/lsm6dsl_spi.c
Labels: area: Sensors

#6788 driver: eth: native_posix: Enable ethernet by default
  boards/posix/native_posix/Kconfig.defconfig
  drivers/ethernet/Kconfig.native_posix
Labels: area: Networking

#6763 sensors: Add definition for ambient temperature
  drivers/sensor/adxl362/adxl362.c
  drivers/sensor/amg88xx/amg88xx.c
  drivers/sensor/amg88xx/amg88xx_trigger.c
  drivers/sensor/bma280/bma280.c
  drivers/sensor/bme280/bme280.c
  drivers/sensor/bmg160/bmg160.c
  drivers/sensor/bmi160/bmi160.c
  drivers/sensor/dht/dht.c
  drivers/sensor/fxos8700/fxos8700.c
  drivers/sensor/hdc1008/hdc1008.c
  drivers/sensor/hp206c/hp206c.c
  drivers/sensor/hts221/hts221.c
  drivers/sensor/lis3mdl/lis3mdl.c
  drivers/sensor/lps22hb/lps22hb.c
  drivers/sensor/lps25hb/lps25hb.c
  drivers/sensor/lsm6ds0/lsm6ds0.c
  drivers/sensor/lsm6dsl/lsm6dsl.c
  drivers/sensor/lsm9ds0_mfd/lsm9ds0_mfd.c
  drivers/sensor/mcp9808/mcp9808.c
  drivers/sensor/mcp9808/mcp9808_trigger.c
  drivers/sensor/mpu6050/mpu6050.c
  drivers/sensor/nrf5/temp_nrf5.c
  drivers/sensor/sht3xd/sht3xd.c
  drivers/sensor/sht3xd/sht3xd_trigger.c
  drivers/sensor/th02/th02.c
  drivers/sensor/tmp007/tmp007.c
  drivers/sensor/tmp007/tmp007_trigger.c
  drivers/sensor/tmp112/tmp112.c
  include/sensor.h
  samples/boards/arduino_101/environmental_sensing/ap/src/main.c
  samples/boards/arduino_101/environmental_sensing/sensor/src/main.c
  samples/grove/temperature/src/main.c
  samples/sensor/amg88xx/src/main.c
  samples/sensor/bme280/src/main.c
  samples/sensor/bmg160/src/main.c
  samples/sensor/bmi160/src/bmi160.c
  samples/sensor/fxos8700/src/main.c
  samples/sensor/hts221/src/main.c
  samples/sensor/mcp9808/src/main.c
  samples/sensor/th02/src/main.c
  samples/sensor/thermometer/src/main.c
  samples/sensor/tmp112/src/main.c
Labels: area: Sensors

#6941 net: if: Use DEVICE_NAME_GET() instead of fixed string
  include/net/net_if.h
Labels: area: Networking

#6873 boards/arm/olimexino_stm32: Don't enable I2C and SPI
  boards/arm/olimexino_stm32/olimexino_stm32_defconfig
Labels: area: ARM, area: Boards

#6944 net: core: Check interface when receiving a packet
  subsys/net/ip/net_core.c
Labels: area: Networking

#6916 doc: usb: Update API doc
  doc/subsystems/usb/usb.rst
Labels: area: USB

#6956 net: l2: Remove l2_data section start and end pointers
  include/net/net_l2.h
Labels: area: Networking

#6895 arm_mpu: fix _get_region_attr()
  arch/arm/core/cortex_m/mpu/arm_mpu.c
Labels: area: Memory Protection

#7006 net/ethernet: Fix uninitialized attributes in ethernet mgmt parameters
  subsys/net/ip/l2/ethernet/ethernet_mgmt.c
  tests/net/ethernet_mgmt/src/main.c
Labels: area: Networking

#6979 Generate aliases definition from device tree
  scripts/dts/extract/globals.py
  scripts/dts/extract_dts_includes.py
Labels: area: Device Tree

#7019 subsys: net: ip: l2: ethernet: fix kconfig
  subsys/net/ip/l2/ethernet/Kconfig
Labels: area: Networking

#7024 net: app: server: Create IPv4 listener also if IPv6 is enabled
  subsys/net/lib/app/net_app.c
Labels: area: Networking

#7027 net_app: Always set relevant sa_family when starting a TCP server
  subsys/net/lib/app/server.c
Labels: area: Networking

#6836 net: tcp: Cancel fin_timer in FIN_WAIT2 instead FIN_WAIT1
  subsys/net/ip/tcp.c
Labels: area: Networking

#7012 boards: dts: Cleanup aliases
  boards/arc/arduino_101_sss/arduino_101_sss.dts
  boards/arc/em_starterkit/em_starterkit.dts
  boards/arc/em_starterkit/em_starterkit_em11d.dts
  boards/arc/em_starterkit/em_starterkit_em7d.dts
  boards/arc/quark_se_c1000_ss_devboard/quark_se_c1000_ss_devboard.dts
  boards/arm/arduino_due/arduino_due.dts
  boards/arm/cc2650_sensortag/cc2650_sensortag.dts
  boards/arm/cc3220sf_launchxl/cc3220sf_launchxl.dts
  boards/arm/frdm_k64f/frdm_k64f.dts
  boards/arm/frdm_kl25z/frdm_kl25z.dts
  boards/arm/frdm_kw41z/frdm_kw41z.dts
  boards/arm/hexiwear_k64/hexiwear_k64.dts
  boards/arm/hexiwear_kw40z/hexiwear_kw40z.dts
  boards/arm/lpcxpresso54114/lpcxpresso54114.dts
  boards/arm/mimxrt1050_evk/mimxrt1050_evk.dts
  boards/arm/msp_exp432p401r_launchxl/msp_exp432p401r_launchxl.dts
  boards/arm/qemu_cortex_m3/qemu_cortex_m3.dts
  boards/arm/sam4s_xplained/sam4s_xplained.dts
  boards/arm/sam_e70_xplained/sam_e70_xplained.dts
  boards/arm/usb_kw24d512/usb_kw24d512.dts
  boards/x86/arduino_101/arduino_101.dts
  boards/x86/galileo/galileo.dts
  boards/x86/minnowboard/minnowboard.dts
  boards/x86/qemu_x86/qemu_x86.dts
  boards/x86/quark_d2000_crb/quark_d2000_crb.dts
  boards/x86/quark_se_c1000_devboard/quark_se_c1000_devboard.dts
  boards/x86/tinytile/tinytile.dts
  boards/x86/x86_jailhouse/x86_jailhouse.dts
Labels: area: Boards, area: Device Tree

#7037 samples: net: coap_client: Fix compile error
  samples/net/coap_client/src/coap-client.c
Labels: area: Networking

#7047 drivers: flash: atmel sam0: Fix compilation without page layout support
  drivers/flash/flash_sam0.c
Labels: ATMEL, area: ARM, area: Flash

#6865 boards/arduino101: Enable UART 0 controller
  boards/x86/arduino_101/arduino_101_defconfig
Labels: area: UART

#7052 net: ipv6: Fix crash from NULL fragment pointer access
  subsys/net/ip/ipv6.c
Labels: area: Networking

#6977 arch: arm: Flush pipeline after switching privilege levels
  arch/arm/core/swap_helper.S
  arch/arm/core/userspace.S
Labels: area: ARM, area: Memory Protection

#6959 samples: net: Solved the payload issue to coap GET Method
  samples/net/coap_client/src/coap-client.c
Labels: area: Networking

#6915 boards: sam_e70_xplained: Enable userspace
  arch/arm/core/cortex_m/mpu/Kconfig
  arch/arm/soc/atmel_sam/common/CMakeLists.txt
  arch/arm/soc/atmel_sam/common/arm_mpu_mem_cfg.h
  arch/arm/soc/atmel_sam/common/arm_mpu_regions.c
  arch/arm/soc/atmel_sam/same70/Kconfig.series
Labels: ATMEL, area: Memory Protection

#7071 arm: userspace: Rework system call arguments
  arch/arm/core/swap_helper.S
  arch/arm/core/userspace.S
  include/arch/arm/arch.h
Labels: area: Memory Protection

#7101 net: ipv6: Fix crash from malformed fragment payload
  subsys/net/ip/ipv6.c
Labels: area: Networking

#7130 tests: socket: udp: Make sure client sockaddr fully initialized
  tests/net/socket/udp/src/main.c
Labels: area: Networking

#7133 tests: socket: Free resources with freeaddrinfo
  tests/net/socket/getaddrinfo/src/main.c
Labels: area: Networking

#7134 net: ipv6: Remove irrelevant error log
  subsys/net/ip/ipv6.c
Labels: area: Networking

#7114 ext: lib: crypto: Update mbedTLS to 2.8.0
  ext/lib/crypto/mbedtls/README
  ext/lib/crypto/mbedtls/include/mbedtls/asn1.h
  ext/lib/crypto/mbedtls/include/mbedtls/ccm.h
  ext/lib/crypto/mbedtls/include/mbedtls/check_config.h
  ext/lib/crypto/mbedtls/include/mbedtls/config.h
  ext/lib/crypto/mbedtls/include/mbedtls/dhm.h
  ext/lib/crypto/mbedtls/include/mbedtls/md2.h
  ext/lib/crypto/mbedtls/include/mbedtls/md4.h
  ext/lib/crypto/mbedtls/include/mbedtls/md5.h
  ext/lib/crypto/mbedtls/include/mbedtls/oid.h
  ext/lib/crypto/mbedtls/include/mbedtls/ripemd160.h
  ext/lib/crypto/mbedtls/include/mbedtls/rsa.h
  ext/lib/crypto/mbedtls/include/mbedtls/sha1.h
  ext/lib/crypto/mbedtls/include/mbedtls/sha256.h
  ext/lib/crypto/mbedtls/include/mbedtls/sha512.h
  ext/lib/crypto/mbedtls/include/mbedtls/ssl.h
  ext/lib/crypto/mbedtls/include/mbedtls/ssl_internal.h
  ext/lib/crypto/mbedtls/include/mbedtls/version.h
  ext/lib/crypto/mbedtls/library/aes.c
  ext/lib/crypto/mbedtls/library/bignum.c
  ext/lib/crypto/mbedtls/library/ctr_drbg.c
  ext/lib/crypto/mbedtls/library/debug.c
  ext/lib/crypto/mbedtls/library/md2.c
  ext/lib/crypto/mbedtls/library/md4.c
  ext/lib/crypto/mbedtls/library/md5.c
  ext/lib/crypto/mbedtls/library/memory_buffer_alloc.c
  ext/lib/crypto/mbedtls/library/oid.c
  ext/lib/crypto/mbedtls/library/pem.c
  ext/lib/crypto/mbedtls/library/pkcs5.c
  ext/lib/crypto/mbedtls/library/pkparse.c
  ext/lib/crypto/mbedtls/library/platform.c
  ext/lib/crypto/mbedtls/library/ripemd160.c
  ext/lib/crypto/mbedtls/library/rsa.c
  ext/lib/crypto/mbedtls/library/sha1.c
  ext/lib/crypto/mbedtls/library/sha256.c
  ext/lib/crypto/mbedtls/library/sha512.c
  ext/lib/crypto/mbedtls/library/ssl_cli.c
  ext/lib/crypto/mbedtls/library/ssl_tls.c
  ext/lib/crypto/mbedtls/library/version.c
  ext/lib/crypto/mbedtls/library/version_features.c
  ext/lib/crypto/mbedtls/library/x509_crl.c
  ext/lib/crypto/mbedtls/library/x509_crt.c
Labels: area: Security, priority: high

#6744 hid: core: truncated wLength if it doesn't match report descriptor size
  subsys/usb/class/hid/core.c
Labels: area: USB

#7156 tests: socket: udp: Tighten up error checking
  tests/net/socket/udp/src/main.c
Labels: Coverity, area: Networking

#7157 arch: arm: clear BFSR sticky bits in ARMv8-M Mainline MCUs
  arch/arm/core/fault.c
Labels: area: ARM

#6876 dynamic kernel objects
  arch/Kconfig
  include/kernel.h
  include/linker/kobject-text.ld
  kernel/userspace.c
  scripts/gen_kobject_list.py
  tests/kernel/mem_protect/obj_validation/prj.conf
  tests/kernel/mem_protect/obj_validation/src/main.c
Labels: area: Memory Protection

#7148 shell: kernel: Add reboot command
  subsys/shell/modules/kernel_service.c
Labels: area: Shell

#7164 tests: socket: udp: Close test sockets
  tests/net/socket/udp/src/main.c
Labels: Coverity, area: Networking

#7190 dts: dtc v1.4.6 warnings: Fix warnings for leading 0s
  dts/arm/nxp/nxp_imx7d_m4.dtsi
  dts/x86/atom.dtsi
  dts/x86/ia32.dtsi
  dts/x86/intel_quark_d2000.dtsi
  dts/x86/quark_x1000.dtsi
Labels: area: Device Tree

#5197 tests: kernel: mpu: tests for userspace mode.
  tests/kernel/mem_protect/mem_protect/CMakeLists.txt
  tests/kernel/mem_protect/mem_protect/prj.conf
  tests/kernel/mem_protect/mem_protect/src/common.c
  tests/kernel/mem_protect/mem_protect/src/inherit.c
  tests/kernel/mem_protect/mem_protect/src/kobject.c
  tests/kernel/mem_protect/mem_protect/src/main.c
  tests/kernel/mem_protect/mem_protect/src/mem_domain.c
  tests/kernel/mem_protect/mem_protect/src/mem_protect.h
  tests/kernel/mem_protect/mem_protect/testcase.yaml
Labels: area: Memory Protection

#7192 net: tcp: send_syn_segment: Log packet before it's sent
  subsys/net/ip/tcp.c
Labels: area: Networking

#7124 net: ipv6: Fix crash from double free of fragment
  subsys/net/ip/ipv6.c
Labels: area: Networking

#7206 USB: netusb: rndis: Fix always disabled (on MS Windows)
  subsys/usb/class/netusb/netusb.c
Labels: area: Networking

#7212 net: hostname: Fix hostname buffer length
  subsys/net/hostname.c
Labels: area: Networking

#7202 boards/arm/stm32_min_dev: Fix APB2 prescaler value
  boards/arm/stm32_min_dev/stm32_min_dev_defconfig
Labels: STM32, area: Boards

#7218 arm: soc: NXP: Enable SEGGER RTT on all NXP SoCs
  arch/arm/soc/nxp_imx/Kconfig
  arch/arm/soc/nxp_kinetis/Kconfig
  arch/arm/soc/nxp_kinetis/kwx/Kconfig.soc
  arch/arm/soc/nxp_lpc/Kconfig
Labels: NXP

#7223 Fix CoAP server sample payload dump function
  samples/net/coap_server/CMakeLists.txt
  samples/net/coap_server/src/coap-server.c
Labels: area: Networking

#7210 arch: arm: improve help text for PROGRAMMABLE_FAULT_PRIOS option
  arch/arm/core/cortex_m/Kconfig
Labels: area: ARM, priority: low

#7143 samples: bluetooth: Add Apple iBeacon demo application
  samples/bluetooth/ibeacon/CMakeLists.txt
  samples/bluetooth/ibeacon/README.rst
  samples/bluetooth/ibeacon/prj.conf
  samples/bluetooth/ibeacon/sample.yaml
  samples/bluetooth/ibeacon/src/main.c
Labels: area: Bluetooth, area: Samples

#7242 arch/arm/soc/st_stm32: Fix typos in soc.h
  arch/arm/soc/st_stm32/stm32f1/soc.h
  arch/arm/soc/st_stm32/stm32l4/soc.h
Labels: STM32

#7241 net: arp: Do not access NULL network packet
  subsys/net/ip/l2/ethernet/arp.c
Labels: area: Networking

#7187 samples: flash_shell: Use correct flash write block size
  samples/drivers/flash_shell/src/main.c
Labels: area: Flash, area: Samples
