Repository zephyrproject-rtos/zephyr, pull requests merged in 2018-08, with the labels that each got.

#9192 net: shell: Print supported features for ethernet interfaces
  subsys/net/ip/net_shell.c
Labels: area: Networking

#9205 net: eth: mgmt: Merge 802.1Qav related mgmt requests
  drivers/ethernet/eth_sam_gmac.c
  include/net/ethernet.h
  include/net/ethernet_mgmt.h
  subsys/net/ip/net_shell.c
  subsys/net/l2/ethernet/ethernet_mgmt.c
  tests/net/ethernet_mgmt/src/main.c
Labels: area: Networking

#9206 boards: 96b_argonkey, fix lsm6dsl label name
  boards/arm/96b_argonkey/96b_argonkey.dts
Labels: area: Sensors

#9207 console: native: fix in Kconfig descriptions
  drivers/console/Kconfig
Labels: area: native port

#9166 native_posix: minor doc fixes
  boards/posix/native_posix/doc/board.rst
Labels: area: Documentation, area: native port

#9212 Bluetooth: Mesh: Clarify confusing log message
  subsys/bluetooth/host/mesh/transport.c
Labels: area: Bluetooth

#9220 net: net_app: Correctly notify server on TCP disconnection
  subsys/net/lib/app/net_app.c
Labels: area: Networking

#9229 drivers: eth: gmac: Don't verify RX buffers count for unit tests
  drivers/ethernet/eth_sam_gmac.c
Labels: area: Networking

#9228 net: eth: Vendor specific statistics
  include/net/net_stats.h
  subsys/net/ip/Kconfig.stats
  subsys/net/ip/net_shell.c
Labels: area: Networking

#9209 net: ipv4_autoconf: Fix requested IPv4 address in ARP packet
  subsys/net/l2/ethernet/arp.c
  subsys/net/l2/ethernet/ethernet.c
Labels: area: Networking

#9251 tests: net: ipv6: Must use Ethernet L2 instead of Dummy L2
  tests/net/ipv6/prj.conf
  tests/net/ipv6/src/main.c
Labels: area: Networking

#8637 tests: net: lib: coap: Added new functions to improve code coverage
  tests/net/lib/coap/src/main.c
Labels: area: Networking, area: Tests

#9274 cmake: kconfig: Fix broken menuconfig due to misspelling
  cmake/kconfig.cmake
Labels: priority: high

#9304 net: sockets: Fix setsockopt coverity issues
  subsys/net/lib/sockets/sockets.c
Labels: area: Networking

#9272 Increase IPv6 mcast table size for coaps_client sample app
  samples/net/coaps_client/prj.conf
  samples/net/coaps_client/src/udp.c
Labels: area: Networking

#9281 Revert "mimxrt1050_evk: disable sanitycheck on this board [REVERT ME]"
  boards/arm/mimxrt1050_evk/mimxrt1050_evk.yaml
Labels: NXP

#8903 LwM2M client sample cleanup
  samples/net/lwm2m_client/prj.conf
Labels: area: Networking, area: Samples

#9315 net: lwm2m: no need to cleanup net_app_ctx in RD client
  subsys/net/lib/lwm2m/lwm2m_rd_client.c
Labels: area: Networking

#9323 net: Fix credit-based shaper typos
  subsys/net/ip/Kconfig
  subsys/net/ip/net_tc_mapping.h
Labels: area: Networking

#9344 drivers: eth: gmac: Don't use Qav code without priority queues
  drivers/ethernet/eth_sam_gmac.c
Labels: area: Networking

#9343 drivers: serial: uart_sam: Fix typo in param name.
  drivers/serial/uart_sam.c
Labels: area: UART

#9350 net: ipv4: ARP message was sent instead of proper IPv4 message
  include/net/net_pkt.h
  subsys/net/ip/ipv4_autoconf.c
  subsys/net/l2/ethernet/ethernet.c
Labels: area: Networking

#9355 Refactor IPv4 header length handling
  include/net/net_ip.h
  subsys/net/ip/connection.c
  subsys/net/ip/ipv4.c
  subsys/net/ip/utils.c
  subsys/net/l2/ethernet/ethernet.c
  subsys/usb/class/netusb/function_ecm.c
  tests/net/dhcpv4/src/main.c
  tests/net/tcp/src/main.c
  tests/net/udp/src/main.c
Labels: area: Networking

#9040 arch: i.MX add RDC peripheral permission setting for applications cores
  arch/arm/soc/nxp_imx/mcimx6x_m4/Kconfig.defconfig.mcimx6x_m4
  arch/arm/soc/nxp_imx/mcimx6x_m4/soc.c
  arch/arm/soc/nxp_imx/mcimx6x_m4/soc.h
  arch/arm/soc/nxp_imx/mcimx7_m4/Kconfig.defconfig.mcimx7_m4
  arch/arm/soc/nxp_imx/mcimx7_m4/soc.c
  arch/arm/soc/nxp_imx/mcimx7_m4/soc.h
  dts/arm/nxp/nxp_imx6sx_m4.dtsi
  dts/arm/nxp/nxp_imx7d_m4.dtsi
  dts/bindings/gpio/nxp,imx-gpio.yaml
  dts/bindings/i2c/fsl,imx7d-i2c.yaml
  dts/bindings/pwm/fsl,imx7d-pwm.yaml
  dts/bindings/serial/nxp,imx-uart.yaml
  include/dt-bindings/rdc/imx_rdc.h
Labels: NXP, area: IPC

#9254 tests: lib: mem_alloc: Add tests to validate dynamic allocation
  tests/lib/mem_alloc/CMakeLists.txt
  tests/lib/mem_alloc/README.txt
  tests/lib/mem_alloc/prj.conf
  tests/lib/mem_alloc/prj_newlib.conf
  tests/lib/mem_alloc/src/main.c
  tests/lib/mem_alloc/testcase.yaml
Labels: area: Tests

#9354 ICMPv6 cleanup
  subsys/net/ip/icmpv6.c
  subsys/net/ip/icmpv6.h
  subsys/net/ip/ipv6.c
  subsys/net/ip/rpl.c
Labels: area: Networking

#9379 net: tcp: Fix net_buf leak in case of low available net_buf count
  subsys/net/ip/tcp.c
Labels: area: Networking

#9345 tests: kernel: device: Add RTM link, description and doxygen group for device tests
  tests/kernel/device/src/main.c
Labels: area: Device Management

#1563 tests: gpio: Updated gpio configuration for all boards
  samples/drivers/gpio/src/main.c
Labels: area: GPIO, area: Tests

#9381 ICMPv4 cleanup
  subsys/net/ip/icmpv4.c
  subsys/net/ip/icmpv4.h
  subsys/net/ip/ipv4.c
Labels: area: Networking

#9378 Refactor IPv6 header length handling
  include/net/net_ip.h
  subsys/net/ip/6lo.c
  subsys/net/ip/connection.c
  subsys/net/ip/icmpv6.c
  subsys/net/ip/ipv6.c
  subsys/net/ip/utils.c
  subsys/net/l2/ethernet/ethernet.c
  subsys/net/l2/ieee802154/ieee802154_fragment.c
  subsys/usb/class/netusb/function_ecm.c
  tests/net/6lo/src/main.c
  tests/net/ipv6_fragment/src/main.c
  tests/net/tcp/src/main.c
  tests/net/udp/src/main.c
Labels: area: Networking

#9405 Fix regression in IPv6 cleanup
  subsys/net/ip/ipv6.c
Labels: area: Networking

#9133 tests: power: refactor power_states test
  tests/power/power_states/prj.conf
  tests/power/power_states/prj_socwatch.conf
  tests/power/power_states/src/main.c
Labels: area: Tests

#9401 misc: dlist: Fixed dlist.h error to pass checkpatch.pl script.
  include/misc/dlist.h
Labels: area: Miscellaneous

#9398 arch: arm: optimize _size_to_mpu_rasr_size function
  arch/arm/core/cortex_m/mpu/arm_mpu.c
Labels: area: ARM, area: Memory Protection, enhancement

#9110 arch: arm: soc: add STM32L433
  arch/arm/soc/st_stm32/stm32l4/Kconfig.defconfig.stm32l433xx
  arch/arm/soc/st_stm32/stm32l4/Kconfig.soc
  dts/arm/st/mem.h
Labels: STM32

#9404 net: if: Lower memory usage for IPv6 address, prefix and router info
  include/net/net_if.h
Labels: area: Networking

#9422 net: Use packed enums when applicable
  include/net/dhcpv4.h
  include/net/http.h
  include/net/net_app.h
  include/net/net_ip.h
  include/net/net_l2.h
  include/net/net_linkaddr.h
Labels: area: Networking

#9325 subsys: console: Mark as EXPERIMENTAL.
  subsys/console/Kconfig
Labels: area: Console

#9435 net: http: One extra byte was sent in last chunk
  subsys/net/lib/http/http.c
Labels: area: Networking

#9437 doc: fix wrong board name in Nordic doc
  boards/arm/nrf52_pca10040/doc/nrf52_pca10040.rst
Labels: bug, nRF, priority: low

#9436 arch: arm: clean-up "default n" entries in Kconfig option definitions
  arch/arm/core/Kconfig
  arch/arm/core/cortex_m/tz/Kconfig
Labels: area: ARM, priority: low

#9260 arch: riscv32: Move MEPC increment in irq_wrapper
  arch/riscv32/core/fatal.c
  arch/riscv32/core/isr.S
Labels: area: RISCv32

#9447 tests/net: ieee802154: fragment: Fix build error
  tests/net/ieee802154/fragment/src/main.c
Labels: area: Networking

#9443 net: ipv6: Fix crash from fragmented packets
  subsys/net/ip/ipv6.c
Labels: area: Networking

#9440 Bluetooth: Mesh: Fix heartbeat subscription state handling
  subsys/bluetooth/host/mesh/cfg_srv.c
Labels: area: Bluetooth

#8278 tests: smp: Add tests to verify SMP
  tests/kernel/smp/src/main.c
Labels: area: Tests

#9493 tests: net: ethernet_mgmt: Don't recalculate deltaBW with no link
  tests/net/ethernet_mgmt/src/main.c
Labels: area: Networking

#9490 net: if: Lower ram usage for IP address lifetime handling
  include/net/net_if.h
  samples/net/rpl_border_router/src/http.c
  subsys/net/ip/ipv6.c
  subsys/net/ip/net_if.c
Labels: area: Networking

#9491 tests: net: ptp: Check max number of interfaces
  tests/net/ptp/clock/src/main.c
Labels: area: Networking

#9479 net: tls: Apply DTLS review fixes
  include/net/socket.h
  samples/net/sockets/echo_server/src/udp.c
  subsys/net/lib/sockets/sockets_tls.c
Labels: area: Networking

#9497 tests: net: iface: Initialize port number
  tests/net/iface/src/main.c
Labels: area: Networking

#9500 IPv6 address expiration fix
  include/net/net_if.h
  subsys/net/ip/net_if.c
Labels: area: Networking

#9503 net: lldp: Fix timeout triggering if multiple workers
  subsys/net/l2/ethernet/lldp/lldp.c
Labels: area: Networking

#9514 drivers: gpio: SiFive GPIO allows fewer than 32 pins
  drivers/gpio/gpio_sifive.c
Labels: area: Drivers, area: GPIO, area: RISCv32

#9472 drivers: pinmux: stm32: complete stm32f2 header
  drivers/pinmux/stm32/pinmux_stm32f2.h
Labels: STM32

#9504 net: tcp: fix spurious TCP retries
  subsys/net/ip/tcp.c
Labels: area: Networking

#9541 include: console: Include kernel.h for struct k_fifo
  include/console.h
Labels: area: Console

#9546 drivers: pwm_nrf5_sw: Perform static initialization only once
  drivers/pwm/pwm_nrf5_sw.c
Labels: area: PWM, nRF

#9549 tests: net: ipv6: Add tests for verifying DAD timers
  tests/net/ipv6/prj.conf
  tests/net/ipv6/src/main.c
Labels: area: Networking

#9531 net: Move CONFIG_NET_OFFLOAD definition to net/ip/
  subsys/net/ip/Kconfig
  subsys/net/l2/Kconfig
Labels: area: Networking

#9473 soc: efr32fg1p: correct clock initialization sequence
  arch/arm/soc/silabs_exx32/efr32fg1p/soc.c
Labels: SiLabs

#9599 drivers: gpio: sx1509b: Kconfig options depend on GPIO_SX1509B
  drivers/gpio/Kconfig.sx1509b
Labels: area: Drivers, area: Kconfig, priority: low

#9577 boards: nrf52_adafruit_feather: Add pyOCD configuration
  boards/arm/nrf52_adafruit_feather/board.cmake
Labels: area: Flashing, nRF

#9624 boards: nrf52840_pca10059: Add pyOCD configuration
  boards/arm/nrf52840_pca10059/board.cmake
Labels: area: Flashing, nRF

#8647 arch: arm: stm32: enable instruction and data caches on STM32F7
  arch/arm/soc/st_stm32/stm32f7/soc.c
Labels: STM32

#9571 net: pkt: Cleanup validation of min fragment size based on max headers
  subsys/net/ip/net_pkt.c
Labels: area: Networking

#9572 net: context: Move/rename net_context_set_appdata_values() to net_pkt.c
  subsys/net/ip/net_context.c
  subsys/net/ip/net_pkt.c
  subsys/net/ip/net_private.h
  subsys/net/ip/tcp.c
Labels: area: Networking

#9538 drivers: gpio: Fix two bugs in nrfx gpio
  drivers/gpio/gpio_nrfx.c
Labels: nRF

#9632 boards: nrf52840_pca10059: Fix pyOCD configuration
  boards/arm/nrf52840_pca10059/board.cmake
Labels: area: Flashing, nRF

#9592 net: tcp: Properly queue FIN packets for retransmission
  subsys/net/ip/tcp.c
Labels: area: Networking, priority: high

#9654 Bluetooth: Kconfig the Auto PHY Update Procedure initiation
  subsys/bluetooth/host/Kconfig
  subsys/bluetooth/host/hci_core.c
Labels: area: Bluetooth

#9540 Bluetooth: controller: Fix compile error when PHY update disabled
  subsys/bluetooth/controller/ll_sw/ctrl.c
Labels: area: Bluetooth, bug

#9589 net: tcp: Remove NET_TCP_FINAL_* flags
  subsys/net/ip/tcp.c
  subsys/net/ip/tcp_internal.h
Labels: area: Networking

#9301 drivers: i2c_ll_stm32_v1: improve NACK handling
  drivers/i2c/i2c_ll_stm32_v1.c
Labels: STM32, area: Drivers, area: I2C

#8443 usb: hid: add OUT interrupt endpoint
  include/usb/class/usb_hid.h
  subsys/usb/class/hid/Kconfig
  subsys/usb/class/hid/core.c
Labels: area: USB, enhancement

#9673 LwM2M: Observe-related bugfixes
  subsys/net/lib/lwm2m/lwm2m_engine.c
Labels: area: Networking, bug

#9645 arch: arm: stm32l4: add missing I2C_3 to dts.fixup
  arch/arm/soc/st_stm32/stm32l4/dts.fixup
Labels: STM32

#9706 Fix test net/lib/mqtt_publisher
  tests/net/lib/mqtt_publisher/src/test_mqtt_publish.c
Labels: area: Networking

#9660 tests: benchmarks: sys_kernel: Enable benchmark for slower SoCs
  tests/benchmarks/sys_kernel/src/lifo.c
  tests/benchmarks/sys_kernel/src/mwfifo.c
  tests/benchmarks/sys_kernel/src/sema.c
  tests/benchmarks/sys_kernel/src/stack.c
  tests/benchmarks/sys_kernel/src/syskernel.c
  tests/benchmarks/sys_kernel/src/syskernel.h
Labels: bug, priority: medium

#9709 dts/st: fix stm32l4 gpioh node address
  dts/arm/st/stm32l4.dtsi
  dts/arm/st/stm32l496.dtsi
Labels: STM32, bug, priority: low

#9693 arch: st_stm32: Remove I2C and SPI instances from common defconfig
  arch/arm/soc/st_stm32/common/Kconfig.defconfig.series
Labels: STM32, bug, priority: medium

#9715 arch: stm32l4: Enable gpio interrupts correctly
  arch/arm/soc/st_stm32/stm32l4/soc_gpio.c
Labels: STM32, bug

#6966 sensors: introduce kconfig named choices
  boards/arm/disco_l475_iot1/Kconfig.defconfig
  boards/arm/disco_l475_iot1/disco_l475_iot1_defconfig
  drivers/sensor/hts221/Kconfig
  drivers/sensor/lis3mdl/Kconfig
Labels: area: Sensors

#9657 net: ipv6: Drop packet with multiple HBHO
  subsys/net/ip/ipv6.c
Labels: area: Networking

#9564 net: tcp: Add comment of func prototype for NET_CONN_CB macro usages
  subsys/net/ip/tcp.c
Labels: area: Networking

#9557 doc: add ability to generate PDF
  doc/CMakeLists.txt
  doc/conf.py
  doc/getting_started/installation_linux.rst
  doc/getting_started/installation_mac.rst
  doc/index.rst
  doc/scripts/fix_tex.py
  scripts/requirements.txt
Labels: area: Documentation

#9726 Bluetooth: Fix using correct IRK when generating RPA
  subsys/bluetooth/host/hci_core.c
Labels: area: Bluetooth

#9710 menuconfig: Fix a case of visible symbols not being shown
  scripts/kconfig/kconfiglib.py
  scripts/kconfig/menuconfig.py
Labels: bug

#9731 net: app: Notify peers properly when DTLS connection is closed
  subsys/net/lib/app/net_app.c
Labels: area: Networking

#9729 net: dhcpv4: Do not debug print IP address using NULL pointer
  subsys/net/ip/dhcpv4.c
Labels: area: Networking

#9730 samples: net: mbedtls: Remove apps using raw mbedtls APIs
  samples/net/mbedtls_dtlsclient/CMakeLists.txt
  samples/net/mbedtls_dtlsclient/README.rst
  samples/net/mbedtls_dtlsclient/prj.conf
  samples/net/mbedtls_dtlsclient/sample.yaml
  samples/net/mbedtls_dtlsclient/src/dtls_client.c
  samples/net/mbedtls_dtlsclient/src/udp.c
  samples/net/mbedtls_dtlsclient/src/udp.h
  samples/net/mbedtls_dtlsclient/src/udp_cfg.h
  samples/net/mbedtls_dtlsserver/CMakeLists.txt
  samples/net/mbedtls_dtlsserver/README.rst
  samples/net/mbedtls_dtlsserver/prj.conf
  samples/net/mbedtls_dtlsserver/sample.yaml
  samples/net/mbedtls_dtlsserver/src/dtls_server.c
  samples/net/mbedtls_dtlsserver/src/udp.c
  samples/net/mbedtls_dtlsserver/src/udp.h
  samples/net/mbedtls_dtlsserver/src/udp_cfg.h
  samples/net/mbedtls_sslclient/CMakeLists.txt
  samples/net/mbedtls_sslclient/README
  samples/net/mbedtls_sslclient/prj.conf
  samples/net/mbedtls_sslclient/sample.yaml
  samples/net/mbedtls_sslclient/src/mini_client.c
  samples/net/mbedtls_sslclient/src/tcp.c
  samples/net/mbedtls_sslclient/src/tcp.h
  samples/net/mbedtls_sslclient/src/tcp_cfg.h
Labels: area: Networking

#9736 doc: Add networking information to 1.13 release note
  doc/release-notes-1.13.rst
Labels: area: Documentation, area: Networking

#9616 Fixed #9537 enc28j60 rev error
  drivers/ethernet/eth_enc28j60.c
Labels: area: Ethernet, area: Networking
