Repository zephyrproject-rtos/zephyr, pull requests merged in 2018-11, with the labels that each got.

#10975 samples: usb: hid-mouse: enable CONFIG_GPIO
  samples/subsys/usb/hid-mouse/prj.conf
Labels: area: Samples, area: USB

#10522 shell: fix possible hanging reason when history feature is used
  subsys/shell/shell.c
  subsys/shell/shell_uart.c
Labels: area: Shell

#10907 drivers: i2c: remove deprecated dev_config struct
  include/i2c.h
Labels: API, area: I2C

#10819 nrf52_bsim: Add compile time check of HW models version
  boards/posix/nrf52_bsim/CMakeLists.txt
Labels: nrf52_bsim

#10969 cmake: Make the target name generation code re-usable
  cmake/extensions.cmake
Labels: area: Build System

#11003 doc: usermode: Add missing "called" in _k_object_init() description
  doc/kernel/usermode/kernelobjects.rst
Labels: Trivial, area: Documentation

#11009 sanitycheck: make nrf51_pca10028 the default for cortex-m0
  boards/arm/bbc_microbit/bbc_microbit.yaml
  boards/arm/nrf51_pca10028/nrf51_pca10028.yaml
Labels: Trivial

#11010 net: if: Assert that link layer addr was set by driver
  subsys/net/ip/net_if.c
Labels: area: Networking

#11030 net: if: Move link address assert check to net_if_up()
  subsys/net/ip/net_if.c
Labels: area: Networking

#11029 drivers: interrupt_controller: fix cmake file
  drivers/interrupt_controller/CMakeLists.txt
Labels: Trivial

#11032 tests: bluetooth/tester: Fix having unique log domains
  tests/bluetooth/tester/src/bttester.c
  tests/bluetooth/tester/src/bttester.h
  tests/bluetooth/tester/src/gap.c
  tests/bluetooth/tester/src/gatt.c
  tests/bluetooth/tester/src/l2cap.c
  tests/bluetooth/tester/src/main.c
  tests/bluetooth/tester/src/mesh.c
Labels: Trivial

#10980 samples: usb: mass: rewrite documentation
  samples/subsys/usb/mass/README.rst
  samples/subsys/usb/mass/README.txt
Labels: Trivial, area: Documentation, area: Samples, area: USB

#11042 net: Rename net_is_xxx...() functions to net_xxx_is...()
  include/net/net_ip.h
  samples/net/nats/src/main.c
  samples/net/zperf/src/zperf_shell.c
  subsys/net/ip/6lo.c
  subsys/net/ip/connection.c
  subsys/net/ip/icmpv4.c
  subsys/net/ip/icmpv6.c
  subsys/net/ip/ipv4.c
  subsys/net/ip/ipv6.c
  subsys/net/ip/ipv6_nbr.c
  subsys/net/ip/net_context.c
  subsys/net/ip/net_core.c
  subsys/net/ip/net_if.c
  subsys/net/ip/route.c
  subsys/net/ip/rpl.c
  subsys/net/l2/ethernet/arp.c
  subsys/net/l2/ethernet/ethernet.c
  subsys/net/l2/ieee802154/ieee802154_frame.c
  subsys/net/lib/app/client.c
  subsys/net/lib/coap/coap.c
  subsys/net/lib/coap_sock/coap_sock.c
  subsys/net/lib/dns/llmnr_responder.c
  subsys/net/lib/dns/resolve.c
  tests/net/ip-addr/src/main.c
  tests/net/ipv6/src/main.c
Labels: area: Networking

#10997 subsys: usb_device: Fix removal of board.h
  subsys/usb/usb_device.c
Labels: area: Boards, area: USB

#10828 drivers: watchdog: Adding watchdog support for sam SOC
  boards/arm/arduino_due/arduino_due.dts
  boards/arm/arduino_due/arduino_due.yaml
  boards/arm/arduino_due/doc/board.rst
  boards/arm/sam4s_xplained/doc/sam4s_xplained.rst
  boards/arm/sam4s_xplained/sam4s_xplained.dts
  boards/arm/sam4s_xplained/sam4s_xplained.yaml
  boards/arm/sam_e70_xplained/sam_e70_xplained.dts
  boards/arm/sam_e70_xplained/sam_e70_xplained.yaml
  drivers/watchdog/wdt_sam.c
  dts/arm/atmel/sam3x.dtsi
  dts/arm/atmel/sam4s.dtsi
  dts/arm/atmel/same70.dtsi
  dts/bindings/watchdog/atmel,sam-watchdog.yaml
  soc/arm/atmel_sam/sam3x/dts_fixup.h
  soc/arm/atmel_sam/sam4s/dts_fixup.h
  soc/arm/atmel_sam/same70/dts_fixup.h
Labels: area: Watchdog

#11058 samples: echo_server: remove features to make binary fit
  samples/net/echo_server/overlay-netusb.conf
  samples/net/echo_server/sample.yaml
Labels: Hotfix

#11059 scripts: dts: extract: Fix handling of prop being a list of lists
  scripts/dts/extract_dts_includes.py
Labels: area: Device Tree

#11068 samples: net: zperf: Remove task_profiler as it is not used
  samples/net/zperf/CMakeLists.txt
Labels: area: Networking

#11067 dts/bindings: Remove id field from atmel,sam-watchdog
  dts/bindings/watchdog/atmel,sam-watchdog.yaml
Labels: ATMEL, Trivial, area: Device Tree, area: Watchdog

#10765 subsys: console/tty: Refactor to introduce POSIX-like read/write API
  include/console.h
  subsys/console/getchar.c
  subsys/console/tty.c
Labels: area: Console, area: UART

#11039 drivers: uart_stm32: fix ORE hogging the CPU
  drivers/serial/uart_stm32.c
Labels: Maintainer

#10798 dts: bindings: remove setting use-prop-label in st,stm32-ccm
  dts/bindings/arm/st,stm32-ccm.yaml
Labels: STM32, area: Device Tree

#10851 usb: device: fix wrong direction in usb_transfer_ep_callback
  subsys/usb/usb_device.c
Labels: area: USB

#10987 dts/bindings: Fix warning in ti,cc32xx-i2c.yaml
  dts/bindings/i2c/ti,cc32xx-i2c.yaml
Labels: Trivial, area: Device Tree, area: I2C

#11043 net: ipv6: Check the size of the ICMPv6 packet
  subsys/net/ip/icmpv6.c
Labels: area: Networking

#11108 net: shell: Add IPv6 and IPv4 checks for ping command
  subsys/net/ip/net_shell.c
Labels: area: Networking

#11131 samples: net: echo: fix unchecked returns
  samples/net/sockets/echo/src/socket_echo.c
Labels: area: Networking

#10866 ext: hal: nordic: Make it possible to build NRFX GPIOTE and PPI
  ext/hal/nordic/CMakeLists.txt
  ext/hal/nordic/Kconfig
  ext/hal/nordic/nrfx_config_nrf51.h
  ext/hal/nordic/nrfx_config_nrf52810.h
  ext/hal/nordic/nrfx_config_nrf52832.h
  ext/hal/nordic/nrfx_config_nrf52840.h
Labels: nRF

#11142 boards: qemu_x86: remove deprecated qemu options
  boards/x86/qemu_x86/board.cmake
Labels: Trivial

#11157 ext: hal: nordic: Add missing peripherals in Kconfig
  ext/hal/nordic/Kconfig
Labels: Trivial, nRF

#11137 boards: arm: fix openocd.cfg for nucleo_l476rg
  boards/arm/nucleo_l476rg/support/openocd.cfg
Labels: STM32, Trivial

#11073 cmake: fix code section ordering
  cmake/extensions.cmake
Labels: area: Build System

#10383 Arch arm userspace bug fix
  arch/arm/core/cortex_m/mpu/arm_mpu.c
Labels: area: ARM, area: Memory Protection, bug

#11080 Bluetooth: Add basic documentation for address types
  include/bluetooth/hci.h
Labels: Trivial, area: Bluetooth

#10923 shell: shell_uart: add ring_buffers and interrupt support
  include/shell/shell_uart.h
  samples/net/echo_server/overlay-netusb.conf
  subsys/shell/Kconfig.backends
  subsys/shell/shell_uart.c
Labels: area: Shell, enhancement

#11063 Kconfig: dts: Move HAS_DTS to arch level
  arch/Kconfig
  arch/arm/core/Kconfig
  boards/arc/em_starterkit/Kconfig.board
  boards/arc/nsim_em/Kconfig.board
  boards/nios2/altera_max10/Kconfig.board
  boards/nios2/qemu_nios2/Kconfig.board
  boards/x86/arduino_101/Kconfig.board
  boards/x86/galileo/Kconfig.board
  boards/x86/minnowboard/Kconfig.board
  boards/x86/qemu_x86/Kconfig.board
  boards/x86/quark_d2000_crb/Kconfig.board
  boards/x86/quark_se_c1000_devboard/Kconfig.board
  boards/x86/tinytile/Kconfig.board
  boards/x86/up_squared/Kconfig.board
  boards/x86/x86_jailhouse/Kconfig.board
Labels: Trivial, area: Device Tree

#11174 Remove semaphore from sntp_client application
  samples/net/sntp_client/src/main.c
Labels: area: Networking

#10734 logging: start logger thread in enable_logger()
  subsys/logging/log_core.c
Labels: area: Logging

#11153 arch: arm: sam0: enable SEGGER RTT on Atmel sam0 SoCs
  soc/arm/atmel_sam0/Kconfig
Labels: ATMEL, Trivial

#11160 board: stm32_min_dev: Add I2C support
  boards/arm/stm32_min_dev/Kconfig.defconfig
  boards/arm/stm32_min_dev/doc/stm32_min_dev.rst
  boards/arm/stm32_min_dev/pinmux.c
  boards/arm/stm32_min_dev/stm32_min_dev.dts
  boards/arm/stm32_min_dev/stm32_min_dev.yaml
Labels: STM32

#11181 board: stm32_min_dev: Add PWM support
  boards/arm/stm32_min_dev/Kconfig.defconfig
  boards/arm/stm32_min_dev/doc/stm32_min_dev.rst
  boards/arm/stm32_min_dev/pinmux.c
  boards/arm/stm32_min_dev/stm32_min_dev.dts
  boards/arm/stm32_min_dev/stm32_min_dev.yaml
Labels: STM32, area: Boards, area: PWM

#11004 doc: bluetooth: Add existing qualification listings
  doc/subsystems/bluetooth/qualification.rst
Labels: Trivial

#10844 drivers: audio: Use ARRAY_SIZE helper macro
  drivers/audio/tlv320dac310x.c
Labels: Trivial

#11190 samples: flash_shell: Replace incorrect assignment to boolean expression
  samples/drivers/flash_shell/src/main.c
Labels: Trivial

#11183 board: Add support of STM32F143xG SOC
  boards/arm/nucleo_f413zh/Kconfig.board
  boards/arm/nucleo_f413zh/nucleo_f413zh_defconfig
  dts/arm/st/f4/stm32f413Xg.dtsi
  samples/basic/blink_led/src/main.c
  soc/arm/st_stm32/stm32f4/Kconfig.defconfig.stm32f413xx
  soc/arm/st_stm32/stm32f4/Kconfig.soc
Labels: STM32

#11201 drivers: wifi: simplelink: fix Coverity issue in getaddrinfo()
  drivers/wifi/simplelink/simplelink_sockets.c
Labels: area: Networking, area: Wifi

#11221 drivers: usb_dc_sam: use original logger functions
  drivers/usb/device/usb_dc_sam.c
Labels: ATMEL, area: Logging, area: USB, bug

#11211 [boards] Add debug capability to Silabs TB2
  boards/arm/efr32mg_sltb004a/board.cmake
Labels: SiLabs, Trivial

#11189 isr_wrapper: Use 'bx' instead of 'b' to jump to _IntExit
  arch/arm/core/isr_wrapper.S
Labels: area: ARM

#10893 gpio: stm32 use dts extracted information to populate gpio instances.
  drivers/gpio/gpio_stm32.c
  dts/arm/st/f3/stm32f373.dtsi
  dts/arm/st/f4/stm32f413.dtsi
  dts/arm/st/l0/stm32l073.dtsi
  soc/arm/st_stm32/stm32f0/dts_fixup.h
  soc/arm/st_stm32/stm32f1/dts_fixup.h
  soc/arm/st_stm32/stm32f2/dts_fixup.h
  soc/arm/st_stm32/stm32f3/dts_fixup.h
  soc/arm/st_stm32/stm32f4/dts_fixup.h
  soc/arm/st_stm32/stm32f7/dts_fixup.h
  soc/arm/st_stm32/stm32l0/dts_fixup.h
  soc/arm/st_stm32/stm32l4/dts_fixup.h
Labels: STM32, area: Device Tree, area: GPIO

#11227 kconfig: misc: Correct typo for TEXT_SECTION_OFFSET
  misc/Kconfig
Labels: Trivial

#11241 Bluetooth: host: Fix trivial comment mismatch
  subsys/bluetooth/host/smp.c
Labels: Trivial

#11177 arch: arm: ensure shared mem and app sram MPU regions don't overlap
  include/arch/arm/cortex_m/scripts/linker.ld
Labels: Maintainer, area: ARM, area: Memory Protection, bug, priority: medium

#11242 shell: Fix reference to nonexistent Kconfig symbol
  subsys/shell/shell.c
Labels: Trivial, area: Shell

#11269 dts: intel_s1000: update SRAM size to 4MB
  dts/xtensa/intel_s1000.dtsi
Labels: area: Device Tree, area: Xtensa

#11246 nrf52_bsim: Support full include paths of nrfx hal files
  boards/posix/nrf52_bsim/CMakeLists.txt
  boards/posix/nrf52_bsim/hw_models_version
Labels: Trivial, nRF, nrf52_bsim

#11249 dts: Fix warnings associated with reg/unit-address not matching
  dts/arc/emsk.dtsi
  dts/arm/atmel/sam3x.dtsi
  dts/arm/atmel/sam4s.dtsi
  dts/arm/atmel/samd.dtsi
  dts/arm/atmel/same70.dtsi
  dts/arm/nordic/nrf52840.dtsi
  dts/arm/nxp/nxp_imx6sx_m4.dtsi
  dts/arm/nxp/nxp_imx7d_m4.dtsi
  dts/arm/nxp/nxp_k6x.dtsi
  dts/arm/nxp/nxp_kl25z.dtsi
  dts/arm/nxp/nxp_lpc54xxx.dtsi
  dts/arm/silabs/efr32mg.dtsi
  dts/arm/st/f1/stm32f103Xe.dtsi
  dts/arm/st/f3/stm32f302.dtsi
  dts/arm/st/f3/stm32f373.dtsi
  dts/arm/st/f4/stm32f4.dtsi
  dts/arm/st/f4/stm32f401.dtsi
  dts/arm/st/f7/stm32f7.dtsi
  dts/arm/st/l4/stm32l4.dtsi
  dts/arm/st/l4/stm32l475.dtsi
  dts/arm/st/l4/stm32l4r5.dtsi
  dts/arm/ti/cc32xx.dtsi
  dts/arm/ti/lm3s6965.dtsi
Labels: area: Device Tree

#11280 scripts: locked pyocd version to 0.12.0 in requirements.txt
  scripts/requirements.txt
Labels: Hotfix

#11237 dts: Update STM32 PWM device tree binding/nodes for #pwm-cells
  dts/arm/st/f0/stm32f0.dtsi
  dts/arm/st/f0/stm32f072.dtsi
  dts/arm/st/f0/stm32f091.dtsi
  dts/arm/st/f1/stm32f1.dtsi
  dts/arm/st/f1/stm32f103Xe.dtsi
  dts/arm/st/f1/stm32f107.dtsi
  dts/arm/st/f3/stm32f3.dtsi
  dts/arm/st/f3/stm32f302.dtsi
  dts/arm/st/f3/stm32f303.dtsi
  dts/arm/st/f3/stm32f334.dtsi
  dts/arm/st/f3/stm32f373.dtsi
  dts/arm/st/f4/stm32f4.dtsi
  dts/arm/st/f4/stm32f405.dtsi
  dts/arm/st/f4/stm32f412.dtsi
  dts/arm/st/f4/stm32f413.dtsi
  dts/arm/st/f7/stm32f7.dtsi
  dts/arm/st/l4/stm32l4.dtsi
  dts/arm/st/l4/stm32l475.dtsi
  dts/bindings/pwm/st,stm32-pwm.yaml
Labels: STM32, area: Device Tree, area: PWM

#11238 dts: Update i.MX PWM device tree binding/nodes for #pwm-cells
  dts/arm/nxp/nxp_imx7d_m4.dtsi
  dts/bindings/pwm/fsl,imx7d-pwm.yaml
Labels: NXP, area: Device Tree, area: PWM

#11230 scripts/dts: extract_dts_includes: fix multi-compat bus parent
  scripts/dts/extract_dts_includes.py
Labels: area: Device Tree

#11286 ci: build docs on last node
  scripts/ci/run_ci.sh
Labels: Trivial

#11297 Check invalid fields in ARP header
  subsys/net/l2/ethernet/arp.c
  subsys/net/l2/ethernet/arp.h
Labels: area: Networking

#11218 e1000 fixes
  drivers/ethernet/eth_e1000.c
  drivers/ethernet/eth_e1000_priv.h
Labels: Trivial, area: Ethernet, area: Networking

#11305 net: promisc: Flush the promisc queue properly
  subsys/net/ip/promiscuous.c
Labels: area: Networking

#11308 drivers: eth: Free packet after sending it
  drivers/ethernet/eth_e1000.c
Labels: area: Networking

#11239 dts: Update sifive PWM device tree binding/nodes for #pwm-cells
  dts/bindings/pwm/sifive,pwm0.yaml
  dts/riscv32/riscv32-fe310.dtsi
Labels: area: Device Tree, area: PWM, area: RISCv32

#11252 boards: nrf52840_pca10056: Fix SPI pin assignment conflicts
  boards/arm/nrf52840_pca10056/nrf52840_pca10056.dts
Labels: nRF

#10199 boards: arm: Add support for ST B-L072Z-LRWAN1 board
  boards/arm/b_l072z_lrwan1/CMakeLists.txt
  boards/arm/b_l072z_lrwan1/Kconfig.board
  boards/arm/b_l072z_lrwan1/Kconfig.defconfig
  boards/arm/b_l072z_lrwan1/b_l072z_lrwan1.dts
  boards/arm/b_l072z_lrwan1/b_l072z_lrwan1.yaml
  boards/arm/b_l072z_lrwan1/b_l072z_lrwan1_defconfig
  boards/arm/b_l072z_lrwan1/board.cmake
  boards/arm/b_l072z_lrwan1/doc/b_l072z_lrwan1.rst
  boards/arm/b_l072z_lrwan1/doc/img/b-l072z-lrwan1.png
  boards/arm/b_l072z_lrwan1/pinmux.c
  boards/arm/b_l072z_lrwan1/support/openocd.cfg
Labels: STM32

#11299 drivers/gpio: stm32: Remove redundant AFIO bit for STM32F1
  drivers/gpio/gpio_stm32.c
Labels: STM32, Trivial

#11318 doc: fix the example code typo
  doc/kernel/other/polling.rst
Labels: Trivial, area: Documentation

#11290 usb: Make USB_VBUS_GPIO a Kconfig option
  boards/x86/arduino_101/Kconfig.defconfig
  boards/x86/arduino_101/board.h
  boards/x86/quark_se_c1000_devboard/Kconfig.defconfig
  boards/x86/quark_se_c1000_devboard/board.h
  boards/x86/tinytile/Kconfig.defconfig
  boards/x86/tinytile/board.h
  subsys/usb/Kconfig
  subsys/usb/usb_device.c
Labels: area: Boards, area: GPIO, area: USB, area: X86

#8771 arch: arm: stm32f7: Kconfig: select CPU_HAS_ARM_MPU
  soc/arm/st_stm32/stm32f7/Kconfig.series
Labels: STM32, Trivial, area: Memory Protection

#11320 logging: Add uart backend dependency to shell uart backend
  samples/subsys/shell/shell_module/prj.conf
  samples/subsys/shell/shell_module/prj_minimal.conf
  subsys/logging/Kconfig
Labels: area: Logging, area: Shell

#11335 net: pkt: Print debug prints in one line
  subsys/net/ip/net_pkt.c
Labels: area: Networking

#11353 dts: Fix builds of arc EMSK & NSIM SoCs
  soc/arc/snps_emsk/dts_fixup.h
  soc/arc/snps_nsim/dts_fixup.h
Labels: Hotfix, area: ARC, area: Device Tree

#11313 kernel: expose device_get_binding() to user mode
  include/device.h
  kernel/device.c
Labels: area: Userspace

#11367 boards: xtensa: remove stray CONFIG_BOARD_XTENSA
  boards/xtensa/intel_s1000_crb/intel_s1000_crb_defconfig
Labels: Hotfix

#11370 samples: boards: Rename microbit dir to bbc_microbit
  samples/boards/bbc_microbit/display/CMakeLists.txt
  samples/boards/bbc_microbit/display/README.rst
  samples/boards/bbc_microbit/display/prj.conf
  samples/boards/bbc_microbit/display/sample.yaml
  samples/boards/bbc_microbit/display/src/main.c
  samples/boards/bbc_microbit/microbit.rst
  samples/boards/bbc_microbit/pong/CMakeLists.txt
  samples/boards/bbc_microbit/pong/README.rst
  samples/boards/bbc_microbit/pong/prj.conf
  samples/boards/bbc_microbit/pong/sample.yaml
  samples/boards/bbc_microbit/pong/src/ble.c
  samples/boards/bbc_microbit/pong/src/main.c
  samples/boards/bbc_microbit/pong/src/pong.h
  samples/boards/bbc_microbit/sound/CMakeLists.txt
  samples/boards/bbc_microbit/sound/README.rst
  samples/boards/bbc_microbit/sound/prj.conf
  samples/boards/bbc_microbit/sound/sample.yaml
  samples/boards/bbc_microbit/sound/src/main.c
Labels: area: Boards, area: Samples

#10848 drivers: entropy: add Atmel SAM entropy generator driver
  drivers/entropy/CMakeLists.txt
  drivers/entropy/Kconfig
  drivers/entropy/Kconfig.sam
  drivers/entropy/entropy_sam.c
  dts/arm/atmel/same70.dtsi
  dts/bindings/rng/atmel,sam-trng.yaml
  soc/arm/atmel_sam/same70/Kconfig.defconfig.series
  soc/arm/atmel_sam/same70/dts_fixup.h
Labels: ATMEL, Security Review, area: Crypto / RNG

#11378 xtensa: fix dts_fixup.h with new DT_ prefix
  boards/xtensa/intel_s1000_crb/dts_fixup.h
  soc/xtensa/intel_s1000/dts_fixup.h
Labels: Hotfix

#11381 gen_isr_tables: fixes for multi-level handling
  arch/common/gen_isr_tables.py
Labels: Trivial, bug

#11389 intel_s1000: DTS: fix dts_fixup.h with new DT_ prefix for SPI driver
  soc/xtensa/intel_s1000/dts_fixup.h
Labels: Hotfix

#11185 api: uart: Add configure functions for UART.
  include/uart.h
Labels: API, area: UART

#11344 Kernel memdomain fixes
  kernel/mem_domain.c
Labels: Maintainer, area: Kernel, area: Memory Protection, bug, optimization, priority: medium

#11350 spi: sam: Specify pinmux for chipselect via Kconfig
  boards/arm/sam_e70_xplained/Kconfig.defconfig
  boards/arm/sam_e70_xplained/board.h
  drivers/spi/Kconfig.sam
  drivers/spi/spi_sam.c
  soc/arm/atmel_sam/same70/soc_pinmap.h
Labels: ATMEL, area: SPI

#11369 samples: Add explicit zephyr_include_directories to get <board.h>
  samples/bluetooth/mesh_demo/CMakeLists.txt
  samples/boards/bbc_microbit/pong/CMakeLists.txt
  samples/boards/bbc_microbit/sound/CMakeLists.txt
  samples/boards/up_squared/gpio_counter/CMakeLists.txt
Labels: area: Boards

#11403 samples: sockets: Configure correct number of FDs for echo_server
  samples/net/sockets/echo_server/prj.conf
Labels: Trivial, area: Networking

#11412 dts: Remove ifdef CONFIG_FS_FLASH_STORAGE_PARTITION from dts files
  boards/arm/adafruit_feather_m0_basic_proto/adafruit_feather_m0_basic_proto.dts
  boards/arm/adafruit_trinket_m0/adafruit_trinket_m0.dts
  boards/arm/arduino_zero/arduino_zero.dts
  boards/arm/atsamd20_xpro/atsamd20_xpro.dts
  boards/arm/bbc_microbit/bbc_microbit.dts
  boards/arm/frdm_k64f/frdm_k64f.dts
  boards/arm/nrf51_pca10028/nrf51_pca10028.dts
  boards/arm/nrf52810_pca10040/nrf52810_pca10040.dts
  boards/arm/nrf52832_mdk/nrf52832_mdk.dts
  boards/arm/nrf52840_mdk/nrf52840_mdk.dts
  boards/arm/nrf52840_pca10056/nrf52840_pca10056.dts
  boards/arm/nrf52840_pca10059/nrf52840_pca10059.dts
  boards/arm/nrf52_adafruit_feather/nrf52_adafruit_feather.dts
  boards/arm/nrf52_blenano2/nrf52_blenano2.dts
  boards/arm/nrf52_pca10040/nrf52_pca10040.dts
  boards/arm/nrf52_pca20020/nrf52_pca20020.dts
  boards/arm/nrf52_sparkfun/nrf52_sparkfun.dts
  boards/arm/nucleo_l432kc/nucleo_l432kc.dts
  boards/arm/nucleo_l4r5zi/nucleo_l4r5zi.dts
  boards/arm/reel_board/reel_board.dts
  samples/application_development/out_of_tree_board/boards/arm/nrf52840_pca10056/nrf52840_pca10056.dts
Labels: area: Device Tree

#11405 Fix secure sockets after FD table introduction
  subsys/net/lib/sockets/sockets_tls.c
Labels: Trivial, area: Networking

#11433 kernel: Fix type of Z_EXC_HANDLE
  include/exc_handle.h
Labels: Maintainer, bug, priority: medium

#11377 drivers: watchdog: Convert Atmel SAM driver to DTS
  drivers/watchdog/Kconfig.sam
  drivers/watchdog/wdt_sam.c
  soc/arm/atmel_sam/sam3x/dts_fixup.h
  soc/arm/atmel_sam/sam4s/dts_fixup.h
  soc/arm/atmel_sam/same70/dts_fixup.h
Labels: ATMEL, area: Device Tree, area: Watchdog

#11427 dts: i2c: cleanup CONFIG_I2C_x_IRQ_PRI
  boards/x86/up_squared/up_squared_dts_fixup.h
  boards/x86/up_squared/up_squared_sbl_dts_fixup.h
  drivers/i2c/i2c_atmel_sam3.c
  drivers/i2c/i2c_dw.c
  drivers/i2c/i2c_nrfx_twi.c
  drivers/i2c/i2c_nrfx_twim.c
  drivers/i2c/i2c_qmsi.c
  drivers/i2c/i2c_sam_twi.c
  drivers/i2c/i2c_sam_twihs.c
  soc/arc/quark_se_c1000_ss/dts_fixup.h
  soc/arc/snps_emsk/dts_fixup.h
  soc/arm/atmel_sam/sam3x/dts_fixup.h
  soc/arm/atmel_sam/sam4s/dts_fixup.h
  soc/arm/atmel_sam/same70/dts_fixup.h
  soc/arm/nordic_nrf/nrf51/dts_fixup.h
  soc/arm/nordic_nrf/nrf52/dts_fixup.h
  soc/x86/intel_quark/quark_se/dts_fixup.h
  soc/xtensa/intel_s1000/dts_fixup.h
Labels: area: Device Tree, area: I2C

#11429 dts: Fix warning related to invalid alias name
  boards/arm/hexiwear_k64/hexiwear_k64.dts
  boards/nios2/qemu_nios2/qemu_nios2.dts
Labels: area: Device Tree

#11439 dts: added nxp.kinetis-ptp interrupts
  dts/bindings/ethernet/nxp.kinetis-ptp.yaml
  soc/arm/nxp_kinetis/k6x/dts_fixup.h
Labels: area: Ethernet, area: Networking

#11444 dts: atmel: samd: Fix reg address for NVM flash controller
  dts/arm/atmel/samd.dtsi
Labels: ATMEL, area: Device Tree, area: Flash, bug

#11445 dts: riscv: pulpino: Fix warning for itim unit address
  dts/riscv32/pulpino.dtsi
Labels: area: Device Tree, area: RISCv32

#11358 scripts: extract_dts_includes: fix cell name readout from yaml
  scripts/dts/extract_dts_includes.py
Labels: area: Device Tree

#11467 drivers: watchdog: wdt_sam0: Convert Atmel SAM0 driver to the new API
  drivers/watchdog/Kconfig.sam0
  drivers/watchdog/wdt_sam0.c
  soc/arm/atmel_sam0/samd20/dts_fixup.h
  soc/arm/atmel_sam0/samd21/dts_fixup.h
Labels: API, ATMEL, area: Device Tree, area: Watchdog

#11442 drivers: wdog: Update CMSDK Wdog driver
  drivers/watchdog/wdog_cmsdk_apb.c
Labels: area: Watchdog

#11496 shell: fix shell thread name
  include/shell/shell.h
  subsys/shell/shell.c
  subsys/shell/shell_dummy.c
  subsys/shell/shell_rtt.c
  subsys/shell/shell_uart.c
Labels: area: Shell, enhancement

#11493 samples: sockets: Set correct log module name in echo_server
  samples/net/sockets/echo_server/src/tcp.c
  samples/net/sockets/echo_server/src/udp.c
Labels: Trivial, area: Networking

#11277 drivers: serial: Update cc32xx uart interrupt handling
  drivers/serial/uart_cc32xx.c
Labels: area: UART

#11526 doc: subsystems: shell: Documentation fix
  doc/subsystems/shell/shell.rst
Labels: Trivial

#11385 drivers: flash: add flash driver support for Atmel SAM E70
  drivers/flash/CMakeLists.txt
  drivers/flash/Kconfig
  drivers/flash/Kconfig.sam
  drivers/flash/flash_sam.c
  dts/arm/atmel/same70.dtsi
  dts/arm/atmel/same70q21.dtsi
  dts/bindings/flash_controller/atmel,sam-flash-controller.yaml
  soc/arm/atmel_sam/same70/Kconfig.defconfig.series
  soc/arm/atmel_sam/same70/dts_fixup.h
Labels: ATMEL, area: Drivers, area: Flash

#9418 arch: arm: soc: add STM32L471XG series
  dts/arm/st/l4/stm32l471.dtsi
  dts/arm/st/l4/stm32l471Xg.dtsi
  dts/arm/st/l4/stm32l475.dtsi
  soc/arm/st_stm32/stm32l4/Kconfig.defconfig.stm32l471xx
  soc/arm/st_stm32/stm32l4/Kconfig.soc
Labels: STM32

#11542 kconfig: Hide the DesignWare SPI driver on unsupported platforms
  drivers/spi/Kconfig.dw
  soc/arc/quark_se_c1000_ss/Kconfig.soc
  soc/arc/snps_emsk/Kconfig.soc
  soc/x86/intel_quark/quark_d2000/Kconfig.soc
  soc/x86/intel_quark/quark_se/Kconfig.soc
  soc/xtensa/intel_s1000/Kconfig.soc
Labels: Trivial

#10735 drivers: modem: WNCM14A2A select UART_INTERRUPT_DRIVEN
  drivers/modem/Kconfig
Labels: area: Drivers, bug

#11560 drivers: serial: Update more DTS-derived labels with DT_ prefix
  drivers/serial/uart_msp432p4xx.c
Labels: area: Drivers, area: UART

#11066 boards: mimxrt1050_evk: Enable pyocd runner
  boards/arm/mimxrt1050_evk/board.cmake
Labels: NXP

#11559 usb: console: Notify user about incorrect configuration
  samples/subsys/usb/console/src/main.c
Labels: Trivial

#11342 cmake: Align the DT build logs with Kconfig
  cmake/dts.cmake
Labels: Trivial, area: Build System

#11537 scripts: west: be more explicit in copy warning message
  scripts/west
Labels: Trivial

#11518 adc: ti_adc108s102: Remove driver as its bit-rotted
  drivers/adc/CMakeLists.txt
  drivers/adc/Kconfig
  drivers/adc/Kconfig.ti_adc108s102
  drivers/adc/adc_ti_adc108s102.c
Labels: Maintainer

#11573 ext: hal: cmsis: Update ARM CMSIS headers to version 5.4.0
  ext/hal/cmsis/Include/cmsis_armcc.h
  ext/hal/cmsis/Include/cmsis_armclang.h
  ext/hal/cmsis/Include/cmsis_gcc.h
  ext/hal/cmsis/Include/cmsis_iccarm.h
  ext/hal/cmsis/Include/core_armv8mbl.h
  ext/hal/cmsis/Include/core_armv8mml.h
  ext/hal/cmsis/Include/core_cm0.h
  ext/hal/cmsis/Include/core_cm0plus.h
  ext/hal/cmsis/Include/core_cm23.h
  ext/hal/cmsis/Include/core_cm3.h
  ext/hal/cmsis/Include/core_cm33.h
  ext/hal/cmsis/Include/core_cm4.h
  ext/hal/cmsis/Include/core_cm7.h
  ext/hal/cmsis/Include/core_sc000.h
  ext/hal/cmsis/Include/core_sc300.h
  ext/hal/cmsis/Include/mpu_armv7.h
  ext/hal/cmsis/Include/mpu_armv8.h
  ext/hal/cmsis/Include/tz_context.h
  ext/hal/cmsis/README
Labels: EXT, area: ARM

#11582 Cleanup ADC use of CONFIG_ -> DT_
  drivers/adc/Kconfig
  drivers/adc/adc_dw.c
  drivers/adc/adc_intel_quark_d2000.c
  drivers/adc/adc_mcux_adc16.c
  drivers/adc/adc_sam_afec.c
  soc/arc/quark_se_c1000_ss/dts_fixup.h
  soc/arm/atmel_sam/same70/dts_fixup.h
  soc/arm/nxp_kinetis/k6x/dts_fixup.h
  soc/arm/nxp_kinetis/kl2x/dts_fixup.h
  soc/arm/nxp_kinetis/kwx/dts_fixup.h
  soc/x86/intel_quark/quark_d2000/dts_fixup.h
  tests/drivers/adc/adc_api/src/test_adc.c
Labels: area: ADC, area: Device Tree

#11584 adc: remove adc_ti_adc108s102.h
  drivers/adc/adc_ti_adc108s102.h
Labels: Trivial, area: ADC

#11585 arch: suspend CONFIG_SOC's doomsday
  arch/Kconfig
Labels: Trivial

#11361 kernel: ensure System Power Managment enables Tickless Idle.
  doc/subsystems/power_management.rst
  kernel/Kconfig.power_mgmt
  samples/boards/nrf52/power_mgr/prj.conf
  samples/boards/nrf52/power_mgr/prj_tickless.conf
  samples/boards/quark_se_c1000/power_mgr/prj.conf
  samples/boards/quark_se_c1000/power_mgr/prj_tickless.conf
  samples/philosophers/prj_tickless.conf
  samples/subsys/power/power_mgr/prj.conf
  samples/subsys/power/power_mgr/prj_tickless.conf
  tests/kernel/profiling/profiling_api/prj.conf
  tests/kernel/tickless/tickless_concept/prj.conf
  tests/power/multicore/arc/prj.conf
  tests/power/multicore/lmt/prj.conf
  tests/power/power_states/prj.conf
  tests/power/power_states/prj_tickless.conf
Labels: area: Kernel, area: Power Management

#11475 drivers: nrf: Fix nrf uarte fifo_fill function.
  drivers/serial/uart_nrfx_uarte.c
Labels: area: Drivers, bug

#10679 Deprecate RPL
  subsys/net/ip/Kconfig.rpl
  subsys/net/ip/rpl.h
Labels: area: Networking

#11606 drivers: serial: uart_cmsdk_apb: Ack IRQs before callback to avoid races
  drivers/serial/uart_cmsdk_apb.c
Labels: Trivial, area: UART

#11595 shell: Fix log messages queueing for multiple instances
  include/shell/shell_log_backend.h
  subsys/shell/shell_log_backend.c
Labels: area: Logging, area: Shell, bug

#11317 Enable instruction and data caches on SAM E70
  soc/arm/atmel_sam/same70/soc.c
Labels: ATMEL, enhancement

#11610 drivers: ssd1673: fix SPI GPIO CS configuration
  boards/arm/reel_board/dts_fixup.h
  drivers/display/ssd1673.c
Labels: Trivial, area: Display

#11622 Remove __deprecated tag to one RPL function
  subsys/net/ip/rpl.h
Labels: area: Networking

#11507 DTS: ARC: Remove CONFIG_ from ARC EMSK dts files
  boards/arc/em_starterkit/em_starterkit.dts
  boards/arc/em_starterkit/em_starterkit_em11d.dts
  boards/arc/em_starterkit/em_starterkit_em7d.dts
  boards/arc/em_starterkit/em_starterkit_em7d_v22.dts
  boards/arc/em_starterkit/em_starterkit_r22.dtsi
  boards/arc/em_starterkit/em_starterkit_r23.dtsi
  dts/arc/emsk.dtsi
  dts/arc/emsk_dt.h
Labels: area: ARC, area: Device Tree

#11597 usb: add SoF event
  drivers/usb/device/usb_dc_nrfx.c
  include/drivers/usb/usb_dc.h
  samples/subsys/usb/hid/src/main.c
  subsys/usb/Kconfig
  subsys/usb/class/bluetooth.c
  subsys/usb/class/cdc_acm.c
  subsys/usb/class/hid/core.c
  subsys/usb/class/mass_storage.c
  subsys/usb/class/netusb/function_ecm.c
  subsys/usb/class/netusb/function_eem.c
  subsys/usb/class/netusb/function_rndis.c
  subsys/usb/class/usb_dfu.c
Labels: area: USB

#11517 drivers: usb_dc_sam: kill a coverity warning
  drivers/usb/device/usb_dc_sam.c
Labels: ATMEL, Coverity, area: Drivers, area: USB, bug

#11580 drivers: nrf: Support I2C initial speed configuration from dts
  drivers/i2c/i2c_nrfx_twi.c
  drivers/i2c/i2c_nrfx_twim.c
Labels: area: Drivers, nRF

#11638 shell: add a missing space in the help message
  subsys/shell/shell_cmds.c
Labels: Trivial, area: Shell

#11646 kconfig: cmake: Support for images without gaps.
  CMakeLists.txt
  Kconfig.zephyr
Labels: Trivial, area: Build System

#11644 ext: hal: nordic: Import soc/nrfx_coredep.h from nrfx 1.3.1
  ext/hal/nordic/nrfx/soc/nrfx_coredep.h
Labels: Trivial

#11631 dts: intel_s1000: enable DTS for GPIO
  boards/xtensa/intel_s1000_crb/Kconfig.defconfig
  dts/xtensa/intel_s1000.dtsi
  soc/xtensa/intel_s1000/dts_fixup.h
  soc/xtensa/intel_s1000/soc.h
Labels: area: Device Tree, area: Xtensa

#11653 shell: fixing printing macros
  include/shell/shell.h
Labels: Trivial, area: Shell, bug

#11691 doc: fix broken link in upsquared board doc
  boards/x86/up_squared/doc/up_squared.rst
Labels: Trivial

#11692 arch: arm: fix the convenience macro for ARMv7-M MPU
  include/arch/arm/cortex_m/mpu/arm_mpu_v7m.h
Labels: area: ARM, bug, priority: medium

#11466 samples: drivers: watchdog: enable debug logging
  samples/drivers/watchdog/prj.conf
Labels: area: Samples, area: Watchdog

#11685 shell: fix make_argv function
  subsys/shell/shell_utils.c
Labels: area: Shell, bug, priority: low

#11538 net: llmnr_responder: Check return value of net_udp_get_hdr
  subsys/net/lib/dns/llmnr_responder.c
Labels: area: Networking

#11710 boards: qemu_x86: Remove QEMU option which break eth_e1000 driver
  boards/x86/qemu_x86/board.cmake
Labels: area: Ethernet, area: Networking, area: QEMU

#11643 c++: kconfig: EXCEPTIONS needs to depend on NEWLIB_LIBC
  subsys/cpp/Kconfig
Labels: Trivial, area: Build System, area: C Library

#11663 drivers: modem: wncm14a2a: remove socket_reading logic
  drivers/modem/wncm14a2a.c
Labels: area: Drivers, bug

#11708 shell: fix double new line print for RTT backend
  include/shell/shell.h
  subsys/shell/shell.c
Labels: area: Shell, bug

#11577 drivers: nrf: Add UART and UARTE configure function.
  drivers/serial/uart_nrfx_uart.c
  drivers/serial/uart_nrfx_uarte.c
Labels: area: Drivers, area: UART, nRF

#11690 soc: silabs_exx32: remove pinmap dependency on part number
  soc/arm/silabs_exx32/efm32hg/soc_pinmap.h
  soc/arm/silabs_exx32/efm32pg12b/soc_pinmap.h
  soc/arm/silabs_exx32/efm32wg/soc_pinmap.h
  soc/arm/silabs_exx32/efr32fg1p/soc_pinmap.h
  soc/arm/silabs_exx32/efr32mg12p/soc_pinmap.h
Labels: SiLabs

#11734 Bluetooth: Mesh: Fix matching for all elements of an LPN
  subsys/bluetooth/host/mesh/friend.c
  subsys/bluetooth/host/mesh/net.h
Labels: area: Bluetooth

#11730 samples: net: Fix zperf build issue
  samples/net/zperf/src/zperf_tcp_receiver.c
Labels: area: Networking

#11761 samples: net: zperf: Allow to build with IPv4 or IPv6 only
  samples/net/zperf/src/zperf_shell.c
Labels: area: Networking

#11747 drivers: timer: nrf_rtc_timer: fix handling for 24-bit counter
  drivers/timer/nrf_rtc_timer.c
Labels: Maintainer, bug, priority: high
