Repository zephyrproject-rtos/zephyr, pull requests merged in 2018-09, with the labels that each got.

#9759 doc: settings: fix inline sample code
  doc/subsystems/settings/settings.rst
Labels: area: Documentation

#9760 Bluetooth: Mesh: Fix checking for subnet when recovering App Key
  subsys/bluetooth/host/mesh/settings.c
Labels: area: Bluetooth

#9773 doc: relnotes-1.13: Condense/cleanup networking section
  doc/release-notes-1.13.rst
Labels: area: Networking

#9771 doc: fix minor typo in clock.rst
  doc/kernel/timing/clocks.rst
Labels: area: Documentation, priority: low

#9780 samples: net: coap: Remove apps using raw mbedtls APIs
  doc/subsystems/networking/overview.rst
  samples/net/coaps_client/CMakeLists.txt
  samples/net/coaps_client/README.rst
  samples/net/coaps_client/prj.conf
  samples/net/coaps_client/sample.yaml
  samples/net/coaps_client/src/coaps_client.c
  samples/net/coaps_client/src/udp.c
  samples/net/coaps_client/src/udp.h
  samples/net/coaps_client/src/udp_cfg.h
  samples/net/coaps_server/CMakeLists.txt
  samples/net/coaps_server/README.rst
  samples/net/coaps_server/prj.conf
  samples/net/coaps_server/sample.yaml
  samples/net/coaps_server/src/coaps_server.c
  samples/net/coaps_server/src/udp.c
  samples/net/coaps_server/src/udp.h
  samples/net/coaps_server/src/udp_cfg.h
Labels: area: Networking

#9658 usb: device: nrf5: Fix HF clock enable check
  drivers/usb/device/usb_dc_nrf5.c
Labels: area: USB, bug, nRF

#9804 net: fix return type of net_addr_type2str
  include/net/net_ip.h
Labels: area: Networking

#9764 cmake: Don't use the environment variable CFLAGS
  cmake/toolchain.cmake
  doc/getting_started/installation_linux.rst
Labels: area: Build System, priority: medium

#9824 net: gptp: Set stack size correctly for handler thread
  subsys/net/l2/ethernet/gptp/gptp.c
Labels: area: Networking

#9805 scripts: dts: extract: Fix handling of interrupt prop being a list of…
  scripts/dts/extract/interrupts.py
Labels: area: Device Tree

#9817 net: net_addr_ntop: Clarify docstring
  include/net/net_ip.h
Labels: area: Documentation, area: Networking

#9847 Doc armv8m specifics in 1.13 release notes
  doc/release-notes-1.13.rst
Labels: area: Documentation

#9835 bluetooth: mesh: Fix incorrect reference to BT_SETTINGS
  subsys/bluetooth/host/mesh/cfg_srv.c
Labels: area: Bluetooth

#9848 Bluetooth: GATT: Auto init if bt_gatt_service_register is called
  subsys/bluetooth/host/gatt.c
Labels: area: Bluetooth, bug

#9869 net: config: Use sizeof() to get size of buffer for net_addr_ntop()
  subsys/net/lib/config/init.c
Labels: area: Networking

#9850 net: Add INET_ADDRSTRLEN POSIX define
  include/net/net_ip.h
Labels: area: Networking

#9865 arm: Clear primask during startup for all architecture variants
  arch/arm/include/kernel_arch_func.h
Labels: area: ARM, bug

#9902 net/pkt: Rename link layer address accessors relevantly
  include/net/net_pkt.h
  subsys/net/ip/6lo.c
  subsys/net/ip/icmpv4.c
  subsys/net/ip/icmpv6.c
  subsys/net/ip/ipv6_nbr.c
  subsys/net/ip/net_if.c
  subsys/net/ip/route.c
  subsys/net/ip/rpl.c
  subsys/net/ip/tcp.c
  subsys/net/l2/bluetooth/bluetooth.c
  subsys/net/l2/dummy/dummy.c
  subsys/net/l2/ethernet/arp.c
  subsys/net/l2/ethernet/ethernet.c
  subsys/net/l2/ethernet/lldp/lldp.c
  subsys/net/l2/ieee802154/ieee802154.c
  subsys/net/l2/ieee802154/ieee802154_frame.c
  tests/net/6lo/src/main.c
  tests/net/rpl/src/main.c
Labels: area: Networking

#9919 arch: arm: correct placement of macro documentation
  include/arch/arm/arch.h
Labels: area: ARM

#9863 dts: stm32f429vX: Fix delete-node syntax
  dts/arm/st/stm32f429vX.dtsi
Labels: STM32, area: Device Tree, bug

#9579 boards: add usb to stm32f4_disco
  boards/arm/stm32f4_disco/doc/stm32f4_disco.rst
  boards/arm/stm32f4_disco/stm32f4_disco.dts
  boards/arm/stm32f4_disco/stm32f4_disco.yaml
Labels: STM32, area: USB

#9694 boards: nrf: uart: Moved UART pin configuration to DTS (nRF boards)
  arch/arm/soc/nordic_nrf/nrf51/dts.fixup
  arch/arm/soc/nordic_nrf/nrf52/dts.fixup
  boards/arm/96b_carbon_nrf51/96b_carbon_nrf51.dts
  boards/arm/96b_carbon_nrf51/96b_carbon_nrf51_defconfig
  boards/arm/96b_nitrogen/96b_nitrogen.dts
  boards/arm/96b_nitrogen/Kconfig.defconfig
  boards/arm/bbc_microbit/Kconfig.defconfig
  boards/arm/bbc_microbit/bbc_microbit.dts
  boards/arm/curie_ble/Kconfig.defconfig
  boards/arm/curie_ble/curie_ble.dts
  boards/arm/nrf51_ble400/Kconfig.defconfig
  boards/arm/nrf51_ble400/nrf51_ble400.dts
  boards/arm/nrf51_blenano/Kconfig.defconfig
  boards/arm/nrf51_blenano/nrf51_blenano.dts
  boards/arm/nrf51_pca10028/Kconfig.defconfig
  boards/arm/nrf51_pca10028/nrf51_pca10028.dts
  boards/arm/nrf51_vbluno51/Kconfig.defconfig
  boards/arm/nrf51_vbluno51/nrf51_vbluno51.dts
  boards/arm/nrf52810_pca10040/Kconfig.defconfig
  boards/arm/nrf52810_pca10040/nrf52810_pca10040.dts
  boards/arm/nrf52840_pca10056/Kconfig.defconfig
  boards/arm/nrf52840_pca10056/nrf52840_pca10056.dts
  boards/arm/nrf52840_pca10059/Kconfig.defconfig
  boards/arm/nrf52840_pca10059/nrf52840_pca10059.dts
  boards/arm/nrf52_adafruit_feather/Kconfig.defconfig
  boards/arm/nrf52_adafruit_feather/nrf52_adafruit_feather.dts
  boards/arm/nrf52_blenano2/Kconfig.defconfig
  boards/arm/nrf52_blenano2/nrf52_blenano2.dts
  boards/arm/nrf52_pca10040/Kconfig.defconfig
  boards/arm/nrf52_pca10040/nrf52_pca10040.dts
  boards/arm/nrf52_pca20020/Kconfig.defconfig
  boards/arm/nrf52_pca20020/nrf52_pca20020.dts
  boards/arm/nrf52_sparkfun/Kconfig.defconfig
  boards/arm/nrf52_sparkfun/nrf52_sparkfun.dts
  boards/arm/nrf52_vbluno52/Kconfig.defconfig
  boards/arm/nrf52_vbluno52/nrf52_vbluno52.dts
  boards/arm/quark_se_c1000_ble/Kconfig.defconfig
  boards/arm/quark_se_c1000_ble/quark_se_c1000_ble.dts
  boards/arm/reel_board/Kconfig.defconfig
  boards/arm/reel_board/reel_board.dts
  drivers/serial/Kconfig.nrfx
  drivers/serial/uart_nrfx_uart.c
  drivers/serial/uart_nrfx_uarte.c
  dts/bindings/serial/nordic,nrf-uart.yaml
  dts/bindings/serial/nordic,nrf-uarte.yaml
  samples/application_development/out_of_tree_board/boards/arm/nrf52840_pca10056/Kconfig.defconfig
  samples/application_development/out_of_tree_board/boards/arm/nrf52840_pca10056/nrf52840_pca10056.dts
Labels: area: Device Tree, nRF

#9339 dts: bindings: consolidate binding for flash controller
  dts/bindings/flash_controller/atmel,sam0-nvmctrl.yaml
  dts/bindings/flash_controller/flash-controller.yaml
  dts/bindings/flash_controller/nordic,nrf51-flash-controller.yaml
  dts/bindings/flash_controller/nordic,nrf52-flash-controller.yaml
  dts/bindings/flash_controller/nxp,kinetis-ftfa.yaml
  dts/bindings/flash_controller/nxp,kinetis-ftfe.yaml
  dts/bindings/flash_controller/nxp,kinetis-ftfl.yaml
  dts/bindings/flash_controller/st,stm32f0-flash-controller.yaml
  dts/bindings/flash_controller/st,stm32f3-flash-controller.yaml
  dts/bindings/flash_controller/st,stm32f4-flash-controller.yaml
  dts/bindings/flash_controller/st,stm32l4-flash-controller.yaml
Labels: area: Device Tree

#9320 Bluetooth: controller: Use nRFx functions for PPI reg
  subsys/bluetooth/controller/hal/nrf5/radio/radio.c
  subsys/bluetooth/controller/hal/nrf5/radio/radio_nrf5_ppi.h
Labels: area: Bluetooth

#9939 Udp cleanup
  subsys/net/ip/net_core.c
  subsys/net/ip/udp.c
  subsys/net/ip/udp_internal.h
Labels: area: Networking

#9957 net/udp: Separating net_context from udp and other cleanup
  subsys/net/ip/net_context.c
  subsys/net/ip/udp.c
  subsys/net/ip/udp_internal.h
Labels: area: Networking

#9959 cmake: Add zephyr base address when looking file into soc/
  CMakeLists.txt
Labels: bug, priority: high

#9923 libc: minimal: Add sys/fcntl.h enough to compile net/lib/sockets
  lib/libc/minimal/include/sys/fcntl.h
Labels: area: C Library, area: Networking

#9981 net: tls: Add missing entropy header in sockets_tls.c
  subsys/net/lib/sockets/sockets_tls.c
Labels: area: Networking

#9211 logging: Refactor log_output module
  include/logging/log_output.h
  subsys/logging/log_backend_uart.c
  subsys/logging/log_output.c
Labels: area: Logging

#9980 dts/st: enables possibility to define Flash and SRAM out of tree
  dts/arm/st/mem.h
Labels: STM32, area: Device Tree, area: Out Of Tree Port

#9958 arch: arm: remove power-of-two align and size requirement for ARMv8-m
  arch/arm/core/cortex_m/mpu/Kconfig
Labels: area: ARM, area: Memory Protection

#9985 net: tls: Fix mbedtls hostname erros when certificates are not used
  subsys/net/lib/sockets/sockets_tls.c
Labels: area: Networking

#10004 Bluetooth: Fix identity creation through vendor HCI
  subsys/bluetooth/host/hci_core.c
Labels: area: Bluetooth

#10033 Bluetooth: SMP: Remove bogus ARG_UNUSED() macro
  subsys/bluetooth/host/smp.c
Labels: area: Bluetooth

#10020 Bluetooth: GATT: Use BT_GATT_DESCRIPTOR() for descriptors
  include/bluetooth/gatt.h
Labels: area: Bluetooth

#10046 Bluetooth: GATT: Fix const'ness of characteristic descriptor data
  include/bluetooth/gatt.h
  subsys/bluetooth/host/gatt.c
Labels: area: Bluetooth

#10062 dts: Cleanup warnings associated with unit_address_format and leading 0s
  dts/x86/atom.dtsi
  dts/x86/ia32.dtsi
  soc/x86/atom/dts.fixup
  soc/x86/ia32/dts.fixup
Labels: area: Device Tree

#10063 dts: Cleanup warnings associated with alias_paths using '-'
  boards/nios2/altera_max10/altera_max10.dts
  boards/nios2/qemu_nios2/qemu_nios2.dts
  boards/riscv32/qemu_riscv32/qemu_riscv32.dts
Labels: area: Device Tree, area: NIOS2, area: RISCv32

#10066 dts: Cleanup warnings associated with gpio_keys that aren't buttons
  boards/arm/colibri_imx7d_m4/colibri_imx7d_m4.dts
  boards/arm/stm32f072_eval/stm32f072_eval.dts
  boards/arm/stm32f412g_disco/stm32f412g_disco.dts
  boards/arm/stm32l476g_disco/stm32l476g_disco.dts
  boards/arm/stm32l496g_disco/stm32l496g_disco.dts
  boards/arm/warp7_m4/warp7_m4.dts
Labels: NXP, STM32, area: Device Tree

#10067 dts: Cleanup warnings associated with interrupt controller nodes
  boards/arc/nsim_em/nsim_em.dts
  dts/arc/emsk.dtsi
  dts/arc/quark_se_c1000_ss.dtsi
  dts/x86/intel_quark_d2000.dtsi
Labels: area: ARC, area: Device Tree

#10064 dts: Cleanup warnings associated with unit_address_vs_reg and cpu node
  boards/arm/mps2_an385/mps2_an385.dts
  boards/arm/v2m_beetle/v2m_beetle.dts
  dts/arm/silabs/efm32wg.dtsi
  dts/arm/silabs/efr32fg1p.dtsi
  dts/arm/ti/msp432p4xx.dtsi
Labels: area: Device Tree

#10065 dts: Cleanup warnings associated with flash and memory nodes
  boards/arm/mps2_an385/mps2_an385.dts
  boards/arm/v2m_beetle/v2m_beetle.dts
  dts/arm/silabs/efm32wg.dtsi
  dts/arm/silabs/efm32wg990f256.dtsi
  dts/arm/silabs/efr32fg1p.dtsi
  dts/arm/silabs/efr32fg1p133f256gm48.dtsi
  dts/arm/ti/msp432p401r.dtsi
  dts/arm/ti/msp432p4xx.dtsi
Labels: area: Device Tree

#10068 dts: Cleanup warnings associated with unit_address_vs_reg on intel_curie
  dts/x86/intel_curie.dtsi
Labels: area: Device Tree, area: X86

#10070 dts/arm/st: Fix dtc warning in stm32 *-pinctrl.dtsi files
  dts/arm/st/stm32f0-pinctrl.dtsi
  dts/arm/st/stm32f1-pinctrl.dtsi
  dts/arm/st/stm32f2-pinctrl.dtsi
  dts/arm/st/stm32f3-pinctrl.dtsi
  dts/arm/st/stm32f4-pinctrl.dtsi
  dts/arm/st/stm32f405-pinctrl.dtsi
  dts/arm/st/stm32f412-pinctrl.dtsi
  dts/arm/st/stm32f413-pinctrl.dtsi
  dts/arm/st/stm32f7-pinctrl.dtsi
  dts/arm/st/stm32l0-pinctrl.dtsi
  dts/arm/st/stm32l4-pinctrl.dtsi
Labels: STM32

#10082 dts/arm/st: Add missing properties to stm32f2 fash controller node
  dts/arm/st/stm32f2.dtsi
  dts/bindings/flash_controller/st,stm32f2-flash-controller.yaml
Labels: STM32, area: Device Tree

#10052 mDNS fixes
  subsys/net/lib/dns/mdns_responder.c
Labels: area: Networking

#10100 subsys: logging: native_posix: Fixed output buffer size
  subsys/logging/log_backend_native_posix.c
Labels: area: Logging, area: native port

#9934 arm: __reset: Use BL instead of B to jump to _PrepC
  arch/arm/core/cortex_m/reset.S
Labels: area: ARM

#9982 dts/bindings: document use of value 'use-prop-name'
  dts/bindings/device_node.yaml.template
Labels: area: Device Tree

#10124 boards: arm: dts: remove unnecessary interrupt flag
  boards/arm/frdm_k64f/frdm_k64f.dts
  boards/arm/frdm_kl25z/frdm_kl25z.dts
  boards/arm/frdm_kw41z/frdm_kw41z.dts
  boards/arm/hexiwear_k64/hexiwear_k64.dts
  boards/arm/lpcxpresso54114_m0/lpcxpresso54114_m0.dts
  boards/arm/lpcxpresso54114_m4/lpcxpresso54114_m4.dts
  boards/arm/mimxrt1050_evk/mimxrt1050_evk.dts
  boards/arm/udoo_neo_full_m4/udoo_neo_full_m4.dts
  boards/arm/usb_kw24d512/usb_kw24d512.dts
Labels: area: Device Tree, area: GPIO

#10135 boards/arm: Fix button dts syntax for stm32 based boards
  boards/arm/96b_argonkey/96b_argonkey.dts
  boards/arm/96b_carbon/96b_carbon.dts
  boards/arm/nucleo_f030r8/nucleo_f030r8.dts
  boards/arm/nucleo_f070rb/nucleo_f070rb.dts
  boards/arm/nucleo_f091rc/nucleo_f091rc.dts
  boards/arm/nucleo_f103rb/nucleo_f103rb.dts
  boards/arm/nucleo_f207zg/nucleo_f207zg.dts
  boards/arm/nucleo_f334r8/nucleo_f334r8.dts
  boards/arm/nucleo_f401re/nucleo_f401re.dts
  boards/arm/nucleo_f411re/nucleo_f411re.dts
  boards/arm/nucleo_f412zg/nucleo_f412zg.dts
  boards/arm/nucleo_f413zh/nucleo_f413zh.dts
  boards/arm/nucleo_f429zi/nucleo_f429zi.dts
  boards/arm/nucleo_f446re/nucleo_f446re.dts
  boards/arm/nucleo_l053r8/nucleo_l053r8.dts
  boards/arm/nucleo_l073rz/nucleo_l073rz.dts
  boards/arm/nucleo_l476rg/nucleo_l476rg.dts
  boards/arm/olimex_stm32_e407/olimex_stm32_e407.dts
  boards/arm/olimex_stm32_h407/olimex_stm32_h407.dts
  boards/arm/olimex_stm32_p405/olimex_stm32_p405.dts
  boards/arm/olimexino_stm32/olimexino_stm32.dts
  boards/arm/stm3210c_eval/stm3210c_eval.dts
  boards/arm/stm32373c_eval/stm32373c_eval.dts
  boards/arm/stm32f072b_disco/stm32f072b_disco.dts
  boards/arm/stm32f0_disco/stm32f0_disco.dts
  boards/arm/stm32f3_disco/stm32f3_disco.dts
  boards/arm/stm32f411e_disco/stm32f411e_disco.dts
  boards/arm/stm32f429i_disc1/stm32f429i_disc1.dts
  boards/arm/stm32f469i_disco/stm32f469i_disco.dts
  boards/arm/stm32f4_disco/stm32f4_disco.dts
  boards/arm/stm32f723e_disco/stm32f723e_disco.dts
  boards/arm/stm32f746g_disco/stm32f746g_disco.dts
  boards/arm/stm32f769i_disco/stm32f769i_disco.dts
Labels: STM32, area: Device Tree

#10109 dts: nrf: Expand nRF DTS to support ARM TrustZone CryptoCell 310
  dts/arm/nordic/nrf52840.dtsi
  dts/bindings/crypto/arm,cryptocell-310.yaml
  dts/bindings/crypto/nordic,nrf-cc310.yaml
  soc/arm/nordic_nrf/nrf52/dts.fixup
Labels: area: Device Tree, nRF

#10111 drivers: flash: nrf5: Use faster write interval with BT sync
  drivers/flash/soc_flash_nrf.c
Labels: area: Bluetooth, nRF

#10144 Network Coverity fixes
  subsys/net/ip/route.c
Labels: area: Networking

#10162 Bluetooth: samples/peripheral_sc_only: Improve logging
  samples/bluetooth/peripheral_sc_only/prj.conf
  samples/bluetooth/peripheral_sc_only/src/main.c
Labels: area: Bluetooth

#10172 subsys: logger: fix merge error
  subsys/logging/CMakeLists.txt
Labels: area: Logging, area: native port, bug, priority: high

#10128 Bluetooth: Add API to iterate through existing bonds
  include/bluetooth/bluetooth.h
  subsys/bluetooth/host/keys.c
Labels: area: Bluetooth, feature

#10171 ext: hal: nrfx: Update README after upgrading to version 1.3.0
  ext/hal/nordic/nrfx/README
Labels: EXT, nRF

#9995 boards: arm: nrf52840_pca10056: Fix typo
  boards/arm/nrf52840_pca10056/Kconfig.defconfig
Labels: nRF

#10202 Shell assert change
  include/shell/shell.h
  subsys/shell/shell.c
  subsys/shell/shell_wildcard.c
Labels: area: Shell

#10071 boards: dts: Fix dtc led warning in stm32 board dts files
  boards/arm/96b_carbon/96b_carbon.dts
  boards/arm/96b_neonkey/96b_neonkey.dts
  boards/arm/disco_l475_iot1/disco_l475_iot1.dts
  boards/arm/nucleo_f030r8/nucleo_f030r8.dts
  boards/arm/nucleo_f070rb/nucleo_f070rb.dts
  boards/arm/nucleo_f091rc/nucleo_f091rc.dts
  boards/arm/nucleo_f103rb/nucleo_f103rb.dts
  boards/arm/nucleo_f207zg/nucleo_f207zg.dts
  boards/arm/nucleo_f334r8/nucleo_f334r8.dts
  boards/arm/nucleo_f401re/nucleo_f401re.dts
  boards/arm/nucleo_f411re/nucleo_f411re.dts
  boards/arm/nucleo_f412zg/nucleo_f412zg.dts
  boards/arm/nucleo_f413zh/nucleo_f413zh.dts
  boards/arm/nucleo_f429zi/nucleo_f429zi.dts
  boards/arm/nucleo_f446re/nucleo_f446re.dts
  boards/arm/nucleo_l053r8/nucleo_l053r8.dts
  boards/arm/nucleo_l073rz/nucleo_l073rz.dts
  boards/arm/nucleo_l476rg/nucleo_l476rg.dts
  boards/arm/olimex_stm32_e407/olimex_stm32_e407.dts
  boards/arm/olimex_stm32_h407/olimex_stm32_h407.dts
  boards/arm/olimex_stm32_p405/olimex_stm32_p405.dts
  boards/arm/olimexino_stm32/olimexino_stm32.dts
  boards/arm/stm3210c_eval/stm3210c_eval.dts
  boards/arm/stm32373c_eval/stm32373c_eval.dts
  boards/arm/stm32_min_dev/stm32_min_dev.dts
  boards/arm/stm32f072_eval/stm32f072_eval.dts
  boards/arm/stm32f072b_disco/stm32f072b_disco.dts
  boards/arm/stm32f0_disco/stm32f0_disco.dts
  boards/arm/stm32f3_disco/stm32f3_disco.dts
  boards/arm/stm32f411e_disco/stm32f411e_disco.dts
  boards/arm/stm32f412g_disco/stm32f412g_disco.dts
  boards/arm/stm32f429i_disc1/stm32f429i_disc1.dts
  boards/arm/stm32f469i_disco/stm32f469i_disco.dts
  boards/arm/stm32f4_disco/stm32f4_disco.dts
  boards/arm/stm32f723e_disco/stm32f723e_disco.dts
  boards/arm/stm32f746g_disco/stm32f746g_disco.dts
  boards/arm/stm32f769i_disco/stm32f769i_disco.dts
  boards/arm/stm32l476g_disco/stm32l476g_disco.dts
  boards/arm/stm32l496g_disco/stm32l496g_disco.dts
Labels: STM32

#10214 subsys: ipv6: set pkt properties prior routing
  subsys/net/ip/ipv6.c
Labels: area: Networking

#10218 drivers: ethernet: native: Fix compile issue in RedHat 7
  drivers/ethernet/CMakeLists.txt
  drivers/ethernet/eth_native_posix_adapt.c
Labels: area: Ethernet, area: Networking, area: native port

#10238 samples: sockets: echo_client/server: Build for minimal libc
  samples/net/sockets/echo_client/prj.conf
  samples/net/sockets/echo_server/prj.conf
Labels: area: Networking

#10237 net: sockets: Add missing POLLERR definition
  include/net/socket.h
Labels: area: Networking

#10211 samples: net: sockets: Update docs with TLS information
  samples/net/sockets/big_http_download/README.rst
  samples/net/sockets/echo_client/README.rst
  samples/net/sockets/echo_server/README.rst
  samples/net/sockets/http_get/README.rst
Labels: area: Networking

#10246 include/logging: Avoid subtraction on void pointers
  include/logging/log_core.h
Labels: area: Logging

#10224 dts: arm: st: Remove use of CONFIG_SOC_* from STM32 F0 dts files
  boards/arm/nucleo_f030r8/nucleo_f030r8.dts
  boards/arm/nucleo_f070rb/nucleo_f070rb.dts
  boards/arm/nucleo_f091rc/nucleo_f091rc.dts
  boards/arm/stm32f072_eval/stm32f072_eval.dts
  boards/arm/stm32f072b_disco/stm32f072b_disco.dts
  boards/arm/stm32f0_disco/stm32f0_disco.dts
  dts/arm/st/f0/stm32f0-pinctrl.dtsi
  dts/arm/st/f0/stm32f0.dtsi
  dts/arm/st/f0/stm32f030.dtsi
  dts/arm/st/f0/stm32f030X8.dtsi
  dts/arm/st/f0/stm32f030Xc.dtsi
  dts/arm/st/f0/stm32f051.dtsi
  dts/arm/st/f0/stm32f051X8.dtsi
  dts/arm/st/f0/stm32f070.dtsi
  dts/arm/st/f0/stm32f070Xb.dtsi
  dts/arm/st/f0/stm32f072.dtsi
  dts/arm/st/f0/stm32f072Xb.dtsi
  dts/arm/st/f0/stm32f091.dtsi
  dts/arm/st/f0/stm32f091Xc.dtsi
Labels: STM32, area: Device Tree

#10263 Arch arm reorg mpu region types
  include/arch/arm/cortex_m/mpu/arm_core_mpu_dev.h
  include/kernel.h
Labels: area: ARM, area: Memory Protection

#10259 dts: arm: st: Remove use of CONFIG_SOC_* from STM32 F1 dts files
  boards/arm/nucleo_f103rb/nucleo_f103rb.dts
  boards/arm/olimexino_stm32/olimexino_stm32.dts
  boards/arm/stm3210c_eval/stm3210c_eval.dts
  boards/arm/stm32_min_dev/stm32_min_dev.dts
  boards/arm/stm32_mini_a15/stm32_mini_a15.dts
  dts/arm/st/f1/stm32f1-pinctrl.dtsi
  dts/arm/st/f1/stm32f1.dtsi
  dts/arm/st/f1/stm32f103X8.dtsi
  dts/arm/st/f1/stm32f103Xb.dtsi
  dts/arm/st/f1/stm32f103Xe.dtsi
  dts/arm/st/f1/stm32f107.dtsi
  dts/arm/st/f1/stm32f107Xc.dtsi
Labels: STM32, area: Device Tree

#10257 net: Remove s_addr/s6_addr defines from in_addr/in6_addr
  include/net/net_ip.h
Labels: area: Networking

#10226 net: coap: Fix Coap coap_option_value_to_int and coap_append_option_int
  subsys/net/lib/coap/coap.c
Labels: area: Networking

#10290 ext: hal: nordic: Update nrfx to version 1.3.1
  ext/hal/nordic/nrfx/README
  ext/hal/nordic/nrfx/drivers/include/nrfx_nfct.h
  ext/hal/nordic/nrfx/drivers/include/nrfx_usbd.h
  ext/hal/nordic/nrfx/drivers/src/nrfx_nfct.c
  ext/hal/nordic/nrfx/drivers/src/nrfx_usbd.c
Labels: EXT, nRF

#10216 doc: subsystems: shell: Add documentation.
  doc/api/api.rst
  doc/api/shell_api.rst
  doc/subsystems/shell.rst
  doc/subsystems/shell/images/dynamic_cmd.PNG
  doc/subsystems/shell/images/static_cmd.PNG
  doc/subsystems/shell/images/wildcard.png
  doc/subsystems/shell/shell.rst
  doc/subsystems/subsystems.rst
  include/shell/shell.h
Labels: area: Documentation, area: Shell
