Repository zephyrproject-rtos/zephyr, pull requests merged in 2018-12, with the labels that each got.

#11785 drivers: i2c: fix build break for nrfx_twi* with newlib
  drivers/i2c/i2c_nrfx_twi.c
  drivers/i2c/i2c_nrfx_twim.c
Labels: bug

#11781 arm: nRF5x: select ENTROPY_NRF5_RNG if ENTROPY_GENERATOR is enabled
  soc/arm/nordic_nrf/Kconfig.defconfig
Labels: area: Crypto / RNG, area: Drivers, nRF

#11639 drivers: usb_dc_sam: add support for SoF event
  drivers/usb/device/usb_dc_sam.c
Labels: ATMEL, area: Drivers, area: USB

#11553 logging: Fix RTT backend being enabled with shell RTT
  subsys/logging/Kconfig
Labels: Trivial

#10926 soc: Kconfig: Add BPROT and MPU to list of supported HW.
  soc/arm/nordic_nrf/Kconfig.peripherals
  soc/arm/nordic_nrf/nrf51/Kconfig.soc
  soc/arm/nordic_nrf/nrf52/Kconfig.soc
Labels: Trivial, nRF

#11805 samples: net: zperf: Remove invalid forever sleep
  samples/net/zperf/src/zperf_tcp_receiver.c
  samples/net/zperf/src/zperf_udp_receiver.c
Labels: area: Networking

#11199 kernel: Add a "nocache" read-write memory section
  arch/Kconfig
  arch/arm/core/Kconfig
  arch/arm/core/cortex_m/mpu/arm_mpu.c
  arch/arm/core/cortex_m/mpu/arm_mpu_v7_internal.h
  include/arch/arm/cortex_m/mpu/arm_core_mpu_dev.h
  include/arch/arm/cortex_m/scripts/linker.ld
  include/linker/linker-defs.h
  include/linker/section_tags.h
  include/linker/sections.h
Labels: Maintainer, area: ARM, area: Memory Protection

#11818 kernel: update documentation referencing old init levels
  doc/devices/drivers/drivers.rst
  include/device.h
Labels: Trivial

#11819 kernel: add note in device.h
  include/device.h
Labels: Trivial

#11824 ci: PULL_REQUEST is reserved, use something else
  scripts/ci/run_ci.sh
Labels: Hotfix

#11830 samples: net: zperf: Refactor zperf_*_receiver_init
  samples/net/zperf/src/zperf_internal.h
  samples/net/zperf/src/zperf_shell.c
  samples/net/zperf/src/zperf_tcp_receiver.c
  samples/net/zperf/src/zperf_udp_receiver.c
Labels: area: Networking

#11831 ext: segger: Use system include directive for configuration header.
  ext/debug/segger/rtt/SEGGER_RTT.h
  ext/debug/segger/rtt/SEGGER_RTT_printf.c
Labels: Trivial

#11813 ext: debug: segger: Add missing include directories
  ext/debug/segger/CMakeLists.txt
Labels: Trivial

#11836 drivers: usb: nordic: Fix class/vendor request handling
  drivers/usb/device/usb_dc_nrfx.c
Labels: Trivial

#11835 net: gptp: Replace calls to power function with pre-computed values
  include/net/gptp.h
  subsys/net/l2/ethernet/gptp/gptp_md.c
  subsys/net/l2/ethernet/gptp/gptp_mi.c
Labels: area: Networking

#11733 arch: arm: Add symbol for flash used
  include/arch/arm/cortex_m/scripts/linker.ld
  include/linker/linker-defs.h
Labels: area: ARM

#11687 cmake: Move declarations up.
  CMakeLists.txt
Labels: Trivial, area: Build System

#11543 Add STM32L433 dtsi file
  dts/arm/st/l4/stm32l4.dtsi
  dts/arm/st/l4/stm32l433.dtsi
  dts/arm/st/l4/stm32l471.dtsi
  dts/arm/st/l4/stm32l4r5.dtsi
Labels: STM32

#11838 logging: Fix log_core initialization
  subsys/logging/log_core.c
Labels: Hotfix, priority: high

#11842 drivers: clock_control: Enable LFSTARTED event for nrf5
  drivers/clock_control/nrf5_power_clock.c
Labels: Hotfix, priority: high

#11746 dts: bindings: Add binding for ADXL372 using SPI
  dts/bindings/sensor/adi,adxl372-spi.yaml
Labels: area: Device Tree

#11623 drivers/pwm: stm32: Use device tree for clocks and base address config
  drivers/pwm/pwm_stm32.c
  soc/arm/st_stm32/stm32f0/dts_fixup.h
  soc/arm/st_stm32/stm32f1/dts_fixup.h
  soc/arm/st_stm32/stm32f3/dts_fixup.h
  soc/arm/st_stm32/stm32f4/dts_fixup.h
  soc/arm/st_stm32/stm32f7/dts_fixup.h
  soc/arm/st_stm32/stm32l4/dts_fixup.h
Labels: STM32

#10925 cmake: flash: scripts: Include externally built hex files.
  CMakeLists.txt
  cmake/flash/CMakeLists.txt
  doc/application/application.rst
  scripts/mergehex.py
  scripts/requirements.txt
Labels: area: Build System

#11846 include: adc: Fix async ADC API documentation
  include/adc.h
Labels: area: ADC

#11802 usb: hid: idle rate
  include/usb/class/usb_hid.h
  include/usb/usb_common.h
  samples/subsys/usb/hid/src/main.c
  subsys/usb/class/hid/Kconfig
  subsys/usb/class/hid/core.c
Labels: area: USB

#11855 scripts: extract_dts_includes: Fix DeprecationWarning
  scripts/dts/extract_dts_includes.py
Labels: area: Device Tree

#11862 shell: Fix thread priority
  subsys/shell/Kconfig
  subsys/shell/shell.c
Labels: Trivial

#11772 include: __assert: Fix output formatting of __ASSERT_NO_MSG()
  include/misc/__assert.h
Labels: area: Logging

#11807 drivers: gpio: nrfx: fix lost level interrupts
  drivers/gpio/gpio_nrfx.c
Labels: Maintainer, area: GPIO, nRF

#11867 cmake: fix incorrect lower case variable
  CMakeLists.txt
Labels: Trivial

#11870 logging: Fix initial log level in shell
  subsys/logging/log_core.c
  tests/subsys/logging/log_core/prj.conf
  tests/subsys/logging/log_core/src/log_core_test.c
Labels: Hotfix, area: Logging, area: Shell, bug

#11872 ext: debug: segger: Fix RTT header inclusion
  drivers/console/rtt_console.c
  ext/debug/segger/systemview/SEGGER_SYSVIEW.c
  ext/debug/segger/systemview/SEGGER_SYSVIEW_ConfDefaults.h
  ext/debug/segger/systemview/SEGGER_SYSVIEW_Int.h
  subsys/debug/tracing/include/SEGGER_SYSVIEW_Zephyr.h
  subsys/debug/tracing/include/tracing_sysview.h
  subsys/debug/tracing/sysview.c
  subsys/debug/tracing/sysview_config.c
  subsys/logging/log_backend_rtt.c
  subsys/shell/shell_rtt.c
Labels: Hotfix, Trivial, area: Debugging

#11508 samples: console: echo: Be sure to print (both) CR LF in messages
  samples/subsys/console/echo/src/main.c
Labels: Trivial, area: Console

#11395 WIFI: eswifi driver improvement blocking/non-blocking send/connect/recv
  drivers/wifi/eswifi/eswifi_offload.c
  drivers/wifi/eswifi/eswifi_offload.h
Labels: area: Wifi

#11544 dts: ieee802154: cc1200: Add DTS support
  drivers/ieee802154/Kconfig.cc1200
  drivers/ieee802154/ieee802154_cc1200.c
  dts/bindings/ieee802154/ti,cc1200.yaml
Labels: area: Device Tree, area: Networking

#11871 cmake: flash: Conditional dependency to 'mergehex'
  CMakeLists.txt
  cmake/flash/CMakeLists.txt
Labels: Trivial, area: Build System

#11883 Fix issue #10571 and #10593
  drivers/sensor/lis2dh/lis2dh_trigger.c
Labels: Trivial, bug

#11661 doc: tweak API CSS for improved usability
  doc/static/zephyr-custom.css
Labels: Trivial, area: Documentation

#11901 nrf52_bsim: Require v1.2 of the HW models
  boards/posix/nrf52_bsim/hw_models_version
Labels: nrf52_bsim, priority: high

#11898 tests: bsim_bt tests: Fix malformed JUNIT results file
  tests/bluetooth/bsim_bt/run_parallel.sh
Labels: area: Testing, priority: high

#11611 net: dhcpv4: net_dhcpv4_stop() removing address during renew
  subsys/net/ip/dhcpv4.c
Labels: area: Networking

#11936 samples: cmsis_rtos_v1: Disable tests on qemu_xtensa
  samples/portability/cmsis_rtos_v1/philosophers/sample.yaml
Labels: Hotfix

#11938 net: if: Make dst address const when selecting src addr
  include/net/net_if.h
  subsys/net/ip/net_if.c
Labels: area: Networking

#11634 i2c: support const correctness for write operations
  include/i2c.h
Labels: Trivial, area: Drivers, area: I2C

#11939 boards: nucleo_f413zh: Update board images
  boards/arm/nucleo_f413zh/doc/img/nucleo_f412zg_morpho_left.png
  boards/arm/nucleo_f413zh/doc/img/nucleo_f412zg_morpho_right.png
  boards/arm/nucleo_f413zh/doc/img/nucleo_f412zg_zio_left.png
  boards/arm/nucleo_f413zh/doc/img/nucleo_f412zg_zio_right.png
  boards/arm/nucleo_f413zh/doc/img/nucleo_f413zh_morpho_left.png
  boards/arm/nucleo_f413zh/doc/img/nucleo_f413zh_morpho_right.png
  boards/arm/nucleo_f413zh/doc/img/nucleo_f413zh_zio_left.png
  boards/arm/nucleo_f413zh/doc/img/nucleo_f413zh_zio_right.png
  boards/arm/nucleo_f413zh/doc/nucleof413zh.rst
Labels: STM32, Trivial

#11933 drivers: nrf: Fix TWI and TWIM current consumption issue
  drivers/i2c/i2c_nrfx_twi.c
  drivers/i2c/i2c_nrfx_twim.c
Labels: area: Drivers, area: I2C, nRF

#11212 [soc] Silabs EFR32 enable DCDC before setting up clk
  boards/arm/efr32mg_sltb004a/efr32mg_sltb004a_defconfig
  ext/hal/silabs/gecko/CMakeLists.txt
  soc/arm/silabs_exx32/Kconfig
  soc/arm/silabs_exx32/common/soc.c
  soc/arm/silabs_exx32/efm32pg12b/Kconfig.soc
  soc/arm/silabs_exx32/efr32mg12p/Kconfig.soc
Labels: SiLabs

#11941 ci: Fail shippable if something fails catastrophically
  scripts/ci/run_ci.sh
Labels: area: Testing Suite

#11959 doc: efr32_slwstk6061a: update paragraph 'Flashing'
  boards/arm/efr32_slwstk6061a/doc/efr32_slwstk6061a.rst
Labels: SiLabs, area: Documentation

#11985 net: shell: Update info to enable allocs
  subsys/net/ip/net_shell.c
Labels: area: Networking

#11951 dts: Add binding for NXP i.MX RT itcm/dtcm memories
  dts/arm/nxp/nxp_rt.dtsi
  dts/bindings/arm/nxp,imx-rt-dtcm.yaml
  dts/bindings/arm/nxp,imx-rt-itcm.yaml
Labels: NXP, area: Device Tree

#11990 doc: intel_s1000_crb: add picture and link
  boards/xtensa/intel_s1000_crb/doc/IoT-SpeechEnablKit-banner-image.png
  boards/xtensa/intel_s1000_crb/doc/intel_s1000.rst
Labels: Trivial

#11978 arch: arm: fix bug in linker symbol definitions for application memory
  include/arch/arm/cortex_m/scripts/linker.ld
Labels: bug

#12000 samples: cfb: move native_posix config to boards
  samples/display/cfb/boards/native_posix.conf
  samples/display/cfb/prj_native_posix.conf
Labels: Trivial, area: Display

#12007 net: gptp: Update pdelay req lost counter when needed
  subsys/net/l2/ethernet/gptp/gptp_md.c
Labels: area: Networking

#12019 tests: net: ipv6: Fix reference to stack variable
  tests/net/ipv6/src/main.c
Labels: area: Networking

#11988 Fix eswifi driver building
  drivers/wifi/eswifi/eswifi.h
Labels: Hotfix, Trivial, area: Wifi

#12011 samples: net: gptp: Update AVnu/gptp build instructions
  samples/net/gptp/README.rst
Labels: area: Networking

#12018 Bluetooth: nordic ECB hal: Bugfix for simulation
  subsys/bluetooth/controller/hal/nrf5/ecb.c
Labels: area: Bluetooth

#11860 samples: net: zperf: Support existing IP
  samples/net/zperf/src/zperf_internal.h
  samples/net/zperf/src/zperf_shell.c
  samples/net/zperf/src/zperf_tcp_receiver.c
  samples/net/zperf/src/zperf_udp_receiver.c
Labels: area: Networking

#12047 samples: sockets: echo_async: Don't include <sys/fcntl.h>
  samples/net/sockets/echo_async/src/socket_echo.c
Labels: area: Sockets

#12036 dma: stm32: Configure bus width and burst size for memcpy mode
  drivers/dma/dma_stm32f4x.c
Labels: STM32, area: DMA

#12023 scripts: extract_dts_includes: Rework get_binding
  scripts/dts/extract/globals.py
Labels: area: Device Tree, bug

#12021 boards: mimxrt1060_evk: Split hyperflash config as a separate board
  boards/arm/mimxrt1060_evk/Kconfig
  boards/arm/mimxrt1060_evk/Kconfig.board
  boards/arm/mimxrt1060_evk/Kconfig.defconfig
  boards/arm/mimxrt1060_evk/mimxrt1060_evk.dts
  boards/arm/mimxrt1060_evk/mimxrt1060_evk_hyperflash.dts
  boards/arm/mimxrt1060_evk/mimxrt1060_evk_hyperflash.yaml
  boards/arm/mimxrt1060_evk/mimxrt1060_evk_hyperflash_defconfig
Labels: NXP, area: Boards

#11583 soc: silabs_exx32: Simplify Kconfig options
  soc/arm/silabs_exx32/Kconfig
  soc/arm/silabs_exx32/efm32hg/Kconfig.defconfig.efm32hg
  soc/arm/silabs_exx32/efm32hg/Kconfig.defconfig.series
  soc/arm/silabs_exx32/efm32hg/Kconfig.series
  soc/arm/silabs_exx32/efm32hg/Kconfig.soc
  soc/arm/silabs_exx32/efm32pg12b/Kconfig.defconfig.efm32pg12b
  soc/arm/silabs_exx32/efm32pg12b/Kconfig.defconfig.series
  soc/arm/silabs_exx32/efm32pg12b/Kconfig.series
  soc/arm/silabs_exx32/efm32pg12b/Kconfig.soc
  soc/arm/silabs_exx32/efm32wg/Kconfig.defconfig.efm32wg
  soc/arm/silabs_exx32/efm32wg/Kconfig.defconfig.series
  soc/arm/silabs_exx32/efm32wg/Kconfig.series
  soc/arm/silabs_exx32/efm32wg/Kconfig.soc
  soc/arm/silabs_exx32/efr32fg1p/Kconfig.defconfig.efr32fg1p
  soc/arm/silabs_exx32/efr32fg1p/Kconfig.defconfig.series
  soc/arm/silabs_exx32/efr32fg1p/Kconfig.series
  soc/arm/silabs_exx32/efr32fg1p/Kconfig.soc
  soc/arm/silabs_exx32/efr32mg12p/Kconfig.defconfig.efr32mg12p
  soc/arm/silabs_exx32/efr32mg12p/Kconfig.defconfig.series
  soc/arm/silabs_exx32/efr32mg12p/Kconfig.series
  soc/arm/silabs_exx32/efr32mg12p/Kconfig.soc
Labels: SiLabs

#12042 samples: sockets: Tweak echo_client/server sample parameters for DTLS
  samples/net/sockets/echo_client/src/echo-client.c
  samples/net/sockets/echo_server/overlay-tls.conf
Labels: area: Networking, area: Samples

#12077 dts: nrf: Fix device tree warnings
  dts/arm/nordic/nrf52810.dtsi
  dts/arm/nordic/nrf52832.dtsi
  dts/arm/nordic/nrf52840.dtsi
Labels: area: Device Tree, nRF

#12075 net: pkt: Show buffer allocations only when needed
  include/net/net_pkt.h
  subsys/net/ip/Kconfig.debug
  subsys/net/ip/net_pkt.c
  subsys/net/ip/net_shell.c
Labels: area: Networking

#12050 scripts: ci: check-compliance: Fix running out-of-tree
  scripts/ci/check-compliance.py
Labels: Trivial, area: Build System

#11864 samples: usb: hid-mouse: multiple buttons
  samples/subsys/usb/hid-mouse/README.rst
  samples/subsys/usb/hid-mouse/src/main.c
Labels: area: Samples, area: USB

#11876 usb: hid: allow hid_ops to be null
  subsys/usb/class/hid/core.c
Labels: area: USB

#12031 stm32: dts: f7: added i2c4 node
  dts/arm/st/f7/stm32f746.dtsi
  soc/arm/st_stm32/stm32f7/dts_fixup.h
Labels: STM32, area: Device Tree, area: I2C

#12079 dts: stm32: Move usb PHY nodes out of SoC to fix warning
  dts/arm/st/f0/stm32f070.dtsi
  dts/arm/st/f0/stm32f072.dtsi
  dts/arm/st/f1/stm32f103X8.dtsi
  dts/arm/st/f1/stm32f103Xb.dtsi
  dts/arm/st/f2/stm32f2.dtsi
  dts/arm/st/f3/stm32f3.dtsi
  dts/arm/st/f4/stm32f4.dtsi
  dts/arm/st/f4/stm32f405.dtsi
  dts/arm/st/f4/stm32f446.dtsi
  dts/arm/st/f7/stm32f7.dtsi
  dts/arm/st/l0/stm32l072.dtsi
  dts/arm/st/l0/stm32l073.dtsi
  dts/arm/st/l4/stm32l432.dtsi
  dts/arm/st/l4/stm32l475.dtsi
  dts/arm/st/l4/stm32l4r5.dtsi
Labels: STM32, area: Device Tree, area: USB

#12103 drivers: eth: gmac: Remove extra variable
  drivers/ethernet/eth_sam_gmac.c
Labels: Trivial, area: Networking, priority: high

#11929 drivers: adc: adc_mcux_adc16: improving configurability
  drivers/adc/adc_mcux_adc16.c
Labels: NXP, area: ADC

#12112 arch: arm: fix initial value of _image_ram_start
  include/arch/arm/cortex_m/scripts/linker.ld
Labels: area: ARM, bug

#12083 STM32F7 flash driver
  drivers/flash/CMakeLists.txt
  drivers/flash/Kconfig.stm32
  drivers/flash/flash_stm32.c
  drivers/flash/flash_stm32.h
  drivers/flash/flash_stm32f7x.c
  dts/arm/st/f7/stm32f7.dtsi
  dts/arm/st/f7/stm32f723Xe.dtsi
  dts/arm/st/f7/stm32f746Xg.dtsi
  dts/arm/st/f7/stm32f769Xi.dtsi
  dts/bindings/flash_controller/st,stm32f7-flash-controller.yaml
  soc/arm/st_stm32/stm32f7/dts_fixup.h
Labels: STM32, area: Drivers, area: Flash

#12115 usb: fix CDC ACM breakage with CONFIG_USB_DEVICE_SOF
  subsys/usb/class/cdc_acm.c
Labels: area: USB, bug

#12117 drivers: i2c_ll_stm32_v2: Handle errors during data transfers
  drivers/i2c/i2c_ll_stm32_v2.c
Labels: STM32, area: I2C, bug

#12116 drivers: usb_dc_stm32: add support for SoF event
  drivers/usb/device/usb_dc_stm32.c
Labels: STM32, area: Drivers, area: USB

#12113 arc: cleanup linker scripts to include autoconf.h first
  include/arch/arc/v2/linker.ld
  soc/arc/quark_se_c1000_ss/linker.ld
  soc/arc/snps_emsk/linker.ld
  soc/arc/snps_nsim/linker.ld
Labels: area: ARC

#12142 dts: stm32f7: move flash0 node below flash-controller
  dts/arm/st/f7/stm32f756Xg.dtsi
Labels: STM32, area: Device Tree

#12152 shell: fix tab key functionality.
  subsys/shell/shell.c
Labels: Trivial, area: Shell, bug, priority: low

#11882 mimix1050rt: ethernet initialization corrected
  boards/arm/mimxrt1050_evk/doc/mimxrt1050_evk.rst
  boards/arm/mimxrt1050_evk/pinmux.c
Labels: NXP, area: Ethernet, area: Networking

#12153 bt_shell: fix command bt advertise valid argument count
  subsys/bluetooth/shell/bt.c
Labels: Trivial, bug

#12168 ci: bump number of builders to 7
  .shippable.yml
Labels: Hotfix

#12136 lsm9ds0 MFD (accel + magn) driver: FIX + dts support
  drivers/sensor/lsm9ds0_mfd/Kconfig
  drivers/sensor/lsm9ds0_mfd/lsm9ds0_mfd.c
  dts/bindings/sensor/st,lsm9ds0-mfd-i2c.yaml
  tests/drivers/build_all/dts_fixup.h
Labels: area: Device Tree, area: Sensors

#12048 usb: hid: boot protocol
  include/usb/class/usb_hid.h
  samples/subsys/usb/hid/prj.conf
  samples/subsys/usb/hid/src/main.c
  subsys/usb/class/hid/Kconfig
  subsys/usb/class/hid/core.c
Labels: area: USB

#12139 Bluetooth: controller: Fix Conn Param Req procedure stall issue
  subsys/bluetooth/controller/ll_sw/ctrl.c
Labels: Trivial, area: Bluetooth, bug

#12194 cmake: boilerplate: Move app-library to be with its documentation
  cmake/app/boilerplate.cmake
Labels: area: Build System

#12193 cmake: Remove setting CMAKE_FIND_ROOT_PATH_MODE_* variables
  cmake/target_toolchain.cmake
Labels: area: Build System

#12185 cmake: boilerplate: Move compiler-flag checks into boilerplate
  cmake/app/boilerplate.cmake
  cmake/extensions.cmake
Labels: area: Build System

#12184 cmake: Move root CMakeLists.txt's comment-header to top
  CMakeLists.txt
Labels: Trivial, area: Build System

#12182 cmake: Document CMake system variables
  cmake/app/boilerplate.cmake
  cmake/target_toolchain.cmake
Labels: area: Build System

#12189 dts: nordic: simplify definition of flash and sram sizes in dts
  dts/arm/nordic/nrf51822_qfaa.dtsi
  dts/arm/nordic/nrf51822_qfab.dtsi
  dts/arm/nordic/nrf51822_qfac.dtsi
  dts/arm/nordic/nrf52810_qfaa.dtsi
  dts/arm/nordic/nrf52832_ciaa.dtsi
  dts/arm/nordic/nrf52832_qfaa.dtsi
  dts/arm/nordic/nrf52832_qfab.dtsi
  dts/arm/nordic/nrf52840_qiaa.dtsi
Labels: Trivial, area: Device Tree, nRF

#12175 cmake: Whitespace and commentary fixes
  CMakeLists.txt
  cmake/app/boilerplate.cmake
  cmake/backports/FindPythonInterp.cmake
  cmake/compiler/gcc/target.cmake
  cmake/compiler/host-gcc/target.cmake
  cmake/dts.cmake
  cmake/extensions.cmake
  cmake/host-tools.cmake
  cmake/kconfig.cmake
  cmake/toolchain/gnuarmemb/generic.cmake
  cmake/usage/usage.cmake
  cmake/util/fmerge.cmake
Labels: area: Build System

#12174 openthread: Update to the latest upstream/master.
  include/net/openthread.h
  samples/net/echo_client/overlay-ot.conf
  samples/net/echo_server/overlay-ot.conf
  subsys/net/l2/openthread/openthread.c
  subsys/net/l2/openthread/openthread_utils.c
  subsys/net/lib/openthread/CMakeLists.txt
  subsys/net/lib/openthread/platform/alarm.c
  subsys/net/lib/openthread/platform/misc.c
  subsys/net/lib/openthread/platform/platform-zephyr.h
  subsys/net/lib/openthread/platform/platform.c
  subsys/net/lib/openthread/platform/radio.c
  subsys/net/lib/openthread/platform/random.c
  subsys/net/lib/openthread/platform/shell.c
Labels: area: Networking

#12176 include: linker: improve documentation of app shared mem symbols
  include/linker/linker-defs.h
Labels: Trivial, area: Memory Protection

#12183 driver: sensors: convert lsm9ds0_gyro to use information coming from dts
  drivers/sensor/lsm9ds0_gyro/Kconfig
  drivers/sensor/lsm9ds0_gyro/lsm9ds0_gyro.c
  dts/bindings/sensor/st,lsm9ds0-gyro-i2c.yaml
  tests/drivers/build_all/dts_fixup.h
Labels: area: Device Tree, area: Sensors

#12198 samples: reel board: correct timeout condition
  samples/boards/reel_board/mesh_badge/src/reel_board.c
Labels: Trivial, bug

#12200 drivers: nrf: Fix UARTE fixup defines.
  soc/arm/nordic_nrf/nrf52/dts_fixup.h
Labels: Trivial, area: Device Tree, nRF

#12212 net/pkt: Fix debug logs checking
  subsys/net/ip/net_pkt.c
Labels: area: Networking

#12121 log: Fix switch statement
  subsys/logging/log_output.c
Labels: MISRA-C

#12221 Return correct pixel format in SDL display driver
  drivers/display/display_sdl.c
Labels: Trivial, area: Display

#12223 Added dummy display driver
  drivers/display/CMakeLists.txt
  drivers/display/Kconfig
  drivers/display/Kconfig.dummy
  drivers/display/display_dummy.c
Labels: area: Display
