Repository zephyrproject-rtos/zephyr, pull requests merged in 2019-07, with the labels that each got.

#17115 Add timeout to socket connect call
  subsys/net/lib/sockets/Kconfig
  subsys/net/lib/sockets/sockets.c
Labels: area: Networking, backport v1.14-branch

#15441 net: lwm2m: fix automatic notification frequency
  subsys/net/lib/lwm2m/lwm2m_engine.c
Labels: area: LWM2M, area: Networking

#17138 dts: Rename SW._GPIO_* -> DT_ALIAS_SW._GPIOS_*
  boards/arm/warp7_m4/pinmux.c
  doc/guides/dts/index.rst
  samples/basic/button/README.rst
  samples/basic/button/src/main.c
  samples/bluetooth/mesh/src/microbit.c
  samples/bluetooth/mesh_demo/src/microbit.c
  samples/boards/bbc_microbit/pong/src/main.c
  samples/boards/bbc_microbit/sound/src/main.c
  samples/boards/nrf52/mesh/onoff-app/src/main.c
  samples/boards/nrf52/mesh/onoff_level_lighting_vnd_app/src/app_gpio.c
  samples/boards/nrf52/mesh/onoff_level_lighting_vnd_app/src/mesh/publisher.c
  samples/boards/nrf52/power_mgr/src/sample.h
  samples/boards/reel_board/mesh_badge/src/periphs.c
  samples/boards/reel_board/mesh_badge/src/reel_board.c
  samples/drivers/gpio/src/main.c
  samples/sensor/fxos8700-hid/src/main.c
  samples/subsys/usb/hid-cdc/src/main.c
  samples/subsys/usb/hid-mouse/README.rst
  samples/subsys/usb/hid-mouse/src/main.c
  tests/bluetooth/mesh/src/microbit.c
Labels: area: Bluetooth, area: Boards, area: Documentation, area: Samples, area: Tests

#11782 boards: arm: Add support for nRF51 Dongle (PCA10031)
  boards/arm/nrf51_pca10031/Kconfig.board
  boards/arm/nrf51_pca10031/Kconfig.defconfig
  boards/arm/nrf51_pca10031/board.cmake
  boards/arm/nrf51_pca10031/doc/img/nrf51_pca10031.jpg
  boards/arm/nrf51_pca10031/doc/index.rst
  boards/arm/nrf51_pca10031/nrf51_pca10031.dts
  boards/arm/nrf51_pca10031/nrf51_pca10031.yaml
  boards/arm/nrf51_pca10031/nrf51_pca10031_defconfig
Labels: area: Boards, platform: nRF

#17137 Bluetooth: Fix deadlock issues when running low on buffers
  drivers/bluetooth/hci/h4.c
  drivers/bluetooth/hci/h5.c
  drivers/bluetooth/hci/ipm_stm32wb.c
  drivers/bluetooth/hci/spi.c
  drivers/bluetooth/hci/userchan.c
  include/bluetooth/buf.h
  include/bluetooth/hci.h
  samples/bluetooth/mesh/prj.conf
  samples/bluetooth/mesh/prj_bbc_microbit.conf
  samples/bluetooth/mesh_demo/prj.conf
  samples/boards/nrf52/mesh/onoff-app/prj.conf
  samples/boards/nrf52/mesh/onoff_level_lighting_vnd_app/prj.conf
  samples/boards/reel_board/mesh_badge/prj.conf
  subsys/bluetooth/controller/hci/hci.c
  subsys/bluetooth/controller/hci/hci_driver.c
  subsys/bluetooth/host/Kconfig
  subsys/bluetooth/host/hci_core.c
  subsys/bluetooth/host/hci_ecc.c
  subsys/bluetooth/host/hci_raw.c
  tests/bluetooth/hci_prop_evt/src/main.c
  tests/bluetooth/mesh/dbg.conf
  tests/bluetooth/mesh/friend.conf
  tests/bluetooth/mesh/gatt.conf
  tests/bluetooth/mesh/lpn.conf
  tests/bluetooth/mesh/pb_gatt.conf
  tests/bluetooth/mesh/prj.conf
  tests/bluetooth/mesh/proxy.conf
  tests/bluetooth/mesh_shell/prj.conf
  tests/bluetooth/shell/mesh.conf
Labels: area: API, area: Bluetooth, area: Samples, area: Tests, backport v1.14-branch, bug

#17149 kernel: delete k_futex_init()
  include/kernel.h
  kernel/futex.c
  tests/kernel/mem_protect/futex/src/main.c
Labels: Code Coverage, area: API, area: Kernel, area: Memory Protection, area: Tests

#17230 tests: mem_alloc: don't set main thread size
  tests/lib/mem_alloc/prj_newlib.conf
  tests/lib/mem_alloc/prj_newlibnano.conf
Labels: Trivial, area: Tests, backport v1.14-branch

#17143 west.yml: Update hal_stm32 to fix I2C_SPEED_FAST redefinition
  west.yml
Labels: area: Modules, platform: STM32

#17196 Bluetooth: controller: Remove BT_HCI_RAW dependency
  subsys/bluetooth/controller/Kconfig
Labels: area: Bluetooth

#14192 samples: net: lwm2m_client: If hwinfo interface is enabled, use it
  samples/net/lwm2m_client/src/lwm2m-client.c
Labels: area: Networking, area: Samples

#17242 tests: net: ip-addr: Avoid possible null pointer dereference
  tests/net/ip-addr/src/main.c
  tests/net/ip-addr/testcase.yaml
Labels: area: Networking, area: Tests

#17191 dts: Rename LED._GPIO_* -> DT_ALIAS_LED._GPIOS_*
  samples/basic/blink_led/src/main.c
  samples/basic/blinky/README.rst
  samples/basic/blinky/src/main.c
  samples/basic/disco/sample.yaml
  samples/basic/disco/src/main.c
  samples/basic/fade_led/src/main.c
  samples/basic/threads/sample.yaml
  samples/basic/threads/src/main.c
  samples/boards/96b_argonkey/microphone/src/main.c
  samples/boards/96b_argonkey/sensors/src/main.c
  samples/boards/nrf52/mesh/onoff-app/src/main.c
  samples/boards/nrf52/mesh/onoff_level_lighting_vnd_app/src/app_gpio.c
  samples/boards/nrf52/mesh/onoff_level_lighting_vnd_app/src/main.c
  samples/boards/nrf52/mesh/onoff_level_lighting_vnd_app/src/mesh/device_composition.c
  samples/boards/nrf52/power_mgr/src/sample.h
  samples/boards/reel_board/mesh_badge/src/periphs.c
  samples/boards/reel_board/mesh_badge/src/reel_board.c
  samples/drivers/gpio/sample.yaml
  samples/drivers/gpio/src/main.c
  samples/net/lwm2m_client/src/lwm2m-client.c
  samples/net/nats/src/main.c
  samples/sensor/fxos8700-hid/src/main.c
  samples/subsys/usb/hid-mouse/src/main.c
Labels: area: Device Tree, area: Networking, area: Samples

#16615 samples: bluetooth: peripheral_ht: Health Thermometer sample
  include/bluetooth/uuid.h
  samples/bluetooth/gatt/hts.c
  samples/bluetooth/gatt/hts.h
  samples/bluetooth/peripheral_ht/CMakeLists.txt
  samples/bluetooth/peripheral_ht/README.rst
  samples/bluetooth/peripheral_ht/prj.conf
  samples/bluetooth/peripheral_ht/sample.yaml
  samples/bluetooth/peripheral_ht/src/main.c
Labels: area: API, area: Bluetooth, area: Samples

#16593 Bluetooth: gatt: Fix DB corruption when adding/removing service
  subsys/bluetooth/host/gatt.c
Labels: area: Bluetooth, backport v1.14-branch, bug

#17150 samples/**/external_lib: invoke $(MAKE) instead of make
  samples/application_development/external_lib/CMakeLists.txt
Labels: area: Samples, area: Tests, area: Toolchains, bug, priority: low

#17265 Bluetooth: GATT: Fix registering on static service area
  subsys/bluetooth/host/gatt.c
Labels: Hotfix, area: Bluetooth, bug

#17249 drivers: sensor: temp_nrf5: Code cleanup
  drivers/sensor/nrf5/temp_nrf5.c
Labels: area: Sensors, enhancement, platform: nRF

#17195 [Backport v1.14-branch] Bluetooth: Fix deadlock issues when running low on buffers
  drivers/bluetooth/hci/h4.c
  drivers/bluetooth/hci/h5.c
  drivers/bluetooth/hci/ipm_stm32wb.c
  drivers/bluetooth/hci/spi.c
  drivers/bluetooth/hci/userchan.c
  include/bluetooth/buf.h
  include/bluetooth/hci.h
  samples/bluetooth/mesh/prj.conf
  samples/bluetooth/mesh/prj_bbc_microbit.conf
  samples/bluetooth/mesh_demo/prj.conf
  samples/boards/nrf52/mesh/onoff-app/prj.conf
  samples/boards/nrf52/mesh/onoff_level_lighting_vnd_app/prj.conf
  samples/boards/reel_board/mesh_badge/prj.conf
  subsys/bluetooth/controller/hci/hci.c
  subsys/bluetooth/controller/hci/hci_driver.c
  subsys/bluetooth/host/Kconfig
  subsys/bluetooth/host/hci_core.c
  subsys/bluetooth/host/hci_ecc.c
  subsys/bluetooth/host/hci_raw.c
  tests/bluetooth/hci_prop_evt/src/main.c
  tests/bluetooth/mesh/dbg.conf
  tests/bluetooth/mesh/friend.conf
  tests/bluetooth/mesh/gatt.conf
  tests/bluetooth/mesh/lpn.conf
  tests/bluetooth/mesh/pb_gatt.conf
  tests/bluetooth/mesh/prj.conf
  tests/bluetooth/mesh/proxy.conf
  tests/bluetooth/mesh_shell/prj.conf
  tests/bluetooth/shell/mesh.conf
Labels: area: API, area: Bluetooth, area: Samples, area: Tests, bug

#17258 dts: lpc55s6x: Fix memory node name
  dts/arm/nxp/nxp_lpc55S6x.dtsi
Labels: area: Device Tree

#17261 dts: nxp_imx6sx_m4: fix cpu reg num
  dts/arm/nxp/nxp_imx6sx_m4.dtsi
Labels: area: Device Tree

#17260 dts: nios2: fix flash node name
  dts/nios2/nios2-qemu.dtsi
Labels: area: Device Tree

#17256 dts: silabs: fix gpio address
  dts/arm/silabs/efr32fg1p.dtsi
  dts/arm/silabs/efr32mg.dtsi
Labels: area: Device Tree

#17238 tests: schedule_api: cover priority checks
  tests/kernel/sched/schedule_api/src/main.c
  tests/kernel/sched/schedule_api/src/test_sched.h
  tests/kernel/sched/schedule_api/src/test_sched_priority.c
Labels: Code Coverage, area: Kernel, area: Tests, backport v1.14-branch

#16029 arm: mps_an521: Add support for the AN521 on MPS2+
  boards/arm/mps2_an521/CMakeLists.txt
  boards/arm/mps2_an521/Kconfig.board
  boards/arm/mps2_an521/Kconfig.defconfig
  boards/arm/mps2_an521/board.h
  boards/arm/mps2_an521/doc/img/mps2_an521.png
  boards/arm/mps2_an521/doc/index.rst
  boards/arm/mps2_an521/mps2_an521-common.dtsi
  boards/arm/mps2_an521/mps2_an521.dts
  boards/arm/mps2_an521/mps2_an521.yaml
  boards/arm/mps2_an521/mps2_an521_defconfig
  boards/arm/mps2_an521/mps2_an521_nonsecure.dts
  boards/arm/mps2_an521/mps2_an521_nonsecure.yaml
  boards/arm/mps2_an521/mps2_an521_nonsecure_defconfig
  boards/arm/mps2_an521/pinmux.c
  soc/arm/arm/mps2/Kconfig.defconfig.mps2_an521
  soc/arm/arm/mps2/Kconfig.soc
  soc/arm/arm/mps2/arm_mpu_regions.c
  soc/arm/arm/mps2/dts_fixup.h
  soc/arm/arm/mps2/soc.c
  soc/arm/arm/mps2/soc.h
Labels: area: Boards

#17245 sanitycheck: show handler_time for Binary_Handler -v output
  scripts/sanitycheck
Labels: area: Sanitycheck

#16841 cmake: remove spurious IS_ABSOLUTE logic in zephyr_sources()
  cmake/extensions.cmake
Labels: area: Build System, enhancement

#17193 soc: nordic: nrf9160: add IPC capabilities
  soc/arm/nordic_nrf/Kconfig.peripherals
  soc/arm/nordic_nrf/nrf91/Kconfig.soc
Labels: Trivial, enhancement, platform: nRF

#17255 boards: dts: cleanup partition node names
  boards/arm/disco_l475_iot1/disco_l475_iot1.dts
  boards/arm/nrf52840_pca10059/fstab-stock.dts
  boards/arm/stm32f0_disco/stm32f0_disco.dts
Labels: area: Boards

#16979 soc: stm32f7: Fix fixup file for uart devices
  soc/arm/st_stm32/stm32f7/dts_fixup.h
Labels: platform: STM32

#17235 sanitycheck: extend coverage timeout
  scripts/sanitycheck
Labels: Code Coverage, area: Sanitycheck, backport v1.14-branch

#17184 arch: arc: fix the bug caused by hardware sp switch in interrupt
  arch/arc/core/fast_irq.S
  arch/arc/core/regular_irq.S
Labels: area: ARC, backport v1.14-branch

#17276 sanitycheck: don't multiply CPU count
  scripts/sanitycheck
Labels: area: Sanitycheck

#17275 sanitycheck: correct timeout extension comment
  scripts/sanitycheck
Labels: area: Sanitycheck

#17271 sanitycheck: make coverage reports easier to do
  scripts/sanitycheck
Labels: Code Coverage, area: Sanitycheck

#17268 tests: json: improve code coverage
  tests/lib/json/src/main.c
Labels: Code Coverage, area: Tests, backport v1.14-branch

#17270 tests: fatal: test failed assertion
  tests/kernel/fatal/src/main.c
Labels: Code Coverage, area: Kernel, area: Tests, backport v1.14-branch

#17299 ext: hal: nordic: Fix DT symbols in 802154 radio driver
  ext/hal/nordic/drivers/nrf_radio_802154/platform/clock/nrf_802154_clock_zephyr.c
Labels: EXT, area: Drivers, platform: nRF

#17290 net: mgmt: Remove L1 layer as that is useless
  include/net/net_event.h
  include/net/net_mgmt.h
Labels: area: API, area: Networking

#17243 net: sockets: Initialize IP socket addresses in getsockname()
  subsys/net/lib/sockets/sockets.c
Labels: area: Networking, bug

#17298 driver: timer: loapic_timer: fix compile issue
  drivers/timer/loapic_timer.c
Labels: Trivial, area: Timer, backport v1.14-branch

#17308 net: openthread: Verify iface in net_mgmt event handler
  subsys/net/l2/openthread/openthread.c
Labels: area: Networking, area: OpenThread, backport v1.14-branch, bug

#17112 driver/sensor: add LPS22HH sensor support
  CODEOWNERS
  drivers/sensor/CMakeLists.txt
  drivers/sensor/Kconfig
  drivers/sensor/lps22hh/CMakeLists.txt
  drivers/sensor/lps22hh/Kconfig
  drivers/sensor/lps22hh/lps22hh.c
  drivers/sensor/lps22hh/lps22hh.h
  drivers/sensor/lps22hh/lps22hh_i2c.c
  drivers/sensor/lps22hh/lps22hh_spi.c
  drivers/sensor/lps22hh/lps22hh_trigger.c
  dts/bindings/sensor/st,lps22hh-i2c.yaml
  dts/bindings/sensor/st,lps22hh-spi.yaml
  tests/drivers/build_all/dts_fixup.h
Labels: area: Device Tree, area: Drivers, area: Sensors, area: Tests

#17113 driver/sensor: lsm6dso: Add support
  drivers/sensor/CMakeLists.txt
  drivers/sensor/Kconfig
  drivers/sensor/lsm6dso/CMakeLists.txt
  drivers/sensor/lsm6dso/Kconfig
  drivers/sensor/lsm6dso/lsm6dso.c
  drivers/sensor/lsm6dso/lsm6dso.h
  drivers/sensor/lsm6dso/lsm6dso_i2c.c
  drivers/sensor/lsm6dso/lsm6dso_shub.c
  drivers/sensor/lsm6dso/lsm6dso_spi.c
  drivers/sensor/lsm6dso/lsm6dso_trigger.c
  dts/bindings/sensor/st,lsm6dso-i2c.yaml
  dts/bindings/sensor/st,lsm6dso-spi.yaml
  tests/drivers/build_all/dts_fixup.h
  tests/drivers/build_all/sensors_i_z.conf
  tests/drivers/build_all/sensors_trigger_i_z.conf
Labels: area: Device Tree, area: Drivers, area: Sensors, area: Tests

#17292 drivers/interrupt_controller: stm32: Fix table irq reading
  drivers/interrupt_controller/exti_stm32.c
Labels: Coverity, bug, platform: STM32

#17316 sanitycheck: workaround file limits
  scripts/sanitycheck
Labels: area: Sanitycheck

#16704 malloc: make sure returned memory is properly aligned
  kernel/mempool.c
  lib/os/mempool.c
  tests/kernel/mem_heap/mheap_api_concept/src/test_mheap_concept.c
Labels: area: API, area: Kernel, area: Tests

#17325 sanitycheck: fix --jobs help message + other cosmetic fixes
  scripts/sanitycheck
Labels: area: Sanitycheck, enhancement

#17328 test/bluetooth: sizeof() is not strlen()
  tests/bluetooth/gatt/src/main.c
Labels: area: Bluetooth, area: Tests

#17333 shell_history: align buffer to pointer size
  include/shell/shell_history.h
Labels: Trivial, area: API

#17341 CODEWONERS: syntax fix: Remove comma
  CODEOWNERS
Labels: Hotfix, bug

#17331 net/socket: use the iterable section object constructor/iterator
  include/linker/common-rom.ld
  include/net/socket.h
  subsys/net/lib/sockets/sockets.c
Labels: area: API, area: Networking

#17326 tests/net/ptp/clock: add 'userspace' tag
  tests/net/ptp/clock/testcase.yaml
Labels: Trivial, area: Networking, area: Tests, enhancement

#17297 drivers: counter: Fix references in the doxygen comment
  include/drivers/counter.h
Labels: Trivial, area: API, area: Counter

#17296 cmake: Toolchain abstraction: Allow for out-of-tree cmake includes
  cmake/generic_toolchain.cmake
  cmake/target_toolchain.cmake
Labels: Trivial, area: Build System, area: Portability, area: Toolchains

#17335 test/msgq: adjust overflow test for 64-bit targets
  tests/kernel/msgq/msgq_api/src/test_msgq.h
Labels: area: Kernel, area: Tests

#17291 tests: net: socket: register: Do not close if fd < 0
  tests/net/socket/register/src/main.c
Labels: area: Networking, area: Tests, backport v1.14-branch, bug

#17334 shell_history_test: make the test succeed on 64-bit targets
  tests/subsys/shell/shell_history/src/shell_history_test.c
Labels: area: Tests

#16795 drivers: pinmux: stm32f3: Add SPI3, USB support of STM32F302x8
  drivers/pinmux/stm32/pinmux_stm32f3.h
Labels: platform: STM32

#17343 dts/arm/st: l0: Fix gpioe reg address
  dts/arm/st/l0/stm32l072.dtsi
Labels: Trivial, area: Device Tree, platform: STM32

#17285 cmake: check ZEPHYR_SDK_INSTALL_DIR is set
  cmake/toolchain/zephyr/generic.cmake
Labels: area: Build System

#17106 [Backport v1.14-branch] Bluetooth: controller: Fix handling zero length L2CAP start frame
  subsys/bluetooth/controller/Kconfig
  subsys/bluetooth/controller/ll_sw/ctrl.c
  subsys/bluetooth/controller/ll_sw/ctrl_internal.h
Labels: area: Bluetooth

#17352 mempool: move BUILD_ASSERT to the end of K_MEM_POOL_DEFINE
  include/kernel.h
Labels: Hotfix, area: API, area: Kernel

#17344 tests: net: Increase stack sizes for coverage testing
  tests/net/mgmt/prj.conf
  tests/net/mgmt/src/mgmt.c
  tests/net/mld/prj.conf
  tests/net/udp/prj.conf
Labels: area: Networking, area: Tests

#17356 Bluetooth: L2CAP: fix use of Z_STRUCT_SECTION_ITERABLE
  subsys/bluetooth/host/l2cap_internal.h
Labels: area: Bluetooth

#17345 drivers: flash: stm32: Fix insufficient wait time
  drivers/flash/flash_stm32.c
Labels: Trivial, backport v1.14-branch, bug, platform: STM32

#16970 limits.h: streamline value definitions
  lib/libc/minimal/include/limits.h
Labels: area: C Library

#17327 struct net_mgmt_socket: use uintptr_t for the nm_pid field
  include/net/socket_net_mgmt.h
  samples/net/sockets/net_mgmt/src/main.c
  subsys/net/lib/sockets/sockets_net_mgmt.c
  tests/net/socket/net_mgmt/src/main.c
Labels: area: API, area: Networking, area: Samples, area: Tests

#17329 test/usb: fix pointer type mismatch
  tests/subsys/usb/device/src/main.c
Labels: area: Tests

#17348 size_report: Don't crash when observing stripped symbols
  scripts/footprint/size_report
Labels: area: Build System, bug

#17263 tests: crc: convert to regular test case
  tests/lib/crc/CMakeLists.txt
  tests/lib/crc/prj.conf
  tests/lib/crc/src/main.c
  tests/lib/crc/testcase.yaml
  tests/unit/lib/crc/CMakeLists.txt
Labels: Code Coverage, area: Tests, backport v1.14-branch

#17320 Move lvgl into a zephyr module
  lib/gui/lvgl/CMakeLists.txt
  west.yml
Labels: area: Display, area: Modules

#17380 manifest: update to latest ci-tools revision
  west.yml
Labels: area: Modules

#17319 subsys tracing: remove (uintptr_t) casts in snprintk and use %p
  subsys/debug/tracing/include/tracing_sysview.h
  subsys/debug/tracing/sysview.c
Labels: Trivial

#17384 doc: add space after cmake -Bdir and ninja -Cdir options
  doc/extensions/zephyr/application.py
Labels: area: Documentation

#17305 net: tcp: Adjust data length if TCP options are present
  subsys/net/ip/tcp.c
Labels: DNM, area: Networking, backport v1.14-branch

#17387 sanitycheck: replace cmake -H "not meant for public use" with -S
  scripts/sanitycheck
Labels: area: Build System, area: Sanitycheck, area: Testing, enhancement, priority: low

#15273 sanitycheck help: how to spot tests that were not run but just built
  doc/guides/test/sanitycheck.rst
  scripts/sanitycheck
Labels: area: Documentation, area: Sanitycheck, area: Testing, area: Testing Suite, area: Tests

#17350 LLMNR answer creation fix
  subsys/net/lib/dns/llmnr_responder.c
Labels: area: Networking

#17392 nrf52_bsim: Add nrfx path to include path
  boards/posix/nrf52_bsim/CMakeLists.txt
Labels: Trivial, area: Boards, platform: nrf52_bsim

#17397 samples: usb: webusb: Remove dependence on GPIO
  samples/subsys/usb/webusb/prj.conf
Labels: Trivial, area: Samples, area: USB

#17351 net: lwm2m: Ignore `close` return value
  subsys/net/lib/lwm2m/lwm2m_obj_firmware_pull.c
Labels: Coverity, area: LWM2M, area: Networking, backport v1.14-branch, bug

#17370 debug: tracing: Rewrite assert on current_thread in CPU stats module
  subsys/debug/tracing/cpu_stats.c
Labels: Trivial, area: Debugging

#17304 logging: Fix corruption in log panic when scheduler was active
  subsys/logging/log_core.c
Labels: area: Logging, bug

#17180 boards: match specified jlink swd speed when using pyocd runner
  boards/arm/nrf52840_pca10059/board.cmake
  boards/arm/nrf52_adafruit_feather/board.cmake
  boards/arm/particle_argon/board.cmake
  boards/arm/particle_boron/board.cmake
  boards/arm/particle_xenon/board.cmake
  boards/arm/reel_board/board.cmake
  boards/arm/usb_kw24d512/board.cmake
Labels: area: Boards

#17428 net: ipv4: Drop pkt if src address is unspecified
  subsys/net/ip/ipv4.c
Labels: area: Networking, backport v1.14-branch

#17402 LwM2M: remove IP CONFIG checks in engine
  subsys/net/lib/lwm2m/lwm2m_engine.c
Labels: area: LWM2M, area: Networking, backport v1.14-branch, bug

#17405 net: lwm2m: fix error message in load_tls_credential()
  subsys/net/lib/lwm2m/lwm2m_engine.c
Labels: area: LWM2M, area: Networking, backport v1.14-branch, bug

#17400 net: lwm2m: dont select MBEDTLS or set MBEDTLS options in subsys
  samples/net/lwm2m_client/overlay-dtls.conf
  subsys/net/lib/lwm2m/Kconfig
Labels: area: LWM2M, area: Networking, area: Samples, backport v1.14-branch, bug

#17404 net: lwm2m: firmware: add log_strdup to remove logging errors
  subsys/net/lib/lwm2m/lwm2m_obj_firmware.c
  subsys/net/lib/lwm2m/lwm2m_obj_firmware_pull.c
Labels: area: LWM2M, area: Networking, backport v1.14-branch, bug

#17424 Bluetooth: drivers: ipm_st32wb: Fix compilation
  drivers/bluetooth/hci/ipm_stm32wb.c
Labels: area: Bluetooth

#17386 sanitycheck: fix priority of --extra-args=CONFIG_ over testcase.yaml
  cmake/kconfig.cmake
  scripts/sanitycheck
Labels: area: Build System, area: Configuration System, area: Kconfig, area: Sanitycheck, area: Tests, bug

#17422 Bluetooth: Mesh: Move under subsys/bluetooth/mesh
  subsys/bluetooth/CMakeLists.txt
  subsys/bluetooth/Kconfig
  subsys/bluetooth/host/CMakeLists.txt
  subsys/bluetooth/host/Kconfig
  subsys/bluetooth/mesh/CMakeLists.txt
  subsys/bluetooth/mesh/Kconfig
  subsys/bluetooth/mesh/TODO
  subsys/bluetooth/mesh/access.c
  subsys/bluetooth/mesh/access.h
  subsys/bluetooth/mesh/adv.c
  subsys/bluetooth/mesh/adv.h
  subsys/bluetooth/mesh/beacon.c
  subsys/bluetooth/mesh/beacon.h
  subsys/bluetooth/mesh/cfg_cli.c
  subsys/bluetooth/mesh/cfg_srv.c
  subsys/bluetooth/mesh/crypto.c
  subsys/bluetooth/mesh/crypto.h
  subsys/bluetooth/mesh/foundation.h
  subsys/bluetooth/mesh/friend.c
  subsys/bluetooth/mesh/friend.h
  subsys/bluetooth/mesh/health_cli.c
  subsys/bluetooth/mesh/health_srv.c
  subsys/bluetooth/mesh/lpn.c
  subsys/bluetooth/mesh/lpn.h
  subsys/bluetooth/mesh/main.c
  subsys/bluetooth/mesh/mesh.h
  subsys/bluetooth/mesh/net.c
  subsys/bluetooth/mesh/net.h
  subsys/bluetooth/mesh/prov.c
  subsys/bluetooth/mesh/prov.h
  subsys/bluetooth/mesh/proxy.c
  subsys/bluetooth/mesh/proxy.h
  subsys/bluetooth/mesh/settings.c
  subsys/bluetooth/mesh/settings.h
  subsys/bluetooth/mesh/shell.c
  subsys/bluetooth/mesh/test.c
  subsys/bluetooth/mesh/test.h
  subsys/bluetooth/mesh/transport.c
  subsys/bluetooth/mesh/transport.h
Labels: area: Bluetooth

#17152 boards: lpcxpresso55s69: Enable pyocd runner
  boards/arm/lpcxpresso55s69/board.cmake
Labels: area: Boards, enhancement, platform: NXP

#17441 dts/bindings: Clarify #cells in template
  dts/bindings/device_node.yaml.template
Labels: area: Device Tree

#17139 scripts/dts: deprecate DT_<COMPAT>_<INSTANCE ID>_BUS_<BUS>
  scripts/dts/extract/compatible.py
Labels: area: Device Tree

#17451 net: ipv6: Drop pkt if src address is unspecified
  subsys/net/ip/ipv6.c
Labels: area: Networking, backport v1.14-branch

#17141 Bluetooth: controller: Fix assert during DLE
  subsys/bluetooth/controller/ll_sw/ctrl.c
Labels: area: Bluetooth, backport v1.14-branch, bug

#17412 sanitycheck: add west-runner parameter and fix-up west-flash handling
  scripts/sanitycheck
Labels: area: Sanitycheck, enhancement

#17457 sensor: lis2dh: Fix stray use of old DT define
  drivers/sensor/lis2dh/lis2dh.c
Labels: area: Sensors

#17289 tests: net: trickle: Adjust config options to avoid error prints
  tests/net/trickle/prj.conf
  tests/net/trickle/testcase.yaml
Labels: area: Networking, area: Tests, backport v1.14-branch

#17465 Bluetooth: GATT: Fix segfault discover descriptors all UUIDs
  subsys/bluetooth/host/gatt.c
Labels: area: Bluetooth, backport v1.14-branch, bug

#17411 boards: arm: nrf52840_pca10056/nrf52_pca10040: enable pyocd runner
  boards/arm/nrf52840_pca10056/board.cmake
  boards/arm/nrf52_pca10040/board.cmake
  samples/application_development/out_of_tree_board/boards/arm/nrf52840_pca10056/board.cmake
Labels: area: Boards, area: Samples, enhancement, platform: nRF

#17382 libc: add strnlen
  lib/libc/minimal/include/string.h
  lib/libc/minimal/source/string/string.c
Labels: area: C Library, enhancement

#17416 libc: fix memchr() prototype
  lib/libc/minimal/include/string.h
  lib/libc/minimal/source/string/string.c
Labels: area: C Library

#17474 tests: subsys: settings: fix pointer mismatch on 64-bit targets
  tests/subsys/settings/nffs/src/settings_test_compress_file.c
  tests/subsys/settings/nffs/src/settings_test_nffs.c
Labels: area: Tests, backport v1.14-branch, bug

#17409 net: lwm2m: add custom TLS credential load function pointer
  include/net/lwm2m.h
  subsys/net/lib/lwm2m/lwm2m_engine.c
Labels: area: API, area: Networking, enhancement

#17456 boards: arm: nrf52840_pca10090: fix compiler warning
  boards/arm/nrf52840_pca10090/board.c
Labels: Hotfix, area: Boards, backport v1.14-branch, bug, platform: nRF

#15599 scripts: dts: Match alpha numeric property values
  scripts/dts/devicetree.py
Labels: area: Device Tree

#17257 dts: arc: fix cpu num
  dts/arc/arc_iot.dtsi
  dts/arc/emsk.dtsi
Labels: area: Device Tree

#17464 Bluetooth: Add BT_SMP_ENFORCE_MITM option
  subsys/bluetooth/host/Kconfig
  subsys/bluetooth/host/smp.c
Labels: area: Bluetooth, backport v1.14-branch, bug

#17373 tests: kernel: critical: alternative test-case for SAM SoCs with WDT
  tests/kernel/critical/testcase.yaml
Labels: Trivial, area: Kernel, area: Tests, bug, platform: ATMEL

#17357 dts: stm32l4: Fix USB phy node for stm32l432 and stm32l452
  dts/arm/st/l4/stm32l432.dtsi
  dts/arm/st/l4/stm32l452.dtsi
Labels: area: Device Tree, platform: STM32

#17278 print format: adjust specifiers to be compatible with a 64-bit build
  samples/net/lldp/src/main.c
  subsys/usb/class/netusb/netusb.c
  subsys/usb/usb_descriptor.c
  subsys/usb/usb_device.c
  tests/kernel/mutex/sys_mutex/src/main.c
  tests/subsys/usb/bos/src/test_bos.c
Labels: area: Kernel, area: Networking, area: Samples, area: Tests

#17473 samples:gui:lvgl: fix the nRF52840 pins to run sample
  samples/gui/lvgl/README.rst
  samples/gui/lvgl/nrf52840_pca10056.overlay
Labels: area: Display, area: Samples, platform: nRF

#17502 net: ieee802154_nrf: Fix SoC header inclusion
  drivers/ieee802154/ieee802154_nrf5.c
Labels: Trivial, area: Drivers, bug, platform: nRF

#17501 boards: holyiot_yj16019: Fix radio capabilities
  boards/arm/holyiot_yj16019/doc/index.rst
  boards/arm/holyiot_yj16019/holyiot_yj16019.yaml
Labels: Trivial, area: Boards, bug, platform: nRF

#17499 arch: POSIX: Do not assume 32bit pointers
  arch/posix/core/thread.c
  arch/posix/include/kernel_arch_thread.h
Labels: Trivial, area: native port

#17500 sanitycheck: update sections whitelist
  scripts/sanitycheck
Labels: Trivial, area: Sanitycheck, area: Settings, bug

#17447 Bluetooth: controller: Fix logging assert
  subsys/bluetooth/controller/hci/hci.c
Labels: Trivial, area: Bluetooth, bug

#17489 realloc(): fix possible memory leak
  lib/libc/minimal/source/stdlib/malloc.c
Labels: area: C Library, backport v1.14-branch

#17227 kernel/sched: Fix k_thread_priority_set() on SMP
  kernel/sched.c
Labels: area: Kernel, backport v1.14-branch

#17510 sanitycheck: Add missing section to whitelist
  scripts/sanitycheck
Labels: Trivial, area: Bluetooth, area: Sanitycheck

#17495 toolchain/zephyr: invoke ar with -D for deterministic .a files
  cmake/toolchain/zephyr/target.cmake
Labels: area: Build System, area: Toolchains, enhancement

#17513 cmake: Remove check_link_map.py
  CMakeLists.txt
  Kconfig.zephyr
  scripts/check_link_map.py
Labels: area: Build System, area: Kconfig

#17509 Includes: #ifdef CONFIG_USE_SWITCH instead of #if to avoid undef warning
  kernel/include/kernel_structs.h
Labels: area: Kernel

#17165 tests: board_shell: enable ADC shell
  tests/boards/board_shell/prj.conf
Labels: area: ADC, area: Tests

#16947 prf.c: remove limitations, reduce memory usage and fix bugs
  lib/libc/minimal/source/stdout/prf.c
  tests/lib/sprintf/src/main.c
Labels: area: C Library, area: Tests

#17506 native_posix: New timer driver aligned with new API
  drivers/timer/Kconfig
  drivers/timer/native_posix_timer.c
Labels: area: Timer, area: native port

#17523 tests/net/: samples/net/: add a few 'userspace' tags
  samples/net/sockets/net_mgmt/sample.yaml
  tests/net/iface/testcase.yaml
  tests/net/utils/testcase.yaml
Labels: area: Networking, area: Samples, area: Tests

#17482 bluetooth: fix GATT database hash done too many times
  subsys/bluetooth/host/gatt.c
Labels: area: Bluetooth

#17503 Bluetooth: controller: split: Fix incorrect CU under latency
  subsys/bluetooth/controller/ll_sw/ull_conn.c
Labels: area: Bluetooth, bug

#17452 Bluetooth: shell: Fix argument count of bt clear shell command
  subsys/bluetooth/shell/bt.c
Labels: area: Bluetooth

#17421 Bluetooth: controller: split: Fix continuous initiator
  subsys/bluetooth/controller/ll_sw/nordic/hal/nrf5/radio/radio.c
  subsys/bluetooth/controller/ll_sw/nordic/hal/nrf5/radio/radio.h
  subsys/bluetooth/controller/ll_sw/nordic/lll/lll_scan.c
Labels: area: Bluetooth, bug

#17458 dts/extract: Mark DT_FLASH_AREA_*_LABEL defines as deprecated
  scripts/dts/extract/flash.py
Labels: area: Device Tree

#17549 Revert "toolchain/zephyr: invoke ar with -D for deterministic .a files"
  cmake/toolchain/zephyr/target.cmake
Labels: Hotfix, Regression, area: Build System, bug, priority: medium

#17535 dts/bindings: Remove unused property num-irq-priority-bits
  dts/bindings/interrupt-controller/intel,cavs-intc.yaml
  dts/bindings/interrupt-controller/intel,ioapic.yaml
  dts/bindings/interrupt-controller/snps,arcv2-intc.yaml
Labels: area: ARC, area: Device Tree, area: X86

#17542 Added dummy current-speed entry for uart0 to native_posix DTS
  boards/posix/native_posix/native_posix.dts
Labels: Trivial, area: Boards, area: Device Tree, area: native port

#17537 dts: nxp: mimxrt: Add missing jedec-id property to flash nodes
  boards/arm/mimxrt1015_evk/mimxrt1015_evk.dts
  boards/arm/mimxrt1020_evk/mimxrt1020_evk.dts
  boards/arm/mimxrt1050_evk/mimxrt1050_evk_qspi.dts
  boards/arm/mimxrt1060_evk/mimxrt1060_evk.dts
  dts/arm/nxp/nxp_rt1064.dtsi
Labels: area: Boards, area: Device Tree, area: Flash, platform: NXP

#17504 drivers/flash: add read alignment requirement comment
  include/drivers/flash.h
Labels: Trivial, area: API, area: Documentation, area: Flash

#17531 dts: bindings: Remove dead 'label:' keys on properties
  dts/bindings/mmc/mmc.yaml
  dts/bindings/mmc/nxp,imx-usdhc.yaml
  dts/bindings/mtd/jedec,spi-nor.yaml
  dts/bindings/mtd/soc-nv-flash.yaml
Labels: area: Device Tree

#17530 dts/bindings: remove stale cell_string
  dts/bindings/gpio/holtek,ht16k33-keyscan.yaml
  dts/bindings/gpio/intel,apl-gpio.yaml
  dts/bindings/gpio/intel,qmsi-gpio.yaml
  dts/bindings/gpio/intel,qmsi-ss-gpio.yaml
  dts/bindings/gpio/nordic,nrf-gpio.yaml
  dts/bindings/gpio/semtech,sx1509b-gpio.yaml
  dts/bindings/gpio/sifive,gpio0.yaml
  dts/bindings/gpio/snps,designware-gpio.yaml
  dts/bindings/gpio/ti,cc13xx-cc26xx-gpio.yaml
  dts/bindings/gpio/ti,cc32xx-gpio.yaml
  dts/bindings/interrupt-controller/intel,cavs-intc.yaml
  dts/bindings/interrupt-controller/snps,designware-intc.yaml
  dts/bindings/interrupt-controller/xtensa,intc.yaml
Labels: area: Device Tree

#17536 dts/bindings: Remove unused required dts props from st,stm32-can
  dts/bindings/can/st,stm32-can.yaml
Labels: area: CAN, area: Device Tree

#17490 realloc(): struct sys_mem_pool_block is word aligned
  lib/libc/minimal/source/stdlib/malloc.c
Labels: area: C Library

#17347 drivers: usb/stm32: use dts information to populate clock settings
  drivers/usb/device/usb_dc_stm32.c
  dts/arm/st/f0/stm32f070.dtsi
  dts/arm/st/f0/stm32f072.dtsi
  dts/arm/st/f1/stm32f103X8.dtsi
  dts/arm/st/f2/stm32f2.dtsi
  dts/arm/st/f3/stm32f3.dtsi
  dts/arm/st/f4/stm32f4.dtsi
  dts/arm/st/f4/stm32f405.dtsi
  dts/arm/st/f4/stm32f446.dtsi
  dts/arm/st/f7/stm32f7.dtsi
  dts/arm/st/l0/stm32l072.dtsi
  dts/arm/st/l0/stm32l073.dtsi
  dts/arm/st/l4/stm32l432.dtsi
  dts/arm/st/l4/stm32l452.dtsi
  dts/arm/st/l4/stm32l475.dtsi
  dts/arm/st/l4/stm32l4r5.dtsi
  dts/bindings/usb/st,stm32-otgfs.yaml
  dts/bindings/usb/st,stm32-otghs.yaml
  dts/bindings/usb/st,stm32-usb.yaml
  soc/arm/st_stm32/stm32f0/dts_fixup.h
  soc/arm/st_stm32/stm32f1/dts_fixup.h
  soc/arm/st_stm32/stm32f2/dts_fixup.h
  soc/arm/st_stm32/stm32f3/dts_fixup.h
  soc/arm/st_stm32/stm32f4/dts_fixup.h
  soc/arm/st_stm32/stm32f7/dts_fixup.h
  soc/arm/st_stm32/stm32l0/dts_fixup.h
  soc/arm/st_stm32/stm32l4/dts_fixup.h
Labels: area: Device Tree, area: USB, platform: STM32

#17493 mempool: significant reduction of memory waste
  lib/libc/minimal/source/stdlib/malloc.c
  lib/os/mempool.c
Labels: area: C Library, enhancement

#17592 soc: ti_simplelink: add macro to prevent double inclusion of soc.h
  soc/arm/ti_simplelink/cc32xx/soc.h
Labels: Hotfix

#17587 x86: allow user mode to induce kernel oops
  arch/x86/core/ia32/fatal.c
Labels: area: X86

#17518 Revert and replace #17442
  include/sys/util.h
  tests/subsys/usb/desc_sections/src/desc_sections.c
Labels: area: API, area: Tests

#17528 Bluetooth: controller: hci: Add user hooks.
  subsys/bluetooth/controller/hci/hci.c
  subsys/bluetooth/controller/hci/hci_user_ext.h
  tests/bluetooth/ctrl_user_ext/CMakeLists.txt
  tests/bluetooth/ctrl_user_ext/src/hci_user_ext.c
Labels: area: Bluetooth, area: Tests

#17560 Bluetooth: controller: split: Fix packet timing restrict reset
  subsys/bluetooth/controller/ll_sw/ull_conn.c
Labels: area: Bluetooth, bug
