Repository zephyrproject-rtos/zephyr, pull requests merged in 2019-06, with the labels that each got.

#16530 subsys/settings: Cleanup the initialisation of the subsys
  subsys/settings/src/settings.c
  subsys/settings/src/settings_init.c
Labels: area: Settings

#16504 subsys/testsuite/ztest: change zassert_mem_equal to macro
  subsys/testsuite/ztest/include/ztest_assert.h
  tests/ztest/base/src/main.c
Labels: area: Testing Suite

#16538 boards: twr_ke18f: configure SPI CS pins as GPIO if not used for SPI
  boards/arm/twr_ke18f/pinmux.c
Labels: area: Boards, area: SPI, platform: NXP

#16543 x86: remove unused and x86 only latency benchmark
  arch/x86/core/cpuhalt.c
  arch/x86/core/intstub.S
  arch/x86/core/irq_manage.c
  arch/x86/core/swap.S
  boards/posix/native_posix/irq_handler.c
  boards/posix/nrf52_bsim/irq_handler.c
  include/arch/x86/arch.h
  kernel/CMakeLists.txt
  kernel/Kconfig
  kernel/int_latency_bench.c
Labels: area: Kernel, area: X86, area: native port

#16388 arch: arm: userspace: don't subtract MPU guard from top of stack
  arch/arm/core/userspace.S
Labels: area: ARM, bug, priority: low

#16549 shell: Fix shell uart not waking up shell on mcumgr data
  subsys/shell/shell_uart.c
Labels: area: Shell, area: mcumgr

#16474 Bluetooth: Fix building of broadcaster or observer only
  subsys/bluetooth/host/hci_core.c
  subsys/bluetooth/shell/bt.c
Labels: area: Bluetooth

#16595 Power: Fix various spurious LOG_ERR calls
  soc/arm/nordic_nrf/nrf51/power.c
  soc/arm/nordic_nrf/nrf52/power.c
  soc/arm/silabs_exx32/common/soc_power.c
  subsys/power/policy/policy_residency.c
Labels: Trivial

#16314 drivers: stm32: Fix disabling EXTI subsystem
  drivers/gpio/gpio_stm32.c
  drivers/interrupt_controller/CMakeLists.txt
Labels: platform: STM32

#16556 PTHREAD_MUTEX_DEFINE(): don't store into the _k_mutex section
  include/posix/pthread.h
Labels: area: POSIX, backport v1.14-branch

#16608 cmake: no-address-of-packed-member is not supported in older compilers
  cmake/compiler/gcc/target_warnings.cmake
Labels: Trivial, bug

#16622 logging: use os as a domain for low level system debugging
  include/misc/stack.h
  kernel/init.c
  kernel/userspace.c
Labels: Trivial, area: Logging

#16620 include: arch: arc: Minor punctuation fix
  include/arch/arc/arch.h
Labels: Trivial, area: Documentation

#15553 doc/reference/storage/settings: storage behavior description
  doc/reference/storage/settings/settings.rst
Labels: area: Documentation

#16557 net: sockets: Make NET_SOCKETS_POSIX_NAMES depend on !POSIX_API
  subsys/net/lib/sockets/Kconfig
Labels: area: POSIX, area: Sockets

#16179 sensor: apd9960: improve proximity configuration
  drivers/sensor/apds9960/Kconfig
  drivers/sensor/apds9960/apds9960.c
  drivers/sensor/apds9960/apds9960.h
Labels: area: Drivers, area: Sensors

#16612 Bluetooth: Fix BT_ATT_ENFORCE_FLOW
  include/bluetooth/l2cap.h
  subsys/bluetooth/host/l2cap.c
Labels: area: Bluetooth, bug

#16601 Bluetooth: Mesh: Fix missing implementation of Proxy SAR timeout
  subsys/bluetooth/host/mesh/proxy.c
Labels: area: Bluetooth, backport v1.14-branch, bug

#16629 Bluetooth: host: Fix gatt indicate when conn is NULL
  subsys/bluetooth/host/gatt.c
Labels: area: Bluetooth, backport v1.14-branch, bug

#16617 Bluetooth: shell: Fix disconnect command argument count
  subsys/bluetooth/shell/bt.c
Labels: area: Bluetooth, bug, priority: medium

#16640 kernel/smp: Rename smp_init()
  kernel/include/kernel_internal.h
  kernel/init.c
  kernel/smp.c
Labels: Trivial

#16642 doc: fix malformed label in shields doc
  samples/shields/shields.rst
Labels: Trivial, area: Documentation

#16647 doc: fix typo in gpmrb doc
  boards/x86/gpmrb/doc/index.rst
Labels: Trivial, area: Documentation

#16644 tests: mesh: fix function prototype and match declaration
  tests/bluetooth/mesh/src/microbit.c
Labels: Trivial

#16499 Bluetooth: controller: split: Port Enc setup to be queueable
  subsys/bluetooth/controller/ll_sw/ull_adv.c
  subsys/bluetooth/controller/ll_sw/ull_conn.c
  subsys/bluetooth/controller/ll_sw/ull_conn_types.h
  subsys/bluetooth/controller/ll_sw/ull_master.c
  subsys/bluetooth/controller/ll_sw/ull_slave.c
Labels: RFC, area: Bluetooth, bug

#16345 net: ethernet: Fix build issue with C++
  include/net/ethernet.h
Labels: area: Networking, backport v1.14-branch

#16520 tests: net: socket: register: Close socket after test
  tests/net/socket/register/src/main.c
Labels: area: Networking

#16632 Bluetooth: GATT: Fix using invalid handles
  subsys/bluetooth/host/gatt.c
Labels: area: Bluetooth, bug

#16592 Bluetooth: Controller: Test for user extensions
  tests/bluetooth/ctrl_user_ext/CMakeLists.txt
  tests/bluetooth/ctrl_user_ext/prj.conf
  tests/bluetooth/ctrl_user_ext/src/main.c
  tests/bluetooth/ctrl_user_ext/src/ull_vendor.h
  tests/bluetooth/ctrl_user_ext/testcase.yaml
Labels: area: Bluetooth

#16591 tests: timer_api: Fix timer synchronization
  tests/kernel/timer/timer_api/src/main.c
Labels: Trivial, area: Testing, area: Timer, bug

#16656 scripts/dts: Remove alias defines for labels
  scripts/dts/extract/globals.py
Labels: area: Device Tree

#16658 doc: redirect old board pages to new location
  doc/conf.py
Labels: area: Documentation

#16646 time_t: define using a fixed-width type
  lib/libc/minimal/include/sys/types.h
Labels: Trivial, area: C Library

#16666 doc: add google analytics tracking to docs
  doc/conf.py
  doc/static/ga-tracker.js
Labels: area: Documentation

#16667 doc: remove .html from redirect entries
  doc/conf.py
Labels: Hotfix, area: Documentation

#16654 doc: Remove API label
  doc/development_process/dev_env_and_tools.rst
Labels: Trivial, area: Documentation

#16663 shell: Initialize va_list variables portably.
  subsys/shell/shell.c
  subsys/shell/shell_ops.c
Labels: area: Shell, bug, priority: low

#16655 debug: tracing: Fix tracing hooks
  arch/arm/include/kernel_arch_func.h
  kernel/init.c
Labels: area: ARM, area: Kernel

#16681 logging: Duplicate only strings from rw memory
  subsys/logging/log_core.c
Labels: area: Logging

#16559 string.c: make it 64-bit compatible
  lib/libc/minimal/include/sys/types.h
  lib/libc/minimal/source/string/string.c
Labels: area: C Library

#16586 Kconfig: introduce CONFIG_64BIT
  arch/Kconfig
  arch/common/gen_isr_tables.py
  tests/lib/c_lib/src/main.c
Labels: area: Kconfig

#16699 net: llmnr: Check that UDP header can be accessed
  subsys/net/lib/dns/llmnr_responder.c
Labels: area: Networking, backport v1.14-branch

#16710 samples: net: echo-server: Ignore the return value of close()
  samples/net/sockets/echo_server/src/tcp.c
Labels: area: Networking, area: Samples

#16627 drivers/pcie/shell: add basic probe for MSI-X capability
  drivers/pcie/shell.c
  include/drivers/pcie/msi.h
Labels: Trivial, area: Drivers, area: X86

#16636 west: build folder format configuration option
  doc/guides/west/build-flash-debug.rst
  scripts/west_commands/build.py
  scripts/west_commands/build_helpers.py
  scripts/west_commands/run_common.py
Labels: area: Documentation

#16722 doc: fix doxygen comments with embedded reST
  include/kernel.h
  include/net/mqtt.h
  include/shell/shell.h
Labels: area: API, area: Documentation

#16724 Trivial west flash/debug error handling improvement
  scripts/west_commands/run_common.py
Labels: Trivial, area: West

#16719 doc: generate documentation of ifdef`ed APIs
  doc/zephyr.doxyfile.in
  include/kernel.h
Labels: area: API, area: Documentation

#16496 drivers: Add counter driver (RTCC) for SiLabs Gecko SoCs
  boards/arm/efm32pg_stk3402a/Kconfig.defconfig
  boards/arm/efm32pg_stk3402a/doc/index.rst
  boards/arm/efm32pg_stk3402a/efm32pg_stk3402a.dts
  boards/arm/efr32_slwstk6061a/Kconfig.defconfig
  boards/arm/efr32_slwstk6061a/doc/index.rst
  boards/arm/efr32_slwstk6061a/efr32_slwstk6061a.dts
  boards/arm/efr32mg_sltb004a/Kconfig.defconfig
  boards/arm/efr32mg_sltb004a/doc/index.rst
  boards/arm/efr32mg_sltb004a/efr32mg_sltb004a.dts
  drivers/counter/CMakeLists.txt
  drivers/counter/Kconfig
  drivers/counter/Kconfig.gecko
  drivers/counter/counter_gecko_rtcc.c
  dts/arm/silabs/efm32pg12b.dtsi
  dts/arm/silabs/efr32fg1p.dtsi
  dts/arm/silabs/efr32mg.dtsi
  dts/bindings/rtc/silabs,gecko-rtcc.yaml
  soc/arm/silabs_exx32/Kconfig
  soc/arm/silabs_exx32/efr32fg1p/Kconfig.series
Labels: area: Counter, platform: SiLabs

#16688 Bluetooth: controller: split: Fix tx_ack mfifo count
  subsys/bluetooth/controller/ll_sw/ull_conn.c
Labels: area: Bluetooth

#16725 boards: nrf52_sparkfun: fix board.cmake
  boards/arm/nrf52_sparkfun/board.cmake
Labels: Trivial, area: Boards, area: Build System, area: West, bug, platform: nRF

#16731 Bluetooth: GATT: Fix assuming writes to CCC will always contain 2 bytes
  subsys/bluetooth/host/gatt.c
Labels: area: Bluetooth, backport v1.14-branch, bug

#16727 sdk: add support for 0.10.1 and remove 0.9.5
  cmake/toolchain/zephyr/0.10.1/generic.cmake
  cmake/toolchain/zephyr/0.10.1/host-tools.cmake
  cmake/toolchain/zephyr/0.10.1/target.cmake
  cmake/toolchain/zephyr/0.9.5/target.cmake
Labels: area: Build System

#16705 memslab/mempool: make tests 64-bit compatible
  tests/kernel/mem_pool/mem_pool_api/src/test_mpool.h
  tests/kernel/mem_pool/mem_pool_api/src/test_mpool_api.c
  tests/kernel/mem_pool/mem_pool_concept/src/test_mpool.h
  tests/kernel/mem_pool/mem_pool_concept/src/test_mpool_merge_fail_diff_size.c
  tests/kernel/mem_pool/mem_pool_threadsafe/src/main.c
  tests/kernel/mem_pool/sys_mem_pool/src/main.c
  tests/kernel/mem_slab/mslab_api/src/test_mslab.h
  tests/kernel/mem_slab/mslab_api/src/test_mslab_api.c
  tests/kernel/mem_slab/mslab_concept/src/test_mslab.h
  tests/kernel/mem_slab/mslab_threadsafe/src/test_mslab_threadsafe.c
  tests/kernel/obj_tracing/src/trace_obj.c
Labels: area: Kernel, area: Tests

#16614 STM32: EXTI driver cleanup
  drivers/interrupt_controller/exti_stm32.c
Labels: platform: STM32

#16537 cmake: warn if inconsistency between CMAKE_SOURCE_DIR and ZEPHYR_BASE
  CMakeLists.txt
  cmake/app/boilerplate.cmake
Labels: area: Build System

#16759 doc: fix path to gdb in documentation
  boards/arc/em_starterkit/doc/index.rst
  boards/arc/iotdk/doc/index.rst
Labels: area: Boards

#16762 net: make __net_buf_align 64-bit compatible
  include/net/buf.h
Labels: Trivial, area: API, area: Networking

#16744 cmake: Toolchain abstraction: Introducing toolchain_cc_freestanding
  CMakeLists.txt
  cmake/compiler/gcc/target_baremetal.cmake
Labels: area: Build System, area: Portability, area: Toolchains

#16690 Bluetooth: controller: split: Add ULL/LLL architecture assert checks
  subsys/bluetooth/controller/ll_sw/nordic/lll/lll.c
  subsys/bluetooth/controller/ll_sw/nordic/lll/lll_conn.c
  subsys/bluetooth/controller/ll_sw/ull.c
Labels: area: Bluetooth

#16682 Bluetooth: Mesh: LPN: Clear sent_req on failure
  subsys/bluetooth/host/mesh/lpn.c
Labels: area: Bluetooth, backport v1.14-branch, bug

#16380 Bluetooth: gatt: Fix infinite read_by_uuid procedure
  subsys/bluetooth/host/gatt.c
Labels: area: Bluetooth, bug

#16738 cmake: Toolchain abstraction: Abstraction of compiler imacros option
  CMakeLists.txt
  cmake/compiler/clang/target.cmake
  cmake/compiler/gcc/target.cmake
  cmake/compiler/gcc/target_imacros.cmake
  cmake/compiler/host-gcc/target.cmake
  cmake/compiler/xcc/target.cmake
Labels: area: Build System, area: Portability, area: Toolchains

#16757 arch: arm: fix start of MPU guard in stack-fail check (no user mode)
  arch/arm/core/thread.c
Labels: area: ARM, area: Memory Protection, backport v1.14-branch, bug, priority: low

#16697 net: if: Fix null pointer deref when selecting IPv4 address
  subsys/net/ip/net_if.c
Labels: area: Networking, backport v1.14-branch

#16769 Bluetooth: controller: Fix scan request when advertising directed
  subsys/bluetooth/controller/ll_sw/ctrl.c
  subsys/bluetooth/controller/ll_sw/nordic/lll/lll_adv.c
Labels: area: Bluetooth

#16774 cmake: Toolchain abstraction: Introducing macro toolchain_cc_nocommon
  CMakeLists.txt
  cmake/compiler/clang/target.cmake
  cmake/compiler/gcc/target.cmake
  cmake/compiler/gcc/target_base.cmake
  cmake/compiler/host-gcc/target.cmake
  cmake/compiler/xcc/target.cmake
Labels: area: Build System, area: Portability, area: Toolchains

#15787 bluetooth: controller: Revised ticker for improved conflict resolution
  subsys/bluetooth/controller/ticker/ticker.c
  subsys/bluetooth/controller/ticker/ticker.h
Labels: area: Bluetooth

#16771 Bluetooth: L2CAP: Fix inverting of SCID and DCID on disconnect
  subsys/bluetooth/host/l2cap.c
Labels: area: Bluetooth, backport v1.14-branch, bug

#16401 cmake: Introduce toolchain_ld_link_elf to abstract linker invocation
  CMakeLists.txt
  cmake/linker/ld/target.cmake
Labels: area: Build System, area: Portability, area: Toolchains

#16684 Bluetooth: controller: split: Port random slave event backoff
  subsys/bluetooth/controller/ll_sw/ull_conn.c
  subsys/bluetooth/controller/ll_sw/ull_conn_types.h
  subsys/bluetooth/controller/ll_sw/ull_slave.c
Labels: area: Bluetooth

#16685 Bluetooth: controller: BT_CTLR_USER_EXT depends on BT_LL_SW_SPLIT
  subsys/bluetooth/controller/Kconfig
Labels: area: Bluetooth

#16810 net: utils: Print pkt value in net_pkt_hexdump()
  subsys/net/ip/net_private.h
Labels: area: Networking

#16808 net: nbr: Set the link address type when saving neighbor data
  subsys/net/ip/nbr.c
Labels: area: Networking

#16776 dts: bindings: Fix missing "zephyr" vendor name
  dts/bindings/vendor-prefixes.txt
Labels: area: Device Tree

#16754 scripts/dts: Sort instance IDs by reg addr
  scripts/dts/extract_dts_includes.py
Labels: area: Device Tree

#16765 prf.c: make it 64-bit compatible
  lib/libc/minimal/source/stdout/prf.c
Labels: area: C Library

#16802 Add ci-tools to manifest
  west.yml
Labels: area: Modules

#16800 wifi: eswifi: init net_pkt cursor after net_pkt_write
  drivers/wifi/eswifi/eswifi_offload.c
Labels: area: Networking

#16812 cmake: Toolchain abstraction: Introducing macro toolchain_cc_cstd_flag
  CMakeLists.txt
  cmake/compiler/gcc/target_base.cmake
Labels: Trivial, area: Build System, area: Portability, area: Toolchains

#16718 logging: Fix log_strdup detection on non-standard messages
  subsys/logging/log_core.c
Labels: area: Logging, bug

#16736 samples: drivers: counter: alarm: Fix compilation for nrf boards
  samples/drivers/counter/alarm/Kconfig
  samples/drivers/counter/alarm/src/main.c
  soc/arm/nordic_nrf/nrf51/dts_fixup.h
  soc/arm/nordic_nrf/nrf52/dts_fixup.h
  soc/arm/nordic_nrf/nrf91/dts_fixup.h
Labels: area: Counter, area: Samples

#16764 k_stack: make it 64-bit compatible
  doc/reference/kernel/data_passing/stacks.rst
  include/kernel.h
  kernel/mailbox.c
  kernel/pipes.c
  kernel/stack.c
  tests/benchmarks/sys_kernel/src/stack.c
  tests/kernel/obj_tracing/src/trace_obj.c
  tests/kernel/stack/stack_api/src/test_stack_contexts.c
  tests/kernel/stack/stack_api/src/test_stack_fail.c
  tests/kernel/stack/stack_usage/src/main.c
Labels: area: API, area: Documentation, area: Kernel, area: Tests

#16820 Bluetooth: ATT: Queue buffers on bt_att_send
  subsys/bluetooth/host/att.c
Labels: area: Bluetooth, bug

#16835 west.yml: update open-amp SHA
  west.yml
Labels: area: Modules

#16845 Bluetooth: Simplify bt_gatt_notify_cb() API
  include/bluetooth/gatt.h
  subsys/bluetooth/host/gatt.c
  subsys/bluetooth/shell/gatt.c
Labels: area: API, area: Bluetooth

#16660 Generate DT_<ALIAS>_<PROP> defines
  scripts/dts/extract/globals.py
Labels: area: Device Tree

#16834 dts/bindings: Add uint8-array type for ethernet mac address
  dts/bindings/device_node.yaml.template
  dts/bindings/ethernet/ethernet.yaml
Labels: area: Device Tree

#16855 dts: xtensa: Fix compatible for xtensa lx6
  dts/bindings/vendor-prefixes.txt
  dts/xtensa/esp32.dtsi
  dts/xtensa/intel_s1000.dtsi
Labels: area: Device Tree

#16853 dts/bindings: Cleanup phy bindings
  dts/bindings/phy/phy.yaml
  dts/bindings/phy/st,stm32-usbphyc.yaml
  dts/bindings/phy/usb-nop-xceiv.yaml
Labels: area: Device Tree, area: USB

#16824 scripts/dts: Make extract/flash.py easier to read
  scripts/dts/extract/flash.py
Labels: area: Device Tree

#16850 sanitycheck: report tests that never build/run
  scripts/sanitycheck
Labels: area: Sanitycheck

#16748 drivers: spi hci: Add spi dedicated rx thread
  drivers/bluetooth/hci/Kconfig
  drivers/bluetooth/hci/spi.c
Labels: area: Bluetooth, platform: STM32

#16752 soc/arm/st_stm32: Replace STM32 specific core selection option
  ext/hal/st/stm32cube/CMakeLists.txt
  soc/arm/st_stm32/stm32mp1/Kconfig.defconfig.series
Labels: EXT, Trivial, platform: STM32

#16833 drivers/clock_control: stm32: Leftover from driver clean up
  drivers/clock_control/clock_stm32f2x.c
  drivers/clock_control/clock_stm32f3x.c
  drivers/clock_control/clock_stm32f7x.c
  drivers/clock_control/clock_stm32l1x.c
  drivers/clock_control/clock_stm32wbx.c
Labels: Trivial, area: Clock Control, platform: STM32

#16863 Bluetooth: Make it safe to allocate buffers from TX callback
  subsys/bluetooth/host/conn.c
Labels: area: Bluetooth, bug

#16858 tests: benchmarks: timing_info: add user space tag
  tests/benchmarks/timing_info/testcase.yaml
Labels: Trivial, area: Tests, area: Userspace

#16686 Bluetooth: controller: split: Fix buffer leak on disconnect
  subsys/bluetooth/controller/ll_sw/ull.c
  subsys/bluetooth/controller/ll_sw/ull_conn.c
  subsys/bluetooth/controller/ll_sw/ull_conn_internal.h
Labels: area: Bluetooth

#16847 CODEOWNERS: Clarify behaviour
  CODEOWNERS
Labels: Trivial

#16828 tests: kernel: userspace: correct address of thread priv stack start
  tests/kernel/mem_protect/userspace/src/main.c
Labels: Trivial, area: Kernel, area: Memory Protection, area: Tests, area: Userspace, bug

#16859 tests: kernel: fatal: add HW stack check for priv stack
  tests/kernel/fatal/prj.conf
  tests/kernel/fatal/src/main.c
  tests/kernel/fatal/src/test_syscalls.h
Labels: area: Kernel, area: Memory Protection, area: Tests, area: Userspace, enhancement

#16827 printk: make it 64-bit compatible
  include/misc/printk.h
  lib/os/printk.c
  tests/kernel/common/src/printk.c
Labels: area: API, area: Kernel, area: Tests

#16822 prf.c: implement the ll length modifiers
  lib/libc/Kconfig
  lib/libc/minimal/source/stdout/prf.c
Labels: area: C Library

#16838 cmake: stop destroying intermediate link maps like zephyr_prebuilt.map
  CMakeLists.txt
Labels: area: Build System, area: Linker Scripts, area: Toolchains, enhancement

#16536 CMakeLists.txt: -fmacro-prefix-map=${CMAKE_SOURCE_DIR}=CMAKE_SOURCE_DIR
  CMakeLists.txt
Labels: area: Build System, area: Toolchains, enhancement

#16730 drivers: Define COUNTER_LOG_LEVEL using template
  drivers/counter/Kconfig
Labels: area: Counter, area: Logging

#16763 usb: enforce byte alignment on USB records
  include/usb/bos.h
  include/usb/usb_device.h
Labels: area: USB

#16857 samples: display: ili9340: Document the 2 Arduino TFT shield configurations.
  samples/display/ili9340/README.rst
Labels: area: Samples, platform: nRF

#16796 boards: stm32f469i_disco: add more leds to board
  boards/arm/stm32f469i_disco/stm32f469i_disco.dts
Labels: area: Boards, platform: STM32

#16813 drivers: pinmux: stm32l4: Add extra pin functions
  drivers/pinmux/stm32/pinmux_stm32l4x.h
Labels: platform: STM32

#16818 boards: arm: Add support for 96Boards Meerkat96 board
  CODEOWNERS
  boards/arm/96b_meerkat96/96b_meerkat96.dts
  boards/arm/96b_meerkat96/96b_meerkat96.yaml
  boards/arm/96b_meerkat96/96b_meerkat96_defconfig
  boards/arm/96b_meerkat96/CMakeLists.txt
  boards/arm/96b_meerkat96/Kconfig.board
  boards/arm/96b_meerkat96/Kconfig.defconfig
  boards/arm/96b_meerkat96/doc/img/96b_meerkat96.jpg
  boards/arm/96b_meerkat96/doc/index.rst
  boards/arm/96b_meerkat96/pinmux.c
Labels: area: Boards, platform: NXP

#16836 Added simple and fairly conservative sanity check for interrupt table size
  arch/common/gen_isr_tables.py
Labels: area: Architectures, enhancement

#16878 include/drivers/system_timer.h: Clean up docs
  include/drivers/system_timer.h
Labels: area: API

#16883 drivers: pinmux: stm32l4: Fix CONFIG_SOC_STM32L496XX references
  drivers/pinmux/stm32/pinmux_stm32l4x.h
Labels: Hotfix

#16879 cmake: silence "WARNING: ASSERTs enabled" when CONFIG_TEST is true
  CMakeLists.txt
Labels: area: Build System

#16532 dfu/boot: double swap on interrupted revert bugfix adaptation
  subsys/dfu/Kconfig
  subsys/dfu/boot/mcuboot.c
Labels: area: MCUBoot, priority: high

#16659 boards: nucleo_wb55rg: Enable flash and debug with pyocd
  boards/arm/nucleo_wb55rg/board.cmake
  boards/arm/nucleo_wb55rg/doc/nucleowb55rg.rst
Labels: area: Boards, platform: STM32

#16885 bluetooth: controller: Reverted revised ticker pending redesign
  subsys/bluetooth/controller/ticker/ticker.c
  subsys/bluetooth/controller/ticker/ticker.h
Labels: area: Bluetooth, bug

#16869 drivers: adc: mcux_adc12: fix compilation
  drivers/adc/adc_mcux_adc12.c
Labels: area: ADC, bug, platform: NXP

#16896 manifest: add ci-tools (1.14)
  west.yml
Labels: area: Modules

#16852 scripts/sanitycheck: Add --cmake-only option
  scripts/sanitycheck
Labels: area: Sanitycheck

#16906 doc: fix Kconfig misspellings
  arch/posix/Kconfig
  arch/x86/core/Kconfig.ia32
  drivers/can/Kconfig.mcp2515
  drivers/gpio/Kconfig.ht16k33
  lib/updatehub/Kconfig
  subsys/bluetooth/controller/Kconfig
  subsys/bluetooth/services/Kconfig.dis
  subsys/net/ip/Kconfig
Labels: Trivial, area: Bluetooth, area: Documentation, area: Networking, area: X86, area: native port

#16904 doc: fix misspellings in documentation
  boards/arm/96b_argonkey/doc/index.rst
  boards/arm/96b_wistrio/doc/96b_wistrio.rst
  boards/arm/atsamr21_xpro/doc/index.rst
  boards/arm/b_l072z_lrwan1/doc/index.rst
  boards/arm/dragino_lsn50/doc/index.rst
  boards/arm/mec2016evb_assy6797/doc/index.rst
  boards/arm/nrf51_vbluno51/doc/index.rst
  boards/arm/nrf52840_pca10090/doc/index.rst
  boards/arm/stm32mp157c_dk2/doc/stm32mp157_dk2.rst
  boards/riscv32/hifive1_revb/doc/index.rst
  boards/x86/up_squared/doc/index.rst
  doc/development_process/proposals.rst
  doc/guides/debugging/probes.rst
  doc/guides/modules.rst
  samples/mpu/mpu_test/README.rst
  samples/net/updatehub/README.rst
  samples/sensor/bme680/README.rst
  samples/subsys/logging/logger/README.rst
  samples/subsys/usb/usb.rst
Labels: Trivial, area: Boards, area: Documentation, area: Networking, area: Samples

#16882 doc: fix broken references to zephyr files
  boards/arc/nsim/doc/index.rst
  doc/guides/device_mgmt/index.rst
Labels: Trivial, area: Boards, area: Documentation

#16891 scripts: Upgrade pyocd for pack support
  scripts/requirements.txt
Labels: area: Flashing

#16914 tests: getaddrinfo: set newlib heap size
  tests/net/socket/getaddrinfo/prj.conf
Labels: area: Networking, area: Tests, backport v1.14-branch

#16895 Bluetooth: Fix expiring RPA when different local identities are used
  subsys/bluetooth/host/hci_core.c
Labels: area: Bluetooth, backport v1.14-branch, bug

#16633 USB: drivers: usb_dc_stm32: Fix coverity issue
  drivers/usb/device/usb_dc_stm32.c
Labels: area: USB

#16916 generated/cfb_font_dice.h: don't leak absolute paths in comment
  cmake/cfb.cmake
  scripts/gen_cfb_font_header.py
Labels: area: Build System

#16854 tests: kernel: fatal: add explicit no user-mode test case
  tests/kernel/fatal/protection_no_userspace.conf
  tests/kernel/fatal/testcase.yaml
Labels: area: ARM, area: Kernel, area: Memory Protection, area: Testing, area: Tests, enhancement

#16923 arch: common: nocache: fix linker section definition
  arch/common/nocache.ld
Labels: area: ARM, area: Linker Scripts

#16920 scripts/sanitycheck: fix ZEPHYR_BASE subdir check edge case
  scripts/sanitycheck
Labels: area: Sanitycheck

#16917 BOOT_BANNER: show KERNEL_VERSION and BUILD_VERSION differently
  kernel/init.c
Labels: area: Build System, area: Kernel, enhancement

#16928 Kconfig: Introducing ARCH_CHOICE symbol for Architecture choice group
  arch/Kconfig
Labels: Trivial, area: Architectures, area: Kconfig

#16933 dts/bindings: Remove pinctrl from bindings
  dts/bindings/can/can.yaml
  dts/bindings/serial/intel,qmsi-uart.yaml
  dts/bindings/serial/nxp,imx-uart.yaml
  dts/bindings/serial/nxp,kinetis-lpuart.yaml
  dts/bindings/serial/nxp,kinetis-uart.yaml
  dts/bindings/serial/nxp,lpc-usart.yaml
  dts/bindings/serial/openisa,rv32m1-lpuart.yaml
  dts/bindings/serial/uart.yaml
Labels: area: Device Tree

#16939 bluetooth: controller: Moved ull_entropy_get to LLL
  subsys/bluetooth/controller/ll_sw/nordic/lll/lll.c
  subsys/bluetooth/controller/ll_sw/nordic/lll/lll_internal.h
  subsys/bluetooth/controller/ll_sw/ull.c
  subsys/bluetooth/controller/ll_sw/ull_adv.c
  subsys/bluetooth/controller/ll_sw/ull_internal.h
Labels: Trivial, area: Bluetooth

#16932 net: mqtt: add mqtt_readall_publish_payload()
  include/net/mqtt.h
  subsys/net/lib/mqtt/mqtt.c
  tests/net/lib/mqtt_pubsub/src/test_mqtt_pubsub.c
Labels: area: API, area: Networking, area: Tests

#16860 doc: intel_s1000: install the license key manually
  boards/xtensa/intel_s1000_crb/doc/index.rst
Labels: area: Boards, area: Xtensa

#16940 dts/bindings: Fix openisa,rv32m1-intmux binding
  dts/bindings/interrupt-controller/openisa,rv32m1-intmux.yaml
Labels: area: Device Tree, bug

#16918 dts: cleanup missing #{address,size}-cells
  boards/arm/arduino_zero/arduino_zero.dts
  boards/arm/atsamd20_xpro/atsamd20_xpro.dts
  boards/arm/atsamd21_xpro/atsamd21_xpro.dts
  boards/arm/atsamr21_xpro/atsamr21_xpro.dts
  boards/riscv32/hifive1/hifive1.dts
  boards/riscv32/hifive1_revb/hifive1_revb.dts
  dts/arm/atmel/sam3x.dtsi
  dts/arm/atmel/sam4s.dtsi
  dts/arm/microchip/mec1501hsz.dtsi
  dts/riscv32/riscv32-fe310.dtsi
Labels: area: Boards, area: Device Tree

#16965 tests: minor FCB re-ordering not to leave a random flash.bin behind
  tests/subsys/fs/fcb/src/main.c
Labels: area: File System, area: Tests, enhancement

#16938 dts/bindings: Add binding for riscv,cpu-intc
  dts/bindings/interrupt-controller/riscv,cpu-intc.yaml
Labels: area: Device Tree

#16973 dts: Add concept of sub-nodes to YAML and generator
  dts/bindings/device_node.yaml.template
  dts/bindings/gpio/gpio-keys.yaml
  dts/bindings/gpio/gpio-leds.yaml
  dts/bindings/led/pwm-leds.yaml
  dts/bindings/mtd/partition.yaml
  scripts/dts/extract/globals.py
  scripts/dts/extract_dts_includes.py
Labels: area: Device Tree

#16590 drivers: usart for LPC devices interrupt enabled
  boards/arm/lpcxpresso54114/lpcxpresso54114_m4_defconfig
  boards/arm/lpcxpresso55s69/lpcxpresso55s69_cpu0_defconfig
  drivers/serial/Kconfig.mcux_lpc_usart
  drivers/serial/usart_mcux_lpc.c
  soc/arm/nxp_lpc/lpc54xxx/dts_fixup.h
  soc/arm/nxp_lpc/lpc55xxx/dts_fixup.h
Labels: area: Boards, area: UART, platform: NXP

#16969 sanitycheck: show handler_time in -v output (qemu 2.032s)
  scripts/sanitycheck
Labels: area: Sanitycheck

#16980 scripts/dts: Treat string-list always as a list
  scripts/dts/extract/default.py
Labels: area: Device Tree

#16992 board: mps2_an385: Remove board.h
  boards/arm/mps2_an385/board.h
Labels: area: Boards

#16982 drivers: rv32m1: remove bogus IRQ_PRI related defines
  drivers/gpio/gpio_rv32m1.c
  drivers/i2c/i2c_rv32m1_lpi2c.c
  drivers/serial/uart_rv32m1_lpuart.c
  drivers/timer/rv32m1_lptmr_timer.c
Labels: area: I2C, area: Timer

#16977 soc: stm32f3: Delete obsolete FLASH_PAGE_SIZE Kconfig symbol
  soc/arm/st_stm32/stm32f3/Kconfig.defconfig.stm32f302x8
  soc/arm/st_stm32/stm32f3/Kconfig.defconfig.stm32f303xc
  soc/arm/st_stm32/stm32f3/Kconfig.defconfig.stm32f334x8
  soc/arm/st_stm32/stm32f3/Kconfig.defconfig.stm32f373xc
Labels: Trivial, area: Flash, area: Kconfig, platform: STM32

#17001 sensor: lis2dh: Use general DT_<COMPAT>_BUS_<BUS> define.
  drivers/sensor/lis2dh/lis2dh.h
  tests/drivers/build_all/dts_fixup.h
Labels: area: Sensors, area: Tests
