Repository zephyrproject-rtos/zephyr, pull requests merged in 2019-01, with the labels that each got.

#12222 soc: nordic: default GPIO when SPI enabled
  soc/arm/nordic_nrf/Kconfig.defconfig
Labels: Trivial, area: Kconfig, nRF

#12057 nvs: avoid reading multiple times the same area
  subsys/fs/nvs/nvs.c
Labels: area: Flash, enhancement

#12219 net: coap: return -EPERM for a resource without requested method
  subsys/net/lib/coap/coap.c
  subsys/net/lib/coap/coap_sock.c
Labels: area: Networking

#12256 boards: arm: stm32: Fix openocd warning
  boards/arm/96b_stm32_sensor_mez/support/openocd.cfg
  boards/arm/b_l072z_lrwan1/support/openocd.cfg
  boards/arm/disco_l475_iot1/support/openocd.cfg
  boards/arm/nucleo_f207zg/support/openocd.cfg
  boards/arm/nucleo_l053r8/support/openocd.cfg
  boards/arm/nucleo_l073rz/support/openocd.cfg
  boards/arm/nucleo_l432kc/support/openocd.cfg
  boards/arm/olimex_stm32_e407/support/openocd.cfg
  boards/arm/olimex_stm32_p405/support/openocd.cfg
  boards/arm/stm32_min_dev/support/openocd.cfg
Labels: STM32

#12271 net/icmpv4: A checksum value of 0 is valid
  subsys/net/ip/icmpv4.c
Labels: area: Networking

#12260 dts: stm32f1: add uart5
  dts/arm/st/f1/stm32f103Xe.dtsi
  dts/arm/st/f1/stm32f107.dtsi
  soc/arm/st_stm32/stm32f1/dts_fixup.h
Labels: STM32

#12336 tests: cmsis_rtos_v2: Bugfix in test which leads to random errors
  tests/cmsis_rtos_v2/src/kernel.c
Labels: Hotfix, Trivial, area: Tests, bug

#12333 soc: nxp_imx: Fix ethernet build error
  soc/arm/nxp_imx/rt/soc.c
Labels: NXP, area: Ethernet

#12349 Remove NRF dependency from flash shell
  drivers/flash/flash_shell.c
Labels: Trivial

#12350 settings: Corrected type for offset variables
  subsys/settings/src/settings_fcb.c
  subsys/settings/src/settings_file.c
Labels: Trivial

#12338 Bluetooth: Mesh: Two fixes for heartbeat publication storage
  subsys/bluetooth/host/mesh/settings.c
Labels: area: Bluetooth

#11210 boards: arm: nrf52840_pca10059: update dts and overlay
  boards/arm/nrf52840_pca10059/Kconfig
  boards/arm/nrf52840_pca10059/Kconfig.defconfig
  boards/arm/nrf52840_pca10059/fstab-debugger.dts
  boards/arm/nrf52840_pca10059/fstab-stock.dts
  boards/arm/nrf52840_pca10059/nrf52840_pca10059.dts
Labels: area: Device Tree, nRF

#12351 dfu: Cast offset to u32_t before calling LOG
  subsys/dfu/img_util/flash_img.c
Labels: Trivial

#11113 drivers: flash: w25q: Make spi_flash_wb_write/read support multiple pages
  drivers/flash/Kconfig.w25qxxdv
  drivers/flash/spi_flash_w25qxxdv.c
Labels: area: Flash

#12363 CODEOWNERS: Added code owner for GUI related code
  CODEOWNERS
Labels: Trivial

#12370 net/ieee802154: Compute ll hdr size before 6lo compression
  subsys/net/l2/ieee802154/ieee802154.c
Labels: area: Networking

#12214 net: ethernet: Clean an obscure ref/unref logic in ethernet_send()
  subsys/net/l2/ethernet/ethernet.c
Labels: area: Networking

#12371 net/icmpv4: Disable broadcast echo request reply by default
  subsys/net/ip/Kconfig.ipv4
Labels: area: Networking

#11957 kernel: Do not use zero-length array
  include/kernel.h
Labels: MISRA-C

#12105 drivers/sensor/lsm6dsl: Use DT defines to select I2C/SPI bus
  boards/arm/96b_argonkey/Kconfig.defconfig
  drivers/sensor/lsm6dsl/CMakeLists.txt
  drivers/sensor/lsm6dsl/Kconfig
  drivers/sensor/lsm6dsl/lsm6dsl.c
  drivers/sensor/lsm6dsl/lsm6dsl_i2c.c
  drivers/sensor/lsm6dsl/lsm6dsl_spi.c
  tests/drivers/build_all/dts_fixup.h
Labels: area: Device Tree, area: Sensors

#12374 nrf52_bsim: Improve compile time check of HW models version
  boards/posix/nrf52_bsim/CMakeLists.txt
Labels: Trivial, nrf52_bsim

#11707 dts: silabs: use 'aliases' to remove dts_fixup defines
  boards/arm/efm32hg_slstk3400a/efm32hg_slstk3400a.dts
  boards/arm/efm32pg_stk3402a/efm32pg_stk3402a.dts
  boards/arm/efm32wg_stk3800/efm32wg_stk3800.dts
  boards/arm/efr32_slwstk6061a/efr32_slwstk6061a.dts
  boards/arm/efr32mg_sltb004a/efr32mg_sltb004a.dts
  drivers/i2c/i2c_gecko.c
  drivers/serial/leuart_gecko.c
  drivers/serial/uart_gecko.c
  dts/arm/silabs/efm32hg.dtsi
  dts/arm/silabs/efm32pg12b.dtsi
  dts/arm/silabs/efm32wg.dtsi
  dts/arm/silabs/efr32fg1p.dtsi
  dts/arm/silabs/efr32mg.dtsi
  soc/arm/silabs_exx32/efm32hg/dts_fixup.h
  soc/arm/silabs_exx32/efm32hg/soc_pinmap.h
  soc/arm/silabs_exx32/efm32pg12b/dts_fixup.h
  soc/arm/silabs_exx32/efm32pg12b/soc_pinmap.h
  soc/arm/silabs_exx32/efm32wg/dts_fixup.h
  soc/arm/silabs_exx32/efm32wg/soc_pinmap.h
  soc/arm/silabs_exx32/efr32fg1p/dts_fixup.h
  soc/arm/silabs_exx32/efr32fg1p/soc_pinmap.h
  soc/arm/silabs_exx32/efr32mg12p/dts_fixup.h
  soc/arm/silabs_exx32/efr32mg12p/soc_pinmap.h
Labels: SiLabs, area: Device Tree

#12093 soc: silabs: add Kconfig options to independently enable compilation of vendor HAL library modules
  drivers/flash/Kconfig.gecko
  drivers/gpio/Kconfig.gecko
  drivers/i2c/Kconfig
  drivers/serial/Kconfig.gecko
  drivers/serial/Kconfig.leuart_gecko
  ext/hal/silabs/gecko/CMakeLists.txt
  soc/arm/silabs_exx32/Kconfig
  soc/arm/silabs_exx32/efm32hg/Kconfig.defconfig.efm32hg
  soc/arm/silabs_exx32/efm32hg/Kconfig.series
  soc/arm/silabs_exx32/efm32pg12b/Kconfig.defconfig.efm32pg12b
  soc/arm/silabs_exx32/efm32pg12b/Kconfig.series
  soc/arm/silabs_exx32/efm32wg/Kconfig.defconfig.efm32wg
  soc/arm/silabs_exx32/efm32wg/Kconfig.series
  soc/arm/silabs_exx32/efr32fg1p/Kconfig.defconfig.efr32fg1p
  soc/arm/silabs_exx32/efr32fg1p/Kconfig.series
  soc/arm/silabs_exx32/efr32mg12p/Kconfig.defconfig.efr32mg12p
  soc/arm/silabs_exx32/efr32mg12p/Kconfig.series
Labels: SiLabs

#12289 usb: cdc_acm: call the IRQ callback from the system work queue
  subsys/usb/class/cdc_acm.c
Labels: area: USB

#12384 Fix kernel asynchronous event polling interface
  kernel/poll.c
Labels: Trivial, bug, priority: high

#12392 net: mqtt: Fix typo "seg_tag_list"
  include/net/mqtt.h
  samples/net/mqtt_publisher/src/main.c
  subsys/net/lib/mqtt_sock/mqtt_transport_socket_tls.c
Labels: area: Networking

#12381 dts: stm32l4r5: add i2c2 node
  dts/arm/st/l4/stm32l4r5.dtsi
Labels: STM32

#12158 usb: hid: macros for report descriptors
  include/usb/class/usb_hid.h
  samples/subsys/usb/hid-mouse/src/main.c
Labels: area: USB

#12167 bluetooth: controller: Document mem, memq, util
  subsys/bluetooth/controller/util/mem.c
  subsys/bluetooth/controller/util/mem.h
  subsys/bluetooth/controller/util/memq.c
  subsys/bluetooth/controller/util/memq.h
  subsys/bluetooth/controller/util/util.c
Labels: area: Bluetooth, area: Documentation

#12414 net: tcp: Release connect() semaphore if connection is refused
  subsys/net/ip/tcp.c
Labels: Trivial, area: Networking

#12412 cmake: Introduce simple host toolchain for POSIX arch
  cmake/generic_toolchain.cmake
  cmake/toolchain/host/generic.cmake
  cmake/toolchain/host/target.cmake
Labels: Trivial, area: Build System, area: POSIX

#12422 drivers: eth: stellaris: Enable automatic Ethernet support in QEMU
  drivers/ethernet/Kconfig.stellaris
  samples/net/echo_server/overlay-qemu_cortex_m3_eth.conf
Labels: area: Ethernet, area: Networking

#12418 soc: nrf: Add missing nRF52832 variants
  soc/arm/nordic_nrf/nrf52/Kconfig.defconfig.nrf52832_CIAA
  soc/arm/nordic_nrf/nrf52/Kconfig.defconfig.nrf52832_QFAB
  soc/arm/nordic_nrf/nrf52/Kconfig.soc
Labels: nRF

#12380 Update west to ad6a22c
  scripts/meta/west/_bootstrap/main.py
  scripts/meta/west/_bootstrap/version.py
  scripts/meta/west/_bootstrap/west-schema.yml
  scripts/meta/west/build.py
  scripts/meta/west/cmake.py
  scripts/meta/west/commands/build.py
  scripts/meta/west/commands/debug.py
  scripts/meta/west/commands/flash.py
  scripts/meta/west/commands/project.py
  scripts/meta/west/commands/run_common.py
  scripts/meta/west/commands/schema.yml
  scripts/meta/west/config.py
  scripts/meta/west/log.py
  scripts/meta/west/main.py
  scripts/meta/west/manifest-schema.yml
  scripts/meta/west/manifest.py
  scripts/meta/west/runners/__init__.py
  scripts/meta/west/runners/arc.py
  scripts/meta/west/runners/blackmagicprobe.py
  scripts/meta/west/runners/bossac.py
  scripts/meta/west/runners/core.py
  scripts/meta/west/runners/dfu.py
  scripts/meta/west/runners/esp32.py
  scripts/meta/west/runners/intel_s1000.py
  scripts/meta/west/runners/jlink.py
  scripts/meta/west/runners/nios2.py
  scripts/meta/west/runners/nrfjprog.py
  scripts/meta/west/runners/nsim.py
  scripts/meta/west/runners/openocd.py
  scripts/meta/west/runners/pyocd.py
  scripts/meta/west/runners/qemu.py
  scripts/meta/west/runners/xtensa.py
Labels: west

#12421 dts: silabs: Add SoC level compatible
  dts/arm/silabs/efm32hg322f64.dtsi
  dts/arm/silabs/efm32pg12b500f1024gl125.dtsi
  dts/arm/silabs/efm32wg990f256.dtsi
  dts/arm/silabs/efr32fg1p133f256gm48.dtsi
  dts/arm/silabs/efr32mg12p332f1024gl125.dtsi
Labels: SiLabs

#11877 boards: add new board Electronut-labs Blip
  boards/arm/nrf52840_blip/Kconfig
  boards/arm/nrf52840_blip/Kconfig.board
  boards/arm/nrf52840_blip/Kconfig.defconfig
  boards/arm/nrf52840_blip/board.cmake
  boards/arm/nrf52840_blip/doc/img/nrf52840_blip.jpg
  boards/arm/nrf52840_blip/doc/nrf52840_blip.rst
  boards/arm/nrf52840_blip/nrf52840_blip.dts
  boards/arm/nrf52840_blip/nrf52840_blip.yaml
  boards/arm/nrf52840_blip/nrf52840_blip_defconfig
  tests/drivers/adc/adc_api/src/test_adc.c
Labels: area: ARM, area: Boards, nRF

#12452 boards: arm: Cleanup xtools toolchain support
  boards/arm/mimxrt1020_evk/mimxrt1020_evk.yaml
  boards/arm/mps2_an385/mps2_an385.yaml
  boards/arm/nrf52840_blip/nrf52840_blip.yaml
  boards/arm/particle_argon/particle_argon.yaml
  boards/arm/particle_boron/particle_boron.yaml
  boards/arm/particle_xenon/particle_xenon.yaml
Labels: area: ARM, area: Boards, area: Toolchains

#12451 Bluetooth: Mesh: Remove redundant stack variable
  subsys/bluetooth/host/mesh/friend.c
Labels: area: Bluetooth

#12188 cmake: Remove dead code 'FindRegex.cmake'
  scripts/cmake/FindRegex.cmake
Labels: Trivial, enhancement

#12426 Generate DT_<COMPAT>_<INSTANCE>_<PROP> defines
  scripts/dts/extract/clocks.py
  scripts/dts/extract/compatible.py
  scripts/dts/extract/default.py
  scripts/dts/extract/globals.py
  scripts/dts/extract/interrupts.py
  scripts/dts/extract/reg.py
  scripts/dts/extract_dts_includes.py
Labels: area: Device Tree

#12424 Lower bitrate to 125000 for stm32f072b_disco
  boards/arm/stm32f072b_disco/stm32f072b_disco.dts
Labels: STM32, area: CAN

#12288 cmake: Remove kconfig-usage target
  cmake/usage/CMakeLists.txt
Labels: Trivial, area: Build System, area: Kconfig

#12471 drivers: spi_sam: initialize tx and rx
  drivers/spi/spi_sam.c
  drivers/spi/spi_sam0.c
Labels: Trivial

#12481 Bluetooth: Increase default TX stack size
  subsys/bluetooth/host/Kconfig
Labels: area: Bluetooth

#12446 net: Fix inet_pton when offloading is enabled
  include/net/socket.h
Labels: area: Networking

#12399 scripts: extract_dts_includes: Change arg parsing requirements
  scripts/dts/extract_dts_includes.py
Labels: area: Device Tree

#12486 dts: nordic: add missing nRF91 flash controller binding
  dts/bindings/flash_controller/nordic,nrf91-flash-controller.yaml
Labels: Trivial, nRF

#12484 Bluetooth: Give proper names to Bluetooth threads
  subsys/bluetooth/controller/hci/hci_driver.c
  subsys/bluetooth/host/hci_core.c
  subsys/bluetooth/host/hci_ecc.c
  subsys/bluetooth/host/mesh/adv.c
  subsys/bluetooth/host/rfcomm.c
Labels: area: Bluetooth

#12492 boards: bbc_microbit: Add i2c/gpio as supported peripherals
  boards/arm/bbc_microbit/bbc_microbit.yaml
Labels: Trivial, area: Boards

#12443 soc: select CONFIG_CPU_CORTEX_M_HAS_VTOR for SAMD21 series
  soc/arm/atmel_sam0/samd20/Kconfig.series
  soc/arm/atmel_sam0/samd21/Kconfig.series
Labels: ATMEL, area: ARM

#12467 dts: nrf: Add SoC compatiable property
  dts/arm/nordic/nrf51822_qfaa.dtsi
  dts/arm/nordic/nrf51822_qfab.dtsi
  dts/arm/nordic/nrf51822_qfac.dtsi
  dts/arm/nordic/nrf52810_qfaa.dtsi
  dts/arm/nordic/nrf52832_ciaa.dtsi
  dts/arm/nordic/nrf52832_qfaa.dtsi
  dts/arm/nordic/nrf52832_qfab.dtsi
  dts/arm/nordic/nrf52840_qiaa.dtsi
  dts/arm/nordic/nrf9160_sica.dtsi
  dts/arm/nordic/nrf9160ns_sica.dtsi
Labels: nRF

#12434 smp: shell: Add support for SMP in new shell.
  include/mgmt/smp_shell.h
  include/shell/shell.h
  include/shell/shell_uart.h
  subsys/mgmt/Kconfig
  subsys/mgmt/smp_shell.c
  subsys/shell/shell.c
  subsys/shell/shell_uart.c
Labels: area: Shell, enhancement

#12495 samples: big_http_download: Set min_flash to 128K.
  samples/net/sockets/big_http_download/sample.yaml
Labels: Trivial, area: Build System

#11235 lib: posix: fix a wrong type in mqueue.c
  lib/posix/mqueue.c
Labels: Trivial, area: POSIX

#12502 net: tcp: do not drop successfully received packets
  subsys/net/ip/tcp.c
Labels: area: Networking

#12511 ext: hal: nordic: add nrfx misc for nRF9160
  ext/hal/nordic/CMakeLists.txt
Labels: EXT, Trivial, nRF

#12459 drivers/pinmux: stm32: Clean up after gpio driver factorization
  drivers/pinmux/stm32/pinmux_stm32.c
  soc/arm/st_stm32/stm32f0/soc.h
  soc/arm/st_stm32/stm32f1/soc.h
  soc/arm/st_stm32/stm32f2/soc.h
  soc/arm/st_stm32/stm32f3/soc.h
  soc/arm/st_stm32/stm32f4/soc.h
  soc/arm/st_stm32/stm32f7/soc.h
  soc/arm/st_stm32/stm32l0/soc.h
  soc/arm/st_stm32/stm32l4/soc.h
Labels: STM32, Trivial

#12507 Corrected __ASSERT include paths in settings subsytem
  subsys/settings/src/settings_file.c
  subsys/settings/src/settings_init.c
  subsys/settings/src/settings_line.c
Labels: Trivial

#11905 boards: arm: nrf51_ble400: add I2C and SPI configuration
  boards/arm/nrf51_ble400/Kconfig.defconfig
  boards/arm/nrf51_ble400/nrf51_ble400.dts
  samples/sensor/sht3xd/nrf51_ble400.overlay
  samples/sensor/sht3xd/prj_nrf.conf
  samples/sensor/sht3xd/sample.yaml
Labels: area: Boards, nRF

#12518 boards: 96b_argonkey: Add hts221 sensor to supported list
  boards/arm/96b_argonkey/96b_argonkey.yaml
Labels: Trivial, area: Boards

#12519 boards: nrf52_pca20020: Add hts221 sensor to supported list
  boards/arm/nrf52_pca20020/nrf52_pca20020.yaml
Labels: Trivial, area: Boards

#12496 sensor: bme280: Converting to using device tree
  drivers/sensor/bme280/Kconfig
  drivers/sensor/bme280/bme280.c
  drivers/sensor/bme280/bme280.h
  dts/bindings/sensor/bosch,bme280-i2c.yaml
  dts/bindings/sensor/bosch,bme280-spi.yaml
  samples/boards/arduino_101/environmental_sensing/sensor/arduino_101_sss.overlay
  samples/boards/arduino_101/environmental_sensing/sensor/prj.conf
  samples/sensor/bme280/prj_spi.conf
  samples/sensor/bme280/sample.yaml
  tests/drivers/build_all/dts_fixup.h
Labels: area: Device Tree, area: I2C, area: SPI, area: Sensors

#12508 boards: lpcxpresso54114: Add SW for lpcxpresso54114
  boards/arm/lpcxpresso54114/lpcxpresso54114_m4.dts
  boards/arm/lpcxpresso54114/pinmux.c
Labels: NXP

#12522 sensors: lsm303dlhc: Convert to new DT_<COMPAT>_<INSTANCE> defines
  boards/arm/stm32f3_disco/dts_fixup.h
  drivers/sensor/lsm303dlhc_accel/lsm303dlhc_accel.c
  drivers/sensor/lsm303dlhc_magn/lsm303dlhc_magn.c
  samples/sensor/lsm303dlhc/src/main.c
  tests/drivers/build_all/dts_fixup.h
Labels: area: Device Tree, area: Sensors

#12489 drivers/i2c: stm32: (FIX) add semaphore to lock bus
  drivers/i2c/i2c_ll_stm32.c
  drivers/i2c/i2c_ll_stm32.h
Labels: STM32, area: I2C

#10627 subsys: shell: removing legacy shell
  include/shell/legacy_shell.h
  samples/net/wpanusb/prj.conf
  samples/subsys/shell/shell_module/prj_minimal.conf
  subsys/CMakeLists.txt
  subsys/mgmt/smp_shell.c
  subsys/shell/CMakeLists.txt
  subsys/shell/Kconfig
  subsys/shell/legacy_shell.c
  subsys/shell/shell_service.c
Labels: API, area: Shell

#12366 serial: stm32: Implement configure and config_get api calls
  drivers/serial/uart_stm32.c
  drivers/serial/uart_stm32.h
Labels: STM32, area: UART, enhancement

#12539 cmake: samples: mesh: Remove redundant CMake code
  samples/boards/nrf52/mesh/onoff_level_lighting_vnd_app/CMakeLists.txt
Labels: Trivial, area: Bluetooth, area: Build System

#12534 shell: documentation update
  doc/subsystems/shell/shell.rst
  subsys/shell/shell_cmds.c
Labels: area: Shell, enhancement

#12505 drivers: wifi: simplelink: add timeout for fast connect feature
  drivers/wifi/simplelink/Kconfig.simplelink
  drivers/wifi/simplelink/simplelink.c
Labels: area: Networking, area: Wifi

#12573 tests: ipm: disable on qemu_x86_64 [REVERT ME]
  tests/drivers/ipm/testcase.yaml
Labels: Hotfix

#12551 sensor: fxas21002: Convert to new DT_<COMPAT>_<INSTANCE> defines
  boards/arm/hexiwear_k64/dts_fixup.h
  boards/arm/warp7_m4/dts_fixup.h
  drivers/sensor/fxas21002/fxas21002.c
  samples/sensor/fxas21002/src/main.c
  tests/drivers/build_all/dts_fixup.h
Labels: area: Device Tree, area: Sensors

#12550 sensor: lps22hb: Convert to new DT_<COMPAT>_<INSTANCE> defines
  boards/arm/96b_argonkey/dts_fixup.h
  boards/arm/disco_l475_iot1/dts_fixup.h
  boards/arm/nrf52_pca20020/dts_fixup.h
  boards/shields/x_nucleo_iks01a2/dts_fixup.h
  drivers/sensor/lps22hb/lps22hb.c
  samples/boards/96b_argonkey/src/main.c
  tests/drivers/build_all/dts_fixup.h
Labels: area: Device Tree, area: Sensors

#12529 led_strip: ws2182: Add Device Tree support
  drivers/led_strip/Kconfig.ws2812
  drivers/led_strip/ws2812.c
  dts/bindings/led_strip/worldsemi,ws2812.yaml
  samples/drivers/led_ws2812/96b_carbon.overlay
  samples/drivers/led_ws2812/README.rst
  samples/drivers/led_ws2812/boards/96b_carbon.conf
  samples/drivers/led_ws2812/src/main.c
Labels: area: Device Tree, area: LED, area: SPI

#12579 sensor: max30101: Convert to new DT_<COMPAT>_<INSTANCE> defines
  boards/arm/hexiwear_k64/dts_fixup.h
  drivers/sensor/max30101/max30101.c
  samples/sensor/max30101/src/main.c
  tests/drivers/build_all/dts_fixup.h
Labels: area: Device Tree, area: Sensors

#12582 sensor: bmi160: Convert to new DT_<COMPAT>_<INSTANCE> defines
  boards/arc/arduino_101_sss/dts_fixup.h
  drivers/sensor/bmi160/bmi160.c
  samples/sensor/bmi160/src/bmi160.c
  tests/drivers/build_all/dts_fixup.h
Labels: area: Device Tree, area: Sensors

#12586 doc: extensions: Add shield support to zephyr-app-commands
  doc/extensions/zephyr/application.py
  doc/porting/shields.rst
Labels: area: Documentation

#12592 doc: update doc guidelines
  doc/README.rst
  doc/documentation/doc-guidelines.rst
  doc/images/doc-gen-flow.dot
  doc/images/doc-gen-flow.png
Labels: area: Documentation

#12569 nrf52_bsim: Update to support incoming changes to clock driver
  boards/posix/nrf52_bsim/board_soc.h
  boards/posix/nrf52_bsim/hw_models_version
Labels: Trivial, nrf52_bsim, priority: high

#12585 samples: bluetooth: peripheral_hr: Rework FRDM-KW41Z shield support
  samples/bluetooth/peripheral_hr/CMakeLists.txt
  samples/bluetooth/peripheral_hr/sample.yaml
Labels: area: Bluetooth, area: Build System, area: Samples

#12567 boards: nucleo_l476rg: Fix arduino_i2c
  boards/arm/nucleo_l476rg/Kconfig.defconfig
  boards/arm/nucleo_l476rg/doc/nucleol476rg.rst
  boards/arm/nucleo_l476rg/nucleo_l476rg.dts
  boards/arm/nucleo_l476rg/pinmux.c
Labels: STM32

#12598 Remove stale ILI9340 header file
  include/drivers/display/ili9340.h
Labels: Trivial, area: Display

#12603 samples: echo_server: Test overlays for eth_e1000 and eth_stellaris
  samples/net/echo_server/sample.yaml
Labels: area: Ethernet, area: Networking

#12583 drivers: eth_mcux: By default use 1 buffer each for hardware RX/TX
  drivers/ethernet/Kconfig.mcux
Labels: NXP, area: Ethernet

#12599 Fix mcuboot tests
  tests/subsys/dfu/mcuboot/src/main.c
Labels: Trivial

#12618 sanitycheck: Error out when running sanitycheck from Windows
  scripts/sanitycheck
Labels: Trivial, area: Sanitycheck, enhancement

#12619 ext: lib: crypto: Extend generic mbedTLS config
  ext/lib/crypto/mbedtls/Kconfig.tls-generic
  ext/lib/crypto/mbedtls/configs/config-tls-generic.h
Labels: area: Crypto / RNG

#12584 driver/sensor: add LIS2DS12 sensor support
  drivers/sensor/CMakeLists.txt
  drivers/sensor/Kconfig
  drivers/sensor/lis2ds12/CMakeLists.txt
  drivers/sensor/lis2ds12/Kconfig
  drivers/sensor/lis2ds12/lis2ds12.c
  drivers/sensor/lis2ds12/lis2ds12.h
  drivers/sensor/lis2ds12/lis2ds12_i2c.c
  drivers/sensor/lis2ds12/lis2ds12_spi.c
  drivers/sensor/lis2ds12/lis2ds12_trigger.c
  dts/bindings/sensor/st,lis2ds12-i2c.yaml
  dts/bindings/sensor/st,lis2ds12-spi.yaml
  tests/drivers/build_all/dts_fixup.h
  tests/drivers/build_all/sensors_i_z.conf
  tests/drivers/build_all/sensors_trigger_i_z.conf
Labels: STM32, area: Sensors

#12638 drivers: usb: Do not enable non-existing USB endpoints
  drivers/usb/device/usb_dc_nrfx.c
Labels: Maintainer

#12623 drivers/gpio: stm32: Fix gpio_stm32_configure
  drivers/gpio/gpio_stm32.c
Labels: STM32, area: GPIO

#12606 Enable I2C on MIMXRT1020-EVK
  boards/arm/mimxrt1020_evk/Kconfig.defconfig
  boards/arm/mimxrt1020_evk/doc/mimxrt1020_evk.rst
  boards/arm/mimxrt1020_evk/mimxrt1020_evk.dts
  boards/arm/mimxrt1020_evk/mimxrt1020_evk.yaml
  boards/arm/mimxrt1020_evk/pinmux.c
Labels: NXP, area: I2C

#12630 ext: lib: crypto: Extend generic mbedTLS config with HAVE_ASM
  ext/lib/crypto/mbedtls/Kconfig.tls-generic
  ext/lib/crypto/mbedtls/configs/config-tls-generic.h
Labels: area: Crypto / RNG, enhancement

#12545 scripts/dts/extract: Don't warn for 'category' merge of 'required'
  scripts/dts/extract_dts_includes.py
Labels: area: Device Tree

#12658 subsys/settings: fcb compress areas only once
  subsys/settings/src/settings_fcb.c
Labels: Trivial

#12649 boards: x86: arduino_101: Fix SPI dts node
  boards/x86/arduino_101/arduino_101.dts
  boards/x86/arduino_101/dts_fixup.h
Labels: area: Device Tree, area: SPI

#11572 drivers: counter: Add user_data to alarm callback
  drivers/counter/counter_handlers.c
  drivers/counter/counter_nrfx_rtc.c
  drivers/counter/counter_nrfx_timer.c
  include/counter.h
  tests/drivers/counter/counter_basic_api/src/test_counter.c
Labels: API, area: Counter

#12605 drivers: timer: nrf: refactor for speed and correctness
  drivers/timer/nrf_rtc_timer.c
Labels: area: Timer, nRF

#12669 requirements: update to pyocd 0.15.0
  scripts/requirements.txt
Labels: Trivial

#12646 dts: arm: msp432p4xx: Fix memory compatible
  dts/arm/ti/msp432p4xx.dtsi
Labels: Trivial, area: Device Tree

#12675 drivers: eth_enc28j60: Fix CS GPIO support
  drivers/ethernet/eth_enc28j60.c
Labels: area: Device Tree, area: Ethernet

#12435 logging: Fix reporting of dropped logs before backend init
  subsys/logging/log_core.c
Labels: area: Logging

#12676 dts: bindings: smsc,lan9220: Fix warning related to id field
  dts/bindings/ethernet/smsc,lan9220.yaml
Labels: Trivial, area: Device Tree, area: Ethernet

#12463 drivers/interrupt_controller: stm32: Complete driver factorization
  drivers/gpio/gpio_stm32.c
  drivers/interrupt_controller/exti_stm32.c
  drivers/interrupt_controller/exti_stm32.h
Labels: STM32

#12691 dts: arm: nordic: Add flash controller alias to nrf9160ns.dtsi
  dts/arm/nordic/nrf9160ns.dtsi
Labels: Trivial

#10364 doc: addition of a code of conduct
  CODE_OF_CONDUCT.rst
Labels: area: Documentation

#12694 cmake: dts: Fix building with dtc 1.4.6
  cmake/dts.cmake
Labels: area: Build System, area: Device Tree

#12686 net: openthread: Do not register RLOC and ALOC addresses
  subsys/net/l2/openthread/openthread_utils.c
Labels: OpenThread, area: Networking

#12693 cmake: Rebuild when DTS sources are modified
  cmake/dts.cmake
Labels: area: Build System, area: Device Tree

#12706 bluetooth: smp: fix build if BT_SMP_SELFTEST is enabled
  subsys/bluetooth/host/smp.c
Labels: area: Bluetooth

#12739 Modem receiver KConfig is missing CONFIG_UART_INTERRUPT_DRIVEN dependency
  drivers/modem/Kconfig
Labels: area: Drivers, bug

#12753 cmake: dtc: silence output from check_dtc_flag
  cmake/extensions.cmake
Labels: Trivial, area: Build System

#12759 nrf52_bsim: Fix copy pasted comment
  boards/posix/nrf52_bsim/Kconfig.defconfig
Labels: Trivial, nrf52_bsim

#12772 Bluetooth: Two trivial fixes to the bluetooth.h header file
  include/bluetooth/bluetooth.h
Labels: area: Bluetooth

#12748 dts: nordic: add binding and macro mapping for SPU
  dts/bindings/arm/nordic,nrf-spu.yaml
  ext/hal/nordic/nrfx_config_nrf9160.h
Labels: nRF

#12774 dts: nordic: correct binding file names
  dts/bindings/clock/nordic,nrf-clock.yaml
  dts/bindings/power/nordic,nrf-power.yaml
Labels: Trivial, nRF

#12699 wifi: winc1500: Convert to new DT_<COMPAT>_<INSTANCE> defines
  drivers/wifi/winc1500/wifi_winc1500_nm_bus_wrapper.c
  samples/net/wifi/dts_fixup.h
  samples/net/wifi/src/wifi_test.c
Labels: area: Device Tree, area: Wifi

#12700 ieee802154: cc2520: Convert to new DT_<COMPAT>_<INSTANCE> defines
  boards/x86/quark_se_c1000_devboard/board.c
  boards/x86/quark_se_c1000_devboard/dts_fixup.h
  drivers/ieee802154/ieee802154_cc2520.c
Labels: area: Device Tree

#12757 dts: intel_s1000: Fix dtc warnings
  boards/xtensa/intel_s1000_crb/intel_s1000_crb.dts
  dts/xtensa/intel_s1000.dtsi
Labels: Trivial, area: Device Tree, area: Xtensa

#12781 cmake: Fix the generation of fixup files
  CMakeLists.txt
  include/generated_dts_board.h
Labels: Hotfix, area: Build System, bug, priority: high

#12782 drivers: eth_mcux: Optimize check if received frame too large
  drivers/ethernet/eth_mcux.c
Labels: area: Ethernet

#12790 net: sockets_select: Fix build without CONFIG_NET_SOCKETS_POSIX_NAMES
  subsys/net/lib/sockets/sockets_select.c
Labels: Trivial, area: Networking, area: Sockets

#12572 Remove legacy MQTT library
  subsys/net/lib/CMakeLists.txt
  subsys/net/lib/Kconfig
  subsys/net/lib/mqtt/CMakeLists.txt
  subsys/net/lib/mqtt/Kconfig
  subsys/net/lib/mqtt/mqtt.c
  subsys/net/lib/mqtt/mqtt_pkt.c
  subsys/net/lib/mqtt/mqtt_pkt.h
Labels: area: Networking

#12816 Bluetooth: Add identifiers for Bluetooth 5.1
  include/bluetooth/hci.h
  subsys/bluetooth/host/hci_core.c
Labels: area: Bluetooth

#12818 net: shell: Fix network interface type for OpenThread
  subsys/net/ip/net_shell.c
Labels: OpenThread, area: Networking

#12755 led_strip: apa102: Convert to new DT_<COMPAT>_<INSTANCE> defines
  drivers/led_strip/apa102.c
Labels: area: Device Tree, area: LED

#12736 boards: arm: mps2_an385: Fix dtc warning
  boards/arm/mps2_an385/mps2_an385.dts
Labels: Trivial, area: Device Tree

#7581 dts: xtensa: esp32: Add device tree support.
  boards/xtensa/esp32/Kconfig.board
  boards/xtensa/esp32/esp32.dts
  boards/xtensa/esp32/esp32_defconfig
  dts/bindings/serial/xtensa,esp32-uart.yaml
  dts/xtensa/esp32.dtsi
  soc/xtensa/esp32/linker.ld
Labels: ESP32, area: Device Tree

#12516 mergehex: Improve the error feedback when merged hex files overlap
  scripts/mergehex.py
Labels: Trivial

#12655 arch: arm: mpu: remove nxp_mpu_enabled state variable
  arch/arm/core/cortex_m/mpu/nxp_mpu.c
Labels: NXP

#12749 nvs: fix alloc/data wra log format string
  subsys/fs/nvs/nvs.c
Labels: area: File System, bug

#12664 shell: Add support for notifying about dropped logs
  include/shell/shell_log_backend.h
  subsys/shell/shell_log_backend.c
Labels: area: Logging, area: Shell, enhancement

#12756 led_strip: lpd880x: Add Device Tree support
  drivers/led_strip/Kconfig.lpd880x
  drivers/led_strip/lpd880x.c
  dts/bindings/led_strip/colorway,lpd8803.yaml
  dts/bindings/led_strip/colorway,lpd8806.yaml
  samples/drivers/led_lpd8806/96b_carbon.overlay
  samples/drivers/led_lpd8806/prj.conf
  samples/drivers/led_lpd8806/src/main.c
Labels: area: Device Tree

#12801 app_shmem: delete parallel API for domains
  doc/kernel/usermode/usermode_sharedmem.rst
  include/app_memory/app_memdomain.h
  samples/userspace/shared_mem/src/main.c
  tests/kernel/mem_protect/userspace/src/main.c
Labels: area: Memory Protection

#12828 display: ssd1673: Convert to new DT_<COMPAT>_<INSTANCE> defines
  boards/arm/reel_board/dts_fixup.h
  boards/arm/reel_board/reel_board.dts
  drivers/display/ssd1673.c
  dts/bindings/display/solomon,ssd1673fb.yaml
  samples/boards/reel_board/mesh_badge/src/periphs.c
  samples/boards/reel_board/mesh_badge/src/reel_board.c
Labels: area: Device Tree, area: Display

#12829 display: ssd1306: Convert to new DT_<COMPAT>_<INSTANCE> defines
  drivers/display/ssd1306.c
  dts/bindings/display/solomon,ssd1306fb.yaml
  samples/display/cfb/dts_fixup.h
  samples/display/cfb/frdm_k64f.overlay
  samples/display/cfb_shell/dts_fixup.h
  samples/display/cfb_shell/frdm_k64f.overlay
Labels: area: Device Tree, area: Display

#12826 modem: wncm14a2a: Convert to new DT_<COMPAT>_<INSTANCE> defines
  drivers/modem/wncm14a2a.c
  samples/net/lwm2m_client/dts_fixup.h
Labels: area: Device Tree

#12838 sensor: ccs811: Convert to new DT_<COMPAT>_<INSTANCE> defines
  boards/arm/nrf52_pca20020/dts_fixup.h
  drivers/sensor/ccs811/ccs811.c
  samples/sensor/ccs811/dts_fixup.h
  samples/sensor/ccs811/sample.yaml
  samples/sensor/ccs811/src/main.c
  tests/drivers/build_all/dts_fixup.h
Labels: area: Device Tree, area: Sensors

#12853 logging: log_backend_rtt: Fix panic behavior when no host
  subsys/logging/log_backend_rtt.c
Labels: area: Logging

#12413 cmake: Toolchain abstraction: security
  CMakeLists.txt
  cmake/compiler/clang/target.cmake
  cmake/compiler/gcc/target.cmake
  cmake/compiler/gcc/target_security_canaries.cmake
  cmake/compiler/gcc/target_security_fortify.cmake
  cmake/compiler/host-gcc/target.cmake
Labels: Maintainer, area: Build System

#12840 sensor: adt7420: Convert to new DT_<COMPAT>_<INSTANCE> defines
  drivers/sensor/adt7420/adt7420.c
  samples/sensor/adt7420/dts_fixup.h
  samples/sensor/adt7420/frdm_k64f.overlay
  samples/sensor/adt7420/sample.yaml
  samples/sensor/adt7420/src/main.c
  tests/drivers/build_all/dts_fixup.h
Labels: area: Device Tree, area: Sensors

#12856 net: mqtt: Remove legacy MQTT headers
  include/net/mqtt_legacy.h
  include/net/mqtt_legacy_types.h
Labels: area: Networking

#12660 drivers: flash: SAM E70: fix warnings when built with newlib
  drivers/flash/flash_sam.c
Labels: ATMEL, area: Drivers, area: Flash

#12883 gpio: mcux_igpio: Cleanup old CONFIG_ symbols
  drivers/gpio/gpio_mcux_igpio.c
Labels: NXP, area: GPIO, bug

#12881 boards: rv32m1_vega: fix the location of the YAML file
  boards/riscv32/rv32m1_vega/rv32m1_vega_ri5cy.yaml
Labels: Trivial, area: RISCv32

#12896 sensor: lis2dh: Fix gcc8 compiler warning
  drivers/sensor/lis2dh/lis2dh.c
Labels: area: Sensors, bug

#12894 app_shmem: renamespace and document
  doc/kernel/usermode/usermode_sharedmem.rst
  include/app_memory/app_memdomain.h
  samples/userspace/shared_mem/src/main.c
  samples/userspace/shared_mem/src/main.h
  tests/kernel/mem_protect/userspace/src/main.c
  tests/ztest/include/ztest_test.h
Labels: area: Memory Protection

#12869 net: openthread: Bump OpenThread commit to f9d757a1
  subsys/net/lib/openthread/CMakeLists.txt
Labels: OpenThread, area: Networking

#12880 samples: sockets: Clean up headers included
  samples/net/sockets/big_http_download/src/big_http_download.c
  samples/net/sockets/dumb_http_server/src/socket_dumb_http.c
  samples/net/sockets/echo/src/socket_echo.c
  samples/net/sockets/echo_async/src/socket_echo.c
  samples/net/sockets/echo_async_select/src/socket_echo_select.c
  samples/net/sockets/http_get/src/http_get.c
Labels: area: Networking

#12889 net: sntp: get rid of the callback function
  include/net/sntp.h
  samples/net/sockets/sntp_client/src/main.c
  subsys/net/lib/sntp/sntp.c
Labels: API, area: Networking Clients

#12899 drivers: gpio: Validate pin number before indexing array in mcux drivers
  drivers/gpio/gpio_mcux.c
  drivers/gpio/gpio_mcux_lpc.c
Labels: NXP
