Repository zephyrproject-rtos/zephyr, pull requests merged in 2019-02, with the labels that each got.

#12921 samples: sockets: Remove Zephyr logging from POSIX-compatible samples
  samples/net/sockets/big_http_download/src/big_http_download.c
  samples/net/sockets/dumb_http_server/src/socket_dumb_http.c
  samples/net/sockets/echo/src/socket_echo.c
  samples/net/sockets/echo_async/src/socket_echo.c
  samples/net/sockets/http_get/src/http_get.c
Labels: area: Networking

#12941 usb: usb_dc: Replace CONFIG_ symbols that should be DT_
  drivers/usb/device/usb_dc_sam.c
  drivers/usb/device/usb_dc_stm32.c
Labels: Trivial, area: USB, bug

#12847 soc: xtensa: intel_s1000: Encode IRQ in dts
  dts/xtensa/intel_s1000.dtsi
  soc/xtensa/intel_s1000/dts_fixup.h
Labels: area: Device Tree

#12909 display: ili9340: Fixup SPI CS handling
  drivers/display/display_ili9340.c
Labels: area: Device Tree, area: Display

#12914 sensor: lsm6dsl: Fixup SPI CS handling
  drivers/sensor/lsm6dsl/lsm6dsl_spi.c
Labels: area: Device Tree, area: Sensors

#12934 usb: usb_dc_stm32: Convert to DT instance defines to remove dts_fixup.h
  boards/arm/olimexino_stm32/dts_fixup.h
  drivers/usb/device/usb_dc_stm32.c
Labels: STM32, area: Device Tree, area: GPIO, area: USB

#12931 drivers: leuart_gecko: use DT_<COMPAT>_<INSTANCE>_<PROP> defines
  boards/arm/efm32pg_stk3402a/Kconfig.defconfig
  boards/arm/efm32pg_stk3402a/efm32pg_stk3402a.dts
  boards/arm/efr32mg_sltb004a/Kconfig.defconfig
  boards/arm/efr32mg_sltb004a/efr32mg_sltb004a.dts
  drivers/serial/Kconfig.leuart_gecko
  drivers/serial/leuart_gecko.c
  dts/arm/silabs/efm32hg.dtsi
  dts/arm/silabs/efm32pg12b.dtsi
  dts/arm/silabs/efm32wg.dtsi
  dts/arm/silabs/efr32fg1p.dtsi
  dts/arm/silabs/efr32mg.dtsi
  dts/bindings/serial/silabs,gecko-leuart.yaml
  soc/arm/silabs_exx32/efm32pg12b/soc_pinmap.h
  soc/arm/silabs_exx32/efr32mg12p/soc_pinmap.h
Labels: SiLabs

#12863 power: policy_residency: Fix power level selection
  subsys/power/policy/policy_residency.c
Labels: bug

#7872 Add device tree support for qemu_xtensa and xt-sim
  boards/xtensa/qemu_xtensa/Kconfig.board
  boards/xtensa/qemu_xtensa/qemu_xtensa.dts
  boards/xtensa/xt-sim/Kconfig.board
  boards/xtensa/xt-sim/xt-sim.dts
  dts/xtensa/sample_controller.dtsi
  soc/xtensa/sample_controller/linker.ld
Labels: area: Device Tree, area: Xtensa

#10908 drivers: watchdog: remove deprecated apis
  drivers/watchdog/wdt_esp32.c
  drivers/watchdog/wdt_nrfx.c
  include/watchdog.h
Labels: API, area: Watchdog

#12978 soc: riscv32: openisa_rv32m1: Remove duplicated HAS_DTS
  soc/riscv32/openisa_rv32m1/Kconfig.soc
Labels: Trivial, area: RISCv32

#12976 arch: xtensa: dts: Move HAS_DTS to arch level
  arch/Kconfig
  boards/xtensa/esp32/Kconfig.board
  boards/xtensa/intel_s1000_crb/Kconfig.board
  boards/xtensa/qemu_xtensa/Kconfig.board
  boards/xtensa/xt-sim/Kconfig.board
Labels: Trivial, area: SMP

#12981 drivers: i2c_gecko: use DT_<COMPAT>_<INSTANCE>_<PROP> defines
  boards/arm/efm32pg_stk3402a/Kconfig.defconfig
  boards/arm/efm32pg_stk3402a/efm32pg_stk3402a.dts
  boards/arm/efr32mg_sltb004a/Kconfig.defconfig
  boards/arm/efr32mg_sltb004a/efr32mg_sltb004a.dts
  drivers/i2c/i2c_gecko.c
  dts/arm/silabs/efm32hg.dtsi
  dts/arm/silabs/efm32pg12b.dtsi
  dts/arm/silabs/efm32wg.dtsi
  dts/arm/silabs/efr32fg1p.dtsi
  dts/arm/silabs/efr32mg.dtsi
  dts/bindings/i2c/silabs,gecko-i2c.yaml
  soc/arm/silabs_exx32/efm32hg/Kconfig.defconfig.efm32hg
  soc/arm/silabs_exx32/efm32pg12b/soc_pinmap.h
  soc/arm/silabs_exx32/efm32wg/Kconfig.defconfig.efm32wg
  soc/arm/silabs_exx32/efr32fg1p/Kconfig.defconfig.efr32fg1p
  soc/arm/silabs_exx32/efr32mg12p/soc_pinmap.h
Labels: SiLabs

#12993 kernel/init: Fix dummy thread initialization on SMP systems
  kernel/init.c
Labels: Hotfix

#13010 coverage: Bugfix: Missing coverage in nrf52_bsim
  arch/Kconfig
  boards/posix/native_posix/Kconfig.board
Labels: Trivial, bug, priority: high

#13008 doc: native_posix: Fix minor typo
  boards/posix/native_posix/doc/board.rst
Labels: Trivial, area: Documentation

#13012 arch: posix: Bugfix in POSIX cheats header
  arch/posix/include/posix_cheats.h
Labels: Trivial, area: POSIX, area: native port, bug

#13016 disk: sdhc: Convert to new DT_<COMPAT>_<INSTANCE> defines
  boards/arm/nrf52840_blip/dts_fixup.h
  boards/arm/olimexino_stm32/dts_fixup.h
  subsys/disk/disk_access_sdhc.c
Labels: area: Device Tree, area: Storage

#12974 power: Make power_state enum global
  include/power.h
  soc/arc/quark_se_c1000_ss/CMakeLists.txt
  soc/arc/quark_se_c1000_ss/soc_power.h
  soc/arm/nordic_nrf/nrf51/CMakeLists.txt
  soc/arm/nordic_nrf/nrf51/power.c
  soc/arm/nordic_nrf/nrf51/soc.c
  soc/arm/nordic_nrf/nrf51/soc_power.h
  soc/arm/nordic_nrf/nrf52/CMakeLists.txt
  soc/arm/nordic_nrf/nrf52/power.c
  soc/arm/nordic_nrf/nrf52/soc.c
  soc/arm/nordic_nrf/nrf52/soc_power.h
  soc/x86/intel_quark/quark_se/CMakeLists.txt
  soc/x86/intel_quark/quark_se/soc_power.h
Labels: Maintainer

#12992 logging: introduce LOG_DISABLE_FANCY_OUTPUT_FORMATTING to save flash
  subsys/logging/Kconfig
  subsys/logging/log_output.c
Labels: area: Logging

#12913 sensor: lis2ds12: Fixup SPI CS handling
  drivers/sensor/lis2ds12/lis2ds12_spi.c
Labels: area: Device Tree, area: Sensors

#13026 net/context: Lock/unlock mutex on new send/sendto functions
  subsys/net/ip/net_context.c
  subsys/net/ip/tcp.c
Labels: area: Networking

#12811 usb: netusb: Align NETUSB_MTU & wMaxSegmentSize and increase it to 1522
  subsys/usb/class/netusb/function_ecm.c
  subsys/usb/class/netusb/netusb.h
Labels: area: Networking, area: USB

#13028 tests: socket: poll, select: Fix non-blocking timing tests
  tests/net/socket/poll/prj.conf
  tests/net/socket/poll/src/main.c
  tests/net/socket/select/prj.conf
  tests/net/socket/select/src/main.c
Labels: area: Sockets, area: Tests

#13017 Upstep LittlevGL to version 5.3
  lib/gui/lvgl/CMakeLists.txt
  lib/gui/lvgl/Kconfig
  lib/gui/lvgl/Kconfig.objects
  lib/gui/lvgl/lv_conf.h
Labels: area: Display

#13041 kernel/sched: fix CPU mask kconfig typo
  kernel/sched.c
Labels: Hotfix

#12970 Remove legacy CoAP implementation
  doc/api/networking.rst
  doc/subsystems/networking/overview.rst
  doc/zephyr.doxyfile.in
  include/net/coap.h
  include/net/coap_link_format.h
  include/net/coap_link_format_sock.h
  include/net/coap_sock.h
  include/net/lwm2m.h
  samples/net/coap_client/CMakeLists.txt
  samples/net/coap_client/README.rst
  samples/net/coap_client/prj.conf
  samples/net/coap_client/sample.yaml
  samples/net/coap_client/src/coap-client.c
  samples/net/coap_server/CMakeLists.txt
  samples/net/coap_server/README.rst
  samples/net/coap_server/prj.conf
  samples/net/coap_server/prj_bt.conf
  samples/net/coap_server/prj_cc2520.conf
  samples/net/coap_server/sample.yaml
  samples/net/coap_server/src/coap-server.c
  samples/net/leds_demo/CMakeLists.txt
  samples/net/leds_demo/prj.conf
  samples/net/leds_demo/prj_802154.conf
  samples/net/leds_demo/sample.yaml
  samples/net/leds_demo/src/leds-demo.c
  samples/net/sockets/coap_client/README.rst
  samples/net/sockets/coap_client/prj.conf
  samples/net/sockets/coap_client/src/coap-client.c
  samples/net/sockets/coap_server/README.rst
  samples/net/sockets/coap_server/prj.conf
  samples/net/sockets/coap_server/src/coap-server.c
  subsys/net/lib/coap/CMakeLists.txt
  subsys/net/lib/coap/Kconfig
  subsys/net/lib/coap/coap.c
  subsys/net/lib/coap/coap_link_format.c
  subsys/net/lib/coap/coap_link_format_sock.c
  subsys/net/lib/coap/coap_sock.c
  subsys/net/lib/lwm2m/lwm2m_object.h
  tests/net/lib/coap/CMakeLists.txt
  tests/net/lib/coap/prj.conf
  tests/net/lib/coap/src/main.c
  tests/net/lib/coap_sock/CMakeLists.txt
  tests/net/lib/coap_sock/prj.conf
  tests/net/lib/coap_sock/src/main.c
  tests/net/lib/coap_sock/testcase.yaml
Labels: area: Networking

#12962 boards: stm32f4_disco: Fix console documentation
  boards/arm/stm32f4_disco/doc/stm32f4_disco.rst
Labels: STM32, area: Boards, area: Documentation

#13040 kernel: Document resolution of k_uptime_get*()
  include/kernel.h
Labels: area: Documentation, area: Kernel

#13042 kernel: fix smp build on esp32
  kernel/idle.c
Labels: Hotfix

#11027 USB DFU fixes
  subsys/usb/class/usb_dfu.c
Labels: area: USB, bug

#13032 tests: kernel: interrupt: group IRQ line number selection together
  tests/kernel/interrupt/src/interrupt.h
  tests/kernel/interrupt/src/nested_irq.c
Labels: Trivial, area: Tests

#13056 net: lib: mqtt: Get rid of _sock suffix
  subsys/net/lib/CMakeLists.txt
  subsys/net/lib/Kconfig
  subsys/net/lib/mqtt/CMakeLists.txt
  subsys/net/lib/mqtt/Kconfig
  subsys/net/lib/mqtt/mqtt.c
  subsys/net/lib/mqtt/mqtt_decoder.c
  subsys/net/lib/mqtt/mqtt_encoder.c
  subsys/net/lib/mqtt/mqtt_internal.h
  subsys/net/lib/mqtt/mqtt_os.h
  subsys/net/lib/mqtt/mqtt_rx.c
  subsys/net/lib/mqtt/mqtt_transport.c
  subsys/net/lib/mqtt/mqtt_transport.h
  subsys/net/lib/mqtt/mqtt_transport_socket_tcp.c
  subsys/net/lib/mqtt/mqtt_transport_socket_tls.c
  tests/net/lib/mqtt_packet/CMakeLists.txt
Labels: Trivial, area: Networking

#13057 samples: cfb: remove unused variable and fix style
  samples/display/cfb/src/main.c
Labels: area: Display

#12515 device: gpio: fix mis-use of slist API in callback processing
  drivers/gpio/gpio_utils.h
  include/gpio.h
  tests/drivers/gpio/gpio_basic_api/src/main.c
  tests/drivers/gpio/gpio_basic_api/src/test_callback_manage.c
  tests/drivers/gpio/gpio_basic_api/src/test_gpio.h
Labels: area: GPIO

#13060 sanitycheck: return build.log when we think we crashed
  scripts/sanitycheck
Labels: Hotfix

#12852 subsys: setting: avoid the registration of the same handler
  subsys/settings/src/settings.c
Labels: bug

#12865 soc: same70: always enable data cache
  soc/arm/atmel_sam/same70/soc.c
Labels: ATMEL

#13071 doc: add clean target to Makefile
  Makefile
Labels: area: Documentation

#13072 doc: add icons to the home page blocks
  doc/index.rst
  doc/static/zephyr-custom.css
Labels: area: Documentation

#13006 allow system clock driver selection for cortex m
  arch/arm/core/cortex_m/vector_table.S
  drivers/timer/cortex_m_systick.c
  drivers/timer/sys_clock_init.c
Labels: area: ARM

#13069 dts: Fix varying baudrate settings for CAN
  boards/arm/nucleo_l432kc/nucleo_l432kc.dts
  dts/arm/st/l4/stm32l4.dtsi
Labels: area: CAN

#13080 kernel: Enforce k_mem_slab block size alignment
  kernel/mem_slab.c
Labels: Trivial

#12906 add the handling of APP_SHARED_MEM in arc mpu driver
  arch/arc/core/mpu/arc_core_mpu.c
  arch/arc/core/mpu/arc_mpu.c
  include/arch/arc/v2/mpu/arc_core_mpu.h
Labels: area: Memory Protection

#13085 gen_isr_tables: Fix _sw_isr_table generation for multi-level IRQs
  arch/common/gen_isr_tables.py
Labels: bug

#13068 arch: posix: posix_cheats: Improve it
  arch/posix/include/posix_cheats.h
Labels: area: native port, enhancement

#13098 arch: arm: fix macro name inside an inline comment
  arch/arm/core/swap_helper.S
Labels: Trivial, area: ARM

#12910 sensors: adxl372: Fixup SPI CS handling
  drivers/sensor/adxl372/adxl372.c
  drivers/sensor/adxl372/adxl372.h
Labels: area: Device Tree, area: Sensors

#13106 gen_mmu_x86: remove unused function
  scripts/gen_mmu_x86.py
Labels: Trivial

#12952 arch: arm: replace main thread switching assembly to C using cmsis
  arch/arm/include/kernel_arch_func.h
Labels: area: ARM, enhancement

#13104 LwM2M cleanup
  subsys/net/lib/lwm2m/lwm2m_rd_client.c
Labels: area: Networking

#13116 board: reel_board: remove board.h
  boards/arm/reel_board/board.c
  boards/arm/reel_board/board.h
Labels: Trivial, area: Boards

#13107 net: gptp: fix src MAC address
  subsys/net/l2/ethernet/gptp/gptp_messages.c
Labels: area: Networking

#13124 shell: fixed parameter type in exec_cmd function
  subsys/shell/shell.c
Labels: Trivial, area: Shell, bug, priority: low

#13109 arc: uncrustify MPU sources
  arch/arc/core/mpu/arc_core_mpu.c
  arch/arc/core/mpu/arc_mpu.c
Labels: Trivial

#12999 editorconfig: basic EditorConfig configuration
  .editorconfig
Labels: area: Code Style

#13090 drivers/pinmux: stm32: (FIX) Force very_high speed to SPIx_SCK gpio
  drivers/pinmux/stm32/pinmux_stm32f0.h
  drivers/pinmux/stm32/pinmux_stm32f1.h
  drivers/pinmux/stm32/pinmux_stm32f2.h
  drivers/pinmux/stm32/pinmux_stm32f3.h
  drivers/pinmux/stm32/pinmux_stm32f4.h
  drivers/pinmux/stm32/pinmux_stm32l0.h
Labels: STM32, area: Pinmux

#12769 boards: particle: fix BT selection
  boards/arm/particle_argon/Kconfig.defconfig
  boards/arm/particle_boron/Kconfig.defconfig
  boards/arm/particle_xenon/Kconfig.defconfig
Labels: bug

#12960 samples: mesh: taking care of interrupted transition [1.14 milestone]
  samples/boards/nrf52/mesh/onoff_level_lighting_vnd_app/src/common.h
  samples/boards/nrf52/mesh/onoff_level_lighting_vnd_app/src/main.c
  samples/boards/nrf52/mesh/onoff_level_lighting_vnd_app/src/mesh/no_transition_work_handler.c
  samples/boards/nrf52/mesh/onoff_level_lighting_vnd_app/src/mesh/state_binding.c
  samples/boards/nrf52/mesh/onoff_level_lighting_vnd_app/src/mesh/state_binding.h
Labels: area: Bluetooth

#13100 tests: kernel: interrupt: Exclude platforms test isnt valid on
  tests/kernel/interrupt/testcase.yaml
Labels: bug

#13126 ext: hal: atmel: sam: fix GMAC priority queues related registers
  ext/hal/atmel/asf/sam/include/same70/README
  ext/hal/atmel/asf/sam/include/same70/component/gmac.h
Labels: ATMEL, area: Ethernet, bug

#13157 doc: fix misspellings in docs
  boards/arc/iotdk/doc/board.rst
  boards/arm/nrf52840_blip/doc/nrf52840_blip.rst
  boards/arm/nrf52840_pca10059/doc/nrf52840_pca10059.rst
  boards/arm/nrf52840_pca10090/doc/nrf52840_pca10090.rst
  boards/arm/nrf9160_pca10090/doc/nrf9160_pca10090.rst
  boards/arm/v2m_musca/doc/v2m_musca.rst
  boards/riscv32/hifive1/doc/hifive1.rst
  doc/development_process/index.rst
  doc/guides/coccinelle.rst
  samples/boards/96b_argonkey/microphone/README.rst
  samples/subsys/fs/README.rst
Labels: area: Documentation

#13156 api: rename counter_disable_channel_alarm to counter_cancel_channel_alarm
  drivers/counter/counter_ll_stm32_rtc.c
  drivers/counter/counter_mcux_rtc.c
  drivers/counter/counter_nrfx_rtc.c
  drivers/counter/counter_nrfx_timer.c
  drivers/counter/counter_rtc_qmsi.c
  include/counter.h
  tests/drivers/counter/counter_basic_api/src/test_counter.c
Labels: area: Counter

#13112 drivers: eth: gmac: keep a reference to the packet fragments
  drivers/ethernet/eth_sam_gmac.c
  drivers/ethernet/eth_sam_gmac_priv.h
Labels: ATMEL, DNM, area: Drivers, area: Ethernet

#13160 boards: Change supported 'rtc' to 'counter' for QMSI RTC based boards
  boards/arc/arduino_101_sss/arduino_101_sss.yaml
  boards/arc/quark_se_c1000_ss_devboard/quark_se_c1000_ss_devboard.yaml
  boards/x86/quark_d2000_crb/quark_d2000_crb.yaml
  boards/x86/quark_se_c1000_devboard/quark_se_c1000_devboard.yaml
Labels: area: Counter, area: RTC

#13144 net: socket: Add zsock_freeaddrinfo()
  include/net/socket.h
Labels: Trivial, area: Networking, area: Sockets

#13103 doc: native_posix: Add section about subsystems' backends
  boards/posix/native_posix/doc/board.rst
Labels: area: Documentation, area: native port

#13171 arch: arm: mpu: Remove dead Kconfig reference
  include/arch/arm/cortex_m/mpu/arm_core_mpu_dev.h
Labels: Trivial, bug

#13172 spi: spi_dw: Cleanup stale Kconfig symbols that should be DT
  drivers/spi/spi_dw.c
Labels: area: SPI, bug

#13175 Corrected typo in object realign Kconfig option
  lib/gui/lvgl/lv_conf.h
Labels: Trivial, area: Display

#13179 dts: Convert CONFIG_ to DT_ symbols for chosen prop
  doc/guides/dts/index.rst
  drivers/bluetooth/hci/Kconfig
  drivers/console/Kconfig
  scripts/dts/extract/globals.py
  subsys/bluetooth/common/Kconfig
  subsys/shell/Kconfig.backends
Labels: area: Bluetooth, area: Device Tree, area: UART

#13186 kconfig: kconfigfunctions: update dt_str_val
  doc/guides/kconfig/index.rst
  scripts/kconfig/kconfigfunctions.py
Labels: Trivial

#13180 shell: improved shell_prompt_change function
  include/shell/shell.h
  samples/subsys/shell/shell_module/prj_minimal.conf
  samples/subsys/shell/shell_module/prj_minimal_rtt.conf
  subsys/shell/Kconfig
  subsys/shell/shell.c
  subsys/shell/shell_ops.c
Labels: area: Shell

#13173 shell: unify commands execution
  subsys/shell/shell.c
  subsys/shell/shell_utils.c
  subsys/shell/shell_utils.h
Labels: area: Shell

#12741 driver/sensor: add LIS2DW12 sensor support
  drivers/sensor/CMakeLists.txt
  drivers/sensor/Kconfig
  drivers/sensor/lis2dw12/CMakeLists.txt
  drivers/sensor/lis2dw12/Kconfig
  drivers/sensor/lis2dw12/lis2dw12.c
  drivers/sensor/lis2dw12/lis2dw12.h
  drivers/sensor/lis2dw12/lis2dw12_i2c.c
  drivers/sensor/lis2dw12/lis2dw12_spi.c
  drivers/sensor/lis2dw12/lis2dw12_trigger.c
  dts/bindings/sensor/st,lis2dw12-i2c.yaml
  dts/bindings/sensor/st,lis2dw12-spi.yaml
  tests/drivers/build_all/dts_fixup.h
  tests/drivers/build_all/sensors_i_z.conf
  tests/drivers/build_all/sensors_trigger_i_z.conf
Labels: STM32, area: Sensors

#13189 x86: fix app_smem MMU permissions
  arch/x86/core/x86_mmu.c
Labels: area: Memory Protection

#13182 cmake: Fix dependencies for LD script generation
  CMakeLists.txt
Labels: area: Build System, area: Memory Protection

#12848 drivers: i2c: dw: Convert to new DT_<COMPAT>_<INSTANCE> defines
  boards/x86/up_squared/dts_fixup.h
  drivers/i2c/i2c_dw.c
  soc/arc/snps_emsk/dts_fixup.h
  soc/x86/intel_quark/quark_x1000/dts_fixup.h
  soc/xtensa/intel_s1000/dts_fixup.h
Labels: area: Device Tree, area: I2C

#13202 scripts/dts/extract_dts_includes: Mark non DT_ defines as deprecated
  scripts/dts/extract_dts_includes.py
Labels: area: Device Tree

#13207 drivers: ssd1673: fix typo in string
  drivers/display/ssd1673.c
Labels: Trivial, area: Display, bug

#13125 doc: Add MQTT high-level description
  doc/reference/networking/mqtt.rst
  doc/reference/networking/sockets.rst
Labels: area: Documentation, area: Networking

#13215 usb_dc_stm32: Fix check endpoint capabilities
  drivers/usb/device/usb_dc_stm32.c
Labels: STM32, area: Drivers, area: USB, bug

#13228 bluetooth: controller: Remove trailing semicolons in HCI defines.
  subsys/bluetooth/controller/hci/hci_internal.h
Labels: Trivial

#13248 doc: bluetooth: Add reference to Bluetooth API
  doc/reference/bluetooth/index.rst
Labels: Trivial

#13250 eth: eth_mcux: Fix the DT_ prefixed defines
  drivers/ethernet/eth_mcux.c
Labels: area: Networking, bug, priority: high

#13270 test: Kconfig: Correct HAS_COVERAGE_SUPPORT description
  tests/Kconfig
Labels: Trivial, area: Kconfig

#13261 shell: Fix prompt length not updated in shell_prompt_change
  subsys/shell/shell.c
Labels: Trivial, area: Shell

#13263 logging: Set panic_mode flag after flushing in log_panic
  subsys/logging/log_core.c
Labels: Trivial, area: Logging

#13278 doc: tweak board doc titles
  boards/arm/mec2016evb_assy6797/doc/index.rst
  boards/arm/stm32f0_disco/doc/index.rst
  boards/arm/stm32f3_disco/doc/index.rst
Labels: area: Documentation

#13264 power: add stdbool.h to power.h
  include/power.h
Labels: Trivial

#13268 drivers/gpio: stm32: Return errors on not supported config
  drivers/gpio/gpio_stm32.c
Labels: STM32, area: GPIO, bug

#13260 net: shell: dns: Properly manage lifetime of callback data
  subsys/net/ip/net_shell.c
Labels: area: Networking, area: Shell

#13230 net: sockets: Properly handle EOF condition for poll()
  subsys/net/lib/sockets/sockets.c
Labels: area: Sockets, bug

#13307 net: pkt: Check the minimum buf and pkt counts
  subsys/net/ip/net_pkt.c
Labels: area: Networking

#12786 LD: Assert when CONFIG_PRIVILEGED_STACK_TEXT_AREA is too small
  include/linker/priv_stacks-text.ld
Labels: area: Memory Protection

#13302 kconfigfunctions: Disambiguate reference to DTS generated database
  doc/guides/kconfig/index.rst
  scripts/kconfig/kconfigfunctions.py
Labels: area: Documentation

#13271 tests: kernel: gen_isr_table: Exclude platforms test isnt valid on
  tests/kernel/gen_isr_table/testcase.yaml
Labels: bug

#13315 boards: arm: nrf: added uart-mcumgr to nrf9160_pca10090
  boards/arm/nrf9160_pca10090/nrf9160_pca10090_common.dts
Labels: Trivial, nRF

#13327 settings: fix read-out more than stored bug.
  subsys/settings/src/settings_fcb.c
  subsys/settings/src/settings_file.c
Labels: bug

#13308 driver: pinmux: stm32f4: Remove duplicated defination
  drivers/pinmux/stm32/pinmux_stm32f4.h
Labels: Trivial, bug, priority: low

#13338 drivers: wifi: simplelink: Translate socket family/type/protocol values
  drivers/wifi/simplelink/simplelink_sockets.c
Labels: area: Networking, area: Wifi, bug

#13349 doc: dts: bindings: Fix a spell mistake
  dts/bindings/device_node.yaml.template
Labels: Trivial, bug

#13224 arch: arm: mpu: get the region sizes from the linker
  arch/arm/core/cortex_m/mpu/arm_core_mpu.c
Labels: area: ARM, area: Memory Protection, enhancement

#13346 net: lwm2m: fix rendering of zero value float32/64
  subsys/net/lib/lwm2m/lwm2m_util.c
Labels: area: Networking, bug

#13184 net: sockets: Add dummy shutdown() implementation.
  include/net/socket.h
  subsys/net/lib/sockets/sockets.c
Labels: area: Networking, area: Sockets

#13365 tests: spi_loopback: reduce footprint by tweaking logging
  tests/drivers/spi/spi_loopback/prj_base.conf
Labels: area: SPI, bug

#13362 api: uart: Revert to using bitmasks for errors.
  include/uart.h
Labels: bug

#13363 net: context: can: Fix typo in Kconfig option name
  subsys/net/ip/net_context.c
Labels: area: Networking, bug, priority: high

#13370 settings: Fix default value of flash area ID in Kconfig
  subsys/settings/Kconfig
Labels: area: Kconfig, bug

#13359 kernel: Reworking _K_TIMER_INITIALIZER and _K_PIPE_INITIALIZER for C++
  include/kernel.h
Labels: bug

#13376 uart: pl011: Use correct masking for ICR
  drivers/serial/uart_pl011.c
Labels: area: ARM, area: UART, bug

#13321 samples/bluetooth: Add note about Long term key clearance
  samples/bluetooth/bluetooth.rst
Labels: area: Bluetooth, area: Documentation, area: Samples, bug

#13339 x86: clear EFLAGS on double fault
  arch/x86/core/fatal.c
Labels: area: Memory Protection, bug

#13285 spi: spi_mcux_lpspi: Convert to use DT_ prefixed defines
  drivers/spi/spi_mcux_lpspi.c
Labels: area: SPI, bug, platform: NXP

#13265 shell: Add support to log_panic in RTT backend
  subsys/shell/shell_rtt.c
Labels: Trivial, area: Shell, bug

#13337 soc: nxp_imx: Move code/data location configs to soc level
  boards/arm/mimxrt1020_evk/Kconfig
  boards/arm/mimxrt1020_evk/Kconfig.defconfig
  boards/arm/mimxrt1050_evk/Kconfig
  boards/arm/mimxrt1050_evk/Kconfig.defconfig
  boards/arm/mimxrt1060_evk/Kconfig
  boards/arm/mimxrt1060_evk/Kconfig.defconfig
  boards/arm/mimxrt1064_evk/Kconfig
  boards/arm/mimxrt1064_evk/Kconfig.defconfig
  soc/arm/nxp_imx/rt/Kconfig.defconfig.mimxrt1064
  soc/arm/nxp_imx/rt/Kconfig.defconfig.series
  soc/arm/nxp_imx/rt/Kconfig.soc
Labels: bug, platform: NXP

#13305 tests: drivers: counter: Fix test for nrf52 platform
  tests/drivers/counter/counter_basic_api/src/test_counter.c
Labels: bug

#13371 boards: nucleo_l4r5zi: Add flash & debug support
  boards/arm/nucleo_l4r5zi/doc/index.rst
  boards/arm/nucleo_l4r5zi/support/openocd.cfg
Labels: platform: STM32

#13367 scripts/dts/extract: Fix how we determine DT_FLASH_AREA_<X>_DEV
  scripts/dts/extract/flash.py
Labels: area: Device Tree, area: Flash, bug

#13366 net: gptp: Fix pkt allocation with debugs enabled
  subsys/net/l2/ethernet/gptp/gptp_messages.c
Labels: Trivial, area: Networking, bug, priority: high

#13322 shell: allow commands to suspend shell thread
  include/shell/shell.h
  subsys/shell/shell.c
  subsys/shell/shell_help.c
  subsys/shell/shell_ops.c
  subsys/shell/shell_ops.h
  subsys/shell/shell_wildcard.c
Labels: area: Shell, bug, priority: medium

#13336 doc/getting_started: mention ZEPHYR_TOOLCHAIN_VARIANT=host briefly
  doc/getting_started/index.rst
Labels: Trivial

#13123 boards: nrf: Enable HW PWMs on nrf52832_mdk and nrf52840_mdk
  boards/arm/nrf52832_mdk/Kconfig.defconfig
  boards/arm/nrf52832_mdk/nrf52832_mdk.dts
  boards/arm/nrf52840_mdk/Kconfig.defconfig
  boards/arm/nrf52840_mdk/nrf52840_mdk.dts
Labels: area: Boards, bug, platform: nRF

#13167 driver: eth: gmac: scale down the TX path
  drivers/ethernet/eth_sam_gmac.c
  drivers/ethernet/eth_sam_gmac_priv.h
Labels: area: Drivers, area: Ethernet, area: Networking, bug, platform: ATMEL

#13204 ext: hal: atmel: sam: really fix GMAC priority queues related registers
  ext/hal/atmel/asf/sam/include/same70/component/gmac.h
Labels: area: Drivers, bug, platform: ATMEL

#13392 drivers: flash: spi_nor.c: Correct the calculation of SECTORS_COUNT
  drivers/flash/spi_nor.c
Labels: bug

#13406 bluetooth: controller: Introduce ull_ref_dec for consistency
  subsys/bluetooth/controller/ll_sw/ull.c
  subsys/bluetooth/controller/ll_sw/ull_internal.h
Labels: area: Bluetooth

#13400 bluetooth: controller: Add comments across ull
  subsys/bluetooth/controller/ll_sw/ull.c
Labels: area: Bluetooth

#13404 bluetooth: controller: Document more of memq, mfifo
  subsys/bluetooth/controller/util/memq.c
  subsys/bluetooth/controller/util/mfifo.h
Labels: area: Bluetooth

#13405 bluetooth: controller: Commentary in LLL header
  subsys/bluetooth/controller/ll_sw/lll.h
Labels: area: Bluetooth

#13407 bluetooth: controller: Add a few ticker comments
  subsys/bluetooth/controller/ticker/ticker.c
Labels: area: Bluetooth

#13415 linker: riscv32: Fix .riscv.attributes orphan sections warning
  include/arch/riscv32/common/linker.ld
  soc/riscv32/openisa_rv32m1/linker.ld
Labels: area: RISCv32, bug

#13430 scripts: gen_kobject_list: Fix error log call
  scripts/gen_kobject_list.py
Labels: Trivial, bug

#13409 west: fix issue with sign.py
  scripts/west_commands/sign.py
Labels: Trivial, area: west

#13297 x86: fix ROM permissions
  arch/x86/core/x86_mmu.c
  include/arch/x86/linker.ld
  include/linker/linker-defs.h
Labels: area: Memory Protection, bug

#13438 soc: nxp_imx: Add missing dts fixups for gpio 2,3,4 instances
  soc/arm/nxp_imx/rt/dts_fixup.h
Labels: bug, platform: NXP

#13445 tests: mem_alloc: Fix build issue with malloc test
  tests/lib/mem_alloc/src/main.c
Labels: bug

#13443 doc: fix doxygen API comment misspellings
  include/app_memory/app_memdomain.h
  include/bluetooth/gatt.h
  include/net/net_ip.h
  include/net/net_pkt.h
  include/power.h
Labels: area: Documentation

#13450 scripts/sanitycheck: Add 'nocache' section to whitelist
  scripts/sanitycheck
Labels: bug

#12859 cmake: Toolchain abstraction: optimizations (part 2)
  CMakeLists.txt
  cmake/compiler/clang/target.cmake
  cmake/compiler/gcc/target.cmake
  cmake/compiler/gcc/target_optimizations.cmake
  cmake/compiler/host-gcc/target.cmake
Labels: area: Build System

#13491 samples: dumb_http_server: Fix typos and improve wording in docs
  samples/net/sockets/dumb_http_server/README.rst
Labels: area: Documentation, area: Samples

#13485 samples: net: sockets: Add smoke testing support
  samples/net/sockets/echo_client/arduino_101.overlay
  samples/net/sockets/echo_client/boards/frdm_kw41z.conf
  samples/net/sockets/echo_client/boards/qemu_cortext_m3.conf
  samples/net/sockets/echo_client/boards/qemu_x86.conf
  samples/net/sockets/echo_client/overlay-802154.conf
  samples/net/sockets/echo_client/overlay-cc2520.conf
  samples/net/sockets/echo_client/overlay-enc28j60.conf
  samples/net/sockets/echo_client/overlay-frdm_k64f_mcr20a.conf
  samples/net/sockets/echo_client/overlay-qemu_cortex_m3_eth.conf
  samples/net/sockets/echo_client/sample.yaml
  samples/net/sockets/echo_server/arduino_101.overlay
  samples/net/sockets/echo_server/boards/frdm_kw41z.conf
  samples/net/sockets/echo_server/boards/quark_se_c1000_devboard.conf
  samples/net/sockets/echo_server/overlay-cc2520.conf
  samples/net/sockets/echo_server/overlay-e1000.conf
  samples/net/sockets/echo_server/overlay-frdm_k64f_mcr20a.conf
  samples/net/sockets/echo_server/overlay-netusb.conf
  samples/net/sockets/echo_server/overlay-qemu_cortex_m3_eth.conf
  samples/net/sockets/echo_server/overlay-smsc911x.conf
  samples/net/sockets/echo_server/sample.yaml
Labels: area: Networking

#13352 samples: net: zperf: Refactor udp_received
  samples/net/zperf/src/zperf_udp_receiver.c
Labels: area: Networking

#13418 bluetooth: controller: Document RX path flow from mayfly to HCI
  subsys/bluetooth/controller/hci/hci_driver.c
Labels: area: Bluetooth

#13435 soc: nxp_imx: Default to on-chip memories at soc level
  boards/arm/mimxrt1020_evk/Kconfig.defconfig
  boards/arm/mimxrt1050_evk/Kconfig.defconfig
  boards/arm/mimxrt1060_evk/Kconfig.defconfig
  soc/arm/nxp_imx/rt/Kconfig.defconfig.mimxrt1064
  soc/arm/nxp_imx/rt/Kconfig.soc
Labels: platform: NXP

#13496 dts: nxp: Fix typos: interrupts-names -> interrupt-names
  dts/arm/nxp/nxp_k6x.dtsi
  dts/arm/nxp/nxp_rt.dtsi
Labels: area: Device Tree, platform: NXP

#13459 boards: galileo: Fix I2C device name defaults
  boards/x86/galileo/Kconfig.defconfig
Labels: area: Boards, area: X86, bug

#13488 Bluetooth: controller: Fix bug in Encryption feature cond. compile
  subsys/bluetooth/controller/ll_sw/ull_conn.c
Labels: area: Bluetooth

#13399 bluetooth: controller: Refactor PDU_RX_POOL_SIZE
  subsys/bluetooth/controller/ll_sw/pdu.h
  subsys/bluetooth/controller/ll_sw/ull.c
Labels: area: Bluetooth

#13419 drivers/sensor/vl53l0x: Remove unnecessary lib include check
  drivers/sensor/vl53l0x/vl53l0x_types.h
Labels: bug, platform: STM32, priority: low
