Repository zephyrproject-rtos/zephyr, pull requests merged in 2019-09, with the labels that each got.

#18822 dts: binding-template.yaml: Fix 'parent/child: bus:' description
  dts/bindings/binding-template.yaml
Labels: area: Device Tree, bug

#18790 doc: replace with valid png images
  doc/guides/porting/board/hierarchy.png
Labels: area: Documentation

#18789 doc: fix files mis-named as PNG files
  boards/arm/efm32pg_stk3402a/doc/efm32pg_stk3402a.jpg
  boards/arm/efm32pg_stk3402a/doc/index.rst
  boards/arm/efr32_slwstk6061a/doc/efr32_slwstk6061a.jpg
  boards/arm/efr32_slwstk6061a/doc/index.rst
  boards/arm/lpcxpresso55s69/doc/index.rst
  boards/arm/lpcxpresso55s69/doc/lpcxpresso55s69.jpg
  boards/arm/lpcxpresso55s69/doc/lpcxpresso55s69.png
  boards/arm/olimex_stm32_h407/doc/img/olimex_stm32_h407.jpg
  boards/arm/olimex_stm32_h407/doc/index.rst
  doc/development_process/milestones.jpg
  doc/development_process/milestones2.jpg
  doc/development_process/release_process.rst
Labels: area: Boards, area: Documentation

#18812 doc: relnotes: x86-specific release notes
  doc/releases/release-notes-2.0.rst
Labels: area: Documentation

#18763 doc: add how to exit from QEMU in samples
  boards/arm/qemu_cortex_m3/doc/index.rst
  boards/nios2/qemu_nios2/doc/index.rst
  boards/riscv/qemu_riscv32/doc/index.rst
  boards/riscv/qemu_riscv64/doc/index.rst
  boards/x86/qemu_x86/doc/index.rst
  boards/xtensa/qemu_xtensa/doc/index.rst
  doc/guides/networking/qemu_eth_setup.rst
  doc/guides/networking/qemu_setup.rst
  samples/hello_world/README.rst
  samples/net/sockets/big_http_download/README.rst
  samples/net/sockets/echo_client/README.rst
  samples/net/sockets/http_get/README.rst
  samples/philosophers/README.rst
  samples/portability/cmsis_rtos_v1/philosophers/README.rst
  samples/portability/cmsis_rtos_v1/timer_synchronization/README.rst
  samples/portability/cmsis_rtos_v2/philosophers/README.rst
  samples/portability/cmsis_rtos_v2/timer_synchronization/README.rst
  samples/subsys/console/getchar/README.rst
  samples/subsys/console/getline/README.rst
  samples/subsys/logging/logger/README.rst
  samples/synchronization/README.rst
  samples/userspace/shared_mem/README.rst
Labels: area: Boards, area: Documentation, area: Networking, area: Samples

#17131 doc: remove next/previous chapter buttons
  doc/conf.py
Labels: Trivial, area: DX, area: Documentation

#18851 Bluetooth: Host: Workaround for controller advertising data bug
  subsys/bluetooth/host/hci_core.c
Labels: area: Bluetooth

#18864 Bluetooth: controller: split: Fix crash on terminate
  subsys/bluetooth/controller/ll_sw/nordic/lll/lll_conn.c
Labels: Trivial, area: Bluetooth, bug

#18800 west.yml: update nxp_hal SHA to latest commit
  west.yml
Labels: EXT, area: Modules, area: West, platform: NXP

#18318 Devel mec1501 rtos timer load fix 1
  boards/arm/mec15xxevb_assy6853/Kconfig.defconfig
  boards/arm/mec15xxevb_assy6853/mec15xxevb_assy6853_defconfig
  drivers/timer/mchp_xec_rtos_timer.c
Labels: area: Boards, area: Timer

#18853 doc: release notes: 2.0 Kernel release notes
  doc/releases/release-notes-2.0.rst
Labels: area: Documentation

#18744 kernel: reimplement k_uptime_get_32()
  include/kernel.h
  kernel/timeout.c
Labels: area: API, area: Kernel, backport v1.14-branch, block: HW Test

#18881 release: Zephyr 2.0.0-rc3
  VERSION
Labels: area: Process

#18889 doc: release notes: add comment about tests
  doc/releases/release-notes-2.0.rst
Labels: Release Notes, area: Documentation

#18809 docs: fix errors/ambiguities in docs for Apollo Lake boards
  boards/x86/up_squared/doc/index.rst
  soc/x86/apollo_lake/doc/supported_features.rst
Labels: area: Boards, area: Documentation

#18884 doc: net: Update LwM2M block of overview document
  doc/guides/networking/overview.rst
Labels: area: Documentation, area: LWM2M, area: Networking, bug

#18844 scripts: dts: Fix misc. pylint warnings in old scripts
  scripts/dts/extract/default.py
  scripts/dts/extract/flash.py
  scripts/dts/extract/globals.py
  scripts/dts/extract/reg.py
  scripts/dts/extract_dts_includes.py
Labels: area: Device Tree

#18887 doc: releases: Add CVE-2019-9506 to release notes
  doc/releases/release-notes-2.0.rst
Labels: Release Notes, area: Documentation

#18794 [TOPIC: DTS] dts: nordic,nrf-uarte: Declare hw-flow-control in binding
  dts/bindings/serial/nordic,nrf-uarte.yaml
Labels: area: Device Tree

#18907 scripts: dtlib: Refactor to fix two no-self-use pylint warnings
  scripts/dts/dtlib.py
Labels: area: Device Tree

#18901 doc: west: v0.6.2 fixes a critical v0.6.1 bug
  doc/guides/west/release-notes.rst
Labels: area: Documentation, area: West, bug

#18831 scripts: dts: devicetree.py: Fix pylint warning for iffy \w escape
  scripts/dts/devicetree.py
Labels: area: Device Tree

#18908 arm: mps: docs: note on qemu usage of boards
  boards/arm/mps2_an385/doc/index.rst
  boards/arm/mps2_an521/doc/index.rst
Labels: area: Boards, area: Documentation, bug

#18928 [TOPIC: DTS] scripts: dtlib: Suppress _init_tokens() pylint warning
  scripts/dts/dtlib.py
Labels: area: Device Tree

#18941 doc: release notes: add HAL section
  doc/releases/release-notes-2.0.rst
Labels: Release Notes, area: Documentation

#18888 doc: editor pass on release notes
  doc/releases/release-notes-2.0.rst
  doc/static/zephyr-custom.css
Labels: Release Notes, area: Documentation

#18955 doc: release notes: RISC-V release notes for 2.0
  doc/releases/release-notes-2.0.rst
Labels: Release Notes, area: Documentation, area: RISCv32

#18911 doc: getting_started: run west update after pulling zephyr
  doc/getting_started/index.rst
Labels: area: Documentation, area: West

#18952 release: update sanitycheck release file
  scripts/sanity_chk/sanity_last_release.csv
Labels: area: Sanitycheck

#18882 doc: fix misspellings in documentation
  boards/arm/96b_avenger96/doc/index.rst
  samples/drivers/CAN/README.rst
Labels: area: Boards, area: Documentation, area: Samples

#18811 doc: fix broken doc links
  README.rst
  boards/riscv/qemu_riscv64/doc/index.rst
  doc/getting_started/index.rst
  doc/releases/release-notes-1.10.rst
Labels: area: Boards, area: Documentation

#18969 doc: release notes: add list of issues for 2.0.0
  doc/releases/release-notes-2.0.rst
Labels: Release Notes, area: Documentation

#18979 release: adding 2.0.0 doc link
  doc/conf.py
Labels: area: Documentation

#18980 west: update requirements.txt to avoid west 0.6.1
  scripts/requirements.txt
Labels: area: West

#18982 doc: release notes: style update; Zephyr Kernel to Zephyr RTOS
  doc/releases/release-notes-2.0.rst
Labels: area: Documentation

#18987 dts: bindings: spi: nrf: Set license to Apache 2.0
  dts/bindings/spi/nordic,nrf-spi.yaml
Labels: area: Device Tree

#18985 doc: remove licensing for moved ext/ components
  doc/LICENSING.rst
Labels: area: Documentation

#18976 release: Zephyr 2.0.0
  VERSION
Labels: area: Process

#18989 release: Post-release patch level update
  VERSION
Labels: area: Process

#18966 scripts: Fix random typo'd whitespace
  arch/common/gen_isr_tables.py
  boards/xtensa/intel_s1000_crb/support/device.py
  boards/xtensa/intel_s1000_crb/support/download.py
  boards/xtensa/intel_s1000_crb/support/messenger.py
  doc/conf.py
  doc/extensions/lexer/DtsLexer.py
  doc/extensions/zephyr/application.py
  scripts/gen_app_partitions.py
  scripts/gen_cfb_font_header.py
  scripts/gen_kobject_list.py
  scripts/sanity_chk/expr_parser.py
  scripts/sanity_chk/harness.py
  scripts/sanity_chk/ini2yaml.py
  scripts/sanity_chk/scl.py
Labels: area: Boards, area: Documentation, area: Sanitycheck

#18946 xtensa: xtensa_intgen.py: Change 'not lvl in ...' to 'lvl not in ...'
  arch/xtensa/core/xtensa_intgen.py
Labels: area: Xtensa

#18929 doc: application.py: Remove unused variables
  doc/extensions/zephyr/application.py
Labels: area: Documentation

#18948 doc: conf.py: Replace bare 'except' with 'except Exception'
  doc/conf.py
Labels: Trivial, area: Documentation

#18949 gen_gcov_files.py: Replace bare 'except' with 'except Exception'
  scripts/gen_gcov_files.py
Labels: Trivial

#18947 scripts: sanitycheck: Remove redundant ifs
  scripts/sanity_chk/expr_parser.py
  scripts/sanity_chk/ini2yaml.py
Labels: area: Sanitycheck

#18944 menuconfig: Suppress spurious pylint tuple unpacking warning
  scripts/kconfig/menuconfig.py
Labels: area: Kconfig

#18899 scripts: Suppress/fix undefined variable pylint warnings
  doc/conf.py
  scripts/dts/dtlib.py
  scripts/dts/testdtlib.py
  scripts/kconfig/guiconfig.py
Labels: area: Documentation, area: Kconfig

#18909 intel_s1000_crb: messenger.py: Make endian_swap() static
  boards/xtensa/intel_s1000_crb/support/messenger.py
Labels: area: Boards

#18861 intel_s1000_crb: scripts: Remove '== False/True' tests
  boards/xtensa/intel_s1000_crb/support/device.py
  boards/xtensa/intel_s1000_crb/support/messenger.py
Labels: area: Boards

#18838 doc: conf.py: Remove unused subprocess imports
  doc/conf.py
Labels: area: Documentation

#18872 doc: application.py: Simplify test with 'in'
  doc/extensions/zephyr/application.py
Labels: area: Documentation

#18829 samples: intel_s1000: Simplify code and fix pylint warning
  samples/boards/intel_s1000_crb/audio/audio.py
Labels: area: Samples

#18868 doc: extract_content.py: Suppress spurious pylint warning
  doc/scripts/extract_content.py
Labels: area: Documentation

#18836 intel_s1000_crb: messenger.py: Simplify loops to fix pylint warnings
  boards/xtensa/intel_s1000_crb/support/messenger.py
Labels: area: Boards

#18915 ext: tinycrypt: Update tinycrypt revision
  ext/lib/crypto/tinycrypt/README
  ext/lib/crypto/tinycrypt/include/tinycrypt/utils.h
  ext/lib/crypto/tinycrypt/source/ecc_dh.c
Labels: EXT, Trivial

#18839 intel_s1000_crb: messenger.py: Fix 3-space indentation
  boards/xtensa/intel_s1000_crb/support/download.py
Labels: area: Boards

#18830 sanitycheck: harness.py: Fix bad indentation
  scripts/sanity_chk/harness.py
Labels: Trivial, area: Sanitycheck

#18319 bluetooth: controller: remove redundant header inclusions
  subsys/bluetooth/controller/ll_sw/nordic/hal/nrf5/radio/radio.c
  subsys/bluetooth/controller/ll_sw/nordic/hal/nrf5/radio/radio_nrf5_ppi.h
Labels: Trivial, area: Bluetooth

#18860 Bluetooth: host: Handle return code of set_random_address
  subsys/bluetooth/host/hci_core.c
Labels: area: Bluetooth

#18859 Bluetooth: Shell: Fix shell build dependencies
  subsys/bluetooth/shell/CMakeLists.txt
  subsys/bluetooth/shell/bt.c
Labels: Trivial, area: Bluetooth

#18826 Bluetooth: SMP: Fix pairing using debug keys
  subsys/bluetooth/host/smp.c
Labels: area: Bluetooth, bug

#18485 Bluetooth: log: Rework Bluetooth ASSERTs
  subsys/bluetooth/common/Kconfig
  subsys/bluetooth/common/log.h
Labels: area: Bluetooth

#18324 bluetooth: host: Configurable HCI stack sizes
  subsys/bluetooth/host/Kconfig
  subsys/bluetooth/host/hci_ecc.c
Labels: area: Bluetooth, enhancement

#18519 Bluetooth: Mesh: Move model_find to public header
  include/bluetooth/mesh/access.h
  subsys/bluetooth/mesh/access.c
  subsys/bluetooth/mesh/access.h
Labels: area: API, area: Bluetooth, area: Bluetooth Mesh, enhancement

#17426 Bluetooth: host: Add bt_conn_foreach API to iterate all connections
  include/bluetooth/conn.h
  subsys/bluetooth/host/conn.c
Labels: area: API, area: Bluetooth

#18661 ci: do not export BSIM env vars if bsim is not available
  scripts/ci/run_ci.sh
Labels: Trivial, area: Testing Suite

#18972 doc: Release notes for v2.1 - initial (empty) draft
  doc/releases/release-notes-2.1.rst
Labels: area: Documentation

#18977 kernel: fix default z_arch_cpu_halt()
  kernel/fatal.c
Labels: area: Kernel, bug

#18974 doc: cmake: Fix PYTHONPATH on Windows
  doc/CMakeLists.txt
Labels: area: Documentation

#18924 subsys: settings: adding missing header
  subsys/settings/src/settings_priv.h
Labels: Trivial, area: Settings

#18910 doc: mailbox: fix typos and clarify meaning of struct field
  doc/reference/kernel/data_passing/mailboxes.rst
Labels: Trivial, area: Documentation, area: Kernel

#18740 cmake: Drop old deprecation warning
  cmake/extensions.cmake
Labels: Trivial, area: Build System

#18336 subsys/fs/littlefs: Protect littlefs Kconfig options
  subsys/fs/Kconfig
Labels: Trivial, area: File System, enhancement

#18312 native_posix & nrf52_bsim: Add z_arch_irq_connect_dynamic()
  boards/posix/native_posix/irq_handler.c
  boards/posix/nrf52_bsim/irq_handler.c
Labels: Trivial, area: Boards, area: native port, enhancement, platform: nrf52_bsim

#18978 kconfig: modules: Trivial cleanup
  modules/Kconfig.imx
  modules/Kconfig.libmetal
  modules/Kconfig.mbedtls
  modules/Kconfig.mcux
  modules/Kconfig.microchip
  modules/Kconfig.nordic
  modules/Kconfig.open-amp
  modules/Kconfig.qmsi
  modules/Kconfig.silabs
  modules/Kconfig.simplelink
  modules/Kconfig.st
  modules/Kconfig.stm32
  modules/Kconfig.tinycbor
  modules/Kconfig.tls-generic
  modules/Kconfig.vega
Labels: Trivial, area: Kconfig

#18945 cmake: Error-out when 'project' is invoked too early
  cmake/app/boilerplate.cmake
Labels: area: Build System, enhancement

#18604 arch/x86: remove support for IAMCU ABI
  arch/x86/core/Kconfig.ia32
  arch/x86/core/ia32.cmake
  arch/x86/core/ia32/excstub.S
  arch/x86/core/ia32/fatal.c
  arch/x86/core/ia32/intstub.S
  arch/x86/core/ia32/swap.S
  arch/x86/core/ia32/userspace.S
  arch/x86/ia32.cmake
  arch/x86/include/ia32/kernel_arch_data.h
  boards/x86/acrn/Kconfig.board
  boards/x86/qemu_x86/Kconfig.board
  boards/x86/qemu_x86/Kconfig.defconfig
  boards/x86/qemu_x86/qemu_x86_iamcu.dts
  boards/x86/qemu_x86/qemu_x86_iamcu.yaml
  boards/x86/qemu_x86/qemu_x86_iamcu_defconfig
  cmake/compiler/host-gcc/target.cmake
  cmake/emu/qemu.cmake
  cmake/toolchain/xtools/target.cmake
  cmake/toolchain/zephyr/0.10/target.cmake
  doc/getting_started/installation_linux.rst
  doc/guides/porting/arch.rst
  include/arch/x86/ia32/syscall.h
  include/linker/linker-tool-gcc.h
  scripts/qemu-machine-hack.py
  soc/x86/ia32/CMakeLists.txt
Labels: Release Notes, area: API, area: Boards, area: Build System, area: Documentation, area: X86

#18640 scripts: west_commands: verify minimum cmake version
  scripts/requirements.txt
  scripts/west_commands/zcmake.py
Labels: Backport, area: Build System, area: West, backport v1.14-branch

#18897 usb: cdc_acm: Fix compiler warning
  subsys/usb/class/cdc_acm.c
Labels: area: USB

#18775 cmake: Suppress west module logging
  CMakeLists.txt
Labels: area: Build System

#18715 xtensa: asm2: add code for double exception vector
  arch/xtensa/core/xtensa-asm2-util.S
Labels: area: Xtensa

#18741 cmake: Cache the 'toolchain-is-ok' test as well
  CMakeLists.txt
Labels: area: Build System

#18817 drivers: ssd1306: Write data from any coordinate
  drivers/display/ssd1306.c
Labels: area: Display

#18996 Revert "cmake: Error-out when 'project' is invoked too early"
  cmake/app/boilerplate.cmake
Labels: area: Build System

#18967 cmake: Fix bug where -Wno- flags could not be compatbility-checked
  cmake/extensions.cmake
Labels: area: Build System, bug, priority: low

#18992 scripts: Simplify code with sys.exit(<string>)
  arch/x86/gen_gdt.py
  arch/x86/gen_idt.py
  boards/xtensa/intel_s1000_crb/support/create_board_img.py
  scripts/elf_helper.py
  scripts/gen_kobject_list.py
  scripts/gen_priv_stacks.py
  scripts/gen_relocate_app.py
  scripts/process_gperf.py
  scripts/sanity_chk/expr_parser.py
  scripts/support/quartus-flash.py
  scripts/zephyr_module.py
Labels: area: Boards, area: Sanitycheck, area: X86

#18833 drivers: usb_dc_sam: validate pointer in usb_dc_ep_is_stalled
  drivers/usb/device/usb_dc_sam.c
Labels: area: Drivers, area: USB, bug, priority: low

#18792 arc: replace 32-bit instructions with possible 16-bit instructions
  arch/arc/core/fast_irq.S
  arch/arc/core/fault_s.S
  arch/arc/core/isr_wrapper.S
  arch/arc/core/regular_irq.S
  arch/arc/core/reset.S
  arch/arc/core/switch.S
  arch/arc/core/userspace.S
  arch/arc/include/swap_macros.h
Labels: area: ARC

#18692 net: lwm2m: support client-initiated De-register
  include/net/lwm2m.h
  subsys/net/lib/lwm2m/lwm2m_rd_client.c
Labels: area: API, area: LWM2M, area: Networking, enhancement

#18637 Corrected memcpy length for port in parse_ipv6
  subsys/net/ip/utils.c
Labels: area: Networking, bug, priority: low

#18041 usb: device: limit interface bits in setup message to 8
  subsys/usb/usb_device.c
Labels: area: USB, enhancement

#18338 bluetooth: controller: Added function to support RX link quota update
  subsys/bluetooth/controller/ll_sw/ull.c
Labels: Trivial, area: Bluetooth, enhancement

#17909 subsys: kernel_shell: extend thread info
  include/kernel.h
  kernel/thread.c
  subsys/shell/modules/kernel_service.c
Labels: area: API, area: Kernel, area: Shell

#16692 driver: modem: add simple power management to modem receiver
  drivers/modem/modem_receiver.c
  drivers/modem/modem_receiver.h
Labels: area: API, area: Modem

#17481 fcb: start using errno codes
  include/fs/fcb.h
  subsys/fs/fcb/fcb.c
  subsys/fs/fcb/fcb_append.c
  subsys/fs/fcb/fcb_elem_info.c
  subsys/fs/fcb/fcb_getnext.c
  subsys/fs/fcb/fcb_rotate.c
  subsys/fs/fcb/fcb_walk.c
  subsys/settings/src/settings_fcb.c
  tests/subsys/fs/fcb/src/fcb_test.h
  tests/subsys/fs/fcb/src/fcb_test_append_fill.c
  tests/subsys/fs/fcb/src/fcb_test_init.c
  tests/subsys/fs/fcb/src/fcb_test_last_of_n.c
  tests/subsys/fs/fcb/src/fcb_test_multiple_scratch.c
  tests/subsys/fs/fcb/src/fcb_test_rotate.c
Labels: area: API, area: File System, area: Settings, area: Storage, area: Tests

#17520 soc: stm32: add SWO logger backend support
  soc/arm/st_stm32/stm32f1/Kconfig.series
  soc/arm/st_stm32/stm32f2/Kconfig.series
  soc/arm/st_stm32/stm32f3/Kconfig.series
  soc/arm/st_stm32/stm32f4/Kconfig.series
  soc/arm/st_stm32/stm32f7/Kconfig.series
  soc/arm/st_stm32/stm32l1/Kconfig.series
  soc/arm/st_stm32/stm32l4/Kconfig.series
  soc/arm/st_stm32/stm32wb/Kconfig.series
Labels: enhancement, platform: STM32

#17561 subsystem: console: tty init checks and support for polled-only devices
  include/console/console.h
  subsys/console/getchar.c
  subsys/console/tty.c
Labels: area: API, area: Console

#18916 drivers: i2c: xec: Improve error handling for I2C transactions
  drivers/i2c/i2c_mchp_xec.c
Labels: area: I2C

#18931 net: socket: Return error in recvfrom() if buffer size is 0
  subsys/net/lib/sockets/sockets.c
Labels: area: Networking, backport v1.14-branch

#17874 Improve Arduino interface for board nrf52_pca10040
  boards/arm/nrf52_pca10040/nrf52_pca10040.dts
Labels: area: Boards, enhancement

#18958 net: net_if: avoid deref of NULL L2
  subsys/net/ip/net_if.c
Labels: area: Networking, area: Offloading, bug, priority: medium

#18905 doc: application.py: Make functions that don't use 'self' static
  doc/extensions/zephyr/application.py
Labels: area: Documentation

#18871 x86: gen_idt.py: Simplify test with 'not in'
  arch/x86/gen_idt.py
Labels: area: RISCv32, area: X86

#18747 Bluetooth: Mesh: Make unicast elem lookup O(1)
  subsys/bluetooth/mesh/access.c
Labels: area: Bluetooth, area: Bluetooth Mesh, enhancement

#19016 Bluetooth: Mesh: Fix matching for "All Proxies" group address
  subsys/bluetooth/mesh/access.c
Labels: Backport, area: Bluetooth, area: Bluetooth Mesh, backport v1.14-branch, bug

#18612 driver/sensor: lis2dw12: single/double tap trigger implementation
  drivers/sensor/lis2dw12/Kconfig
  drivers/sensor/lis2dw12/lis2dw12.c
  drivers/sensor/lis2dw12/lis2dw12.h
  drivers/sensor/lis2dw12/lis2dw12_trigger.c
Labels: area: Sensors

#18913 kconfiglib: Expose parsing location to Python preprocessor functions
  scripts/kconfig/guiconfig.py
  scripts/kconfig/kconfiglib.py
  scripts/kconfig/menuconfig.py
Labels: area: Kconfig

#17259 usb_device: Fix typo in comment
  subsys/usb/usb_device.c
Labels: area: USB

#18135 dts: rv32m1: Rework interrupt mux dts descriptions
  dts/bindings/interrupt-controller/openisa,rv32m1-intmux-ch.yaml
  dts/bindings/interrupt-controller/openisa,rv32m1-intmux.yaml
  dts/riscv/rv32m1.dtsi
  dts/riscv/rv32m1_ri5cy.dtsi
  dts/riscv/rv32m1_zero_riscy.dtsi
Labels: area: Device Tree, area: RISCv32

#19005 Fixed generating single value properties from DTS in legacy
  scripts/dts/extract/globals.py
Labels: area: Device Tree

#19000 west.yaml: Update hal_nxp to MCUXpresso SDK 2.6.x
  west.yml
Labels: area: Modules, platform: NXP

#19028 dts/watchdog: microchip,xec: fix cmake warnings
  dts/bindings/watchdog/microchip,xec-watchdog.yaml
Labels: area: Device Tree

#19029 dts: nxp: nxp_ke1xf: Make LPO fixed-clock its own node
  dts/arm/nxp/nxp_ke1xf.dtsi
Labels: area: Device Tree, platform: NXP

#19024 Bluetooth: ATT: Fix responding to unknown ATT command
  subsys/bluetooth/host/att.c
Labels: Backport, area: Bluetooth, bug

#19017 drivers/pinmux: stm32: Use pull-up for _SPI_NSS pins
  drivers/pinmux/stm32/pinmux_stm32f0.h
  drivers/pinmux/stm32/pinmux_stm32f3.h
  drivers/pinmux/stm32/pinmux_stm32f4.h
  drivers/pinmux/stm32/pinmux_stm32f7.h
  drivers/pinmux/stm32/pinmux_stm32l0.h
  drivers/pinmux/stm32/pinmux_stm32l1x.h
  drivers/pinmux/stm32/pinmux_stm32l4x.h
  drivers/pinmux/stm32/pinmux_stm32mp1x.h
  drivers/pinmux/stm32/pinmux_stm32wbx.h
  include/dt-bindings/pinctrl/stm32-pinctrlf1.h
Labels: area: API, area: SPI, platform: STM32

#19021 shields: x_nucleo_iks01a2: add missing irq-gpios properties
  boards/shields/x_nucleo_iks01a2/x_nucleo_iks01a2.overlay
Labels: area: Boards, area: Shields

#18247 Updated lvgl to V6.0.2
  west.yml
Labels: area: Display, area: Modules

#18791 dts: scripts: Require properties to be declared in bindings
  scripts/dts/edtlib.py
  scripts/dts/test.dts
Labels: area: Device Tree

#19033 SOC: Boards: NXP: Enable ethernet for mimxrt1060_evk
  boards/arm/mimxrt1060_evk/Kconfig.defconfig
  boards/arm/mimxrt1060_evk/doc/index.rst
  boards/arm/mimxrt1060_evk/mimxrt1060_evk.dts
  boards/arm/mimxrt1060_evk/mimxrt1060_evk.yaml
  boards/arm/mimxrt1060_evk/pinmux.c
  soc/arm/nxp_imx/rt/Kconfig.defconfig.mimxrt1062
Labels: area: Boards

#19036 Bluetooth: Controller: Typo in Kconfig
  subsys/bluetooth/controller/Kconfig
Labels: Trivial, area: Bluetooth

#18863 x86: gen_idt.py: Fix broken error() call in update_irq_vec_map()
  arch/x86/gen_idt.py
Labels: area: X86

#18835 x86: gen_idt.py: Use enumerate() to fix pylint warning
  arch/x86/gen_idt.py
Labels: Trivial, area: X86

#19020 Fix coverity issue in coap_client sample
  samples/net/sockets/coap_client/src/coap-client.c
Labels: Trivial, area: Networking, area: Samples, backport v1.14-branch

#19041 dts: arm: nxp_rt: Fix typo in DT_PWM_MCUX_3_INDEX definition
  soc/arm/nxp_imx/rt/dts_fixup.h
Labels: Trivial

#19043 dts/bindings: st: sensors: Mark 'irq-gpios' as optional
  dts/bindings/sensor/st,lis2ds12-i2c.yaml
  dts/bindings/sensor/st,lis2ds12-spi.yaml
  dts/bindings/sensor/st,lis2dw12-i2c.yaml
  dts/bindings/sensor/st,lis2dw12-spi.yaml
  dts/bindings/sensor/st,lis2mdl-magn.yaml
  dts/bindings/sensor/st,lsm6dsl-i2c.yaml
  dts/bindings/sensor/st,lsm6dsl-spi.yaml
  dts/bindings/sensor/st,lsm6dso-i2c.yaml
  dts/bindings/sensor/st,lsm6dso-spi.yaml
  dts/bindings/sensor/st,lsm9ds0-gyro-i2c.yaml
  dts/bindings/sensor/st,lsm9ds0-mfd-i2c.yaml
Labels: area: Device Tree, area: Sensors, platform: STM32

#18965 Accept TCP connections only in LISTENING state
  subsys/net/ip/tcp.c
  subsys/net/lib/sockets/sockets.c
Labels: area: Networking, backport v1.14-branch

#18937 modules: hal: nordic: Add missing mappings of peripheral base addresses
  dts/arm/nordic/nrf9160.dtsi
  dts/arm/nordic/nrf9160_common.dtsi
  dts/arm/nordic/nrf9160ns.dtsi
  dts/bindings/arm/nordic,nrf-egu.yaml
  dts/bindings/arm/nordic,nrf-kmu.yaml
  dts/bindings/audio/nordic,nrf-pdm.yaml
  dts/bindings/i2c/nordic,nrf-twis.yaml
  dts/bindings/i2s/nordic,nrf-i2s.yaml
  dts/bindings/power/nordic,nrf-regulators.yaml
  dts/bindings/power/nordic,nrf-vmc.yaml
Labels: area: Device Tree, area: Modules, platform: nRF

#18926 Correct gpio sample description
  samples/drivers/gpio/src/main.c
Labels: area: Samples

#19057 samples: CAN: Tweak GPIO flags in dts for mcp2515
  samples/drivers/CAN/mcp2515-dts.overlay
Labels: area: Samples

#19058 drivers: audio: tlv320dac310x: Explicitly set GPIO_DIR_OUT
  boards/xtensa/intel_s1000_crb/intel_s1000_crb.dts
  drivers/audio/tlv320dac310x.c
Labels: area: Boards

#19060 scripts: edtlib: Make order irrelevant when including multiple files
  dts/binding-template.yaml
  scripts/dts/edtlib.py
  scripts/dts/test-bindings/foo-optional.yaml
  scripts/dts/test-bindings/foo-required.yaml
  scripts/dts/test-bindings/order-1.yaml
  scripts/dts/test-bindings/order-2.yaml
  scripts/dts/test.dts
Labels: area: Device Tree

#18733 modules: Kconfig.tls-generic: Add CONFIG_MBEDTLS_ECDSA_DETERMINISTIC
  modules/Kconfig.tls-generic
Labels: area: Networking, area: Security

#19045 i2c: Remove deprecated functions
  include/drivers/i2c.h
Labels: area: API

#19048 sys: ring_buffer: remove deprecated sys_ring_buf_*
  include/sys/ring_buffer.h
Labels: area: API

#19047 sys: dlist: remove deprecated sys_dlist_insert_{before,after}
  include/sys/dlist.h
Labels: area: API

#18162 dts: nxp: ke1xf: Introduce nxp,kinetis-ke1xf-sim
  dts/arm/nxp/nxp_ke1xf.dtsi
  dts/bindings/arm/nxp,kinetis-ke1xf-sim.yaml
  soc/arm/nxp_kinetis/ke1xf/dts_fixup.h
Labels: area: Device Tree, bug

#19071 Fix shield sample build issue for x_nucleo_iks01a2
  boards/arm/disco_l475_iot1/disco_l475_iot1.yaml
  boards/arm/frdm_k64f/frdm_k64f.yaml
  boards/arm/nrf52840_pca10056/nrf52840_pca10056.yaml
  boards/arm/nrf52_pca10040/nrf52_pca10040.yaml
  boards/arm/nucleo_f401re/nucleo_f401re.yaml
  boards/arm/nucleo_f411re/nucleo_f411re.yaml
  boards/arm/stm32mp157c_dk2/stm32mp157c_dk2.yaml
  boards/riscv/rv32m1_vega/rv32m1_vega_ri5cy.yaml
  boards/riscv/rv32m1_vega/rv32m1_vega_zero_riscy.yaml
  samples/shields/x_nucleo_iks01a2/sample.yaml
  samples/shields/x_nucleo_iks01a3/sensorhub/sample.yaml
  samples/shields/x_nucleo_iks01a3/standard/sample.yaml
Labels: Hotfix, area: Boards, area: Samples

#19062 x86: fix XIP SOC support and defaults
  boards/x86/acrn/acrn.dts
  boards/x86/acrn/acrn.yaml
  boards/x86/acrn/acrn_defconfig
  boards/x86/gpmrb/gpmrb.dts
  boards/x86/qemu_x86/Kconfig.board
  boards/x86/qemu_x86/qemu_x86.dts
  boards/x86/qemu_x86/qemu_x86_coverage_defconfig
  boards/x86/up_squared/up_squared.dts
  dts/x86/apollo_lake.dtsi
  dts/x86/ia32.dtsi
  soc/x86/apollo_lake/linker.ld
  soc/x86/ia32/linker.ld
  tests/kernel/xip/prj.conf
  tests/kernel/xip/testcase.yaml
Labels: area: Boards, area: Device Tree, area: Kernel, area: Tests

#19089 arch/x86: inline x2APIC EOI
  arch/x86/core/ia32/intstub.S
  boards/x86/up_squared/up_squared_defconfig
  include/drivers/interrupt_controller/loapic.h
  include/drivers/interrupt_controller/sysapic.h
Labels: area: API, area: Boards, area: X86

#19080 west.yml: point civetweb at the zephyrproject-rtos GH fork
  west.yml
Labels: area: Modules

#19074 modules: Update ci-tools so that the latest tests run in CI
  west.yml
Labels: area: Modules

#19119 soc: nxp_lpc: Enable mpu on the lpc54114 m4 core
  boards/arm/lpcxpresso54114/lpcxpresso54114_m4_defconfig
  soc/arm/nxp_lpc/lpc54xxx/CMakeLists.txt
  soc/arm/nxp_lpc/lpc54xxx/Kconfig.soc
  soc/arm/nxp_lpc/lpc54xxx/arm_mpu_mem_cfg.h
  soc/arm/nxp_lpc/lpc54xxx/arm_mpu_regions.c
  soc/arm/nxp_lpc/lpc54xxx/soc.h
Labels: area: Boards, area: Memory Protection, platform: NXP

#19105 Kconfig: Correct COVERAGE help msg
  subsys/testsuite/Kconfig
Labels: Trivial, area: Kconfig, area: Testing Suite

#19110 net: lib: sntp_simple: Issue multiple requests with backoff
  subsys/net/lib/sntp/sntp_simple.c
Labels: area: Networking

#19083 doc: Add skeleton for 1.14.1 release notes
  doc/releases/release-notes-1.14.rst
Labels: area: Documentation

#18630 Removed no existing include other.h from toolchain.h
  include/toolchain.h
Labels: area: API

#19136 net: pkt: Clone cursor position in net_pkt_clone()
  subsys/net/ip/net_pkt.c
Labels: area: API, area: Networking, backport v1.14-branch

#18641 wifi: eswifi: Implement TCP/UDP socket offload with TLS
  drivers/wifi/eswifi/CMakeLists.txt
  drivers/wifi/eswifi/eswifi.h
  drivers/wifi/eswifi/eswifi_core.c
  drivers/wifi/eswifi/eswifi_offload.c
  drivers/wifi/eswifi/eswifi_offload.h
  drivers/wifi/eswifi/eswifi_socket.c
  drivers/wifi/eswifi/eswifi_socket_offload.c
Labels: area: Networking, area: Offloading, area: Wifi

#18265 drivers: can: mcux: Persuade the driver to send in chronological order
  drivers/can/can_mcux_flexcan.c
Labels: area: CAN

#19141 ci: updates to fix pylint commit test
  .shippable.yml
  west.yml
Labels: Hotfix, area: Modules
