Repository zephyrproject-rtos/zephyr, pull requests merged in 2019-10, with the labels that each got.

#19503 subsys/settings: Remove optional from Kconfig
  subsys/settings/Kconfig
Labels: Trivial, area: Settings

#19405 samples: net: echo-server: Add support for multiple listeners
  samples/net/sockets/echo_server/Kconfig
  samples/net/sockets/echo_server/prj.conf
  samples/net/sockets/echo_server/src/common.h
  samples/net/sockets/echo_server/src/tcp.c
Labels: area: Networking, area: Samples

#19474 cmake: Move the invocation of 'project' earlier
  CMakeLists.txt
  cmake/app/boilerplate.cmake
Labels: area: Build System

#19505 [v1.14-branch] doc: relnotes: Add QDID for Controller
  doc/releases/release-notes-1.14.rst
Labels: area: Documentation

#19010 Corrected thread stack size in thread priority test
  tests/kernel/threads/thread_apis/src/test_kthread_for_each.c
  tests/kernel/threads/thread_apis/src/test_threads_cancel_abort.c
  tests/kernel/threads/thread_apis/src/test_threads_cpu_mask.c
  tests/kernel/threads/thread_apis/src/test_threads_set_priority.c
  tests/kernel/threads/thread_apis/src/test_threads_spawn.c
  tests/kernel/threads/thread_apis/src/test_threads_suspend_resume.c
  tests/kernel/threads/thread_apis/src/tests_thread_apis.h
Labels: area: Kernel, area: Tests, bug, enhancement

#19504 usb: Remove extra logs
  subsys/usb/bos.c
  subsys/usb/os_desc.c
Labels: Trivial

#19404 arch: arc: fix the bug in prologue of sys call handling
  arch/arc/core/fault_s.S
  arch/arc/core/userspace.S
Labels: area: ARC

#19425 samples: drivers: espi: Remove delay from eSPI handshake
  samples/drivers/espi/Kconfig
  samples/drivers/espi/prj_mec1501modular_assy6885.conf
  samples/drivers/espi/prj_mec15xxevb_assy6853.conf
  samples/drivers/espi/src/main.c
Labels: area: Samples

#19462 release: 1.14.1: add list of fixed bugs
  doc/releases/release-notes-1.14.rst
Labels: area: Documentation

#19506 doc: bluetooth: Add 1.14 qualification listings
  doc/guides/bluetooth/bluetooth-qual.rst
Labels: area: Bluetooth, area: Documentation, backport v1.14-branch

#19252 [TOPIC-GPIO] miscellaneous API documentation updates
  include/drivers/gpio.h
Labels: area: API, area: Documentation, area: GPIO

#19493 doc: genrest: Separate turbo mode logic from rest of code
  doc/scripts/genrest.py
Labels: Trivial, area: Documentation

#19463 SYS_MEM_POOL_DEFINE(): move BUILD_ASSERT() at the end
  include/sys/mempool.h
Labels: area: API

#19494 kernel: use logging for userspace errors
  kernel/include/syscall_handler.h
  kernel/userspace.c
Labels: area: Kernel, area: Logging, area: Userspace

#19412 cmake: Fix bug where DTS_BINDINGS_DIRS could only have one entry
  cmake/kconfig.cmake
  scripts/kconfig/kconfigfunctions.py
Labels: area: Build System, area: Kconfig

#19457 tests: tinycrypt: build only on native_posix
  tests/crypto/tinycrypt/src/ecc_dh.c
  tests/crypto/tinycrypt/src/ecc_dsa.c
  tests/crypto/tinycrypt/src/test_ecc_utils.c
  tests/crypto/tinycrypt/src/test_ecc_utils.h
  tests/crypto/tinycrypt/testcase.yaml
  tests/crypto/tinycrypt_hmac_prng/testcase.yaml
Labels: area: Tests

#19449 include/tc_util.h: Rename __str to fix C++ compile error
  subsys/testsuite/include/tc_util.h
Labels: area: Testing Suite

#19518 drivers: espi: move header to include/drivers
  CODEOWNERS
  drivers/espi/espi_mchp_xec.c
  include/drivers/espi.h
  samples/drivers/espi/src/main.c
Labels: area: API, area: Samples

#19521 kernel: remove vestigal printk references
  kernel/fatal.c
  kernel/include/syscall_handler.h
  kernel/thread.c
  kernel/userspace.c
  kernel/userspace_handler.c
Labels: Trivial, area: Kernel

#19522 x86: fix EXCEPTION_DEBUG dependency
  arch/x86/core/Kconfig.ia32
Labels: Trivial, area: X86

#19011 Increased TX/RX buffer size in pipe test
  tests/kernel/pipe/pipe/src/test_pipe.c
Labels: area: Kernel, area: Tests, bug

#19513 samples: usb: webusb: Update README and sample link
  samples/subsys/usb/webusb/README.rst
Labels: area: Samples

#19339 logging: Add log_output flushing to synchronous processing
  subsys/logging/log_backend_std.h
Labels: area: Logging

#19520 drivers/i2c/i2c_dw.c: make 64-bit clean
  drivers/i2c/i2c_dw.c
Labels: area: I2C

#19529 Initialize tcp6_handler_in_use for IPv6 in echo server sample
  samples/net/sockets/echo_server/src/tcp.c
Labels: Trivial, area: Networking, area: Samples, bug

#19538 tests: net: hostname: Corrected unique hostname conversion
  tests/net/hostname/src/main.c
Labels: area: Networking, area: Tests, bug

#19129 bluetooth: controller: RX PDU meta data support in LLL
  subsys/bluetooth/controller/Kconfig
  subsys/bluetooth/controller/ll_sw/lll.h
  subsys/bluetooth/controller/ll_sw/nordic/lll/lll_meta.h
Labels: area: Bluetooth, enhancement

#19275 Bluetooth: controller: Use entropy driver directly in bt_rand
  subsys/bluetooth/controller/crypto/crypto.c
Labels: area: Bluetooth, enhancement

#19528 tests: gui: lvgl: Pass image pointer to fs_write
  tests/lib/gui/lvgl/src/main.c
Labels: Trivial, area: Display, area: Tests, bug

#19524 doc: cmake: kconfig: Remove assignments to unused env. vars.
  doc/CMakeLists.txt
Labels: Trivial, area: Documentation

#19547 drivers/i2c/i2c_dw: really, really make 64-bit clean
  drivers/i2c/i2c_dw.c
  drivers/i2c/i2c_dw.h
  drivers/i2c/i2c_dw_port_x.h
Labels: area: I2C

#19427 logging: wake up log process thread only when log message happen
  subsys/logging/log_core.c
Labels: area: Logging, area: Power Management, enhancement

#19548 Bluetooth: Mesh: Remove unused macro
  subsys/bluetooth/mesh/friend.c
Labels: Trivial, area: Bluetooth, area: Bluetooth Mesh

#19542 tests: timer_api: Fix duplicate timestamp update.
  tests/kernel/timer/timer_api/src/main.c
Labels: area: Kernel, area: Tests

#19561 doc: dts: Fix 'child-binding' typo in legacy syntax section
  doc/guides/dts/index.rst
Labels: area: Documentation

#19558 [TOPIC-GPIO] tests/drivers/gpio_basic_api: improve support for pull test
  tests/drivers/gpio/gpio_basic_api/src/test_gpio_port.c
Labels: area: Tests

#19559 doc: fix genrest turbo mode output error
  doc/scripts/genrest.py
Labels: area: Documentation

#19533 drivers/interrupt_controller/system_apic.c: remove dependence on IOAPIC
  drivers/interrupt_controller/system_apic.c
  include/drivers/sysapic.h
Labels: Trivial, area: API, backport v1.14-branch

#19565 tests/kernel/sched/schedule_api: Filter for MULTIQ platforms
  tests/kernel/sched/schedule_api/testcase.yaml
Labels: Trivial, area: Kernel, area: Tests

#19554 bindings: nordic,nrf-rtc.yaml: Do not require 'ppi-wrap' property
  drivers/counter/Kconfig.nrfx
  dts/bindings/rtc/nordic,nrf-rtc.yaml
Labels: area: Counter, area: Device Tree

#19586 drivers: gpio: add named flag set for disconnected GPIO
  include/drivers/gpio.h
  tests/drivers/gpio/gpio_basic_api/src/test_gpio_port.c
Labels: area: API, area: Tests

#19482 scripts: edtlib: Fix broken 'required: true' check for booleans
  scripts/dts/edtlib.py
Labels: bug

#19597 arch/x86: Fix gcc-9.2 warning with z_arch_syscall_invoke6
  include/arch/x86/ia32/syscall.h
Labels: area: API

#19580 Bluetooth: ATT: Fix disconnected ATT not releasing buffers
  subsys/bluetooth/host/att.c
Labels: area: Bluetooth, backport v1.14-branch, backport v2.0-branch, bug

#19491 arm: arch code naming cleanup
  arch/arm/core/cortex_m/fault.c
  arch/arm/core/cortex_m/irq_init.c
  arch/arm/core/cortex_m/mpu/arm_core_mpu.c
  arch/arm/core/cortex_m/reset.S
  arch/arm/core/cortex_m/vector_table.S
  arch/arm/core/cortex_m/vector_table.h
  arch/arm/core/cortex_r/fault.c
  arch/arm/core/cortex_r/reset.S
  arch/arm/core/cortex_r/stacks.c
  arch/arm/core/cortex_r/vector_table.S
  arch/arm/core/cortex_r/vector_table.h
  arch/arm/core/cpu_idle.S
  arch/arm/core/exc_exit.S
  arch/arm/core/fault_s.S
  arch/arm/core/irq_manage.c
  arch/arm/core/irq_offload.c
  arch/arm/core/irq_relay.S
  arch/arm/core/isr_wrapper.S
  arch/arm/core/nmi.c
  arch/arm/core/prep_c.c
  arch/arm/core/swap.c
  arch/arm/core/swap_helper.S
  arch/arm/core/thread.c
  arch/arm/core/userspace.S
  arch/arm/include/cortex_m/exc.h
  arch/arm/include/cortex_m/stack.h
  arch/arm/include/cortex_r/exc.h
  arch/arm/include/cortex_r/stack.h
  arch/arm/include/kernel_arch_func.h
  drivers/timer/cortex_m_systick.c
  include/arch/arm/exc.h
  include/arch/arm/irq.h
  include/arch/arm/nmi.h
  soc/arm/nordic_nrf/nrf51/soc.c
  soc/arm/nordic_nrf/nrf52/soc.c
  soc/arm/nordic_nrf/nrf91/soc.c
  soc/arm/nxp_imx/rt/soc.c
  soc/arm/nxp_kinetis/k2x/soc.c
  soc/arm/nxp_kinetis/k2x/wdog.S
  soc/arm/nxp_kinetis/k6x/soc.c
  soc/arm/nxp_kinetis/k6x/wdog.S
  soc/arm/nxp_kinetis/k8x/wdog.S
  soc/arm/nxp_kinetis/ke1xf/soc.c
  soc/arm/nxp_kinetis/kl2x/soc.c
  soc/arm/nxp_kinetis/kwx/soc_kw2xd.c
  soc/arm/nxp_kinetis/kwx/soc_kw4xz.c
  soc/arm/nxp_kinetis/kwx/wdog.S
  soc/arm/nxp_lpc/lpc54xxx/soc.c
  soc/arm/nxp_lpc/lpc55xxx/soc.c
  soc/arm/silabs_exx32/common/soc.c
  tests/arch/arm/arm_irq_vector_table/src/arm_irq_vector_table.c
Labels: area: API, area: ARM, area: Tests, area: Timer

#19570 Bluetooth: controller: split: Fix missing slave latency impl.
  subsys/bluetooth/controller/ll_sw/ull_conn.c
Labels: area: Bluetooth, bug

#19468 Bluetooth: controller: split: Fix advertising for multiple peripherals
  subsys/bluetooth/controller/ll_sw/ull.c
Labels: area: Bluetooth

#19598 kernel: Fix gcc-9.2 warning with _StackCheckHandler
  kernel/compiler_stack_protect.c
Labels: area: Kernel

#19551 Bluetooth: controller: Fix rejected enc procedure not terminated
  subsys/bluetooth/controller/ll_sw/ctrl.c
Labels: area: Bluetooth

#19601 native_posix: 💧 Fix realloc potential leak
  boards/posix/native_posix/cmdline.c
Labels: Trivial, area: Boards, area: native port

#19546 tests: net: hostname: Set MAC address properly to all interfaces
  tests/net/hostname/src/main.c
Labels: area: Networking, area: Tests

#14041 kernel: Introduce k_triggered_work
  doc/reference/kernel/threads/workqueue.rst
  include/kernel.h
  kernel/poll.c
  tests/kernel/workq/work_queue/prj.conf
  tests/kernel/workq/work_queue/src/main.c
  tests/kernel/workq/work_queue/testcase.yaml
  tests/kernel/workq/work_queue_api/prj.conf
  tests/kernel/workq/work_queue_api/src/main.c
  tests/kernel/workq/work_queue_api/testcase.yaml
Labels: area: API, area: Documentation, area: Kernel, area: Tests

#19587 Added toolchain abstraction for address sanitizer
  arch/posix/CMakeLists.txt
  cmake/compiler/clang/target.cmake
  cmake/compiler/clang/target_sanitizers.cmake
  cmake/compiler/gcc/target.cmake
  cmake/compiler/gcc/target_sanitizers.cmake
  cmake/compiler/host-gcc/target.cmake
Labels: area: Build System, area: native port

#19590 Some optimizations to the mempool hot path
  lib/os/mempool.c
Labels: enhancement

#19217 CoAP: Random generate ID the first time coap_next_id() is called
  include/net/coap.h
  subsys/net/ip/net_core.c
  subsys/net/ip/net_private.h
  subsys/net/lib/coap/coap.c
Labels: area: API, area: Networking, backport v1.14-branch

#19608 samples: net: Clean up netusb overlay configuration
  samples/net/sockets/echo_server/overlay-netusb.conf
  samples/net/zperf/overlay-netusb.conf
  samples/net/zperf/sample.yaml
Labels: area: Networking, area: Samples

#19611 Bluetooth: controller: split: Fix central_hr sample compilation
  subsys/bluetooth/controller/ll_sw/ull.c
Labels: Regression, Trivial, area: Bluetooth, bug

#19375 boards: mchp: Add option to switch GPIO bank voltage
  boards/arm/mec1501modular_assy6885/mec1501modular_assy6885_defconfig
  boards/arm/mec1501modular_assy6885/pinmux.c
  boards/arm/mec15xxevb_assy6853/pinmux.c
  soc/arm/microchip_mec/mec1501/Kconfig.soc
Labels: area: Boards

#18914 doc/reference/kernel: Add SMP architecture documentation
  doc/reference/kernel/index.rst
  doc/reference/kernel/smp/smp.rst
Labels: area: Documentation

#19618 boards: nucleo_wb55rg: add omitted code-partition
  boards/arm/nucleo_wb55rg/nucleo_wb55rg.dts
Labels: area: Boards

#19532 x86: abstract toplevel page table pointer
  arch/x86/core/ia32/crt0.S
  arch/x86/core/ia32/fatal.c
  arch/x86/core/ia32/prep_c.c
  arch/x86/core/ia32/thread.c
  arch/x86/core/ia32/userspace.S
  arch/x86/core/ia32/x86_mmu.c
  arch/x86/include/ia32/kernel_arch_func.h
  arch/x86/include/ia32/mmustructs.h
  include/arch/x86/ia32/arch.h
  tests/kernel/boot_page_table/src/boot_page_table.c
  tests/kernel/mem_protect/x86_mmu_api/src/userbuffer_validate.c
Labels: area: API, area: Kernel, area: Tests, area: X86

#19622 k_mem_pool_alloc(): remove dead code
  kernel/mempool.c
Labels: area: Kernel

#19500 boards: stm32_min_dev: dts: set UART2 status okay
  boards/arm/stm32_min_dev/doc/index.rst
  boards/arm/stm32_min_dev/stm32_min_dev.dtsi
Labels: Trivial, area: Boards, platform: STM32

#19595 Set stack align to 8 bytes for 64-bit posix targets
  include/arch/posix/arch.h
Labels: Trivial, area: API, area: native port

#19568 drivers: ipm_stm32wb: add workaround for conn_complete
  drivers/bluetooth/hci/ipm_stm32wb.c
Labels: area: Bluetooth

#19318 tests: arm thread swap: increase Idle Stack size for no-opt test-case
  tests/arch/arm/arm_thread_swap/testcase.yaml
Labels: Trivial, area: ARM, area: Tests

#19633 tests: smp: do not whitelist, use filter
  tests/kernel/smp/testcase.yaml
Labels: area: Kernel, area: Tests

#19531 tests/subsys/settings/functional: make common code a zephyr_library()
  tests/subsys/settings/functional/fcb/CMakeLists.txt
  tests/subsys/settings/functional/fcb/placeholder.c
  tests/subsys/settings/functional/nvs/CMakeLists.txt
  tests/subsys/settings/functional/nvs/placeholder.c
  tests/subsys/settings/functional/src/CMakeLists.txt
Labels: area: Build System, area: Tests, enhancement

#19615 net: shell: ping: Figure out the output network interface
  subsys/net/ip/net_shell.c
Labels: area: Networking, backport v1.14-branch

#19632 Added support for undefined behaviour sanitizer on native_posix
  arch/posix/CMakeLists.txt
  cmake/compiler/clang/target_sanitizers.cmake
  cmake/compiler/gcc/target_sanitizers.cmake
  subsys/debug/Kconfig
Labels: Trivial, area: Build System, area: native port

#19640 doc: boards: arm: nucleo: fix typo in reference to blinky-sample
  boards/arm/nucleo_f103rb/doc/index.rst
Labels: area: Boards

#19653 drivers: flexcan: fix loopback mode
  drivers/can/can_mcux_flexcan.c
Labels: area: CAN, platform: NXP

#19651 Bluetooth: samples: Add newline when using printk
  samples/bluetooth/peripheral_hids/src/main.c
  samples/bluetooth/peripheral_sc_only/src/main.c
Labels: area: Bluetooth, area: Samples

#19646 [topic-gpio] drivers/gpio: stm32: Rework configure function exit for dual core
  drivers/gpio/gpio_stm32.c
Labels: area: GPIO, platform: STM32

#19663 boards: nucleo_f103rb: Fix missing include in dts file
  boards/arm/nucleo_f103rb/nucleo_f103rb.dts
Labels: Trivial, area: Boards, platform: STM32

#19429 drivers: pwm: pwm_mchp_xec: Fix u32_t overflow for freq calculation
  drivers/pwm/pwm_mchp_xec.c
Labels: area: PWM

#19642 bluetooth: controller: Prevent unnecessary ticker "must expire"
  subsys/bluetooth/controller/ticker/ticker.c
Labels: Trivial, area: Bluetooth

#19648 Bluetooth: controller: Fix endianness for length update.
  subsys/bluetooth/controller/hci/hci.c
Labels: Trivial, area: Bluetooth

#19673 drivers: clock_control: nrf_power_clock: Make isr function global
  drivers/clock_control/nrf_power_clock.c
Labels: Hotfix, Trivial, area: Clock Control

#19676 Bluetooth: Mesh: Model message macros
  include/bluetooth/mesh/access.h
  subsys/bluetooth/mesh/access.c
  subsys/bluetooth/mesh/cfg_cli.c
  subsys/bluetooth/mesh/cfg_srv.c
  subsys/bluetooth/mesh/health_cli.c
  subsys/bluetooth/mesh/health_srv.c
Labels: area: API, area: Bluetooth, area: Bluetooth Mesh

#19687 doc: use simpler words for describing scheduling
  doc/reference/kernel/scheduling/index.rst
Labels: area: Documentation

#19659 doc: fix broken file and zephyr-app refs
  boards/arm/mec1501modular_assy6885/doc/index.rst
  boards/riscv/rv32m1_vega/doc/index.rst
  doc/guides/networking/qemu_setup.rst
  doc/guides/porting/arch.rst
  samples/boards/bbc_microbit/display/README.rst
  samples/boards/bbc_microbit/line_follower_robot/README.rst
  samples/boards/bbc_microbit/pong/README.rst
  samples/boards/bbc_microbit/sound/README.rst
  samples/display/grove_display/README.rst
  samples/drivers/counter/alarm/README.rst
  samples/sensor/adt7420/README.rst
  samples/sensor/adxl362/README.rst
  samples/sensor/adxl372/README.rst
  samples/sensor/amg88xx/README.rst
  samples/sensor/ams_iAQcore/README.rst
  samples/sensor/apds9960/README.rst
  samples/sensor/bme280/README.rst
  samples/sensor/bme680/README.rst
  samples/sensor/bmm150/README.rst
  samples/sensor/ens210/README.rst
  samples/sensor/fxas21002/README.rst
  samples/sensor/hts221/README.rst
  samples/sensor/lsm303dlhc/README.rst
  samples/sensor/lsm6dsl/README.rst
  samples/sensor/max30101/README.rst
  samples/sensor/sht3xd/README.rst
  samples/sensor/ti_hdc/README.rst
  samples/userspace/shared_mem/README.rst
Labels: Trivial, area: Boards, area: Documentation, area: Samples

#19600 boards: arm: stm32: fix out of bounds access
  drivers/adc/adc_stm32.c
Labels: area: ADC, platform: STM32

#19389 arch: arm: Remove unnecessary register preservation in Cortex-R port.
  arch/arm/core/exc_exit.S
  arch/arm/core/swap_helper.S
Labels: area: ARM, enhancement

#19694 toolchain: Fix for off-tree toolchains
  include/toolchain.h
Labels: Trivial, area: API, area: Toolchains, bug

#19686 Bluetooth: controller: Fix ticker previous slot value
  subsys/bluetooth/controller/ticker/ticker.c
Labels: area: Bluetooth, backport v1.14-branch, bug

#19695 [TOPIC-GPIO] drivers/gpio: document that unsupported DEBOUNCE should be ignored
  include/drivers/gpio.h
Labels: area: API, area: GPIO

#19704 Bluetooth: controller: split: Add hook for flushing in LLL
  subsys/bluetooth/controller/ll_sw/lll_conn.h
  subsys/bluetooth/controller/ll_sw/nordic/lll/lll_conn.c
  subsys/bluetooth/controller/ll_sw/ull_conn.c
Labels: area: Bluetooth

#19680 drivers: CAN: MCP2515: Move oscillator frequency definition to devce-tree
  boards/shields/link_board_can/link_board_can.overlay
  drivers/can/Kconfig.mcp2515
  drivers/can/can_mcp2515.c
  drivers/can/can_mcp2515.h
  dts/bindings/can/microchip,mcp2515.yaml
  samples/drivers/CAN/mcp2515-dts.overlay
Labels: area: Boards, area: CAN, area: Device Tree, area: Samples

#19383 stm32: Fix uart_irq_tx_complete() to output correct status
  drivers/serial/uart_stm32.c
Labels: area: UART, platform: STM32

#19706 Bluetooth: controller: Fix Kconfig conditional optionals
  subsys/bluetooth/controller/Kconfig
Labels: Trivial, area: Bluetooth

#19702 test_pipe_contexts: don't free memory blocks handed to k_pipe_block_put
  tests/kernel/pipe/pipe_api/src/test_pipe_contexts.c
Labels: area: Kernel, area: Tests

#19406 arch: arc: enlarge the exception handling stack
  arch/arc/Kconfig
  arch/arc/core/fault_s.S
Labels: area: ARC

#19715 tests/mem_pool_threadsafe: use actual minimum mempool block size
  tests/kernel/mem_pool/mem_pool_threadsafe/src/main.c
Labels: area: Kernel, area: Tests

#19557 [TOPIC-GPIO] drivers: gpio_mcux: fix handling of unsupported configurations
  drivers/gpio/gpio_mcux.c
Labels: area: GPIO, platform: NXP

#19636 boards: stm32: Set arduino gpio connector on nucleo 144 pins boards
  boards/arm/nucleo_f207zg/arduino_r3_connector.dtsi
  boards/arm/nucleo_f207zg/nucleo_f207zg.dts
  boards/arm/nucleo_f207zg/nucleo_f207zg.yaml
  boards/arm/nucleo_f412zg/arduino_r3_connector.dtsi
  boards/arm/nucleo_f412zg/nucleo_f412zg.dts
  boards/arm/nucleo_f412zg/nucleo_f412zg.yaml
  boards/arm/nucleo_f413zh/arduino_r3_connector.dtsi
  boards/arm/nucleo_f413zh/nucleo_f413zh.dts
  boards/arm/nucleo_f413zh/nucleo_f413zh.yaml
  boards/arm/nucleo_f746zg/arduino_r3_connector.dtsi
  boards/arm/nucleo_f746zg/nucleo_f746zg.dts
  boards/arm/nucleo_f746zg/nucleo_f746zg.yaml
  boards/arm/nucleo_f756zg/arduino_r3_connector.dtsi
  boards/arm/nucleo_f756zg/nucleo_f756zg.dts
  boards/arm/nucleo_f756zg/nucleo_f756zg.yaml
  boards/arm/nucleo_l496zg/arduino_r3_connector.dtsi
  boards/arm/nucleo_l496zg/nucleo_l496zg.dts
  boards/arm/nucleo_l496zg/nucleo_l496zg.yaml
  boards/arm/nucleo_l4r5zi/arduino_r3_connector.dtsi
  boards/arm/nucleo_l4r5zi/nucleo_l4r5zi.dts
  boards/arm/nucleo_l4r5zi/nucleo_l4r5zi.yaml
Labels: area: Boards, platform: STM32

#19196 Bluetooth: controller: split: cond. compile job disable
  subsys/bluetooth/controller/ll_sw/ull_conn.c
  subsys/bluetooth/controller/ll_sw/ull_master.c
  subsys/bluetooth/controller/ll_sw/ull_slave.c
Labels: area: Bluetooth

#17640 Bluetooth: controller: split: Fix missing data len update event
  subsys/bluetooth/controller/ll_sw/ull.c
  subsys/bluetooth/controller/ll_sw/ull_conn.c
Labels: area: Bluetooth, bug

#19576 Bluetooth: Mesh: Proxy forwards ALL_NODES addr
  subsys/bluetooth/mesh/proxy.c
Labels: area: Bluetooth, area: Bluetooth Mesh

#19519 scripts: genrest: Support splitting symbol documentation up by path
  doc/CMakeLists.txt
  doc/scripts/genrest.py
Labels: area: Documentation

#19585 dts/bindings: Remove intel,intel-spi.yaml
  dts/bindings/spi/intel,intel-spi.yaml
Labels: area: Device Tree

#19727 kernel: improve C++ compatibility
  include/kernel.h
Labels: Trivial, area: API, area: C++, area: Kernel

#19386 boards: stm32_min_dev.dtsi enable use of UART_2 and UART_3
  boards/arm/stm32_min_dev/stm32_min_dev.dtsi
Labels: Trivial, area: Boards, platform: STM32

#19593 boards: nucleo_f446re flash layout
  boards/arm/nucleo_f446re/nucleo_f446re.dts
Labels: area: Boards, platform: STM32

#19758 x86: intel64: enable no-execute
  arch/x86/core/intel64/locore.S
  include/arch/x86/msr.h
Labels: Trivial, area: API, area: X86

#19757 x86: intel64: don't drop debug sections
  include/arch/x86/intel64/linker.ld
Labels: area: API

#19741 Bluetooth: controller: split: Call LLL reset functions from ll_reset
  subsys/bluetooth/controller/ll_sw/lll.h
  subsys/bluetooth/controller/ll_sw/ull.c
Labels: Trivial, area: Bluetooth

#19766 tests/subsys/settings/nffs: fix not initialized variables issues
  tests/subsys/settings/nffs/src/settings_test_save_in_file.c
  tests/subsys/settings/nffs/src/settings_test_save_one_file.c
Labels: Trivial, area: Settings, area: Tests

#19773 CODEOWNERS: add owners for the C++ subsystem
  CODEOWNERS
Labels: Trivial, area: C++

#19768 logging: Print hexdumps with 16 bytes in one line
  samples/subsys/logging/logger/src/sample_instance.c
  subsys/logging/log_output.c
Labels: area: Logging, area: Samples

#19772 net: ppp: Answer LCP Echo-Request with Echo-Reply
  subsys/net/l2/ppp/fsm.c
Labels: area: Networking

#19780 ci: cleanup test manifests
  scripts/ci/run_ci.sh
Labels: Hotfix

#19584 kernel: add architecture interface headers
  arch/arm/core/cortex_m/mpu/arm_core_mpu.c
  arch/arm/core/cpu_idle.S
  arch/arm/core/irq_manage.c
  arch/arm/core/swap.c
  arch/arm/core/thread.c
  arch/arm/include/cortex_m/exc.h
  arch/arm/include/cortex_r/exc.h
  arch/nios2/core/cpu_idle.c
  arch/posix/core/cpuhalt.c
  arch/posix/core/swap.c
  arch/posix/core/thread.c
  arch/posix/include/kernel_arch_func.h
  arch/riscv/core/cpu_idle.c
  arch/x86/core/cpuhalt.c
  arch/x86/core/ia32/irq_manage.c
  arch/x86/core/ia32/swap.S
  arch/x86/core/ia32/thread.c
  arch/x86/include/ia32/kernel_arch_func.h
  arch/xtensa/core/cpu_idle.c
  arch/xtensa/include/kernel_arch_func.h
  include/arch/arc/arch.h
  include/arch/arc/v2/irq.h
  include/arch/arm/asm_inline_gcc.h
  include/arch/arm/irq.h
  include/arch/arm/misc.h
  include/arch/nios2/arch.h
  include/arch/posix/arch.h
  include/arch/riscv/arch.h
  include/arch/x86/arch.h
  include/arch/x86/ia32/arch.h
  include/arch/xtensa/arch.h
  include/arch/xtensa/irq.h
  include/irq.h
  include/kernel.h
  include/sys/arch_inlines.h
  include/sys/arch_interface.h
  kernel/include/kernel_internal.h
Labels: Release Notes, area: API, area: ARM, area: Kernel, area: NIOS2, area: X86, area: Xtensa, area: native port

#19733 drivers: i2c: xec: Handle additional I2C flags for read
  drivers/i2c/i2c_mchp_xec.c
Labels: area: I2C

#19787 CODEOWNERS: Add entry for gpio drivers
  CODEOWNERS
Labels: area: GPIO

#19744 Bluetooth: controller: split: Fix ctrl proc rx node starvation
  subsys/bluetooth/controller/ll_sw/ull.c
  subsys/bluetooth/controller/ll_sw/ull_conn.c
Labels: area: Bluetooth

#19777 kconfig: assert: Introduce kconfig option ASSERT_NO_FILE_INFO
  include/sys/__assert.h
  subsys/debug/Kconfig
Labels: Trivial, area: API, area: Kconfig

#19379 [TOPIC-GPIO] drivers: gpio_sx1509b: update to use new GPIO API
  CODEOWNERS
  boards/arm/nrf52_pca20020/nrf52_pca20020.dts
  drivers/gpio/gpio_sx1509b.c
  tests/drivers/gpio/gpio_basic_api/boards/nrf52_pca20020.overlay
Labels: area: Boards, area: Build System, area: GPIO, area: Tests

#19796 drivers: flash: nrfx: Modify flash address validation
  drivers/flash/soc_flash_nrf.c
Labels: Trivial, bug, platform: nRF

#19736 drivers: espi: xec: Report espi bus reset event correctly to client's driver
  drivers/espi/espi_mchp_xec.c
Labels: eSPI

#19726 sensor: lis2dh: fix SPI burst transfers
  drivers/sensor/lis2dh/lis2dh.c
  drivers/sensor/lis2dh/lis2dh.h
  drivers/sensor/lis2dh/lis2dh_trigger.c
Labels: area: Sensors

#19797 tests: net: tcp: Initialize TCP header properly
  tests/net/tcp/src/main.c
Labels: area: Networking, area: Tests

#19803 net: if: Fix interface initialization with socket offloading
  include/net/net_if.h
  subsys/net/ip/net_if.c
Labels: area: API, area: Networking

#19324 Bluetooth: controller: Fix DLE for remote unsupported Coded PHY
  subsys/bluetooth/controller/ll_sw/ctrl.c
Labels: Bluetooth Qualification, area: Bluetooth, backport v1.14-branch, bug, platform: nRF

#19793 Bluetooth: GATT: Add function to check if attribute has been subscribed
  include/bluetooth/gatt.h
  subsys/bluetooth/host/gatt.c
Labels: area: API, area: Bluetooth

#19819 Bluetooth: host: Fix whitelist for non-central bluetooth applications
  subsys/bluetooth/host/conn.c
  subsys/bluetooth/host/hci_core.c
Labels: Trivial, area: Bluetooth, backport v2.0-branch, bug

#19792 Bluetooth: GATT: Fix bug in bt_gatt_attr_next unable for static handles
  subsys/bluetooth/host/gatt.c
Labels: area: Bluetooth, backport v2.0-branch

#19815 Bluetooth: controller: split: Fix ticks slot used on conn update
  subsys/bluetooth/controller/ll_sw/ull_conn.c
Labels: area: Bluetooth, bug

#19812 riscv: properly pull in irq_offload logic
  arch/riscv/core/CMakeLists.txt
  arch/riscv/core/isr.S
Labels: Trivial, area: RISCv32

#19581 [TOPIC-GPIO] improve test validation diagnostic
  tests/drivers/gpio/gpio_basic_api/src/test_gpio_port.c
Labels: area: GPIO, area: Tests

#19828 doc: fix list formatting in ring_buffer
  doc/reference/kernel/other/ring_buffers.rst
Labels: area: Documentation

#19822 tests: kernel: userspace: replace inline assembly with C code
  tests/kernel/mem_protect/userspace/src/main.c
Labels: Trivial, area: ARM, area: Kernel, area: Tests, enhancement

#19835 sanitycheck: Use os.makedirs to create --report-dir.
  scripts/sanitycheck
Labels: Trivial, area: Sanitycheck

#19789 Bluetooth: Mesh: Fixed Provision Random buffer size
  subsys/bluetooth/mesh/prov.c
Labels: area: Bluetooth, area: Bluetooth Mesh, backport v2.0-branch

#19826 net: tls: Set accepting socket to LISTENING state
  subsys/net/lib/sockets/sockets_tls.c
Labels: area: Networking

#19681 Bluetooth: GATT: Replace check for CONFIG_BT_SMP
  subsys/bluetooth/host/gatt.c
Labels: area: Bluetooth

#19849 samples/bluetooth: peripheral: Remove nucleo_f429zi from withelist
  samples/bluetooth/peripheral/sample.yaml
Labels: Hotfix, Trivial, area: Bluetooth, area: Samples, bug

#19840 doc: genrest: Support customizing the description on index pages
  doc/scripts/genrest.py
Labels: area: Documentation

#19838 manifest: Update the revision of tinycbor
  west.yml
Labels: area: Modules

#19742 samples/bluetooth/hci_uart: change bbc_microbit RAM demands to so test passes
  samples/bluetooth/hci_uart/microbit.conf
Labels: area: Bluetooth, area: Samples, area: Testing

#19855 Bluetooth: samples: peripheral_dis: Failed to save with custom settings
  samples/bluetooth/peripheral_dis/prj.conf
  samples/bluetooth/peripheral_dis/src/main.c
Labels: area: Bluetooth, area: Samples

#19816 Bluetooth: controller: split: Stop pre-empt timer
  subsys/bluetooth/controller/ll_sw/nordic/lll/lll.c
Labels: area: Bluetooth, bug, platform: nRF

#19800 logging: Fix lack of logging after startup
  subsys/logging/log_core.c
Labels: area: Logging, bug

#19808 doc: use multi-column display for long lists
  boards/arm/nucleo_g431rb/doc/index.rst
  boards/arm/nucleo_l476rg/doc/index.rst
  boards/arm/nucleo_l4r5zi/doc/index.rst
  boards/arm/nucleo_wb55rg/doc/nucleo_wb55rg.rst
  boards/arm/stm32f3_disco/doc/index.rst
  boards/arm/stm32f4_disco/doc/index.rst
Labels: area: Boards, area: Documentation

#19864 samples/96b_argonkey: microphone: (FIX) stop dmic trigger
  samples/boards/96b_argonkey/microphone/src/main.c
Labels: area: ADC, area: AIO, area: API, area: Samples, bug

#19782 [TOPIC-GPIO] tests: gpio_api_1pin: fix port related testcases
  tests/drivers/gpio/gpio_api_1pin/src/test_pin_interrupt.c
  tests/drivers/gpio/gpio_api_1pin/src/test_port.c
Labels: area: GPIO, area: Tests

#19805 drivers: sensor: Add SI7060 temperature sensor driver
  drivers/sensor/CMakeLists.txt
  drivers/sensor/Kconfig
  drivers/sensor/si7060/CMakeLists.txt
  drivers/sensor/si7060/Kconfig
  drivers/sensor/si7060/si7060.c
  drivers/sensor/si7060/si7060.h
  dts/bindings/sensor/silabs,si7060.yaml
  tests/drivers/build_all/dts_fixup.h
  tests/drivers/build_all/sensors_i_z.conf
Labels: area: Device Tree, area: Sensors, area: Tests

#19804 drivers: sensor: Add OPT3001 light sensor driver
  drivers/sensor/CMakeLists.txt
  drivers/sensor/Kconfig
  drivers/sensor/opt3001/CMakeLists.txt
  drivers/sensor/opt3001/Kconfig
  drivers/sensor/opt3001/opt3001.c
  drivers/sensor/opt3001/opt3001.h
  dts/bindings/sensor/ti,opt3001.yaml
  tests/drivers/build_all/dts_fixup.h
  tests/drivers/build_all/sensors_i_z.conf
Labels: area: Device Tree, area: Sensors, area: Tests

#19786 boards: actinius_icarus: change defaults to use new kconfig functions
  boards/arm/actinius_icarus/Kconfig.defconfig
Labels: area: Boards, platform: nRF

#19799 Bluetooth: Mesh: Persistent storage of Virtual Addresses
  subsys/bluetooth/mesh/cfg_srv.c
  subsys/bluetooth/mesh/foundation.h
  subsys/bluetooth/mesh/net.h
  subsys/bluetooth/mesh/settings.c
  subsys/bluetooth/mesh/settings.h
Labels: area: Bluetooth, area: Bluetooth Mesh
