Repository zephyrproject-rtos/zephyr, pull requests merged in 2020-11, with the labels that each got.

#29640 samples: display: cfb_custom_font: add support for ssd1306fb
  samples/display/cfb_custom_font/src/main.c
Labels: area: Display, area: Samples

#29673 Bluetooth: Mesh: Permit model walk from any model
  subsys/bluetooth/mesh/access.c
Labels: area: Bluetooth, area: Bluetooth Mesh, bug

#29658 Bluetooth: Mesh: Fix set friend_cred flag incorrectly
  subsys/bluetooth/mesh/subnet.c
Labels: Trivial, area: Bluetooth, area: Bluetooth Mesh, bug

#29679 net: dhcpv4: check msg len is correct
  subsys/net/ip/dhcpv4.c
  subsys/net/ip/dhcpv4.h
Labels: area: Networking

#26856 [TOPIC-BLE-LLCP] Bluetooth: controller: add Kconfig option for new llcp
  subsys/bluetooth/controller/CMakeLists.txt
  subsys/bluetooth/controller/Kconfig.ll_sw_split
  subsys/bluetooth/controller/ll_sw/ull_connection.c
  tests/bluetooth/bsim_bt/edtt_ble_test_app/hci_test_app/prj.conf
Labels: area: Bluetooth, area: Documentation, area: Tests

#29431 STM32: Convert boards to devicetree for USB pins configuration
  boards/arm/96b_aerocore2/96b_aerocore2.dts
  boards/arm/96b_aerocore2/pinmux.c
  boards/arm/96b_carbon/96b_carbon.dts
  boards/arm/96b_carbon/pinmux.c
  boards/arm/adafruit_feather_stm32f405/adafruit_feather_stm32f405.dts
  boards/arm/adafruit_feather_stm32f405/pinmux.c
  boards/arm/b_l4s5i_iot01a/b_l4s5i_iot01a.dts
  boards/arm/b_l4s5i_iot01a/pinmux.c
  boards/arm/black_f407ve/black_f407ve.dts
  boards/arm/black_f407ve/pinmux.c
  boards/arm/black_f407zg_pro/black_f407zg_pro.dts
  boards/arm/black_f407zg_pro/pinmux.c
  boards/arm/blackpill_f411ce/blackpill_f411ce.dts
  boards/arm/blackpill_f411ce/pinmux.c
  boards/arm/mikroe_mini_m4_for_stm32/mikroe_mini_m4_for_stm32.dts
  boards/arm/mikroe_mini_m4_for_stm32/pinmux.c
  boards/arm/nucleo_f207zg/nucleo_f207zg.dts
  boards/arm/nucleo_f207zg/pinmux.c
  boards/arm/nucleo_f412zg/nucleo_f412zg.dts
  boards/arm/nucleo_f412zg/pinmux.c
  boards/arm/nucleo_f413zh/nucleo_f413zh.dts
  boards/arm/nucleo_f413zh/pinmux.c
  boards/arm/nucleo_f429zi/nucleo_f429zi.dts
  boards/arm/nucleo_f429zi/pinmux.c
  boards/arm/nucleo_f746zg/nucleo_f746zg.dts
  boards/arm/nucleo_f746zg/pinmux.c
  boards/arm/nucleo_f756zg/nucleo_f756zg.dts
  boards/arm/nucleo_f756zg/pinmux.c
  boards/arm/nucleo_f767zi/nucleo_f767zi.dts
  boards/arm/nucleo_f767zi/pinmux.c
  boards/arm/nucleo_l4r5zi/nucleo_l4r5zi.dts
  boards/arm/nucleo_l4r5zi/pinmux.c
  boards/arm/olimex_stm32_e407/olimex_stm32_e407.dts
  boards/arm/olimex_stm32_e407/pinmux.c
  boards/arm/olimex_stm32_h103/olimex_stm32_h103.dts
  boards/arm/olimex_stm32_h103/pinmux.c
  boards/arm/olimex_stm32_h407/olimex_stm32_h407.dts
  boards/arm/olimex_stm32_h407/pinmux.c
  boards/arm/olimexino_stm32/olimexino_stm32.dts
  boards/arm/olimexino_stm32/pinmux.c
  boards/arm/sensortile_box/pinmux.c
  boards/arm/sensortile_box/sensortile_box.dts
  boards/arm/stm32_min_dev/pinmux.c
  boards/arm/stm32_min_dev/stm32_min_dev.dtsi
  boards/arm/stm32f3_disco/pinmux.c
  boards/arm/stm32f3_disco/stm32f3_disco.dts
  boards/arm/stm32f411e_disco/pinmux.c
  boards/arm/stm32f411e_disco/stm32f411e_disco.dts
  boards/arm/stm32f469i_disco/pinmux.c
  boards/arm/stm32f469i_disco/stm32f469i_disco.dts
  boards/arm/stm32f4_disco/pinmux.c
  boards/arm/stm32f4_disco/stm32f4_disco.dts
  boards/arm/stm32f723e_disco/pinmux.c
  boards/arm/stm32f723e_disco/stm32f723e_disco.dts
  boards/arm/stm32f746g_disco/pinmux.c
  boards/arm/stm32f746g_disco/stm32f746g_disco.dts
  boards/arm/waveshare_open103z/pinmux.c
  boards/arm/waveshare_open103z/waveshare_open103z.dts
Labels: area: Boards, area: Devicetree, platform: STM32

#29647 drivers/sensor: lsm6dsl: Fix build when irq_gpios is not in DT
  drivers/sensor/lsm6dsl/lsm6dsl.c
  drivers/sensor/lsm6dsl/lsm6dsl_trigger.c
Labels: area: Boards, area: Devicetree, area: Samples, area: Sensors, area: Shields, bug

#29221 arch: arc: fix a reg misuse in leaving tickless idle
  arch/arc/core/isr_wrapper.S
Labels: area: ARC

#29653 doc: fix showing latest version in sidebar
  doc/_templates/zversions.html
Labels: Trivial

#28323 Civetweb WebSocket Server sample
  samples/net/sockets/civetweb_websocket_server/CMakeLists.txt
  samples/net/sockets/civetweb_websocket_server/README.rst
  samples/net/sockets/civetweb_websocket_server/include/helper.h
  samples/net/sockets/civetweb_websocket_server/include/http_server_handlers.h
  samples/net/sockets/civetweb_websocket_server/include/libc_extensions.h
  samples/net/sockets/civetweb_websocket_server/include/websocket_server_handlers.h
  samples/net/sockets/civetweb_websocket_server/prj.conf
  samples/net/sockets/civetweb_websocket_server/sample.yaml
  samples/net/sockets/civetweb_websocket_server/src/external_log_access.inl
  samples/net/sockets/civetweb_websocket_server/src/external_mg_cry_internal_impl.inl
  samples/net/sockets/civetweb_websocket_server/src/http_server_handlers.c
  samples/net/sockets/civetweb_websocket_server/src/libc_extensions.c
  samples/net/sockets/civetweb_websocket_server/src/main.c
  samples/net/sockets/civetweb_websocket_server/src/websocket_server_handlers.c
  samples/net/sockets/civetweb_websocket_server/web_page/index.css
  samples/net/sockets/civetweb_websocket_server/web_page/index.html
  samples/net/sockets/civetweb_websocket_server/web_page/ws.js
Labels: area: Documentation, area: Modules, area: Networking, area: Samples

#29717 sanitycheck: handle overflow skips
  scripts/sanity_chk/sanitylib.py
Labels: area: Sanitycheck

#29335 tests: kernel: work_queue_api: relax test to eliminate racy checks
  tests/kernel/workq/work_queue_api/src/main.c
Labels: area: Kernel, area: Tests

#29719 west.yml: Pull in build fix for NXP IAP flash driver from HAL
  west.yml
Labels: area: Flash, area: Modules, platform: NXP

#29670 boards: mec: mec15xxevb, mec1501modular: Update documentation
  boards/arm/mec1501modular_assy6885/doc/index.rst
  boards/arm/mec15xxevb_assy6853/doc/index.rst
Labels: area: Boards, area: Documentation

#29294 drivers: pwm: stm32: fix timer clock calculation
  drivers/pwm/Kconfig.stm32
  drivers/pwm/pwm_stm32.c
Labels: area: PWM, bug, platform: STM32

#29428 Tests: Minor change in descriptions and group name of SMP test cases
  tests/kernel/smp/src/main.c
Labels: area: Kernel, area: Tests

#29556 drivers: ethernet: Rework mcux driver to use DT_INST_FOREACH
  drivers/ethernet/eth_mcux.c
  dts/arm/nxp/nxp_k6x.dtsi
Labels: area: Devicetree, area: Networking, platform: NXP

#29606 review: rb: develop comments and add some details
  tests/benchmarks/data_structure_perf/rbtree_perf/src/rbtree_perf.c
Labels: area: Tests

#29613 fs: Make fs API callback runt-time check optional
  subsys/fs/fs.c
Labels: area: File System

#29739 Bluetooth: Mesh: Account for ASZMIC in encrypt
  subsys/bluetooth/mesh/transport.c
Labels: area: Bluetooth, area: Bluetooth Mesh, bug

#29575 net: lwm2m: Fix PULL FW update in case of URI parse errors
  subsys/net/lib/lwm2m/lwm2m_obj_firmware_pull.c
Labels: area: Networking

#29641 net: lwm2m: Send Registration Update on lifetime change
  subsys/net/lib/lwm2m/lwm2m_engine.c
  subsys/net/lib/lwm2m/lwm2m_obj_server.c
  subsys/net/lib/lwm2m/lwm2m_rd_client.c
  subsys/net/lib/lwm2m/lwm2m_rd_client.h
  subsys/net/lib/lwm2m/lwm2m_rw_oma_tlv.c
Labels: area: Networking

#29743 drivers: wifi: esp: close stream socket on allocation failure
  drivers/wifi/esp/esp.c
  drivers/wifi/esp/esp.h
  drivers/wifi/esp/esp_offload.c
  drivers/wifi/esp/esp_socket.c
Labels: area: Networking

#29757 drivers: wifi: rename WiFi kconfig prompt
  drivers/wifi/Kconfig
Labels: area: Networking

#29756 net: ping: add warning if ping is not supported
  subsys/net/ip/net_shell.c
Labels: area: Networking

#29748 net: tls: fix tls_context leak in ztls_socket() error path
  subsys/net/lib/sockets/sockets_tls.c
Labels: area: Networking, bug

#29763 mgmt/osdp: Fix build issue
  subsys/mgmt/osdp/src/osdp_cp.c
Labels: Hotfix, Trivial

#29525 samples: net: cloud: Introduce TagoIO IoT Cloud HTTP post client
  CODEOWNERS
  samples/net/cloud/tagoio_http_post/CMakeLists.txt
  samples/net/cloud/tagoio_http_post/Kconfig
  samples/net/cloud/tagoio_http_post/README.rst
  samples/net/cloud/tagoio_http_post/boards/sam4e_xpro.conf
  samples/net/cloud/tagoio_http_post/img/TagoIO-mobile.jpeg
  samples/net/cloud/tagoio_http_post/img/TagoIO-pc.jpeg
  samples/net/cloud/tagoio_http_post/overlay-modem.conf
  samples/net/cloud/tagoio_http_post/overlay-wifi.conf
  samples/net/cloud/tagoio_http_post/prj.conf
  samples/net/cloud/tagoio_http_post/sample.yaml
  samples/net/cloud/tagoio_http_post/src/main.c
  samples/net/cloud/tagoio_http_post/src/pinmux.c
  samples/net/cloud/tagoio_http_post/src/sockets.c
  samples/net/cloud/tagoio_http_post/src/sockets.h
  samples/net/cloud/tagoio_http_post/src/wifi.c
  samples/net/cloud/tagoio_http_post/src/wifi.h
  scripts/ci/check_compliance.py
Labels: area: Documentation, area: Networking, area: Samples

#29469 net: tcp2: Avoid deadlock when closing the connection
  subsys/net/ip/tcp2.c
Labels: area: Networking

#29617 net: tcp2: Update seq when peer closes connection
  subsys/net/ip/tcp2.c
Labels: area: Networking

#29661 shell: fix declarations for external device arrays
  subsys/shell/modules/device_service.c
Labels: Trivial, area: Shell

#29725 boards: nucleo_g4*: Remove USB support
  boards/arm/nucleo_g431rb/CMakeLists.txt
  boards/arm/nucleo_g431rb/doc/index.rst
  boards/arm/nucleo_g431rb/nucleo_g431rb.dts
  boards/arm/nucleo_g431rb/pinmux.c
  boards/arm/nucleo_g474re/CMakeLists.txt
  boards/arm/nucleo_g474re/doc/index.rst
  boards/arm/nucleo_g474re/nucleo_g474re.dts
  boards/arm/nucleo_g474re/pinmux.c
Labels: area: Boards, area: Devicetree, area: Documentation, platform: STM32

#29781 kernel: return error instead of misaligned k_thread object
  kernel/userspace.c
Labels: area: Kernel

#29582 fs: Document fs_open and fs_seek flags
  include/fs/fs.h
Labels: Trivial, area: API, area: Documentation, area: File System

#29768 net: tls: use Maximum Fragment Length (MFL) extension by default
  subsys/net/lib/sockets/Kconfig
  subsys/net/lib/sockets/sockets_tls.c
Labels: area: Networking

#29663 boards: nucleo_h743zi: enable ethernet support
  boards/arm/nucleo_h743zi/Kconfig.defconfig
  boards/arm/nucleo_h743zi/doc/index.rst
  boards/arm/nucleo_h743zi/nucleo_h743zi.dts
  boards/arm/nucleo_h743zi/nucleo_h743zi.yaml
Labels: area: Boards, area: Devicetree, area: Documentation, platform: STM32

#29517 manifest: sync mbedtls alpn extension
  west.yml
Labels: area: Modules

#29678 nucleo_h745zi_q update documentation
  boards/arm/nucleo_h745zi_q/doc/index.rst
Labels: area: Boards, area: Documentation, platform: STM32

#29827 Bluetooth: controller: Silence unused variable warning with non-AE
  subsys/bluetooth/controller/ll_sw/nordic/lll/lll_adv.c
Labels: Hotfix, area: Bluetooth, bug

#29624 test: atomic operation : add test case
  tests/kernel/common/src/atomic.c
Labels: area: Kernel, area: Tests

#29828 drivers: ethernet: stm32: Add missing net_if_set_link_addr() call
  drivers/ethernet/eth_stm32_hal.c
Labels: area: Networking, platform: STM32

#29622 uart: native_posix: Add support for pts readiness
  drivers/serial/Kconfig.native_posix
  drivers/serial/uart_native_posix.c
Labels: area: native port

#29752 net: lwm2m: Add a callback to notify socket errors to engine users
  include/net/lwm2m.h
  subsys/net/lib/lwm2m/lwm2m_engine.c
  subsys/net/lib/lwm2m/lwm2m_obj_firmware_pull.c
  subsys/net/lib/lwm2m/lwm2m_rd_client.c
  subsys/net/lib/lwm2m/lwm2m_rd_client.h
Labels: area: API, area: Networking

#29741 net: lwm2m: Add registration error notification
  include/net/lwm2m.h
  samples/net/lwm2m_client/src/lwm2m-client.c
  subsys/net/lib/lwm2m/Kconfig
  subsys/net/lib/lwm2m/lwm2m_rd_client.c
Labels: area: API, area: Networking, area: Samples

#29797 west.yml: Pull in build fix for NXP USB driver
  west.yml
Labels: area: Modules

#29817 drivers: remove unnecessary use of DEVICE_AND_API_INIT
  drivers/display/display_st7789v.c
  drivers/entropy/entropy_cc13xx_cc26xx.c
  drivers/gpio/gpio_dw.c
  drivers/i2c/i2c_cc13xx_cc26xx.c
  drivers/sensor/apds9960/apds9960.c
  drivers/sensor/vcnl4040/vcnl4040.c
  drivers/serial/uart_cc13xx_cc26xx.c
  drivers/spi/spi_cc13xx_cc26xx.c
Labels: area: I2C, area: SPI

#29388 west.yml: Snapshot update of mcumgr from upstream
  west.yml
Labels: area: Modules, area: West, area: mcumgr

#29786 net: tcp2: Fix sending to 6lo based networks
  subsys/net/ip/tcp2.c
Labels: area: Networking

#29839 Test: add doxygen comment for test_pipe_thread2thread().
  tests/kernel/pipe/pipe_api/src/test_pipe_contexts.c
Labels: area: Kernel, area: Tests

#29766 logging: fix cmd_log_self_disable argc checker
  subsys/logging/log_cmds.c
Labels: area: Logging

#29598 drivers: ieee802154: cc13xx_cc26xx: sub-ghz support
  drivers/ieee802154/CMakeLists.txt
  drivers/ieee802154/Kconfig.cc13xx_cc26xx
  drivers/ieee802154/ieee802154_cc13xx_cc26xx.c
  drivers/ieee802154/ieee802154_cc13xx_cc26xx_subg.c
  drivers/ieee802154/ieee802154_cc13xx_cc26xx_subg.h
  include/net/ieee802154_radio.h
  samples/net/sockets/echo_client/overlay-802154-subg.conf
  samples/net/sockets/echo_server/overlay-802154-subg.conf
  soc/arm/ti_simplelink/cc13x2_cc26x2/Kconfig.defconfig.series
  soc/arm/ti_simplelink/cc13x2_cc26x2/power.c
Labels: area: API, area: Networking, area: Samples

#29666 Bluetooth: L2CAP: Enable L2CAP dynamic channels without Enhanced CBFC
  subsys/bluetooth/host/Kconfig.gatt
  subsys/bluetooth/host/Kconfig.l2cap
  subsys/bluetooth/host/audio/Kconfig
  subsys/bluetooth/host/l2cap.c
  tests/bluetooth/shell/prj.conf
Labels: Bluetooth Qualification, area: Bluetooth, area: Tests

#29747 Net docker test script fixes
  scripts/net/run-sample-tests.sh
Labels: area: Networking

#29887 boards: arm: nrf: remove note about board name change
  boards/arm/nrf51dk_nrf51422/doc/index.rst
  boards/arm/nrf51dongle_nrf51422/doc/index.rst
  boards/arm/nrf52833dk_nrf52833/doc/index.rst
  boards/arm/nrf52840dk_nrf52811/doc/index.rst
  boards/arm/nrf52840dk_nrf52840/doc/index.rst
  boards/arm/nrf52840dongle_nrf52840/doc/index.rst
  boards/arm/nrf52dk_nrf52810/doc/index.rst
  boards/arm/nrf52dk_nrf52832/doc/index.rst
  boards/arm/nrf9160dk_nrf52840/doc/index.rst
  boards/arm/nrf9160dk_nrf9160/doc/index.rst
  boards/arm/thingy52_nrf52832/doc/index.rst
Labels: Trivial, area: Boards, area: Documentation, platform: nRF

#29886 boards: arm: mark nRF5340 PDK as deprecated.
  boards/arm/nrf5340dk_nrf5340/Kconfig.defconfig
  boards/arm/nrf5340dk_nrf5340/doc/index.rst
  doc/releases/release-notes-2.5.rst
Labels: Trivial, area: Boards, area: Documentation, platform: nRF

#29638 boards: shields: ssd1306_128x64_spi: fix GPIO usage
  boards/shields/ssd1306/ssd1306_128x64_spi.overlay
Labels: area: Boards, area: Display, area: Shields

#29901 wets.yml LVGL ref update to fix warning in lv_font_fmt_txt.c
  west.yml
Labels: area: Display, area: Modules, bug

#28748 arch: arc: add support of ARConnect inter-core debug unit
  arch/arc/core/arc_smp.c
  include/arch/arc/v2/arc_connect.h
Labels: area: API, area: ARC, area: SMP

#29836 samples: add capture output for the mec15xxevb_assy6853 pm sample
  samples/boards/mec15xxevb_assy6853/power_management/sample.yaml
Labels: area: Samples

#29439 net: lwm2m: Add path generation macro
  include/net/lwm2m.h
  include/net/lwm2m_path.h
Labels: area: API, area: Networking

#29922 doc: fix reference/util after sys/util.h split
  include/sys/util_macro.h
Labels: Hotfix, area: API

#29824 Revert "shields: Modify overlay file order"
  cmake/app/boilerplate.cmake
Labels: area: Build System

#29928 ARC: nSIM: DTS: switch UART clock-frequency to 50MHz to satisfy HAPS requirements
  boards/arc/nsim/nsim.dtsi
Labels: Trivial, area: ARC, area: Boards, area: Devicetree

#29861 samples: canbus: canopen: add configuration for devices with no storage
  samples/subsys/canbus/canopen/prj_no_storage.conf
  samples/subsys/canbus/canopen/sample.yaml
  samples/subsys/canbus/canopen/src/main.c
Labels: area: CAN, area: Samples

#29807 test: workqueue: add code description
  tests/kernel/workq/work_queue_api/src/main.c
Labels: area: Kernel, area: Tests

#29904 cmake: fix xcc not supporting -Wno-unsed-but-set-variable
  cmake/compiler/gcc/compiler_flags.cmake
Labels: area: Build System

#29361 drivers/sensor: iis2iclx: add multi-instance
  drivers/sensor/iis2iclx/Kconfig
  drivers/sensor/iis2iclx/iis2iclx.c
  drivers/sensor/iis2iclx/iis2iclx.h
  drivers/sensor/iis2iclx/iis2iclx_i2c.c
  drivers/sensor/iis2iclx/iis2iclx_shub.c
  drivers/sensor/iis2iclx/iis2iclx_spi.c
  drivers/sensor/iis2iclx/iis2iclx_trigger.c
  drivers/sensor/lsm6dsl/lsm6dsl_spi.c
  dts/bindings/sensor/st,iis2iclx-i2c.yaml
  dts/bindings/sensor/st,iis2iclx-spi.yaml
  tests/drivers/build_all/i2c.dtsi
  tests/drivers/build_all/spi.dtsi
Labels: Enhancement, area: Devicetree, area: Devicetree Binding, area: Drivers, area: Sensors, area: Tests

#29505 pm: Add power management states definition
  include/power/power.h
  include/power/power_state.h
Labels: area: API

#29659 ARC kconfig change to use CONFIG_INIT_ARCH_HW_AT_BOOT
  arch/arc/Kconfig
  arch/arc/core/reset.S
  boards/arc/em_starterkit/em_starterkit_em7d_defconfig
Labels: area: ARC, area: Boards

#29672 dts: nordic: add CC count to RTC and TIMER nodes
  dts/arm/nordic/nrf51822.dtsi
  dts/arm/nordic/nrf52805.dtsi
  dts/arm/nordic/nrf52810.dtsi
  dts/arm/nordic/nrf52811.dtsi
  dts/arm/nordic/nrf52820.dtsi
  dts/arm/nordic/nrf52832.dtsi
  dts/arm/nordic/nrf52833.dtsi
  dts/arm/nordic/nrf52840.dtsi
  dts/arm/nordic/nrf5340_cpuapp_peripherals.dtsi
  dts/arm/nordic/nrf5340_cpunet.dtsi
  dts/arm/nordic/nrf9160_common.dtsi
  dts/bindings/rtc/nordic,nrf-rtc.yaml
  dts/bindings/timer/nordic,nrf-timer.yaml
Labels: area: Devicetree, area: Devicetree Binding

#29856 Bluetooth: Mesh: Check TTL max value on transport TX
  subsys/bluetooth/mesh/net.c
  subsys/bluetooth/mesh/transport.c
Labels: area: Bluetooth, area: Bluetooth Mesh, bug

#29870 Bluetooth: Mesh: Fix DST field check when send
  subsys/bluetooth/mesh/transport.c
Labels: area: Bluetooth, area: Bluetooth Mesh

#29882 Bluetooth: controller: Fix build without BT_CENTRAL
  subsys/bluetooth/controller/ll_sw/nordic/lll/lll_sched.h
  subsys/bluetooth/controller/ll_sw/ull_sched.c
Labels: area: Bluetooth

#29888 Bluetooth: host: Fix endianness in conn. handle
  subsys/bluetooth/host/hci_core.c
Labels: area: Bluetooth

#29889 bluetooth: controller: don't assert in request for deferred addres resolve when rl is disabled
  subsys/bluetooth/controller/ll_sw/ull_filter.c
Labels: area: Bluetooth

#29940 nrf52_bsim: Fix cmsis irq locking logical bug
  boards/posix/nrf52_bsim/cmsis.c
Labels: Trivial, area: Boards, bug

#29906 arc: enable thread local storage
  arch/Kconfig
  arch/arc/CMakeLists.txt
  arch/arc/core/CMakeLists.txt
  arch/arc/core/thread.c
  arch/arc/core/tls.c
  include/arch/arc/v2/linker.ld
Labels: area: API, area: ARC

#29348 arch: arm64: mmu: Restore SRAM region
  arch/arm/core/aarch64/mmu/arm_mmu.c
Labels: area: ARM, area: ARM_64

#27733 tests: subsys: test cases for soc power management
  tests/subsys/power/power_mgmt_soc/CMakeLists.txt
  tests/subsys/power/power_mgmt_soc/Kconfig
  tests/subsys/power/power_mgmt_soc/prj.conf
  tests/subsys/power/power_mgmt_soc/src/main.c
  tests/subsys/power/power_mgmt_soc/src/power_mgmt.c
  tests/subsys/power/power_mgmt_soc/src/power_mgmt.h
  tests/subsys/power/power_mgmt_soc/testcase.yaml
Labels: area: Devicetree, area: Documentation, area: Tests

#29885 drivers: ieee802154: cc13xx_cc26xx: use multi-protocol radio patch
  drivers/ieee802154/ieee802154_cc13xx_cc26xx.c
  west.yml
Labels: area: Modules, area: Networking

#28477 kernel: kconfig: changing recommendations for SYS_CLOCK_TICKS_PER_SEC
  kernel/Kconfig
Labels: area: API, area: Kernel

#29687 drivers: wifi: Add DHCP/Static IP Support for ESP wifi driver
  drivers/wifi/esp/Kconfig.esp
  drivers/wifi/esp/esp.c
  drivers/wifi/esp/esp.h
Labels: area: Networking

#29942 net: shell: Added missing check for eth iface in "net iface" cmd
  subsys/net/ip/net_shell.c
Labels: area: Networking

#29929 soc: nrf53: Add enabling of LFXO pins (XL1 and XL2)
  drivers/clock_control/clock_control_nrf.c
  soc/arm/nordic_nrf/nrf53/Kconfig.soc
  soc/arm/nordic_nrf/nrf53/soc.c
Labels: area: Clock Control, bug, platform: nRF

#29890 drivers: flash: stm32f4: Don't invert an already inverted mask
  drivers/flash/flash_stm32f4x.c
Labels: area: Flash, platform: STM32

#29823 usb: drivers: Clear STALL when enabling Endpoint
  drivers/usb/device/usb_dc_nrfx.c
Labels: area: USB, bug, platform: nRF

#29814 tests: k_heap api: add tests for k_heap_api
  tests/kernel/mem_heap/k_heap_api/CMakeLists.txt
  tests/kernel/mem_heap/k_heap_api/prj.conf
  tests/kernel/mem_heap/k_heap_api/src/main.c
  tests/kernel/mem_heap/k_heap_api/src/test_kheap.h
  tests/kernel/mem_heap/k_heap_api/src/test_kheap_api.c
  tests/kernel/mem_heap/k_heap_api/testcase.yaml
Labels: area: Kernel, area: Tests

#29972 kconfig: userspace: Select THREAD_STACK_INFO
  arch/Kconfig
Labels: area: Kernel

#29980 Bluetooth: controller: Fix build error
  subsys/bluetooth/controller/ll_sw/nordic/lll/lll_scan.c
Labels: Hotfix, Trivial, area: Bluetooth

#29976 boards: nrf5340dk_nrf5340: Fix arguments for jlink runners
  boards/arm/nrf5340dk_nrf5340/board.cmake
Labels: area: Boards, platform: nRF

#28988 kconfig: add config for cpuapp domain board
  boards/arm/nrf5340dk_nrf5340/Kconfig
Labels: area: Boards, platform: nRF

#29983 shell: kernel: fix interrupt stack size calculation on SMP
  subsys/shell/modules/kernel_service.c
Labels: area: Shell

#29571 cmake: ensure shields can be placed in other BOARD_ROOTs
  Kconfig.zephyr
  boards/Kconfig
  cmake/kconfig.cmake
  scripts/ci/check_compliance.py
Labels: area: Boards, area: Build System, area: Kconfig, bug

#29269 i2c-mcux: lock bus during transfer
  drivers/i2c/i2c_mcux.c
Labels: area: I2C, platform: NXP

#30002 doc: fix Kconfig.shield sourcing build issue
  doc/CMakeLists.txt
Labels: Hotfix

#29970 Kconfig.tfm: Improvements and fixes
  modules/Kconfig.tfm
  samples/tfm_integration/psa_level_1/prj.conf
  samples/tfm_integration/tfm_ipc/prj.conf
Labels: area: Modules, area: Samples, area: Trusted Execution

#29998 Bluetooth: mesh: Fix use of deprecated scan parameter filter_dup
  subsys/bluetooth/mesh/adv.c
Labels: area: Bluetooth, area: Bluetooth Mesh

#29985 devicetree: make DT_PROP_HAS_IDX expand to 0 or 1
  include/devicetree.h
  scripts/dts/gen_defines.py
  tests/lib/devicetree/api/src/main.c
Labels: area: API, area: Devicetree, area: Devicetree Tooling, area: Tests

#30039 west.yml: tfm: add BUILD_PROFILE
  west.yml
Labels: area: Modules

#29857 net: tcp2: Remove unnecessary data length calculation
  subsys/net/ip/tcp2.c
Labels: area: Networking

#29864 lwm2m: handle return code from lwm2m_socket_add
  subsys/net/lib/lwm2m/lwm2m_engine.c
Labels: area: Networking

#29835 net: tcp2: Only accept a valid RST packet
  subsys/net/ip/tcp2.c
Labels: area: Networking

#28993 Bluetooth: host: Periodic Advertising Sync Transfer
  include/bluetooth/bluetooth.h
  include/bluetooth/hci.h
  subsys/bluetooth/host/hci_core.c
  subsys/bluetooth/shell/bt.c
Labels: Experimental, area: API, area: Bluetooth

#30040 doc: Add SPARC to the list of supported archs
  doc/getting_started/installation_linux.rst
  doc/introduction/index.rst
Labels: area: Documentation

#30038 net: tcp2: Use proper int type for connection MSS
  subsys/net/ip/tcp2_priv.h
Labels: area: Networking

#29127 Bluetooth: host: Periodic advertiser list support
  include/bluetooth/bluetooth.h
  subsys/bluetooth/host/hci_core.c
Labels: Experimental, area: API, area: Bluetooth

#30047 drivers: modem: gsm: Fix DEVICE_DEFINE() data ptr
  drivers/modem/gsm_ppp.c
Labels: Trivial, area: Modem

#30049 west.yml: Update TFM module SHA
  west.yml
Labels: area: Modules

#30069 net: hostname: fix logging hostname string
  subsys/net/hostname.c
Labels: area: Networking

#29899 samples: ieee802154: New serialization sample
  modules/Kconfig.nordic
  samples/boards/nrf/ieee802154/802154_rpmsg/CMakeLists.txt
  samples/boards/nrf/ieee802154/802154_rpmsg/README.rst
  samples/boards/nrf/ieee802154/802154_rpmsg/prj.conf
  samples/boards/nrf/ieee802154/802154_rpmsg/sample.yaml
  samples/boards/nrf/ieee802154/802154_rpmsg/src/main.c
Labels: area: Documentation, area: Modules, area: Samples

#30044 Bluetooth: controller: Fix TX power dependencies
  soc/arm/nordic_nrf/Kconfig.peripherals
  soc/arm/nordic_nrf/nrf52/Kconfig.soc
  subsys/bluetooth/controller/Kconfig
Labels: area: Bluetooth

#30053 west.yml: Update hal_nordic revision
  west.yml
Labels: area: Modules

#30009 sanitycheck: test on integration platforms on top of default platforms
  scripts/sanity_chk/sanitylib.py
Labels: area: Sanitycheck

#29846 storage/stream: elimination of usage of the flash API internals
  subsys/storage/stream/stream_flash.c
Labels: area: Storage

#30082 include: drivers: add missing extern "C" in led.h and lora.h
  include/drivers/led.h
  include/drivers/lora.h
Labels: area: API

#29959 Bluetooth: controller: Fix regression in central event close
  subsys/bluetooth/controller/ll_sw/nordic/lll/lll_conn.c
Labels: area: Bluetooth, backport v2.4-branch

#30064 MAINTAINERS: cleanup inline comments
  MAINTAINERS.yml
Labels: Trivial

#29820 modules: mbedtls: introduce MBEDTLS_MEMORY_DEBUG option
  modules/Kconfig.mbedtls
  west.yml
Labels: area: Modules

#28717 logging: add STP transport and raw data output support for syst
  modules/Kconfig.syst
  subsys/logging/log_output_syst.c
  subsys/logging/mipi_syst/platform.h
Labels: area: Logging, area: Modules

#29787 doc/releases: update release note by latest MCUBoot changes
  doc/releases/release-notes-2.5.rst
Labels: Trivial, area: Documentation

#29984 samples: led_ws2812: force SPIM on nRF52-DK
  samples/drivers/led_ws2812/boards/nrf52dk_nrf52832.conf
  samples/drivers/led_ws2812/boards/nrf52dk_nrf52832.overlay
Labels: area: Samples, bug

#29365 usb: drivers: Fix Nordic driver ZLP handling.
  drivers/usb/device/Kconfig
  drivers/usb/device/usb_dc_nrfx.c
  subsys/usb/Kconfig
  subsys/usb/usb_device.c
Labels: area: USB, bug

#29894 bluetooth: controller: Add vendor operations to TICKER_USER_THREAD_OPS
  subsys/bluetooth/controller/ll_sw/ull.c
Labels: area: Bluetooth

#29939 Bluetooth: host: Document security changed and no security level change
  include/bluetooth/conn.h
Labels: area: API

#30001 doc/releases: USB DFU class upgrade record
  doc/releases/release-notes-2.5.rst
Labels: area: Documentation

#30035 Bluetooth: controller: Make WL size configurable
  subsys/bluetooth/controller/Kconfig
  subsys/bluetooth/controller/ll_sw/lll_filter.h
  subsys/bluetooth/controller/ll_sw/ull_filter.c
Labels: Enhancement, area: Bluetooth

#29821 libc: minimal: print stderr just like stdout
  lib/libc/minimal/source/stdout/stdout_console.c
Labels: area: C Library

#26402 [backport v2.3] Bluetooth: controller: Add explicit opcode check in unknown rsp PDU
  subsys/bluetooth/controller/ll_sw/ull_conn.c
Labels: area: Bluetooth

#29237 arch: arm64: mmu: Rework defines
  arch/arm/core/aarch64/mmu/arm_mmu.c
  arch/arm/core/aarch64/mmu/arm_mmu.h
Labels: area: ARM, area: ARM_64

#29563 tests: improve test case descriptions of some interrupt APIs
  tests/kernel/context/src/main.c
Labels: area: Kernel, area: Tests

#29565 test: context: Refine descriptions for some test cases
  tests/kernel/common/src/clock.c
  tests/kernel/context/src/main.c
Labels: area: Kernel, area: Tests

#29009 arm64: mmu: Fix SMEM_PARTITION_ALIGN define
  include/arch/arm/aarch64/scripts/linker.ld
Labels: area: API, area: ARM, area: ARM_64, area: Linker Scripts, bug

#30122 tests: coverage: GCOV counter value changed in GCC10.
  subsys/testsuite/coverage/coverage.h
Labels: Trivial, area: Test Framework

#29464 kernel: memslab: Add maximum mem_slab utilization trace
  doc/reference/kernel/memory/slabs.rst
  include/kernel.h
  kernel/Kconfig
  kernel/mem_slab.c
Labels: area: API, area: Documentation, area: Kernel

#30112 drivers: uart: Remove extra warn prints from native_posix
  drivers/serial/uart_native_posix.c
Labels: Trivial, area: UART, area: native port

#29030 [TOPIC-BLE-LLCP] bluetooth: controller: llcp: Terminate procedure
  subsys/bluetooth/controller/ll_sw/ull_llcp.c
  subsys/bluetooth/controller/ll_sw/ull_llcp.h
  subsys/bluetooth/controller/ll_sw/ull_llcp_common.c
  subsys/bluetooth/controller/ll_sw/ull_llcp_internal.h
  subsys/bluetooth/controller/ll_sw/ull_llcp_local.c
  subsys/bluetooth/controller/ll_sw/ull_llcp_pdu.c
  subsys/bluetooth/controller/ll_sw/ull_llcp_remote.c
  tests/bluetooth/controller/common/include/helper_pdu.h
  tests/bluetooth/controller/common/src/helper_pdu.c
  tests/bluetooth/controller/common/src/helper_util.c
  tests/bluetooth/controller/ctrl_terminate/CMakeLists.txt
  tests/bluetooth/controller/ctrl_terminate/src/main.c
  tests/bluetooth/controller/ctrl_terminate/testcase.yaml
Labels: area: Bluetooth, area: Tests

#30018 Bluetooth: Mesh: Correction of missing beacon auth generation
  subsys/bluetooth/mesh/beacon.c
Labels: area: Bluetooth, area: Bluetooth Mesh, bug, priority: medium

#30020 Bluetooth: Mesh: Fixes missing set virtual addr
  subsys/bluetooth/mesh/transport.c
Labels: area: Bluetooth, area: Bluetooth Mesh, bug, priority: medium

#30107 Bluetooth: shell: fix compilation
  subsys/bluetooth/shell/bt.c
Labels: area: Bluetooth

#28458 net: openthread: RCP mode
  doc/releases/release-notes-2.4.rst
  samples/net/openthread/coprocessor/CMakeLists.txt
  samples/net/openthread/coprocessor/Kconfig
  samples/net/openthread/coprocessor/README.rst
  samples/net/openthread/coprocessor/overlay-rcp.conf
  samples/net/openthread/coprocessor/overlay-tri-n4m-br.conf
  samples/net/openthread/coprocessor/overlay-usb-nrf-br.conf
  samples/net/openthread/coprocessor/prj.conf
  samples/net/openthread/coprocessor/sample.yaml
  samples/net/openthread/coprocessor/src/main.c
  samples/net/openthread/ncp/README.rst
  samples/net/openthread/ncp/prj.conf
  subsys/logging/Kconfig
  subsys/net/l2/openthread/Kconfig
  subsys/net/l2/openthread/openthread.c
  subsys/net/lib/openthread/platform/CMakeLists.txt
  subsys/net/lib/openthread/platform/platform.c
  subsys/net/lib/openthread/platform/radio.c
  subsys/net/lib/openthread/platform/uart.c
  west.yml
Labels: area: Boards, area: Devicetree, area: Documentation, area: Logging, area: Modules, area: Networking, area: Samples

#29320 spi: fix locking for SPI_LOCK_ON using synchronous API
  drivers/spi/spi_cc13xx_cc26xx.c
  drivers/spi/spi_context.h
  drivers/spi/spi_dw.c
  drivers/spi/spi_ll_stm32.c
  drivers/spi/spi_mcux_dspi.c
  drivers/spi/spi_mcux_flexcomm.c
  drivers/spi/spi_mcux_lpspi.c
  drivers/spi/spi_nrfx_spi.c
  drivers/spi/spi_nrfx_spim.c
  drivers/spi/spi_nrfx_spis.c
  drivers/spi/spi_oc_simple.c
  drivers/spi/spi_rv32m1_lpspi.c
  drivers/spi/spi_sam.c
  drivers/spi/spi_sam0.c
  drivers/spi/spi_sifive.c
  drivers/spi/spi_xec_qmspi.c
  drivers/spi/spi_xlnx_axi_quadspi.c
Labels: area: SPI, platform: NXP, platform: STM32

#29570 drivers/bluetooth: ipm_stm32: Wake up C2 at init
  drivers/bluetooth/hci/ipm_stm32wb.c
Labels: platform: STM32

#29938 samples: drivers: add platform filtering for led pwm
  samples/drivers/led_pwm/sample.yaml
Labels: area: Samples

#29973 Bluetooth: Controller: Add common ULL ticker stop with mark function
  subsys/bluetooth/controller/ll_sw/ull.c
  subsys/bluetooth/controller/ll_sw/ull_adv_aux.c
  subsys/bluetooth/controller/ll_sw/ull_adv_sync.c
  subsys/bluetooth/controller/ll_sw/ull_conn.c
  subsys/bluetooth/controller/ll_sw/ull_internal.h
  subsys/bluetooth/controller/ll_sw/ull_scan.c
  subsys/bluetooth/controller/ll_sw/ull_sync.c
Labels: area: Bluetooth

#30007 Bluetooth: controller: Properly guards calls to ull_adv_sync
  subsys/bluetooth/controller/ll_sw/ull_adv_internal.h
  subsys/bluetooth/controller/ll_sw/ull_adv_types.h
Labels: area: Bluetooth

#30025 lvgl: kscan: Only process prev state if it has been updated
  lib/gui/lvgl/lvgl.c
Labels: area: Display

#30092 cbprintf: small improvements to the unit test
  tests/unit/cbprintf/main.c
Labels: area: Tests

#30095 dts: binding-template: document conditions for use of default values
  dts/binding-template.yaml
Labels: area: Devicetree

#30128 Bluetooth: host: Fix different endian in comparison
  subsys/bluetooth/host/hci_ecc.c
Labels: area: Bluetooth

#30131 boards: nucleo_f429zi: Fix arduino header pin D4
  boards/arm/nucleo_f429zi/arduino_r3_connector.dtsi
Labels: area: Boards, area: Devicetree, platform: STM32
