Repository zephyrproject-rtos/zephyr, pull requests merged in 2020-02, with the labels that each got.

#22389 subsys/logging: Fix xtensa simcall assembly
  subsys/logging/log_backend_xtensa_sim.c
Labels: area: Logging

#21478 logging: Add source name to error message about missing log_strdup
  subsys/logging/log_core.c
Labels: area: Logging

#22240 shell: Fix SHELL_COND_CMD_ARG_REGISTER macro with NULL handler
  include/shell/shell.h
Labels: area: API, area: Shell, bug

#22336 include: gcc.h: Add a __WARN() macro with a custom warning on expansion
  include/toolchain/gcc.h
Labels: area: API, area: Toolchains

#22392 Bluetooth: host: Invalid role used in finding connections
  subsys/bluetooth/host/hci_core.c
Labels: area: Bluetooth, bug

#22380 [TOPIC-GPIO] drivers: gdew075t7: convert to new GPIO API
  boards/shields/waveshare_epaper/waveshare_epaper_gdew075t7.overlay
  drivers/display/gd7965.c
  dts/bindings/display/gooddisplay,gd7965.yaml
Labels: area: Boards, area: Device Tree, area: Samples

#22334 bluetooth: host: Add workaround for USB HCI controllers
  subsys/bluetooth/host/Kconfig
  subsys/bluetooth/host/smp.c
Labels: area: Bluetooth, enhancement

#22422 kconfig: Remove log backend options from MCUMGR configuration
  subsys/mgmt/Kconfig.mcumgr
Labels: area: mcumgr

#22413 settings: Reduction of settings_src_register function
  subsys/settings/src/settings_store.c
Labels: Trivial, area: Settings

#22451 doc: fix links to www.zephyrproject.org
  doc/404.rst
  doc/_templates/zversions.html
  doc/contribute/index.rst
  doc/getting_started/index.rst
  doc/getting_started/installation_linux.rst
  doc/guides/debugging/host-tools.rst
Labels: Hotfix, area: Documentation

#22269 soc: arm: nxp: ke1xf: add option for keeping watchdog enabled at boot
  soc/arm/nxp_kinetis/ke1xf/Kconfig.soc
  soc/arm/nxp_kinetis/ke1xf/soc.c
Labels: area: Watchdog, platform: NXP

#22453 Bluetooth: controller: Fix settings dependency
  subsys/bluetooth/controller/Kconfig
Labels: Trivial, area: Bluetooth, bug

#22308 board: nucleo_l152re: Limit sysfreq to 16MHz
  boards/arm/nucleo_l152re/doc/index.rst
  boards/arm/nucleo_l152re/nucleo_l152re_defconfig
Labels: area: Boards, platform: STM32

#21741 usb: audio: Switching to alternate interface
  subsys/usb/usb_device.c
Labels: area: USB, enhancement

#22361 riscv_machine_timer: optimize MTIME/MTIMECMP registers access in riscv64
  drivers/timer/riscv_machine_timer.c
Labels: area: Timer

#22458 Bluetooth: controller: Remove compiler specific warning
  subsys/bluetooth/controller/ll_sw/ull_conn.c
Labels: Trivial, area: Bluetooth

#21646 drivers: spi: nrfx: factorise spi_context_lock()
  drivers/spi/spi_nrfx_spi.c
  drivers/spi/spi_nrfx_spim.c
  drivers/spi/spi_nrfx_spis.c
Labels: area: SPI, platform: nRF

#22469 libc: fix build issue with posix fs APIs on xtensa
  lib/libc/newlib/libc-hooks.c
Labels: area: C Library

#22398 tests: drivers: adc: Add support to samv71 soc
  tests/drivers/adc/adc_api/boards/sam_v71_xult.conf
  tests/drivers/adc/adc_api/src/test_adc.c
Labels: area: Tests

#22397 drivers: usb: sam: Add support to samv71 soc
  drivers/usb/device/Kconfig
Labels: DNM, area: Drivers, area: USB

#22472 boards: arm: degu_evk: Fix default configuration
  boards/arm/degu_evk/Kconfig.defconfig
  boards/arm/degu_evk/degu_evk_defconfig
Labels: Hotfix, area: Boards

#22477 drivers: dma: stm32: Fix compiler warning
  drivers/dma/dma_stm32.c
Labels: Hotfix

#22479 Unbreak a few regressions in SMP/IPI
  kernel/sched.c
Labels: Hotfix, area: Kernel

#22399 add supported devices in SAMV71 board yaml file
  boards/arm/sam_v71_xult/sam_v71_xult.yaml
Labels: area: Boards, area: Device Tree, area: Modules

#22463 Bluetooth: Add HCI Error codes defined in BT 5.2 Spec.
  include/bluetooth/hci_err.h
Labels: area: API, area: Bluetooth

#22487 Bluetooth: host: Added new LE Feature Support bit masks
  include/bluetooth/hci.h
Labels: Trivial, area: API, area: Bluetooth

#22369 manifest: mcuboot upgrade
  west.yml
Labels: Hotfix, area: Modules

#22492 Bluetooth: tests: Add privacy configuration for test basic_conn_encrypt
  tests/bluetooth/bsim_bt/bsim_test_app/prj_split_privacy.conf
  tests/bluetooth/bsim_bt/bsim_test_app/tests_scripts/basic_conn_encrypted_split_privacy.sh
  tests/bluetooth/bsim_bt/compile.sh
Labels: Trivial, area: Bluetooth, area: Tests

#22448 samples: net: echo_client: handle net if mtu
  samples/net/sockets/echo_client/src/common.h
  samples/net/sockets/echo_client/src/echo-client.c
  samples/net/sockets/echo_client/src/udp.c
Labels: area: Networking, area: Samples

#22309 boards: stm32: Remove useless CONFIG_BOARD_FOO from _defconfig files
  boards/arm/96b_avenger96/96b_avenger96_defconfig
  boards/arm/96b_stm32_sensor_mez/96b_stm32_sensor_mez_defconfig
  boards/arm/nucleo_f030r8/nucleo_f030r8_defconfig
  boards/arm/nucleo_f070rb/nucleo_f070rb_defconfig
  boards/arm/nucleo_f091rc/nucleo_f091rc_defconfig
  boards/arm/nucleo_f103rb/nucleo_f103rb_defconfig
  boards/arm/nucleo_f207zg/nucleo_f207zg_defconfig
  boards/arm/nucleo_f334r8/nucleo_f334r8_defconfig
  boards/arm/nucleo_f401re/nucleo_f401re_defconfig
  boards/arm/nucleo_f411re/nucleo_f411re_defconfig
  boards/arm/nucleo_f412zg/nucleo_f412zg_defconfig
  boards/arm/nucleo_f413zh/nucleo_f413zh_defconfig
  boards/arm/nucleo_f446re/nucleo_f446re_defconfig
  boards/arm/nucleo_f746zg/nucleo_f746zg_defconfig
  boards/arm/nucleo_f756zg/nucleo_f756zg_defconfig
  boards/arm/nucleo_f767zi/nucleo_f767zi_defconfig
  boards/arm/nucleo_g071rb/nucleo_g071rb_defconfig
  boards/arm/nucleo_l053r8/nucleo_l053r8_defconfig
  boards/arm/nucleo_l073rz/nucleo_l073rz_defconfig
  boards/arm/nucleo_l4r5zi/nucleo_l4r5zi_defconfig
  boards/arm/olimex_stm32_e407/olimex_stm32_e407_defconfig
  boards/arm/olimex_stm32_h407/olimex_stm32_h407_defconfig
  boards/arm/olimex_stm32_p405/olimex_stm32_p405_defconfig
  boards/arm/olimexino_stm32/olimexino_stm32_defconfig
  boards/arm/sensortile_box/sensortile_box_defconfig
  boards/arm/steval_fcu001v1/steval_fcu001v1_defconfig
  boards/arm/stm3210c_eval/stm3210c_eval_defconfig
  boards/arm/stm32373c_eval/stm32373c_eval_defconfig
  boards/arm/stm32_min_dev/stm32_min_dev_black_defconfig
  boards/arm/stm32_min_dev/stm32_min_dev_blue_defconfig
  boards/arm/stm32f030_demo/stm32f030_demo_defconfig
  boards/arm/stm32f072_eval/stm32f072_eval_defconfig
  boards/arm/stm32f072b_disco/stm32f072b_disco_defconfig
  boards/arm/stm32f0_disco/stm32f0_disco_defconfig
  boards/arm/stm32f3_disco/stm32f3_disco_defconfig
  boards/arm/stm32f411e_disco/stm32f411e_disco_defconfig
  boards/arm/stm32f412g_disco/stm32f412g_disco_defconfig
  boards/arm/stm32f429i_disc1/stm32f429i_disc1_defconfig
  boards/arm/stm32f469i_disco/stm32f469i_disco_defconfig
  boards/arm/stm32f4_disco/stm32f4_disco_defconfig
  boards/arm/stm32f723e_disco/stm32f723e_disco_defconfig
  boards/arm/stm32f746g_disco/stm32f746g_disco_defconfig
  boards/arm/stm32f769i_disco/stm32f769i_disco_defconfig
  boards/arm/stm32g0316_disco/stm32g0316_disco_defconfig
  boards/arm/stm32h747i_disco/stm32h747i_disco_m4_defconfig
  boards/arm/stm32h747i_disco/stm32h747i_disco_m7_defconfig
  boards/arm/stm32l1_disco/stm32l1_disco_defconfig
  boards/arm/stm32l476g_disco/stm32l476g_disco_defconfig
  boards/arm/stm32l496g_disco/stm32l496g_disco_defconfig
  boards/arm/stm32mp157c_dk2/stm32mp157c_dk2_defconfig
  boards/arm/stm32vl_disco/stm32vl_disco_defconfig
Labels: area: Boards, platform: STM32

#22500 Bluetooth: samples: peripheral_dis: Sample requires BT_SETTINGS
  samples/bluetooth/peripheral_dis/prj.conf
  samples/bluetooth/peripheral_dis/src/main.c
Labels: area: Bluetooth, area: Samples

#22493 lib: os: onoff: documentation clarifications
  include/sys/onoff.h
Labels: area: API

#22508 libc: newlibc: Implement dummy _gettimeofday to link
  lib/libc/newlib/libc-hooks.c
Labels: Hotfix, area: C Library

#22496 soc: arm: stm32g4 disable sleep mode
  soc/arm/st_stm32/stm32g4/soc.c
Labels: platform: STM32

#22375 drivers/adc: stm32: Don't enable ADC instance by default in driver
  boards/arm/nucleo_f091rc/Kconfig.defconfig
  boards/arm/nucleo_f103rb/Kconfig.defconfig
  boards/arm/nucleo_f207zg/Kconfig.defconfig
  boards/arm/nucleo_f302r8/Kconfig.defconfig
  boards/arm/nucleo_f401re/Kconfig.defconfig
  boards/arm/nucleo_f746zg/Kconfig.defconfig
  boards/arm/nucleo_f767zi/Kconfig.defconfig
  boards/arm/nucleo_l073rz/Kconfig.defconfig
  boards/arm/nucleo_l476rg/Kconfig.defconfig
  drivers/adc/Kconfig.stm32
Labels: area: ADC, area: Boards, platform: STM32

#22367 dts: added cryptocell to the dts file for nRF9160
  dts/arm/nordic/nrf9160.dtsi
Labels: area: Device Tree

#22450 adc: common: handle gain of 128 in adc_gain_invert()
  drivers/adc/adc_common.c
Labels: area: ADC, bug

#22467 canbus: canopen: process RPDOs in real-time thread
  subsys/canbus/canopen/canopen_sync.c
Labels: area: CAN, bug

#22468 samples: canbus: canopen: reduce default timeout in main thread
  samples/subsys/canbus/canopen/src/main.c
Labels: area: CAN, area: Samples

#22256 drivers: modem: Add support for different line endings
  drivers/modem/modem_cmd_handler.c
  drivers/modem/modem_cmd_handler.h
  drivers/modem/ublox-sara-r4.c
Labels: area: Modem

#22248 drivers: i2c_slave: eeprom: fixes incorrect declaration
  drivers/i2c/slave/eeprom_slave.c
Labels: area: I2C

#22473 sockets: tls: set TLS_CREDENTIALS when using non-native stack
  subsys/net/lib/sockets/Kconfig
Labels: area: Networking

#22480 scripts/sanitycheck: be more fair with dividing subsets
  scripts/sanitycheck
Labels: area: Sanitycheck

#22490 doc/reference/runtime_conf: improve example snippets
  doc/reference/runtime_conf/settings/settings.rst
Labels: area: Documentation

#22516 Bluetooth: shell: Advertise when registering HRS service
  tests/bluetooth/shell/src/main.c
Labels: area: Bluetooth, area: Tests, enhancement

#22456 canopen: CO_driver: Fix Coverity issues (NULL deref, dead code)
  subsys/canbus/canopen/CO_driver.c
Labels: Coverity, area: CAN

#22512 samples: net: google_iot: Fix logging warnings
  samples/net/cloud/google_iot_mqtt/src/main.c
Labels: Hotfix, area: Networking, area: Samples, bug

#22499 net: lwm2m: implement utc_offset and timezone
  subsys/net/lib/lwm2m/lwm2m_obj_device.c
Labels: area: Networking

#22526 drivers: modem: Fix gpio compile errors with modem shell
  drivers/modem/modem_context.h
  drivers/modem/modem_pin.c
Labels: Hotfix, area: GPIO, area: Modem

#22530 checkpatch: suppress mailback option in conf file
  .checkpatch.conf
Labels: Trivial

#22531 doc: getting_started: Add missing native_posix dependencies
  doc/getting_started/index.rst
  doc/getting_started/installation_linux.rst
Labels: Trivial, area: Documentation, bug

#22515 boards: adafruit_trinket_m0: Remove tweak to flash address
  boards/arm/adafruit_trinket_m0/adafruit_trinket_m0.dts
Labels: area: Boards

#21537 scripts: gen_defines.py: Add out_dev() flag for deprecated macros
  scripts/dts/gen_defines.py
Labels: area: Device Tree Tooling

#22544 tests: Remove erroneous # before extern "C"
  tests/subsys/fs/fcb/src/fcb_test.h
  tests/subsys/settings/fcb/src/settings_test.h
  tests/subsys/settings/fs/include/settings_test_fs.h
  tests/subsys/settings/nvs/src/settings_test.h
Labels: Trivial, area: Tests

#22567 west.yml: hal_nxp: update to latest state of module
  west.yml
Labels: Hotfix, area: Modules

#22320 doc: security: Add hardening tool information
  doc/application/index.rst
  doc/security/hardening-tool.rst
  doc/security/index.rst
Labels: area: Documentation

#22564 scripts: west_commands: fix help text for flash
  scripts/west_commands/run_common.py
Labels: Trivial, area: Flashing

#22384 samples: Add MetaIRQ dispatch sample
  samples/index.rst
  samples/scheduler/index.rst
  samples/scheduler/metairq_dispatch/CMakeLists.txt
  samples/scheduler/metairq_dispatch/README.rst
  samples/scheduler/metairq_dispatch/prj.conf
  samples/scheduler/metairq_dispatch/sample.yaml
  samples/scheduler/metairq_dispatch/src/main.c
  samples/scheduler/metairq_dispatch/src/main.h
  samples/scheduler/metairq_dispatch/src/msgdev.c
Labels: area: Samples

#22548 native_posix: timer: Improve arch_busy_wait() doc
  drivers/timer/native_posix_timer.c
Labels: area: Timer, area: native port, enhancement

#22573 kconfig: modules: Remove redundant MBEDTLS dep on. TLS menu
  modules/Kconfig.tls-generic
Labels: Trivial

#22550 drivers: serial: stm32: Fix possible issue with mixed enum
  drivers/serial/uart_stm32.c
Labels: area: UART, bug, platform: STM32

#22552 Bluetooth: controller: split: Fix uninitialized advertiser rl_idx
  subsys/bluetooth/controller/ll_sw/ull_adv.c
  subsys/bluetooth/controller/ll_sw/ull_adv_types.h
Labels: area: Bluetooth, bug, priority: high

#22551 uart_stm32: Fix flow misspelling
  drivers/serial/uart_stm32.c
Labels: Trivial

#22024 west.yml: update hal_ti to include build for TI RF driver
  west.yml
Labels: area: Modules

#22576 Bluetooth: Mesh: Support reliable sending when publishing
  include/bluetooth/mesh/access.h
  subsys/bluetooth/mesh/access.c
Labels: area: API, area: Bluetooth, area: Bluetooth Mesh, enhancement

#22611 west.yml: update mbedtls to latest stable release
  west.yml
Labels: area: Modules

#22610 kconfig: arm: Remove 'if CPU_CORTEX_R' within 'if CPU_CORTEX_R'
  arch/arm/core/aarch32/cortex_r/Kconfig
Labels: area: ARM

#22585 samples: bluetooth: hci_uart: add VEGABoard configuration
  samples/bluetooth/hci_uart/CMakeLists.txt
  samples/bluetooth/hci_uart/rv32m1_vega_ri5cy.conf
Labels: area: Bluetooth, area: Samples

#22607 kconfig: Remove duplicated ARM_MPU dependency on CUSTOM_SECTION_ALIGN
  arch/arm/core/aarch32/cortex_m/mpu/Kconfig
Labels: area: ARM

#22587 Bluetooth: controller: split: openisa: fix missing include
  subsys/bluetooth/controller/ll_sw/openisa/lll/lll_adv.c
Labels: area: Bluetooth

#22460 samples: drivers: lora: build with newlib
  drivers/lora/Kconfig
  samples/drivers/lora/receive/prj.conf
  samples/drivers/lora/send/prj.conf
Labels: area: LoRa, area: Samples

#22615 sanitycheck: make pyserial optional
  scripts/sanitycheck
Labels: area: Sanitycheck

#22605 kconfig: Remove redundant SPI_DW dep on SPI_DW_ACCESS_WORD_ONLY
  drivers/spi/Kconfig.dw
Labels: Trivial, area: SPI

#22600 kconfig: Make BUILD_NO_GAP_FILL independent
  Kconfig.zephyr
Labels: Trivial, area: Build System, area: Kconfig, enhancement

#22537 manifest: mcuboot version with fixed USB recovery
  west.yml
Labels: area: MCUBoot, area: Modules

#22520 kernel: overhaul unused stack measurement
  arch/Kconfig
  arch/arc/Kconfig
  drivers/bluetooth/hci/h5.c
  include/debug/stack.h
  include/kernel.h
  kernel/thread.c
  lib/cmsis_rtos_v2/thread.c
  samples/bluetooth/hci_spi/src/main.c
  subsys/bluetooth/controller/hci/hci_driver.c
  subsys/bluetooth/host/hci_core.c
  subsys/bluetooth/host/hci_ecc.c
  subsys/bluetooth/host/rfcomm.c
  subsys/bluetooth/mesh/adv.c
  subsys/shell/modules/kernel_service.c
  tests/kernel/mem_protect/userspace/src/main.c
  tests/kernel/profiling/profiling_api/src/main.c
Labels: area: API, area: ARC, area: Bluetooth, area: Bluetooth Mesh, area: Kernel, area: Samples, area: Shell, area: Tests

#22412 settings: settings_register static table does not need mutex
  subsys/settings/src/settings.c
Labels: area: Settings

#22604 pthread: wrap header with extern C
  include/posix/pthread.h
Labels: area: API

#22586 samples: bluetooth: add missing VEGABoard overlays
  samples/bluetooth/ipsp/rv32m1_vega_ri5cy.overlay
  samples/bluetooth/mesh/rv32m1_vega_ri5cy.overlay
  samples/bluetooth/mesh_demo/rv32m1_vega_ri5cy.overlay
  samples/bluetooth/peripheral_hids/rv32m1_vega_ri5cy.overlay
  samples/bluetooth/peripheral_sc_only/rv32m1_vega_ri5cy.overlay
Labels: area: Bluetooth, area: Samples

#22582 drivers: spi: spi_mcux_dspi: fix missing context unlock on busy bus
  drivers/spi/spi_mcux_dspi.c
Labels: area: SPI

#22471 boards: qemu_cortex_r5: Reduce memory footprint when running
  boards/arm/qemu_cortex_r5/fdt-single_arch-zcu102-arm.dtb
Labels: area: Boards, platform: Xilinx

#22445 tests: lib: os: onoff: address Coverity complaint
  tests/lib/onoff/src/main.c
Labels: Coverity, area: Tests

#22570 x86: organize 64-bit ESF
  arch/x86/core/intel64/locore.S
  include/arch/x86/intel64/arch.h
Labels: area: API, area: X86

#22310 cmake: Have gperf be opt-out instead of mandatory
  CMakeLists.txt
  cmake/host-tools.cmake
Labels: area: Build System

#22628 github: Rename GitHub workflow action
  .github/workflows/doc-build.yml
Labels: Trivial, bug

#22629 sam0: flash: Fix build issue reported by flash_shell sample
  soc/arm/atmel_sam0/samd51/dts_fixup.h
  soc/arm/atmel_sam0/same51/dts_fixup.h
  soc/arm/atmel_sam0/same53/dts_fixup.h
  soc/arm/atmel_sam0/same54/dts_fixup.h
Labels: bug

#22547 Bluetooth: controller: split: Fix PHY update tx pause
  subsys/bluetooth/controller/ll_sw/ull_conn.c
Labels: area: Bluetooth, bug, priority: high

#22597 Misc GSM modem fixes
  drivers/modem/Kconfig.gsm
  drivers/modem/gsm_ppp.c
Labels: area: Modem

#22579 net: socket: Release fd on failure in accept()
  subsys/net/lib/sockets/sockets.c
Labels: area: Networking

#22676 boards: up_squared_adsp: fix mis-used logical operator
  boards/xtensa/up_squared_adsp/bootloader/boot_loader.c
Labels: area: Boards

#22683 board: qemu_cortex_a53: Enable default testing
  boards/arm/qemu_cortex_a53/qemu_cortex_a53.yaml
Labels: Trivial, area: ARM, area: Boards

#22690 drivers: modem: gsm: Command handlers should return value
  drivers/modem/gsm_ppp.c
Labels: area: Modem

#22692 drivers: modem: sara-r4: fix APN setting for U2 modem
  drivers/modem/ublox-sara-r4.c
Labels: area: Modem, bug

#22678 arch: arm: aarch64: linker.ld: Remove redundant text section offset
  include/arch/arm/aarch64/scripts/linker.ld
Labels: Trivial, area: API, area: ARM, area: Linker Scripts, bug

#22558 Bluetooth: L2CAP: Fix not queueing in case there are no credits
  subsys/bluetooth/host/l2cap.c
Labels: area: Bluetooth

#22694 net: config: init: fix NET_NATIVE=n behavior
  subsys/net/lib/config/init.c
Labels: area: Networking, bug

#22688 cmake: west version must be 0.7.1
  cmake/host-tools.cmake
Labels: area: Build System

#22717 bluetooth: host: fix RPMsg driver headeroom configuration
  subsys/bluetooth/host/Kconfig
Labels: area: Bluetooth

#22696 sample: net: gsm_modem: Add sample.yaml file
  samples/net/gsm_modem/sample.yaml
Labels: area: Networking, area: Samples

#22213 kconfig: Clarify Kconfig.defconfig explanation in Kconfig.zephyr
  Kconfig.zephyr
Labels: area: Kconfig

#22377 boards: pca10056: remove conflicting spi2 node
  boards/arm/nrf52840_pca10056/Kconfig.defconfig
  boards/arm/nrf52840_pca10056/nrf52840_pca10056.dts
Labels: area: Boards, bug, platform: nRF, priority: medium

#22633 doc: Add reference in toplevel README.rst to install_py_requirements
  doc/README.rst
  doc/getting_started/index.rst
Labels: area: Documentation

#22681 cmake: Fix zephyr-sdk's with a single toolchain
  cmake/toolchain/zephyr/0.11/generic.cmake
Labels: area: Build System, bug

#22686 samples: canbus: canopen: fix python package install instructions
  samples/subsys/canbus/canopen/README.rst
Labels: Trivial, area: Documentation, area: Samples, bug

#22699 posix: fix unistd.h extern C brace mismatch
  include/posix/unistd.h
Labels: area: API

#22719 samples: fade_led: Fix definition of PWM_FLAGS
  samples/basic/fade_led/src/main.c
Labels: Trivial, area: Samples, bug

#22483 Fixes #22482 - c++ compile error using LOG_BACKEND_DEFINE
  include/logging/log_backend.h
Labels: area: API, bug

#22715 debug: stack: Add missing log_strdup
  include/debug/stack.h
Labels: area: API, bug

#22726 Bluetooth: host: Rename scan recv callback info struct
  include/bluetooth/bluetooth.h
  subsys/bluetooth/host/hci_core.c
Labels: area: API, area: Bluetooth

#22659 tests: drivers: gpio_basic_api: fix deprecated API level test
  tests/drivers/gpio/gpio_basic_api/src/test_deprecated.c
Labels: area: GPIO, area: Tests

#22639 tests: drivers: gpio_basic_api: add README
  tests/drivers/gpio/gpio_basic_api/README.txt
Labels: area: GPIO, area: Tests

#22665 doc: release-notes-2.2: Update GPIO API section
  doc/releases/release-notes-2.2.rst
Labels: area: Documentation

#22608 arch: arc: fix the bug of irq_offload
  arch/arc/core/fault_s.S
  arch/arc/core/irq_offload.c
Labels: area: ARC

#22737 tests: counter: Extend counter_basic_api timeout
  tests/drivers/counter/counter_basic_api/testcase.yaml
Labels: area: Counter, area: Tests, bug

#22749 Bluetooth: controller: split: fix HCI read_max_data_len
  subsys/bluetooth/controller/hci/hci.c
Labels: Trivial, area: Bluetooth, bug

#22504 usb: avoid unnecessary error messages when switching to alternate iface
  drivers/usb/device/usb_dc_kinetis.c
  drivers/usb/device/usb_dc_mcux_ehci.c
  drivers/usb/device/usb_dc_sam0.c
  subsys/usb/usb_device.c
Labels: Regression, area: USB, priority: low

#22706 west.yml: hal_ti: fix SemaphoreP_create/construct to initialize count
  west.yml
Labels: area: Modules, bug

#22673 arch: arm: aarch64: linker.ld: Fix ROM section names
  include/arch/arm/aarch64/scripts/linker.ld
Labels: area: API, area: ARM, area: Linker Scripts, bug

#22743 net: stats: Add RX time statistics for packet sockets
  subsys/net/lib/sockets/sockets_packet.c
Labels: area: Networking, bug

#22754 tests: gpio_basic_api: fix filter to exclude boards without overlay
  tests/drivers/gpio/gpio_basic_api/testcase.yaml
Labels: area: GPIO, area: Tests

#22580 Releasenotes for CAN bus and LoRa
  doc/releases/release-notes-2.2.rst
Labels: Release Notes, area: CAN, area: Documentation

#22744 net: ppp: ipcp: Remove dead code
  subsys/net/l2/ppp/ipcp.c
Labels: area: Networking

#22760 dts: Move IPM bindings to the right place
  dts/bindings/ipm/nxp,lpc-mailbox.yaml
Labels: area: Device Tree, area: Device Tree Binding

#22752 drivers: interrupt_controller: stm32: Missing break statement
  drivers/interrupt_controller/intc_exti_stm32.c
Labels: Coverity, bug, platform: STM32

#22606 kconfig: rv32m1: Remove redundant ENTROPY_GENERATOR dependency
  drivers/entropy/Kconfig.rv32m1
Labels: TSC

#22631 scripts/requirements: Remove unused packages
  scripts/requirements.txt
Labels: TSC

#22714 dts: Replace deprecated DT_OPENISA_RV32M1_* macros with DT_ALIAS_*
  drivers/clock_control/clock_control_rv32m1_pcc.c
  drivers/gpio/gpio_rv32m1.c
  drivers/i2c/i2c_rv32m1_lpi2c.c
  drivers/interrupt_controller/intc_rv32m1_intmux.c
  drivers/pinmux/pinmux_rv32m1.c
  drivers/serial/uart_rv32m1_lpuart.c
  drivers/spi/spi_rv32m1_lpspi.c
  drivers/timer/rv32m1_lptmr_timer.c
  soc/riscv/openisa_rv32m1/soc.c
  tests/kernel/context/src/main.c
Labels: area: I2C, area: Kernel, area: SPI, area: Tests, area: Timer

#22709 dts: Replace deprecated DT_NXP_LPC_* macros with DT_ALIAS_*
  drivers/serial/uart_mcux_flexcomm.c
  drivers/spi/spi_mcux_flexcomm.c
Labels: area: SPI

#22711 dts: Replace deprecated DT_NXP_KINETIS_* macros with DT_ALIAS_*
  boards/arm/hexiwear_k64/pinmux.c
  boards/arm/twr_ke18f/pinmux.c
  drivers/counter/counter_mcux_rtc.c
  drivers/gpio/gpio_mcux.c
  drivers/i2c/i2c_mcux.c
  drivers/serial/uart_mcux.c
  drivers/serial/uart_mcux_lpsci.c
  drivers/serial/uart_mcux_lpuart.c
  drivers/spi/spi_mcux_dspi.c
  drivers/watchdog/wdt_mcux_wdog.c
  soc/arm/nxp_kinetis/ke1xf/soc.c
Labels: area: Boards, area: Counter, area: I2C, area: SPI, area: Watchdog

#22710 dts: Replace deprecated DT_NXP_IMX_* macros with DT_ALIAS_*
  drivers/counter/counter_mcux_gpt.c
  drivers/gpio/gpio_mcux_igpio.c
  drivers/i2c/i2c_mcux_lpi2c.c
  drivers/spi/spi_mcux_lpspi.c
  soc/arm/nxp_imx/mcimx6x_m4/soc.c
  soc/arm/nxp_imx/mcimx7_m4/soc.c
  soc/arm/nxp_imx/rt/dts_fixup.h
  soc/arm/nxp_kinetis/ke1xf/soc.c
Labels: area: Counter, area: I2C, area: SPI

#22759 Bluetooth: GATT: Fix gatt indicate using wrong pointer for attribute
  subsys/bluetooth/host/gatt.c
Labels: area: Bluetooth, bug

#22764 x86: fix large Kconfig values on 64-bit
  include/toolchain/gcc.h
Labels: area: API, bug

#22763 dts: fix up type comments in binding-template.yaml
  dts/binding-template.yaml
Labels: Trivial, area: Device Tree, area: Documentation

#22779 Networking release notes for 2.2
  doc/releases/release-notes-2.2.rst
Labels: area: Documentation, area: Networking

#22662 drivers: gpio_sx1509b: correct handling of initialized output
  drivers/gpio/gpio_sx1509b.c
Labels: Coverity, area: GPIO

#22766 samples: arc_secure_services: fix sample.yaml
  samples/boards/arc_secure_services/sample.yaml
Labels: area: Samples, bug

#22768 drivers: watchdog: wdt_mcux: convert to DT_INST defines
  drivers/watchdog/wdt_mcux_wdog.c
Labels: area: Boards, area: Counter, area: Device Tree, area: I2C, area: Kernel, area: SPI, area: Tests, area: Timer, area: Watchdog, platform: NXP

#22778 arch: arc: fix the bug that idle thread blocks other threads
  arch/arc/core/fast_irq.S
  arch/arc/core/fault_s.S
  arch/arc/core/regular_irq.S
Labels: area: ARC, bug

#22799 tests: remove duplicate names for tests
  samples/shields/x_nucleo_iks01a3/sensorhub/sample.yaml
  samples/shields/x_nucleo_iks01a3/standard/sample.yaml
  tests/subsys/settings/fcb/base64/testcase.yaml
  tests/subsys/settings/fcb/raw/testcase.yaml
  tests/subsys/settings/littlefs/base64/testcase.yaml
  tests/subsys/settings/littlefs/raw/testcase.yaml
Labels: Trivial, area: Samples, area: Tests

#22792 gpio: restore missing legacy devicetree direction flag
  include/drivers/gpio.h
  include/dt-bindings/gpio/gpio.h
Labels: area: API, area: GPIO, bug

#22793 usb: loopback: re-trigger usb_write on interface configuration
  subsys/usb/class/loopback.c
Labels: Regression, area: USB, bug

#22815 github: Fix daily/release doc publish workflow
  .github/workflows/doc-publish.yml
Labels: bug

#22813 Bluetooth: SMP: Fix failing to pass SM/MAS/PROT/BV-01-C
  subsys/bluetooth/host/smp.c
Labels: Bluetooth Qualification, area: Bluetooth, bug

#22791 Bluetooth: Mesh: GATT Proxy Spec 1.0.1 changes
  subsys/bluetooth/mesh/cfg_srv.c
  subsys/bluetooth/mesh/net.c
  subsys/bluetooth/mesh/proxy.c
Labels: area: Bluetooth, area: Bluetooth Mesh

#22672 arch: arm: cortex_r: linker.ld: Fix ROM section names
  include/arch/arm/aarch32/cortex_r/scripts/linker.ld
Labels: area: API, area: ARM, area: Linker Scripts, bug

#21169 tests: lib: mem_alloc: Fix newlib test
  tests/lib/mem_alloc/prj_newlib.conf
Labels: area: Memory Management, area: Tests, bug

#22804 tests: syscalls: exclude one case on nsim_sem
  tests/kernel/mem_protect/syscalls/src/main.c
Labels: area: Kernel, area: Tests

#22824 Bluetooth: controller: split: Fix regression in privacy port
  subsys/bluetooth/controller/ll_sw/ull_filter.c
Labels: Regression, area: Bluetooth, bug, priority: high

#22829 kernel: fatal: unlock IRQs in early return points in z_fatal_error
  kernel/fatal.c
Labels: area: Kernel

#22852 lib: posix: clock: Fix nanosecond rollover logic
  lib/posix/clock.c
Labels: area: POSIX, bug
