Repository zephyrproject-rtos/zephyr, pull requests merged in 2020-09, with the labels that each got.

#27902 Bluetooth: GATT: Remove wrong documentation for GATT write callback
  include/bluetooth/gatt.h
Labels: Trivial, area: API

#27907 Bluetooth: host: Fix option USE_IDENTITY for bt_le_ext_adv_* API
  subsys/bluetooth/host/hci_core.c
Labels: area: Bluetooth, bug

#27904 usb: Configurable transfer buffers
  subsys/usb/Kconfig
  subsys/usb/usb_transfer.c
Labels: area: USB

#27901 shields: Modify overlay file order
  cmake/app/boilerplate.cmake
Labels: area: Build System

#27815 west: hal_nxp: Fix USB_DEVICE_CONFIG_ENDPOINTS definition
  west.yml
Labels: area: Modules

#27614 logging: net: Make autostart of backend configurable
  subsys/logging/Kconfig
  subsys/logging/log_backend_net.c
Labels: area: Logging, area: Networking

#26373 Bluetooth: Gatt: Added write callback for gatt (un)subscribe
  include/bluetooth/gatt.h
  subsys/bluetooth/host/gatt.c
Labels: area: API, area: Bluetooth

#27337 boards: arm: nucleo_g071rb enable PWM
  boards/arm/nucleo_g071rb/doc/index.rst
  boards/arm/nucleo_g071rb/nucleo_g071rb.dts
  boards/arm/nucleo_g071rb/nucleo_g071rb.yaml
  boards/arm/nucleo_g071rb/pinmux.c
  drivers/pinmux/stm32/pinmux_stm32g0.h
Labels: area: Boards, area: Devicetree, area: Documentation, platform: STM32

#27295 boards: arm: stm32f3_disco: enable PWM
  boards/arm/stm32f3_disco/doc/index.rst
  boards/arm/stm32f3_disco/pinmux.c
  boards/arm/stm32f3_disco/stm32f3_disco.dts
  boards/arm/stm32f3_disco/stm32f3_disco.yaml
Labels: area: Boards, area: Devicetree, area: Documentation, platform: STM32

#27827 Bluetooth: Mesh: Config client net_key_del
  doc/reference/bluetooth/mesh/shell.rst
  include/bluetooth/mesh/cfg_cli.h
  subsys/bluetooth/mesh/cfg_cli.c
  subsys/bluetooth/mesh/shell.c
Labels: area: API, area: Bluetooth, area: Bluetooth Mesh, area: Documentation

#27917 samples: bluetooth: hci_uart: Improve TX path
  samples/bluetooth/hci_uart/src/main.c
Labels: area: Samples

#27754 code-guideline: Tag name should be a unique identifier
  include/device.h
  include/init.h
  include/kernel.h
  include/sys/device_mmio.h
  kernel/userspace.c
  subsys/net/lib/config/init.c
Labels: area: API, area: Coding Guidelines, area: Networking

#27680 Bluetooth: Call bt_recv from priority higher that TX thread.
  drivers/bluetooth/hci/ipm_stm32wb.c
  drivers/bluetooth/hci/spi.c
  drivers/bluetooth/hci/userchan.c
  subsys/bluetooth/common/dummy.c
  subsys/bluetooth/controller/Kconfig.ll_sw_split
  subsys/bluetooth/controller/hci/hci_driver.c
  subsys/bluetooth/host/Kconfig
Labels: area: Bluetooth, platform: STM32

#27653 drivers: i2c_ll_stm32_v1: Reset i2c device on read/write error
  drivers/i2c/i2c_ll_stm32_v1.c
Labels: area: I2C, platform: STM32

#27451 Bluetooth: Mesh: Add Option config unprov beacon interval
  subsys/bluetooth/mesh/Kconfig
  subsys/bluetooth/mesh/beacon.c
Labels: area: Bluetooth, area: Bluetooth Mesh

#27909 sanitycheck: do not report parent test
  scripts/sanity_chk/harness.py
Labels: Trivial

#27933 boards: lpcxpresso55s69_cpu1: fix build errors
  boards/arm/lpcxpresso55s69/lpcxpresso55s69_cpu1_defconfig
Labels: area: Boards, platform: NXP

#27946 samples: intel_s1000: fix timeout variable
  samples/boards/intel_s1000_crb/dmic/src/dmic_sample.c
Labels: area: Samples

#27707 samples: subsys: usb: mass: add support for Adafruit feather nRF52840
  samples/subsys/usb/mass/README.rst
  samples/subsys/usb/mass/boards/adafruit_feather_nrf52840.conf
  samples/subsys/usb/mass/boards/adafruit_feather_nrf52840.overlay
Labels: area: Documentation, area: Samples

#27947 boards: faze: should not be declared as a default test platform
  boards/arm/faze/faze.yaml
Labels: Trivial, area: Boards

#27953 board: mimxrt685_evk update flash command
  boards/arm/mimxrt685_evk/board.cmake
Labels: area: Boards, platform: NXP

#27960 net: tcp2: Fix connection close seq values
  subsys/net/ip/tcp2.c
Labels: area: Networking

#27977 driver: interrupt_controller: miwu: fix build errors from device const
  drivers/interrupt_controller/intc_miwu.c
Labels: Hotfix

#27970 boards: mec1501modular: build without image gen tool
  boards/arm/mec1501modular_assy6885/CMakeLists.txt
Labels: area: Boards

#27949 OSDP - Don't use TEST_RANDOM_GENERATOR
  subsys/mgmt/osdp/Kconfig
Labels: area: Samples

#27983 Codeowner cleanup
  CODEOWNERS
Labels: Trivial

#27940 Revert "posix: linker: Wrap rodata and rwdata in sections."
  include/arch/posix/linker.ld
Labels: area: API, area: native port

#27987 drivers: eeprom: reduce priority of at2x initialization
  drivers/eeprom/Kconfig
  drivers/eeprom/eeprom_at2x.c
Labels: Hotfix, area: EEPROM

#27989 west: update mcuboot revision
  west.yml
Labels: Hotfix, area: Modules

#27726 drivers: console: fix Kconfig DTS inference for mcumgr uart
  drivers/console/Kconfig
Labels: area: mcumgr

#27967 CODEOWNERS: add additional code owner for EEPROM tests
  CODEOWNERS
Labels: area: EEPROM

#27991 west.yml: Snapshot update of mcumgr from upstream
  west.yml
Labels: area: Modules

#27965 tests: net: af_packet: Fix the test when run in fast hw
  tests/net/socket/af_packet/src/main.c
Labels: area: Networking, area: Tests

#27920 Bluetooth: host: Fix periodic advertising delete
  subsys/bluetooth/host/hci_core.c
Labels: area: Bluetooth, bug

#27918 samples: bluetooth: hci_uart: Improve RX path
  samples/bluetooth/hci_uart/src/main.c
Labels: area: Samples

#27984 Bluetooth: GATT: Handle bt/ccc setting with CCC lazy loading
  subsys/bluetooth/host/gatt.c
Labels: area: Bluetooth

#27974 i2c_shell: restore documentation on scan technique
  drivers/i2c/i2c_shell.c
Labels: area: I2C, area: Shell

#27913 samples: add missing sample.yaml files
  samples/boards/intel_s1000_crb/dmic/sample.yaml
  samples/subsys/mgmt/osdp/sample.yaml
Labels: area: Samples, bug

#27994 Fix size reports on Windows
  cmake/reports/CMakeLists.txt
  scripts/footprint/size_report
Labels: area: Build System, bug

#27886 soc: arm: stm32f0: Add additional UARTs.
  dts/arm/st/f0/stm32f030Xc.dtsi
Labels: area: Devicetree, platform: STM32

#28018 drivers: gpio: sx1509b: fix interrupt handler argument
  drivers/gpio/gpio_sx1509b.c
Labels: Hotfix, area: GPIO, bug

#28015 build: Fix usage of hardcoded zephyr.{elf,bin,hex} on faze board
  boards/arm/faze/CMakeLists.txt
Labels: area: Boards

#27789 drivers/bluetooth: ipm_stm32wb.c: Increase RX thread stack size
  drivers/bluetooth/hci/Kconfig
Labels: area: Bluetooth, bug, platform: STM32

#27719 build: support passing preprocessor flags to DTS processing
  cmake/dts.cmake
  doc/application/index.rst
Labels: area: Build System, area: Devicetree, area: Documentation, dev-review

#28023 storage: flash_map: use const struct device
  subsys/storage/flash_map/flash_map.c
Labels: Hotfix, area: Storage, bug

#27938 boards: arm: nucleo_l152re: fix openOCD issue to acces bank2
  boards/arm/nucleo_l152re/support/openocd.cfg
Labels: area: Boards, area: Flashing, platform: STM32

#27936 Soc: arm: Fix SDRAM linker section size for i.mx rt
  soc/arm/nxp_imx/rt/linker.ld
Labels: platform: NXP

#27922 soc: arm: st_stm32: stm32mp1: enable HSEM clock on init
  soc/arm/st_stm32/stm32mp1/soc.c
Labels: platform: STM32

#27839 cmake: dts overlay file with mixed separator style support
  cmake/dts.cmake
Labels: bug

#27916 drivers: clock: stm32f7 needs power over-drive to reach 216Mhz
  drivers/clock_control/clock_stm32_ll_common.c
  soc/arm/st_stm32/stm32f7/soc.h
Labels: bug, platform: STM32

#27408 cmake: toolchain: fix unsupported warnings for C++ builds
  cmake/compiler/gcc/target_warnings.cmake
Labels: area: Build System

#27334 boards: arc: nsim: add a new board nsim_em7d_v22
  boards/arc/nsim/board.cmake
  boards/arc/nsim/doc/index.rst
  boards/arc/nsim/nsim_em7d_v22.dts
  boards/arc/nsim/nsim_em7d_v22.yaml
  boards/arc/nsim/nsim_em7d_v22_defconfig
  boards/arc/nsim/support/mdb_em7d_v22.args
  boards/arc/nsim/support/nsim_em7d_v22.props
  cmake/emu/nsim.cmake
  soc/arc/snps_nsim/Kconfig
  soc/arc/snps_nsim/Kconfig.defconfig
  soc/arc/snps_nsim/Kconfig.defconfig.em7d_v22
Labels: area: ARC, area: Boards, area: Build System, area: Devicetree, area: Documentation

#27896 Fixes mimxrt10xx: Wrong I2C transfer status #13819
  drivers/i2c/i2c_mcux_lpi2c.c
Labels: platform: NXP

#27828 Bluetooth: Mesh: Fix Health model shell doc
  doc/reference/bluetooth/mesh/shell.rst
Labels: Trivial, area: Bluetooth, area: Bluetooth Mesh, area: Documentation, bug

#27959 usb: Fix USB GetStatus(Device) request handling
  subsys/usb/usb_device.c
Labels: area: USB, bug

#27657 mgmt: smp: Change smp_shell_rx_byte to process data in bulk
  include/mgmt/mcumgr/smp_shell.h
  subsys/mgmt/mcumgr/smp_shell.c
  subsys/shell/shell_uart.c
Labels: area: API, area: mcumgr

#28001 tracing: swap: bug fix and enhancement for ARC
  arch/arc/core/fast_irq.S
  arch/arc/core/regular_irq.S
  arch/arc/core/switch.S
  kernel/include/kswap.h
  kernel/sched.c
Labels: area: ARC, area: Kernel

#27926 shell: fix printing from other threads
  subsys/shell/shell.c
Labels: area: Shell, bug, priority: medium

#28019 tests: spinlock: fix occasional crash
  tests/kernel/spinlock/src/main.c
Labels: area: Kernel, area: Tests

#28024 i2s: cavs: cast device struct to void ptr for DMA user data
  drivers/i2s/i2s_cavs.c
Labels: bug

#28011 net: tcp2: Fix connection close ack values
  subsys/net/ip/tcp2.c
Labels: area: Networking

#28004 tests: net: dns_packet: Disable Ethernet when test is run
  tests/net/lib/dns_packet/prj.conf
Labels: area: Networking, area: Tests

#28030 drivers: video: mcux_csi: Fix compile error
  drivers/video/video_mcux_csi.c
Labels: Trivial, bug, platform: NXP

#28035 sanitycheck: mark arc simulation smp systems as mdb
  boards/arc/nsim/nsim_hs_smp.yaml
  scripts/sanity_chk/sanitylib.py
Labels: Hotfix, area: Boards

#28029 soc: arm: atmel_sam: Add support for pinctrl flags
  dts/bindings/pinctrl/atmel,sam-pinctrl.yaml
  soc/arm/atmel_sam/common/atmel_sam_dt.h
  soc/arm/atmel_sam/common/soc_gpio.h
Labels: area: Devicetree, area: Devicetree Binding

#28008 lib: openthread: allow passing multiple libraries as mbedtls
  subsys/net/l2/openthread/Kconfig
  west.yml
Labels: area: Modules, area: Networking

#28005 net: lwm2m: Fix FOTA Pull firmware transfer when Package URI is empty
  subsys/net/lib/lwm2m/lwm2m_obj_firmware.c
Labels: area: Networking

#27972 Bluetooth: Mesh: Adds three Config Client API
  doc/reference/bluetooth/mesh/shell.rst
  include/bluetooth/mesh/cfg_cli.h
  subsys/bluetooth/mesh/cfg_cli.c
  subsys/bluetooth/mesh/shell.c
Labels: area: API, area: Bluetooth, area: Bluetooth Mesh, area: Documentation

#28037 drivers: flash: stm32wb: Fix build error
  drivers/flash/flash_stm32wbx.c
Labels: bug, platform: STM32

#26888 board: hsdk: add 2 cores configuration for test
  boards/arc/hsdk/board.cmake
  boards/arc/hsdk/hsdk.dts
  boards/arc/hsdk/hsdk.dtsi
  boards/arc/hsdk/hsdk_2cores.dts
  boards/arc/hsdk/hsdk_2cores.yaml
  boards/arc/hsdk/hsdk_2cores_defconfig
  boards/arc/hsdk/support/openocd-2-cores.cfg
Labels: area: ARC, area: Boards, area: Devicetree

#27831 arch: arm: cortex_m: Add wrap_func.h
  arch/arm/include/aarch32/cortex_m/tz_ns.h
  tests/arch/arm/arm_tz_wrap_func/CMakeLists.txt
  tests/arch/arm/arm_tz_wrap_func/prj.conf
  tests/arch/arm/arm_tz_wrap_func/src/README.txt
  tests/arch/arm/arm_tz_wrap_func/src/main.c
  tests/arch/arm/arm_tz_wrap_func/testcase.yaml
Labels: area: ARM, area: Tests

#27919 tests: verify the time complexity of dlist
  tests/benchmarks/data_structure_perf/dlist_perf/src/dlist_perf.c
Labels: area: Tests

#27969 usb: Fix std iface/ep requests
  subsys/usb/usb_device.c
Labels: area: USB, bug

#28022 Bluetooth: controller: Fix periodic advertising cond. compile
  subsys/bluetooth/controller/ll_sw/ull_adv_aux.c
Labels: area: Bluetooth, bug

#28026 cmake: mcuboot: confirmed images needs to be padded
  Kconfig.zephyr
  cmake/mcuboot.cmake
Labels: area: Kconfig, area: MCUBoot, bug

#27619 All hid_ops callbacks get device pointer.
  doc/releases/release-notes-2.4.rst
  include/usb/class/usb_hid.h
  samples/subsys/usb/hid-cdc/src/main.c
  samples/subsys/usb/hid/src/main.c
  subsys/usb/class/hid/core.c
Labels: Stable API Change, area: API, area: Documentation, area: Samples, area: USB

#26611 drivers: lora: sx126x: Support software-managed RF switches
  drivers/lora/sx126x.c
  dts/bindings/lora/semtech,sx126x-base.yaml
  west.yml
Labels: area: Devicetree, area: Devicetree Binding, area: Modules

#26335 soc: arm: Kconfig: Add more nrf flash protection block sizes
  soc/arm/nordic_nrf/Kconfig
Labels: Enhancement, platform: nRF

#27945 arch: arm: mpu: Removal of include path pollution
  arch/arm/core/aarch32/cortex_m/mpu/CMakeLists.txt
  arch/arm/core/aarch32/cortex_m/mpu/arm_mpu.c
Labels: Enhancement, area: ARM

#26790 tests: updata the rbtree testcase
  tests/benchmarks/data_structure_perf/rbtree_perf/CMakeLists.txt
  tests/benchmarks/data_structure_perf/rbtree_perf/prj.conf
  tests/benchmarks/data_structure_perf/rbtree_perf/src/rbtree_perf.c
  tests/benchmarks/data_structure_perf/rbtree_perf/testcase.yaml
Labels: area: Tests

#27822 bluetooth: controller: BT_CTLR_CONN_RSSI as a shared controller opt
  subsys/bluetooth/controller/Kconfig
  subsys/bluetooth/controller/Kconfig.ll_sw_split
Labels: area: Bluetooth

#27883 Bluetooth: controller: Prevent incorrect lazy_current increment
  subsys/bluetooth/controller/ticker/ticker.c
Labels: area: Bluetooth, backport v2.2-branch, backport v2.3-branch

#27923 bluetooth: controller: ll_sw: preserve TX power
  subsys/bluetooth/controller/ll_sw/ull_adv.c
  subsys/bluetooth/controller/ll_sw/ull_scan.c
Labels: area: Bluetooth

#27952 bluetooth: controller: add name to TX power choice
  subsys/bluetooth/controller/Kconfig
Labels: area: Bluetooth

#26894 Bluetooth: host: Add hardware error event handling
  include/bluetooth/hci.h
  subsys/bluetooth/host/hci_core.c
Labels: area: API, area: Bluetooth

#28048 mgmt: smp: Fix compilation problem
  subsys/mgmt/mcumgr/smp_shell.c
Labels: bug

#28046 drivers: clock_control: stm32h7 use a macro to define VCO_INPUT_RANGE
  drivers/clock_control/clock_stm32_ll_h7.c
Labels: platform: STM32

#28063 net: tcp2: Make sure all incoming data is given to app at eof
  subsys/net/ip/tcp2.c
Labels: area: Networking

#27800 Bluetooth: controller: Add DEBUG_PINS support in nRF5340DK
  subsys/bluetooth/controller/Kconfig
  subsys/bluetooth/controller/Kconfig.ll_sw_split
  subsys/bluetooth/controller/ll_sw/nordic/hal/nrf5/debug.h
Labels: area: Bluetooth

#28065 drivers: dma: dmamux init needs k_malloc
  drivers/dma/Kconfig.stm32
  soc/arm/st_stm32/common/Kconfig.defconfig.series
Labels: Hotfix, bug, platform: STM32

#28064 usb: Do not check usb_dev.configured in is_dev_configured()
  subsys/usb/usb_device.c
Labels: area: USB, bug

#28039 cmake: extend support for conf file and board overlays
  cmake/app/boilerplate.cmake
  doc/guides/kconfig/setting.rst
Labels: Enhancement, area: Build System, area: Documentation, priority: medium

#27903 Allow immediate logging with software-based BT LL
  subsys/bluetooth/common/dummy.c
Labels: area: Bluetooth

#28066 cortex_m: tz_ns.h: Various fixes (late comments on PR)
  arch/arm/include/aarch32/cortex_m/tz_ns.h
Labels: area: ARM

#28072 buildkite: trap errors and do proper cleanup
  .buildkite/run.sh
Labels: Hotfix

#28073 drivers: eswifi: Fix macro names for offloading
  drivers/wifi/eswifi/eswifi_socket_offload.c
Labels: Hotfix, area: Networking

#27925 tests: lib: cmsis_dsp: matrix: binary_q15 reorder test to fit 128k ram
  tests/lib/cmsis_dsp/matrix/src/binary_q15.c
Labels: area: Tests, bug

#26962 [Backport v1.14-branch] test: object_tracing: account for pre-existing threads
  tests/kernel/obj_tracing/src/main.c
Labels: area: Kernel, area: Tests

#27534 boards: arm: Fix conditionalized pinmuxes for shared pin
  boards/arm/mimxrt1050_evk/pinmux.c
  boards/arm/mimxrt1060_evk/pinmux.c
  boards/arm/mimxrt1064_evk/pinmux.c
Labels: area: Boards, platform: NXP

#28077 test: thread_stack: relax ram requirement
  tests/kernel/threads/thread_stack/testcase.yaml
Labels: area: Kernel, area: Tests, bug

#28081 toolchain: gcc: Fix fallthrough attribute for old versions
  include/toolchain/gcc.h
Labels: area: API, bug

#26757 Improve write speed of microSD card via SPI and FatFS
  subsys/disk/disk_access_spi_sdhc.c
Labels: area: Boards, area: Documentation, area: Samples

#27878 tests: arch: arm mem protection check CPU scrubs regs after syscall
  tests/arch/arm/arm_thread_swap/README.txt
  tests/arch/arm/arm_thread_swap/src/arm_syscalls.c
  tests/arch/arm/arm_thread_swap/src/main.c
  tests/arch/arm/arm_thread_swap/src/test_syscalls.h
Labels: area: Tests

#27766 arch: arm64: Use _arch_switch() API
  arch/arm/core/aarch64/CMakeLists.txt
  arch/arm/core/aarch64/Kconfig
  arch/arm/core/aarch64/isr_wrapper.S
  arch/arm/core/aarch64/swap.c
  arch/arm/core/aarch64/switch.S
  arch/arm/core/aarch64/thread.c
  arch/arm/core/offsets/offsets_aarch64.c
  arch/arm/include/aarch64/exc.h
  arch/arm/include/aarch64/kernel_arch_func.h
  arch/arm/include/aarch64/offsets_short_arch.h
  include/arch/arm/aarch64/thread.h
Labels: area: API, area: ARM

#28075 doc: releases: 2.4: add EEPROM release notes for v2.4
  doc/releases/release-notes-2.4.rst
Labels: area: Documentation

#27824 drivers: usb_dc_mcux_ehci: fix endpoints index assignment
  drivers/usb/device/usb_dc_mcux_ehci.c
Labels: area: Drivers, area: USB, bug, platform: NXP

#27601 tests: drivers: spi: loopback: run SPI loopback test in sanitycheck
  tests/drivers/spi/spi_loopback/testcase.yaml
Labels: area: SPI, area: Tests

#28119 Bluetooth: controller: Scanning with unreserved window
  subsys/bluetooth/controller/Kconfig.ll_sw_split
  subsys/bluetooth/controller/ll_sw/ull_scan.c
Labels: area: Bluetooth

#28123 usb: Fix for is_ep_valid
  subsys/usb/usb_device.c
Labels: area: USB, bug, priority: high

#28127 usb: clock_control: Fix symbol when getting mgr for HFCLK
  drivers/usb/device/usb_dc_nrfx.c
Labels: area: Clock Control, area: USB, bug, priority: medium

#28067 doc: release: v2.4.0 release notes draft for Cortex-M
  doc/releases/release-notes-2.4.rst
Labels: area: Documentation

#28111 cmake: c++ compiler flag exclusion, -Werror=implicit-int
  cmake/compiler/arcmwdt/compiler_flags.cmake
  cmake/compiler/gcc/compiler_flags.cmake
Labels: Trivial, area: Build System, area: C++, bug, priority: medium

#28140 tests: benchmarks: data_structure_perf: rbtree: uninitialized field
  tests/benchmarks/data_structure_perf/rbtree_perf/src/rbtree_perf.c
Labels: area: Tests

#28132 doc: net: Add networking changes to 2.4 release note
  doc/releases/release-notes-2.4.rst
Labels: Release Notes, area: Documentation, area: Networking

#28141 cmake: improved handling of CONF_FILE cached variable
  cmake/app/boilerplate.cmake
Labels: Trivial, area: Build System, bug

#28043 random: rand32_ctr_drbg: Fix missed device constify change
  subsys/random/rand32_ctr_drbg.c
Labels: bug

#28087 samples: shell: fs: fix partition reg
  samples/subsys/shell/fs/boards/particle_xenon.overlay
Labels: Trivial, area: Samples

#28187 CODEOWNERS: remove commas in reviewers' listing
  CODEOWNERS
Labels: Hotfix

#28136 west.yml: update hal_ti for const device
  west.yml
Labels: area: Modules

#28110 tests:modify tests.benchmarks.datastructure.yaml
  tests/benchmarks/data_structure_perf/dlist_perf/testcase.yaml
  tests/benchmarks/data_structure_perf/rbtree_perf/testcase.yaml
Labels: area: Tests

#28076 mps2_an385: use default stack sizes
  boards/arm/mps2_an385/mps2_an385_defconfig
Labels: area: Boards, bug

#28191 samples: Add fixtures for samples interacting with keyboard and mouse
  samples/drivers/kscan/README.rst
  samples/drivers/kscan/sample.yaml
  samples/drivers/ps2/README.rst
  samples/drivers/ps2/sample.yaml
Labels: area: Documentation, area: Samples

#27993 drivers: winc1500: Fix signed/unsigned comparison
  drivers/wifi/winc1500/wifi_winc1500.c
Labels: area: Networking

#28201 scripts: runners: fix openocd on Windows
  scripts/west_commands/runners/openocd.py
Labels: bug, priority: high

#28103 tests: userspace: fix flaky behavior
  tests/kernel/mem_protect/userspace/src/main.c
Labels: area: Kernel, area: Tests, bug

#26977 net: config: Fix missing error log when timeout happens
  subsys/net/lib/config/init.c
Labels: area: Networking

#27739 tests: toggle off a test scenario for em_starterkit_7d
  tests/kernel/mem_protect/syscalls/src/main.c
Labels: area: ARC, area: Kernel, area: Tests

#28198 doc: release: 2.4: note behavior change in device_get_binding
  doc/releases/release-notes-2.4.rst
Labels: area: Documentation

#28213 drivers/entropy: stm32: fix error erasing
  drivers/entropy/entropy_stm32.c
Labels: bug, platform: STM32, priority: low

#28209 usb: intel: Fix the sample, update to recent API change.
  samples/boards/intel_s1000_crb/audio/src/usb_transport.c
Labels: Regression, area: Samples, bug

#28224 tests: gpio_api_1pin: fix failing test on reel_board
  tests/drivers/gpio/gpio_api_1pin/src/test_config.c
Labels: area: Tests

#28204 boards: set CONFIG_BUILD_OUTPUT_HEX for TI boards
  boards/arm/cc1352r1_launchxl/cc1352r1_launchxl_defconfig
  boards/arm/cc26x2r1_launchxl/cc26x2r1_launchxl_defconfig
  boards/arm/cc3220sf_launchxl/cc3220sf_launchxl_defconfig
  boards/arm/cc3235sf_launchxl/cc3235sf_launchxl_defconfig
Labels: area: Boards, bug

#28051 samples: net: echo*: Increase stack size
  samples/net/sockets/echo/prj.conf
  samples/net/sockets/echo_async/prj.conf
Labels: Trivial, area: Networking, area: Samples

#28215 tests: arm: interrupt: fix side effect in assertion
  tests/arch/arm/arm_interrupt/src/arm_interrupt.c
Labels: Trivial, area: Tests, bug

#27537 Sanitycheck sort by plat
  scripts/sanitycheck
Labels: area: Sanitycheck

#28135 doc: release: 2.4: summarize I2C changes
  doc/releases/release-notes-2.4.rst
Labels: area: Documentation

#26946 benchmarks: add an app for commonly used kernel funcs footprint
  tests/benchmarks/footprints/CMakeLists.txt
  tests/benchmarks/footprints/prj.conf
  tests/benchmarks/footprints/prj_userspace.conf
  tests/benchmarks/footprints/src/footprint.h
  tests/benchmarks/footprints/src/heap.c
  tests/benchmarks/footprints/src/libc.c
  tests/benchmarks/footprints/src/main.c
  tests/benchmarks/footprints/src/mutex.c
  tests/benchmarks/footprints/src/semaphore.c
  tests/benchmarks/footprints/src/system_thread.c
  tests/benchmarks/footprints/src/timer.c
  tests/benchmarks/footprints/src/userspace.c
  tests/benchmarks/footprints/src/userspace.h
  tests/benchmarks/footprints/src/workq.c
  tests/benchmarks/footprints/testcase.yaml
Labels: area: Samples, area: Tests

#28233 arm64: tracing: Fix double tracing
  arch/arm/core/aarch64/switch.S
Labels: area: ARM, bug

#28125 tests: kernel: fatal: minor #ifdef guard fix
  tests/kernel/fatal/src/main.c
Labels: Trivial, area: ARM, area: Kernel, area: Tests, bug

#28199 arm: systick: default CORTEX_M_SYSTICK based on dts
  drivers/timer/Kconfig
  dts/arm/armv6-m.dtsi
  dts/arm/armv7-m.dtsi
  dts/arm/armv8-m.dtsi
  dts/arm/microchip/mec1501hsz.dtsi
  dts/arm/nordic/nrf5340_cpuapp.dtsi
  dts/arm/nordic/nrf5340_cpuappns.dtsi
  dts/arm/nordic/nrf5340_cpunet.dtsi
  dts/arm/nordic/nrf5_common.dtsi
  dts/arm/nordic/nrf9160.dtsi
  dts/arm/nordic/nrf9160ns.dtsi
  dts/arm/ti/cc13x2_cc26x2.dtsi
Labels: area: Devicetree, bug

#28232 cmake: export build flags to external build systems excluding SHELL tag
  CMakeLists.txt
  cmake/makefile_exports/CMakeLists.txt
Labels: area: Build System, bug, priority: medium

#28226 Bluetooth: controller: Fix TxAdd setting in auxiliary PDU
  subsys/bluetooth/controller/ll_sw/ull_adv.c
  subsys/bluetooth/controller/ll_sw/ull_adv_aux.c
  subsys/bluetooth/controller/ll_sw/ull_adv_internal.h
Labels: area: Bluetooth, bug

#28238 Bluetooth: host: Fix Suggested Default Data Len for QUIRK_NO_AUTO_DLE
  subsys/bluetooth/host/hci_core.c
Labels: area: Bluetooth, bug

#28144 Bluetooth: Mesh: Store Krp phase after krp value changed
  subsys/bluetooth/mesh/cfg_srv.c
  subsys/bluetooth/mesh/net.c
Labels: area: Bluetooth, area: Bluetooth Mesh, bug

#28192 include/drivers/flash: correction on the unrestricted alignment of writes
  include/drivers/flash.h
Labels: area: API, area: Flash, bug

#28194 west.yml: Update libmetal for fixes
  west.yml
Labels: area: Modules, bug

#28271 Fix sendmsg() for AF_CAN sockets
  subsys/net/ip/net_context.c
Labels: area: Networking

#28207 Bluetooth: controller: Fix addr type in auxiliary PDU
  subsys/bluetooth/controller/ll_sw/ull_adv_aux.c
Labels: Trivial, area: Bluetooth, bug

#28189 drivers/flash/nrf_qspi_nor: corrects write-block-size to 4B
  drivers/flash/nrf_qspi_nor.c
Labels: area: Flash, bug, platform: nRF

#28284 net: mqtt: Fix clean_session flag docstring
  include/net/mqtt.h
Labels: area: API, bug
