Repository zephyrproject-rtos/zephyr, pull requests merged in 2020-10, with the labels that each got.

#28725 Bluetooth: controller: Fix latency cancel on LLCP initiation
  subsys/bluetooth/controller/ll_sw/ull_conn.c
Labels: area: Bluetooth, bug

#28830 Bluetooth: shell: Fix PER SYNC conditional compilation
  subsys/bluetooth/shell/bt.c
Labels: area: Bluetooth

#28755 net: tcp2: Local accepted socket was not bound
  subsys/net/ip/tcp2.c
Labels: area: Networking

#26053 settings: Remove deprecated SETTINGS_USE_BASE64 support
  doc/releases/release-notes-2.5.rst
  subsys/settings/Kconfig
  subsys/settings/src/settings_line.c
  tests/subsys/settings/fcb/base64/CMakeLists.txt
  tests/subsys/settings/fcb/base64/native_posix.overlay
  tests/subsys/settings/fcb/base64/native_posix_64.overlay
  tests/subsys/settings/fcb/base64/nrf52840dk_nrf52840.overlay
  tests/subsys/settings/fcb/base64/nrf52dk_nrf52832.overlay
  tests/subsys/settings/fcb/base64/placeholder.c
  tests/subsys/settings/fcb/base64/prj.conf
  tests/subsys/settings/fcb/base64/prj_native_posix.conf
  tests/subsys/settings/fcb/base64/prj_native_posix_64.conf
  tests/subsys/settings/fcb/base64/testcase.yaml
  tests/subsys/settings/fcb/raw/prj.conf
  tests/subsys/settings/fcb/raw/prj_native_posix.conf
  tests/subsys/settings/fcb/raw/prj_native_posix_64.conf
  tests/subsys/settings/fcb/src/settings_test_fcb.c
  tests/subsys/settings/fs/src/settings_test_compress_file.c
  tests/subsys/settings/fs/src/settings_test_multiple_in_file.c
  tests/subsys/settings/fs/src/settings_test_save_in_file.c
  tests/subsys/settings/fs/src/settings_test_small_file.c
  tests/subsys/settings/functional/fcb/prj.conf
  tests/subsys/settings/functional/fcb/prj_native_posix.conf
  tests/subsys/settings/functional/fcb/prj_native_posix_64.conf
  tests/subsys/settings/functional/fcb/prj_qemu_x86.conf
  tests/subsys/settings/functional/file/prj.conf
  tests/subsys/settings/functional/file/prj_native_posix.conf
  tests/subsys/settings/functional/file/prj_native_posix_64.conf
  tests/subsys/settings/functional/file/prj_qemu_x86.conf
  tests/subsys/settings/functional/nvs/prj.conf
  tests/subsys/settings/littlefs/base64/prj.conf
  tests/subsys/settings/littlefs/base64/prj_native_posix.conf
  tests/subsys/settings/littlefs/base64/prj_native_posix_64.conf
  tests/subsys/settings/littlefs/raw/prj.conf
  tests/subsys/settings/littlefs/raw/prj_native_posix.conf
  tests/subsys/settings/littlefs/raw/prj_native_posix_64.conf
  tests/subsys/settings/nvs/raw/prj.conf
Labels: area: Documentation, area: Settings, area: Tests, area: native port

#28769 net: sntp: Remove deprecated API function
  include/net/sntp.h
  subsys/net/lib/sntp/sntp.c
Labels: area: API, area: Networking

#28838 samples: sockets: dumb_http_server: If send() fails, print errno
  samples/net/sockets/dumb_http_server/src/socket_dumb_http.c
Labels: Trivial, area: Networking, area: Samples

#28217 Bluetooth: Mesh: Move Replay Protect to seperate module
  subsys/bluetooth/host/testing.c
  subsys/bluetooth/mesh/CMakeLists.txt
  subsys/bluetooth/mesh/Kconfig
  subsys/bluetooth/mesh/cdb.c
  subsys/bluetooth/mesh/cfg_srv.c
  subsys/bluetooth/mesh/main.c
  subsys/bluetooth/mesh/net.c
  subsys/bluetooth/mesh/net.h
  subsys/bluetooth/mesh/prov.c
  subsys/bluetooth/mesh/proxy.c
  subsys/bluetooth/mesh/rpl.c
  subsys/bluetooth/mesh/rpl.h
  subsys/bluetooth/mesh/settings.c
  subsys/bluetooth/mesh/shell.c
  subsys/bluetooth/mesh/transport.c
  subsys/bluetooth/mesh/transport.h
Labels: Enhancement, area: Bluetooth, area: Bluetooth Mesh

#28697 boards: nucleo_l552ze_q_ns: Use dts flash partitioning.
  boards/arm/nucleo_l552ze_q/Kconfig.defconfig
  boards/arm/nucleo_l552ze_q/nucleo_l552ze_q_ns_defconfig
  samples/tfm_integration/tfm_ipc/boards/nucleo_l552ze_q_ns.overlay
Labels: area: Boards, area: Devicetree, area: Samples, platform: STM32

#28776 kernel: document interrupt behavior of k_cpu_atomic_idle
  include/kernel.h
Labels: area: API, area: Documentation

#28619 board: arm: disco_l475_iot1: Enable ADC support
  boards/arm/disco_l475_iot1/doc/index.rst
  boards/arm/disco_l475_iot1/pinmux.c
Labels: area: Boards, area: Devicetree, area: Documentation, area: Tests, platform: STM32

#28720 Bluetooth: host: Add NULL checks for scan callbacks
  subsys/bluetooth/host/hci_core.c
Labels: Trivial, area: Bluetooth, bug

#28253 West 0.8 docs
  doc/guides/west/index.rst
  doc/guides/west/manifest.rst
  doc/guides/west/release-notes.rst
  doc/guides/west/west-apis.rst
Labels: area: Documentation

#28254 code-guideline: Fixing code violation 10.4 Rule
  arch/arm/core/aarch32/cortex_m/fault.c
  arch/arm/core/aarch32/cortex_m/mpu/arm_mpu.c
  arch/arm/core/aarch32/cortex_m/mpu/arm_mpu_v7_internal.h
  arch/arm/core/aarch32/thread.c
  arch/arm/include/aarch32/cortex_a_r/exc.h
  boards/arm/qemu_cortex_m0/nrf_timer_timer.c
  include/arch/arm/aarch32/asm_inline_gcc.h
  include/arch/arm/aarch32/cortex_m/mpu/arm_mpu_v7m.h
  include/drivers/usb/usb_dc.h
  include/kernel.h
  include/kernel_structs.h
  include/logging/log_core.h
  include/logging/log_msg.h
  include/sys/atomic.h
  include/sys/notify.h
  include/sys/onoff.h
  include/sys/ring_buffer.h
  include/sys/time_units.h
  include/sys/util.h
  include/usb/usb_common.h
  include/usb/usbstruct.h
  kernel/include/ksched.h
  kernel/poll.c
  kernel/thread.c
  kernel/timeout.c
  lib/os/heap.c
  lib/os/heap.h
  lib/os/mempool.c
  lib/os/onoff.c
  lib/os/printk.c
  lib/os/sem.c
  subsys/logging/log_minimal.c
  subsys/random/rand32_timer.c
  subsys/usb/usb_descriptor.c
  subsys/usb/usb_device.c
Labels: area: API, area: ARM, area: Boards, area: Coding Guidelines, area: Kernel

#28852 llvm: use bintools/gnu/target_bintools.cmake
  cmake/bintools/llvm/target.cmake
Labels: Trivial, area: Build System, bug

#28834 boards: arm: adafruit_feather_nrf52840: use dual mode for QSPI NOR
  boards/arm/adafruit_feather_nrf52840/adafruit_feather_nrf52840.dts
Labels: bug

#28532 subsys: random: Warning when using test config
  subsys/random/CMakeLists.txt
Labels: Security Review, area: Security

#28491 Bluetooth: Mesh: Config client network transmit set/get API
  doc/reference/bluetooth/mesh/shell.rst
  include/bluetooth/mesh/cfg_cli.h
  subsys/bluetooth/mesh/cfg_cli.c
  subsys/bluetooth/mesh/shell.c
Labels: area: API, area: Bluetooth, area: Bluetooth Mesh, area: Documentation

#28588 ARC: MWDT: drop redundant stack checking
  cmake/compiler/arcmwdt/target.cmake
  include/arch/arc/v2/linker.ld
Labels: area: API, area: ARC, area: Build System

#27966 drivers: eth: add driver for w5500 Ethernet Controller
  CODEOWNERS
  drivers/ethernet/CMakeLists.txt
  drivers/ethernet/Kconfig
  drivers/ethernet/Kconfig.w5500
  drivers/ethernet/eth_w5500.c
  drivers/ethernet/eth_w5500_priv.h
  dts/bindings/ethernet/wiznet,w5500.yaml
  tests/drivers/build_all/app.overlay
  tests/drivers/build_all/ethernet.conf
  tests/drivers/build_all/spi.dtsi
Labels: area: Devicetree, area: Devicetree Binding, area: Ethernet, area: Networking, area: Tests

#25535 tests: add new tests for memory partitions
  tests/kernel/mem_protect/mem_protect/src/main.c
  tests/kernel/mem_protect/mem_protect/src/mem_domain.c
  tests/kernel/mem_protect/mem_protect/src/mem_protect.h
Labels: area: Kernel, area: Memory Protection, area: Tests

#26605 drivers: modem: Add debug log for matching direct cmds
  drivers/modem/modem_cmd_handler.c
Labels: area: Modem

#28109 tests: device: enable test case for dummy pm enable and disable
  tests/kernel/device/src/main.c
Labels: area: Kernel, area: Tests

#28126 test: drivers: watchdog: 64bits variables for STM32H7 and STM32F7
  tests/drivers/watchdog/wdt_basic_api/src/test_wdt.c
Labels: area: Tests

#28596 misc: Replace assert include and calls by sys/__assert.h equivalent
  drivers/adc/adc_mchp_xec.c
  drivers/console/uart_mcumgr.c
  drivers/crypto/crypto_ataes132a.c
  drivers/crypto/crypto_stm32.c
  drivers/ethernet/eth_mcux.c
  drivers/i2s/i2s_litex.c
  drivers/ieee802154/ieee802154_rf2xx.c
  drivers/ieee802154/ieee802154_rf2xx_iface.c
  drivers/interrupt_controller/intc_gicv3.c
  drivers/interrupt_controller/intc_miwu.c
  drivers/pwm/pwm_led_esp32.c
  drivers/serial/uart_npcx.c
  drivers/watchdog/wdt_iwdg_stm32.c
  drivers/watchdog/wdt_mchp_xec.c
  drivers/watchdog/wdt_wwdg_stm32.c
  lib/os/json.c
  samples/boards/nrf/mesh/onoff_level_lighting_vnd_app/src/smp_svr.c
  samples/net/sockets/socketpair/src/socketpair_example.c
  subsys/bluetooth/host/a2dp.c
  subsys/dfu/boot/mcuboot.c
  subsys/disk/disk_access_usdhc.c
  subsys/logging/log_backend_uart.c
  subsys/logging/log_core.c
  subsys/logging/log_msg.c
  subsys/logging/log_output.c
  subsys/logging/log_output_syst.c
  subsys/mgmt/mcumgr/buf.c
  subsys/mgmt/mcumgr/serial_util.c
  subsys/mgmt/osdp/src/osdp_common.h
  subsys/net/lib/http/http_parser.c
  subsys/net/lib/http/http_parser_url.c
  subsys/settings/src/settings_fcb.c
  subsys/stats/stats.c
  tests/bluetooth/tester/src/gatt.c
  tests/subsys/fs/multi-fs/src/test_common_dir.c
Labels: area: ADC, area: Bluetooth, area: I2S, area: Logging, area: Networking, area: PWM, area: Samples, area: Watchdog, platform: NXP, platform: STM32

#28686 drivers: gpio: npcx7: change default pinmux of functional pads to GPIO
  dts/arm/nuvoton/npcx/npcx7-alts-map.dtsi
  dts/arm/nuvoton/npcx7m6fb.dtsi
  soc/arm/nuvoton_npcx/common/soc_pins.h
Labels: area: Devicetree

#28710 force i2c reset on certain stm32 device
  drivers/i2c/i2c_ll_stm32.c
Labels: area: I2C, platform: STM32

#28648 include: remove enum build assert
  include/ec_host_cmd.h
Labels: area: API

#28652 bluetooth: att: provide named constant for successful result
  include/bluetooth/att.h
Labels: area: API

#28823 drivers: clock: stm32: fix MSI PLL mode enabling
  drivers/clock_control/clock_stm32_ll_common.c
  drivers/counter/counter_ll_stm32_rtc.c
Labels: area: Counter, platform: STM32

#28816 drivers: sensors: itds: Remove dts defaults
  dts/bindings/sensor/we,wsen-itds.yaml
  samples/sensor/wsen_itds/boards/disco_l475_iot1.overlay
  tests/drivers/build_all/i2c.dtsi
Labels: area: Devicetree, area: Devicetree Binding, area: Samples, area: Tests

#28796 drivers: spi: Set the spi_config before calling Chip select configure
  drivers/spi/spi_mcux_flexcomm.c
Labels: area: SPI, platform: NXP

#28730 Bluetooth: host: Change PA sync callbacks to global callbacks
  include/bluetooth/bluetooth.h
  include/bluetooth/conn.h
  subsys/bluetooth/host/hci_core.c
  subsys/bluetooth/shell/bt.c
Labels: area: API, area: Bluetooth

#28718 dts: bindings: move io-channels and io-channel-names to base.yaml
  dts/bindings/adc/voltage-divider.yaml
  dts/bindings/base/base.yaml
  dts/bindings/sensor/grove,light.yaml
  dts/bindings/sensor/grove,temperature.yaml
  dts/bindings/sensor/nxp,kinetis-temperature.yaml
  dts/bindings/test/vnd,temperature-sensor.yaml
Labels: area: Devicetree, area: Devicetree Binding, platform: NXP

#28861 net: tc: Remove not used field from net_traffic_class struct
  include/net/net_if.h
  subsys/net/ip/net_tc.c
Labels: area: API, area: Networking

#28728 sanitycheck: Fix ZeroDivisionError during reporting
  scripts/sanity_chk/sanitylib.py
Labels: area: Sanitycheck

#28855 dts/bindings/pinctrl: Remove usage of c comments within bindings
  dts/bindings/pinctrl/st,stm32-pinctrl.yaml
  dts/bindings/pinctrl/st,stm32f1-pinctrl.yaml
Labels: Hotfix, area: Devicetree, area: Devicetree Binding

#28849 boards: nucleo_h743zi: Configure serial console pins using dt
  boards/arm/nucleo_h743zi/nucleo_h743zi.dts
  boards/arm/nucleo_h743zi/pinmux.c
Labels: area: Boards, area: Devicetree, platform: STM32

#28853 settings_fcb: initialize rc variable
  subsys/settings/src/settings_fcb.c
Labels: area: Settings

#28804 gen_isr_tables: Function ptr instead of (void *)
  arch/common/gen_isr_tables.py
Labels: area: Architectures

#28771 kernel/sys_clock.h: Remove deprecated macros
  include/sys_clock.h
Labels: area: API

#28767 kernel: Remove deprecated APIs and MACROs from 2.3
  include/drivers/timer/system_timer.h
  include/kernel.h
Labels: area: API

#28712 Tests: smp: improving the description for SMP test cases
  tests/kernel/smp/src/main.c
Labels: area: Documentation, area: Kernel, area: Tests

#28811 logging: Refactoring macro to avoid Coverity issue
  include/logging/log_core.h
Labels: area: API

#28862 CODEOWNERS: add Andries to bluetooth/controller
  CODEOWNERS
Labels: Trivial

#28831 Bluetooth: controller: Fix null pointer deference during adv data update
  subsys/bluetooth/controller/ll_sw/ull_adv_aux.c
Labels: area: Bluetooth

#28592 net: lwm2m: Fix FOTA block transfer with opaque content-format
  subsys/net/lib/lwm2m/lwm2m_engine.c
  subsys/net/lib/lwm2m/lwm2m_engine.h
  subsys/net/lib/lwm2m/lwm2m_object.h
  subsys/net/lib/lwm2m/lwm2m_rw_json.c
  subsys/net/lib/lwm2m/lwm2m_rw_oma_tlv.c
  subsys/net/lib/lwm2m/lwm2m_rw_plain_text.c
Labels: area: LWM2M, area: Networking

#28753 west.yml: Update hal_nordic revision
  west.yml
Labels: area: Modules

#28845 include/devicetree.h: Add DT_ENUM_IDX_OR macro
  dts/bindings/test/vnd,enum-int-required-false-holder.yaml
  dts/bindings/test/vnd,enum-required-false-holder.yaml
  include/devicetree.h
  tests/lib/devicetree/api/app.overlay
  tests/lib/devicetree/api/src/main.c
Labels: Release Notes, area: API, area: Devicetree, area: Devicetree Binding, area: Tests

#28923 actions: install needed modules for docs
  .github/workflows/doc-build.yml
  .github/workflows/doc-publish.yml
Labels: Hotfix

#28655 tests: work_queue: wait longer for expired triggering items
  tests/kernel/workq/work_queue/src/main.c
Labels: area: Kernel, area: Tests

#28841 drivers: adc: Improve the default routine providing sampling intervals
  drivers/adc/adc_context.h
Labels: Enhancement, area: ADC, area: Drivers

#28724 usb: mass: Fix main thread stack size overflow.
  samples/subsys/usb/mass/prj.conf
Labels: area: Samples, area: USB, bug

#28880 drivers: modem: hl7800: Fix cases where socket would not close
  drivers/modem/hl7800.c
Labels: area: Modem

#28915 queue: Fixed using incorrect init macro
  include/kernel.h
Labels: area: API

#28930 bluetooth: add dep on !SMP
  subsys/bluetooth/Kconfig
Labels: area: Bluetooth

#28917 net: l2: ppp: Remove ipcp address on network down
  subsys/net/l2/ppp/ipcp.c
Labels: area: Networking

#28945 net: websocket: Fix remnant of message type
  subsys/net/lib/websocket/websocket.c
Labels: area: Networking

#28946 net: websocket: Fix conflict flag
  include/net/websocket.h
Labels: area: API, area: Networking

#28936 doc: release-notes: document DT_ENUM_IDX_OR
  doc/releases/release-notes-2.5.rst
Labels: Release Notes, area: Documentation

#28914 drivers/serial: stm32f1: Disable remap when not required
  drivers/serial/uart_stm32.c
Labels: area: UART, platform: STM32

#28922 nrfjprog.py: handle ImportError
  scripts/west_commands/runners/nrfjprog.py
Labels: Hotfix, area: Documentation, bug

#28951 drivers: timer: nrf_rtc_timer: Use interrupt priority from DT
  drivers/timer/nrf_rtc_timer.c
Labels: area: Timer, platform: nRF

#28963 doc: west: fix typo in release notes
  doc/guides/west/release-notes.rst
Labels: Trivial, area: Documentation, area: West

#28965 github: labeler: Add 'area: ARM_64' label
  .github/labeler.yml
Labels: Trivial

#28958 tests: adc_api: Use SHRT_MIN instead of 0 to mark empty buffer entries
  tests/drivers/adc/adc_api/src/test_adc.c
Labels: area: ADC, area: Tests

#28884 boards: arm: Add support for SEGGER TRB STM32F407
  boards/arm/segger_trb_stm32f407/CMakeLists.txt
  boards/arm/segger_trb_stm32f407/Kconfig.board
  boards/arm/segger_trb_stm32f407/Kconfig.defconfig
  boards/arm/segger_trb_stm32f407/board.cmake
  boards/arm/segger_trb_stm32f407/doc/img/segger_trb_stm32f407.png
  boards/arm/segger_trb_stm32f407/doc/index.rst
  boards/arm/segger_trb_stm32f407/segger_trb_stm32f407.dts
  boards/arm/segger_trb_stm32f407/segger_trb_stm32f407.yaml
  boards/arm/segger_trb_stm32f407/segger_trb_stm32f407_defconfig
  dts/bindings/vendor-prefixes.txt
Labels: area: Boards, area: Devicetree, area: Devicetree Binding, area: Documentation, platform: STM32

#28859 qemu_cortex_a53: Switch to GICv3
  boards/arm/qemu_cortex_a53/board.cmake
  dts/arm/qemu-virt/qemu-virt-a53.dtsi
  soc/arm/qemu_cortex_a53/CMakeLists.txt
  soc/arm/qemu_cortex_a53/Kconfig.soc
  soc/arm/qemu_cortex_a53/mmu_regions.c
  soc/arm/qemu_cortex_a53/plat_core.S
Labels: area: ARM_64, area: Boards, area: Devicetree

#28927 scripts: dts: fix handling for phandle-arrays with *-cells=0
  scripts/dts/edtlib.py
  scripts/dts/test-bindings/phandle-array-controller-0.yaml
  scripts/dts/test.dts
  scripts/dts/testedtlib.py
Labels: area: Devicetree, area: Devicetree Tooling, bug

#28770 sys: ring_buffer: remove deprecated macros
  include/sys/ring_buffer.h
Labels: area: API

#28968 doc: coverage: document unit test coverage
  doc/guides/coverage.rst
Labels: Trivial, area: Documentation

#28983 CODEOWNERS: Remove comma
  CODEOWNERS
Labels: Hotfix

#28928 samples: sockets: big_http_download: Increase stack size to 2.5K.
  samples/net/sockets/big_http_download/prj.conf
Labels: Trivial, area: Networking, area: Samples

#29000 lib: posix: eventfd: Fix use of 'struct k_spinlock_key'
  lib/posix/eventfd.c
Labels: Hotfix

#28906 Bluetooth: host: Don't use struct with zero size
  subsys/bluetooth/host/att.c
  subsys/bluetooth/host/att_internal.h
  subsys/bluetooth/host/gatt.c
Labels: area: Bluetooth

#28843 fs: fs_seek and fs_tell return -ENOTSUP when not implemented
  include/fs/fs.h
  subsys/fs/fs.c
Labels: area: API, area: File System

#27546 tracing: add feature for analysing post-mortem
  doc/guides/tracing/index.rst
  subsys/tracing/sysview/Kconfig
Labels: area: Documentation, area: Modules

#28975 Cleanup gpio dt
  dts/bindings/gpio/gpio-controller.yaml
Labels: area: Devicetree, area: Devicetree Binding

#28772 uart: Remove deprecated defines
  include/drivers/uart.h
Labels: area: API

#29005 doc: update west build --pristine
  doc/guides/west/build-flash-debug.rst
Labels: Trivial, area: Documentation

#28980 drivers: counter: stm32: hide irrelevant options
  drivers/counter/Kconfig.stm32_rtc
Labels: area: Counter, platform: STM32

#28797 kernel: stack: fix stack_push spinlock and return
  kernel/stack.c
Labels: area: Kernel

#28939 logging: fix if else if constructs missing final else
  include/logging/log_core.h
  subsys/logging/log_backend_rtt.c
  subsys/logging/log_core.c
  subsys/logging/log_msg.c
Labels: area: API, area: Coding Guidelines, area: Logging

#28815 Bluetooth: controller: Check for ticker operation failure
  subsys/bluetooth/controller/ll_sw/ull.c
Labels: area: Bluetooth

#28940 Nucleo h745zi q serial console pins using dt
  boards/arm/nucleo_h745zi_q/nucleo_h745zi_q.dtsi
  boards/arm/nucleo_h745zi_q/nucleo_h745zi_q_m4.dts
  boards/arm/nucleo_h745zi_q/nucleo_h745zi_q_m7.dts
  boards/arm/nucleo_h745zi_q/pinmux.c
Labels: area: Boards, area: Devicetree, platform: STM32

#29039 net: lwm2m: Fix bootstrap finish response code
  subsys/net/lib/lwm2m/lwm2m_engine.c
Labels: area: Networking

#29044 Bluetooth: controller: Initialize close to locality of reference
  subsys/bluetooth/controller/ll_sw/nordic/lll/lll.c
  subsys/bluetooth/controller/ll_sw/nordic/lll/lll_adv.c
  subsys/bluetooth/controller/ll_sw/nordic/lll/lll_adv_aux.c
  subsys/bluetooth/controller/ll_sw/nordic/lll/lll_adv_sync.c
  subsys/bluetooth/controller/ll_sw/nordic/lll/lll_conn.c
  subsys/bluetooth/controller/ll_sw/nordic/lll/lll_master.c
  subsys/bluetooth/controller/ll_sw/nordic/lll/lll_scan.c
  subsys/bluetooth/controller/ll_sw/nordic/lll/lll_scan_aux.c
  subsys/bluetooth/controller/ll_sw/nordic/lll/lll_slave.c
  subsys/bluetooth/controller/ll_sw/nordic/lll/lll_sync.c
Labels: area: Bluetooth

#29006 dts: boards: mm_swiftio: enable more devices
  boards/arm/mm_swiftio/mm_swiftio.dts
Labels: area: Boards, area: Devicetree

#27447 boards: cc1352r_sensortag: add support for TI CC1352R SensorTag
  boards/arm/cc1352r_sensortag/Kconfig.board
  boards/arm/cc1352r_sensortag/Kconfig.defconfig
  boards/arm/cc1352r_sensortag/board.cmake
  boards/arm/cc1352r_sensortag/cc1352r_sensortag.dts
  boards/arm/cc1352r_sensortag/cc1352r_sensortag.yaml
  boards/arm/cc1352r_sensortag/cc1352r_sensortag_defconfig
  boards/arm/cc1352r_sensortag/doc/img/cc1352r_sensortag.jpg
  boards/arm/cc1352r_sensortag/doc/img/launchpad-lpstk-debug.jpg
  boards/arm/cc1352r_sensortag/doc/index.rst
  boards/arm/cc1352r_sensortag/support/openocd.cfg
  tests/kernel/gen_isr_table/testcase.yaml
Labels: area: Boards, area: Devicetree, area: Documentation, area: Kernel, area: Samples, area: Tests

#29052 net: IPv4 bcast address recognized as multicast
  include/net/net_ip.h
  tests/net/ip-addr/src/main.c
Labels: area: API, area: Networking, area: Tests

#29053 net: lwm2m: Improve token generation
  subsys/net/lib/lwm2m/lwm2m_engine.c
  subsys/net/lib/lwm2m/lwm2m_engine.h
  subsys/net/lib/lwm2m/lwm2m_rd_client.c
Labels: area: Networking

#28200 Add support for OSDP Secure Channel
  include/mgmt/osdp.h
  subsys/mgmt/osdp/CMakeLists.txt
  subsys/mgmt/osdp/Kconfig
  subsys/mgmt/osdp/Kconfig.cp
  subsys/mgmt/osdp/Kconfig.pd
  subsys/mgmt/osdp/src/osdp.c
  subsys/mgmt/osdp/src/osdp_common.c
  subsys/mgmt/osdp/src/osdp_common.h
  subsys/mgmt/osdp/src/osdp_cp.c
  subsys/mgmt/osdp/src/osdp_pd.c
  subsys/mgmt/osdp/src/osdp_phy.c
  subsys/mgmt/osdp/src/osdp_sc.c
Labels: area: API

#28871 sensor: vcnl4040: Update dts binding for defaults
  doc/releases/release-notes-2.5.rst
  dts/bindings/sensor/vishay,vcnl4040.yaml
Labels: area: Devicetree, area: Devicetree Binding, area: Documentation

#29051 shell: fix compilation error
  subsys/shell/shell_cmds.c
Labels: area: Shell

#29026 tests: userspace: conserve memory
  tests/kernel/mem_protect/userspace/src/main.c
Labels: area: Kernel, area: Tests

#29075 shell: increase stack size for OpenThread
  subsys/shell/Kconfig
Labels: area: Shell

#29061 soc: arm: stm32l0: Add STM32L071 series
  dts/arm/st/l0/stm32l071.dtsi
  dts/arm/st/l0/stm32l071Xb.dtsi
  dts/arm/st/l0/stm32l072.dtsi
  soc/arm/st_stm32/stm32l0/Kconfig.defconfig.stm32l071xx
  soc/arm/st_stm32/stm32l0/Kconfig.soc
Labels: area: Devicetree, platform: STM32

#29065 boards: arm: nucleo_f030r8: Fix pinmux for I2C2 pins
  boards/arm/nucleo_f030r8/doc/index.rst
  boards/arm/nucleo_f030r8/pinmux.c
Labels: area: Boards, area: Documentation, platform: STM32

#29055 drivers/gpio:stm32: Change order of registers configuration
  drivers/gpio/gpio_stm32.c
Labels: bug, platform: STM32

#29067 Bluetooth: controller: openisa: Port drift implementation changes
  subsys/bluetooth/controller/ll_sw/openisa/lll/lll_conn.c
Labels: Trivial, area: Bluetooth

#28943 dts: remove legacy macro support
  Kconfig.zephyr
  boards/arm/nucleo_f429zi/doc/index.rst
  cmake/dts.cmake
  doc/guides/device_mgmt/dfu.rst
  doc/guides/dts/howtos.rst
  doc/guides/dts/index.rst
  doc/guides/dts/intro.rst
  doc/guides/dts/legacy-macros.bnf
  doc/guides/dts/legacy-macros.rst
  doc/reference/devicetree/index.rst
  doc/reference/storage/flash_map/example_fragment.dts
  doc/reference/storage/flash_map/flash_map.rst
  doc/releases/release-notes-2.3.rst
  doc/releases/release-notes-2.5.rst
  include/devicetree.h
  include/storage/flash_map.h
  samples/subsys/fs/littlefs/README.rst
  samples/subsys/mgmt/mcumgr/smp_svr/README.rst
  samples/subsys/mgmt/updatehub/README.rst
  samples/subsys/usb/dfu/README.rst
  scripts/dts/edtlib.py
  scripts/dts/gen_legacy_defines.py
  scripts/dts/test.dts
  scripts/dts/testedtlib.py
  scripts/kconfig/kconfigfunctions.py
  scripts/sanity_chk/expr_parser.py
  tests/deprecated/dts/CMakeLists.txt
  tests/deprecated/dts/boards/frdm_k64f.overlay
  tests/deprecated/dts/prj.conf
  tests/deprecated/dts/src/main.c
  tests/deprecated/dts/testcase.yaml
  tests/lib/devicetree/legacy_api/CMakeLists.txt
  tests/lib/devicetree/legacy_api/README
  tests/lib/devicetree/legacy_api/app.overlay
  tests/lib/devicetree/legacy_api/prj.conf
  tests/lib/devicetree/legacy_api/src/main.c
  tests/lib/devicetree/legacy_api/testcase.yaml
Labels: Release Notes, area: API, area: Boards, area: Build System, area: Devicetree, area: Devicetree Tooling, area: Documentation, area: Kconfig, area: Samples, area: Sanitycheck, area: Tests, platform: STM32

#29071 boards: arc: nsim_em7d_v22: switch to ns16550 UART model
  boards/arc/nsim/support/mdb_em7d_v22.args
  boards/arc/nsim/support/nsim_em7d_v22.props
Labels: area: Boards

#29072 usb: bluetooth: Hardcode USB EP sizes
  subsys/usb/class/bluetooth.c
  subsys/usb/class/bt_h4.c
Labels: area: Bluetooth, area: USB

#28984 net: websocket: Fix websocket loop close call
  subsys/net/lib/websocket/websocket.c
Labels: area: Networking

#28903 net: lib: http: chunked encoding body support
  subsys/net/lib/http/http_client.c
Labels: area: Networking

#29011 kernel: move kernel object APIs to own header
  CODEOWNERS
  include/kernel.h
  include/kernel_includes.h
  include/sys/kobject.h
  subsys/testsuite/ztest/include/syscalls/kobject.h
Labels: Trivial, area: API, area: Test Framework

#28910 arch: arm64: Remove useless asm code
  arch/arm/core/aarch64/fatal.c
  arch/arm/core/aarch64/reset.S
Labels: area: ARM, area: ARM_64

#29117 Bluetooth: controller: Move bsim radio hal header
  subsys/bluetooth/controller/ll_sw/nordic/hal/nrf5/radio/radio_sim_nrfxx.h
Labels: Trivial, area: Bluetooth, platform: nrf52_bsim

#28107 boards: Add SiLabs SLWSTK6121A (WGM160P)
  boards/arm/efm32gg_slwstk6121a/CMakeLists.txt
  boards/arm/efm32gg_slwstk6121a/Kconfig.board
  boards/arm/efm32gg_slwstk6121a/Kconfig.defconfig
  boards/arm/efm32gg_slwstk6121a/board.c
  boards/arm/efm32gg_slwstk6121a/board.cmake
  boards/arm/efm32gg_slwstk6121a/board.h
  boards/arm/efm32gg_slwstk6121a/doc/index.rst
  boards/arm/efm32gg_slwstk6121a/doc/wgm160p-starter-kit.jpg
  boards/arm/efm32gg_slwstk6121a/efm32gg_slwstk6121a.dts
  boards/arm/efm32gg_slwstk6121a/efm32gg_slwstk6121a.yaml
  boards/arm/efm32gg_slwstk6121a/efm32gg_slwstk6121a_defconfig
  soc/arm/silabs_exx32/efm32gg11b/Kconfig.defconfig.series
  soc/arm/silabs_exx32/efm32gg11b/Kconfig.soc
Labels: area: Boards, area: Devicetree, area: Documentation, platform: SiLabs

#29032 doc: west: add inline comments in the tree and manifest examples
  doc/guides/west/manifest.rst
  doc/guides/west/repo-tool.rst
Labels: area: Documentation

#27518 drivers: adc: added support adc driver for lpcexpresso55s69
  boards/arm/lpcxpresso55s69/doc/index.rst
  boards/arm/lpcxpresso55s69/lpcxpresso55s69_cpu0.dts
  boards/arm/lpcxpresso55s69/lpcxpresso55s69_cpu0.yaml
  boards/arm/lpcxpresso55s69/lpcxpresso55s69_ns.dts
  boards/arm/lpcxpresso55s69/lpcxpresso55s69_ns.yaml
  drivers/adc/CMakeLists.txt
  drivers/adc/Kconfig.mcux
  drivers/adc/adc_mcux_lpadc.c
  dts/arm/nxp/nxp_lpc55S6x_common.dtsi
  dts/bindings/iio/adc/nxp,lpc-lpadc.yaml
  modules/Kconfig.mcux
  soc/arm/nxp_lpc/lpc55xxx/Kconfig.defconfig.lpc55S69_cpu0
  soc/arm/nxp_lpc/lpc55xxx/Kconfig.soc
  tests/drivers/adc/adc_api/src/test_adc.c
Labels: area: ADC, area: Boards, area: Devicetree, area: Devicetree Binding, area: Documentation, area: Modules, area: Tests, platform: NXP

#29104 Bluetooth: controller: Fix rx quota mismatch due to ext adv terminate
  subsys/bluetooth/controller/ll_sw/ull.c
Labels: area: Bluetooth

#29049 Bluetooth: controller: Fix missing return on Auxiliary PDU abort
  subsys/bluetooth/controller/ll_sw/nordic/lll/lll_adv.c
  subsys/bluetooth/controller/ll_sw/nordic/lll/lll_adv_aux.c
  subsys/bluetooth/controller/ll_sw/nordic/lll/lll_master.c
  subsys/bluetooth/controller/ll_sw/nordic/lll/lll_scan.c
  subsys/bluetooth/controller/ll_sw/nordic/lll/lll_slave.c
  subsys/bluetooth/controller/ll_sw/ull_master.c
  subsys/bluetooth/controller/ll_sw/ull_slave.c
Labels: area: Bluetooth

#28926 net: shell: Add network mgmt events monitor support
  doc/reference/networking/net_shell.rst
  subsys/net/ip/Kconfig.mgmt
  subsys/net/ip/net_shell.c
  tests/net/all/prj.conf
Labels: area: Documentation, area: Networking, area: Tests

#29084 sanitycheck: Fix results for --cmake-only
  scripts/sanity_chk/sanitylib.py
Labels: area: Sanitycheck

#29118 Bluetooth: l2cap: Reduce size of disconnect pool
  subsys/bluetooth/host/l2cap.c
Labels: area: Bluetooth

#28643 fs: Improve documentation for FS API
  include/fs/fs.h
  subsys/fs/fs.c
Labels: area: API, area: Documentation, area: File System

#28656 boards: cy8ckit_062_wifi_bt: Squash M4 and M0 boards
  boards/arm/cy8ckit_062_wifi_bt/Kconfig.board
  boards/arm/cy8ckit_062_wifi_bt/Kconfig.defconfig
  boards/arm/cy8ckit_062_wifi_bt/board.cmake
  boards/arm/cy8ckit_062_wifi_bt/cy8ckit_062_wifi_bt_m0.dts
  boards/arm/cy8ckit_062_wifi_bt/cy8ckit_062_wifi_bt_m0.yaml
  boards/arm/cy8ckit_062_wifi_bt/cy8ckit_062_wifi_bt_m0_defconfig
  boards/arm/cy8ckit_062_wifi_bt/cy8ckit_062_wifi_bt_m4.dts
  boards/arm/cy8ckit_062_wifi_bt/cy8ckit_062_wifi_bt_m4.yaml
  boards/arm/cy8ckit_062_wifi_bt/cy8ckit_062_wifi_bt_m4_defconfig
  boards/arm/cy8ckit_062_wifi_bt/doc/img/cy8ckit_062_wifi_bt_m0.png
  boards/arm/cy8ckit_062_wifi_bt/doc/index.rst
  boards/arm/cy8ckit_062_wifi_bt/support/openocd.cfg
  boards/arm/cy8ckit_062_wifi_bt_m0/CMakeLists.txt
  boards/arm/cy8ckit_062_wifi_bt_m0/Kconfig.defconfig
  boards/arm/cy8ckit_062_wifi_bt_m0/pinmux.c
  boards/arm/cy8ckit_062_wifi_bt_m4/CMakeLists.txt
  boards/arm/cy8ckit_062_wifi_bt_m4/Kconfig.board
  boards/arm/cy8ckit_062_wifi_bt_m4/Kconfig.defconfig
  boards/arm/cy8ckit_062_wifi_bt_m4/board.cmake
  boards/arm/cy8ckit_062_wifi_bt_m4/doc/img/cy8ckit_062_wifi_bt.png
  boards/arm/cy8ckit_062_wifi_bt_m4/doc/index.rst
  boards/arm/cy8ckit_062_wifi_bt_m4/pinmux.c
  boards/arm/cy8ckit_062_wifi_bt_m4/support/openocd.cfg
Labels: area: Boards, area: Devicetree, area: Documentation

#28969 Align ST sensor to stmemsc HAL v1.03
  drivers/sensor/iis2dh/iis2dh.c
  drivers/sensor/iis2dh/iis2dh_trigger.c
  drivers/sensor/iis2dlpc/iis2dlpc.c
  drivers/sensor/iis2dlpc/iis2dlpc_trigger.c
  drivers/sensor/iis2mdc/iis2mdc.c
  drivers/sensor/iis2mdc/iis2mdc_trigger.c
  drivers/sensor/iis3dhhc/iis3dhhc.c
  drivers/sensor/iis3dhhc/iis3dhhc_trigger.c
  drivers/sensor/ism330dhcx/ism330dhcx.c
  drivers/sensor/ism330dhcx/ism330dhcx_trigger.c
  drivers/sensor/lis2dw12/lis2dw12.c
  drivers/sensor/lis2dw12/lis2dw12_trigger.c
  drivers/sensor/lis2mdl/lis2mdl.c
  drivers/sensor/lis2mdl/lis2mdl_trigger.c
  drivers/sensor/lps22hh/lps22hh.c
  drivers/sensor/lps22hh/lps22hh_trigger.c
  drivers/sensor/lsm6dso/lsm6dso_trigger.c
  drivers/sensor/stts751/stts751.c
  modules/Kconfig.st
  west.yml
Labels: area: Modules, area: Sensors, bug

#27070 esp32: workaround esptool linker sections limit
  soc/xtensa/esp32/linker.ld
Labels: Stale

#29158 Bluetooth: GATT: Refactor use of 16-bit UUID core types
  subsys/bluetooth/host/gatt.c
Labels: Trivial, area: Bluetooth

#29093 tests: uart_async_api: fix fault accessing cached device pointer
  tests/drivers/uart/uart_async_api/src/test_uart_async.c
Labels: area: Tests

#29167 arch/x86: Make EFI copies bytewise
  arch/x86/zefi/zefi.c
  arch/x86/zefi/zefi.py
Labels: area: X86

#29176 tests: sys_mutex: remove stack size override
  tests/kernel/mutex/sys_mutex/prj.conf
Labels: Trivial, area: Kernel, area: Tests

#29169 net: tcp2: Socket was accepted too early
  subsys/net/ip/tcp2.c
  subsys/net/ip/tcp2_priv.h
Labels: area: Networking

#29170 drivers: modem: hl7800: UDP socket not closed
  drivers/modem/hl7800.c
Labels: area: Modem

#29140 drivers: ethernet: eth_gecko: Fetch MAC address from device info
  boards/arm/efm32gg_slwstk6121a/efm32gg_slwstk6121a.dts
  boards/arm/efm32gg_stk3701a/efm32gg_stk3701a.dts
  drivers/ethernet/eth_gecko.c
Labels: area: Boards, area: Devicetree, area: Networking, platform: SiLabs

#28711 Test: ringbuffer: Improving the description for ringbuffer test cases.
  tests/lib/ringbuffer/src/main.c
Labels: area: Tests

#29185 Fix DHCPv4 message interval
  subsys/net/ip/dhcpv4.c
Labels: area: Networking

#29178 dts: arm: Fix k6x ethernet base address
  dts/arm/nxp/nxp_k6x.dtsi
Labels: area: Devicetree, bug

#29149 drivers/serial: stm32f1: REMAP_FULL is not a possible remap value
  drivers/serial/uart_stm32.c
Labels: bug, platform: STM32

#28599 drivers: adc_shell: rework commands
  drivers/adc/adc_shell.c
Labels: area: ADC, area: Drivers, area: Shell

#29081 eth: mcux: Use different RX and TX buffers for each instance
  drivers/ethernet/eth_mcux.c
Labels: area: Networking, platform: NXP

#28981 west build: fix --pristine on early build system failure
  scripts/west_commands/build_helpers.py
Labels: area: Build System, area: West, bug

#28734 Bluetooth: GATT: Improve service changed static RAM usage when disabled
  subsys/bluetooth/host/gatt.c
Labels: area: Bluetooth

#29181 Bluetooth: GATT: Fix regression in lazy loading of CCCs
  subsys/bluetooth/host/gatt.c
Labels: area: Bluetooth, bug

#29159 Bluetooth: GATT: Cleanup of bluetooth gatt header file
  include/bluetooth/gatt.h
Labels: area: API

#29142 kernel: k_busy_wait() should return immediately on zero timeout
  kernel/thread.c
Labels: area: Kernel

#29091 doc: board: cc1352r_sensortag: fix ordered list in index.rst
  boards/arm/cc1352r_sensortag/doc/index.rst
Labels: area: Boards, area: Documentation

#29152 arch/x86: fix compilation errors
  arch/x86/core/ia32/cache.c
Labels: area: X86

#29082 boards: mm_swiftio: enable pwm devices
  boards/arm/mm_swiftio/mm_swiftio.dts
  soc/arm/nxp_imx/rt/Kconfig.soc
Labels: area: Boards, area: Devicetree, platform: NXP

#29198 boards: particle: fix spi overlays
  boards/arm/particle_argon/dts/mesh_feather.dtsi
  boards/arm/particle_argon/dts/mesh_feather_spi1_spi3.dtsi
  boards/arm/particle_argon/dts/mesh_feather_spi_spi1.dtsi
  boards/arm/particle_argon/dts/mesh_feather_spi_spi3.dtsi
  boards/arm/particle_boron/dts/mesh_feather.dtsi
  boards/arm/particle_boron/dts/mesh_feather_spi1_spi3.dtsi
  boards/arm/particle_boron/dts/mesh_feather_spi_spi3.dtsi
  boards/arm/particle_xenon/dts/mesh_feather.dtsi
  boards/arm/particle_xenon/dts/mesh_feather_spi1_spi3.dtsi
  boards/arm/particle_xenon/dts/mesh_feather_spi_spi1.dtsi
  boards/arm/particle_xenon/dts/mesh_feather_spi_spi3.dtsi
Labels: area: Boards, area: Devicetree

#29204 tests: sched_api remove misprints and etc
  tests/kernel/sched/schedule_api/src/main.c
  tests/kernel/sched/schedule_api/src/test_priority_scheduling.c
  tests/kernel/sched/schedule_api/src/test_sched_is_preempt_thread.c
  tests/kernel/sched/schedule_api/src/test_sched_priority.c
  tests/kernel/sched/schedule_api/src/test_sched_timeslice_and_lock.c
  tests/kernel/sched/schedule_api/src/test_sched_timeslice_reset.c
  tests/kernel/sched/schedule_api/src/test_slice_scheduling.c
Labels: area: Kernel, area: Tests

#28813 drivers: serial: stm32: set default parity in driver
  drivers/serial/uart_stm32.c
  dts/bindings/serial/st,stm32-lpuart.yaml
  dts/bindings/serial/st,stm32-uart.yaml
  dts/bindings/serial/st,stm32-usart.yaml
Labels: area: Devicetree, area: Devicetree Binding, platform: STM32

#29161 lorawan,lora: fix C++ compilation/linking errors
  include/drivers/lora.h
  include/lorawan/lorawan.h
Labels: area: API, area: LoRa

#29191 Bluetooth: host: Fix missing BT_DEV_EXPLICIT_SCAN flag clear
  subsys/bluetooth/host/hci_core.c
Labels: Trivial, area: Bluetooth, bug

#28920 SPI: Do not disable SPI peripheral while switching DMA buffers
  drivers/spi/spi_ll_stm32.c
Labels: area: SPI, platform: STM32

#29215 doc: add HW stack protection enabling in the board porting guidelines
  doc/guides/porting/board_porting.rst
Labels: area: Documentation

#29129 Add STM iis2iclx inclinometer device
  drivers/sensor/CMakeLists.txt
  drivers/sensor/Kconfig
  drivers/sensor/iis2iclx/CMakeLists.txt
  drivers/sensor/iis2iclx/Kconfig
  drivers/sensor/iis2iclx/iis2iclx.c
  drivers/sensor/iis2iclx/iis2iclx.h
  drivers/sensor/iis2iclx/iis2iclx_i2c.c
  drivers/sensor/iis2iclx/iis2iclx_shub.c
  drivers/sensor/iis2iclx/iis2iclx_spi.c
  drivers/sensor/iis2iclx/iis2iclx_trigger.c
  dts/bindings/sensor/st,iis2iclx-i2c.yaml
  dts/bindings/sensor/st,iis2iclx-spi.yaml
  tests/drivers/build_all/app.overlay
  tests/drivers/build_all/i2c.dtsi
  tests/drivers/build_all/sensors_stmemsc.conf
  tests/drivers/build_all/sensors_stmemsc_trigger.conf
  tests/drivers/build_all/spi.dtsi
Labels: area: Devicetree, area: Devicetree Binding, area: Drivers, area: Sensors, area: Tests

#29234 Bluetooth: remove unused extern z_prf
  subsys/bluetooth/host/monitor.c
Labels: area: Bluetooth

#25641 tests: add new kernel objects tests
  tests/kernel/mem_protect/mem_protect/src/kobject.c
  tests/kernel/mem_protect/mem_protect/src/main.c
  tests/kernel/mem_protect/mem_protect/src/mem_protect.h
  tests/kernel/mem_protect/obj_validation/prj.conf
  tests/kernel/mem_protect/obj_validation/src/main.c
  tests/kernel/mem_protect/userspace/src/main.c
Labels: area: Kernel, area: Tests
