Repository zephyrproject-rtos/zephyr, pull requests merged in 2020-12, with the labels that each got.

#30341 drivers: wifi: winc1500: remove unused send_cb and send_user_data
  drivers/wifi/winc1500/wifi_winc1500.c
Labels: area: Networking

#30283 [TOPIC-BLE-LLCP] Bluetooth: controller: Fix build with legacy LLCP
  subsys/bluetooth/controller/ll_sw/ull_slave.c
Labels: area: Bluetooth

#30347 net: shell: Fix statistics for network interface
  subsys/net/ip/net_shell.c
Labels: area: Networking

#30337 linker: rename the section for emulators
  include/linker/common-rom.ld
Labels: Trivial, area: API

#30272 cmake: manual handling of CMakeCheckCompilerFlag.cmake inclusion
  cmake/app/boilerplate.cmake
Labels: area: Build System

#30172 arch: arm64: correct vector_table alignment
  arch/arm/core/aarch64/vector_table.S
Labels: area: ARM, area: ARM_64

#29188 tests: access kernel object with private data using system call
  tests/kernel/queue/src/main.c
  tests/kernel/queue/src/test_queue.h
  tests/kernel/queue/src/test_queue_contexts.c
  tests/kernel/queue/testcase.yaml
Labels: area: Kernel, area: Memory Protection, area: Tests

#30200 net: lwm2m: Rework bootstrap DELETE operation
  subsys/net/lib/lwm2m/lwm2m_engine.c
Labels: area: Networking

#29955 Fix rand32_ctr_drbg error handling
  subsys/random/rand32_ctr_drbg.c
Labels: bug

#30138 net: lwm2m: Verify if block transfer is used before skipping TLV parsing
  subsys/net/lib/lwm2m/lwm2m_rw_oma_tlv.c
Labels: area: Networking

#30323 drivers: counter: stm32_rtc: misc cleanup
  drivers/counter/Kconfig.stm32_rtc
  drivers/counter/counter_ll_stm32_rtc.c
Labels: area: Counter, platform: STM32

#29453 drivers: modem: Add support for quectel bg95
  drivers/modem/CMakeLists.txt
  drivers/modem/Kconfig
  drivers/modem/Kconfig.quectel-bg9x
  drivers/modem/quectel-bg9x.c
  drivers/modem/quectel-bg9x.h
  dts/bindings/modem/quectel,bg9x.yaml
  tests/drivers/build_all/modem_quectel_bg9x.conf
  tests/drivers/build_all/testcase.yaml
  tests/drivers/build_all/uart.dtsi
Labels: area: Devicetree, area: Devicetree Binding, area: Modem, area: Tests

#30357 drivers/timer: stm32_lptim: Fix stm32 ll header list
  drivers/timer/stm32_lptim_timer.c
Labels: Hotfix, area: Timer, platform: STM32

#30327 arch: arm: aarch32:cortex_m: timing.c: cortex M7 may need DWT unlock
  arch/arm/core/aarch32/cortex_m/timing.c
Labels: area: ARM

#27014 Samples: Add SMP pktqueue application
  samples/smp/pktqueue/CMakeLists.txt
  samples/smp/pktqueue/README.rst
  samples/smp/pktqueue/prj.conf
  samples/smp/pktqueue/sample.yaml
  samples/smp/pktqueue/src/main.c
  samples/smp/pktqueue/src/main.h
  samples/smp/pktqueue/src/pktqueue.c
  samples/smp/pktqueue/src/pktqueue.h
Labels: area: Documentation, area: SMP, area: Samples

#30382 shell: api description update
  include/shell/shell.h
Labels: Trivial, area: API, area: Shell

#30351 manifest: Update hal nordic
  west.yml
Labels: area: Modules, manifest, manifest-hal_nordic, west

#30385 eth: mcux: Replace DT_ALIAS() macro with DT_NODELABEL() for fixed link
  drivers/ethernet/eth_mcux.c
Labels: area: Networking, platform: NXP

#30345 bluetooth: controller: nrf: Provide info about used DPPI resources
  subsys/bluetooth/controller/ll_sw/nordic/hal/nrf5/radio/radio_nrf5_ppi.h
  west.yml
Labels: area: Bluetooth, area: Bluetooth Controller, area: Modules, manifest, manifest-hal_nordic, platform: nRF, west

#30407 Bluetooth: tester: Fix an error response in tester
  tests/bluetooth/tester/src/gap.c
Labels: Trivial, area: Tests, bug

#30339 Bluetooth: host: Fix data type of advertising set handle
  subsys/bluetooth/host/hci_core.c
  subsys/bluetooth/host/hci_core.h
Labels: area: Bluetooth, area: Bluetooth Host

#30396 tests: subsys: power_mgmt: Limit to 1 CPU configurations
  tests/subsys/power/power_mgmt/prj.conf
Labels: Trivial, area: Tests

#30389 tests: move shell tests to subsys directory
  tests/subsys/shell/shell/CMakeLists.txt
  tests/subsys/shell/shell/prj.conf
  tests/subsys/shell/shell/shell_min.conf
  tests/subsys/shell/shell/shell_min_cmds.conf
  tests/subsys/shell/shell/shell_min_cmds_all.conf
  tests/subsys/shell/shell/shell_min_cmds_resize.conf
  tests/subsys/shell/shell/shell_min_cmds_select.conf
  tests/subsys/shell/shell/shell_min_colors.conf
  tests/subsys/shell/shell/shell_min_help.conf
  tests/subsys/shell/shell/shell_min_help_all.conf
  tests/subsys/shell/shell/shell_min_history.conf
  tests/subsys/shell/shell/shell_min_log_backend.conf
  tests/subsys/shell/shell/shell_min_metakeys.conf
  tests/subsys/shell/shell/shell_min_tab.conf
  tests/subsys/shell/shell/shell_min_tab_auto.conf
  tests/subsys/shell/shell/shell_min_wildcards.conf
  tests/subsys/shell/shell/src/main.c
  tests/subsys/shell/shell/testcase.yaml
Labels: Trivial, area: Shell, area: Tests

#30202 soc: arm: add support for stm32h753xx
  dts/arm/st/h7/stm32h753.dtsi
  dts/arm/st/h7/stm32h753Xi.dtsi
  soc/arm/st_stm32/stm32h7/Kconfig.defconfig.stm32h753xx
  soc/arm/st_stm32/stm32h7/Kconfig.soc
Labels: Release Notes, area: Devicetree, platform: STM32

#30332 tests: openthread: Fix build warnings
  tests/subsys/openthread/radio_test.c
Labels: area: Tests

#30425 ci: double number of worker for Dec 2020
  .buildkite/pipeline.yml
Labels: Trivial

#30422 samples: bluetooth: hci_rpmsg: change the allowed platform to nRF5340 DK
  samples/bluetooth/hci_rpmsg/sample.yaml
Labels: Trivial, area: Samples, platform: nRF

#29844 AArch64: Use SP_EL0 instead of SP_ELx
  arch/arm/core/aarch64/macro_priv.inc
  arch/arm/core/aarch64/reset.S
  arch/arm/core/aarch64/thread.c
  arch/arm/core/aarch64/vector_table.S
  include/arch/arm/aarch64/cpu.h
Labels: area: API, area: ARM, area: ARM_64

#30412 west.yml: Update hal_nordic revision
  west.yml
Labels: area: Modules, manifest, manifest-hal_nordic, west

#30290 net: syslog: Make sure CONFIG_LOG_IMMEDIATE is not set
  samples/net/syslog_net/prj.conf
  samples/net/syslog_net/src/main.c
  subsys/logging/Kconfig
Labels: area: Logging, area: Networking, area: Samples

#29783 Bluetooth: controller: Fix AdvA/TgtA for extended adv PDUs
  subsys/bluetooth/controller/ll_sw/ull_adv.c
  subsys/bluetooth/controller/ll_sw/ull_adv_internal.h
  subsys/bluetooth/controller/ll_sw/ull_filter.c
  subsys/bluetooth/controller/ll_sw/ull_filter.h
Labels: area: Bluetooth, area: Bluetooth Controller

#30421 settings: fix possible unaligned write while a line coping
  subsys/settings/src/settings_line.c
Labels: area: Settings, bug

#30289 Bluetooth: controller: Initialize scan rsp only for legacy adv
  subsys/bluetooth/controller/ll_sw/ull_adv.c
Labels: area: Bluetooth, area: Bluetooth Controller

#30291 Bluetooth: controller: Use proper handle in advertising events
  subsys/bluetooth/controller/hci/hci.c
  subsys/bluetooth/controller/include/ll.h
  subsys/bluetooth/controller/ll_sw/ull_adv.c
Labels: Trivial, area: Bluetooth, area: Bluetooth Controller

#30455 kernel: init: activate FPU for main thread
  kernel/init.c
Labels: area: Kernel

#29343 kernel: sched: Use k_ticks_t in z_tick_sleep
  kernel/sched.c
Labels: area: Kernel, area: Tests, bug

#30414 Bluetooth: controller: Fix Coded PHY S2 S8 coding use
  subsys/bluetooth/controller/ll_sw/ull_adv.c
  subsys/bluetooth/controller/ll_sw/ull_conn.c
  subsys/bluetooth/controller/ll_sw/ull_conn_types.h
  subsys/bluetooth/controller/ll_sw/ull_master.c
Labels: area: Bluetooth, area: Bluetooth Controller

#28929 drivers: watchdog: Fix STM32 IWDG timeout calculation
  drivers/watchdog/Kconfig.stm32
  drivers/watchdog/wdt_iwdg_stm32.c
Labels: area: API, area: Watchdog, bug, platform: STM32

#30409 toolchain: improved toolchain abstraction for compilers and linker
  arch/arc/core/CMakeLists.txt
Labels: Code Coverage, area: ARC, area: Toolchains

#30443 qemu_cortex_a53: Get SRAM info from DTS
  boards/arm/qemu_cortex_a53/qemu_cortex_a53.dts
  boards/arm/qemu_cortex_a53/qemu_cortex_a53_defconfig
  dts/arm/qemu-virt/qemu-virt-a53.dtsi
Labels: area: Boards, area: Devicetree

#30458 drivers: modem: fix sending with zero timeout and no semaphore
  drivers/modem/modem_cmd_handler.c
Labels: area: Modem, bug

#30247 Bluetooth: controller: Fix corruption of footer auto-variable
  subsys/bluetooth/controller/ll_sw/ull_scan_aux.c
Labels: Trivial, area: Bluetooth, area: Bluetooth Controller

#30274 Bluetooth: controller: Fix incorrect initiator window offset
  subsys/bluetooth/controller/ll_sw/nordic/lll/lll_scan.c
Labels: area: Bluetooth, area: Bluetooth Controller

#30387 west.yml: Update hal_nordic to the latest version
  west.yml
Labels: area: Modules, manifest, manifest-hal_nordic, west

#30250 test: workqueue : add testcase to improve coverage
  tests/kernel/workq/work_queue_api/src/main.c
Labels: area: Kernel, area: Tests

#30436 drivers: serial: nrfx_uarte: Fix race condition in TX path
  drivers/serial/uart_nrfx_uarte.c
Labels: area: UART, bug, platform: nRF

#30428 eth: mcux: Fix proper handling of the 'local-mac-address' property
  drivers/ethernet/eth_mcux.c
Labels: area: Networking, platform: NXP

#30132 Bluetooth: controller: Fix ull_conn LSTO for must_expire
  subsys/bluetooth/controller/ll_sw/ull_conn.c
  subsys/bluetooth/controller/ll_sw/ull_conn_types.h
  subsys/bluetooth/controller/ll_sw/ull_master.c
  subsys/bluetooth/controller/ll_sw/ull_slave.c
Labels: DNM, area: Bluetooth

#30490 Bluetoth: controller: Fix memory corruption in RPA refresh
  subsys/bluetooth/controller/ll_sw/ull_filter.c
Labels: Hotfix, area: Bluetooth, area: Bluetooth Controller

#30485 maintainers: remove obsolete path
  MAINTAINERS.yml
Labels: Trivial

#30482 drivers: clock_control: Fix missing ifdefs for stm32wb, stm32g0
  drivers/clock_control/clock_stm32_ll_common.c
Labels: platform: STM32

#30457 boards: arm: sam4e/s: Enable bossac bootloader runner
  boards/arm/sam4e_xpro/board.cmake
  boards/arm/sam4e_xpro/doc/index.rst
  boards/arm/sam4s_xplained/board.cmake
  boards/arm/sam4s_xplained/doc/index.rst
Labels: Trivial, area: Boards, area: Documentation, platform: ATMEL

#30495 maintainers file: add missing labels
  MAINTAINERS.yml
Labels: Trivial

#30492 west.yml: Update hal_nordic revision
  west.yml
Labels: area: Modules, manifest, manifest-hal_nordic, west

#30499 Bluetooth: controller: Fix cond. compile of conn window offset calc
  subsys/bluetooth/controller/ll_sw/nordic/lll/lll_scan.c
Labels: Hotfix, area: Bluetooth, area: Bluetooth Controller

#28732 boards: arm: Add RAK5010 WisTrio LTE-M Tracker board
  CODEOWNERS
  boards/arm/rak5010_nrf52840/Kconfig.board
  boards/arm/rak5010_nrf52840/Kconfig.defconfig
  boards/arm/rak5010_nrf52840/board.cmake
  boards/arm/rak5010_nrf52840/doc/img/rak5010-front-parts.jpeg
  boards/arm/rak5010_nrf52840/doc/index.rst
  boards/arm/rak5010_nrf52840/rak5010_nrf52840.dts
  boards/arm/rak5010_nrf52840/rak5010_nrf52840.yaml
  boards/arm/rak5010_nrf52840/rak5010_nrf52840_defconfig
  tests/drivers/adc/adc_api/src/test_adc.c
Labels: Release Notes, area: Boards, area: Devicetree, area: Documentation, area: Samples, area: Tests, platform: nRF

#30463 drivers: bluetooth: Add timeout to rpmsg init
  drivers/bluetooth/hci/rpmsg_nrf53.c
Labels: RFC

#30523 west.yml: Update hal_nordic revision
  west.yml
Labels: area: Modules, manifest, manifest-hal_nordic, west

#29123 drivers: ieee802154: nrf5: Add support for tx in the future
  drivers/ieee802154/Kconfig.nrf5
  drivers/ieee802154/ieee802154_nrf5.c
Labels: area: Networking

#30522 drivers: timer: nrf_rtc_timer: Fix int_mask initialization
  drivers/timer/nrf_rtc_timer.c
Labels: area: Timer, bug, platform: nRF

#30494 tests: kernel: exception: use cbprintf_nano for arm fpu
  tests/kernel/fatal/exception/prj_arm_fpu_sharing.conf
Labels: area: Kernel, area: Tests

#30484 drivers: can: add network interafce for mcp2515
  drivers/can/can_mcp2515.c
Labels: area: CAN

#30524 soc: nuvoton_npcx: fix spelling in macro name
  soc/arm/nuvoton_npcx/common/soc_dt.h
Labels: Trivial

#30388 modules/Kconfig.nordic: Allow using direct 802.15.4 calls for nRF53
  modules/Kconfig.nordic
Labels: area: Modules

#30003 kernel: add k_heap_aligned_alloc
  include/kernel.h
  kernel/kheap.c
Labels: area: API, area: Kernel

#30481 net: mqtt: Return -1 if keepalive messages are disabled.
  doc/releases/release-notes-2.5.rst
  include/net/mqtt.h
  subsys/net/lib/mqtt/mqtt.c
Labels: area: API, area: Documentation, area: Networking

#30510 lib: cbprintf: float conversion optimization and documentation
  lib/os/cbprintf_complete.c
  tests/unit/cbprintf/main.c
Labels: area: Tests

#30534 Revert "kernel: fix usage of KERNEL_COHERENCE macro"
  include/spinlock.h
  kernel/init.c
  kernel/sched.c
  kernel/thread.c
  kernel/timeout.c
Labels: Hotfix, area: API, area: Kernel

#30542 net: lwm2m: fix buffer length check in lwm2m_engine_set
  subsys/net/lib/lwm2m/lwm2m_engine.c
Labels: area: Networking

#30545 west.yml: trusted-firmware-m: update module to clean up mbed-crypto
  west.yml
Labels: area: Modules, manifest, manifest-trusted-firmware-m, west

#30532 sanitycheck: fix json file generation
  scripts/sanity_chk/sanitylib.py
Labels: area: Sanitycheck

#30439 samples: net: syslog: Add Docker based testing support
  samples/net/syslog_net/Kconfig
  samples/net/syslog_net/boards/native_posix.conf
  samples/net/syslog_net/docker-test.sh
  samples/net/syslog_net/src/main.c
  west.yml
Labels: area: Modules, area: Networking, area: Samples, area: native port, manifest, manifest-net-tools, west

#30560 doc: fix doxygen groups for k_heap
  include/kernel.h
Labels: Trivial, area: Documentation

#30549 net: openthread: add missing settings deinit function
  subsys/net/lib/openthread/platform/settings.c
Labels: area: Networking

#30565 x86: mmu: minor memory management updates
  arch/x86/core/x86_mmu.c
Labels: Trivial, area: X86

#30556 net: openthread: Add option to enable software CSMA backoff
  subsys/net/l2/openthread/Kconfig
  subsys/net/lib/openthread/platform/openthread-core-zephyr-config.h
Labels: area: Networking

#30471 Bluetooth: Mesh: Fixes wrong app_key_idx parameters
  subsys/bluetooth/mesh/cfg_srv.c
Labels: area: Bluetooth, area: Bluetooth Mesh

#30555 Bluetooth: controller: Fix CUI/CPR lock during TO
  subsys/bluetooth/controller/ll_sw/ull_conn.c
Labels: area: Bluetooth, area: Bluetooth Controller, backport v2.4-branch

#30489 drivers: clock_control: nrf: Add audio clock support to nrf53
  drivers/clock_control/clock_control_nrf.c
  include/drivers/clock_control/nrf_clock_control.h
Labels: area: API, area: Clock Control, bug, platform: nRF

#30231 drivers: flash: flash_stm32g4x.c: manage bank1/2 discontinuity
  drivers/flash/flash_stm32.c
  drivers/flash/flash_stm32g4x.c
Labels: area: Flash, platform: STM32

#30474 Bluetooth: Mesh: Fixes LPN poll timeout gradually grow
  subsys/bluetooth/mesh/lpn.c
Labels: area: Bluetooth, area: Bluetooth Mesh

#30570 drivers: pwm: Convert drivers to new DT device macros
  drivers/pwm/pwm_imx.c
  drivers/pwm/pwm_litex.c
  drivers/pwm/pwm_mchp_xec.c
  drivers/pwm/pwm_mcux.c
  drivers/pwm/pwm_mcux_ftm.c
  drivers/pwm/pwm_mcux_tpm.c
  drivers/pwm/pwm_npcx.c
  drivers/pwm/pwm_nrf5_sw.c
  drivers/pwm/pwm_nrfx.c
  drivers/pwm/pwm_rv32m1_tpm.c
  drivers/pwm/pwm_sam.c
  drivers/pwm/pwm_sam0_tcc.c
  drivers/pwm/pwm_sifive.c
  drivers/pwm/pwm_stm32.c
  drivers/pwm/pwm_xlnx_axi_timer.c
Labels: area: PWM, platform: NXP, platform: STM32

#30249 bluetooth: host: Disallow directed adv options on undirected adv
  subsys/bluetooth/host/hci_core.c
Labels: area: Bluetooth

#30535 tests/unit/cbprintf: another float conversion edge case
  tests/unit/cbprintf/main.c
Labels: area: Tests

#30501 Kconfig.zephyr: allow override default values in module Kconfig files
  Kconfig.zephyr
Labels: area: Kconfig, bug

#30567 drivers: adc: Convert drivers to new DT device macros
  drivers/adc/adc_lmp90xxx.c
  drivers/adc/adc_mchp_xec.c
  drivers/adc/adc_mcp320x.c
  drivers/adc/adc_mcux_adc12.c
  drivers/adc/adc_mcux_adc16.c
  drivers/adc/adc_mcux_lpadc.c
  drivers/adc/adc_npcx.c
  drivers/adc/adc_nrfx_adc.c
  drivers/adc/adc_nrfx_saadc.c
  drivers/adc/adc_sam0.c
  drivers/adc/adc_sam_afec.c
  drivers/adc/adc_stm32.c
Labels: area: ADC, platform: NXP, platform: STM32

#30568 drivers: spi: Convert drivers to new DT device macros
  drivers/spi/spi_cc13xx_cc26xx.c
  drivers/spi/spi_dw.c
  drivers/spi/spi_emul.c
  drivers/spi/spi_gecko.c
  drivers/spi/spi_litespi.c
  drivers/spi/spi_ll_stm32.c
  drivers/spi/spi_mcux_dspi.c
  drivers/spi/spi_mcux_flexcomm.c
  drivers/spi/spi_mcux_lpspi.c
  drivers/spi/spi_nrfx_spis.c
  drivers/spi/spi_oc_simple.c
  drivers/spi/spi_rv32m1_lpspi.c
  drivers/spi/spi_sam.c
  drivers/spi/spi_sam0.c
  drivers/spi/spi_sifive.c
  drivers/spi/spi_xec_qmspi.c
  drivers/spi/spi_xlnx_axi_quadspi.c
Labels: area: SPI, platform: NXP, platform: STM32, platform: SiLabs

#30050 west.yml: Update TFM module SHA to bring in the TFM MCUboot update
  west.yml
Labels: area: Modules, manifest, manifest-trusted-firmware-m, west

#30589 Bluetooth: Mesh: Pull all function calls out of the K_MSEC macro
  subsys/bluetooth/mesh/friend.c
  subsys/bluetooth/mesh/lpn.c
  subsys/bluetooth/mesh/transport.c
Labels: Trivial, area: Bluetooth, area: Bluetooth Mesh, bug

#30598 drivers: spi: spi_nrfx_spis: Fix compile error
  drivers/spi/spi_nrfx_spis.c
Labels: Hotfix, area: SPI

#30610 Revert "west.yml: Update TFM module SHA to..."
  west.yml
Labels: Hotfix, area: Modules, manifest, manifest-trusted-firmware-m, priority: high, west

#30605 drivers: display: mcux_elcdif: fix k_heap call
  drivers/display/display_mcux_elcdif.c
Labels: Hotfix, area: Display, platform: NXP

#30602 drivers: flash: stm32g4x: Fix include for dual bank
  drivers/flash/flash_stm32g4x.c
Labels: Hotfix, area: Flash, bug, platform: STM32

#30559 tests: mem_protect: exclude nRF5340 DK from the gap filling test
  tests/kernel/mem_protect/mem_protect/testcase.yaml
Labels: Trivial, area: Kernel, area: Tests, platform: nRF

#30640 drivers: pwm: fix nrfx pwm device definition
  drivers/pwm/pwm_nrfx.c
Labels: Hotfix, area: PWM, platform: nRF

#30623 Bluetooth: Mesh: Fix overflow of ivu_duration value
  subsys/bluetooth/mesh/net.c
Labels: Trivial, area: Bluetooth, area: Bluetooth Mesh, bug

#30592 drivers: watchdog: Convert drivers to new DT device macros
  drivers/watchdog/wdt_cmsdk_apb.c
  drivers/watchdog/wdt_esp32.c
  drivers/watchdog/wdt_gecko.c
  drivers/watchdog/wdt_iwdg_stm32.c
  drivers/watchdog/wdt_mchp_xec.c
  drivers/watchdog/wdt_mcux_imx_wdog.c
  drivers/watchdog/wdt_mcux_wdog.c
  drivers/watchdog/wdt_mcux_wdog32.c
  drivers/watchdog/wdt_mcux_wwdt.c
  drivers/watchdog/wdt_nrfx.c
  drivers/watchdog/wdt_sam.c
  drivers/watchdog/wdt_sam0.c
  drivers/watchdog/wdt_wwdg_stm32.c
Labels: area: Watchdog, platform: NXP, platform: STM32, platform: SiLabs

#29852 [LVLG][CI] Added support to run lvgl sample on native_posix with sanitycheck
  samples/display/lvgl/sample.yaml
Labels: area: Display, area: Samples, area: Sanitycheck

#30644 drivers: pwm: pwm_mcux_tpm: Fix build failure
  drivers/pwm/pwm_mcux_tpm.c
Labels: Hotfix, Trivial, area: PWM, platform: NXP

#30648 drivers: i2c: i2c_sifive: Fix build issue
  drivers/i2c/i2c_sifive.c
Labels: Hotfix, Trivial, area: I2C

#30627 intc: gic: Use SYS_INIT instead of custom init function
  arch/arm/core/aarch32/cortex_a_r/irq_init.c
  arch/arm/core/aarch64/irq_init.c
  drivers/interrupt_controller/intc_gic.c
  drivers/interrupt_controller/intc_gicv3.c
  include/drivers/interrupt_controller/gic.h
Labels: area: API, area: ARM, area: ARM_64

#30645 x86: Fix compiler warning in z_x86_dump_mmu_flags
  arch/x86/core/x86_mmu.c
Labels: Hotfix, Trivial, area: X86

#30661 runners: mdb: fix imports
  scripts/west_commands/runners/mdb.py
Labels: Trivial

#30653 sanitycheck: misc fixes
  scripts/pylib/twister/twisterlib.py
  scripts/twister
Labels: area: Sanitycheck

#30551 LwM2M: Added new callback type for Executes: includes payload to support execute parameters
  doc/reference/networking/lwm2m.rst
  doc/releases/release-notes-2.5.rst
  include/net/lwm2m.h
  samples/net/lwm2m_client/src/lwm2m-client.c
  subsys/net/lib/lwm2m/ipso_generic_sensor.c
  subsys/net/lib/lwm2m/ipso_humidity_sensor.c
  subsys/net/lib/lwm2m/ipso_pressure_sensor.c
  subsys/net/lib/lwm2m/ipso_temp_sensor.c
  subsys/net/lib/lwm2m/ipso_timer.c
  subsys/net/lib/lwm2m/lwm2m_engine.c
  subsys/net/lib/lwm2m/lwm2m_obj_device.c
  subsys/net/lib/lwm2m/lwm2m_obj_firmware.c
  subsys/net/lib/lwm2m/lwm2m_obj_server.c
  subsys/net/lib/lwm2m/lwm2m_object.h
Labels: area: API, area: Documentation, area: Networking, area: Samples

#30597 drivers: gpio: Convert drivers to new DT device macros
  drivers/gpio/gpio_cc13xx_cc26xx.c
  drivers/gpio/gpio_cc32xx.c
  drivers/gpio/gpio_cmsdk_ahb.c
  drivers/gpio/gpio_dw.c
  drivers/gpio/gpio_esp32.c
  drivers/gpio/gpio_gecko.c
  drivers/gpio/gpio_ht16k33.c
  drivers/gpio/gpio_imx.c
  drivers/gpio/gpio_intel_apl.c
  drivers/gpio/gpio_litex.c
  drivers/gpio/gpio_lmp90xxx.c
  drivers/gpio/gpio_lpc11u6x.c
  drivers/gpio/gpio_mchp_xec.c
  drivers/gpio/gpio_mcp23s17.c
  drivers/gpio/gpio_mcux.c
  drivers/gpio/gpio_mcux_igpio.c
  drivers/gpio/gpio_mcux_lpc.c
  drivers/gpio/gpio_npcx.c
  drivers/gpio/gpio_pca95xx.c
  drivers/gpio/gpio_rv32m1.c
  drivers/gpio/gpio_sam.c
  drivers/gpio/gpio_sam0.c
  drivers/gpio/gpio_sam4l.c
  drivers/gpio/gpio_sifive.c
  drivers/gpio/gpio_stellaris.c
  drivers/gpio/gpio_stm32.c
  drivers/gpio/gpio_xlnx_axi.c
Labels: platform: NXP, platform: STM32, platform: SiLabs

#30599 drivers: counters: Fix TIMER0 and RTC0 with Bluetooth controller
  drivers/counter/Kconfig.nrfx
  drivers/timer/Kconfig
  soc/arm/nordic_nrf/Kconfig.peripherals
  subsys/bluetooth/controller/Kconfig
Labels: area: Bluetooth, area: Bluetooth Controller, area: Counter, area: Timer

#30647 boards: arm: arty: Enable gpio is a feature on board yaml
  boards/arm/arty/arty_a7_arm_designstart_m1.yaml
  boards/arm/arty/arty_a7_arm_designstart_m3.yaml
Labels: Trivial, area: Boards

#30600 drivers: entropy: Convert drivers to new DT device macros
  drivers/entropy/entropy_cc13xx_cc26xx.c
  drivers/entropy/entropy_esp32.c
  drivers/entropy/entropy_gecko_trng.c
  drivers/entropy/entropy_litex.c
  drivers/entropy/entropy_mcux_rng.c
  drivers/entropy/entropy_mcux_rnga.c
  drivers/entropy/entropy_mcux_trng.c
  drivers/entropy/entropy_nrf5.c
  drivers/entropy/entropy_rv32m1_trng.c
  drivers/entropy/entropy_sam.c
  drivers/entropy/entropy_stm32.c
  drivers/entropy/fake_entropy_native_posix.c
Labels: area: native port, platform: NXP, platform: STM32, platform: SiLabs

#30674 cmake: ZEPHYR_EXTRA_MODULES evaluated too late
  cmake/app/boilerplate.cmake
Labels: area: Build System

#30642 drivers: dac: Enable for STM32H7 (single core) series
  dts/arm/st/h7/stm32h7.dtsi
Labels: area: Devicetree, platform: STM32

#30281 logging: Reduce missinglog_strdup() on SPARC
  subsys/logging/log_core.c
Labels: area: Logging

#29669 dfu: mcuboot: add shell module
  subsys/dfu/Kconfig
  subsys/dfu/boot/CMakeLists.txt
  subsys/dfu/boot/mcuboot.c
  subsys/dfu/boot/mcuboot_priv.h
  subsys/dfu/boot/mcuboot_shell.c
Labels: Enhancement, area: MCUBoot, area: Shell

#30637 cmake: use the toolchain path, id and version as extended signature.
  cmake/target_toolchain.cmake
  cmake/target_toolchain_flags.cmake
Labels: area: Build System

#29088 drivers: pwm: nrf_sw: use Nordic HAL to configure GPIO
  drivers/pwm/pwm_nrf5_sw.c
Labels: Trivial, area: PWM, platform: nRF

#30716 Revert "boards/x86: Enable Intel VT-D for up_squared"
  boards/x86/up_squared/up_squared.dts
  boards/x86/up_squared/up_squared_defconfig
Labels: area: Boards, area: Devicetree

#29971 [TOPIC-BLE-LLCP] Bluetooth: controller: llcp: CU/CPR Procedure
  subsys/bluetooth/controller/ll_sw/ull_llcp.c
  subsys/bluetooth/controller/ll_sw/ull_llcp.h
  subsys/bluetooth/controller/ll_sw/ull_llcp_conn_upd.c
  subsys/bluetooth/controller/ll_sw/ull_llcp_internal.h
  subsys/bluetooth/controller/ll_sw/ull_llcp_local.c
  subsys/bluetooth/controller/ll_sw/ull_llcp_pdu.c
  subsys/bluetooth/controller/ll_sw/ull_llcp_remote.c
  tests/bluetooth/controller/common/defaults_cmake.txt
  tests/bluetooth/controller/common/include/helper_pdu.h
  tests/bluetooth/controller/common/src/helper_pdu.c
  tests/bluetooth/controller/common/src/helper_util.c
  tests/bluetooth/controller/ctrl_conn_update/CMakeLists.txt
  tests/bluetooth/controller/ctrl_conn_update/src/main.c
  tests/bluetooth/controller/ctrl_conn_update/testcase.yaml
Labels: area: Bluetooth, area: Tests

#30703 include: sys: thread_stack add missing extern "C" on C++
  include/sys/thread_stack.h
Labels: Trivial, area: API, area: C++

#30707 net: tcp2: Use mutex instead of irq_lock
  subsys/net/ip/tcp2.c
Labels: area: Networking

#30242 test: fs: improve code coverage for file system core
  tests/subsys/fs/fs_api/src/test_fs.c
  tests/subsys/fs/fs_api/src/test_fs_dir_file.c
  tests/subsys/fs/fs_api/src/test_multi_fs.c
Labels: area: Tests

#30265 doc: add initial mcumgr documentation
  doc/guides/device_mgmt/index.rst
Labels: area: Documentation

#30614 Reintroduce tfm-mcuboot
  west.yml
Labels: area: Modules, manifest, manifest-trusted-firmware-m, west

#30677 drivers: video_common: fix build errors on mimxrt1064_evk
  drivers/video/video_common.c
Labels: area: Video, bug, platform: NXP

#30684 tests: tls: add toolchain filter
  tests/kernel/common/testcase.yaml
  tests/kernel/threads/tls/testcase.yaml
  tests/posix/common/testcase.yaml
  tests/posix/fs/testcase.yaml
Labels: area: Kernel, area: Tests

#30687 drivers: ieee802154: Reserve TIMER used by 802.15.4 driver
  modules/Kconfig.nordic
Labels: area: Drivers, area: IEEE 802.15.4, area: Modules, platform: nRF

#30715 kernel: don't unlock and then lock immediately in idle loop
  kernel/idle.c
Labels: area: Kernel

#30714 cmake: using zephyr_get_compile_options_for_lang_as_string for export
  cmake/makefile_exports/CMakeLists.txt
Labels: Trivial, area: Build System, area: Debugging, bug

#30706 drivers: dac: Convert drivers to new DT device macros
  drivers/dac/dac_dacx0508.c
  drivers/dac/dac_mcux_dac.c
  drivers/dac/dac_mcux_dac32.c
  drivers/dac/dac_sam0.c
  drivers/dac/dac_stm32.c
Labels: platform: NXP, platform: STM32

#30402 ARC: boards: hsdk: disable XIP
  boards/arc/hsdk/hsdk_2cores_defconfig
  boards/arc/hsdk/hsdk_defconfig
Labels: area: Boards

#30726 drivers: adc: Make all API functions available
  include/drivers/adc.h
Labels: area: ADC, area: API, area: Documentation

#30717 x86: mmu: clarify physical/virtual conversions
  arch/x86/core/fatal.c
  arch/x86/core/ia32/crt0.S
  arch/x86/core/ia32/fatal.c
  arch/x86/core/ia32/userspace.S
  arch/x86/core/intel64/locore.S
  arch/x86/core/intel64/userspace.S
  arch/x86/core/x86_mmu.c
  arch/x86/include/x86_mmu.h
Labels: area: X86

#30662 drivers: uart: Convert drivers to new DT device macros
  drivers/serial/leuart_gecko.c
  drivers/serial/uart_apbuart.c
  drivers/serial/uart_cc13xx_cc26xx.c
  drivers/serial/uart_cc32xx.c
  drivers/serial/uart_cmsdk_apb.c
  drivers/serial/uart_esp32.c
  drivers/serial/uart_gecko.c
  drivers/serial/uart_imx.c
  drivers/serial/uart_liteuart.c
  drivers/serial/uart_mcux.c
  drivers/serial/uart_mcux_flexcomm.c
  drivers/serial/uart_mcux_iuart.c
  drivers/serial/uart_mcux_lpsci.c
  drivers/serial/uart_mcux_lpuart.c
  drivers/serial/uart_miv.c
  drivers/serial/uart_msp432p4xx.c
  drivers/serial/uart_native_posix.c
  drivers/serial/uart_npcx.c
  drivers/serial/uart_ns16550_port_x.h
  drivers/serial/uart_nuvoton.c
  drivers/serial/uart_pl011.c
  drivers/serial/uart_psoc6.c
  drivers/serial/uart_rtt.c
  drivers/serial/uart_rv32m1_lpuart.c
  drivers/serial/uart_sam.c
  drivers/serial/uart_sam0.c
  drivers/serial/uart_sifive.c
  drivers/serial/uart_stellaris.c
  drivers/serial/uart_stm32.c
  drivers/serial/uart_xlnx_ps.c
  drivers/serial/uart_xlnx_uartlite.c
  drivers/serial/uart_xmc4xxx.c
  drivers/serial/usart_sam.c
Labels: area: native port, platform: NXP, platform: STM32, platform: SiLabs

#30701 boards: reel_board: remove non-minimal peripherals from defconfig
  boards/arm/reel_board/Kconfig.defconfig
  boards/arm/reel_board/reel_board_defconfig
  boards/arm/reel_board/reel_board_v2_defconfig
Labels: Trivial, area: Boards

#30749 drivers: flash: Convert drivers to new DT device macros
  drivers/flash/flash_gecko.c
  drivers/flash/flash_sam.c
  drivers/flash/flash_sam0.c
  drivers/flash/flash_simulator.c
  drivers/flash/flash_stm32.c
  drivers/flash/flash_stm32h7x.c
  drivers/flash/soc_flash_mcux.c
  drivers/flash/soc_flash_rv32m1.c
  drivers/flash/spi_flash_at45.c
Labels: platform: NXP, platform: STM32, platform: SiLabs

#30755 drivers: counter: Convert drivers to new DT device macros
  drivers/counter/counter_gecko_rtcc.c
  drivers/counter/counter_imx_epit.c
  drivers/counter/counter_ll_stm32_rtc.c
  drivers/counter/counter_mchp_xec.c
  drivers/counter/counter_mcux_gpt.c
  drivers/counter/counter_mcux_lptmr.c
  drivers/counter/counter_mcux_pit.c
  drivers/counter/counter_mcux_rtc.c
  drivers/counter/counter_native_posix.c
  drivers/counter/counter_nrfx_rtc.c
  drivers/counter/counter_nrfx_timer.c
  drivers/counter/counter_sam0_tc32.c
  drivers/counter/counter_xlnx_axi_timer.c
  drivers/counter/maxim_ds3231.c
  drivers/counter/timer_dtmr_cmsdk_apb.c
  drivers/counter/timer_tmr_cmsdk_apb.c
Labels: area: Counter, area: native port, platform: NXP, platform: STM32, platform: SiLabs

#30767 actions: fix issue tracker configuration
  .github/workflows/issues-report-config.json
Labels: Hotfix

#30575 tests: mutex: add some error case testing
  tests/kernel/mutex/mutex_error_case/CMakeLists.txt
  tests/kernel/mutex/mutex_error_case/prj.conf
  tests/kernel/mutex/mutex_error_case/src/test_mutex_error.c
  tests/kernel/mutex/mutex_error_case/testcase.yaml
Labels: area: Kernel, area: Tests

#30669 Bluetooth: Mesh: Fixes Friend Queue store message
  subsys/bluetooth/mesh/friend.c
Labels: area: Bluetooth, area: Bluetooth Mesh

#30722 OpenOCD configuration fixes for ARC
  boards/arc/em_starterkit/support/openocd.cfg
  boards/arc/emsdp/support/openocd.cfg
  boards/arc/iotdk/support/openocd.cfg
Labels: area: Boards

#29031 End time comparison is wrong in my_wait_for_event sample code
  doc/reference/kernel/timing/clocks.rst
Labels: area: Documentation

#29058 arch: arm64: GICv2/v3 handling causes abort on spurious interrupt
  arch/arm/core/aarch64/isr_wrapper.S
  include/drivers/interrupt_controller/gic.h
Labels: area: API, area: ARM, area: ARM_64

#30772 arch: x86_64: Correct sys_read64 return type
  include/arch/x86/intel64/arch.h
Labels: area: API, area: X86

#30760 mmu: rename z_mem_map to z_phys_map
  arch/x86/core/acpi.c
  drivers/pcie/host/msi.c
  include/sys/device_mmio.h
  include/sys/mem_manage.h
  kernel/include/kernel_arch_interface.h
  kernel/mmu.c
  tests/kernel/mem_protect/mem_map/src/main.c
Labels: Trivial, area: API, area: Kernel, area: Tests, area: X86

#28529 tests: add filter for some tests using newlib
  samples/boards/intel_s1000_crb/i2s/sample.yaml
  samples/drivers/counter/maxim_ds3231/sample.yaml
  samples/net/cloud/google_iot_mqtt/sample.yaml
  samples/net/cloud/mqtt_azure/sample.yaml
  samples/net/sockets/coap_client/sample.yaml
  samples/net/sockets/coap_server/sample.yaml
  samples/net/sockets/echo/sample.yaml
  samples/net/sockets/echo_async_select/sample.yaml
  samples/net/sockets/echo_client/sample.yaml
  samples/net/sockets/echo_server/sample.yaml
  samples/net/sockets/sntp_client/sample.yaml
  samples/net/syslog_net/sample.yaml
  samples/sensor/dht/sample.yaml
  samples/sensor/grove_light/sample.yaml
  samples/sensor/grove_temperature/sample.yaml
  samples/subsys/mgmt/hawkbit/sample.yaml
  tests/application_development/libcxx/testcase.yaml
  tests/benchmarks/cmsis_dsp/basicmath/testcase.yaml
  tests/lib/cmsis_dsp/basicmath/testcase.yaml
  tests/lib/cmsis_dsp/bayes/testcase.yaml
  tests/lib/cmsis_dsp/complexmath/testcase.yaml
  tests/lib/cmsis_dsp/distance/testcase.yaml
  tests/lib/cmsis_dsp/fastmath/testcase.yaml
  tests/lib/cmsis_dsp/filtering/testcase.yaml
  tests/lib/cmsis_dsp/matrix/testcase.yaml
  tests/lib/cmsis_dsp/statistics/testcase.yaml
  tests/lib/cmsis_dsp/support/testcase.yaml
  tests/lib/cmsis_dsp/svm/testcase.yaml
  tests/lib/cmsis_dsp/transform/testcase.yaml
  tests/lib/gui/lvgl/testcase.yaml
  tests/lib/mem_alloc/testcase.yaml
  tests/net/lib/coap/testcase.yaml
  tests/net/socket/getaddrinfo/testcase.yaml
  tests/net/socket/getnameinfo/testcase.yaml
  tests/net/socket/misc/testcase.yaml
  tests/net/socket/select/testcase.yaml
  tests/net/socket/socketpair/testcase.yaml
  tests/net/socket/tcp/testcase.yaml
  tests/net/socket/udp/testcase.yaml
  tests/subsys/jwt/testcase.yaml
Labels: area: Networking, area: Samples, area: Tests

#30773 west.yml: Update hal_nordic revision
  west.yml
Labels: area: Modules, manifest, manifest-hal_nordic, west

#30756 Bluetooth: tester: Fix net send command
  tests/bluetooth/tester/CMakeLists.txt
  tests/bluetooth/tester/src/mesh.c
Labels: Bluetooth Qualification, area: Bluetooth Mesh, area: Tests

#30781 drivers: eeprom: Convert drivers to new DT device macros
  drivers/eeprom/eeprom_at2x.c
  drivers/eeprom/eeprom_lpc11u6x.c
  drivers/eeprom/eeprom_simulator.c
  drivers/eeprom/eeprom_stm32.c
Labels: area: EEPROM, platform: STM32

#30381 west.yml: stm32: Update stm32wb hci lib
  west.yml
Labels: area: Modules, manifest, manifest-hal_stm32, west

#30497 boards: doc: Add information about generating litex_vexriscv SoC
  boards/riscv/litex_vexriscv/doc/img/litex_vexriscv.jpg
  boards/riscv/litex_vexriscv/doc/img/symbiflow.svg
  boards/riscv/litex_vexriscv/doc/index.rst
  boards/riscv/litex_vexriscv/doc/litex_vexriscv.rst
Labels: area: Boards, area: Documentation, area: RISCV

#28837 drivers: i2c_mchp_xec: changes to address i2c failure
  drivers/i2c/i2c_mchp_xec.c
Labels: area: I2C
