Repository zephyrproject-rtos/zephyr, pull requests merged in 2020-07, with the labels that each got.

#26549 benchmarks: latency_measure: set number of CPU to 1
  tests/benchmarks/latency_measure/prj.conf
Labels: Trivial, area: Tests, bug

#26550 random: entropy: Fix invalid memory access
  subsys/random/rand32_entropy_device.c
Labels: bug

#26416 swiftio_mm no support pw control
  boards/arm/mm_swiftio/mm_swiftio.dts
Labels: area: Boards, area: Devicetree

#26514 boards: b_l4s5i iot01a fixing corruption of storage partition
  boards/arm/b_l4s5i_iot01a/b_l4s5i_iot01a.dts
Labels: area: Boards, area: Devicetree, platform: STM32

#26417 boards: disco_l475_iot1: fix corruption of storage partition
  boards/arm/disco_l475_iot1/disco_l475_iot1.dts
Labels: area: Boards, area: Devicetree, platform: STM32

#26489 boards: shields: Fix frdm_kw41z shield doc formatting
  boards/shields/frdm_kw41z/doc/index.rst
Labels: area: Boards, area: Documentation, platform: NXP

#26368 manifest: update mcuboot to upmerged to upstream 33fbef5
  west.yml
Labels: area: MCUBoot, area: Modules

#26594 mgmt: correct MPU_ALLOW_FLASH_WRITE selection
  subsys/mgmt/Kconfig.mcumgr
Labels: Trivial, area: mcumgr

#26590 actions: add labels for CAN and EEPROM driver areas
  .github/labeler.yml
Labels: area: CAN, area: EEPROM

#26504 drivers: spi: Add optional delays to mcux dspi and lpspi drivers
  drivers/spi/spi_mcux_dspi.c
  drivers/spi/spi_mcux_lpspi.c
  dts/bindings/spi/nxp,imx-lpspi.yaml
  dts/bindings/spi/nxp,kinetis-dspi.yaml
Labels: area: Devicetree, area: Devicetree Binding, area: SPI, platform: NXP

#26322 boards: stm32f030_demo: enable stm32flash in addition to OpenOCD
  boards/arm/stm32f030_demo/board.cmake
Labels: area: Boards, platform: STM32

#26270 file system: storage: Fix the memory size output by adding brace for manipulating operator priority properly
  samples/subsys/fs/fat_fs/src/main.c
Labels: area: Samples

#25322 tests: mem protect syscalls update Doxygen tags, fix API, misprints
  tests/kernel/mem_protect/syscalls/src/main.c
  tests/kernel/mem_protect/userspace/src/main.c
Labels: area: Kernel, area: Tests

#25650 net: openthread: handle non mesh-local IPv6 addresses as DHCPv6
  subsys/net/l2/openthread/openthread_utils.c
Labels: area: Networking, area: OpenThread

#26566 boards: atsamd21_xpro: Support driving on-board LED with PWM
  boards/arm/atsamd21_xpro/atsamd21_xpro.dts
  boards/arm/atsamd21_xpro/atsamd21_xpro.yaml
  boards/arm/atsamd21_xpro/doc/index.rst
  boards/arm/atsamd21_xpro/pinmux.c
Labels: area: Boards, area: Devicetree, area: Devicetree Binding, area: Documentation

#25684 tests: adding test cases for arch-dependent SMP function
  kernel/Kconfig
  kernel/sched.c
  tests/kernel/smp/prj.conf
  tests/kernel/smp/src/main.c
Labels: area: Kernel, area: Tests

#26538 net: l2: openthread: Implement `enable` API function
  include/net/openthread.h
  subsys/net/l2/openthread/openthread.c
Labels: area: API, area: Networking

#26526 drivers: wifi: esp: Fix bug with net_pkt_unref in tx path
  drivers/wifi/esp/esp_offload.c
Labels: area: Networking

#20155 power: stm32wb: support of the Low Power Mode
  soc/arm/st_stm32/stm32wb/CMakeLists.txt
  soc/arm/st_stm32/stm32wb/Kconfig.defconfig.series
  soc/arm/st_stm32/stm32wb/Kconfig.series
  soc/arm/st_stm32/stm32wb/power.c
  subsys/power/device.c
Labels: area: Boards, area: Devicetree, area: Power Management, area: Samples, area: Timer, platform: STM32

#25077 drivers: i2c_nrfx_twi: Remove potential I2C deadlock
  drivers/i2c/i2c_nrfx_twi.c
  drivers/i2c/i2c_nrfx_twim.c
Labels: area: I2C

#26468 bluetooth: uuid: add bond management uuids
  include/bluetooth/uuid.h
Labels: area: API, area: Bluetooth

#25404 drivers: wifi: esp: Improvements to ESP driver
  drivers/wifi/esp/Kconfig.esp
  drivers/wifi/esp/esp.c
  drivers/wifi/esp/esp.h
  drivers/wifi/esp/esp_offload.c
Labels: area: Networking

#26230 arch/x86: Add zefi, an EFI stub/packer/wrappper/loader
  arch/x86/core/intel64/locore.S
  arch/x86/zefi/README.txt
  arch/x86/zefi/efi.h
  arch/x86/zefi/efi.ld
  arch/x86/zefi/printf.h
  arch/x86/zefi/zefi.c
  arch/x86/zefi/zefi.py
Labels: area: X86

#26464 drivers/clock_control: Remove useless CLOCK_STM32_PLL_XTPRE config
  boards/arm/nucleo_f103rb/nucleo_f103rb_defconfig
  boards/arm/olimexino_stm32/olimexino_stm32_defconfig
  boards/arm/stm32_min_dev/stm32_min_dev_black_defconfig
  boards/arm/stm32_min_dev/stm32_min_dev_blue_defconfig
  drivers/clock_control/Kconfig.stm32f1
  drivers/clock_control/clock_stm32f1.c
Labels: area: Boards, area: Clock Control, platform: STM32

#26496 net: ppp: fix ringbuf usage to consume all data
  drivers/net/ppp.c
Labels: area: Networking, bug

#25488 Bluetooth: shell: allow multiple parameters for bt hci-cmd
  subsys/bluetooth/shell/bt.c
Labels: area: Bluetooth, bug

#23044 Bluetooth: br/edr: Support saving BR / EDR link key
  subsys/bluetooth/host/conn.c
  subsys/bluetooth/host/hci_core.c
  subsys/bluetooth/host/keys.h
  subsys/bluetooth/host/keys_br.c
Labels: area: Bluetooth

#26614 boards: waveshare_open103z: remove unused Kconfig
  boards/arm/waveshare_open103z/waveshare_open103z_defconfig
Labels: Hotfix, area: Boards

#26517 drivers: uart_mcux: add UART set configuration function
  drivers/serial/uart_mcux.c
Labels: area: Drivers, area: UART, platform: NXP

#26623 boards: qemu_arc: disable as default test platform
  boards/arc/qemu_arc/qemu_arc_em.yaml
  boards/arc/qemu_arc/qemu_arc_hs.yaml
Labels: area: Boards

#26622 benchmarks: timing_info: fix x86 cycles to nsec conversion
  tests/benchmarks/timing_info/src/arch/x86/tsc.c
Labels: area: Tests

#26543 sanitycheck: fix --failed-only handling
  scripts/sanity_chk/sanitylib.py
  scripts/sanitycheck
Labels: area: Sanitycheck

#26482 ci: do not run sanitycheck on linter config changes
  scripts/ci/sanitycheck_ignore.txt
Labels: Trivial

#26572 cmake: removing DTS_ROOTS in test samples as they serves no purpose
  tests/lib/devicetree/api/CMakeLists.txt
  tests/lib/devicetree/legacy_api/CMakeLists.txt
Labels: area: Tests

#26635 tests: interrupt: include bcm platform
  tests/kernel/interrupt/testcase.yaml
Labels: Trivial, area: Kernel, area: Tests

#25855 drivers: timer: fix the use of K_FOREVER and add support for the SAMD/E5x
  drivers/timer/sam0_rtc_timer.c
Labels: area: Drivers, area: Timer, platform: ATMEL

#26638 net: buf.h: Add static initialiser to net_buf_struct
  include/net/buf.h
Labels: Trivial, area: API

#26640 posix/fs: Fix POSIX lseek to return position upon completion
  lib/posix/fs.c
  tests/posix/fs/src/test_fs_file.c
Labels: area: Tests

#26465 Bluetooth: host: Unspecified disconnect reason for no pending conn
  subsys/bluetooth/host/hci_core.c
Labels: area: Bluetooth

#26348 boards: arm: b_l072z_lrwan1: Add flash support
  boards/arm/b_l072z_lrwan1/b_l072z_lrwan1.dts
  boards/arm/b_l072z_lrwan1/b_l072z_lrwan1.yaml
  boards/arm/b_l072z_lrwan1/doc/index.rst
Labels: area: Boards, area: Devicetree, area: Documentation, platform: STM32

#26650 drivers: wifi: eswifi: Add chip select flags
  boards/arm/disco_l475_iot1/disco_l475_iot1.dts
  drivers/wifi/eswifi/eswifi_bus_spi.c
Labels: area: Boards, area: Devicetree, area: Networking

#26661 drivers: gd7965: use K_MSEC macro in k_sleep calls
  drivers/display/gd7965.c
Labels: area: Display, area: Drivers, bug

#26288 drivers: usb: switch the SAM0 driver from a custom allocator to the heap
  drivers/usb/device/usb_dc_sam0.c
  soc/arm/atmel_sam0/common/Kconfig.defconfig.series
Labels: area: Drivers, area: USB, platform: ATMEL

#25854 drivers: spi: ensure the first byte has been loaded in the TX fast path
  drivers/spi/spi_sam0.c
Labels: area: SPI, bug, platform: ATMEL

#26175 drivers: spi: fix the fast path on the SAM0 driver
  drivers/spi/spi_sam0.c
Labels: area: SPI, platform: ATMEL

#26604 sanitycheck: Improve handling of duplicate devices
  scripts/sanity_chk/sanitylib.py
Labels: area: Sanitycheck

#26563 drivers: uart_nrfx_uart: Fix disabling of TX IRQ
  drivers/serial/uart_nrfx_uart.c
Labels: area: Drivers, area: UART, bug, platform: nRF

#26666 doc: contribute/modifying_contributions: minor typo fix
  doc/contribute/modifying_contributions.rst
Labels: Trivial, area: Documentation

#26535 drivers: gpio_nrfx: Replace atomic_set_bit_to() with atomic_and()
  drivers/gpio/gpio_nrfx.c
Labels: area: Drivers, area: GPIO, bug, platform: nRF

#26560 Bluetooth: controller: Fix Periodic Adv Data Set parameter list
  subsys/bluetooth/controller/include/ll.h
  subsys/bluetooth/controller/ll_sw/ull_adv_sync.c
Labels: area: Bluetooth

#26470 Bluetooth: host: Fix conn_handle in LE Advertising Set Terminated evt
  subsys/bluetooth/host/hci_core.c
Labels: area: Bluetooth

#26374 Bluetooth: GATT: Turn GATT notify multiple feature default off
  subsys/bluetooth/host/Kconfig.gatt
Labels: area: Bluetooth, bug

#26639 net: l2: ppp: fix packet length for sending Term-Req and Term-Ack
  subsys/net/l2/ppp/fsm.c
Labels: area: Networking, bug

#26667 tests: lib: mem_alloc: restrict newlib config to more than 16K RAM
  tests/lib/mem_alloc/testcase.yaml
Labels: Trivial, area: Tests

#26644 net: l2: ppp: drop ppp_context's is_network_up
  include/net/ppp.h
  subsys/net/l2/ppp/ipcp.c
  subsys/net/l2/ppp/ipv6cp.c
Labels: area: API, area: Networking, bug

#26571 net: lwm2m: Prevent infinite loop in do_write_op_tlv function
  subsys/net/lib/lwm2m/lwm2m_rw_oma_tlv.c
Labels: area: LWM2M, area: Networking

#26564 subsys: net: ip: copy to wrong destination in z_vrfy_net_addr_pton()
  subsys/net/ip/utils.c
Labels: area: Networking

#26678 Actions: Add 2 more labels to labeler
  .github/labeler.yml
Labels: Trivial

#26399 drivers: eeprom_at2x: guarantee retry until timeout
  drivers/eeprom/eeprom_at2x.c
Labels: area: EEPROM, bug

#26561 Bluetooth: controller: Add Periodic Advertising HCI integration
  subsys/bluetooth/controller/hci/hci.c
Labels: area: Bluetooth

#26580 samples: nrf: system_off: show how to disable deep sleep
  samples/boards/nrf/system_off/README.rst
  samples/boards/nrf/system_off/src/main.c
Labels: area: Documentation, area: Power Management, area: Samples, platform: nRF

#26567 net: lwm2m: Fix invalid logical and operator usage
  subsys/net/lib/lwm2m/lwm2m_rw_oma_tlv.c
Labels: area: LWM2M, area: Networking

#26632 drivers: timer: arm_arch_timer fix tick-less bug
  drivers/timer/arm_arch_timer.c
Labels: area: ARM, area: Drivers, area: Timer

#26652 soc: arm: viper: Add PCIe highmem OB memory in MMU table
  boards/arm/bcm958402m2_a72/bcm958402m2_a72_defconfig
  soc/arm/bcm_vk/viper/mmu_regions.c
Labels: Trivial, area: ARM, area: Architectures, area: Boards

#26672 drivers: console: gsm_mux: fix timeout after timeout API change
  drivers/console/gsm_mux.c
Labels: bug

#26680 drivers: pwm: stm32: fix polarity setting
  drivers/pwm/pwm_stm32.c
Labels: area: PWM, platform: STM32

#26691 tests: filter out nsim as it's very slow to run lib_heap test
  tests/lib/heap/testcase.yaml
Labels: area: Tests

#26688 arch: arc: irq: bugs fix for fast irq in one register bank config
  arch/arc/core/fast_irq.S
  arch/arc/core/isr_wrapper.S
Labels: area: ARC

#26694 net: http_client: add missing kernel.h include statement
  include/net/http_client.h
Labels: area: API, area: Networking

#26576 samples: net: google_iot_mqtt: fix CONFIG_CLOUD_CLIENT_ID value
  samples/net/cloud/google_iot_mqtt/prj.conf
Labels: area: Networking, area: Samples

#26704 drivers: sensor: nrf5: temp_nrf5: Add mutex to temp_nrf5_sample_fetch
  drivers/sensor/nrf5/temp_nrf5.c
Labels: platform: nRF

#26706 scripts: sanitylib.py: Add support for STLINK-V3 probe
  scripts/sanity_chk/sanitylib.py
Labels: area: Sanitycheck, platform: STM32

#26714 sanitycheck: handle qemu crashes
  scripts/sanity_chk/sanitylib.py
Labels: Hotfix, priority: high

#26699 usb: Correct logging level in Audio class.
  samples/subsys/usb/audio/headphones_microphone/prj.conf
  samples/subsys/usb/audio/headset/prj.conf
  subsys/usb/class/audio/audio.c
Labels: Trivial, area: Logging, area: Samples, area: USB

#26130 doc: security: Avoid confusion with code guideline
  doc/security/secure-coding.rst
  doc/security/security-overview.rst
Labels: area: Documentation

#26716 boards: x86: update build_grub.sh for Python 3
  boards/x86/common/scripts/build_grub.sh
Labels: area: Boards

#26697 Bluetooth: Mesh: Fix response to Provisioning PDU with invalid type
  subsys/bluetooth/mesh/prov.c
Labels: area: Bluetooth, area: Bluetooth Mesh, bug

#26471 tests/kernel/gen_isr_table: Add special configuration for nRF9160 and nRF5340
  tests/kernel/gen_isr_table/src/main.c
Labels: area: Kernel, area: Tests, bug, platform: nRF

#25089 [Backport v1.14-branch] Bluetooth: Fix NULL pointer dereference when bt_send() fails
  subsys/bluetooth/host/hci_core.c
Labels: Stale, area: Bluetooth, backport v1.14-branch

#26597 dts: bindings: Add bindings for ARM M33F
  dts/bindings/cpu/arm,cortex-m33f.yaml
Labels: area: ARM, area: Devicetree, area: Devicetree Binding

#25505 drivers: wifi: esp: fix reset control logic and respect reset dts flags
  drivers/wifi/esp/esp.c
Labels: area: Drivers, area: Modem, area: Networking, area: Wifi, bug

#26326 WiFi: winc1500: update WINC1500 driver to new kernel timeout API
  drivers/wifi/winc1500/wifi_winc1500.c
Labels: area: Networking

#25503 tests: timing_info: cleanup timing calculation code
  tests/benchmarks/timing_info/src/msg_passing_bench.c
  tests/benchmarks/timing_info/src/semaphore_bench.c
  tests/benchmarks/timing_info/src/thread_bench.c
  tests/benchmarks/timing_info/src/timing_info.h
  tests/benchmarks/timing_info/src/userspace_bench.c
  tests/benchmarks/timing_info/src/yield_bench.c
Labels: area: Tests

#25460 boards: decawave_dwm1001_dev: make button active low
  boards/arm/decawave_dwm1001_dev/decawave_dwm1001_dev.dts
Labels: area: Boards, area: Devicetree

#25373 drivers: i2c_gecko: Fix mutation of config_info content
  drivers/i2c/i2c_gecko.c
Labels: area: I2C, platform: SiLabs

#25212 board: arm: google_kukui: Add a sample for kukui
  samples/boards/google_kukui/CMakeLists.txt
  samples/boards/google_kukui/README.rst
  samples/boards/google_kukui/prj.conf
  samples/boards/google_kukui/sample.yaml
  samples/boards/google_kukui/src/main.c
Labels: area: Documentation, area: Samples

#26749 sanitylib: pacify pylint
  scripts/sanity_chk/sanitylib.py
Labels: Hotfix, area: Sanitycheck

#26745 editorconfig: indent Kconfig files with tabs
  .editorconfig
Labels: Trivial

#26060 cmake: west: invoke west using same python as rest of build system
  cmake/host-tools.cmake
  cmake/zephyr_module.cmake
  scripts/west_commands/build.py
  scripts/west_commands/zcmake.py
  scripts/zephyr_module.py
Labels: area: Build System, area: Documentation

#26027 samples: canbus: canopen: add test case with program download support
  samples/subsys/canbus/canopen/sample.yaml
Labels: area: CAN, area: Samples

#26293 sys: util: Document limitation of IS_EMPTY macro
  include/sys/util.h
Labels: area: API

#25097 tests: mutex modifying and adding test case
  tests/kernel/mutex/mutex_api/src/test_mutex_apis.c
Labels: area: Kernel, area: Tests

#26502 doc: add coding guidelines
  doc/guides/coding_guidelines/index.rst
  doc/guides/index.rst
Labels: area: Documentation

#26753 tests: portability: cmsis_rtos_v1: Fix systick test
  tests/portability/cmsis_rtos_v1/src/kernel_apis.c
Labels: area: Tests

#21853 samples: subsys: logging: logger: Fix performance showcase
  samples/subsys/logging/logger/src/main.c
Labels: area: Logging, area: Samples, bug

#24862 drivers: STM32 dualcore concurrent register access protection with HSEM
  drivers/clock_control/clock_stm32_ll_h7.c
  drivers/clock_control/clock_stm32l4_l5_wb.c
  drivers/counter/counter_ll_stm32_rtc.c
  drivers/flash/flash_stm32.c
  drivers/gpio/gpio_stm32.c
  drivers/interrupt_controller/intc_exti_stm32.c
  soc/arm/st_stm32/CMakeLists.txt
  soc/arm/st_stm32/common/stm32_hsem.h
  soc/arm/st_stm32/stm32h7/soc.h
  soc/arm/st_stm32/stm32h7/soc_m4.c
  soc/arm/st_stm32/stm32h7/soc_m7.c
  soc/arm/st_stm32/stm32mp1/soc.h
  soc/arm/st_stm32/stm32wb/soc.h
Labels: area: Counter, platform: STM32

#25206 drivers: soc_flash_mcux check before reading
  drivers/flash/Kconfig.mcux
  drivers/flash/soc_flash_mcux.c
Labels: area: API, area: Drivers, area: Flash, platform: NXP

#26693 adc: adc_shell: suppress -Wchar-subscripts with isdigit()
  drivers/adc/adc_shell.c
Labels: area: Shell

#26742 benchmarks: sys_kernel: limits to 1 CPU
  tests/benchmarks/sys_kernel/prj.conf
  tests/benchmarks/sys_kernel/testcase.yaml
Labels: area: Tests

#26744 build: reports: add pahole target
  cmake/reports/CMakeLists.txt
Labels: area: Build System

#26707 RFC: API Change: watchdog: wdt_feed error codes
  doc/releases/release-notes-2.4.rst
  include/drivers/watchdog.h
Labels: Release Notes, Stable API Change, area: API, area: Documentation, area: Watchdog

#26754 drivers: flash: nrf: Fix flash operation timeout
  drivers/flash/soc_flash_nrf.c
  subsys/bluetooth/controller/ll_sw/ull.c
Labels: area: Bluetooth

#26546 net: l2: ppp: ipcp: clear options after protocol goes down
  subsys/net/l2/ppp/ipcp.c
Labels: area: Networking

#26558 logging: Add fields initialization in z_log_msg_std_alloc
  include/logging/log_msg.h
Labels: area: API, area: Logging, bug, priority: low

#26668 Bluetooth: Mesh: Wait for proxy on node reset
  subsys/bluetooth/mesh/cfg_srv.c
  subsys/bluetooth/mesh/proxy.c
  subsys/bluetooth/mesh/proxy.h
Labels: area: Bluetooth, area: Bluetooth Mesh

#26674 sanitycheck: native: Add option to enable UBSAN
  scripts/sanity_chk/sanitylib.py
  scripts/sanitycheck
  scripts/tests/sanitycheck/test_testinstance.py
Labels: area: Sanitycheck

#26539 disk: Remove instance conditionals from nxp usdhc driver functions
  subsys/disk/disk_access_usdhc.c
Labels: area: Disk Access, platform: NXP

#26463 west.yml: Update hal_stm32 to include License root file
  west.yml
Labels: area: Modules, platform: STM32

#26461 west.yml: Update to pull in TFM v1.1-rc2
  west.yml
Labels: area: Modules

#26608 modules: hal_nordic: Fix minor issues
  west.yml
Labels: area: Modules, platform: nRF

#26660 stm32wb has no PWR clock to enable
  soc/arm/st_stm32/stm32wb/power.c
Labels: platform: STM32

#26544 net: l2: ppp: ipv6cp: remove wrong Configure-Rej handling
  subsys/net/l2/ppp/ipv6cp.c
Labels: area: Networking

#26767 Bluetooth: controller: Fix missing skip value calculation
  subsys/bluetooth/controller/ticker/ticker.c
Labels: area: Bluetooth

#26762 Bluetooth: controller: Safe default value of BT_CTLR_LLCP_CONN
  subsys/bluetooth/controller/Kconfig
Labels: area: Bluetooth

#22677 config: Rename TEXT_SECTION_OFFSET to ROM_START_OFFSET
  Kconfig.zephyr
  arch/common/CMakeLists.txt
  arch/common/rom_start_offset.ld
  boards/xtensa/intel_s1000_crb/Kconfig.defconfig
  scripts/west_commands/sign.py
  soc/arm/nxp_imx/rt/Kconfig.defconfig.series
  soc/arm/nxp_imx/rt/soc.c
  soc/arm/ti_simplelink/cc32xx/Kconfig.defconfig.cc3220sf
  soc/arm/ti_simplelink/cc32xx/Kconfig.defconfig.cc3235sf
  soc/arm/ti_simplelink/cc32xx/README
  soc/riscv/openisa_rv32m1/linker.ld
  soc/riscv/openisa_rv32m1/vector_table.ld
  soc/xtensa/intel_s1000/linker.ld
  subsys/dfu/boot/mcuboot.c
Labels: area: API, area: Boards, area: Kconfig, platform: NXP

#26776 boards: intel_s1000_crb: add zephyr,flash-controller to DTS
  boards/xtensa/intel_s1000_crb/intel_s1000_crb.dts
Labels: Hotfix, area: Boards, area: Devicetree

#26775 sanitycheck: do not retry build errors with --retry-failed
  scripts/sanity_chk/sanitylib.py
  scripts/sanitycheck
Labels: area: Sanitycheck

#26761 drivers: i2c: mcux: return to idle on failed transfers
  drivers/i2c/i2c_mcux.c
  drivers/i2c/i2c_mcux_flexcomm.c
  drivers/i2c/i2c_mcux_lpi2c.c
Labels: area: I2C, bug, platform: NXP

#26778 sanitycheck: Update readme
  scripts/tests/sanitycheck/README.md
Labels: area: Documentation

#26783 cmake: fix the build on windows
  cmake/host-tools.cmake
Labels: Hotfix, bug, priority: high

#26787 cmake: fix menuconfig, guiconfig, etc
  cmake/kconfig.cmake
Labels: area: Build System, bug, priority: high

#26152 drivers: entropy: cc13xx_cc26xx: add power management support
  drivers/entropy/entropy_cc13xx_cc26xx.c
Labels: platform: TI

#26739 drivers: flash: stm32wb return in case of control register locked
  drivers/flash/flash_stm32wbx.c
Labels: platform: STM32

#26756 net: tcp2: Fix dereference after null check in tcp_in()
  subsys/net/ip/tcp2.c
Labels: area: Networking

#26726 boards: arm: nucleo_f767zi: ethernet restriction on cut-A
  boards/arm/nucleo_f767zi/doc/index.rst
Labels: area: Boards, area: Documentation, platform: STM32

#26444 drivers: bluetooth: rpmsg: validate heap size configuration
  drivers/bluetooth/hci/rpmsg_nrf53.c
Labels: area: Bluetooth, platform: nRF

#26441 Bluetooth: Shell: Add shell command to output the ATT MTU size
  subsys/bluetooth/shell/gatt.c
Labels: area: Bluetooth, area: Shell

#25867 drivers: nrf: Add concatenation buffer to i2c nrfx TWIM driver.
  drivers/i2c/i2c_nrfx_twim.c
  dts/bindings/i2c/nordic,nrf-twim.yaml
Labels: area: Devicetree, area: Devicetree Binding, area: Drivers, area: I2C, platform: nRF

#25018 drivers/sensors: Add iis2dh accelerometer sensor support
  drivers/sensor/CMakeLists.txt
  drivers/sensor/Kconfig
  drivers/sensor/iis2dh/CMakeLists.txt
  drivers/sensor/iis2dh/Kconfig
  drivers/sensor/iis2dh/iis2dh.c
  drivers/sensor/iis2dh/iis2dh.h
  drivers/sensor/iis2dh/iis2dh_i2c.c
  drivers/sensor/iis2dh/iis2dh_spi.c
  drivers/sensor/iis2dh/iis2dh_trigger.c
  dts/bindings/sensor/st,iis2dh-i2c.yaml
  dts/bindings/sensor/st,iis2dh-spi.yaml
  tests/drivers/build_all/app.overlay
  tests/drivers/build_all/i2c.dtsi
  tests/drivers/build_all/sensors_stmemsc.conf
  tests/drivers/build_all/sensors_stmemsc_trigger.conf
  tests/drivers/build_all/spi.dtsi
Labels: area: Devicetree, area: Devicetree Binding, area: Drivers, area: Sensors, area: Tests

#26734 Big http download upgrade#26717
  samples/net/sockets/big_http_download/src/big_http_download.c
Labels: area: Documentation, area: Networking, area: Samples

#26806 tests: gen_isr_table: Disable gpio on lpcxpresso54114
  tests/kernel/gen_isr_table/boards/lpcxpresso54114_m4.conf
Labels: area: Kernel, area: Tests, platform: NXP

#23115 drivers:wdt:sam0: fix register access in feed()
  drivers/watchdog/wdt_sam0.c
Labels: area: Watchdog

#26822 drivers: display: fix a typo in the ili9340 driver
  drivers/display/display_ili9340.c
Labels: Trivial, area: Display

#26770 drivers: pinmux: stm32h7: fix incorrect USART6 pin alternate functions
  drivers/pinmux/stm32/pinmux_stm32h7.h
Labels: platform: STM32

#26792 soc: arm: viper: Fix callee saved register corruption in el3 init
  soc/arm/bcm_vk/viper/plat_core.S
Labels: platform: Broadcom

#26825 Bluetooth: Controller Enable Advertising Extensions by default
  subsys/bluetooth/controller/Kconfig
Labels: area: Bluetooth

#26481 Bluetooth: GATT: Fix not being able to notify
  subsys/bluetooth/host/gatt.c
Labels: Regression, area: Bluetooth, bug

#26808 tests: pwm_api: Use smaller pwm period cycles on kw41z-based boards
  tests/drivers/pwm/pwm_api/src/test_pwm.c
Labels: area: Tests, platform: NXP

#26823 boards: arm: add OpenOCD flash and debug support for the itsybitsy_m4
  boards/arm/adafruit_itsybitsy_m4_express/board.cmake
  boards/arm/adafruit_itsybitsy_m4_express/doc/index.rst
  boards/arm/adafruit_itsybitsy_m4_express/support/openocd.cfg
Labels: area: Boards, area: Documentation

#26562 Bluetooth: controller: Add missing aux acquire on periodic adv
  subsys/bluetooth/controller/ll_sw/ull_adv_aux.c
  subsys/bluetooth/controller/ll_sw/ull_adv_internal.h
  subsys/bluetooth/controller/ll_sw/ull_adv_sync.c
Labels: area: Bluetooth

#26853 usb: audio: Correct typo in USB audio binding.
  dts/bindings/usb/usb-audio-hp.yaml
  dts/bindings/usb/usb-audio-hs.yaml
  dts/bindings/usb/usb-audio-mic.yaml
Labels: Trivial, area: Devicetree, area: Devicetree Binding, area: USB, bug

#26800 arch: arm: cortex_m: align Cortex-M vector table according to VTOR requirements
  arch/arm/core/aarch32/cortex_m/relay_vector_table.ld
  arch/arm/core/aarch32/vector_table.ld
Labels: RFC, area: ARM, bug

#26631 Doc: Updating ieee802154_interface Readme
  doc/reference/networking/ieee802154.rst
Labels: area: Documentation

#26859 ci: remove .shippable.yml
  .shippable.yml
Labels: Trivial

#26863 arch: x86: zefi: Fix assuming segment size being a multiple of 8
  arch/x86/zefi/zefi.py
Labels: area: X86

#25541 tests: memory allocation: add test cases
  tests/kernel/mem_heap/mheap_api_concept/src/main.c
  tests/kernel/mem_heap/mheap_api_concept/src/test_mheap_concept.c
Labels: area: Kernel, area: Tests

#26867 boards: mec15xxevb_assy6853: use DTS node labels for PWM pinmux
  boards/arm/mec15xxevb_assy6853/pinmux.c
Labels: area: Boards

#25620 tests: add new semaphore tests
  tests/kernel/semaphore/semaphore/src/main.c
Labels: area: Kernel, area: Tests

#26815 net: ip: Fix IPv6 RS message doesn't comply RFC4291
  include/net/net_ip.h
  subsys/net/ip/ipv6_nbr.c
Labels: area: API, area: Networking

#26871 DT Fixes for LPC55S6x
  boards/arm/lpcxpresso55s69/lpcxpresso55s69_cpu0.dts
Labels: area: Boards, area: Devicetree, platform: NXP
