Repository zephyrproject-rtos/zephyr, pull requests merged in 2020-03, with the labels that each got.

#23190 usb: dfu: check requested length (wLength) during DFU_UPLOAD
  subsys/usb/class/usb_dfu.c
Labels: area: USB, bug

#23194 doc/releases/release-note-2.2: flash driver part
  doc/releases/release-notes-2.2.rst
Labels: area: Documentation

#23195 doc: gsg: Update SDK version
  doc/getting_started/index.rst
  doc/getting_started/installation_linux.rst
Labels: Trivial, area: Documentation

#23189 doc: release notes: Add Zephyr 2.2 release notes for Bluetooth
  doc/releases/release-notes-2.2.rst
Labels: area: Documentation

#23182 doc: release process: Update release creation instructions
  doc/development_process/release_process.rst
Labels: area: Documentation

#23186 doc: toolchains: Remove warning about GNU Arm 8
  doc/getting_started/toolchain_3rd_party_x_compilers.rst
Labels: Trivial, area: Documentation, area: Toolchains

#23200 doc: release notes: Add 2.2 release notes for DMA
  doc/releases/release-notes-2.2.rst
Labels: area: Documentation

#23084 kernel: Stack pointer random depends on MULTITHREADING
  kernel/Kconfig
Labels: area: Kernel

#23203 doc: relnotes: Add Bluetooth Controller 2.2 release notes
  doc/releases/release-notes-2.2.rst
Labels: area: Documentation

#23206 doc: release notes: Add display related release notes
  doc/releases/release-notes-2.2.rst
Labels: area: Display, area: Documentation

#23192 doc: release notes: Updates for clock_control, serial and the logger
  doc/releases/release-notes-2.2.rst
Labels: area: Documentation

#23224 doc: release notes: Add 2.2 release notes for USB subsystem
  doc/releases/release-notes-2.2.rst
Labels: area: Documentation

#23227 doc: release notes: Add information for Xtensa SoCs and boards
  doc/releases/release-notes-2.2.rst
Labels: area: Documentation

#23241 doc: release notes: refine USB relese notes
  doc/releases/release-notes-2.2.rst
Labels: Release Notes, area: Documentation

#23237 kconfig: Fix typo in ARM_MPU help
  arch/arm/core/aarch32/cortex_m/mpu/Kconfig
Labels: Trivial, area: ARM, bug

#23240 usb: mass_storage: fix page buffer overflow, check LBA range
  subsys/usb/class/mass_storage.c
Labels: area: USB, bug

#23257 doc: release notes: Add 2.2 changes for all remaining drivers
  doc/releases/release-notes-2.2.rst
Labels: area: Documentation

#23260 runners: misc-flasher: hotfix
  scripts/west_commands/runners/misc.py
Labels: Hotfix

#23266 doc: more board porting improvements
  doc/guides/porting/board_porting.rst
  doc/guides/west/build-flash-debug.rst
Labels: area: Documentation

#23263 riscv machine timer: Timer functions on long running platforms
  drivers/timer/riscv_machine_timer.c
Labels: area: Timer, bug

#23264 doc: gsg: macOS: Describe Gatekeeper workarounds
  doc/getting_started/installation_mac.rst
Labels: area: Documentation

#23271 doc: add x86 and core kernel release notes
  doc/releases/release-notes-2.2.rst
Labels: area: Documentation

#23272 doc: security: Create a vulnerabilities report
  doc/security/index.rst
  doc/security/vulnerabilities.rst
Labels: area: Documentation, area: Security

#23273 2.2 Release notes - security
  doc/releases/release-notes-2.2.rst
Labels: area: Documentation

#23297 Bluetooth: Mesh: Fix cdb key update iteration
  subsys/bluetooth/mesh/settings.c
Labels: area: Bluetooth, area: Bluetooth Mesh, bug, priority: medium

#23301 Bluetooth: Mesh: Fix possible NULL dereference in BT_DBG statement.
  subsys/bluetooth/mesh/cfg_srv.c
Labels: area: Bluetooth, area: Bluetooth Mesh, bug

#23304 shell: utils: Fix buffer overrun in shell_spaces_trim
  subsys/shell/shell_utils.c
Labels: area: Shell, bug, priority: high

#23167 Bluetooth: Make macro definition compatible with 7-2018-q2-update g++
  include/bluetooth/bluetooth.h
  include/bluetooth/gatt.h
Labels: area: API, area: Bluetooth, bug

#23320 Bluetooth: host: Fix LE SC OOB authentication and id for central role
  subsys/bluetooth/host/hci_core.c
Labels: area: Bluetooth, bug

#23306 doc: release notes: Include LoRa in major features
  doc/releases/release-notes-2.2.rst
Labels: area: Documentation

#23289 drivers: serial: uart_sam0: Fix interrupt connection
  drivers/serial/uart_sam0.c
Labels: area: Drivers, area: UART, bug, platform: ATMEL, priority: medium

#23269 doc: finish reworking the board porting guide
  doc/glossary.rst
  doc/guides/porting/board_porting.rst
  doc/guides/porting/index.rst
Labels: area: Documentation

#23318 drivers: eth: mcux: Fix phy setup
  drivers/ethernet/eth_mcux.c
Labels: area: Ethernet, bug, platform: NXP

#23330 doc: release notes: Remove last TBD entries
  doc/releases/release-notes-2.2.rst
Labels: area: Documentation

#23328 arch: arc: fix the bug of blt in syscall
  arch/arc/core/fault_s.S
Labels: area: ARC, bug

#23352 doc: release notes: Update v2.2 for security
  doc/releases/release-notes-2.2.rst
Labels: area: Documentation

#23317 Bluetooth: Mesh: CDB for config client in shell
  subsys/bluetooth/mesh/shell.c
Labels: area: Bluetooth, area: Bluetooth Mesh, bug

#23102 Bluetooth: Mesh: Segmented TX to groups
  subsys/bluetooth/mesh/adv.h
  subsys/bluetooth/mesh/transport.c
Labels: area: Bluetooth, area: Bluetooth Mesh

#23233 Bluetooth: host: Fix host resolving peer identity in connection complete
  subsys/bluetooth/host/hci_core.c
Labels: area: Bluetooth

#23255 scripts: build.py: make _sanity_check() case insensitive on windows
  scripts/west_commands/build.py
Labels: bug

#23288 CODEOWNERS: Add daor-oti and wopu-ot to several directories
  CODEOWNERS
Labels: area: Process

#23267 boards: arm: Fix broken links in nxp board docs
  boards/arm/lpcxpresso55s69/doc/index.rst
  boards/arm/mimxrt1010_evk/doc/index.rst
  boards/arm/mimxrt1015_evk/doc/index.rst
  boards/arm/mimxrt1020_evk/doc/index.rst
  boards/arm/mimxrt1060_evk/doc/index.rst
  boards/arm/mimxrt1064_evk/doc/index.rst
Labels: area: Boards, area: Documentation, platform: NXP

#22846 net: ipv6: Add network interface to various debug prints
  subsys/net/ip/ipv6_nbr.c
  subsys/net/ip/net_if.c
Labels: area: Networking

#23131 crc: Add crc8 implementation and tests
  include/sys/crc.h
  lib/os/crc8_sw.c
  tests/unit/crc/main.c
Labels: area: API, area: Tests

#23327 drivers: modem: Remove invalid comparison
  drivers/modem/modem_pin.c
Labels: area: Modem

#22820 sockets: tls: Fix net_context referencing
  subsys/net/lib/sockets/sockets_tls.c
Labels: area: Networking, bug

#23012 drivers/ethernet/eth_gecko: auto-negotiate after link up
  drivers/ethernet/eth_gecko.c
  drivers/ethernet/phy_gecko.c
Labels: area: Ethernet, area: Networking, platform: SiLabs

#22894 PPP negotiation changes
  include/net/ppp.h
  subsys/net/l2/ppp/Kconfig
  subsys/net/l2/ppp/ipcp.c
  subsys/net/l2/ppp/misc.c
  subsys/net/l2/ppp/ppp_internal.h
Labels: area: API, area: Networking

#23013 net/ip/dhcpv4: Set Host Name in DHCP Request
  subsys/net/ip/dhcpv4.c
  subsys/net/ip/dhcpv4.h
Labels: area: Networking

#22794 net: mqtt: Add write message handler
  subsys/net/lib/mqtt/mqtt.c
  subsys/net/lib/mqtt/mqtt_transport.c
  subsys/net/lib/mqtt/mqtt_transport.h
  subsys/net/lib/mqtt/mqtt_transport_socket_tcp.c
  subsys/net/lib/mqtt/mqtt_transport_socket_tls.c
  subsys/net/lib/mqtt/mqtt_transport_websocket.c
Labels: area: Networking

#23298 net: openthread: Unify IS_ENABLED macro usage
  subsys/net/l2/openthread/openthread.c
  subsys/net/lib/openthread/platform/radio.c
Labels: area: Networking, area: OpenThread

#22939 net: wifi: shell: drop explicit length parameter
  subsys/net/l2/wifi/wifi_shell.c
Labels: area: Networking

#23020 cmake: Allow change of the QEMU Ethernet interface name
  cmake/app/boilerplate.cmake
  drivers/ethernet/Kconfig
Labels: area: Build System, area: Networking

#22849 tests: drivers: uart: config api
  tests/drivers/uart/uart_basic_api/CMakeLists.txt
  tests/drivers/uart/uart_basic_api/src/main.c
  tests/drivers/uart/uart_basic_api/src/test_uart.h
  tests/drivers/uart/uart_basic_api/src/test_uart_config.c
Labels: area: API, area: Tests, area: UART, enhancement

#23276 Fix RTC counter driver for stm32
  drivers/counter/Kconfig.stm32_rtc
  drivers/counter/counter_ll_stm32_rtc.c
Labels: area: Counter, platform: STM32

#23345 boards: arm: bl65x_dvk: fix reset not working
  boards/arm/bl652_dvk/board.cmake
  boards/arm/bl654_dvk/board.cmake
Labels: area: Boards

#23296 drivers: i2c: i2c_sam0: Fix interrupt connection
  drivers/i2c/i2c_sam0.c
Labels: area: Drivers, area: I2C, bug, platform: ATMEL, priority: medium

#23326 drivers: crypto: mbedtls: Remove dead code
  drivers/crypto/crypto_mtls_shim.c
Labels: bug

#23049 driver/sensors: lis2dh: Fix I2C and SPI bus communication
  drivers/sensor/lis2dh/CMakeLists.txt
  drivers/sensor/lis2dh/lis2dh.c
  drivers/sensor/lis2dh/lis2dh.h
  drivers/sensor/lis2dh/lis2dh_i2c.c
  drivers/sensor/lis2dh/lis2dh_spi.c
  drivers/sensor/lis2dh/lis2dh_trigger.c
Labels: area: Drivers, area: Sensors, bug

#23036 Bluetooth: controller: legacy: Fix Data Length Tx Rx time
  subsys/bluetooth/controller/ll_sw/ctrl.c
Labels: Bluetooth Qualification, area: Bluetooth, backport v1.14-branch, bug

#23085 lib: posix: Fix undefined reference
  lib/posix/pthread_common.c
Labels: area: POSIX

#23291 Bluetooth: controller: nRF51x: Force optimize for speed
  subsys/bluetooth/controller/Kconfig
Labels: area: Bluetooth, enhancement

#23261 Bluetooth: HCI_VS: Check for supported command
  include/bluetooth/hci_vs.h
  subsys/bluetooth/host/hci_core.c
Labels: area: API, area: Bluetooth

#23188 drivers: usb_dc_nrfx: Reset dtoggle when stall is cleared
  CODEOWNERS
Labels: area: Drivers, area: USB, bug, platform: nRF

#23086 Allow all BLE controllers to choose phy support
  subsys/bluetooth/controller/Kconfig
Labels: area: Bluetooth

#23218 DFU: add init function with area id as paramater
  include/dfu/flash_img.h
  subsys/dfu/img_util/flash_img.c
  tests/subsys/dfu/img_util/src/main.c
Labels: area: API, area: Tests, enhancement

#23228 Bluetooth: host: Fix local RPA not valid in connection complete
  subsys/bluetooth/host/hci_core.c
Labels: area: Bluetooth, bug

#23213 Bluetooth: host: Use switch statement in bt_conn_set_state
  subsys/bluetooth/host/conn.c
Labels: area: Bluetooth

#23217 modules: mbedtls: Better help for MBEDTLS_BUILTIN vs MBEDTLS_LIBRARY
  modules/Kconfig.mbedtls
Labels: area: Documentation

#22876 doc/reference/runtime_conf: improve example snippet
  doc/reference/runtime_conf/settings/settings.rst
Labels: area: Documentation, area: Settings

#23197 Replace IWDG_STM32_START_AT_BOOT by WDT_DISABLE_AT_BOOT
  drivers/watchdog/Kconfig.stm32
  drivers/watchdog/wdt_iwdg_stm32.c
Labels: area: Watchdog, platform: STM32

#22845 pthread: add setname/getname extension functions
  include/posix/pthread.h
  lib/posix/pthread.c
  tests/posix/common/prj.conf
  tests/posix/common/src/pthread.c
Labels: area: API, area: POSIX, area: Tests

#23007 driver: modem: Print sent data if verbose debugging is enabled
  drivers/modem/modem_cmd_handler.c
Labels: area: Modem

#23080 boards: arm: Add board definition for Adafruit Feather STM32F405 Express
  boards/arm/adafruit_feather_stm32f405/CMakeLists.txt
  boards/arm/adafruit_feather_stm32f405/Kconfig.board
  boards/arm/adafruit_feather_stm32f405/Kconfig.defconfig
  boards/arm/adafruit_feather_stm32f405/adafruit_feather_stm32f405.dts
  boards/arm/adafruit_feather_stm32f405/adafruit_feather_stm32f405.yaml
  boards/arm/adafruit_feather_stm32f405/adafruit_feather_stm32f405_defconfig
  boards/arm/adafruit_feather_stm32f405/board.cmake
  boards/arm/adafruit_feather_stm32f405/doc/img/f405feather.jpg
  boards/arm/adafruit_feather_stm32f405/doc/index.rst
  boards/arm/adafruit_feather_stm32f405/pinmux.c
Labels: area: Boards, platform: STM32

#22951 random: remove rand32_timestamp.c
  doc/reference/random/index.rst
  subsys/random/CMakeLists.txt
  subsys/random/Kconfig
  subsys/random/rand32_timestamp.c
Labels: area: Documentation

#23065 Updates to net-tools sample test script
  scripts/net/run-sample-tests.sh
Labels: area: Networking

#22940 net: icmpv4: drop requests on NET_OFFLOAD interfaces
  subsys/net/ip/icmpv4.c
Labels: area: Networking

#21175 drivers: rework usb_dc_mcux_ehci
  drivers/usb/device/usb_dc_mcux_ehci.c
Labels: area: Code Style, area: Drivers, area: USB, bug, platform: NXP

#23100 Bluetooth: Mesh: Rework msg_cache
  subsys/bluetooth/mesh/net.c
Labels: area: Bluetooth, area: Bluetooth Mesh

#23362 boards: arm: mec1501modular: Disable I2C2 bus from board
  boards/arm/mec1501modular_assy6885/mec1501modular_assy6885.dts
Labels: area: Boards

#23340 soc: arm: stm32: configure LDO supply on H7 init
  soc/arm/st_stm32/stm32h7/soc_m7.c
Labels: platform: STM32

#22957 nios2: add arch_irq_is_enabled()
  arch/nios2/core/irq_manage.c
Labels: Trivial, area: NIOS2

#22812 Add support for free-fall triggering to sensor api
  include/drivers/sensor.h
Labels: area: API

#23179 usb_dc_stm32: ameliorate PMA leak on reset.
  drivers/usb/device/usb_dc_stm32.c
Labels: area: Drivers, area: USB, bug, platform: STM32

#22923 doc: releases: Release notes for v2.3 - initial (empty) draft
  doc/releases/release-notes-2.3.rst
Labels: area: Documentation

#23377 drivers: ieee802154_nrf5: Fix build failure
  drivers/ieee802154/ieee802154_nrf5.c
Labels: Hotfix, bug

#23363 samples: display: doc: Corrected build commands
  samples/drivers/display/README.rst
Labels: Trivial, area: Display, area: Documentation, area: Samples

#22851 kernel: random: ifdef z_early_boot_rand_get
  kernel/init.c
Labels: area: Kernel

#22962 sensor: ak8975: Convert to DTS
  drivers/sensor/ak8975/Kconfig
  drivers/sensor/ak8975/ak8975.c
  drivers/sensor/ak8975/ak8975.h
  dts/bindings/sensor/asahi-kasei,ak8975.yaml
  dts/bindings/sensor/invensense,mpu9150.yaml
  tests/drivers/build_all/dts_fixup.h
Labels: area: Device Tree, area: Sensors, area: Tests

#22963 sensor: pms7003: Convert to DTS
  drivers/sensor/pms7003/Kconfig
  drivers/sensor/pms7003/pms7003.c
  dts/bindings/sensor/plantower,pms7003.yaml
Labels: area: Device Tree, area: Sensors

#22841 kernel: fixup thread monitor locking
  kernel/thread.c
  tests/kernel/obj_tracing/src/main.c
Labels: area: API, area: Kernel, area: Tests

#22695 boards: arm: nrf52840_pca10059: Add pwmleds to DT
  boards/arm/nrf52840_pca10059/Kconfig.defconfig
  boards/arm/nrf52840_pca10059/nrf52840_pca10059.dts
Labels: area: Boards

#23380 sensor: shell: return -ENODEV on binding errors
  drivers/sensor/sensor_shell.c
Labels: area: Sensors

#23381 samples: drivers: spi_flash: use printf argument consistent with format
  samples/drivers/spi_flash/src/main.c
Labels: Coverity, area: Samples

#23379 arm: aarch64: Reintroduce _ASM_FILE_PROLOGUE
  arch/arm/core/aarch64/cpu_idle.S
  arch/arm/core/aarch64/isr_wrapper.S
  arch/arm/core/aarch64/reset.S
  arch/arm/core/aarch64/swap_helper.S
  arch/arm/core/aarch64/vector_table.S
  include/toolchain/gcc.h
Labels: area: API, area: ARM, area: Toolchains

#20584 mgmt: dfu: Necessary changes so DFU works with mcumgr.
  subsys/mgmt/Kconfig.mcumgr
  west.yml
Labels: area: API, area: Modules, area: mcumgr

#22757 nrf52_bsim: Remove no longer needed header stubs
  boards/posix/nrf52_bsim/CMakeLists.txt
  boards/posix/nrf52_bsim/fake/core_cm4.h
  boards/posix/nrf52_bsim/fake/system_nrf52.h
Labels: area: Boards, enhancement, platform: nrf52_bsim

#23287 usb: Set cdc_acm initialization level to POST_KERNEL
  subsys/usb/class/cdc_acm.c
Labels: area: USB

#23348 doc: keep IDs when redirecting URLs
  doc/extensions/zephyr/html_redirects.py
Labels: area: Documentation

#22988 tests: work_q: Add assert if k_delayed_work_submit fails in the handler
  tests/kernel/workq/work_queue_api/src/main.c
Labels: area: Kernel, area: Tests

#22603 drivers: pinmux: Add SPI1 NSS config on PA15
  drivers/pinmux/stm32/pinmux_stm32f4.h
Labels: platform: STM32

#23389 tests: drivers: gpio_basic_api: silence coverity warning
  tests/drivers/gpio/gpio_basic_api/src/test_deprecated.c
Labels: Coverity, area: Tests

#22476 drivers: modem: Add support for commands that don't have a line ending
  drivers/modem/modem_cmd_handler.c
  drivers/modem/modem_cmd_handler.h
Labels: area: Modem

#22881 drivers: uart: miv: convert to DT_INST defines
  boards/riscv/m2gl025_miv/m2gl025_miv_defconfig
  drivers/serial/Kconfig.miv
  drivers/serial/uart_miv.c
  soc/riscv/riscv-privilege/miv/dts_fixup.h
Labels: area: Boards

#23196 kernel: Add static threads to k_thread_foreach functions
  kernel/thread.c
Labels: area: Kernel

#23405 doc: board_porting: Provide guideline on MPU activation
  doc/guides/porting/board_porting.rst
Labels: area: ARM, area: Boards, area: Documentation, area: Memory Protection, dev-review

#22854 driver: sensor: Add i2c_label and i2c_addr in the max30101_config st…
  drivers/sensor/max30101/max30101.c
  drivers/sensor/max30101/max30101.h
  tests/drivers/build_all/dts_fixup.h
Labels: area: Sensors, area: Tests

#22753 drivers: spi: nrfx: Prevent double nrfx_spi[m]_uninit calls
  drivers/spi/spi_nrfx_spi.c
  drivers/spi/spi_nrfx_spim.c
Labels: area: Drivers, area: SPI, bug, platform: nRF

#22581 soc: silabs_exx32: Make HFRCO frequency configurable
  soc/arm/silabs_exx32/Kconfig
  soc/arm/silabs_exx32/common/soc.c
  soc/arm/silabs_exx32/efm32gg11b/Kconfig.series
  soc/arm/silabs_exx32/efm32jg12b/Kconfig.series
  soc/arm/silabs_exx32/efm32pg12b/Kconfig.series
  soc/arm/silabs_exx32/efr32fg1p/Kconfig.series
  soc/arm/silabs_exx32/efr32mg12p/Kconfig.series
Labels: platform: SiLabs

#22761 drivers: can: loopback: Use thread to send frames.
  drivers/can/Kconfig.loopback
  drivers/can/can_loopback.c
Labels: area: CAN

#22843 kernel: k_thread_abort() adjustments
  kernel/thread_abort.c
Labels: area: Kernel

#23081 drivers: crypto: stm32: Add CAP_NO_IV_PREFIX capability
  drivers/crypto/crypto_stm32.c
Labels: platform: STM32

#23408 drivers: i2c: Remove invalid syscalls
  include/drivers/i2c.h
Labels: area: API, area: I2C, bug, priority: high

#23421 arch: arm: aarch32: rename z_arm_lib_init() function
  arch/arm/core/aarch32/cortex_m/irq_init.c
  arch/arm/core/aarch32/prep_c.c
  include/arch/arm/aarch32/irq.h
Labels: Trivial, area: API, area: ARM

#23428 doc: fix broken links in README and board docs
  README.rst
  boards/riscv/qemu_riscv64/doc/index.rst
Labels: area: Boards

#23275 samples: boards: mec15xxevb: Power management tests
  samples/boards/mec15xxevb_assy6853/mec15xxevb_assy6853.rst
  samples/boards/mec15xxevb_assy6853/power_management/CMakeLists.txt
  samples/boards/mec15xxevb_assy6853/power_management/README.rst
  samples/boards/mec15xxevb_assy6853/power_management/prj.conf
  samples/boards/mec15xxevb_assy6853/power_management/sample.yaml
  samples/boards/mec15xxevb_assy6853/power_management/src/main.c
  samples/boards/mec15xxevb_assy6853/power_management/src/power_mgmt.c
  samples/boards/mec15xxevb_assy6853/power_management/src/power_mgmt.h
Labels: area: Samples

#22742 isr_tables: Support hardware interrupt vector table-only configuration.
  arch/common/isr_tables.c
  include/linker/common-ram.ld
  include/linker/common-rom.ld
Labels: area: API

#23018 Bluetooth: controller: Do not use LL procedures not supported by remote
  subsys/bluetooth/controller/ll_sw/ctrl.c
  subsys/bluetooth/controller/ll_sw/ctrl_internal.h
  subsys/bluetooth/controller/ll_sw/ull_adv.c
  subsys/bluetooth/controller/ll_sw/ull_conn.c
  subsys/bluetooth/controller/ll_sw/ull_conn_types.h
  subsys/bluetooth/controller/ll_sw/ull_master.c
Labels: area: Bluetooth, bug

#23283 Bluetooth: host: Allow to initiate pairing without OOB present
  subsys/bluetooth/host/smp.c
Labels: area: Bluetooth

#23410 sys/util.h: allow UTIL_LISTIFY to pass args to repeat macro
  include/sys/util.h
  tests/unit/util/main.c
Labels: area: API, area: Tests

#22428 Sensor: ADXL345: Add ADXL345 driver
  drivers/sensor/CMakeLists.txt
  drivers/sensor/Kconfig
  drivers/sensor/adxl345/CMakeLists.txt
  drivers/sensor/adxl345/Kconfig
  drivers/sensor/adxl345/adxl345.c
  drivers/sensor/adxl345/adxl345.h
  dts/bindings/sensor/adi,adxl345.yaml
  tests/drivers/build_all/dts_fixup.h
  tests/drivers/build_all/sensors_a_h.conf
Labels: area: Device Tree, area: Sensors, area: Tests

#23369 drivers/flash: Fix missing ticker stop on timeout
  drivers/flash/soc_flash_nrf.c
Labels: area: Drivers, area: Flash, bug

#23433 doc: fix some errors
  doc/zephyr.doxyfile.in
  tests/kernel/mem_protect/futex/src/main.c
Labels: area: Documentation, area: Kernel, area: Tests

#22938 posix: add zephyr_linker_sources() support
  include/arch/posix/linker.ld
Labels: area: API, area: native port

#20477 arch: arm: Optimise Cortex-R exception return function.
  arch/arm/core/aarch32/exc_exit.S
  arch/arm/core/aarch32/isr_wrapper.S
  arch/arm/core/aarch32/swap_helper.S
  include/arch/arm/aarch32/cortex_r/cpu.h
Labels: area: API, area: ARM

#22984 drivers: sam: entropy: implement get_entropy_isr
  drivers/entropy/entropy_sam.c
Labels: backport v1.14-branch, bug, platform: ATMEL

#23466 Bluetooth: Kconfig: Fix BT_ECC defaults
  subsys/bluetooth/host/Kconfig
  subsys/bluetooth/mesh/Kconfig
Labels: area: Bluetooth, area: Bluetooth Mesh, bug

#23439 Improve ICMPv4 tests
  tests/net/icmpv4/prj.conf
  tests/net/icmpv4/src/main.c
Labels: area: Networking, area: Tests

#23464 power: device: fix name for Nordic clock driver
  subsys/power/device.c
Labels: area: Power Management, platform: nRF

#23402 drivers/console: Removing left-over cmake directive about telnet
  drivers/console/CMakeLists.txt
Labels: area: Build System, area: Console, area: Drivers

#22781 drivers/sensor: add support to IIS2DLPC accelerometer sensor
  drivers/sensor/CMakeLists.txt
  drivers/sensor/Kconfig
  drivers/sensor/iis2dlpc/CMakeLists.txt
  drivers/sensor/iis2dlpc/Kconfig
  drivers/sensor/iis2dlpc/iis2dlpc.c
  drivers/sensor/iis2dlpc/iis2dlpc.h
  drivers/sensor/iis2dlpc/iis2dlpc_i2c.c
  drivers/sensor/iis2dlpc/iis2dlpc_spi.c
  drivers/sensor/iis2dlpc/iis2dlpc_trigger.c
  dts/bindings/sensor/st,iis2dlpc-i2c.yaml
  dts/bindings/sensor/st,iis2dlpc-spi.yaml
  tests/drivers/build_all/dts_fixup.h
  tests/drivers/build_all/sensors_stmemsc.conf
  tests/drivers/build_all/sensors_stmemsc_trigger.conf
Labels: area: Device Tree, area: Drivers, area: Sensors, area: Tests

#23487 samples: sockets: big_http_download: Increase stack size by 128 bytes
  samples/net/sockets/big_http_download/prj.conf
Labels: Trivial, area: Networking, area: Samples

#23486 bluetooth: host: Do not send unwanted SC indicate
  subsys/bluetooth/host/gatt.c
Labels: area: Bluetooth, bug

#23406 dts: nxp: kinetis: Update nxp,kinetis-gpio binding for port connection
  dts/arm/nxp/nxp_k2x.dtsi
  dts/arm/nxp/nxp_k6x.dtsi
  dts/arm/nxp/nxp_k8x.dtsi
  dts/arm/nxp/nxp_ke1xf.dtsi
  dts/arm/nxp/nxp_kl25z.dtsi
  dts/arm/nxp/nxp_kv5x.dtsi
  dts/arm/nxp/nxp_kw2xd.dtsi
  dts/arm/nxp/nxp_kw40z.dtsi
  dts/arm/nxp/nxp_kw41z.dtsi
  dts/bindings/gpio/nxp,kinetis-gpio.yaml
Labels: area: Device Tree, platform: NXP

#23454 kernel: interrupt/idle stacks/threads as array
  arch/arc/core/arc_smp.c
  arch/arc/core/reset.S
  arch/arc/include/kernel_arch_func.h
  arch/arc/include/v2/irq.h
  arch/arm/core/aarch32/cortex_m/reset.S
  arch/arm/core/aarch32/cortex_r/reset.S
  arch/arm/core/aarch32/cortex_r/stacks.c
  arch/arm/core/aarch64/reset.S
  arch/arm/include/aarch32/cortex_m/stack.h
  arch/arm/include/aarch32/cortex_r/stack.h
  arch/nios2/core/crt0.S
  arch/nios2/include/kernel_arch_data.h
  arch/nios2/include/kernel_arch_func.h
  arch/riscv/core/reset.S
  arch/riscv/include/kernel_arch_func.h
  arch/x86/core/fatal.c
  arch/x86/core/ia32/crt0.S
  arch/x86/core/ia32/fatal.c
  arch/x86/core/intel64/cpu.c
  arch/x86/core/prep_c.c
  arch/x86/include/kernel_arch_func.h
  arch/xtensa/include/kernel_arch_func.h
  kernel/include/kernel_internal.h
  kernel/include/ksched.h
  kernel/init.c
  kernel/smp.c
  soc/arm/ti_lm3s6965/reboot.S
  subsys/shell/modules/kernel_service.c
  tests/arch/arm/arm_thread_swap/src/arm_syscalls.c
Labels: area: ARC, area: ARM, area: Kernel, area: NIOS2, area: Shell, area: Tests, area: X86, area: Xtensa

#23141 drivers: pwm: mcux_ftm: configure pwm in ticks, not frequency/percent
  drivers/pwm/pwm_mcux_ftm.c
Labels: area: PWM, platform: NXP

#23502 kernel: move some stuff in cstart() to SYS_INIT
  kernel/include/kernel_internal.h
  kernel/init.c
  kernel/userspace.c
Labels: Trivial, area: Kernel

#23488 drivers: serial: pl011: Fix typo bug in port1 support
  drivers/serial/uart_pl011.c
Labels: Trivial, bug

#21825 subsys/mgmt: Enabling mynewt-core version of tinycbor
  include/mgmt/buf.h
  modules/Kconfig.tinycbor
  subsys/mgmt/buf.c
  west.yml
Labels: area: API, area: Modules

#23495 Bluetooth: controller: split: Fix response to unexpected LL_FEATURE_RSP
  subsys/bluetooth/controller/ll_sw/ull_conn.c
Labels: Bluetooth Qualification, area: Bluetooth, bug

#23510 usb: mass_storage: fix API usage by using memmove
  subsys/usb/class/mass_storage.c
Labels: Coverity, area: USB

#23522 samples: net: cloud: Fix the mqtt_azure sample location
  samples/net/cloud/mqtt_azure/README.rst
Labels: area: Networking, area: Samples

#23505 build: prevent subsystems.json from being gen twice
  CMakeLists.txt
  cmake/kobj.cmake
Labels: area: Build System

#23513 sanitycheck: delete the '\r' char in front of serial output
  scripts/sanitycheck
Labels: area: Sanitycheck

#23523 [Backport-v2.2] Bluetooth: controller: split: Fix response to unexpected LL_FEATURE_RSP
  subsys/bluetooth/controller/ll_sw/ull_conn.c
Labels: Bluetooth Qualification, area: Bluetooth, backport v2.2-branch, bug

#23490 [Backport-v2.2-branch] bluetooth: host: Do not send unwanted SC indicate
  subsys/bluetooth/host/gatt.c
Labels: area: Bluetooth, backport v2.2-branch, bug

#23521 Bluetooth: host: Minor header file doxygen fixes
  include/bluetooth/bluetooth.h
  include/bluetooth/conn.h
  include/bluetooth/gap.h
  include/bluetooth/gatt.h
  include/bluetooth/hci_err.h
  include/bluetooth/l2cap.h
Labels: area: API, area: Bluetooth

#23493 driver: pinmux: stm32f7 configure speed for SPI clock pin
  drivers/pinmux/stm32/pinmux_stm32f7.h
Labels: platform: STM32

#23534 tests: wdt_basic_api: make mec15xxevb_assy6853 build only
  tests/drivers/watchdog/wdt_basic_api/testcase.yaml
Labels: area: Tests

#23411 util.h: add MACRO_MAP_CAT() and MACRO_MAP_CAT_N()
  include/sys/util.h
Labels: area: API
