Repository zephyrproject-rtos/zephyr, pull requests merged in 2020-05, with the labels that each got.

#24874 soc: nios2: Cleanup linker scripts to use new DTS macros
  lib/libc/newlib/libc-hooks.c
  soc/nios2/nios2-qemu/dts_fixup.h
  soc/nios2/nios2-qemu/linker.ld
  soc/nios2/nios2f-zephyr/dts_fixup.h
  soc/nios2/nios2f-zephyr/linker.ld
Labels: area: C Library, area: Device Tree, area: NIOS2

#24881 west.yml: Update hal_ti to update cc32xx to SimpleLink SDK 4.10.00.07
  west.yml
Labels: area: Modules

#24836 drivers: usb: usb_dc_stm32: Rename defines to remove DT_ prefix
  drivers/usb/device/usb_dc_stm32.c
Labels: area: Device Tree, area: USB, platform: STM32

#24830 usb: Convert vbus-gpio usage to new devicetree macros
  subsys/usb/usb_device.c
Labels: area: Device Tree, area: USB

#24878 Kukui i2c
  boards/arm/google_kukui/Kconfig.board
  boards/arm/google_kukui/doc/index.rst
  boards/arm/google_kukui/google_kukui.dts
  boards/arm/google_kukui/google_kukui_defconfig
  boards/arm/google_kukui/pinmux.c
Labels: area: Boards

#24856 soc: nrf: Cleanup dts_fixup.h
  soc/arm/nordic_nrf/nrf51/dts_fixup.h
  soc/arm/nordic_nrf/nrf52/dts_fixup.h
  soc/arm/nordic_nrf/nrf53/dts_fixup.h
  soc/arm/nordic_nrf/nrf91/dts_fixup.h
Labels: area: Device Tree, platform: nRF

#24888 samples: canbus: isotp: fix a typo
  samples/subsys/canbus/isotp/src/main.c
Labels: Trivial, area: Samples

#24879 x86: fix trampoline stack clobber
  arch/x86/core/ia32/userspace.S
Labels: area: X86, backport v1.14-branch

#24880 x86_64: fix crash on nested interrupts
  arch/x86/core/intel64/cpu.c
Labels: area: X86

#24882 boards: mec1501modular: Remove NO_DEFAULT_PATH from find_file
  boards/arm/mec1501modular_assy6885/CMakeLists.txt
Labels: area: Boards

#24896 drivers: eth: gmac: Convert to use k_timeout_t
  drivers/ethernet/eth_sam_gmac.c
Labels: Hotfix

#24801 samples: drivers: can: Rename directory for consistency
  CODEOWNERS
  samples/drivers/can/CMakeLists.txt
  samples/drivers/can/Kconfig
  samples/drivers/can/README.rst
  samples/drivers/can/prj.conf
  samples/drivers/can/prj.mcp2515.conf
  samples/drivers/can/sample.yaml
  samples/drivers/can/src/main.c
Labels: RFC, area: Samples

#24891 ADC: Rework ADC shell to remove DT_ADC_{0..2}_NAME usage.
  drivers/adc/adc_shell.c
Labels: area: ADC, area: Boards, area: Device Tree, area: Tests

#24168 Update vulnerability disclosure documents.
  doc/security/media/zepsec-workflow.png
  doc/security/security-overview.rst
Labels: area: Boards, area: Documentation

#24897 qemu_x86: use icount for 32-bit
  boards/x86/qemu_x86/board.cmake
Labels: area: Boards

#24902 Bluetooth: Fix NULL pointer dereference when bt_send() fails
  subsys/bluetooth/host/hci_core.c
Labels: area: Bluetooth, bug

#24766 flash: dts: replace DT_FLASH_{ERASE,WRITE}_BLOCK_SIZE with new macros
  subsys/dfu/boot/mcuboot.c
  subsys/dfu/img_util/flash_img.c
  subsys/net/lib/openthread/platform/openthread-core-zephyr-config.h
  tests/subsys/settings/fcb_init/src/settings_test_fcb_init.c
Labels: area: Device Tree, area: Flash, area: Networking, area: Tests

#24922 doc: cmake: using common python.cmake code
  doc/CMakeLists.txt
Labels: area: Documentation

#24923 doc: native_posix: Add section about 32 and 64 bits
  boards/posix/native_posix/doc/index.rst
Labels: Trivial, area: Boards, area: Documentation, area: native port

#24905 adc: Kconfig: Remove per instance ADC_{0..2} Kconfig symbols
  boards/arm/frdm_k22f/Kconfig.defconfig
  boards/arm/frdm_k64f/Kconfig.defconfig
  boards/arm/frdm_kl25z/Kconfig.defconfig
  boards/arm/frdm_kw41z/Kconfig.defconfig
  boards/arm/hexiwear_k64/Kconfig.defconfig
  boards/arm/hexiwear_kw40z/Kconfig.defconfig
  boards/arm/nucleo_f091rc/Kconfig.defconfig
  boards/arm/nucleo_f103rb/Kconfig.defconfig
  boards/arm/nucleo_f207zg/Kconfig.defconfig
  boards/arm/nucleo_f302r8/Kconfig.defconfig
  boards/arm/nucleo_f401re/Kconfig.defconfig
  boards/arm/nucleo_f746zg/Kconfig.defconfig
  boards/arm/nucleo_f767zi/Kconfig.defconfig
  boards/arm/nucleo_l073rz/Kconfig.defconfig
  boards/arm/nucleo_l152re/Kconfig.defconfig
  boards/arm/nucleo_l476rg/Kconfig.defconfig
  boards/arm/nucleo_wb55rg/Kconfig.defconfig
  boards/arm/sam_e70_xplained/Kconfig.defconfig
  boards/arm/sam_v71_xult/Kconfig.defconfig
  boards/arm/twr_ke18f/Kconfig.defconfig
  boards/arm/usb_kw24d512/Kconfig.defconfig
  drivers/adc/Kconfig
  drivers/adc/Kconfig.nrfx
  tests/drivers/adc/adc_api/boards/sam_e70_xplained.conf
  tests/drivers/adc/adc_api/boards/sam_v71_xult.conf
  tests/drivers/adc/adc_api/prj.conf
Labels: area: ADC, area: Boards, area: Tests

#24930 checkpatch: suppress SPDX license line check
  .checkpatch.conf
Labels: Hotfix

#24906 ci: fix whatchanged script matching
  scripts/ci/what_changed.py
Labels: Trivial, area: Documentation

#24890 tests: uart_async_api: Convert to use new dts macros
  tests/drivers/uart/uart_async_api/src/test_uart.h
Labels: Trivial, area: Device Tree, area: Tests

#24831 tests: Convert DT_ALIAS_* to new DT_ALIAS() macro
  tests/bluetooth/mesh/src/microbit.c
  tests/drivers/gpio/gpio_api_1pin/src/test_gpio_api.h
  tests/drivers/gpio/gpio_api_1pin/testcase.yaml
  tests/drivers/gpio/gpio_basic_api/src/test_gpio.h
  tests/drivers/i2c/i2c_api/src/test_i2c.c
  tests/drivers/pwm/pwm_api/src/test_pwm.c
Labels: area: Bluetooth, area: Device Tree, area: Tests

#24886 boards: arm: mps2_an521: Enable QEMU icount mode
  boards/arm/mps2_an521/board.cmake
Labels: area: ARM, area: Boards, area: QEMU

#24870 drivers: ethernet: sam_gmac: rework pin config
  drivers/ethernet/eth_sam_gmac.c
  dts/arm/atmel/sam4e-pinctrl.dtsi
  dts/arm/atmel/sam4e.dtsi
  dts/arm/atmel/same70-pinctrl.dtsi
  dts/arm/atmel/same70.dtsi
  dts/bindings/ethernet/atmel,sam-gmac.yaml
  soc/arm/atmel_sam/sam4e/soc_pinmap.h
  soc/arm/atmel_sam/same70/soc_pinmap.h
  soc/arm/atmel_sam/samv71/soc_pinmap.h
Labels: area: Device Tree, area: Ethernet, platform: ATMEL

#21747 arm: linker.ld: move bss section to ram end
  include/arch/arm/aarch32/cortex_m/scripts/linker.ld
Labels: area: API, area: ARM, area: Linker Scripts

#24912 stm32_pinctrl: remove duplicate definition
  include/dt-bindings/pinctrl/stm32-pinctrl-common.h
Labels: Trivial, area: API, platform: STM32

#24941 Bluetooth: host: Fix BT_CONN_LE_OPT_NONE renamed issue
  include/bluetooth/conn.h
Labels: Hotfix, area: API, area: Bluetooth, bug

#24933 dts: Remove DT_ADC_{0..2}_NAME references from dts_fixup.h
  soc/arm/atmel_sam/same70/dts_fixup.h
  soc/arm/atmel_sam/samv71/dts_fixup.h
  soc/arm/microchip_mec/mec1501/dts_fixup.h
  soc/arm/nordic_nrf/nrf51/dts_fixup.h
  soc/arm/nordic_nrf/nrf52/dts_fixup.h
  soc/arm/nordic_nrf/nrf53/dts_fixup.h
  soc/arm/nordic_nrf/nrf91/dts_fixup.h
  soc/arm/nxp_kinetis/k2x/dts_fixup.h
  soc/arm/nxp_kinetis/k6x/dts_fixup.h
  soc/arm/nxp_kinetis/k8x/dts_fixup.h
  soc/arm/nxp_kinetis/ke1xf/dts_fixup.h
  soc/arm/nxp_kinetis/kl2x/dts_fixup.h
  soc/arm/nxp_kinetis/kv5x/dts_fixup.h
  soc/arm/nxp_kinetis/kwx/dts_fixup.h
  soc/arm/st_stm32/stm32f0/dts_fixup.h
  soc/arm/st_stm32/stm32f1/dts_fixup.h
  soc/arm/st_stm32/stm32f2/dts_fixup.h
  soc/arm/st_stm32/stm32f3/dts_fixup.h
  soc/arm/st_stm32/stm32f4/dts_fixup.h
  soc/arm/st_stm32/stm32f7/dts_fixup.h
  soc/arm/st_stm32/stm32g4/dts_fixup.h
  soc/arm/st_stm32/stm32l0/dts_fixup.h
  soc/arm/st_stm32/stm32l1/dts_fixup.h
  soc/arm/st_stm32/stm32l4/dts_fixup.h
  soc/arm/st_stm32/stm32wb/dts_fixup.h
Labels: Trivial, area: ADC, area: Device Tree

#24827 samples: Convert DT_ALIAS_* to new DT_ALIAS() macro
  samples/basic/blink_led/src/main.c
  samples/basic/button/README.rst
  samples/basic/button/src/main.c
  samples/basic/fade_led/src/main.c
  samples/basic/rgb_led/src/main.c
  samples/basic/servo_motor/src/main.c
  samples/basic/threads/src/main.c
  samples/bluetooth/mesh/src/microbit.c
  samples/bluetooth/mesh_demo/src/microbit.c
  samples/bluetooth/st_ble_sensor/src/button_svc.c
  samples/bluetooth/st_ble_sensor/src/led_svc.c
  samples/boards/96b_argonkey/microphone/src/main.c
  samples/boards/96b_argonkey/sensors/src/main.c
  samples/boards/bbc_microbit/line_follower_robot/src/main.c
  samples/boards/bbc_microbit/pong/src/main.c
  samples/boards/bbc_microbit/sound/src/main.c
  samples/boards/nrf/mesh/onoff-app/src/main.c
  samples/boards/nrf/mesh/onoff_level_lighting_vnd_app/src/app_gpio.c
  samples/boards/nrf/mesh/onoff_level_lighting_vnd_app/src/main.c
  samples/boards/nrf/mesh/onoff_level_lighting_vnd_app/src/mesh/publisher.c
  samples/boards/nrf/nrfx/src/main.c
  samples/boards/reel_board/mesh_badge/src/reel_board.c
  samples/boards/sensortile_box/src/main.c
  samples/boards/ti/cc13x2_cc26x2/system_off/src/main.c
  samples/drivers/can/src/main.c
  samples/drivers/i2c_fujitsu_fram/src/main.c
  samples/drivers/led_apa102c_bitbang/src/main.c
  samples/drivers/led_ws2812/src/main.c
  samples/drivers/peci/src/main.c
  samples/drivers/spi_fujitsu_fram/src/main.c
  samples/net/lwm2m_client/src/lwm2m-client.c
  samples/sensor/fxos8700-hid/src/main.c
  samples/subsys/canbus/canopen/src/main.c
  samples/subsys/usb/hid-cdc/src/main.c
  samples/subsys/usb/hid-mouse/README.rst
  samples/subsys/usb/hid-mouse/src/main.c
Labels: area: Bluetooth, area: Device Tree, area: Networking, area: Samples

#23695 cmake: add footprint target
  cmake/reports/CMakeLists.txt
Labels: area: Build System, area: DX

#24887 kernel: Fix k_thread_resource_pool_assign() documentation
  include/kernel.h
Labels: area: API

#24672 boards: arm: nrf5340pdk: adapt shared-memory defines to new style DT
  boards/arm/nrf5340pdk_nrf5340/nrf5340_cpunet_reset.c
Labels: Trivial, area: Boards

#24809 tests: lib: cmsis_dsp: transform: Provide RIFFT bug workaround
  tests/lib/cmsis_dsp/transform/src/rf32.c
  tests/lib/cmsis_dsp/transform/src/rf64.c
  tests/lib/cmsis_dsp/transform/src/rq15.c
  tests/lib/cmsis_dsp/transform/src/rq31.c
Labels: area: CMSIS-DSP, area: Tests

#24849 boards: stm32: g474 nucleo board has no hw pins for usart2
  boards/arm/nucleo_g474re/doc/index.rst
  boards/arm/nucleo_g474re/nucleo_g474re.dts
  boards/arm/nucleo_g474re/pinmux.c
Labels: area: Boards, platform: STM32

#24892 tests: counter_basic_api: Convert to use new dts macros
  tests/drivers/counter/counter_basic_api/src/test_counter.c
Labels: area: Counter, area: Device Tree, area: Tests

#24944 doc: remove reference to ext/
  doc/application/index.rst
Labels: Trivial, area: Documentation

#24932 tester: Adjust to recent changes in BTP API
  tests/bluetooth/tester/src/bttester.h
  tests/bluetooth/tester/src/l2cap.c
Labels: area: Bluetooth, area: Tests

#24822 Fix polling incoming messages in mqtt_azure cloud sample
  samples/net/cloud/mqtt_azure/src/main.c
Labels: area: Networking, area: Samples

#24977 net: Replace NET_WAIT_FOREVER by SYS_FOREVER_MS
  include/net/net_timeout.h
  include/net/websocket.h
  samples/net/cloud/mqtt_azure/src/main.c
  samples/net/sockets/websocket_client/src/main.c
  subsys/net/lib/dns/resolve.c
  subsys/net/lib/http/http_client.c
  subsys/net/lib/mqtt/mqtt_transport_websocket.c
  subsys/net/lib/sntp/sntp_simple.c
  subsys/net/lib/sockets/sockets.c
  subsys/net/lib/websocket/websocket.c
  tests/net/context/src/main.c
  tests/net/socket/websocket/src/main.c
Labels: area: API, area: Networking, area: Samples, area: Tests

#24967 net: l2: openthread: Add function for getting openthread instance
  include/net/openthread.h
  subsys/net/l2/openthread/openthread.c
Labels: area: API, area: Networking, area: OpenThread

#24974 boards: arm: nxp_kinetis: Remove Kconfig PWM_[0-3] usage
  boards/arm/frdm_k22f/Kconfig.defconfig
  boards/arm/frdm_k64f/Kconfig.defconfig
  boards/arm/frdm_k82f/Kconfig.defconfig
  boards/arm/hexiwear_k64/Kconfig.defconfig
  boards/arm/twr_ke18f/Kconfig.defconfig
  boards/arm/usb_kw24d512/Kconfig.defconfig
Labels: Trivial, area: Boards, area: PWM, platform: NXP

#24980 soc: arm: nxp_lpc: Convert from Kconfig to DT_NODELABEL
  soc/arm/nxp_lpc/lpc54xxx/soc.c
  soc/arm/nxp_lpc/lpc55xxx/soc.c
Labels: Trivial, platform: NXP

#24937 drivers: spi: spi_sam0: fix spi_sam0_fast_txrx()
  drivers/spi/spi_sam0.c
Labels: area: Drivers, area: SPI, bug, platform: ATMEL

#24924 west.yml: update open_amp and libmetal to v2020.04.0
  west.yml
Labels: area: Modules

#24951 boards: decawave_dwm1001_dev: add devicetree node for LIS2DH12
  boards/arm/decawave_dwm1001_dev/decawave_dwm1001_dev.dts
Labels: area: Boards, area: Sensors

#24899 boards: shields: esp_8266: Add AT bin download link
  boards/shields/esp_8266/doc/index.rst
Labels: area: Boards

#24824 cmake: host-tools fixes for DTC
  cmake/host-tools.cmake
Labels: area: Build System

#24818 drivers: pinmux: stm32: Complete STM32F0 series
  drivers/pinmux/stm32/pinmux_stm32f0.h
Labels: platform: STM32

#23456 [v2.1-branch] usb: mass_storage: check LBA range
  subsys/usb/class/mass_storage.c
Labels: area: USB, backport v2.1-branch

#24962 boards: arm: nucleo_wb55rg: Add missing sw2 alias.
  boards/arm/nucleo_wb55rg/nucleo_wb55rg.dts
Labels: Trivial, area: Boards, platform: STM32

#24989 drivers: pwm: Remove per instance Kconfig symbols
  drivers/pwm/Kconfig
Labels: Trivial, area: PWM

#24952 I2C: bitbang: Fix stop and repeated start conditions
  drivers/i2c/i2c_bitbang.c
Labels: area: I2C, bug

#23649 Backport v2.1: shell: utils: Fix buffer overrun in shell_spaces_trim
  subsys/shell/shell_utils.c
Labels: Backport, area: Shell, backport v2.1-branch

#23499 backport-v2.1: arch: arc: fix the bug of blt in syscall
  arch/arc/core/fault_s.S
Labels: area: ARC, backport v2.1-branch

#23457 [v2.1-branch] usb: dfu: check requested length (wLength) during DFU_UPLOAD
  subsys/usb/class/usb_dfu.c
Labels: area: USB, backport v2.1-branch

#24950 kernel: fix issue with k_thread_join() timeouts
  kernel/sched.c
  tests/kernel/threads/thread_apis/src/main.c
Labels: area: Kernel, area: Tests

#24175 drivers: dma: stm32: DMA V1 channel direction
  drivers/dma/dma_stm32.c
Labels: area: DMA, platform: STM32

#24981 drivers: i2c: i2c_dw: Move to devicetree detection
  drivers/i2c/CMakeLists.txt
  drivers/i2c/i2c_dw.c
Labels: Trivial, area: I2C

#24502 sanitycheck: fix initial types in classes and minor cleanup
  scripts/sanity_chk/sanitylib.py
Labels: Trivial, area: Sanitycheck

#24976 tests: spi_loopback: Remove unneeded setting of Kconfig symbol
  tests/drivers/spi/spi_loopback/boards/cc1352r1_launchxl.conf
  tests/drivers/spi/spi_loopback/boards/stm32mp157c_dk2.conf
Labels: Trivial, area: SPI, area: Tests

#25006 samples: prod_consumer: run faster
  samples/userspace/prod_consumer/src/app_b.c
  samples/userspace/prod_consumer/src/sample_driver_foo.c
Labels: Trivial, area: Samples

#24994 doc: fix 'ext' removal path
  doc/application/index.rst
Labels: Trivial, area: Documentation

#25005 drivers: i2s: fix i2s_handlers.c
  drivers/i2s/i2s_handlers.c
Labels: Trivial, area: I2S, area: Userspace, bug

#24931 canbus: Convert canbus driver and subsys to new timeout API
  drivers/can/Kconfig
  drivers/can/can_handlers.c
  drivers/can/can_loopback.c
  drivers/can/can_mcp2515.c
  drivers/can/can_mcux_flexcan.c
  drivers/can/can_net.c
  drivers/can/can_shell.c
  drivers/can/can_stm32.c
  include/canbus/isotp.h
  include/drivers/can.h
  include/net/can.h
  samples/drivers/can/src/main.c
  samples/net/sockets/can/src/main.c
  samples/subsys/canbus/isotp/src/main.c
  subsys/canbus/canopen/CO_driver.c
  subsys/canbus/isotp/Kconfig
  subsys/canbus/isotp/isotp.c
  subsys/canbus/isotp/isotp_internal.h
  subsys/net/l2/canbus/6locan.c
  tests/subsys/canbus/isotp/conformance/src/main.c
  tests/subsys/canbus/isotp/implementation/src/main.c
Labels: area: API, area: CAN, area: Networking, area: Samples, area: Tests

#24738 boards: arm: adafruit_feather_m0_basic_proto: Set flash offset
  boards/arm/adafruit_feather_m0_basic_proto/board.cmake
Labels: area: Boards

#24925 [Backport v2.2] Bluetooth: Fix NULL pointer dereference when bt_send() fails
  subsys/bluetooth/host/hci_core.c
Labels: area: Bluetooth, bug

#24959 scripts: checkpatch: Revert dt-binding vendor prefix check regex change
  scripts/checkpatch.pl
Labels: Hotfix

#25013 tests: net: dns: Increase stack size for coverage support
  tests/net/lib/dns_addremove/prj.conf
Labels: area: Networking, area: Tests

#25020 boards: lpcxpresso55s16: Fix DT_HAS_NODE_STATUS_OKAY conversion
  boards/arm/lpcxpresso55s16/pinmux.c
Labels: Hotfix, area: Boards

#25003 samples: lora: Remove unnecessary config option
  samples/drivers/lora/receive/prj.conf
  samples/drivers/lora/send/prj.conf
Labels: area: Samples

#24317 doc: feature tracking: Update with two new categories
  doc/development_process/proposals.rst
Labels: area: Documentation

#24958 Enable USB for stm32wb.
  boards/arm/nucleo_wb55rg/nucleo_wb55rg.dts
  boards/arm/nucleo_wb55rg/nucleo_wb55rg.yaml
  boards/arm/nucleo_wb55rg/pinmux.c
  drivers/pinmux/stm32/pinmux_stm32wbx.h
  drivers/usb/device/usb_dc_stm32.c
  dts/arm/st/wb/stm32wb.dtsi
Labels: area: Boards, area: Device Tree, area: USB, platform: STM32

#25026 boards: Remove Kconfig I2C_[0-9] usage
  boards/arc/em_starterkit/Kconfig.defconfig
  boards/arm/96b_nitrogen/Kconfig.defconfig
  boards/arm/b_l072z_lrwan1/Kconfig.defconfig
  boards/arm/frdm_k22f/Kconfig.defconfig
  boards/arm/frdm_k64f/Kconfig.defconfig
  boards/arm/frdm_k82f/Kconfig.defconfig
  boards/arm/frdm_kl25z/Kconfig.defconfig
  boards/arm/frdm_kw41z/Kconfig.defconfig
  boards/arm/hexiwear_k64/Kconfig.defconfig
  boards/arm/hexiwear_kw40z/Kconfig.defconfig
  boards/arm/lpcxpresso54114/Kconfig.defconfig
  boards/arm/lpcxpresso55s69/Kconfig.defconfig
  boards/arm/mimxrt1010_evk/Kconfig.defconfig
  boards/arm/mimxrt1015_evk/Kconfig.defconfig
  boards/arm/mimxrt1020_evk/Kconfig.defconfig
  boards/arm/mimxrt1050_evk/Kconfig.defconfig
  boards/arm/mimxrt1060_evk/Kconfig.defconfig
  boards/arm/mimxrt1064_evk/Kconfig.defconfig
  boards/arm/twr_ke18f/Kconfig.defconfig
  boards/arm/twr_kv58f220m/Kconfig.defconfig
  boards/arm/usb_kw24d512/Kconfig.defconfig
  boards/x86/gpmrb/Kconfig.defconfig
  boards/x86/up_squared/Kconfig.defconfig
  boards/xtensa/intel_s1000_crb/Kconfig.defconfig
Labels: area: Boards

#25027 boards/shields: ssd1306: Fix node status
  boards/shields/ssd1306/sh1106_128x64.overlay
Labels: Trivial, area: Boards, area: Device Tree, area: Shields

#25024 sanitycheck: fix enable_coverage argument name typo
  scripts/sanitycheck
Labels: Trivial, area: Sanitycheck

#24995 tests: uart_basic_api: Don't FAIL non-implemented APIs
  tests/drivers/uart/uart_basic_api/src/test_uart_config.c
Labels: area: Tests, bug

#25043 devicetree: fix a couple of late-breaking DT_HAS_NODE()
  boards/arm/frdm_kw41z/pinmux.c
  boards/arm/nucleo_wb55rg/pinmux.c
  soc/arm/nxp_kinetis/kwx/soc_kw4xz.c
Labels: Hotfix, area: Boards

#25030 doc: env_vars: Fix link to section env_vars_zephyrrc
  doc/guides/env_vars.rst
Labels: area: Documentation

#25037 devicetree: replace DT_HAS_DRV_INST with DT_INST_FOREACH
  drivers/adc/adc_nrfx_adc.c
  drivers/adc/adc_nrfx_saadc.c
  drivers/adc/adc_shell.c
  drivers/adc/adc_stm32.c
  drivers/clock_control/clock_control_mcux_pcc.c
  drivers/clock_control/clock_control_rv32m1_pcc.c
  drivers/counter/counter_mchp_xec.c
  drivers/counter/counter_mcux_gpt.c
  drivers/counter/counter_mcux_lptmr.c
  drivers/counter/timer_dtmr_cmsdk_apb.c
  drivers/counter/timer_tmr_cmsdk_apb.c
  drivers/dac/dac_stm32.c
  drivers/dma/dma_dw.c
  drivers/dma/dma_stm32.c
  drivers/dma/dmamux_stm32.c
  drivers/gpio/gpio_ht16k33.c
  drivers/gpio/gpio_lmp90xxx.c
  drivers/gpio/gpio_mcp23s17.c
  drivers/gpio/gpio_pca95xx.c
  drivers/i2c/i2c_dw.c
  drivers/i2c/i2c_esp32.c
  drivers/i2c/i2c_gecko.c
  drivers/i2c/i2c_mchp_xec.c
  drivers/i2c/i2c_sbcon.c
  drivers/i2c/i2c_sifive.c
  drivers/i2c/slave/eeprom_slave.c
  drivers/ieee802154/ieee802154_rf2xx.c
  drivers/led/ht16k33.c
  drivers/pwm/pwm_mchp_xec.c
  drivers/pwm/pwm_mcux_ftm.c
  drivers/pwm/pwm_sam.c
  drivers/sensor/nxp_kinetis_temp/temp_kinetis.c
  drivers/serial/leuart_gecko.c
  drivers/serial/uart_cmsdk_apb.c
  drivers/serial/uart_esp32.c
  drivers/serial/uart_gecko.c
  drivers/serial/uart_miv.c
  drivers/serial/uart_ns16550_port_x.h
  drivers/serial/uart_stm32.c
  drivers/serial/uart_xlnx_ps.c
  drivers/spi/spi_ll_stm32.c
  drivers/spi/spi_oc_simple.c
  drivers/watchdog/wdt_esp32.c
  drivers/watchdog/wdt_gecko.c
  include/devicetree.h
  tests/lib/devicetree/src/main.c
Labels: area: ADC, area: API, area: Counter, area: I2C, area: PWM, area: SPI, area: Sensors, area: Tests, area: Watchdog

#25045 drivers: spi: cc13xx_cc26xx: remove usage of CONFIG_SPI_0/1
  boards/arm/cc1352r1_launchxl/Kconfig.defconfig
  boards/arm/cc26x2r1_launchxl/Kconfig.defconfig
  drivers/spi/spi_cc13xx_cc26xx.c
Labels: Trivial, area: Boards, area: SPI

#25052 adc: adc_shell: Fix compile error
  drivers/adc/adc_shell.c
Labels: Hotfix, area: ADC

#24969 drivers: dma: atmel_sam0: Convert to use devicetree macros for dma dev
  drivers/dma/dma_sam0.c
  drivers/i2c/i2c_sam0.c
  drivers/serial/uart_sam0.c
  drivers/spi/spi_sam0.c
  soc/arm/atmel_sam0/common/atmel_sam0_dt.h
Labels: area: Device Tree, area: I2C, area: SPI, platform: ATMEL

#25059 drivers: counter_mcux_gpt: Fix compile error
  drivers/counter/counter_mcux_gpt.c
Labels: Hotfix, area: Counter

#24835 flash: sam0: set write_block_size=1 when EMULATE_BYTE_PAGES is set
  drivers/flash/flash_sam0.c
Labels: Trivial, area: Drivers, area: Flash

#24993 bluetooth: hci_rpmsg: check SHM_SIZE against shared mem size using DT
  drivers/bluetooth/hci/rpmsg_nrf53.c
  samples/bluetooth/hci_rpmsg/src/main.c
Labels: Enhancement, Trivial, area: Bluetooth, area: Samples

#25042 x86: early_serial: extend to support MMIO UART
  arch/x86/core/early_serial.c
Labels: area: X86

#24871 settings: add const qualifier for unmodified data source
  include/settings/settings.h
  subsys/settings/src/settings_runtime.c
Labels: Trivial, area: API, area: Settings

#24971 net/ieee802154: Validate length on received frames
  subsys/net/l2/ieee802154/ieee802154_frame.c
  subsys/net/l2/ieee802154/ieee802154_frame.h
  subsys/net/l2/ieee802154/ieee802154_radio_utils.h
Labels: IEEE 802.15.4, area: Networking

#24850 drivers: add GIC V3 driver
  drivers/interrupt_controller/CMakeLists.txt
  drivers/interrupt_controller/intc_gic.c
  drivers/interrupt_controller/intc_gic_common_priv.h
  drivers/interrupt_controller/intc_gicv3.c
  drivers/interrupt_controller/intc_gicv3_priv.h
  include/drivers/interrupt_controller/gic.h
Labels: area: ARM, area: Drivers, area: Interrupt Controller

#25023 dts: boards: mm_swiftio: modify dts active high/low flags
  boards/arm/mm_swiftio/mm_swiftio.dts
Labels: area: Boards

#25073 drivers: can: Fix use of DT_HAS_DRV_INST which does not exist
  drivers/can/can_mcp2515.c
  drivers/can/can_mcux_flexcan.c
Labels: Hotfix

#24445 drivers: improve the arcv2_timer driver to update cycles correctly
  drivers/timer/arcv2_timer0.c
Labels: area: Timer

#25066 Bluetooth: controller: Added support for vendor ticker nodes
  subsys/bluetooth/controller/Kconfig
  subsys/bluetooth/controller/ll_sw/lll.h
  subsys/bluetooth/controller/ll_sw/ull.c
Labels: area: Bluetooth, backport v2.2-branch, bug

#25071 manifest: update mcuboot to 1.6.0-rc2
  west.yml
Labels: area: MCUBoot, area: Modules

#25099 manifest: update mcuboot to 1.6.0-rc2
  west.yml
Labels: area: MCUBoot, area: Modules

#25085 soc: stm32g4: Fix typo in include filename for wwdg
  soc/arm/st_stm32/stm32g4/soc.h
Labels: Trivial, platform: STM32

#25094 x86: Revert "qemu_x86: use icount for 32-bit"
  boards/x86/qemu_x86/board.cmake
Labels: Hotfix, area: Boards

#25113 devicetree: Change DT_FOREACH_IMPL_ to not insert semicolon
  drivers/adc/adc_nrfx_adc.c
  drivers/adc/adc_nrfx_saadc.c
  drivers/clock_control/clock_control_mcux_pcc.c
  drivers/clock_control/clock_control_rv32m1_pcc.c
  drivers/dac/dac_mcux_dac.c
  drivers/dac/dac_mcux_dac32.c
  drivers/gpio/gpio_cc32xx.c
  drivers/gpio/gpio_ht16k33.c
  drivers/gpio/gpio_intel_apl.c
  drivers/gpio/gpio_litex.c
  drivers/gpio/gpio_lmp90xxx.c
  drivers/gpio/gpio_mcp23s17.c
  drivers/i2c/i2c_gpio.c
  drivers/i2c/i2c_litex.c
  drivers/i2c/i2c_sam_twi.c
  drivers/i2c/i2c_sam_twihs.c
  drivers/i2c/i2c_sbcon.c
  drivers/i2c/i2c_sifive.c
  drivers/i2c/slave/eeprom_slave.c
  drivers/led_strip/ws2812_gpio.c
  drivers/pinmux/pinmux_rv32m1.c
  drivers/pwm/pwm_imx.c
  drivers/pwm/pwm_litex.c
  drivers/pwm/pwm_mchp_xec.c
  drivers/pwm/pwm_mcux_ftm.c
  drivers/pwm/pwm_mcux_tpm.c
  drivers/pwm/pwm_rv32m1_tpm.c
  drivers/pwm/pwm_sam.c
  drivers/pwm/pwm_sifive.c
  drivers/pwm/pwm_stm32.c
  drivers/sensor/bq274xx/bq274xx.c
  drivers/sensor/mchp_tach_xec/tach_mchp_xec.c
  drivers/serial/uart_cc13xx_cc26xx.c
  drivers/serial/uart_imx.c
  drivers/serial/uart_mcux.c
  drivers/serial/uart_mcux_flexcomm.c
  drivers/serial/uart_mcux_lpsci.c
  drivers/serial/uart_mcux_lpuart.c
  drivers/serial/uart_rv32m1_lpuart.c
  drivers/serial/uart_sam.c
  drivers/serial/uart_xlnx_ps.c
  drivers/serial/usart_sam.c
  drivers/spi/spi_cc13xx_cc26xx.c
  drivers/spi/spi_gecko.c
  drivers/spi/spi_litespi.c
  drivers/spi/spi_oc_simple.c
  drivers/spi/spi_sam.c
  drivers/spi/spi_sam0.c
  scripts/dts/gen_defines.py
  tests/lib/devicetree/src/main.c
Labels: area: ADC, area: I2C, area: PWM, area: SPI, area: Sensors, area: Tests

#25116 devicetree: Add DT_FOREACH_CHILD macro
  doc/guides/dts/macros.bnf
  include/devicetree.h
  scripts/dts/gen_defines.py
  tests/lib/devicetree/app.overlay
  tests/lib/devicetree/src/main.c
Labels: area: API, area: Documentation, area: Tests

#25114 boards: x86/minnowboard: specify CONFIG_X86_MMU_PAGE_POOL_PAGES
  boards/x86/minnowboard/Kconfig.defconfig
Labels: area: Boards

#25111 Bluetooth: hci_raw: Fix build error on hci_usb_h4
  include/bluetooth/hci_raw.h
Labels: Hotfix, area: API, area: Bluetooth

#25033 drivers: pinmux: stm32wb: use a pull-down for SPI SCK pin
  drivers/pinmux/stm32/pinmux_stm32wbx.h
Labels: platform: STM32

#25050 west.yml: Update hal_ti for cc13x2/cc26x2 to SimpleLink SDK 4.10.00.78
  west.yml
Labels: area: Modules

#25047 cmake: Set the ZEPHYR_<MODULE_NAME>_MODULE_DIR in parent scope
  CMakeLists.txt
Labels: Trivial, area: Build System

#23397 drivers: modem: ublox-sara-r4: autodetection of modem and APN
  drivers/modem/Kconfig.ublox-sara-r4
  drivers/modem/ublox-sara-r4.c
Labels: area: Modem

#22503 modules: mbedtls: Update mbedTLS commit and apply fixes
  drivers/crypto/crypto_mtls_shim.c
  modules/Kconfig.tls-generic
  samples/drivers/crypto/prj_mtls_shim.conf
  west.yml
Labels: area: Modules, area: Samples

#24507 testsuite: Allow user to override minimal logging
  subsys/testsuite/Kconfig
Labels: area: Test Framework

#25090 net: openthread: Allow to disable automatic network attachment
  subsys/net/l2/openthread/Kconfig
  subsys/net/l2/openthread/openthread.c
Labels: area: Networking, area: OpenThread

#25086 net: lldp: Sent LLDP packet was missing proper net_pkt type
  subsys/net/l2/ethernet/lldp/lldp.c
Labels: area: Networking

#25092 include: Add documentation for spinlocks
  include/spinlock.h
Labels: area: API

#25007 net: qemu: Adding support for User Networking
  cmake/app/boilerplate.cmake
  doc/guides/networking/networking_with_host.rst
  doc/guides/networking/qemu_user_setup.rst
  subsys/net/ip/Kconfig
Labels: area: Build System, area: Documentation, area: Networking

#25028 net: shell: Add command to print information about net_pkt
  subsys/net/ip/net_shell.c
Labels: area: Networking

#25034 util.h: Remove INLINE definition and user
  drivers/timer/mchp_xec_rtos_timer.c
  include/sys/util.h
Labels: Enhancement, area: API, area: Timer

#25054 cmake: binutils objdump disassemble all sections
  CMakeLists.txt
  Kconfig.zephyr
  cmake/bintools/gnu/target_objdump.cmake
Labels: area: Build System, area: Kconfig

#25019 Bluetooth: controller: Remove legacy LL
  drivers/counter/Kconfig.nrfx
  samples/boards/nrf/mesh/onoff_level_lighting_vnd_app/prj.conf
  subsys/bluetooth/CMakeLists.txt
  subsys/bluetooth/common/dummy.c
  subsys/bluetooth/controller/Kconfig
  subsys/bluetooth/controller/hci/hci_driver.c
  subsys/bluetooth/controller/ll_sw/ctrl.c
  subsys/bluetooth/controller/ll_sw/ctrl.h
  subsys/bluetooth/controller/ll_sw/ctrl_internal.h
  subsys/bluetooth/controller/ll_sw/ll.c
  subsys/bluetooth/controller/ll_sw/ll_addr.c
  subsys/bluetooth/controller/ll_sw/ll_adv.c
  subsys/bluetooth/controller/ll_sw/ll_adv.h
  subsys/bluetooth/controller/ll_sw/ll_adv_aux.c
  subsys/bluetooth/controller/ll_sw/ll_adv_aux.h
  subsys/bluetooth/controller/ll_sw/ll_filter.c
  subsys/bluetooth/controller/ll_sw/ll_filter.h
  subsys/bluetooth/controller/ll_sw/ll_master.c
  subsys/bluetooth/controller/ll_sw/ll_mesh.c
  subsys/bluetooth/controller/ll_sw/ll_mesh.h
  subsys/bluetooth/controller/ll_sw/ll_scan.c
  subsys/bluetooth/controller/ll_sw/ll_test.c
  subsys/bluetooth/controller/ll_sw/nordic/hal/nrf5/mayfly.c
  subsys/bluetooth/controller/ll_sw/nordic/hal/nrf5/swi.h
  subsys/bluetooth/controller/ll_sw/nordic/hal/nrf5/ticker.c
  subsys/bluetooth/controller/ll_sw/nrf.cmake
  subsys/bluetooth/host/Kconfig
  subsys/bluetooth/shell/CMakeLists.txt
  subsys/bluetooth/shell/bt.c
  tests/bluetooth/bsim_bt/bsim_test_app/prj.conf
  tests/bluetooth/bsim_bt/bsim_test_app/tests_scripts/basic_conn.sh
  tests/bluetooth/bsim_bt/bsim_test_app/tests_scripts/basic_conn_encrypted.sh
  tests/bluetooth/bsim_bt/compile.sh
  tests/bluetooth/bsim_bt/edtt_ble_test_app/hci_test_app/prj_legacy.conf
  tests/bluetooth/init/prj_controller.conf
  tests/bluetooth/init/prj_controller_4_0.conf
  tests/bluetooth/init/prj_controller_dbg.conf
  tests/bluetooth/init/prj_controller_tiny.conf
  tests/bluetooth/init/testcase.yaml
  tests/bluetooth/mesh/microbit.conf
Labels: area: Bluetooth, area: Counter, area: Samples, area: Tests

#25122 samples: net: cloud: google: Convert to allow new timeouts
  samples/net/cloud/google_iot_mqtt/src/main.c
  samples/net/cloud/google_iot_mqtt/src/protocol.c
Labels: area: Networking, area: Samples

#24143 Zephyr sdk improvement
  cmake/toolchain/zephyr/0.11/Kconfig
  cmake/toolchain/zephyr/0.11/generic.cmake
  cmake/toolchain/zephyr/0.11/host-tools.cmake
  cmake/toolchain/zephyr/0.11/target.cmake
  cmake/toolchain/zephyr/generic.cmake
  cmake/toolchain/zephyr/host-tools.cmake
  cmake/toolchain/zephyr/target.cmake
Labels: area: Build System, area: Documentation

#23135 boards: intel_s1000_crb: fix xt-gdb cannot find register error
  boards/xtensa/intel_s1000_crb/support/load_elf.txt
Labels: area: Boards

#25129 doc: gsg: add missing python3-dev dependency
  doc/getting_started/index.rst
  doc/getting_started/installation_linux.rst
Labels: Trivial, area: Documentation

#23503 kernel: remove legacy fields in _kernel
  arch/arc/include/swap_macros.h
  arch/arm/include/aarch64/exc.h
  arch/nios2/core/irq_manage.c
  arch/nios2/include/kernel_arch_func.h
  arch/posix/core/swap.c
  arch/posix/include/kernel_arch_func.h
  arch/riscv/core/isr.S
  arch/riscv/include/kernel_arch_func.h
  arch/x86/include/kernel_arch_func.h
  boards/posix/native_posix/irq_handler.c
  boards/posix/nrf52_bsim/irq_handler.c
  include/arch/x86/ia32/arch.h
  include/kernel_structs.h
  kernel/include/kernel_offsets.h
  kernel/include/offsets_short.h
  subsys/debug/openocd.c
Labels: area: API, area: ARC, area: ARM, area: Boards, area: Kernel, area: NIOS2, area: X86, area: native port

#24765 boards: mm_swiftio: support west command
  boards/arm/mm_swiftio/board.cmake
Labels: area: Boards

#23616 tests: context: busy-wait with interrupts locked
  tests/kernel/context/src/main.c
Labels: area: Kernel, area: Tests

#23536 kernel: properly name idle threads
  kernel/init.c
Labels: area: Kernel

#24792 samples: boards: mec15xxevb: Update power management test cases
  samples/boards/mec15xxevb_assy6853/power_management/prj.conf
  samples/boards/mec15xxevb_assy6853/power_management/src/main.c
  samples/boards/mec15xxevb_assy6853/power_management/src/power_mgmt.c
Labels: area: Samples

#25131 doc: release notes: add note about FP Kconfig symbol name changes
  doc/releases/release-notes-2.3.rst
Labels: area: Documentation

#25132 dts: bindings: st,stm32-sdmmc: remove unneeded type
  dts/bindings/mmc/st,stm32-sdmmc.yaml
Labels: Trivial, area: Device Tree

#24847 sys/util.h: Add IS_EMPTY and LIST_DROP_EMPTY macros
  include/sys/util.h
  tests/unit/util/main.c
Labels: area: API, area: Tests

#25147 aarch32: fix a build failure
  arch/arm/include/aarch32/cortex_a_r/exc.h
Labels: Hotfix, area: ARM

#24466 boards: arm: stm32_min_dev: Add ADC 1
  boards/arm/stm32_min_dev/doc/index.rst
  boards/arm/stm32_min_dev/pinmux.c
  boards/arm/stm32_min_dev/stm32_min_dev.dtsi
  boards/arm/stm32_min_dev/stm32_min_dev_black.yaml
  boards/arm/stm32_min_dev/stm32_min_dev_blue.yaml
  tests/drivers/adc/adc_api/src/test_adc.c
Labels: area: ADC, area: Boards, area: Device Tree, area: Tests, platform: STM32

#25152 sanitycheck: suppress warnings from EDT
  scripts/sanity_chk/sanitylib.py
Labels: Trivial, area: Sanitycheck

#25149 tests: flash_simulator: Add native posix support
  tests/drivers/flash_simulator/boards/native_posix.overlay
  tests/drivers/flash_simulator/boards/native_posix_64.overlay
  tests/drivers/flash_simulator/testcase.yaml
Labels: Trivial, area: Flash, area: Tests, area: native port

#24843 posix arch: support building on aarch64 / allow host-specific cmake includes
  CODEOWNERS
  arch/posix/CMakeLists.txt
  arch/posix/Linux.aarch64.cmake
  scripts/user_wordsize.py
Labels: area: API, area: Boards, area: Documentation, area: Networking, area: Tests, area: native port

#25157 scripts: runners: handle uninstalled dependencies
  scripts/west_commands/runners/canopen_program.py
  scripts/west_commands/runners/core.py
  scripts/west_commands/runners/openocd.py
Labels: area: Flashing

#25151 drivers: wifi: eswifi: WiFi Scan completion indication
  drivers/wifi/eswifi/eswifi_core.c
Labels: area: Networking, area: Wifi

#25146 drivers: Replace GPIO_CS Kconfig with devicetree detection
  boards/shields/link_board_eth/Kconfig.defconfig
  boards/shields/link_board_eth/boards/reel_board.defconfig
  drivers/ethernet/Kconfig.enc28j60
  drivers/ethernet/Kconfig.enc424j600
  drivers/ethernet/eth_enc28j60.c
  drivers/ethernet/eth_enc424j600.c
  drivers/flash/Kconfig.w25qxxdv
  drivers/flash/spi_flash_w25qxxdv.c
  drivers/flash/spi_flash_w25qxxdv.h
  drivers/ieee802154/Kconfig.cc1200
  drivers/ieee802154/Kconfig.cc2520
  drivers/ieee802154/ieee802154_cc1200.c
  drivers/ieee802154/ieee802154_cc2520.c
  drivers/wifi/winc1500/Kconfig.winc1500
  drivers/wifi/winc1500/wifi_winc1500_nm_bus_wrapper.c
  samples/net/wifi/boards/reel_board.conf
  tests/net/all/prj.conf
Labels: area: Boards, area: Device Tree, area: Networking, area: Samples, area: Tests

#25138 drivers: display: st7789v: add power management support
  drivers/display/display_st7789v.c
Labels: area: Display, area: Drivers

#25118 ci: docker: Update image to 0.11.7
  .shippable.yml
Labels: Trivial

#24165 tests: latency_measure: allow use of other timer for timestamp
  tests/benchmarks/latency_measure/src/coop_ctx_switch.c
  tests/benchmarks/latency_measure/src/int_to_thread.c
  tests/benchmarks/latency_measure/src/int_to_thread_evt.c
  tests/benchmarks/latency_measure/src/main.c
  tests/benchmarks/latency_measure/src/sema_lock_release.c
  tests/benchmarks/latency_measure/src/thread_switch_yield.c
  tests/benchmarks/latency_measure/src/timing_info.h
  tests/benchmarks/latency_measure/src/utils.h
Labels: area: Tests

#24945 modules: Fix HAL eSPI OOB transfer size defines
  west.yml
Labels: area: Modules

#25105 drivers: espi: mchp: Report correct length during OOB Rx operation
  drivers/espi/espi_mchp_xec.c
Labels: Trivial

#25143 kernel: init: move C++ initialization before application init loop
  kernel/init.c
Labels: area: C++, area: Kernel

#25162 test: msgq: remove number of cpu restriction
  tests/kernel/msgq/msgq_api/prj.conf
  tests/kernel/msgq/msgq_api/src/test_msgq_contexts.c
Labels: area: Kernel, area: Tests

#25170 samples: littlefs: fix reg error in particle_xenon overlay
  samples/subsys/fs/littlefs/boards/particle_xenon.overlay
Labels: Trivial, area: Samples

#25172 Bluetooth: host: fix warning on unused function
  subsys/bluetooth/host/hci_core.c
Labels: area: Bluetooth

#18125 debug: openocd: Fix building for SMP platforms
  subsys/debug/Kconfig
Labels: area: SMP, bug

#24900 Add some I2C commands
  drivers/i2c/i2c_shell.c
Labels: area: I2C

#25175 samples: tracing: run openocd sample with 1 cpu
  samples/subsys/tracing/sample.yaml
Labels: area: Samples

#25195 tests: drivers: console: Skip semihosting console device testing
  tests/drivers/console/testcase.yaml
Labels: area: Console, area: Drivers, area: Sanitycheck, area: Tests, bug
