Repository zephyrproject-rtos/zephyr, pull requests merged in 2021-06, with the labels that each got.

#34266 host/l2cap: fix sending error codes in connection requests
  subsys/bluetooth/host/l2cap.c
Labels: Bluetooth Qualification, area: Bluetooth, area: Bluetooth Host

#35818 Bluetooth: ISO: Fix BIG cleanup
  subsys/bluetooth/host/iso.c
Labels: area: Bluetooth, area: Bluetooth Host, bug

#35767 doc/releases: v2.6.0: Update for logging subsystem
  doc/releases/release-notes-2.6.rst
Labels: Release Notes, area: Documentation

#35834 drivers: i2c: gpio: fix compilation
  drivers/i2c/i2c_gpio.c
Labels: area: I2C, bug

#35833 boards: arm: arty: fix compilation with v2c_daplink shield enabled
  boards/arm/arty/board.c
Labels: area: Boards, bug

#34553 drivers: can: sjw == 0 in can_set_timing should not change sjw
  drivers/can/can_mcan.c
  drivers/can/can_mcp2515.c
  drivers/can/can_mcp2515.h
  drivers/can/can_mcux_flexcan.c
  drivers/can/can_stm32.c
  include/drivers/can.h
Labels: area: API, area: CAN, bug, platform: NXP, platform: STM32

#35461 modules: mbedTLS: Add separate Kconfig entry for MBEDTLS_HAVE_TIME_DATE
  modules/mbedtls/Kconfig.tls-generic
  modules/mbedtls/configs/config-tls-generic.h
Labels: area: Modules, bug

#35814 Bluetooth: Host: Add status check BIG sync/create events
  subsys/bluetooth/host/iso.c
Labels: area: Bluetooth, area: Bluetooth Host, bug

#35365 thread analyzer: fix formatting for unsigned int
  subsys/debug/thread_analyzer.c
Labels: area: Debugging, bug

#35746 release notes: Add PM notes
  doc/releases/release-notes-2.6.rst
Labels: Release Notes, area: Documentation

#35728 soc: arm: Set lpc55xxx flash wait states unconditionally
  soc/arm/nxp_lpc/lpc55xxx/soc.c
Labels: bug, platform: NXP, priority: high

#35863 doc/releases: v2.6.0 Add new R-Car platform drivers
  doc/releases/release-notes-2.6.rst
Labels: Release Notes, area: Documentation, platform: Renesas

#35858 boards: arm: bl5340: Fix LIS3DH IRQ levels
  boards/arm/bl5340_dvk/bl5340_dvk_cpuapp_common.dts
Labels: area: Boards, area: Devicetree

#35851 Eclipse CDT parser workaround for new logging
  include/logging/log.h
Labels: area: API

#35855 doc/releases: v2.6.0: Updates and cleanups
  doc/releases/release-notes-2.6.rst
Labels: Release Notes, area: Documentation

#35875 doc: colibri board: Add missing empty lines
  boards/arm/colibri_imx7d_m4/doc/index.rst
Labels: area: Boards, area: Documentation, bug, platform: NXP

#35861 boards: doc: Update documentation for H3ULCB board
  boards/arm/rcar_h3ulcb/doc/rcar_h3ulcb.rst
Labels: area: Boards, area: Documentation, platform: Renesas

#35651 tests: posix: common: clock: exclude ehl_crb from test posix realtime
  tests/posix/common/testcase.yaml
Labels: area: Tests, bug

#35800 doc/releases: v2.6.0: Update to MCUmgr section
  doc/releases/release-notes-2.6.rst
Labels: Release Notes, area: Documentation

#35261 drivers/sensor: lis2dh: use gpio_dt_spec oriented macros
  drivers/sensor/lis2dh/lis2dh.c
  drivers/sensor/lis2dh/lis2dh.h
  drivers/sensor/lis2dh/lis2dh_trigger.c
Labels: area: Devicetree, area: Drivers, area: Sensors, bug

#35881 samples: net: sockets: big_http_download: Update certificate
  samples/net/sockets/big_http_download/CMakeLists.txt
  samples/net/sockets/big_http_download/src/ca_certificate.h
  samples/net/sockets/big_http_download/src/lets-encrypt-r3.der
  samples/net/sockets/big_http_download/src/lets_encrypt_x3.der
Labels: area: Networking, area: Samples, bug

#35883 doc: scripts: gen_devicetree_rest: add workaround for page width
  doc/_scripts/gen_devicetree_rest.py
Labels: bug

#35889 doc/releases: v2.6.0: Updates
  doc/releases/release-notes-2.6.rst
Labels: Release Notes, area: Documentation

#35849 samples/boards/stm32: PM Blinky: Rework README
  samples/boards/stm32/power_mgmt/blinky/README.rst
  samples/boards/stm32/power_mgmt/blinky/boards/stm32l562e_dk.conf
  samples/boards/stm32/power_mgmt/blinky/prj.conf
Labels: area: Documentation, area: Samples

#35503 [TOPIC-BLE-LLCP] Fix encryption LTK rejection
  subsys/bluetooth/controller/ll_sw/ull_llcp_enc.c
  tests/bluetooth/controller/common/include/helper_pdu.h
  tests/bluetooth/controller/common/src/helper_pdu.c
  tests/bluetooth/controller/common/src/helper_util.c
  tests/bluetooth/controller/ctrl_encrypt/src/main.c
Labels: area: Bluetooth, area: Bluetooth Controller, area: Tests

#35726 [TOPIC-BLE-LLCP] Bluetooth: controller: fix reset of features
  subsys/bluetooth/controller/ll_sw/ull_adv.c
  subsys/bluetooth/controller/ll_sw/ull_llcp.c
  subsys/bluetooth/controller/ll_sw/ull_llcp_hci.c
Labels: area: Bluetooth, area: Bluetooth Controller

#35877 Bluetooth: host: Fix CCC store on write for multiple connections
  subsys/bluetooth/host/gatt.c
Labels: DNM, area: Bluetooth, area: Bluetooth Host

#35900 Tracing: Incorrect Unlock Mutex Trace Hook Fix
  kernel/mutex.c
Labels: area: Kernel

#35887 cmake: warn the user if a Zephyr library is created in app-mode
  cmake/extensions.cmake
Labels: area: Build System, bug

#35891 doc: release-notes-2.6: add release notes for disk drivers and USB
  doc/releases/release-notes-2.6.rst
Labels: Release Notes, area: Documentation

#35907 Fix issue with LPS22HH sensor reporting wrong pressure data
  drivers/sensor/lps22hh/lps22hh.c
Labels: area: Boards, area: Drivers, area: Samples, area: Sensors, area: Shields, bug

#35328 nxp: rt series eth timer clock enable
  soc/arm/nxp_imx/rt/soc.c
Labels: area: API, area: ARM, area: Modules, area: Networking, area: Samples, manifest, manifest-hal_nxp, platform: NXP, west

#35912 drivers/sensor: lis2mdl: Fix temperature sample handling
  drivers/sensor/lis2mdl/lis2mdl.c
  drivers/sensor/lis2mdl/lis2mdl.h
Labels: area: Drivers, area: Sensors, bug

#35914 boards: arm: 96b_aerocore2: fix table rendering
  boards/arm/96b_aerocore2/doc/index.rst
Labels: area: Boards, area: Documentation, bug

#35915 doc: release: Add sensor and NXP-related changes to v2.6.0 release notes
  doc/releases/release-notes-2.6.rst
Labels: Release Notes, area: Documentation, area: Sensors, platform: NXP

#35920 doc/releases: v2.6.0: add resolved issues
  doc/releases/release-notes-2.6.rst
Labels: Release Notes, area: Documentation

#35888 Rt600: Add information to connect an external debug probe
  boards/arm/mimxrt685_evk/doc/index.rst
Labels: area: Boards, area: Documentation, platform: NXP

#35744 docs: pm: System power management diagram
  doc/reference/power_management/index.rst
  doc/reference/power_management/system-pm.svg
Labels: area: Documentation

#35579 tests: i2s_speed: Increase the RX buffer count
  tests/drivers/i2s/i2s_speed/src/test_i2s_speed.c
Labels: area: I2S, area: Tests

#35929 size_report: give root node a unique identifier
  scripts/footprint/size_report
Labels: bug

#35927 boards: arm: Clarify J-Link OpenSDA firmware usage for frdm_k64f
  boards/arm/frdm_k64f/doc/index.rst
Labels: area: Boards, area: Documentation, platform: NXP

#35935 Bluetooth: controller: Check length field of scan response data
  subsys/bluetooth/controller/ll_sw/ull_adv.c
Labels: area: Bluetooth, area: Bluetooth Controller, bug

#35947 [TOPIC-BLE-LLCP] Bluetooth: controller: fixing copy/paste error re. notify on complete
  subsys/bluetooth/controller/ll_sw/ull_llcp_phy.c
Labels: Trivial, area: Bluetooth, area: Bluetooth Controller

#35948 drivers: can: mcan: Fix DBTP sjw register writes
  drivers/can/can_mcan.c
Labels: area: CAN, bug

#35942 drivers: fix pm callback signature
  drivers/display/display_st7735r.c
  drivers/sensor/apds9960/apds9960.c
  drivers/sensor/bme280/bme280.c
  drivers/sensor/bmp388/bmp388.c
  drivers/sensor/fdc2x1x/fdc2x1x.c
  drivers/sensor/vcnl4040/vcnl4040.c
  include/drivers/timer/system_timer.h
  samples/sensor/fdc2x1x/src/main.c
Labels: area: API, area: Power Management, area: Samples, bug

#35946 shell: Add missing dependency to shell log backend
  subsys/shell/Kconfig
Labels: area: Shell, bug

#35944 manifest: segger: zephyr kconfig options
  west.yml
Labels: area: Modules, bug, manifest, manifest-segger, west

#35937 drivers: cc13xx_cc26xx: Fix pm.h include breakage
  drivers/entropy/entropy_cc13xx_cc26xx.c
  drivers/i2c/i2c_cc13xx_cc26xx.c
  drivers/serial/uart_cc13xx_cc26xx.c
  drivers/spi/spi_cc13xx_cc26xx.c
Labels: area: I2C, area: SPI

#35954 tfm: interface: Fix bug where FPU registers were not restored correctly
  modules/trusted-firmware-m/interface/interface.c
Labels: area: Modules, bug

#35953 Bluetooth: controller: Fix conn setup regression
  subsys/bluetooth/controller/ll_sw/ull_conn.c
Labels: Regression, area: Bluetooth, area: Bluetooth Controller, bug, priority: high

#35960 pm: do not use deprecate Kconfig
  drivers/display/display_st7735r.c
  drivers/sensor/bmp388/bmp388.c
  drivers/sensor/bmp388/bmp388.h
  drivers/sensor/bmp388/bmp388_trigger.c
Labels: priority: high

#35951 shell: fix tab for dynamic commands
  subsys/shell/shell_utils.c
Labels: area: Shell, bug

#35952 doc/releases: v2.6.0: minor updates
  doc/releases/release-notes-2.6.rst
Labels: Release Notes, area: Documentation

#35967 doc: security: Add CVE-2021-3581 to docs
  doc/releases/release-notes-2.6.rst
  doc/security/vulnerabilities.rst
Labels: Release Notes, area: Documentation

#35969 doc/ref/api: Update API Version Modified
  doc/reference/api/overview.rst
Labels: area: Documentation

#35021 stm32f4 add GPIO F/G to device tree
  dts/arm/st/f4/stm32f4.dtsi
Labels: area: Devicetree, platform: STM32

#34745 boards: frdm_k82f: Add arduino_i2c and arduino_spi aliases
  boards/arm/frdm_k82f/frdm_k82f.dts
  boards/arm/frdm_k82f/frdm_k82f.yaml
  boards/arm/frdm_k82f/pinmux.c
Labels: area: Boards, area: Devicetree, platform: NXP

#35563 boards: stm32f429i_disc1 remove usart2 node
  boards/arm/stm32f429i_disc1/doc/index.rst
  boards/arm/stm32f429i_disc1/stm32f429i_disc1.dts
Labels: area: Boards, area: Devicetree, area: Documentation, platform: STM32

#35270 modules: tf-m: Add Crosstool-NG toolchain support
  modules/trusted-firmware-m/CMakeLists.txt
Labels: area: Modules

#35222 ITE dts/riscv/it8xxx2.dtsi: add ecpm node for it8xxx2
  dts/riscv/it8xxx2.dtsi
Labels: area: Devicetree, platform: ITE

#35672 sample: drivers: led_ws2812: support nucleo_l476rg
  samples/drivers/led_ws2812/boards/nucleo_l476rg.conf
  samples/drivers/led_ws2812/boards/nucleo_l476rg.overlay
Labels: area: LED, area: Samples, platform: STM32

#35705 drivers: sensor: tmp116: check ready
  drivers/sensor/tmp116/tmp116.c
  drivers/sensor/tmp116/tmp116.h
Labels: area: Sensors

#35742 drivers: adc: mcp320x: convert to new DT helper macros
  drivers/adc/adc_mcp320x.c
Labels: area: ADC, area: Devicetree

#35757 net: openthread: add option to configure software transmission security
  subsys/net/l2/openthread/Kconfig.thread
  subsys/net/lib/openthread/platform/openthread-core-zephyr-config.h
Labels: area: Networking

#35836 logging: z_vrfy_log_filter_set: remove extra check
  subsys/logging/log_core.c
Labels: area: Coding Guidelines, area: Logging, area: MISRA-C

#35837 coding guidelines: add to function prototypes form named parameters
  include/arch/x86/multiboot.h
  kernel/sched.c
  lib/os/cbprintf_complete.c
Labels: area: API, area: Base OS, area: Coding Guidelines, area: Kernel, area: MISRA-C, area: X86

#35839 samples: net: Increase stack sizes for echo client/server
  samples/net/sockets/echo_client/prj.conf
  samples/net/sockets/echo_server/src/common.h
Labels: area: Networking, area: Samples, area: Sockets

#35860 lib: os: add braces to 'if' statements
  lib/os/p4wq.c
Labels: area: Base OS, area: Coding Guidelines, area: MISRA-C

#35864 kernel: thread: add default case, remove unused break
  kernel/thread.c
Labels: area: Coding Guidelines, area: Kernel, area: MISRA-C

#35901 modules: tfm: add option for selecting crypto modules
  modules/trusted-firmware-m/CMakeLists.txt
  modules/trusted-firmware-m/Kconfig
Labels: area: Modules, area: TF-M

#35917 modules: tf-m: fix NS image selection for regression tests
  modules/trusted-firmware-m/CMakeLists.txt
Labels: area: Modules, area: TF-M, bug

#35898 lib: add default labels and comments to switch statements
  lib/libc/minimal/source/stdlib/atoi.c
  lib/os/cbprintf_complete.c
  lib/os/fdtable.c
Labels: area: C Library, area: Coding Guidelines, area: MISRA-C

#35382 lib: replace one case switch with if operator
  lib/os/fdtable.c
Labels: area: Base OS, area: Coding Guidelines, area: MISRA-C

#35376 kernel: poll: fix comments for final else in if...else if structures
  kernel/poll.c
Labels: area: Coding Guidelines, area: Kernel

#35044 samples: bluetooth: periperal_hr: create minimal configuration
  samples/bluetooth/peripheral_hr/prj_minimal.conf
Labels: area: Bluetooth, area: Samples

#35166 net: sockets: tls: Use secure random generator from Zephyr
  subsys/net/lib/sockets/sockets_tls.c
Labels: area: Networking

#35511 drivers/sensor: lis2mdl: Add multi-instance support
  boards/arm/sensortile_box/Kconfig.defconfig
  boards/arm/sensortile_box/sensortile_box.dts
  drivers/sensor/lis2mdl/CMakeLists.txt
  drivers/sensor/lis2mdl/Kconfig
  drivers/sensor/lis2mdl/lis2mdl.c
  drivers/sensor/lis2mdl/lis2mdl.h
  drivers/sensor/lis2mdl/lis2mdl_i2c.c
  drivers/sensor/lis2mdl/lis2mdl_spi.c
  drivers/sensor/lis2mdl/lis2mdl_trigger.c
  dts/bindings/sensor/st,lis2mdl-common.yaml
Labels: area: Boards, area: Devicetree, area: Devicetree Binding, area: Drivers, area: Sensors

#35667 ite: drivers/i2c: it8xxx2: Don't check bus busy during repeat start
  drivers/i2c/i2c_ite_it8xxx2.c
Labels: area: I2C, platform: ITE

#35665 arch: riscv: linker script: add support for rom_start section
  cmake/extensions.cmake
  include/arch/riscv/common/linker.ld
Labels: area: API, area: Build System, area: RISCV, area: RISCv32/64

#35974 version: add EXTRAVERSION to VERSION file
  VERSION
Labels: Hotfix

#35973 fdtable: remove remains of switch
  lib/os/fdtable.c
Labels: Hotfix

#35975 version: add EXTRAVERSION to VERSION file
  VERSION
Labels: Backport

#35226 samples: tfm: Add PSA Protected Storage sample
  samples/tfm_integration/psa_protected_storage/CMakeLists.txt
  samples/tfm_integration/psa_protected_storage/README.rst
  samples/tfm_integration/psa_protected_storage/prj.conf
  samples/tfm_integration/psa_protected_storage/sample.yaml
  samples/tfm_integration/psa_protected_storage/src/main.c
Labels: area: Documentation, area: Samples

#35862 tests: net: socket: Add userspace tests to SO_BINDTODEVICE
  tests/net/socket/misc/src/main.c
  tests/net/socket/misc/testcase.yaml
Labels: area: Networking, area: Sockets, area: Tests

#35600 drivers: ieee802154: make keys management API generic
  include/net/ieee802154_radio.h
  subsys/net/lib/openthread/platform/radio.c
Labels: area: API, area: Networking

#35784 drivers: ieee802154: replace enh ack probing with generic IE conf
  include/net/ieee802154_radio.h
  subsys/net/lib/openthread/platform/radio.c
Labels: area: API, area: Networking

#34163 drivers/flash: STM32: A generic change and enabling flash support.
  tests/drivers/flash/src/main.c
  tests/drivers/flash/testcase.yaml
Labels: area: Flash, area: Tests

#35392 Bluetooth: host: Remove unneccesary limit of host to controller packets
  subsys/bluetooth/host/hci_core.c
Labels: area: Bluetooth, area: Bluetooth Host

#35523 dts: pcc: npcx: add ram-pd-depth property in npcx-pcc node.
  dts/arm/nuvoton/npcx7.dtsi
  dts/arm/nuvoton/npcx9.dtsi
  dts/bindings/clock/nuvoton,npcx-pcc.yaml
Labels: area: Clock Control, area: Devicetree, area: Devicetree Binding, platform: Nuvoton

#35635 Bluetooth: HCI: add api for getting advertising handle
  include/bluetooth/hci.h
  subsys/bluetooth/host/hci_core.c
Labels: area: API, area: Bluetooth, area: Bluetooth Host

#35697 serial: introduce CONFIG_UART_USE_RUNTIME_CONFIGURE
  drivers/serial/Kconfig
  drivers/serial/uart_apbuart.c
  drivers/serial/uart_cc13xx_cc26xx.c
  drivers/serial/uart_esp32.c
  drivers/serial/uart_lpc11u6x.c
  drivers/serial/uart_mcux.c
  drivers/serial/uart_mcux_lpuart.c
  drivers/serial/uart_nrfx_uart.c
  drivers/serial/uart_nrfx_uarte.c
  drivers/serial/uart_ns16550.c
  drivers/serial/uart_nuvoton.c
  drivers/serial/uart_rcar.c
  drivers/serial/uart_sam0.c
  drivers/serial/uart_stm32.c
  drivers/serial/uart_xlnx_ps.c
Labels: area: UART, platform: ESP32, platform: NXP, platform: STM32, platform: nRF

#35825 [TOPIC-BLE-LLCP] Bluetooth: controller: updating procedure timeout handling
  subsys/bluetooth/controller/ll_sw/ull_conn_llcp_internal.h
  subsys/bluetooth/controller/ll_sw/ull_connections.c
  subsys/bluetooth/controller/ll_sw/ull_llcp_common.c
  subsys/bluetooth/controller/ll_sw/ull_llcp_enc.c
  subsys/bluetooth/controller/ll_sw/ull_llcp_local.c
  subsys/bluetooth/controller/ll_sw/ull_llcp_phy.c
Labels: area: Bluetooth, area: Bluetooth Controller

#35913 Bluetooth: Mesh: Reject identical public keys
  subsys/bluetooth/mesh/provisioner.c
Labels: area: Bluetooth, area: Bluetooth Host, area: Bluetooth Mesh

#36002 boards: nxp_ls1046ardb: doc: fix build command
  boards/arm64/nxp_ls1046ardb/doc/index.rst
Labels: area: ARM64, area: Boards, area: Documentation

#36020 doc: add draft for 2.7 release notes
  doc/releases/release-notes-2.7.rst
Labels: Release Notes, area: Documentation

#36003 tests: drivers: watchdog: Pause during debugging
  tests/drivers/watchdog/wdt_basic_api/src/test_wdt.c
Labels: area: Tests

#35909 net: dns: Fix multiple IP DNS resolution
  subsys/net/lib/dns/Kconfig
  subsys/net/lib/dns/dns_pack.c
  subsys/net/lib/dns/dns_pack.h
  subsys/net/lib/dns/resolve.c
  subsys/net/lib/sockets/getaddrinfo.c
  tests/net/lib/dns_packet/src/main.c
Labels: area: Networking, area: Sockets, area: Tests

#24884 drivers: hwinfo: Add reset cause support
  doc/reference/peripherals/hwinfo.rst
  drivers/hwinfo/Kconfig
  drivers/hwinfo/hwinfo_handlers.c
  drivers/hwinfo/hwinfo_nrf.c
  drivers/hwinfo/hwinfo_stm32.c
  drivers/hwinfo/hwinfo_weak_impl.c
  include/drivers/hwinfo.h
  tests/drivers/hwinfo/api/src/main.c
  tests/drivers/hwinfo/api/testcase.yaml
Labels: area: API, area: Documentation, area: HWINFO, area: Tests, platform: STM32

#36016 samples: remove disabling AUDIT_LOG partition in samples with TFM_IPC
  samples/tfm_integration/tfm_ipc/prj.conf
  tests/arch/arm/arm_thread_swap_tz/prj.conf
Labels: Trivial, area: Samples, area: TF-M, area: Tests

#36015 drivers: ieee802154: include timestamp in acks
  drivers/ieee802154/ieee802154_nrf5.c
  subsys/net/lib/openthread/platform/radio.c
Labels: area: IEEE 802.15.4, area: Networking

#35743 drivers: eeprom: at2x: convert to new DT helper macros
  drivers/eeprom/eeprom_at2x.c
Labels: area: Devicetree, area: EEPROM

#35810 boards: testing: limit default platforms to those we can run
  boards/arc/nsim/nsim_em.yaml
  boards/arc/nsim/nsim_hs.yaml
Labels: area: ARC, area: Boards, platform: Synopsys

#36058 samples/drivers/eeprom: Add fixture check on x_nucleo_eeprma2 config
  samples/drivers/eeprom/sample.yaml
Labels: Hotfix, Trivial, area: Samples

#36021 dts/arm: st: g0: closes parenthesis for soc
  dts/arm/st/g0/stm32g050.dtsi
Labels: area: Devicetree, backport v2.6-branch, platform: STM32

#36034 drivers: wifi: esp32: create event handling thread in runtime
  drivers/wifi/esp32/src/esp_wifi_drv.c
Labels: area: Networking

#35988 drivers: flash_stm32_v1: fix a potential unaligned access
  drivers/flash/flash_stm32_v1.c
Labels: area: Flash, backport v2.6-branch, bug, platform: STM32

#35303 boards: arm: mimxrt1020_evk: SD Card
  boards/arm/mimxrt1020_evk/Kconfig.defconfig
  boards/arm/mimxrt1020_evk/doc/index.rst
  boards/arm/mimxrt1020_evk/mimxrt1020_evk.dts
  boards/arm/mimxrt1020_evk/pinmux.c
Labels: area: Boards, area: Devicetree, area: Documentation, platform: NXP

#35298 boards/intel_adsp_cavs15: add generic ADSP detection to adsplog.py
  boards/xtensa/intel_adsp_cavs15/tools/adsplog.py
Labels: area: Boards, platform: Intel CAVS

#36001 Bluetooth: Keys: Fix BT_KEYS_OVERWRITE_OLDEST logic for BT_MAX_CONN > 1
  subsys/bluetooth/host/Kconfig
  subsys/bluetooth/host/keys.c
Labels: area: Bluetooth, area: Bluetooth Host

#36040 doc/guides/dts: bindings: Fix code snippet for 'signal-gpios'
  doc/guides/dts/bindings.rst
Labels: area: Devicetree, area: Documentation, backport v2.6-branch

#35998 drivers: ethernet: enc424j600: Add config get support for driver
  drivers/ethernet/eth_enc424j600.c
Labels: area: Ethernet, area: Networking

#36041 arch: arm64: Refine the assertion in arch_start_cpu
  arch/arm64/core/smp.c
Labels: area: ARM64, area: SMP

#35990 logging: dictionary format output to file
  subsys/logging/Kconfig.backends
  subsys/logging/log_backend_fs.c
Labels: area: Logging

#35874 soc: nrf53: Add configuration options for HFXO/LFXO load capacitance
  soc/arm/nordic_nrf/nrf53/Kconfig.soc
  soc/arm/nordic_nrf/nrf53/soc.c
Labels: area: Clocks, platform: nRF

#36018 modules: hal_nordic: Update nrfx to have doc fixes
  west.yml
Labels: area: Modules, manifest, manifest-hal_nordic, west

#36052 tests: net: sockets: Small adjustements to make tests pass on nRF52840
  tests/net/socket/tls/src/main.c
Labels: area: Networking, area: Sockets, area: Tests

#36083 drivers: ieee802154: fix serialization issue in nRF5
  drivers/ieee802154/ieee802154_nrf5.c
Labels: area: IEEE 802.15.4, area: Networking

#36051 drivers: Fix missing `auto_attach_cmd`
  drivers/serial/uart_native_posix.c
Labels: area: Drivers, area: UART, area: native port, bug

#36032 allocate struct devices in ROM
  include/linker/common-ram.ld
  include/linker/common-rom.ld
Labels: area: Linker Scripts, bug

#36082 net: coap: Keep socket fd to send reply
  include/net/coap.h
  subsys/net/lib/coap/Kconfig
Labels: area: API, area: Networking

#36099 samples: eeprom: Fix build issues with x_nucleo_eeprma2 sample
  boards/shields/x_nucleo_eeprma2/x_nucleo_eeprma2.overlay
  samples/drivers/eeprom/sample.yaml
Labels: Hotfix, area: Boards, area: Samples, area: Shields

#36043 Bluetooth: host: Optionally disable GATT sec re-establishment
  subsys/bluetooth/host/Kconfig.gatt
  subsys/bluetooth/host/gatt.c
Labels: area: Bluetooth, area: Bluetooth Host

#36109 tests: devicetree: remove useless assert
  tests/lib/devicetree/api/src/main.c
Labels: area: Tests

#36110 python-devicetree: tox: fix mypy
  scripts/dts/python-devicetree/tox.ini
Labels: Hotfix, area: Devicetree Tooling, backport v2.6-branch

#35906 arch: arm64: mpu: Fix mpu init assertion fail
  arch/arm64/core/cortex_r/mpu/arm_mpu.c
Labels: area: ARM64

#36113 samples: drivers: remove entropy sample
  samples/drivers/entropy/CMakeLists.txt
  samples/drivers/entropy/README.rst
  samples/drivers/entropy/prj.conf
  samples/drivers/entropy/sample.yaml
  samples/drivers/entropy/src/main.c
Labels: area: Crypto / RNG, area: Documentation, area: Samples

#36068 manifest: update civetweb
  west.yml
Labels: area: Modules, manifest, manifest-civetweb, west

#36065 run_ci.sh - minor fix, cleanup and refactoring
  scripts/ci/run_ci.sh
Labels: area: Continuous Integration

#36130 net: depend dns resolver on native net
  subsys/net/lib/dns/Kconfig
Labels: area: Networking

#36142 doc: guides: flash_debug: coredump: remove extraneous backtick
  doc/guides/flash_debug/coredump.rst
Labels: Trivial, area: Documentation

#36108 docs: hwinfo: improve API documentation
  include/drivers/hwinfo.h
Labels: area: API, area: HWINFO

#36106 drivers: hwinfo: Added Gecko support for reset cause
  drivers/hwinfo/Kconfig
  drivers/hwinfo/hwinfo_gecko.c
Labels: area: HWINFO, platform: SiLabs

#34783 gpio: Add GPIO voltage overrides
  include/dt-bindings/gpio/gpio.h
Labels: area: API, area: Devicetree Binding, area: GPIO

#36126 soc: renesas_rcar: gen3: enable L1 cache and branch prediction
  soc/arm/renesas_rcar/gen3/Kconfig.series
  soc/arm/renesas_rcar/gen3/soc.c
Labels: platform: Renesas

#36132 Bluetooth: Prevent race condition in pairing procedure
  subsys/bluetooth/host/smp.c
Labels: Bluetooth Qualification, area: Bluetooth, area: Bluetooth Host, bug

#36079 arch: x86: cast to the same size composite expression
  arch/x86/core/x86_mmu.c
Labels: area: Coding Guidelines, area: MISRA-C, area: X86

#36143 cmake: Support coverage flags on all archs
  arch/arc/core/CMakeLists.txt
  arch/arm/core/aarch32/CMakeLists.txt
  arch/arm64/core/CMakeLists.txt
  arch/common/CMakeLists.txt
  arch/posix/CMakeLists.txt
  arch/x86/core/CMakeLists.txt
Labels: area: ARC, area: ARM, area: ARM64, area: X86, area: native port

#36141 drivers: timer: hide CONFIG_APIC_TIMER_IRQ_PRIORITY when not applicable
  drivers/timer/Kconfig
Labels: Trivial, area: Timer

#36044 doc: release notes: add some entries for TF-M
  doc/releases/release-notes-2.7.rst
Labels: Release Notes, area: Documentation

#35295 manifest: updated openthread module
  west.yml
Labels: area: Modules, manifest, manifest-openthread, west

#35717 boards/arduino_nano_33_ble: add storage partition at end of flash
  boards/arm/arduino_nano_33_ble/arduino_nano_33_ble.dts
Labels: area: Boards, area: Devicetree

#36137 shell: allow disabling VT100 commands
  subsys/shell/Kconfig
  subsys/shell/shell_cmds.c
  subsys/shell/shell_ops.h
Labels: area: Shell

#36090 twister: adapt toolchain test
  scripts/tests/twister/conftest.py
  scripts/tests/twister/test_testsuite_class.py
Labels: area: Twister

#35766 drivers: ieee802154: extend capabilities
  drivers/ieee802154/ieee802154_nrf5.c
Labels: area: IEEE 802.15.4, area: Modules, area: Networking, manifest, manifest-hal_nordic, west

#36134 device: remove deprecated DEVICE_INIT/DEVICE_AND_API_INIT macros
  doc/releases/release-notes-2.7.rst
  include/device.h
Labels: Release Notes, area: API, area: Documentation

#30285 manifest: mcuboot: allow to build nRF52840 targets in CI
  west.yml
Labels: area: Modules, manifest, manifest-mcuboot, west

#35070 Bluetooth: Mesh: Add API to manually store pending RPL entries
  doc/reference/bluetooth/mesh/core.rst
  include/bluetooth/mesh/main.h
  subsys/bluetooth/mesh/Kconfig
  subsys/bluetooth/mesh/rpl.c
  subsys/bluetooth/mesh/rpl.h
  subsys/bluetooth/mesh/settings.c
  subsys/bluetooth/mesh/settings.h
Labels: area: API, area: Bluetooth, area: Bluetooth Mesh, area: Documentation

#35482 ite: drivers/adc: create pinmux phandle to the ADC driver node
  boards/riscv/it8xxx2_evb/it8xxx2_evb.dts
  boards/riscv/it8xxx2_evb/pinmux.c
  drivers/adc/adc_ite_it8xxx2.c
  drivers/pinmux/pinmux_ite_it8xxx2.c
  dts/bindings/adc/ite,it8xxx2-adc.yaml
  dts/bindings/pinctrl/ite,it8xxx2-pinctrl-conf.yaml
  dts/bindings/pinctrl/ite,it8xxx2-pinmux.yaml
  dts/riscv/it8xxx2-alts-map.dtsi
  dts/riscv/it8xxx2.dtsi
  include/dt-bindings/pinctrl/it8xxx2-pinctrl.h
  soc/riscv/riscv-ite/it8xxx2/soc.h
Labels: area: ADC, area: API, area: Boards, area: Devicetree, area: Devicetree Binding, area: Pinmux, area: RISCV, platform: ITE

#36011 driver/uart: add parity enum element on devicetree bindings
  drivers/serial/uart_mcux_flexcomm.c
  drivers/serial/uart_stm32.c
  dts/bindings/serial/st,stm32-lpuart.yaml
  dts/bindings/serial/st,stm32-uart.yaml
  dts/bindings/serial/st,stm32-usart.yaml
  dts/bindings/serial/uart-controller.yaml
Labels: area: Devicetree, area: Devicetree Binding, area: UART, platform: NXP, platform: STM32

#35499 soc: npcx: Add output npcx image in hex format
  boards/arm/npcx7m6fb_evb/board.cmake
  boards/arm/npcx7m6fb_evb/npcx7m6fb_evb_defconfig
  boards/arm/npcx7m6fb_evb/support/openocd.cfg
  boards/arm/npcx9m6f_evb/board.cmake
  boards/arm/npcx9m6f_evb/npcx9m6f_evb_defconfig
  boards/arm/npcx9m6f_evb/support/openocd.cfg
  soc/arm/nuvoton_npcx/Kconfig
  soc/arm/nuvoton_npcx/common/CMakeLists.txt
Labels: area: Boards, platform: Nuvoton
