Repository zephyrproject-rtos/zephyr, pull requests merged in 2021-07, with the labels that each got.

#36637 boards: arm: add STM32H735G discovery kit
  boards/arm/stm32h735g_disco/Kconfig.board
  boards/arm/stm32h735g_disco/Kconfig.defconfig
  boards/arm/stm32h735g_disco/board.cmake
  boards/arm/stm32h735g_disco/doc/img/stm32h735g_disco.jpg
  boards/arm/stm32h735g_disco/doc/index.rst
  boards/arm/stm32h735g_disco/stm32h735g_disco.dts
  boards/arm/stm32h735g_disco/stm32h735g_disco.yaml
  boards/arm/stm32h735g_disco/stm32h735g_disco_defconfig
  boards/arm/stm32h735g_disco/support/openocd.cfg
  drivers/clock_control/clock_stm32_ll_h7.c
  dts/arm/st/h7/stm32h7.dtsi
  dts/arm/st/h7/stm32h735.dtsi
  dts/arm/st/h7/stm32h735Xg.dtsi
  soc/arm/st_stm32/stm32h7/Kconfig.defconfig.stm32h735xx
  soc/arm/st_stm32/stm32h7/Kconfig.soc
Labels: area: Boards, area: Clock Control, area: Devicetree, area: Documentation, platform: STM32

#36669 doc: update slack invite
  README.rst
Labels: area: Documentation

#36586 driver: gpio: it8xxx2: enable gpio_driver_config
  drivers/gpio/gpio_ite_it8xxx2.c
Labels: area: GPIO, platform: ITE

#36620 ITE drivers/pwm: add PWM for it8xxx2
  CODEOWNERS
  boards/riscv/it8xxx2_evb/it8xxx2_evb.dts
  boards/riscv/it8xxx2_evb/it8xxx2_evb_defconfig
  drivers/pwm/CMakeLists.txt
  drivers/pwm/Kconfig
  drivers/pwm/Kconfig.it8xxx2
  drivers/pwm/pwm_ite_it8xxx2.c
  dts/bindings/pwm/ite,it8xxx2-pwm.yaml
  dts/bindings/pwm/ite,it8xxx2-pwmprs.yaml
  dts/riscv/it8xxx2-alts-map.dtsi
  dts/riscv/it8xxx2.dtsi
  include/dt-bindings/pwm/it8xxx2_pwm.h
  soc/riscv/riscv-ite/common/chip_chipregs.h
Labels: area: API, area: Boards, area: Devicetree, area: Devicetree Binding, area: PWM, area: RISCV, platform: ITE

#36535 arc: west: mdb: reverse the launch order for multi cores
  scripts/west_commands/runners/mdb.py
  scripts/west_commands/tests/test_mdb.py
Labels: area: ARC, area: West

#36554 soc: Microchip: MEC172x initial submission
  soc/arm/microchip_mec/mec172x/CMakeLists.txt
  soc/arm/microchip_mec/mec172x/Kconfig.defconfig.mec172xnsz
  soc/arm/microchip_mec/mec172x/Kconfig.defconfig.series
  soc/arm/microchip_mec/mec172x/Kconfig.series
  soc/arm/microchip_mec/mec172x/Kconfig.soc
  soc/arm/microchip_mec/mec172x/linker.ld
  soc/arm/microchip_mec/mec172x/reg/mec172x_regs.h
  soc/arm/microchip_mec/mec172x/soc.c
  soc/arm/microchip_mec/mec172x/soc.h
  soc/arm/microchip_mec/mec172x/timing.c
Labels: In progress, platform: Microchip

#36675 drivers: adc: mcux_adc16: reduce log verbosity
  drivers/adc/adc_mcux_adc16.c
Labels: Trivial, area: ADC, platform: NXP

#35602 Bluetooth: samples: Add ISO connected benchmark sample
  samples/bluetooth/iso_connected_benchmark/CMakeLists.txt
  samples/bluetooth/iso_connected_benchmark/README.rst
  samples/bluetooth/iso_connected_benchmark/prj.conf
  samples/bluetooth/iso_connected_benchmark/sample.yaml
  samples/bluetooth/iso_connected_benchmark/src/main.c
Labels: area: Bluetooth, area: Bluetooth Host, area: Bluetooth ISO, area: Documentation, area: Samples

#36657 Fix handling of multi instance resources with one instance
  subsys/net/lib/lwm2m/lwm2m_engine.c
Labels: area: Networking

#36676 tests: net: socket: tls_ext: Add platform filter
  tests/net/socket/tls_ext/testcase.yaml
Labels: area: Networking, area: Tests

#36493 Bluetooth: Mesh: Restore default device configuration on reset
  subsys/bluetooth/mesh/cfg.c
  subsys/bluetooth/mesh/cfg.h
  subsys/bluetooth/mesh/cfg_srv.c
  subsys/bluetooth/mesh/foundation.h
  subsys/bluetooth/mesh/main.c
Labels: area: Bluetooth, area: Bluetooth Mesh

#36439 Bluetooth: Controller: Fix auxiliary scan context leak
  subsys/bluetooth/controller/ll_sw/nordic/lll/lll_scan_aux.c
Labels: area: Bluetooth, area: Bluetooth Controller, bug

#36666 shell: modules: promote edac mem shell subcommand to root shell command
  drivers/edac/shell.c
  subsys/shell/modules/CMakeLists.txt
  subsys/shell/modules/Kconfig
  subsys/shell/modules/devmem_service.c
Labels: area: Shell

#36008 drivers: ieee802154: configure IE header injection for nRF5
  drivers/ieee802154/ieee802154_nrf5.c
Labels: area: IEEE 802.15.4, area: Modules, area: Networking, manifest, manifest-hal_nordic, west

#36031 Add missing net_buf_unref for non-recoverable errors while sending l2cap data
  subsys/bluetooth/host/l2cap.c
Labels: area: Bluetooth, area: Bluetooth Host, backport v2.6-branch

#35996 bluetooth: ots: Add object name write capability
  include/bluetooth/services/ots.h
  samples/bluetooth/peripheral_ots/prj.conf
  samples/bluetooth/peripheral_ots/src/main.c
  subsys/bluetooth/services/ots/Kconfig
  subsys/bluetooth/services/ots/ots.c
  subsys/bluetooth/services/ots/ots_dir_list.c
Labels: area: API, area: Bluetooth, area: Bluetooth Host, area: Samples

#36684 ITE: drivers/i2c: it8xxx2: add mutex lock
  drivers/i2c/i2c_ite_it8xxx2.c
Labels: area: I2C

#36473 [TOPIC-BLE-LLCP] Bluetooth: controller: fixup llcp common waiting for ntf buffer
  subsys/bluetooth/controller/ll_sw/ull_llcp_common.c
  tests/bluetooth/controller/ctrl_data_length_update/src/main.c
  tests/bluetooth/controller/ctrl_feature_exchange/src/main.c
Labels: area: Bluetooth, area: Bluetooth Controller, area: Tests

#36562 Correct "Heart Rate" comment
  samples/bluetooth/peripheral_ht/src/hts.c
Labels: area: Bluetooth, area: Samples

#36746 Revert "drivers: ieee802154: configure IE header injection for nRF5"
  drivers/ieee802154/ieee802154_nrf5.c
Labels: Hotfix, area: Networking

#36750 Revert "Bluetooth: samples: Add ISO connected benchmark sample"
  samples/bluetooth/iso_connected_benchmark/CMakeLists.txt
  samples/bluetooth/iso_connected_benchmark/README.rst
  samples/bluetooth/iso_connected_benchmark/prj.conf
  samples/bluetooth/iso_connected_benchmark/sample.yaml
  samples/bluetooth/iso_connected_benchmark/src/main.c
Labels: Hotfix, area: Documentation, area: Samples

#36693 [TOPIC-BLE-LLCP] Bluetooth: controller: remove duplicate include
  subsys/bluetooth/controller/ll_sw/ull_llcp.c
Labels: area: Bluetooth, area: Bluetooth Controller

#36559 libc: minimal: add size optimized string functions
  lib/libc/Kconfig
  lib/libc/minimal/source/string/string.c
Labels: area: C Library

#35269 drivers: adc: stm32: fix f3x series
  drivers/adc/adc_stm32.c
Labels: area: ADC, platform: STM32

#36633 arch: arc: update arc connect debug select cpu mask when new cpu come online
  arch/arc/core/arc_smp.c
Labels: area: ARC

#36743 ARC: save/restore accumulator registers on ARCv2 HS CPUs by default
  arch/arc/Kconfig
Labels: area: ARC, backport v2.6-branch

#36728 drivers: i2c: emul: Link emulators to correct bus
  drivers/i2c/i2c_emul.c
Labels: area: I2C

#35921 soc: arm: cc32xx: Override Reboot implementation
  soc/arm/ti_simplelink/cc32xx/soc.c
Labels: Trivial

#36712 drivers: adc: STM32: fix support for internal voltage reference source
  drivers/adc/adc_stm32.c
Labels: area: ADC, platform: STM32

#36615 Bluetooth: Controller: Fix clock accuracy calculation scanning Aux PDU
  subsys/bluetooth/controller/ll_sw/pdu.h
  subsys/bluetooth/controller/ll_sw/ull_scan_aux.c
  subsys/bluetooth/controller/ll_sw/ull_sync.c
Labels: area: Bluetooth, area: Bluetooth Controller

#36634 kernel: Fix negative mutex lock_count value
  kernel/mutex.c
Labels: area: Kernel

#36526 tests: arch: arm_irq_vector_table: Update to run on MXRT685
  drivers/timer/mcux_os_timer.c
  tests/arch/arm/arm_irq_vector_table/src/arm_irq_vector_table.c
Labels: area: ARM, area: Tests, area: Timer, platform: NXP

#36701 drivers: wifi: esp_at: close stream socket after failure to send
  drivers/wifi/esp_at/esp_offload.c
Labels: area: Networking, area: Wifi

#36742 manifest: update openthread
  samples/net/lwm2m_client/overlay-ot.conf
  samples/net/sockets/echo_client/overlay-ot.conf
  samples/net/sockets/echo_server/overlay-ot.conf
  subsys/net/l2/openthread/Kconfig.features
  subsys/net/l2/openthread/Kconfig.thread
  subsys/net/l2/openthread/openthread.c
  subsys/net/lib/openthread/platform/radio.c
  west.yml
Labels: area: LWM2M, area: Modules, area: Networking, area: Samples, area: Sockets, manifest, manifest-openthread, west

#36756 pm: use enum for device PM states
  drivers/display/display_st7735r.c
  drivers/display/display_st7789v.c
  drivers/entropy/entropy_cc13xx_cc26xx.c
  drivers/ethernet/eth_mcux.c
  drivers/flash/spi_flash_at45.c
  drivers/gpio/gpio_dw.c
  drivers/gpio/gpio_dw.h
  drivers/gpio/gpio_stm32.c
  drivers/gpio/gpio_stm32.h
  drivers/i2c/i2c_cc13xx_cc26xx.c
  drivers/i2c/i2c_nrfx_twi.c
  drivers/i2c/i2c_nrfx_twim.c
  drivers/interrupt_controller/intc_arcv2_irq_unit.c
  drivers/interrupt_controller/intc_ioapic.c
  drivers/interrupt_controller/intc_loapic.c
  drivers/led/led_pwm.c
  drivers/pwm/pwm_nrfx.c
  drivers/sensor/apds9960/apds9960.c
  drivers/sensor/bme280/bme280.c
  drivers/sensor/bmp388/bmp388.c
  drivers/sensor/bmp388/bmp388.h
  drivers/sensor/fdc2x1x/fdc2x1x.c
  drivers/sensor/fdc2x1x/fdc2x1x.h
  drivers/sensor/lis2mdl/lis2mdl.c
  drivers/sensor/lis2mdl/lis2mdl.h
  drivers/sensor/qdec_nrfx/qdec_nrfx.c
  drivers/sensor/vcnl4040/vcnl4040.c
  drivers/serial/uart_cc13xx_cc26xx.c
  drivers/serial/uart_npcx.c
  drivers/serial/uart_nrfx_uart.c
  drivers/serial/uart_nrfx_uarte.c
  drivers/serial/uart_stm32.c
  drivers/serial/uart_stm32.h
  drivers/spi/spi_cc13xx_cc26xx.c
  drivers/spi/spi_nrfx_spi.c
  drivers/spi/spi_nrfx_spim.c
  drivers/timer/sys_clock_init.c
  include/device.h
  include/drivers/timer/system_timer.h
  include/pm/device.h
  samples/sensor/apds9960/src/main.c
  samples/sensor/fdc2x1x/src/main.c
  samples/subsys/pm/device_pm/src/dummy_driver.c
  samples/subsys/pm/device_pm/src/dummy_parent.c
  subsys/pm/device.c
  subsys/pm/device_runtime.c
  subsys/shell/modules/device_service.c
  tests/drivers/uart/uart_pm/src/main.c
  tests/kernel/device/src/main.c
  tests/net/pm/src/main.c
  tests/subsys/pm/device_runtime/src/dummy_driver.c
  tests/subsys/pm/power_mgmt/src/dummy_driver.c
  tests/subsys/pm/power_mgmt/src/main.c
Labels: area: Crypto / RNG, area: Device Model, area: Display, area: Ethernet, area: Flash, area: GPIO, area: I2C, area: Interrupt Controller, area: Kernel, area: LED, area: Networking, area: PWM, area: Power Management, area: SPI, area: Sensors, area: Shell, area: Timer, area: UART, area: X86, platform: NXP, platform: Nuvoton, platform: STM32, platform: nRF

#36704 tracing: debug: Link Segger RTT/SystemView sections in DTCM if chosen
  soc/arm/nxp_imx/rt/Kconfig.defconfig.series
Labels: area: Tracing, platform: NXP

#36378 hal: esp32: driver changes to allow HAL update
  drivers/flash/flash_esp32.c
  drivers/serial/uart_esp32.c
  drivers/spi/spi_esp32_spim.c
  drivers/spi/spi_esp32_spim.h
  drivers/wifi/esp32/src/esp_wifi_drv.c
  dts/xtensa/espressif/esp32.dtsi
  soc/xtensa/esp32/Kconfig.soc
  soc/xtensa/esp32/linker.ld
  west.yml
Labels: area: Devicetree, area: Devicetree Binding, area: Flash, area: Modules, area: Networking, area: SPI, area: UART, area: Wifi, area: Xtensa, manifest, manifest-hal_espressif, platform: ESP32, west

#36715 driver: gpt: the gpt driver for the rt1170
  boards/arm/mimxrt1170_evk/doc/index.rst
  boards/arm/mimxrt1170_evk/mimxrt1170_evk_cm7.yaml
  drivers/clock_control/clock_control_mcux_ccm_rev2.c
  soc/arm/nxp_imx/rt/Kconfig.soc
  soc/arm/nxp_imx/rt/soc_rt11xx.c
Labels: area: Boards, area: Clock Control, area: Documentation, platform: NXP

#36663 misc: npcx: Add soc id node
  dts/arm/nuvoton/npcx.dtsi
  dts/arm/nuvoton/npcx7.dtsi
  dts/arm/nuvoton/npcx7m6fb.dtsi
  dts/arm/nuvoton/npcx7m6fc.dtsi
  dts/arm/nuvoton/npcx7m7fc.dtsi
  dts/arm/nuvoton/npcx9.dtsi
  dts/arm/nuvoton/npcx9m3f.dtsi
  dts/arm/nuvoton/npcx9m6f.dtsi
  dts/bindings/misc/nuvoton,npcx-soc-id.yaml
Labels: area: Devicetree, area: Devicetree Binding, platform: Nuvoton

#36784 shell: modules: devmem: use strtoul instead of strtol
  subsys/shell/modules/devmem_service.c
Labels: area: Shell

#36761 tests: net: ethernet_mgmt: Fix tests when running in real hw
  tests/net/ethernet_mgmt/src/main.c
Labels: area: Ethernet, area: Networking, area: Tests

#36799 boards: thingy53_nrf5340: Enable uart0 on network core
  boards/arm/thingy53_nrf5340/thingy53_nrf5340_cpunet.dts
  boards/arm/thingy53_nrf5340/thingy53_nrf5340_cpunet_defconfig
Labels: area: Boards, area: Devicetree

#36805 yaml: fix esp32c3 toolchain
  boards/riscv/esp32c3_devkitm/esp32c3_devkitm.yaml
Labels: Hotfix, area: Boards

#36804 tests: remove kernel tag from key tests/samples
  samples/synchronization/sample.yaml
  tests/kernel/common/testcase.yaml
Labels: Hotfix, area: Kernel, area: Samples, area: Tests

#36797 tests: kernel: device: fix incorrect device power state type
  tests/kernel/device/src/main.c
Labels: Hotfix, area: Kernel, area: Tests

#36803 boards: arm: fix build of civetweb example for STM32H735G discovery kit
  boards/arm/stm32h735g_disco/stm32h735g_disco_defconfig
Labels: area: Boards, platform: STM32

#36359 net: l2: ieee802154: Fix LL address handling on frame reception
  subsys/net/l2/ieee802154/ieee802154.c
Labels: area: Networking

#36835 samples/bluetooth: st_ble_sensor: Fixes the button activity notification
  samples/bluetooth/st_ble_sensor/src/main.c
Labels: area: Samples

#36793 dts: stm32l0: add usart4 and usart5
  dts/arm/st/l0/stm32l071.dtsi
Labels: area: Devicetree, platform: STM32

#36817 Revert "boards: thingy53_nrf5340: Enable uart0 on network core"
  boards/arm/thingy53_nrf5340/thingy53_nrf5340_cpunet.dts
  boards/arm/thingy53_nrf5340/thingy53_nrf5340_cpunet_defconfig
Labels: area: Boards, area: Devicetree, platform: nRF

#36815 drivers/flash/nrf_qspi_nor: Fix get_parameters layout dependency
  drivers/flash/nrf_qspi_nor.c
Labels: Trivial, area: Drivers, area: Flash, platform: nRF

#36707 drivers: flash: nrf_qspi_nor: Configurable RXDELAY
  drivers/flash/nrf_qspi_nor.c
  dts/bindings/mtd/nordic,qspi-nor.yaml
Labels: area: Devicetree, area: Devicetree Binding, area: Flash

#36810 drivers/clock_control: stm32: Fix macro to get HCLK freq
  drivers/clock_control/clock_stm32_ll_common.c
Labels: platform: STM32

#36612 common: Add headers to support C++ style includes
  subsys/cpp/CMakeLists.txt
  subsys/cpp/include/cstddef
  subsys/cpp/include/cstdint
Labels: area: C Library

#36838 tests: net: coap: Convert unit tests to ztest API
  tests/net/lib/coap/prj.conf
  tests/net/lib/coap/src/main.c
Labels: area: Networking, area: Tests

#36839 Bluetooth: host: Move bt_data_parse to hci_core.c
  subsys/bluetooth/host/hci_core.c
  subsys/bluetooth/host/scan.c
Labels: area: Bluetooth, area: Bluetooth Host

#36836 Bluetooth: Iso: Do not remove iso data path on disconnect
  subsys/bluetooth/host/iso.c
  subsys/bluetooth/host/iso_internal.h
Labels: area: Bluetooth, area: Bluetooth Host

#36744 ARC: MWDT: use MetaWare C library instead of MetaWare Compactlib
  cmake/linker/arcmwdt/target.cmake
Labels: area: ARC, area: Build System

#36740 flash_page_layout: refactor flash_page_get_info
  drivers/flash/flash_page_layout.c
Labels: area: Flash

#36686 Bluetooth: Controller: Warn when building experimental features
  subsys/bluetooth/controller/CMakeLists.txt
Labels: area: Bluetooth, area: Bluetooth Controller

#36809 boards: mxrt685: Update to documentation
  boards/arm/mimxrt685_evk/doc/index.rst
Labels: area: Boards, area: Documentation, platform: NXP

#36862 dts: bindings: jedec,jesd216: remove deprecated 'has-be32k' prop
  dts/bindings/mtd/jedec,jesd216.yaml
Labels: area: Devicetree, area: Devicetree Binding

#36863 drivers: pwm: nrf_sw: drop deprecated 'timer-instance' DT prop
  drivers/pwm/pwm_nrf5_sw.c
  dts/bindings/pwm/nordic,nrf-sw-pwm.yaml
Labels: area: Devicetree, area: Devicetree Binding, area: PWM, platform: nRF

#36614 Bluetooth: Controller: Fix Periodic Sync setup with invalid channels
  subsys/bluetooth/controller/ll_sw/ull_sync.c
Labels: area: Bluetooth, area: Bluetooth Controller

#36792 doc, cpp: Update CXX support to show exception support
  doc/reference/kernel/other/cxx_support.rst
Labels: area: C++, area: Documentation, area: Kernel

#36850 drivers: pinmux: stm32: fix name clashes with G4 series
  drivers/pinmux/pinmux_stm32.c
  include/dt-bindings/pinctrl/stm32-pinctrl.h
Labels: area: API, area: Devicetree Binding, area: Pinmux, platform: STM32

#36719 driver: flexcan: flexcan support for the rt1170
  boards/arm/mimxrt1170_evk/doc/index.rst
  boards/arm/mimxrt1170_evk/mimxrt1170_evk_cm7.dts
  boards/arm/mimxrt1170_evk/mimxrt1170_evk_cm7.yaml
  soc/arm/nxp_imx/rt/Kconfig.soc
Labels: area: Boards, area: CAN, area: Devicetree, area: Documentation, platform: NXP

#36830 boards: fixing typo from MX24R64 to MX25R64
  boards/arm/bl5340_dvk/bl5340_dvk_cpuapp_common.dts
  boards/arm/nrf52840dk_nrf52840/nrf52840dk_nrf52840.dts
  boards/arm/nrf5340dk_nrf5340/nrf5340_cpuapp_common.dts
  boards/arm/thingy53_nrf5340/thingy53_nrf5340_common.dts
  boards/arm/ubx_bmd340eval_nrf52840/ubx_bmd340eval_nrf52840.dts
  boards/arm/ubx_bmd345eval_nrf52840/ubx_bmd345eval_nrf52840.dts
Labels: area: Boards, area: Devicetree, platform: nRF

#36884 ci: reduce disk usage for daily build
  .buildkite/run.sh
Labels: area: Continuous Integration

#36907 kernel: native_posix: Don't run global C++ constructors
  kernel/init.c
Labels: area: C++, area: Kernel

#36903 drivers: edac: Fix PCIe Kconfig dependency
  drivers/edac/Kconfig
Labels: area: X86

#35869 cmake: extended zephyr_library_amend description with an extra example
  cmake/extensions.cmake
Labels: area: Build System

#36582 net: ip: Fix assertion failure when tcp_send_data() with zero length packet
  subsys/net/ip/tcp2.c
Labels: area: Networking

#36861 net: lib: sockets: Fix assertion failure when zsock_close()
  subsys/net/lib/sockets/sockets.c
Labels: area: Networking, area: Sockets

#36813 Bluetooth: Mesh: Tests of BLE Mesh beacon flags management
  tests/bluetooth/bsim_bt/bsim_test_mesh/CMakeLists.txt
  tests/bluetooth/bsim_bt/bsim_test_mesh/src/main.c
  tests/bluetooth/bsim_bt/bsim_test_mesh/src/mesh_test.h
  tests/bluetooth/bsim_bt/bsim_test_mesh/src/test_beacon.c
  tests/bluetooth/bsim_bt/bsim_test_mesh/tests_scripts/beacon/iv_update.sh
  tests/bluetooth/bsim_bt/bsim_test_mesh/tests_scripts/beacon/key_refresh.sh
Labels: area: Tests

#36548 subsys/mgmt/mcumgr: Add SMP Zephyr specific storage erase command
  include/mgmt/mcumgr/zephyr_groups.h
  subsys/mgmt/mcumgr/CMakeLists.txt
  subsys/mgmt/mcumgr/Kconfig
  subsys/mgmt/mcumgr/zephyr_grp/CMakeLists.txt
  subsys/mgmt/mcumgr/zephyr_grp/basic_mgmt.c
Labels: area: API

#36876 Bluetooth: SDP: judge the buf->len before sys_get_be16
  subsys/bluetooth/host/sdp.c
Labels: area: Bluetooth, area: Bluetooth Host

#36888 tests: test_build: Exclude some NS platforms from debug builds
  tests/misc/test_build/testcase.yaml
Labels: area: Tests, platform: nRF

#36785 boards: imxrt685: Update pinmux setting to remove the const keyword
  boards/arm/mimxrt685_evk/pinmux.c
Labels: area: Boards, platform: NXP

#36757 pm: remove callback
  drivers/display/display_st7735r.c
  drivers/display/display_st7789v.c
  drivers/entropy/entropy_cc13xx_cc26xx.c
  drivers/ethernet/eth_mcux.c
  drivers/flash/spi_flash_at45.c
  drivers/gpio/gpio_dw.c
  drivers/gpio/gpio_stm32.c
  drivers/i2c/i2c_cc13xx_cc26xx.c
  drivers/i2c/i2c_nrfx_twi.c
  drivers/i2c/i2c_nrfx_twim.c
  drivers/interrupt_controller/intc_arcv2_irq_unit.c
  drivers/interrupt_controller/intc_ioapic.c
  drivers/interrupt_controller/intc_loapic.c
  drivers/led/led_pwm.c
  drivers/modem/hl7800.c
  drivers/modem/modem_receiver.c
  drivers/pwm/pwm_nrfx.c
  drivers/sensor/apds9960/apds9960.c
  drivers/sensor/bme280/bme280.c
  drivers/sensor/bmp388/bmp388.c
  drivers/sensor/fdc2x1x/fdc2x1x.c
  drivers/sensor/lis2mdl/lis2mdl.c
  drivers/sensor/qdec_nrfx/qdec_nrfx.c
  drivers/sensor/vcnl4040/vcnl4040.c
  drivers/serial/uart_cc13xx_cc26xx.c
  drivers/serial/uart_npcx.c
  drivers/serial/uart_nrfx_uart.c
  drivers/serial/uart_nrfx_uarte.c
  drivers/serial/uart_stm32.c
  drivers/spi/spi_cc13xx_cc26xx.c
  drivers/spi/spi_nrfx_spi.c
  drivers/spi/spi_nrfx_spim.c
  drivers/timer/sys_clock_init.c
  include/device.h
  include/drivers/timer/system_timer.h
  include/pm/device.h
  samples/boards/nrf/system_off/src/main.c
  samples/drivers/spi_flash_at45/src/main.c
  samples/sensor/apds9960/src/main.c
  samples/sensor/fdc2x1x/src/main.c
  samples/subsys/pm/device_pm/src/dummy_driver.c
  samples/subsys/pm/device_pm/src/dummy_parent.c
  subsys/net/ip/net_shell.c
  subsys/pm/device.c
  subsys/pm/device_runtime.c
  tests/drivers/uart/uart_pm/src/main.c
  tests/kernel/device/src/main.c
  tests/net/pm/src/main.c
  tests/subsys/pm/device_runtime/src/dummy_driver.c
  tests/subsys/pm/power_mgmt/src/dummy_driver.c
Labels: area: Crypto / RNG, area: Device Model, area: Display, area: Ethernet, area: Flash, area: GPIO, area: I2C, area: Interrupt Controller, area: Kernel, area: LED, area: Modem, area: Networking, area: PWM, area: Power Management, area: SPI, area: Sensors, area: Shell, area: Timer, area: UART, area: X86, platform: NXP, platform: Nuvoton, platform: STM32, platform: nRF

#36915 logging: log_backend_net: Add support for logging v2
  subsys/logging/Kconfig.backends
  subsys/logging/log_backend_net.c
Labels: area: Logging, area: Networking

#36853 Update subsys/cpp information
  CMakeLists.txt
  subsys/cpp/Kconfig
Labels: area: Build System, area: C++

#36881 west: update west.yml to get updated hal_stm32 modules
  west.yml
Labels: area: Modules, manifest, manifest-hal_stm32, west

#36912 logging: Shell commands available when shell acts as log backend
  subsys/logging/log_cmds.c
Labels: area: Logging, area: Shell, bug

#33941 tests: add min_ram to test applications
  tests/kernel/lifo/lifo_usage/testcase.yaml
  tests/kernel/sched/schedule_api/testcase.yaml
Labels: area: Kernel, area: Tests

#35446 Bluetooth: Mesh: Test provisioning multiple devices
  tests/bluetooth/bsim_bt/bsim_test_mesh/prj.conf
  tests/bluetooth/bsim_bt/bsim_test_mesh/src/test_provision.c
  tests/bluetooth/bsim_bt/bsim_test_mesh/tests_scripts/provision/pb_adv_multi.sh
Labels: area: Bluetooth, area: Bluetooth Mesh, area: Tests

#36945 Doc: Getting Started: Image fix for PDF generation
  doc/getting_started/img/ReelBoard-Blinky.gif
  doc/getting_started/img/ReelBoard-Blinky.png
  doc/getting_started/index.rst
Labels: area: Documentation

#36952 cpp: Restore C++2A Kconfig
  CMakeLists.txt
  cmake/compiler/arcmwdt/compiler_flags.cmake
  cmake/compiler/compiler_flags_template.cmake
  cmake/compiler/gcc/compiler_flags.cmake
  subsys/cpp/Kconfig
Labels: Hotfix, area: Build System, area: C++

#36763 drivers: usb: device: Rename usb_dc_sam to usb_dc_sam_usbhs
  drivers/usb/device/CMakeLists.txt
  drivers/usb/device/Kconfig
  drivers/usb/device/usb_dc_sam_usbhs.c
  soc/arm/atmel_sam/same70/Kconfig.defconfig.series
  soc/arm/atmel_sam/samv71/Kconfig.defconfig.series
Labels: area: USB, platform: ATMEL

#36527 Add support for disabling auto-negotiation for stm32 ethernet driver
  drivers/ethernet/Kconfig.stm32_hal
  drivers/ethernet/eth_stm32_hal.c
Labels: area: Ethernet, area: Networking, platform: STM32

#36919 tests: net: socket: select: Relax timing requirements
  tests/net/socket/select/src/main.c
Labels: area: Networking, area: Tests

#36752 Bluetooth: samples: Add ISO connected benchmark sample
  samples/bluetooth/iso_connected_benchmark/CMakeLists.txt
  samples/bluetooth/iso_connected_benchmark/README.rst
  samples/bluetooth/iso_connected_benchmark/prj.conf
  samples/bluetooth/iso_connected_benchmark/sample.yaml
  samples/bluetooth/iso_connected_benchmark/src/main.c
Labels: area: Bluetooth ISO, area: Documentation, area: Samples

#36886 tests: kernel: device: Exclude beaglev_starlight_jh7100
  tests/kernel/device/testcase.yaml
Labels: Trivial, area: Device Model, area: Kernel, area: Tests

#36914 logging: log_backend_xtensa_sim: Add support for logging v2
  subsys/logging/Kconfig.backends
  subsys/logging/log_backend_xtensa_sim.c
Labels: area: Logging

#36918 logging: log_backend_spinel: Add support for logging v2
  subsys/logging/Kconfig.backends
  subsys/logging/log_backend_spinel.c
Labels: area: Logging

#36933 modules: hal_nxp: replace Kconfig option USB with USB_DEVICE_DRIVER
  west.yml
Labels: area: Modules, manifest, manifest-hal_nxp, west

#36887 samples: jesd216: Exclude hifive1 board from sample
  samples/drivers/jesd216/sample.yaml
Labels: Trivial

#36957 net: openthread: handle NONE level logs
  subsys/net/lib/openthread/platform/logging.c
Labels: area: Networking

#36816 soc: boards: Enable Segger RTT/SystemView on mimxrt1170_evk_cm7
  boards/arm/mimxrt1170_evk/mimxrt1170_evk_cm7.dts
  soc/arm/nxp_imx/rt/soc_rt11xx.c
Labels: area: Boards, area: Devicetree, platform: NXP

#36934 drivers: usb_dc_mcux_ehci: use K_NO_WAIT in k_heap_alloc()
  drivers/usb/device/usb_dc_mcux_ehci.c
Labels: area: Drivers, area: USB, platform: NXP

#34938 devicetree: Add _VARGS variants to _FOREACH_ marcos
  doc/guides/dts/macros.bnf
  include/devicetree.h
  scripts/dts/gen_defines.py
  tests/lib/devicetree/api/src/main.c
Labels: area: API, area: Devicetree, area: Devicetree Tooling, area: Tests, dev-review

#34987 dtlib: allow dangling /aliases
  scripts/dts/python-devicetree/src/devicetree/dtlib.py
  scripts/dts/python-devicetree/tests/test_dtlib.py
Labels: area: Devicetree, area: Devicetree Tooling

#34596 mpsc_pbuf: Fix oversized allocation and improve space management in no overwrite mode
  tests/lib/mpsc_pbuf/src/main.c
Labels: area: Base OS, area: Logging, area: Tests

#35805 drivers: gsm adding support for rssi readout for the PPP link
  drivers/modem/Kconfig.gsm
  drivers/modem/gsm_ppp.c
  drivers/modem/modem_context.h
Labels: area: Modem

#36036 module: mbedtls: add shell module
  modules/mbedtls/CMakeLists.txt
  modules/mbedtls/Kconfig
  modules/mbedtls/shell.c
Labels: area: Modules

#36894 drivers/clock_control: stm32: Fixes around LSE clock
  drivers/clock_control/clock_stm32_ll_common.c
  drivers/clock_control/clock_stm32g4.c
Labels: area: Clock Control, platform: STM32

#36958 Bluetooth: controller: df: Fixes truncated transmission of CTE
  subsys/bluetooth/controller/ll_sw/ull_df.c
Labels: area: Bluetooth, area: Bluetooth Controller, bug

#33230 drivers: spi: Use timeout for transfer completion
  drivers/spi/Kconfig
  drivers/spi/spi_context.h
Labels: area: API, area: SPI

#36879 drivers: flash: mcux flexspi nor: Fix write on arbitrary offset
  drivers/flash/flash_mcux_flexspi_mx25um51345g.c
  drivers/flash/flash_mcux_flexspi_nor.c
Labels: area: Flash, bug, platform: NXP

#36977 doc: extensions: doxyrunner: fix HTML output handling
  doc/_extensions/zephyr/doxyrunner.py
Labels: area: Documentation, bug

#36960 doc: cmake: use Sphinx generated make files for PDF build
  doc/CMakeLists.txt
Labels: area: Documentation

#36697 drivers: ieee802154: cc13xx_cc26xx: add subghz power saving
  drivers/ieee802154/ieee802154_cc13xx_cc26xx_subg.c
Labels: area: IEEE 802.15.4, area: Networking

#36969 Bluetooth: Add identifiers for Bluetooth 5.3
  include/bluetooth/hci.h
  subsys/bluetooth/host/hci_core.c
  subsys/bluetooth/shell/bt.c
Labels: area: API, area: Bluetooth, area: Bluetooth Host

#36690 driver: lpspi: add the lpspi driver for rt1170
  boards/arm/mimxrt1170_evk/doc/index.rst
  boards/arm/mimxrt1170_evk/mimxrt1170_evk_cm7.dts
  boards/arm/mimxrt1170_evk/mimxrt1170_evk_cm7.yaml
  boards/arm/mimxrt1170_evk/pinmux.c
  samples/drivers/jesd216/sample.yaml
Labels: area: Boards, area: Devicetree, area: Documentation, area: Samples, platform: NXP

#36961 net: openthread: add Kconfig options for periodic parent search
  subsys/net/l2/openthread/Kconfig.thread
  subsys/net/lib/openthread/platform/openthread-core-zephyr-config.h
Labels: area: Networking, area: OpenThread

#36975 drivers/sensor: lis2mdl: Fix errors when CONFIG_PM_DEVICE=y
  drivers/sensor/lis2mdl/lis2mdl.c
Labels: area: Drivers, area: Power Management, area: Sensors, bug

#36985 arch/Kconfig: Remove stray tab from USERSPACE help
  arch/Kconfig
Labels: Trivial

#36992 Revert "tests: drivers: build_all: add fake serial device for modem tests"
  tests/drivers/build_all/modem/src/main.c
Labels: area: Tests

#35017 drivers: gpio: add new driver for STMPE1600 gpio expander
  drivers/gpio/CMakeLists.txt
  drivers/gpio/Kconfig
  drivers/gpio/Kconfig.stmpe1600
  drivers/gpio/gpio_stmpe1600.c
  dts/bindings/gpio/st,stmpe1600.yaml
Labels: area: Devicetree, area: Devicetree Binding, area: GPIO

#35696 drivers: i2c: esp32: fix timing and stop bit
  drivers/i2c/i2c_esp32.c
Labels: area: I2C, bug, platform: ESP32

#36976 west.yml: hal_stm32: stm32cube/common_ll: Update vs last Cube update
  west.yml
Labels: area: Modules, manifest, manifest-hal_stm32, west

#36996 tests: kernel: mem_protect: stack_random: disable qemu_riscv32
  tests/kernel/mem_protect/stack_random/testcase.yaml
Labels: Hotfix, area: Kernel, area: RISCV, area: Tests, priority: high

#37008 doc: fix gen_devicetree_rest.py bindings search
  doc/_scripts/gen_devicetree_rest.py
Labels: Trivial, area: Documentation

#36942 disk: Add support for MCUs with SDIO drivers.
  drivers/disk/sdmmc_stm32.c
Labels: area: Disk Access, area: Drivers, platform: STM32

#36965 west.yml: Build imxrt6xx drivers in the nxp hal library
  west.yml
Labels: area: Modules, manifest, manifest-hal_nxp, west

#36995 libc: esp32: workaround to fix wifi IP address issue
  boards/xtensa/esp32/esp32_defconfig
Labels: area: Boards

#36638 doc: guides: move doc README to the guides folder
  doc/guides/docs/images/doc-gen-flow.dot
  doc/guides/docs/images/doc-gen-flow.png
  doc/guides/docs/index.rst
  doc/guides/index.rst
Labels: Trivial, area: Documentation

#37002 ci: doc: fix build target for doc publish
  .github/workflows/doc-publish.yml
Labels: Trivial, area: Documentation, bug

#35991 scripts: colorize parsed dictionary logging
  scripts/logging/dictionary/dictionary_parser/log_parser_v1.py
Labels: area: Logging

#36946 logging: count file with index 0 as log file too
  subsys/logging/log_backend_fs.c
Labels: area: Logging, bug, priority: low

#36173 net: sockets: tls: Fix handshake on non blocking sockets
  subsys/net/lib/sockets/sockets_tls.c
Labels: area: Networking, area: Sockets

#36167 net: sockets: dtls: Fix handshake with socket offloading
  subsys/net/lib/sockets/sockets_tls.c
Labels: area: Networking

#36623 soc: same70, samv71: free TRACESWO pin when unused
  soc/arm/atmel_sam/same70/soc_config.c
  soc/arm/atmel_sam/samv71/soc_config.c
Labels: platform: ATMEL

#36067 [backport v2.5-branch] Bluetooth: controller: Fix missing encryption procedure state check
  subsys/bluetooth/controller/ll_sw/ull_conn.c
  subsys/bluetooth/controller/ll_sw/ull_conn_types.h
Labels: Backport, area: Bluetooth, area: Bluetooth Controller

#36723 drivers: can: mark the CAN API as unstable
  doc/reference/api/overview.rst
Labels: area: API, area: CAN, area: Documentation

#36949 Simplify arguments list of ull_adv_sync_pdu_alloc
  subsys/bluetooth/controller/ll_sw/ull_adv_internal.h
  subsys/bluetooth/controller/ll_sw/ull_adv_iso.c
  subsys/bluetooth/controller/ll_sw/ull_adv_sync.c
  subsys/bluetooth/controller/ll_sw/ull_df.c
Labels: area: Bluetooth, area: Bluetooth Controller

#36627 usb: remove useless len argument from usb_data_to_host()
  subsys/usb/usb_device.c
Labels: area: USB

#36628 drivers: console: update USB_UART_CONSOLE description
  drivers/console/Kconfig
Labels: area: Console, area: USB

#37035 drivers: timer: nrf_rtc_timer: Fix race condition
  drivers/timer/nrf_rtc_timer.c
Labels: area: Timer, bug

#37020 logging: allow timestamp formatting for FS backend
  subsys/logging/Kconfig.formatting
Labels: area: Logging

#37019 fs: shell: fix incorrect message format when mount fails
  subsys/fs/shell.c
Labels: area: File System

#37018 fs: littlefs: drop newline character in log messages
  subsys/fs/littlefs_fs.c
Labels: area: File System

#36940 Bluetooth: Controller: Disallow anonymous legacy advertising
  subsys/bluetooth/controller/ll_sw/ull_adv.c
Labels: Enhancement, area: Bluetooth, area: Bluetooth Controller

#36941 Bluetooth: Controller: Add checks for invalid PHYs
  subsys/bluetooth/controller/hci/hci.c
Labels: Enhancement, area: Bluetooth, area: Bluetooth Controller

#36939 Bluetooth: Controller: Fix extended advertising timeout
  subsys/bluetooth/controller/ll_sw/ull_adv.c
Labels: area: Bluetooth, area: Bluetooth Controller, bug

#36937 Bluetooth: Controller: Fix directed advertising report
  subsys/bluetooth/controller/hci/hci.c
Labels: area: Bluetooth, area: Bluetooth Controller, bug

#36936 Bluetooth: Controller: Legacy vs Extended check for Periodic Adv HCI
  subsys/bluetooth/controller/hci/hci.c
Labels: Enhancement, area: Bluetooth, area: Bluetooth Controller

#36935 Bluetooth: Controller: Fix legacy advertising PDU length initialization
  subsys/bluetooth/controller/ll_sw/ull_adv.c
Labels: area: Bluetooth, area: Bluetooth Controller, bug

#36895 Bluetooth: Controller: Fix HCI reset assert initiating on coded PHY
  subsys/bluetooth/controller/ll_sw/ull.c
Labels: area: Bluetooth, area: Bluetooth Controller, bug

#37042 drivers: sensor: add const qualifier to conversion
  include/drivers/sensor.h
Labels: area: API
