Repository zephyrproject-rtos/zephyr, pull requests merged in 2021-08, with the labels that each got.

#35997 bluetooth: ots: Add object write procedure
  include/bluetooth/services/ots.h
  samples/bluetooth/peripheral_ots/prj.conf
  samples/bluetooth/peripheral_ots/src/main.c
  subsys/bluetooth/services/ots/Kconfig
  subsys/bluetooth/services/ots/ots.c
  subsys/bluetooth/services/ots/ots_internal.h
  subsys/bluetooth/services/ots/ots_l2cap.c
  subsys/bluetooth/services/ots/ots_l2cap_internal.h
  subsys/bluetooth/services/ots/ots_oacp.c
  subsys/bluetooth/services/ots/ots_oacp_internal.h
Labels: area: API, area: Bluetooth, area: Bluetooth Host, area: Samples

#36658 refactor: correct spells to that probably intended
  scripts/pylib/twister/twisterlib.py
Labels: area: Twister

#37374 drivers: modem: Fix compiler warning
  drivers/modem/modem_cmd_handler.c
Labels: Trivial, area: Modem

#36906 boards: actinius_*: fix board init priority
  boards/arm/actinius_icarus/board.c
  boards/arm/actinius_icarus_bee/board.c
  boards/arm/actinius_icarus_som/board.c
Labels: area: Boards

#37142 soc: arm: nxp_imx: rt: refactor flexspi boot config
  boards/arm/mm_swiftio/CMakeLists.txt
  boards/arm/mm_swiftio/flexspi_nor_config.c
  boards/arm/teensy4/CMakeLists.txt
  boards/arm/teensy4/flexspi_nor_config.c
  boards/arm/teensy4/teensy4_flexspi_nor_config.h
  soc/arm/nxp_imx/rt/flexspi_nor_config.h
Labels: area: Boards, platform: NXP

#37150 watchdog: add watchdog driver support to mimxrt685 platform
  boards/arm/mimxrt685_evk/doc/index.rst
  boards/arm/mimxrt685_evk/mimxrt685_evk_cm33.dts
  boards/arm/mimxrt685_evk/mimxrt685_evk_cm33.yaml
  drivers/watchdog/wdt_mcux_wwdt.c
  dts/arm/nxp/nxp_rt6xx_common.dtsi
  soc/arm/nxp_imx/rt6xx/Kconfig.defconfig.mimxrt685_cm33
  soc/arm/nxp_imx/rt6xx/soc.c
  tests/drivers/watchdog/wdt_basic_api/testcase.yaml
  west.yml
Labels: area: Boards, area: Devicetree, area: Documentation, area: Modules, area: Tests, area: Watchdog, manifest, manifest-hal_nxp, platform: NXP, west

#36499 dts: arm: Add #address-cells to nvic nodes
  dts/arm/armv6-m.dtsi
  dts/arm/armv7-m.dtsi
  dts/arm/armv8-m.dtsi
  dts/arm/armv8.1-m.dtsi
Labels: area: Devicetree

#37357 spi: add `spi_release_dt`
  include/drivers/spi.h
Labels: area: API, area: SPI

#37382 board: arm: fix failing test on teensy boards
  samples/subsys/usb/dfu/sample.yaml
Labels: area: Samples

#37373 samples: i2s: echo: fix building on litex_vexriscv
  samples/drivers/i2s/echo/src/main.c
Labels: Trivial, area: Samples

#37280 subsys/mgmt/mcumgr: Fix collision with user defined groups
  include/mgmt/mcumgr/zephyr_groups.h
Labels: area: API, area: mcumgr, bug

#36653 bluetooth: ots: Make OTS Object Reads use POSIX parameter types
  include/bluetooth/services/ots.h
  samples/bluetooth/peripheral_ots/src/main.c
  subsys/bluetooth/services/ots/ots_dir_list.c
  subsys/bluetooth/services/ots/ots_dir_list_internal.h
  subsys/bluetooth/services/ots/ots_l2cap.c
  subsys/bluetooth/services/ots/ots_l2cap_internal.h
  subsys/bluetooth/services/ots/ots_oacp.c
Labels: area: API, area: Bluetooth, area: Bluetooth Host, area: Samples

#37362 doc: update up_squared document to use UEFI bootable method.
  boards/x86/up_squared/doc/index.rst
Labels: area: Boards, area: Documentation, platform: X86

#37380 acrn_ehl_crb: fix incorrect configuration of timer IRQ priority
  boards/x86/acrn/acrn_ehl_crb_defconfig
  tests/kernel/interrupt/src/dynamic_isr.c
Labels: area: Boards, area: Kernel, area: Tests, platform: X86

#37366 spi: update doxygen usage
  include/drivers/spi.h
Labels: area: API, area: SPI

#36730 Bluetooth: GATT: Update gatt.h _value doc description
  include/bluetooth/gatt.h
Labels: area: API

#36950 Tests: Bluetooth: Tester: enable EATT by default
  tests/bluetooth/tester/prj.conf
Labels: area: Bluetooth, area: Tests

#37274 doc: ehl_crb: Update EHL CRB documentation
  boards/x86/ehl_crb/doc/index.rst
Labels: area: Boards, area: Documentation, platform: X86

#37310 Bluetooth: host: df: Fix compilation warning in direction.c
  subsys/bluetooth/host/direction.c
Labels: area: Bluetooth, area: Bluetooth Host

#37356 Bluetooth: controller: Fix wrong CTE type in per adv report
  include/bluetooth/hci.h
  subsys/bluetooth/controller/hci/hci.c
Labels: area: API, area: Bluetooth, area: Bluetooth Controller

#37353 esp32: auto detect serial port
  scripts/west_commands/runners/esp32.py
Labels: area: West

#37209 manifest: update hal_xtensa
  west.yml
Labels: area: Modules, manifest, manifest-hal_xtensa, west

#37083 Bluetooth: Mesh: Refactor Mesh Model Extensions
  include/bluetooth/mesh/access.h
  subsys/bluetooth/mesh/access.c
  subsys/bluetooth/mesh/access.h
  subsys/bluetooth/mesh/cfg_srv.c
Labels: area: API, area: Bluetooth, area: Bluetooth Mesh

#37393 net: lwm2m: Synchronized functions mutating the RD client's state
  subsys/net/lib/lwm2m/lwm2m_rd_client.c
Labels: area: LWM2M, area: Networking

#37392 drivers: adc: stm32h7 has a different oversampling config API
  drivers/adc/adc_stm32.c
Labels: area: ADC, platform: STM32

#37337 runners: jlink: Add support for specifying a serial number
  scripts/west_commands/runners/jlink.py
Labels: area: West

#37320 drivers: serial: added minimal uart driver for esp32c3
  CODEOWNERS
  boards/riscv/esp32c3_devkitm/esp32c3_devkitm.dts
  boards/riscv/esp32c3_devkitm/esp32c3_devkitm_defconfig
  drivers/serial/CMakeLists.txt
  drivers/serial/Kconfig
  drivers/serial/Kconfig.esp32c3_rom
  drivers/serial/uart_rom_esp32c3.c
  dts/bindings/serial/espressif,esp32c3-uart.yaml
  dts/riscv/espressif/esp32c3.dtsi
  soc/riscv/esp32c3/linker.ld
Labels: area: Boards, area: Devicetree, area: Devicetree Binding

#37370 Bluetooth: host: Fix key distribution not calling pairing complete
  subsys/bluetooth/host/smp.c
Labels: area: Bluetooth, area: Bluetooth Host

#37171 drivers: led: Add LED driver support for TLC59108
  drivers/led/CMakeLists.txt
  drivers/led/Kconfig
  drivers/led/Kconfig.tlc59108
  drivers/led/tlc59108.c
  dts/bindings/led/ti,tlc59108.yaml
Labels: area: Devicetree, area: Devicetree Binding

#37284 Microchip: MEC172x: Update pinmux driver
  boards/arm/mec172xevb_assy6906/mec172xevb_assy6906_defconfig
  boards/arm/mec172xevb_assy6906/pinmux.c
  drivers/pinmux/pinmux_mchp_xec.c
  dts/arm/microchip/mec1501hsz.dtsi
  dts/arm/microchip/mec172xnsz.dtsi
  dts/bindings/pinctrl/microchip,xec-pinmux.yaml
  soc/arm/microchip_mec/mec172x/Kconfig.defconfig.mec172xnsz
Labels: area: Boards, area: Devicetree, area: Devicetree Binding, area: Pinmux, platform: Microchip

#37419 docs: Update for SDK 0.13.0
  doc/getting_started/index.rst
  doc/getting_started/installation_linux.rst
Labels: area: Documentation

#37281 Bluetooth: Controller: Fix resolving index from being overwritten
  subsys/bluetooth/controller/hci/hci.c
Labels: area: Bluetooth, area: Bluetooth Controller

#37413 net: buf: Fix docstrings
  include/net/buf.h
Labels: area: API, area: Networking

#37398 net: websocket: Fix operation with offloaded sockets
  subsys/net/lib/websocket/websocket.c
Labels: area: Networking

#37439 Bluetooth: host: Fix bug in adv timeout for limited advertiser
  subsys/bluetooth/host/adv.c
Labels: area: Bluetooth, area: Bluetooth Host

#37426 Bluetooth: adv: Fix wrong assert
  subsys/bluetooth/host/adv.c
Labels: area: Bluetooth, area: Bluetooth Host, bug, priority: medium

#37428 net: openthread: fix error codes for TX done
  subsys/net/lib/openthread/platform/radio.c
Labels: area: Networking, bug

#37138 drivers: GPIO: Microchip: Fix GPIO interrupt enable spurious interrupt
  drivers/gpio/gpio_mchp_xec.c
Labels: area: GPIO, platform: Microchip

#37217 docs: guideline: Add mandatory guidelines
  doc/contribute/coding_guidelines/index.rst
Labels: area: Documentation

#35879 driver: i2c: Add TCA9546a I2C switch driver
  CODEOWNERS
  drivers/i2c/CMakeLists.txt
  drivers/i2c/Kconfig
  drivers/i2c/Kconfig.tca9546a
  drivers/i2c/i2c_tca9546a.c
  dts/bindings/i2c/ti,tca9546a.yaml
  tests/drivers/i2c/i2c_tca9546a/CMakeLists.txt
  tests/drivers/i2c/i2c_tca9546a/boards/nrf52840dk_nrf52840.overlay
  tests/drivers/i2c/i2c_tca9546a/prj.conf
  tests/drivers/i2c/i2c_tca9546a/src/main.c
  tests/drivers/i2c/i2c_tca9546a/testcase.yaml
Labels: area: Devicetree, area: Devicetree Binding, area: I2C, area: Tests

#37463 usb: cdc_acm: rework descriptors, config, and data definitions macros
  subsys/usb/class/cdc_acm.c
Labels: area: USB

#37005 stm32 can misc
  drivers/can/can_stm32.c
Labels: area: CAN, platform: STM32

#37453 usb: fix SetInterface handling for interfaces without any endpoints
  subsys/usb/usb_device.c
Labels: area: USB, bug

#37466 gpio: fixup doxygen on `_dt` functions
  include/drivers/gpio.h
Labels: Trivial, area: API

#37431 openthread: implement missing time service functionality
  subsys/net/lib/openthread/platform/radio.c
Labels: area: Networking

#37423 Fix net/socket_select.h includes
  include/net/socket_select.h
Labels: Trivial, area: API, area: Networking, bug

#37459 drivers: ethernet: eth_stm32_hal.c: add wait time for buffer allocation
  drivers/ethernet/eth_stm32_hal.c
Labels: area: Networking, platform: STM32

#37470 tester: bluetooth: gatt: fix null pointer cause crashed
  tests/bluetooth/tester/src/gatt.c
Labels: bug, area: Bluetooth, area: Tests, Bluetooth Qualification, area: Bluetooth Host

#37481 test: lib/cbprintf_fp: fix test filtering
  tests/lib/cbprintf_fp/testcase.yaml
Labels: area: Tests

#37433 net: sockets: dtls: reset mbedtls session on timed out handshake
  subsys/net/lib/sockets/sockets_tls.c
Labels: area: Networking

#37496 net: socket: fix regression causing corrupted poll timeout
  subsys/net/lib/sockets/sockets.c
Labels: area: Networking

#36846 tests: common: skip arch_nop testing on ehl_crb board
  tests/kernel/common/src/irq_offload.c
Labels: area: Kernel, area: Tests

#37385 soc: arm: nxp_imx: rt: Configure settings for TRNG IP
  drivers/entropy/Kconfig.mcux
  soc/arm/nxp_imx/rt/Kconfig.defconfig.series
  soc/arm/nxp_imx/rt6xx/Kconfig.defconfig.series
Labels: platform: NXP, area: Crypto / RNG

#37422 boards: atmel soc: Remove non-minimal peripherals from defconfig
  boards/arm/adafruit_feather_m0_basic_proto/adafruit_feather_m0_basic_proto_defconfig
  boards/arm/atsamd20_xpro/atsamd20_xpro_defconfig
  boards/arm/atsamd21_xpro/atsamd21_xpro_defconfig
  boards/arm/atsamr21_xpro/atsamr21_xpro_defconfig
  boards/arm/sam4l_ek/sam4l_ek_defconfig
  boards/arm/serpente/serpente_defconfig
Labels: bug, priority: low, area: Boards, platform: ATMEL

#37443 pm: device: simplify some logic, cleanups
  subsys/pm/device.c
Labels: area: Power Management

#37311 net: fix for assert on enabling socket CAN
  subsys/net/ip/net_if.c
Labels: area: Networking

#37484 linker: rename DT_REGION_FROM_NODE_STATUS_OKAY
  include/arch/arm/aarch32/cortex_m/scripts/linker.ld
  include/linker/devicetree_regions.h
Labels: area: ARM, area: API

#37479 Microchip: XEC GPIO driver interrupt enable fix part 2
  drivers/gpio/gpio_mchp_xec.c
  drivers/gpio/gpio_mchp_xec_v2.c
Labels: area: GPIO, platform: Microchip

#37450 linker: add an initialized DATA_SECTIONS linker location option
  cmake/extensions.cmake
  include/arch/arc/v2/linker.ld
  include/arch/arm/aarch32/cortex_a_r/scripts/linker.ld
  include/arch/arm/aarch32/cortex_m/scripts/linker.ld
  include/arch/arm64/scripts/linker.ld
  include/arch/nios2/linker.ld
  include/arch/posix/linker.ld
  include/arch/riscv/common/linker.ld
  include/arch/sparc/linker.ld
  include/arch/x86/ia32/linker.ld
  include/arch/x86/intel64/linker.ld
  soc/riscv/openisa_rv32m1/linker.ld
Labels: area: Build System, area: ARM, area: X86, area: ARC, area: NIOS2, area: RISCV, area: native port, area: API, area: ARM64

#37425 net: openthread: Add capability to disable properly CSL.
  drivers/ieee802154/ieee802154_nrf5.c
  subsys/net/lib/openthread/platform/radio.c
Labels: area: Networking

#31601 nuvoton: battery-backed ram
  CODEOWNERS
  drivers/CMakeLists.txt
  drivers/Kconfig
  drivers/bbram/CMakeLists.txt
  drivers/bbram/Kconfig
  drivers/bbram/Kconfig.bbram_emul
  drivers/bbram/Kconfig.npcx
  drivers/bbram/bbram_emul.c
  drivers/bbram/bbram_npcx.c
  dts/arm/nuvoton/npcx.dtsi
  dts/bindings/memory-controllers/nuvoton,npcx-bbram.yaml
  dts/bindings/memory-controllers/zephyr,bbram-emul.yaml
  include/drivers/bbram.h
  include/sys/util.h
  tests/drivers/bbram/CMakeLists.txt
  tests/drivers/bbram/boards/native_posix.overlay
  tests/drivers/bbram/prj.conf
  tests/drivers/bbram/src/main.c
  tests/drivers/bbram/testcase.yaml
Labels: area: Devicetree, area: Tests, area: native port, area: API, area: Devicetree Binding

#37364 riscv: linker: add support for FLASH_LOAD_OFFSET
  include/arch/riscv/common/linker.ld
Labels: area: RISCV, area: API

#37533 bluetooth: Add defines for ECC key lengths
  subsys/bluetooth/host/ecc.c
  subsys/bluetooth/host/ecc.h
  subsys/bluetooth/host/hci_ecc.c
  subsys/bluetooth/host/smp.c
  subsys/bluetooth/mesh/adv.c
  subsys/bluetooth/mesh/adv_legacy.c
  subsys/bluetooth/mesh/beacon.c
  subsys/bluetooth/mesh/gatt_services.c
  subsys/bluetooth/mesh/main.c
  subsys/bluetooth/mesh/net.c
  subsys/bluetooth/mesh/pb_adv.c
  subsys/bluetooth/mesh/pb_gatt.c
  subsys/bluetooth/mesh/prov.c
  subsys/bluetooth/mesh/prov.h
  subsys/bluetooth/mesh/prov_device.c
  subsys/bluetooth/mesh/provisioner.c
  subsys/bluetooth/mesh/proxy_msg.c
  subsys/bluetooth/mesh/subnet.c
Labels: area: Bluetooth, area: Bluetooth Mesh, area: Bluetooth Host

#37535 drivers: sensors: ti_hdc20xx driver improvements
  drivers/sensor/ti_hdc20xx/ti_hdc20xx.c
  dts/bindings/sensor/ti,hdc20xx.yaml
Labels: area: I2C, area: Sensors, area: Devicetree, area: Devicetree Binding

#37500 hal_nordic: Rework nRF IEEE 802.15.4 temperature update module
  modules/hal_nordic/Kconfig
  modules/hal_nordic/nrf_802154/sl_opensource/platform/nrf_802154_temperature_zephyr.c
Labels: area: Modules

#34834 drivers: gpio: Add fxl6408 driver
  drivers/gpio/CMakeLists.txt
  drivers/gpio/Kconfig
  drivers/gpio/Kconfig.fxl6408
  drivers/gpio/gpio_fxl6408.c
  dts/bindings/gpio/fcs,fxl6408.yaml
  tests/drivers/build_all/gpio/app.overlay
  tests/drivers/build_all/gpio/prj.conf
Labels: area: Drivers, area: GPIO, area: Documentation, area: Devicetree, area: Tests, area: Devicetree Binding

#37541 esp32s2: drivers: serial: add minimal uart driver
  CODEOWNERS
  boards/xtensa/esp32s2_saola/esp32s2_saola.dts
  boards/xtensa/esp32s2_saola/esp32s2_saola_defconfig
  drivers/serial/CMakeLists.txt
  drivers/serial/Kconfig
  drivers/serial/Kconfig.esp32s2_rom
  drivers/serial/uart_rom_esp32s2.c
  dts/bindings/serial/espressif,esp32s2-uart.yaml
  dts/xtensa/espressif/esp32s2.dtsi
Labels: area: Boards, area: Devicetree, area: Devicetree Binding

#37415 Microchip: MEC172x: Device tree constant property cleanup
  dts/arm/microchip/mec172xnsz.dtsi
  dts/bindings/rtc/microchip,xec-timer.yaml
  dts/bindings/timer/microchip,xec-rtos-timer.yaml
Labels: area: Devicetree, platform: Microchip, area: Devicetree Binding

#37540 drivers: esp32: fix data range check
  drivers/flash/flash_esp32.c
Labels: area: Flash, platform: ESP32, Trivial

#36411 board: cc1352r_sensortag: add dts entry for hdc2080
  boards/arm/cc1352r_sensortag/cc1352r_sensortag.dts
Labels: area: Boards, area: Devicetree

#37477 Microchip: MEC172x: Add UART driver
  boards/arm/mec172xevb_assy6906/mec172xevb_assy6906_defconfig
  boards/arm/mec172xevb_assy6906/pinmux.c
  drivers/serial/CMakeLists.txt
  drivers/serial/Kconfig
  drivers/serial/Kconfig.xec
  drivers/serial/uart_mchp_xec.c
  dts/arm/microchip/mec172xnsz.dtsi
  dts/bindings/serial/microchip,xec-uart.yaml
  soc/arm/microchip_mec/mec172x/Kconfig.defconfig.mec172xnsz
Labels: area: Boards, area: Devicetree, area: Devicetree Binding

#37369 include: driver: sensor: add tank level channel in units of percent
  drivers/sensor/sensor_shell.c
  include/drivers/sensor.h
Labels: area: Sensors, area: API

#35221 CPP: fix static objects initialization for ARC MWDT toolchain
  cmake/linker/arcmwdt/target.cmake
  include/arch/arc/v2/linker.ld
  include/linker/common-rom.ld
  kernel/init.c
  subsys/cpp/CMakeLists.txt
  subsys/cpp/Kconfig
  subsys/cpp/cpp_init.c
Labels: area: Kernel, area: Build System, area: ARC, area: API, area: C++

#37560 ARC: MWDT: fix SMP build for MWDT toolchain
  arch/arc/include/swap_macros.h
Labels: area: ARC

#37561 Bluetooth: Controller: Fix advertising after connections from same peer
  subsys/bluetooth/controller/ll_sw/ull_slave.c
Labels: area: Bluetooth, area: Bluetooth Controller

#37554 cmake: add a comment header to zephyr_settings.txt
  cmake/zephyr_module.cmake
  scripts/zephyr_module.py
Labels: area: Build System, Trivial

#37548 shell: improve shell_execute_cmd function
  subsys/shell/shell.c
Labels: area: Shell, Trivial

#37497 Bluetooth: Mesh: Fixes Same appkey add to multi netkey
  subsys/bluetooth/mesh/app_keys.c
Labels: area: Bluetooth, area: Bluetooth Mesh, Bluetooth Qualification

#37557 Revert "include: driver: sensor: add tank level channel in units of percent"
  drivers/sensor/sensor_shell.c
  include/drivers/sensor.h
Labels: area: API

#37546 boards: arm: nordic: nRF21540_dk_nrf52840 supports bluetooth controller
  boards/arm/nrf21540dk_nrf52840/Kconfig.defconfig
Labels: area: Boards

#37532 manifest: Update OpenThread revision
  west.yml
Labels: area: Modules, manifest, west, manifest-openthread

#37551 PCIe MSI-X fixes
  drivers/pcie/host/msi.c
Labels: bug, area: Drivers

#37287 tests: add a test to verify UEFI boot on x86_64 targets.
  boards/Kconfig
  boards/x86/qemu_x86/doc/index.rst
  cmake/emu/qemu.cmake
  samples/hello_world/prj_uefi.conf
  samples/hello_world/sample.yaml
Labels: area: Build System, area: Boards, area: Documentation, area: Samples, area: Tests

#37345 Add configuration option to suppress destination unreachable errors
  subsys/net/ip/Kconfig
  subsys/net/ip/connection.c
Labels: area: Networking

#37582 modules: hal_nordic: Increase number of serialization buffers
  modules/hal_nordic/nrf_802154/serialization/platform/nrf_802154_spinel_backend_ipc.c
Labels: area: Modules

#37531 tests: drivers: i2s_speed: Allow testing on nRF52840 DK and nRF5340 DK
  tests/drivers/i2s/i2s_speed/Kconfig
  tests/drivers/i2s/i2s_speed/boards/nrf52840dk_nrf52840.conf
  tests/drivers/i2s/i2s_speed/boards/nrf52840dk_nrf52840.overlay
  tests/drivers/i2s/i2s_speed/boards/nrf5340dk_nrf5340_cpuapp.conf
  tests/drivers/i2s/i2s_speed/boards/nrf5340dk_nrf5340_cpuapp.overlay
  tests/drivers/i2s/i2s_speed/src/main.c
  tests/drivers/i2s/i2s_speed/src/test_i2s_speed.c
  tests/drivers/i2s/i2s_speed/testcase.yaml
Labels: bug, area: Drivers, platform: nRF, area: Tests, area: I2S

#37576 dts: psoc6: Use valid IRQ prio levels for CM4
  dts/arm/cypress/psoc6.dtsi
Labels: area: Devicetree

#37565 lib: os: ring_buffer: Clarify macro description
  include/sys/ring_buffer.h
Labels: area: API, Trivial

#37606 cmake: dts: removing generated <board>.dts_compiled
  cmake/dts.cmake
Labels: area: Build System

#37574 ARC: boards: allow Zephyr toolchain for ARCv3 64bit boards
  boards/arc/nsim/nsim_hs6x.yaml
  boards/arc/nsim/nsim_hs6x_smp.yaml
  boards/arc/qemu_arc/qemu_arc_hs6x.yaml
Labels: area: Boards, area: ARC

#37518 drivers: flash_sam: fix flash_sam_write_page
  drivers/flash/flash_sam.c
Labels: bug, area: Drivers, area: Flash, platform: ATMEL

#37251 modules: hal_nxp: tweak integration to utilize cmake-ext/kconfig-ext
  modules/hal_nxp/CMakeLists.txt
  modules/hal_nxp/Kconfig
  west.yml
Labels: area: Modules, manifest, west, manifest-hal_nxp

#37589 Microchip: MEC172x: ADC driver
  boards/arm/mec172xevb_assy6906/mec172xevb_assy6906.dts
  boards/arm/mec172xevb_assy6906/mec172xevb_assy6906_defconfig
  drivers/adc/CMakeLists.txt
  drivers/adc/Kconfig.xec
  drivers/adc/adc_mchp_xec_v2.c
  drivers/adc/adc_shell.c
  dts/arm/microchip/mec172xnsz.dtsi
  dts/bindings/adc/microchip,xec-adc-v2.yaml
  soc/arm/microchip_mec/mec172x/Kconfig.defconfig.mec172xnsz
Labels: area: ADC, area: Boards, area: Devicetree, platform: Microchip, area: Devicetree Binding

#37587 Microchip: MEC172x: Add macro to encode ECIA GIRQ information
  include/dt-bindings/interrupt-controller/mchp-xec-ecia.h
Labels: area: API, platform: Microchip, area: Devicetree Binding

#37609 soc: arm: cypress: Fix psoc6 irq priority
  soc/arm/cypress/common/cypress_psoc6_dt.h
Labels: bug, priority: low

#37440 Bluetooth: Controller: Fix to handle relative short preempt timeout
  subsys/bluetooth/controller/ll_sw/nordic/lll/lll.c
Labels: area: Bluetooth, area: Bluetooth Controller

#37629 Bluetooth: Controller: Fix node rx memory corruption regression
  subsys/bluetooth/controller/ll_sw/ull_slave.c
Labels: bug, area: Bluetooth, Regression, area: Bluetooth Controller, backport v2.6-branch

#37618 dts: arm: st: rename g0 tim1 interrupt to align with f0 series
  dts/arm/st/g0/stm32g0.dtsi
Labels: area: Devicetree, platform: STM32

#37627 arm: mcux (RT1170 EVK) fix isotp test failure
  soc/arm/nxp_imx/rt/soc_rt11xx.c
Labels: platform: NXP

#37580 sys: util: fix compilation with XCC
  include/sys/util.h
Labels: area: Xtensa, area: API, platform: Intel CAVS

#37050 doc: guides: Add a TF-M guide
  doc/guides/index.rst
  doc/guides/tfm/build.rst
  doc/guides/tfm/index.rst
  doc/guides/tfm/integration.rst
  doc/guides/tfm/overview.rst
  doc/guides/tfm/requirements.rst
  samples/tfm_integration/tfm_integration.rst
Labels: priority: medium, area: Documentation, area: Samples, area: Trusted Execution

#36281 Bluetooth: gatt: Add option to read multiple without variable length
  doc/releases/release-notes-2.7.rst
  include/bluetooth/gatt.h
  subsys/bluetooth/host/gatt.c
  subsys/bluetooth/shell/gatt.c
  tests/bluetooth/tester/src/gatt.c
Labels: area: Bluetooth, area: Documentation, area: Tests, area: API, Release Notes, Stable API Change, area: Bluetooth Host, Release Notes Required

#37503 usb: rework cdc_acm_poll_out to non-blocking
  subsys/usb/class/cdc_acm.c
Labels: area: USB

#37643 drivers: spi: set max chunk len for esp32
  drivers/spi/spi_esp32_spim.c
  soc/xtensa/esp32/soc.h
Labels: area: SPI

#37649 devicetree: Fix DT_PROP/DT_PROP_BY_IDX for phandle(s)
  scripts/dts/gen_defines.py
  tests/lib/devicetree/api/src/main.c
Labels: area: Tests, area: Devicetree Tooling

#37661 tests: Bluetooth: bsim: Use wait lower than advertising interval
  tests/bluetooth/bsim_bt/bsim_test_advx/src/main.c
Labels: area: Bluetooth, area: Tests, Hotfix, area: Bluetooth Controller

#36218 Bluetooth: controller: Implement ADV re-schedule for new scheduler
  subsys/bluetooth/controller/ll_sw/lll.h
  subsys/bluetooth/controller/ll_sw/lll_common.c
  subsys/bluetooth/controller/ll_sw/nordic/lll/lll.c
  subsys/bluetooth/controller/ll_sw/nordic/lll/lll_adv.c
  subsys/bluetooth/controller/ll_sw/ull.c
  subsys/bluetooth/controller/ll_sw/ull_adv.c
  subsys/bluetooth/controller/ll_sw/ull_adv_types.h
  subsys/bluetooth/controller/ll_sw/ull_internal.h
Labels: Enhancement, area: Bluetooth, area: Bluetooth Controller

#37612 lib: os: add gcc noreturn attribute for sys_reboot
  include/sys/reboot.h
  lib/os/reboot.c
Labels: area: API

#36010 Add a "serial load" command
  samples/subsys/shell/devmem_load/CMakeLists.txt
  samples/subsys/shell/devmem_load/README.md
  samples/subsys/shell/devmem_load/prj.conf
  samples/subsys/shell/devmem_load/prj_poll.conf
  samples/subsys/shell/devmem_load/src/main.c
  subsys/shell/modules/devmem_service.c
Labels: area: Documentation, area: Samples, area: Shell, area: API

#37595 Bluetooth: Controller: Fix uninit update flag given to PDU _latest_get
  subsys/bluetooth/controller/ll_sw/nordic/lll/lll_adv_aux.c
  subsys/bluetooth/controller/ll_sw/nordic/lll/lll_adv_sync.c
Labels: area: Bluetooth, area: Bluetooth Controller

#37677 logging: Add configurable logging thread delay
  doc/reference/logging/index.rst
  subsys/logging/Kconfig.processing
  subsys/logging/log_core.c
Labels: area: Documentation, area: Logging

#37678 dts: bindings: Add missing binding for SI7055 sensor
  dts/bindings/sensor/silabs,si7055.yaml
Labels: area: Devicetree, area: Devicetree Binding

#37680 hal: nxp: Update to SDK 2.10.0
  drivers/counter/counter_mcux_pit.c
  drivers/ethernet/eth_mcux.c
  drivers/memc/memc_mcux_flexspi.c
  west.yml
Labels: area: Networking, area: Counter, platform: NXP, area: Modules, manifest, west, manifest-trusted-firmware-m, manifest-hal_nxp

#37421 arch: riscv: common: linker: Add itcm & dtcm sections
  include/arch/riscv/common/linker.ld
Labels: area: RISCV, area: API, area: Linker Scripts

#37420 dts: bindings: cpu: Add riscv cpu bindings
  dts/bindings/riscv/riscv,cpus.yaml
  dts/bindings/riscv/riscv,sifive-e24.yaml
  dts/bindings/riscv/riscv,sifive.yaml
Labels: area: RISCV, area: Devicetree, area: Devicetree Binding

#37698 drivers: gpio: cy8c95xx: use LOG_DBG instead of LOG_INF
  drivers/gpio/gpio_cy8c95xx.c
Labels: area: ARC

#37703 Bluetooth: Controller: Remove radio complete and Tx for passive scan
  subsys/bluetooth/controller/ll_sw/nordic/lll/lll_scan.c
Labels: area: Bluetooth, area: Bluetooth Controller

#37690 hal: nxp: Pull in fix for NXP LPC platforms
  west.yml
Labels: area: Modules, manifest, west, manifest-hal_nxp

#35542 [TOPIC-BLE-LLCP] Apply clang-format to LLCP code
  subsys/bluetooth/controller/include/ll.h
  subsys/bluetooth/controller/ll_sw/ull_connections.c
  subsys/bluetooth/controller/ll_sw/ull_llcp.c
  subsys/bluetooth/controller/ll_sw/ull_llcp.h
  subsys/bluetooth/controller/ll_sw/ull_llcp_chmu.c
  subsys/bluetooth/controller/ll_sw/ull_llcp_common.c
  subsys/bluetooth/controller/ll_sw/ull_llcp_conn_upd.c
  subsys/bluetooth/controller/ll_sw/ull_llcp_enc.c
  subsys/bluetooth/controller/ll_sw/ull_llcp_features.h
  subsys/bluetooth/controller/ll_sw/ull_llcp_hci.c
  subsys/bluetooth/controller/ll_sw/ull_llcp_local.c
  subsys/bluetooth/controller/ll_sw/ull_llcp_pdu.c
  subsys/bluetooth/controller/ll_sw/ull_llcp_phy.c
  subsys/bluetooth/controller/ll_sw/ull_llcp_remote.c
  subsys/bluetooth/controller/ll_sw/ull_master.c
  tests/bluetooth/controller/common/include/helper_features.h
  tests/bluetooth/controller/common/include/helper_pdu.h
  tests/bluetooth/controller/common/include/helper_util.h
  tests/bluetooth/controller/common/src/helper_pdu.c
  tests/bluetooth/controller/common/src/helper_util.c
  tests/bluetooth/controller/ctrl_api/src/main.c
  tests/bluetooth/controller/ctrl_chmu/src/main.c
  tests/bluetooth/controller/ctrl_conn_update/src/main.c
  tests/bluetooth/controller/ctrl_data_length_update/src/kconfig_override.h
  tests/bluetooth/controller/ctrl_data_length_update/src/main.c
  tests/bluetooth/controller/ctrl_encrypt/src/main.c
  tests/bluetooth/controller/ctrl_feature_exchange/src/main.c
  tests/bluetooth/controller/ctrl_feature_exchange/src/main_hci.c
  tests/bluetooth/controller/ctrl_hci/src/main.c
  tests/bluetooth/controller/ctrl_le_ping/src/main.c
  tests/bluetooth/controller/ctrl_min_used_chans/src/main.c
  tests/bluetooth/controller/ctrl_phy_update/src/main.c
  tests/bluetooth/controller/ctrl_terminate/src/main.c
  tests/bluetooth/controller/ctrl_tx_queue/src/main.c
  tests/bluetooth/controller/ctrl_version/src/main.c
  tests/bluetooth/controller/mock_ctrl/include/hal/ticker_vendor_hal.h
  tests/bluetooth/controller/mock_ctrl/include/lll/lll_adv_pdu.h
  tests/bluetooth/controller/mock_ctrl/include/lll/lll_adv_types.h
  tests/bluetooth/controller/mock_ctrl/src/ecb.c
  tests/bluetooth/controller/mock_ctrl/src/ll_assert.c
  tests/bluetooth/controller/mock_ctrl/src/lll.c
  tests/bluetooth/controller/mock_ctrl/src/lll_clock.c
  tests/bluetooth/controller/mock_ctrl/src/mayfly.c
  tests/bluetooth/controller/mock_ctrl/src/ticker.c
  tests/bluetooth/controller/mock_ctrl/src/ull.c
  tests/bluetooth/controller/mock_ctrl/src/ull_master.c
  tests/bluetooth/controller/mock_ctrl/src/ull_scan.c
  tests/bluetooth/controller/mock_ctrl/src/ull_slave.c
  tests/bluetooth/controller/mock_ctrl/src/util.c
Labels: area: Bluetooth, area: Tests, area: Bluetooth Controller

#37711 ci: Bump to use CMake 3.20.5
  .buildkite/pipeline.yml
  .github/workflows/bsim.yaml
  .github/workflows/clang.yaml
  .github/workflows/doc-build.yml
  .github/workflows/errno.yml
  .github/workflows/footprint-tracking.yml
  .github/workflows/footprint.yml
Labels: area: Build System

#37679 pm: device: Fix if devicetree 'wakeup-source' prop isnt defined
  include/device.h
Labels: area: API, Hotfix

#36340 json: fix parsing first array-array element
  include/data/json.h
  lib/os/json.c
  tests/lib/json/src/main.c
Labels: area: Tests, area: API, area: Base OS

#37714 Bluetooth: Add workaround for no command buffer available
  samples/bluetooth/hci_rpmsg/prj.conf
  samples/bluetooth/hci_spi/prj.conf
  samples/bluetooth/hci_usb/prj.conf
  samples/bluetooth/hci_usb_h4/prj.conf
Labels: bug, area: Samples

#37662 Bluetooth: Controller: Update AD data race implementation
  subsys/bluetooth/controller/ll_sw/nordic/lll/lll_adv.c
  subsys/bluetooth/controller/ll_sw/nordic/lll/lll_df.c
Labels: area: Bluetooth, area: Bluetooth Controller

#37700 Bluetooth: Controller: Only remove duplicate resume events
  subsys/bluetooth/controller/ll_sw/nordic/lll/lll.c
Labels: area: Bluetooth, area: Bluetooth Controller

#37715 Bluetooth: controller: radio: Fix wrong argument of radio_df_ctrl_set
  subsys/bluetooth/controller/ll_sw/nordic/hal/nrf5/radio/radio_df.c
Labels: area: Bluetooth, area: Bluetooth Controller

#37713 Bluetooth: Controller: Fix hci_core assertion on advertising disable
  subsys/bluetooth/controller/ll_sw/ull.c
Labels: area: Bluetooth, area: Bluetooth Controller

#37725 boards: arm: lpc55s28: Remove Trustzone-M flags
  boards/arm/lpcxpresso55s28/doc/index.rst
  boards/arm/lpcxpresso55s28/lpcxpresso55s28_defconfig
  dts/arm/nxp/nxp_lpc55S2x.dtsi
  dts/arm/nxp/nxp_lpc55S2x_ns.dtsi
  soc/arm/nxp_lpc/lpc55xxx/Kconfig.soc
Labels: area: Boards, area: Documentation, area: Devicetree, platform: NXP

#37727 pm: device: Use the right build conditional
  subsys/pm/device.c
Labels: area: Power Management, Trivial

#37635 tests: Bluetooth Mesh: Use unique names for all simulations
  tests/bluetooth/bsim_bt/bsim_test_mesh/tests_scripts/friendship/msg_mesh_low_lat.sh
  tests/bluetooth/bsim_bt/bsim_test_mesh/tests_scripts/transport/loopback_group_low_lat.sh
  tests/bluetooth/bsim_bt/bsim_test_mesh/tests_scripts/transport/unicast_low_lat.sh
Labels: area: Tests

#36135 boards: arm: add bl654_usb
  boards/arm/bl654_usb/Kconfig
  boards/arm/bl654_usb/Kconfig.board
  boards/arm/bl654_usb/Kconfig.defconfig
  boards/arm/bl654_usb/bl654_usb.dts
  boards/arm/bl654_usb/bl654_usb.yaml
  boards/arm/bl654_usb/bl654_usb_defconfig
  boards/arm/bl654_usb/doc/bl654_usb.rst
  boards/arm/bl654_usb/doc/img/bl654_usb.jpg
  boards/arm/bl654_usb/doc/img/bl654_usb_pcb.jpg
  boards/arm/bl654_usb/doc/img/bl654_usb_reset.jpg
Labels: area: Boards, area: Documentation, area: Devicetree

#36760 mgmt/mcumgr: Allow using UART async API
  drivers/console/uart_mcumgr.c
  subsys/mgmt/mcumgr/Kconfig
Labels: area: mcumgr

#37666 board: nucleo_h723zg: enable backup_sram
  boards/arm/nucleo_h723zg/doc/index.rst
  boards/arm/nucleo_h723zg/nucleo_h723zg.dts
  boards/arm/nucleo_h723zg/nucleo_h723zg.yaml
Labels: area: Boards, area: Documentation, area: Devicetree, platform: STM32

#37633 ITE: drivers/i2c: it8xxx2: move pinctrls macro to soc_dt.h
  drivers/i2c/i2c_ite_it8xxx2.c
  dts/bindings/i2c/ite,it8xxx2-i2c.yaml
  dts/riscv/it8xxx2.dtsi
Labels: area: I2C, area: Devicetree, area: Devicetree Binding

#37315 kernel: drop unused priority related definitions
  include/kernel_structs.h
  kernel/Kconfig
Labels: area: Kernel, area: API

#37553 kernel: mark z_current_get() as const
  include/kernel.h
Labels: area: API

#37759 Bluetooth: hci_uart: Add workaround for no command buffer available
  samples/bluetooth/hci_uart/prj.conf
  samples/bluetooth/hci_uart/src/main.c
Labels: area: Samples

#37751 soc: esp32: move board config to soc context
  boards/xtensa/esp32/Kconfig.defconfig
  boards/xtensa/esp32/esp32_defconfig
  soc/riscv/esp32c3/Kconfig.defconfig
  soc/xtensa/esp32/Kconfig.defconfig
  soc/xtensa/esp32s2/Kconfig.defconfig
Labels: area: Boards

#37670 riscv: linker: put snippets-sections.ld into the ROMABLE_REGION
  include/arch/riscv/common/linker.ld
Labels: area: RISCV, area: API, area: Linker Scripts

#37744 Add a testcase to detect is_polling
  tests/kernel/poll/src/main.c
  tests/kernel/poll/src/test_poll.c
Labels: area: Kernel, area: Tests

#36383 flash: spi_nor: re-enable write protection
  drivers/flash/spi_nor.c
Labels: bug, area: Flash, Trivial

#37780 arch: riscv: Increase default CONFIG_TEST_EXTRA_STACKSIZE for 32-bit
  arch/riscv/Kconfig
Labels: Hotfix

#37787 drivers: clock_control: stm32: enable PWR clock unconditionally
  drivers/clock_control/clock_stm32_ll_u5.c
  drivers/clock_control/clock_stm32l4_l5_wb_wl.c
Labels: platform: STM32, area: Clock Control

#36893 ISO unbind check
  subsys/bluetooth/host/iso.c
Labels: area: Bluetooth, area: Bluetooth Host, area: Bluetooth ISO

#37728 pm: remove a conditional compilation directive in pm.h
  include/pm/pm.h
  subsys/pm/power.c
Labels: area: Power Management, area: API

#37788 Bluetooth: samples: Update periodic advertising data update rate
  samples/bluetooth/periodic_adv/src/main.c
Labels: area: Bluetooth, area: Samples

#37789 Bluetooth: ots: Fix output formatting
  subsys/bluetooth/services/ots/ots_oacp.c
Labels: area: Bluetooth, Trivial, area: Bluetooth Host

#37761 include: drivers: dma format the documentation from header file
  include/drivers/dma.h
Labels: area: Documentation, area: DMA, area: API

#37743 drivers: pwm: clarify API details
  include/drivers/pwm.h
Labels: area: PWM, area: API, Stable API Change

#37800 drivers: can: mcux_flexcan: Update to support rt1170
  drivers/can/can_mcux_flexcan.c
Labels: platform: NXP, area: CAN
