Repository zephyrproject-rtos/zephyr, pull requests merged in 2021-10, with the labels that each got.

#38967 tests: kernel: sched: schedule_api: enlarge timeslice criterion
  tests/kernel/sched/schedule_api/src/test_slice_scheduling.c
Labels: area: Kernel, area: Tests, backport v2.7-branch

#38973 soc: esp32: update clock configuration calls
  drivers/clock_control/clock_control_esp32.c
  drivers/clock_control/clock_control_esp32s2.c
  drivers/entropy/entropy_esp32.c
  soc/riscv/esp32c3/soc.h
  soc/xtensa/esp32/soc.h
  soc/xtensa/esp32s2/soc.h
Labels: priority: high, area: Modules, manifest, west, manifest-hal_espressif

#38837 dts: st: h7: fix wwdg1 reg size
  dts/arm/st/h7/stm32h7.dtsi
Labels: area: Devicetree, platform: STM32

#38460 subsys: task_wdt: fix silent init failures
  include/task_wdt/task_wdt.h
  samples/subsys/task_wdt/src/main.c
  subsys/task_wdt/task_wdt.c
Labels: area: Samples, area: Watchdog, area: API

#39033 tests: ARC: enable back tests/lib/ringbuffer on qemu_arc_hs6x
  tests/lib/ringbuffer/testcase.yaml
Labels: area: ARC, area: Tests

#39031 ARC: boards: HS6x: nSIM: drop unsupported dcache_uncached_region from mdb.args
  boards/arc/nsim/support/mdb_hs6x.args
  boards/arc/nsim/support/mdb_hs6x_smp.args
Labels: bug, area: Boards, area: ARC, platform: Synopsys

#38985 doc: release: 2.7: add release notes for serial
  doc/releases/release-notes-2.7.rst
Labels: area: Documentation, Release Notes

#38984 doc: release: 2.7: add release notes for PCI/PCIe
  doc/releases/release-notes-2.7.rst
Labels: area: Documentation, Release Notes

#38983 doc: release: 2.7: add release notes for IPM
  doc/releases/release-notes-2.7.rst
Labels: area: Documentation, Release Notes

#39027 boards: stm32u5: Fix instructions to use openocd
  boards/arm/b_u585i_iot02a/doc/index.rst
  boards/arm/nucleo_u575zi_q/doc/nucleou575zi_q.rst
Labels: area: Documentation, platform: STM32, backport v2.7-branch

#38459 Fix reference to a released stack variable in modem_context_sprint_ip…
  drivers/modem/modem_context.c
  drivers/modem/modem_context.h
  drivers/modem/quectel-bg9x.c
  drivers/modem/ublox-sara-r4.c
Labels: area: Modem

#38909 Release note: v2.7.0: Addition for STM32 and shields
  doc/releases/release-notes-2.7.rst
Labels: area: Documentation, Release Notes, backport v2.7-branch

#38490 Bluetooth: Controller: Fix assert on aux LLL scheduled chain reception
  subsys/bluetooth/controller/ll_sw/lll_scan.h
  subsys/bluetooth/controller/ll_sw/nordic/lll/lll_scan_aux.c
  subsys/bluetooth/controller/ll_sw/ull_scan_aux.c
Labels: bug, area: Bluetooth, area: Bluetooth Controller, backport v2.7-branch

#38963 Bluetooth: Host: Fix resource leak in bt_gatt_unsubscribe
  subsys/bluetooth/host/gatt.c
Labels: area: Bluetooth, area: Bluetooth Host, backport v2.7-branch

#39014 cmake: CMake compile features support
  CMakeLists.txt
  cmake/compiler/compiler_features.cmake
  cmake/target_toolchain_flags.cmake
Labels: bug, area: Build System, backport v2.7-branch

#38960 shell: fix assert in panic mode
  include/shell/shell.h
  subsys/shell/shell_log_backend.c
  subsys/shell/shell_ops.c
  subsys/shell/shell_ops.h
Labels: bug, area: Shell, area: API, backport v2.7-branch

#39030 devicetree: remove support for DTC_OVERLAY_FILE in environment
  cmake/app/boilerplate.cmake
  doc/guides/dts/howtos.rst
Labels: area: Build System, area: Documentation, area: Devicetree, Trivial, backport v2.7-branch

#39019 Revert "dts: bindings: vendor-prefixes: Add gigadevice prefix"
  dts/bindings/vendor-prefixes.txt
Labels: area: Devicetree, area: Devicetree Binding

#38998 boards: arm: nxp: mimxrt1024_evk: enable dma driver
  boards/arm/mimxrt1024_evk/doc/index.rst
  boards/arm/mimxrt1024_evk/mimxrt1024_evk.dts
  boards/arm/mimxrt1024_evk/mimxrt1024_evk.yaml
Labels: area: Boards, area: Documentation, area: DMA, area: Devicetree, platform: NXP

#39053 doc: devicetree release notes for 2.7
  doc/reference/devicetree/api.rst
  doc/releases/release-notes-2.7.rst
Labels: area: Documentation, Release Notes, backport v2.7-branch

#39029 [TOPIC-BLE-LLCP] Bluetooth: controller: fix some checkpatch warnings/errors
  subsys/bluetooth/controller/ll_sw/ll_addr.c
  subsys/bluetooth/controller/ll_sw/ull_adv.c
  subsys/bluetooth/controller/ll_sw/ull_conn.c
  subsys/bluetooth/controller/ll_sw/ull_connections.c
  subsys/bluetooth/controller/ll_sw/ull_llcp.c
  subsys/bluetooth/controller/ll_sw/ull_llcp.h
  subsys/bluetooth/controller/ll_sw/ull_llcp_chmu.c
  subsys/bluetooth/controller/ll_sw/ull_llcp_common.c
  subsys/bluetooth/controller/ll_sw/ull_llcp_enc.c
  subsys/bluetooth/controller/ll_sw/ull_llcp_hci.c
  subsys/bluetooth/controller/ll_sw/ull_llcp_internal.h
  subsys/bluetooth/controller/ll_sw/ull_llcp_local.c
  subsys/bluetooth/controller/ll_sw/ull_llcp_pdu.c
  subsys/bluetooth/controller/ll_sw/ull_llcp_phy.c
  subsys/bluetooth/controller/ll_sw/ull_llcp_remote.c
Labels: area: Bluetooth, area: Bluetooth Controller

#39039 drivers/timers: stm32_lptim: Set LSI as default LPTIM clck source
  drivers/timer/Kconfig.stm32_lptim
Labels: area: Timer, platform: STM32

#39083 boards: b_u585i_iot02a: Fix ref man reference
  boards/arm/b_u585i_iot02a/doc/index.rst
Labels: area: Boards, area: Documentation, backport v2.7-branch

#38296 Bluetooth: Mesh: Missed IV update cannot be captured
  subsys/bluetooth/mesh/net.c
Labels: Enhancement, area: Bluetooth, area: Bluetooth Mesh

#39087 data: json: include missing toolchain.h
  include/data/json.h
Labels: bug, area: API, Hotfix, Trivial

#38741 drivers: pinmux stm32F1 remap AFIO without changing the SWJ_CFG
  drivers/pinmux/pinmux_stm32.c
Labels: area: Pinmux, platform: STM32

#39079 Bluetooth: Controller: Fix assertion failed [evdone]
  subsys/bluetooth/controller/ll_sw/ull.c
Labels: bug, area: Bluetooth, area: Bluetooth Controller, backport v2.6-branch, backport v2.7-branch

#39098 Bluetooth: Mesh: Fix crash on disconnect
  subsys/bluetooth/mesh/pb_gatt_srv.c
  subsys/bluetooth/mesh/proxy_msg.c
  subsys/bluetooth/mesh/proxy_msg.h
  subsys/bluetooth/mesh/proxy_srv.c
Labels: area: Bluetooth, area: Bluetooth Mesh

#39078 ITE: drivers/i2c: returning negative values for error
  drivers/i2c/i2c_ite_it8xxx2.c
Labels: area: I2C, platform: ITE

#39059 doc: misc fixes
  doc/reference/kernel/data_passing/message_queues.rst
  doc/reference/kernel/data_passing/pipes.rst
  doc/reference/kernel/data_passing/stacks.rst
  doc/reference/kernel/other/float.rst
  doc/reference/kernel/synchronization/semaphores.rst
  doc/reference/kernel/threads/index.rst
  doc/reference/usermode/memory_domain.rst
Labels: area: Kernel, area: Documentation, backport v2.7-branch

#38088 lib: smf: Add State Machine Framework
  CODEOWNERS
  doc/guides/index.rst
  doc/guides/smf/img/flat.svg
  doc/guides/smf/img/hierarchical.svg
  doc/guides/smf/index.rst
  include/smf.h
  lib/CMakeLists.txt
  lib/Kconfig
  lib/smf/CMakeLists.txt
  lib/smf/Kconfig
  lib/smf/smf.c
  tests/lib/smf/CMakeLists.txt
  tests/lib/smf/prj.conf
  tests/lib/smf/src/main.c
  tests/lib/smf/src/test_lib_flat_smf.c
  tests/lib/smf/src/test_lib_hierarchical_5_ancestor_smf.c
  tests/lib/smf/src/test_lib_hierarchical_smf.c
  tests/lib/smf/src/test_lib_smf.h
  tests/lib/smf/testcase.yaml
Labels: area: Documentation, area: Tests, area: API

#38859 Bluetooth: ISO: Move bt_iso_accept and make static
  subsys/bluetooth/host/iso.c
  subsys/bluetooth/host/iso_internal.h
Labels: area: Bluetooth, Trivial, area: Bluetooth Host, area: Bluetooth ISO

#38927 drivers: sensor: lsm303dlhc_mag: Fix gain factor
  drivers/sensor/lsm303dlhc_magn/lsm303dlhc_magn.c
  drivers/sensor/lsm303dlhc_magn/lsm303dlhc_magn.h
Labels: bug, area: Drivers, area: Sensors

#39081 ITE: soc: pull-down GPIO L/K groups and set GPIOH7 output low at default
  drivers/gpio/gpio_ite_it8xxx2.c
  soc/riscv/riscv-ite/it8xxx2/Kconfig.soc
Labels: area: GPIO, area: RISCV, platform: ITE

#39010 Bluetooth: Mesh: Model extensions walk stops before last model
  subsys/bluetooth/mesh/access.c
Labels: bug, area: Bluetooth, area: Bluetooth Mesh

#38946 drivers: gsm_ppp: introduce modem on/off callbacks
  drivers/modem/gsm_ppp.c
  include/drivers/gsm_ppp.h
Labels: area: API, area: Modem

#38951 Bluetooth: controller: Update supported commands for ISO
  subsys/bluetooth/controller/Kconfig
  subsys/bluetooth/controller/hci/hci.c
  subsys/bluetooth/controller/ll_sw/ull_iso.c
Labels: area: Bluetooth, area: Bluetooth Controller

#38995 drivers: gpio: nrf: Remove CONFIG_GPIO_NRF_P0 and CONFIG_GPIO_NRF_P1
  boards/shields/sparkfun_sara_r4/Kconfig.defconfig
  boards/shields/sparkfun_sara_r4/boards/nrf52840dk_nrf52840.defconfig
  boards/shields/wnc_m14a2a/Kconfig.defconfig
  boards/shields/wnc_m14a2a/boards/nrf52840dk_nrf52840.defconfig
  drivers/gpio/Kconfig.nrfx
  drivers/gpio/gpio_nrfx.c
Labels: area: GPIO, area: Boards, platform: nRF, area: Shields

#38944 uart: ns16550: add workaround to re-enable interrupts in ISR
  drivers/serial/Kconfig.ns16550
  drivers/serial/uart_ns16550.c
Labels: area: UART

#38903 Fix native_posix build on Debian
  cmake/linker/ld/target_baremetal.cmake
  cmake/linker/ld/target_base.cmake
Labels: area: Build System

#37874 fix misc. typos
  include/logging/log_core.h
  include/logging/log_msg2.h
  include/logging/log_output_dict.h
  kernel/mailbox.c
  kernel/mmu.c
  kernel/poll.c
  kernel/work.c
Labels: area: Kernel, area: Logging, area: API

#39105 ARC: core interrupt controller: remove dead code
  drivers/interrupt_controller/intc_arcv2_irq_unit.c
Labels: area: ARC

#39112 doc: release notes: Add Bluetooth relnotes for 2.7.0
  doc/releases/release-notes-2.7.rst
Labels: area: Documentation, Release Notes, backport v2.7-branch

#39134 drivers: lora: fix RtcGetCalendarTime()
  drivers/lora/hal_common.c
Labels: bug, area: LoRa

#39139 doc: acrn: Fix indentation for RST
  boards/x86/acrn/doc/index.rst
Labels: area: Boards, area: Documentation, platform: X86

#39149 pm: Fixes a data race in the debug stats on SMP
  subsys/pm/power.c
Labels: area: Power Management

#39163 actions: exclude Python 3.6 tests on macos-latest
  .github/workflows/devicetree_checks.yml
  .github/workflows/west_cmds.yml
Labels: Hotfix

#39082 doc: add release notes for disk drivers and MODBUS
  doc/releases/release-notes-2.7.rst
Labels: area: Documentation, Release Notes, backport v2.7-branch

#37905 docs: Improve documentation of bootloader usage
  doc/guides/device_mgmt/dfu.rst
Labels: area: Documentation, backport v2.7-branch

#39183 samples/subsys/mgmt/osdp: Fix build issues
  samples/subsys/mgmt/osdp/control_panel/prj.conf
  samples/subsys/mgmt/osdp/control_panel/sample.yaml
  samples/subsys/mgmt/osdp/peripheral_device/prj.conf
  samples/subsys/mgmt/osdp/peripheral_device/sample.yaml
Labels: Hotfix, backport v2.7-branch, Release Blocker

#39196 tests: Bluetooth: mesh: Remove explicit disable of CSA#2
  tests/bluetooth/mesh/ext_adv.conf
Labels: bug, area: Bluetooth, area: Tests, area: Bluetooth Mesh, area: Bluetooth Controller, backport v2.7-branch

#39199 tests: logging: remove definition of SYS_CLOCK_HW_CYCLES_PER_SEC
  tests/subsys/logging/log_core_additional/log_user.conf
Labels: area: Tests, backport v2.7-branch, Release Blocker

#39778 drivers: serial: serial_esp32: added esp32c3 support to uart driver
  boards/riscv/esp32c3_devkitm/esp32c3_devkitm_defconfig
  drivers/serial/Kconfig.esp32
  drivers/serial/Kconfig.esp32c3_rom
  drivers/serial/uart_esp32.c
  dts/riscv/espressif/esp32c3.dtsi
  soc/riscv/esp32c3/soc.h
Labels: area: UART, area: Boards, area: RISCV, area: Devicetree, area: API, platform: ESP32, area: Devicetree Binding

#39504 ITE: soc/power: add power management
  dts/riscv/it8xxx2.dtsi
  soc/riscv/riscv-ite/common/CMakeLists.txt
  soc/riscv/riscv-ite/common/power.c
  soc/riscv/riscv-ite/common/soc_common.h
  soc/riscv/riscv-ite/it8xxx2/soc.c
Labels: area: Build System, area: Boards, area: RISCV, area: Devicetree, platform: ITE

#39877 ite: drivers/i2c: fix potential NULL pointer dereference
  drivers/i2c/i2c_ite_it8xxx2.c
Labels: area: I2C, platform: ITE

#39525 openocd: esp32: add openocd config file
  boards/common/esp32.board.cmake
  boards/riscv/esp32c3_devkitm/board.cmake
  boards/riscv/esp32c3_devkitm/support/openocd.cfg
  boards/xtensa/esp32/board.cmake
  boards/xtensa/esp32/support/openocd.cfg
  boards/xtensa/esp32s2_saola/board.cmake
  boards/xtensa/esp32s2_saola/support/openocd.cfg
Labels: area: Build System, area: Boards, area: RISCV, platform: ESP32

#39916 net: lwm2m: Fix meaningless operant result coverity issue
  subsys/net/lib/lwm2m/lwm2m_util.c
Labels: area: Networking, area: LWM2M
