Repository zephyrproject-rtos/zephyr, pull requests merged in 2021-01, with the labels that each got.

#30994 net: dns: review use of k_work APIs
  subsys/net/lib/dns/resolve.c
Labels: area: Networking

#30995 net: dhcp: identify and resolve multiple issues
  subsys/net/ip/dhcpv4.c
Labels: area: Networking

#30987 net: buf: document fragment limitations
  include/net/buf.h
Labels: area: API, area: Networking

#30920 twister: add 10 hexadecimal digits to version
  scripts/pylib/twister/twisterlib.py
Labels: area: Twister

#31084 drivers: display: add inversion support for ili9xxx displays
  drivers/display/display_ili9xxx.c
  drivers/display/display_ili9xxx.h
  dts/bindings/display/ilitek,ili9xxx-common.yaml
Labels: Trivial, area: Devicetree, area: Devicetree Binding, area: Display

#30978 test: workqueue: imporve coverage for workqueue
  tests/kernel/workq/work_queue_api/src/main.c
Labels: area: Kernel, area: Tests

#30980 drivers: usb_dc_nrfx: Fix improper memory sizes
  drivers/usb/device/usb_dc_nrfx.c
Labels: area: Drivers, area: USB, bug

#31005 Bluetooth: controller: Remove is_enabled flag for BIS events
  subsys/bluetooth/controller/ll_sw/lll_sync_iso.h
  subsys/bluetooth/controller/ll_sw/ull_sync_iso.c
Labels: area: Bluetooth, area: Bluetooth Controller

#30852 lib/os/heap: fix realloc issues
  lib/os/heap.c
  tests/lib/heap/src/main.c
Labels: area: Tests

#30959 samples: subsys: mgmt: smp_svr: increase fs support stack size
  samples/subsys/mgmt/mcumgr/smp_svr/overlay-bt.conf
Labels: Trivial, area: Samples

#31030 Fixed typo in settings sample readme
  samples/subsys/settings/README.rst
Labels: area: Documentation, area: Samples

#31059 test: drivers: pwm: api: allow test to run with NXP FlexTimer PWM
  tests/drivers/pwm/pwm_api/src/test_pwm.c
Labels: area: PWM, area: Tests, platform: NXP

#31023 dts: nuvoton_npcx: Change io status of host-uart device to "disabled".
  dts/arm/nuvoton/npcx7m6fb.dtsi
Labels: area: Devicetree

#31011 ARC: MWDT: drop incorrect -Hnocopyr linker option
  cmake/linker/arcmwdt/target.cmake
Labels: area: ARC, area: Toolchains

#28528 arch: arc: archs using ATOMIC_OPERATIONS_C
  arch/arc/Kconfig
Labels: area: ARC

#30996 isr_tables: adopt _irq_vector_table for using on 64bit architectures
  arch/common/gen_isr_tables.py
  arch/common/isr_tables.c
Labels: area: ARC

#30798 x86: remove custom switch to main thread function
  arch/Kconfig
  arch/x86/core/ia32/thread.c
Labels: area: X86

#30933 lib: libc: minimal: remove outdated comment
  lib/libc/minimal/include/stdio.h
Labels: Trivial, area: C Library

#30985 tests/kernel/fatal/exception: Remove ticked kernel from stack sentine…
  tests/kernel/fatal/exception/sentinel.conf
Labels: area: Kernel, area: Tests

#31033 boards: particle: use soft reset with nrfjprog
  boards/arm/particle_argon/board.cmake
  boards/arm/particle_boron/board.cmake
  boards/arm/particle_xenon/board.cmake
Labels: area: Boards

#30156 aarch64: mmu: Avoid creating a new table when not needed
  arch/arm/core/aarch64/mmu/arm_mmu.c
  arch/arm/core/aarch64/mmu/arm_mmu.h
Labels: area: ARM, area: ARM_64

#31092 runners: fix nrfjprog UICR check
  scripts/west_commands/runners/nrfjprog.py
Labels: Hotfix, area: Flashing, area: West, platform: nRF

#30652 tests: Check return value of settings_runtime_set in ll_settings test
  tests/bluetooth/ll_settings/src/main.c
Labels: Trivial, area: Tests

#31083 boards: arm: add support for NUCLEO-L433RC-P
  boards/arm/nucleo_l433rc_p/Kconfig.board
  boards/arm/nucleo_l433rc_p/Kconfig.defconfig
  boards/arm/nucleo_l433rc_p/arduino_r3_connector.dtsi
  boards/arm/nucleo_l433rc_p/board.cmake
  boards/arm/nucleo_l433rc_p/doc/img/nucleo_l433rc_p.png
  boards/arm/nucleo_l433rc_p/doc/img/nucleo_l433rc_p_pinout.png
  boards/arm/nucleo_l433rc_p/doc/index.rst
  boards/arm/nucleo_l433rc_p/nucleo_l433rc_p.dts
  boards/arm/nucleo_l433rc_p/nucleo_l433rc_p.yaml
  boards/arm/nucleo_l433rc_p/nucleo_l433rc_p_defconfig
  boards/arm/nucleo_l433rc_p/support/openocd.cfg
Labels: area: Boards, area: Devicetree, area: Documentation, platform: STM32

#31032 usb: cdc_acm: select features required for use
  subsys/usb/class/Kconfig
Labels: Trivial, area: USB

#31076 drivers: eeprom: mark the EEPROM API as stable
  doc/reference/overview.rst
Labels: area: API, area: Documentation

#30668 xtensa: use highest available EPC/EPS regs in restore context
  arch/xtensa/core/xtensa-asm2-util.S
  arch/xtensa/core/xtensa-asm2.c
Labels: area: Xtensa

#31104 driver: i2c: npcx: Convert drivers to new DT device macros
  drivers/i2c/i2c_npcx_controller.c
  drivers/i2c/i2c_npcx_port.c
Labels: area: I2C

#31121 boards: nordic: remove unnecessary nrfjprog.py args
  boards/arm/rak5010_nrf52840/board.cmake
  doc/guides/porting/board_porting.rst
  samples/application_development/out_of_tree_board/boards/arm/nrf52840dk_nrf52840/board.cmake
Labels: area: Boards, area: Documentation, area: Samples

#31124 aarch64: mmu: Fix typo in mask definition
  arch/arm/core/aarch64/mmu/arm_mmu.h
Labels: area: ARM, area: ARM_64, bug, priority: medium

#30516 Bluetooth: controller: nRF53x: SWI mapping should use SOC define
  subsys/bluetooth/controller/ll_sw/nordic/hal/nrf5/swi.h
Labels: area: Bluetooth, area: Bluetooth Controller

#28972 modem: fix socket descriptor leak
  drivers/modem/modem_socket.c
Labels: Stale, area: Modem

#31098 net: buf: convert `#define` to `static inline`
  include/net/buf.h
Labels: area: API, area: Networking

#30957 Bluetooth: userchan: Add discard mechanism to avoid waiting timeout
  drivers/bluetooth/hci/h4.c
  drivers/bluetooth/hci/ipm_stm32wb.c
  drivers/bluetooth/hci/rpmsg.c
  drivers/bluetooth/hci/spi.c
  drivers/bluetooth/hci/userchan.c
Labels: area: Bluetooth, area: Drivers, bug, platform: STM32

#30655 Bluetooth: host: Fix crash when receiving response after ATT timeout
  subsys/bluetooth/host/att.c
Labels: area: Bluetooth, area: Bluetooth Host

#30203 boards/arm: Adding Contextual Electronics Advanced BLE Cell board to Zephyr
  boards/arm/contextualelectronics_abc/Kconfig
  boards/arm/contextualelectronics_abc/Kconfig.board
  boards/arm/contextualelectronics_abc/Kconfig.defconfig
  boards/arm/contextualelectronics_abc/board.cmake
  boards/arm/contextualelectronics_abc/contextualelectronics_abc.dts
  boards/arm/contextualelectronics_abc/contextualelectronics_abc.yaml
  boards/arm/contextualelectronics_abc/contextualelectronics_abc_defconfig
  boards/arm/contextualelectronics_abc/doc/img/contextualelectronics_abc.jpg
  boards/arm/contextualelectronics_abc/doc/index.rst
Labels: area: Boards, area: Devicetree, area: Documentation

#29097 Add support for the Arduino nano 33 BLE sense
  boards/arm/arduino_nano_33_ble/CMakeLists.txt
  boards/arm/arduino_nano_33_ble/Kconfig.board
  boards/arm/arduino_nano_33_ble/Kconfig.defconfig
  boards/arm/arduino_nano_33_ble/arduino_nano_33_ble.dts
  boards/arm/arduino_nano_33_ble/arduino_nano_33_ble.yaml
  boards/arm/arduino_nano_33_ble/arduino_nano_33_ble_defconfig
  boards/arm/arduino_nano_33_ble/board.cmake
  boards/arm/arduino_nano_33_ble/doc/img/arduino_nano_33_ble_sense.png
  boards/arm/arduino_nano_33_ble/doc/index.rst
  boards/arm/arduino_nano_33_ble/inc/arduino_nano_33_ble.h
  boards/arm/arduino_nano_33_ble/inc/arduino_nano_33_ble_pins.h
  boards/arm/arduino_nano_33_ble/src/init_sensors.c
  tests/drivers/adc/adc_api/src/test_adc.c
Labels: Release Notes, area: Boards, area: Devicetree, area: Documentation, area: Tests, platform: nRF

#31016 samples: net: Fix vlan error message in samples
  samples/net/gptp/src/main.c
  samples/net/lldp/src/main.c
  samples/net/sockets/echo_client/src/vlan.c
  samples/net/sockets/echo_server/src/vlan.c
Labels: area: Networking, area: Samples

#31119 doc: improve west's repo-tool.rst
  doc/guides/west/config.rst
  doc/guides/west/release-notes.rst
  doc/guides/west/repo-tool.rst
  doc/guides/west/why.rst
Labels: area: Documentation

#30586 Bluetooth: controller: nRF52811: Errata Id 164 not applicable
  subsys/bluetooth/controller/ll_sw/nordic/hal/nrf5/radio/radio_nrf52811.h
Labels: Trivial, area: Bluetooth, area: Bluetooth Controller

#30945 Bluetooth: controller: Fix missing call to radio_setup interface
  subsys/bluetooth/controller/ll_sw/nordic/lll/lll.c
Labels: area: Bluetooth, area: Bluetooth Controller

#30946 Bluetooth: controller: Fix regression in PA/LNA support
  subsys/bluetooth/controller/ll_sw/nordic/lll/lll.c
Labels: area: Bluetooth, area: Bluetooth Controller

#30947 Bluetooth: controller: Fix missing GPIOTE channel disable
  subsys/bluetooth/controller/ll_sw/nordic/hal/nrf5/radio/radio.c
Labels: area: Bluetooth, area: Bluetooth Controller

#30948 Bluetooth: controller: PA/LNA use NRF_P0/P1 define
  subsys/bluetooth/controller/ll_sw/nordic/hal/nrf5/radio/radio.c
Labels: area: Bluetooth, area: Bluetooth Controller

#30949 Bluetooth: controller: Refactor PA/LNA PPI configuration
  subsys/bluetooth/controller/ll_sw/nordic/hal/nrf5/radio/radio.c
  subsys/bluetooth/controller/ll_sw/nordic/hal/nrf5/radio/radio_nrf5_ppi.h
Labels: area: Bluetooth, area: Bluetooth Controller

#30807 Bluetooth: controller: Fix free Rx PDU queue starvation
  subsys/bluetooth/controller/ll_sw/ull.c
Labels: area: Bluetooth, area: Bluetooth Controller

#30973 Bluetooth: controller: Fix AUX_CONNECT_RSP PDU buffer size
  subsys/bluetooth/controller/ll_sw/nordic/lll/lll_adv_aux.c
Labels: area: Bluetooth, area: Bluetooth Controller

#31002 Bluetooth: controller: Rename supported ISO Sets Kconfig
  subsys/bluetooth/controller/Kconfig.ll_sw_split
  subsys/bluetooth/controller/ll_sw/lll.h
  subsys/bluetooth/controller/ll_sw/ull_sync_iso.c
Labels: area: Bluetooth, area: Bluetooth Controller

#31004 Bluetooth: controller: Rename periodic adv rx enable flag
  subsys/bluetooth/controller/ll_sw/lll_sync.h
  subsys/bluetooth/controller/ll_sw/ull_sync.c
Labels: area: Bluetooth, area: Bluetooth Controller

#31006 Bluetooth: controller: Add missing initialization of ISO sync
  subsys/bluetooth/controller/ll_sw/ull_sync.c
Labels: area: Bluetooth, area: Bluetooth Controller

#30757 power: Add notifier API
  include/power/power.h
  samples/boards/mec15xxevb_assy6853/power_management/src/power_mgmt.c
  subsys/power/power.c
  tests/subsys/power/power_mgmt/src/main.c
  tests/subsys/power/power_mgmt_soc/src/power_mgmt.c
Labels: area: API, area: Samples, area: Tests

#30928 edtlib: Match any parent bus when binding lacks an explicit on-bus
  dts/binding-template.yaml
  scripts/dts/edtlib.py
  scripts/dts/test-bindings/device-on-any-bus.yaml
  scripts/dts/test.dts
  scripts/dts/testedtlib.py
Labels: area: Devicetree, area: Devicetree Tooling

#31120 boards: stm32: Remove default PWM configuration
  boards/arm/nucleo_l432kc/nucleo_l432kc_defconfig
  boards/arm/nucleo_l476rg/nucleo_l476rg_defconfig
  boards/arm/stm32f4_disco/stm32f4_disco_defconfig
Labels: area: Boards, platform: STM32

#31138 doc: kernel: other: ring_buffers: Add Kconfig option description
  doc/reference/kernel/other/ring_buffers.rst
Labels: area: Documentation

#31159 net: tcp2: Mark tcphdr struct as packed
  subsys/net/ip/tcp2.c
  subsys/net/ip/tcp2_priv.h
Labels: area: Networking

#31160 Bluetooth: Mesh: Fix typo when deleting app key in CDB
  subsys/bluetooth/mesh/cdb.c
Labels: Trivial, area: Bluetooth, area: Bluetooth Mesh

#31167 x86: power: Remove dead code
  arch/arc/core/reset.S
Labels: area: X86

#31185 net: lwm2m: Direct firmware_transfer() call instead of work-item
  subsys/net/lib/lwm2m/lwm2m_obj_firmware_pull.c
Labels: area: Networking

#31117 Bluetooth: Define assigned number values of BIGInfo and Broadcast Code
  include/bluetooth/gap.h
Labels: area: API, area: Bluetooth

#28060 drivers: Dev. spec. PWM functionality for SX1509B
  drivers/gpio/gpio_sx1509b.c
  include/drivers/gpio/gpio_sx1509b.h
  samples/drivers/led_sx1509b_intensity/CMakeLists.txt
  samples/drivers/led_sx1509b_intensity/README.rst
  samples/drivers/led_sx1509b_intensity/boards/thingy52_nrf52832.overlay
  samples/drivers/led_sx1509b_intensity/prj.conf
  samples/drivers/led_sx1509b_intensity/sample.yaml
  samples/drivers/led_sx1509b_intensity/src/main.c
Labels: area: API, area: Devicetree, area: Documentation, area: Samples

#30784 Add stm32l4+ dmamux bindings
  dts/arm/st/l4/stm32l4r5.dtsi
Labels: area: Devicetree, platform: STM32

#29187 tests: fs: Add tests for fs_tell/fs_seek ENOTSUP error
  tests/subsys/fs/fs_api/src/main.c
  tests/subsys/fs/fs_api/src/test_fs.h
  tests/subsys/fs/fs_api/src/test_fs_dir_file.c
Labels: area: File System, area: Tests

#29643 Fixed linker error in drivers/ipm/ipm_handlers.c, caused by typo.
  drivers/ipm/ipm_handlers.c
Labels: area: IPM

#31161 drivers: can: stm32: fix bus-speed
  drivers/can/can_stm32.c
Labels: area: CAN, bug, platform: STM32

#30720 add error checks of isotp_send()
  tests/subsys/canbus/isotp/conformance/src/main.c
Labels: area: CAN, area: Tests

#29859 [backport v1.14] Bluetooth: Mesh: Move RPL clear to bt_mesh_reset
  subsys/bluetooth/host/mesh/main.c
  subsys/bluetooth/host/mesh/transport.c
Labels: Backport, area: Bluetooth, area: Bluetooth Mesh, bug

#29860 [backport v2.4] Bluetooth: Mesh: Move RPL clear to bt_mesh_reset
  subsys/bluetooth/mesh/main.c
  subsys/bluetooth/mesh/transport.c
Labels: Backport, area: Bluetooth, area: Bluetooth Mesh, bug

#28997 samples: bluetooth: Create common config for hci samples
  samples/bluetooth/hci_uart/boards/96b_nitrogen.conf
  samples/bluetooth/hci_uart/boards/bbc_microbit.conf
  samples/bluetooth/hci_uart/boards/nrf51_blenano.conf
  samples/bluetooth/hci_uart/boards/nrf51dk_nrf51422.conf
  samples/bluetooth/hci_uart/boards/nrf51dongle_nrf51422.conf
  samples/bluetooth/hci_uart/boards/nrf52840dk_nrf52840.conf
  samples/bluetooth/hci_uart/boards/nrf52_blenano2.conf
  samples/bluetooth/hci_uart/boards/nrf52dk_nrf52832.conf
  samples/bluetooth/hci_uart/boards/nrf5340pdk_nrf5340_cpuapp.conf
  samples/bluetooth/hci_uart/boards/nrf9160dk_nrf52840.conf
  samples/bluetooth/hci_uart/boards/rv32m1_vega_ri5cy.conf
  samples/bluetooth/hci_uart/prj.conf
Labels: area: Bluetooth, area: Samples

#31196 doc: build: Add missing script info
  doc/guides/build/index.rst
Labels: area: Documentation

#31188 tests: drivers: uart: Add gpio_loopback harness to test config
  tests/drivers/uart/uart_async_api/testcase.yaml
  tests/drivers/uart/uart_mix_fifo_poll/testcase.yaml
Labels: area: Tests, area: UART

#30880 bluetooth: controller: radio: Add guards on TXPOWER
  subsys/bluetooth/controller/ll_sw/nordic/hal/nrf5/radio/radio_sim_nrfxx.h
Labels: area: Bluetooth, area: Bluetooth Controller

#31003 Bluetooth: controller: Reserve link Rx buffer to ISO sync
  subsys/bluetooth/controller/ll_sw/ull.c
Labels: area: Bluetooth, area: Bluetooth Controller

#31129 Bluetooth: controller: Fixed conn_meta bitflag misalignment
  subsys/bluetooth/controller/ll_sw/ull_conn_types.h
Labels: area: Bluetooth, area: Bluetooth Controller, bug

#31122 board: fix led1 on nucleo_h743 platform
  boards/arm/nucleo_h743zi/nucleo_h743zi.dts
Labels: area: Boards, area: Devicetree, platform: STM32

#28459 kconfig: hide option for mcuboot support if image is mcuboot
  Kconfig.zephyr
Labels: area: Kconfig

#30969 twister: BinaryHandler: call try_kill_process_by_pid in a 'with' scope
  scripts/pylib/twister/twisterlib.py
Labels: area: ARC, area: Twister

#31197 drivers: can: mcp2515: Remove MCP2515 specifics
  drivers/can/Kconfig.mcp2515
  drivers/can/can_mcp2515.c
  drivers/can/can_mcp2515.h
  samples/drivers/can/prj.mcp2515.conf
Labels: area: CAN, area: Samples

#31029 coverage: C++ fix loop in gcov_coverage_dump
  subsys/testsuite/coverage/coverage.c
Labels: area: Test Framework, area: Testsuite

#31140 test_version: update tset version with 12 digits
  scripts/ci/version_mgr.py
Labels: area: Continuous Integration

#25265 drivers: usb_dc_sam: get the maximum speed from DT as enum
  drivers/usb/device/usb_dc_sam.c
Labels: area: Devicetree, area: USB, platform: ATMEL

#31187 drivers: timer: nrf_rtc_timer: Increase half tick busy wait
  drivers/timer/nrf_rtc_timer.c
Labels: area: Timer, bug, platform: nRF

#31195 drivers/clock_control: stm32h7: Fix line break on #error
  drivers/clock_control/clock_stm32_ll_h7.c
Labels: area: Clock Control, platform: STM32

#31096 net: l2: openthread: join thread mcast addrs added to zephyr
  subsys/net/l2/openthread/openthread_utils.c
Labels: area: Networking, area: OpenThread

#28429 samples: sensor: bq274xx: Read Gauge Channel Individually.
  samples/sensor/bq274xx/src/main.c
Labels: area: Samples, area: Sensors, bug

#31047 drv: BME280 driver power management
  drivers/sensor/bme280/bme280.c
  drivers/sensor/bme280/bme280.h
Labels: area: Sensors

#30801 boards: x86: acrn : Add configurations for acrn_ehl_crb
  boards/x86/acrn/acrn_ehl_crb.dts
  boards/x86/acrn/acrn_ehl_crb.yaml
  boards/x86/acrn/acrn_ehl_crb_defconfig
  tests/benchmarks/boot_time/testcase.yaml
Labels: area: Boards, area: Devicetree, area: Tests, platform: X86

#31192 driver: uart stm32: Check irq enabled in API calls
  drivers/serial/uart_stm32.c
Labels: area: API, area: UART, platform: STM32

#31231 Bluetooth: host: Unified namespace of hci event
  include/bluetooth/hci.h
  subsys/bluetooth/controller/hci/hci.c
  subsys/bluetooth/host/hci_core.c
Labels: Trivial, area: API, area: Bluetooth, area: Bluetooth Controller, area: Bluetooth Host

#31040 Bluetooth: host: add support for unregister scanner callback
  include/bluetooth/bluetooth.h
  subsys/bluetooth/host/hci_core.c
Labels: area: API, area: Bluetooth, area: Bluetooth Host

#31252 tcp2: Fixed IS_ENABLED check for NET_TCP_MAX_SEND_WINDOW_SIZE
  subsys/net/ip/tcp2.c
Labels: area: Networking

#31148 boards: arm: twr_ke18f: only enable HW stack protection if !userspace
  boards/arm/twr_ke18f/Kconfig.defconfig
  boards/arm/twr_ke18f/twr_ke18f_defconfig
Labels: area: Boards, platform: NXP

#31178 drivers/serial: stm32: Force oversampling value
  drivers/serial/uart_stm32.c
Labels: area: UART, bug, platform: STM32

#30709 drivers: flash: flash_stm32h7x.c: manage bank1/2 discontinuity
  drivers/flash/flash_stm32h7x.c
Labels: STM32H7, area: Flash, platform: STM32

#30906 drivers: clock_control: add support for PLL3 on STM32 H7
  drivers/clock_control/Kconfig.stm32h7
  drivers/clock_control/clock_stm32_ll_h7.c
Labels: area: Clock Control, platform: STM32

#31222 Bluetooth: Mesh: Fix heartbeat subscription tests
  subsys/bluetooth/mesh/cfg_srv.c
  subsys/bluetooth/mesh/heartbeat.c
  subsys/bluetooth/mesh/heartbeat.h
Labels: area: Bluetooth, area: Bluetooth Mesh

#29551 ARM64: enable `CONFIG_MMU` and do not assume we only have kernel page tables
  arch/arm/core/aarch64/Kconfig
  arch/arm/core/aarch64/mmu/arm_mmu.c
  arch/arm/core/aarch64/mmu/arm_mmu.h
  include/arch/arm/aarch64/arm_mmu.h
  include/arch/arm/aarch64/scripts/linker.ld
Labels: area: API, area: ARM, area: ARM_64

#27082 gcov: Add coverage support for arc nsim platforms
  boards/arc/nsim/Kconfig.board
  boards/arc/nsim/arc_mpu_regions.c
  boards/arc/nsim/nsim.dtsi
  boards/arc/nsim/support/mdb_em.args
  boards/arc/nsim/support/nsim_em.props
  subsys/testsuite/coverage/coverage_ram.ld
Labels: area: ARC, area: Boards, area: Devicetree, area: Test Framework, area: Twister

#31108 device: deprecate DEVICE_AND_API_INIT
  doc/guides/dts/howtos.rst
  doc/reference/drivers/index.rst
  doc/reference/networking/net_l2.rst
  doc/releases/release-notes-2.5.rst
  doc/zephyr.doxyfile.in
  include/device.h
  include/init.h
Labels: area: API, area: Devicetree, area: Documentation

#31015 drivers: can: flexcan: Fix incorrect timing. Fix for #31014
  drivers/can/can_mcux_flexcan.c
Labels: area: CAN, bug, platform: NXP

#31246 samples: canbus: canopen: mark program download test as build-only
  samples/subsys/canbus/canopen/sample.yaml
Labels: area: CAN, area: Samples

#31128 doc: dts: update howtos with new API
  doc/guides/dts/howtos.rst
Labels: area: Devicetree, area: Documentation

#31267 drivers: pwm: fix compilation with CONFIG_PWM_CAPTURE=n
  include/drivers/pwm.h
Labels: Hotfix, area: API, area: PWM

#31112 drivers/timer: stm32_lptim: Fix stm32 ll header list
  drivers/timer/stm32_lptim_timer.c
Labels: area: Timer, platform: STM32

#31237 Update can_common: Check bitrate is greater than 0
  include/drivers/can.h
Labels: area: API, area: CAN

#31035 test: mslab: improve coverage for mslab
  tests/kernel/mem_slab/mslab_api/src/test_mslab_api.c
Labels: area: Kernel, area: Tests

#31276 ci: fix check_compliance workflow
  .github/workflows/compliance.yml
Labels: Hotfix

#31240 driver: i2c: fix recovery mechanism in npcx series.
  drivers/i2c/i2c_npcx_controller.c
Labels: area: I2C

#31249 test: skip sys_kernel benchmarks for twr_ke18f
  tests/benchmarks/sys_kernel/src/syskernel.h
Labels: area: Tests, platform: NXP

#31123 boards: nrf: remove misleading DT overlay docs
  boards/arm/bl653_dvk/doc/bl653_dvk.rst
  boards/arm/nrf21540dk_nrf52840/doc/index.rst
  boards/arm/nrf52833dk_nrf52833/doc/index.rst
  boards/arm/nrf52840dk_nrf52840/doc/index.rst
  boards/arm/pinnacle_100_dvk/doc/index.rst
Labels: area: Boards, area: Documentation, platform: nRF

#30927 soc: arm: stm32: DTSI update for eeprom size stm32l151Xc
  dts/arm/st/l1/stm32l151Xc.dtsi
Labels: area: Devicetree, platform: STM32

#31268 doc-build.yml: pip3 install wheel, fix 'invalid command bdist_wheel'
  .github/workflows/doc-build.yml
Labels: area: Continuous Integration

#31228 net: coap: Fix long options encoding
  subsys/net/lib/coap/coap.c
Labels: area: Networking, bug

#31227 samples/boards/nrf/nrfx: Make the sample usable on all nRF SoCs
  samples/boards/nrf/nrfx/Kconfig
  samples/boards/nrf/nrfx/README.rst
  samples/boards/nrf/nrfx/prj.conf
  samples/boards/nrf/nrfx/sample.yaml
  samples/boards/nrf/nrfx/src/main.c
Labels: area: Documentation, area: Samples, platform: nRF

#31216 net: hostname: Update unique hostname on link address change
  subsys/net/Kconfig.hostname
  subsys/net/hostname.c
Labels: area: Networking

#31126 xtensa: don't build and run the reset handler twice
  arch/xtensa/Kconfig
  arch/xtensa/core/startup/CMakeLists.txt
  samples/audio/sof/prj.conf
  soc/xtensa/intel_adsp/common/bootloader/CMakeLists.txt
  soc/xtensa/intel_adsp/common/bootloader/start_address.S
  soc/xtensa/intel_adsp/common/main_entry.S
Labels: area: Samples, area: Xtensa, platform: Intel CAVS

#29359 kernel: move thread definitions to thread.h
  include/app_memory/mem_domain.h
  include/kernel.h
  include/kernel/thread.h
  include/kernel_includes.h
Labels: area: API, area: ARC, area: ARM, area: Base OS, area: Build System, area: Debugging, area: Interrupt Controller, area: Kernel, area: NIOS2, area: Portability, area: RISCV, area: Timer, area: Tracing, area: Userspace, area: Wifi, area: X86, area: Xtensa, area: native port, platform: Intel CAVS, platform: nrf52_bsim

#31144 ARM: Cortex-M: minor fix in the fault handling so some rare stack overflows are identified and are not reported as generic CPU errors.
  arch/arm/core/aarch32/cortex_m/fault.c
Labels: area: ARM, bug

#31296 west boards: add --name filter
  scripts/west_commands/boards.py
  scripts/west_commands/completion/west-completion.bash
Labels: area: West

#30742 [TOPIC-BLE-LLCP] Bluetooth: controller: remove compiler warning
  subsys/bluetooth/controller/ll_sw/ull_llcp_remote.c
Labels: area: Bluetooth

#31173 tests: fpu_sharing fix print size issue
  tests/kernel/fpu_sharing/float_disable/prj.conf
  tests/kernel/fpu_sharing/generic/prj.conf
Labels: area: Kernel, area: Tests

#30764 kernel: describe detailed means of K_FP_REGS flag
  include/kernel.h
Labels: area: API, area: Kernel

#31294 cleanup: rename sanitycheck references to twister
  samples/drivers/espi/README.rst
  samples/drivers/kscan/README.rst
  samples/drivers/ps2/README.rst
  samples/sensor/ti_hdc/README.rst
  scripts/.gitignore
  scripts/footprint/compare_footprint
  scripts/requirements-base.txt
  scripts/requirements-build-test.txt
  scripts/requirements-extras.txt
  scripts/requirements-run-test.txt
  scripts/schemas/twister/testcase-schema.yaml
  scripts/west_commands/runners/mdb.py
  subsys/testsuite/ztest/Kconfig
  tests/bluetooth/bsim_bt/README.txt
Labels: Inclusive Language, area: Documentation, area: Samples, area: Test Framework, area: Tests

#31088 docs: Application <BOARD>_<revision>.overlay description
  doc/guides/dts/howtos.rst
  doc/guides/porting/shields.rst
Labels: area: Devicetree, area: Documentation, area: Shields

#31295 dts: npcx7m6fb: define the port as i2c bus rather than the controller
  dts/arm/nuvoton/npcx7m6fb.dtsi
  dts/bindings/i2c/nuvoton,npcx-i2c-ctrl.yaml
  dts/bindings/i2c/nuvoton,npcx-i2c-port.yaml
Labels: area: Devicetree, area: Devicetree Binding

#31292 drivers: flash: stm32h7: compilation issue. Fix typo
  drivers/flash/flash_stm32h7x.c
Labels: Hotfix, Trivial, area: Flash, platform: STM32

#31176 Bluetooth: Mesh: Break up mesh settings
  subsys/bluetooth/mesh/Kconfig
  subsys/bluetooth/mesh/access.c
  subsys/bluetooth/mesh/access.h
  subsys/bluetooth/mesh/app_keys.c
  subsys/bluetooth/mesh/app_keys.h
  subsys/bluetooth/mesh/cdb.c
  subsys/bluetooth/mesh/cdb.h
  subsys/bluetooth/mesh/cfg.c
  subsys/bluetooth/mesh/cfg.h
  subsys/bluetooth/mesh/cfg_srv.c
  subsys/bluetooth/mesh/heartbeat.c
  subsys/bluetooth/mesh/heartbeat.h
  subsys/bluetooth/mesh/main.c
  subsys/bluetooth/mesh/net.c
  subsys/bluetooth/mesh/net.h
  subsys/bluetooth/mesh/provisioner.c
  subsys/bluetooth/mesh/rpl.c
  subsys/bluetooth/mesh/rpl.h
  subsys/bluetooth/mesh/settings.c
  subsys/bluetooth/mesh/settings.h
  subsys/bluetooth/mesh/shell.c
  subsys/bluetooth/mesh/subnet.c
  subsys/bluetooth/mesh/subnet.h
  subsys/bluetooth/mesh/transport.c
  subsys/bluetooth/mesh/transport.h
  tests/bluetooth/tester/src/mesh.c
Labels: Enhancement, area: Bluetooth, area: Bluetooth Mesh, area: Tests

#31313 xtensa: remove core-macros.h from xtensa HAL
  drivers/clock_control/clock_control_esp32.c
  drivers/entropy/entropy_esp32.c
  include/arch/xtensa/xtensa_api.h
Labels: area: API, area: Xtensa

#31225 manifest: update mcuboot
  doc/releases/release-notes-2.5.rst
  west.yml
Labels: area: Documentation, area: Modules, manifest, manifest-mcuboot, west

#30238 dts: bindings: add IRQ priority support for SiFive PLIC
  dts/bindings/interrupt-controller/riscv,plic0.yaml
  dts/riscv/microsemi-miv.dtsi
  dts/riscv/riscv32-fe310.dtsi
Labels: area: Devicetree, area: Devicetree Binding

#31319 west.yml: Update cmsis revision
  west.yml
Labels: Trivial, area: Modules, manifest, manifest-cmsis, west

#31318 twister: fix build_on_all configuration
  scripts/pylib/twister/twisterlib.py
Labels: Hotfix, area: Twister

#31324 boards: nrf21540dk_nrf52840: Fix minor imperfections in documentation
  boards/arm/nrf21540dk_nrf52840/doc/index.rst
Labels: Trivial, area: Boards, area: Documentation, platform: nRF

#31321 aarch64: Fix alignment fault on z_bss_zero()
  arch/arm/core/aarch64/prep_c.c
Labels: area: API, area: ARM, area: ARM_64

#30926 soc: arm: stm32: Add support for STM32L152xC SoCs
  dts/arm/st/l1/stm32l152Xc.dtsi
  soc/arm/st_stm32/stm32l1/Kconfig.defconfig.stm32l152xc
  soc/arm/st_stm32/stm32l1/Kconfig.soc
Labels: area: Devicetree, platform: STM32

#31201 doc: west: add note about west update --keep-descendants option
  doc/guides/west/repo-tool.rst
Labels: area: Documentation

#30903 kernel: Remove CONFIG_LEGACY_TIMEOUT_API
  boards/riscv/it8xxx2_evb/it8xxx2_evb_defconfig
  doc/reference/kernel/timing/clocks.rst
  doc/releases/release-notes-2.3.rst
  doc/releases/release-notes-2.5.rst
  include/net/net_offload.h
  include/sys_clock.h
  kernel/Kconfig
  kernel/poll.c
  kernel/sched.c
  kernel/thread.c
  kernel/timeout.c
  kernel/timer.c
  kernel/work_q.c
  samples/scheduler/metairq_dispatch/src/msgdev.c
Labels: area: API, area: Boards, area: Documentation, area: Kernel, area: Networking, area: RISCV, area: Samples

#30320 drivers: watchdog: implement SiFive FE310 watchdog driver
  CODEOWNERS
  drivers/watchdog/CMakeLists.txt
  drivers/watchdog/Kconfig
  drivers/watchdog/Kconfig.sifive
  drivers/watchdog/wdt_sifive.c
Labels: area: Watchdog

#31317 drivers: modem: Fix UDP management in BG96 modem
  drivers/modem/quectel-bg9x.c
Labels: area: Boards, area: Devicetree, area: Devicetree Binding, area: Modem

#31287 drivers: modem: ublox-sara-r4: remove redundant wait after sendto
  drivers/modem/ublox-sara-r4.c
Labels: area: Modem

#31335 boards/dts: riscv: add SiFive FE310 watchdog driver bindings
  boards/riscv/hifive1_revb/hifive1_revb.dts
  dts/bindings/watchdog/sifive,wdt.yaml
  dts/riscv/riscv32-fe310.dtsi
Labels: area: Boards, area: Devicetree, area: Devicetree Binding

#31353 checkpatch: ignore device tree related warnings
  .checkpatch.conf
Labels: Trivial

#31355 watchdog: sifive: Remove use of DEVICE_DT_INST_DECLARE
  drivers/watchdog/wdt_sifive.c
Labels: Hotfix, Trivial

#31350 samples: net: lwm2m_client: Remove nrf52dk_nrf52832 from the allowlist
  samples/net/lwm2m_client/sample.yaml
Labels: area: LWM2M, area: Networking, area: Samples

#31260 x86: early_serial: Suppress output attempts prior to init
  arch/x86/core/early_serial.c
Labels: area: X86

#31305 tests: stack: remove and refine some test cases
  tests/kernel/stack/stack/prj.conf
  tests/kernel/stack/stack/src/test_stack_fail.c
Labels: area: Kernel, area: Tests

#29219 disk: disk_access_flash: Make sector size configurable in Kconfig
  subsys/disk/Kconfig
  subsys/disk/disk_access_flash.c
  subsys/fs/Kconfig.fatfs
Labels: area: File System

#31215 Bluetooth: controller: Remove BIT64 redundant definition
  subsys/bluetooth/controller/include/ll_feat.h
Labels: Trivial, area: Bluetooth, area: Bluetooth Controller

#30974 drivers/i2c: add i2c driver on it8xxx2 platform
  CODEOWNERS
  boards/riscv/it8xxx2_evb/it8xxx2_evb.dts
  boards/riscv/it8xxx2_evb/it8xxx2_evb_defconfig
  drivers/i2c/CMakeLists.txt
  drivers/i2c/Kconfig
  drivers/i2c/Kconfig.it8xxx2
  drivers/i2c/i2c_ite_it8xxx2.c
  dts/bindings/i2c/ite,it8xxx2-i2c.yaml
  dts/riscv/it8xxx2.dtsi
  soc/riscv/riscv-ite/common/chip_chipregs.h
Labels: area: Boards, area: Devicetree, area: Devicetree Binding, area: I2C, area: RISCV

#31174 drivers: wdt: add watchdog driver support for NPCX7 series.
  boards/arm/npcx7m6fb_evb/npcx7m6fb_evb_defconfig
  drivers/watchdog/CMakeLists.txt
  drivers/watchdog/Kconfig
  drivers/watchdog/Kconfig.npcx
  drivers/watchdog/wdt_npcx.c
  dts/arm/nuvoton/npcx7m6fb.dtsi
  dts/bindings/watchdog/nuvoton,npcx-watchdog.yaml
  soc/arm/nuvoton_npcx/common/reg/reg_def.h
  soc/arm/nuvoton_npcx/npcx7/Kconfig.defconfig.series
  soc/arm/nuvoton_npcx/npcx7/soc.c
  tests/drivers/watchdog/wdt_basic_api/src/test_wdt.c
Labels: area: Boards, area: Devicetree, area: Devicetree Binding, area: Tests, area: Watchdog

#31331 tests: debug/coredump: change to dump minimal memory
  tests/subsys/debug/coredump/prj.conf
Labels: area: Debugging, area: Tests
