Repository zephyrproject-rtos/zephyr, pull requests merged in 2021-12, with the labels that each got.

#40787 tracing: Fix k_fifo_put_list tracing for CONFIG_TRACING_NONE=yes
  include/tracing/tracing.h
Labels: area: API, area: Tracing

#40809 drivers: nrf5: kconfig: add missing dependency for TEMP_NRF5
  drivers/sensor/nrf5/Kconfig
Labels: bug, area: Sensors

#40754 cleanup: espi: it8xxx2: eliminate DRV_CONFIG() and DRV_DATA() macros
  drivers/espi/espi_it8xxx2.c
Labels: Trivial, area: eSPI, platform: ITE

#40518 drivers: Fix ESP32 I2C unwilled stop and repeated start
  drivers/i2c/i2c_esp32.c
Labels: area: I2C, platform: ESP32

#40802 driver: uart_npcx: Fix uart to use PM constrain
  drivers/serial/uart_npcx.c
  soc/arm/nuvoton_npcx/common/reg/reg_def.h
Labels: area: UART, platform: Nuvoton_NPCX

#40665 soc: it8xxx2: cleanup: Obsolete PS/2 registers definitions removal
  soc/riscv/riscv-ite/common/chip_chipregs.h
Labels: area: RISCV, Trivial, platform: ITE

#40778 boards: add support for integer board revisions
  cmake/extensions.cmake
  doc/guides/porting/board_porting.rst
Labels: Enhancement, area: Build System, area: Documentation

#40806 net: mqtt: Fix SOCKS5 setsockopt error handling
  subsys/net/lib/mqtt/mqtt_transport_socket_tcp.c
  subsys/net/lib/mqtt/mqtt_transport_socket_tls.c
Labels: area: Networking

#40764 pm: remove irrelevant type qualifier on pm_power_state_next_get
  include/pm/pm.h
  subsys/pm/pm.c
Labels: area: Power Management, area: API

#40762 samples: tfm_secure_partition: Remove conditional from partition
  samples/tfm_integration/tfm_secure_partition/dummy_partition/tfm_manifest_list.yaml.in
Labels: area: Samples, area: TF-M

#40486 drivers: i2c: fix i2c_gpio log typo
  drivers/i2c/i2c_gpio.c
Labels: area: I2C

#40508 logging: fix timestamp func overwrite on log2
  subsys/logging/log_core.c
Labels: area: Logging

#40528 Bluetooth: controller: Introduction of RXFIFO composite
  subsys/bluetooth/controller/ll_sw/ull.c
  subsys/bluetooth/controller/ll_sw/ull_internal.h
Labels: Enhancement, area: Bluetooth, area: Bluetooth Controller

#40601 Bluetooth: ISO: Fix issue with peripheral calling central cleanup code
  subsys/bluetooth/host/iso.c
Labels: bug, area: Bluetooth, area: Bluetooth Host, area: Bluetooth ISO

#40659 drivers/serial: uart_ns16550: add power management constraint API
  drivers/serial/uart_ns16550.c
Labels: area: UART

#40680 boards: nrf21540dk_nrf52840: Assign nRF21540 FEM to Radio device
  boards/arm/nrf21540dk_nrf52840/nrf21540dk_nrf52840.dts
Labels: area: Boards, area: Devicetree, platform: nRF

#40738 samples: prod_consumer: use app_shared.h instead of main.h
  samples/userspace/prod_consumer/src/app_a.c
  samples/userspace/prod_consumer/src/app_b.c
  samples/userspace/prod_consumer/src/app_shared.c
  samples/userspace/prod_consumer/src/app_shared.h
  samples/userspace/prod_consumer/src/main.c
Labels: area: Build System, area: Samples, area: Userspace

#40767 Bluetooth: host: Update CCC after connection is encrypted
  subsys/bluetooth/host/gatt.c
Labels: area: Bluetooth, area: Bluetooth Host

#40840 actions: twister: remove existing ccache directory
  .github/workflows/clang.yaml
  .github/workflows/twister.yaml
Labels: Hotfix

#40842 tests: logging: Disable log2 deferred tests on qemu_cortex_a9
  tests/subsys/logging/log_api/testcase.yaml
Labels: area: Tests, Hotfix

#36791 board: arm: support cm4 debug way
  boards/arm/mimxrt1170_evk/board.cmake
Labels: area: Boards, platform: NXP

#39460 Add ARC_MPY_OPTION to kconfig
  arch/arc/Kconfig
  soc/arc/snps_arc_hsdk/Kconfig.defconfig
  soc/arc/snps_nsim/Kconfig.defconfig.em
  soc/arc/snps_nsim/Kconfig.defconfig.em7d_v22
  soc/arc/snps_nsim/Kconfig.defconfig.hs
  soc/arc/snps_nsim/Kconfig.defconfig.hs_mpuv6
  soc/arc/snps_nsim/Kconfig.defconfig.sem
Labels: area: ARC, platform: Synopsys

#39802 uart: sifive: align txcnt of UART1 with UART0
  drivers/serial/Kconfig.sifive
Labels: area: UART

#40848 tests: subsys: logging: log_msg2: disable some tests on qemu_cortex_a9
  tests/subsys/logging/log_msg2/testcase.yaml
Labels: area: Tests, Hotfix

#40804 doc: style admonitions
  doc/_static/css/custom.css
Labels: area: Documentation, Trivial

#40822 cmake: Fix invalid warning related to rimage
  cmake/extensions.cmake
Labels: area: Build System

#40882 Bluetooth: Audio: Add check conn in VCS client notify handler
  subsys/bluetooth/audio/vcs_client.c
Labels: area: Bluetooth, Trivial, area: Bluetooth Audio

#40834 drivers: spi: Add optional delays to mcux flexcomm spi driver
  drivers/spi/spi_mcux_flexcomm.c
  dts/bindings/spi/nxp,lpc-spi.yaml
Labels: area: SPI, area: Devicetree, platform: NXP, area: Devicetree Binding

#40851 modules: Use posix paths in Kconfig module prompts
  scripts/zephyr_module.py
Labels: area: Build System

#40876 tests: thread_apis: fix cast to smaller integer type
  tests/kernel/threads/thread_apis/src/main.c
Labels: area: Kernel, area: Tests, Hotfix, area: Continuous Integration

#40886 logging: Extend support for compilation with up to 31 arguments
  include/logging/log_core.h
Labels: bug, area: Logging, area: API

#40865 kernel: mem_domain: remove extra slash in Z_PROGBITS_SYM
  include/app_memory/app_memdomain.h
Labels: area: API, area: Userspace

#37769 Telink b91 west flash command
  boards/common/spi_burn.board.cmake
  boards/riscv/tlsr9518adk80d/board.cmake
  boards/riscv/tlsr9518adk80d/doc/index.rst
  scripts/west_commands/runners/__init__.py
  scripts/west_commands/runners/spi_burn.py
  scripts/west_commands/tests/test_imports.py
Labels: area: Boards, area: Documentation, area: RISCV, area: West

#38313 drivers: spi: add spi-bitbang driver
  drivers/spi/CMakeLists.txt
  drivers/spi/Kconfig
  drivers/spi/Kconfig.bitbang
  drivers/spi/spi_bitbang.c
  dts/bindings/spi/zephyr,spi-bitbang.yaml
  samples/drivers/spi_bitbang/CMakeLists.txt
  samples/drivers/spi_bitbang/README.rst
  samples/drivers/spi_bitbang/boards/nrf52840dk_nrf52840.overlay
  samples/drivers/spi_bitbang/prj.conf
  samples/drivers/spi_bitbang/sample.yaml
  samples/drivers/spi_bitbang/src/main.c
Labels: area: SPI, area: Documentation, area: Samples, area: Devicetree, area: Devicetree Binding

#40711 boards: pinetime_devkit0: Change backlight labels
  boards/arm/pinetime_devkit0/pinetime_devkit0.dts
Labels: area: Boards, area: Devicetree

#40747 drivers: display: st7789v: Remove explicit cast
  drivers/display/display_st7789v.c
Labels: area: Display

#40829 cmake: fix multiple shield parsing
  cmake/kconfig.cmake
Labels: area: Build System

#40831 Bluetooth: Fix Periodic Advertising Receive Enable
  subsys/bluetooth/host/scan.c
Labels: area: Bluetooth, area: Bluetooth Host

#40824 pm: device_runtime: Use pm flags for runtime state
  include/pm/device.h
  subsys/pm/device_runtime.c
Labels: area: Power Management, area: API

#40902 doc: gdbstub: add a simple example
  doc/guides/debug_tools/gdbstub.rst
Labels: area: Documentation

#40932 devicetree: fix DT_FOREACH_STATUS_OKAY brief
  include/devicetree.h
Labels: area: Devicetree, area: API

#40922 boards: arm: frdm_k64f: add documentation for CAN pins
  boards/arm/frdm_k64f/doc/index.rst
Labels: area: Boards, area: Documentation, platform: NXP, area: CAN

#40877 Bluetooth: Shell: Update audio.conf to use BT_FILTER_ACCEPT_LIST
  tests/bluetooth/shell/audio.conf
Labels: area: Bluetooth, area: Shell, area: Tests, Trivial

#40402 Bluetooth: Audio: Bugfix: Fix output message
  subsys/bluetooth/shell/mcc.c
Labels: bug, area: Bluetooth, Trivial, area: Bluetooth Audio

#40938 spi: npcx_fiu: Update the SPI context
  drivers/spi/spi_npcx_fiu.c
Labels: area: SPI

#40779 soc/intel_s1000: Add new cAVS shim & IDC interfaces
  dts/xtensa/intel/intel_s1000.dtsi
  soc/xtensa/intel_s1000/include/cavs-idc.h
  soc/xtensa/intel_s1000/include/cavs-shim.h
Labels: area: Xtensa, area: Devicetree, platform: Intel CAVS

#36560 drivers/flash: sam0: only use a semaphore if multitasking is enabled
  drivers/flash/flash_sam0.c
Labels: area: Flash, platform: Atmel

#36911 doc: add parasoft tool section to the coding guidelines page
  doc/contribute/coding_guidelines/index.rst
Labels: area: Documentation, area: Coding Guidelines

#40366 drivers: spi: Add MEC172x QMSPI-LDMA driver
  boards/arm/mec172xevb_assy6906/mec172xevb_assy6906.dts
  boards/arm/mec172xevb_assy6906/mec172xevb_assy6906_defconfig
  drivers/spi/CMakeLists.txt
  drivers/spi/Kconfig
  drivers/spi/Kconfig.xec_qmspi
  drivers/spi/Kconfig.xec_qmspi_ldma
  drivers/spi/spi_xec_qmspi_ldma.c
  dts/arm/microchip/mec172xnsz.dtsi
  dts/bindings/spi/microchip,xec-qmspi-ldma.yaml
  soc/arm/microchip_mec/mec172x/Kconfig.defconfig.mec172xnsz
  soc/arm/microchip_mec/mec172x/reg/mec172x_gpio.h
  soc/arm/microchip_mec/mec172x/reg/mec172x_qspi.h
Labels: area: SPI, area: Build System, area: Boards, area: Devicetree, platform: Microchip, area: Devicetree Binding

#40993 actions: twister: cleanup all west modules
  .github/workflows/clang.yaml
  .github/workflows/twister.yaml
Labels: Hotfix

#40434 coredump: add support for RISC-V
  arch/Kconfig
  arch/riscv/core/CMakeLists.txt
  arch/riscv/core/coredump.c
  include/debug/coredump.h
  scripts/coredump/gdbstubs/__init__.py
  scripts/coredump/gdbstubs/arch/risc_v.py
  tests/subsys/cpp/libcxx/src/main.cpp
  tests/subsys/debug/coredump/src/main.c
Labels: area: Build System, area: Debugging, area: RISCV, area: Tests, area: API

#40454 ISO broadcast tx complete fix
  subsys/bluetooth/Kconfig
  subsys/bluetooth/host/conn.c
  subsys/bluetooth/host/conn_internal.h
  subsys/bluetooth/host/hci_core.c
Labels: bug, area: Bluetooth, area: Bluetooth Host

#40692 modules: mbedtls: Remove MBEDTLS_ECP_MAX_BITS from generic config
  modules/mbedtls/configs/config-tls-generic.h
Labels: area: Crypto / RNG, area: Modules

#40782 uart_stm32: fix a dead lock on poll_out if it's called in interrupt
  drivers/serial/uart_stm32.c
  drivers/serial/uart_stm32.h
Labels: area: UART, platform: STM32, block: HW Test

#40794 [Backport v2.7-branch] drivers: mcux_flexspi: Default logging to disabled when XIP is used
  drivers/flash/flash_mcux_flexspi_mx25um51345g.c
  drivers/flash/flash_mcux_flexspi_nor.c
  drivers/memc/memc_mcux_flexspi.c
  drivers/memc/memc_mcux_flexspi_hyperram.c
  soc/arm/nxp_imx/rt/Kconfig.defconfig.series
Labels: platform: NXP

#40958 Bluetooth: Mesh: Fix Composition Data Status
  subsys/bluetooth/mesh/cfg_cli.c
Labels: bug, area: Bluetooth, area: Bluetooth Mesh

#40884 [backport v2.7-branch] test/bluetooth/tester: Re-pair on lost bond
  tests/bluetooth/tester/src/gap.c
Labels: area: Tests

#40984 drivers: ieee802154_dw1000: use dedicated workqueue
  drivers/ieee802154/ieee802154_dw1000.c
Labels: area: Drivers, area: Networking, area: IEEE 802.15.4

#40996 samples: net: gsm_modem: Fix gsm_ppp.h path
  samples/net/gsm_modem/src/main.c
Labels: area: Networking, area: Samples, area: Modem

#41000 actions: twister: remove temporary workaround asking for rebase
  .github/workflows/twister.yaml
Labels: Hotfix

#40988 doc: guides: tfm: fix documentation build
  doc/guides/tfm/requirements.rst
Labels: area: Documentation, Hotfix, Trivial

#41041 actions: clang: do not test all boards when --platform is given
  scripts/ci/test_plan.py
Labels: Hotfix, area: Continuous Integration

#37528 drivers: gpio: nrfx: Implementation based on new nrfx_gpiote driver
  drivers/gpio/gpio_nrfx.c
Labels: area: GPIO, platform: nRF, area: Modules, manifest, west, manifest-hal_nordic, manifest-mcumgr, manifest-edtt, manifest-openthread, manifest-hal_espressif

#40495 logging: Improve instance logging filtering
  include/logging/log_core.h
Labels: area: Logging, area: API

#41021 drivers: sensor: icm42605: convert to spi_dt_spec
  drivers/sensor/icm42605/icm42605.c
  drivers/sensor/icm42605/icm42605.h
  drivers/sensor/icm42605/icm42605_setup.c
  drivers/sensor/icm42605/icm42605_spi.c
  drivers/sensor/icm42605/icm42605_spi.h
Labels: area: Sensors

#41022 drivers: sensor: max6675: convert to spi_dt_spec
  drivers/sensor/max6675/max6675.c
Labels: area: Sensors

#40981 drivers: sensors: tmp112: Remove extra I2C reads
  drivers/sensor/tmp112/tmp112.c
Labels: area: Sensors

#37932 manifest: Patch mbedtls
  west.yml
Labels: area: Modules, manifest, west, manifest-mbedtls

#40990 Fix hb sub param
  subsys/bluetooth/mesh/cfg_cli.c
Labels: area: Bluetooth, area: Bluetooth Mesh

#40986 bluetooth: mesh : fix relay get param check
  subsys/bluetooth/mesh/cfg_cli.c
Labels: area: Bluetooth, area: Bluetooth Mesh

#40987 bluetooth: mesh: check hb_pub_status param
  subsys/bluetooth/mesh/cfg_cli.c
Labels: area: Bluetooth, area: Bluetooth Mesh

#40923 driver: timer: npcx_itim: Add timer initialization
  drivers/timer/npcx_itim_timer.c
Labels: area: Timer

#41033 doc: Fix typo for links to MAINTAINERS.yml
  doc/contribute/external.rst
  doc/development_process/project_roles.rst
Labels: area: Documentation, Trivial

#40995 Bluetooth: buf: Update BT_BUF_RX_SIZE with ISO
  include/bluetooth/buf.h
  subsys/bluetooth/host/buf.c
  subsys/bluetooth/host/hci_raw.c
Labels: area: Bluetooth, area: API, area: Bluetooth Host

#41025 boards: mimxrt10xx: Add missing edma0 node to evaluation boards
  boards/arm/mimxrt1010_evk/mimxrt1010_evk.dts
  boards/arm/mimxrt1015_evk/mimxrt1015_evk.dts
  boards/arm/mimxrt1020_evk/mimxrt1020_evk.dts
  boards/arm/mimxrt1050_evk/mimxrt1050_evk.dts
Labels: area: Boards, area: Devicetree, platform: NXP

#39579 eth: Add stm32 ethernet promisc mode capabilities to hal
  drivers/ethernet/eth_stm32_hal.c
Labels: area: Networking, platform: STM32, area: Ethernet

#40871 tests: syscall: fix low value of CONFIG_MAX_THREAD_BYTES
  tests/kernel/mem_protect/syscalls/prj.conf
Labels: area: Kernel, area: Tests, area: Userspace

#40973 drivers: counter: Added get_freq to API
  include/drivers/counter.h
Labels: area: Counter, area: API

#41005 [Backport v2.7-branch] drivers: can: fix can_configure() when CAN-FD is enabled
  include/drivers/can.h
Labels: bug, area: API, area: CAN

#41051 samples: subsys: mcumgr: Remove deprecated <power/reboot.h> header
  subsys/mgmt/mcumgr/lib/cmd/os_mgmt/src/zephyr_os_mgmt.c
Labels: Hotfix

#41057 arch: cortex_m: Fix dwt cyccnt assert
  arch/arm/include/aarch32/cortex_m/dwt.h
Labels: bug, area: ARM

#40978 sample: dfu: exclude b_u585i_iot02a board
  samples/subsys/usb/dfu/sample.yaml
Labels: area: USB, area: Samples, area: Continuous Integration

#40908 coding guidelines: partially comply with MISRA C:2012 Rule 20.7
  arch/x86/core/early_serial.c
  arch/x86/include/x86_mmu.h
  drivers/interrupt_controller/intc_system_apic.c
  drivers/pcie/host/msi.c
  drivers/pcie/host/pcie.c
  drivers/serial/uart_ns16550.c
  drivers/timer/apic_tsc.c
  include/arch/x86/arch.h
  include/device.h
  include/kernel.h
  include/kernel/thread_stack.h
  include/logging/log.h
  include/logging/log_core.h
  include/logging/log_msg2.h
  include/sys/bitarray.h
  include/sys/cbprintf.h
  include/sys/cbprintf_internal.h
  include/sys/device_mmio.h
  include/sys/dlist.h
  include/sys/list_gen.h
  include/sys/onoff.h
  include/sys/rb.h
  include/sys/time_units.h
  include/sys/util.h
  include/syscall_handler.h
  include/toolchain/common.h
  include/toolchain/gcc.h
  kernel/banner.c
  kernel/fatal.c
  kernel/idle.c
  kernel/include/kernel_internal.h
  kernel/include/mmu.h
  kernel/kheap.c
  kernel/mem_slab.c
  kernel/mmu.c
  kernel/sched.c
  kernel/system_work_q.c
  kernel/timeout.c
  kernel/timer.c
  lib/libc/minimal/source/stdout/fprintf.c
  lib/os/bitarray.c
  lib/os/cbprintf_complete.c
  lib/os/notify.c
  tests/benchmarks/footprints/src/timer.c
  tests/benchmarks/footprints/src/userspace.c
  tests/benchmarks/footprints/src/workq.c
Labels: area: Kernel, area: X86, area: Timer, area: API, area: Coding Guidelines

#41003 kernel: add 'static' keyword to select routines (Auditable Branch)
  include/kernel/sched_priq.h
  kernel/sched.c
Labels: area: Kernel, area: API, area: Coding Guidelines

#41059 boards: arm: pinetime: Enable ST7789v driver
  boards/arm/pinetime_devkit0/Kconfig.defconfig
Labels: area: Boards

#41069 ci: doc-build: disable parallel build
  .github/workflows/doc-build.yml
Labels: area: Documentation

#41072 ci: doc-build: use concurrency group to cancel in progress builds
  .github/workflows/doc-build.yml
Labels: area: Documentation

#41070 doc: extensions: link-roles: hide stderr for git describe
  doc/_extensions/zephyr/link-roles.py
Labels: area: Documentation

#41094 twister: remove redundant required for generate-hardware-map
  scripts/twister
Labels: bug, Hotfix, area: Twister

#41087 board: nucleo_h745zi_q: enable POWER_SUPPLY_DIRECT_SMPS
  boards/arm/nucleo_h745zi_q/nucleo_h745zi_q_m7_defconfig
Labels: area: Boards, platform: STM32

#40803 samples/drivers: led_pca9633: Convert to build_only
  samples/drivers/led_pca9633/sample.yaml
Labels: area: Samples, area: LED

#41104 stmemsc: make use of i2c/spi dt APIs
  drivers/sensor/stmemsc/stmemsc_i2c.c
  drivers/sensor/stmemsc/stmemsc_spi.c
Labels: area: Drivers, area: Sensors

#40934 build: Remove unused functions
  kernel/sched.c
  lib/os/mpsc_pbuf.c
  lib/os/ring_buffer.c
Labels: area: Kernel, area: Base OS

#41092 lib/os/heap: use BIT() and BIT_MASK() on bit fields
  lib/os/heap-validate.c
  lib/os/heap.c
Labels: area: Base OS

#41068 doc: reference: promote the canbus subsystem documentation
  CODEOWNERS
  MAINTAINERS.yml
  doc/reference/canbus/controller.rst
  doc/reference/canbus/index.rst
  doc/reference/canbus/isotp.rst
  doc/reference/canbus/isotp_sequence.svg
  doc/reference/canbus/timing.svg
  doc/reference/canbus/transceiver.svg
  doc/reference/index.rst
  doc/reference/networking/can.rst
  doc/reference/networking/index.rst
Labels: area: Process, area: Documentation, area: CAN

#41115 scripts/pylib/twister: Add sn option to stm32cubeprogrgammer runner
  scripts/pylib/twister/twisterlib.py
Labels: area: Twister

#40954 kernel: work: remove unused if statement
  kernel/work.c
Labels: area: Kernel

#41060 Bluetooth: Fix build error for printing LTK
  subsys/bluetooth/host/keys.c
Labels: area: Bluetooth, area: Bluetooth Host

#41071 kernel: add 'static' keyword to select routines
  include/kernel/sched_priq.h
  kernel/sched.c
Labels: area: Kernel, area: API

#41121 tests: coredump: skip acrn_ehl_crb
  tests/subsys/debug/coredump/testcase.yaml
  tests/subsys/debug/coredump_backends/testcase.yaml
Labels: area: Tests

#41013 Revert "soc: cavs_v25: increase core count default to 4"
  soc/xtensa/intel_adsp/cavs_v25/Kconfig.defconfig.series
Labels: bug, priority: high, area: Xtensa, Trivial, platform: Intel CAVS

#41113 ci: doc-build: skip Kconfig docs build on pull requests
  .github/workflows/doc-build.yml
Labels: area: Documentation, area: Continuous Integration

#40930 doc: samples: display: update documentation
  samples/subsys/display/cfb/README.rst
  samples/subsys/display/cfb_custom_font/README.rst
  samples/subsys/display/cfb_shell/README.rst
  samples/subsys/display/grove_display/README.rst
  samples/subsys/display/lvgl/README.rst
  samples/subsys/display/lvgl/sample.yaml
Labels: area: Documentation, area: Samples, area: Display

#41123 samples, modules: tflite-micro: reduce sample test case noise
  samples/modules/tflite-micro/hello_world/src/main.c
Labels: area: Samples, area: Modules

#40766 Bluetooth: host: Enable CONFIG_BT_SETTINGS_CCC_STORE_ON_WRITE
  doc/releases/release-notes-3.0.rst
  subsys/bluetooth/host/Kconfig
Labels: area: Bluetooth, area: Documentation, Release Notes, area: Bluetooth Host

#40913 drivers: gpio: set all on-chip gpios to PRE_KERNEL_1/2 init
  drivers/gpio/gpio_andes_atcgpio100.c
  drivers/gpio/gpio_b91.c
  drivers/gpio/gpio_cc13xx_cc26xx.c
  drivers/gpio/gpio_cmsdk_ahb.c
  drivers/gpio/gpio_dw.c
  drivers/gpio/gpio_eos_s3.c
  drivers/gpio/gpio_imx.c
  drivers/gpio/gpio_ite_it8xxx2.c
  drivers/gpio/gpio_lpc11u6x.c
  drivers/gpio/gpio_mchp_xec.c
  drivers/gpio/gpio_mchp_xec_v2.c
  drivers/gpio/gpio_mcux_lpc.c
  drivers/gpio/gpio_neorv32.c
  drivers/gpio/gpio_npcx.c
  drivers/gpio/gpio_psoc6.c
  drivers/gpio/gpio_rcar.c
  drivers/gpio/gpio_rv32m1.c
  drivers/gpio/gpio_sam.c
  drivers/gpio/gpio_sam0.c
  drivers/gpio/gpio_sam4l.c
  drivers/gpio/gpio_sifive.c
  drivers/gpio/gpio_xlnx_axi.c
Labels: area: GPIO, platform: NXP, platform: Microchip, platform: ITE, platform: Nuvoton_NPCX

#40949 tests: improve the testcases of queue
  tests/kernel/queue/src/test_queue_fail.c
Labels: area: Kernel, area: Tests

#41032 driver: espi: it8xxx2: enable CONFIG_ESPI_FLASH_CHANNEL
  drivers/espi/Kconfig.it8xxx2
  drivers/espi/espi_it8xxx2.c
Labels: area: eSPI, platform: ITE

#41076 tests: drivers: pwm_loopback: nucleo_h743zi: change PWM output pin
  tests/drivers/pwm/pwm_loopback/boards/nucleo_h743zi.overlay
Labels: area: PWM, platform: STM32, area: Tests

#41103 samples: net: google_iot_mqtt: Fix CI for the sample
  samples/net/cloud/google_iot_mqtt/CMakeLists.txt
  samples/net/cloud/google_iot_mqtt/sample.yaml
  samples/net/cloud/google_iot_mqtt/src/main.c
  samples/net/cloud/google_iot_mqtt/src/private_info/test_key.c
  samples/net/cloud/google_iot_mqtt/src/protocol.c
Labels: area: Networking, area: Build System, area: Samples

#41101 Bluetooth: Mesh: check cfg cli status param
  subsys/bluetooth/mesh/cfg_cli.c
Labels: area: Bluetooth, area: Bluetooth Mesh

#40979 dts: arm: npcx: Add PSL_IN3/4 for initial pin config
  dts/arm/nuvoton/npcx7.dtsi
  dts/arm/nuvoton/npcx9.dtsi
Labels: area: Devicetree, platform: Nuvoton_NPCX, platform: Nuvoton_Numicro

#41083 pm: device runtime: Fix enable() inconsistences
  subsys/pm/device_runtime.c
Labels: area: Power Management

#41042 samples: net: google_iot_mqtt: Change read publish to blocking
  samples/net/cloud/google_iot_mqtt/src/protocol.c
Labels: area: Networking, area: Samples

#40085 scripts: build meta file workspace status extension
  CMakeLists.txt
  Kconfig.zephyr
  scripts/zephyr_module.py
Labels: area: Build System, area: Kconfig

#40233 doc: restore environment variables page
  doc/application/index.rst
  doc/guides/env_vars.rst
  doc/guides/index.rst
  doc/guides/zephyr_cmake_package.rst
Labels: area: Documentation

#41134 tests: work: exclude hifive1 board
  tests/kernel/workq/work/testcase.yaml
Labels: area: Kernel, area: Tests

#40606 kernel: Bring back object tracking
  doc/guides/debug_tools/tracing/index.rst
  include/kernel.h
  include/tracing/tracing.h
  include/tracing/tracing_macros.h
  include/tracing/tracking.h
  subsys/tracing/CMakeLists.txt
  subsys/tracing/Kconfig
  subsys/tracing/tracing_tracking.c
  tests/kernel/obj_tracking/CMakeLists.txt
  tests/kernel/obj_tracking/prj.conf
  tests/kernel/obj_tracking/src/main.c
  tests/kernel/obj_tracking/testcase.yaml
Labels: area: Kernel, area: Documentation, area: Tests, area: API

#41149 boards: nucleo_wb55rg: Add stm32cubeprogrammer runner
  boards/arm/nucleo_wb55rg/board.cmake
Labels: area: Boards, platform: STM32

#40611 drivers: ramdisk: add checks for the upper boundary
  drivers/disk/ramdisk.c
Labels: area: Drivers, area: Disk Access

#41114 tfm: kconfig: make ITS size configurable
  modules/trusted-firmware-m/CMakeLists.txt
  modules/trusted-firmware-m/Kconfig.tfm
Labels: area: Build System, area: Modules, area: TF-M

#41174 release: v2.7.1 release notes
  doc/releases/release-notes-2.7.rst
Labels: area: Documentation, Release Notes

#41038 bluetooth: tester: allow to set DisplayYesNo IO capability
  tests/bluetooth/tester/src/gap.c
Labels: area: Bluetooth, area: Tests, Bluetooth Qualification, backport v2.7-branch

#41168 dts: arm: Fix warning on STM32L010XB boards
  dts/arm/st/l0/stm32l010Xb.dtsi
Labels: area: Networking, area: Devicetree, platform: STM32

#40293 Add mimx8ml8 m7 support
  boards/arm/mimx8mp_evk/CMakeLists.txt
  boards/arm/mimx8mp_evk/Kconfig.board
  boards/arm/mimx8mp_evk/Kconfig.defconfig
  boards/arm/mimx8mp_evk/board.cmake
  boards/arm/mimx8mp_evk/doc/img/I.MX8MPLUS-PLUS-EVK-TOP.png
  boards/arm/mimx8mp_evk/doc/index.rst
  boards/arm/mimx8mp_evk/mimx8mp_evk_ddr.dts
  boards/arm/mimx8mp_evk/mimx8mp_evk_ddr.yaml
  boards/arm/mimx8mp_evk/mimx8mp_evk_ddr_defconfig
  boards/arm/mimx8mp_evk/mimx8mp_evk_itcm.dts
  boards/arm/mimx8mp_evk/mimx8mp_evk_itcm.yaml
  boards/arm/mimx8mp_evk/mimx8mp_evk_itcm_defconfig
  boards/arm/mimx8mp_evk/pinmux.c
  dts/arm/nxp/nxp_imx8ml_m7.dtsi
  include/dt-bindings/rdc/imx_rdc.h
  soc/arm/nxp_imx/Kconfig
  soc/arm/nxp_imx/mimx8ml8_m7/CMakeLists.txt
  soc/arm/nxp_imx/mimx8ml8_m7/Kconfig.defconfig.mimx8ml8_m7
  soc/arm/nxp_imx/mimx8ml8_m7/Kconfig.defconfig.series
  soc/arm/nxp_imx/mimx8ml8_m7/Kconfig.series
  soc/arm/nxp_imx/mimx8ml8_m7/Kconfig.soc
  soc/arm/nxp_imx/mimx8ml8_m7/linker.ld
  soc/arm/nxp_imx/mimx8ml8_m7/mpu_regions.c
  soc/arm/nxp_imx/mimx8ml8_m7/soc.c
  soc/arm/nxp_imx/mimx8ml8_m7/soc.h
Labels: area: Build System, area: Boards, area: Documentation, area: Devicetree, platform: NXP, area: API, area: Modules, area: Devicetree Binding, manifest, west, manifest-hal_nxp

#40937 drivers: adc: stm32: Disable ADC before calibration
  drivers/adc/adc_stm32.c
Labels: area: ADC, platform: STM32

#41145 MAINTAINERS: Add files-exclude for Bluetooth sub-subsystems
  MAINTAINERS.yml
Labels: area: Process

#41176 driver: i2c: npcx: adjust parameters for better I2C timing at 100 KHz
  drivers/i2c/i2c_npcx_controller.c
Labels: area: I2C, platform: Nuvoton_NPCX

#41182 cmake: Update messages mode using INFO to the correct mode STATUS
  samples/drivers/ipm/ipm_mcux/CMakeLists.txt
  samples/drivers/ipm/ipm_mcux/remote/CMakeLists.txt
  samples/drivers/mbox/CMakeLists.txt
  samples/drivers/mbox/remote/CMakeLists.txt
  samples/subsys/ipc/ipc_service/static_vrings_mi/CMakeLists.txt
  samples/subsys/ipc/ipc_service/static_vrings_mi/remote/CMakeLists.txt
  samples/subsys/ipc/openamp/CMakeLists.txt
  samples/subsys/ipc/openamp/remote/CMakeLists.txt
  samples/subsys/ipc/rpmsg_service/CMakeLists.txt
  samples/subsys/ipc/rpmsg_service/remote/CMakeLists.txt
Labels: area: Build System, area: Samples, area: IPC

#41246 pm: device: Account state locked in action_run
  include/pm/device.h
  subsys/pm/device.c
Labels: area: Power Management, area: API

#41245 subsys: pm: Fix address of cpus_states variable
  subsys/pm/policy/residency.c
Labels: area: Power Management

#41239 docs: Adds syscall tracing to tracing docs
  doc/guides/debug_tools/tracing/index.rst
  include/tracing/tracing_syscall.h
Labels: area: Documentation, area: API

#40891 samples: enlarge the stack size to run a sample successfully
  samples/subsys/portability/cmsis_rtos_v1/philosophers/prj.conf
  samples/subsys/portability/cmsis_rtos_v1/philosophers/sample.yaml
  samples/subsys/portability/cmsis_rtos_v1/philosophers/src/main.c
Labels: area: Samples

#41206 modules: hal_nordic: Add CCA macros when nRF Radio Driver is enabled
  modules/hal_nordic/nrf_802154/CMakeLists.txt
Labels: area: Build System, area: Modules

#40484 littlefs : Upgrade to v2.4.1 in west manifest
  west.yml
Labels: area: File System, area: Tests, area: Modules, manifest, west, manifest-littlefs

#40975 soc/intel_adsp: cavs-link.ld: add *(.trace_ctx) sections
  soc/xtensa/intel_adsp/common/include/cavs-link.ld
Labels: bug, area: Logging, area: Xtensa, area: Linker Scripts, platform: Intel CAVS

#41116 drivers/uart: stm32: don't call k_yield on poll_out
  drivers/serial/uart_stm32.c
Labels: area: UART, platform: STM32

#41129 shields: mikroe_eth_click: Fix CS pins for LPC55S69
  boards/shields/mikroe_eth_click/boards/lpcxpresso55s69_cpu0.overlay
  boards/shields/mikroe_eth_click/boards/lpcxpresso55s69_ns.overlay
Labels: area: Boards, platform: NXP, area: Shields

#40475 Remove autonomous calls to stream control point operations from endpoint.c
  subsys/bluetooth/host/audio/endpoint.c
Labels: area: Bluetooth, area: Samples, area: Tests, area: API, area: Bluetooth Host, area: Bluetooth Audio

#41269 modules: hal_nordic: Update nrfx to version 2.7.0
  west.yml
Labels: area: Modules, manifest, west, manifest-hal_nordic

#41229 cmake: remove CMake policy CMP0002 and CMP0116
  cmake/app/boilerplate.cmake
Labels: area: Build System

#41238 tests: fix typos and misnamed platforms
  samples/boards/arc_secure_services/sample.yaml
  samples/drivers/counter/maxim_ds3231/sample.yaml
  samples/subsys/ipc/ipc_service/static_vrings_mi/sample.yaml
  samples/subsys/ipc/openamp/sample.yaml
  samples/subsys/ipc/rpmsg_service/sample.yaml
  samples/tfm_integration/tfm_secure_partition/sample.yaml
  tests/drivers/build_all/ieee802154/testcase.yaml
  tests/drivers/flash/testcase.yaml
  tests/kernel/workq/critical/testcase.yaml
  tests/posix/common/testcase.yaml
  tests/subsys/jwt/testcase.yaml
  tests/subsys/storage/stream/stream_flash/testcase.yaml
Labels: area: Kernel, area: Samples, area: Flash, area: IPC, area: Tests, area: Storage, area: POSIX, area: TF-M

#41252 soc: mimxrt11xx: Fix CAN peripheral for RT11xx
  dts/arm/nxp/nxp_rt11xx.dtsi
  soc/arm/nxp_imx/rt/soc_rt11xx.c
Labels: area: Devicetree, platform: NXP, area: CAN

#41161 drivers: dma_stm32: init DMA struct in dma_stm32_configure
  drivers/dma/dma_stm32.c
Labels: area: DMA, platform: STM32

#41315 doc: development_process: splitting up commits is justified
  doc/development_process/dev_env_and_tools.rst
Labels: area: Documentation

#40117 lib: newlib: add heap event listener
  include/sys/heap_listener.h
  lib/libc/Kconfig
  lib/libc/newlib/libc-hooks.c
  lib/os/CMakeLists.txt
  lib/os/Kconfig
  lib/os/heap_listener.c
  tests/lib/newlib/heap_listener/CMakeLists.txt
  tests/lib/newlib/heap_listener/prj.conf
  tests/lib/newlib/heap_listener/src/main.c
  tests/lib/newlib/heap_listener/testcase.yaml
Labels: area: Build System, area: C Library, area: Tests, area: API, DNM, area: Base OS

#41158 net: lwm2m: Update LwM2M server object to v1.1
  subsys/net/lib/lwm2m/Kconfig
  subsys/net/lib/lwm2m/lwm2m_obj_server.c
  subsys/net/lib/lwm2m/lwm2m_rd_client.c
  subsys/net/lib/lwm2m/lwm2m_rd_client.h
Labels: area: Networking, area: LWM2M

#41280 device.h: clean up doxygen comments
  include/device.h
Labels: area: Documentation, area: API, area: Device Model

#41274 drivers: spi: stm32 spi driver using ll_func as defined in the header
  drivers/spi/spi_ll_stm32.c
Labels: area: SPI, platform: STM32

#41142 drivers: sensors: tmp112 fix config register updating
  drivers/sensor/tmp112/tmp112.c
Labels: area: Sensors
