Repository zephyrproject-rtos/zephyr, pull requests merged in 2021-09, with the labels that each got.

#38185 cmake: extensions: fix copy/paste issues in DT error messages
  cmake/extensions.cmake
Labels: area: Build System, Trivial

#38152 .github: update action-manifest SHA
  .github/workflows/manifest.yml
Labels: area: Continuous Integration

#37904 net: openthread: allow to enable/disable TCP
  subsys/net/l2/openthread/Kconfig.thread
  subsys/net/lib/openthread/platform/openthread-core-zephyr-config.h
Labels: area: Networking, area: OpenThread

#38028 boards: bl654_usb: add zephyr,bt-c2h-uart property
  boards/arm/bl654_usb/bl654_usb.dts
Labels: area: Boards, area: Devicetree

#38091 drivers: serial: uart_sam0: Fix tx interrupt behaviour
  drivers/serial/uart_sam0.c
Labels: area: Drivers, area: UART, platform: Atmel, area: modbus

#38155 usb: class: cdc_acm: Add check for irq_ena in cdc_acm_irq_tx_ready function
  subsys/usb/class/cdc_acm.c
Labels: area: UART, area: USB

#37783 drivers: flash: add specific api for access flash_simulator RAM
  drivers/flash/flash_simulator.c
  include/drivers/flash/flash_simulator.h
  tests/drivers/flash_simulator/src/main.c
Labels: area: Flash, area: Tests, area: API

#38190 drivers/flash/flash_simulator: allow to disable statistic
  drivers/flash/Kconfig.simulator
  drivers/flash/flash_simulator.c
Labels: area: Drivers, area: Flash

#37849 drivers: modem: hl7800: fix COPS handler
  drivers/modem/hl7800.c
Labels: bug, priority: low, area: Modem

#38198 Bluetooth: ISO: Pointer check in bt_iso_connected was incorrect
  subsys/bluetooth/host/iso.c
Labels: bug, area: Bluetooth, area: Bluetooth Host, area: Bluetooth ISO

#37860 logging: fs: Remove littlefs dependency
  subsys/logging/CMakeLists.txt
  subsys/logging/Kconfig.backends
Labels: area: Logging

#37875 twister: Fix execution of twister in makefile environment
  scripts/pylib/twister/twisterlib.py
Labels: area: Twister

#37808 drivers: modem: hl7800: Add location services
  drivers/modem/Kconfig.hl7800
  drivers/modem/hl7800.c
  include/drivers/modem/hl7800.h
Labels: area: API, area: Modem

#38164 Bluetooth: ISO: Update BIS index to start from 0x01
  include/bluetooth/iso.h
  samples/bluetooth/iso_broadcast_benchmark/src/receiver.c
  samples/bluetooth/iso_receive/src/main.c
  subsys/bluetooth/host/iso.c
Labels: area: Bluetooth, area: Samples, area: API, area: Bluetooth Host, area: Bluetooth ISO

#38213 soc: andes_v5: linker: fix many linker symbols name
  soc/riscv/riscv-privilege/andes_v5/ae350/linker.ld
Labels: bug, area: RISCV, Hotfix

#38217 Bluetooth: ISO: Fix build on native_posix_64 with debug
  subsys/bluetooth/host/iso.c
Labels: bug, area: Bluetooth, Hotfix, Trivial, area: Bluetooth ISO

#37813 drivers: modem: hl7800 Add Site Survey
  drivers/modem/hl7800.c
  include/drivers/modem/hl7800.h
Labels: area: API, area: Modem

#38220 dts/arm: stm32l5: Fix flash controller compatible
  dts/arm/st/l5/stm32l5.dtsi
Labels: bug, area: Devicetree, platform: STM32, Hotfix

#38183 drivers: dma: Zero-initialize memory allocated using kmalloc
  drivers/dma/dma_mcux_lpc.c
Labels: platform: NXP

#38225 usb: Fix building error in usb_descriptor with misra test
  subsys/usb/usb_descriptor.c
Labels: bug, area: USB, Hotfix

#38223 ci: bump to docker image 0.18.3
  .buildkite/daily.yml
  .buildkite/pipeline.yml
  .github/workflows/bsim.yaml
  .github/workflows/clang.yaml
  .github/workflows/errno.yml
  .github/workflows/footprint-tracking.yml
  .github/workflows/footprint.yml
Labels: bug, Hotfix

#37737 scripts: add script to extract top-ten bug-bashers
  CODEOWNERS
  scripts/release/bug_bash.py
  scripts/requirements-extras.txt
Labels: Trivial, area: scripts

#37901 kernel: Remove unused timeout_q from z_kernel
  include/kernel_structs.h
  kernel/init.c
Labels: area: Kernel, area: API

#38230 drivers: flash: Kconfig.sam: Fix depends on
  drivers/flash/Kconfig.sam
Labels: bug, priority: low, area: Flash, platform: Atmel, area: Kconfig, Hotfix

#38194 Bluetooth: ISO: Add sent callback
  include/bluetooth/iso.h
  subsys/bluetooth/host/iso.c
Labels: area: Bluetooth, area: API, area: Bluetooth Host, area: Bluetooth ISO

#38227 drivers: can: mcux_flexcan: fix irq connect
  drivers/can/can_mcux_flexcan.c
Labels: bug, platform: NXP, area: CAN

#38224 west.yml: hal_stm32: Fix unused var in stm32f4 hal
  west.yml
Labels: Hotfix, area: Modules, manifest, west, manifest-hal_stm32

#37854 mgmt: updatehub: Use coap_packet_get_payload function
  subsys/mgmt/updatehub/updatehub.c
Labels: bug, priority: low, area: Device Management, Regression

#38261 lib: newlib: Add workaround for #38258
  lib/libc/newlib/libc-hooks.c
Labels: area: C Library, area: Xtensa, Hotfix, area: newlib

#38263 drivers: flash: Kconfig.sam: -depends on and +dfu sample exclude
  drivers/flash/Kconfig.sam
  samples/subsys/usb/dfu/sample.yaml
Labels: area: Samples

#38231 samples: bluetooth: Fix scan filter
  samples/bluetooth/central_ht/src/main.c
Labels: area: Bluetooth, area: Samples, Trivial

#37331 net: socket: fix significant buffer tls send
  subsys/net/lib/sockets/sockets_tls.c
Labels: area: Networking, area: Sockets

#38033 net: mqtt: check mqtt_abort() function parameters before locking
  subsys/net/lib/mqtt/mqtt.c
Labels: bug, area: Networking, Trivial

#38188 lib/os/cbprintf_nano.c: avoid sign extension on unsigned formats
  lib/os/cbprintf_nano.c
  tests/kernel/common/src/printk.c
  tests/unit/cbprintf/main.c
Labels: area: Kernel, area: Tests, area: Base OS, backport v2.6-branch

#38244 Bluetooth: Host: Fix MPU fault due to incorrect EV_COUNT
  subsys/bluetooth/host/hci_core.c
Labels: area: Bluetooth, area: Bluetooth Host

#38250 Bluetooth: mesh: Fail provisioning when RFU values are used
  subsys/bluetooth/mesh/prov_device.c
Labels: bug, area: Bluetooth, area: Bluetooth Mesh

#38203 shell: uart: Add waiting on DTR signal before sending data
  subsys/shell/Kconfig.backends
  subsys/shell/shell_uart.c
Labels: area: Shell

#38080 cmake: Populate var CMAKE_GCOV
  cmake/compiler/arcmwdt/generic.cmake
  cmake/compiler/clang/generic.cmake
  cmake/compiler/gcc/generic.cmake
  cmake/compiler/host-gcc/generic.cmake
  cmake/compiler/xcc/generic.cmake
Labels: area: Build System

#38083 Fix a few typos in docs/messages
  doc/guides/dts/intro.rst
  include/console/console.h
  samples/bluetooth/peripheral_hids/prj.conf
  samples/subsys/settings/src/main.c
Labels: area: Bluetooth, area: Documentation, area: Samples, area: Devicetree, area: Console, area: API

#38265 Bluetooth: iso: Fixes ISO paramter checking issues
  subsys/bluetooth/host/iso.c
Labels: bug, area: Bluetooth, Trivial, area: Bluetooth Host, area: Bluetooth ISO

#38270 Bluetooth: Mesh: Fix missing destructor function
  subsys/bluetooth/mesh/adv.c
  subsys/bluetooth/mesh/adv.h
  subsys/bluetooth/mesh/friend.c
Labels: bug, area: Bluetooth, area: Bluetooth Mesh

#38266 cmake: remove deprecated `set_conf_file()` support
  cmake/app/boilerplate.cmake
Labels: area: Build System

#38267 cmake: remove ADDITIONAL_MAKE_CLEAN_FILES for CMake <3.15
  CMakeLists.txt
Labels: area: Build System, Trivial

#38247 ITE: soc: it8xxx2: move the timer registers to header file
  drivers/timer/ite_it8xxx2_timer.c
  soc/riscv/riscv-ite/common/chip_chipregs.h
Labels: area: RISCV, area: Timer, platform: ITE

#38206 doc: Document the switch from Slack to Discord
  README.rst
  doc/contribute/index.rst
  doc/getting_started/index.rst
Labels: area: Documentation

#38286 boards: 96b_wistrio: use GPIO API to configure pull-up
  boards/arm/96b_wistrio/CMakeLists.txt
  boards/arm/96b_wistrio/pins.c
Labels: area: Boards, area: Pinmux, platform: STM32

#38221 kernel/mem_slab: reorder Z_MEM_SLAB_INITIALIZER() initializers
  include/kernel.h
Labels: bug, area: Kernel, area: API, Trivial, area: C++

#37383 boards: arm: Add Dragino NBSN95 NB-IoT node
  boards/arm/dragino_nbsn95/Kconfig.board
  boards/arm/dragino_nbsn95/Kconfig.defconfig
  boards/arm/dragino_nbsn95/board.cmake
  boards/arm/dragino_nbsn95/doc/img/dragino_nbsn95.png
  boards/arm/dragino_nbsn95/doc/index.rst
  boards/arm/dragino_nbsn95/dragino_nbsn95.dts
  boards/arm/dragino_nbsn95/dragino_nbsn95.yaml
  boards/arm/dragino_nbsn95/dragino_nbsn95_defconfig
  boards/arm/dragino_nbsn95/support/openocd.cfg
Labels: area: Boards, area: Documentation, area: Devicetree, platform: STM32

#38248 ITE: soc: it8xxx2: export PLL control routine to the head file
  soc/riscv/riscv-ite/common/soc_common.h
Labels: area: RISCV, platform: ITE

#38249 ITE: soc: it8xxx2: add initialization setting for hibernate mode
  soc/riscv/riscv-ite/it8xxx2/soc.c
Labels: area: RISCV, platform: ITE

#38241 ITE maintainers: update maintained files of ITE Platform
  MAINTAINERS.yml
Labels: area: Process

#38238 dts: arm: stm32h7 introducing the stm32h723xE device
  dts/arm/st/h7/stm32h723Xe.dtsi
Labels: area: Devicetree, platform: STM32

#38174 soc/arm: stm32wb: Default C2 power mode to SHUTDOWN
  soc/arm/st_stm32/stm32wb/soc.c
Labels: platform: STM32

#37799 pcie: shell: Print more MSI / MSI-X information
  drivers/pcie/host/shell.c
  include/drivers/pcie/msi.h
Labels: area: API, area: PCI

#37702 drivers: adc: add PGA gain value
  include/drivers/adc.h
Labels: area: ADC, area: API

#37534 boards: efr32mg_sltb004a: Add minimal pwm support
  boards/arm/efr32mg_sltb004a/efr32mg_sltb004a.dts
  dts/arm/silabs/efr32mg.dtsi
  soc/arm/silabs_exx32/efr32mg12p/Kconfig.defconfig.efr32mg12p
Labels: area: Boards, area: Devicetree, platform: SiLabs

#37082 boards: mm_feather: add board support for Feather
  boards/arm/mm_feather/CMakeLists.txt
  boards/arm/mm_feather/Kconfig.board
  boards/arm/mm_feather/Kconfig.defconfig
  boards/arm/mm_feather/board.cmake
  boards/arm/mm_feather/doc/index.rst
  boards/arm/mm_feather/doc/mm_feather.jpg
  boards/arm/mm_feather/flexspi_nor_config.c
  boards/arm/mm_feather/mm_feather.dts
  boards/arm/mm_feather/mm_feather.yaml
  boards/arm/mm_feather/mm_feather_defconfig
  boards/arm/mm_feather/mmfeather_sdram_ini_dcd.c
  boards/arm/mm_feather/pinmux.c
Labels: area: Boards, area: Documentation, area: Devicetree

#36771 testsuite: suppress usage of setjmp in a testcode (rule 21_4-a)
  subsys/testsuite/ztest/src/ztest.c
Labels: area: Test Framework, area: MISRA-C, area: Coding Guidelines, area: Testsuite

#35583 riscv: Don't reschedule on back-to-back interrupts
  arch/riscv/core/isr.S
Labels: area: RISCV

#37523 posix: fix pthread for SMP platforms
  lib/posix/pthread_barrier.c
  lib/posix/pthread_cond.c
  lib/posix/pthread_mutex.c
Labels: bug, priority: medium, area: SMP, area: POSIX

#37831 tests: subsys: Adding testcases to check tracing APIs
  tests/subsys/tracing/tracing_api/CMakeLists.txt
  tests/subsys/tracing/tracing_api/prj.conf
  tests/subsys/tracing/tracing_api/src/main.c
  tests/subsys/tracing/tracing_api/testcase.yaml
Labels: area: Tests, area: Tracing

#38304 drivers/sensor: lps22hh: Fix int32 overflow in the val2 part
  drivers/sensor/lps22hh/lps22hh.c
Labels: bug, area: Drivers, area: Sensors

#38329 kernel: init: remove empty lcov exclusion
  kernel/init.c
Labels: area: Kernel, Trivial

#38312 Bluetooth: Mesh: Fix friend buf send end not called.
  subsys/bluetooth/mesh/adv.c
  subsys/bluetooth/mesh/adv.h
  subsys/bluetooth/mesh/friend.c
Labels: area: Bluetooth, area: Bluetooth Mesh

#38334 Bluetooth: sample: Add ISO support to hci_uart
  samples/bluetooth/hci_uart/src/main.c
Labels: area: Samples

#37920 mgmt/mcumgr: Add Kconfig option for direct image upload
  subsys/mgmt/mcumgr/Kconfig
Labels: bug, area: mcumgr

#37599 Tests: bluetooth: tester: find connection for get_attr_val_rp
  tests/bluetooth/tester/src/gatt.c
Labels: area: Bluetooth, area: Tests

#38320 Bluetooth: Controller: Fix multiple advertising set assert
  subsys/bluetooth/controller/ll_sw/ull_adv.c
  subsys/bluetooth/controller/ll_sw/ull_adv_aux.c
Labels: bug, area: Bluetooth, area: Bluetooth Controller

#38337 pinmux: stm32: remove redundant/dead code
  drivers/pinmux/pinmux_stm32.h
Labels: area: Pinmux, platform: STM32

#38324 logging: Add choice name in template
  subsys/logging/Kconfig.template.log_config
Labels: area: Logging

#37603 boards: fvp_base_revc_2xaemv8a: permit running Zephyr at EL1NS
  boards/arm64/fvp_base_revc_2xaemv8a/doc/index.rst
  cmake/emu/armfvp.cmake
Labels: area: Build System, area: Boards, area: Documentation, area: ARM64

#38020 cmake: emu: nsim: fix nsim props and args name
  boards/arc/nsim/board.cmake
  boards/arc/nsim/support/nsim_sem_mpu_stack_guard.args
  boards/arc/nsim/support/nsim_sem_mpu_stack_guard.props
Labels: area: Boards, area: ARC, platform: Synopsys

#38325 twister: when simulation is mdb-nsim, call make run
  scripts/pylib/twister/twisterlib.py
Labels: area: ARC, area: Twister

#38297 Bluetooth: Audio: Fix vcs_client_test duplicate conn_callbacks
  tests/bluetooth/bsim_bt/bsim_test_audio/src/vcs_client_test.c
Labels: bug, area: Tests, Trivial

#38288 Bluetooth: Audio: Rename broadcaster and make opaque type
  include/bluetooth/audio.h
  subsys/bluetooth/host/audio/bass_client.c
  subsys/bluetooth/host/audio/chan.c
  subsys/bluetooth/host/audio/endpoint.h
  subsys/bluetooth/shell/bap.c
  tests/bluetooth/bsim_bt/bsim_test_audio/src/broadcast_sink_test.c
  tests/bluetooth/bsim_bt/bsim_test_audio/src/broadcast_source_test.c
Labels: area: Bluetooth, area: Tests, area: API, area: Bluetooth Host, area: Bluetooth Audio

#38342 drivers: pinmux: stm32: fix remap equality check
  drivers/pinmux/pinmux_stm32.c
  drivers/pinmux/pinmux_stm32.h
Labels: bug, platform: STM32

#38175 doc: Bluetooth: Update ICSes to 8.0.3
  doc/guides/bluetooth/bluetooth-qual.rst
  doc/guides/bluetooth/dis-pics.rst
  doc/guides/bluetooth/gap-pics.rst
  doc/guides/bluetooth/gatt-pics.rst
  doc/guides/bluetooth/l2cap-pics.rst
  doc/guides/bluetooth/mesh-pics.rst
  doc/guides/bluetooth/sm-pics.rst
Labels: area: Bluetooth, area: Documentation

#38344 Bluetooth: ISO: Add missing negation for valid_chan_io_qos
  subsys/bluetooth/host/iso.c
Labels: bug, area: Bluetooth, Trivial, area: Bluetooth Host, area: Bluetooth ISO

#38159 tests: common: add test for ffs function
  tests/kernel/common/src/bitarray.c
  tests/kernel/common/src/main.c
Labels: area: Kernel, area: Tests

#38167 ARC: MWDT: add missing locking interface implementation
  lib/libc/arcmwdt/CMakeLists.txt
  lib/libc/arcmwdt/threading.c
Labels: bug, priority: medium, area: C Library, area: ARC, area: Tests

#38095 drivers: clock control stm32wb has MSI clock range to set
  drivers/clock_control/clock_stm32_ll_common.c
Labels: platform: STM32, area: Clock Control

#38360 Bluetooth: Mesh: Check if app key is bound in Model Publication Set
  subsys/bluetooth/mesh/access.c
  subsys/bluetooth/mesh/access.h
  subsys/bluetooth/mesh/cfg_srv.c
Labels: bug, priority: medium, area: Bluetooth, area: Bluetooth Mesh

#38368 drivers/timer/cavs_timer: Don't suppress smp_timer_init()
  drivers/timer/cavs_timer.c
Labels: area: Timer

#38367 samples: bluetooth: hci_uart: Fix command len calculation
  samples/bluetooth/hci_uart/src/main.c
Labels: area: Samples

#38331 soc: stm32g0: pm_power_ functions should be __weak
  soc/arm/st_stm32/stm32g0/power.c
Labels: platform: STM32

#38381 drivers: sensors: sht3xd: allow multiple instances
  drivers/sensor/sht3xd/sht3xd.c
Labels: area: Sensors

#38327 tests: subsys: fixed the samples/tracing code can not generate coverage
  subsys/tracing/test/tracing_string_format_test.c
Labels: area: Tracing

#38377 tests: benchmarks: latency_measure: fix potential div by zero
  tests/benchmarks/latency_measure/src/heap_malloc_free.c
Labels: area: Tests

#37844 Fix for TCP2 statemachine gets stuck in TCP_FIN_WAIT_2 state
  subsys/net/ip/tcp2.c
Labels: area: Networking

#38369 tests: newlib: thread_safety: Disable minimum newlib heap size check
  tests/lib/newlib/thread_safety/prj.conf
  tests/lib/newlib/thread_safety/prj_userspace.conf
Labels: bug, area: C Library, area: Tests

#38385 drivers: modem: gsm_ppp: Fix ppp_dev
  drivers/modem/gsm_ppp.c
Labels: Regression, area: Modem

#38330 doc: mcumgr: Mention udp in the transport overview
  doc/guides/device_mgmt/mcumgr.rst
Labels: area: Documentation, Trivial

#37631 Tests: bluetooth: tester: accomodate L2CAP connect commant to BTP change
  tests/bluetooth/tester/src/bttester.h
  tests/bluetooth/tester/src/l2cap.c
Labels: area: Tests, Bluetooth Qualification, area: Bluetooth Host

#37562 Bluetooth: host: add testing API (disconnect one EATT channel)
  include/bluetooth/att.h
  subsys/bluetooth/host/att.c
  tests/bluetooth/tester/src/bttester.h
  tests/bluetooth/tester/src/l2cap.c
Labels: area: Bluetooth, area: Test Framework, area: Tests, area: API, area: Bluetooth Host

#38366 docs: minor updates to PM docs
  doc/reference/power_management/index.rst
  subsys/pm/policy/Kconfig
Labels: area: Documentation, area: Power Management

#37493 cmsis_rtos_v1: decrease instances number in osThreadTerminate.
  include/portability/cmsis_os.h
  kernel/sched.c
  subsys/portability/cmsis_rtos_v1/Kconfig
  subsys/portability/cmsis_rtos_v1/cmsis_thread.c
  tests/subsys/portability/cmsis_rtos_v1/prj.conf
  tests/subsys/portability/cmsis_rtos_v1/src/thread_instance.c
Labels: area: Kernel, area: Tests, area: API

#37403 Bluetooth: Host: Allow setting more than 251 bytes of adv data
  subsys/bluetooth/host/adv.c
Labels: area: Bluetooth, area: Bluetooth Host

#38435 device: Fix device from handle function
  include/device.h
Labels: area: API

#38300 scripts: runners: openocd: Fix empty search path
  scripts/west_commands/runners/openocd.py
Labels: bug, priority: low, area: West, OpenOCD

#38422 arch: arm: core: aarch32: fix regression introduced with Cortex-R
  arch/arm/core/aarch32/userspace.S
Labels: bug, area: ARM

#38415 net: http: switch to zsock_ for http_client
  subsys/net/lib/http/http_client.c
Labels: area: Networking, area: Samples

#38390 net: tcp: accept [FIN, PSH, ACK] in TCP_FIN_WAIT_2 state
  subsys/net/ip/tcp2.c
Labels: area: Networking

#38158 tests: posix: common: clock: remove poorly conditioned tests
  tests/posix/common/src/clock.c
Labels: area: Tests

#38395 cmake: allow users to give runner args at cmake time
  cmake/extensions.cmake
Labels: area: Build System

#38389 net: shell: Fix assertion in net nbr command
  subsys/net/ip/net_shell.c
Labels: area: Networking

#37845 net: lwm2m: Fix unsigned integers ecoding in TLV
  subsys/net/lib/lwm2m/ipso_onoff_switch.c
  subsys/net/lib/lwm2m/ipso_push_button.c
  subsys/net/lib/lwm2m/lwm2m_engine.c
  subsys/net/lib/lwm2m/lwm2m_object.h
Labels: bug, area: Networking, area: LWM2M

#38388 Bluetooth: Audio: Unalign bt_audio_capability_ops functions
  include/bluetooth/audio.h
Labels: area: Bluetooth, area: API, area: Bluetooth Host, area: Bluetooth Audio

#38455 drivers: watchdog: fix missing stm32 LOG_LEVEL macro
  drivers/watchdog/wdt_wwdg_stm32.c
Labels: area: Watchdog, platform: STM32

#38355 libc/minimal: locate the memory pool for malloc() to .bss
  lib/libc/minimal/source/stdlib/malloc.c
Labels: area: C Library

#38419 twister: native_posix: Ignor filtering by toolchain for native_posix
  boards/posix/native_posix/native_posix.yaml
  boards/posix/native_posix/native_posix_64.yaml
  scripts/pylib/twister/twisterlib.py
Labels: area: Boards, area: native port, area: Twister

#38057 tests: kernel: timer api with real time slot in test_sleep_abs
  tests/kernel/timer/timer_api/src/main.c
Labels: area: Kernel, area: Tests

#38445 lib: libc: newlib: Fix userspace write() and read() mishap
  include/sys/libc-hooks.h
  lib/libc/arcmwdt/libc-hooks.c
  lib/libc/newlib/libc-hooks.c
Labels: bug, priority: medium, area: C Library, area: Base OS, area: newlib

#38333 cmake: fixing toolchain_parse_make_rule to correctly handle `\` files
  cmake/extensions.cmake
Labels: bug, area: Build System

#38066 stm32 LPTIMER interrupt priority set to 1
  dts/arm/st/g0/stm32g0.dtsi
  dts/arm/st/l0/stm32l0.dtsi
  dts/arm/st/l4/stm32l4.dtsi
  dts/arm/st/l5/stm32l5.dtsi
  dts/arm/st/wb/stm32wb.dtsi
  dts/arm/st/wl/stm32wl.dtsi
Labels: area: Kernel, area: Power Management, area: Devicetree, platform: STM32, area: Tests

#38451 west.yml: hal_stm32: Fix stm32u5 hal license
  west.yml
Labels: area: Modules, manifest, west, manifest-hal_stm32

#38472 PM: Stubs for when CONFIG_PM is not enabled
  include/pm/pm.h
Labels: area: Power Management, area: API

#38423 subsys: logging: log_core: add extra space in missed strdup err msg
  subsys/logging/log_core.c
Labels: area: Logging, Trivial

#38411 drivers: serial: ns16550: fix uart initialization
  drivers/serial/uart_ns16550.c
Labels: area: UART

#38469 dts: esp32s2: fix counter dt information
  dts/xtensa/espressif/esp32s2.dtsi
Labels: area: Xtensa, area: Devicetree, platform: ESP32

#38473 boards: arm: Reset Ethernet PHY after system timer on mimxrt1xxx_evk's
  boards/arm/mimxrt1020_evk/pinmux.c
  boards/arm/mimxrt1024_evk/pinmux.c
  boards/arm/mimxrt1050_evk/pinmux.c
  boards/arm/mimxrt1060_evk/pinmux.c
  boards/arm/mimxrt1064_evk/pinmux.c
  boards/arm/mimxrt1170_evk/pinmux.c
Labels: bug, area: Boards, platform: NXP

#38489 samples: led_ws2812: fix dma property in nucleo_f070rb.overlay
  samples/drivers/led_ws2812/boards/nucleo_f070rb.overlay
Labels: bug, area: Samples, area: LED

#38458 Bluetooth: Host: Doc fixup for rename of BT_SECURITY_L*
  doc/guides/bluetooth/bluetooth-arch.rst
  subsys/net/l2/Kconfig
Labels: area: Bluetooth, area: Networking, area: Documentation

#38464 Bluetooth: Mesh: Verify if Remote confirmation is not identical
  subsys/bluetooth/mesh/prov.h
  subsys/bluetooth/mesh/provisioner.c
Labels: area: Bluetooth, area: Bluetooth Mesh

#38195 Bluetooth: Controller: Properly terminate per adv HCI on failed rx
  subsys/bluetooth/controller/hci/hci.c
  subsys/bluetooth/controller/ll_sw/lll.h
  subsys/bluetooth/controller/ll_sw/nordic/lll/lll_sync.c
  subsys/bluetooth/controller/ll_sw/ull_scan_aux.c
Labels: area: Bluetooth, area: Bluetooth Controller

#38499 net: ipv6: fix NBR lock initialization
  subsys/net/ip/ipv6_nbr.c
Labels: bug, area: Networking

#38486 drivers: clock_control: nrf: fix cpp compatibility
  include/drivers/clock_control/nrf_clock_control.h
Labels: area: API

#38508 soc: arm: st_stm32: do not enable PM_DEVICE by default
  soc/arm/st_stm32/stm32g0/Kconfig.defconfig.series
  soc/arm/st_stm32/stm32l0/Kconfig.defconfig.series
  soc/arm/st_stm32/stm32l4/Kconfig.defconfig.series
  soc/arm/st_stm32/stm32l5/Kconfig.defconfig.series
  soc/arm/st_stm32/stm32wb/Kconfig.defconfig.series
  soc/arm/st_stm32/stm32wl/Kconfig.defconfig.series
Labels: bug, platform: STM32

#38397 soc: riscv: priv: call __reset during boot
  soc/riscv/litex-vexriscv/Kconfig.soc
  soc/riscv/riscv-privilege/andes_v5/Kconfig.soc
  soc/riscv/riscv-privilege/common/vector.S
  soc/riscv/riscv-privilege/miv/Kconfig.soc
  soc/riscv/riscv-privilege/sifive-freedom/Kconfig.soc
  soc/riscv/riscv-privilege/starfive_jh71xx/Kconfig.soc
  soc/riscv/riscv-privilege/telink_b91/Kconfig.soc
  soc/riscv/riscv-privilege/virt/Kconfig.soc
Labels: bug, area: RISCV

#38533 bugfix: sample: test: Add pass conditions to audio/dmic sample
  samples/drivers/audio/dmic/sample.yaml
Labels: area: Samples, Trivial

#38356 Bluetooth: Mesh: Inclusive terminology
  include/bluetooth/mesh/cdb.h
  subsys/bluetooth/mesh/friend.c
  subsys/bluetooth/mesh/gatt_services.c
  subsys/bluetooth/mesh/lpn.c
  subsys/bluetooth/mesh/net.c
Labels: area: Bluetooth, area: API, area: Bluetooth Mesh, Release Notes Required

#38530 manifest: update hal_nxp to fix FlexCAN on MKE1xF
  west.yml
Labels: bug, platform: NXP, area: CAN, area: Modules, manifest, west, manifest-hal_nxp

#38541 drivers/ivshmem: MSI API change was not applied in this drivers
  drivers/virtualization/virt_ivshmem.c
Labels: bug, area: PCI, Trivial

#38478 MAINTAINERS: Added myself as JSON maintainer
  MAINTAINERS.yml
Labels: area: Process, TSC

#38522 Bluetooth: Update terms in public API to spec v5.3
  doc/releases/release-notes-2.7.rst
  include/bluetooth/bluetooth.h
  include/bluetooth/conn.h
  samples/boards/bbc_microbit/pong/src/ble.c
  subsys/bluetooth/controller/hci/hci.c
  subsys/bluetooth/controller/ll_sw/ull_peripheral_iso.c
  subsys/bluetooth/host/CMakeLists.txt
  subsys/bluetooth/host/Kconfig
  subsys/bluetooth/host/adv.c
  subsys/bluetooth/host/br.c
  subsys/bluetooth/host/conn.c
  subsys/bluetooth/host/hci_core.c
  subsys/bluetooth/host/id.c
  subsys/bluetooth/host/scan.c
  subsys/bluetooth/host/smp.c
  subsys/bluetooth/mesh/gatt_services.c
  subsys/bluetooth/shell/bt.c
  tests/bluetooth/shell/prj.conf
Labels: area: Bluetooth, area: Documentation, area: Samples, area: Tests, area: API, Release Notes, area: Bluetooth Mesh, area: Bluetooth Controller, area: Bluetooth Host

#38444 tests: bluetooth: tester: Fix build with EATT disabled
  tests/bluetooth/tester/src/l2cap.c
Labels: area: Bluetooth, area: Tests, Bluetooth Qualification

#38465 stm32: Add FMAC support to Kconfig
  modules/Kconfig.stm32
Labels: platform: STM32, area: Modules

#38549 soc: riscv: ite: it8xxx2: guard SoC Kconfig options
  soc/riscv/riscv-ite/it8xxx2/Kconfig.soc
Labels: area: RISCV, area: Kconfig, Trivial, platform: ITE

#38528 Bluetooth: Object transfer service object ID mask define
  include/bluetooth/services/ots.h
  subsys/bluetooth/services/ots/ots_internal.h
  subsys/bluetooth/services/ots/ots_obj_manager.c
Labels: area: Bluetooth, area: API, Trivial, area: Bluetooth Host

#38537 bugfix: samples: display: Set ft800 sample to be build only
  samples/drivers/misc/ft800/sample.yaml
Labels: area: Samples, Trivial

#38232 Bluetooth: Controller: Fix incorrect common header length calc
  subsys/bluetooth/controller/hci/hci.c
Labels: bug, area: Bluetooth, area: Bluetooth Controller

#38547 tests: mem_map: limit memory below 0x10000000 on up_squared.
  tests/kernel/mem_protect/mem_map/boards/up_squared.overlay
Labels: area: Kernel, area: Tests, area: Userspace

#38539 drivers: modem: sara-r4: Replace snprintf calls by snprintk
  drivers/modem/ublox-sara-r4.c
Labels: area: Modem

#38594 Bluetooth: Host: Fix Periodic Advertising Sync using Advertiser Lists
  subsys/bluetooth/host/hci_core.h
  subsys/bluetooth/host/scan.c
Labels: bug, area: Bluetooth, area: Bluetooth Host

#38562 tests/drivers/uart: async_api: Enable test on nucleo_f103rb
  boards/arm/nucleo_f103rb/nucleo_f103rb.dts
  tests/drivers/uart/uart_async_api/src/test_uart.h
Labels: area: UART, area: Boards, area: Devicetree, platform: STM32, area: Tests

#37742 Bluetooth: Mesh: Test reprovisioning
  tests/bluetooth/bsim_bt/bsim_test_mesh/src/mesh_test.c
  tests/bluetooth/bsim_bt/bsim_test_mesh/src/test_provision.c
  tests/bluetooth/bsim_bt/bsim_test_mesh/src/test_scanner.c
  tests/bluetooth/bsim_bt/bsim_test_mesh/tests_scripts/provision/pb_adv_reprovision.sh
Labels: area: Bluetooth, area: Tests, area: Bluetooth Mesh

#38056 Bluetooth: host: Fix host send cmd complete to dis-conn
  subsys/bluetooth/host/buf.c
  subsys/bluetooth/host/hci_core.c
Labels: area: Bluetooth, area: Bluetooth Host

#38391 manifest: mcuboot update for bringing upstream bugfixes
  west.yml
Labels: bug, area: Modules, manifest, west, manifest-mcuboot

#37794 net: sockets: tls: Fix TLS/DTLS client POLLHUP notification
  subsys/net/lib/sockets/sockets_tls.c
Labels: area: Networking, area: Sockets

#38618 drivers: eth: mcux: Fix PTP clock init priority dependency
  drivers/ethernet/Kconfig.mcux
  drivers/ethernet/eth_mcux.c
Labels: area: Networking, platform: NXP

#38542 boards: Arduino Nano BLE 33: update documentation
  boards/arm/arduino_nano_33_ble/doc/index.rst
Labels: area: Boards, area: Documentation
