Repository zephyrproject-rtos/zephyr, pull requests merged in 2021-03, with the labels that each got.

#32687 spi: mcux flexcomm: Convert dma to use DEVICE_DT_GET
  drivers/spi/spi_mcux_flexcomm.c
Labels: area: SPI, platform: NXP

#32613 Bluetooth: controller: Remove vendor specific internal LLL include
  subsys/bluetooth/controller/hci/hci.c
  subsys/bluetooth/controller/ll_sw/ll_addr.c
  subsys/bluetooth/controller/ll_sw/ll_tx_pwr.c
  subsys/bluetooth/controller/ll_sw/lll_adv.h
  subsys/bluetooth/controller/ll_sw/lll_df.h
  subsys/bluetooth/controller/ll_sw/nordic/lll/lll_adv.c
  subsys/bluetooth/controller/ll_sw/nordic/lll/lll_adv_aux.c
  subsys/bluetooth/controller/ll_sw/nordic/lll/lll_adv_internal.h
  subsys/bluetooth/controller/ll_sw/nordic/lll/lll_adv_pdu.h
  subsys/bluetooth/controller/ll_sw/nordic/lll/lll_adv_sync.c
  subsys/bluetooth/controller/ll_sw/nordic/lll/lll_adv_types.h
  subsys/bluetooth/controller/ll_sw/nordic/lll/lll_df_internal.h
  subsys/bluetooth/controller/ll_sw/nordic/lll/lll_df_types.h
  subsys/bluetooth/controller/ll_sw/nrf.cmake
  subsys/bluetooth/controller/ll_sw/openisa.cmake
  subsys/bluetooth/controller/ll_sw/openisa/lll/lll_adv.c
  subsys/bluetooth/controller/ll_sw/openisa/lll/lll_adv_internal.h
  subsys/bluetooth/controller/ll_sw/openisa/lll/lll_adv_pdu.h
  subsys/bluetooth/controller/ll_sw/openisa/lll/lll_adv_types.h
  subsys/bluetooth/controller/ll_sw/ull.c
  subsys/bluetooth/controller/ll_sw/ull_adv.c
  subsys/bluetooth/controller/ll_sw/ull_adv_aux.c
  subsys/bluetooth/controller/ll_sw/ull_adv_iso.c
  subsys/bluetooth/controller/ll_sw/ull_adv_sync.c
  subsys/bluetooth/controller/ll_sw/ull_conn.c
  subsys/bluetooth/controller/ll_sw/ull_conn_iso.c
  subsys/bluetooth/controller/ll_sw/ull_df.c
  subsys/bluetooth/controller/ll_sw/ull_filter.c
  subsys/bluetooth/controller/ll_sw/ull_master.c
  subsys/bluetooth/controller/ll_sw/ull_scan.c
  subsys/bluetooth/controller/ll_sw/ull_scan_aux.c
  subsys/bluetooth/controller/ll_sw/ull_sched.c
  subsys/bluetooth/controller/ll_sw/ull_slave.c
  subsys/bluetooth/controller/ll_sw/ull_sync.c
  subsys/bluetooth/controller/ll_sw/ull_sync_iso.c
Labels: area: Bluetooth, area: Bluetooth Controller

#32524 subsys: testsuite: enable TEST_ARM_CORTEX_M only when building tests
  subsys/testsuite/Kconfig
Labels: Trivial, area: Test Framework, bug

#32553 board: arm: add ubx_bmd380eval_nrf52840
  boards/arm/ubx_bmd380eval_nrf52840/Kconfig
  boards/arm/ubx_bmd380eval_nrf52840/Kconfig.board
  boards/arm/ubx_bmd380eval_nrf52840/Kconfig.defconfig
  boards/arm/ubx_bmd380eval_nrf52840/board.cmake
  boards/arm/ubx_bmd380eval_nrf52840/doc/img/BMD-34-38-EVAL.png
  boards/arm/ubx_bmd380eval_nrf52840/doc/img/bmd-340-eval_pin_out.png
  boards/arm/ubx_bmd380eval_nrf52840/doc/index.rst
  boards/arm/ubx_bmd380eval_nrf52840/ubx_bmd380eval_nrf52840.dts
  boards/arm/ubx_bmd380eval_nrf52840/ubx_bmd380eval_nrf52840.yaml
  boards/arm/ubx_bmd380eval_nrf52840/ubx_bmd380eval_nrf52840_defconfig
  tests/drivers/adc/adc_api/src/test_adc.c
Labels: area: ADC, area: Boards, area: Devicetree, area: Documentation, area: Tests, platform: nRF

#32583 aarch64: mem_domain: Introduce k_mem_partition_attr_t
  include/arch/arm/aarch64/arch.h
  scripts/checkpatch/typedefsfile
Labels: area: API, area: ARM, area: ARM_64, area: Boards, area: Devicetree, area: Documentation

#32736 usb: mass storage: add missing prompt to Kconfig
  subsys/usb/class/Kconfig.msc
Labels: Trivial, area: USB

#32670 tests: kernel: fatal: add missing CONFIG_TEST=y in test suite
  tests/kernel/fatal/message_capture/prj.conf
Labels: Trivial, area: Kernel, area: Tests, bug

#32743 fs: shell: cmd_read does should open file for read-only
  subsys/fs/shell.c
Labels: Trivial, area: File System

#32706 tests: intel_s1000_crb: Convert dma to use DEVICE_DT_GET
  tests/boards/intel_s1000_crb/main/src/dma_test.c
Labels: area: Tests

#31821 test: kheap: add testcase to improve coverage
  tests/kernel/mem_heap/k_heap_api/src/main.c
  tests/kernel/mem_heap/k_heap_api/src/test_kheap_api.c
Labels: area: Kernel, area: Tests

#32716 stm32: dmamux: change initialization order to `PRE_KERNEL_1`
  drivers/dma/dmamux_stm32.c
Labels: area: DMA, platform: STM32

#31209 Kernel: poll: code coverage improvements
  tests/kernel/poll/prj.conf
  tests/kernel/poll/src/main.c
  tests/kernel/poll/src/test_poll_fail.c
  tests/kernel/poll/testcase.yaml
Labels: area: Kernel, area: Tests

#32318 shield: cmake: adjust `if(EXISTS <shield>.conf)` to check for right file
  cmake/app/boilerplate.cmake
Labels: area: Build System, bug

#32747 [TOPIC-BLE-LLCP] Bluetooth: controller: eliminate sanity-check warnings
  subsys/bluetooth/controller/ll_sw/ull_master.c
  tests/bluetooth/controller/mock_ctrl/include/hal/cpu_vendor_hal.h
  tests/bluetooth/controller/mock_ctrl/include/kconfig.h
Labels: area: Bluetooth, area: Bluetooth Controller, area: Tests

#32750 net: shell: UDP commands
  subsys/net/ip/net_shell.c
Labels: area: Networking

#32641 samples: sensor: set integration_platforms to frdm_k64f
  samples/sensor/sensor_shell/sample.yaml
  samples/sensor/thermometer/sample.yaml
Labels: area: Samples, area: Sensors

#32576 net: lwm2m: Make query buffer large enough to encode all query strings
  subsys/net/lib/lwm2m/lwm2m_rd_client.c
Labels: area: LWM2M, area: Networking

#32765 drivers: dma: nios2_msgdma: Conver to devicetree
  drivers/dma/dma_nios2_msgdma.c
  dts/bindings/dma/altr,msgdma.yaml
  dts/nios2/nios2f.dtsi
  tests/boards/altera_max10/msgdma/src/dma.c
Labels: area: DMA, area: Devicetree, area: Devicetree Binding, area: Tests

#32752 Bluetooth: controller: Fix ticker to avoid recursive ticker_job
  subsys/bluetooth/controller/ticker/ticker.c
Labels: area: Bluetooth, area: Bluetooth Controller

#32767 test: heap : improve coverage to mempool.c
  tests/kernel/mem_heap/mheap_api_concept/CMakeLists.txt
  tests/kernel/mem_heap/mheap_api_concept/prj.conf
  tests/kernel/mem_heap/mheap_api_concept/src/main.c
  tests/kernel/mem_heap/mheap_api_concept/src/test_mheap.h
  tests/kernel/mem_heap/mheap_api_concept/src/test_mheap_api.c
Labels: area: Kernel, area: Tests

#31211 tests: poll: code coverage improve in workq testcase
  tests/kernel/workq/work_queue_api/src/main.c
Labels: area: Kernel, area: Tests

#31012 kernel: mailbox: Add some testcases for mailboxs
  tests/kernel/mbox/mbox_api/src/main.c
  tests/kernel/mbox/mbox_api/src/test_mbox_api.c
Labels: area: Kernel, area: Tests

#32711 drivers: timer: reduce max cycles of riscv machine timer
  drivers/timer/riscv_machine_timer.c
Labels: area: Timer

#32615 aarch64: restore natural order in struct __esf
  include/arch/arm/aarch64/exc.h
Labels: area: API, area: ARM, area: ARM_64

#32761 kernel: sched: change to 3-way thread priority comparison
  kernel/include/ksched.h
  kernel/poll.c
  kernel/sched.c
Labels: area: Kernel

#30923 test: thread_api: refine test coverage of thread_api
  tests/kernel/threads/thread_apis/prj.conf
  tests/kernel/threads/thread_apis/src/main.c
  tests/kernel/threads/thread_apis/src/test_kthread_for_each.c
  tests/kernel/threads/thread_apis/src/test_threads_spawn.c
Labels: area: Kernel, area: Tests

#31507 tests: common: add test case for testing errno
  tests/kernel/common/src/errno.c
  tests/kernel/common/src/main.c
Labels: area: Kernel, area: Tests

#32762 kernel: sched: avoid unnecessary lock in z_impl_k_yield
  kernel/sched.c
Labels: area: Kernel

#32790 Revert "drivers/timer/hpet: Extend qemu workaround"
  drivers/timer/hpet.c
Labels: area: Timer

#32729 Add UART5 to STM32F446Xe SoC
  dts/arm/st/f4/stm32f446.dtsi
Labels: area: Drivers, area: UART, platform: STM32

#32763 sys: tell compiler about impossible aliasing in dlist APIs
  include/sys/dlist.h
Labels: area: API, area: Base OS

#32801 dma: Kconfig remove unused kconfig symbols
  drivers/dma/Kconfig
  samples/boards/96b_argonkey/microphone/prj.conf
Labels: Trivial, area: Samples

#32760 uart-npcx: forward poll requests to fifo when running interrupt mode
  drivers/serial/uart_npcx.c
Labels: area: UART, platform: Nuvoton

#32782 aarch64: linker: Remove unused symbols and sections
  include/arch/arm/aarch64/scripts/linker.ld
Labels: area: API, area: ARM, area: ARM_64

#32488 stream_flash minor fixes
  subsys/storage/stream/stream_flash.c
  tests/subsys/storage/stream/stream_flash/src/main.c
Labels: area: Storage, area: Tests

#32177 drivers: ieee802154: nrf5: load EUI64 from UICR
  drivers/ieee802154/Kconfig.nrf5
  drivers/ieee802154/ieee802154_nrf5.c
Labels: area: IEEE 802.15.4, area: Networking

#32810 drivers: ethernet: remove stale Kconfig IRQ priority
  drivers/ethernet/Kconfig.gecko
  drivers/ethernet/Kconfig.liteeth
  drivers/ethernet/Kconfig.stm32_hal
  drivers/ethernet/eth_liteeth.c
Labels: Trivial, area: Networking, platform: STM32, platform: SiLabs

#32740 Bluetooth: host: Document not waiting for TX context from sys workqueue
  include/bluetooth/gatt.h
Labels: area: API, area: Bluetooth

#32812 drivers: dma: nios2_msgdma: Fix typo in irq priority
  drivers/dma/dma_nios2_msgdma.c
Labels: Trivial

#32357 arch: xtensa: Fix backtrace from ISR
  arch/xtensa/include/xtensa-asm2-s.h
Labels: area: Xtensa

#32804 bsim_bt: run_parallel.sh: Fix execution without explicit SEARCH_PATH
  tests/bluetooth/bsim_bt/run_parallel.sh
Labels: Trivial, area: Bluetooth, area: Tests

#32650 tests: shell: set integration_platforms to native_posix
  tests/subsys/shell/shell/testcase.yaml
  tests/subsys/shell/shell_history/testcase.yaml
Labels: area: Shell, area: Tests

#32731 drivers: i2s_sam_ssc.c: store *dev_dma in flash
  drivers/i2s/i2s_sam_ssc.c
Labels: area: I2S, platform: ATMEL

#32594 aarch64: rationalize exception entry/exit code
  arch/arm/core/aarch64/isr_wrapper.S
  arch/arm/core/aarch64/macro_priv.inc
  arch/arm/core/aarch64/switch.S
  arch/arm/core/aarch64/vector_table.S
Labels: area: ARM, area: ARM_64

#31544 ppp: add net events for PPP dead and running
  include/net/ppp.h
  subsys/net/l2/ppp/misc.c
  subsys/net/l2/ppp/ppp_mgmt.c
Labels: area: API, area: Networking

#32630 samples: app_dev: set integration_platforms to native_posix
  samples/application_development/external_lib/sample.yaml
  samples/application_development/out_of_tree_driver/sample.yaml
Labels: area: Samples

#32635 samples: console: set integration_platforms to mps2_an385
  samples/subsys/console/echo/sample.yaml
  samples/subsys/console/getchar/sample.yaml
  samples/subsys/console/getline/sample.yaml
Labels: area: Samples

#32637 samples: logging: set integration_platforms
  samples/subsys/logging/logger/sample.yaml
Labels: area: Logging, area: Samples

#32640 samples: userspace: set integration_platforms to mps2_an385
  samples/userspace/hello_world_user/sample.yaml
  samples/userspace/prod_consumer/sample.yaml
  samples/userspace/shared_mem/sample.yaml
Labels: area: Samples

#32652 tests: uart_basic_api: set integration_platforms to mps2_an385
  tests/drivers/uart/uart_basic_api/testcase.yaml
Labels: area: Tests, area: UART

#32651 tests: logging: set integration_platforms to native_posix
  tests/subsys/logging/log_core/testcase.yaml
  tests/subsys/logging/log_core_additional/testcase.yaml
  tests/subsys/logging/log_immediate/testcase.yaml
  tests/subsys/logging/log_list/testcase.yaml
  tests/subsys/logging/log_msg/testcase.yaml
  tests/subsys/logging/log_output/testcase.yaml
Labels: area: Logging, area: Tests

#32631 samples: crypto: set integration_platforms to native_posix
  samples/drivers/crypto/sample.yaml
Labels: area: Samples

#32647 cmake: dtc: Validate EXTRA_DTC_FLAGS flags
  cmake/dts.cmake
Labels: area: Build System

#32813 drivers: i2c: nios2: get IRQ and IRQ priority from DTS
  drivers/i2c/Kconfig
  drivers/i2c/i2c_nios2.c
  dts/bindings/i2c/nios2,i2c.yaml
  dts/nios2/nios2f.dtsi
  tests/boards/altera_max10/i2c_master/prj.conf
Labels: area: Devicetree, area: Devicetree Binding, area: I2C, area: Tests

#32841 boards: nrf: fix deprecated I2C properties
  boards/arm/bmd_345_eval/bmd_345_eval.dts
  boards/arm/ubx_bmd380eval_nrf52840/ubx_bmd380eval_nrf52840.dts
Labels: Hotfix, area: Boards, area: Devicetree

#32802 kernel: fix race conditions with z_ready_thread
  kernel/condvar.c
  kernel/futex.c
  kernel/stack.c
  kernel/timer.c
  lib/posix/pthread_mutex.c
Labels: area: Kernel, area: POSIX

#32825 boards: arduino due: add reset after load for Jlink flashing
  boards/arm/arduino_due/board.cmake
Labels: Trivial, area: Boards

#32820 MAINTAINERS: Add AArch64 maintainer and collaborators
  MAINTAINERS.yml
Labels: TSC, area: Process

#32648 tests: application_development: set integration_platforms
  tests/application_development/cpp/testcase.yaml
  tests/application_development/gen_inc_file/testcase.yaml
  tests/application_development/libcxx/testcase.yaml
Labels: area: Tests

#32639 samples: eventfd: set integration_platforms to mps2_an385
  samples/posix/eventfd/sample.yaml
Labels: area: Samples

#32838 dts: bindings: Fix duplicate description in ARM PL330 DMA bindings
  dts/bindings/dma/arm,dma-pl330.yaml
Labels: Trivial, area: Devicetree, area: Devicetree Binding

#26907 WiFi: winc1500: add new config flag
  drivers/wifi/winc1500/Kconfig.winc1500
  drivers/wifi/winc1500/wifi_winc1500_nm_bsp_internal.h
  west.yml
Labels: area: Modules, area: Networking, area: Wifi, manifest, manifest-hal_atmel, west

#32852 samples: basic: blinky_pwm: fix bad path in README
  samples/basic/blinky_pwm/README.rst
Labels: area: Documentation, area: PWM, area: Samples

#32821 bsim_bt: tests: Fix relative paths search in scripts
  tests/bluetooth/bsim_bt/edtt_ble_test_app/tests_scripts/gap.sh
  tests/bluetooth/bsim_bt/edtt_ble_test_app/tests_scripts/gatt.sh
  tests/bluetooth/bsim_bt/edtt_ble_test_app/tests_scripts/hci.sh
  tests/bluetooth/bsim_bt/edtt_ble_test_app/tests_scripts/ll.1.sh
  tests/bluetooth/bsim_bt/edtt_ble_test_app/tests_scripts/ll.2.sh
Labels: Trivial, area: Bluetooth, area: Tests

#32829 manifest: updated openthread module
  west.yml
Labels: area: Modules, manifest, manifest-openthread, west

#32834 fs: shell: Remove unneeded flags from fs_open calls
  subsys/fs/shell.c
Labels: Trivial, area: File System

#29841 boards: shields: Introduce Semtech SX1272 shield
  boards/shields/semtech_sx1272mb2das/Kconfig.defconfig
  boards/shields/semtech_sx1272mb2das/Kconfig.shield
  boards/shields/semtech_sx1272mb2das/doc/index.rst
  boards/shields/semtech_sx1272mb2das/semtech_sx1272mb2das.overlay
Labels: area: Boards, area: Documentation, area: LoRa, area: Shields

#32620 cmake: board_check_revision() also accepts a list of valid revisions
  cmake/extensions.cmake
  doc/guides/porting/board_porting.rst
Labels: area: Build System, area: Documentation

#32607 tests drivers Uart async on stm32 boards requires dma channels config.
  tests/drivers/uart/uart_async_api/boards/disco_l475_iot1.overlay
  tests/drivers/uart/uart_async_api/src/test_uart.h
Labels: area: Tests, area: UART, platform: STM32

#32121 Bluetooth: tests: Add nrf5340 support to tester
  tests/bluetooth/tester/boards/nrf5340dk_nrf5340_cpuapp.conf
  tests/bluetooth/tester/nrf5340dk_nrf5340_cpuapp.overlay
Labels: area: Bluetooth, area: Tests

#32606 Bluetooth: host: Convert allowed_cmds to an array of atomic_t of size 1
  subsys/bluetooth/host/smp.c
  subsys/bluetooth/host/smp.h
Labels: area: Bluetooth, area: Bluetooth Host

#32847 bluetooth: hci: h4: Add thread name
  drivers/bluetooth/hci/h4.c
Labels: area: Bluetooth

#32871 drivers/flash/soc_flash_nrf: Include additional headers
  drivers/flash/soc_flash_nrf.h
Labels: Trivial, area: Drivers, area: Flash, platform: nRF

#32868 Bluetooth: samples: Remove unnecessary main stack configuration
  samples/bluetooth/hci_pwr_ctrl/prj.conf
  samples/bluetooth/hci_uart/prj.conf
Labels: area: Samples

#31901 arch: riscv: add common stub reboot function
  arch/riscv/core/CMakeLists.txt
  arch/riscv/core/reboot.c
  soc/riscv/riscv-ite/it8xxx2/soc.c
Labels: area: RISCV, bug

#32784 scripts/twister: Fix race with device-testing
  scripts/pylib/twister/twisterlib.py
Labels: area: Twister

#32882 net: lwm2m: Initialize the variable to silence compiler warning
  subsys/net/lib/lwm2m/lwm2m_rw_json.c
Labels: area: Networking

#32884 tests: lib: cbprintf_fp: enable CONFIG_TEST in the test suite
  tests/lib/cbprintf_fp/prj.conf
Labels: Trivial, area: Tests, bug

#31577 tests: improve test cases for interrupt testing
  tests/kernel/interrupt/CMakeLists.txt
  tests/kernel/interrupt/prj.conf
  tests/kernel/interrupt/src/dynamic_isr.c
  tests/kernel/interrupt/src/interrupt_util.h
Labels: area: Kernel, area: Tests

#32886 Bluetooth: Audio: Add maintainers/codeowners
  CODEOWNERS
  MAINTAINERS.yml
  include/bluetooth/audio/audio.h
Labels: Trivial, area: API, area: Bluetooth, area: Bluetooth Audio, area: Bluetooth Host

#32791 Coding guideline: Fixing code violations for 21.13 Rule
  lib/os/cbprintf_complete.c
  subsys/logging/log_minimal.c
Labels: area: Base OS, area: Coding Guidelines, area: Documentation, area: Logging

#32891 kernel: sched: removing dead code
  kernel/include/ksched.h
  kernel/sched.c
Labels: area: Kernel

#32846 net: mqtt: log struct mqtt_utf8 with hexdump
  include/net/net_core.h
  subsys/net/lib/mqtt/mqtt_encoder.c
  subsys/net/lib/mqtt/mqtt_os.h
Labels: area: API, area: Networking

#32814 zephyr: Remove support for deprecated int types
  Kconfig.zephyr
  doc/releases/release-notes-2.6.rst
  include/zephyr/types.h
  tests/deprecated/inttype/CMakeLists.txt
  tests/deprecated/inttype/prj.conf
  tests/deprecated/inttype/src/main.c
  tests/deprecated/inttype/testcase.yaml
Labels: Release Notes, area: API, area: Documentation, area: Kconfig, area: Tests

#32895 shell: improve help for conditional commands
  subsys/shell/shell_help.c
Labels: area: Shell

#32900 samples: subsys: ipc: Remove references to v2m_musca
  samples/subsys/ipc/ipm_mhu_dual_core/README.rst
  samples/subsys/ipc/ipm_mhu_dual_core/sample.yaml
  samples/subsys/ipc/openamp/CMakeLists.txt
  samples/subsys/ipc/openamp/README.rst
  samples/subsys/ipc/openamp/boards/v2m_musca.overlay
  samples/subsys/ipc/openamp/remote/CMakeLists.txt
Labels: Trivial, area: Documentation, area: Samples

#32976 tests: kernel: work: fix unchecked return values
  tests/kernel/workq/work/src/main.c
Labels: Coverity, area: Kernel, area: Tests

#32980 drivers: native_posix: fix for native posix counter
  drivers/counter/counter_native_posix.c
Labels: Trivial, area: Counter, area: native port, bug

#32992 tests: kernel: Add missing kernel tag to tests
  tests/kernel/device/testcase.yaml
  tests/kernel/fatal/message_capture/testcase.yaml
  tests/kernel/gen_isr_table/testcase.yaml
  tests/kernel/interrupt/testcase.yaml
  tests/kernel/mem_protect/stack_random/testcase.yaml
  tests/kernel/mp/testcase.yaml
  tests/kernel/smp/testcase.yaml
  tests/kernel/spinlock/testcase.yaml
  tests/kernel/timer/starve/testcase.yaml
  tests/kernel/timer/timer_monotonic/testcase.yaml
  tests/kernel/xip/testcase.yaml
Labels: Trivial, area: Kernel, area: Tests

#32974 arm: cortex_m: fix arguments to dwt_init() function
  arch/arm/core/aarch32/cortex_m/timing.c
Labels: Hotfix, Trivial, area: ARM

#32831 tests: coverage: fix test cases failed with code coverage in mps2_an385
  boards/arm/mps2_an385/Kconfig.defconfig
Labels: Code Coverage, area: Boards

#32896 tests: kernel: semaphore: better explain test failures
  tests/kernel/semaphore/semaphore/src/main.c
Labels: area: Kernel, area: Tests

#32979 tests: kernel: mbox: fix uninitialized scalar variable of coverity
  tests/kernel/mbox/mbox_api/src/test_mbox_api.c
Labels: area: Kernel, area: Tests

#32986 drivers/clock_control: stm32: Missing include in stm32 header
  drivers/clock_control/clock_stm32_ll_common.h
Labels: Trivial, area: Clock Control, platform: STM32

#32858 drivers: i2c: DW i2c: use 32 bit access instead of 16 and 32 bit mix
  drivers/i2c/i2c_dw.c
  drivers/i2c/i2c_dw.h
  drivers/i2c/i2c_dw_registers.h
Labels: area: ARC, area: I2C, platform: Synopsys

#32872 Some improvements to the documentation README
  doc/README.rst
Labels: area: Documentation

#32751 esp32: drivers: flash: add main flash support
  boards/xtensa/esp32/esp32.dts
  drivers/flash/CMakeLists.txt
  drivers/flash/Kconfig
  drivers/flash/Kconfig.esp32
  drivers/flash/flash_esp32.c
  dts/bindings/flash_controller/espressif,esp32-flash-controller.yaml
  dts/xtensa/espressif/esp32.dtsi
  soc/xtensa/esp32/linker.ld
  soc/xtensa/esp32/soc.c
  soc/xtensa/esp32/soc.h
Labels: area: Boards, area: Devicetree, area: Devicetree Binding, area: Flash, area: Xtensa

#32989 boards: stm32: Remove redundant CORTEX_M_SYSTICK=y
  boards/arm/google_kukui/google_kukui_defconfig
  boards/arm/nucleo_l152re/nucleo_l152re_defconfig
  boards/arm/nucleo_l552ze_q/nucleo_l552ze_q_ns_defconfig
  boards/arm/stm32g0316_disco/stm32g0316_disco_defconfig
Labels: Trivial, area: Boards, platform: STM32

#32901 boards: arm: mps2_an521: Enable TFM testing in CI
  boards/arm/mps2_an521/mps2_an521_nonsecure.yaml
Labels: area: Boards

#32643 boards: arm: mps2-an521: Change SRAM location to PSRAM
  boards/arm/mps2_an521/mps2_an521.dts
  boards/arm/mps2_an521/mps2_an521_nonsecure.dts
Labels: area: Boards, area: Devicetree

#32977 tests: drivers: pwm: fix order of parameters
  tests/drivers/pwm/pwm_loopback/src/main.c
Labels: Trivial, area: PWM, area: Tests

#32876 drivers: modem: optional factory reset at modem boot
  drivers/modem/Kconfig.gsm
  drivers/modem/gsm_ppp.c
Labels: area: Modem

#33011 samples: userspace: enable shared_mem on x86_64
  samples/userspace/shared_mem/sample.yaml
Labels: area: Samples

#33129 net: context: Remove unnecessary null check
  subsys/net/ip/net_context.c
Labels: area: Networking

#32463 cmake: check BOARD and SOC roots before use
  cmake/app/boilerplate.cmake
Labels: area: Build System

#32849 shell: kernel: also print the thread entry pointer
  subsys/shell/modules/kernel_service.c
Labels: area: Shell

#33004 ci: scripts/ci/run_ci: Cleanup file names
  scripts/ci/run_ci.sh
Labels: Trivial, area: Continuous Integration

#32982 drivers/gpio: stm32: Set SWJ higher prio vs device pin configuration
  drivers/gpio/Kconfig.stm32
Labels: area: GPIO, platform: STM32

#33128 tests: edac: Ensure vars are not changed in assert evaluation
  tests/subsys/edac/ibecc/src/ibecc.c
Labels: area: Tests

#33135 MAINTAINERS: Remove myself as a USB maintainer
  CODEOWNERS
  MAINTAINERS.yml
Labels: area: Process

#33111 tests: scheduling: change code annotation
  tests/kernel/sched/schedule_api/src/test_sched_timeslice_and_lock.c
Labels: area: Kernel, area: Tests

#33017 boards: intel_s1000_crb: device_is_ready instead of NULL check
  boards/xtensa/intel_s1000_crb/pinmux.c
Labels: area: Boards, platform: Intel CAVS

#33143 tests: footprint: fix thread start races
  tests/benchmarks/footprints/src/workq.c
Labels: area: Tests

#33115 tests: scheduling: add testcase
  tests/kernel/sched/deadline/src/main.c
Labels: area: Kernel, area: Tests

#33134 test: dynamic_thread: Fix race condition
  tests/kernel/threads/dynamic_thread/src/main.c
Labels: area: Kernel, area: Tests

#33161 tests/kernel/thread_apis: Fix timing order
  tests/kernel/threads/thread_apis/src/main.c
Labels: area: Kernel, area: Tests

#33152 kernel: fix TOCTTOU issue in k_thread_name_set
  kernel/thread.c
Labels: area: Kernel

#31701 samples: logging: logger: Explicitly enable deferred mode
  samples/subsys/logging/logger/prj.conf
Labels: area: Logging, area: Samples

#33110 driver: espi: npcx: fix out-of-bounds read in espi_vw_generic_isr.
  drivers/espi/espi_npcx.c
Labels: area: eSPI, platform: Nuvoton

#32985 drivers: spi: Remove unused Kconfig symbols
  boards/arc/em_starterkit/Kconfig.defconfig
  boards/arc/hsdk/Kconfig.defconfig
  boards/arm/96b_nitrogen/Kconfig.defconfig
  boards/arm/arduino_nano_33_ble/Kconfig.defconfig
  boards/arm/frdm_k22f/Kconfig.defconfig
  boards/arm/frdm_k64f/Kconfig.defconfig
  boards/arm/frdm_k82f/Kconfig.defconfig
  boards/arm/frdm_kw41z/Kconfig.defconfig
  boards/arm/hexiwear_k64/Kconfig.defconfig
  boards/arm/lpcxpresso54114/Kconfig.defconfig
  boards/arm/lpcxpresso55s28/Kconfig.defconfig
  boards/arm/lpcxpresso55s69/Kconfig.defconfig
  boards/arm/mimxrt1050_evk/Kconfig.defconfig
  boards/arm/twr_ke18f/Kconfig
  boards/arm/twr_ke18f/Kconfig.defconfig
  boards/arm/usb_kw24d512/Kconfig.defconfig
  boards/xtensa/intel_s1000_crb/Kconfig.defconfig
  doc/guides/dts/howtos.rst
  doc/guides/kconfig/tips.rst
  drivers/spi/Kconfig
  samples/drivers/led_lpd8806/boards/96b_carbon.conf
  samples/drivers/lora/receive/boards/96b_wistrio.conf
  samples/drivers/lora/send/boards/96b_wistrio.conf
  samples/lorawan/class_a/boards/96b_wistrio.conf
  samples/net/wifi/boards/reel_board.conf
  samples/subsys/fs/fat_fs/boards/nrf52840_blip.conf
Labels: area: Boards, area: Devicetree, area: Documentation, area: File System, area: LED, area: LoRa, area: Networking, area: SPI, area: Samples, platform: NXP, platform: Synopsys

#32629 net: tcp: Implement ISN calculation according to RFC6528
  subsys/net/ip/CMakeLists.txt
  subsys/net/ip/Kconfig
  subsys/net/ip/tcp2.c
Labels: area: Networking

#33133 doc: direction_finding: fix space in file link
  samples/bluetooth/direction_finding_connectionless_tx/README.rst
Labels: area: Bluetooth, area: Documentation, area: Samples

#32569 tests: crypto: Add a unnormal testing condition
  tests/crypto/rand32/src/main.c
Labels: area: Tests

#33162 samples: net: mdns_responder: fix coverity issues
  samples/net/mdns_responder/src/service.c
Labels: area: Networking, area: Samples

#32769 test: fatal exception: Add code description and testcases
  tests/kernel/fatal/exception/src/main.c
Labels: area: Kernel, area: Tests

#32482 cmake: modules: Remove duplicates only from existing ZEPHYR_MODULE_NAMES
  cmake/zephyr_module.cmake
Labels: area: Build System

#32842 debug: coredump: improve delayed logging
  subsys/debug/coredump/coredump_backend_logging.c
Labels: area: Debugging

#33151 tests/subsys/dfu/mcuboot: Fix coverity issue on not checked return val
  tests/subsys/dfu/mcuboot/src/main.c
Labels: area: DFU, area: Tests

#28409 Bluetooth: host: Initial support for BIS
  include/bluetooth/bluetooth.h
  include/bluetooth/hci.h
  include/bluetooth/iso.h
  subsys/bluetooth/Kconfig
  subsys/bluetooth/audio/Kconfig
  subsys/bluetooth/host/conn_internal.h
  subsys/bluetooth/host/hci_core.c
  subsys/bluetooth/host/iso.c
  subsys/bluetooth/host/iso_internal.h
  subsys/bluetooth/shell/bt.c
  subsys/bluetooth/shell/bt.h
  subsys/bluetooth/shell/iso.c
  tests/bluetooth/shell/prj.conf
Labels: Experimental, area: API, area: Bluetooth, area: Bluetooth Audio, area: Bluetooth Host, area: Tests

#33006 drivers: sensor: bmi160: Fix bug where undersampling is not set
  drivers/sensor/bmi160/bmi160.c
  drivers/sensor/bmi160/bmi160.h
Labels: area: Sensors

#33010 drivers: i2c_dw: Convert to use register for RX/TX buffer depth
  drivers/i2c/i2c_dw.c
  drivers/i2c/i2c_dw.h
  drivers/i2c/i2c_dw_registers.h
Labels: area: I2C

#33177 net: lwm2m: Check return value of option encoding on deregistration
  subsys/net/lib/lwm2m/lwm2m_rd_client.c
Labels: area: Networking

#33167 driver: host_sub: npcx: remove self-assignment for clearing status.
  drivers/espi/host_subs_npcx.c
Labels: area: eSPI, platform: Nuvoton

#33166 driver: espi: npcx: prevent changing data content in host write func.
  drivers/espi/host_subs_npcx.c
  soc/arm/nuvoton_npcx/common/soc_host.h
Labels: area: eSPI, platform: Nuvoton

#33117 driver: clock: npcx: remove useless operands.
  drivers/clock_control/clock_control_npcx.c
Labels: Trivial, area: Clock Control, platform: Nuvoton

#33005 ubx_bmd380eval_nrf52840 - removed extra spaces in SPDX lines
  boards/arm/ubx_bmd380eval_nrf52840/Kconfig
  boards/arm/ubx_bmd380eval_nrf52840/board.cmake
Labels: Trivial, area: Boards, platform: nRF

#32968 tests: drivers: dma: remove dead code in test_dma_loop.c
  tests/drivers/dma/loop_transfer/src/test_dma_loop.c
Labels: Coverity, area: DMA, area: Tests

#33155 logging: fix TOCTTOU issue in z_log_hexdump_from_user
  subsys/logging/log_core.c
Labels: area: Logging

#33165 drivers: gpio: mchp: Add support for GPIO disconnected flag
  drivers/gpio/gpio_mchp_xec.c
Labels: area: GPIO, platform: Microchip

#33183 tests: kernel: work_queue: remove unpassable tests
  tests/kernel/workq/work_queue/src/main.c
Labels: area: Kernel, area: Tests

#32874 drivers/sensor: iis2iclx: fix multi-instance using new helpers
  drivers/sensor/iis2iclx/iis2iclx.c
  drivers/sensor/iis2iclx/iis2iclx.h
  drivers/sensor/iis2iclx/iis2iclx_i2c.c
  drivers/sensor/iis2iclx/iis2iclx_spi.c
Labels: area: Devicetree, area: Drivers, area: Sensors

#33160 arch: aarch64: do EL2 init in EL3 if necessary
  arch/arm/core/aarch64/reset.c
Labels: area: ARM, area: ARM64, area: ARM_64

#33157 bluetooth: mesh: health_srv: update k_work API
  include/bluetooth/mesh/health_srv.h
  subsys/bluetooth/mesh/health_srv.c
Labels: area: API, area: Bluetooth, area: Bluetooth Mesh

#33098 mgmt/osdp: Fix couple of issues identified by coverity
  subsys/mgmt/osdp/src/osdp_cp.c
Labels: Coverity, area: OSDP

#33156 bluetooth: mesh: settings: update k_work API
  subsys/bluetooth/mesh/settings.c
Labels: area: Bluetooth, area: Bluetooth Mesh

#33148 bluetooth: mesh: update heartbeat use of k_work API
  subsys/bluetooth/mesh/heartbeat.c
Labels: area: Bluetooth, area: Bluetooth Mesh

#33170 testcase:qspi: modify the value used to check whether qspi is enabled
  tests/boards/mec15xxevb_assy6853/qspi/src/main.c
Labels: area: Tests

#33195 kernel/sched: only send IPI to abort thread if hardware supports it
  kernel/sched.c
Labels: area: Kernel, bug

#33215 modules: civetweb: Add proper dependency to Kconfig
  modules/Kconfig.civetweb
Labels: area: Modules

#33209 net/ip/tcp2_priv.h: th_off: More detailed docstring
  subsys/net/ip/tcp2_priv.h
Labels: Trivial, area: Networking
