Repository zephyrproject-rtos/zephyr, pull requests merged in 2022-11, with the labels that each got.

#51390 timer: HPET is also a lock free readable timer
  drivers/timer/Kconfig.hpet
Labels: area: Timer

#51518 Bluetooth: Mesh: Extended advertiser as default
  doc/releases/release-notes-3.3.rst
  samples/bluetooth/mesh/microbit_gatt.conf
  samples/bluetooth/mesh/nrf51_qfaa.conf
  samples/bluetooth/mesh/prj.conf
  samples/bluetooth/mesh/prj_bbc_microbit.conf
  samples/bluetooth/mesh_demo/prj_bbc_microbit.conf
  samples/bluetooth/mesh_demo/prj_nrf51_blenano.conf
  subsys/bluetooth/Kconfig.adv
  subsys/bluetooth/mesh/Kconfig
  tests/bluetooth/bsim_bt/bsim_test_mesh/prj.conf
  tests/bluetooth/bsim_bt/bsim_test_mesh/prj_gatt.conf
  tests/bluetooth/bsim_bt/bsim_test_mesh/prj_low_lat.conf
  tests/bluetooth/bsim_bt/bsim_test_mesh/prj_pst.conf
  tests/bluetooth/mesh/ext_adv.conf
  tests/bluetooth/mesh/multi_ext_adv.conf
  tests/bluetooth/mesh_shell/prj.conf
Labels: area: Bluetooth, area: Documentation, Release Notes, area: Bluetooth Mesh

#51759 usb-c: Add missing errno.h include to usbc_tcpc.h
  include/zephyr/drivers/usb_c/usbc_tcpc.h
Labels: area: USB-C

#51792 drivers: modem: gsm: Fix set gsm->state in gsm_ppp_stop
  drivers/modem/gsm_ppp.c
Labels: bug, priority: medium, Regression, area: Modem

#51800 samples: drivers: can: counter: use printf() instead of printk()
  samples/drivers/can/counter/sample.yaml
  samples/drivers/can/counter/src/main.c
Labels: bug, area: native port, area: CAN

#51823 drivers: timer: intel_adsp: Update driver to use dts Kconfig symbol
  drivers/timer/Kconfig.cavs
  soc/xtensa/intel_adsp/ace/Kconfig.defconfig.series
  soc/xtensa/intel_adsp/cavs/Kconfig.defconfig.series
Labels: area: Timer, platform: Intel ADSP

#51837 cmake: lookup strip tool and set CMAKE_STRIP for host-gnu target
  cmake/bintools/host-gnu/target.cmake
Labels: bug, area: Build System, area: Toolchains, Trivial

#51706 drivers: gpio: STM32U5 independant IO supply
  drivers/gpio/gpio_stm32.c
Labels: area: GPIO, platform: STM32

#51589 boards: arm: nrf52840_papyr: Update documentation link
  boards/arm/nrf52840_papyr/doc/nrf52840_papyr.rst
Labels: platform: nRF

#51585 doc: vulnerabilities: Add information about published CVEs
  doc/security/vulnerabilities.rst
Labels: area: Documentation

#50916 sensor: lis2dw12 add freefall
  drivers/sensor/lis2dw12/Kconfig
  drivers/sensor/lis2dw12/lis2dw12.c
  drivers/sensor/lis2dw12/lis2dw12.h
  drivers/sensor/lis2dw12/lis2dw12_trigger.c
  dts/bindings/sensor/st,lis2dw12-common.yaml
  include/zephyr/drivers/sensor.h
Labels: area: Sensors, area: Devicetree Binding

#51854 timer: Revert "timer: HPET is also a lock free readable timer"
  drivers/timer/Kconfig.hpet
Labels: area: Timer, Hotfix

#51784 west.yml: bump hal_ti to not re-declare pthread_self()
  west.yml
Labels: platform: TI, manifest, west, manifest-hal_ti

#51868 ci: Limit workflow scope to v2.7-branch
  .github/workflows/devicetree_checks.yml
  .github/workflows/twister.yaml
  .github/workflows/twister_tests.yml
  .github/workflows/west_cmds.yml
Labels: Hotfix, area: Continuous Integration

#51787 hal: nxp: Check Kconfig before including HAL
  modules/hal_nxp/CMakeLists.txt
Labels: platform: NXP, manifest-hal_nxp, area: ARM64

#51781 posix: use uint32_t instead of void* for pthread_t
  include/zephyr/posix/posix_types.h
  include/zephyr/posix/pthread.h
  lib/posix/posix_internal.h
  lib/posix/pthread.c
  lib/posix/pthread_key.c
  lib/posix/pthread_mutex.c
  tests/posix/common/src/pthread.c
Labels: area: POSIX

#51864 drivers: sensor: Remove brackets from sensor info shell command output
  drivers/sensor/sensor_shell.c
  samples/sensor/sensor_shell/README.rst
Labels: area: Sensors

#51853 doc: Fix several ARM boards Hello World documentation
  boards/arm/adafruit_feather_m0_basic_proto/doc/index.rst
  boards/arm/adafruit_itsybitsy_m4_express/doc/index.rst
  boards/arm/adafruit_trinket_m0/doc/index.rst
  boards/arm/arduino_due/doc/index.rst
  boards/arm/arduino_zero/doc/index.rst
  boards/arm/atsamd20_xpro/doc/index.rst
  boards/arm/atsame54_xpro/doc/index.rst
  boards/arm/atsamr21_xpro/doc/index.rst
  boards/arm/nrf52_adafruit_feather/doc/index.rst
  boards/arm/sam4e_xpro/doc/index.rst
  boards/arm/sam4s_xplained/doc/index.rst
  boards/arm/sam_e70_xplained/doc/index.rst
  boards/arm/sam_v71_xult/doc/index.rst
  boards/arm/tdk_robokit1/doc/index.rst
Labels: area: Documentation, platform: nRF, platform: Microchip SAM, Trivial

#51822 drivers: timers: riscv: don't leak Kconfig symbols
  drivers/timer/Kconfig.riscv_machine
Labels: area: Timer, Trivial

#51817 drivers: power_domain: Update drivers to use devicetree Kconfig symbol
  drivers/power_domain/Kconfig
  tests/subsys/pm/device_power_domains/prj.conf
Labels: area: Power Management

#51812 samples: psa_crypto: Add twister regex for attestation token
  samples/tfm_integration/psa_crypto/sample.yaml
Labels: area: TF-M

#51767 ARC: disallow build for secure configuration with firq
  arch/arc/Kconfig
  include/zephyr/arch/arc/arch.h
Labels: area: ARC

#51764 cmake: sysbuild: import image kconfig settings to image target
  cmake/modules/extensions.cmake
  share/sysbuild/cmake/modules/sysbuild_extensions.cmake
Labels: area: Build System

#51519 soc: stm32wb: Set BT_USER_PHY_UPDATE as supported
  soc/arm/st_stm32/stm32wb/Kconfig.defconfig.series
Labels: platform: STM32

#51875 Bluetooth: Shell: Add back erroneously removed ll-addr command
  subsys/bluetooth/shell/bt.c
Labels: area: Bluetooth, area: Bluetooth Controller

#51840 Bluetooth: Controller: Fix ticks_current initialization
  subsys/bluetooth/controller/ticker/ticker.c
Labels: area: Bluetooth, area: Bluetooth Controller

#51801 drivers: can: loopback: various fixes
  drivers/can/can_loopback.c
Labels: area: CAN

#51391 drivers: gpio: gpio_mcux_lpc: Use arbitrary amount of IRQ
  drivers/gpio/gpio_mcux_lpc.c
Labels: area: GPIO, platform: NXP

#51865 libc/picolibc: Remove unused POSIX-ish hooks
  lib/libc/picolibc/libc-hooks.c
Labels: area: C Library

#51888 cmake: emu: qemu: do not enable CAN bus on NIOS2 and LEON3
  cmake/emu/qemu.cmake
Labels: bug, area: Build System, area: QEMU, area: CAN, Hotfix

#51869 ci: Limit workflow scope branches
  .github/workflows/devicetree_checks.yml
  .github/workflows/twister_tests.yml
  .github/workflows/west_cmds.yml
Labels: area: Continuous Integration

#51151 doc: treewide change requirements
  doc/contribute/guidelines.rst
Labels: area: Documentation

#51889 boards: x86: qemu: fix CAN devicetree node address
  boards/x86/qemu_x86/qemu_x86.dts
Labels: area: QEMU, area: CAN, Trivial, platform: X86

#51850 actions: Upload test results to opensearch service
  .github/workflows/twister.yaml
  scripts/ci/upload_test_results.py
Labels: area: Continuous Integration

#51894 soc: intel_adsp: ipc: Do not send message until previous one is acked
  soc/xtensa/intel_adsp/common/include/intel_adsp_ipc.h
  soc/xtensa/intel_adsp/common/ipc.c
Labels: platform: Intel ADSP

#51892 sparse: fix sparse warnings found in sof compilation
  drivers/console/winstream_console.c
  soc/xtensa/intel_adsp/cavs/multiprocessing.c
  soc/xtensa/intel_adsp/common/boot_complete.c
Labels: area: Console, platform: Intel ADSP

#51886 arm64: Add comment that `arch_curr_cpu` and `get_cpu` must be synced
  arch/arm64/core/macro_priv.inc
  include/zephyr/arch/arm64/arch_inlines.h
Labels: area: ARM64

#51704 samples: tfm_secure_partition: Add library configuration to sample.yaml
  samples/tfm_integration/tfm_secure_partition/sample.yaml
Labels: area: TF-M

#51707 drivers: flash: spi_flash_at45: Use gpio_pin_set_dt helper
  drivers/flash/spi_flash_at45.c
Labels: area: Flash

#51618 boards: Fix Adafruit Feather M0 Basic Proto board metadata
  boards/arm/adafruit_feather_m0_basic_proto/adafruit_feather_m0_basic_proto.yaml
Labels: area: Boards, Trivial

#51392 arm: soc: nxp_lpc: Enable sctimer for LPC55S36
  dts/arm/nxp/nxp_lpc55S3x_common.dtsi
Labels: platform: NXP

#49782 ARM: nxp_imx: rt10xx: migrate ARM, AHB and IPG dividers to DT
  dts/arm/nxp/nxp_rt1010.dtsi
  dts/arm/nxp/nxp_rt1015.dtsi
  dts/arm/nxp/nxp_rt1020.dtsi
  dts/arm/nxp/nxp_rt1024.dtsi
  dts/arm/nxp/nxp_rt1050.dtsi
  dts/arm/nxp/nxp_rt1060.dtsi
  dts/arm/nxp/nxp_rt1064.dtsi
  dts/arm/nxp/nxp_rt10xx.dtsi
  soc/arm/nxp_imx/rt/Kconfig.defconfig.mimxrt1010
  soc/arm/nxp_imx/rt/Kconfig.defconfig.mimxrt1015
  soc/arm/nxp_imx/rt/Kconfig.defconfig.mimxrt1021
  soc/arm/nxp_imx/rt/Kconfig.defconfig.mimxrt1024
  soc/arm/nxp_imx/rt/Kconfig.defconfig.mimxrt1052
  soc/arm/nxp_imx/rt/Kconfig.defconfig.mimxrt1062
  soc/arm/nxp_imx/rt/Kconfig.defconfig.mimxrt1064
  soc/arm/nxp_imx/rt/Kconfig.soc
  soc/arm/nxp_imx/rt/soc_rt10xx.c
Labels: area: Devicetree, platform: NXP, area: Clock Control

#49110 Bluetooth: controller: Add window widening for CIS/CIG
  subsys/bluetooth/controller/ll_sw/lll_conn_iso.h
  subsys/bluetooth/controller/ll_sw/nordic/lll/lll_vendor.h
  subsys/bluetooth/controller/ll_sw/ull_peripheral_iso.c
Labels: area: Bluetooth, area: Bluetooth Controller

#51836 ITE: drivers/i2c: Fix mutex bug
  drivers/i2c/i2c_ite_enhance.c
Labels: area: I2C, Trivial

#51852 boards: arm: stm32l562e_dk_ns: Fix boot regression
  boards/arm/stm32l562e_dk/stm32l562e_dk_ns.dts
Labels: platform: STM32, Trivial, backport v3.2-branch

#51883 tests: lib: cmsis_dsp testcases with min ram for execution
  tests/lib/cmsis_dsp/complexmath/testcase.yaml
  tests/lib/cmsis_dsp/matrix/testcase.yaml
  tests/lib/cmsis_dsp/support/testcase.yaml
  tests/lib/cmsis_dsp/transform/testcase.yaml
Labels: area: Tests, area: CMSIS-DSP

#51905 dts: xtensa: intel: fix alh base addr for cavs25
  dts/xtensa/intel/intel_adsp_cavs25.dtsi
Labels: area: Xtensa, platform: Intel ADSP

#51887 Bluetooth: Audio: Fix unicast client ep reset
  subsys/bluetooth/audio/unicast_client.c
Labels: bug, area: Bluetooth, area: Bluetooth Audio

#51851 drivers: wifi: esp32: add softap config
  drivers/wifi/esp32/Kconfig.esp32
Labels: area: WiFi

#51740 Bluetooth: Shell: Select BT_TICKER_NEXT_SLOT_GET when BT_LL_SW_SPLIT
  subsys/bluetooth/shell/Kconfig
Labels: bug, area: Bluetooth, area: Bluetooth Controller

#50915 doc: api: drop version modified column, link to release notes
  doc/develop/api/overview.rst
Labels: area: Documentation

#51159 cmake: sysbuild: Add support for recurive target cmake inclusion
  share/sysbuild/CMakeLists.txt
Labels: area: Build System

#51940 mgmt: mcumgr: Fix using wrong value for response packet size
  subsys/mgmt/mcumgr/lib/smp/src/smp.c
Labels: area: mcumgr, Hotfix

#50707 [backport v3.0-branch] Backport 49232 to v3.0 branch
  subsys/mgmt/hawkbit/hawkbit.c
Labels: bug, priority: low, area: hawkBit

#51945 drivers: eeprom: emulator: fix size_t format specifier
  drivers/eeprom/eeprom_emulator.c
Labels: Hotfix, area: EEPROM

#50625 boards: Add support for Adafruit Feather M0 board with LoRa radio
  boards/arm/adafruit_feather_m0_lora/Kconfig.board
  boards/arm/adafruit_feather_m0_lora/Kconfig.defconfig
  boards/arm/adafruit_feather_m0_lora/adafruit_feather_m0_lora-pinctrl.dtsi
  boards/arm/adafruit_feather_m0_lora/adafruit_feather_m0_lora.dts
  boards/arm/adafruit_feather_m0_lora/adafruit_feather_m0_lora.yaml
  boards/arm/adafruit_feather_m0_lora/adafruit_feather_m0_lora_defconfig
  boards/arm/adafruit_feather_m0_lora/board.cmake
  boards/arm/adafruit_feather_m0_lora/doc/img/adafruit_feather_m0_lora.jpg
  boards/arm/adafruit_feather_m0_lora/doc/index.rst
  boards/arm/adafruit_feather_m0_lora/feather_connector.dtsi
  boards/arm/adafruit_feather_m0_lora/pre_dt_board.cmake
  tests/drivers/uart/uart_async_api/testcase.yaml
Labels: area: UART

#50971 modem: hl7800: ensure net_if_down is triggered and not ignored
  drivers/modem/hl7800.c
Labels: area: Modem

#51753 net: lwm2m: fix hanging deregistration
  subsys/net/lib/lwm2m/lwm2m_rd_client.c
Labels: area: LWM2M

#51916 ARC: MWDT: add _Generic and __auto_type types and __fallthrough attribute
  include/zephyr/toolchain/mwdt.h
Labels: area: ARC

#51928 drivers: dmic: remove invalid assert on dmic->created
  drivers/dai/intel/dmic/dmic.c
Labels: platform: Intel ADSP

#51941 drivers: eeprom: mchp_xec: add missing kernel.h include
  drivers/eeprom/eeprom_mchp_xec.c
Labels: Hotfix, Trivial, area: EEPROM

#51943 boards: x86: qemu: initialize flash simulator before EEPROM emulator
  boards/x86/qemu_x86/Kconfig.defconfig
Labels: Hotfix, area: EEPROM, platform: X86

#51918 tfm: mbedtls: Fix build warning
  west.yml
Labels: area: West, manifest, west, manifest-trusted-firmware-m

#51443 doc: Add IPC service documentation
  doc/services/index.rst
  doc/services/ipc/index.rst
  doc/services/ipc/ipc_service/backends/ipc_service_icmsg.rst
  doc/services/ipc/ipc_service/ipc_service.rst
  include/zephyr/ipc/ipc_service.h
  include/zephyr/ipc/ipc_service_backend.h
Labels: area: Documentation, area: IPC

#51502 dts: bindings: nordic,nrf21540-fem: add supply voltage parameter
  boards/arm/nrf21540dk_nrf52840/nrf21540dk_nrf52840.dts
  boards/arm/thingy53_nrf5340/thingy53_nrf5340_cpunet.dts
  dts/bindings/net/wireless/nordic,nrf21540-fem.yaml
Labels: platform: nRF, area: Devicetree Binding

#51909 modules/hal/ti: Merge patch fixing errno usage for picolibc
  west.yml
Labels: manifest, west, manifest-hal_ti

#51961 ci: manifest: Drop west label for manifest updates
  .github/workflows/manifest.yml
Labels: area: Continuous Integration

#51921 logging: fixes for xtensa
  boards/xtensa/qemu_xtensa/qemu_xtensa.yaml
  include/zephyr/logging/log_msg.h
  include/zephyr/sys/cbprintf.h
  tests/subsys/logging/log_api/src/main.c
Labels: area: Logging, area: Xtensa, area: QEMU, area: Tests, area: Formatting Output

#51974 tests: sys_sem: no k_thread_access_grant call if not userspace
  tests/kernel/mem_protect/sys_sem/src/main.c
Labels: area: Kernel, area: Userspace

#51990 tests: kernel: schedule_api: fix filter
  tests/kernel/sched/schedule_api/testcase.yaml
Labels: area: Kernel, Hotfix

#51968 tests: bluetooth: mesh_shell: Disable BT_EXT_ADV for qemu_cortex_m3
  tests/bluetooth/mesh_shell/testcase.yaml
Labels: area: Bluetooth, area: Bluetooth Mesh

#51964 Bluetooth: gatt: Fix notification cleanup on disconnection
  subsys/bluetooth/host/gatt.c
Labels: area: Bluetooth, area: Bluetooth Host

#51958 Bluetooth: Mesh: Fix args parsing in cmd_net_key_add function
  subsys/bluetooth/mesh/shell/cfg.c
Labels: area: Bluetooth, area: Bluetooth Mesh

#51953 tests: mem_map: update on how test is done
  tests/kernel/mem_protect/mem_map/src/main.c
Labels: area: Kernel, area: Userspace

#51946 ARC: update port status
  doc/hardware/arch/arc-support-status.rst
Labels: area: ARC

#51942 boards: nrf5340dk_nrf5340: Add chosen node for nrf-802154 spinel
  boards/arm/nrf5340dk_nrf5340/nrf5340_cpuapp_common.dts
  boards/arm/nrf5340dk_nrf5340/nrf5340dk_nrf5340_cpunet.dts
  boards/arm/thingy53_nrf5340/thingy53_nrf5340_common.dts
  boards/arm/thingy53_nrf5340/thingy53_nrf5340_cpunet.dts
  modules/hal_nordic/nrf_802154/serialization/platform/nrf_802154_spinel_backend_ipc.c
Labels: platform: nRF, manifest-hal_nordic

#51848 Samples: Bluetooth: Increase sync timeout for PAST params
  samples/bluetooth/central_past/src/main.c
  samples/bluetooth/direction_finding_connectionless_rx/src/main.c
  samples/bluetooth/periodic_sync/src/main.c
Labels: area: Bluetooth

#51926 samples: subsys: littlefs on nucleo_h743zi
  samples/subsys/fs/littlefs/boards/nucleo_h743zi.overlay
Labels: area: File System, platform: STM32

#51627 subsys: settings: Add cache for nvs name lookup
  subsys/settings/Kconfig
  subsys/settings/include/settings/settings_nvs.h
  subsys/settings/src/settings_nvs.c
Labels: area: Settings

#51991 twister: minor json report additions
  scripts/pylib/twister/twisterlib/environment.py
  scripts/pylib/twister/twisterlib/reports.py
Labels: area: Twister

#51969 Bluetooth: ascs: Handle CIS disconnection in non-releasing state
  subsys/bluetooth/audio/ascs.c
Labels: area: Bluetooth, area: Bluetooth Host, area: Bluetooth Audio

#51923 espi: it8xxx2: reset PLTRST# virtual wire signal during eSPI reset
  drivers/espi/espi_it8xxx2.c
Labels: area: eSPI, platform: ITE

#51743 dfu/boot/mcuboot: treat pristine image as confirmed
  subsys/dfu/boot/mcuboot.c
Labels: area: DFU

#52001 posix: pthread: remove duplicate assignment
  lib/posix/pthread.c
Labels: area: POSIX, Trivial

#51568 memory manager: Add runtime memory discovery
  drivers/mm/mm_drv_intel_adsp_mtl_tlb.c
Labels: area: Memory Management

#51995 posix: pthread_once: use k_mutex for pthread_key_lock
  lib/posix/pthread.c
Labels: area: POSIX

#52003 include: posix: move pthread impl detail to posix_internal.h
  include/zephyr/posix/pthread.h
  lib/posix/posix_internal.h
Labels: area: POSIX, Trivial

#51393 drivers: pwm: pwm_mcux_sctimer: Fix stopping PWM
  drivers/pwm/pwm_mcux_sctimer.c
Labels: area: PWM, platform: NXP

#51374 MAINTAINERS: Add self as collaborator to build system
  MAINTAINERS.yml
Labels: area: Process

#52004 ci: also upload results of twiser a week full builds
  .github/workflows/twister.yaml
  scripts/ci/upload_test_results.py
Labels: area: Continuous Integration

#50651 Bluetooth: Audio: Shell: Fix metadata argument
  subsys/bluetooth/shell/audio.c
Labels: bug, area: Bluetooth

#50669 Bluetooth: VCS: More explicit log for abs vol set opcode
  subsys/bluetooth/audio/vcs.c
Labels: area: Bluetooth, area: Bluetooth Audio

#50756 LE Audio: CSIS shell additional printing
  subsys/bluetooth/shell/csis_client.c
Labels: bug, area: Bluetooth, area: Bluetooth Audio

#51002 Bluetooth: controller: fix CIS REQ event generation and rejection
  subsys/bluetooth/controller/hci/hci.c
  subsys/bluetooth/controller/ll_sw/ull_llcp_cc.c
  subsys/bluetooth/controller/ll_sw/ull_peripheral_iso.c
  subsys/bluetooth/controller/ll_sw/ull_peripheral_iso_internal.h
  tests/bluetooth/controller/mock_ctrl/src/ull_peripheral_iso.c
Labels: area: Bluetooth, area: Bluetooth Controller

#52027 samples: mgmt: mcumgr: Remove un-necessary modules from build
  samples/subsys/mgmt/mcumgr/smp_svr/boards/nrf52dk_nrf52832.conf
  samples/subsys/mgmt/mcumgr/smp_svr/overlay-bt.conf
  samples/subsys/mgmt/mcumgr/smp_svr/prj.conf
Labels: area: mcumgr

#51701 Bluetooth: Audio: Add support for multiple subgroups for BAP broadcas…
  subsys/bluetooth/audio/Kconfig.baps
Labels: area: Bluetooth, area: Bluetooth Audio

#51730 drivers: usb: mcux: Deinit then Init endpoint HAL during config
  drivers/usb/device/usb_dc_mcux.c
Labels: area: USB

#51283 rtio: Add user mode, tests, and helpers
  cmake/linker_script/common/common-ram.cmake
  include/zephyr/linker/common-ram.ld
  include/zephyr/rtio/rtio.h
  include/zephyr/rtio/rtio_spsc.h
  scripts/build/gen_kobject_list.py
  subsys/rtio/CMakeLists.txt
  subsys/rtio/rtio_handlers.c
  tests/subsys/rtio/rtio_api/CMakeLists.txt
  tests/subsys/rtio/rtio_api/src/main.c
  tests/subsys/rtio/rtio_api/src/rtio_iodev_test.c
  tests/subsys/rtio/rtio_api/src/rtio_iodev_test.h
  tests/subsys/rtio/rtio_api/testcase.yaml
Labels: area: Build System, area: Userspace, area: RTIO

#51884 tests: usb: Make tests for usb mass sample more robust
  samples/subsys/usb/mass/sample.yaml
Labels: area: USB

#51890 Bluetooth: Mesh: Add specific number of keys & groups
  include/zephyr/bluetooth/mesh/access.h
  include/zephyr/bluetooth/mesh/cfg_cli.h
  include/zephyr/bluetooth/mesh/cfg_srv.h
  subsys/bluetooth/mesh/access.c
  subsys/bluetooth/mesh/cfg_srv.c
Labels: area: Bluetooth, area: Bluetooth Mesh

#51901 drivers/sensor: Call the correct stmemc API to set drdy_pulsed
  drivers/sensor/lis2dw12/lis2dw12_trigger.c
Labels: bug, area: Drivers, area: Sensors

#51922 arch/arc: Detect arcv2 TLS register automatically
  arch/arc/core/thread.c
Labels: area: ARC

#51967 Bluetooth: audio: ascs: Fix audio ISO allocation in QoS->QoS transition
  subsys/bluetooth/audio/ascs.c
Labels: area: Bluetooth, area: Bluetooth Host, area: Bluetooth Audio

#52006 Bluetooth: Host: Add auto conn param update retry count and timeout
  subsys/bluetooth/host/Kconfig
  subsys/bluetooth/host/conn.c
  subsys/bluetooth/host/conn_internal.h
  subsys/bluetooth/host/hci_core.c
Labels: area: Bluetooth

#52013 samples: bluetooh: mesh_demo: Fix compilation for bbc_microbit
  samples/bluetooth/mesh_demo/prj_bbc_microbit.conf
Labels: area: Bluetooth

#52014 soc: intel_adsp/ace: wait for lpsram power up
  soc/xtensa/intel_adsp/ace/sram.c
Labels: platform: Intel ADSP

#52020 Bluetooth: audio: ascs: Fix invalid error code returned
  subsys/bluetooth/audio/ascs.c
Labels: area: Bluetooth, area: Bluetooth Host, area: Bluetooth Audio

#52029 scripts: compliance: Round of cleanups
  scripts/ci/check_compliance.py
Labels: area: Continuous Integration

#52062 Bluetooth: Audio: CAP test: Fix sim_id
  tests/bluetooth/bsim_bt/bsim_test_audio/test_scripts/cap.sh
Labels: area: Bluetooth, area: Bluetooth Audio

#49919 drivers: adc: fix ref_internal for ads1x1x
  drivers/adc/adc_ads1x1x.c
Labels: area: ADC

#52054 modules: tfa: update tf-a revision
  west.yml
Labels: Hotfix, manifest, manifest-trusted-firmware-a

#52000 posix: pthread: use spinlock instead of mutex for cancel lock
  lib/posix/posix_internal.h
  lib/posix/pthread.c
Labels: area: POSIX, Trivial

#52082 espi: auto enable the ESPI SAF XEC based on the device tree
  drivers/espi/Kconfig.xec
Labels: Hotfix, area: eSPI, platform: Microchip MEC

#52086 drivers: can: sam: select CACHE_MANAGEMENT for SAM M_CAN
  drivers/can/Kconfig.sam
Labels: platform: Microchip SAM, area: CAN, backport v3.2-branch

#51999 posix: pthread_create: use spinlock for pthread_pool_lock
  lib/posix/pthread.c
Labels: area: POSIX, Trivial

#52061 ci: Add workflow for cleaning up stale queued workflow runs
  .github/workflows/stale-workflow-queue-cleanup.yml
Labels: area: Continuous Integration

#50688 Bluetooth: ISO: Guard addition ISO debug with CONFIG_BT_DEBUG_ISO_DATA
  subsys/bluetooth/host/iso.c
Labels: area: Bluetooth, area: Bluetooth ISO

#51667 net: sockets: Prevent compiler error if warnings being treated as errors
  include/zephyr/sys/fdtable.h
  subsys/net/lib/sockets/sockets_internal.h
Labels: area: Networking, area: Sockets, area: Base OS

#51715 net: lwm2m: We should not use read callbacks to generate new data
  include/zephyr/net/lwm2m.h
  samples/net/lwm2m_client/src/temperature.c
Labels: area: Networking, area: LWM2M

#51980 tests: kernel: mem_protect: fix incorrect skip on mem_map test
  tests/kernel/mem_protect/mem_map/testcase.yaml
Labels: area: Kernel, area: Tests, area: Userspace

#52045 drivers/dai/intel/ssp: Skip setting config when playback/capture is a…
  drivers/dai/intel/ssp/ssp.c
Labels: platform: Intel ADSP, area: DAI

#52053 footprint: Add unicast_audio_{server, client} samples to tracking
  scripts/footprint/plan.txt
Labels: area: Bluetooth, area: Bluetooth Host, area: Bluetooth Audio

#51305 soc: st: Add stm32f030x6
  dts/arm/st/f0/stm32f030X6.dtsi
  soc/arm/st_stm32/stm32f0/Kconfig.defconfig.stm32f030x4
  soc/arm/st_stm32/stm32f0/Kconfig.defconfig.stm32f030x6
  soc/arm/st_stm32/stm32f0/Kconfig.soc
Labels: platform: STM32

#51811 boards: b_u585i_iot02a: Add note on disabling TZ
  boards/arm/b_u585i_iot02a/doc/index.rst
Labels: area: Boards, area: Documentation, platform: STM32, area: TF-M

#52051 net: sockets_tls: Fix memory leak in socket
  subsys/net/lib/sockets/sockets_tls.c
Labels: area: Networking, area: Sockets

#52063 tests: kernel: workq: work: Tweak test for fast system clock
  tests/kernel/workq/work/src/main.c
Labels: area: Kernel

#52064 Bluetooth: Audio: Add missing unbind of audio_iso for broadcast sink
  subsys/bluetooth/audio/broadcast_sink.c
Labels: bug, area: Bluetooth, area: Bluetooth Audio

#52066 Bluetooth: audio: Fix invalid assert in bt_audio_iso_unbind_ep
  subsys/bluetooth/audio/audio_iso.c
Labels: area: Bluetooth, area: Bluetooth Host, area: Bluetooth Audio

#52070 drivers: timer: nrf_rtc_timer: Prevent prolonged timeout setting
  drivers/timer/nrf_rtc_timer.c
Labels: area: Timer

#50879 drivers: gpio: gd32: add dependency on the EXTI
  drivers/gpio/Kconfig.gd32
Labels: area: GPIO, platform: GD32

#52039 intel_adsp: Move power domains under lps node for now
  dts/xtensa/intel/intel_adsp_ace15_mtpm.dtsi
Labels: area: Xtensa, platform: Intel ADSP

#52096 doc: Add reference labels in getting started doc
  doc/develop/getting_started/index.rst
Labels: area: Documentation

#52048 dts: xtensa: intel: fix alh instances
  dts/xtensa/intel/intel_adsp_ace15_mtpm.dtsi
  dts/xtensa/intel/intel_adsp_cavs25.dtsi
Labels: area: Xtensa, platform: Intel ADSP

#52044 drivers: sensor: sensor_shell: fix channel name collision
  drivers/sensor/sensor_shell.c
Labels: area: Sensors

#51543 samples: modbus: print returned error code
  samples/subsys/modbus/rtu_client/src/main.c
Labels: area: modbus

#52019 stm32f7: fix locations of stm32-temp-cal registers
  dts/arm/st/f7/stm32f7.dtsi
  dts/arm/st/f7/stm32f723.dtsi
  dts/arm/st/f7/stm32f745.dtsi
Labels: platform: STM32

#52071 Bluetooth: Mesh: Fix net and app keys commands in shell
  subsys/bluetooth/mesh/shell/cfg.c
Labels: area: Bluetooth, area: Bluetooth Mesh

#52120 dma: dw: Fix return value in dw_dma_stop
  drivers/dma/dma_dw_common.c
Labels: bug, area: DMA, platform: Intel ADSP

#49562 gpio_mcp23sxx_fix: spi_msg and multiple inst
  drivers/gpio/gpio_mcp23sxx.c
Labels: bug, area: GPIO

#52115 lwm2m: swmgmt: fix observations not working for resources
  subsys/net/lib/lwm2m/lwm2m_obj_swmgmt.c
Labels: area: LWM2M

#51757 mgmt: mcumgr: Fix Bluetooth transport issues
  include/zephyr/mgmt/mcumgr/smp.h
  subsys/mgmt/mcumgr/smp.c
  subsys/mgmt/mcumgr/transport/Kconfig
  subsys/mgmt/mcumgr/transport/smp_bt.c
  subsys/mgmt/mcumgr/transport/smp_dummy.c
  subsys/mgmt/mcumgr/transport/smp_shell.c
  subsys/mgmt/mcumgr/transport/smp_uart.c
  subsys/mgmt/mcumgr/transport/smp_udp.c
Labels: area: mcumgr

#51662 drivers: flash: spi_nor: fix flash busy during init
  drivers/flash/spi_nor.c
Labels: area: Flash

#52098 doc: release: 3.3: Add note on MCUmgr changes
  doc/releases/release-notes-3.3.rst
Labels: area: Documentation, area: mcumgr, Release Notes

#52138 mgmt/mcumgr: Fix MCUMGR_BUF_USER_DATA_SIZE selection for BT
  subsys/mgmt/mcumgr/transport/Kconfig
Labels: area: mcumgr

#51981 testsuite: coverage: create kconfig option for gcov dump heap size
  subsys/testsuite/Kconfig
  subsys/testsuite/coverage/coverage.c
Labels: area: Testsuite

#52143 mgmt/mcumgr: Fix documentation for hash_checksum_mgmt_list_cb
  subsys/mgmt/mcumgr/lib/cmd/fs_mgmt/include/fs_mgmt/hash_checksum_mgmt.h
Labels: area: mcumgr

#52130 Bluetooth: crypto: Refactor a few items
  subsys/bluetooth/CMakeLists.txt
  subsys/bluetooth/Kconfig
  subsys/bluetooth/crypto/CMakeLists.txt
  subsys/bluetooth/crypto/Kconfig
  subsys/bluetooth/crypto/bt_crypto.c
  subsys/bluetooth/crypto/bt_crypto.h
  subsys/bluetooth/host/crypto.c
  subsys/bluetooth/host/smp.c
  tests/bluetooth/bt_crypto/CMakeLists.txt
  tests/bluetooth/bt_crypto/src/test_bt_crypto.c
Labels: area: Bluetooth

#52136 boards: nrf52840dk_nrf52840: fix pinctrl overlay documentation
  boards/arm/nrf52840dk_nrf52840/doc/index.rst
Labels: platform: nRF

#52122 boards: arm: mps2_an521: Clarify memory map
  boards/arm/mps2_an521/doc/index.rst
Labels: area: Boards, area: Documentation

#52165 ci: twister: capture footprint data on push/schedule
  .github/workflows/twister.yaml
Labels: area: Continuous Integration
