Repository zephyrproject-rtos/zephyr, pull requests merged in 2022-08, with the labels that each got.

#47971 mec15xx: pinctrl for both mec15xx and mec17xx
  boards/arm/mec1501modular_assy6885/mec1501modular_assy6885.dts
  boards/arm/mec15xxevb_assy6853/mec15xxevb_assy6853.dts
  drivers/pinctrl/pinctrl_mchp_xec.c
  dts/arm/microchip/mec1501hsz.dtsi
  dts/arm/microchip/mec152x/mec1523hsz-pinctrl.dtsi
  dts/arm/microchip/mec152x/mec152xhsz-pinctrl.dtsi
  dts/bindings/gpio/microchip,xec-gpio.yaml
  soc/arm/microchip_mec/common/CMakeLists.txt
Labels: area: Devicetree, platform: Microchip MEC, area: Pinctrl

#48354 Bluetooth: audio: Disallow Release operation on ASE in Releasing state
  subsys/bluetooth/audio/ascs.c
Labels: area: Bluetooth, area: Bluetooth Host, area: Bluetooth Audio

#48355 Bluetooth: audio: Fix server ASE Release in Codec Configured state
  subsys/bluetooth/audio/ascs.c
Labels: area: Bluetooth, area: Bluetooth Host, area: Bluetooth Audio

#48450 Bluetooth: SMP: Fix min key size for LE Secure Connections Only mode
  subsys/bluetooth/host/Kconfig
Labels: area: Bluetooth, Backport

#48275 Bluetooth: Host: Don't read from buf after it is destroyed
  subsys/bluetooth/host/hci_core.c
Labels: area: Bluetooth

#48254 ssp: Use sampling rate from config
  drivers/dai/intel/ssp/ssp.c
Labels: platform: Intel ADSP, area: DAI

#47499 drivers: spi: gd32: support interrupt-driven mode
  drivers/spi/Kconfig.gd32
  drivers/spi/spi_gd32.c
Labels: area: SPI, platform: GD32

#46871 net/tcp: Implement (randomized) exponential retransmision timeout
  subsys/net/ip/Kconfig
  subsys/net/ip/tcp.c
  subsys/net/ip/tcp_private.h
  tests/net/socket/poll/prj.conf
  tests/net/socket/select/prj.conf
  tests/net/socket/tcp/prj.conf
  tests/net/socket/tcp/src/main.c
  tests/net/socket/tcp/testcase.yaml
  tests/net/tcp/src/main.c
Labels: area: Networking, area: Sockets

#48483 net: coap: Remove resource pointer NULL check
  subsys/net/lib/coap/coap_link_format.c
Labels: area: Networking

#48517 boards: arm: olimex_lora_stm32wl_devkit: add image link
  boards/arm/olimex_lora_stm32wl_devkit/doc/olimex_lora_stm32wl_devkit.rst
Labels: Trivial

#48372 soc: ace_v1x: stoping WDT during transiotion to D3
  soc/xtensa/intel_adsp/ace_v1x/include/ace_v1x-regs.h
  soc/xtensa/intel_adsp/ace_v1x/multiprocessing.c
  soc/xtensa/intel_adsp/ace_v1x/power.c
Labels: area: Power Management, platform: Intel ADSP

#43451 twister: verify platform names from quarantine
  scripts/pylib/twister/twisterlib/testplan.py
Labels: bug, area: Twister

#48364 samples: Remove label property from devicetree overlays
  samples/drivers/counter/maxim_ds3231/boards/efr32mg_sltb004a.overlay
  samples/drivers/counter/maxim_ds3231/boards/frdm_k64f.overlay
  samples/drivers/counter/maxim_ds3231/boards/nrf51dk_nrf51422.overlay
  samples/drivers/counter/maxim_ds3231/boards/nrf52840dk_nrf52840.overlay
  samples/drivers/counter/maxim_ds3231/boards/nucleo_l476rg.overlay
  samples/drivers/counter/maxim_ds3231/boards/particle_xenon.overlay
  samples/drivers/display/dummy_dc.overlay
  samples/drivers/ht16k33/boards/nrf52840dk_nrf52840.overlay
  samples/drivers/i2s/echo/boards/nrf52840dk_nrf52840.overlay
  samples/drivers/i2s/echo/boards/nrf5340dk_nrf5340_cpuapp.overlay
  samples/drivers/led_apa102/boards/blueclover_plt_demo_v2_nrf52832.overlay
  samples/drivers/led_apa102/boards/nucleo_l432kc.overlay
  samples/drivers/led_lp503x/boards/lpcxpresso11u68.overlay
  samples/drivers/led_lp5562/boards/nrf52840dk_nrf52840.overlay
  samples/drivers/led_lpd8806/boards/96b_carbon.overlay
  samples/drivers/led_pca9633/app.overlay
  samples/drivers/led_ws2812/boards/bbc_microbit.overlay
  samples/drivers/led_ws2812/boards/mimxrt1050_evk.overlay
  samples/drivers/led_ws2812/boards/mimxrt1050_evk_qspi.overlay
  samples/drivers/led_ws2812/boards/nrf51dk_nrf51422.overlay
  samples/drivers/led_ws2812/boards/nrf52dk_nrf52832.overlay
  samples/drivers/led_ws2812/boards/nucleo_f070rb.overlay
  samples/drivers/led_ws2812/boards/nucleo_g071rb.overlay
  samples/drivers/led_ws2812/boards/nucleo_h743zi.overlay
  samples/drivers/led_ws2812/boards/nucleo_l476rg.overlay
  samples/drivers/misc/grove_display/boards/serpente.overlay
  samples/drivers/spi_bitbang/boards/nrf52840dk_nrf52840.overlay
  samples/drivers/spi_flash_at45/boards/nrf9160dk_nrf9160.overlay
  samples/subsys/modbus/rtu_server/cdc-acm.overlay
Labels: area: LED, area: modbus

#48361 dts: arm: ti: Remove label property from devicetrees
  dts/arm/ti/cc1352r.dtsi
  dts/arm/ti/cc13x2_cc26x2.dtsi
  dts/arm/ti/cc2652r.dtsi
  dts/arm/ti/cc3220sf.dtsi
  dts/arm/ti/cc3235sf.dtsi
  dts/arm/ti/cc32xx.dtsi
  dts/arm/ti/lm3s6965.dtsi
  dts/arm/ti/msp432p4xx.dtsi
Labels: platform: TI

#48344 tests: net: lib: move mqtt_packet to new ztest API
  tests/net/lib/mqtt_packet/prj.conf
  tests/net/lib/mqtt_packet/src/mqtt_packet.c
Labels: area: Networking

#48335 boards: arm: nrf9160dk_nrf52840: Set code partition to slot0
  boards/arm/nrf9160dk_nrf52840/nrf9160dk_nrf52840.dts
Labels: platform: nRF

#48373 net: l2: ieee802154: Fix removing short src address filter
  subsys/net/l2/ieee802154/ieee802154_utils.h
Labels: area: Networking

#48449 Bluetooth: controller: llcp: fix failing LL/CON/CEN/BV-55-C
  subsys/bluetooth/controller/ll_sw/ull_llcp_phy.c
Labels: area: Bluetooth, area: Bluetooth Controller, area: Bluetooth LLCP, backport v3.1-branch

#48464 drivers: memc: mcux_flexspi: Always try to apply pinctrl state
  drivers/memc/memc_mcux_flexspi.c
Labels: bug, platform: NXP

#48515 tests: lib: newlib: move thread_safety to new ztest API
  tests/lib/newlib/thread_safety/CMakeLists.txt
  tests/lib/newlib/thread_safety/prj.conf
  tests/lib/newlib/thread_safety/prj_userspace.conf
  tests/lib/newlib/thread_safety/src/locks.c
  tests/lib/newlib/thread_safety/src/main.c
  tests/lib/newlib/thread_safety/src/stress.c
Labels: area: C Library

#48260 debug: gdbstub: Move to DTS for uart device
  doc/build/dts/api/api.rst
  doc/services/debugging/gdbstub.rst
  samples/subsys/debug/gdbstub/boards/qemu_x86.overlay
  samples/subsys/debug/gdbstub/boards/qemu_x86_64.overlay
  samples/subsys/debug/gdbstub/prj.conf
  subsys/debug/Kconfig
  subsys/debug/gdbstub/gdbstub_backend_serial.c
Labels: area: Build System, area: Documentation, area: Debugging, area: Devicetree

#45478 Bluetooth: Mesh: Add model publish support to Health Client
  doc/connectivity/bluetooth/api/mesh/health_cli.rst
  doc/releases/release-notes-3.1.rst
  include/zephyr/bluetooth/mesh/health_cli.h
  include/zephyr/bluetooth/mesh/health_srv.h
  subsys/bluetooth/mesh/health_cli.c
  subsys/bluetooth/mesh/health_srv.c
  subsys/bluetooth/mesh/shell.c
  tests/bluetooth/mesh/src/main.c
  tests/bluetooth/tester/src/mesh.c
Labels: area: Bluetooth, area: Documentation, area: Tests, area: API, area: Bluetooth Mesh

#47790 Bluetooth: samples: Add HAP Hearing Aid sample application
  samples/bluetooth/hap_ha/CMakeLists.txt
  samples/bluetooth/hap_ha/Kconfig
  samples/bluetooth/hap_ha/README.rst
  samples/bluetooth/hap_ha/banded.conf
  samples/bluetooth/hap_ha/binaural.conf
  samples/bluetooth/hap_ha/boards/native_posix.conf
  samples/bluetooth/hap_ha/prj.conf
  samples/bluetooth/hap_ha/sample.yaml
  samples/bluetooth/hap_ha/src/bap_unicast_sr.c
  samples/bluetooth/hap_ha/src/ccp_call_ctrl.c
  samples/bluetooth/hap_ha/src/csip_set_member.c
  samples/bluetooth/hap_ha/src/hap_ha.h
  samples/bluetooth/hap_ha/src/has_server.c
  samples/bluetooth/hap_ha/src/main.c
  samples/bluetooth/hap_ha/src/micp_mic_dev.c
  samples/bluetooth/hap_ha/src/vcp_vol_renderer.c
Labels: area: Bluetooth, area: Bluetooth Host, area: Bluetooth Audio

#48100 samples: Bluetooth: Unicast audio server set location
  samples/bluetooth/unicast_audio_server/src/main.c
Labels: area: Bluetooth, area: Samples, area: Bluetooth Audio

#48173 Bluetooth: Simplify predicate for host-based RPA resolution
  subsys/bluetooth/host/conn.c
Labels: area: Bluetooth, area: Bluetooth Host

#48258 net: lwm2m: Allow observing of object instances and objects
  subsys/net/lib/lwm2m/lwm2m_observation.c
Labels: area: LWM2M

#48395 Bluetooth: host: add missing meta data destroy callback
  subsys/bluetooth/host/conn.c
Labels: bug, area: Bluetooth, area: Bluetooth Host

#48479 drivers: sensor: max17055: fix TTE and TTF time units
  drivers/sensor/max17055/max17055.c
  drivers/sensor/max17055/max17055.h
Labels: area: Sensors

#47863 boards: Add TDK RoboKit1 for testing Sensors
  boards/arm/tdk_robokit1/Kconfig.board
  boards/arm/tdk_robokit1/Kconfig.defconfig
  boards/arm/tdk_robokit1/board.cmake
  boards/arm/tdk_robokit1/doc/img/tdk_robokit1.jpg
  boards/arm/tdk_robokit1/doc/index.rst
  boards/arm/tdk_robokit1/support/openocd.cfg
  boards/arm/tdk_robokit1/tdk_robokit1-common.dtsi
  boards/arm/tdk_robokit1/tdk_robokit1-pinctrl.dtsi
  boards/arm/tdk_robokit1/tdk_robokit1.dts
  boards/arm/tdk_robokit1/tdk_robokit1.yaml
  boards/arm/tdk_robokit1/tdk_robokit1_defconfig
Labels: area: Boards, platform: Microchip SAM

#47931 manifest: psa-arch-tests to commit: f4fc244
  west.yml
Labels: manifest, west, manifest-psa-arch-tests

#47635 boards: nrf5340dk_nrf5340_cpuapp: Add BT_HCI_VS explicit enable.
  drivers/bluetooth/hci/Kconfig
Labels: area: Bluetooth, platform: nRF, area: Kconfig

#47135 Bluetooth: controller: llcp: initialise DLE parameters
  subsys/bluetooth/controller/ll_sw/ull_adv.c
  subsys/bluetooth/controller/ll_sw/ull_conn.c
Labels: area: Bluetooth, area: Bluetooth Controller, area: Bluetooth LLCP, backport v3.1-branch

#47618 Bluetooth: Controller: Fix overlapping 1M and Coded PHY scannning
  subsys/bluetooth/controller/ll_sw/ull_scan.c
Labels: bug, area: Bluetooth, area: Bluetooth Controller, backport v3.1-branch

#48406 drivers: ethernet: sam_gmac: Convert to using dts for I2C EEPROM
  boards/arm/sam_e70_xplained/Kconfig.defconfig
  boards/arm/sam_e70_xplained/sam_e70_xplained-common.dtsi
  boards/arm/sam_v71_xult/Kconfig.defconfig
  boards/arm/sam_v71_xult/sam_v71_xult-common.dtsi
  drivers/ethernet/Kconfig.sam_gmac
  drivers/ethernet/eth_sam_gmac.c
  dts/bindings/ethernet/atmel,gmac-common.yaml
  dts/bindings/mtd/atmel,24mac402.yaml
Labels: area: Devicetree, platform: Microchip SAM, area: Ethernet

#48513 segger: Resolve circular include dependencies
  drivers/serial/uart_rtt.c
  modules/segger/SEGGER_RTT_zephyr.c
  modules/segger/SEGGER_SYSVIEW_Conf.h
  west.yml
Labels: area: UART, manifest, west, manifest-segger

#48481 drivers: dai: intel: reduce log clutter in ssp_trigger
  drivers/dai/intel/ssp/ssp.c
Labels: platform: Intel ADSP, area: DAI

#48466 manifest: update mcuboot module
  west.yml
Labels: manifest, west, manifest-mcuboot

#48562 bluetooth: common: remove Enable from BT_HCI_VS_FATAL_ERROR prompt
  subsys/bluetooth/common/Kconfig
Labels: area: Bluetooth, Hotfix

#48420 settings: API for get storage instance used
  include/zephyr/settings/settings.h
  subsys/settings/src/settings_fcb.c
  subsys/settings/src/settings_file.c
  subsys/settings/src/settings_nvs.c
  subsys/settings/src/settings_store.c
  tests/subsys/settings/functional/fcb/CMakeLists.txt
  tests/subsys/settings/functional/fcb/placeholder.c
  tests/subsys/settings/functional/fcb/settings_test_fcb.c
  tests/subsys/settings/functional/file/CMakeLists.txt
  tests/subsys/settings/functional/file/settings_test_fs.c
  tests/subsys/settings/functional/nvs/CMakeLists.txt
  tests/subsys/settings/functional/nvs/placeholder.c
  tests/subsys/settings/functional/nvs/settings_test_nvs.c
  tests/subsys/settings/functional/src/settings_basic_test.c
Labels: area: Settings

#48161 tests/fs/nvs: Fix test to pick flash controller from area
  tests/subsys/fs/nvs/src/main.c
Labels: area: File System

#48575 include: add missing zephyr/ prefixes
  dts/arm/aspeed/ast10x0.dtsi
  dts/arm/microchip/mec152x/mec152xhsz-pinctrl.dtsi
  dts/riscv/mpfs-icicle.dtsi
  tests/subsys/settings/functional/fcb/settings_test_fcb.c
  tests/subsys/settings/functional/file/settings_test_fs.c
  tests/subsys/settings/functional/nvs/settings_test_nvs.c
Labels: Hotfix, area: Settings, platform: Microchip MEC

#48576 ci: fix pattern for skipping boards in testplan.py
  scripts/ci/test_plan.py
Labels: Hotfix, area: Continuous Integration

#48543 kernel: clock: fix SYS_CLOCK_EXISTS help
  kernel/Kconfig
Labels: area: Kernel, Trivial

#48448 drivers: hwinfo: Fix mcux device id
  drivers/hwinfo/hwinfo_mcux_syscon.c
Labels: platform: NXP, area: HWINFO

#48571 boards: xtensa: olimex_esp32_evb: list TWAI as supported
  boards/xtensa/olimex_esp32_evb/doc/index.rst
Labels: area: Boards, area: Documentation, area: CAN, platform: ESP32, Trivial

#48564 adc: remove Kconfig.defconfig setting of ADC drivers
  boards/riscv/tlsr9518adk80d/Kconfig.defconfig
  boards/shields/lmp90100_evb/Kconfig.defconfig
  boards/shields/mikroe_adc_click/Kconfig.defconfig
  soc/arm/atmel_sam/same70/Kconfig.defconfig.series
  soc/arm/atmel_sam/samv71/Kconfig.defconfig.series
  soc/arm/atmel_sam0/common/Kconfig.defconfig.series
  soc/arm/microchip_mec/mec1501/Kconfig.defconfig.mec1501hsz
  soc/arm/microchip_mec/mec172x/Kconfig.defconfig.mec172xnsz
  soc/arm/nuvoton_npcx/npcx7/Kconfig.defconfig.series
  soc/arm/nuvoton_npcx/npcx9/Kconfig.defconfig.series
  soc/arm/nxp_imx/rt/Kconfig.defconfig.series
  soc/arm/nxp_imx/rt6xx/Kconfig.defconfig.series
  soc/arm/nxp_kinetis/k2x/Kconfig.defconfig.mk22f12
  soc/arm/nxp_kinetis/k6x/Kconfig.defconfig.mk64f12
  soc/arm/nxp_kinetis/k6x/Kconfig.defconfig.mk66f18
  soc/arm/nxp_kinetis/k8x/Kconfig.defconfig.series
  soc/arm/nxp_kinetis/ke1xf/Kconfig.defconfig.series
  soc/arm/nxp_kinetis/kl2x/Kconfig.defconfig.mkl25z4
  soc/arm/nxp_kinetis/kv5x/Kconfig.defconfig.series
  soc/arm/nxp_kinetis/kwx/Kconfig.defconfig.mkw2xd512
  soc/arm/nxp_kinetis/kwx/Kconfig.defconfig.mkw40z4
  soc/arm/nxp_kinetis/kwx/Kconfig.defconfig.mkw41z4
  soc/arm/nxp_lpc/lpc55xxx/Kconfig.defconfig.lpc55S28
  soc/arm/nxp_lpc/lpc55xxx/Kconfig.defconfig.lpc55S69_cpu0
  soc/arm/st_stm32/common/Kconfig.defconfig.series
  soc/riscv/riscv-ite/it8xxx2/Kconfig.defconfig.series
  tests/drivers/adc/adc_api/boards/atsame54_xpro.conf
  tests/drivers/adc/adc_api/boards/atsamr21_xpro.conf
  tests/drivers/adc/adc_api/boards/native_posix.conf
  tests/drivers/adc/adc_api/boards/native_posix_64.conf
  tests/drivers/adc/adc_api/boards/sam_e70_xplained.conf
  tests/drivers/adc/adc_api/boards/sam_v71_xult.conf
  tests/drivers/adc/adc_emul/prj.conf
Labels: area: ADC, area: RISCV, platform: STM32, platform: NXP, platform: Microchip SAM, area: Shields, platform: Microchip MEC, platform: ITE, platform: Nuvoton NPCX

#48128 modules: lvgl: add missing stubs for Kconfig symbols
  modules/Kconfig.lvgl
Labels: manifest-lvgl

#48162 tests/settings/fcb: Pick flash parameters from flash area device
  tests/subsys/settings/fcb_init/src/settings_test_fcb_init.c
Labels: area: Settings

#48418 lorawan: upgrade to LoRaMAC-node v4.6.0
  subsys/lorawan/lorawan.c
  west.yml
Labels: area: LoRa, manifest, west, manifest-loramac-node

#48522 tests: kernel: exception: Disable infinite recursion warning
  tests/kernel/fatal/exception/src/main.c
Labels: area: Kernel

#48550 drivers: timer: riscv_machine_timer: fix compatible comment
  drivers/timer/riscv_machine_timer.c
Labels: area: Timer, Trivial

#48554 Bluetooth: Controller: df: Add selectable IQ samples to 8 bit conversion
  subsys/bluetooth/controller/Kconfig.df
  subsys/bluetooth/controller/hci/hci.c
  subsys/bluetooth/controller/ll_sw/nordic/lll/lll_df_types.h
Labels: area: Bluetooth, area: Bluetooth Controller

#48561 bluetooth: Fix duration endianness issues
  subsys/bluetooth/controller/hci/hci.c
  subsys/bluetooth/host/adv.c
Labels: area: Bluetooth, area: Bluetooth Controller

#48572 i2c: NPCX Port use correct device define macro
  drivers/i2c/i2c_npcx_port.c
Labels: area: I2C, platform: Nuvoton NPCX

#48581 west_commands: runners: reserve -O for --tool-opt
  scripts/west_commands/runners/core.py
  scripts/west_commands/runners/jlink.py
  scripts/west_commands/runners/nrfjprog.py
  scripts/west_commands/runners/pyocd.py
  scripts/west_commands/runners/stm32cubeprogrammer.py
  scripts/west_commands/tests/test_pyocd.py
Labels: area: West

#48596 maintainers: riscv: Add myself as collaborator
  MAINTAINERS.yml
Labels: area: Process

#48360 dts: arm: nordic: Remove label property from devicetrees
  dts/arm/nordic/nrf51822.dtsi
  dts/arm/nordic/nrf52805.dtsi
  dts/arm/nordic/nrf52810.dtsi
  dts/arm/nordic/nrf52811.dtsi
  dts/arm/nordic/nrf52820.dtsi
  dts/arm/nordic/nrf52832.dtsi
  dts/arm/nordic/nrf52833.dtsi
  dts/arm/nordic/nrf52840.dtsi
  dts/arm/nordic/nrf5340_cpuapp.dtsi
  dts/arm/nordic/nrf5340_cpuapp_peripherals.dtsi
  dts/arm/nordic/nrf5340_cpuapp_peripherals_ns.dtsi
  dts/arm/nordic/nrf5340_cpunet.dtsi
  dts/arm/nordic/nrf9160.dtsi
  dts/arm/nordic/nrf9160_common.dtsi
  dts/arm/nordic/nrf9160ns.dtsi
  dts/arm/nordic/nrf_common.dtsi
Labels: platform: nRF

#48476 pm: policy: improve resolution and allow for multiple subscribers
  include/zephyr/pm/policy.h
  subsys/pm/policy.c
  tests/subsys/pm/policy_api/src/main.c
Labels: area: Power Management

#48123 Gpio level test
  tests/drivers/gpio/gpio_api_1pin/src/main.c
  tests/drivers/gpio/gpio_api_1pin/src/test_gpio_api.h
  tests/drivers/gpio/gpio_api_1pin/src/test_pin_interrupt.c
Labels: area: GPIO

#48594 test: dma: sg fixing source address alignment issue
  tests/drivers/dma/scatter_gather/src/test_dma_sg.c
Labels: area: DMA, platform: NXP, area: Tests

#48038 nucleo_f303re: Add lacking board-level dt-nodes description.
  boards/arm/nucleo_f303re/arduino_r3_connector.dtsi
  boards/arm/nucleo_f303re/doc/index.rst
  boards/arm/nucleo_f303re/nucleo_f303re.dts
  boards/arm/nucleo_f303re/nucleo_f303re.yaml
Labels: platform: STM32

#48607 Bluetooth: df: Fix reference antenna repeat after switch pattern exhausted
  subsys/bluetooth/controller/ll_sw/nordic/hal/nrf5/radio/radio_df.c
Labels: area: Bluetooth, area: Bluetooth Controller

#48582 Nordic nRF GPIO: Fixup race condition in GPIO pin Toggle
  drivers/gpio/gpio_nrfx.c
Labels: area: GPIO, platform: nRF

#48612 tests: net: socket: tcp: Disable preempt test for mps2_an385
  tests/net/socket/tcp/testcase.yaml
Labels: area: Networking, area: Sockets

#48556 soc: ace_v1x: add power control registers
  soc/xtensa/intel_adsp/ace_v1x/include/ace_v1x-regs.h
  soc/xtensa/intel_adsp/ace_v1x/multiprocessing.c
Labels: platform: Intel ADSP

#47909 drivers: adc: stm32: fix int paths setup
  drivers/adc/adc_stm32.c
Labels: area: Drivers, area: ADC, platform: STM32

#47932 Bluetooth: Mesh: Scanner is enabled during Friendship termination
  subsys/bluetooth/mesh/lpn.c
Labels: area: Bluetooth, area: Bluetooth Mesh

#48600 modules: lvgl: Remove Kconfig symbols that dont exist
  modules/Kconfig.lvgl
Labels: manifest-lvgl

#48599 dac: remove Kconfig.defconfig setting of DAC drivers
  boards/arm/bl5340_dvk/Kconfig.defconfig
  boards/arm/bl652_dvk/Kconfig.defconfig
  boards/arm/bl653_dvk/Kconfig.defconfig
  boards/arm/bl654_dvk/Kconfig.defconfig
  boards/shields/dac80508_evm/Kconfig.defconfig
  soc/arm/atmel_sam0/common/Kconfig.defconfig.series
  soc/arm/nxp_kinetis/k2x/Kconfig.defconfig.mk22f12
  soc/arm/nxp_kinetis/k6x/Kconfig.defconfig.mk64f12
  soc/arm/nxp_kinetis/k6x/Kconfig.defconfig.mk66f18
  soc/arm/nxp_kinetis/ke1xf/Kconfig.defconfig.series
Labels: platform: NXP, platform: Microchip SAM, area: Shields, platform: Laird Connectivity

#48610 boards: tlsr9518adk80d: remove list of supported samples
  boards/riscv/tlsr9518adk80d/doc/index.rst
Labels: area: RISCV

#48359 dts: arm: nxp: Remove label property from devicetrees
  dts/arm/nxp/nxp_imx6sx_m4.dtsi
  dts/arm/nxp/nxp_imx7d_m4.dtsi
  dts/arm/nxp/nxp_imx8m_m4.dtsi
  dts/arm/nxp/nxp_imx8ml_m7.dtsi
  dts/arm/nxp/nxp_k2x.dtsi
  dts/arm/nxp/nxp_k66.dtsi
  dts/arm/nxp/nxp_k6x.dtsi
  dts/arm/nxp/nxp_k8x.dtsi
  dts/arm/nxp/nxp_k8xfn256vxx15.dtsi
  dts/arm/nxp/nxp_ke1xf.dtsi
  dts/arm/nxp/nxp_ke1xf256vlx16.dtsi
  dts/arm/nxp/nxp_ke1xf512vlx16.dtsi
  dts/arm/nxp/nxp_kl25z.dtsi
  dts/arm/nxp/nxp_kv5x.dtsi
  dts/arm/nxp/nxp_kv5xf1m0vlx24.dtsi
  dts/arm/nxp/nxp_kv5xf512vlx24.dtsi
  dts/arm/nxp/nxp_kw2xd.dtsi
  dts/arm/nxp/nxp_kw40z.dtsi
  dts/arm/nxp/nxp_kw41z.dtsi
  dts/arm/nxp/nxp_lpc11u6x.dtsi
  dts/arm/nxp/nxp_lpc54xxx.dtsi
  dts/arm/nxp/nxp_lpc55S0x_common.dtsi
  dts/arm/nxp/nxp_lpc55S1x_common.dtsi
  dts/arm/nxp/nxp_lpc55S2x_common.dtsi
  dts/arm/nxp/nxp_lpc55S6x_common.dtsi
  dts/arm/nxp/nxp_rt.dtsi
  dts/arm/nxp/nxp_rt1010.dtsi
  dts/arm/nxp/nxp_rt1024.dtsi
  dts/arm/nxp/nxp_rt1060.dtsi
  dts/arm/nxp/nxp_rt1064.dtsi
  dts/arm/nxp/nxp_rt1160_cm4.dtsi
  dts/arm/nxp/nxp_rt1160_cm7.dtsi
  dts/arm/nxp/nxp_rt1170_cm4.dtsi
  dts/arm/nxp/nxp_rt1170_cm7.dtsi
  dts/arm/nxp/nxp_rt11xx.dtsi
  dts/arm/nxp/nxp_rt5xx_common.dtsi
  dts/arm/nxp/nxp_rt6xx_common.dtsi
Labels: platform: NXP

#48426 scripts: Upgrade to junitparser v2+
  .github/workflows/compliance.yml
  scripts/ci/check_compliance.py
  scripts/requirements-compliance.txt
Labels: area: Continuous Integration

#48371 ztest: Fix logic for listing tests once
  subsys/testsuite/ztest/src/ztest_posix.c
Labels: area: Testsuite

#48436 samples: kernel: metairq: Update ReadMe
  samples/kernel/metairq_dispatch/README.rst
Labels: area: Kernel

#48644 dts: arm: st: Remove label property from devicetrees
  dts/arm/st/f3/stm32f303.dtsi
  dts/arm/st/h7/stm32h723.dtsi
  dts/arm/st/h7/stm32h7a3.dtsi
Labels: platform: STM32, Trivial

#48474 kernel: fix race condition in sys_clock_announce()
  kernel/timeout.c
Labels: area: Kernel

#48602 watchdog: remove Kconfig.defconfig setting of watchdog drivers
  boards/arm/adafruit_feather_m0_basic_proto/adafruit_feather_m0_basic_proto_defconfig
  boards/arm/atsamd20_xpro/atsamd20_xpro_defconfig
  boards/arm/atsamd21_xpro/atsamd21_xpro_defconfig
  boards/arm/atsame54_xpro/atsame54_xpro_defconfig
  boards/arm/atsamr21_xpro/atsamr21_xpro_defconfig
  boards/arm/mps2_an385/Kconfig.defconfig
  boards/arm/mps2_an521/Kconfig.defconfig
  boards/arm/v2m_beetle/Kconfig.defconfig
  soc/arm/atmel_sam0/common/Kconfig.defconfig.series
  soc/arm/nuvoton_npcx/npcx7/Kconfig.defconfig.series
  soc/arm/nuvoton_npcx/npcx9/Kconfig.defconfig.series
  soc/arm/nxp_imx/rt/Kconfig.defconfig.series
  soc/arm/nxp_imx/rt5xx/Kconfig.defconfig.mimxrt595_cm33
  soc/arm/nxp_imx/rt6xx/Kconfig.defconfig.mimxrt685_cm33
  soc/arm/nxp_kinetis/k2x/Kconfig.defconfig.mk22f12
  soc/arm/nxp_kinetis/k6x/Kconfig.defconfig.mk64f12
  soc/arm/nxp_kinetis/k6x/Kconfig.defconfig.mk66f18
  soc/arm/nxp_kinetis/k8x/Kconfig.defconfig.series
  soc/arm/nxp_kinetis/ke1xf/Kconfig.defconfig.series
  soc/arm/nxp_kinetis/kwx/Kconfig.defconfig.mkw2xd512
  soc/arm/nxp_lpc/lpc55xxx/Kconfig.defconfig.lpc55S28
  soc/arm/nxp_lpc/lpc55xxx/Kconfig.defconfig.lpc55S69_cpu0
  soc/riscv/riscv-ite/it8xxx2/Kconfig.defconfig.series
Labels: area: RISCV, platform: NXP, platform: Microchip SAM, platform: ITE, platform: Nuvoton NPCX

#47558 arch: introduce config DCLS
  arch/Kconfig
  arch/arm/core/aarch32/cortex_a_r/reset.S
  cmake/compiler/gcc/target_arm.cmake
Labels: area: Build System, area: ARM, area: Toolchains

#48664 Fixes sys_clock_tick_get()
  kernel/timeout.c
Labels: area: Kernel

#48678 west: adding --domain to west build synopsis
  scripts/west_commands/build.py
Labels: area: West

#47229 tests: kernel: context: move to new ztest API
  tests/kernel/context/prj.conf
  tests/kernel/context/src/main.c
Labels: area: Kernel

#47559 drivers: intc_gicv3: configuring affinity to PE
  drivers/interrupt_controller/intc_gicv3.c
Labels: area: Interrupt Controller

#48533 drivers: modem: gsm: FSM implementation
  drivers/modem/gsm_ppp.c
Labels: area: Modem

#48618 soc: riscv: remove usage of SOC_ERET
  arch/riscv/core/isr.S
  soc/riscv/esp32c3/soc.h
  soc/riscv/openisa_rv32m1/soc_ri5cy.h
  soc/riscv/openisa_rv32m1/soc_zero_riscy.h
  soc/riscv/riscv-ite/common/soc_common.h
  soc/riscv/riscv-privilege/common/soc_common.h
Labels: area: RISCV, platform: ESP32, platform: ITE

#48634 samples: bluetooth: Update central_multilink to support ext. adv.
  samples/bluetooth/central_multilink/prj.conf
  samples/bluetooth/central_multilink/src/central_multilink.c
Labels: area: Bluetooth

#48635 drivers: i2c: esp32: fix node identification
  drivers/i2c/i2c_esp32.c
Labels: area: I2C, platform: ESP32

#48643 boards: nucleo_l11k4: SPI device is missing pinctrl configuration
  boards/arm/nucleo_l011k4/nucleo_l011k4.dts
Labels: platform: STM32

#48646 modules: openthread: Fix building with picolibc
  modules/openthread/CMakeLists.txt
Labels: area: OpenThread, manifest-openthread

#48648 boards: arm: stm32: Remove label property from devicetree
  boards/arm/96b_argonkey/96b_argonkey.dts
  boards/arm/96b_carbon/96b_carbon.dts
  boards/arm/96b_neonkey/96b_neonkey.dts
  boards/arm/96b_stm32_sensor_mez/96b_stm32_sensor_mez.dts
  boards/arm/96b_wistrio/96b_wistrio.dts
  boards/arm/adafruit_feather_stm32f405/adafruit_feather_stm32f405.dts
  boards/arm/b_l072z_lrwan1/b_l072z_lrwan1.dts
  boards/arm/b_l4s5i_iot01a/b_l4s5i_iot01a.dts
  boards/arm/b_u585i_iot02a/b_u585i_iot02a-common.dtsi
  boards/arm/black_f407ve/black_f407ve.dts
  boards/arm/disco_l475_iot1/disco_l475_iot1.dts
  boards/arm/legend/legend.dts
  boards/arm/lora_e5_dev_board/lora_e5_dev_board.dts
  boards/arm/sensortile_box/sensortile_box.dts
  boards/arm/stm32f3_disco/stm32f3_disco.dts
  boards/arm/stm32f3_disco/stm32f3_disco_E.overlay
  boards/arm/stm32f411e_disco/stm32f411e_disco.dts
  boards/arm/stm32f411e_disco/stm32f411e_disco_B.overlay
  boards/arm/stm32f412g_disco/stm32f412g_disco.dts
  boards/arm/stm32f429i_disc1/stm32f429i_disc1.dts
  boards/arm/stm32f746g_disco/stm32f746g_disco.dts
  boards/arm/stm32f7508_dk/stm32f7508_dk.dts
  boards/arm/stm32f769i_disco/stm32f769i_disco.dts
  boards/arm/stm32g071b_disco/stm32g071b_disco.dts
  boards/arm/stm32g081b_eval/stm32g081b_eval.dts
  boards/arm/stm32h735g_disco/stm32h735g_disco.dts
  boards/arm/stm32h7b3i_dk/stm32h7b3i_dk.dts
  boards/arm/stm32l562e_dk/stm32l562e_dk_common.dtsi
Labels: platform: STM32

#48650 boards: arm: nxp: Remove label property from devicetree
  boards/arm/faze/faze.dts
  boards/arm/frdm_k22f/frdm_k22f.dts
  boards/arm/frdm_k64f/frdm_k64f.dts
  boards/arm/frdm_k82f/frdm_k82f.dts
  boards/arm/frdm_kl25z/frdm_kl25z.dts
  boards/arm/frdm_kw41z/frdm_kw41z.dts
  boards/arm/hexiwear_k64/hexiwear_k64.dts
  boards/arm/lpcxpresso55s16/lpcxpresso55s16_common.dtsi
  boards/arm/lpcxpresso55s28/lpcxpresso55s28_common.dtsi
  boards/arm/lpcxpresso55s69/lpcxpresso55s69.dtsi
  boards/arm/lpcxpresso55s69/lpcxpresso55s69_cpu0.dts
  boards/arm/mimxrt1010_evk/mimxrt1010_evk.dts
  boards/arm/mimxrt1015_evk/mimxrt1015_evk.dts
  boards/arm/mimxrt1020_evk/mimxrt1020_evk.dts
  boards/arm/mimxrt1024_evk/mimxrt1024_evk.dts
  boards/arm/mimxrt1050_evk/mimxrt1050_evk.dts
  boards/arm/mimxrt1050_evk/mimxrt1050_evk_qspi.dts
  boards/arm/mimxrt1060_evk/mimxrt1060_evk.dts
  boards/arm/mimxrt1060_evk/mimxrt1060_evk_hyperflash.dts
  boards/arm/mimxrt1064_evk/mimxrt1064_evk.dts
  boards/arm/mimxrt1160_evk/mimxrt1160_evk.dtsi
  boards/arm/mimxrt1160_evk/mimxrt1160_evk_cm4.dts
  boards/arm/mimxrt1160_evk/mimxrt1160_evk_cm7.dts
  boards/arm/mimxrt1170_evk/mimxrt1170_evk.dtsi
  boards/arm/mimxrt1170_evk/mimxrt1170_evk_cm4.dts
  boards/arm/mimxrt1170_evk/mimxrt1170_evk_cm7.dts
  boards/arm/mimxrt595_evk/mimxrt595_evk_cm33.dts
  boards/arm/mimxrt685_evk/mimxrt685_evk_cm33.dts
  boards/arm/mm_feather/mm_feather.dts
  boards/arm/mm_swiftio/mm_swiftio.dts
  boards/arm/teensy4/teensy40.dts
  boards/arm/teensy4/teensy41.dts
  boards/arm/twr_ke18f/twr_ke18f.dts
  boards/arm/twr_kv58f220m/twr_kv58f220m.dts
  boards/arm/warp7_m4/warp7_m4.dts
Labels: platform: NXP

#48651 boards: arm: atmel: Remove label property from devicetree
  boards/arm/adafruit_trinket_m0/adafruit_trinket_m0.dts
  boards/arm/arduino_mkrzero/arduino_mkrzero.dts
  boards/arm/atsame54_xpro/atsame54_xpro.dts
  boards/arm/atsamr21_xpro/atsamr21_xpro.dts
  boards/arm/sam_e70_xplained/sam_e70_xplained-common.dtsi
  boards/arm/sam_v71_xult/sam_v71_xult-common.dtsi
Labels: platform: Microchip SAM

#48652 boards: riscv: Remove label property from devicetree
  boards/riscv/adp_xc7k_ae350/adp_xc7k_ae350.dts
  boards/riscv/gd32vf103v_eval/gd32vf103v_eval.dts
  boards/riscv/hifive1/hifive1.dts
  boards/riscv/hifive1_revb/hifive1_revb.dts
  boards/riscv/hifive_unleashed/hifive_unleashed.dts
  boards/riscv/hifive_unmatched/hifive_unmatched.dts
  boards/riscv/litex_vexriscv/litex_vexriscv.dts
  boards/riscv/mpfs_icicle/mpfs_icicle.dts
  boards/riscv/qemu_riscv32/qemu_riscv32_xip.dts
  boards/riscv/rv32m1_vega/rv32m1_vega.dtsi
Labels: area: RISCV, platform: GD32

#48653 boards: x86: Remove label property from devicetree
  boards/x86/qemu_x86/qemu_x86.dts
  boards/x86/qemu_x86/qemu_x86_lakemont.dts
Labels: platform: X86

#48656 boards: arm64: Remove label property from devicetree
  boards/arm64/fvp_base_revc_2xaemv8a/fvp_base_revc_2xaemv8a.dts
  boards/arm64/fvp_baser_aemv8r/fvp_baser_aemv8r.dts
  boards/arm64/imx8mm_evk/imx8mm_evk.dts
  boards/arm64/imx8mm_evk/imx8mm_evk_jailhouse.dts
  boards/arm64/imx8mp_evk/imx8mp_evk.dts
  boards/arm64/imx8mp_evk/imx8mp_evk_jailhouse.dts
  boards/arm64/qemu_cortex_a53/qemu_cortex_a53.dts
  boards/arm64/xenvm/xenvm.dts
Labels: area: ARM64, area: Xen Platform

#48659 can: remove Kconfig.defconfig setting of CAN drivers
  boards/shields/mcp2515/Kconfig.defconfig
  soc/arm/nxp_imx/rt/Kconfig.defconfig.series
  soc/arm/nxp_kinetis/k6x/Kconfig.defconfig.mk64f12
  soc/arm/nxp_kinetis/k6x/Kconfig.defconfig.mk66f18
  soc/arm/nxp_kinetis/ke1xf/Kconfig.defconfig.mke16f16
  soc/arm/nxp_kinetis/ke1xf/Kconfig.defconfig.mke18f16
Labels: platform: NXP, area: CAN, area: Shields

#48423 drivers: sensor: bq274xx: Add interrupt trigger for data ready
  drivers/sensor/bq274xx/CMakeLists.txt
  drivers/sensor/bq274xx/Kconfig
  drivers/sensor/bq274xx/bq274xx.c
  drivers/sensor/bq274xx/bq274xx.h
  drivers/sensor/bq274xx/bq274xx_trigger.c
Labels: area: Sensors

#48631 bluetooth: controller: Expose prpa cache for LLL use
  subsys/bluetooth/controller/ll_sw/lll_filter.h
  subsys/bluetooth/controller/ll_sw/ull_filter.c
Labels: area: Bluetooth, area: Bluetooth Controller

#48624 esp32: drivers: counter: update build references
  drivers/counter/CMakeLists.txt
  drivers/counter/Kconfig
  drivers/counter/Kconfig.esp32
  drivers/counter/Kconfig.esp32_tmr
  drivers/counter/counter_esp32_tmr.c
Labels: area: Counter, platform: ESP32

#48662 samples: openamp: Convert to use DEVICE_DT_GET
  samples/subsys/ipc/openamp/Kconfig
  samples/subsys/ipc/openamp/common.h
  samples/subsys/ipc/openamp/remote/Kconfig
  samples/subsys/ipc/openamp/remote/boards/lpcxpresso54114_m0.overlay
  samples/subsys/ipc/openamp/remote/boards/lpcxpresso55s69_cpu1.overlay
  samples/subsys/ipc/openamp/remote/src/main.c
  samples/subsys/ipc/openamp/src/main.c
  samples/subsys/ipc/openamp_performance/Kconfig
  samples/subsys/ipc/openamp_performance/common.h
  samples/subsys/ipc/openamp_performance/remote/Kconfig
  samples/subsys/ipc/openamp_rsc_table/Kconfig
  samples/subsys/ipc/openamp_rsc_table/src/main_remote.c
Labels: area: IPC

#48703 samples: sensor: accel_polling: Correct integration platform name
  samples/sensor/accel_polling/sample.yaml
Labels: area: Sensors, Hotfix

#48698 scripts: build: elf_parser: use node name for Graphviz diagrams
  scripts/build/elf_parser.py
Labels: bug, area: Build System

#48712 doc: Updated NXP Docs to indicate entropy support
  boards/arm/frdm_k22f/doc/index.rst
  boards/arm/frdm_k64f/doc/index.rst
  boards/arm/frdm_k82f/doc/index.rst
  boards/arm/frdm_kw41z/doc/index.rst
  boards/arm/hexiwear_k64/doc/index.rst
  boards/arm/hexiwear_kw40z/doc/index.rst
  boards/arm/lpcxpresso55s06/doc/index.rst
  boards/arm/lpcxpresso55s16/doc/index.rst
  boards/arm/lpcxpresso55s28/doc/index.rst
  boards/arm/lpcxpresso55s69/doc/index.rst
  boards/arm/mimxrt1010_evk/doc/index.rst
  boards/arm/mimxrt1015_evk/doc/index.rst
  boards/arm/mimxrt1020_evk/doc/index.rst
  boards/arm/mimxrt1024_evk/doc/index.rst
  boards/arm/mimxrt1050_evk/doc/index.rst
  boards/arm/mimxrt1060_evk/doc/index.rst
  boards/arm/mimxrt1064_evk/doc/index.rst
  boards/arm/mimxrt595_evk/doc/index.rst
  boards/arm/mimxrt685_evk/doc/index.rst
  boards/arm/usb_kw24d512/doc/index.rst
Labels: platform: NXP

#48604 tests: subsys: pm: Remove unneccessary devicetree label prop
  tests/subsys/pm/device_power_domains/app.overlay
  tests/subsys/pm/power_mgmt/boards/native_posix.overlay
Labels: area: Power Management

#48425 kernel: Init the base.slice_ticks for dummy_thread
  kernel/include/kswap.h
Labels: area: Kernel

#48637 tests: pm: device_wakeup_api: Fix comment on wakeup capable assert
  tests/subsys/pm/device_wakeup_api/src/main.c
Labels: area: Power Management

#48695 soc/arm64: Do not allow userspace to directly access peripherals
  soc/arm64/intel_socfpga/agilex/mmu_regions.c
  soc/arm64/nxp_imx/imx8m/mmu_regions.c
  soc/arm64/nxp_layerscape/ls1046a/mmu_regions.c
  soc/arm64/xenvm/mmu_regions.c
Labels: area: ARM64, area: Xen Platform

#48519 soc: stm32: Remove direct COUNTER_RTC_STM32 to COUNTER dependency
  soc/arm/st_stm32/common/Kconfig.defconfig.series
Labels: bug, platform: STM32

#48681 drivers: modem: gsm: adjust logs level
  drivers/modem/gsm_ppp.c
Labels: area: Modem

#48398 kernel: queue: move queue testcase to new ztest
  tests/kernel/queue/prj.conf
  tests/kernel/queue/src/main.c
  tests/kernel/queue/src/test_queue.h
  tests/kernel/queue/src/test_queue_contexts.c
  tests/kernel/queue/src/test_queue_fail.c
  tests/kernel/queue/src/test_queue_loop.c
  tests/kernel/queue/src/test_queue_user.c
Labels: area: Kernel

#48680 scripts: west_commands: runners: jlink: support pylink >= 0.14
  scripts/west_commands/runners/jlink.py
Labels: area: West

#48195 scripts: gen_handles: Sort the device handles
  scripts/build/gen_handles.py
Labels: area: Build System

#48619 tests: bluetooth: tester: add support for testing Multiple Notifications
  tests/bluetooth/tester/prj.conf
  tests/bluetooth/tester/src/bttester.h
  tests/bluetooth/tester/src/gatt.c
Labels: area: Bluetooth

#48727 Bluetooth: host: Fix scan info dangling pointer
  subsys/bluetooth/host/scan.c
Labels: area: Bluetooth

#48717 cmake: Use cmake var not env for sdk
  cmake/modules/verify-toolchain.cmake
Labels: area: Build System

#48719 net: ip: build IEEE 802.15.4 L2 without IP support
  subsys/net/ip/net_core.c
  subsys/net/ip/net_pkt.c
Labels: area: Networking

#48716 drivers: ieee802154: Make raw mode and l2 mutually exclusive
  drivers/ieee802154/Kconfig
Labels: area: IEEE 802.15.4

#48677 Bluetooth: audio: ascs: Fix handling zero Number_of_ASEs parameter
  subsys/bluetooth/audio/ascs.c
Labels: area: Bluetooth, area: Bluetooth Host, area: Bluetooth Audio

#48674 Bluetooth: audio: ascs: Fix sending invalid ATT_ERROR_RSP error code
  subsys/bluetooth/audio/ascs.c
Labels: area: Bluetooth, area: Bluetooth Host, area: Bluetooth Audio

#48733 Bluetooth: host: Fix SMP local keys check when starting encryption
  subsys/bluetooth/host/smp.c
Labels: bug, area: Bluetooth, area: Bluetooth Host

#48729 drivers: timer: nrf_rtc_timer: Fix assert conditions
  drivers/timer/nrf_rtc_timer.c
Labels: area: Timer

#48701 samples: openamp_performance: remove sample
  samples/subsys/ipc/openamp_performance/CMakeLists.txt
  samples/subsys/ipc/openamp_performance/Kconfig
  samples/subsys/ipc/openamp_performance/README.rst
  samples/subsys/ipc/openamp_performance/boards/nrf5340dk_nrf5340_cpuapp.conf
  samples/subsys/ipc/openamp_performance/common.h
  samples/subsys/ipc/openamp_performance/prj.conf
  samples/subsys/ipc/openamp_performance/remote/CMakeLists.txt
  samples/subsys/ipc/openamp_performance/remote/Kconfig
  samples/subsys/ipc/openamp_performance/remote/boards/nrf5340dk_nrf5340_cpunet.conf
  samples/subsys/ipc/openamp_performance/remote/prj.conf
  samples/subsys/ipc/openamp_performance/remote/sample.yaml
  samples/subsys/ipc/openamp_performance/remote/src/main.c
  samples/subsys/ipc/openamp_performance/sample.yaml
  samples/subsys/ipc/openamp_performance/src/main.c
Labels: area: IPC

#48704 net: tcp: Fix SYN handling after connection is established
  subsys/net/ip/tcp.c
Labels: area: Networking

#48440 drivers: spi: Add default char to mcux flexcomm spi driver
  drivers/spi/spi_mcux_flexcomm.c
  dts/bindings/spi/nxp,lpc-spi.yaml
Labels: area: SPI, area: Devicetree, platform: NXP

#48542 ztest: Fix logic for SUITE_SKIP
  subsys/testsuite/ztest/src/ztest_new.c
Labels: area: Testsuite

#48583 ztest: Handle assert failures without signal handler
  subsys/testsuite/ztest/src/ztest_new.c
Labels: area: Testsuite

#48654 boards: xtensa: Remove label property from devicetree
  boards/xtensa/esp_wrover_kit/esp_wrover_kit.dts
  boards/xtensa/odroid_go/odroid_go.dts
  boards/xtensa/olimex_esp32_evb/olimex_esp32_evb.dts
Labels: area: Xtensa, Trivial

#48748 arch: x86: Fix wrong identation
  arch/x86/core/prep_c.c
Labels: area: X86

#48744 boards: fvp_baser_aemv8r_aarch32: Fix the board type
  boards/arm/fvp_baser_aemv8r_aarch32/doc/index.rst
Labels: area: ARM, Trivial

#46430 drivers: eeprom: Fix format strings
  drivers/eeprom/eeprom_shell.c
  samples/drivers/eeprom/overlay-shell.conf
  samples/drivers/eeprom/sample.yaml
  samples/drivers/eeprom/src/main.c
Labels: area: EEPROM

#48076 Peress/fff migration openthread
  tests/subsys/openthread/prj.conf
  tests/subsys/openthread/radio_test.c
Labels: area: Networking, area: OpenThread

#48706 serial: uart_pl011: Fix compile error for CONFIG_UART_INTERRUPT_DRIVEN=n
  drivers/serial/uart_pl011.c
Labels: area: UART

#48713 Update NET_BUF_POOL_FIXED_DEFINE: added the alignment for net_buf_data
  include/zephyr/net/buf.h
Labels: area: Networking

#48708 scripts: kconfig: tweak dt_chosen_label
  scripts/kconfig/kconfigfunctions.py
Labels: area: Kconfig

#48693 boards: arm: nrf5340: Drop RPMSG service configuration
  boards/arm/bl5340_dvk/Kconfig
  boards/arm/nrf5340dk_nrf5340/Kconfig.defconfig
  boards/arm/thingy53_nrf5340/Kconfig
  samples/subsys/ipc/rpmsg_service/remote/sample.yaml
  samples/subsys/ipc/rpmsg_service/sample.yaml
Labels: area: IPC, platform: nRF, platform: Laird Connectivity

#48692 soc: nordic_nrf: drop IPM support
  soc/arm/nordic_nrf/nrf53/sync_rtc.c
Labels: platform: nRF

#48247 tests: subsys: modbus cases move to new ztest API
  tests/subsys/modbus/prj.conf
  tests/subsys/modbus/src/main.c
Labels: area: modbus

#48570 i2c: shell: Remove prefix filtering of device list
  drivers/i2c/i2c_shell.c
Labels: area: I2C

#48691 samples: nrf53_sync_rtc: drop IPM support
  samples/boards/nrf/nrf53_sync_rtc/boards/nrf5340dk_nrf5340_cpuapp_mbox.conf
  samples/boards/nrf/nrf53_sync_rtc/net/boards/nrf5340dk_nrf5340_cpunet_mbox.conf
  samples/boards/nrf/nrf53_sync_rtc/net/prj.conf
  samples/boards/nrf/nrf53_sync_rtc/net/sample.yaml
  samples/boards/nrf/nrf53_sync_rtc/net/src/main.c
  samples/boards/nrf/nrf53_sync_rtc/prj.conf
  samples/boards/nrf/nrf53_sync_rtc/sample.yaml
Labels: platform: nRF

#48741 Bluetooth: Mesh: don't send Friend Clear if Friend is lost
  subsys/bluetooth/mesh/lpn.c
Labels: area: Bluetooth, area: Bluetooth Mesh

#48745 arch: riscv: Align semihost_exec function at 16-byte boundary
  arch/riscv/core/semihost.c
Labels: area: RISCV

#48565 net: lwm2m: Allow string and opaque data types to be empty
  subsys/net/lib/lwm2m/lwm2m_message_handling.c
Labels: area: LWM2M

#48759 net: ethernet: Add EAPoL ether type support
  include/zephyr/net/ethernet.h
  subsys/net/l2/ethernet/ethernet.c
Labels: area: Networking

#48675 bluetooth: ots: fix stack overflow
  samples/bluetooth/peripheral_ots/prj.conf
Labels: area: Bluetooth

#48772 drivers: pinctrl: stm32: Kconfig: add missing dependency
  drivers/pinctrl/Kconfig.stm32
Labels: platform: STM32, area: Pinctrl

#48774 samples: tfm_integration: tfm_regression_test Default to isol level 2
  samples/tfm_integration/tfm_regression_test/prj.conf
  samples/tfm_integration/tfm_regression_test/sample.yaml
Labels: area: TF-M

#48273 subsys/mgmt/hawkbit: Clean up flash map usage
  subsys/mgmt/hawkbit/hawkbit.c
Labels: area: hawkBit

#48781 tests: net: socket: Disable unstable tests for mps2_an385
  tests/net/socket/poll/testcase.yaml
  tests/net/socket/select/testcase.yaml
  tests/net/socket/tcp/testcase.yaml
Labels: area: Networking, area: Sockets, Hotfix

#48776 tests: arm: Increase main stack size with no optimizations
  subsys/testsuite/Kconfig
  tests/arch/arm/arm_interrupt/testcase.yaml
  tests/arch/arm/arm_thread_swap/testcase.yaml
Labels: area: Kernel, area: ARM, area: Testsuite

#48795 doc: porting/arch: add two funcs for MMU enabling
  doc/hardware/porting/arch.rst
Labels: area: Documentation

#48769 docs: fix idle prio in cooperative mode
  doc/kernel/services/threads/priorities.svg
Labels: area: Kernel, area: Documentation
