Repository zephyrproject-rtos/zephyr, pull requests merged in 2022-04, with the labels that each got.

#44430 twister: harness: fix ztest detection
  scripts/pylib/twister/harness.py
Labels: bug, area: Twister

#41814 lib: posix: clock: Prevent early overflows
  lib/posix/clock.c
Labels: area: POSIX

#43795 west.yaml: hal_stm32: STM32Cube packages update
  west.yml
Labels: platform: STM32, area: Modules, manifest, west, manifest-hal_stm32

#44328 it8xxx2: espi: fill OOB header at driver level
  drivers/espi/espi_it8xxx2.c
Labels: area: eSPI, platform: ITE

#44452 gh: actions: Triggger the do not merge after manifest runs
  .github/workflows/do_not_merge.yml
Labels: area: Continuous Integration

#43323 boards: Added board file of Ophelia-I
  boards/arm/we_ophelia1ev_nrf52805/Kconfig
  boards/arm/we_ophelia1ev_nrf52805/Kconfig.board
  boards/arm/we_ophelia1ev_nrf52805/Kconfig.defconfig
  boards/arm/we_ophelia1ev_nrf52805/board.cmake
  boards/arm/we_ophelia1ev_nrf52805/doc/img/we_ophelia1ev_nrf52805.jpg
  boards/arm/we_ophelia1ev_nrf52805/doc/index.rst
  boards/arm/we_ophelia1ev_nrf52805/we_ophelia1ev_nrf52805-pinctrl.dtsi
  boards/arm/we_ophelia1ev_nrf52805/we_ophelia1ev_nrf52805.dts
  boards/arm/we_ophelia1ev_nrf52805/we_ophelia1ev_nrf52805.yaml
  boards/arm/we_ophelia1ev_nrf52805/we_ophelia1ev_nrf52805_defconfig
Labels: area: Boards, area: Documentation, area: Devicetree

#44458 tfm: Fix crash in TF-M when non-secure IRQ is using FPU
  modules/trusted-firmware-m/interface/interface.c
Labels: area: Modules, area: TF-M

#44459 net: openthread: align platform time with radio time
  subsys/net/lib/openthread/platform/alarm.c
  subsys/net/lib/openthread/platform/platform.c
Labels: area: Networking, area: OpenThread

#44169 it8xxx2: re-factor idle routine
  drivers/interrupt_controller/intc_ite_it8xxx2.c
  drivers/interrupt_controller/intc_ite_it8xxx2.h
  soc/riscv/riscv-ite/common/soc_common.h
  soc/riscv/riscv-ite/it8xxx2/soc.c
Labels: area: RISCV, area: Interrupt Controller, platform: ITE

#44409 drivers: spi: esp32c3: add master init call
  drivers/spi/spi_esp32_spim.c
Labels: area: SPI

#44472 hal: nxp: Centralize handling of SDK custom sections
  soc/arm/nxp_imx/rt5xx/CMakeLists.txt
  soc/arm/nxp_imx/rt5xx/quick_access.ld
  soc/arm/nxp_imx/rt6xx/CMakeLists.txt
  soc/arm/nxp_imx/rt6xx/quick_access.ld
  west.yml
Labels: platform: NXP, area: Modules, manifest, west, manifest-hal_nxp

#44329 Bluetooth: Controller: NULL structure fields before release to pool
  subsys/bluetooth/controller/ll_sw/ull_scan_aux.c
Labels: area: Bluetooth, area: Bluetooth Controller

#44445 Bluetooth: Controller: Force MD feature not supported in LOW LAT ULL
  subsys/bluetooth/controller/Kconfig.ll_sw_split
Labels: area: Bluetooth, area: Bluetooth Controller

#44467 Bluetooth: Controller: Improve handling iq samples in DTM
  subsys/bluetooth/controller/ll_sw/nordic/lll/lll_test.c
Labels: area: Bluetooth, area: Bluetooth Controller

#44464 Bluetooth: Controller: Fix b2b rx shorts
  subsys/bluetooth/controller/ll_sw/nordic/hal/nrf5/radio/radio.c
Labels: area: Bluetooth, area: Bluetooth Controller

#44446 doc: networking: net_mgmt: s/net_mgmt_notify/net_mgmt_event_notify
  doc/reference/networking/net_mgmt.rst
Labels: area: Documentation

#44223 net: lwm2m: Senml Opaque base64url support and fix padding
  subsys/net/lib/lwm2m/lwm2m_rw_senml_json.c
Labels: area: Networking, area: LWM2M

#44443 Bluetooth: Controller: Workaround nRF52840 Revision 3 Errata 191
  subsys/bluetooth/controller/ll_sw/nordic/hal/nrf5/radio/radio_nrf5.h
  subsys/bluetooth/controller/ll_sw/nordic/hal/nrf5/radio/radio_nrf52840.h
Labels: bug, area: Bluetooth, area: Bluetooth Controller

#44500 doc: Add link to J-Link virtual MSD disable for SMP
  doc/guides/device_mgmt/mcumgr.rst
  samples/subsys/mgmt/mcumgr/smp_svr/README.rst
Labels: area: Documentation, area: Samples

#44330 Bluetooth: Controller: Introduce a timeout to get HCI event buffer
  subsys/bluetooth/controller/hci/hci.c
Labels: area: Bluetooth, area: Bluetooth Controller

#44331 Bluetooth: Controller: Offset Coded PHY scan window
  subsys/bluetooth/controller/ll_sw/ull_scan.c
Labels: area: Bluetooth, area: Bluetooth Controller

#44335 Bluetooth: Controller: Fix use of uninitialized secondary PHY
  subsys/bluetooth/controller/ll_sw/ull_adv.c
Labels: bug, area: Bluetooth, area: Bluetooth Controller

#44003 Bluetooth: controller: Rewrite LLCP PDU RX handling
  subsys/bluetooth/controller/ll_sw/ull_llcp.c
Labels: area: Bluetooth, area: Bluetooth Controller, area: Bluetooth LLCP

#44369 Bluetooth: controller: llcp: remove extra initialisation
  subsys/bluetooth/controller/ll_sw/ull_llcp.c
Labels: area: Bluetooth, area: Bluetooth Controller, area: Bluetooth LLCP

#44249 boards: arm: pinetime: Fix minimal sample build
  boards/arm/pinetime_devkit0/CMakeLists.txt
Labels: area: Boards

#44277 usb: hid: Fix USB HID Doxygen doc
  include/usb/class/usb_hid.h
Labels: area: USB, area: API, Trivial

#44234 util: convert wait_for macro to uppercase
  include/sys/util.h
  soc/xtensa/intel_adsp/common/include/cavstool.h
  tests/bluetooth/bsim_bt/bsim_test_audio/src/bass_client_test.c
  tests/bluetooth/bsim_bt/bsim_test_audio/src/bass_test.c
  tests/bluetooth/bsim_bt/bsim_test_audio/src/common.h
  tests/bluetooth/bsim_bt/bsim_test_audio/src/csis_client_test.c
  tests/bluetooth/bsim_bt/bsim_test_audio/src/csis_test.c
  tests/bluetooth/bsim_bt/bsim_test_audio/src/mics_client_test.c
  tests/bluetooth/bsim_bt/bsim_test_audio/src/mics_test.c
  tests/bluetooth/bsim_bt/bsim_test_audio/src/tbs_client_test.c
  tests/bluetooth/bsim_bt/bsim_test_audio/src/tbs_test.c
  tests/bluetooth/bsim_bt/bsim_test_audio/src/vcs_client_test.c
  tests/bluetooth/bsim_bt/bsim_test_audio/src/vcs_test.c
  tests/boards/intel_adsp/hda/src/dma.c
  tests/boards/intel_adsp/hda/src/smoke.c
  tests/boards/intel_adsp/smoke/src/cpus.c
  tests/boards/intel_adsp/smoke/src/hostipc.c
  tests/boards/intel_adsp/smoke/src/main.c
  tests/lib/sys_util/src/wait_for.c
Labels: area: Bluetooth, area: Tests, area: API, area: Base OS, area: Bluetooth Audio

#44460 net: lwm2m: SenML Json Base compare fix
  subsys/net/lib/lwm2m/lwm2m_rw_senml_json.c
Labels: area: Networking, area: LWM2M

#44461 net: lwm2m: Support for "Mute Server" resource
  subsys/net/lib/lwm2m/lwm2m_engine.c
  subsys/net/lib/lwm2m/lwm2m_engine.h
  subsys/net/lib/lwm2m/lwm2m_obj_server.c
Labels: area: Networking, area: LWM2M

#44406 tfm: Add configuration for BL2 not supported
  modules/trusted-firmware-m/Kconfig.tfm
Labels: area: Modules, area: TF-M

#44487 drivers: uart_stm32: Add support for tx/rx swap
  drivers/serial/uart_stm32.c
  drivers/serial/uart_stm32.h
  dts/bindings/serial/st,stm32-usart.yaml
Labels: area: UART, area: Devicetree, platform: STM32, area: Devicetree Binding

#44412 devicetree_regions: Fix fallback on token
  include/linker/devicetree_regions.h
  tests/lib/devicetree/api_ext/src/main.c
  tests/lib/devicetree/memory_region/CMakeLists.txt
  tests/lib/devicetree/memory_region/app.overlay
  tests/lib/devicetree/memory_region/prj.conf
  tests/lib/devicetree/memory_region/src/main.c
  tests/lib/devicetree/memory_region/testcase.yaml
Labels: area: Devicetree, area: Tests, area: API

#44258 ITE drivers/timer: clean up sys_clock_set_timeout()
  drivers/timer/ite_it8xxx2_timer.c
Labels: area: Kernel, area: Timer, area: Tests, platform: ITE

#44365 net: lwm2m: Clean up context on stop
  subsys/net/lib/lwm2m/lwm2m_engine.c
  subsys/net/lib/lwm2m/lwm2m_rd_client.c
Labels: area: Networking

#44435 arm64: mmu: provide more memory mapping types for z_phys_map()
  arch/arm64/core/mmu.c
  include/arch/arm64/arm_mem.h
  include/sys/mem_manage.h
Labels: area: API, area: Base OS, area: ARM64

#44493 soc/it8xxx2: enable FPU support
  soc/riscv/riscv-ite/it8xxx2/Kconfig.series
Labels: area: RISCV, platform: ITE

#44515 drivers: i2c: MEC15xx i2c error handling
  drivers/i2c/i2c_mchp_xec.c
Labels: area: I2C

#44516 Bluetooth: Controller: Fix -40 tx power kconfig for nrf53
  subsys/bluetooth/controller/Kconfig
Labels: area: Bluetooth, area: Bluetooth Controller

#44447 Bluetooth: Controller: Fix missing Tx demux for LOW LAT ULL variant
  subsys/bluetooth/controller/ll_sw/lll_conn.h
  subsys/bluetooth/controller/ll_sw/nordic/lll/lll_conn.c
  subsys/bluetooth/controller/ll_sw/ull_conn.c
Labels: area: Bluetooth, area: Bluetooth Controller

#43686 posix: Fix pthread_once incorrect behavior
  lib/posix/pthread.c
  tests/posix/common/src/pthread.c
  tests/posix/common/src/pthread_key.c
Labels: bug, area: Tests, area: POSIX

#44126 boards: arm: nucleo_h743zi runner openocd requires reset halt
  boards/arm/nucleo_h743zi/board.cmake
Labels: area: Boards, platform: STM32

#44560 soc: riscv: sifive-freedom: Fix whitespace mistake.
  soc/riscv/riscv-privilege/sifive-freedom/soc.h
Labels: Trivial

#44543 modules: hal_nordic: Update nrfx to version 2.8.0
  west.yml
Labels: area: Modules, manifest, west, manifest-hal_nordic

#44088 soc: Add UF2 family ID for nRF52833
  Kconfig.zephyr
Labels: area: Kconfig

#41046 drivers: display: st7789v: Move params to `struct config`
  drivers/display/display_st7789v.c
Labels: area: Drivers, area: Display

#44505 tests: drivers: can: stm32: clean up and document the CAN STM32 tests
  tests/drivers/can/stm32/src/main.c
Labels: platform: STM32, area: Tests, area: CAN

#44508 test: drivers: can: canfd: clean up and document the CAN-FD test cases
  tests/drivers/can/canfd/src/main.c
Labels: area: Tests, area: CAN

#44532 boards: bl654_usb: Fix non-mcuboot builds not limiting size
  boards/arm/bl654_usb/Kconfig.defconfig
Labels: area: Boards

#44537 net: openthread: add Time Sync support
  subsys/net/lib/openthread/platform/alarm.c
Labels: area: Networking, area: OpenThread

#44542 Bluetooth: controller: df: Fix check for saturated IQ samples.
  subsys/bluetooth/controller/ll_sw/nordic/lll/lll_df_types.h
Labels: area: Bluetooth, area: Bluetooth Controller

#44549 Bluetooth: Audio: Align BabbleSim simulation lengths with other tests
  tests/bluetooth/bsim_bt/bsim_test_audio/test_scripts/bass.sh
  tests/bluetooth/bsim_bt/bsim_test_audio/test_scripts/broadcast_audio.sh
  tests/bluetooth/bsim_bt/bsim_test_audio/test_scripts/tbs.sh
  tests/bluetooth/bsim_bt/bsim_test_audio/test_scripts/unicast_audio.sh
Labels: area: Bluetooth, area: Tests, Trivial, area: Bluetooth Host, area: Bluetooth Audio

#44184 cfb: support for HPACKED fonts
  subsys/fb/cfb.c
Labels: area: API, area: Display

#44580 net: mqtt: remove custom logging macros
  subsys/net/lib/mqtt/mqtt.c
  subsys/net/lib/mqtt/mqtt_decoder.c
  subsys/net/lib/mqtt/mqtt_encoder.c
  subsys/net/lib/mqtt/mqtt_os.h
  subsys/net/lib/mqtt/mqtt_rx.c
  subsys/net/lib/mqtt/mqtt_transport_socket_tcp.c
  subsys/net/lib/mqtt/mqtt_transport_socket_tls.c
  subsys/net/lib/mqtt/mqtt_transport_websocket.c
Labels: area: Networking, Trivial

#44157 coding guidelines: comply with MISRA C:2012 Rule 11.9
  kernel/include/mmu.h
Labels: area: Kernel, area: Coding Guidelines

#44469 dma/cavs_hda: Support channel filtering
  drivers/dma/dma_cavs_hda.c
  drivers/dma/dma_cavs_hda.h
  drivers/dma/dma_cavs_hda_host_in.c
  drivers/dma/dma_cavs_hda_host_out.c
Labels: area: DMA

#44156 coding guidelines: comply with MISRA C:2012 Rule 2.7
  arch/x86/core/intel64/fatal.c
  arch/x86/core/intel64/thread.c
  arch/x86/core/pcie.c
  arch/x86/core/x86_mmu.c
  arch/x86/include/x86_mmu.h
  arch/x86/zefi/zefi.c
  include/debug/coredump.h
  include/debug/stack.h
  include/drivers/uart.h
  include/pm/device.h
  kernel/include/mmu.h
  kernel/queue.c
  kernel/sched.c
  kernel/thread.c
  kernel/userspace.c
  kernel/work.c
Labels: area: Kernel, area: Power Management, area: X86, area: API, area: Coding Guidelines

#44140 coding guidelines: comply with MISRA C:2012 Rule 8.3
  arch/x86/core/ia32/fatal.c
  arch/x86/core/intel64/irq.c
  include/arch/x86/arch.h
  include/kernel/thread_stack.h
  include/sys/arch_interface.h
  include/sys/crc.h
  kernel/sched.c
  kernel/thread.c
  lib/os/cbprintf_complete.c
  lib/os/cbprintf_nano.c
  lib/os/cbprintf_packaged.c
  samples/kernel/condition_variables/condvar/src/main.c
  samples/kernel/condition_variables/simple/src/main.c
  tests/benchmarks/footprints/src/footprint.h
  tests/kernel/msgq/msgq_api/src/main.c
  tests/kernel/msgq/msgq_api/src/test_msgq_purge.c
  tests/kernel/sched/schedule_api/src/main.c
  tests/kernel/sched/schedule_api/src/test_sched.h
  tests/kernel/threads/thread_apis/src/tests_thread_apis.h
Labels: area: Kernel, area: Samples, area: X86, area: Tests, area: API, area: Coding Guidelines

#44104 drivers: intc: intc_cavs: use correct per-core register set for all ops
  drivers/interrupt_controller/intc_cavs.c
Labels: area: Interrupt Controller, platform: Intel CAVS

#44518 docs: Cleanup definition of node label
  doc/guides/dts/intro.rst
Labels: area: Documentation, area: Devicetree

#44599 dts: pwm: gd,gd32-pwm: add period to PWM cells
  boards/arm/gd32e103v_eval/gd32e103v_eval.dts
  boards/arm/gd32f403z_eval/gd32f403z_eval.dts
  boards/arm/gd32f450i_eval/gd32f450i_eval.dts
  boards/riscv/gd32vf103c_starter/gd32vf103c_starter.dts
  boards/riscv/gd32vf103v_eval/gd32vf103v_eval.dts
  boards/riscv/longan_nano/longan_nano-common.dtsi
  dts/arm/gigadevice/gd32e10x/gd32e10x.dtsi
  dts/arm/gigadevice/gd32f403/gd32f403.dtsi
  dts/arm/gigadevice/gd32f4xx/gd32f4xx.dtsi
  dts/bindings/pwm/gd,gd32-pwm.yaml
  dts/riscv/gigadevice/gd32vf103.dtsi
Labels: area: Boards, area: Devicetree, area: Devicetree Binding

#43953 Bluetooth: Host: Fix bt_recv_thread_id assignment
  subsys/bluetooth/host/att.c
  subsys/bluetooth/host/hci_core.c
  subsys/bluetooth/host/hci_core.h
Labels: area: Bluetooth, area: Bluetooth Host

#44308 Bluetooth: Audio: Add missing null check for ep idle state
  subsys/bluetooth/audio/unicast_client.c
Labels: bug, area: Bluetooth, area: Bluetooth Audio

#44408 Bluetooth: Audio: Improve unicast client handling of CIG
  subsys/bluetooth/audio/stream.c
  subsys/bluetooth/audio/stream.h
Labels: area: Bluetooth, area: Bluetooth Audio

#44485 drivers: can: handlers: copy outbound argument structs
  drivers/can/can_handlers.c
Labels: area: CAN

#44578 tests: drivers: can: add test of the can_set_state_change_callback() API
  tests/drivers/can/api/src/main.c
Labels: area: Tests, area: CAN

#44592 net: l2: ppp: config: fix for max terminate-req transmissions
  subsys/net/l2/ppp/fsm.c
Labels: area: Networking

#44632 west.yaml: Update zcbor revision
  west.yml
Labels: area: Modules, manifest, west, manifest-zcbor

#43570 serial: uart_nrfx_uarte: fix async compilation warning
  drivers/serial/uart_nrfx_uarte.c
Labels: area: UART, platform: nRF

#44503 Extend Altera Jtag Uart driver support
  drivers/serial/CMakeLists.txt
  drivers/serial/Kconfig.altera_jtag
  drivers/serial/uart_altera_jtag.c
  drivers/serial/uart_altera_jtag_hal.c
  dts/nios2/nios2f.dtsi
Labels: area: UART, area: Devicetree

#44591 Bluetooth: host: Prevent null pointer dereference
  subsys/bluetooth/host/adv.c
Labels: area: Bluetooth, area: Bluetooth Host

#44577 tests/bluetooth/tester: Disable EATT autoconnect
  tests/bluetooth/tester/prj.conf
Labels: area: Tests, area: Bluetooth Qualification

#44609 coding guidelines: comply with MISRA C:2012 Rule 2.2
  arch/x86/core/acpi.c
  arch/x86/zefi/printf.h
  kernel/mem_slab.c
  kernel/pipes.c
  kernel/sched.c
  kernel/sem.c
  kernel/work.c
  lib/os/cbprintf_complete.c
  lib/os/onoff.c
  lib/os/sem.c
Labels: area: Kernel, area: X86, area: Coding Guidelines

#44607 coding guidelines: comply with MISRA C:2012 Rule 21.15
  kernel/msg_q.c
  lib/os/cbprintf_packaged.c
Labels: area: Kernel, area: Coding Guidelines

#44610 coding guidelines: comply with MISRA C:2012 Rule 20.9
  arch/x86/core/ia32/thread.c
  arch/x86/core/intel64/thread.c
  arch/x86/core/prep_c.c
  arch/x86/core/x86_mmu.c
  drivers/serial/uart_nrfx_uarte.c
  include/device.h
  include/fs/fs_interface.h
  include/linker/common-ram.ld
  include/logging/log_msg2.h
  include/sys/__assert.h
  include/sys/cbprintf_internal.h
  kernel/include/kernel_internal.h
  kernel/init.c
  kernel/sched.c
  kernel/thread.c
  subsys/pm/power.c
  tests/subsys/logging/log_api/src/mock_backend.c
Labels: area: Kernel, area: Power Management, area: X86, area: Tests, area: API, area: Coding Guidelines

#44606 coding guidelines: comply with MISRA C:2012 Rule 15.6
  arch/x86/zefi/printf.h
Labels: area: X86, area: Coding Guidelines

#41415 qemu.cmake: Enable host serial ports
  boards/arm/mps2_an521/board.cmake
  boards/arm/mps2_an521/mps2_an521.dts
Labels: area: Build System, area: Boards, area: Devicetree, area: QEMU

#43884 arm64: refer to the link register as "lr" rather than "x30"
  arch/arm64/core/cpu_idle.S
  arch/arm64/core/fatal.c
  arch/arm64/core/offsets/offsets.c
  arch/arm64/core/reset.S
  arch/arm64/core/switch.S
  arch/arm64/core/vector_table.S
  include/arch/arm64/exc.h
Labels: area: API, area: ARM64

#44570 drivers: display: Add blanking support for NXP ELCDIF driver
  drivers/display/display_mcux_elcdif.c
Labels: platform: NXP

#44608 coding guidelines: comply with MISRA C:2012 Rule 11.2
  include/app_memory/app_memdomain.h
  kernel/include/mmu.h
  kernel/userspace.c
Labels: area: Kernel, area: API, area: Coding Guidelines

#44653 kernel/timeout: Serialize handler callbacks on SMP
  kernel/timeout.c
Labels: area: Kernel

#44566 console: semihosting: add RISC-V support
  drivers/console/Kconfig
  drivers/console/semihost_console.c
Labels: area: RISCV

#44581 net: context: log on net_pkt alloc fail
  subsys/net/ip/net_context.c
Labels: area: Networking, Trivial

#44556 Bluetooth: Host: Check encryption level for EATT channels
  subsys/bluetooth/host/att.c
Labels: area: Bluetooth, area: Bluetooth Host

#41857 bluetooth: ots: notify application prior to object name change
  include/bluetooth/services/ots.h
  samples/bluetooth/peripheral_ots/src/main.c
  subsys/bluetooth/services/ots/ots.c
Labels: area: Bluetooth, area: Documentation, area: Samples, area: API, Release Notes, area: Bluetooth Host

#44669 tests: tinycrypt: fix test output
  tests/crypto/tinycrypt_hmac_prng/src/hmac_prng.c
Labels: area: Tests

#44673 Bluetooth: Controller: Fix null pointer dereference
  subsys/bluetooth/controller/hci/hci.c
Labels: area: Bluetooth, area: Bluetooth Controller

#44646 net: openthread: name Kconfig version choice
  subsys/net/l2/openthread/Kconfig.features
Labels: area: Networking

#44552 manifest: Update psa-arch-tests with nordic watchdog timeout fix
  west.yml
Labels: area: Modules, manifest, west, manifest-psa-arch-tests

#44698 mgmt: mcumgr: lib: Fix non-visible struct build warnings
  subsys/mgmt/mcumgr/lib/cmd/img_mgmt/include/img_mgmt/img_mgmt.h
  subsys/mgmt/mcumgr/lib/mgmt/include/mgmt/mgmt.h
Labels: area: mcumgr, Hotfix

#44635 modules: tinycbor: Deprecate the module
  doc/releases/release-notes-3.1.rst
  modules/Kconfig.tinycbor
  west.yml
Labels: area: Documentation, Release Notes, area: Modules, manifest, west, manifest-tinycbor

#44689 kernel/device: Remove unknown external pointer
  kernel/device.c
Labels: area: Kernel, area: Device Management, Trivial, area: Device Model

#44625 drivers: fpga: change retval description in fpga_get_status
  include/drivers/fpga.h
Labels: area: API

#44682 soc: arm: stm32 adjust wdt task fallback due to LSI oscillator characteristics
  soc/arm/st_stm32/stm32f0/Kconfig.defconfig.series
  soc/arm/st_stm32/stm32f1/Kconfig.defconfig.series
  soc/arm/st_stm32/stm32f4/Kconfig.defconfig.series
  soc/arm/st_stm32/stm32l0/Kconfig.defconfig.series
  soc/arm/st_stm32/stm32l1/Kconfig.defconfig.series
Labels: platform: STM32, area: Task Watchdog

#44700 mgmt/mcumgr/lib: Fix zcbor_map_decode bulk
  subsys/mgmt/mcumgr/lib/util/src/zcbor_bulk.c
Labels: bug, area: mcumgr

#44668 x86: qemu: add a newline after "Booting from ROM.."
  arch/x86/core/prep_c.c
Labels: area: X86

#44650 ztest: fix `before` function ordering
  subsys/testsuite/ztest/include/ztest_test_new.h
  subsys/testsuite/ztest/src/ztest_new.c
Labels: area: Test Framework, area: Testsuite

#44657 net: sockets: do not unconstify 'optval' in setsockopt()
  subsys/net/lib/sockets/sockets.c
Labels: area: Networking, area: Sockets

#44585 soc: stm32: Fix DBGMCU register write for SWO configuration
  soc/arm/st_stm32/common/soc_config.c
Labels: bug, platform: STM32

#44626 drivers: fpga: connect eos_s3 dts with driver
  boards/arm/quick_feather/quick_feather.dts
  drivers/fpga/fpga_eos_s3.c
Labels: area: Boards, area: Devicetree

#44702 Bluetooth: Mesh: Various small fixes in mesh shell module
  subsys/bluetooth/mesh/shell.c
Labels: area: Bluetooth, area: Bluetooth Mesh

#44675 tests: drivers: can: api: check frames in test_send_receive_msgq()
  tests/drivers/can/api/src/main.c
Labels: area: Tests, area: CAN, Trivial

#44633 arch: arm: change dependency on CODE_DATA_RELOCATION
  arch/arm/Kconfig
Labels: area: ARM

#44468 Bluetooth: has: Satisfy profile security requirement
  subsys/bluetooth/audio/Kconfig.has
  tests/bluetooth/bsim_bt/bsim_test_audio/prj.conf
  tests/bluetooth/shell/audio.conf
Labels: area: Bluetooth, area: Tests, area: Bluetooth Host, area: Bluetooth Audio

#40273 Bluetooth: Host: Use system work queue instead of BT RX
  drivers/bluetooth/hci/Kconfig
  drivers/bluetooth/hci/h4.c
  include/zephyr/bluetooth/gatt.h
  include/zephyr/drivers/bluetooth/hci_driver.h
  subsys/bluetooth/common/Kconfig
  subsys/bluetooth/controller/Kconfig
  subsys/bluetooth/host/Kconfig
  subsys/bluetooth/host/hci_core.c
  subsys/bluetooth/host/hci_core.h
  subsys/bluetooth/host/hci_ecc.c
  tests/bluetooth/hci_prop_evt/prj.conf
  tests/bluetooth/host_long_adv_recv/prj.conf
Labels: Enhancement, area: Kernel, area: Bluetooth, area: Samples, area: Tests, area: API, area: Bluetooth Mesh, area: Bluetooth Controller, area: Bluetooth Host, area: Bluetooth Audio

#44696 tests/mgmt/mcumgr/smp_reassembly: Remove dependency on TINYCBOR
  tests/subsys/mgmt/smp_reassembly/prj.conf
Labels: area: Tests

#44640 mgmt/mcumgr: Kconfig: Gather transport options under own menus
  subsys/mgmt/mcumgr/Kconfig
Labels: area: mcumgr

#42415 mgmt/mcumgr/lib: Improve smp_process_request_packet documentation
  subsys/mgmt/mcumgr/lib/smp/src/smp.c
Labels: area: Documentation, area: mcumgr

#44694 soc/intel_adsp: XTENSA_WAITI_BUG must be set of cAVS1.8 and newer
  soc/xtensa/intel_adsp/cavs_v18/Kconfig.series
  soc/xtensa/intel_adsp/cavs_v20/Kconfig.series
  soc/xtensa/intel_adsp/cavs_v25/Kconfig.series
Labels: area: Xtensa, platform: Intel CAVS

#44743 manifest: update hal_microchip
  west.yml
Labels: area: Modules, manifest, west, manifest-hal_microchip

#44717 include: fix the video api function pointer error
  include/zephyr/drivers/video.h
Labels: area: API, area: Video

#44517 Normalize .cc extensions to .cpp
  samples/modules/tflite-micro/hello_world/src/assert.cpp
  samples/modules/tflite-micro/hello_world/src/main_functions.cpp
  samples/modules/tflite-micro/hello_world/src/model.cpp
  samples/modules/tflite-micro/hello_world/src/model.hpp
  samples/modules/tflite-micro/hello_world/src/output_handler.cpp
  samples/modules/tflite-micro/hello_world/src/output_handler.hpp
  samples/modules/tflite-micro/magic_wand/src/accelerometer_handler.cpp
  samples/modules/tflite-micro/magic_wand/src/accelerometer_handler.hpp
  samples/modules/tflite-micro/magic_wand/src/assert.cpp
  samples/modules/tflite-micro/magic_wand/src/constants.hpp
  samples/modules/tflite-micro/magic_wand/src/gesture_predictor.cpp
  samples/modules/tflite-micro/magic_wand/src/gesture_predictor.hpp
  samples/modules/tflite-micro/magic_wand/src/magic_wand_model_data.cpp
  samples/modules/tflite-micro/magic_wand/src/magic_wand_model_data.hpp
  samples/modules/tflite-micro/magic_wand/src/main.cpp
  samples/modules/tflite-micro/magic_wand/src/main_functions.cpp
  samples/modules/tflite-micro/magic_wand/src/main_functions.hpp
  samples/modules/tflite-micro/magic_wand/src/output_handler.cpp
  samples/modules/tflite-micro/magic_wand/src/output_handler.hpp
Labels: area: Samples, area: C++

#44746 ci: backport: Update backport action to v1.1.1-3
  .github/workflows/backport.yml
Labels: Enhancement, area: Continuous Integration

#44739 drivers: pwm_nrf5_sw: Two fixes and one improvement
  drivers/pwm/pwm_nrf5_sw.c
Labels: bug, area: PWM, platform: nRF

#44699 doc: bluetooth: mesh: Fix links in Bluetooth mesh documentation
  doc/connectivity/bluetooth/api/mesh/core.rst
Labels: area: Documentation, area: Bluetooth Mesh

#44636 it8xxx2: intc: ensure IER disabling to become effective
  drivers/interrupt_controller/intc_ite_it8xxx2.c
Labels: area: Interrupt Controller, platform: ITE

#44297 Bluetooth: controller: Implementing LL param checks for refactored CPR
  subsys/bluetooth/controller/ll_sw/ull_conn.c
  subsys/bluetooth/controller/ll_sw/ull_internal.h
  subsys/bluetooth/controller/ll_sw/ull_llcp_conn_upd.c
  tests/bluetooth/controller/ctrl_conn_update/src/main.c
Labels: area: Bluetooth, area: Tests, area: Bluetooth Controller, area: Bluetooth LLCP

#43574 Bluetooth: Immediate Alert Service
  include/zephyr/bluetooth/services/ias.h
  include/zephyr/linker/common-rom.ld
  samples/bluetooth/peripheral/prj.conf
  samples/bluetooth/peripheral/src/main.c
  subsys/bluetooth/services/CMakeLists.txt
  subsys/bluetooth/services/Kconfig
  subsys/bluetooth/services/Kconfig.ias
  subsys/bluetooth/services/ias.c
Labels: area: Bluetooth, area: Samples, area: API, area: Bluetooth Host

#44793 Bluetooth: controller: Fix build with new LLCP enabled
  subsys/bluetooth/controller/ll_sw/ull_llcp_conn_upd.c
Labels: area: Bluetooth, Hotfix, area: Bluetooth Controller

#44799 templates: nomination: Fix 'TSC Project Roles' link
  .github/ISSUE_TEMPLATE/nomination.md
Labels: area: DevOps

#44378 [Backport v2.7-branch] boards: arm: stm32l562e_dk and nucleo_l552ze_q add openocd support
  boards/arm/nucleo_l552ze_q/doc/nucleol552ze_q.rst
  boards/arm/nucleo_l552ze_q/support/openocd.cfg
  boards/arm/stm32l562e_dk/doc/index.rst
  boards/arm/stm32l562e_dk/support/openocd.cfg
Labels: area: Boards, area: Documentation, platform: STM32

#44568 drivers: i2c: Microchip MEC172x support device tree clock frequency
  drivers/i2c/i2c_mchp_xec_v2.c
Labels: area: I2C

#44627 (2.7 backport) boards: bl654_usb: Fix non-mcuboot builds not limiting size
  boards/arm/bl654_usb/Kconfig.defconfig
Labels: area: Boards

#44809 lib: os: cbprintf: use TOOLCHAIN_HAS_C_GENERIC macro instead
  include/zephyr/sys/cbprintf.h
Labels: area: API

#44720 Add pwm-0 alias to mec172xevb dts file
  boards/arm/mec172xevb_assy6906/mec172xevb_assy6906.dts
  boards/arm/mec172xevb_assy6906/mec172xevb_assy6906.yaml
  drivers/pwm/Kconfig.xec
Labels: area: PWM, area: Boards, area: Devicetree, platform: Microchip

#44146 drivers: sensor: bmi160: fix waiting time before reading CHIP_ID
  drivers/sensor/bmi160/bmi160.c
Labels: area: Sensors

#44845 kernel/timeout: Cleanup/speedup parallel announce logic
  kernel/timeout.c
Labels: area: Kernel

#44813 coredump: Add callee registers to arm arch block
  arch/arm/core/aarch32/cortex_m/coredump.c
  scripts/coredump/gdbstubs/arch/arm_cortex_m.py
Labels: Enhancement, area: ARM, area: Debugging

#44265 sys: heap: support maximum allocated bytes statistic
  include/zephyr/sys/sys_heap.h
  lib/os/heap-validate.c
  lib/os/heap.c
  lib/os/heap.h
Labels: area: API, area: Base OS

#44792 net: lwm2m: Makes OMA TLV content fmt conditional
  subsys/net/lib/lwm2m/CMakeLists.txt
  subsys/net/lib/lwm2m/Kconfig
  subsys/net/lib/lwm2m/lwm2m_engine.c
Labels: area: Networking, area: LWM2M

#44712 riscv: small arch_irq_* cleanup and optimization
  include/zephyr/arch/riscv/arch.h
Labels: area: RISCV, area: API

#44787 Bluetooth: host: Fix crash in bt_l2cap_chan_recv_complete
  subsys/bluetooth/host/l2cap.c
Labels: area: Bluetooth, area: Bluetooth Qualification, area: Bluetooth Host, backport v2.7-branch

#44710 hello_world_user: don't always assume userspace
  samples/userspace/hello_world_user/README.rst
  samples/userspace/hello_world_user/src/main.c
Labels: area: Documentation, area: Samples, area: Userspace

#44780 boards: rddrone_fmuk66: correct pinmux errors
  boards/arm/rddrone_fmuk66/rddrone_fmuk66-pinctrl.dtsi
Labels: area: Boards, area: Devicetree

#43637 spi: sam0: fix fast-rx path, and refresh comments
  drivers/spi/spi_sam0.c
Labels: area: SPI, platform: Atmel

#44836 Bluetooth: Host: Fix assert in L2CAP ECRED connection response
  subsys/bluetooth/host/l2cap.c
Labels: area: Bluetooth, area: Bluetooth Host

#44832 doc: mcumgr: Fix reference formatting
  doc/services/device_mgmt/mcumgr.rst
  samples/subsys/mgmt/mcumgr/smp_svr/README.rst
Labels: area: Documentation, area: Samples

#44817 Bluetooth: Controller: hci: Wrong opcode when handling CTE req failed
  subsys/bluetooth/controller/hci/hci.c
Labels: area: Bluetooth, area: Bluetooth Controller

#44444 os: lib: bin2hex: fix memory overwrite
  lib/os/hex.c
Labels: area: Base OS

#44393 scripts: Teach zephyr_module.py to find module.yaml
  scripts/zephyr_module.py
Labels: area: Build System

#43798 net: lwm2m: update client tx timestamp before sending message
  subsys/net/lib/lwm2m/lwm2m_engine.c
Labels: area: Networking, area: LWM2M

#44563 intel_adsp: Fix corrupt fatal logs
  subsys/logging/log_backend_adsp.c
Labels: area: Documentation, area: Samples, area: Logging, platform: Intel CAVS

#44761 ztest API Migration: bluetooth/at
  tests/bluetooth/at/prj.conf
  tests/bluetooth/at/src/main.c
Labels: area: Bluetooth, area: Tests

#44772 ztest API Migration: bluetooth/l2cap
  tests/bluetooth/l2cap/prj.conf
  tests/bluetooth/l2cap/src/main.c
Labels: area: Bluetooth, area: Tests

#44863 tests: logging: log_stack: Align stack usage limits
  tests/subsys/logging/log_stack/src/main.c
Labels: area: Tests, Hotfix

#44800 twister: add option to disable Ztest suite name check
  scripts/pylib/twister/twisterlib.py
  scripts/twister
Labels: area: Twister

#44529 arch/xtensa: Enable backtrace on panic on Intel ADSP platforms
  arch/xtensa/Kconfig
  arch/xtensa/core/xtensa_backtrace.c
  soc/xtensa/intel_adsp/common/include/cavs-link.ld
  soc/xtensa/intel_adsp/common/include/soc.h
  west.yml
Labels: area: Xtensa, area: Modules, manifest, west, manifest-sof, platform: Intel CAVS

#44420 soc: rt11xx: enable AHB clock during CM7 sleep
  soc/arm/nxp_imx/rt/soc_rt11xx.c
Labels: platform: NXP

#44433 drivers: i2c: Fix unused parameter warnings when compiling with -Wextra
  include/zephyr/drivers/i2c.h
Labels: area: I2C, area: API

#44815 arch: arm: aarch32: add Kconfig for arm cortex-m that implements a cache
  arch/arm/core/aarch32/Kconfig
  arch/arm/core/aarch32/cortex_m/Kconfig
  arch/arm/core/aarch32/cortex_m/scb.c
  soc/arm/arm/mps3/Kconfig.soc
  soc/arm/arm/mps3/soc.h
  soc/arm/atmel_sam/same70/Kconfig.series
  soc/arm/atmel_sam/samv71/Kconfig.series
  soc/arm/bcm_vk/valkyrie/Kconfig.series
  soc/arm/bcm_vk/viper/Kconfig.soc
  soc/arm/nxp_imx/mimx8ml8_m7/Kconfig.series
  soc/arm/nxp_imx/rt/Kconfig.soc
  soc/arm/nxp_kinetis/kv5x/Kconfig.series
  soc/arm/st_stm32/stm32f7/Kconfig.series
  soc/arm/st_stm32/stm32h7/Kconfig.soc
Labels: area: ARM, platform: STM32, platform: NXP

#44829 (2.7 backport) doc: Add link to J-Link virtual MSD disable for SMP
  doc/guides/device_mgmt/mcumgr.rst
  samples/subsys/mgmt/mcumgr/smp_svr/README.rst
Labels: area: Documentation, area: Samples
