Repository zephyrproject-rtos/zephyr, pull requests merged in 2022-02, with the labels that each got.

#42332 doc: release: Add sensor release notes for v3.0.0
  doc/releases/release-notes-3.0.rst
Labels: area: Sensors, area: Documentation, Release Notes

#41798 drivers: flash: nrf_qspi_nor: Fix setting of the base clock divider
  drivers/flash/nrf_qspi_nor.c
  include/drivers/flash/nrf_qspi_nor.h
Labels: bug, area: Drivers, area: Flash, platform: nRF, area: API

#42259 tests/subsys: CONFIG_TEST_FLASH_DRIVERS=y only for qemu_x86
  tests/subsys/debug/coredump_backends/boards/qemu_x86.conf
  tests/subsys/debug/coredump_backends/prj_flash_partition.conf
  tests/subsys/fs/multi-fs/boards/qemu_x86.conf
  tests/subsys/fs/multi-fs/prj.conf
  tests/subsys/fs/multi-fs/prj_fs_shell.conf
Labels: bug, priority: medium, area: Tests

#42115 drivers: net: ppp: asynch api: use microseconds
  drivers/net/Kconfig
  drivers/net/ppp.c
Labels: bug, area: Networking

#42044 Modules: Percepio TraceRecorder: Update TraceRecorder module from v4.5.2 to v4.6.0(RC1)
  modules/TraceRecorder/CMakeLists.txt
  west.yml
Labels: area: Build System, area: Modules, manifest, west, manifest-TraceRecorderSource

#42211 Branch fix npcx9 data ram size
  dts/arm/nuvoton/npcx9m3f.dtsi
  dts/arm/nuvoton/npcx9m6f.dtsi
Labels: area: ARM, area: Devicetree, platform: Nuvoton_NPCX, platform: Nuvoton_Numicro

#42202 doc: release-notes: PM, device API, Devicetree and documentation
  doc/releases/release-notes-3.0.rst
Labels: area: Documentation, Release Notes

#42204 doc: release-notes: add GigaDevice changes
  doc/releases/release-notes-3.0.rst
Labels: area: Documentation, Release Notes

#42297 doc: release: 3.0: Add notes related to Atmel
  doc/releases/release-notes-3.0.rst
Labels: area: Documentation, platform: Atmel, Release Notes

#42274 pm: Fix state_force functionality
  subsys/pm/pm.c
Labels: bug, area: Power Management

#42250 net: lib: lwm2m: Add missing function declarations
  subsys/net/lib/lwm2m/lwm2m_engine.h
Labels: area: Networking, area: LWM2M

#42321 sockets: getaddrinfo: Fix possible crash when callback is delayed
  subsys/net/lib/sockets/getaddrinfo.c
Labels: area: Networking, area: Sockets

#42328 net: sockets: Fixes net_pkt leak in accept
  subsys/net/lib/sockets/sockets.c
Labels: bug, area: Networking, area: Sockets

#41264 drivers: lora: shell: fix 'long' specifier in shell_error()
  drivers/lora/shell.c
Labels: bug, Trivial, area: LoRa

#42329 cmake: xcc: unset GCC_NO_G_FLAG after use
  cmake/compiler/gcc/compiler_flags.cmake
  cmake/compiler/xcc/compiler_flags.cmake
Labels: area: Build System

#42372 manifest: Fix psa-arch-tests manifest entry
  west.yml
Labels: Hotfix, area: Modules, manifest, west, manifest-psa-arch-tests

#42053 drivers: serial: atmel_sam: Fix api to work with modbus
  drivers/serial/uart_sam.c
  drivers/serial/usart_sam.c
Labels: area: UART, platform: Atmel

#42229 mgmt/mcumgr/lib: Fix no check on message length
  subsys/mgmt/mcumgr/lib/smp/src/smp.c
Labels: bug, area: mcumgr

#42217 drivers: uart stm32 F4X, F1X, F2X have a sw sequence to clear error flags
  drivers/serial/uart_stm32.c
Labels: area: UART, platform: STM32

#42190 cmake: force assembler ID to be GNU for GCC-based XCC
  cmake/toolchain/xcc/generic.cmake
Labels: area: Build System

#42352 net: lwm2m: Fix Server Object SSID access
  subsys/net/lib/lwm2m/lwm2m_engine.c
  subsys/net/lib/lwm2m/lwm2m_engine.h
  subsys/net/lib/lwm2m/lwm2m_obj_server.c
  subsys/net/lib/lwm2m/lwm2m_rw_json.c
  subsys/net/lib/lwm2m/lwm2m_rw_oma_tlv.c
  subsys/net/lib/lwm2m/lwm2m_rw_plain_text.c
Labels: area: Networking, area: LWM2M

#42370 Bluetooth: host: Document skip range in bt_le_per_adv_sync_param
  include/bluetooth/bluetooth.h
Labels: area: Bluetooth, area: Documentation, area: API, Trivial

#42336 Bluetooth: Controller: Fix extended scan rx flush for continous scan
  subsys/bluetooth/controller/ll_sw/ull_scan_aux.c
Labels: bug, area: Bluetooth, area: Bluetooth Controller

#42337 Bluetooth: Controller: Fix Periodic Sync memq link leak
  subsys/bluetooth/controller/ll_sw/ull.c
Labels: bug, area: Bluetooth, area: Bluetooth Controller

#42338 Bluetooth: Controller: Fix same peer periodic sync check
  subsys/bluetooth/controller/ll_sw/ull_sync.c
Labels: bug, area: Bluetooth, area: Bluetooth Controller

#42376 doc: spinlock: ensure spinlock api is added to doxygen
  doc/conf.py
  doc/reference/kernel/smp/smp.rst
  include/spinlock.h
Labels: area: Documentation, area: API, backport v2.6-branch, backport v2.7-branch

#42362 net: lwm2m: fix context close race condition
  subsys/net/lib/lwm2m/lwm2m_rd_client.c
Labels: area: Networking

#42401 Bluetooth: Controller: Fix duplicate release of auxiliary context
  subsys/bluetooth/controller/ll_sw/nordic/lll/lll_scan_aux.c
Labels: area: Bluetooth, area: Bluetooth Controller

#42391 Bluetooth: Controller: Fix race condition in sync create cancel
  subsys/bluetooth/controller/ll_sw/ull_scan_aux.c
  subsys/bluetooth/controller/ll_sw/ull_scan_types.h
  subsys/bluetooth/controller/ll_sw/ull_sync.c
Labels: bug, area: Bluetooth, area: Bluetooth Controller

#42390 Bluetooth: Controller: Fix duplicate incomplete data status
  subsys/bluetooth/controller/ll_sw/ull_scan_aux.c
Labels: bug, area: Bluetooth, area: Bluetooth Controller

#42393 debug: Add back openocd alias
  subsys/debug/thread_info.c
Labels: bug, area: Debugging

#42378 doc: toolchain: add a few words about XCC
  doc/getting_started/toolchain_3rd_party_x_compilers.rst
Labels: area: Documentation

#41962 kernel: workq: Fix type errors in delayable work handlers
  drivers/console/gsm_mux.c
  drivers/ethernet/phy/phy_mii.c
  drivers/serial/uart_sam0.c
  drivers/serial/uart_stm32.c
  drivers/wifi/esp_at/esp.c
  drivers/wifi/eswifi/eswifi_socket.c
  samples/net/sockets/echo_client/src/udp.c
  samples/net/sockets/echo_server/src/tcp.c
  samples/net/sockets/echo_server/src/udp.c
  subsys/bluetooth/host/att.c
  subsys/bluetooth/host/conn.c
  subsys/bluetooth/host/gatt.c
  subsys/bluetooth/host/smp.c
  subsys/bluetooth/mesh/proxy_msg.c
  subsys/bluetooth/mesh/transport.c
  subsys/net/ip/tcp.c
  subsys/net/ip/trickle.c
  subsys/net/l2/ieee802154/ieee802154_fragment.c
  subsys/net/l2/ppp/fsm.c
  subsys/net/l2/ppp/ppp_l2.c
  subsys/net/lib/dns/resolve.c
  subsys/net/lib/http/http_client.c
  subsys/net/lib/lwm2m/ipso_buzzer.c
  subsys/net/lib/lwm2m/ipso_timer.c
  subsys/pm/device_runtime.c
  tests/net/socket/tcp/src/main.c
  tests/net/socket/tls/src/main.c
Labels: area: Kernel, area: Bluetooth, area: Networking, area: UART, area: Power Management, area: Samples, area: Console, platform: STM32, area: Tests, DNM, area: Ethernet, area: Sockets, area: LWM2M, area: Wifi, area: Bluetooth Mesh, area: Bluetooth Host, backport v2.7-branch

#42419 doc: guides: Building the documentation
  doc/guides/docs/index.rst
Labels: area: Documentation

#42423 sys: sys_heap: extern "C" was missing
  include/sys/sys_heap.h
Labels: area: API, area: Base OS

#41014 usb: Add macro for user defined string descriptors
  include/usb/usb_device.h
  subsys/usb/class/netusb/function_ecm.c
Labels: bug, area: USB, area: API

#42410 doc: releases: 3.0: add TF-M release notes
  doc/releases/release-notes-3.0.rst
Labels: area: Documentation, Release Notes, area: TF-M

#42291 doc: devicetree: fix broken link in api.rst
  doc/reference/devicetree/api.rst
Labels: area: Documentation

#42407 doc: releases: 3.0: add EEPROM related release notes
  doc/releases/release-notes-3.0.rst
Labels: area: Documentation, Release Notes

#42460 devicetree: clocks: fix a docstring
  include/devicetree/clocks.h
Labels: area: Devicetree, area: API

#42448 net: tcp: Fixed forever loop in tcp_resend_data
  subsys/net/ip/tcp.c
Labels: area: Networking

#42469 modem: hl7800: only send null packet for TCP
  drivers/modem/hl7800.c
Labels: area: Modem

#42451 cmake: fix DEPENDS issues for kobject hash targets
  CMakeLists.txt
Labels: bug, area: Build System, area: Userspace

#42412 mgmt/mcumgr/lib: Fix message_size not updated
  subsys/mgmt/mcumgr/lib/smp/src/smp.c
Labels: bug

#42386 driver: entropy: stm32: Fix health dts properties
  drivers/entropy/entropy_stm32.c
Labels: platform: STM32, area: Crypto / RNG

#42302 Bluetooth: Controller: Avoid reporting IQ samples after terminate
  subsys/bluetooth/controller/hci/hci.c
Labels: bug, area: Bluetooth, area: Bluetooth Controller

#42298 bluetooth: ots: directory listing record length
  subsys/bluetooth/services/ots/ots_dir_list.c
Labels: bug, area: Bluetooth, area: Bluetooth Host

#42032 Bluetooth: Host: Disallow sending unsupported MTU Exchange
  subsys/bluetooth/host/att.c
Labels: area: Bluetooth, area: Bluetooth Host

#42464 doc: release: Update 3.0 release notes with NXP changes
  doc/releases/release-notes-3.0.rst
Labels: area: Documentation, platform: NXP, Release Notes

#42368 west.yml: Fix issue with stm32wb ble library
  west.yml
Labels: area: Bluetooth, platform: STM32, area: Modules, manifest, west, manifest-hal_stm32

#42354 net: lwm2m: add missing optional resource to firmware object
  subsys/net/lib/lwm2m/lwm2m_obj_firmware.c
Labels: area: Networking, area: LWM2M

#42339 Bluetooth: Controller: Fix missing offset adjust field assignment
  subsys/bluetooth/controller/ll_sw/pdu.h
  subsys/bluetooth/controller/ll_sw/ull_adv_sync.c
Labels: bug, area: Bluetooth, area: Bluetooth Controller

#42256 drivers: modem: Fix loop variables type
  drivers/modem/modem_cmd_handler.c
  drivers/modem/modem_pin.c
Labels: area: Tests, area: Modem

#42101 mgmt: smp: Fix NULL pointer dereferences in UDP transport
  subsys/mgmt/mcumgr/smp_udp.c
Labels: area: mcumgr

#41147 Fix non-standard pseudo-instructions of RISC-V
  arch/riscv/core/isr.S
  arch/riscv/core/swap.S
  soc/riscv/esp32c3/soc_irq.S
  soc/riscv/riscv-ite/common/soc_irq.S
  soc/riscv/riscv-privilege/common/soc_irq.S
  soc/riscv/riscv-privilege/neorv32/soc_irq.S
Labels: area: RISCV, platform: ESP32, platform: ITE

#42402 Bluetooth: Controller: Fix Periodic Sync Terminate race condition
  subsys/bluetooth/controller/ll_sw/lll_sync.h
  subsys/bluetooth/controller/ll_sw/nordic/lll/lll_sync.c
  subsys/bluetooth/controller/ll_sw/ull_scan_aux.c
  subsys/bluetooth/controller/ll_sw/ull_sync.c
  subsys/bluetooth/controller/ll_sw/ull_sync_types.h
Labels: bug, area: Bluetooth, area: Bluetooth Controller

#42437 dts: rt11xx: Fix invalid SAI4 address
  dts/arm/nxp/nxp_rt1160_cm4.dtsi
  dts/arm/nxp/nxp_rt1160_cm7.dtsi
  dts/arm/nxp/nxp_rt1170_cm4.dtsi
  dts/arm/nxp/nxp_rt1170_cm7.dtsi
  dts/arm/nxp/nxp_rt11xx.dtsi
Labels: area: Devicetree, platform: NXP

#42383 usb: Handle USB_DC_RESET event notifications
  subsys/usb/usb_device.c
Labels: area: USB

#42400 doc: releases: 3.0: add CAN related release notes
  doc/releases/release-notes-3.0.rst
Labels: area: Documentation, area: CAN, Release Notes

#42454 Bluetooth: tests: edtt: fix buffer overflow error
  subsys/bluetooth/host/hci_raw.c
  tests/bluetooth/bsim_bt/edtt_ble_test_app/hci_test_app/prj_dut.conf
  tests/bluetooth/bsim_bt/edtt_ble_test_app/hci_test_app/prj_dut_llcp.conf
  tests/bluetooth/bsim_bt/edtt_ble_test_app/hci_test_app/prj_tst.conf
  tests/bluetooth/bsim_bt/edtt_ble_test_app/hci_test_app/prj_tst_llcp.conf
Labels: area: Bluetooth, area: Tests, area: Bluetooth Host

#42468 doc: extensions: doxyrunner: do not modify extension config
  doc/_extensions/zephyr/doxyrunner.py
Labels: bug, priority: medium, area: Documentation, Regression

#42505 syscon: Compile the generic driver only when selected
  drivers/syscon/CMakeLists.txt
Labels: bug, area: Drivers, area: Build System

#42526 net: tcp: Fix possible deadlock in tcp_conn_unref()
  subsys/net/ip/tcp.c
Labels: area: Networking

#42486 tests: settings: fix wrong test case names
  tests/subsys/settings/fcb/src/settings_test_fcb.c
  tests/subsys/settings/littlefs/src/settings_setup_littlefs.c
  tests/subsys/settings/littlefs/src/settings_test_littlefs.c
  tests/subsys/settings/nvs/src/settings_test_nvs.c
  tests/subsys/settings/src/settings_empty_lookups.c
Labels: area: Tests, Trivial, area: Settings

#42547 tests: settings: provide correct test prototypes
  tests/subsys/settings/fs/include/settings_test_fs.h
  tests/subsys/settings/littlefs/src/settings_test_littlefs.c
Labels: area: Tests, Hotfix

#42494 sys: heap_listener: Fix initializers for XCC toolchain
  include/sys/heap_listener.h
Labels: area: API, area: Base OS, platform: Intel CAVS

#42344 Bluetooth: Host: Non-discardable event buffer size is 255 for ext adv
  subsys/bluetooth/common/Kconfig
Labels: bug, area: Bluetooth

#42475 net: lib: lwm2m: Correct path for update result
  subsys/net/lib/lwm2m/lwm2m_obj_firmware.c
Labels: area: Networking, area: LWM2M

#42537 MAINTAINERS: Add SeppoTakalo as a collaborator for LwM2M
  MAINTAINERS.yml
Labels: area: Process

#42413 drivers: flash: stm32 qspi driver reads or writes non-null size
  drivers/flash/flash_stm32_qspi.c
  tests/drivers/flash/boards/disco_l475_iot1.overlay
  tests/drivers/flash/boards/stm32f746g_disco.overlay
Labels: area: Flash, platform: STM32, area: Tests

#42565 net: lib: lwm2m: make pathstr parameter const correct
  include/net/lwm2m.h
  subsys/net/lib/lwm2m/lwm2m_engine.c
  subsys/net/lib/lwm2m/lwm2m_engine.h
Labels: area: Networking, area: API, area: LWM2M

#42579 drivers: spi_nrfx_spi: Fix compilation error
  drivers/spi/spi_nrfx_spi.c
Labels: bug, area: Drivers, area: SPI, platform: nRF

#42059 tests: k_heap_api: make alloc pending tests a bit more robust
  tests/kernel/mem_heap/k_heap_api/src/test_kheap_api.c
Labels: area: Kernel, area: Tests

#42527 cmake: version.h generation performed at build time
  CMakeLists.txt
  cmake/app/boilerplate.cmake
  cmake/gen_version_h.cmake
  cmake/git.cmake
  scripts/logging/dictionary/database_gen.py
  version.h.in
Labels: bug, area: Kernel, area: Build System

#42568 Bluetooth: Controller: Fix advertising pdu latest get
  subsys/bluetooth/controller/ll_sw/nordic/lll/lll_adv.c
Labels: bug, area: Bluetooth, area: Bluetooth Controller

#42575 Bluetooth: Host: df: Fix uninitialized periodic advertising sync and IQ report objects passed to an application by cte_report_cb
  subsys/bluetooth/host/direction.c
  subsys/bluetooth/host/direction_internal.h
  subsys/bluetooth/host/scan.c
Labels: bug, area: Bluetooth, area: Bluetooth Host

#41768 lib: rb: Code guideline fixes
  include/sys/rb.h
  lib/os/rb.c
Labels: area: API, area: Coding Guidelines

#42582 include: drivers: clock_control: stm32: fix xtpre
  include/drivers/clock_control/stm32_clock_control.h
Labels: bug, platform: STM32, area: API, Trivial

#42541 [backport2.7] logging: Fix tracking of active messages
  include/logging/log_core.h
  subsys/logging/log_core.c
  subsys/logging/log_msg.c
  subsys/logging/log_msg2.c
Labels: area: Logging, area: API

#42605 actions: west/devicetree: exclude python 3.6 on windows
  .github/workflows/devicetree_checks.yml
  .github/workflows/west_cmds.yml
Labels: Hotfix

#42616 Bluetooth: Controller: Fix Periodic Sync lost implementation
  subsys/bluetooth/controller/ll_sw/ull_sync.c
Labels: bug, area: Bluetooth, area: Bluetooth Controller

#42445 Bluetooth: Host: L2CAP: Don't send credits if chan is disconnected
  subsys/bluetooth/host/l2cap.c
Labels: area: Bluetooth, area: API, area: Bluetooth Host

#41802 subsys: l2: Properly terminate LCP state at modem side when closing down
  subsys/net/l2/ppp/lcp.c
  subsys/net/l2/ppp/ppp_l2.c
Labels: area: Networking, area: Modem

#42650 MAINTAINERS: mbolivar-nordic for Devicetree
  MAINTAINERS.yml
Labels: TSC

#42601 samples: task_wdt: Increase min watchdog timeout
  drivers/watchdog/wdt_mcux_imx_wdog.c
  samples/subsys/task_wdt/prj.conf
Labels: area: Samples, area: Watchdog, platform: NXP

#42619 scripts: twister: Fix -W help message
  scripts/twister
Labels: area: Twister

#42416 twister: add setting skip reason
  scripts/pylib/twister/twisterlib.py
Labels: area: Twister

#41305 actions: build modules tests/samples
  .github/workflows/twister.yaml
  scripts/ci/test_plan.py
Labels: area: Kernel, area: Continuous Integration

#42626 net: buf: remove gcc dependency
  include/net/buf.h
Labels: bug, area: Networking, area: API

#40006 Bluetooth: host: Save CCC data on pairing complete
  subsys/bluetooth/host/gatt.c
Labels: area: Bluetooth, area: API, area: Bluetooth Host

#42637 arch: arm: core: aarch32: Fix Cortex-M userspace regression
  arch/arm/core/aarch32/userspace.S
Labels: area: ARM

#40900 samples: fix the metairq_dispatch sample failed on acrn_ehl_crb
  samples/kernel/metairq_dispatch/src/main.c
Labels: area: Kernel, area: Samples

#42691 manifest: update MCUboot
  west.yml
Labels: bug, Hotfix, area: Modules, manifest, west, manifest-mcuboot

#42664 Bluetooth: Controller: Fix to use non-discardable buffer
  subsys/bluetooth/controller/hci/hci.c
Labels: bug, area: Bluetooth, Regression, area: Bluetooth Controller

#42607 samples: blinky_pwm: decreased min PWM period for blinky sample
  samples/basic/blinky_pwm/README.rst
  samples/basic/blinky_pwm/src/main.c
Labels: area: Documentation, area: Samples

#42694 bluetooth: gatt: Fix Service Changed indication sending
  subsys/bluetooth/host/gatt.c
Labels: area: Bluetooth, area: Bluetooth Host

#42734 Bluetooth: Host: Fix wrong length of antenna identifiers for CTE RX
  subsys/bluetooth/host/direction.c
Labels: area: Bluetooth, area: Bluetooth Host

#42532 cmake: only write devicetree files when there are changes.
  CMakeLists.txt
  CODEOWNERS
  cmake/dts.cmake
  cmake/extensions.cmake
  misc/generated/generated_header.template
Labels: bug, area: Build System, area: Boards, area: Devicetree, area: Kconfig

#42708 drivers: mcux_gpt_timer: Fix rounding error on tick boundary
  drivers/timer/mcux_gpt_timer.c
Labels: area: Timer, platform: NXP

#42377 doc: release-nodes: Add PM release notes
  doc/releases/release-notes-3.0.rst
Labels: area: Documentation, Release Notes

#42771 doc: requirements: disallow breathe 4.33.0
  scripts/requirements-doc.txt
Labels: Hotfix

#42748 boards: xtensa: Add XCC to list of toolchains for intel_adsp boards
  boards/xtensa/intel_adsp_cavs15/intel_adsp_cavs15.yaml
  boards/xtensa/intel_adsp_cavs18/intel_adsp_cavs18.yaml
  boards/xtensa/intel_adsp_cavs20/intel_adsp_cavs20.yaml
  boards/xtensa/intel_adsp_cavs25/intel_adsp_cavs25.yaml
Labels: area: Boards, platform: Intel CAVS

#42137 ztest: document test rules
  subsys/testsuite/ztest/include/ztest_test_new.h
Labels: area: Test Framework, area: Testsuite

#42706 tests: lifo_usage: make it less susceptible to SMP races
  tests/kernel/lifo/lifo_usage/src/main.c
Labels: area: Kernel, area: Tests

#42795 driver: eth_mcux: fixing build error on rt11xx
  drivers/ethernet/eth_mcux.c
Labels: area: Networking, platform: NXP

#42813 doc: requirements: stick to breathe < 4.33
  scripts/requirements-doc.txt
Labels: Hotfix

#42792 samples: Bluetooth: df: Fix periodic sync termination handling
  samples/bluetooth/direction_finding_connectionless_rx/src/main.c
Labels: area: Bluetooth, area: Samples

#42639 Bluetooth: Host: Fix setting long advertising data
  subsys/bluetooth/host/adv.c
Labels: bug, area: Bluetooth, area: Bluetooth Host

#42729 tests: modbus: correct test fixture description
  tests/subsys/modbus/src/test_modbus.h
  tests/subsys/modbus/testcase.yaml
Labels: area: Tests, Trivial, area: modbus

#42492 drivers: i2c_nrfx_twim: Fix frequency configuration
  drivers/i2c/i2c_nrfx_twim.c
Labels: bug, area: Drivers, area: I2C, platform: nRF

#40485 MAINTAINERS: Add UpdateHub maintainer
  MAINTAINERS.yml
Labels: area: Process

#42614 kernel: Fix timeout issue with SYSTEM_CLOCK_SLOPPY_IDLE
  kernel/timeout.c
Labels: bug, area: Kernel

#42752 samples: drivers: can: add CONFIG_GPIO to prj
  samples/drivers/can/prj.conf
Labels: area: Samples, area: CAN, Trivial

#42699 pm: Fix unused-parameter warnings
  include/pm/device.h
Labels: area: Power Management, area: API

#42834 tests: ringbuffer: increase timeout
  tests/lib/ringbuffer/testcase.yaml
Labels: area: Tests

#42823 gen_relocate_app: Create files from scratch, do not append
  scripts/gen_relocate_app.py
Labels: bug, area: Userspace, backport v2.7-branch

#42864 Minor release notes fixes
  doc/releases/release-notes-3.0.rst
Labels: area: Documentation, Release Notes

#42868 maintainers: Update ARM arch maintainer
  MAINTAINERS.yml
Labels: area: ARM, Maintainer

#42922 Bluetooth: Controller: df: Fix missing node_rx release if wrong CTE type
  subsys/bluetooth/controller/ll_sw/ull_sync.c
Labels: bug, area: Bluetooth, area: Bluetooth Controller, Release Blocker

#42921 Bluetooth: L2CAP: Fix checking if LTK is present
  subsys/bluetooth/host/l2cap.c
Labels: area: Bluetooth, area: Security, area: Bluetooth Host, backport v2.7-branch, Release Blocker

#42467 ztest: Update verification to account for missing suite
  subsys/testsuite/ztest/src/ztest_new.c
Labels: area: Test Framework, area: Testsuite

#42871 doc: formatted_output: update header field descriptions
  doc/reference/misc/formatted_output.rst
Labels: area: Documentation

#43007 doc: release-notes: add rp2040/pico details
  doc/releases/release-notes-3.0.rst
Labels: area: Documentation, Release Notes

#42989 doc: release-notes-3.0: devicetree
  doc/releases/release-notes-3.0.rst
Labels: area: Documentation, Release Notes

#43011 release-notes: Add release notes for ARM64, IPC and MBOX
  doc/releases/release-notes-3.0.rst
Labels: area: Documentation, Release Notes

#42991 release: add list of fixed issues in 3.0
  doc/releases/release-notes-3.0.rst
Labels: area: Documentation, Release Notes

#43032 doc: release: fix github role formatting
  doc/releases/release-notes-3.0.rst
Labels: area: Documentation, Release Notes

#43004 drivers: i2c: replace DEV_NAME macros
  drivers/i2c/i2c_sam0.c
  drivers/i2c/i2c_sam4l_twim.c
  drivers/i2c/i2c_sam_twi.c
  drivers/i2c/i2c_sam_twihs.c
Labels: area: I2C, platform: Atmel

#42963 doc: readme: make logo text gray
  doc/_static/images/logo-readme.svg
Labels: area: Documentation

#42995 samples: net: modem: add modem power callbacks
  samples/net/gsm_modem/src/main.c
Labels: area: Networking, area: Samples

#42937 drivers: sensor: ism330dhcx: convert to spi_dt_spec
  drivers/sensor/ism330dhcx/ism330dhcx.c
  drivers/sensor/ism330dhcx/ism330dhcx.h
  drivers/sensor/ism330dhcx/ism330dhcx_spi.c
Labels: area: Sensors

#42934 dts: bindings: can: remove unused bus from CAN controller binding
  dts/bindings/can/can-controller.yaml
Labels: area: Devicetree, area: CAN, area: Devicetree Binding

#41930 twister: add option to create shorter build paths
  scripts/pylib/twister/twisterlib.py
  scripts/twister
Labels: bug, area: Twister

#40480 drivers: wdt: esp32: code refactor to use hal calls
  boards/xtensa/esp32s2_saola/esp32s2_saola.dts
  drivers/watchdog/wdt_esp32.c
  dts/riscv/espressif/esp32c3.dtsi
  dts/xtensa/espressif/esp32.dtsi
  dts/xtensa/espressif/esp32s2.dtsi
Labels: area: Boards, area: Devicetree, area: Watchdog, area: Modules, manifest, west, manifest-hal_espressif

#42127 eeprom/at2x: add config to disable handling WP
  drivers/eeprom/eeprom_at2x.c
Labels: area: EEPROM

#41990 ITE: drivers/peci: Add PECI driver module of ITE IT8xxx2
  boards/riscv/it8xxx2_evb/it8xxx2_evb.dts
  drivers/peci/CMakeLists.txt
  drivers/peci/Kconfig
  drivers/peci/Kconfig.it8xxx2
  drivers/peci/peci_ite_it8xxx2.c
  dts/bindings/peci/ite,it8xxx2-peci.yaml
  dts/riscv/it8xxx2-alts-map.dtsi
  dts/riscv/it8xxx2.dtsi
  soc/riscv/riscv-ite/common/check_regs.c
  soc/riscv/riscv-ite/common/chip_chipregs.h
  soc/riscv/riscv-ite/it8xxx2/Kconfig.defconfig.series
Labels: area: Build System, area: Boards, area: RISCV, area: Devicetree, area: Devicetree Binding, area: PECI, platform: ITE

#42765 drivers: sensor: lis2dh: convert to spi_dt_spec
  drivers/sensor/lis2dh/lis2dh.c
  drivers/sensor/lis2dh/lis2dh.h
  drivers/sensor/lis2dh/lis2dh_spi.c
Labels: area: Sensors

#42557 doc: add OTA section to device management
  doc/guides/device_mgmt/index.rst
  doc/guides/device_mgmt/ota.rst
  samples/subsys/mgmt/hawkbit/README.rst
Labels: area: Documentation, area: Samples, area: hawkBit

#42046 drivers: gsm_ppp: Wait for NET_EVENT_IF_DOWN in in gsm_ppp_stop
  drivers/modem/Kconfig.gsm
  drivers/modem/gsm_ppp.c
Labels: area: Modem

#42999 drivers: modem: gsm: add handler for +CME ERROR
  drivers/modem/gsm_ppp.c
Labels: area: Modem

#42749 boards: sam_v71_xult: add support for CAN-FD
  boards/arm/sam_v71_xult/doc/index.rst
  boards/arm/sam_v71_xult/sam_v71_xult-common.dtsi
  boards/arm/sam_v71_xult/sam_v71_xult.yaml
Labels: area: Boards, area: Documentation, area: Samples, area: Devicetree, platform: Atmel, area: CAN

#42394 shields: mcp2515: add support for Keyestudio CAN-BUS shield
  boards/shields/dfrobot_can_bus_v2_0/doc/index.rst
  boards/shields/mcp2515/Kconfig.defconfig
  boards/shields/mcp2515/Kconfig.shield
  boards/shields/mcp2515/dfrobot_can_bus_v2_0.overlay
  boards/shields/mcp2515/doc/dfrobot_can_bus_v2_0.jpg
  boards/shields/mcp2515/doc/index.rst
  boards/shields/mcp2515/doc/keyestudio_can_bus_ks0411.png
  boards/shields/mcp2515/keyestudio_can_bus_ks0411.overlay
Labels: area: Boards, area: Documentation, area: CAN, area: Shields, Release Notes

#42731 Bluetooth: Host: Issue all auto-initiated commands synchronously
  subsys/bluetooth/host/conn.c
  subsys/bluetooth/host/conn_internal.h
  subsys/bluetooth/host/hci_core.c
Labels: area: Bluetooth, area: Bluetooth Host

#42613 Microchip: MEC172x: watchdog driver
  drivers/watchdog/wdt_mchp_xec.c
  dts/arm/microchip/mec1501hsz.dtsi
  dts/arm/microchip/mec172xnsz.dtsi
  dts/bindings/watchdog/microchip,xec-watchdog.yaml
Labels: area: Devicetree, area: Watchdog, platform: Microchip, area: Devicetree Binding

#42913 tests: mem_protect: avoid allocating K_OBJ_MSGQ in userspace.
  tests/kernel/mem_protect/mem_protect/src/kobject.c
Labels: area: Kernel, area: Tests, area: Userspace

#42146 Microchip: MEC172x: kscan driver
  boards/arm/mec172xevb_assy6906/mec172xevb_assy6906.dts
  boards/arm/mec172xevb_assy6906/pinmux.c
  drivers/kscan/Kconfig.xec
  drivers/kscan/kscan_mchp_xec.c
  dts/arm/microchip/mec172xnsz.dtsi
  dts/bindings/kscan/microchip,xec-kscan.yaml
Labels: area: Build System, area: Boards, area: Devicetree, platform: Microchip, area: Devicetree Binding, area: Kscan

#42630 ITE drivers/pwm: support tests/drivers/pwm/pwm_api
  boards/riscv/it8xxx2_evb/it8xxx2_evb.dts
  drivers/pwm/pwm_ite_it8xxx2.c
Labels: area: PWM, area: Boards, area: RISCV, area: Devicetree, platform: ITE

#41837 boards: arm: arduino_nano_33_ble: Add green and blue leds to the dts
  boards/arm/arduino_nano_33_ble/arduino_nano_33_ble.dts
Labels: area: Boards, area: Devicetree

#42037 dts: arm: xilinx: zynqmp: Add UART1 to device tree
  dts/arm/xilinx/zynqmp.dtsi
Labels: area: Devicetree

#41964 boards: riscv: hifive_unleashed: add GPIO support
  boards/riscv/hifive_unleashed/hifive_unleashed.dts
  boards/riscv/hifive_unleashed/hifive_unleashed.yaml
  boards/riscv/hifive_unleashed/hifive_unleashed_defconfig
  drivers/gpio/Kconfig.sifive
  dts/riscv/riscv64-fu540.dtsi
  soc/riscv/riscv-privilege/sifive-freedom/soc.h
  tests/drivers/gpio/gpio_basic_api/boards/hifive_unleashed.overlay
Labels: area: GPIO, area: Boards, area: RISCV, area: Devicetree, area: Tests
