Repository zephyrproject-rtos/zephyr, pull requests merged in 2022-07, with the labels that each got.

#44776 microchip: mec: zephyr spi image generation
  soc/arm/microchip_mec/Kconfig
  soc/arm/microchip_mec/common/CMakeLists.txt
  soc/arm/microchip_mec/common/spigen/mec_spi_gen.py
Labels: platform: Microchip MEC

#46231 drivers: i2c_ll_stm32_v2: add support for second target address
  drivers/i2c/i2c_ll_stm32.h
  drivers/i2c/i2c_ll_stm32_v2.c
Labels: area: I2C, platform: STM32

#46854 dts: Add adc0 content in mec172xevb_assy6906.overlay
  samples/drivers/adc/boards/mec172xevb_assy6906.overlay
Labels: area: ADC, area: Devicetree

#46963 twister: test: add default harness check
  scripts/pylib/twister/twisterlib.py
Labels: area: Twister

#47080 logging: adsp: Allow format timestamp
  subsys/logging/Kconfig.formatting
Labels: area: Logging

#47112 tests/kernel/context: Fixup slop in cpu_idle test case
  tests/kernel/context/src/main.c
Labels: area: Kernel

#47142 twister: also parse ZTEST_USER and ZTEST_USER_F cases
  scripts/pylib/twister/twisterlib.py
Labels: area: Twister

#47147 twister: use original reason with qemu failures
  scripts/pylib/twister/twisterlib.py
Labels: area: Twister

#47151 actions: manifest: Update SHA
  .github/workflows/manifest.yml
Labels: area: Continuous Integration

#46513 Bluetooth: Controller: Fix radio_tmr_start_now for incorrect start time
  subsys/bluetooth/controller/ll_sw/nordic/hal/nrf5/radio/radio.c
Labels: bug, area: Bluetooth, area: Bluetooth Controller, backport v3.1-branch

#46569 scripts: west: openocd: respect pre-load and post-verify cmds for elf
  scripts/west_commands/runners/openocd.py
Labels: area: Debugging, area: West, area: OpenOCD

#46714 scripts: runners: esp32: add erase option
  scripts/west_commands/runners/esp32.py
Labels: area: West

#47079 drivers: sensor: lis2dh: Update driver to use i2c_dt_spec
  drivers/sensor/lis2dh/lis2dh.c
  drivers/sensor/lis2dh/lis2dh.h
  drivers/sensor/lis2dh/lis2dh_i2c.c
Labels: area: Sensors

#46990 sensors: tmp007: convert to devicetree based constructs
  drivers/sensor/tmp007/tmp007.c
  drivers/sensor/tmp007/tmp007.h
  drivers/sensor/tmp007/tmp007_trigger.c
Labels: area: Sensors

#46566 drivers/can/rcar: Fix several issues
  drivers/can/can_rcar.c
Labels: bug, area: CAN, platform: Renesas R-Car

#46804 netusb: allocate packets from RX pool for incoming frames
  subsys/usb/device/class/netusb/function_ecm.c
  subsys/usb/device/class/netusb/function_eem.c
  subsys/usb/device/class/netusb/function_rndis.c
Labels: area: Networking, area: USB

#46930 gsm_ppp.c: set AT+IFC if hw-flow-control is enabled
  drivers/modem/gsm_ppp.c
Labels: area: Modem

#47133 tests: kernel: smp_boot_delay: move to new ztest API
  tests/kernel/smp_boot_delay/prj.conf
  tests/kernel/smp_boot_delay/src/main.c
Labels: area: Kernel

#47153 emul: i2c: atmel_at24: Remove unused variable
  subsys/emul/i2c/emul_atmel_at24.c
Labels: Trivial

#47154 drivers: video: mt9m114: Update driver to use i2c_dt_spec
  drivers/video/mt9m114.c
Labels: area: Video

#47156 Video: ov7725: update to use gpio_dt_spec/i2c_dt_spec
  drivers/video/ov7725.c
Labels: area: Video

#47157 Video: ov2640: update to use gpio_dt_spec/i2c_dt_spec
  drivers/video/ov2640.c
Labels: area: Video

#47139 tests: kernel: device: move to new ztest API
  tests/kernel/device/prj.conf
  tests/kernel/device/src/main.c
  tests/kernel/device/src/mmio.c
  tests/kernel/device/src/mmio_multireg.c
Labels: area: Kernel, area: Device Model

#47168 video: mcux_csi: Set driver Kconfig default based on devicetree
  drivers/video/Kconfig.mcux_csi
  soc/arm/nxp_imx/rt/Kconfig.defconfig.series
Labels: platform: NXP, area: Video

#47169 i2c: sam0: Set driver Kconfig default based on devicetree
  boards/arm/adafruit_feather_m0_basic_proto/adafruit_feather_m0_basic_proto_defconfig
  drivers/i2c/Kconfig.sam0
  soc/arm/atmel_sam0/common/Kconfig.defconfig.series
Labels: area: I2C, platform: Microchip SAM

#47174 drivers: i2c: Fix deprecated use of I2C_MODE_MASTER in mcux lpi2c driver
  drivers/i2c/i2c_mcux_lpi2c.c
Labels: area: I2C, platform: NXP, Hotfix

#46889 soc: xtensa: keep the CAVS old flasher working
  boards/xtensa/intel_adsp_cavs15/board.cmake
  boards/xtensa/intel_adsp_cavs18/board.cmake
  boards/xtensa/intel_adsp_cavs20/board.cmake
  boards/xtensa/intel_adsp_cavs25/board.cmake
  soc/xtensa/intel_adsp/tools/cavstwist.sh
Labels: platform: Intel CAVS

#46943 Bluetooth: controller: nRF5: Convert to DEVICE_DT_GET
  subsys/bluetooth/controller/ll_sw/nordic/lll/lll.c
Labels: area: Bluetooth, area: Bluetooth Controller

#46944 bluetooth: controller: openisa/RV32M1: Convert to DEVICE_DT_GET
  subsys/bluetooth/controller/ll_sw/openisa/hal/RV32M1/debug.h
Labels: area: Bluetooth, area: Bluetooth Controller

#46588 modules: mbedtls: remove MBEDTLS_ECP_MAX_BITS from mbedTLS configs
  modules/mbedtls/configs/config-suite-b.h
  modules/mbedtls/configs/config-thread.h
  modules/mbedtls/configs/config-threadnet.h
Labels: manifest-mbedtls

#46868 logging: Reduce code size for frontend only case
  subsys/logging/log_core.c
  tests/subsys/logging/log_api/src/main.c
Labels: area: Logging

#47088 drivers: modem: delay after each AT command
  drivers/modem/modem_cmd_handler.c
Labels: area: Modem

#47148 lorawan: move `REQUIRES_FULL_LIBC` dependency
  drivers/lora/Kconfig
  subsys/lorawan/Kconfig
Labels: Trivial, area: LoRa

#47177 doc/hardware/arch: Add RISC-V information
  doc/hardware/arch/index.rst
  doc/hardware/arch/risc-v.rst
Labels: area: Documentation

#47192 drivers: lora: sx126x: Replace use of DT_INST_LABEL
  drivers/lora/sx126x.c
Labels: Trivial, area: LoRa

#47200 twister: Remove testcase-root reference
  scripts/pylib/twister/twisterlib.py
Labels: Trivial, area: Twister

#47117 riscv: _isr_wrapper: get rid of the ASSUME_EQUAL() macro
  arch/riscv/core/isr.S
Labels: area: RISCV

#47173 drivers: adc: stm32: suppress stm32h7 build warning
  drivers/adc/adc_stm32.c
Labels: area: ADC, platform: STM32

#47211 soc: gd32: Add HAS_SEGGER_RTT
  soc/arm/gigadevice/Kconfig
Labels: platform: GD32

#46567 boards: nucleo_wb55rg: Fix documentation about BLE binary compatibility
  boards/arm/nucleo_wb55rg/doc/nucleo_wb55rg.rst
Labels: area: Documentation, platform: STM32, backport v2.7-branch, backport v3.1-branch

#47155 Bluetooth: Audio: Fix broadcast sink LTV decode length issue
  subsys/bluetooth/audio/broadcast_sink.c
Labels: bug, priority: low, area: Bluetooth, area: Bluetooth Audio

#47187 counter: native_posix: Convert driver to use DT_INST
  drivers/counter/counter_native_posix.c
Labels: area: Counter, area: native port, Trivial

#47195 drivers: ppp: Move to DTS for uart device
  doc/build/dts/api/api.rst
  drivers/net/Kconfig
  drivers/net/ppp.c
Labels: area: Networking, area: Build System, area: Documentation, area: Devicetree

#47138 tests: kernel: spinlock: move to new ztest API
  tests/kernel/spinlock/prj.conf
  tests/kernel/spinlock/src/main.c
  tests/kernel/spinlock/src/spinlock_error_case.c
Labels: area: Kernel

#47189 drivers: disk: sdmmc_stm32: Update driver to use gpio_dt_spec
  drivers/disk/sdmmc_stm32.c
Labels: platform: STM32, area: Disk Access

#47245 drivers: sensor: ens210: Add multi-instance support
  drivers/sensor/ens210/ens210.c
Labels: area: Sensors

#46481 west.yml: Update zcbor to v. 0.5.0
  subsys/net/lib/lwm2m/README_lwm2m
  subsys/net/lib/lwm2m/lwm2m_senml_cbor.cddl
  subsys/net/lib/lwm2m/lwm2m_senml_cbor.patch
  subsys/net/lib/lwm2m/lwm2m_senml_cbor_decode.c
  subsys/net/lib/lwm2m/lwm2m_senml_cbor_decode.h
  subsys/net/lib/lwm2m/lwm2m_senml_cbor_encode.c
  subsys/net/lib/lwm2m/lwm2m_senml_cbor_encode.h
  subsys/net/lib/lwm2m/lwm2m_senml_cbor_regenerate.sh
  subsys/net/lib/lwm2m/lwm2m_senml_cbor_types.h
  tests/subsys/mgmt/zcbor_bulk/src/main.c
  west.yml
Labels: area: LWM2M, manifest, west, manifest-zcbor

#47255 usb: device: Update to use gpio_dt_spec
  subsys/usb/device/usb_device.c
Labels: area: USB

#41657 fs: Use fs_mount_t.node to check if system is mounted
  subsys/fs/fs.c
Labels: area: File System, area: Tests

#46843 zephyr: Fix n=0 for utf8_lcpy
  include/zephyr/sys/util.h
  lib/os/utf8.c
Labels: area: Base OS

#43468 boards: efm32pg_stk3402a: Add minimal pwm support
  boards/arm/efm32pg_stk3402a/efm32pg_stk3402a_common.dtsi
  dts/arm/silabs/efm32_jg_pg_12b.dtsi
  soc/arm/silabs_exx32/efm32jg12b/Kconfig.defconfig.efm32jg12b
  soc/arm/silabs_exx32/efm32pg12b/Kconfig.defconfig.efm32pg12b
Labels: area: Boards, area: Devicetree, platform: SiLabs

#44658 Bluetooth: Audio: Add parent service requirement if CSIS cnt > 1
  include/zephyr/bluetooth/audio/csis.h
  subsys/bluetooth/audio/csis.c
Labels: area: Bluetooth, area: API, area: Bluetooth Audio

#44764 ztest API Migration: bluetooth/ctrl_sw_privacy
  tests/bluetooth/ctrl_sw_privacy/prj.conf
  tests/bluetooth/ctrl_sw_privacy/src/main.c
Labels: area: Bluetooth, area: Tests

#44763 ztest API Migration: bluetooth/bluetooth
  tests/bluetooth/bluetooth/prj.conf
  tests/bluetooth/bluetooth/src/bluetooth.c
Labels: area: Bluetooth, area: Tests

#44765 ztest API Migration: bluetooth/ctrl_sw_privacy_unit
  tests/bluetooth/ctrl_sw_privacy_unit/prj.conf
  tests/bluetooth/ctrl_sw_privacy_unit/src/main.c
Labels: area: Bluetooth, area: Tests, Stale

#44766 ztest API Migration: bluetooth/ctrl_user_ext
  tests/bluetooth/ctrl_user_ext/prj.conf
  tests/bluetooth/ctrl_user_ext/src/main.c
Labels: area: Bluetooth, area: Tests

#44769 ztest API Migration: bluetooth/hci_codecs_info
  tests/bluetooth/hci_codecs_info/prj.conf
  tests/bluetooth/hci_codecs_info/src/main.c
Labels: area: Bluetooth, area: Tests, Stale

#44771 ztest API Migration: bluetooth/init
  tests/bluetooth/init/prj.conf
  tests/bluetooth/init/prj_0.conf
  tests/bluetooth/init/prj_1.conf
  tests/bluetooth/init/prj_10.conf
  tests/bluetooth/init/prj_11.conf
  tests/bluetooth/init/prj_12.conf
  tests/bluetooth/init/prj_13.conf
  tests/bluetooth/init/prj_14.conf
  tests/bluetooth/init/prj_15.conf
  tests/bluetooth/init/prj_16.conf
  tests/bluetooth/init/prj_17.conf
  tests/bluetooth/init/prj_18.conf
  tests/bluetooth/init/prj_19.conf
  tests/bluetooth/init/prj_2.conf
  tests/bluetooth/init/prj_20.conf
  tests/bluetooth/init/prj_21.conf
  tests/bluetooth/init/prj_22.conf
  tests/bluetooth/init/prj_3.conf
  tests/bluetooth/init/prj_4.conf
  tests/bluetooth/init/prj_5.conf
  tests/bluetooth/init/prj_6.conf
  tests/bluetooth/init/prj_7.conf
  tests/bluetooth/init/prj_8.conf
  tests/bluetooth/init/prj_9.conf
  tests/bluetooth/init/prj_ctlr.conf
  tests/bluetooth/init/prj_ctlr_4_0.conf
  tests/bluetooth/init/prj_ctlr_4_0_dbg.conf
  tests/bluetooth/init/prj_ctlr_broadcaster.conf
  tests/bluetooth/init/prj_ctlr_broadcaster_ext.conf
  tests/bluetooth/init/prj_ctlr_broadcaster_iso.conf
  tests/bluetooth/init/prj_ctlr_central.conf
  tests/bluetooth/init/prj_ctlr_central_ext.conf
  tests/bluetooth/init/prj_ctlr_central_ext_priv.conf
  tests/bluetooth/init/prj_ctlr_central_iso.conf
  tests/bluetooth/init/prj_ctlr_central_priv.conf
  tests/bluetooth/init/prj_ctlr_dbg.conf
  tests/bluetooth/init/prj_ctlr_observer.conf
  tests/bluetooth/init/prj_ctlr_observer_ext.conf
  tests/bluetooth/init/prj_ctlr_per_adv.conf
  tests/bluetooth/init/prj_ctlr_per_adv_no_adi.conf
  tests/bluetooth/init/prj_ctlr_per_sync.conf
  tests/bluetooth/init/prj_ctlr_per_sync_no_adi.conf
  tests/bluetooth/init/prj_ctlr_per_sync_no_filter.conf
  tests/bluetooth/init/prj_ctlr_peripheral.conf
  tests/bluetooth/init/prj_ctlr_peripheral_ext.conf
  tests/bluetooth/init/prj_ctlr_peripheral_ext_priv.conf
  tests/bluetooth/init/prj_ctlr_peripheral_iso.conf
  tests/bluetooth/init/prj_ctlr_peripheral_priv.conf
  tests/bluetooth/init/prj_ctlr_sync_iso.conf
  tests/bluetooth/init/prj_ctlr_tiny.conf
  tests/bluetooth/init/prj_h5.conf
  tests/bluetooth/init/prj_h5_dbg.conf
  tests/bluetooth/init/prj_llcp.conf
  tests/bluetooth/init/src/main.c
Labels: area: Bluetooth, area: Tests, Stale

#44773 ztest API Migration: bluetooth/ll_settings
  tests/bluetooth/ll_settings/prj.conf
  tests/bluetooth/ll_settings/src/main.c
Labels: area: Bluetooth, area: Tests

#45091 drivers: wifi: Fix four Coverity issues in esp_at/esp.c
  drivers/wifi/esp_at/esp.c
  drivers/wifi/esp_at/esp.h
Labels: area: Networking, area: WiFi

#45141 Bluetooth: Audio: Remove codec from bt_audio_broadcast_sink_sync
  include/zephyr/bluetooth/audio/audio.h
  samples/bluetooth/broadcast_audio_sink/src/main.c
  subsys/bluetooth/audio/broadcast_sink.c
  subsys/bluetooth/audio/endpoint.h
  subsys/bluetooth/shell/audio.c
Labels: area: Bluetooth, area: Samples, area: API, area: Bluetooth Audio

#45257 Bluetooth: Host: Fix crash if HCI send fails
  subsys/bluetooth/host/hci_core.c
Labels: area: Bluetooth, area: Bluetooth Host

#45524 tests: ec_host_cmd: Make sure expected_dut_to_host fits in buffer
  tests/subsys/mgmt/ec_host_cmd/src/main.c
Labels: area: Tests

#45852 tests: counter: disable driver debug message
  tests/drivers/counter/counter_basic_api/prj.conf
Labels: area: Counter, area: Tests

#45925 samples: Bluetooth: broadcast_audio_sink sample bugfix
  samples/bluetooth/broadcast_audio_sink/src/main.c
  samples/bluetooth/broadcast_audio_source/src/main.c
Labels: bug, area: Bluetooth, area: Samples, area: Bluetooth Audio

#46063 boards: arm: mec172x: Configure KSI with internal pull-up
  boards/arm/mec172xevb_assy6906/mec172xevb_assy6906.dts
Labels: area: Boards, area: Devicetree, platform: Microchip MEC

#47190 drivers: serial: uart_native_posix: Replace use of DT_INST_LABEL
  drivers/serial/uart_native_posix.c
Labels: area: UART, area: native port

#46114 `tx_notify` refactor
  subsys/bluetooth/host/conn.c
Labels: area: Bluetooth, area: Bluetooth Host

#47143 Bluetooth: Mesh: Don't do bulk tx of seg msgs
  subsys/bluetooth/mesh/transport.c
Labels: area: Bluetooth, area: Bluetooth Mesh

#46254 drivers: ieee802154: print serialization error on nRF5340
  drivers/ieee802154/ieee802154_nrf5.c
Labels: area: Networking, area: IEEE 802.15.4

#46869 logging: Allow for compilation without log_output
  subsys/logging/CMakeLists.txt
  subsys/logging/Kconfig
  subsys/logging/Kconfig.backends
  subsys/logging/Kconfig.formatting
  subsys/logging/log_core.c
  tests/subsys/logging/log_output/prj.conf
  tests/subsys/logging/log_syst/prj.conf
Labels: area: Logging

#46874 Bluetooth: Audio: Fix CSIS SIRK read permissions
  subsys/bluetooth/audio/csis.c
Labels: area: Bluetooth, area: Bluetooth Audio

#47036 drivers: i2c: tca954X: Enable driver if needed
  drivers/i2c/Kconfig.tca954x
Labels: bug, area: I2C

#47031 samples: usb: fix flash test subsections in USB MSC sample
  samples/subsys/usb/mass/sample.yaml
Labels: area: USB

#47271 tests: log: stress: Adapt to logging API changes
  tests/subsys/logging/log_stress/src/main.c
Labels: area: Logging, Hotfix

#47149 drivers: usb: device: stm32: Configure USB Prescaler for F103
  drivers/usb/device/usb_dc_stm32.c
Labels: area: USB, platform: STM32

#47008 hal: gigadevice: Update gd32f4xx to firmware 3.0.0
  drivers/pinctrl/pinctrl_gd32_af.c
  include/zephyr/drivers/pinctrl/pinctrl_soc_gd32_common.h
  tests/drivers/pinctrl/gd32/src/main_af.c
  west.yml
Labels: manifest, west, manifest-hal_gigadevice, area: Pinctrl, platform: GD32

#46948 dts: binding: ipm: Remove unused zephyr,ipm-console binding
  dts/bindings/ipm/zephyr,ipm-console.yaml
Labels: area: Devicetree

#47106 riscv: Introduce ALWAYS_SWITCH_THROUGH_ECALL
  arch/riscv/Kconfig
  arch/riscv/core/isr.S
  arch/riscv/include/kernel_arch_func.h
  include/zephyr/arch/riscv/syscall.h
Labels: area: RISCV

#46961 ztest: Add zassume* API
  doc/develop/test/ztest.rst
  subsys/testsuite/ztest/include/zephyr/ztest_assert.h
  subsys/testsuite/ztest/src/ztest_new.c
  tests/ztest/error_hook/src/main.c
Labels: area: Bluetooth, area: Build System, area: Documentation, area: Bluetooth Controller, area: Testsuite, area: Formatting Output

#47235 tests: net: buf: move to new ztest API
  tests/net/buf/prj.conf
  tests/net/buf/src/main.c
Labels: area: Networking

#47279 drivers: adc: adc_stm32: fix comment indendations
  drivers/adc/adc_stm32.c
Labels: area: ADC, platform: STM32, Trivial

#47287 drivers: sensor: sx9500: Add multi-instance support
  drivers/sensor/sx9500/sx9500.c
  drivers/sensor/sx9500/sx9500_trigger.c
Labels: area: Sensors

#47308 Samples: Bluetooth: Fix missing codec reference for broadcast audio sink
  samples/bluetooth/broadcast_audio_sink/src/main.c
Labels: area: Bluetooth, area: Samples, Hotfix, area: Bluetooth Audio

#47286 drivers: sensor: si7060: Add multi-instance support
  drivers/sensor/si7060/si7060.c
Labels: area: Sensors

#47285 drivers: sensor: si7055: Add multi-instance support
  drivers/sensor/si7055/si7055.c
Labels: area: Sensors

#47284 drivers: sensor: si7006: Add multi-instance support
  drivers/sensor/si7006/si7006.c
Labels: area: Sensors

#47283 drivers: sensor: pms7003: Add multi-instance support
  drivers/sensor/pms7003/pms7003.c
Labels: area: Sensors

#47281 drivers: sensor: nrf5: Add multi-instance support
  drivers/sensor/nrf5/temp_nrf5.c
Labels: area: Sensors

#47280 drivers: sensor: ms5837: Add multi-instance support
  drivers/sensor/ms5837/ms5837.c
Labels: area: Sensors

#47277 drivers: sensor: mpr: Add multi-instance support
  drivers/sensor/mpr/mpr.c
Labels: area: Sensors

#47270 drivers: sensor: max44009: Add multi-instance support
  drivers/sensor/max44009/max44009.c
Labels: area: Sensors

#47269 drivers: sensor: lsm9ds0_mfd: Add multi-instance support
  drivers/sensor/lsm9ds0_mfd/lsm9ds0_mfd.c
Labels: area: Sensors

#47267 drivers: sensor: lsm6ds0: Add multi-instance support
  drivers/sensor/lsm6ds0/lsm6ds0.c
Labels: area: Sensors

#47264 drivers: sensor: lps25hb: Add multi-instance support
  drivers/sensor/lps25hb/lps25hb.c
Labels: area: Sensors

#47263 drivers: sensor: lps22hb: Add multi-instance support
  drivers/sensor/lps22hb/lps22hb.c
Labels: area: Sensors

#47247 drivers: sensor: hp206c: Add multi-instance support
  drivers/sensor/hp206c/hp206c.c
Labels: area: Sensors

#47217 drivers: sensor: grove: Add multi-instance support
  drivers/sensor/grove/light_sensor.c
  drivers/sensor/grove/temperature_sensor.c
Labels: area: Sensors

#47214 drivers: sensor: dht: Add multi-instance support
  drivers/sensor/dht/dht.c
Labels: area: Sensors

#47210 drivers: sensor: bmm150: Add multi-instance support
  drivers/sensor/bmm150/bmm150.c
Labels: area: Sensors

#47265 drivers: sensor: lsm303dlhc_magn: Add multi-instance support
  drivers/sensor/lsm303dlhc_magn/lsm303dlhc_magn.c
Labels: area: Sensors

#47215 drivers: sensor: dps310: Add multi-instance support
  drivers/sensor/dps310/dps310.c
Labels: area: Sensors

#47246 runners: jlink: allow passing file path with spaces
  scripts/west_commands/runners/jlink.py
Labels: area: West

#47084 ITE tests/kernel/sleep: tune CONFIG_SYS_CLOCK_TICKS_PER_SEC down
  soc/riscv/riscv-ite/it8xxx2/Kconfig.defconfig.series
Labels: area: RISCV, platform: ITE

#46976 net: lwm2m: refactoring lwm2m_engine.c
  subsys/net/lib/lwm2m/CMakeLists.txt
  subsys/net/lib/lwm2m/lwm2m_engine.c
  subsys/net/lib/lwm2m/lwm2m_engine.h
  subsys/net/lib/lwm2m/lwm2m_message_handling.c
  subsys/net/lib/lwm2m/lwm2m_message_handling.h
  subsys/net/lib/lwm2m/lwm2m_observation.c
  subsys/net/lib/lwm2m/lwm2m_observation.h
  subsys/net/lib/lwm2m/lwm2m_registry.c
  subsys/net/lib/lwm2m/lwm2m_registry.h
Labels: area: LWM2M

#47303 tests: arch: arm: move test arm_irq_vector_table to new ztest API
  tests/arch/arm/arm_irq_vector_table/prj.conf
  tests/arch/arm/arm_irq_vector_table/src/arm_irq_vector_table.c
  tests/arch/arm/arm_irq_vector_table/src/main.c
Labels: area: ARM

#47098 net: lwm2m: Fixed crash at LwM2M registration timeout
  subsys/net/lib/lwm2m/lwm2m_rd_client.c
Labels: area: LWM2M

#47183 MAINTAINERS: Add simonguinot as the LED collaborator
  MAINTAINERS.yml
Labels: area: Process

#47207 drivers: sensor: bma280: Add multi-instance support
  drivers/sensor/bma280/bma280.c
  drivers/sensor/bma280/bma280_trigger.c
Labels: area: Sensors

#47172 drivers: sensor: adt7420: Add multi-instance support
  drivers/sensor/adt7420/adt7420.c
  drivers/sensor/adt7420/adt7420_trigger.c
Labels: area: Sensors

#47219 drivers: sensor: hmc5883l: Add multi-instance support
  drivers/sensor/hmc5883l/hmc5883l.c
  drivers/sensor/hmc5883l/hmc5883l_trigger.c
Labels: area: Sensors

#47208 drivers: sensor: bmc150_magn: Add multi-instance support
  drivers/sensor/bmc150_magn/bmc150_magn.c
  drivers/sensor/bmc150_magn/bmc150_magn_trigger.c
Labels: area: Sensors

#47261 drivers: sensor: isl29035: Add multi-instance support
  drivers/sensor/isl29035/isl29035.c
  drivers/sensor/isl29035/isl29035_trigger.c
Labels: area: Sensors

#47262 drivers: sensor: lis3mdl: Add multi-instance support
  drivers/sensor/lis3mdl/lis3mdl.c
  drivers/sensor/lis3mdl/lis3mdl_trigger.c
Labels: area: Sensors

#47278 drivers: sensor: mpu6050: Add multi-instance support
  drivers/sensor/mpu6050/mpu6050.c
  drivers/sensor/mpu6050/mpu6050_trigger.c
Labels: area: Sensors

#47276 drivers: sensor: mcp9808: Add multi-instance support
  drivers/sensor/mcp9808/mcp9808.c
  drivers/sensor/mcp9808/mcp9808_trigger.c
Labels: area: Sensors

#47320 drivers: sensor: vcnl4040: Add multi-instance support
  drivers/sensor/vcnl4040/vcnl4040.c
  drivers/sensor/vcnl4040/vcnl4040_trigger.c
Labels: area: Sensors

#44664 coding guidelines: comply with MISRA C:2012 Rule 12.2
  include/dt-bindings/pcie/pcie.h
Labels: area: API, area: Devicetree Binding, Stale, area: Coding Guidelines

#47325 tests: bluetooth: Fix bad Audio preset macro for broadcast sink
  tests/bluetooth/bsim_bt/bsim_test_audio/src/broadcast_sink_test.c
Labels: area: Bluetooth, Hotfix, area: Bluetooth Audio

#46784 Bluetooth: Audio: Stop calling broadcast sink syncable when synced
  subsys/bluetooth/audio/broadcast_sink.c
Labels: area: Bluetooth, area: Bluetooth Audio

#47205 drivers: sensor: ams_iAQcode: Add multi-instance support
  drivers/sensor/ams_iAQcore/iAQcore.c
Labels: area: Sensors

#47244 drivers: sensor: adxl345: Add multi-instance support
  drivers/sensor/adxl345/adxl345.c
Labels: area: Sensors

#47251 net: openthread: enable default software tx security in 1.3
  subsys/net/l2/openthread/Kconfig.thread
Labels: area: Networking, area: OpenThread

#47317 drivers: sensor: th02: Add multi-instance support
  drivers/sensor/th02/th02.c
Labels: area: Sensors

#47306 boards: fix pin documentation for LPUART1 on teensy4
  boards/arm/teensy4/teensy4-pinctrl.dtsi
Labels: Trivial

#47333 Bluetooth: Audio: Fix bad buffer pointer in get_pac_records
  subsys/bluetooth/audio/pacs.c
Labels: area: Bluetooth, area: Bluetooth Audio

#47354 twister: fix calculation of testsuite names
  scripts/pylib/twister/twisterlib/testsuite.py
Labels: Hotfix

#47345 west.yml: hal_atmel: Add include directory only for atmel devices
  west.yml
Labels: manifest, west, manifest-hal_atmel

#47305 net: coap: make coap vars configurable
  include/zephyr/net/coap.h
  subsys/net/lib/coap/Kconfig
  subsys/net/lib/coap/coap.c
  subsys/net/lib/lwm2m/lwm2m_message_handling.c
  tests/net/lib/coap/src/main.c
Labels: area: Networking, area: LWM2M

#47191 drivers: ethernet: eth_mcux: Replace use of DT_INST_LABEL
  drivers/ethernet/eth_mcux.c
Labels: platform: NXP, area: Ethernet, Trivial

#47252 pm: remove PM_DEVICE_ACTION_FORCE_SUSPEND
  include/zephyr/pm/device.h
  subsys/pm/device.c
Labels: area: Power Management

#47328 drivers: pcie: fix inverted translation for PCIe controller
  drivers/pcie/host/pcie.c
Labels: area: PCI

#47239 driver: i2c: npcx: clear FIFO status before a transaction starts
  drivers/i2c/i2c_npcx_controller.c
Labels: area: I2C, platform: Nuvoton NPCX

#47364 tests: arch: arm: move test arm_ramfunc to new ztest API
  tests/arch/arm/arm_ramfunc/prj.conf
  tests/arch/arm/arm_ramfunc/src/arm_ramfunc.c
  tests/arch/arm/arm_ramfunc/src/main.c
Labels: area: ARM

#47368 tests: arch: arm: move test arm_sw_vector_relay to new ztest API
  tests/arch/arm/arm_sw_vector_relay/prj.conf
  tests/arch/arm/arm_sw_vector_relay/src/arm_sw_vector_relay.c
  tests/arch/arm/arm_sw_vector_relay/src/main.c
Labels: area: ARM

#47357 video: ov2640: cleanup unused struct fields
  drivers/video/ov2640.c
Labels: Trivial, area: Video

#46243 Bluetooth: Audio: Remove CSIS minimum set size requirement
  include/zephyr/bluetooth/audio/csis.h
  subsys/bluetooth/audio/csis.c
Labels: area: Bluetooth, area: API, area: Bluetooth Audio

#46358 boards: arm: add Seeed XIAO BLE board
  boards/arm/xiao_ble/Kconfig
  boards/arm/xiao_ble/Kconfig.board
  boards/arm/xiao_ble/Kconfig.defconfig
  boards/arm/xiao_ble/board.cmake
  boards/arm/xiao_ble/doc/img/xiao_ble.png
  boards/arm/xiao_ble/doc/index.rst
  boards/arm/xiao_ble/pre_dt_board.cmake
  boards/arm/xiao_ble/seeed_xiao_connector.dtsi
  boards/arm/xiao_ble/xiao_ble-pinctrl.dtsi
  boards/arm/xiao_ble/xiao_ble.dts
  boards/arm/xiao_ble/xiao_ble.yaml
  boards/arm/xiao_ble/xiao_ble_defconfig
  tests/drivers/adc/adc_api/src/test_adc.c
Labels: area: ADC, area: Boards, area: Documentation, area: Devicetree, area: Tests

#46741 ipc_service: static_vrings: Fix TX virtqueue alignment
  subsys/ipc/ipc_service/backends/ipc_rpmsg_static_vrings.c
Labels: area: IPC

#47212 drivers: spi: Initialize CS GPIOs in spi-bitbang
  drivers/spi/spi_bitbang.c
Labels: area: SPI

#47216 samples: nrf: mesh: onoff-app: Convert to use gpio_dt_spec
  samples/boards/nrf/mesh/onoff-app/src/main.c
Labels: platform: nRF

#47289 drivers: ssd16xx: Fix CS glitch
  drivers/display/ssd16xx.c
Labels: area: Display

#47332 samples: drivers: led_ws2812: add fixture to sample.yaml
  samples/drivers/led_ws2812/sample.yaml
Labels: area: LED

#47352 samples: bluetooth: iso_receive: Convert to use gpio_dt_spec
  samples/bluetooth/iso_receive/src/main.c
Labels: area: Bluetooth

#47337 net: lwm2m: Fix socket offload and native TLS conflict
  subsys/net/lib/lwm2m/Kconfig
  subsys/net/lib/lwm2m/lwm2m_engine.c
Labels: area: LWM2M

#44768 ztest API Migration: bluetooth/gatt
  tests/bluetooth/gatt/prj.conf
  tests/bluetooth/gatt/src/main.c
Labels: area: Bluetooth, area: Tests

#47097 Bluetooth: controller: llcp: fixing tx buffer queue handling
  subsys/bluetooth/controller/ll_sw/ull_conn.c
  subsys/bluetooth/controller/ll_sw/ull_conn_types.h
  subsys/bluetooth/controller/ll_sw/ull_llcp.c
  subsys/bluetooth/controller/ll_sw/ull_llcp.h
  subsys/bluetooth/controller/ll_sw/ull_llcp_internal.h
  tests/bluetooth/controller/ctrl_conn_update/src/main.c
  tests/bluetooth/controller/ctrl_tx_buffer_alloc/src/main.c
Labels: bug, area: Bluetooth, area: Bluetooth Controller, area: Bluetooth LLCP, backport v3.1-branch

#47423 arch: arm: aarch32: Disable FPU with TF-M
  arch/arm/core/aarch32/Kconfig
Labels: area: ARM, Hotfix, area: TF-M

#47392 samples: gsm_modem: Remove use of DT_BUS_LABEL
  samples/net/gsm_modem/src/main.c
Labels: area: Networking, Trivial

#47394 samples: lorawan: class_a: Convert to use DEVICE_DT_GET
  samples/subsys/lorawan/class_a/src/main.c
Labels: area: LoRa
