Repository zephyrproject-rtos/zephyr, pull requests merged in 2022-03, with the labels that each got.

#43187 samples: nrf: system_off: Fix force state usage
  samples/boards/nrf/system_off/src/main.c
Labels: area: Power Management, area: Samples, platform: nRF

#42924 dts: arm: stm32l0 LSI clock freq is 37kHz
  dts/arm/st/l0/stm32l0.dtsi
Labels: bug, area: Devicetree, platform: STM32, backport v2.7-branch, backport v3.0-branch

#43089 modules: upmerge sof to ab715d8e34.
  west.yml
Labels: area: Modules, manifest, west, manifest-sof

#43247 fix: gatt: Register conn cbs once to avoid loop.
  subsys/bluetooth/host/gatt.c
Labels: area: Bluetooth, area: Bluetooth Host

#42764 drivers: sensor: iis3dhhc: convert to spi_dt_spec
  drivers/sensor/iis3dhhc/iis3dhhc.c
  drivers/sensor/iis3dhhc/iis3dhhc.h
  drivers/sensor/iis3dhhc/iis3dhhc_spi.c
Labels: area: Sensors

#41660 mgmt/mcumgr/lib: Allow echo buffer size configuration
  subsys/mgmt/mcumgr/Kconfig
  subsys/mgmt/mcumgr/lib/cmd/os_mgmt/src/os_mgmt.c
Labels: area: mcumgr

#43261 manifest: update canopennode
  west.yml
Labels: area: Modules, manifest, west, manifest-canopennode

#43164 mbox: yaml: Relocate mailbox-controller.yaml
  dts/bindings/mbox/mailbox-controller.yaml
Labels: area: Devicetree, area: Devicetree Binding

#43279 west: runners: Fix verify warning from nrfjprog
  scripts/west_commands/runners/nrfjprog.py
  scripts/west_commands/tests/test_nrfjprog.py
Labels: area: West

#43296 dts: Bugfix to secure and non-secure FlexSPI register addresses
  dts/arm/nxp/nxp_rt6xx.dtsi
  dts/arm/nxp/nxp_rt6xx_ns.dtsi
Labels: area: Devicetree, platform: NXP

#43297 intel_adsp: Use gpdma for all cAVS variants
  boards/xtensa/intel_adsp_cavs15/Kconfig.defconfig
  boards/xtensa/intel_adsp_cavs18/Kconfig.defconfig
  boards/xtensa/intel_adsp_cavs20/Kconfig.defconfig
  dts/xtensa/intel/intel_cavs15.dtsi
  dts/xtensa/intel/intel_cavs18.dtsi
  dts/xtensa/intel/intel_cavs20.dtsi
Labels: area: Boards, area: Xtensa, area: Devicetree, platform: Intel CAVS

#42543 drivers: pinctrl: rcar: Rework pin configuration
  drivers/pinctrl/pfc_rcar.c
Labels: platform: Renesas, area: Pinctrl

#41325 drivers: kscan: add support for cst816s touch panel driver
  boards/arm/pinetime_devkit0/Kconfig.defconfig
  boards/arm/pinetime_devkit0/pinetime_devkit0.dts
  boards/arm/pinetime_devkit0/pinetime_devkit0.yaml
  drivers/kscan/CMakeLists.txt
  drivers/kscan/Kconfig
  drivers/kscan/Kconfig.cst816s
  drivers/kscan/kscan_cst816s.c
  dts/bindings/kscan/hynitron,cst816s.yaml
  dts/bindings/vendor-prefixes.txt
Labels: area: SPI, area: Build System, area: Boards, area: Devicetree, area: Devicetree Binding, area: Kscan

#43217 [Backport v2.7-branch] adc: stm32: need #41376 and #41548
  drivers/adc/adc_stm32.c
Labels: area: ADC, platform: STM32

#43352 boards: arm: gd32e103v_eval: fix Kconfig reference
  boards/arm/gd32e103v_eval/doc/index.rst
Labels: area: Boards, area: Documentation, Hotfix

#42717 [Backport v2.7-branch] Icmp4 fixes
  subsys/net/ip/icmpv4.c
Labels: area: Networking

#43355 tests: bluetooth: controller: s/STACKSIZE/STACK_SIZE/
  tests/bluetooth/ctrl_isoal/prj.conf
Labels: area: Tests, Hotfix

#43328 Bluetooth: Controller: Fix missing ISOAL sink destroy
  subsys/bluetooth/controller/ll_sw/ull_iso.c
  subsys/bluetooth/controller/ll_sw/ull_sync_iso.c
Labels: area: Bluetooth, area: Bluetooth Controller

#43350 twister: yaml: run flash test on it8xxx2_evb board
  tests/drivers/flash/testcase.yaml
Labels: area: Tests

#43134 LPCXPresso55S69-evk dtsi file incorrect
  boards/arm/lpcxpresso55s69/lpcxpresso55s69.dtsi
Labels: area: Boards, area: Devicetree, platform: NXP

#42878 gptp: fix endianness of correction field in sync follow up message
  subsys/net/l2/ethernet/gptp/gptp_md.c
Labels: area: Networking

#43370 mbox: Fix function syscall check
  drivers/mbox/mbox_handlers.c
Labels: backport v3.0-branch

#43253 Bluetooth: Mesh: Fix unable send mesh message when proxy adv pending
  subsys/bluetooth/mesh/adv_ext.c
Labels: bug, area: Bluetooth, area: Bluetooth Mesh

#43358 twister: footprints: Fix missing memory footprints
  scripts/pylib/twister/twisterlib.py
Labels: bug, area: Twister

#43321 manifest: openthread: Simplification of openthread integration.
  modules/openthread/CMakeLists.txt
  subsys/net/l2/openthread/Kconfig.features
  west.yml
Labels: area: Networking, area: OpenThread, area: Modules, manifest, west, manifest-openthread

#43303 MAINTAINERS: Add Bluetooth Audio section
  MAINTAINERS.yml
Labels: area: Bluetooth, area: Process, TSC, area: Bluetooth Audio

#43339 maintainers: Set Flavio as crypto drivers maintainer
  MAINTAINERS.yml
Labels: TSC

#43212 MAINTAINERS: Update maintainers & codeowners for Renesas R-Car platform
  CODEOWNERS
  MAINTAINERS.yml
Labels: area: Process, TSC

#43391 scripts: kconfig: update symbol info hint URL
  scripts/kconfig/kconfig.py
Labels: area: Kconfig, Trivial

#43062 doc: Release note 3.0: Document removed STM32 Clock Kconfig symbols
  doc/releases/release-notes-3.0.rst
Labels: area: Documentation, Release Notes

#43383 maintainers: Add danieldegrasse as collaborator to disk subsystem
  MAINTAINERS.yml
Labels: area: Process

#43341 soc: Conditionally attach SFRO clock to FlexCOMM0
  soc/arm/nxp_imx/rt6xx/soc.c
Labels: platform: NXP

#41137 boards: pinetime_devkit0: add compatible for generic spi nor flash
  boards/arm/pinetime_devkit0/pinetime_devkit0.dts
Labels: area: Boards, area: Devicetree

#43434 drivers: dma: dw_common: fix style issue
  drivers/dma/dma_dw_common.c
Labels: Trivial

#43043 ITE: drivers/adc: implement ADC channels 13-16
  drivers/adc/adc_ite_it8xxx2.c
  dts/riscv/it8xxx2-alts-map.dtsi
  dts/riscv/it8xxx2.dtsi
  soc/riscv/riscv-ite/common/check_regs.c
  soc/riscv/riscv-ite/common/chip_chipregs.h
Labels: area: ADC, area: RISCV, area: Devicetree, platform: ITE

#43402 cmake: export ZEPHYR_TOOLCHAIN_VARIANT to kconfiglib
  cmake/modules/kconfig.cmake
Labels: bug, area: Build System

#43426 Fix bluetooth-tests workflow
  .github/workflows/bluetooth-tests.yaml
Labels: Hotfix

#43447 ci: footprint: call west update
  .github/workflows/footprint.yml
Labels: Hotfix

#43394 boards: xtensa: Merge intel_adsp_cavs25 variants into one directory
  boards/xtensa/intel_adsp_cavs25/Kconfig.board
  boards/xtensa/intel_adsp_cavs25/Kconfig.defconfig
  boards/xtensa/intel_adsp_cavs25/board.cmake
  boards/xtensa/intel_adsp_cavs25/intel_adsp_cavs25_tgph.dts
  boards/xtensa/intel_adsp_cavs25/intel_adsp_cavs25_tgph.yaml
  boards/xtensa/intel_adsp_cavs25/intel_adsp_cavs25_tgph_defconfig
  boards/xtensa/intel_adsp_cavs25_tgph/Kconfig.board
  boards/xtensa/intel_adsp_cavs25_tgph/Kconfig.defconfig
  boards/xtensa/intel_adsp_cavs25_tgph/board.cmake
  boards/xtensa/intel_adsp_cavs25_tgph/doc/index.rst
Labels: area: Boards, area: Documentation, area: Devicetree, platform: Intel CAVS

#38940 drivers: sensors: lis2dh: Allow any movement on interrupt 1
  drivers/sensor/lis2dh/lis2dh.c
  drivers/sensor/lis2dh/lis2dh.h
  drivers/sensor/lis2dh/lis2dh_trigger.c
  dts/bindings/sensor/st,lis2dh-common.yaml
Labels: area: Sensors, area: Devicetree, area: Devicetree Binding

#41110 tests: drivers: uart: uart_async_api: Move rx abort to timeout
  tests/drivers/uart/uart_async_api/src/test_uart_async.c
Labels: area: UART, area: Tests

#42667 samples: nanopb: Add .options file to the sample
  samples/modules/nanopb/CMakeLists.txt
  samples/modules/nanopb/src/main.c
  samples/modules/nanopb/src/simple.options
  samples/modules/nanopb/src/simple.proto
Labels: area: Build System, area: Samples

#43077 drivers: entropy stm32 RNG driver should not block if Seed error occurs
  drivers/entropy/entropy_stm32.c
Labels: platform: STM32, area: Crypto / RNG

#43114 Add the support of the rpmsg-tty channel
  samples/subsys/ipc/openamp_rsc_table/README.rst
  samples/subsys/ipc/openamp_rsc_table/src/main_remote.c
Labels: area: Documentation, area: Samples, area: IPC

#43144 Bluetooth: audio: Fix BT_CODEC_LC3_CONFIG_48_3 definition
  include/bluetooth/audio/lc3.h
Labels: area: Bluetooth, area: API, area: Bluetooth Audio

#43307 modules: hal_nordic: 802.15.4 CSMA-CA feature disabled by default
  drivers/ieee802154/ieee802154_nrf5.c
  modules/hal_nordic/nrf_802154/CMakeLists.txt
Labels: area: Networking, area: Modules, area: IEEE 802.15.4

#43299 it8xxx2: timer: to unified method of enabling event timer.
  drivers/timer/ite_it8xxx2_timer.c
Labels: area: Drivers, area: RISCV, area: Timer, platform: ITE

#43349 Bluetooth: Mesh: Fix missing add suffix `_COMMON`
  subsys/bluetooth/mesh/Kconfig
  subsys/bluetooth/mesh/prov_bearer.h
Labels: bug, area: Bluetooth, area: Bluetooth Mesh

#43353 ipc_service: Start the wq only once
  subsys/ipc/ipc_service/backends/ipc_rpmsg_static_vrings.c
Labels: area: IPC

#43371 net: lwm2m: obj inst processing per formatter
  subsys/net/lib/lwm2m/lwm2m_engine.c
  subsys/net/lib/lwm2m/lwm2m_rw_oma_tlv.c
Labels: area: Networking, area: LWM2M

#43385 Bluetooth: Controller: Fix per adv scheduling issue
  subsys/bluetooth/controller/ll_sw/nordic/hal/nrf5/radio/radio.c
Labels: bug, area: Bluetooth, Regression, area: Bluetooth Controller, backport v2.7-branch, backport v3.0-branch

#43396 Bluetooth: Controller: Fix k_sem_give call from Zero Latency IRQs
  subsys/bluetooth/controller/ll_sw/nordic/lll/lll_adv.c
Labels: bug, area: Bluetooth, area: Bluetooth Controller

#43442 pinmux: esp32: check only for pullup
  drivers/pinmux/pinmux_esp32.c
Labels: bug, backport v3.0-branch

#43437 net: openthread: remove `CONFIG_OPENTHREAD_CSL_SAMPLE_WINDOW`
  subsys/net/l2/openthread/Kconfig.thread
  subsys/net/lib/openthread/platform/openthread-core-zephyr-config.h
Labels: area: Networking

#43421 net: gptp: Fix sync_receipt_time calculation in gptp_mi
  subsys/net/l2/ethernet/gptp/gptp_mi.c
Labels: area: Networking

#43415 net: lwm2m: Fix SenML Json Name parser
  subsys/net/lib/lwm2m/lwm2m_rw_senml_json.c
Labels: area: Networking

#43412 modules: hal_nordic: Select RPMSG backend by default
  modules/hal_nordic/Kconfig
Labels: area: Modules

#43453 net: http_client: Add official null response behavior
  include/net/http_client.h
  subsys/net/lib/http/http_client.c
Labels: area: Networking, area: API

#43444 drivers: Remove undesirable irq_enable calls from nrfx driver shims
  drivers/audio/dmic_nrfx_pdm.c
  drivers/clock_control/clock_control_nrf.c
  drivers/i2s/i2s_nrfx.c
Labels: area: Drivers, platform: nRF, area: I2S

#43215 libmetal: Bump to SHA 695d29ba60a5
  west.yml
Labels: area: Modules, manifest, west, manifest-libmetal

#43462 modem: hl7800: use correct timeouts on KTCPSND to avoid internal deadlock
  drivers/modem/hl7800.c
Labels: bug, priority: low, area: Modem, backport v2.7-branch

#43263 drivers: timer: Set user RTC channel count conditionally
  drivers/timer/Kconfig.nrf_rtc
Labels: area: Timer

#40894 doc/guides/device_mgmt: SMP protocol documentation
  CODEOWNERS
  doc/guides/device_mgmt/index.rst
  doc/guides/device_mgmt/smp_groups/smp_group_0.rst
  doc/guides/device_mgmt/smp_groups/smp_group_1.rst
  doc/guides/device_mgmt/smp_groups/smp_group_2.rst
  doc/guides/device_mgmt/smp_groups/smp_group_8.rst
  doc/guides/device_mgmt/smp_groups/smp_group_9.rst
  doc/guides/device_mgmt/smp_protocol.rst
Labels: area: Documentation, area: mcumgr

#43270 drivers: ethernet: dsa_ksz8xxx: fix spi bus initialization
  drivers/ethernet/dsa_ksz8xxx.c
Labels: area: Networking, area: Ethernet

#43080 drivers: i2c: MEC15xx: Improved error handling
  boards/arm/mec1501modular_assy6885/mec1501modular_assy6885.dts
  boards/arm/mec15xxevb_assy6853/mec15xxevb_assy6853.dts
  drivers/i2c/i2c_mchp_xec.c
  dts/bindings/i2c/microchip,xec-i2c.yaml
Labels: area: I2C, area: Boards, area: Devicetree, platform: Microchip, area: Devicetree Binding

#43486 soc: arm: nxp: kinetis: fix pinctrl compilation for ke1xf SoC series
  soc/arm/nxp_kinetis/common/pinctrl_soc.h
Labels: bug, platform: NXP, area: Pinctrl

#43499 xtensa: intel_adsp: use cavs_ipc driver only if enabled in Kconfig
  soc/xtensa/intel_adsp/common/CMakeLists.txt
Labels: platform: Intel CAVS

#43365 lvgl: bump supported version to v8.2.0
  boards/arm/mimxrt1050_evk/Kconfig.defconfig
  boards/arm/mimxrt1060_evk/Kconfig.defconfig
  boards/arm/mimxrt1064_evk/Kconfig.defconfig
  boards/arm/reel_board/Kconfig.defconfig
  boards/shields/adafruit_2_8_tft_touch_v2/Kconfig.defconfig
  boards/shields/buydisplay_2_8_tft_touch_arduino/Kconfig.defconfig
  boards/shields/buydisplay_3_5_tft_touch_arduino/Kconfig.defconfig
  boards/shields/ls0xx_generic/Kconfig.defconfig
  boards/shields/ssd1306/Kconfig.defconfig
  boards/shields/st7789v_generic/Kconfig.defconfig
  boards/shields/waveshare_epaper/Kconfig.defconfig
  modules/Kconfig.lvgl
  west.yml
Labels: area: Boards, platform: NXP, area: Shields, area: Modules, manifest, west, manifest-lvgl

#43493 doc: bindings: improve gpio_dt_spec doc
  doc/guides/dts/bindings.rst
Labels: area: Documentation, area: Devicetree

#43517 samples: drivers: eeprom: fix spelling
  samples/drivers/eeprom/src/main.c
Labels: area: Samples, Trivial, area: EEPROM

#43507 drivers: serial: fix typos
  drivers/serial/uart_imx.c
  drivers/serial/uart_lpc11u6x.h
  drivers/serial/uart_mcux_lpuart.c
  drivers/serial/uart_nrfx_uarte.c
  drivers/serial/uart_pl011.c
  drivers/serial/uart_stm32.c
Labels: platform: STM32, platform: NXP

#42314 Bluetooth: PACS: Add PAC data to pac_notify
  include/bluetooth/audio/audio.h
  subsys/bluetooth/audio/pacs.c
Labels: area: Bluetooth, area: API, area: Bluetooth Audio

#43351 Bluetooth: Mesh: Fix unable iv recovery when in iv update state
  subsys/bluetooth/mesh/beacon.c
  subsys/bluetooth/mesh/beacon.h
  subsys/bluetooth/mesh/net.c
Labels: bug, area: Bluetooth, area: Bluetooth Mesh

#43439 boards: riscv: introduce gd32vf103c_starter board
  boards/riscv/gd32vf103c_starter/Kconfig.board
  boards/riscv/gd32vf103c_starter/Kconfig.defconfig
  boards/riscv/gd32vf103c_starter/board.cmake
  boards/riscv/gd32vf103c_starter/doc/img/gd32vf103c_starter.jpg
  boards/riscv/gd32vf103c_starter/doc/index.rst
  boards/riscv/gd32vf103c_starter/gd32vf103c_starter-pinctrl.dtsi
  boards/riscv/gd32vf103c_starter/gd32vf103c_starter.dts
  boards/riscv/gd32vf103c_starter/gd32vf103c_starter.yaml
  boards/riscv/gd32vf103c_starter/gd32vf103c_starter_defconfig
  boards/riscv/gd32vf103c_starter/support/openocd.cfg
Labels: area: Boards, area: Documentation, area: RISCV, area: Devicetree, platform: GigaDevice, platform: GD32

#43467 Allow use of bash outside of /bin
  boards/x86/common/scripts/build_grub.sh
  scripts/checkpatch/check_known_checkpatch_issues.sh
  scripts/checkpatch/maintainer-checkpatch.bash
  scripts/checkpatch/timestamp
  scripts/coccicheck
  tests/net/all/check_net_options.sh
Labels: area: Networking, area: Boards, area: Tests, platform: X86

#43331 Bluetooth: Mesh: Extended advertiser should build without relay
  subsys/bluetooth/mesh/adv_ext.c
Labels: bug, area: Bluetooth, area: Bluetooth Mesh

#43498 samples: smp_svr: add Pinnacle 100 DVK board config
  samples/subsys/mgmt/mcumgr/smp_svr/boards/pinnacle_100_dvk.conf
Labels: area: Samples

#43482 logging: Add prompt to LOG2_ALWAYS_RUNTIME option
  subsys/logging/Kconfig.misc
  subsys/logging/log_core.c
Labels: area: Logging

#43506 modules: hal_gigadevice: fix GD32_REMAP_MSK error.
  west.yml
Labels: area: Modules, manifest, west, manifest-hal_gigadevice

#40957 gpio: mcp23s17: use gpio_driver_data not config
  drivers/gpio/gpio_mcp23s17.h
Labels: bug, area: GPIO

#43474 openthread: net: implementing of otPlatRadioSetChannelMaxTransmitPower
  subsys/net/lib/openthread/platform/radio.c
Labels: area: Networking, area: OpenThread

#42798 include/posix: mark unused variables
  include/posix/pthread.h
Labels: area: API

#43484 soc: arm: nordic: fix GPIO pin forwarder initialization
  soc/arm/nordic_nrf/nrf53/soc.c
Labels: platform: nRF

#43547 subsys/ztest: Make 1cpu tests run on CPU 0 specifically
  subsys/testsuite/ztest/src/ztest.c
Labels: area: Test Framework

#43436 drivers: gpio_pcal6408a: Fix handling of the GPIO_INT_DEBOUNCE flag
  drivers/gpio/gpio_pcal6408a.c
Labels: bug, area: GPIO, Trivial

#42384 libc: minimal: qsort remove callback cast in call of qsort_r
  lib/libc/minimal/include/stdlib.h
  lib/libc/minimal/source/stdlib/qsort.c
Labels: area: C Library, area: Minimal libc

#43418 Bluetooth: Controller: Fix out-of-bound memory write
  subsys/bluetooth/controller/ll_sw/ull_iso.c
Labels: bug, area: Bluetooth, Regression, area: Bluetooth Controller

#43564 subsys/ztest: Revert "Make 1cpu tests run on CPU 0 specifically"
  subsys/testsuite/ztest/src/ztest.c
Labels: area: Test Framework

#43550 lib: libc: minimal: Add macros for fast and least min/max values
  lib/libc/minimal/include/stdint.h
Labels: area: C Library

#43298 Bluetooth: Controller: Fix address resolution when max entries in list
  subsys/bluetooth/controller/ll_sw/nordic/hal/nrf5/radio/radio.c
Labels: bug, area: Bluetooth, area: Bluetooth Qualification, area: Bluetooth Controller, backport v2.7-branch, backport v3.0-branch

#43302 Bluetooth: Controller: Fix missing reset of sync create association
  subsys/bluetooth/controller/ll_sw/ull.c
  subsys/bluetooth/controller/ll_sw/ull_sync.c
  subsys/bluetooth/controller/ll_sw/ull_sync_internal.h
Labels: area: Bluetooth, area: Bluetooth Controller

#43367 Bluetooth: Controller: Fix missing configure of Device Address Match
  subsys/bluetooth/controller/ll_sw/nordic/lll/lll_adv_aux.c
Labels: bug, area: Bluetooth, area: Bluetooth Qualification, area: Bluetooth Controller, backport v2.7-branch, backport v3.0-branch

#43213 Bluetooth: Mesh: Add back-off to secure beacons
  subsys/bluetooth/mesh/beacon.c
  subsys/bluetooth/mesh/subnet.h
Labels: area: Bluetooth, area: Bluetooth Mesh

#43424 Bluetooth: Controller: Fix Extended Advertising Power Amp setup
  subsys/bluetooth/controller/ll_sw/nordic/lll/lll_adv_aux.c
Labels: bug, area: Bluetooth, area: Bluetooth Controller

#43565 MAINTAINERS: Add myself as RISC-V collaborator
  MAINTAINERS.yml
Labels: area: Process

#43582 sys: util: improve docs for MIN/MAX/CLAMP
  include/sys/util.h
Labels: area: API, area: Base OS

#43191 drivers: can: rcar: add statistics support
  drivers/can/can_rcar.c
Labels: area: CAN, platform: Renesas

#43175 drivers: lis2dh: power management
  drivers/sensor/lis2dh/lis2dh.c
  drivers/sensor/lis2dh/lis2dh.h
Labels: area: Sensors

#43478 net: remove unmaintained 6LoCAN implementation
  drivers/can/CMakeLists.txt
  drivers/can/Kconfig
  drivers/can/Kconfig.net
  drivers/can/can_net.c
  drivers/ethernet/eth_stm32_hal.c
  include/net/can.h
  include/net/net_ip.h
  include/net/net_l2.h
  include/net/net_linkaddr.h
  include/net/net_pkt.h
  samples/net/sockets/echo_client/overlay-6locan.conf
  samples/net/sockets/echo_client/sample.yaml
  samples/net/sockets/echo_server/overlay-6locan.conf
  samples/net/sockets/echo_server/sample.yaml
  scripts/kconfig/hardened.csv
  subsys/net/ip/Kconfig
  subsys/net/ip/net_if.c
  subsys/net/ip/net_shell.c
  subsys/net/ip/tcp.c
  subsys/net/l2/CMakeLists.txt
  subsys/net/l2/canbus/6locan.c
  subsys/net/l2/canbus/CMakeLists.txt
  subsys/net/l2/canbus/Kconfig
  subsys/net/l2/canbus/canbus_internal.h
  subsys/net/l2/ethernet/ethernet.c
  tests/net/all/prj.conf
Labels: bug, priority: medium, area: Networking, area: Samples, platform: STM32, area: Tests, area: API, area: Ethernet, area: CAN, area: Kconfig, area: Sockets

#43559 include/atomics: doc: Clarify memory barrier behavior
  doc/reference/kernel/other/atomic.rst
  include/sys/atomic.h
  include/sys/atomic_builtin.h
Labels: area: Kernel, area: Documentation, area: API, area: Base OS

#43255 Bluetooth: Host: Optimize hci buf alloc by calc actually require size
  subsys/bluetooth/host/adv.c
Labels: area: Bluetooth, area: Bluetooth Host

#43216 samples: fix the metairq_dispatch sample sporadically failed on ehl_crb
  samples/kernel/metairq_dispatch/src/main.c
Labels: area: Samples

#43254 tests: testsuite: add emulating send IPI in X2APIC mode
  include/drivers/interrupt_controller/loapic.h
  subsys/testsuite/include/interrupt_util.h
Labels: area: Test Framework, area: API, area: Interrupt Controller, platform: X86, area: Testsuite

#43616 kernel: Reduce strncpy in z_impl_k_thread_name_set by null char
  kernel/thread.c
Labels: area: Kernel

#43584 drivers: clock_control: clock_stm32_ll_h7: Fix PLL3P, PLL3Q and PLL3R output enable
  drivers/clock_control/clock_stm32_ll_h7.c
Labels: platform: STM32, area: Clock Control, Trivial

#43287 scripts: enforce module name uniqueness
  cmake/modules/zephyr_module.cmake
  scripts/zephyr_module.py
Labels: area: Build System

#43611 soc/intel_adsp: add support for Intel Jasper Lake
  boards/xtensa/intel_adsp_cavs20/Kconfig.board
  boards/xtensa/intel_adsp_cavs20/Kconfig.defconfig
  boards/xtensa/intel_adsp_cavs20/board.cmake
  boards/xtensa/intel_adsp_cavs20/intel_adsp_cavs20_jsl.dts
  boards/xtensa/intel_adsp_cavs20/intel_adsp_cavs20_jsl.yaml
  boards/xtensa/intel_adsp_cavs20/intel_adsp_cavs20_jsl_defconfig
  dts/xtensa/intel/intel_cavs20_jsl.dtsi
  samples/subsys/audio/sof/boards/intel_adsp_cavs20_jsl.conf
  soc/xtensa/intel_adsp/common/boot.c
Labels: area: Boards, area: Samples, area: Xtensa, area: Devicetree, area: Audio, platform: Intel CAVS

#43625 kernel: init: Simplify early rand get
  kernel/init.c
Labels: area: Kernel

#43483 cmake: save eh_frame section in output with CONFIG_EXCEPTIONS.
  CMakeLists.txt
Labels: area: Build System

#43489 Bluetooth: Host: Add missing `BT_ATT_OP`s to `att_op_get_type()`
  subsys/bluetooth/host/att.c
Labels: area: Bluetooth, area: Bluetooth Host

#43485 Bluetooth: tests: Fixup conf to make sure new LLCP is selected
  tests/bluetooth/bsim_bt/edtt_ble_test_app/gatt_test_app/prj_llcp.conf
  tests/bluetooth/init/prj_llcp.conf
Labels: area: Bluetooth, area: Bluetooth Controller, area: Bluetooth LLCP

#43524 net: if: add default selection of first up interface
  include/net/net_if.h
  subsys/net/ip/Kconfig
  subsys/net/ip/net_if.c
Labels: area: Networking, area: API

#43504 drivers: espi: xec: MEC172x Handle eSPI peripheral channel error
  drivers/espi/espi_mchp_xec_v2.c
Labels: area: eSPI, platform: Microchip

#42276 twister: passing the build dir to device serial pty
  scripts/pylib/twister/twisterlib.py
Labels: area: Twister

#43501 dts: arm: nxp: kinetis: add zephyr,memory-region for lower SRAM
  dts/arm/nxp/nxp_k2x.dtsi
  dts/arm/nxp/nxp_k6x.dtsi
  dts/arm/nxp/nxp_k8xfn256vxx15.dtsi
  dts/arm/nxp/nxp_ke1xf256vlx16.dtsi
  dts/arm/nxp/nxp_ke1xf512vlx16.dtsi
Labels: area: Devicetree, platform: NXP

#43496 Bluetooth: Mesh: Don't replace destination of segmented message
  subsys/bluetooth/mesh/transport.c
Labels: area: Bluetooth, area: Bluetooth Mesh

#43539 drivers: fixed return code bug in eth_stm32_hal_set_config()
  drivers/ethernet/eth_stm32_hal.c
Labels: area: Networking, platform: STM32, area: Ethernet, backport v2.7-branch, backport v3.0-branch

#43537 Bluetooth: Controller: df: Do not send IQ rep for PDU without CTE
  subsys/bluetooth/controller/ll_sw/nordic/lll/lll_sync.c
Labels: area: Bluetooth, area: Bluetooth Controller

#43620 arch: x86: use DEVICE_DT_GET_ONE
  arch/x86/core/intel64/irq.c
  arch/x86/core/pcie.c
Labels: area: X86

#39767 drivers: gpio: move non-standard dts flags to be soc specific
  drivers/gpio/gpio_andes_atcgpio100.c
  drivers/gpio/gpio_b91.c
  drivers/gpio/gpio_cc13xx_cc26xx.c
  drivers/gpio/gpio_cy8c95xx.c
  drivers/gpio/gpio_dw.c
  drivers/gpio/gpio_esp32.c
  drivers/gpio/gpio_fxl6408.c
  drivers/gpio/gpio_ite_it8xxx2.c
  drivers/gpio/gpio_mcux.c
  drivers/gpio/gpio_nrfx.c
  drivers/gpio/gpio_pca953x.c
  drivers/gpio/gpio_pcal6408a.c
  drivers/gpio/gpio_sam.c
  drivers/gpio/gpio_sam0.c
  drivers/gpio/gpio_sx1509b.c
  drivers/lora/sx126x_standalone.c
  drivers/lora/sx127x.c
  include/drivers/gpio.h
  include/dt-bindings/gpio/andestech-atcgpio100.h
  include/dt-bindings/gpio/atmel-sam-gpio.h
  include/dt-bindings/gpio/atmel-sam0-gpio.h
  include/dt-bindings/gpio/espressif-esp32-gpio.h
  include/dt-bindings/gpio/gpio.h
  include/dt-bindings/gpio/ite-it8xxx2-gpio.h
  include/dt-bindings/gpio/nordic-nrf-gpio.h
  include/dt-bindings/gpio/nxp-kinetis-gpio.h
  include/dt-bindings/gpio/semtech-sx1509b.h
  include/dt-bindings/gpio/snps-designware-gpio.h
  include/dt-bindings/gpio/ti-cc13xx-cc26xx-gpio.h
  samples/boards/nrf/mesh/onoff_level_lighting_vnd_app/src/app_gpio.c
  samples/sensor/fxos8700-hid/src/main.c
  samples/subsys/usb/hid-cdc/src/main.c
  tests/drivers/gpio/gpio_basic_api/src/test_callback_manage.c
  tests/drivers/gpio/gpio_basic_api/src/test_callback_trigger.c
Labels: area: GPIO, area: Samples, area: Devicetree, platform: NXP, area: API, area: Devicetree Binding

#43583 arm: cortex-m: add an option to trap unaligned access
  arch/arm/core/aarch32/cortex_m/Kconfig
  arch/arm/core/aarch32/cortex_m/fault.c
Labels: area: ARM

#43613 samples: logging/dictionary: set UART backend to do dictionary
  samples/subsys/logging/dictionary/prj.conf
Labels: area: Samples, area: Logging

#43340 uart: logging: Add configurable log level to UART drivers
  drivers/serial/Kconfig
  drivers/serial/uart_hvc_xen.c
  drivers/serial/uart_ite_it8xxx2.c
  drivers/serial/uart_neorv32.c
  drivers/serial/uart_npcx.c
  drivers/serial/uart_nrfx_uarte.c
  drivers/serial/uart_stm32.c
Labels: area: UART, platform: STM32, platform: nRF, platform: ITE, platform: Nuvoton_NPCX

#43301 arm64 Qemu jailhouse support
  CODEOWNERS
  drivers/console/CMakeLists.txt
  drivers/console/Kconfig
  drivers/console/jailhouse_debug_console.c
Labels: area: Boards, area: Documentation, area: Devicetree, area: Console, area: ARM64

#43610 tests: bluetooth: mesh_shell: Increase main thread stack size
  tests/bluetooth/mesh_shell/prj.conf
Labels: area: Bluetooth, area: Tests, area: Bluetooth Mesh

#43497 Bluetooth: Mesh: Send Friend Poll after every segments retransmission
  subsys/bluetooth/mesh/transport.c
Labels: area: Bluetooth, area: Bluetooth Mesh

#43533 Bluetooth: iso: Fix Data Channel Path configuration
  subsys/bluetooth/host/iso.c
  subsys/bluetooth/host/iso_internal.h
Labels: area: Bluetooth, area: Bluetooth Host, area: Bluetooth Audio, area: Bluetooth ISO

#43678 nxp: imx: rename IMX_CCM_UART_CLK
  dts/arm64/nxp/nxp_imx8mm_a53.dtsi
Labels: Hotfix

#43617 driver: i2c: mec15xx: i2c clk and data same group
  drivers/i2c/i2c_mchp_xec.c
Labels: area: I2C, platform: Microchip

#43648 soc: arm: nxp_lpc: fix typos
  soc/arm/nxp_lpc/lpc54xxx/soc.c
  soc/arm/nxp_lpc/lpc55xxx/soc.c
Labels: platform: NXP, Trivial

#42969 include/devicetree.h: Add DT_STRING_TOKEN_OR macro
  dts/bindings/test/vnd,string-token.yaml
  include/devicetree.h
  tests/lib/devicetree/api/app.overlay
  tests/lib/devicetree/api/src/main.c
Labels: area: Devicetree, area: Tests, area: API, area: Devicetree Binding

#43652 drivers: spi: stm32 spi with dma must enable cs after periph
  drivers/spi/spi_ll_stm32.c
Labels: area: SPI, area: DMA, platform: STM32, backport v2.7-branch, backport v3.0-branch

#43621 doc: reference: canbus: use DEVICE_DT_GET for the samples
  doc/reference/canbus/controller.rst
Labels: area: Documentation, area: CAN

#43591 Bluetooth: ASCS: Call stream callbacks on ASE state changes
  subsys/bluetooth/audio/ascs.c
Labels: area: Bluetooth, area: Bluetooth Audio

#43579 Bluetooth: Mesh: Change ERR to WARN
  subsys/bluetooth/mesh/net.c
Labels: area: Bluetooth, area: Bluetooth Mesh

#43563 drivers: it8xxx2: fix GPIO interrupt enables
  drivers/espi/espi_it8xxx2.c
  drivers/serial/uart_ite_it8xxx2.c
Labels: area: UART, area: eSPI, platform: ITE

#42509 bmi160: bmi160_bus union bugfix
  drivers/sensor/bmi160/bmi160.c
  drivers/sensor/bmi160/bmi160.h
Labels: area: Sensors

#43626 boards: arm: npcx7/9m6f_evb: remove non-essential options
  boards/arm/npcx7m6fb_evb/npcx7m6fb_evb_defconfig
  boards/arm/npcx9m6f_evb/npcx9m6f_evb_defconfig
Labels: area: Boards, platform: Nuvoton_NPCX

#43667 drivers: clock_control: nrf: Fix missing dependency to mt
  drivers/clock_control/Kconfig.nrf
Labels: area: Clock Control

#43666 net: openthread: fix check for unsuccessful wipe
  subsys/net/lib/openthread/platform/settings.c
Labels: area: Networking, area: OpenThread

#43208 drivers: can: stm32: add statistics support
  drivers/can/can_stm32.c
  drivers/can/can_stm32.h
Labels: platform: STM32, area: CAN

#42567 stm32: adc: Improve handling of voltage ref and internal temp
  drivers/adc/adc_stm32.c
Labels: area: ADC, platform: STM32

#43491 Bluetooth: Audio: Add `sent` callback for audio streams
  include/bluetooth/audio/audio.h
  subsys/bluetooth/audio/ascs.c
  subsys/bluetooth/audio/broadcast_source.c
  subsys/bluetooth/audio/unicast_client.c
Labels: area: Bluetooth, area: API, area: Bluetooth Audio

#43685 board: arm64: imx8mm_evk_jailhouse: switch to use jailhouse debug con…
  boards/arm64/imx8mm_evk/imx8mm_evk_jailhouse_defconfig
Labels: area: Boards, area: ARM64

#43692 libc: Add newlib math library to libc partition
  CMakeLists.txt
Labels: area: Build System, area: Userspace, area: newlib

#43532 samples: Bluetooth: df: Forward GPIO pins from app to network core
  samples/bluetooth/direction_finding_central/README.rst
  samples/bluetooth/direction_finding_central/boards/nrf5340dk_nrf5340_cpuapp.overlay
  samples/bluetooth/direction_finding_connectionless_rx/README.rst
  samples/bluetooth/direction_finding_connectionless_rx/boards/nrf5340dk_nrf5340_cpuapp.overlay
  samples/bluetooth/direction_finding_connectionless_tx/README.rst
  samples/bluetooth/direction_finding_connectionless_tx/boards/nrf5340dk_nrf5340_cpuapp.overlay
  samples/bluetooth/direction_finding_peripheral/README.rst
  samples/bluetooth/direction_finding_peripheral/boards/nrf5340dk_nrf5340_cpuapp.overlay
Labels: area: Bluetooth, area: Documentation, area: Samples

#42593 Bluetooth: Audio: PAC location refactor
  include/bluetooth/audio/audio.h
  include/bluetooth/audio/capabilities.h
  subsys/bluetooth/audio/CMakeLists.txt
  subsys/bluetooth/audio/Kconfig.baps
  subsys/bluetooth/audio/Kconfig.pacs
  subsys/bluetooth/audio/capabilities.c
  subsys/bluetooth/audio/pacs.c
  subsys/bluetooth/audio/pacs_internal.h
  subsys/bluetooth/audio/unicast_server.c
  tests/bluetooth/bsim_bt/bsim_test_audio/src/unicast_server_test.c
Labels: area: Bluetooth, area: Tests, area: API, area: Bluetooth Audio

#43457 sign.py: pass west -v flag(s) to rimage
  scripts/west_commands/sign.py
Labels: area: West

#43719 Revert "twister: passing the build dir to device serial pty"
  scripts/pylib/twister/twisterlib.py
Labels: area: Twister

#41447 cmake: fix out of tree hal build fail
  cmake/modules/extensions.cmake
Labels: area: Build System, area: ARM, area: X86, area: ARC, area: Xtensa, area: Kconfig, area: ARM64
