Repository zephyrproject-rtos/zephyr, pull requests merged in 2022-09, with the labels that each got.

#49780 ARM: nxp_imx: rt10xx: get systick freq from 'sysclk' DT nodelabel
  soc/arm/nxp_imx/rt/Kconfig.defconfig.mimxrt1010
  soc/arm/nxp_imx/rt/Kconfig.defconfig.mimxrt1015
  soc/arm/nxp_imx/rt/Kconfig.defconfig.mimxrt1021
  soc/arm/nxp_imx/rt/Kconfig.defconfig.mimxrt1024
  soc/arm/nxp_imx/rt/Kconfig.defconfig.mimxrt1052
  soc/arm/nxp_imx/rt/Kconfig.defconfig.mimxrt1062
  soc/arm/nxp_imx/rt/Kconfig.defconfig.mimxrt1064
  soc/arm/nxp_imx/rt/Kconfig.defconfig.series
Labels: platform: NXP

#49777 ARM: nxp_imx: rt10xx: remove unused LPUART peripheral header include
  soc/arm/nxp_imx/rt/power_rt10xx.c
Labels: platform: NXP, Trivial

#49771 soc/xtensa/intel_adsp/cavs: Fix XTENSA_CCOUNT_HZ value
  soc/xtensa/intel_adsp/cavs/Kconfig.defconfig.series
Labels: platform: Intel ADSP

#49761 lora: Kconfig cleanup
  drivers/lora/Kconfig.sx12xx
Labels: area: LoRa

#49755 drivers: dai: Update drivers to use devicetree Kconfig symbol
  drivers/dai/intel/alh/Kconfig.alh
  drivers/dai/intel/dmic/Kconfig.dmic
  drivers/dai/intel/ssp/Kconfig.ssp
Labels: area: DAI

#49754 ipc: ipc_service: Update Kconfig
  subsys/ipc/ipc_service/backends/Kconfig
Labels: area: IPC

#49750 drivers: disk: sdmmc: Update Kconfig
  drivers/disk/Kconfig.sdmmc
Labels: area: Disk Access

#49749 soc: esp32: remove Kconfig.defconfig* setting of clock control drivers
  soc/riscv/esp32c3/Kconfig.soc
  soc/xtensa/esp32/Kconfig.soc
  soc/xtensa/esp32_net/Kconfig.soc
  soc/xtensa/esp32s2/Kconfig.soc
Labels: area: RISCV, platform: ESP32

#49745 doc: release-notes: Add note on mcumgr task status bug fix
  doc/releases/release-notes-3.2.rst
Labels: area: Documentation, area: mcumgr

#49709 ztress: Coherence fix for tests/lib/spsc_pbuf
  subsys/testsuite/ztest/include/zephyr/ztress.h
Labels: area: Testsuite

#49684 Bluetooth: Mesh: Replace segack tx delay with Kconfig options
  subsys/bluetooth/mesh/Kconfig
  subsys/bluetooth/mesh/transport.c
Labels: area: Bluetooth, area: Bluetooth Mesh

#49669 Bluetooth: smp: Fix SC with fixed passkey
  subsys/bluetooth/host/smp.c
Labels: bug, area: Bluetooth, area: Bluetooth Host

#49643 ipm: split kconfig options into multiple files
  drivers/ipm/Kconfig
  drivers/ipm/Kconfig.imx
  drivers/ipm/Kconfig.intel_adsp
  drivers/ipm/Kconfig.stm32
Labels: platform: STM32, platform: NXP, area: IPM, platform: Intel ADSP

#49571 tests: drivers: sensor: move the accel test to new ztest API
  tests/drivers/sensor/accel/prj.conf
  tests/drivers/sensor/accel/src/main.c
Labels: area: Sensors

#49461 soc: arch: stm32g0: fix ucpd strobe init for g070 an g0b0
  soc/arm/st_stm32/stm32g0/soc.c
Labels: platform: STM32

#48294 Bluetooth: Host: Random address should be cleared in bt_disable
  subsys/bluetooth/host/hci_core.c
Labels: area: Bluetooth

#49488 twister: Remove import exception handler for psutil
  .github/workflows/twister_tests.yml
  scripts/pylib/twister/twisterlib/handlers.py
Labels: area: Twister, area: Continuous Integration

#49508 dietemp node generates following warning at compilation:
  dts/arm/st/f0/stm32f0.dtsi
  dts/arm/st/f1/stm32f1.dtsi
  dts/arm/st/f2/stm32f2.dtsi
  dts/arm/st/f3/stm32f3.dtsi
  dts/arm/st/f4/stm32f4.dtsi
  dts/arm/st/f4/stm32f410.dtsi
  dts/arm/st/f4/stm32f411.dtsi
  dts/arm/st/f4/stm32f427.dtsi
  dts/arm/st/f4/stm32f437.dtsi
  dts/arm/st/f4/stm32f446.dtsi
  dts/arm/st/f7/stm32f7.dtsi
  dts/arm/st/f7/stm32f745.dtsi
  dts/arm/st/g0/stm32g0.dtsi
  dts/arm/st/g4/stm32g4.dtsi
  dts/arm/st/h7/stm32h7.dtsi
  dts/arm/st/h7/stm32h723.dtsi
  dts/arm/st/h7/stm32h7a3.dtsi
  dts/arm/st/l0/stm32l0.dtsi
  dts/arm/st/l1/stm32l1.dtsi
  dts/arm/st/l4/stm32l4.dtsi
  dts/arm/st/l4/stm32l412.dtsi
  dts/arm/st/l4/stm32l432.dtsi
  dts/arm/st/l4/stm32l452.dtsi
  dts/arm/st/l4/stm32l496.dtsi
  dts/arm/st/l5/stm32l5.dtsi
  dts/arm/st/u5/stm32u5.dtsi
  dts/arm/st/wb/stm32wb.dtsi
  dts/arm/st/wl/stm32wl.dtsi
Labels: platform: STM32

#49765 include: dt-bindings: pinctrl: stm32f1-afio: fix can & eth pinmap
  include/zephyr/dt-bindings/pinctrl/stm32f1-afio.h
Labels: bug, platform: STM32, area: CAN, backport v3.1-branch

#49283 MAINTAINERS: Add kconfigfunctions.py under devicetree
  MAINTAINERS.yml
Labels: area: Process, Trivial

#49361 mgmt: mcumgr: Make img_mgmt structures packed
  subsys/mgmt/mcumgr/lib/cmd/img_mgmt/include/img_mgmt/image.h
  subsys/mgmt/mcumgr/lib/cmd/img_mgmt/include/img_mgmt/img_mgmt.h
Labels: area: mcumgr

#49398 mgmt: mcumgr: Move to slist for group management
  subsys/mgmt/mcumgr/lib/mgmt/include/mgmt/mgmt.h
  subsys/mgmt/mcumgr/lib/mgmt/src/mgmt.c
Labels: area: mcumgr

#49507 mgmt: mcumgr: Reduce unnecessary pointers and objects
  include/zephyr/mgmt/mcumgr/smp.h
  subsys/mgmt/mcumgr/lib/mgmt/include/mgmt/mgmt.h
  subsys/mgmt/mcumgr/lib/mgmt/src/mgmt.c
  subsys/mgmt/mcumgr/lib/smp/src/smp.c
  subsys/mgmt/mcumgr/smp.c
Labels: area: mcumgr

#49513 mgmt: mcumgr: Fix race condition with task status
  subsys/mgmt/mcumgr/lib/cmd/os_mgmt/src/os_mgmt.c
Labels: area: mcumgr

#49039 drivers: adc: stm32: teardown internal channel after read
  drivers/adc/adc_stm32.c
Labels: area: Drivers, area: ADC, platform: STM32

#49647 boards: doc: Update NXP boards docs with references to superset boards
  boards/arm/mimxrt1050_evk/doc/index.rst
  boards/arm/mimxrt1064_evk/doc/index.rst
Labels: platform: NXP

#49776 ARM: nxp_imx: rt10xx: add XTAL and RTC_XTAL DT clocks
  dts/arm/nxp/nxp_rt10xx.dtsi
  soc/arm/nxp_imx/rt/soc_rt10xx.c
Labels: area: Devicetree, platform: NXP, area: Clock Control

#49827 net: ip: tcp: use zu format specifier for size_t
  subsys/net/ip/tcp.c
Labels: area: Networking

#49758 samples: i2s: echo: Remove DT_COMPAT_<compat> defines
  samples/drivers/i2s/echo/Kconfig
Labels: Trivial, area: I2S

#49796 shields: adafruit_2_8_tft: fix build failure
  boards/shields/adafruit_2_8_tft_touch_v2/dts/adafruit_2_8_tft_touch_v2.dtsi
Labels: area: Shields, Trivial

#49817 tests: logging: log_api: Tune test to execute faster
  tests/subsys/logging/log_api/prj.conf
  tests/subsys/logging/log_api/src/main.c
Labels: area: Logging

#49456 soc/imx: imx6sx and imx7 fix pinmux mask
  soc/arm/nxp_imx/mcimx6x_m4/pinctrl_soc.h
  soc/arm/nxp_imx/mcimx7_m4/pinctrl_soc.h
Labels: platform: NXP

#49779 samples: usb: Exclude frdm_kl25z from USB DFU test
  samples/subsys/usb/dfu/sample.yaml
Labels: area: USB

#49351 drivers: sensor: lsm6dsl: disable high performance in initialization
  drivers/sensor/lsm6dsl/lsm6dsl.c
Labels: area: Sensors

#49847 boards: intel_adsp_cavs25: make DAI_SSP_HAS_POWER_CONTRO optional
  boards/xtensa/intel_adsp_cavs25/Kconfig.defconfig
  boards/xtensa/intel_adsp_cavs25/intel_adsp_cavs25_defconfig
Labels: platform: Intel ADSP

#49812 sys_clock: define NSEC_PER_MSEC
  drivers/flash/spi_nor.c
  include/zephyr/posix/time.h
  include/zephyr/sys_clock.h
  subsys/portability/cmsis_rtos_v1/cmsis_signal.c
  subsys/portability/cmsis_rtos_v2/thread_flags.c
  tests/kernel/common/src/boot_delay.c
Labels: area: Kernel, area: Flash, area: POSIX, area: Portability, area: CMSIS API Layer

#49837 boards: sam4e_xpro: drop empty pinmux.c
  boards/arm/sam4e_xpro/CMakeLists.txt
  boards/arm/sam4e_xpro/pinmux.c
Labels: platform: Microchip SAM, Trivial

#49090 modbus: add user data for adu callback
  include/zephyr/modbus/modbus.h
  samples/subsys/modbus/tcp_server/src/main.c
  subsys/modbus/modbus_core.c
  subsys/modbus/modbus_internal.h
  subsys/modbus/modbus_raw.c
  tests/subsys/modbus/src/test_modbus.h
  tests/subsys/modbus/src/test_modbus_client.c
  tests/subsys/modbus/src/test_modbus_raw.c
  tests/subsys/modbus/src/test_modbus_server.c
Labels: area: modbus

#49794 dts: arm: npcx: fix clock source of spi_fiu node
  dts/arm/nuvoton/npcx.dtsi
Labels: platform: Nuvoton NPCX, platform: Nuvoton Numicro

#49813 drivers: ethernet: stm32_hal: Rename flag.
  drivers/ethernet/eth_stm32_hal.c
Labels: platform: STM32, area: Ethernet

#49854 cmake: locate Zephyr SDK before locating other host tools.
  cmake/modules/FindHostTools.cmake
Labels: bug, priority: high, area: Build System, Trivial

#49597 boards: nucleo_g474re revert pyocd workaround
  boards/arm/nucleo_g474re/board.cmake
Labels: platform: STM32

#48396 tests: net: lib: move tls_credentials to new ztest API
  tests/net/lib/tls_credentials/prj.conf
  tests/net/lib/tls_credentials/src/main.c
Labels: area: Networking

#48497 tests: net: socket: socketpair: move to new ztest API
  tests/net/socket/socketpair/prj.conf
  tests/net/socket/socketpair/src/main.c
  tests/net/socket/socketpair/src/test_socketpair_block.c
  tests/net/socket/socketpair/src/test_socketpair_closed_ends.c
  tests/net/socket/socketpair/src/test_socketpair_expected_failures.c
  tests/net/socket/socketpair/src/test_socketpair_fcntl.c
  tests/net/socket/socketpair/src/test_socketpair_happy_path.c
  tests/net/socket/socketpair/src/test_socketpair_nonblock.c
  tests/net/socket/socketpair/src/test_socketpair_poll.c
  tests/net/socket/socketpair/src/test_socketpair_unsupported_calls.c
Labels: area: Networking, area: Sockets

#49297 west.yml: hal_gigadevice: update gd32e10x hal code
  west.yml
Labels: manifest, west, manifest-hal_gigadevice, platform: GD32

#49681 Bluetooth: Audio: Fix error check for bt_gatt_subscribe error log
  subsys/bluetooth/audio/unicast_client.c
Labels: area: Bluetooth, area: Bluetooth Audio

#49752 usb: device: cdc: Update Kconfig
  subsys/usb/device/class/Kconfig.cdc
Labels: area: USB, Trivial

#49753 modbus: Update Kconfig
  subsys/modbus/Kconfig
Labels: Trivial, area: modbus

#49818 tests: net: lib: mqtt_pubsub: move to new ztest API
  tests/net/lib/mqtt_pubsub/prj.conf
  tests/net/lib/mqtt_pubsub/src/main.c
Labels: area: Networking

#49824 test: timer: Disable nsim_em
  tests/kernel/timer/timer_behavior/testcase.yaml
Labels: area: Kernel

#49828 tests: net: lib: mqtt_subscriber: move to new ztest API
  tests/net/lib/mqtt_subscriber/prj.conf
  tests/net/lib/mqtt_subscriber/src/main.c
Labels: area: Networking

#49841 modem: hl7800: Configure name for work queue
  drivers/modem/hl7800.c
Labels: area: Modem

#49842 Fix wifi shell
  subsys/net/l2/wifi/wifi_shell.c
Labels: area: Networking

#49862 footprint: Add bt_hci_rpmsg with ISO for the nRF5340 netcore
  scripts/footprint/plan.txt
Labels: Footprint

#49502 tests: drivers: move the flash test to new ztest API
  tests/drivers/flash/prj.conf
  tests/drivers/flash/src/main.c
Labels: area: Flash

#49748 drivers: ec_host_cmd_periph: Update Kconfig
  drivers/ec_host_cmd_periph/Kconfig
Labels: Trivial

#49798 samples: stm32 serial wakeup: Don't run on stm32l562e_dk in CI
  samples/boards/stm32/power_mgmt/serial_wakeup/sample.yaml
Labels: area: Power Management, area: Samples, platform: STM32

#49799 tests: subsys: usb: device: add zassert to judge whether USB enable
  tests/subsys/usb/device/src/main.c
Labels: area: USB

#49800 samples: sensors: lsm6dso: Fix regex filter following unit fix
  samples/sensor/lsm6dso/sample.yaml
Labels: area: Sensors

#47586 soc: intel_adsp: Refactored IPC/IDC
  drivers/ipm/Kconfig.intel_adsp
  drivers/ipm/ipm_cavs_host.c
  drivers/ipm/ipm_cavs_idc.c
  drivers/ipm/ipm_cavs_idc.h
  dts/bindings/ipc/intel,adsp-host-ipc.yaml
  dts/bindings/ipc/intel,adsp-idc.yaml
  dts/bindings/ipm/intel,cavs-idc.yaml
  dts/xtensa/intel/intel_cavs15.dtsi
  dts/xtensa/intel/intel_cavs18.dtsi
  dts/xtensa/intel/intel_cavs20.dtsi
  dts/xtensa/intel/intel_cavs20_jsl.dtsi
  dts/xtensa/intel/intel_cavs25.dtsi
  dts/xtensa/intel/intel_cavs25_tgph.dtsi
  soc/xtensa/intel_adsp/Kconfig
  soc/xtensa/intel_adsp/ace_v1x/include/ace-ipc-regs.h
  soc/xtensa/intel_adsp/ace_v1x/include/adsp_ipc_regs.h
  soc/xtensa/intel_adsp/ace_v1x/multiprocessing.c
  soc/xtensa/intel_adsp/cavs/include/intel_apl_adsp/adsp_ipc_regs.h
  soc/xtensa/intel_adsp/cavs/include/intel_cnl_adsp/adsp_ipc_regs.h
  soc/xtensa/intel_adsp/cavs/include/intel_icl_adsp/adsp_ipc_regs.h
  soc/xtensa/intel_adsp/cavs/include/intel_tgl_adsp/adsp_ipc_regs.h
  soc/xtensa/intel_adsp/cavs/multiprocessing.c
  soc/xtensa/intel_adsp/common/CMakeLists.txt
  soc/xtensa/intel_adsp/common/include/cavs-idc.h
  soc/xtensa/intel_adsp/common/include/cavs-ipc-regs.h
  soc/xtensa/intel_adsp/common/include/cavs_ipc.h
  soc/xtensa/intel_adsp/common/include/cavstool.h
  soc/xtensa/intel_adsp/common/include/intel_adsp_ipc.h
  soc/xtensa/intel_adsp/common/include/intel_adsp_ipc_devtree.h
  soc/xtensa/intel_adsp/common/ipc.c
  subsys/logging/log_backend_adsp_hda.c
  tests/boards/intel_adsp/hda/src/dma.c
  tests/boards/intel_adsp/hda/src/smoke.c
  tests/boards/intel_adsp/hda/src/tests.h
  tests/boards/intel_adsp/hda_log/src/logger.c
  tests/boards/intel_adsp/hda_log/src/tests.h
  tests/boards/intel_adsp/smoke/src/cpus.c
  tests/boards/intel_adsp/smoke/src/hostipc.c
  tests/boards/intel_adsp/smoke/src/ipm.c
  tests/boards/intel_adsp/smoke/src/main.c
  tests/boards/intel_adsp/smoke/src/tests.h
Labels: area: Logging, area: Xtensa, area: Devicetree, area: IPM, platform: Intel ADSP

#49866 mgmt: mcumgr: fix includes to avoid redefinition
  subsys/mgmt/mcumgr/lib/cmd/fs_mgmt/src/zephyr_fs_mgmt.c
Labels: area: mcumgr, Hotfix

#49819 modules: openthread: Build FTD/MTD libraries based on device type
  modules/openthread/CMakeLists.txt
Labels: area: OpenThread, manifest-openthread

#49864 posix: clock: make tz non-const in gettimeofday
  include/zephyr/posix/sys/time.h
  lib/posix/clock.c
Labels: area: POSIX

#49082 lib: os: cbprintf: move padding for xtensa from hdr_ext to hdr
  include/zephyr/sys/cbprintf.h
Labels: area: Formatting Output

#49741 drivers: flash: stm32 ospi: Limit bytes read from DT SFDP table
  drivers/flash/flash_stm32_ospi.c
Labels: area: Flash, platform: STM32

#49802 Bluetooth: Shell: Remove nRF board overlays
  tests/bluetooth/shell/boards/nrf52840dk_nrf52840.overlay
  tests/bluetooth/shell/boards/nrf5340dk_nrf5340_cpuapp.overlay
Labels: area: Bluetooth

#49807 tests/kernel/timer/timer_api: modify logic for longer real time
  tests/kernel/timer/timer_api/src/main.c
Labels: area: Kernel

#49868 sample: smp_svr: fix test name mcumg -> mcumgr
  samples/subsys/mgmt/mcumgr/smp_svr/sample.yaml
Labels: area: mcumgr, Trivial

#43761 cmake: fix improper use of separate_arguments
  cmake/extra_flags.cmake
  cmake/modules/unittest.cmake
Labels: bug, area: Build System

#49904 cmake: remove obsolete CONFIG_ZTEST_NEW_API from CMakeLists.txt
  tests/bluetooth/controller/ctrl_cte_req/CMakeLists.txt
Labels: area: Bluetooth, Trivial, area: Bluetooth Controller

#49809 MAINTAINERS: update maintainers for hal_nuvoton
  MAINTAINERS.yml
Labels: area: Process

#49906 samples: net: sockets: can: unconditionally include can.h
  samples/net/sockets/can/src/main.c
Labels: bug, area: Networking, area: CAN, area: Sockets

#49905 tests: kernel: gen_isr_table: Disable RISC-V direct ISR test
  tests/kernel/gen_isr_table/testcase.yaml
Labels: area: Kernel, area: RISCV, Hotfix

#49900 logging: log_output: Use \r\n instead of \n\r for printk
  subsys/logging/log_output.c
Labels: area: Logging

#49596 Enhance bluetooth host keys
  subsys/bluetooth/host/hci_core.c
  subsys/bluetooth/host/id.c
  subsys/bluetooth/host/keys.c
  subsys/bluetooth/host/keys.h
Labels: area: Bluetooth

#49580 Bluetooth: Mesh: Align Config Client API with Health Client API
  doc/releases/release-notes-3.2.rst
  include/zephyr/bluetooth/mesh/cfg_cli.h
  samples/bluetooth/mesh_demo/src/main.c
  samples/bluetooth/mesh_provisioner/src/main.c
  samples/boards/reel_board/mesh_badge/src/mesh.c
  subsys/bluetooth/mesh/cfg_cli.c
  subsys/bluetooth/mesh/shell.c
  tests/bluetooth/bsim_bt/bsim_test_mesh/src/mesh_test.c
  tests/bluetooth/bsim_bt/bsim_test_mesh/src/test_access.c
  tests/bluetooth/bsim_bt/bsim_test_mesh/src/test_beacon.c
  tests/bluetooth/bsim_bt/bsim_test_mesh/src/test_friendship.c
  tests/bluetooth/bsim_bt/bsim_test_mesh/src/test_persistence.c
  tests/bluetooth/bsim_bt/bsim_test_mesh/src/test_provision.c
  tests/bluetooth/bsim_bt/bsim_test_mesh/src/test_transport.c
  tests/bluetooth/tester/src/mesh.c
Labels: area: Bluetooth, area: Documentation, area: Bluetooth Mesh

#49901 shell: Add option to format logging timestamp
  subsys/shell/Kconfig
  subsys/shell/shell_log_backend.c
Labels: area: Shell

#49928 west.yml: update hal_espressif to fix redefinition issue
  west.yml
Labels: DNM, Hotfix, manifest, west, manifest-hal_espressif

#49836 mgmt/mcumgr: Move FS conditional block to FS CMakeLists.txt
  subsys/mgmt/mcumgr/CMakeLists.txt
  subsys/mgmt/mcumgr/lib/cmd/fs_mgmt/CMakeLists.txt
Labels: area: mcumgr

#49907 net: socketcan: make socketcan_frame CAN FD capable
  include/zephyr/net/socketcan.h
  include/zephyr/net/socketcan_utils.h
  tests/net/socket/can/src/main.c
Labels: area: Networking, area: CAN, area: Sockets

#49426 dts: quicklogic: Add missing reg property to gpio node
  dts/arm/quicklogic/quicklogic_eos_s3.dtsi
Labels: Trivial

#49932 binding: clock: esp32: fix reference values
  include/zephyr/dt-bindings/clock/esp32_clock.h
  include/zephyr/dt-bindings/clock/esp32s2_clock.h
Labels: area: Clock Control

#49791 drivers: flash: nrf: Fix ticker stop synchronization
  drivers/flash/soc_flash_nrf_ticker.c
Labels: area: Bluetooth, area: Flash, area: Flashing, platform: nRF, area: Bluetooth Controller

#49727 Bluetooth: Controller: Restrict max ISO Tx PDU size to ISO Tx MTU
  subsys/bluetooth/controller/include/ll_feat.h
Labels: area: Bluetooth, area: Bluetooth Controller

#49725 Bluetooth: Controller: Fix incorrect cond compile scheduling BIG
  subsys/bluetooth/controller/ll_sw/ull_adv_iso.c
Labels: area: Bluetooth, area: Bluetooth Controller

#49943 tests: drivers: can: add a delay for the shell backend to initialize
  tests/drivers/can/shell/src/main.c
Labels: area: CAN, Hotfix

#49152 net: dhcp: Add support for restarting DHCP
  include/zephyr/net/dhcpv4.h
  samples/net/wifi/prj.conf
  subsys/net/ip/dhcpv4.c
Labels: area: Networking

#49849 drivers: entropy: Disable CAAM driver
  drivers/entropy/Kconfig.mcux
Labels: priority: medium, area: Crypto / RNG

#49882 drivers/clock_control: stm32: Configure MCO on STM32F1
  drivers/clock_control/Kconfig.stm32
  drivers/clock_control/clock_stm32_ll_common.c
  drivers/clock_control/clock_stm32_ll_common.h
Labels: platform: STM32, area: Clock Control

#47935 mgmt/mcumgr: Fix format specifier
  subsys/mgmt/mcumgr/smp_bt.c
Labels: area: mcumgr

#49936 Bluetooth: Mesh: Add CDB depend on to prov Kconfig
  subsys/bluetooth/mesh/Kconfig
  tests/bluetooth/mesh/proxy.conf
  tests/bluetooth/tester/prj.conf
Labels: area: Bluetooth, area: Bluetooth Mesh

#49925 mgmt/mcumgr: Remove internal functions form Zephyr header
  include/zephyr/mgmt/mcumgr/smp.h
  subsys/mgmt/mcumgr/lib/smp/src/smp.c
  subsys/mgmt/mcumgr/smp.c
  subsys/mgmt/mcumgr/smp_bt.c
  subsys/mgmt/mcumgr/smp_internal.h
  subsys/mgmt/mcumgr/smp_reassembly.c
  subsys/mgmt/mcumgr/smp_shell.c
  subsys/mgmt/mcumgr/smp_uart.c
  subsys/mgmt/mcumgr/smp_udp.c
Labels: area: mcumgr

#49666 tests: fs_api: move to new ztest API
  tests/subsys/fs/fs_api/prj.conf
  tests/subsys/fs/fs_api/src/main.c
  tests/subsys/fs/fs_api/src/test_fs.h
  tests/subsys/fs/fs_api/src/test_fs_dir_file.c
  tests/subsys/fs/fs_api/src/test_multi_fs.c
Labels: area: File System

#49339 tests: Increase stack size when nRF DK serial workaround is enabled
  boards/arm/nrf5340dk_nrf5340/Kconfig.defconfig
  boards/arm/nrf9160dk_nrf9160/Kconfig.defconfig
  tests/arch/arm/arm_interrupt/testcase.yaml
Labels: bug, area: ARM, area: UART, platform: nRF, area: Tests

#49873 mgmt/mcumgr: Move mgmt Kconfig file under mgm sub-dir
  subsys/mgmt/mcumgr/Kconfig
  subsys/mgmt/mcumgr/lib/mgmt/Kconfig
Labels: area: mcumgr

#49909 mgmt: mcumgr: Move zephyr_grp to lib/cmd folder
  subsys/mgmt/mcumgr/CMakeLists.txt
  subsys/mgmt/mcumgr/Kconfig
  subsys/mgmt/mcumgr/lib/cmd/CMakeLists.txt
  subsys/mgmt/mcumgr/lib/cmd/Kconfig
  subsys/mgmt/mcumgr/lib/cmd/zephyr_basic/CMakeLists.txt
  subsys/mgmt/mcumgr/lib/cmd/zephyr_basic/Kconfig
  subsys/mgmt/mcumgr/lib/cmd/zephyr_basic/src/basic_mgmt.c
Labels: area: mcumgr

#49931 logging: adsp_mtrace: fix handling of buffer full condition
  subsys/logging/log_backend_adsp_mtrace.c
Labels: area: Logging, platform: Intel ADSP

#49175 drivers: ace_v1x wallclock drivers
  drivers/counter/CMakeLists.txt
  drivers/counter/Kconfig
  drivers/counter/Kconfig.ace
  drivers/counter/counter_ace_v1x_art.c
  drivers/counter/counter_ace_v1x_art_regs.h
  drivers/counter/counter_ace_v1x_rtc.c
  drivers/counter/counter_ace_v1x_rtc_regs.h
  dts/bindings/counter/intel,ace-art-counter.yaml
  dts/bindings/counter/intel,ace-rtc-counter.yaml
  dts/bindings/timestamp/intel,ace-timestamp.yaml
  dts/xtensa/intel/intel_adsp_ace15_mtpm.dtsi
Labels: area: Counter, area: Xtensa, area: Devicetree, platform: Intel ADSP

#49515 include: types: remove ulong_t
  arch/mips/core/fatal.c
  arch/mips/core/irq_manage.c
  arch/mips/core/thread.c
  arch/riscv/core/fatal.c
  arch/riscv/core/irq_manage.c
  arch/riscv/core/pmp.S
  arch/riscv/core/pmp.c
  arch/riscv/core/thread.c
  include/zephyr/arch/mips/exp.h
  include/zephyr/arch/mips/thread.h
  include/zephyr/arch/riscv/exp.h
  include/zephyr/arch/riscv/irq.h
  include/zephyr/arch/riscv/syscall.h
  include/zephyr/arch/riscv/thread.h
  include/zephyr/types.h
  soc/riscv/riscv-privilege/andes_v5/l2_cache.c
  soc/riscv/riscv-privilege/andes_v5/pma.c
Labels: area: RISCV

#49934 soc: intel_adsp_ace1x: Added IPC/IDC implementation
  dts/xtensa/intel/intel_adsp_ace15_mtpm.dtsi
  soc/xtensa/intel_adsp/ace_v1x/include/adsp_ipc_regs.h
Labels: area: Xtensa, Hotfix, platform: Intel ADSP

#49730 samples: pm: demonstrate usage of the policy latency APIs
  samples/subsys/pm/latency/CMakeLists.txt
  samples/subsys/pm/latency/Kconfig
  samples/subsys/pm/latency/boards/native_posix.overlay
  samples/subsys/pm/latency/prj.conf
  samples/subsys/pm/latency/sample.yaml
  samples/subsys/pm/latency/src/main.c
  samples/subsys/pm/latency/src/pm.c
  samples/subsys/pm/latency/src/test.c
  samples/subsys/pm/latency/src/test.h
Labels: area: Power Management

#48206 tests: net: socket: offload_dispatcher move to new ztest API
  tests/net/socket/offload_dispatcher/prj.conf
  tests/net/socket/offload_dispatcher/src/main.c
Labels: area: Networking, area: Sockets

#49187 subsys/shell/mqtt: Handle retval of `zsock_poll`
  subsys/shell/backends/shell_mqtt.c
Labels: area: Shell

#49222 bluetooth: controller: Request any TX Power
  subsys/bluetooth/controller/Kconfig
Labels: area: Bluetooth, area: Bluetooth Controller

#49986 ARC: boards: hs5x: enable zephyr toolchain
  boards/arc/nsim/nsim_hs5x.yaml
  boards/arc/nsim/nsim_hs5x_smp.yaml
  boards/arc/qemu_arc/qemu_arc_hs5x.yaml
Labels: platform: Synopsys

#46461 cmake: bintools: gnu: Update GDB executable names for Zephyr SDK 0.15
  cmake/bintools/gnu/target.cmake
Labels: area: Build System, area: Toolchains

#49998 scripts: ci: check_compliance: ignore missing APP_LOG_LEVEL
  scripts/ci/check_compliance.py
Labels: Hotfix, area: Continuous Integration

#48017 drivers/w1: add 1-wire shell
  drivers/w1/CMakeLists.txt
  drivers/w1/Kconfig
  drivers/w1/w1_shell.c
Labels: area: W1

#47923 tests: Change the result compare method in pin_get_config()
  tests/drivers/gpio/gpio_basic_api/src/test_gpio_port.c
Labels: area: GPIO

#49214 stm32U5 enable clock for the SDMMC peripheral
  drivers/disk/sdmmc_stm32.c
Labels: platform: STM32, area: Disk Access

#49976 edtlib: remove python 3.5 workaround
  scripts/dts/python-devicetree/src/devicetree/edtlib.py
Labels: area: Devicetree

#49993 cmake: improve warning deprecation message
  cmake/modules/FindDeprecated.cmake
Labels: area: Build System

#49997 drivers/timer: stm32 lptim: Fix frequency check
  drivers/timer/stm32_lptim_timer.c
Labels: area: Timer, platform: STM32

#49999 MAINTAINERS: add crypto tests under crypto area
  MAINTAINERS.yml
Labels: area: Process

#50000 doc: doxygen: group heap APIs
  include/zephyr/multi_heap/shared_multi_heap.h
  include/zephyr/sys/heap_listener.h
Labels: area: Base OS

#50013 boards: rt500: Set the correct voltage range
  boards/arm/mimxrt595_evk/CMakeLists.txt
  boards/arm/mimxrt595_evk/Kconfig
  boards/arm/mimxrt595_evk/board.c
Labels: platform: NXP

#49850 soc: arm: nxp_kinetis: Fix flash MPU configuration for k6x
  soc/arm/nxp_kinetis/k6x/nxp_mpu_regions.c
Labels: platform: NXP

#49933 drivers: pwm: pwm_mcux: Inverted polarity support and run options
  drivers/pwm/pwm_mcux.c
  dts/bindings/pwm/nxp,imx-pwm.yaml
Labels: area: PWM, area: Devicetree, platform: NXP

#49912 soc/imx: imx6sx and imx7 fix pinmux mask (second fix)
  soc/arm/nxp_imx/mcimx6x_m4/pinctrl_soc.h
  soc/arm/nxp_imx/mcimx7_m4/pinctrl_soc.h
Labels: platform: NXP

#49400 Add SD/MMC support for FRDM-K64F
  boards/arm/frdm_k64f/frdm_k64f-pinctrl.dtsi
  boards/arm/frdm_k64f/frdm_k64f.dts
  samples/subsys/fs/fat_fs/boards/frdm_k64f.conf
  samples/subsys/fs/fat_fs/sample.yaml
Labels: area: File System, platform: NXP

#49778 drivers: mcux_lpuart: clear Received Overrun Flag
  drivers/serial/uart_mcux_lpuart.c
Labels: area: UART, platform: NXP

#49992 dts: rt11xx: add enet1g peripheral and set up clock
  dts/arm/nxp/nxp_rt11xx.dtsi
  soc/arm/nxp_imx/rt/soc_rt11xx.c
Labels: platform: NXP

#50006 logging: adsp hda backend refinements and additional test
  subsys/logging/log_backend_adsp_hda.c
  tests/boards/intel_adsp/hda_log/prj.conf
  tests/boards/intel_adsp/hda_log/src/logger.c
  tests/boards/intel_adsp/hda_log/testcase.yaml
Labels: area: Logging, platform: Intel ADSP

#49980 arch/xtensa: Properly namespace special register API
  arch/xtensa/include/kernel_arch_func.h
  include/zephyr/arch/xtensa/arch_inlines.h
  soc/xtensa/intel_adsp/ace_v1x/power.c
Labels: area: Xtensa, platform: Intel ADSP

#50025 boards: arm: frdm_k64f: remove deprecated use of label
  boards/arm/frdm_k64f/frdm_k64f.dts
Labels: platform: NXP, Hotfix

#48498 tests: net: tcp: move to new ztest API
  tests/net/tcp/prj.conf
  tests/net/tcp/src/main.c
Labels: area: Networking

#49096 tests: subsys/fs/multi-fs: move to new ztest API
  tests/subsys/fs/multi-fs/prj.conf
  tests/subsys/fs/multi-fs/prj_fs_shell.conf
  tests/subsys/fs/multi-fs/src/main.c
  tests/subsys/fs/multi-fs/src/test_fs_shell.c
Labels: area: File System

#49204 tests: subsys/fs/fat_fs_dual_drive: move to new ztest API
  tests/subsys/fs/fat_fs_dual_drive/prj.conf
  tests/subsys/fs/fat_fs_dual_drive/src/main.c
  tests/subsys/fs/fat_fs_dual_drive/src/test_fat_dir.c
  tests/subsys/fs/fat_fs_dual_drive/src/test_fat_file.c
  tests/subsys/fs/fat_fs_dual_drive/src/test_fat_fs.c
Labels: area: File System

#49394 Bluetooth: Controller: Fix BIG Create silently fail on RTN/SDU_interval
  subsys/bluetooth/controller/ll_sw/ull_adv_iso.c
Labels: bug, area: Bluetooth, area: Bluetooth Controller, area: Bluetooth ISO

#50014 boards: arm: frdm_k64f: remove label from spi SDHC
  subsys/bluetooth/controller/ll_sw/ull_adv_iso.c
Labels: platform: NXP, Hotfix

#49991 tests: tracing_api: move to new ztest API
  tests/subsys/tracing/tracing_api/prj.conf
  tests/subsys/tracing/tracing_api/src/main.c
Labels: area: Tracing

#49958 compiler: gcc: add support for tuning mcpu option for ARC targets
  cmake/compiler/gcc/target.cmake
  cmake/compiler/gcc/target_arc.cmake
  soc/arc/snps_qemu/CMakeLists.txt
Labels: area: Build System, area: Toolchains, area: ARC, platform: Synopsys

#50026 scripts: ci: test_plan: Specify ZEPHYR_BASE for list_boards
  scripts/ci/test_plan.py
Labels: Hotfix, area: Continuous Integration

#48004 Bluetooth: controller: Big-endian fix for aux_ptr offs and phy
  subsys/bluetooth/controller/hci/hci.c
  subsys/bluetooth/controller/ll_sw/nordic/lll/lll_adv_aux.c
  subsys/bluetooth/controller/ll_sw/nordic/lll/lll_scan_aux.c
  subsys/bluetooth/controller/ll_sw/nordic/lll/lll_sync.c
  subsys/bluetooth/controller/ll_sw/pdu.h
  subsys/bluetooth/controller/ll_sw/ull_adv_aux.c
  subsys/bluetooth/controller/ll_sw/ull_scan_aux.c
Labels: area: Bluetooth, area: Bluetooth Controller

#50034 boards: shields: use shield-specific sdhc nodelabels
  boards/shields/adafruit_2_8_tft_touch_v2/dts/adafruit_2_8_tft_touch_v2.dtsi
  boards/shields/waveshare_epaper/dts/waveshare_epaper_common.dtsi
Labels: area: Shields, Hotfix

#49639 Bluetooth: ISO: Remove TS size from SDU len check
  include/zephyr/bluetooth/audio/audio.h
  include/zephyr/bluetooth/iso.h
  subsys/bluetooth/host/iso.c
Labels: area: Bluetooth, area: Bluetooth Audio

#49723 Bluetooth: Controller: legacy: terminate condition to check role first
  subsys/bluetooth/controller/ll_sw/ull_conn.c
Labels: area: Bluetooth, area: Bluetooth Controller, area: Bluetooth LLCP

#49768 drivers/serial: Make serial_test a proper emul
  drivers/serial/serial_test.c
  dts/bindings/test/vnd,serial.yaml
  include/zephyr/drivers/uart/serial_test.h
Labels: area: UART, area: Devicetree

#49826 tests: net: lib: mqtt_publisher: move to new ztest API
  tests/net/lib/mqtt_publisher/prj.conf
  tests/net/lib/mqtt_publisher/prj_tls.conf
  tests/net/lib/mqtt_publisher/src/main.c
Labels: area: Networking, platform: NXP

#50035 drivers: can: transceiver: Update drivers to use devicetree Kconfig symbol
  drivers/can/transceiver/Kconfig
Labels: area: CAN

#50037 modules: zcbor: Fix ZCBOR_ASSERT kconfig typo
  modules/zcbor/CMakeLists.txt
Labels: manifest-zcbor

#50039 mgmt: mcumgr: Fix unused function warning
  subsys/mgmt/mcumgr/lib/cmd/img_mgmt/src/zephyr_img_mgmt.c
Labels: area: mcumgr

#50030 dts: arm: nxp: lpc55sxx: reduce LPC MCAN RAM usage
  dts/arm/nxp/nxp_lpc55S1x_common.dtsi
  dts/arm/nxp/nxp_lpc55S3x_common.dtsi
Labels: platform: NXP, area: CAN

#50043 i2c: doc: Make documentation readable
  include/zephyr/drivers/i2c.h
Labels: area: I2C

#49877 soc/xtensa/intel_adsp/cavs: Fix CPU sporadically not idling
  tests/boards/intel_adsp/smoke/src/cpus.c
Labels: platform: Intel ADSP

#50005 devicetree: improve Doxygen docstrings
  include/zephyr/devicetree.h
Labels: area: Documentation, area: Devicetree

#50011 boards: intel adsp mtpm: add missing DAI SSP defconfig
  boards/xtensa/intel_adsp_ace15_mtpm/Kconfig.defconfig
Labels: platform: Intel ADSP, area: DAI

#49989 boards: pinnacle_100_dvk: enable uart1 flow control
  boards/arm/pinnacle_100_dvk/pinnacle_100_dvk.dts
Labels: platform: Laird Connectivity

#50059 intel_adsp: ace: Fix build errors
  soc/xtensa/intel_adsp/ace_v1x/power.c
Labels: platform: Intel ADSP

#50060 dts/bindings/mm: Fix ADSP Meteor Lake DTS bindings
  dts/bindings/mm/intel,adsp-mtl-tlb.yaml
Labels: area: Memory Management, area: Devicetree
