Repository zephyrproject-rtos/zephyr, pull requests merged in 2023-06, with the labels that each got.

#58413 Bluetooth: host: hci_core: handle additional error code
  subsys/bluetooth/host/hci_core.c
Labels: area: Bluetooth, area: Bluetooth Host

#58446 subsys: pm: Fix cpus active count
  include/zephyr/kernel_structs.h
  kernel/init.c
  subsys/pm/pm.c
Labels: bug, area: Kernel, area: Power Management

#58723 Bluetooth: Mesh: Fix unable sent mesh message
  subsys/bluetooth/mesh/adv_ext.c
Labels: area: Bluetooth, area: Bluetooth Mesh

#58490 net: ieee802154: Remove IEEE802154_2015 option usage
  drivers/ieee802154/Kconfig
  drivers/ieee802154/ieee802154_nrf5.c
  include/zephyr/net/ieee802154_pkt.h
  modules/openthread/platform/radio.c
Labels: area: Networking, area: IEEE 802.15.4, manifest-openthread

#58449 cbprintf: correct a Kconfig option help text
  lib/os/Kconfig.cbprintf
Labels: area: Formatting Output

#58592 doc: pm: Add a note about multicore behavior
  doc/services/pm/device.rst
Labels: area: Power Management

#58726 input: check for gpio_add_callback error codes.
  drivers/input/input_ft5336.c
  drivers/input/input_gpio_keys.c
Labels: area: Input

#58743 release: minor corrections to security release notes
  doc/releases/release-notes-2.7.rst
Labels: area: Documentation, LTS, Release Notes

#58716 release: Zephyr 2.7.5
  VERSION
Labels: LTS

#58432 samples: unicast audio: Wrap start of the send timer
  samples/bluetooth/unicast_audio_client/src/main.c
  samples/bluetooth/unicast_audio_server/src/main.c
Labels: area: Bluetooth

#58742 drivers: modem: modem_receiver: fix wake PM
  drivers/modem/modem_receiver.c
Labels: area: Modem

#58459 tests: Increase a couple of test stack sizes
  tests/kernel/mem_protect/userspace/src/main.c
  tests/lib/sprintf/prj.conf
  tests/lib/sprintf/prj_new.conf
Labels: area: Userspace

#58463 drivers: dma_mcux_lpc: Change OTrig sempahore to spinlock
  drivers/dma/dma_mcux_lpc.c
Labels: bug, area: DMA, platform: NXP

#58452 boards: mimxrt595_evk_cm33: Default REGULATOR to n
  boards/arm/mimxrt595_evk/Kconfig.defconfig
  boards/arm/mimxrt595_evk/mimxrt595_evk_cm33_defconfig
Labels: bug, platform: NXP

#58759 doc: releases: update LTSv2 release date and version
  doc/releases/index.rst
Labels: area: Documentation, LTS, Release Notes

#58765 drivers: ieee802154: rf2xx: Check gpio_add_callback return
  drivers/ieee802154/ieee802154_rf2xx.c
Labels: area: Drivers, area: IEEE 802.15.4

#58756 drivers: uart_native_posix: Check return values of system calls
  drivers/serial/uart_native_posix.c
Labels: area: UART, area: native port

#58750 drivers: can: mcan: move header file to public includes
  drivers/can/can_mcan.c
  drivers/can/can_mcux_mcan.c
  drivers/can/can_sam.c
  drivers/can/can_sam0.c
  drivers/can/can_stm32fd.c
  drivers/can/can_stm32h7.c
  include/zephyr/drivers/can/can_mcan.h
Labels: platform: STM32, platform: NXP, platform: Microchip SAM, area: CAN

#58763 drivers: can: increase default initialization priority from 50 to 80
  boards/shields/mcp2515/Kconfig.defconfig
  drivers/can/Kconfig
Labels: area: CAN, area: Shields

#58758 scripts: check_init_priorities: add debugging output
  scripts/build/check_init_priorities.py
  scripts/build/check_init_priorities_test.py
Labels: area: Build System

#58731 drivers: can: mcan: fix IRQ acknowledge
  drivers/can/can_mcan.c
Labels: bug, area: CAN

#58779 logging: log_output: Fix coverity issues
  subsys/logging/log_output.c
Labels: area: Logging

#58778 lib: os: cbprintf_nano: Fix Coverity issue 316025
  lib/os/cbprintf_nano.c
Labels: area: Formatting Output

#58794 net: coap: Validate token length in coap_header_get_token()
  subsys/net/lib/coap/coap.c
Labels: area: Networking

#58395 test: Change loop calibration count initialization
  tests/kernel/context/src/main.c
Labels: area: Kernel

#58802 drivers: usb_dc_mcux: Increase driver stack size when debug logging level enabled
  drivers/usb/device/Kconfig
Labels: bug, area: USB, platform: NXP

#58434 net: l2: ieee802154: document non-standard KConfig options
  subsys/net/l2/ieee802154/Kconfig
Labels: area: Networking, area: IEEE 802.15.4

#58547 tests: drivers: adc: adc_dma: increase sampling interval for MCUX ADC16
  tests/drivers/adc/adc_dma/src/test_adc.c
Labels: area: ADC

#57477 drivers: fixed div by zero when reading max17048
  drivers/fuel_gauge/max17048/emul_max17048.c
  drivers/fuel_gauge/max17048/max17048.c
  tests/drivers/fuel_gauge/max17048/src/test_max17048.c
Labels: area: Fuel Gauge

#58780 Bluetooth: Shell: Change strcpy to strncpy for addr copy
  subsys/bluetooth/shell/bt.c
Labels: area: Bluetooth

#58772 Bluetooth: Audio: Shell: Fix long/int32_t value checks
  subsys/bluetooth/audio/shell/mcc.c
  subsys/bluetooth/audio/shell/media_controller.c
Labels: area: Bluetooth, area: Bluetooth Audio

#58793 pm: policy: Selectively compile on "zephyr,power-state" compatible
  subsys/pm/policy.c
Labels: area: Power Management

#58768 Bluetooth: OTS: Fix coverity issue
  subsys/bluetooth/services/ots/ots_oacp.c
Labels: area: Bluetooth

#58451 doc: vulnerabilities: Update information about published CVEs
  doc/security/vulnerabilities.rst
Labels: area: Documentation

#58799 net: dns_sd: Prevent dead code in query parsing
  subsys/net/lib/dns/dns_sd.c
Labels: area: Networking

#58798 tests: posix headers: RT1015 increase RAM
  tests/posix/headers/boards/mimxrt1015_evk.overlay
Labels: bug, platform: NXP, area: POSIX

#58816 posix: remove inaccurate comment re initializers
  include/zephyr/posix/pthread.h
Labels: area: POSIX, Trivial

#58833 Bluetooth: Shell: Ensure scan_filter.addr is null terminated
  subsys/bluetooth/shell/bt.c
Labels: area: Bluetooth

#58837 Bluetooth: IAS: Fix coverity issue with IAS client lvl check
  subsys/bluetooth/services/ias/ias_client.c
Labels: area: Bluetooth

#58839 Bluetooth: OTS: Fix offset maximum range check
  subsys/bluetooth/services/ots/ots_client.c
Labels: area: Bluetooth

#58840 mgmt: mcumgr: grp: fs_mgmt: Fix unchecked return value
  subsys/mgmt/mcumgr/grp/fs_mgmt/src/fs_mgmt.c
Labels: area: mcumgr

#58787 Bluetooth: BAP: Unicast client add stream->conn checks
  subsys/bluetooth/audio/bap_unicast_client.c
Labels: area: Bluetooth, area: Bluetooth Audio

#58846 west.yaml: MCUboot synchronization from upstream
  west.yml
Labels: area: MCUBoot, manifest, manifest-mcuboot

#58832 Bluetooth: Mesh: Remove unintentional dbg string
  subsys/bluetooth/mesh/shell/cfg.c
Labels: area: Bluetooth, area: Bluetooth Mesh

#58814 rp2040: Fix I2C frequency for all boards
  boards/arm/adafruit_kb2040/Kconfig.defconfig
  boards/arm/rpi_pico/Kconfig.defconfig
  boards/arm/sparkfun_pro_micro_rp2040/Kconfig.defconfig
Labels: platform: Raspberry Pi Pico

#58782 Bluetooth: ASCS: Add missing return check for bt_conn_get_info
  subsys/bluetooth/audio/ascs.c
Labels: area: Bluetooth, area: Bluetooth Audio

#58848 doc: release: 3.4: Add notes on MCUmgr changes
  doc/releases/release-notes-3.4.rst
Labels: Release Notes

#58796 Bluetooth: TBS: Add missing NULL check when notifying terminate
  subsys/bluetooth/audio/tbs.c
Labels: area: Bluetooth, area: Bluetooth Audio

#58788 Bluetooth: BAP: Fix bad check in audio_stream_qos_cleanup
  subsys/bluetooth/audio/bap_unicast_client.c
Labels: area: Bluetooth, area: Bluetooth Audio

#58795 Bluetooth: Audio: Shell: Fix use of IN_RANGE when MIN is 0
  subsys/bluetooth/audio/shell/bap.c
  subsys/bluetooth/audio/shell/bap_broadcast_assistant.c
Labels: area: Bluetooth, area: Bluetooth Audio

#58751 boards: arm: stm32mp157c_dk2: set HSE_CLOCK speed
  boards/arm/stm32mp157c_dk2/Kconfig.defconfig
Labels: platform: STM32

#58275 STM32F7 clock support should not be limited to F4
  include/zephyr/drivers/clock_control/stm32_clock_control.h
Labels: area: Clock Control

#58844 modules: tf-m: Add missing FWU API file
  modules/trusted-firmware-m/CMakeLists.txt
Labels: bug, manifest-trusted-firmware-m, area: TF-M

#58785 Bluetooth: BAP: Broadcast assistant add idx check for read recv state
  subsys/bluetooth/audio/bap_broadcast_assistant.c
Labels: area: Bluetooth, area: Bluetooth Audio

#58227 drivers: spi: stm32h7: add a small delay after enabling
  drivers/spi/spi_ll_stm32.c
Labels: area: SPI, platform: STM32

#58852 nvs: Fix missing nvs_ate.part init in nvs_add_gc_done_ate
  subsys/fs/nvs/nvs.c
Labels: area: File System

#58343 drivers: intc: stm32: explicitly set operator precedence
  drivers/interrupt_controller/intc_exti_stm32.c
Labels: platform: STM32, area: Interrupt Controller

#58341 drivers: intc: stm32: correct for counter type
  drivers/interrupt_controller/intc_exti_stm32.c
Labels: platform: STM32, area: Interrupt Controller

#58499 toolchain: xtensa: enable C11 features with xt-clang
  include/zephyr/toolchain/xcc.h
Labels: bug, area: Xtensa, platform: Intel ADSP

#58344 drivers: intc: stm32: clarify controlling expression
  drivers/interrupt_controller/intc_exti_stm32.c
Labels: platform: STM32, area: Interrupt Controller

#58875 tests: ignore benchmark on some qemu platforms
  boards/x86/qemu_x86/qemu_x86_64_nokpti.yaml
  boards/x86/qemu_x86/qemu_x86_lakemont.yaml
  boards/x86/qemu_x86/qemu_x86_nokpti.yaml
  boards/x86/qemu_x86/qemu_x86_nopae.yaml
  boards/x86/qemu_x86/qemu_x86_tiny.yaml
  boards/x86/qemu_x86/qemu_x86_virt.yaml
  tests/benchmarks/sys_kernel/testcase.yaml
Labels: Hotfix, platform: X86

#58851 Bluetooth: BAP: Improve handling of ASCS notification error
  include/zephyr/bluetooth/audio/bap.h
  subsys/bluetooth/audio/ascs.c
  subsys/bluetooth/audio/ascs_internal.h
  subsys/bluetooth/audio/bap_unicast_client.c
Labels: bug, area: Bluetooth, area: Bluetooth Audio

#58861 Bluetooth: ATT: Add documentation for ATT error codes
  include/zephyr/bluetooth/att.h
Labels: area: Bluetooth

#58821 drivers: gpio: fxl6408: Fix Kconfig dependency for log level configuration
  drivers/gpio/Kconfig.fxl6408
Labels: area: GPIO, Trivial

#58077 net: lwm2m: Allow overiding of default socket behaviour
  include/zephyr/net/lwm2m.h
  subsys/net/lib/lwm2m/Kconfig
  subsys/net/lib/lwm2m/lwm2m_engine.c
  subsys/net/lib/lwm2m/lwm2m_rd_client.c
Labels: area: Networking, area: LWM2M

#58835 net: tcp: populate context's local address for incoming connections
  subsys/net/ip/tcp.c
Labels: area: Networking

#58890 net: mqtt-sn: fix port in mqtt-sn debug message
  subsys/net/lib/mqtt_sn/mqtt_sn_transport_udp.c
Labels: area: Networking

#58339 drivers: intc: stm32: add appropriate operand types
  drivers/interrupt_controller/intc_exti_stm32.c
Labels: platform: STM32, area: Interrupt Controller

#58905 net: tcp: Fix possible double TCP context dereferencing
  subsys/net/ip/tcp.c
Labels: area: Networking

#58827 samples: usb: mass: Set next stack max LUNs to 3
  samples/subsys/usb/mass/usbd_next_prj.conf
Labels: area: USB

#58910 ci: workflows: create cache directory for ccache
  .github/workflows/clang.yaml
  .github/workflows/codecov.yaml
  .github/workflows/twister.yaml
Labels: Hotfix, area: Continuous Integration

#58922 soc/intel_adsp: fix typo in L1EXP definition
  soc/xtensa/intel_adsp/common/include/intel_adsp_hda.h
Labels: bug, platform: Intel ADSP

#58909 boards: kv260_r5: update board documentation with other Linux image option
  boards/arm/kv260_r5/doc/index.rst
Labels: area: ARM, area: Boards

#58330 dts: mec172x: move the uart device node off espi
  dts/arm/microchip/mec172xnsz.dtsi
Labels: platform: Microchip MEC

#58919 doc: develop: api: overview: tag Task Watchdog API as Unstable
  doc/develop/api/overview.rst
Labels: area: Documentation

#58918 doc: develop: api: overview: tag DAC API as Unstable
  doc/develop/api/overview.rst
Labels: area: Documentation

#58342 drivers: intc: stm32: clarify controlling expression
  drivers/interrupt_controller/intc_exti_stm32.c
Labels: platform: STM32, area: Interrupt Controller

#58917 doc: spi: fix doxygen comment for MISO Lines doc
  include/zephyr/drivers/spi.h
Labels: area: SPI

#58815 rp2040: Fix USB self powered for all boards
  boards/arm/adafruit_kb2040/Kconfig.defconfig
  boards/arm/rpi_pico/Kconfig.defconfig
  boards/arm/sparkfun_pro_micro_rp2040/Kconfig.defconfig
Labels: platform: Raspberry Pi Pico

#58923 tests: mcumgr: update tags
  tests/subsys/mgmt/mcumgr/cb_notifications/testcase.yaml
  tests/subsys/mgmt/mcumgr/smp_version/testcase.yaml
Labels: area: mcumgr

#58921 test: ARC: skip div-by-zero test in case of SW div implementation
  tests/ztest/error_hook/src/main.c
Labels: area: ARC, area: Testsuite

#58874 drivers: regulator: pca9420: fix support for DVS modes
  drivers/regulator/regulator_pca9420.c
Labels: area: Regulators

#58938 net: lib: coap: Fixed unchecked send return value in CoAP client
  subsys/net/lib/coap/coap_client.c
Labels: area: Networking

#59014 net: lwm2m: Fix possible out-of-bound access when creating FW object
  subsys/net/lib/lwm2m/lwm2m_obj_firmware.c
Labels: area: LWM2M

#59008 net: lwm2m: Fix pointless variable assignment
  subsys/net/lib/lwm2m/lwm2m_message_handling.c
Labels: area: LWM2M

#59011 net: ieee802154_mgmt: Fix memcpy to uninitialized pointer location
  subsys/net/l2/ieee802154/ieee802154_mgmt.c
Labels: area: Networking

#58749 doc: add a section about coverity scans
  doc/contribute/guidelines.rst
Labels: area: Documentation, area: Coding Guidelines

#58904 drivers: dma_mcux_lpc: Fix potential NULL pointer dereferences
  drivers/dma/dma_mcux_lpc.c
Labels: area: DMA, platform: NXP

#59022 fs/littlefs/sample: Increase stack size
  samples/subsys/fs/littlefs/prj.conf
Labels: area: File System

#58806 boards: mec172xmodular_assy6930: Correct EC bootloader settings
  boards/arm/mec172xmodular_assy6930/support/spi_cfg_4MBit.txt
Labels: platform: Microchip MEC

#59020 net: context: Fix ambigous pointer check in net_context_connect()
  subsys/net/ip/net_context.c
Labels: area: Networking

#58826 Bluetooth: Mesh: Fix unable sent mesh message
  subsys/bluetooth/mesh/adv_ext.c
Labels: area: Bluetooth, area: Bluetooth Mesh

#59016 doc: api: Update status for auxdisplay API
  doc/develop/api/overview.rst
Labels: area: Documentation

#59024 Bluetooth: Mesh: Avoid undefined behavior in bit shift in blob_cli.c
  subsys/bluetooth/mesh/blob_cli.c
Labels: area: Bluetooth, area: Bluetooth Mesh

#58807 Bluetooth: Controller: Fix ISOAL sink create role for ISO Receiver
  subsys/bluetooth/controller/ll_sw/isoal.c
  subsys/bluetooth/controller/ll_sw/isoal.h
  subsys/bluetooth/controller/ll_sw/ull_iso.c
  tests/bluetooth/ctrl_isoal/src/isoal_test_common.h
  tests/bluetooth/ctrl_isoal/src/sub_sets/isoal_test_rx.c
  tests/bluetooth/ctrl_isoal/src/sub_sets/isoal_test_tx.c
Labels: area: Bluetooth, area: Bluetooth Controller

#59053 doc: api: Promote EDAC API as Unstable
  doc/develop/api/overview.rst
Labels: area: Documentation

#59052 sysbuild: ensure warning is only printed when VAR is not used
  share/sysbuild/cmake/modules/sysbuild_extensions.cmake
Labels: area: Build System, area: Sysbuild

#59047 tests: drivers: can: api: fix test_set_timing_data_while_started test
  tests/drivers/can/api/src/canfd.c
Labels: bug, area: Tests, area: CAN, Trivial

#59050 sysbuild: Fix value propagation of signature type to MCUboot
  scripts/ci/check_compliance.py
  share/sysbuild/image_config.cmake
Labels: area: Build System, Regression, area: Coding Guidelines, area: Continuous Integration, area: Sysbuild

#59012 ci: testplan: do not start more runners than needed
  scripts/ci/test_plan.py
Labels: area: Continuous Integration

#58932 tests: drivers: dac channel structure has a buffered parameter boolean
  samples/drivers/dac/src/main.c
  tests/drivers/dac/dac_api/src/test_dac.c
  tests/drivers/dac/dac_loopback/src/test_dac.c
Labels: area: Tests, area: DAC

#59067 tests: bluetooth: tester: Fix ATT max attr size assert
  tests/bluetooth/tester/src/btp_gatt.c
Labels: area: Bluetooth

#58935 arch: arm64: Use atomic for fpu_owner pointer
  arch/arm64/core/fpu.c
  include/zephyr/arch/arm64/structs.h
Labels: area: ARM64

#58898 ARC: SMP: fix livelock in thread abort due to exception
  arch/arc/core/fault_s.S
Labels: area: ARC

#59069 stm32g4: adc345: set resolutions & sampling-times
  dts/arm/st/g4/stm32g473.dtsi
  dts/arm/st/g4/stm32g491.dtsi
Labels: platform: STM32

#59057 tests: Bluetooth: Split CAP initiator tests to unicast and broadcast
  tests/bsim/bluetooth/audio/src/cap_initiator_broadcast_test.c
  tests/bsim/bluetooth/audio/src/cap_initiator_test.c
  tests/bsim/bluetooth/audio/src/cap_initiator_unicast_test.c
  tests/bsim/bluetooth/audio/src/main.c
Labels: area: Bluetooth, area: Bluetooth Audio

#59085 samples: Bluetooth: hci_usb: Disable USB_CDC_ACM
  boards/arm/adafruit_itsybitsy_nrf52840/Kconfig.defconfig
  boards/arm/nrf52840dongle_nrf52840/Kconfig.defconfig
  samples/bluetooth/hci_usb/prj.conf
Labels: bug, area: Bluetooth, platform: nRF, Regression

#59018 drivers: usb_dc_native_posix: Check data length before copy
  drivers/usb/device/usb_dc_native_posix.c
Labels: bug, area: USB, Coverity, area: native port

#59034 drivers: usb_mcux: Fix disable and reset functions
  drivers/usb/device/usb_dc_mcux.c
Labels: area: USB, platform: NXP

#59027 doc: release: 3.4: add posix api release notes
  doc/releases/release-notes-3.4.rst
Labels: area: POSIX, Release Notes

#59106 doc: release: 3.4: Add notes about Atmel and Gigadevices
  doc/releases/release-notes-3.4.rst
Labels: area: Documentation, Release Notes

#59079 drivers: auxdisplay: Fix several issues with jhd1313 driver
  drivers/auxdisplay/auxdisplay_jhd1313.c
Labels: area: Drivers, area: Aux display

#59094 Bluetooth: ISO: Log status as hex instead of decimal
  subsys/bluetooth/host/iso.c
Labels: area: Bluetooth, area: Bluetooth Host

#59088 Samples: Bluetooth: Fix iso connected benchmark sample
  samples/bluetooth/iso_connected_benchmark/src/main.c
Labels: area: Bluetooth

#59091 doc: release notes: add 1-Wire release notes for 3.4.0
  doc/releases/release-notes-3.4.rst
Labels: Release Notes, area: W1

#59051 ARC: Fix portability.posix.common.arcmwdtlib test
  include/zephyr/posix/posix_types.h
  include/zephyr/posix/pthread_key.h
  include/zephyr/posix/sched.h
  lib/libc/arcmwdt/include/sys/cdefs.h
  lib/libc/arcmwdt/include/sys/types.h
  lib/libc/arcmwdt/libc-hooks.c
Labels: area: C Library, area: POSIX

#59105 Bluetooth: BAP: Remove bad log error from bt_audio_valid_codec
  subsys/bluetooth/audio/bap_stream.c
Labels: bug, area: Bluetooth, Trivial, area: Bluetooth Audio

#58897 Bluetooth: Audio: Shell: Increase number of streams for unicast client
  tests/bluetooth/shell/audio.conf
Labels: area: Bluetooth, Trivial, area: Bluetooth Audio

#59118 doc: services: posix: update posix supported items
  doc/services/portability/posix.rst
Labels: area: Documentation, area: POSIX, area: Portability, area: CMSIS API Layer

#58937 shell: Fix BT verbose scan logging
  subsys/bluetooth/shell/bt.c
Labels: area: Bluetooth

#59120 doc: services: posix: update c-lang support section
  doc/services/portability/posix.rst
Labels: area: C Library, area: POSIX, area: Portability, Release Notes, area: Minimal libc

#59119 doc: release: 3.4: add posix api deprecations
  doc/releases/release-notes-3.4.rst
Labels: area: POSIX, Release Notes

#59113 doc: release-notes/3.4: add a few bits on PCIe, UART and Xtensa
  doc/releases/release-notes-3.4.rst
Labels: Release Notes

#58893 Release notes: POSIX arch/boards + bsim relates entries
  doc/releases/release-notes-3.4.rst
Labels: Release Notes

#59147 doc: release-notes: add CAN release notes for v3.4.0
  doc/releases/release-notes-3.4.rst
Labels: area: CAN, Release Notes

#59084 Bluetooth: Controller: Fix disable all advertising sets
  subsys/bluetooth/controller/hci/hci.c
  subsys/bluetooth/controller/include/ll.h
  subsys/bluetooth/controller/ll_sw/ull_adv.c
Labels: bug, area: Bluetooth, area: Bluetooth Controller

#59151 drivers: can: mcan: remove excessive debug on register access
  drivers/can/can_mcan.c
Labels: area: CAN

#59108 net: l2: ethernet: Fix IPv6 Kconfig
  subsys/net/l2/ethernet/ethernet_mgmt.c
Labels: area: Networking

#59164 net: context: Verify that laddr was set before use in connect
  subsys/net/ip/net_context.c
Labels: bug, area: Networking, Regression, Release Blocker

#59009 tests: timer_behavior: Use bigger drift tolerance for nRF RTC timer
  tests/kernel/timer/timer_behavior/Kconfig
Labels: bug, area: Kernel, platform: nRF

#59162 tests: posix: pthread_pressure: enable pthread barrier in twister
  tests/posix/pthread_pressure/testcase.yaml
Labels: area: Tests, area: POSIX

#59154 [v2.7-branch] drivers: nrf_rtc_timer: Always set an initial timeout
  drivers/timer/nrf_rtc_timer.c
Labels: bug, area: Timer, platform: nRF

#59150 drivers: gpio: pca95xx: check gpio_add_callback() return value
  drivers/gpio/gpio_pca95xx.c
Labels: bug, area: GPIO, Trivial

#59135 Bug: drivers/clock_control: SAM PMC missing soc.h
  drivers/clock_control/clock_control_sam_pmc.c
Labels: platform: Microchip SAM, area: Clock Control

#59142 net: lib: zperf: fix kernel panic due to invalid thread prio
  subsys/net/lib/zperf/zperf_common.c
Labels: bug, area: Networking

#59157 usb: device: class: rndis: Limit response length
  subsys/usb/device/class/netusb/function_rndis.c
Labels: area: USB

#59045 net: coap: CoAP reply handler fix
  subsys/net/lib/coap/coap.c
Labels: area: Networking

#59170 arch: arm64: cache: fix usage of extern C linkage specification
  include/zephyr/arch/arm64/cache.h
Labels: Trivial, area: ARM64

#59049 Shell: Add missing long long type in shell_strtoull
  subsys/shell/shell_utils.c
Labels: bug, area: Shell

#59158 mgmt: mcumgr: fs_mgmt: Fix duplicate bool ok variables
  subsys/mgmt/mcumgr/grp/fs_mgmt/src/fs_mgmt.c
Labels: area: mcumgr, Trivial

#59165 modules: lvgl: define the Kconfig types used in boards
  boards/arm/mimxrt1050_evk/Kconfig.defconfig
  boards/arm/mimxrt1060_evk/Kconfig.defconfig
  boards/arm/mimxrt1064_evk/Kconfig.defconfig
  boards/arm/mimxrt1170_evk/Kconfig.defconfig
  boards/arm/mimxrt595_evk/Kconfig.defconfig
  boards/arm/reel_board/Kconfig.defconfig
  boards/shields/ls0xx_generic/Kconfig.defconfig
  boards/shields/ssd1306/Kconfig.defconfig
  boards/shields/waveshare_epaper/Kconfig.defconfig
  modules/Kconfig.lvgl
Labels: platform: NXP, area: Shields, manifest-lvgl

#59155 net: wifi_mgmt: Pass address instead of value
  subsys/net/l2/wifi/wifi_mgmt.c
Labels: area: Networking

#58408 gcc/target.cmake: fix build with gcc-13
  cmake/compiler/gcc/target.cmake
Labels: bug, area: Build System, area: Toolchains

#59168 release: relnotes: Add Bluetooth release notes for 3.4.0
  doc/releases/release-notes-3.4.rst
Labels: Release Notes

#59190 Doc: release notes changes for STM32 and shields
  doc/releases/release-notes-3.4.rst
Labels: Release Notes

#55361 doc: release: 3.4: Bulk of updates
  doc/releases/release-notes-3.4.rst
Labels: area: Documentation, Release Notes

#59077 doc: Added RP2040 related changes to the v3.4.0 release notes
  doc/releases/release-notes-3.4.rst
Labels: Release Notes, platform: Raspberry Pi Pico

#59206 doc: 3.4 release notes: Fix doc build
  doc/releases/release-notes-3.4.rst
Labels: bug, area: Documentation, Hotfix, Trivial, Release Notes

#59198 include: crypto: Remove duplicate assignment line
  include/zephyr/crypto/crypto.h
Labels: area: Crypto / RNG, Trivial

#59153 Bluetooth: hci: Add 5.4 HCI error codes
  include/zephyr/bluetooth/hci_types.h
Labels: area: Bluetooth
