Repository zephyrproject-rtos/zephyr, pull requests merged in 2023-03, with the labels that each got.

#55201 drivers: pwms: pwm_xec: add polarity support to XEC PWM driver.
  drivers/pwm/pwm_mchp_xec.c
  dts/arm/microchip/mec1501hsz.dtsi
  dts/arm/microchip/mec172xnsz.dtsi
  dts/bindings/pwm/microchip,xec-pwm.yaml
Labels: area: PWM, platform: Microchip MEC, area: Devicetree Binding

#55252 Bluetooth: host: gatt: don't use settings API in disconnect cb
  subsys/bluetooth/host/gatt.c
Labels: bug, area: Bluetooth Host

#55217 usb: device_next: fail Mass Storage requests with invalid length
  subsys/usb/device_next/class/usbd_msc.c
Labels: area: USB

#54183 pm: adc: MEC172x adc device PM support
  boards/arm/mec172xevb_assy6906/mec172xevb_assy6906.dts
  drivers/adc/adc_mchp_xec_v2.c
  dts/arm/microchip/mec172x/mec172xnsz-pinctrl.dtsi
Labels: area: ADC, platform: Microchip MEC

#55082 Bluetooth: Audio: Fix missing call to BAP discover cb
  subsys/bluetooth/audio/unicast_client.c
Labels: bug, area: Bluetooth, area: Bluetooth Audio

#54922 ITE drivers/sensor/vcmp/it8xxx2: add work queue for voltage comparator
  drivers/sensor/ite_vcmp_it8xxx2/Kconfig
  drivers/sensor/ite_vcmp_it8xxx2/vcmp_ite_it8xxx2.c
  soc/riscv/riscv-ite/it8xxx2/Kconfig.defconfig.series
Labels: area: Sensors, area: RISCV, platform: ITE

#54629 maintainers: make myself SDHC maintainer
  MAINTAINERS.yml
Labels: area: Process

#55337 ztest: Remove zexpect API test unnecessary timeout
  tests/ztest/zexpect/testcase.yaml
Labels: area: Test Framework, area: Tests, area: Testsuite

#52810 twister: Fields for Kconfig and DT overlay files in testcase.yaml
  scripts/pylib/twister/twisterlib/config_parser.py
  scripts/pylib/twister/twisterlib/runner.py
  scripts/pylib/twister/twisterlib/testplan.py
  scripts/schemas/twister/testsuite-schema.yaml
  scripts/tests/twister/test_data/testsuites/tests/test_config/test_data.yaml
  scripts/tests/twister/test_runner.py
  scripts/tests/twister/test_testplan_class.py
  scripts/tests/twister/test_twister.py
  tests/cmake/overlays/var_expansions/testcase.yaml
Labels: area: Twister

#55343 drivers: sensor: Document blocking behavior of sample fetch functions
  include/zephyr/drivers/sensor.h
Labels: area: Sensors

#55319 soc: nrf53: Change logging level of anomaly 160 message to DEBUG
  soc/arm/nordic_nrf/nrf53/soc.c
Labels: bug, platform: nRF

#55271 boards: arm: stm32h735g_disco: Enable DT mac node
  boards/arm/stm32h735g_disco/stm32h735g_disco.dts
Labels: platform: STM32

#55315 Bluetooth: Audio: Fix MCC discover callback on reconnected issue
  subsys/bluetooth/audio/mcc.c
Labels: area: Bluetooth, Trivial, area: Bluetooth Audio

#55291 fix: ESP32-S2, use correct storage label
  soc/xtensa/esp32s2/loader.c
Labels: platform: ESP32, backport v3.3-branch

#55256 bluetooth: sco: Error out early on null acl
  subsys/bluetooth/host/conn.c
Labels: area: Bluetooth

#55218 Samples: Bluetooth: Fix scanning restart for broadcast audio sink
  samples/bluetooth/broadcast_audio_sink/src/main.c
Labels: bug, area: Bluetooth, Trivial

#55216 net: dhcpv4: Fix potential packet leak in DHCPv4
  subsys/net/ip/dhcpv4.c
Labels: area: Networking

#55221 Tests: bluetooth: controller: add correct number of max connections
  tests/bluetooth/controller/ctrl_tx_buffer_alloc/prj.conf
Labels: area: Bluetooth, area: Bluetooth Controller, area: Bluetooth LLCP

#55146 west: sign: rimage: log("Prefixing with xman...") only when doing it
  scripts/west_commands/sign.py
Labels: area: West

#55102 drivers: pwm: mchp_xec: fix PWM control register updates
  drivers/pwm/pwm_mchp_xec.c
Labels: area: PWM, platform: Microchip MEC

#54778 dts: Enable NFCT for capable SoC
  dts/arm/nordic/nrf52832.dtsi
  dts/arm/nordic/nrf52833.dtsi
  dts/arm/nordic/nrf52840.dtsi
  dts/arm/nordic/nrf5340_cpuapp_peripherals.dtsi
Labels: platform: nRF

#54777 dts: arm: st: l4 SDMMC nodes on L4 missing
  dts/arm/st/l4/stm32l431.dtsi
  dts/arm/st/l4/stm32l432.dtsi
  dts/arm/st/l4/stm32l452.dtsi
Labels: area: Devicetree, platform: STM32

#54030 RP2040: fix USB stability issue related to control transfers.
  drivers/usb/device/usb_dc_rpi_pico.c
Labels: area: USB, platform: Raspberry Pi Pico

#55326 tests: Bluetooth: Add missing encryption value for CAP broadcaster
  tests/bluetooth/bsim/audio/src/cap_initiator_test.c
Labels: bug, area: Bluetooth, Trivial, area: Bluetooth Audio

#54080 usb: device: msc: support larger devices
  subsys/usb/device/class/msc.c
Labels: area: USB

#53109 dts: gpio: Add Microchip XEC GPIO macros for use in device tree
  boards/arm/mec1501modular_assy6885/mec1501modular_assy6885.dts
  boards/arm/mec15xxevb_assy6853/mec15xxevb_assy6853.dts
  boards/arm/mec172xevb_assy6906/mec172xevb_assy6906.dts
  boards/arm/mec172xmodular_assy6930/mec172xmodular_assy6930.dts
  dts/arm/microchip/mec1501hsz.dtsi
  dts/arm/microchip/mec172xnsz.dtsi
  include/zephyr/dt-bindings/gpio/microchip-xec-gpio.h
  samples/drivers/espi/boards/mec1501modular_assy6885.overlay
  samples/drivers/espi/boards/mec15xxevb_assy6853.overlay
  tests/drivers/gpio/gpio_basic_api/boards/mec15xxevb_assy6853.overlay
  tests/drivers/gpio/gpio_basic_api/boards/mec172xevb_assy6906.overlay
Labels: area: GPIO, area: eSPI, platform: Microchip MEC, area: Kscan

#55348 samples: usb: mass: Increase main stack size
  samples/subsys/usb/mass/usbd_next_prj.conf
Labels: area: USB, area: Samples, Experimental

#55262 drivers: flashdisk: Change page info verification log message
  drivers/disk/flashdisk.c
Labels: area: Disk Access

#55354 Bluetooth: Host: Add ACL NULL check for ISO conn info
  subsys/bluetooth/host/conn.c
Labels: area: Bluetooth

#55181 Move hashmap from os to hashmap
  lib/CMakeLists.txt
  lib/Kconfig
  lib/hash/CMakeLists.txt
  lib/hash/Kconfig
  lib/hash/Kconfig.hash_func
  lib/hash/Kconfig.hash_map
  lib/hash/hash_func32_djb2.c
  lib/hash/hash_func32_murmur3.c
  lib/hash/hash_map_cxx.cpp
  lib/hash/hash_map_oa_lp.c
  lib/hash/hash_map_sc.c
  lib/os/CMakeLists.txt
  lib/os/Kconfig
Labels: area: Base OS

#55309 west.yml: Reset MCUboot revision due to history overwrite
  west.yml
Labels: manifest, manifest-trusted-firmware-m, manifest-mcuboot

#53251 doc: services: device_mgmt: smp_groups: Correct smp img upload request
  doc/services/device_mgmt/smp_groups/smp_group_1.rst
Labels: area: Device Management

#55345 tests: timer_behavior: accuracy improvements
  tests/kernel/timer/timer_behavior/src/jitter_drift.c
Labels: area: Kernel

#55370 Bluetooth: Host: Log incomplete adv reports
  subsys/bluetooth/host/scan.c
Labels: area: Bluetooth, area: Bluetooth Host

#55347 intel_adsp: cmake: add_custom_command(.mod) to fix incremental build
  soc/xtensa/intel_adsp/common/CMakeLists.txt
Labels: platform: Intel ADSP

#55346 drivers/timer/arm_arch_timer: driver revamp
  drivers/timer/arm_arch_timer.c
Labels: area: Timer

#53499 twister: cmake: Add prefiltration based on cmake package helper script
  doc/develop/test/twister.rst
  scripts/pylib/twister/twisterlib/runner.py
  scripts/tests/twister/test_testinstance.py
Labels: area: Documentation, area: Twister

#55325 subsys: net: dns: prevent crash on nullptr as callback
  subsys/net/lib/dns/resolve.c
Labels: area: Networking

#55353 usbc: explicitly declare sizes of state machines arrays
  subsys/usb/usb_c/usbc_pe_common.c
  subsys/usb/usb_c/usbc_prl.c
  subsys/usb/usb_c/usbc_tc_common.c
Labels: area: USB, area: USB-C

#55376 drivers: sdhc: add support for configurable power on delay to SPI SDHC
  drivers/sdhc/sdhc_spi.c
  dts/bindings/sdhc/zephyr,sdhc-spi-slot.yaml
Labels: area: Disk Access, area: Devicetree Binding

#55374 samples: bluetooth: PAST: Disable for nrf52_bsim
  samples/bluetooth/central_past/sample.yaml
  samples/bluetooth/peripheral_past/sample.yaml
Labels: area: Bluetooth

#55357 Bluetooth: ISO: Fix BT_ISO_TX_MTU range
  subsys/bluetooth/Kconfig.iso
Labels: area: Bluetooth

#55079 boards: stm32f7/stm32h7: Configure external SDRAM region with RAM att…
  boards/arm/stm32f746g_disco/stm32f746g_disco.dts
  boards/arm/stm32f7508_dk/stm32f7508_dk.dts
  boards/arm/stm32f769i_disco/stm32f769i_disco.dts
  boards/arm/stm32h747i_disco/stm32h747i_disco_m7.dts
  boards/arm/stm32h7b3i_dk/stm32h7b3i_dk.dts
Labels: platform: STM32

#55369 Samples: Bluetooth: Unicast Audio Client support no sink/source ASE
  samples/bluetooth/unicast_audio_client/src/main.c
Labels: area: Bluetooth

#55329 samples: net: sockets: echo_server: Fix userspace crash
  samples/net/sockets/echo_server/src/tcp.c
  samples/net/sockets/echo_server/src/udp.c
Labels: area: Networking, area: Samples, area: Sockets

#55321 samples and tests: Use non-environmental zephyr base variable
  samples/bluetooth/central_ht/CMakeLists.txt
  samples/subsys/mgmt/hawkbit/CMakeLists.txt
  tests/bluetooth/bsim/audio/CMakeLists.txt
  tests/bluetooth/bsim/host/adv/periodic/CMakeLists.txt
  tests/bluetooth/bsim/host/privacy/device/CMakeLists.txt
  tests/bluetooth/bt_crypto_ccm/CMakeLists.txt
  tests/bluetooth/ctrl_user_ext/CMakeLists.txt
  tests/bluetooth/df/connection_cte_req/CMakeLists.txt
  tests/bluetooth/df/connection_cte_tx_params/CMakeLists.txt
  tests/bluetooth/df/connectionless_cte_rx/CMakeLists.txt
  tests/bluetooth/df/connectionless_cte_tx/CMakeLists.txt
  tests/bluetooth/host/id/bt_br_oob_get_local/CMakeLists.txt
  tests/bluetooth/host/id/bt_id_add/CMakeLists.txt
  tests/bluetooth/host/id/bt_id_adv_random_addr_check/CMakeLists.txt
  tests/bluetooth/host/id/bt_id_create/CMakeLists.txt
  tests/bluetooth/host/id/bt_id_del/CMakeLists.txt
  tests/bluetooth/host/id/bt_id_delete/CMakeLists.txt
  tests/bluetooth/host/id/bt_id_get/CMakeLists.txt
  tests/bluetooth/host/id/bt_id_init/CMakeLists.txt
  tests/bluetooth/host/id/bt_id_read_public_addr/CMakeLists.txt
  tests/bluetooth/host/id/bt_id_reset/CMakeLists.txt
  tests/bluetooth/host/id/bt_id_scan_random_addr_check/CMakeLists.txt
  tests/bluetooth/host/id/bt_id_set_adv_own_addr/CMakeLists.txt
  tests/bluetooth/host/id/bt_id_set_adv_private_addr/CMakeLists.txt
  tests/bluetooth/host/id/bt_id_set_adv_random_addr/CMakeLists.txt
  tests/bluetooth/host/id/bt_id_set_create_conn_own_addr/CMakeLists.txt
  tests/bluetooth/host/id/bt_id_set_private_addr/CMakeLists.txt
  tests/bluetooth/host/id/bt_id_set_scan_own_addr/CMakeLists.txt
  tests/bluetooth/host/id/bt_le_ext_adv_oob_get_local/CMakeLists.txt
  tests/bluetooth/host/id/bt_le_oob_get_local/CMakeLists.txt
  tests/bluetooth/host/id/bt_le_oob_get_sc_data/CMakeLists.txt
  tests/bluetooth/host/id/bt_le_oob_set_legacy_tk/CMakeLists.txt
  tests/bluetooth/host/id/bt_le_oob_set_sc_data/CMakeLists.txt
  tests/bluetooth/host/id/bt_lookup_id_addr/CMakeLists.txt
  tests/bluetooth/host/id/bt_setup_public_id_addr/CMakeLists.txt
  tests/bluetooth/host/id/bt_setup_random_id_addr/CMakeLists.txt
  tests/bluetooth/host/keys/bt_keys_add_type/CMakeLists.txt
  tests/bluetooth/host/keys/bt_keys_clear/CMakeLists.txt
  tests/bluetooth/host/keys/bt_keys_find/CMakeLists.txt
  tests/bluetooth/host/keys/bt_keys_find_addr/CMakeLists.txt
  tests/bluetooth/host/keys/bt_keys_find_irk/CMakeLists.txt
  tests/bluetooth/host/keys/bt_keys_foreach_bond/CMakeLists.txt
  tests/bluetooth/host/keys/bt_keys_foreach_type/CMakeLists.txt
  tests/bluetooth/host/keys/bt_keys_get_addr/CMakeLists.txt
  tests/bluetooth/host/keys/bt_keys_get_type/CMakeLists.txt
  tests/bluetooth/host/keys/bt_keys_store/CMakeLists.txt
  tests/bluetooth/host/keys/bt_keys_update_usage/CMakeLists.txt
  tests/net/lib/lwm2m/lwm2m_registry/CMakeLists.txt
Labels: area: Bluetooth, area: Networking, area: LWM2M, area: Bluetooth Audio, area: hawkBit

#54603 drivers: sensor: mcux qdec rework rotation
  drivers/sensor/qdec_mcux/qdec_mcux.c
Labels: area: Sensors

#54352 drivers: sensor: Added driver for the Würth Elektronik WSEN-TIDS sensor
  drivers/sensor/CMakeLists.txt
  drivers/sensor/Kconfig
  drivers/sensor/wsen_tids/CMakeLists.txt
  drivers/sensor/wsen_tids/Kconfig
  drivers/sensor/wsen_tids/wsen_tids.c
  drivers/sensor/wsen_tids/wsen_tids.h
  drivers/sensor/wsen_tids/wsen_tids_trigger.c
  dts/bindings/sensor/we,wsen-tids.yaml
  tests/drivers/build_all/sensor/i2c.dtsi
Labels: area: Sensors, area: Devicetree Binding

#55378 logging: add support for 64 bit timestamps with Linux format
  subsys/logging/log_output.c
Labels: area: Logging

#55029 net: wifi_mgmt: Updated TWT setup response status
  include/zephyr/net/wifi.h
  subsys/net/l2/wifi/wifi_shell.c
Labels: area: Networking

#55391 tests: logging: log_msg: Filter platforms with LOG_ALWAYS_RUNTIME set
  tests/subsys/logging/log_msg/testcase.yaml
Labels: area: Logging, Trivial

#55395 rtio: Fix for all POSIX arch platforms
  include/zephyr/rtio/rtio.h
Labels: bug, Trivial, area: RTIO

#55388 MAINTAINERS: add cfriedt as maintainer for hash utils
  MAINTAINERS.yml
Labels: area: Process

#55167 MAINTAINERS: Renesas
  MAINTAINERS.yml
Labels: area: Process

#55400 subsys/storage/flash_map: remove unnecessary includes
  subsys/storage/flash_map/flash_map.c
  subsys/storage/flash_map/flash_map_integrity.c
  subsys/storage/flash_map/flash_map_layout.c
Labels: area: Storage

#53943 VL53L1X time-of-flight sensor.
  drivers/sensor/CMakeLists.txt
  drivers/sensor/Kconfig
  drivers/sensor/vl53l1x/CMakeLists.txt
  drivers/sensor/vl53l1x/Kconfig
  drivers/sensor/vl53l1x/vl53l1.c
  drivers/sensor/vl53l1x/vl53l1_platform.c
  drivers/sensor/vl53l1x/vl53l1_platform.h
  drivers/sensor/vl53l1x/vl53l1_platform_log.h
  drivers/sensor/vl53l1x/vl53l1_platform_user_config.h
  drivers/sensor/vl53l1x/vl53l1_platform_user_data.h
  drivers/sensor/vl53l1x/vl53l1_platform_user_defines.h
  drivers/sensor/vl53l1x/vl53l1_types.h
  dts/bindings/sensor/st,vl53l1x.yaml
  tests/drivers/build_all/sensor/i2c.dtsi
Labels: area: Sensors, area: Devicetree Binding

#55398 include/sys/util: Fix WAIT_FOR for POSIX_ARCH
  include/zephyr/sys/util.h
  tests/lib/sys_util/testcase.yaml
Labels: bug, Trivial, area: Base OS

#55409 soc: nrf53: Restore accidentally removed suppress_message flag check
  soc/arm/nordic_nrf/nrf53/soc.c
Labels: platform: nRF, Trivial

#55311 manifest: Update PSA arch test with timeout and crypto test 221 fix
  west.yml
Labels: manifest, manifest-psa-arch-tests

#55414 util: Replace all POSIX arch busy_waits with Z_SPIN_DELAY
  include/zephyr/rtio/rtio.h
  samples/subsys/logging/logger/src/main.c
  tests/kernel/common/src/clock.c
  tests/kernel/common/src/timeout_order.c
  tests/kernel/context/src/main.c
  tests/kernel/sched/preempt/src/main.c
  tests/kernel/sched/schedule_api/src/test_sched_timeslice_reset.c
  tests/kernel/sleep/src/main.c
  tests/kernel/tickless/tickless_concept/src/main.c
  tests/kernel/workq/critical/src/main.c
Labels: area: Kernel, area: Logging, area: Base OS, area: RTIO

#55424 net: http: Make http_client.c compile with CONFIG_NET_SOCKETS_POSIX_NAMES=n
  subsys/net/lib/http/http_client.c
Labels: area: Networking

#55410 Bluetooth: Shell: Add indication of default_conn in connections cmd
  subsys/bluetooth/shell/bt.c
Labels: area: Bluetooth

#55341 board: teensy: drop spi-nor from the flash nodes
  boards/arm/teensy4/teensy40.dts
  boards/arm/teensy4/teensy41.dts
Labels: Hotfix

#55253 bluetooth: host: Check bounds on num_completed_packets event
  subsys/bluetooth/host/hci_core.c
Labels: area: Bluetooth

#55453 samples: dfu: Fix missing Kconfigs
  samples/subsys/usb/dfu/prj.conf
Labels: area: USB, Hotfix

#55427 net: lwm2m: Register callback for firmware update cancel
  include/zephyr/net/lwm2m.h
  samples/net/lwm2m_client/src/firmware_update.c
  subsys/net/lib/lwm2m/lwm2m_obj_firmware.c
Labels: area: Networking, area: LWM2M

#55338 boards: arm: add Arduino Giga
  boards/arm/arduino_giga_r1/Kconfig.board
  boards/arm/arduino_giga_r1/Kconfig.defconfig
  boards/arm/arduino_giga_r1/arduino_giga_r1.dtsi
  boards/arm/arduino_giga_r1/arduino_giga_r1_m4.dts
  boards/arm/arduino_giga_r1/arduino_giga_r1_m4.yaml
  boards/arm/arduino_giga_r1/arduino_giga_r1_m4_defconfig
  boards/arm/arduino_giga_r1/arduino_giga_r1_m7.dts
  boards/arm/arduino_giga_r1/arduino_giga_r1_m7.yaml
  boards/arm/arduino_giga_r1/arduino_giga_r1_m7_defconfig
  boards/arm/arduino_giga_r1/arduino_r3_connector.dtsi
  boards/arm/arduino_giga_r1/board.cmake
  boards/arm/arduino_giga_r1/doc/img/arduino_giga_r1.jpg
  boards/arm/arduino_giga_r1/doc/index.rst
  samples/drivers/flash_shell/sample.yaml
  tests/subsys/mgmt/mcumgr/fs_mgmt_hash_supported/testcase.yaml
Labels: area: Boards, area: Flash, area: mcumgr

#55259 drivers: nrf_rtc_timer: force init of interrupt and event enabling
  drivers/timer/nrf_rtc_timer.c
Labels: area: Timer

#55240 net: lwm2m: Add IPSO voltage sensor object
  include/zephyr/net/lwm2m.h
  subsys/net/lib/lwm2m/CMakeLists.txt
  subsys/net/lib/lwm2m/Kconfig.ipso
  subsys/net/lib/lwm2m/ipso_voltage_sensor.c
  tests/net/all/prj.conf
Labels: area: Networking, area: LWM2M

#55436 toolchain: esp32: support esp32s3 in 'espressif' toolchain
  cmake/toolchain/espressif/target.cmake
Labels: area: Build System, area: Toolchains

#55426 samples: die_temp_polling: Add esp32c3 overlay
  dts/riscv/espressif/esp32c3.dtsi
  samples/sensor/die_temp_polling/boards/esp32c3_devkitm.conf
  samples/sensor/die_temp_polling/boards/esp32c3_devkitm.overlay
Labels: area: Sensors, platform: ESP32

#55439 doc: build: dts: fix small doc typo
  doc/build/dts/howtos.rst
Labels: area: Build System, area: Devicetree

#55465 drivers: wifi: esp32: fix possible interface null pointer
  drivers/wifi/esp32/src/esp_wifi_drv.c
Labels: platform: ESP32, area: WiFi

#55469 sysbuild: provide a Kconfig setting name for boot signature choice
  share/sysbuild/bootloader/Kconfig
Labels: area: Build System, Trivial

#55470 Bluetooth: controller: fixing CIS establish flow for refactored LLCP
  subsys/bluetooth/controller/ll_sw/ull_conn_iso.c
Labels: area: Bluetooth, area: Bluetooth Controller

#55407 wifi: shell: Rectify data type of beacon interval and DTIM period
  include/zephyr/net/wifi_mgmt.h
Labels: area: Networking

#54751 drivers: kscan: Add driver for XPT2046
  drivers/kscan/CMakeLists.txt
  drivers/kscan/Kconfig
  drivers/kscan/Kconfig.xpt2046
  drivers/kscan/kscan_xpt2046.c
  dts/bindings/kscan/xptek,xpt2046.yaml
  dts/bindings/vendor-prefixes.txt
Labels: area: Devicetree Binding, area: Kscan

#55140 doc: ztest: various fixes
  doc/develop/test/ztest.rst
Labels: area: Documentation, area: Testsuite

#55371 Samples: zbus: benchmark: Exclude nrf52_bsim
  samples/subsys/zbus/benchmark/sample.yaml
  samples/subsys/zbus/benchmark/src/benchmark.c
Labels: bug, Trivial, area: Zbus

#55487 ci: bluetooth-tests: Also trigger on BT samples changes
  .github/workflows/bluetooth-tests.yaml
Labels: area: Bluetooth, area: Continuous Integration

#53783 scripts: runners: bossac: Enable BOSSAC to run on Windows (native)
  boards/arm/arduino_nano_33_ble/doc/index.rst
  doc/develop/flash_debug/host-tools.rst
  scripts/west_commands/runners/bossac.py
Labels: area: Documentation, area: West, Release Notes

#55392 samples: fix path to tensorflow lite micro examples
  samples/modules/tflite-micro/hello_world/README.rst
  samples/modules/tflite-micro/magic_wand/README.rst
  samples/modules/tflite-micro/tflm_ethosu/README.rst
Labels: manifest-tflite-micro

#55504 drivers: memc: flexspi: Update init priority
  drivers/memc/memc_mcux_flexspi.c
Labels: platform: NXP

#55500 arch/arm64/mmu: fix table discarding code
  arch/arm64/core/mmu.c
Labels: area: ARM64

#55496 intel_adsp: dts: ace: lower case 71C00 to fix DTC warning
  dts/xtensa/intel/intel_adsp_ace15_mtpm.dtsi
Labels: area: Xtensa, Trivial, platform: Intel ADSP

#55462 tests: hash_map: Remove check that usigned >= 0
  tests/lib/hash_map/src/load_factor.c
Labels: area: hash utils

#55492 Thread analyzer: Prevent on POSIX ARCH
  subsys/debug/Kconfig
Labels: area: Debugging, Trivial

#55363 drivers: peci: remove misplaced pwm header
  include/zephyr/drivers/peci.h
Labels: Trivial, area: PECI

#55482 include: zephyr: dt-bindings: clock: fix stm32f7 DCKCFGR offsets
  include/zephyr/dt-bindings/clock/stm32f7_clock.h
Labels: platform: STM32, area: Clock Control, backport v3.3-branch

#55368 Bluetooth: Audio: Remove pac_cache from unicast_client
  include/zephyr/bluetooth/audio/audio.h
  samples/bluetooth/unicast_audio_client/src/main.c
  subsys/bluetooth/audio/Kconfig.baps
  subsys/bluetooth/audio/unicast_client.c
  subsys/bluetooth/shell/audio.c
  tests/bluetooth/bsim/audio/src/unicast_client_test.c
  tests/bluetooth/shell/audio.conf
Labels: area: Bluetooth, area: Bluetooth Audio

#55367 Bluetooth: Audio: Add reason to BAP stream stopped callback
  include/zephyr/bluetooth/audio/audio.h
  samples/bluetooth/broadcast_audio_sink/src/main.c
  samples/bluetooth/broadcast_audio_source/src/main.c
  samples/bluetooth/unicast_audio_client/src/main.c
  samples/bluetooth/unicast_audio_server/src/main.c
  subsys/bluetooth/audio/ascs.c
  subsys/bluetooth/audio/broadcast_sink.c
  subsys/bluetooth/audio/broadcast_source.c
  subsys/bluetooth/audio/cap_stream.c
  subsys/bluetooth/audio/unicast_client.c
  subsys/bluetooth/shell/audio.c
  tests/bluetooth/bsim/audio/src/broadcast_sink_test.c
  tests/bluetooth/bsim/audio/src/broadcast_source_test.c
  tests/bluetooth/bsim/audio/src/cap_acceptor_test.c
  tests/bluetooth/bsim/audio/src/cap_initiator_test.c
  tests/bluetooth/bsim/audio/src/unicast_client_test.c
Labels: area: Bluetooth, area: Bluetooth Audio

#55502 bluetooth: tester: Disable GATT auto-retry on security error
  tests/bluetooth/tester/prj.conf
Labels: area: Bluetooth

#53564 Bluetooth: Audio: Add ASCS delay for CIS disconnect
  subsys/bluetooth/audio/Kconfig.ascs
  subsys/bluetooth/audio/ascs.c
Labels: area: Bluetooth, area: Bluetooth Audio

#55516 cmake: prefix local version of return variable
  cmake/modules/extensions.cmake
Labels: bug, area: Build System, backport v2.7-branch, backport v3.2-branch, backport v3.3-branch

#55375 nrf52_bsim: Use same sys tick period as the real SOCs
  boards/posix/nrf52_bsim/Kconfig.defconfig
  boards/posix/nrf52_bsim/nrf52_bsim_defconfig
Labels: platform: nRF52 BSIM

#55413 include/kernel.h: Clean up documentation surrounding k_sched_lock() usage
  include/zephyr/kernel.h
Labels: area: Kernel

#55508 soc: arm: Add support for STM32H730xxQ
  drivers/clock_control/clock_stm32_ll_h7.c
  soc/arm/st_stm32/stm32h7/Kconfig.defconfig.stm32h730xx
  soc/arm/st_stm32/stm32h7/Kconfig.soc
Labels: platform: STM32, area: Clock Control

#55524 soc: stm32u5: Add simple POWER_SUPPLY_CHOICE configuration
  soc/arm/st_stm32/common/Kconfig.soc
  soc/arm/st_stm32/stm32u5/soc.c
Labels: platform: STM32

#55534 boards: mpfs_icicle: remove no compiler optimization
  boards/riscv/mpfs_icicle/mpfs_icicle_defconfig
Labels: area: RISCV

#55542 Bluetooth: audio: ascs: Remove unused variable
  subsys/bluetooth/audio/ascs.c
Labels: area: Bluetooth, Trivial, area: Bluetooth Audio

#55525 Bluetooth: GATT: Doc: start_handle is updated when reading by type
  include/zephyr/bluetooth/gatt.h
Labels: area: Bluetooth

#55547 cmake: recommend CMake >=3.20.5 as minimum CMake version
  cmake/package_helper.cmake
  doc/develop/getting_started/index.rst
Labels: area: Build System, area: Documentation

#55538 MAINTAINERS: add maintainers for "platform: SiLabs" area
  MAINTAINERS.yml
Labels: area: Process

#55544 Bluetooth: audio: ascs: Remove reference to conn internals
  subsys/bluetooth/audio/ascs.c
Labels: area: Bluetooth, area: Bluetooth Audio

#55548 tests/lib/cpp/cxx: Fix for all POSIX arch platforms
  tests/lib/cpp/cxx/testcase.yaml
Labels: area: Tests, Trivial, area: C++

#55575 doc: mec172xmodular_assy6930: fix doc title
  boards/arm/mec172xmodular_assy6930/doc/mec172xmodular_assy6930.rst
Labels: Trivial, platform: Microchip MEC

#55564 test: Filter HW test from prototyped SBS Gauge
  tests/drivers/fuel_gauge/sbs_gauge/testcase.yaml
Labels: Hotfix, area: Fuel Gauge

#55520 drivers: bluetooth: hci_spi: fix condition causing infinte loop
  drivers/bluetooth/hci/spi.c
Labels: area: Bluetooth

#55474 tests: Bluetooth: Mesh: fix read access to uninitialized memory
  tests/bluetooth/bsim/mesh/src/test_blob.c
  tests/bluetooth/bsim/mesh/src/test_dfu.c
  tests/bluetooth/bsim/mesh/src/test_op_agg.c
Labels: area: Bluetooth, area: Bluetooth Mesh

#55515 usb: device_next: msc: handle MODE SENSE(10) command
  subsys/usb/device_next/class/usbd_msc_scsi.c
Labels: area: USB, Experimental

#55559 drivers: adc: stm32 adc driver disable before calibration
  drivers/adc/adc_stm32.c
Labels: area: ADC, platform: STM32

#55557 Bluetooth: audio: ascs: Remove unused includes
  subsys/bluetooth/audio/ascs.c
Labels: area: Bluetooth, area: Bluetooth Audio

#55551 Bluetooth: audio: Remove redundant forward declaration
  subsys/bluetooth/audio/bap_endpoint.h
Labels: area: Bluetooth, area: Bluetooth Audio

#55355 Bluetooth: Audio: Move stream_reset before released callback
  subsys/bluetooth/audio/bap_unicast_client.c
Labels: area: Bluetooth, area: Bluetooth Audio

#55583 dts: arm: st: h7: nucleo_stm32h723zg: add red_led
  boards/arm/nucleo_h723zg/nucleo_h723zg.dts
Labels: platform: STM32

#55553 samples: sensor_shell: Fix return code for sensor_shell
  samples/sensor/sensor_shell/src/main.c
Labels: area: Sensors

#55441 modules: tf-m: Fix thread preemption toggling
  modules/trusted-firmware-m/interface/interface.c
Labels: manifest-trusted-firmware-m, area: TF-M

#55463 net: wifi_mgmt: Updated TWT setup response status
  subsys/net/l2/wifi/wifi_shell.c
Labels: area: Networking

#55604 usb-c: tcpc: Disable Dead Battery after system starts
  drivers/usb_c/tcpc/ucpd_stm32.c
  drivers/usb_c/tcpc/ucpd_stm32_priv.h
Labels: platform: STM32, area: USB-C

#55586 drivers: uart: mcux_lpuart: add parity support
  drivers/serial/uart_mcux_lpuart.c
Labels: area: UART, platform: NXP

#55573 net/lib: mqtt_sn: Fix MQTT-SN IPv6 Support and assertation in Example
  samples/net/mqtt_sn_publisher/src/udp.c
  subsys/net/lib/mqtt_sn/mqtt_sn_transport_udp.c
Labels: area: Networking

#55485 boards: nucleo_f031k6: update CONFIG_ISR_STACK_SIZE
  boards/arm/nucleo_f031k6/nucleo_f031k6_defconfig
Labels: platform: STM32

#55417 drivers: espi: espi_mchp_xec: removed redundant state variables
  drivers/espi/espi_mchp_xec.c
  drivers/espi/espi_mchp_xec_v2.c
  drivers/espi/espi_mchp_xec_v2.h
Labels: area: eSPI, platform: Microchip MEC

#55385 drivers: i2c: sam0: add support for I2C_MSG_RESTART
  drivers/i2c/i2c_sam0.c
Labels: area: I2C, platform: Microchip SAM

#55365 ci: twister: Enable tests on bsim boards
  .github/workflows/twister.yaml
Labels: area: Continuous Integration

#55603 Bluetooth: ascs: Fix bt_ascs_ase missing cleanup
  subsys/bluetooth/audio/ascs.c
Labels: area: Bluetooth, area: Bluetooth Audio

#55517 manifest: EDTT: Update to latest version
  west.yml
Labels: Trivial, manifest, manifest-edtt

#55533 bluetooth: controller: Fix build with BT_HCI_VS_EXT disabled
  subsys/bluetooth/controller/hci/hci.c
Labels: area: Bluetooth, area: Bluetooth Controller

#55448 Bluetooth: host: gatt: respect `BT_GATT_ENFORCE_SUBSCRIPTION`
  subsys/bluetooth/host/gatt.c
Labels: area: Bluetooth, area: Bluetooth Host

#55611 tests: bluetooth gatt settings: Fix random test failures
  tests/bluetooth/bsim/host/gatt/settings/test_scripts/run_gatt_settings.sh
  tests/bluetooth/bsim/host/gatt/settings/test_scripts/run_gatt_settings_2.sh
Labels: area: Bluetooth, area: Tests, Trivial

#55640 Bluetooth: Mesh: Fix compilation issue in access.c
  subsys/bluetooth/mesh/Kconfig
  subsys/bluetooth/mesh/access.c
Labels: area: Bluetooth, area: Bluetooth Mesh

#54111 Bluetooth: Audio: Unicast stream start fix
  subsys/bluetooth/audio/bap_endpoint.h
  subsys/bluetooth/audio/bap_unicast_client.c
Labels: area: Bluetooth, area: Bluetooth Audio

#55626 Bluetooth: Mesh: Reschedule dedicated relay adv sets immediately
  subsys/bluetooth/mesh/adv_ext.c
Labels: area: Bluetooth, area: Bluetooth Mesh

#55627 doc: modules: Change normal modules to zephyr modules
  doc/develop/modules.rst
Labels: area: Build System, area: Documentation

#55632 boards: thingy53_nrf5340: Add missing DTS nodelabels for sensors
  boards/arm/thingy53_nrf5340/thingy53_nrf5340_common.dts
Labels: platform: nRF, Trivial

#55634 drivers: timer: esp32c3: fix dtick counter increment
  drivers/timer/esp32c3_sys_timer.c
Labels: area: Timer, platform: ESP32, backport v3.3-branch

#55636 tests/bluetooth/bsim: Fail CI on build failure
  tests/bluetooth/bsim/audio/compile.sh
  tests/bluetooth/bsim/compile.sh
  tests/bluetooth/bsim/compile.source
  tests/bluetooth/bsim/host/compile.sh
  tests/bluetooth/bsim/ll/compile.sh
  tests/bluetooth/bsim/mesh/compile.sh
  tests/bluetooth/bsim/sh_common.source
Labels: area: Bluetooth, area: Bluetooth Audio

#55601 Bluetooth: ascs: Fix missing list initialization
  subsys/bluetooth/audio/ascs.c
Labels: area: Bluetooth, area: Bluetooth Audio

#55622 mbedtls: Remove dependency on MBEDTLS_BUILTIN for MBEDTLS_DEBUG
  modules/mbedtls/Kconfig
  subsys/net/lib/sockets/sockets_tls.c
Labels: area: Networking, area: Sockets, manifest-mbedtls

#55670 twister: fix wrong reason when timeout occurs
  scripts/pylib/twister/twisterlib/handlers.py
Labels: area: Twister

#55663 Bluetooth: Host: Refine assert message
  subsys/bluetooth/host/hci_core.c
Labels: area: Bluetooth

#55649 Bluetooth: Host: Add missing include in bluetooth/gap.h
  include/zephyr/bluetooth/gap.h
Labels: area: Bluetooth

#54298 dts: boards :emsdp: add SPI support
  boards/arc/emsdp/Kconfig.defconfig
  boards/arc/emsdp/arc_mpu_regions.c
  boards/arc/emsdp/doc/index.rst
  boards/arc/emsdp/emsdp.dts
  boards/arc/emsdp/emsdp.yaml
  boards/arc/emsdp/emsdp_defconfig
  boards/arc/emsdp/emsdp_em4.dts
  boards/arc/emsdp/emsdp_em5d.dts
  boards/arc/emsdp/emsdp_em5d_defconfig
  boards/arc/emsdp/emsdp_em6.dts
  boards/arc/emsdp/emsdp_em6.yaml
  boards/arc/emsdp/emsdp_em6_defconfig
  boards/arc/emsdp/emsdp_em7d.dts
  boards/arc/emsdp/emsdp_em7d_esp.dts
  boards/arc/emsdp/emsdp_em7d_esp.yaml
  boards/arc/emsdp/emsdp_em7d_esp_defconfig
  boards/arc/emsdp/emsdp_em9d.dts
  boards/arc/emsdp/emsdp_em9d.yaml
  boards/arc/emsdp/emsdp_em9d_defconfig
  dts/arc/synopsys/emsdp.dtsi
  soc/arc/snps_emsdp/Kconfig.soc
Labels: area: ARC, platform: Synopsys

#47203 drivers: MCP7940N initialization fails on Sunday
  drivers/counter/rtc_mcp7940n.c
Labels: area: Counter

#55609 drivers: gpio: sifive: Update to use the available common IRQ API and remove obsolete code.
  drivers/gpio/gpio_sifive.c
Labels: area: GPIO

#55651 drivers: memc: fix flexspi init priorities
  drivers/memc/memc_mcux_flexspi_aps6408l.c
  drivers/memc/memc_mcux_flexspi_s27ks0641.c
Labels: platform: NXP

#55673 drivers: i2c: gpio: cast io context to void*
  drivers/i2c/i2c_gpio.c
Labels: area: I2C

#55518 drivers: can: shell: add support for CAN-FD frame format filters
  drivers/can/can_shell.c
Labels: area: Shell, area: CAN

#55700 dts: xtensa: nxp: remove unused include
  dts/xtensa/nxp/nxp_imx8.dtsi
  dts/xtensa/nxp/nxp_imx8m.dtsi
Labels: area: Xtensa, Trivial

#55694 net: lwm2m: Typo in LWM2M_IPSO_TIMER description
  subsys/net/lib/lwm2m/Kconfig.ipso
Labels: area: LWM2M, Trivial
