Repository zephyrproject-rtos/zephyr, pull requests merged in 2023-01, with the labels that each got.

#53241 linker: kobject: Handle literal section
  CMakeLists.txt
  include/zephyr/linker/kobject-text.ld
Labels: area: Build System

#52644 twister: Set a default gcov-tool for llvm
  doc/develop/test/coverage.rst
  scripts/pylib/twister/twisterlib/coverage.py
  scripts/pylib/twister/twisterlib/environment.py
Labels: area: Documentation, area: Twister

#52897 mcux: flexcan: fixes the race condition
  drivers/can/can_mcux_flexcan.c
Labels: platform: NXP, area: CAN

#53336 net: zperf: Make shell dependency optional
  samples/net/zperf/sample.yaml
  subsys/net/lib/zperf/CMakeLists.txt
  subsys/net/lib/zperf/Kconfig
  subsys/net/lib/zperf/zperf_common.c
  subsys/net/lib/zperf/zperf_internal.h
  subsys/net/lib/zperf/zperf_shell.c
Labels: area: Networking

#53341 net: lwm2m: add binaryappdatacontainer obj support
  include/zephyr/net/lwm2m.h
  subsys/net/lib/lwm2m/CMakeLists.txt
  subsys/net/lib/lwm2m/Kconfig
  subsys/net/lib/lwm2m/lwm2m_obj_binaryappdata.c
  subsys/net/lib/lwm2m/lwm2m_obj_binaryappdata.h
Labels: area: Networking, area: LWM2M

#53358 drivers: adc: stm32g4 also have a shared IRQ for ADC instances
  drivers/adc/Kconfig.stm32
  drivers/adc/adc_stm32.c
Labels: area: ADC, platform: STM32

#53383 boards: nrf: Add GPIO support for Nordic-supported boards
  boards/arm/nrf52840dk_nrf52811/nrf52840dk_nrf52811.yaml
  boards/arm/nrf52840dongle_nrf52840/nrf52840dongle_nrf52840.yaml
  boards/arm/nrf52dk_nrf52805/nrf52dk_nrf52805.yaml
  boards/arm/nrf52dk_nrf52810/nrf52dk_nrf52810.yaml
  boards/arm/nrf5340dk_nrf5340/nrf5340dk_nrf5340_cpuapp.yaml
  boards/arm/nrf5340dk_nrf5340/nrf5340dk_nrf5340_cpuapp_ns.yaml
  boards/arm/nrf5340dk_nrf5340/nrf5340dk_nrf5340_cpunet.yaml
  boards/arm/nrf9160dk_nrf52840/nrf9160dk_nrf52840.yaml
  boards/arm/nrf9160dk_nrf9160/nrf9160dk_nrf9160_ns.yaml
Labels: platform: nRF

#53392 net: lwm2m: Add shell commands
  subsys/net/lib/lwm2m/lwm2m_shell.c
Labels: area: LWM2M

#53422 tests: drivers: regulator: fixed: add nrf5340dk/nrf9160dk overlays
  tests/drivers/regulator/fixed/boards/nrf5340dk_nrf5340_cpuapp.overlay
  tests/drivers/regulator/fixed/boards/nrf9160dk_nrf9160.overlay
  tests/drivers/regulator/fixed/testcase.yaml
Labels: area: Regulators

#53426 toolchain: gcc: rename popcount to avoid conflict with C++20
  drivers/dai/intel/alh/alh.c
  drivers/dai/intel/dmic/dmic_nhlt.c
  drivers/dai/intel/ssp/ssp.c
  include/zephyr/toolchain/gcc.h
  subsys/bluetooth/mesh/lpn.c
  subsys/bluetooth/mesh/transport.c
  tests/kernel/mem_protect/userspace/src/main.c
Labels: area: Toolchains, area: Portability, area: C++

#53299 samples: mgmt: mcumgr: smp_svr: Removed un-needed UDP file
  samples/subsys/mgmt/mcumgr/smp_svr/CMakeLists.txt
  samples/subsys/mgmt/mcumgr/smp_svr/src/udp.c
Labels: area: mcumgr

#53427 tests: logging: log_msg: Fix test after mpsc_pbuf changes
  tests/subsys/logging/log_msg/src/main.c
Labels: area: Logging, Hotfix

#53415 net: lwm2m: Deprecate Kconfig for LwM2M RD Client
  subsys/net/lib/lwm2m/CMakeLists.txt
  subsys/net/lib/lwm2m/Kconfig
  subsys/net/lib/lwm2m/lwm2m_engine.c
  subsys/net/lib/lwm2m/lwm2m_message_handling.c
  subsys/net/lib/lwm2m/lwm2m_obj_server.c
  subsys/net/lib/lwm2m/lwm2m_observation.c
  subsys/net/lib/lwm2m/lwm2m_registry.c
  subsys/net/lib/lwm2m/lwm2m_rw_oma_tlv.c
  tests/net/all/prj.conf
Labels: area: Networking, area: LWM2M

#53435 drivers: crypto: don't return uninitialized local variable
  drivers/crypto/crypto_intel_sha.c
Labels: area: Crypto / RNG, Trivial

#53431 rpi_pico: Fix DTC warnings
  boards/arm/rpi_pico/rpi_pico.dts
  drivers/flash/flash_rpi_pico.c
  dts/arm/rpi_pico/rp2040.dtsi
Labels: area: Flash, platform: Raspberry Pi Pico

#53457 drivers: flash: stm32: Fix CmakeLists issue
  drivers/flash/CMakeLists.txt
Labels: area: Flash, Hotfix

#49914 nxp/imx: fix gpio pull up-down configuration
  drivers/gpio/gpio_imx.c
Labels: area: GPIO, platform: NXP

#53413 maintainers: change lvgl status to "odd fixes"
  MAINTAINERS.yml
Labels: area: Process, area: LVGL

#53318 drivers: memc: don't relocate MEMC functions unless CONFIG_FLASH=y
  drivers/memc/CMakeLists.txt
  west.yml
Labels: bug, manifest, manifest-hal_nxp

#53395 intel_adsp: ace: power: fix build error with asserts enabled
  soc/xtensa/intel_adsp/ace/power.c
Labels: platform: Intel ADSP

#53403 boards/xtensa/esp32/esp32.dts: remove redundant button definition
  boards/xtensa/esp32/esp32.dts
Labels: platform: ESP32

#53456 tests: drivers: uart: Add GPIO dependency to tests
  tests/drivers/uart/uart_async_api/testcase.yaml
  tests/drivers/uart/uart_pm/testcase.yaml
Labels: area: UART

#53414 usb: dfu: Schedule timer handler from USB workqueue
  subsys/usb/device/class/dfu/usb_dfu.c
Labels: area: USB

#53436 drivers: can: document can_add_rx_filter_msgq() overrun behavior
  include/zephyr/drivers/can.h
Labels: area: Documentation, area: CAN

#53454 trivial: samples: canopennode: Fix typo
  samples/modules/canopennode/src/main.c
Labels: area: CAN

#53363 ITE: drivers/i2c: Don't spam NACK error messages
  drivers/i2c/i2c_ite_it8xxx2.c
Labels: area: I2C, platform: ITE

#53328 boards: riscv: add M5Stack STAMP-C3
  boards/riscv/stamp_c3/Kconfig.board
  boards/riscv/stamp_c3/Kconfig.defconfig
  boards/riscv/stamp_c3/board.cmake
  boards/riscv/stamp_c3/doc/index.rst
  boards/riscv/stamp_c3/stamp_c3-pinctrl.dtsi
  boards/riscv/stamp_c3/stamp_c3.dts
  boards/riscv/stamp_c3/stamp_c3.yaml
  boards/riscv/stamp_c3/stamp_c3_defconfig
  boards/riscv/stamp_c3/support/openocd.cfg
Labels: area: RISCV

#51041 west: update manifest to the new zscilib revision.
  west.yml
Labels: area: West, manifest, manifest-zscilib

#53477 drivers: regulator: shell: fix isdigit() usage
  drivers/regulator/regulator_shell.c
Labels: bug, area: Regulators

#53268 modules: hal_nordic: nrf_802154: RNG xor-shift algorithm
  modules/hal_nordic/nrf_802154/radio/platform/nrf_802154_random_zephyr.c
Labels: manifest-hal_nordic

#53453 driver: systimer: increase esp32c3 tick resolution
  boards/riscv/esp32c3_devkitm/esp32c3_devkitm_defconfig
  boards/riscv/icev_wireless/icev_wireless_defconfig
  boards/riscv/xiao_esp32c3/xiao_esp32c3_defconfig
  drivers/timer/esp32c3_sys_timer.c
  soc/riscv/esp32c3/Kconfig.defconfig
  west.yml
Labels: area: RISCV, area: Timer, platform: ESP32, manifest, manifest-hal_espressif

#53418 drivers: can: mcan: Fix flag overflow for some MCUs
  drivers/can/can_mcan.h
Labels: area: CAN

#53459 twister: bugfix: Make elf scan more precise.
  scripts/pylib/twister/twisterlib/testinstance.py
Labels: bug, Trivial, area: Twister

#53482 Bluetooth: Fix deadlock on meta data context allocation
  subsys/bluetooth/host/att.c
Labels: area: Bluetooth

#53273 tests: clock_control: stm32h7: pll2: Fix test configuration
  tests/drivers/clock_control/stm32_clock_configuration/stm32h7_devices/boards/spi1_pll2p_1.overlay
Labels: platform: STM32, area: Clock Control

#53398 scripts: compliance: add support for YAMLLint
  .github/workflows/compliance.yml
  .yamllint
  scripts/ci/check_compliance.py
  scripts/requirements-compliance.txt
Labels: area: Continuous Integration

#53493 MAINTAINERS: misc update to intel collaborators
  MAINTAINERS.yml
Labels: area: Process

#53380 it8xxx2/espi: protect clear OBF request
  drivers/espi/espi_it8xxx2.c
Labels: area: eSPI, platform: ITE

#53292 espi: it8xxx2: make sure h2ram offset is configured correctly
  drivers/espi/espi_it8xxx2.c
Labels: area: eSPI, platform: ITE

#53469 pm: pm_device_runtime_enable/disable should return 0 when PM is disabled
  include/zephyr/pm/device_runtime.h
Labels: area: Power Management, area: DMA

#53390 sensor: Add some sensor helper funcions for Sensor Subsystem
  include/zephyr/drivers/sensor.h
Labels: area: Sensors

#53515 net: lwm2m: Check return value from lwm2m_rd_client_pause/resume
  subsys/net/lib/lwm2m/lwm2m_engine.c
Labels: area: LWM2M

#53507 drivers: clock_control: esp32: fix cpu_freq divisor typo.
  drivers/clock_control/clock_control_esp32.c
Labels: area: Clock Control, platform: ESP32

#52214 Bluetooth: audio: ascs: Fix possible race condition
  subsys/bluetooth/audio/ascs.c
  subsys/bluetooth/audio/endpoint.h
Labels: bug, area: Bluetooth, area: Bluetooth Audio

#53524 tests: libc: Fix "unused" type of warnings
  tests/lib/c_lib/src/test_strerror.c
Labels: area: C Library, area: Tests, Trivial

#53386 net: lwm2m: Verify data buffer size in lwm2m_engine_set()
  subsys/net/lib/lwm2m/lwm2m_registry.c
Labels: area: LWM2M

#53525 net: ipv4: Fix packet leak with IPv4 autoconf
  subsys/net/l2/ethernet/arp.c
Labels: area: Networking

#53517 boards: stm32: fix --reset argument for stm32cubeprogrammer runner
  boards/arm/b_g474e_dpow1/board.cmake
  boards/arm/b_u585i_iot02a/board.cmake
  boards/arm/lora_e5_dev_board/board.cmake
  boards/arm/nucleo_g071rb/board.cmake
  boards/arm/nucleo_g0b1re/board.cmake
  boards/arm/nucleo_h723zg/board.cmake
  boards/arm/nucleo_h743zi/board.cmake
  boards/arm/nucleo_h753zi/board.cmake
  boards/arm/nucleo_h7a3zi_q/board.cmake
  boards/arm/nucleo_l073rz/board.cmake
  boards/arm/nucleo_u575zi_q/board.cmake
  boards/arm/nucleo_wb55rg/board.cmake
  boards/arm/nucleo_wl55jc/board.cmake
  boards/arm/stm32f3_disco/board.cmake
  boards/arm/stm32g0316_disco/board.cmake
  boards/arm/stm32g071b_disco/board.cmake
  boards/arm/stm32g081b_eval/board.cmake
  boards/arm/stm32l562e_dk/board.cmake
Labels: platform: STM32

#53102 kernel: resolve static analysis false positives
  kernel/timeout.c
Labels: area: Kernel

#53023 Bluetooth: Audio: Add support for encrypted broadcast
  include/zephyr/bluetooth/audio/audio.h
  samples/bluetooth/broadcast_audio_source/src/main.c
  subsys/bluetooth/audio/broadcast_source.c
  subsys/bluetooth/audio/endpoint.h
  subsys/bluetooth/shell/audio.c
  tests/bluetooth/bsim_bt/bsim_test_audio/src/broadcast_source_test.c
Labels: area: Bluetooth, area: Bluetooth Audio

#53485 manifest: Update TF-M to use upstream patch for MBedTLS build warnings
  west.yml
Labels: manifest, manifest-trusted-firmware-m

#52947 doc: security: Disclose CVE information
  doc/security/vulnerabilities.rst
Labels: area: Documentation

#53526 Bluetooth: Host: Add BT_CONN_INTERVAL_TO_US
  include/zephyr/bluetooth/conn.h
  samples/bluetooth/iso_broadcast_benchmark/src/receiver.c
  samples/bluetooth/iso_receive/src/main.c
  subsys/bluetooth/host/att.c
  subsys/bluetooth/shell/bt.c
Labels: area: Bluetooth

#53127 Bluetooth: controller: consider host ctrl feature bits in feat exchange
  subsys/bluetooth/controller/ll_sw/ull_llcp.c
  subsys/bluetooth/controller/ll_sw/ull_llcp_pdu.c
  tests/bluetooth/controller/common/defaults_cmake.txt
  tests/bluetooth/controller/ctrl_feature_exchange/src/main.c
  tests/bluetooth/controller/mock_ctrl/include/kconfig.h
Labels: area: Bluetooth, area: Bluetooth Controller, area: Bluetooth LLCP

#53545 Application development documentation improvements
  doc/develop/application/index.rst
Labels: area: Documentation

#53562 tests: drivers: counter: counter_basic_api: src: Fix STM32 RTC device
  tests/drivers/counter/counter_basic_api/src/test_counter.c
Labels: area: Counter

#53359 riscv: Add support for hardware stacking / unstacking
  arch/riscv/Kconfig
  arch/riscv/core/isr.S
  include/zephyr/arch/riscv/exp.h
Labels: area: RISCV

#48895 [WIP] random: changed implementation of rand32_timer.c
  doc/services/crypto/random/index.rst
  samples/subsys/usb/hid-cdc/boards/nrf5340dk_nrf5340_cpuapp.conf
  subsys/random/CMakeLists.txt
  subsys/random/Kconfig
  subsys/random/rand32_test.c
  tests/crypto/rand32/prj_sw_random_systimer.conf
  tests/net/lib/mqtt_publisher/prj_tls.conf
  tests/ztest/base/prj_verbose_0.conf
Labels: area: Networking, area: USB, area: Crypto / RNG, area: Testsuite, area: Random

#53601 Revert "random: Change testing random generator"
  doc/services/crypto/random/index.rst
  samples/subsys/usb/hid-cdc/boards/nrf5340dk_nrf5340_cpuapp.conf
  subsys/random/CMakeLists.txt
  subsys/random/Kconfig
  subsys/random/rand32_timer.c
  tests/crypto/rand32/prj_sw_random_systimer.conf
  tests/net/lib/mqtt_publisher/prj_tls.conf
  tests/ztest/base/prj_verbose_0.conf
Labels: area: Networking, area: USB, area: Crypto / RNG, Hotfix, area: Testsuite, area: Random

#53521 Bluetooth: Audio: Add bt_audio_dir_str to improve logging of dir
  subsys/bluetooth/audio/ascs.c
  subsys/bluetooth/audio/audio_internal.h
  subsys/bluetooth/audio/audio_iso.c
  subsys/bluetooth/audio/pacs.c
  subsys/bluetooth/audio/stream.c
  subsys/bluetooth/audio/unicast_client.c
Labels: area: Bluetooth, area: Bluetooth Audio

#53448 Bluetooth: ISO: Fix bad handle of data path error for broadcast
  subsys/bluetooth/host/iso.c
Labels: bug, area: Bluetooth

#52756 Bluetooth: Audio: TBS: Fix read buffer
  subsys/bluetooth/audio/tbs_client.c
  subsys/bluetooth/audio/tbs_internal.h
Labels: area: Bluetooth, area: Bluetooth Audio

#53578 added uuids for TMAS and PBA.
  include/zephyr/bluetooth/uuid.h
Labels: area: Bluetooth

#53404 samples: bluetooth: Add sample demonstrating accept fliter list
  samples/bluetooth/peripheral_accept_list/CMakeLists.txt
  samples/bluetooth/peripheral_accept_list/README.rst
  samples/bluetooth/peripheral_accept_list/prj.conf
  samples/bluetooth/peripheral_accept_list/sample.yaml
  samples/bluetooth/peripheral_accept_list/src/main.c
Labels: area: Bluetooth

#53176 Bluetooth: Host: Fix access of uninitialized bt_dev.le.acl_pkts
  subsys/bluetooth/host/conn.c
Labels: area: Bluetooth

#53239 drivers: usb: make USB VBUS sensing configurable for STM32 devices
  drivers/usb/device/usb_dc_stm32.c
Labels: area: USB, platform: STM32

#53615 bindings: fuel-gauge: drop redundant compatible
  dts/bindings/fuel-gauge/fuel-gauge.yaml
Labels: Trivial, area: Devicetree Binding, area: Fuel Gauge

#53622 Bluetooth: host: clear ATT_CONNECTED flag on detach
  subsys/bluetooth/host/att.c
Labels: area: Bluetooth, area: Bluetooth Host

#53603 drivers: flash: stm32: Use consistent log priorities
  drivers/flash/flash_stm32f1x.c
Labels: area: Flash, platform: STM32

#53588 subsys/rtio: Add libc partition for usermode API test
  tests/subsys/rtio/rtio_api/src/main.c
Labels: area: RTIO

#53547 cmake: Fix typo by replacing zephyr_library_add_sources
  cmake/modules/extensions.cmake
Labels: area: Build System, Trivial

#53440 net: ip: net_context: AF_PACKET/SOCK_RAW/IPPROTO_RAW: set pkt family
  drivers/net/ppp.c
  subsys/net/ip/net_context.c
  subsys/net/l2/ethernet/ethernet.c
Labels: area: Networking

#53364 riscv: Allow SOC to override arch_irq_{lock,unlock,unlocked}
  arch/riscv/Kconfig
  include/zephyr/arch/riscv/arch.h
Labels: area: RISCV

#53629 subsys/settings/fcb: removed unused var
  subsys/settings/src/settings_fcb.c
Labels: area: Settings

#53595 Revert "test: log_output: Exclude qemu_arc_hs5x"
  tests/subsys/logging/log_output/testcase.yaml
Labels: area: Logging

#53599 Bluetooth: Audio: Shell: Fix compile warning for 0 client snk/src ASE
  subsys/bluetooth/shell/audio.c
Labels: area: Bluetooth

#53592 net: tcp: Extend TCP receive queue timeout
  subsys/net/ip/Kconfig
  tests/net/socket/tcp/prj.conf
  tests/net/tcp/prj.conf
Labels: area: Networking, area: Sockets

#53594 drivers: flash: bug fix inline function was not inlined
  drivers/flash/flash_rpi_pico.c
Labels: area: Flash

#52166 net: wifi_mgmt: Add support for power save configuration
  include/zephyr/net/wifi.h
  include/zephyr/net/wifi_mgmt.h
  subsys/net/l2/wifi/wifi_mgmt.c
  subsys/net/l2/wifi/wifi_shell.c
Labels: area: Networking, area: WiFi

#53637 tests/net/socket: fix compiler warnings
  tests/net/socket/af_packet_ipproto_raw/src/main.c
  tests/net/socket/misc/src/main.c
Labels: area: Networking, area: Sockets

#53618 Bluetooth: Audio: Modify the compile guard for audio_iso.c
  subsys/bluetooth/audio/CMakeLists.txt
Labels: area: Bluetooth, area: Bluetooth Audio

#53220 boards: make names in platform YAML files unique
  boards/arm/arduino_portenta_h7/arduino_portenta_h7_m4.yaml
  boards/arm/arduino_portenta_h7/arduino_portenta_h7_m7.yaml
  boards/arm/blackpill_f401cc/blackpill_f401cc.yaml
  boards/arm/blackpill_f401ce/blackpill_f401ce.yaml
  boards/arm/cy8ckit_062_ble/cy8ckit_062_ble_m0.yaml
  boards/arm/cy8ckit_062_ble/cy8ckit_062_ble_m4.yaml
  boards/arm/cy8ckit_062_wifi_bt/cy8ckit_062_wifi_bt_m0.yaml
  boards/arm/cy8ckit_062_wifi_bt/cy8ckit_062_wifi_bt_m4.yaml
  boards/arm/lpcxpresso55s69/lpcxpresso55s69_cpu0.yaml
  boards/arm/lpcxpresso55s69/lpcxpresso55s69_cpu1.yaml
  boards/arm/lpcxpresso55s69/lpcxpresso55s69_ns.yaml
  boards/arm/nucleo_h745zi_q/nucleo_h745zi_q_m4.yaml
  boards/arm/nucleo_h745zi_q/nucleo_h745zi_q_m7.yaml
  boards/arm/stm32_min_dev/stm32_min_dev_black.yaml
  boards/arm/stm32_min_dev/stm32_min_dev_blue.yaml
  boards/arm/stm32h747i_disco/stm32h747i_disco_m4.yaml
  boards/arm/stm32h747i_disco/stm32h747i_disco_m7.yaml
  boards/riscv/rv32m1_vega/rv32m1_vega_ri5cy.yaml
  boards/riscv/rv32m1_vega/rv32m1_vega_zero_riscy.yaml
  boards/xtensa/esp32s2_franzininho/esp32s2_franzininho.yaml
  boards/xtensa/esp32s2_saola/esp32s2_saola.yaml
Labels: area: RISCV, platform: STM32, platform: NXP, platform: ESP32

#52892 samples: Explicitly disable boot USB device support init at boot
  samples/bluetooth/hci_uart/boards/nrf52840dongle_nrf52840.conf
  samples/bluetooth/hci_usb/prj.conf
  samples/bluetooth/hci_usb_h4/prj.conf
  samples/boards/sensortile_box/prj.conf
  samples/net/sockets/echo_server/overlay-netusb.conf
  samples/net/wpan_serial/prj.conf
  samples/net/wpanusb/prj.conf
  samples/net/zperf/overlay-netusb.conf
  samples/sensor/fxos8700-hid/prj.conf
  samples/subsys/mgmt/mcumgr/smp_svr/overlay-cdc.conf
  samples/subsys/modbus/rtu_server/overlay-cdc-acm.conf
  samples/subsys/shell/shell_module/overlay-usb.conf
  samples/subsys/tracing/prj_usb.conf
  samples/subsys/tracing/prj_usb_ctf.conf
  samples/subsys/usb/audio/headphones_microphone/prj.conf
  samples/subsys/usb/audio/headset/prj.conf
  samples/subsys/usb/cdc_acm/prj.conf
  samples/subsys/usb/cdc_acm_composite/prj.conf
  samples/subsys/usb/console/prj.conf
  samples/subsys/usb/dfu/prj.conf
  samples/subsys/usb/hid-cdc/prj.conf
  samples/subsys/usb/hid-mouse/prj.conf
  samples/subsys/usb/hid/prj.conf
  samples/subsys/usb/mass/prj.conf
  samples/subsys/usb/testusb/prj.conf
  samples/subsys/usb/webusb/prj.conf
Labels: area: Bluetooth, area: Networking, area: Sensors, area: USB, area: Shell, area: mcumgr, area: Sockets, area: Tracing, area: modbus

#53539 net: shell: Add support to set Ethernet MAC address
  subsys/net/ip/net_shell.c
Labels: area: Networking

#53501 sd: update SD subsys to use sdmmc_wait_ready in SPI mode
  subsys/sd/sdmmc.c
Labels: area: Disk Access

#53561 mgmt: mcumgr: Select console if using UART transport
  subsys/mgmt/mcumgr/transport/Kconfig.uart
Labels: bug, area: mcumgr

#53653 samples: mgmt: mcumgr: Fix fs overlay
  samples/subsys/mgmt/mcumgr/smp_svr/overlay-fs.conf
Labels: area: mcumgr

#53274 Bluetooth: controller: Fix JIT rescheduling for ext. advertising
  subsys/bluetooth/controller/ll_sw/nordic/lll/lll_adv.c
  subsys/bluetooth/controller/ll_sw/ull_adv.c
Labels: area: Bluetooth, area: Bluetooth Controller

#53657 arch/x86: Fix compilation error
  arch/x86/core/cache.c
Labels: area: X86, Hotfix

#53662 net: zperf: Fix potential build warning
  subsys/net/lib/zperf/zperf_shell.c
Labels: area: Networking, Trivial

#53627 scripts: kconfig: Add functions for array/chosen props
  doc/build/kconfig/preprocessor-functions.rst
  scripts/kconfig/kconfigfunctions.py
Labels: area: Build System, area: Devicetree, area: Kconfig

#53445 doc: develop: api: overview: mark the CAN controller driver API stable
  doc/develop/api/overview.rst
Labels: area: Documentation, area: CAN

#53557 doc: tfm: Document how to pass list arguments to the TF-M build system
  doc/services/tfm/build.rst
Labels: area: Documentation, area: TF-M

#53681 tests: obj_validation: Call setup function
  tests/kernel/mem_protect/obj_validation/src/main.c
Labels: area: Kernel, area: Userspace

#53686 MAINTAINERS: mem_protect tests are part of userspace
  MAINTAINERS.yml
Labels: area: Process

#53252 twister: fix hardware map updates
  scripts/pylib/twister/twisterlib/hardwaremap.py
Labels: area: Twister

#53529 tests: Bluetooth: Mesh: create reduced legacy configuration
  tests/bluetooth/mesh_shell/prj.conf
  tests/bluetooth/mesh_shell/reduced_legacy.conf
  tests/bluetooth/mesh_shell/testcase.yaml
Labels: area: Bluetooth, area: Bluetooth Mesh

#53646 driver: i2c: npcx: simplify smb bank registers with union
  drivers/i2c/i2c_npcx_controller.c
  soc/arm/nuvoton_npcx/common/reg/reg_def.h
  soc/arm/nuvoton_npcx/common/registers.c
Labels: area: I2C, platform: Nuvoton NPCX

#53664 drivers: can: fake: fix header guards
  include/zephyr/drivers/can/can_fake.h
Labels: area: CAN, Trivial

#53683 samples: posix: gettimeofday: include time.h
  samples/posix/gettimeofday/src/main.c
Labels: bug, area: POSIX, Trivial

#53623 drivers: ethernet: fix error UDP server on STM32
  drivers/ethernet/eth_stm32_hal.c
Labels: platform: STM32, area: Ethernet

#53647 ITE dts/riscv/ite: separate dtsi node to it81xx2 from it8xxx2
  dts/riscv/ite/it81xx2.dtsi
  dts/riscv/ite/it8xxx2.dtsi
Labels: platform: ITE

#53671 lib: os: Fix note on fdtable.c
  lib/os/fdtable.c
Labels: area: Base OS

#53659 net: stats: Fix UDP packet counter for DHCPv4 TX
  subsys/net/ip/dhcpv4.c
Labels: area: Networking

#53669 boards: nrf52840dongle_nrf52840: restore storage partition
  boards/arm/nrf52840dongle_nrf52840/fstab-stock.dts
Labels: platform: nRF

#53661 Revert "soc: intel_adsp/ace: fix CPU halting"
  soc/xtensa/intel_adsp/ace/multiprocessing.c
Labels: platform: Intel ADSP

#53701 boards: ronoth_lodev: Enable HSI48 clock
  boards/arm/ronoth_lodev/ronoth_lodev.dts
Labels: Hotfix

#53016 drivers: xec_qmspi: add missing default y to SPI_XEC_QMSPI_FULL_DUPLEX
  drivers/spi/Kconfig.xec_qmspi
Labels: area: SPI, Trivial

#53119 Bluetooth: Audio: Remove unicast_group_valid_qos
  subsys/bluetooth/audio/stream.c
Labels: area: Bluetooth, area: Bluetooth Audio

#53554 usb: device_next: rename Kconfig template for instances count
  subsys/usb/device_next/class/Kconfig.loopback
  subsys/usb/device_next/class/Kconfig.template.composite_device_number
  subsys/usb/device_next/class/Kconfig.template.instances_count
  subsys/usb/device_next/class/loopback.c
Labels: area: USB, Experimental

#53581 Add Sink Only Config to sink sample
  samples/subsys/usb_c/sink/prj.conf
Labels: area: USB-C

#53725 twister: support namespacing of extra configs
  doc/develop/test/twister.rst
  scripts/pylib/twister/twisterlib/testinstance.py
Labels: area: Documentation, area: Twister

#53724 gpio: Fix GPIO_DT_SPEC_INST_GET_BY_IDX_OR macro
  include/zephyr/drivers/gpio.h
Labels: area: GPIO, area: Devicetree

#53394 drivers: dai: intel: dmic: don't use assert for error handling
  drivers/dai/intel/dmic/dmic.c
Labels: platform: Intel ADSP, area: DAI

#53722 net: ethernet: Check return value for start/stop
  subsys/net/l2/ethernet/ethernet.c
Labels: area: Networking

#52369 sysbuild: Fix board revisions not being passed to target images
  share/sysbuild/cmake/modules/sysbuild_extensions.cmake
Labels: area: Build System

#53734 net: l2: ieee802154: fix double address swap
  subsys/net/l2/ieee802154/ieee802154.c
  subsys/net/l2/ieee802154/ieee802154_6lo.c
Labels: area: Networking

#53739 doc: release: 3.3: Add missing MCUmgr Kconfig replacements
  doc/releases/release-notes-3.3.rst
Labels: area: Documentation, Release Notes

#53703 soc: nrf53: Fix extraction of the XOSC32MTRIM.SLOPE bitfield
  soc/arm/nordic_nrf/nrf53/soc.c
Labels: bug, platform: nRF

#53718 Bluetooth: Host: Improve resolved address handling
  subsys/bluetooth/host/addr.c
  subsys/bluetooth/host/addr_internal.h
  subsys/bluetooth/host/adv.c
  subsys/bluetooth/host/conn.c
  subsys/bluetooth/host/hci_core.c
  subsys/bluetooth/host/scan.c
Labels: area: Bluetooth

#53668 dts: arm: st: Fix type in clock assignment of timer15
  dts/arm/st/g0/stm32g070.dtsi
Labels: platform: STM32

#53735 boards: stm32l412: fifo compatibility to spi2
  dts/arm/st/l4/stm32l412.dtsi
Labels: platform: STM32

#53245 drivers: entropy: Add Gecko trng driver for EFR32BG22
  boards/arm/efr32bg_sltb010a/efr32bg_sltb010a.dts
  drivers/entropy/Kconfig.gecko
  drivers/entropy/entropy_gecko_trng.c
  dts/arm/silabs/efr32bg22.dtsi
  soc/arm/silabs_exx32/Kconfig
Labels: area: Crypto / RNG, platform: SiLabs

#53447 IP and route configuration support
  subsys/net/ip/net_shell.c
Labels: area: Networking, manifest, manifest-hal_nordic

#53675 manifest: update NXP HAL
  west.yml
Labels: manifest, manifest-hal_nxp

#53758 tests: kernel: fatal: Catch EPSR reason code
  tests/kernel/fatal/no-multithreading/src/main.c
Labels: bug, priority: low, area: Kernel, area: ARM, area: Tests, Hotfix

#53747 tests: use namespacing in extra_configs and drop duplicated scenarios
  tests/benchmarks/app_kernel/testcase.yaml
  tests/crypto/mbedtls/testcase.yaml
  tests/kernel/fpu_sharing/float_disable/testcase.yaml
Labels: area: Kernel, area: Crypto / RNG

#53745 doc: ztest: Include ztress to API reference
  doc/develop/test/ztest.rst
  subsys/testsuite/ztest/include/zephyr/ztress.h
Labels: area: Documentation, area: Testsuite

#53733 net: ipv4: Added mechanism to add 224.0.0.1 address to a multicast filter
  subsys/net/ip/Kconfig.ipv4
  subsys/net/ip/igmp.c
  subsys/net/ip/net_if.c
  subsys/net/ip/net_private.h
Labels: area: Networking

#53519 sysbuild: Check for duplicate image names
  share/sysbuild/CMakeLists.txt
Labels: area: Build System

#53672 net: lwm2m: fix senml cbor compiler warning
  subsys/net/lib/lwm2m/lwm2m_rw_senml_cbor.c
Labels: area: LWM2M

#52530 Bluetooth: audio: Add configurable PACS supported contexts
  include/zephyr/bluetooth/audio/pacs.h
  subsys/bluetooth/audio/pacs.c
  subsys/bluetooth/shell/audio.c
  tests/bluetooth/bsim_bt/bsim_test_audio/src/unicast_server_test.c
Labels: area: Bluetooth, area: Bluetooth Audio

#53678 net: lwm2m: fix observation path list ordering
  subsys/net/lib/lwm2m/lwm2m_observation.c
  subsys/net/lib/lwm2m/lwm2m_observation.h
  tests/net/lib/lwm2m/engine/CMakeLists.txt
  tests/net/lib/lwm2m/engine/prj.conf
  tests/net/lib/lwm2m/engine/src/lwm2m_observation.c
  tests/net/lib/lwm2m/engine/testcase.yaml
Labels: area: Networking, area: LWM2M

#53416 samples: modules: canopennode: convert to sysbuild
  samples/modules/canopennode/CMakeLists.txt
  samples/modules/canopennode/README.rst
  samples/modules/canopennode/sample.yaml
  samples/modules/canopennode/sysbuild.conf
Labels: area: Samples, area: CAN

#53776 net: lwm2m: fix observation path list ordering test
  tests/net/lib/lwm2m/engine/src/lwm2m_observation.c
Labels: area: Networking, Hotfix

#53541 net: wifi: Add support for regulatory domain configuration
  include/zephyr/net/wifi.h
  include/zephyr/net/wifi_mgmt.h
  subsys/net/l2/wifi/wifi_mgmt.c
  subsys/net/l2/wifi/wifi_shell.c
Labels: area: Networking

#53764 net: l2: ieee802154: ensure L2/L3 recv package handover
  tests/net/ieee802154/l2/prj.conf
  tests/net/ieee802154/l2/src/ieee802154_test.c
Labels: area: Networking

#53770 MAINTAINERS: Mark subsys/mgmt/osdp as maintained
  MAINTAINERS.yml
Labels: area: Process

#53600 boards: arm: sparkfun_pro_micro_rp2040: rename board directory
  boards/arm/sparkfun_pro_micro_rp2040/Kconfig.board
  boards/arm/sparkfun_pro_micro_rp2040/Kconfig.defconfig
  boards/arm/sparkfun_pro_micro_rp2040/board.cmake
  boards/arm/sparkfun_pro_micro_rp2040/doc/img/sparkfun_pro_micro_rp2040.jpg
  boards/arm/sparkfun_pro_micro_rp2040/doc/index.rst
  boards/arm/sparkfun_pro_micro_rp2040/sparkfun_pro_micro_connector.dtsi
  boards/arm/sparkfun_pro_micro_rp2040/sparkfun_pro_micro_rp2040-pinctrl.dtsi
  boards/arm/sparkfun_pro_micro_rp2040/sparkfun_pro_micro_rp2040.dts
  boards/arm/sparkfun_pro_micro_rp2040/sparkfun_pro_micro_rp2040.yaml
  boards/arm/sparkfun_pro_micro_rp2040/sparkfun_pro_micro_rp2040_defconfig
Labels: area: Boards, Trivial

#53075 drivers: pwm: pwm_mcux: Reload mode option
  drivers/pwm/pwm_mcux.c
  dts/bindings/pwm/nxp,imx-pwm.yaml
Labels: area: PWM, platform: NXP, area: Devicetree Binding

#53787 tracing: Fix systemview tracing ids
  subsys/tracing/sysview/tracing_sysview_ids.h
Labels: bug, area: Tracing

#53827 Samples: Bluetooth: hci_rpmsg add missing platform_allow
  samples/bluetooth/hci_rpmsg/sample.yaml
Labels: area: Bluetooth, Hotfix, Trivial

#52932 Bluetooth: Mesh: Friendship improvements
  subsys/bluetooth/mesh/Kconfig
  subsys/bluetooth/mesh/adv.c
  subsys/bluetooth/mesh/adv.h
  subsys/bluetooth/mesh/adv_ext.c
  subsys/bluetooth/mesh/friend.c
Labels: area: Bluetooth, area: Bluetooth Mesh

#53830 samples: Bluetooth: Update Readme of large MTU sample
  samples/bluetooth/mtu_update/README.rst
Labels: area: Bluetooth

#53824 Bluetooth: Audio: Fix issue with invalid bt_conn_ref in ASCS
  subsys/bluetooth/audio/ascs.c
  subsys/bluetooth/audio/stream.c
Labels: bug, area: Bluetooth, area: Bluetooth Audio

#53740 Bluetooth: has: Fix HAS features value
  include/zephyr/bluetooth/audio/has.h
  subsys/bluetooth/audio/has.c
Labels: area: Bluetooth, area: Bluetooth Audio

#53841 cpp: Fix toolchain C++ standard library linkage
  CMakeLists.txt
Labels: area: Build System, Hotfix

#53792 dts: bindings: fix missing information in fixed-partitions
  dts/bindings/mtd/fixed-partitions.yaml
Labels: area: Devicetree Binding

#53845 MAINTAINERS: Add kruithofa to Bluetooth Audio
  MAINTAINERS.yml
Labels: area: Process

#53837 Bluetooth: Controller: Fix slot_plus_us by converting max CTE len to us
  subsys/bluetooth/controller/ll_sw/ull_df.c
Labels: area: Bluetooth, area: Bluetooth Controller
