Repository zephyrproject-rtos/zephyr, pull requests merged in 2023-05, with the labels that each got.

#57367 intel_adsp: power: add missing header
  soc/xtensa/intel_adsp/ace/power.c
Labels: platform: Intel ADSP

#57121 twister: add options to shuffle tests across subsets
  scripts/pylib/twister/twisterlib/environment.py
  scripts/pylib/twister/twisterlib/testplan.py
Labels: Maintainer, area: Twister

#56624 MAINTAINERS: move release notes to release section
  MAINTAINERS.yml
Labels: area: Process, Trivial

#57415 test: drivers: can: move build-only tests to proper location
  MAINTAINERS.yml
  tests/drivers/build_all/can/CMakeLists.txt
  tests/drivers/build_all/can/prj.conf
  tests/drivers/build_all/can/src/main.c
  tests/drivers/build_all/can/testcase.yaml
  tests/drivers/can/api/testcase.yaml
Labels: area: Process, area: CAN, Trivial

#57425 Bluetooth: controller: Kconfig TX power dBm
  subsys/bluetooth/controller/Kconfig
Labels: area: Bluetooth, area: Bluetooth Controller

#57395 Update nucleo_f303re.dts to match board labels
  boards/arm/nucleo_f303re/nucleo_f303re.dts
Labels: platform: STM32

#57383 dts/sparc/gaisler: add SoC and board compatible strings
  boards/sparc/generic_leon3/generic_leon3.dts
  boards/sparc/gr716a_mini/gr716a_mini.dts
  dts/sparc/gaisler/gr716a.dtsi
  dts/sparc/gaisler/leon3soc.dtsi
Labels: area: SPARC

#57308 boards: arm: atsame54_xpro: Add I2C MAC chip
  boards/arm/atsame54_xpro/Kconfig.defconfig
  boards/arm/atsame54_xpro/atsame54_xpro.dts
Labels: platform: Microchip SAM

#57303 drivers: ethernet: eth_mcux: fix double-promotion warnings
  drivers/ethernet/eth_mcux.c
Labels: platform: NXP, area: Ethernet

#57402 drivers: pcie_ep: iproc: compile-out unused function based on DT
  drivers/pcie/endpoint/pcie_ep_iproc.c
Labels: area: Drivers, area: PCI, Trivial

#57384 Bluetooth: BAP: Add specific error code for stopping stopped sink
  subsys/bluetooth/audio/bap_broadcast_sink.c
Labels: area: Bluetooth, Trivial, area: Bluetooth Audio

#57474 drivers: flash: bug fix select correct erase address mode
  drivers/flash/flash_stm32_ospi.c
  drivers/flash/spi_nor.h
Labels: area: Flash, platform: STM32

#56130 Shell: Add capability to retrieve command return codes.
  include/zephyr/shell/shell.h
  subsys/shell/Kconfig
  subsys/shell/shell.c
  subsys/shell/shell_cmds.c
  subsys/shell/shell_ops.h
Labels: area: Shell

#57479 Bluetooth: Host: Fix sync subevent cmd length
  subsys/bluetooth/host/scan.c
Labels: area: Bluetooth, area: Bluetooth Host

#57339 tests: tickless_concept: Fix failures seen on NXP RT595 & RT685
  tests/kernel/tickless/tickless_concept/boards/mimxrt595_evk_cm33.conf
  tests/kernel/tickless/tickless_concept/boards/mimxrt595_evk_cm33.overlay
Labels: area: Kernel, platform: NXP

#57313 west.yml: Update NXP HAL to pull in latest USB driver
  west.yml
Labels: platform: NXP, manifest, manifest-hal_nxp

#57374 nxp_adsp: Do not use xtensa hal with xcc-clang
  soc/xtensa/nxp_adsp/imx8/Kconfig.series
  soc/xtensa/nxp_adsp/imx8m/Kconfig.series
Labels: platform: NXP

#57484 twister: automatically add module board roots
  scripts/pylib/twister/twisterlib/environment.py
Labels: area: Twister

#57482 tests: Bluetooth: Mesh: run bsim mesh tests from non-preemptible thread
  tests/bsim/bluetooth/mesh/src/main.c
  tests/bsim/bluetooth/mesh/src/test_blob.c
  tests/bsim/bluetooth/mesh/src/test_friendship.c
  tests/bsim/bluetooth/mesh/src/test_transport.c
Labels: bug, area: Bluetooth, area: Bluetooth Mesh

#57450 drivers: uart_mcux: Do not select async support
  drivers/serial/Kconfig.mcux
Labels: area: UART

#55742 drivers: kscan: gt911: ignore touch events if TOUCH_STATUS mask is clear
  drivers/kscan/kscan_gt911.c
Labels: area: Kscan

#57205 kernel: idle: fix build error on arm-clang
  kernel/idle.c
Labels: area: Kernel, Trivial

#57497 drivers: spi: xmc4xxx: Fix compilation with interrupt enabled and dma disabled
  drivers/spi/spi_xmc4xxx.c
Labels: bug, area: SPI, Hotfix, platform: Infineon

#57487 tfm: Print memory usage of TF-M built executables
  modules/trusted-firmware-m/CMakeLists.txt
Labels: manifest-trusted-firmware-m, area: TF-M

#57445 lib: cpp: Introduce FULL_LIBCPP_SUPPORTED similar to C version
  Kconfig.zephyr
  lib/cpp/Kconfig
Labels: area: C++

#57228 net: lwm2m: use path as block context retrieval
  subsys/net/lib/lwm2m/lwm2m_message_handling.c
  subsys/net/lib/lwm2m/lwm2m_object.h
  subsys/net/lib/lwm2m/lwm2m_rw_oma_tlv.c
  subsys/net/lib/lwm2m/lwm2m_rw_senml_cbor.c
Labels: area: LWM2M

#57388 cmake: linker: arm: put RAM sections in RAM region
  cmake/linker_script/arm/linker.cmake
  cmake/modules/extensions.cmake
Labels: area: Build System, Maintainer

#57463 doc: services: storage: flash_map: Fix include references
  doc/services/storage/flash_map/flash_map.rst
Labels: area: Storage

#57480 drivers: timer: stm32u5 lptimer wait for ready only once
  drivers/timer/stm32_lptim_timer.c
Labels: area: Timer, platform: STM32

#57514 pinctrl: imx: Readability Fixes
  drivers/pinctrl/pinctrl_imx.c
Labels: platform: NXP, area: Pinctrl

#57097 samples: modules: thrift: Add newlib filter to samples.yaml
  samples/modules/thrift/hello/client/prj.conf
  samples/modules/thrift/hello/client/sample.yaml
  samples/modules/thrift/hello/server/prj.conf
  samples/modules/thrift/hello/server/sample.yaml
Labels: area: C++, manifest-thrift

#57500 drivers: flash: 4 byte address mode fix, if write enable is required
  drivers/flash/flash_stm32_qspi.c
Labels: area: Flash, platform: STM32

#57434 Improvements for NXP MIMXRT1060-EVK(B)
  boards/arm/mimxrt1060_evk/mimxrt1060_evk.dts
  boards/arm/mimxrt1060_evk/mimxrt1060_evk.yaml
  boards/arm/mimxrt1060_evk/mimxrt1060_evk_hyperflash.yaml
  boards/arm/mimxrt1060_evk/mimxrt1060_evkb.yaml
Labels: platform: NXP

#57369 soc: arm: imx_rt10xx: enable code cache during boot
  soc/arm/nxp_imx/rt/soc_rt10xx.c
Labels: platform: NXP

#56979 Bluetooth:controller: disallow enc start/pause when CIS established
  subsys/bluetooth/controller/ll_sw/ull_central.c
  subsys/bluetooth/controller/ll_sw/ull_llcp.c
  subsys/bluetooth/controller/ll_sw/ull_llcp.h
  subsys/bluetooth/controller/ll_sw/ull_llcp_internal.h
  subsys/bluetooth/controller/ll_sw/ull_llcp_local.c
  tests/bluetooth/controller/ctrl_api/src/main.c
Labels: area: Bluetooth, area: Bluetooth Controller

#54868 ARC: Add mpuv8 support
  arch/arc/core/mpu/Kconfig
  arch/arc/core/mpu/arc_mpu.c
  include/zephyr/arch/arc/arch.h
  include/zephyr/arch/arc/v2/linker.ld
Labels: area: ARC

#57491 wio terminal: fix documentation syntax
  boards/arm/wio_terminal/doc/index.rst
Labels: area: Documentation, Trivial

#57429 ci: bsim workflow: Update bsim to version pointed by manifest
  .github/workflows/bsim-tests.yaml
Labels: area: Continuous Integration

#57538 samples lvgl: Fix build warning with GPIO=n
  samples/subsys/display/lvgl/src/main.c
Labels: bug, area: Display, Trivial

#57212 ARC: tweak _st32_huge_offset macro to have same behaviour with GNU & MWDT
  arch/arc/include/swap_macros.h
Labels: area: ARC

#56601 boards: Add support for SiLabs xG24-PK6010A board
  boards/arm/efr32_radio/CMakeLists.txt
  boards/arm/efr32_radio/Kconfig.board
  boards/arm/efr32_radio/Kconfig.defconfig
  boards/arm/efr32_radio/board.c
  boards/arm/efr32_radio/board.cmake
  boards/arm/efr32_radio/doc/brd4187c.rst
  boards/arm/efr32_radio/doc/efr32mg24-xg24-rb4187c.jpg
  boards/arm/efr32_radio/doc/index.rst
  boards/arm/efr32_radio/efr32_radio_brd4187c.dts
  boards/arm/efr32_radio/efr32_radio_brd4187c.yaml
  boards/arm/efr32_radio/efr32_radio_brd4187c_defconfig
  boards/arm/efr32_radio/sl_device_init_hfxo_config.h
  dts/arm/silabs/efr32mg24b220f1536im48.dtsi
  soc/arm/silabs_exx32/efr32mg24/Kconfig.defconfig.series
  soc/arm/silabs_exx32/efr32mg24/Kconfig.soc
Labels: platform: SiLabs, manifest, manifest-hal_silabs

#57380 flash_simulator: add ability to use memory region
  doc/releases/release-notes-3.4.rst
  drivers/flash/flash_simulator.c
  dts/bindings/flash_controller/zephyr,sim-flash.yaml
  tests/drivers/flash_simulator/boards/nucleo_f411re.overlay
  tests/drivers/flash_simulator/src/main.c
  tests/drivers/flash_simulator/testcase.yaml
Labels: area: Flash, Release Notes, area: Devicetree Binding

#57522 samples: modules: can opennode runs on stm32h573i_dk
  samples/modules/canopennode/boards/stm32h573i_dk.overlay
Labels: platform: STM32, area: CAN

#57528 soc: arm: nxp: ensure code cache is enabled at boot for RT11xx
  soc/arm/nxp_imx/rt/soc_rt11xx.c
Labels: platform: NXP

#57550 Bluetooth: Host: Fix PHY translation from HCI
  subsys/bluetooth/host/scan.c
Labels: area: Bluetooth, area: Bluetooth Host

#57529 sysbuild: Add SB_OVERLAY_CONFIG
  cmake/modules/configuration_files.cmake
  cmake/modules/kconfig.cmake
  share/sysbuild/cmake/modules/sysbuild_kconfig.cmake
Labels: area: Build System, area: Sysbuild

#57544 cmake: Also build C++ files as no-pic
  CMakeLists.txt
Labels: area: Build System

#56848 drivers: flash: stm32 ospi: fix jedec id read for non OPI mode
  drivers/flash/flash_stm32_ospi.c
Labels: bug, area: Flash, platform: STM32, area: OSPI

#57519 drivers: ethernet: eth_stm32_hal: Fix cppcheck warning
  drivers/ethernet/eth_stm32_hal.c
Labels: platform: STM32, area: Ethernet

#57588 drivers: usb_dc_nrfx: Enable SOF interrupts only when needed
  drivers/usb/device/usb_dc_nrfx.c
Labels: area: USB

#57582 manifest: update STM32 HAL pinctrl files
  west.yml
Labels: manifest, manifest-hal_stm32

#57591 Samples: Bluetooth: Fix PAwR sample backing store array
  samples/bluetooth/periodic_adv_conn/src/main.c
  samples/bluetooth/periodic_adv_rsp/src/main.c
Labels: area: Bluetooth

#56044 drivers: i2c: microchip: I2C reset fix
  drivers/clock_control/clock_control_mchp_xec.c
  drivers/i2c/i2c_mchp_xec.c
  drivers/i2c/i2c_mchp_xec_v2.c
  dts/arm/microchip/mec1501hsz.dtsi
  dts/bindings/i2c/microchip,xec-i2c.yaml
  include/zephyr/drivers/clock_control/mchp_xec_clock_control.h
Labels: area: I2C, area: Clock Control, platform: Microchip MEC, area: Devicetree Binding

#56864 drivers: i2c: nrfx: add multithreading dependency
  drivers/i2c/Kconfig.nrfx
Labels: area: I2C

#57545 Bluetooth: Audio: Shell: Move audio defines to audio.h
  subsys/bluetooth/audio/shell/audio.h
  subsys/bluetooth/audio/shell/cap_initiator.c
  subsys/bluetooth/shell/bt.h
Labels: area: Bluetooth, area: Bluetooth Audio

#57546 Bluetooth: Audio: Fix enum mismatch for codec get chan alloc
  include/zephyr/bluetooth/audio/audio.h
  samples/bluetooth/hap_ha/src/bap_unicast_sr.c
  samples/bluetooth/unicast_audio_server/src/main.c
  tests/bluetooth/tester/src/btp_bap.c
Labels: area: Bluetooth, Trivial, area: Bluetooth Audio

#57503 bbram: Add documentation
  doc/hardware/peripherals/bbram.rst
  doc/hardware/peripherals/index.rst
  include/zephyr/drivers/bbram.h
Labels: area: Battery Backed RAM (bbram)

#57605 manifest: hal_nordic: Pull fix for CCM at nRF51 SoCs
  west.yml
Labels: Hotfix, manifest, manifest-hal_nordic

#57618 doc: dts: adjust CONFIG_COMPILER_TRACK_MACRO_EXPANSION text
  doc/build/dts/troubleshooting.rst
Labels: area: Build System, area: Devicetree

#49683 Bluetooth: Add Byteorder encode XX-bit macros
  include/zephyr/bluetooth/audio/lc3.h
  include/zephyr/bluetooth/byteorder.h
  include/zephyr/bluetooth/gap.h
  include/zephyr/bluetooth/mesh/health_srv.h
  include/zephyr/bluetooth/uuid.h
  samples/bluetooth/hap_ha/src/main.c
  samples/bluetooth/unicast_audio_server/src/main.c
  tests/bsim/bluetooth/audio/src/bap_bass_broadcaster_test.c
  tests/bsim/bluetooth/audio/src/bap_scan_delegator_test.c
  tests/bsim/bluetooth/audio/src/cap_initiator_test.c
Labels: area: Bluetooth, area: Bluetooth Mesh, area: Bluetooth Audio

#52780 dma: callback to allow for positive statuses on success
  drivers/adc/adc_mcux_adc16.c
  drivers/adc/adc_stm32.c
  drivers/dma/dma_dw_common.c
  drivers/dma/dma_iproc_pax_v1.c
  drivers/dma/dma_mcux_edma.c
  drivers/dma/dma_mcux_lpc.c
  drivers/dma/dma_nios2_msgdma.c
  drivers/dma/dma_stm32.c
  drivers/dma/dma_stm32u5.c
  drivers/flash/flash_stm32_ospi.c
  drivers/i2s/i2s_ll_stm32.c
  drivers/i2s/i2s_mcux_flexcomm.c
  drivers/serial/uart_mcux_lpuart.c
  drivers/serial/uart_stm32.c
  drivers/spi/spi_ll_stm32.c
  drivers/spi/spi_mcux_dspi.c
  drivers/spi/spi_mcux_flexcomm.c
  drivers/spi/spi_mcux_lpspi.c
  include/zephyr/drivers/dma.h
  tests/boards/altera_max10/msgdma/src/dma.c
  tests/boards/intel_adsp/ssp/src/main.c
  tests/drivers/dma/chan_blen_transfer/src/test_dma.c
  tests/drivers/dma/chan_link_transfer/src/test_dma.c
  tests/drivers/dma/loop_transfer/src/test_dma_loop.c
  tests/drivers/dma/scatter_gather/src/test_dma_sg.c
Labels: area: SPI, area: UART, area: DMA, area: Flash, area: NIOS2, platform: STM32, platform: NXP, area: I2S, Stable API Change, platform: Intel ADSP

#57548 tests: Bluetooth: Mesh: Fix incorect model pointer usage
  tests/bsim/bluetooth/mesh/src/test_op_agg.c
  tests/bsim/bluetooth/mesh/src/test_sar.c
Labels: area: Bluetooth, area: Bluetooth Mesh

#57601 mcumgr: img_mgmt: Let image version comparison use build number
  subsys/mgmt/mcumgr/grp/img_mgmt/Kconfig
  subsys/mgmt/mcumgr/grp/img_mgmt/src/zephyr_img_mgmt.c
Labels: area: mcumgr

#57609 Bluetooth: ASCS: Fix receiver_ready on state change
  subsys/bluetooth/audio/ascs.c
Labels: bug, area: Bluetooth, area: Bluetooth Audio

#57613 xtensa: limit speical exit() to XT_SIMULATOR
  arch/xtensa/core/fatal.c
Labels: area: Xtensa

#57541 net: remove tfm dependency for psa
  subsys/net/l2/openthread/Kconfig
Labels: area: Networking, area: OpenThread

#57158 Bluetooth: audio: Add paired endpoint to endpoint info
  include/zephyr/bluetooth/audio/bap.h
  subsys/bluetooth/audio/bap_stream.c
Labels: area: Bluetooth, area: Bluetooth Audio

#57521 net: pkt: Fix possible NULL dereference at net_pkt_cursor_operate()
  subsys/net/ip/net_pkt.c
Labels: area: Networking

#57596 twister: Bring back scope selection rule using platform_allow
  scripts/pylib/twister/twisterlib/testplan.py
Labels: bug, priority: high, area: Twister

#57643 boards: arm: thingy: Add GPIO support for Thingy platforms
  boards/arm/thingy52_nrf52832/thingy52_nrf52832.yaml
  boards/arm/thingy53_nrf5340/thingy53_nrf5340_cpuapp_ns.yaml
  boards/arm/thingy53_nrf5340/thingy53_nrf5340_cpunet.yaml
Labels: platform: nRF

#57568 Make ESPI/I2C_EMUL depend on EMUL
  drivers/espi/Kconfig.espi_emul
  drivers/i2c/Kconfig.i2c_emul
Labels: area: SPI, area: I2C, area: Sensors, area: eSPI, area: EEPROM, area: Kscan, area: Emulation, area: HW Emulation, area: Fuel Gauge

#40355 drivers/adc: imx6sx ADC support.
  drivers/adc/CMakeLists.txt
  drivers/adc/Kconfig
  drivers/adc/Kconfig.vf610
  drivers/adc/adc_shell.c
  drivers/adc/adc_vf610.c
  dts/arm/nxp/nxp_imx6sx_m4.dtsi
  dts/bindings/iio/adc/nxp,vf610-adc.yaml
  soc/arm/nxp_imx/mcimx6x_m4/soc.c
Labels: area: ADC, area: Build System, area: Devicetree, platform: NXP, area: Modules, area: Devicetree Binding, manifest-hal_nxp

#57628 modem: modem_iface_uart_async: handle RX errors
  drivers/modem/modem_iface_uart_async.c
Labels: area: Modem

#57567 west.yml: Update NXP HAL to get fixed SDK drivers
  west.yml
Labels: platform: NXP, manifest, manifest-hal_nxp

#57575 arch: x86: fix SSE init issue when enable paging
  arch/x86/core/ia32/crt0.S
Labels: area: X86

#57486 arch/xtensa: Fix nested interrupt entry
  arch/xtensa/include/xtensa-asm2-s.h
Labels: area: Xtensa

#57465 logging: change log_output_timestamp_to_us() to take log_timestamp_t
  include/zephyr/logging/log_output.h
  subsys/logging/log_output.c
Labels: area: Logging

#57666 drivers: serial: uart_miv: Disable SERIAL_SUPPORT_INTERRUPT
  drivers/serial/Kconfig.miv
Labels: area: UART, Trivial

#57280 drivers: pwm: pwm_mcux: Round up PWM frequency to prevent overflow
  drivers/pwm/pwm_mcux.c
Labels: area: PWM, platform: NXP

#57555 net: wifi: Fix TWT interval
  include/zephyr/net/wifi_mgmt.h
  subsys/net/l2/wifi/wifi_shell.c
Labels: area: Networking

#57645 maintainers: make gmarull the maintainer of the device driver model area
  MAINTAINERS.yml
Labels: area: Process

#57634 net: shell: Display TWT response details
  subsys/net/l2/wifi/wifi_shell.c
Labels: area: Networking

#57592 Bluetooth: Controller: Set Broadcast ISO related supported cmd bits
  subsys/bluetooth/controller/hci/hci.c
Labels: area: Bluetooth, area: Bluetooth Controller

#57292 drivers: spi_flash_at45: Fix erasing of first two sectors
  doc/releases/release-notes-3.4.rst
  drivers/flash/spi_flash_at45.c
  dts/bindings/mtd/atmel,at45.yaml
Labels: bug, area: Documentation, area: Flash, platform: Microchip SAM, Release Notes, area: Devicetree Binding

#57467 stm32f7, stm32h7: Avoid speculative reads from QSPI
  dts/arm/st/f7/stm32f7.dtsi
  dts/arm/st/h7/stm32h7.dtsi
  dts/bindings/base/zephyr,memory-region.yaml
  include/zephyr/arch/arm/aarch32/mpu/arm_mpu_v7m.h
Labels: area: ARM, platform: STM32, area: Devicetree Binding

#57168 Bluetooth: Controller: Fix endianness handling for DID/SID struct
  subsys/bluetooth/controller/hci/hci.c
  subsys/bluetooth/controller/ll_sw/pdu.h
  subsys/bluetooth/controller/ll_sw/ull_adv.c
  subsys/bluetooth/controller/ll_sw/ull_adv_aux.c
  subsys/bluetooth/controller/ll_sw/ull_adv_sync.c
  subsys/bluetooth/controller/ll_sw/ull_scan_aux.c
Labels: area: Bluetooth, area: Bluetooth Controller

#57574 arch: x86: assign unique name for TSS ISR stub
  include/zephyr/arch/x86/ia32/arch.h
Labels: area: X86

#57576 arch: x86: pin boot arg before paging is up
  arch/x86/core/prep_c.c
Labels: area: X86

#57674 riscv: Microchip Mi-V should use built-in atomic operations
  soc/riscv/riscv-privilege/miv/Kconfig.soc
Labels: area: RISCV

#57364 boards: arm: nrf52840dongle_nrf52840: Fix boot partition address
  boards/arm/nrf52840dongle_nrf52840/Kconfig.defconfig
  boards/arm/nrf52840dongle_nrf52840/fstab-stock.dts
Labels: platform: nRF

#57570 drivers: spi: esp32xx: Add chip select setup and hold time
  drivers/spi/spi_esp32_spim.c
  drivers/spi/spi_esp32_spim.h
  dts/bindings/spi/espressif,esp32-spi.yaml
Labels: area: SPI, area: Xtensa, platform: ESP32, area: Devicetree Binding

#57625 soc: esp32s3: add usb serial dts interface
  boards/xtensa/esp32s3_devkitm/esp32s3_devkitm.dts
  dts/xtensa/espressif/esp32s3.dtsi
Labels: area: Xtensa, platform: ESP32

#57116 Support for Listen interval based ps
  include/zephyr/net/wifi.h
  include/zephyr/net/wifi_mgmt.h
  subsys/net/l2/wifi/wifi_mgmt.c
  subsys/net/l2/wifi/wifi_shell.c
Labels: area: Networking

#57685 Bluetooth: Controller: Use strict cis_offset_min when CIG is active
  subsys/bluetooth/controller/ll_sw/ull_central_iso.c
  subsys/bluetooth/controller/ll_sw/ull_llcp.c
  subsys/bluetooth/controller/ll_sw/ull_llcp.h
Labels: area: Bluetooth, area: Bluetooth Controller

#57297 samples: boards: nrf: system_off: use PRE_KERNEL_1
  samples/boards/nrf/system_off/src/main.c
Labels: platform: nRF

#57617 drivers: entropy_mcux_caam: Add semaphore
  drivers/entropy/entropy_mcux_caam.c
Labels: platform: NXP, area: Crypto / RNG

#57606 tests: c_lib: test exit not _exit
  tests/lib/c_lib/src/main.c
Labels: area: C Library, Trivial

#56472 drivers: flash: stm32 ospi flash driver waits for full chip erase
  drivers/flash/flash_stm32_ospi.c
  drivers/flash/spi_nor.h
Labels: area: Flash, platform: STM32, area: OSPI

#57469 drivers: add mutex to the i2c-gpio driver.
  drivers/i2c/i2c_gpio.c
Labels: area: I2C

#57626 driver: i2c: esp32: fix I2C statistics
  drivers/i2c/i2c_esp32.c
Labels: area: I2C, platform: ESP32

#57664 Bluetooth: BAP: Limit broadcast sink streams to proper max value
  subsys/bluetooth/audio/Kconfig.bap
Labels: area: Bluetooth, area: Bluetooth Audio

#57665 Bluetooth: BAP: Add return error for sink cb register
  include/zephyr/bluetooth/audio/bap.h
  subsys/bluetooth/audio/bap_broadcast_sink.c
Labels: area: Bluetooth, area: Bluetooth Audio

#57711 i2c: Fix write byte count stats
  include/zephyr/drivers/i2c.h
Labels: area: I2C

#57716 net: openthread: allow to configure OPENTHREAD_CSL_TIMEOUT
  modules/openthread/Kconfig.thread
  modules/openthread/platform/openthread-core-zephyr-config.h
Labels: manifest-openthread

#57535 Add support for lpc55s16jbd64 chip variant
  soc/arm/nxp_lpc/lpc55xxx/Kconfig.soc
Labels: platform: NXP

#57422 drivers: ethernet: enc28j60: Prevent infinate loop on driver init
  drivers/ethernet/Kconfig.enc28j60
  drivers/ethernet/eth_enc28j60.c
Labels: area: Ethernet

#57583 cmake: extensions: Do not clear variable in zephyr_get MERGE mode
  cmake/modules/extensions.cmake
Labels: area: Build System

#57587 Bluetooth: Audio: Shell: Make broadcast source generic
  subsys/bluetooth/audio/shell/audio.h
  subsys/bluetooth/audio/shell/bap.c
  subsys/bluetooth/audio/shell/cap_initiator.c
Labels: area: Bluetooth, area: Bluetooth Audio

#57641 Fix USER_CACHE_DIR path generation
  cmake/modules/user_cache.cmake
Labels: area: Build System

#57572 arch: x86: make sys_arch_reboot as weak function
  arch/x86/core/reboot_rst_cnt.c
Labels: area: X86

#57701 Bluetooth: BAP: Broadcast start add missing NULL check for adv
  subsys/bluetooth/audio/bap_broadcast_source.c
Labels: area: Bluetooth, area: Bluetooth Audio

#57635 samples: net: mqtt: Add a sample to connect to AWS IoT core
  samples/net/cloud/aws_iot_mqtt/CMakeLists.txt
  samples/net/cloud/aws_iot_mqtt/Kconfig
  samples/net/cloud/aws_iot_mqtt/README.rst
  samples/net/cloud/aws_iot_mqtt/boards/nucleo_f429zi.conf
  samples/net/cloud/aws_iot_mqtt/boards/nucleo_f429zi.overlay
  samples/net/cloud/aws_iot_mqtt/boards/qemu_x86.conf
  samples/net/cloud/aws_iot_mqtt/prj.conf
  samples/net/cloud/aws_iot_mqtt/sample.yaml
  samples/net/cloud/aws_iot_mqtt/src/creds/.gitignore
  samples/net/cloud/aws_iot_mqtt/src/creds/AmazonRootCA1.pem
  samples/net/cloud/aws_iot_mqtt/src/creds/convert_keys.py
  samples/net/cloud/aws_iot_mqtt/src/creds/creds.h
  samples/net/cloud/aws_iot_mqtt/src/creds/dummy.c
  samples/net/cloud/aws_iot_mqtt/src/dhcp.c
  samples/net/cloud/aws_iot_mqtt/src/dhcp.h
  samples/net/cloud/aws_iot_mqtt/src/main.c
Labels: area: Networking

#57553 west.yaml: MCUboot synchronization from upstream
  west.yml
Labels: manifest, manifest-mcuboot

#57547 boards: arm: stm32h7b3 disco kit has external octo NOR flash controller
  boards/arm/stm32h7b3i_dk/stm32h7b3i_dk.dts
  samples/drivers/spi_flash/boards/stm32h7b3i_dk.overlay
Labels: platform: STM32

#57734 MAINTAINERS: Add more coding guidelines-related files
  MAINTAINERS.yml
Labels: area: Process

#57627 driver: wifi: esp32: add wifi statistics and status
  drivers/wifi/esp32/src/esp_wifi_drv.c
Labels: platform: ESP32, area: WiFi

#57749 drivers: clock_control: stm32: Fix switching to HSI
  drivers/clock_control/clock_stm32_ll_common.c
  drivers/clock_control/clock_stm32_ll_h5.c
  drivers/clock_control/clock_stm32_ll_h7.c
  drivers/clock_control/clock_stm32_ll_u5.c
Labels: platform: STM32, area: Clock Control

#57752 Bluetooth: Controller: Fix uninitialized CIG num_bis member variable
  subsys/bluetooth/controller/ll_sw/ull_conn_iso.c
Labels: bug, area: Bluetooth, area: Bluetooth Controller

#57757 Bluetooth: BAP: Shell: Broadcast assistant compiler warning fixes
  subsys/bluetooth/audio/shell/bap_broadcast_assistant.c
Labels: area: Bluetooth, Hotfix, area: Bluetooth Audio

#55449 subsys/bluetooth/host: Make rpa same for adv sets with same id
  subsys/bluetooth/host/hci_core.h
  subsys/bluetooth/host/id.c
  tests/bluetooth/host/id/bt_id_set_adv_private_addr/src/main.c
  tests/bsim/bluetooth/host/privacy/peripheral/prj.conf
  tests/bsim/bluetooth/host/privacy/peripheral/src/dut.c
  tests/bsim/bluetooth/host/privacy/peripheral/src/tester.c
Labels: area: Bluetooth, area: Bluetooth Host

#57769 libc: minimal: strtoll: Remove typo in SPDX-License-Identifier
  lib/libc/minimal/source/stdlib/strtoll.c
Labels: area: C Library, Trivial

#57774 net: shell: Fix CI warning implicit declaration
  include/zephyr/net/wifi.h
Labels: area: Networking

#57745 bluetooth: audio: Fix logical check
  subsys/bluetooth/audio/shell/bap_broadcast_assistant.c
Labels: area: Bluetooth, area: Bluetooth Audio

#57762 pinctrl: esp32: fix byte garbage before banner
  boards/riscv/esp32c3_devkitm/esp32c3_devkitm-pinctrl.dtsi
  boards/riscv/icev_wireless/icev_wireless-pinctrl.dtsi
  boards/riscv/stamp_c3/stamp_c3-pinctrl.dtsi
  boards/riscv/xiao_esp32c3/xiao_esp32c3-pinctrl.dtsi
  boards/xtensa/esp32/esp32-pinctrl.dtsi
  boards/xtensa/esp32_ethernet_kit/esp32_ethernet_kit-pinctrl.dtsi
  boards/xtensa/esp32s2_franzininho/esp32s2_franzininho-pinctrl.dtsi
  boards/xtensa/esp32s2_saola/esp32s2_saola-pinctrl.dtsi
  boards/xtensa/esp32s3_devkitm/esp32s3_devkitm-pinctrl.dtsi
  boards/xtensa/esp_wrover_kit/esp_wrover_kit-pinctrl.dtsi
  boards/xtensa/heltec_wifi_lora32_v2/heltec_wifi_lora32_v2-pinctrl.dtsi
  boards/xtensa/m5stickc_plus/m5stickc_plus-pinctrl.dtsi
  boards/xtensa/odroid_go/odroid_go-pinctrl.dtsi
  boards/xtensa/olimex_esp32_evb/olimex_esp32_evb-pinctrl.dtsi
Labels: area: Xtensa, area: RISCV, platform: ESP32

#56759 drivers: flash: stm32 ospi add ssht property
  drivers/flash/flash_stm32_ospi.c
  dts/bindings/ospi/st,stm32-ospi.yaml
Labels: area: Flash, platform: STM32, area: Devicetree Binding, area: OSPI

#57790 ci: Fix footprint tracking workflow
  .github/workflows/footprint-tracking.yml
Labels: Hotfix, area: Continuous Integration

#57357 dts: arm: nxp: Fix PINT base address for LPC51xxx and 54xxxx
  dts/arm/nxp/nxp_lpc51u68.dtsi
  dts/arm/nxp/nxp_lpc54xxx.dtsi
Labels: platform: NXP

#57807 ci: Use organisation-level AWS secrets
  .github/workflows/bug_snapshot.yaml
  .github/workflows/clang.yaml
  .github/workflows/codecov.yaml
  .github/workflows/daily_test_version.yml
  .github/workflows/doc-publish-pr.yml
  .github/workflows/doc-publish.yml
  .github/workflows/footprint-tracking.yml
  .github/workflows/issue_count.yml
  .github/workflows/twister.yaml
Labels: area: Continuous Integration

#57756 linker: restore CREATE_OBJ_LEVEL wildcard pattern
  cmake/modules/extensions.cmake
  include/zephyr/linker/linker-defs.h
Labels: area: Build System

#57812 [Backport v2.7-branch] ci: Use organisation-level AWS secrets
  .github/workflows/clang.yaml
  .github/workflows/codecov.yaml
  .github/workflows/daily_test_version.yml
  .github/workflows/doc-publish-pr.yml
  .github/workflows/doc-publish.yml
  .github/workflows/footprint-tracking.yml
  .github/workflows/issue_count.yml
  .github/workflows/twister.yaml
Labels: Backport, area: Continuous Integration

#57815 xtensa: tls: Fix invalid reference
  arch/xtensa/core/xtensa-asm2.c
Labels: area: Xtensa

#57686 subsys: bluetooth: host: Fix dangling reference in service changed
  subsys/bluetooth/host/gatt.c
Labels: area: Bluetooth, area: Bluetooth Host

#57803 Bluetooth: id: Fix uninitialized RPA
  subsys/bluetooth/host/hci_core.h
  subsys/bluetooth/host/id.c
  tests/bluetooth/host/id/bt_id_set_adv_private_addr/src/main.c
Labels: area: Bluetooth, Regression, area: Bluetooth Host

#57780 MAINTAINERS: Make nordicjm maintainer for MCUmgr subsystem
  CODEOWNERS
  MAINTAINERS.yml
Labels: area: Process

#57770 boards: arm: adafruit_kb2040: Support flashing with UF2 runner
  boards/arm/adafruit_kb2040/board.cmake
Labels: platform: Raspberry Pi Pico

#57761 drivers: uart: esp32: fix baudrate return value
  drivers/serial/uart_esp32.c
Labels: area: UART, platform: ESP32

#57740 doc: drop the topic branch references from the contribution guideline
  doc/contribute/guidelines.rst
Labels: area: Documentation, Process, area: Documentation Infrastructure

#57447 twister: Fix suite-name-check bypass on flash error
  scripts/pylib/twister/twisterlib/handlers.py
Labels: area: Twister

#57753 net: wifi: Display MFP info in scan results
  subsys/net/l2/wifi/wifi_shell.c
Labels: area: Networking

#57699 net: wifi_mgmt: Support to provide raw scan data
  include/zephyr/net/wifi_mgmt.h
  subsys/net/ip/net_private.h
  subsys/net/l2/Kconfig
  subsys/net/l2/wifi/Kconfig
  subsys/net/l2/wifi/wifi_mgmt.c
  subsys/net/l2/wifi/wifi_shell.c
Labels: area: Networking

#57833 drivers: can: stm32h7: remove unused std/ext filter size Kconfig options
  drivers/can/Kconfig.stm32h7
Labels: platform: STM32, area: CAN, Trivial

#57834 drivers: can: stm32: guard Kconfig options
  drivers/can/Kconfig.stm32
Labels: platform: STM32, area: CAN, Trivial

#57718 drivers: i2s_mcux_flexcomm: Fix instance macro
  drivers/i2s/i2s_mcux_flexcomm.c
Labels: bug, platform: NXP, area: I2S

#57802 boards: arm64: phycore_am62x_a53: Update documentation
  boards/arm64/phycore_am62x_a53/doc/index.rst
Labels: area: ARM64, platform: TI Sitara

#57842 ci: bump zephyrproject-rtos/action-first-interaction version
  .github/workflows/greet_first_time_contributor.yml
Labels: area: Continuous Integration

#57678 hardening tool: Update recommendations
  scripts/kconfig/hardened.csv
Labels: area: Security, area: Kconfig

#57853 Revert "tests: Bluetooth: Audio: Enable EATT for bsim tests"
  tests/bsim/bluetooth/audio/prj.conf
Labels: area: Bluetooth, Hotfix, area: Bluetooth Audio

#57653 kernel: fix buffer overflow from incorrect K_MSGQ_DEFINE definition
  include/zephyr/kernel.h
  kernel/msg_q.c
Labels: area: Kernel

#57850 When building for board mimxrt1050_evk_qspi make sure to set pyocd ar…
  boards/arm/mimxrt1050_evk/board.cmake
Labels: platform: NXP

#57593 boards: arm: mimxrt1060_evk: add pwmled
  boards/arm/mimxrt1060_evk/mimxrt1060_evk.dts
  boards/arm/mimxrt1060_evk/mimxrt1060_evkb.dts
Labels: platform: NXP
