Repository zephyrproject-rtos/zephyr, pull requests merged in 2023-02, with the labels that each got.

#54259 drivers: timer: mcux: lptmr: add dependency on CONFIG_PM
  drivers/timer/Kconfig.mcux_lptmr
Labels: bug, area: Timer, platform: NXP, backport v3.2-branch

#54066 scripts: compliance: pass argv explicitly to parse_args
  scripts/ci/check_compliance.py
Labels: area: Continuous Integration

#54279 gpio: gpio_keys_zephyr: add missing gpio initialization
  drivers/gpio/gpio_keys_zephyr.c
Labels: bug, area: GPIO

#54302 tests: net: tcp: Fix two issues leading to random failures
  tests/net/tcp/src/main.c
Labels: area: Networking

#54312 boards: nucleo_g474re: Add stm32cubeprogrammer runner
  boards/arm/nucleo_g474re/board.cmake
Labels: platform: STM32

#54297 MAINTAINERS: Add pdgendt as lvgl collaborator
  MAINTAINERS.yml
Labels: area: Process

#54304 soc: stm32: fix rtt on stm32u5 series by enabling GPDMA1 clock
  soc/arm/st_stm32/common/soc_config.c
Labels: platform: STM32

#54293 doc/develop: Add picolibc documentation
  doc/develop/languages/c/index.rst
  doc/develop/languages/c/picolibc.rst
Labels: area: Documentation, area: picolibc

#54314 intel_adsp: bbzero/bmemcpy with picolibc fix
  soc/xtensa/intel_adsp/common/include/soc.h
Labels: bug, priority: high, platform: Intel ADSP

#54296 Bluetooth: Controller: Fix missing DF related radio register reset
  subsys/bluetooth/controller/ll_sw/nordic/hal/nrf5/radio/radio.c
Labels: bug, area: Bluetooth, Regression, area: Bluetooth Controller

#54305 net: lwm2m: Fix native_posix fcntl() calls
  subsys/net/lib/lwm2m/lwm2m_engine.c
  subsys/net/lib/lwm2m/lwm2m_message_handling.c
  subsys/net/lib/lwm2m/lwm2m_observation.c
  subsys/net/lib/lwm2m/lwm2m_registry.c
Labels: area: LWM2M

#54291 boards: arm: frdm_k64f: Set TEST_EXTRA_STACK_SIZE
  boards/arm/frdm_k64f/Kconfig.defconfig
Labels: platform: NXP

#54362 MAINTAINERS: Change CI maintainer order
  MAINTAINERS.yml
Labels: area: Process

#54353 Tests: bluetooth: Fix failing df unittests
  tests/bluetooth/ctrl_user_ext/CMakeLists.txt
  tests/bluetooth/ctrl_user_ext/src/hci_user_ext.c
  tests/bluetooth/df/common/src/bt_common.c
  tests/bluetooth/df/common/src/bt_conn_common.c
  tests/bluetooth/df/connectionless_cte_chains/src/common.c
  tests/bluetooth/df/connectionless_cte_chains/src/test_add_cte_to_chain.c
  tests/bluetooth/df/connectionless_cte_chains/src/test_remove_cte_from_chain.c
  tests/bluetooth/df/connectionless_cte_rx/src/common.c
  tests/bluetooth/df/connectionless_cte_tx/CMakeLists.txt
Labels: area: Bluetooth

#54329 ARC: west runner: mdb: fix multiple argument handling issues
  scripts/west_commands/runners/mdb.py
  scripts/west_commands/tests/test_mdb.py
Labels: area: ARC, area: West, platform: Synopsys

#54371 net: shell: Validate pointer provided with net pkt command
  subsys/net/ip/net_shell.c
Labels: area: Networking

#54280 net/net_pkt: Fix is_ppp dependency issue
  include/zephyr/net/net_pkt.h
Labels: bug, area: Networking

#54350 Fix STM32H7 Kernel crash with BCM4=0
  soc/arm/st_stm32/common/stm32_hsem.h
Labels: platform: STM32

#54313 net: ipv6_nbr: fix packet stats counting
  subsys/net/ip/ipv6_nbr.c
Labels: area: Networking

#54282 tests: net: igmp: Set allowed platforms filter
  tests/net/igmp/testcase.yaml
Labels: area: Networking

#54222 Bluetooth: Controller: Fix addr type in PA sync established event
  subsys/bluetooth/controller/ll_sw/ull_scan_types.h
  subsys/bluetooth/controller/ll_sw/ull_sync.c
Labels: bug, area: Bluetooth, area: Bluetooth Controller

#53951 runners: restore obsolete synonyms for -i/--dev-id
  scripts/west_commands/runners/jlink.py
  scripts/west_commands/runners/nrfjprog.py
  scripts/west_commands/runners/pyocd.py
Labels: bug, area: West

#54337 tests: kernel: cpu_exception: Make expected reason code generic.
  tests/kernel/fatal/no-multithreading/src/main.c
Labels: area: Kernel

#54390 ci: any arch/ changes should trigger kernel testing
  scripts/ci/tags.yaml
Labels: Hotfix, area: Continuous Integration

#54358 ci: do not hardcode es server in script
  .github/workflows/twister.yaml
  scripts/ci/upload_test_results_es.py
Labels: area: Continuous Integration

#54382 doc: communication: update stale info
  doc/project/communication.rst
Labels: area: Documentation

#54212 Bluetooth: Controller: Fix ISO Data sn nesn on flush
  subsys/bluetooth/controller/ll_sw/nordic/lll/lll_central_iso.c
  subsys/bluetooth/controller/ll_sw/nordic/lll/lll_peripheral_iso.c
Labels: bug, area: Bluetooth, area: Bluetooth Controller

#54278 mtl: bugfix: tlb driver should allow remapping all unused pages, including one at UNUSED_L2_START_ALIGNED address
  drivers/mm/mm_drv_intel_adsp_mtl_tlb.c
Labels: bug, area: Memory Management, platform: Intel ADSP

#53965 drivers: spi_nrfx_spi[m]: Handle transaction timeouts properly
  drivers/spi/spi_nrfx_spi.c
  drivers/spi/spi_nrfx_spim.c
Labels: bug, area: SPI, platform: nRF

#54141 net: websockets: Fix websocket close procedure
  subsys/net/lib/websocket/websocket.c
Labels: area: Networking

#54250 modbus: Remove redundant check
  subsys/modbus/modbus_core.c
Labels: area: modbus

#54251 samples: canbus: isotp: add option for running in loopback mode
  samples/subsys/canbus/isotp/Kconfig
  samples/subsys/canbus/isotp/sample.yaml
  samples/subsys/canbus/isotp/src/main.c
Labels: area: Samples, area: CAN

#54257 Bluetooth: Audio: Shell: Fix issue with setting contexts
  subsys/bluetooth/shell/audio.c
Labels: bug, area: Bluetooth, area: Bluetooth Audio

#54281 soc: arm: st_stm32: fix sram devicetree nodes
  dts/arm/st/l4/stm32l471Xg.dtsi
Labels: platform: STM32

#54295 board: nsim: enable FPU for nsim_sem and nsim_em7d_v22
  boards/arc/nsim/support/nsim_em7d_v22.props
  boards/arc/nsim/support/nsim_sem.props
Labels: bug, platform: Synopsys

#54308 sys/cbprintf_internal.h: Silence spurious warnings with -save-temps
  include/zephyr/sys/cbprintf_internal.h
Labels: area: Formatting Output, backport v3.1-branch, backport v3.2-branch

#54340 drivers: dma: remove unused mutex from edma driver
  drivers/dma/dma_mcux_edma.c
Labels: area: DMA, platform: NXP, Trivial

#54345 compiler/clang: Erase 'no_printf_return_value' prop for clang
  cmake/compiler/clang/compiler_flags.cmake
Labels: area: Build System, area: Toolchains

#54383 doc: project_roles: clarify maintainer rights
  doc/project/project_roles.rst
Labels: area: Documentation

#54388 gpio: gpio_keys_zephyr: drop one instance of num_keys
  drivers/gpio/gpio_keys_zephyr.c
Labels: area: GPIO, Trivial

#54398 tests: posix: headers: Add min_ram to fix compilation error on Twister
  tests/posix/headers/testcase.yaml
Labels: platform: STM32, area: POSIX

#54406 boards/arm: rename gd32a503v_eval board YAML file
  boards/arm/gd32a503v_eval/gd32a503v_eval.yaml
Labels: bug, priority: low, Trivial, platform: GD32

#54408 drivers: counter: align to NRF_TIMER hal
  drivers/counter/counter_nrfx_timer.c
  dts/bindings/timer/nordic,nrf-timer.yaml
Labels: area: Counter, platform: nRF, area: Devicetree Binding

#54413 tests: net: igmp and igmp.preempt fix issue
  tests/net/igmp/prj.conf
Labels: area: Networking

#54421 modules: openthread: fix multiple definition in openthread config
  modules/openthread/platform/openthread-core-zephyr-config.h
Labels: manifest-openthread

#54423 drivers/interrupt_controller: Move VT-D to new cache API
  drivers/interrupt_controller/intc_intel_vtd.c
Labels: area: X86, area: Interrupt Controller

#54467 Bluetooth: Mesh: Remove meaningless condition
  subsys/bluetooth/mesh/adv_ext.c
Labels: area: Bluetooth, area: Bluetooth Mesh

#53666 net: ipv4: Fix subnet mask setting when autoconf is used
  subsys/net/ip/ipv4_autoconf.c
Labels: area: Networking

#54418 doc: mgmt: mcumgr: Add note on issues with go tool
  doc/services/device_mgmt/mcumgr.rst
Labels: area: mcumgr

#54443 tests: lwm2m_registry: Add newlib filter to testcase.yaml
  tests/net/lib/lwm2m/lwm2m_registry/testcase.yaml
Labels: bug, area: Networking, area: LWM2M

#54283 Bluetooth: Audio: Fix ASCS CP subscribe in discovery
  subsys/bluetooth/audio/unicast_client.c
Labels: bug, area: Bluetooth, area: Bluetooth Audio

#54262 Bluetooth: Controller: Fix overlapping multiple BIG events
  subsys/bluetooth/controller/ll_sw/ull_sched.c
Labels: bug, area: Bluetooth, area: Bluetooth Controller

#54221 Bluetooth: Controller: Fix Central from overlapping BIG events
  subsys/bluetooth/controller/ll_sw/ull_adv_internal.h
  subsys/bluetooth/controller/ll_sw/ull_adv_iso.c
  subsys/bluetooth/controller/ll_sw/ull_sched.c
Labels: bug, area: Bluetooth, area: Bluetooth Controller

#54194 drivers: usb_dc_rpi_pico: avoid infinite unhandled irq retriggers
  drivers/usb/device/usb_dc_rpi_pico.c
Labels: bug, area: Drivers, area: USB, platform: Raspberry Pi Pico

#54483 doc: release-notes: add my changes
  doc/releases/release-notes-3.3.rst
Labels: area: Documentation, Release Notes

#54487 MAINTAINERS: Add theob-pro as a Bluetooth collaborator
  MAINTAINERS.yml
Labels: area: Process

#54513 tests: intel_adsp: ssp: fix dma data sizes
  tests/boards/intel_adsp/ssp/src/main.c
Labels: platform: Intel ADSP

#54432 boards: arm: adafruit_kb2040: Fix missing flash controller
  boards/arm/adafruit_kb2040/adafruit_kb2040.dts
Labels: bug

#54485 doc: bluetooth: Update overview
  doc/connectivity/bluetooth/overview.rst
Labels: area: Bluetooth

#54536 tests: Align zephyr,psa-crypto-rng node names with those used by SoCs
  tests/crypto/rand32/entropy_psa_crypto.overlay
  tests/drivers/entropy/api/entropy_psa_crypto.overlay
Labels: bug, area: Crypto / RNG

#54517 bugfix: twister: Fix interaction between quarantine integration mode
  scripts/pylib/twister/twisterlib/testplan.py
Labels: area: Twister

#54502 doc: release-notes: add CAN release notes for v3.3.0
  doc/releases/release-notes-3.3.rst
Labels: area: Documentation, area: CAN, Release Notes

#54447 spi: SAM add spin lock around all tx/rx/txrx funcs
  drivers/spi/spi_sam.c
Labels: area: SPI, platform: Microchip SAM

#54303 tests: drivers: flash: _ns target test case should be build only
  tests/drivers/flash/testcase.yaml
Labels: area: Flash

#54523 picolibc: picolibc still not fully supported with many toolchains variants
  lib/libc/Kconfig
Labels: area: C Library

#54451 docs: kconfig: restore appearance of kconfig search
  doc/_extensions/zephyr/kconfig/static/kconfig.css
Labels: area: Documentation Infrastructure

#54497 scripts: twister: west twister error codes match twister direct call
  scripts/west_commands/twister_cmd.py
Labels: bug, area: West

#54526 [v2.7] tests/kernel/poll: backport the removal of a bad test
  tests/kernel/poll/src/main.c
  tests/kernel/poll/src/test_poll_fail.c
Labels: area: Kernel, area: Tests, Backport

#54568 kernel: timer: Eliminate a race condition in expiration handling
  kernel/timer.c
Labels: bug, area: Kernel

#54196 Revert "boards: arm: rpi_pico: Enable MPU defaultly"
  boards/arm/rpi_pico/rpi_pico_defconfig
Labels: bug, priority: medium

#54566 boards: arm: stm32g431 nucleo has LPTIM1 peripheral clock config
  boards/arm/nucleo_g431rb/Kconfig.defconfig
  boards/arm/nucleo_g431rb/nucleo_g431rb.dts
Labels: platform: STM32

#54561 drivers: flash: fix uninitialised layout_size
  drivers/flash/flash_stm32l5x.c
Labels: area: Flash, platform: STM32

#54429 Bluetooth: SMP: Fix setting key distribution bits for no-bonding
  subsys/bluetooth/host/smp.c
Labels: area: Bluetooth, area: Bluetooth Host

#50869 net: DHCPv4: Filter NAK during requesting state
  include/zephyr/net/net_if.h
  subsys/net/ip/dhcpv4.c
Labels: area: Networking

#54481 doc: release-notes: Add changelog for ARM64, cache, IPC
  doc/releases/release-notes-3.3.rst
Labels: area: Documentation, Release Notes

#54519 tests: gpio_hogs: Fix the output low test
  tests/drivers/gpio/gpio_hogs/src/main.c
Labels: area: GPIO, Trivial

#54266 drivers: ethernet: stm32: fix multicast filter configuration
  drivers/ethernet/eth_stm32_hal.c
Labels: platform: STM32, area: Ethernet

#54255 tests: canbus: isotp: conformance: skip stmin test on low tick Hz
  tests/subsys/canbus/isotp/conformance/src/main.c
  tests/subsys/canbus/isotp/conformance/testcase.yaml
Labels: bug, area: CAN

#54474 doc: release-notes 3.3: Add build system changes
  doc/releases/release-notes-3.3.rst
Labels: area: Documentation, Release Notes

#54549 drivers: counter: Do not keep RTC value between resets on STM32
  drivers/counter/Kconfig.stm32_rtc
Labels: area: Counter, platform: STM32

#54598 code_relocation: Fix Warning
  scripts/build/gen_relocate_app.py
Labels: bug, area: Build System, area: Userspace

#54338 doc: zbus: Fix typos and improve documentation
  doc/services/zbus/images/zbus_operations.svg
  doc/services/zbus/images/zbus_publishing_process_example.svg
  doc/services/zbus/images/zbus_publishing_process_example_scenario.svg
  doc/services/zbus/index.rst
Labels: area: Zbus

#54562 doc: release-notes: Add 3.3.0 release notes for networking
  doc/releases/release-notes-3.3.rst
Labels: area: Documentation, Release Notes

#54503 doc: release-notes: add EEPROM release notes for v3.3.0
  doc/releases/release-notes-3.3.rst
Labels: area: Documentation, Release Notes, area: EEPROM

#54368 shell: doc: adding information on command execution
  doc/services/shell/images/execution.png
  doc/services/shell/index.rst
Labels: area: Documentation, area: Shell

#54541 boards: s32z270dc2_r52: document supported features
  boards/arm/s32z270dc2_r52/doc/index.rst
  samples/boards/nxp_s32/netc/README.rst
Labels: area: Documentation, platform: NXP

#54604 doc: release-notes: add pinctrl changes
  doc/releases/release-notes-3.3.rst
Labels: area: Documentation, Release Notes

#54626 ci: Switch to CI image 0.24.10
  .github/workflows/bluetooth-tests.yaml
  .github/workflows/clang.yaml
  .github/workflows/codecov.yaml
  .github/workflows/errno.yml
  .github/workflows/footprint-tracking.yml
  .github/workflows/footprint.yml
  .github/workflows/twister.yaml
Labels: area: Continuous Integration

#54640 doc: Use Copy/paste: mention accessibility
  doc/develop/getting_started/index.rst
Labels: area: Documentation

#54627 doc: release-notes/3.3: update release notes for sd subystem
  doc/releases/release-notes-3.3.rst
Labels: area: Documentation, Release Notes

#54624 doc: releases: add disk release notes for 3.3
  doc/releases/release-notes-3.3.rst
Labels: area: Documentation, Release Notes

#54512 west.yml: tf-m: Fix SAU configuration on U5
  west.yml
Labels: manifest, manifest-trusted-firmware-m, area: TF-M

#54482 samples: subsys: task_wdt: skip for s32z270dc2
  samples/subsys/task_wdt/sample.yaml
Labels: area: Task Watchdog

#53631 tests: fs: fat_fs_api: Add support for non-"flash map" devices
  tests/subsys/fs/fat_fs_api/boards/native_posix.overlay
  tests/subsys/fs/fat_fs_api/prj_native_posix_ram.conf
  tests/subsys/fs/fat_fs_api/src/test_fat.h
  tests/subsys/fs/fat_fs_api/src/test_fat_mkfs.c
  tests/subsys/fs/fat_fs_api/src/test_fat_rd_only_mount.c
  tests/subsys/fs/fat_fs_api/testcase.yaml
Labels: area: File System

#53846 bluetooth: audio: Fix typo in PACS
  subsys/bluetooth/audio/pacs.c
Labels: bug, area: Bluetooth, area: Bluetooth Audio

#54430 drivers: serial: stm32 uart driver avoid LOG_ when going to sleep
  drivers/serial/uart_stm32.c
Labels: area: UART, platform: STM32

#54501 drivers: timer: stm32u5 lptimer waits for DIER complete
  drivers/timer/stm32_lptim_timer.c
Labels: area: Timer, platform: STM32

#54508 drivers: ethernet: eth_stm32_hal.c ETH_MAC_config issue
  drivers/ethernet/eth_stm32_hal.c
Labels: platform: STM32, area: Ethernet

#54618 Bluetooth: Fix enabling PAST as advertiser
  subsys/bluetooth/controller/Kconfig
Labels: area: Bluetooth, area: Bluetooth Controller

#54596 sample: s2ram: Remove s2ram sample
  samples/boards/nrf/s2ram/CMakeLists.txt
  samples/boards/nrf/s2ram/README.rst
  samples/boards/nrf/s2ram/boards/nrf5340dk_nrf5340_cpuapp.overlay
  samples/boards/nrf/s2ram/prj.conf
  samples/boards/nrf/s2ram/sample.yaml
  samples/boards/nrf/s2ram/src/main.c
Labels: platform: nRF

#54584 cmake: provide a useful error msg when native compiler is missing
  cmake/compiler/clang/generic.cmake
  cmake/compiler/host-gcc/generic.cmake
Labels: bug, area: Build System, area: Toolchains, Maintainer, backport v2.7-branch

#54217 ethernet: stm32h7: Move DMA buffers from sram3 to sram2
  drivers/ethernet/eth_stm32_hal.c
  soc/arm/st_stm32/stm32h7/mpu_regions.c
  soc/arm/st_stm32/stm32h7/sections.ld
Labels: platform: STM32, area: Ethernet

#54586 Samples: Bluetooth: ignore -EALREADY when opening ipc instance
  samples/bluetooth/hci_rpmsg/src/main.c
Labels: bug, area: Bluetooth

#54632 board: google_dragonclaw: update the schematics link
  boards/arm/google_dragonclaw/doc/index.rst
Labels: Trivial

#54617 drivers: serial: rp2040: fix rpi pico address mapping
  drivers/serial/uart_rpi_pico.c
Labels: area: UART, platform: Raspberry Pi Pico

#54693 doc: release-notes: add FPGA release notes for v3.3.0
  doc/releases/release-notes-3.3.rst
Labels: area: Documentation, Release Notes

#54547 ARC: boards: hsdk: fix cy8c95xx I2C GPIO port init
  drivers/gpio/gpio_cy8c95xx.c
Labels: area: GPIO, area: ARC, platform: Synopsys

#54704 shell: backend: Set RX size default to 256 if shell MCUmgr is enabled
  subsys/shell/backends/Kconfig.backends
Labels: area: Shell

#54612 usb: device: class: rndis: correct packet reception
  subsys/usb/device/class/netusb/function_rndis.c
Labels: area: Networking, area: USB

#54721 lib/os/heap: Compiler bug workaround on ARC
  lib/os/heap.c
Labels: priority: high, Hotfix, area: Base OS

#54606 tests: drivers: can: test timing on the nucleo_f746zg at lower freq
  boards/arm/nucleo_f746zg/nucleo_f746zg.dts
Labels: platform: STM32, area: CAN

#54415 drivers: dma for stm32u5 returns from a repeated start or stop command
  drivers/dma/dma_stm32u5.c
Labels: bug, area: DMA, platform: STM32

#54192 drivers: usb_dc_rpi_pico: correctly toggle between data1/data0 on to_device control transfers
  drivers/usb/device/usb_dc_rpi_pico.c
Labels: bug, area: Drivers, area: USB, platform: Raspberry Pi Pico

#54722 doc: release: Add sensor release notes for v3.3.0
  doc/releases/release-notes-3.3.rst
Labels: area: Documentation, Release Notes

#54644 doc: release: 3.3: add GigaDevice GD32 changes
  doc/releases/release-notes-3.3.rst
Labels: area: Documentation, Release Notes, platform: GD32

#54692 doc: release-notes: add POSIX API release notes for v3.3.0
  doc/releases/release-notes-3.3.rst
Labels: area: Documentation, Release Notes

#54707 doc: release-notes 3.3: Add MCUmgr shell buffer size change
  doc/releases/release-notes-3.3.rst
Labels: area: Documentation, Release Notes

#54729 doc: release: Add Bluetooth release notes for 3.3.0
  doc/releases/release-notes-3.3.rst
Labels: area: Documentation, Release Notes

#54709 boards: arm: stm32f429i_disc1: Add missing byte to fix compilation
  boards/arm/stm32f429i_disc1/stm32f429i_disc1.dts
Labels: bug

#54706 tests: drivers: can: shell: increase test stack size
  tests/drivers/can/shell/prj.conf
Labels: area: CAN

#54682 MAINTAINERS: add esp32 wifi driver to Espressif area
  MAINTAINERS.yml
Labels: area: Process

#54631 Maintainers.yml: Add maintainer for Raspberry Pi Pico
  MAINTAINERS.yml
Labels: area: Process

#54611 usb: device: class: rndis: correct descriptors
  subsys/usb/device/class/netusb/function_rndis.c
Labels: bug, area: Networking, area: USB

#54591 gpio/it8xxx2: do not set flag if register does not exist
  drivers/gpio/gpio_ite_it8xxx2.c
Labels: area: GPIO, platform: ITE

#54564 LE Audio: Map EALREADY error of ase_stream_qos()
  subsys/bluetooth/audio/ascs.c
Labels: bug, area: Bluetooth, area: Bluetooth Audio

#54031 RP2040: Cleanup incorrect comment and condition from the USB driver.
  drivers/usb/device/usb_dc_rpi_pico.c
Labels: bug, area: USB, platform: Raspberry Pi Pico

#54727 doc: release: Add i2c release notes for v3.3.0
  doc/releases/release-notes-3.3.rst
Labels: area: Documentation, Release Notes

#54724 doc: release: Add dma release notes for v3.3.0
  doc/releases/release-notes-3.3.rst
Labels: area: Documentation, Release Notes

#54684 doc: release-notes: Add C++ library release notes
  doc/releases/release-notes-3.3.rst
Labels: area: Documentation, Release Notes

#54677 kernel/work: Fix race under with delayed work item cancellation
  kernel/work.c
Labels: area: Kernel

#54667 ci: Switch to CI image v0.24.11
  .github/workflows/bluetooth-tests.yaml
  .github/workflows/clang.yaml
  .github/workflows/codecov.yaml
  .github/workflows/errno.yml
  .github/workflows/footprint-tracking.yml
  .github/workflows/footprint.yml
  .github/workflows/twister.yaml
Labels: area: Continuous Integration

#54635 tests: drivers: udc: fix udc_ep_try_config() test
  tests/drivers/udc/src/main.c
Labels: area: Drivers, area: USB, area: Tests, Experimental

#54496 doc: release-3-3: Add Bluetooth Audio and ISO API changes
  doc/releases/release-notes-3.3.rst
Labels: area: Documentation, Release Notes

#54687 tests: fixes logging.add.async build warning
  tests/subsys/logging/log_core_additional/src/log_test.c
Labels: area: Logging

#54636 doc: Added Raspberry Pi Pico changes to v3.3.0 release notes
  doc/releases/release-notes-3.3.rst
Labels: area: Documentation, Release Notes

#54764 doc: Update copyright notice in the documentation
  doc/conf.py
Labels: area: Documentation Infrastructure

#54546 doc: release-notes: add RISC-V release notes for v3.3.0
  doc/releases/release-notes-3.3.rst
Labels: area: Documentation, Release Notes

#54552 release note: V3.3.0: STM32 and shields update
  doc/releases/release-notes-3.3.rst
Labels: area: Documentation, Release Notes

#54765 doc: usb: Correct include path uhc.h
  doc/services/usb/uhc.rst
Labels: area: Documentation

#54775 doc: release notes: added entry regarding app controlled image config
  doc/releases/release-notes-3.3.rst
Labels: area: Documentation, Release Notes

#54728 doc: release: 3.3: Add notes about Atmel and UpdateHub
  doc/releases/release-notes-3.3.rst
Labels: area: Documentation, Release Notes

#54784 doc: release notes: Add entries for the logging subsystem
  doc/releases/release-notes-3.3.rst
Labels: area: Documentation, area: Logging, Release Notes

#54774 doc: release: 3.3: add notes about hal_espressif
  doc/releases/release-notes-3.3.rst
Labels: area: Documentation, Release Notes

#54792 hwinfo: add release-notes for 3.3.0
  doc/releases/release-notes-3.3.rst
Labels: area: Documentation, Release Notes, area: HWINFO

#54793 doc: release-notes: add DAC release notes for v3.3
  doc/releases/release-notes-3.3.rst
Labels: area: Documentation, Release Notes

#54810 doc: release-notes: Add Aarch32, TF-M v3.3.0 notes
  doc/releases/release-notes-3.3.rst
Labels: area: Documentation, Release Notes

#54434 boards: esp32: add default HEAP for all ESP32 boards
  boards/riscv/esp32c3_devkitm/Kconfig.defconfig
  boards/riscv/icev_wireless/Kconfig.defconfig
  boards/riscv/xiao_esp32c3/Kconfig.defconfig
  boards/xtensa/esp32/Kconfig.defconfig
  boards/xtensa/esp32_ethernet_kit/Kconfig.defconfig
  boards/xtensa/esp32_net/Kconfig.defconfig
  boards/xtensa/esp32s2_franzininho/Kconfig.defconfig
  boards/xtensa/esp32s2_saola/Kconfig.defconfig
  boards/xtensa/esp_wrover_kit/Kconfig.defconfig
  boards/xtensa/heltec_wifi_lora32_v2/Kconfig.defconfig
  boards/xtensa/m5stickc_plus/Kconfig.defconfig
  boards/xtensa/odroid_go/Kconfig.defconfig
  boards/xtensa/olimex_esp32_evb/Kconfig.defconfig
Labels: area: RISCV, platform: ESP32

#54806 doc: Improve navigation towards LTS documentation.
  doc/conf.py
Labels: area: Documentation Infrastructure

#54815 doc: redirects: add old sockets page to redirects
  doc/_scripts/redirects.py
Labels: Trivial, area: Documentation Infrastructure

#54808 doc: release-notes: fix RISC-V release notes for v3.3.0
  doc/releases/release-notes-3.3.rst
Labels: area: Documentation, Release Notes
