Repository zephyrproject-rtos/zephyr, pull requests merged in 2023-07, with the labels that each got.

#55658 drivers: systick: implement sys_clock_cycle_get_64()
  drivers/timer/Kconfig.cortex_m_systick
  drivers/timer/cortex_m_systick.c
Labels: area: Timer

#59871 drivers: dma: intel-adsp-hda: add a missing "break"
  drivers/dma/dma_intel_adsp_hda.c
Labels: area: DMA, platform: Intel ADSP

#59751 soc: MEC1701: Removed Microchip MEC1701
  boards/arm/mec2016evb_assy6797/CMakeLists.txt
  boards/arm/mec2016evb_assy6797/Kconfig.board
  boards/arm/mec2016evb_assy6797/Kconfig.defconfig
  boards/arm/mec2016evb_assy6797/doc/index.rst
  boards/arm/mec2016evb_assy6797/doc/mec2016evb_assy6797.jpg
  boards/arm/mec2016evb_assy6797/mec2016evb_assy6797.dts
  boards/arm/mec2016evb_assy6797/mec2016evb_assy6797.yaml
  boards/arm/mec2016evb_assy6797/mec2016evb_assy6797_defconfig
  boards/arm/mec2016evb_assy6797/pinmux.c
  dts/arm/microchip/mec1701qsz.dtsi
  soc/arm/microchip_mec/Kconfig.soc
  soc/arm/microchip_mec/common/soc_i2c.c
  soc/arm/microchip_mec/common/soc_i2c.h
  soc/arm/microchip_mec/mec1701/CMakeLists.txt
  soc/arm/microchip_mec/mec1701/Kconfig.defconfig.mec1701qsz
  soc/arm/microchip_mec/mec1701/Kconfig.defconfig.series
  soc/arm/microchip_mec/mec1701/Kconfig.series
  soc/arm/microchip_mec/mec1701/Kconfig.soc
  soc/arm/microchip_mec/mec1701/linker.ld
  soc/arm/microchip_mec/mec1701/soc.c
  soc/arm/microchip_mec/mec1701/soc.h
Labels: platform: Microchip MEC

#59892 driver: adc: fix documentation comments
  include/zephyr/drivers/adc/current_sense_amplifier.h
  include/zephyr/drivers/adc/current_sense_shunt.h
Labels: area: ADC

#57861 drivers: tla2021: Add driver
  drivers/adc/CMakeLists.txt
  drivers/adc/Kconfig
  drivers/adc/Kconfig.tla2021
  drivers/adc/adc_tla2021.c
  dts/bindings/adc/ti,tla2021.yaml
Labels: area: Drivers, area: ADC, area: Devicetree Binding, platform: TI SimpleLink

#59732 boards: xtensa: Add support for xiao esp32s3
  boards/xtensa/xiao_esp32s3/Kconfig.board
  boards/xtensa/xiao_esp32s3/Kconfig.defconfig
  boards/xtensa/xiao_esp32s3/Kconfig.sysbuild
  boards/xtensa/xiao_esp32s3/board.cmake
  boards/xtensa/xiao_esp32s3/doc/img/xiao_esp32s3.jpg
  boards/xtensa/xiao_esp32s3/doc/img/xiao_esp32s3_pinout.jpg
  boards/xtensa/xiao_esp32s3/doc/index.rst
  boards/xtensa/xiao_esp32s3/seeed_xiao_connector.dtsi
  boards/xtensa/xiao_esp32s3/support/openocd.cfg
  boards/xtensa/xiao_esp32s3/xiao_esp32s3-pinctrl.dtsi
  boards/xtensa/xiao_esp32s3/xiao_esp32s3.dts
  boards/xtensa/xiao_esp32s3/xiao_esp32s3.yaml
  boards/xtensa/xiao_esp32s3/xiao_esp32s3_defconfig
  samples/basic/blinky_pwm/boards/xiao_esp32s3.overlay
  samples/net/wifi/boards/xiao_esp32s3.conf
  samples/net/wifi/boards/xiao_esp32s3.overlay
Labels: area: Networking

#59888 arch: arm64: Add support for coredump
  arch/Kconfig
  arch/arm64/core/CMakeLists.txt
  arch/arm64/core/coredump.c
  include/zephyr/debug/coredump.h
  scripts/coredump/gdbstubs/__init__.py
  scripts/coredump/gdbstubs/arch/arm64.py
Labels: area: Debugging, area: ARM64

#59913 Bluetooth: Controller: Fix coverity issue 318626
  subsys/bluetooth/controller/ll_sw/ull_adv_iso.c
Labels: area: Bluetooth, area: Bluetooth Controller

#59914 Bluetooth: Controller: Fix coverity issue 318644
  subsys/bluetooth/controller/ll_sw/ull_central_iso.c
Labels: area: Bluetooth, area: Bluetooth Controller

#59916 Bluetooth: Controller: Fix coverity issue 318804
  subsys/bluetooth/controller/ll_sw/nordic/lll/lll_central_iso.c
Labels: area: Bluetooth, area: Bluetooth Controller

#59893 Bluetooth: Controller: Fix coverity issue 248393
  subsys/bluetooth/controller/ll_sw/ull_scan_aux.c
Labels: area: Bluetooth, area: Bluetooth Controller

#59834 drivers: adc: stm32: use correct device in dma callback
  drivers/adc/adc_stm32.c
Labels: area: ADC, platform: STM32

#59959 dts: bindings: add Torex Semiconductor
  dts/bindings/vendor-prefixes.txt
Labels: Trivial, area: Devicetree Binding

#59899 dts: bindings: display: st7735r: Remove requirement for reset-gpios
  dts/bindings/display/sitronix,st7735r.yaml
Labels: area: Display, Trivial, area: Devicetree Binding

#59602 Bluetooth: Controller: Ignore ticker_stop() return value
  subsys/bluetooth/controller/ll_sw/nordic/lll/lll_scan.c
  subsys/bluetooth/controller/ll_sw/openisa/lll/lll_scan.c
  subsys/bluetooth/controller/ll_sw/ull_central.c
  subsys/bluetooth/controller/ll_sw/ull_peripheral.c
Labels: area: Bluetooth, area: Bluetooth Controller

#59963 Bluetooth: controller: Fix indent in calls to ticker_stop()
  subsys/bluetooth/controller/ll_sw/nordic/lll/lll_scan.c
  subsys/bluetooth/controller/ll_sw/openisa/lll/lll_scan.c
  subsys/bluetooth/controller/ll_sw/ull_central.c
  subsys/bluetooth/controller/ll_sw/ull_peripheral.c
Labels: area: Bluetooth, Trivial, area: Bluetooth Controller

#59961 scripts: compliance: Fix handling of integer node items
  scripts/ci/check_compliance.py
Labels: area: Coding Guidelines, area: Continuous Integration

#59109 MIMXRT1050 Channel Chaining Support
  tests/drivers/dma/chan_blen_transfer/boards/mimxrt1050_evk.overlay
  tests/drivers/dma/chan_link_transfer/boards/mimxrt1050_evk.overlay
  tests/drivers/dma/chan_link_transfer/testcase.yaml
Labels: area: DMA, platform: NXP, Trivial

#59437 Bluetooth: OTS: Add explicit ignore of ret error when reset dir_list
  subsys/bluetooth/services/ots/ots_dir_list.c
Labels: area: Bluetooth

#59907 MAINTAINERS: Introduce IEEE 802.15.4 native stack maintenance area and propose self as collaborator
  MAINTAINERS.yml
Labels: area: Process

#59920 tests: Bluetooth: ascs: Fix build warning
  tests/bluetooth/audio/mocks/src/pacs.c
Labels: area: Bluetooth

#59926 driver: gpio: fix shell blink command
  drivers/gpio/gpio_shell.c
Labels: area: GPIO

#59979 bluetooth: bt_gatt_subscribe: Fix documentation
  include/zephyr/bluetooth/gatt.h
Labels: area: Bluetooth

#55572 Bluetooth: PACS: Rework notify system
  subsys/bluetooth/audio/pacs.c
Labels: area: Bluetooth, area: Bluetooth Audio

#59816 Bluetooth: Mesh: instantiate cdb and core keys
  subsys/bluetooth/mesh/main.c
Labels: area: Bluetooth, area: Bluetooth Mesh

#59969 boards: arm: nucleo_f756zg: add flash0 partitions
  boards/arm/nucleo_f756zg/nucleo_f756zg.dts
Labels: platform: STM32

#59972 drivers: mcux_usb: Fix selection of NO_CACHE
  drivers/usb/device/Kconfig
Labels: area: USB

#59985 tests: drivers: can: api: do not quote overlay file name
  tests/drivers/can/api/testcase.yaml
Labels: bug, area: CAN, Trivial

#59995 drivers: wifi: Fix esp32 driver
  drivers/wifi/esp32/src/esp_wifi_drv.c
Labels: platform: ESP32, area: WiFi, Trivial

#60004 tfm: Fix the merged hex file name for mps3_an547
  boards/arm/mps3_an547/board.cmake
Labels: Hotfix, area: TF-M

#60015 drivers: clock_control: Export clock initialization function for STM32H7
  drivers/clock_control/clock_stm32_ll_h7.c
Labels: platform: STM32, area: Clock Control

#60012 Bluetooth: ascs: Fix return without state change nor response
  subsys/bluetooth/audio/ascs.c
Labels: area: Bluetooth, area: Bluetooth Audio

#59974 include: drivers: uart: remove incorrect comments about CDC ACM UART
  include/zephyr/drivers/uart.h
Labels: area: UART

#59487 net: lwm2m: Update next event timestamp on PMAX change
  subsys/net/lib/lwm2m/lwm2m_observation.c
Labels: area: LWM2M

#59619 net: wifi: shell: Fix unsafe pointer casts
  subsys/net/l2/wifi/wifi_shell.c
Labels: area: Networking

#60005 net: Clarify the documentation of net_if_dev
  include/zephyr/net/net_if.h
Labels: area: Networking

#59351 Npm1300 charger temp config
  drivers/sensor/npm1300_charger/npm1300_charger.c
  dts/bindings/sensor/nordic,npm1300-charger.yaml
Labels: area: Sensors, platform: nRF, area: Devicetree Binding

#59647 drivers: flash: spi_nor: support device PM
  drivers/flash/spi_nor.c
Labels: area: Flash

#59293 drivers: bluetooth: hci: spi: add small read delay
  drivers/bluetooth/hci/spi.c
  dts/bindings/bluetooth/zephyr,bt-hci-spi.yaml
Labels: area: Bluetooth, area: Devicetree Binding

#59591 Documentation: Show code fragment parsed in shell doc
  include/zephyr/shell/shell.h
Labels: area: Shell

#59792 linker: Introduce linker-tool-lld.h
  cmake/linker/lld/target_base.cmake
  include/zephyr/linker/linker-tool-lld.h
  include/zephyr/linker/linker-tool.h
  include/zephyr/toolchain.h
Labels: area: Build System, area: ARM, area: Toolchains

#59847 Bluetooth: Modify stream_ops->stopped to be called on leaving streaming
  subsys/bluetooth/audio/ascs.c
  subsys/bluetooth/audio/bap_endpoint.h
  subsys/bluetooth/audio/bap_unicast_client.c
  subsys/bluetooth/audio/bap_unicast_server.c
  tests/bluetooth/audio/ascs/src/test_ase_state_transition.c
Labels: area: Bluetooth, area: Bluetooth Audio

#59849 Fixes for LL/DDI/SCN/BI-04-C test failure
  subsys/bluetooth/controller/hci/hci.c
  subsys/bluetooth/controller/ll_sw/ull_scan_aux.c
Labels: area: Bluetooth, area: Bluetooth Controller

#59977 net: ethernet: add PTP multicast default MAC address
  include/zephyr/net/ethernet.h
  subsys/net/l2/ethernet/ethernet.c
Labels: area: Networking

#58125 drivers: gpio: andes_atcgpio100: implement port_get_direction function
  drivers/gpio/gpio_andes_atcgpio100.c
Labels: area: GPIO

#47686 mbedtls: add CONFIG_MBEDTLS_HEAP_SELF_INIT
  modules/mbedtls/Kconfig
  modules/mbedtls/include/mbedtls_init.h
  modules/mbedtls/zephyr_init.c
Labels: area: Device Model, manifest-mbedtls

#58199 soc: arm: st_stm32: stm32l0: Add support for stm32l051X6
  dts/arm/st/l0/stm32l051X6.dtsi
Labels: platform: STM32

#59763 Add STM32L451
  dts/arm/st/l4/stm32l451.dtsi
  dts/arm/st/l4/stm32l451Xc.dtsi
  dts/arm/st/l4/stm32l451Xe.dtsi
  dts/arm/st/l4/stm32l452.dtsi
  soc/arm/st_stm32/stm32l4/Kconfig.defconfig.stm32l451xx
  soc/arm/st_stm32/stm32l4/Kconfig.soc
Labels: platform: STM32

#59764 dts: xtensa: espressif: esp32s3: add USB CDC support
  boards/xtensa/esp32s3_devkitm/doc/index.rst
  boards/xtensa/esp32s3_devkitm/esp32s3_devkitm.dts
  drivers/serial/serial_esp32_usb.c
Labels: area: UART, platform: ESP32

#59898 bluetooth: tester: Fix build errors
  tests/bluetooth/tester/src/btp_bap.c
Labels: area: Bluetooth

#60050 samples: ipc: rename virtio_xxx static functions in openamp remote
  samples/subsys/ipc/openamp/remote/src/main.c
Labels: area: IPC, Trivial

#59599 drivers: uart_mcux_lpuart: move critical function call out of assert()
  drivers/serial/uart_mcux_lpuart.c
Labels: area: UART, platform: NXP

#59844 drivers: uart_mcux_flexcomm: fix mcux_flexcomm_isr unused for polled uart
  drivers/serial/Kconfig.mcux_flexcomm
  drivers/serial/uart_mcux_flexcomm.c
Labels: area: UART, platform: NXP

#59996 boards: mimxrt1010_evk: set the flash device as enabled
  boards/arm/mimxrt1010_evk/mimxrt1010_evk.dts
Labels: platform: NXP, Trivial

#60087 mbedtls: fix _mbedtls_init() invocation
  modules/mbedtls/zephyr_init.c
Labels: bug, Hotfix, Trivial, manifest-mbedtls

#59986 POSIX arch: Give a nicer error message if built in unsuported platform
  arch/posix/CMakeLists.txt
Labels: area: Build System, area: native port, Trivial

#60105 doc: bsim: fix typo in build link
  doc/develop/test/bsim.rst
Labels: bug, area: Documentation, Trivial

#60108 posix: spinlock: additional kconfig for k_spinlock being size 0
  lib/posix/spinlock.c
Labels: area: POSIX, Hotfix, area: Thrift

#59421 drivers: wifi: esp_at: use dormant states
  drivers/wifi/esp_at/esp.c
Labels: area: WiFi

#60118 emul: spi: SPI_EMUL_INIT(n) hard-coded to instance #0
  drivers/spi/spi_emul.c
Labels: area: SPI, Trivial

#60100 dts: arm: st: fix SDMMC2 for the H7 family
  dts/arm/st/h7/stm32h7.dtsi
Labels: platform: STM32

#60084 Bluetooth: Tests: Use the correct ad data size
  tests/bsim/bluetooth/host/privacy/device/src/test_undirected_peripheral.c
Labels: bug, area: Bluetooth, area: Tests, Trivial, area: Bluetooth Host

#60075 manifest: openthread: regular openthread upmerge `37fb770`
  modules/openthread/CMakeLists.txt
  modules/openthread/Kconfig.features
  west.yml
Labels: manifest, manifest-openthread, manifest-picolibc

#60032 Fix configuration cache overwrites in ll_cig_parameters_commit
  subsys/bluetooth/controller/ll_sw/ull_central_iso.c
Labels: area: Bluetooth, area: Bluetooth Controller

#60026 driver: wdt: npcx: add WDT_OPT_PAUSE_HALTED_BY_DBG support.
  drivers/watchdog/wdt_npcx.c
  dts/arm/nuvoton/npcx/npcx.dtsi
  soc/arm/nuvoton_npcx/common/reg/reg_def.h
  soc/arm/nuvoton_npcx/common/scfg.c
  soc/arm/nuvoton_npcx/common/soc_dbg.h
Labels: area: Watchdog, platform: Nuvoton NPCX, platform: Nuvoton Numicro

#60006 logging: cmake: Remove duplicate source entry
  subsys/logging/CMakeLists.txt
Labels: area: Logging, Trivial

#59997 Bluetooth: BAP: Fix issue with pa sync and ID in broadcast_sink_create
  subsys/bluetooth/audio/bap_broadcast_sink.c
Labels: bug, area: Bluetooth, Trivial, area: Bluetooth Audio

#59783 Host Command fixes
  subsys/mgmt/ec_host_cmd/ec_host_cmd_handler.c
Labels: area: ec_host_cmd

#55899 drivers/crypto/it8xxx2: add support for SHA256 hardware accelerator
  boards/riscv/it8xxx2_evb/it8xxx2_evb.dts
  drivers/crypto/CMakeLists.txt
  drivers/crypto/Kconfig
  drivers/crypto/Kconfig.it8xxx2
  drivers/crypto/crypto_it8xxx2_sha.c
  dts/bindings/crypto/ite,it8xxx2-sha.yaml
  dts/riscv/ite/it8xxx2.dtsi
Labels: area: RISCV, area: Crypto / RNG, area: Devicetree Binding, platform: ITE

#59761 scripts: west: Check for sysbuild flag when parsing test item
  scripts/west_commands/build.py
Labels: area: West

#60069 drivers: usb: usb_dc_it82xx2: correct the resumed/suspended mechanism
  drivers/usb/device/usb_dc_it82xx2.c
Labels: area: USB

#60009 shields: Add arduino uno click shield
  boards/shields/arduino_uno_click/Kconfig.shield
  boards/shields/arduino_uno_click/arduino_uno_click.overlay
  boards/shields/arduino_uno_click/doc/index.rst
Labels: area: Shields

#60027 regulator: shell: fix unitialized variable warning from SCA
  drivers/regulator/regulator_shell.c
Labels: area: Regulators

#60090 tests: Bluetooth: Mesh: test 32-bytes auth static OOB
  tests/bsim/bluetooth/mesh/src/test_provision.c
Labels: area: Bluetooth, area: Bluetooth Mesh

#60131 driver gpio nrfx: Fix undefined output in gpio_nrfx_port_get_direction
  drivers/gpio/gpio_nrfx.c
Labels: area: GPIO, platform: nRF, Trivial

#60119 sensor: ism330dhcx: Incorrect handle passed to ctx struct in SPI mode
  drivers/sensor/ism330dhcx/ism330dhcx_spi.c
Labels: area: Sensors, Hotfix

#60133 drivers: ieee802154: fix declaration in case blocks
  drivers/ieee802154/ieee802154_nrf5.c
Labels: area: IEEE 802.15.4

#60020 devicetree.h: DT_FOREACH_NODE_VARGS, DT_FOREACH_STATUS_OKAY_NODE_VARGS
  include/zephyr/devicetree.h
  scripts/dts/gen_defines.py
  tests/lib/devicetree/api/src/main.c
Labels: area: Devicetree

#60130 net: openthread: remove unneeded `OPENTHREAD_MAX_CHILDREN` default value
  modules/openthread/Kconfig.thread
Labels: manifest-openthread

#60038 soc (native): Use nce directly from native_simulator
  arch/posix/core/CMakeLists.txt
  arch/posix/core/nsi_compat/nce.c
Labels: area: native port, Trivial

#58192 drivers: serial: stm32: add support for RS485 configuration
  drivers/serial/uart_stm32.c
Labels: area: UART, platform: STM32, area: Devicetree Binding

#60099 soc: arm: nrf53: workaround pop lr after wfi crash
  arch/arm/Kconfig
  arch/arm/core/aarch32/cpu_idle.S
  soc/arm/nordic_nrf/nrf53/Kconfig.soc
  soc/arm/nordic_nrf/nrf53/soc_cpu_idle.h
Labels: area: ARM, platform: nRF

#60125 Bluetooth: Controller: Fix coverity issue 318807
  subsys/bluetooth/controller/ll_sw/ull_iso.c
Labels: area: Bluetooth, area: Bluetooth Controller

#60082 Bluetooth: audio: unicast_server: Do not store metadata if rejected
  subsys/bluetooth/audio/bap_unicast_server.c
Labels: bug, area: Bluetooth, Trivial, area: Bluetooth Audio

#60163 doc: Updated description grammar in mikro-bus.yaml file
  dts/bindings/gpio/mikro-bus.yaml
Labels: Trivial, area: Devicetree Binding

#59417 drivers: serial: ns16550 uart driver init level based on parent node type
  drivers/serial/Kconfig.ns16550
  drivers/serial/uart_ns16550.c
Labels: area: UART, platform: X86

#60142 posix: pthread: fixes for coverity 321140 and 321092
  lib/posix/pthread.c
Labels: Coverity, area: POSIX, Trivial

#60179 soc: neorv32: Fix spelling in reset.S
  soc/riscv/riscv-privileged/neorv32/reset.S
Labels: area: RISCV, Trivial

#60185 doc: Fix typos in zbus documentation
  doc/services/zbus/index.rst
Labels: area: Zbus

#59589 mgmt: mcumgr: grp: shell_mgmt: Fix issue with unset variable
  subsys/mgmt/mcumgr/grp/shell_mgmt/src/shell_mgmt.c
Labels: area: mcumgr, backport v3.4-branch

#59758 samples: subsys: usb: webusb: Fix Win10 detection
  include/zephyr/usb/msos_desc.h
  samples/subsys/usb/webusb/src/main.c
Labels: area: USB

#59820 boards: shields: Adding support for the adafruit can picowbell shield
  boards/arm/rpi_pico/rpi_pico-common.dtsi
  boards/shields/mcp2515/Kconfig.shield
  boards/shields/mcp2515/adafruit_can_picowbell.overlay
  boards/shields/mcp2515/doc/adafruit_can_picowbell.jpg
  boards/shields/mcp2515/doc/index.rst
  dts/bindings/gpio/raspberrypi,pico-header.yaml
Labels: area: Shields, area: Devicetree Binding, platform: Raspberry Pi Pico

#60047 mm_drv: tlb: Fix context save for remapped pages
  drivers/mm/mm_drv_intel_adsp_mtl_tlb.c
Labels: area: Memory Management

#60121 fix sign when CONFIG_KERNEL_BIN_NAME is used
  scripts/west_commands/sign.py
  soc/xtensa/nxp_adsp/CMakeLists.txt
Labels: platform: NXP, area: West

#60126 ARC: Turn off stack checking for hsdk4xd
  soc/arc/snps_arc_hsdk4xd/Kconfig.defconfig
Labels: platform: Synopsys

#60153 drivers: pwm: pwm_mcux: fix for coverity 321142
  drivers/pwm/pwm_mcux.c
Labels: bug, area: PWM, platform: NXP, Coverity

#60178 shields: st_b_lcd40_dsi1_mb1166: bump up display init priority
  boards/shields/st_b_lcd40_dsi1_mb1166/boards/stm32h747i_disco_m7.conf
Labels: area: Shields

#60055 posix arch cmake: Add clarification on use of target_link_options
  arch/posix/CMakeLists.txt
Labels: area: Build System, area: native port, Trivial

#60053 drivers serial native ptty: Split in top and bottom
  boards/posix/native_sim/doc/index.rst
  drivers/serial/CMakeLists.txt
  drivers/serial/Kconfig.native_posix
  drivers/serial/uart_native_posix.c
  drivers/serial/uart_native_ptty.c
  drivers/serial/uart_native_ptty_bottom.c
  drivers/serial/uart_native_ptty_bottom.h
Labels: area: UART, area: native port

#59840 drivers/sensor: lis2dh: move h/w reg debug print right after it is read
  drivers/sensor/lis2dh/lis2dh_trigger.c
Labels: area: Drivers, area: Sensors, Coverity

#59980 doc: kernel: code-relocation: Remove erroneous note
  doc/kernel/code-relocation.rst
Labels: area: Kernel

#59590 mgmt: mcumgt: smp: Fix not checking returned status
  subsys/mgmt/mcumgr/smp/src/smp.c
Labels: area: mcumgr, backport v3.4-branch

#59879 doc: mgmt: mcumgr: Fix date typo
  doc/services/device_mgmt/smp_groups/smp_group_0.rst
Labels: area: mcumgr, Trivial

#60072 west.yaml: MCUboot synchronization from upstream
  west.yml
Labels: manifest, manifest-mcuboot

#60206 twister: Initialise unbound 'hardware' variable
  scripts/pylib/twister/twisterlib/handlers.py
Labels: area: Twister

#60170 shields: lmp90100: drop GPIO and EEPROM priority override
  boards/shields/lmp90100_evb/Kconfig.defconfig
Labels: area: Shields

#60140 drivers: adc: fix missing ref_internal in iadc_gecko
  drivers/adc/iadc_gecko.c
Labels: area: ADC, platform: SiLabs

#59999 Remove timeout for SPI STM32 DMA slave mode
  drivers/spi/spi_ll_stm32.c
Labels: area: SPI, platform: STM32

#60062 intel_adsp: boot: d3: hp sram reinit
  soc/xtensa/intel_adsp/ace/boot.c
Labels: platform: Intel ADSP

#59799 soc: intel_adsp/ace: use functions to do CPU power control
  soc/xtensa/intel_adsp/ace/include/intel_ace15_mtpm/adsp_power.h
  soc/xtensa/intel_adsp/ace/include/intel_ace20_lnl/adsp_power.h
  soc/xtensa/intel_adsp/ace/multiprocessing.c
  soc/xtensa/intel_adsp/ace/power.c
Labels: platform: Intel ADSP

#60229 tests/c_lib: Run basic libc tests using newlib and newlib-nano
  tests/lib/c_lib/src/main.c
  tests/lib/c_lib/src/test_strerror.c
  tests/lib/c_lib/testcase.yaml
Labels: area: C Library

#60228 drivers: sensor: mx5837: address integer overflow.
  drivers/sensor/ms5837/ms5837.c
Labels: area: Sensors

#60219 tfm: Fix board selection for Musca B1 board
  modules/trusted-firmware-m/Kconfig.tfm
Labels: manifest-trusted-firmware-m, area: TF-M

#60028 drivers: Add external address translation module and TI RAT support
  drivers/mm/CMakeLists.txt
  drivers/mm/Kconfig
  drivers/mm/mm_drv_ti_rat.c
  include/zephyr/drivers/mm/rat.h
  include/zephyr/sys/device_mmio.h
Labels: area: Kernel, area: Memory Management, area: Base OS

#56364 mainfest: west.yml: Update version of SEGGER RTT library
  west.yml
Labels: area: Debugging, manifest, manifest-segger

#59163 drivers: i2c: tca954x: Add build assert avoiding prio issues
  drivers/i2c/Kconfig.tca954x
  drivers/i2c/i2c_tca954x.c
  tests/drivers/i2c/i2c_tca954x/prj.conf
Labels: area: I2C

#59576 drivers: spi: mcux_flexcomm: fix chip select bug w/ intermediate dma …
  drivers/spi/spi_mcux_flexcomm.c
Labels: area: SPI, platform: NXP, backport v3.4-branch

#58489 57277_fix_missing_set_orientation_api
  include/zephyr/drivers/display.h
Labels: area: Display

#59193 Driver: RTC pcf8563
  drivers/rtc/CMakeLists.txt
  drivers/rtc/Kconfig
  drivers/rtc/Kconfig.pcf8563
  drivers/rtc/rtc_pcf8563.c
  dts/bindings/rtc/nxp,pcf8563.yaml
Labels: platform: NXP, area: RTC, area: Devicetree Binding

#59713 docs: flash_debug: host_tools: Fix reference to jlink host tools
  doc/develop/flash_debug/host-tools.rst
Labels: area: Documentation

#60016 Bluetooth: Mesh: Fix OOB information endianness in scan report message
  subsys/bluetooth/mesh/rpr_cli.c
  subsys/bluetooth/mesh/rpr_srv.c
Labels: area: Bluetooth, area: Bluetooth Mesh

#60248 boards: riscv: neorv32: Updates compatibility to neoverse v1.8.6
  boards/riscv/neorv32/doc/index.rst
  boards/riscv/neorv32/neorv32_1_8_6.conf
  boards/riscv/neorv32/revision.cmake
  drivers/serial/uart_neorv32.c
  soc/riscv/riscv-privileged/neorv32/Kconfig.soc
  soc/riscv/riscv-privileged/neorv32/reset.S
Labels: area: UART, area: RISCV

#60249 drivers: mm: Fix cast warnings on build for RAT
  drivers/mm/mm_drv_ti_rat.c
  include/zephyr/drivers/mm/rat.h
Labels: area: Memory Management

#60259 shell: mqtt: fix uint32_t compared against 0
  subsys/shell/backends/shell_mqtt.c
Labels: area: Shell

#60263 emul: Only add enabled DT nodes to bus emulators
  drivers/espi/espi_emul.c
  drivers/i2c/i2c_emul.c
  drivers/spi/spi_emul.c
Labels: area: SPI, area: I2C, area: eSPI

#60231 lib: posix: pthread_rwlock: Fix the racy issue causing writer to hang
  lib/posix/rwlock.c
Labels: bug, area: POSIX

#60111 drivers: lpadc: fix ADC command chaining
  drivers/adc/adc_mcux_lpadc.c
Labels: area: ADC, platform: NXP, backport v3.4-branch

#59889 shields: semtech_sx1276mb1mas: new shield
  boards/shields/semtech_sx1276mb1mas/Kconfig.shield
  boards/shields/semtech_sx1276mb1mas/doc/index.rst
  boards/shields/semtech_sx1276mb1mas/semtech_sx1276mb1mas.overlay
Labels: area: Shields

#60257 drivers: sensor: qdec_nrfx: Workaround spurious samplerdy event
  drivers/sensor/qdec_nrfx/qdec_nrfx.c
Labels: area: Sensors

#60060 doc: Remove sphinx warning bt_ots_init pattern
  doc/known-warnings.txt
Labels: area: Documentation

#60284 dts: arm: silabs: Fix efr32bg22 usart node
  dts/arm/silabs/efr32bg2x.dtsi
Labels: platform: SiLabs

#60043 Bluetooth: Mesh: Fix err in mod_app_list packing
  include/zephyr/bluetooth/mesh/cfg_cli.h
  subsys/bluetooth/mesh/cfg_cli.c
  subsys/bluetooth/mesh/cfg_srv.c
  subsys/bluetooth/mesh/foundation.h
Labels: area: Bluetooth, area: Bluetooth Mesh

#60262 pm: Supplement pm_device_is_powered doc
  include/zephyr/pm/device.h
Labels: area: Power Management

#60234 drivers: clock_control: stm32h5: boot_clock_assert_fix
  drivers/clock_control/clock_stm32_ll_h5.c
Labels: platform: STM32, area: Clock Control

#51545 drivers: sensors: bmi08x: add initial support for bmi08x
  drivers/sensor/CMakeLists.txt
  drivers/sensor/Kconfig
  drivers/sensor/bmi08x/CMakeLists.txt
  drivers/sensor/bmi08x/Kconfig
  drivers/sensor/bmi08x/bmi08x.c
  drivers/sensor/bmi08x/bmi08x.h
  drivers/sensor/bmi08x/bmi08x_accel.c
  drivers/sensor/bmi08x/bmi08x_accel_trigger.c
  drivers/sensor/bmi08x/bmi08x_config_file.h
  drivers/sensor/bmi08x/bmi08x_gyro.c
  drivers/sensor/bmi08x/bmi08x_gyro_trigger.c
  dts/bindings/sensor/bosch,bmi08x-accel-i2c.yaml
  dts/bindings/sensor/bosch,bmi08x-accel-spi.yaml
  dts/bindings/sensor/bosch,bmi08x-accel.yaml
  dts/bindings/sensor/bosch,bmi08x-gyro-i2c.yaml
  dts/bindings/sensor/bosch,bmi08x-gyro-spi.yaml
  dts/bindings/sensor/bosch,bmi08x-gyro.yaml
  tests/drivers/build_all/sensor/i2c.dtsi
  tests/drivers/build_all/sensor/sensors_trigger_global.conf
  tests/drivers/build_all/sensor/sensors_trigger_none.conf
  tests/drivers/build_all/sensor/sensors_trigger_own.conf
  tests/drivers/build_all/sensor/spi.dtsi
Labels: area: Sensors, area: Devicetree Binding

#60320 doc: requirements: update Sphinx and rtd
  doc/conf.py
  doc/requirements.txt
Labels: Regression, Hotfix, area: Documentation Infrastructure

#60314 doc: doxygen: Enable Doxygen autobrief
  doc/zephyr.doxyfile.in
Labels: area: Documentation Infrastructure

#60298 mgmt: ec_host_cmd: fix init of npxc shi backend
  subsys/mgmt/ec_host_cmd/backends/ec_host_cmd_backend_shi_npcx.c
Labels: Trivial, area: ec_host_cmd

#60282 arch: arm: cortex_m: fault: Improve handling of fault escalation on armv6-m
  arch/arm/core/aarch32/cortex_m/fault.c
Labels: area: ARM

#60181 drivers: modem: skip quoted delimiters
  drivers/modem/modem_cmd_handler.c
Labels: area: Modem

#60107 Bluetooth: audio: ascs: Fix invalid memset of QoS parameters
  subsys/bluetooth/audio/ascs.c
Labels: area: Bluetooth, area: Bluetooth Audio

#60214 tests: arch: arm: Use a more common SHA algorithm
  tests/arch/arm/arm_thread_swap_tz/prj.conf
  tests/arch/arm/arm_thread_swap_tz/src/main.c
Labels: area: ARM

#60104 ctf tracing: native/host backend: Refactor to support embedded C libraries
  boards/posix/native_sim/doc/index.rst
  subsys/tracing/CMakeLists.txt
  subsys/tracing/tracing_backend_posix.c
  subsys/tracing/tracing_backend_posix_bottom.c
  subsys/tracing/tracing_backend_posix_bottom.h
Labels: area: native port, area: Tracing

#60327 drivers: flash: nrf_qspi_nor: Fix writing from unaligned RAM buffers
  drivers/flash/Kconfig.nordic_qspi_nor
  drivers/flash/nrf_qspi_nor.c
Labels: bug, area: Flash, platform: nRF

#60091 ztests: Enable native specific functionality with embedded libCs
  subsys/testsuite/ztest/CMakeLists.txt
  subsys/testsuite/ztest/src/ztest_posix.c
Labels: area: native port, area: Testsuite

#59885 scripts: tests: Twister test expansion - quarantine
  scripts/tests/twister/test_quarantine.py
Labels: area: Tests, area: Twister

#58804 soc/xtensa/nxp_adsp/CMakeLists.txt: use new WEST_SIGN_OPTS variable
  soc/xtensa/nxp_adsp/CMakeLists.txt
Labels: bug, area: Build System, platform: NXP, platform: Intel ADSP, manifest-rimage

#60296 Bluetooth: Mesh: Fix comment for BT_MESH_DFU_PHASE_UNKNOWN
  include/zephyr/bluetooth/mesh/dfu.h
Labels: area: Bluetooth, area: Bluetooth Mesh

#60161 input: convert gt911 from kscan
  boards/shields/rk055hdmipi4m/Kconfig.defconfig
  boards/shields/rk055hdmipi4m/rk055hdmipi4m.overlay
  drivers/input/CMakeLists.txt
  drivers/input/Kconfig
  drivers/input/Kconfig.gt911
  drivers/input/input_gt911.c
  drivers/kscan/CMakeLists.txt
  drivers/kscan/Kconfig
  dts/bindings/input/goodix,gt911.yaml
  samples/drivers/kscan/sample.yaml
  tests/drivers/build_all/input/app.overlay
  tests/drivers/kscan/kscan_api/testcase.yaml
Labels: platform: NXP, area: Shields, area: Devicetree Binding, area: Kscan, area: Input

#60326 arm64: Add frame-pointer based stack unwinding
  arch/arm64/core/Kconfig
  arch/arm64/core/fatal.c
  arch/arm64/core/offsets/offsets.c
  arch/arm64/core/vector_table.S
  include/zephyr/arch/arm64/exc.h
Labels: area: ARM64
