Repository zephyrproject-rtos/zephyr, pull requests merged in 2023-10, with the labels that each got.

#63341 llext: Cleanups noted in initial PR
  arch/arm/core/elf.c
  include/zephyr/llext/llext.h
Labels: bug, Trivial, area: LLEXT

#63269 tests: error_hook: skip test_catch_fatal_error for Armv8-R
  tests/ztest/error_hook/src/main.c
Labels: area: Testsuite

#63326 Bluetooth: Controller: Fix num cmplt for BIS HCI ISO Data fragments
  subsys/bluetooth/controller/ll_sw/ull.c
Labels: bug, area: Bluetooth, area: Bluetooth Controller

#62928 manifest: hal_renesas: Update hal with runtime crash fixes
  west.yml
Labels: manifest, manifest-hal_renesas

#63374 drivers: i2s: use new k_mem_slab definition
  drivers/i2s/i2s_handlers.c
Labels: Trivial, area: I2S

#63370 intel_adsp: boot_complete must be done PRE_KERNEL_1
  soc/xtensa/intel_adsp/common/boot_complete.c
Labels: area: Console, Hotfix, platform: Intel ADSP

#63376 doc: fix link to manifest listing and documentation
  doc/conf.py
Labels: Trivial, area: Documentation Infrastructure

#63338 tests bsim: Limit parallel build
  tests/bsim/bluetooth/compile.sh
Labels: area: Bluetooth

#62651 Bluetooth: Host: Document required changes for L2CAP accept() callback
  doc/releases/migration-guide-3.5.rst
Labels: area: Documentation

#63388 twister: Fix missing timeout in handler class
  scripts/pylib/twister/twisterlib/runner.py
Labels: bug, Hotfix, area: Twister

#63149 drivers: i2c: esp32: check busy line before transfer
  drivers/i2c/i2c_esp32.c
Labels: area: I2C, platform: ESP32

#63349 drivers: can: remove unnecessary asserts in timing callbacks
  drivers/can/can_esp32_twai.c
  drivers/can/can_mcan.c
  drivers/can/can_mcp2515.c
  drivers/can/can_mcp251xfd.c
  drivers/can/can_sja1000.c
Labels: area: CAN, platform: ESP32

#63185 boards: riscv: qemu: enable coverage support for all targets
  boards/riscv/qemu_riscv32/Kconfig.board
  boards/riscv/qemu_riscv32e/Kconfig.board
  boards/riscv/qemu_riscv64/Kconfig.board
Labels: area: RISCV, area: QEMU, Trivial, Code Coverage

#63125 boards: doc: cypress: Update all cypress.com links to use HTTPS
  boards/arm/cy8ckit_062_wifi_bt/doc/index.rst
  boards/arm/cy8cproto_062_4343w/doc/index.rst
  boards/arm/cy8cproto_063_ble/doc/index.rst
Labels: area: Documentation, Trivial, platform: Infineon

#61216 [Backport v2.7-branch] drivers: ieee802154_nrf5: Add payload length check on TX
  drivers/ieee802154/ieee802154_nrf5.c
Labels: area: Networking

#63325 drivers: ieee802154: cc13xx_cc26xx_subg: fix timing regression
  drivers/ieee802154/ieee802154_cc13xx_cc26xx_subg.c
Labels: Regression, platform: TI, area: IEEE 802.15.4, platform: TI SimpleLink

#63200 MAINTAINERS: Add domains.py under West area
  MAINTAINERS.yml
Labels: area: Process

#63334 intel_ish: Enable ISH boards for coverage.
  soc/x86/intel_ish/Kconfig
Labels: bug, Trivial, platform: X86, platform: Intel ISH

#63365 CI bsim workflow: Also run controller tests on nrf5340bsim_nrf5340_cpunet
  .github/workflows/bsim-tests.yaml
Labels: area: Continuous Integration

#63385 Bluetooth: Audio: Fix issues when setting new cfg values
  subsys/bluetooth/audio/audio.c
  subsys/bluetooth/audio/codec.c
Labels: bug, area: Bluetooth, area: Bluetooth Audio

#63401 tests: btp_mesh: Check correct error code
  tests/bluetooth/tester/src/btp_mesh.c
Labels: bug, area: Bluetooth, Trivial

#63352 net: l2: wifi: Fix Wi-Fi mode get command bug
  subsys/net/l2/wifi/wifi_shell.c
Labels: area: Networking, area: Wi-Fi

#63396 cmake: LLVM LLD minimum version 14.0.0
  cmake/linker/lld/target.cmake
Labels: area: Build System, area: Toolchains

#63391 doc: release: 3.5: native boards updates
  doc/releases/release-notes-3.5.rst
Labels: Release Notes

#62972 boards: arm: npcx: update flashing information
  boards/arm/npcx7m6fb_evb/doc/index.rst
  boards/arm/npcx9m6f_evb/doc/index.rst
Labels: platform: Nuvoton NPCX

#63393 net: dhcpv6: Fix params check
  subsys/net/ip/dhcpv6.c
Labels: bug, area: Networking

#63408 net: ip: fix promiscuous mode altering packets
  subsys/net/ip/net_if.c
  tests/net/promiscuous/src/main.c
Labels: area: Networking

#63448 west: runners: nrf: Document why the network core is recovered first
  scripts/west_commands/runners/nrf_common.py
Labels: area: West, Trivial

#63406 drivers: modem: modem_cellular: extend CMUX timeout
  drivers/modem/modem_cellular.c
Labels: area: Modem

#63381 llext: Make max size in shell configurable
  subsys/llext/Kconfig
  subsys/llext/shell.c
Labels: area: Linkable Loadable Extensions

#63358 stm32: clock_control: Fix flash common latency setting
  drivers/clock_control/clock_stm32_ll_common.c
Labels: platform: STM32, area: Clock Control

#63327 net: lib: zperf: fix compiler warning
  subsys/net/lib/zperf/zperf_tcp_receiver.c
  subsys/net/lib/zperf/zperf_udp_receiver.c
Labels: area: Networking

#63299 scripts: tests: twister: Add log_helper tests
  scripts/tests/twister/test_log_helper.py
Labels: area: Twister

#63013 posix: Refactor pthread_join() to remove dead code warnings
  lib/posix/pthread.c
Labels: area: POSIX, area: mcumgr

#62321 drivers: spi: fix Ambiq apollo4p SPI configuration and transmission issues.
  drivers/spi/spi_ambiq.c
Labels: area: SPI, platform: Ambiq

#63233 doc: api: Update link for connection manager
  doc/develop/api/overview.rst
Labels: area: Documentation

#63431 cmake run_native: Fix target dependency
  cmake/emu/native.cmake
Labels: bug, area: Build System

#62399 twister: Make string stripping consistent across handlers
  scripts/pylib/twister/twisterlib/handlers.py
Labels: area: Twister

#63146 samples: Fix deadlink in TFM secure partition sample
  samples/tfm_integration/tfm_secure_partition/README.rst
Labels: area: Documentation, Trivial, area: TF-M

#63303 drivers: can: mcux: flexcan: validate initial timing parameters
  drivers/can/can_mcux_flexcan.c
Labels: bug, platform: NXP, area: CAN

#63468 kernel: Re-order _static_thread_data initializer to match type
  include/zephyr/kernel.h
Labels: area: Kernel

#63428 ITE: dts: it8xxx2: Correct the clock frequency of baud rate
  boards/riscv/it82xx2_evb/it82xx2_evb.dts
  boards/riscv/it8xxx2_evb/it8xxx2_evb.dts
  dts/riscv/ite/it8xxx2.dtsi
Labels: area: RISCV, Trivial, platform: ITE

#60566 lib: posix: mutex: to_posix_mutex should be spinlocked
  lib/posix/mutex.c
Labels: bug, area: POSIX

#63281 doc: services: device_mgmt: smp_group_0: Tidy documentation
  doc/services/device_mgmt/smp_groups/smp_group_0.rst
Labels: area: mcumgr

#63442 bluetooth: mesh: fix static oob auth padding
  subsys/bluetooth/mesh/prov_device.c
  subsys/bluetooth/mesh/provisioner.c
Labels: bug, area: Bluetooth, area: Bluetooth Mesh

#63452 lib: libc: armstdc: add missing retarget of fputc to _stdout_hook
  lib/libc/armstdc/src/libc-hooks.c
Labels: area: C Library

#63458 net: lwm2m: Reset ongoing notification in case token changes
  subsys/net/lib/lwm2m/lwm2m_engine.c
  subsys/net/lib/lwm2m/lwm2m_message_handling.c
  subsys/net/lib/lwm2m/lwm2m_observation.c
  subsys/net/lib/lwm2m/lwm2m_observation.h
  tests/net/lib/lwm2m/lwm2m_engine/src/main.c
Labels: area: Networking, area: LWM2M

#63378 net: coap: release non-confirmable messages
  subsys/net/lib/coap/coap_client.c
  tests/net/lib/coap_client/src/main.c
Labels: bug, area: Networking

#62915 misc: check_init_priorities: drop CONFIG_DEVICE_DEPS=y
  tests/misc/check_init_priorities/prj.conf
Labels: Trivial

#63291 doc: drivers: counter: cleanup Doxygen docs
  include/zephyr/drivers/counter.h
Labels: area: Drivers, area: Documentation, area: Counter

#63315 twister: Fix quarantine performance issue
  scripts/pylib/twister/twisterlib/quarantine.py
  scripts/tests/twister/test_quarantine.py
Labels: area: Twister

#63345 bluetooth: conn: Fix forced pairing request handling
  include/zephyr/bluetooth/conn.h
  subsys/bluetooth/host/conn.c
Labels: area: Bluetooth, area: Bluetooth Host

#63467 Revert "boards/arc/qemu_arc: Disable use of branch delay slots"
  boards/arc/qemu_arc/qemu_arc_em_defconfig
  boards/arc/qemu_arc/qemu_arc_hs5x_defconfig
  boards/arc/qemu_arc/qemu_arc_hs6x_defconfig
  boards/arc/qemu_arc/qemu_arc_hs_defconfig
  boards/arc/qemu_arc/qemu_arc_hs_xip_defconfig
Labels: platform: Synopsys

#63480 docs: update sha256 for SDK
  doc/develop/getting_started/index.rst
  doc/develop/getting_started/installation_linux.rst
Labels: area: Documentation

#63485 Bluetooth: Controll: Fix dead code in ll_setup_iso_path
  subsys/bluetooth/controller/ll_sw/ull_iso.c
Labels: area: Bluetooth, area: Bluetooth Controller

#63348 bluetooth: audio: cpp compatibility missing
  include/zephyr/bluetooth/audio/bap.h
Labels: area: Bluetooth, area: Bluetooth Audio

#63512 bindings: move cst816s and cap1203 to input
  dts/bindings/input/hynitron,cst816s.yaml
  dts/bindings/input/microchip,cap1203.yaml
Labels: Trivial, platform: Microchip MEC, area: Devicetree Binding, area: Input

#62996 drivers: i2c: i2c_nrfx_twim: fail gracefully on dma max size
  drivers/i2c/i2c_nrfx_twim.c
  dts/arm/nordic/nrf51822.dtsi
  dts/arm/nordic/nrf52805.dtsi
  dts/arm/nordic/nrf52810.dtsi
  dts/arm/nordic/nrf52811.dtsi
  dts/arm/nordic/nrf52820.dtsi
  dts/arm/nordic/nrf52832.dtsi
  dts/arm/nordic/nrf52833.dtsi
  dts/arm/nordic/nrf52840.dtsi
  dts/arm/nordic/nrf5340_cpuapp_peripherals.dtsi
  dts/arm/nordic/nrf91_peripherals.dtsi
  dts/bindings/i2c/nordic,nrf-twi-common.yaml
Labels: area: I2C, platform: nRF, area: Devicetree Binding

#63516 Misc notes
  doc/releases/migration-guide-3.5.rst
  doc/releases/release-notes-3.5.rst
Labels: area: Documentation, Release Notes

#63529 drivers: i2s: i2s_mcux_sai: fix logging statements for k_mem_slab
  drivers/i2s/i2s_mcux_sai.c
Labels: platform: NXP, area: I2S

#63439 drivers: i2c: stm32: disable reload mode at the end of a transfer
  drivers/i2c/i2c_ll_stm32_v2.c
Labels: bug, area: I2C, platform: STM32, Trivial

#63522 net: context: set context->local for offloaded iface
  subsys/net/ip/net_context.c
Labels: bug, area: Networking

#63536 Bluetooth: Audio: Fix BAP Broadcast source reconfig param count
  subsys/bluetooth/audio/bap_broadcast_source.c
Labels: bug, area: Bluetooth, Trivial, area: Bluetooth Audio

#63440 bluetooth: tester: add support for variable static oob size
  tests/bluetooth/tester/src/btp/btp_mesh.h
  tests/bluetooth/tester/src/btp_mesh.c
Labels: bug, area: Bluetooth, area: Bluetooth Mesh

#63521 boards: frdm_k64f: Add uart-mcumgr chosen
  boards/arm/frdm_k64f/frdm_k64f.dts
Labels: platform: NXP

#63399 tests: kernel: Add qemu_leon3 to no-multithreading tests
  tests/kernel/mem_heap/mheap_api_concept/testcase.yaml
  tests/kernel/mem_slab/mslab_api/testcase.yaml
  tests/kernel/threads/no-multithreading/testcase.yaml
  tests/kernel/timer/timer_api/testcase.yaml
Labels: area: Kernel

#63487 tests: drivers: flash: remove platform_allow filter
  tests/drivers/flash/common/testcase.yaml
Labels: area: Flash

#63079 fs: fuse: Fix possible buffer overflow
  subsys/fs/fuse_fs_access.c
Labels: bug, area: File System

#63372 cmake: stub zephyr_set(... SCOPE ...) function in package helper
  cmake/package_helper.cmake
Labels: bug, area: Build System

#63532 Bluetooth: Mesh: fix settings work queue size for rpr
  subsys/bluetooth/mesh/Kconfig
Labels: bug, area: Bluetooth, area: Bluetooth Mesh

#63556 tests: bluetooth: tester: Move bt_mesh_init call to BTP_MESH_INIT cmd
  tests/bluetooth/tester/src/btp/btp_mesh.h
  tests/bluetooth/tester/src/btp_mesh.c
Labels: bug, area: Bluetooth, area: Bluetooth Mesh

#63547 mgmt: mcumgr: transport: dummy: Fix truncating uint16_t
  subsys/mgmt/mcumgr/transport/src/smp_dummy.c
Labels: bug, area: mcumgr

#61477 [Backport v3.4-branch] POSIX arch: Fix literal floating comparison in 32bit targets
  arch/posix/CMakeLists.txt
Labels: area: native port

#63508 drivers: pwm_nrfx: Connect IRQ handlers for anomaly 109 workaround
  drivers/pwm/pwm_nrfx.c
Labels: bug, area: PWM, platform: nRF

#63231 Bluetooth: controller: fix comparison of unsigned int to larger then or equal to 0
  subsys/bluetooth/controller/ll_sw/ull_iso_types.h
Labels: area: Bluetooth, area: Bluetooth Controller

#63498 Bluetooth: Controller: Make aa in radio_aa_set const
  subsys/bluetooth/controller/ll_sw/nordic/hal/nrf5/radio/radio.c
  subsys/bluetooth/controller/ll_sw/nordic/hal/nrf5/radio/radio.h
  subsys/bluetooth/controller/ll_sw/openisa/hal/RV32M1/radio/radio.c
  subsys/bluetooth/controller/ll_sw/openisa/hal/RV32M1/radio/radio.h
Labels: area: Bluetooth, area: Bluetooth Controller

#63457 Bluetooth: Controller: Add hdl checks in isoal.c
  subsys/bluetooth/controller/ll_sw/isoal.c
Labels: area: Bluetooth, area: Bluetooth Controller

#63392 boards/sparc: Update simulator_exec for twister
  boards/sparc/generic_leon3/generic_leon3.yaml
  boards/sparc/gr716a_mini/gr716a_mini.yaml
Labels: area: SPARC

#63561 tests: bluetooth: tester: Fix parameter type in BTP_MESH_INIT cmd
  tests/bluetooth/tester/src/btp/btp_mesh.h
  tests/bluetooth/tester/src/btp_mesh.c
Labels: bug, area: Bluetooth, area: Bluetooth Mesh

#63574 modem: modem_cmux: Set C/R bit in UIH frames
  subsys/modem/modem_cmux.c
  tests/subsys/modem/modem_cmux/src/main.c
Labels: bug, area: Modem

#63583 rtio: Remove unused Kconfigs for executors
  subsys/rtio/Kconfig
Labels: bug, Trivial, area: RTIO

#63590 rtio: Fix blocking loop
  include/zephyr/rtio/rtio.h
Labels: area: RTIO

#63600 bluetooth: common: Kconfig: Add missing dependency for BT_MONITOR
  subsys/bluetooth/common/Kconfig
Labels: bug, area: Bluetooth

#63569 Bluetooth: Controller: Remove legacy BT_CTLR_FAST_ENC option
  drivers/entropy/entropy_nrf5.c
  drivers/entropy/entropy_smartbond.c
  drivers/entropy/entropy_stm32.c
  subsys/bluetooth/controller/Kconfig.ll_sw_split
  tests/bluetooth/init/prj_ctlr_4_0.conf
  tests/bluetooth/init/prj_ctlr_4_0_dbg.conf
  tests/bluetooth/init/prj_ctlr_5_x_dbg.conf
  tests/bluetooth/init/prj_ctlr_dbg.conf
  tests/bluetooth/init/prj_ctlr_ticker.conf
  tests/bluetooth/init/prj_ctlr_tiny.conf
Labels: bug, area: Bluetooth, platform: STM32, area: Crypto / RNG, area: Bluetooth Controller, platform: Renesas SmartBond

#63316 bindesc: Use UTC time by default and comply with ISO-8601
  subsys/bindesc/CMakeLists.txt
  subsys/bindesc/Kconfig.build_time
Labels: area: Binary Descriptors

#63560 Bluetooth: Controller: Fix leak in scheduled ticker node
  subsys/bluetooth/controller/ticker/ticker.c
Labels: bug, area: Bluetooth, area: Bluetooth Controller

#63606 Bluetooth: ATT: discard RX on a disconnected connection
  subsys/bluetooth/host/att.c
Labels: bug, area: Bluetooth, area: Bluetooth Host

#63599 boards: esp32: Fix documentation spelling
  boards/riscv/esp32c3_devkitm/doc/index.rst
  boards/riscv/esp32c3_luatos_core/doc/index.rst
  boards/riscv/icev_wireless/doc/index.rst
  boards/riscv/stamp_c3/doc/index.rst
  boards/riscv/xiao_esp32c3/doc/index.rst
  boards/xtensa/esp32_devkitc_wrover/doc/index.rst
  boards/xtensa/esp32_ethernet_kit/doc/index.rst
  boards/xtensa/esp32s2_franzininho/doc/index.rst
  boards/xtensa/esp32s2_saola/doc/index.rst
  boards/xtensa/esp32s3_devkitm/doc/index.rst
  boards/xtensa/esp32s3_luatos_core/doc/index.rst
  boards/xtensa/esp_wrover_kit/doc/index.rst
  boards/xtensa/heltec_wifi_lora32_v2/doc/index.rst
  boards/xtensa/m5stickc_plus/doc/index.rst
  boards/xtensa/odroid_go/doc/index.rst
  boards/xtensa/olimex_esp32_evb/doc/index.rst
  boards/xtensa/xiao_esp32s3/doc/index.rst
  boards/xtensa/yd_esp32/doc/index.rst
Labels: area: RISCV, platform: ESP32

#63550 Bluetooth: BAP: Fix bug in BASE bis index
  subsys/bluetooth/audio/bap_broadcast_source.c
Labels: bug, area: Bluetooth, area: Bluetooth Audio

#63261 drivers: led: pca9633: disable allcall
  drivers/led/pca9633.c
  dts/bindings/led/nxp,pca9633.yaml
Labels: platform: NXP, area: LED, area: Devicetree Binding

#62653 soc: xtensa,riscv: esp32c3: Fix SOC_PART_NUMBER choices
  soc/riscv/espressif_esp32/esp32c3/Kconfig.soc
Labels: area: RISCV, platform: ESP32

#63476 west.yml: Update hal_silabs to pull request #45
  west.yml
Labels: bug, manifest, manifest-hal_silabs

#63611 drivers: usb_dc_nrfx: Isochronous endpoint cannot be bulk
  drivers/usb/device/usb_dc_nrfx.c
Labels: bug, area: USB, platform: nRF

#63507 security: doc: add missing headings
  doc/security/vulnerabilities.rst
Labels: area: Documentation

#63398 Bluetooth: Mesh: Fixed issue with RPR server and client.
  subsys/bluetooth/mesh/provisioner.c
  tests/bsim/bluetooth/mesh/src/test_provision.c
  tests/bsim/bluetooth/mesh/tests_scripts/provision/pb_remote_client_server_same_dev.sh
Labels: bug, area: Bluetooth, area: Bluetooth Mesh

#63489 drivers: can: mcan: Move RF0L and RF1L to line 1
  drivers/can/can_mcan.c
Labels: area: CAN, backport v2.7-branch, backport v3.3-branch, backport v3.4-branch

#63557 bluetooth: tester: pacs: Added set Locations and Contexts.
  tests/bluetooth/tester/src/btp/btp_pacs.h
  tests/bluetooth/tester/src/btp_bap.c
Labels: area: Bluetooth, area: Bluetooth Qualification

#63604 samples: Bluetooth: Fix seq_num in broadcast audio source
  samples/bluetooth/broadcast_audio_source/src/main.c
Labels: area: Bluetooth

#63605 Bluetooth: host: Replace length check assert with if statement
  subsys/bluetooth/host/hci_core.c
  subsys/bluetooth/host/iso.c
Labels: bug, area: Bluetooth, area: Bluetooth Host

#63609 drivers: bluetooth: rpmsg: Send reset only when the Host is included
  drivers/bluetooth/hci/rpmsg.c
Labels: bug, area: Bluetooth, area: Bluetooth Host

#63613 cmake: fix git dependency for version.h creation
  CMakeLists.txt
Labels: bug, area: Build System, Trivial

#63620 tests: bluetooth: tester: Fix self-update test DFU/SR/FD/BV-59-C
  tests/bluetooth/tester/src/btp_mesh.c
Labels: bug, area: Bluetooth, area: Bluetooth Mesh, area: Bluetooth Qualification

#63524 Bluetooth: Mesh: Don't reset mod pointer in reset callback in RPR server
  subsys/bluetooth/mesh/rpr_srv.c
Labels: bug, area: Bluetooth, area: Bluetooth Mesh

#63558 modules: Kconfig.mcux: Remove implicit selection of HAS_CMSIS_CORE
  modules/Kconfig.mcux
Labels: platform: NXP

#63481 sensors: Fix alignment issues
  drivers/sensor/default_rtio_sensor.c
  drivers/sensor/icm42688/icm42688.c
  include/zephyr/drivers/sensor.h
Labels: bug, area: Sensors, Hotfix

#63612 maintainers: Change regulator maintainer
  MAINTAINERS.yml
Labels: area: Process

#63619 drivers: can: sja1000: remove excessive debug logging
  drivers/can/can_sja1000.c
Labels: area: CAN

#63615 Bluetooth: host: document the connection states
  subsys/bluetooth/host/conn_internal.h
Labels: area: Bluetooth, area: Documentation, area: Bluetooth Host

#63643 llext: Update the sample readme with a board
  samples/subsys/llext/shell_loader/README.rst
Labels: area: Linkable Loadable Extensions

#63490 drivers: eth: gmac: Fix ethernet startup when fixed-link
  drivers/ethernet/eth_sam_gmac.c
Labels: platform: Microchip SAM, area: Ethernet

#63618 dts: bindings: adxl372-i2c: update description
  dts/bindings/sensor/adi,adxl372-i2c.yaml
Labels: area: Sensors, area: Devicetree Binding, platform: ADI

#63403 tests: posix: Enable pthread_pressure test on SPARC
  tests/posix/pthread_pressure/Kconfig
  tests/posix/pthread_pressure/testcase.yaml
Labels: area: Tests, area: POSIX, Trivial

#63549 drivers: i2s: mcux_sai: fix PCM data format and respect CLK format
  drivers/i2s/i2s_mcux_sai.c
Labels: platform: NXP, area: I2S

#63646 bluetooth: conn: Fix compiler warning
  subsys/bluetooth/host/conn.c
Labels: area: Bluetooth, area: Bluetooth Host

#63505 i2c: silabs: Fix I2C target crash on long ISR execution
  drivers/i2c/i2c_gecko.c
Labels: bug, area: I2C, platform: SiLabs

#63601 net: ip: tcp: Fix kernel crash on idle thread
  subsys/net/ip/tcp.c
Labels: area: Networking

#63641 doc: Add missing threads references to object cores
  doc/kernel/object_cores/index.rst
Labels: area: Kernel, area: Documentation

#63655 dts: arm: st: u5: correct lptim2 clock enable bit
  dts/arm/st/u5/stm32u5.dtsi
Labels: platform: STM32

#63679 drivers: can: avoid integer overflow in expression
  drivers/can/can_stm32_bxcan.c
Labels: platform: STM32, area: CAN, Trivial, backport v2.7-branch, backport v3.3-branch, backport v3.4-branch

#63682 sensors: default_rtio_sensor: fix build warning
  drivers/sensor/default_rtio_sensor.c
Labels: area: Sensors, Hotfix

#63654 doc: release: 3.5: (partial) kernel release notes
  doc/releases/release-notes-3.5.rst
Labels: area: Kernel, area: Documentation, Release Notes

#63658 tests: bluetooth: tester: Fix provisioning context initialization in PTS tests
  tests/bluetooth/tester/src/btp/btp_mesh.h
  tests/bluetooth/tester/src/btp_mesh.c
Labels: bug, area: Bluetooth, area: Bluetooth Mesh

#63695 doc: release-notes: add EEPROM release notes for v3.5.0
  doc/releases/release-notes-3.5.rst
Labels: Release Notes, area: EEPROM

#63413 Allow picolibc to be used with third party CPP
  cmake/linker/ld/target_cpp.cmake
  lib/cpp/Kconfig
  lib/libc/Kconfig
Labels: area: Build System, area: C Library, area: Toolchains, area: C++, area: picolibc

#62748 doc: migration-guide: add notes on SSD1306 Kconfig changes
  doc/releases/migration-guide-3.5.rst
Labels: area: Documentation

#63617 task_wdt: fix race condition for task_wdt_add function
  subsys/task_wdt/task_wdt.c
Labels: area: Task Watchdog

#63451 boards: arm: nrf9161dk_nrf9161: Add ext flash support for 0.7.0 version
  boards/arm/nrf9161dk_nrf9161/nrf9161dk_nrf9161_0_7_0.overlay
  boards/arm/nrf9161dk_nrf9161/nrf9161dk_nrf9161_common_0_7_0.dtsi
  boards/arm/nrf9161dk_nrf9161/nrf9161dk_nrf9161_ns_0_7_0.overlay
  boards/arm/nrf9161dk_nrf9161/revision.cmake
Labels: bug, platform: nRF

#63705 doc: release-notes: Add 3.5.0 release notes for nanopb
  doc/releases/release-notes-3.5.rst
Labels: Release Notes

#63701 doc: release: Fix formatting of bullet lists
  doc/releases/migration-guide-3.5.rst
  doc/releases/release-notes-3.5.rst
Labels: area: Documentation, Release Notes

#63713 drivers: can: sja1000: do not attempt to sleep in IRQ context
  drivers/can/can_sja1000.c
Labels: area: CAN, backport v3.3-branch, backport v3.4-branch

#63517 tests: newlib/thread_safety: exclude acrn_ehl_crb from more tests
  tests/lib/newlib/thread_safety/testcase.yaml
Labels: area: C Library, Hotfix

#63688 doc: release: 3.5: Add Ethernet and Wi-Fi info
  doc/releases/release-notes-3.5.rst
Labels: area: Networking, area: Ethernet, area: Wi-Fi, Release Notes

#63706 tests: bluetooth: tester: Increase BT RX thread stack
  tests/bluetooth/tester/prj.conf
Labels: area: Bluetooth, area: Tests, area: Bluetooth Qualification

#63444 samples: tfm_regression_test: Provide a working partition for nucleo_l5
  samples/tfm_integration/tfm_regression_test/boards/nucleo_l552ze_q_ns.overlay
Labels: area: TF-M

#63640 drivers: flash: flexspi_mx25um513: enforce write size limit in DTR mode
  drivers/flash/flash_mcux_flexspi_mx25um51345g.c
Labels: area: Flash, platform: NXP

#63724 doc: release/3.5: add bits about Xtensa, UART, PCIe, I3C, userspace, syscalls, and shadow variables
  doc/releases/release-notes-3.5.rst
Labels: Release Notes

#63715 doc: release-notes: Add 3.5.0 release notes for random and entropy
  doc/releases/release-notes-3.5.rst
Labels: Release Notes

#63720 tests: bluetooth: tester: Fix GATT read multiple
  tests/bluetooth/tester/src/btp_gatt.c
Labels: area: Bluetooth, area: Bluetooth Qualification

#63741 doc: release-notes: Add 3.5.0 notes for LoRaWAN
  doc/releases/release-notes-3.5.rst
Labels: Release Notes

#63729 display: stm32: fix bug where missing backlight pin causes crash
  drivers/display/display_stm32_ltdc.c
Labels: platform: STM32, area: Display

#63704 Bluetooth: ascs: Fix Source ASE link loss state transition
  subsys/bluetooth/audio/ascs.c
Labels: area: Bluetooth, area: Bluetooth Qualification, area: Bluetooth Audio

#63750 drivers: eswifi: Fix the SSID copying
  drivers/wifi/eswifi/eswifi_core.c
Labels: area: Wi-Fi, Hotfix

#63633 flash: nxp: fix lpc55s36 flash read
  drivers/flash/soc_flash_mcux.c
Labels: area: Flash, platform: NXP

#63698 drivers: ethernet: eth_stm32_hal.c Fix mixup of DMA error and MAC error
  drivers/ethernet/eth_stm32_hal.c
Labels: platform: STM32, area: Ethernet

#63740 doc: release-notes: Add 3.5.0 release notes for LVGL
  doc/releases/release-notes-3.5.rst
Labels: Release Notes

#63757 tests: lib: hash_map: fix libc heap size setting
  tests/lib/hash_map/prj.conf
  tests/lib/hash_map/testcase.yaml
Labels: bug, area: hash utils

#63776 doc: releases: release-notes v3.5: update DAC driver
  doc/releases/release-notes-3.5.rst
Labels: Release Notes

#63775 doc: releases: release-notes-3.5: update CAN ISO-TP
  doc/releases/migration-guide-3.5.rst
  doc/releases/release-notes-3.5.rst
Labels: area: Documentation, Release Notes

#63158 drivers: serial: stm32: Make it compatible with runtime PM on console
  drivers/serial/uart_stm32.c
Labels: area: UART, platform: STM32

#63597 nrf53: fix RTC pretick power usage for events on RTC0
  soc/arm/nordic_nrf/nrf53/Kconfig.soc
  soc/arm/nordic_nrf/nrf53/soc.c
Labels: bug, platform: nRF
