Repository zephyrproject-rtos/zephyr, pull requests merged in 2023-12, with the labels that each got.

#65977 can: mcp251xfd: fix compilation
  drivers/can/can_mcp251xfd.c
Labels: area: CAN, Trivial

#65872 release_notes: native_sim replaces native_posix
  doc/releases/release-notes-3.6.rst
Labels: Release Notes

#64837 Bluetooth: audio: host: call the stream disable callback
  subsys/bluetooth/audio/ascs.c
  tests/bluetooth/audio/ascs/src/main.c
  tests/bluetooth/audio/ascs/src/test_ase_state_transition.c
Labels: area: Bluetooth, area: Bluetooth Audio

#64976 improve logging of ADS114s0x
  drivers/adc/adc_ads114s0x.c
Labels: area: ADC

#65857 tests: drivers: adc: adc_dma: add nucleo_l476rg
  tests/drivers/adc/adc_dma/testcase.yaml
Labels: area: ADC, platform: STM32, Trivial

#65913 arch/x86: Fix building early console driver
  arch/x86/core/early_serial.c
Labels: area: X86, platform: X86

#65915 tests: acpi: Refactor ACPi test
  tests/arch/x86/info/src/acpi.c
Labels: area: X86

#65916 boards nrf5340bsim_cpuapp: Define chosen entropy source
  boards/posix/nrf_bsim/nrf5340bsim_nrf5340_cpuapp.dts
Labels: Trivial, platform: nRF BSIM

#65917 bluetooth: mesh: Doc fix Bluetooth mesh to Mesh
  boards/arm/nrf52840_mdk/doc/index.rst
  boards/riscv/esp32c3_devkitm/doc/index.rst
  boards/riscv/esp32c3_luatos_core/doc/index.rst
  doc/connectivity/bluetooth/api/mesh.rst
  doc/connectivity/bluetooth/api/mesh/access.rst
  doc/connectivity/bluetooth/api/mesh/blob.rst
  doc/connectivity/bluetooth/api/mesh/blob_cli.rst
  doc/connectivity/bluetooth/api/mesh/blob_srv.rst
  doc/connectivity/bluetooth/api/mesh/cfg.rst
  doc/connectivity/bluetooth/api/mesh/cfg_cli.rst
  doc/connectivity/bluetooth/api/mesh/cfg_srv.rst
  doc/connectivity/bluetooth/api/mesh/core.rst
  doc/connectivity/bluetooth/api/mesh/dfu.rst
  doc/connectivity/bluetooth/api/mesh/dfu_srv.rst
  doc/connectivity/bluetooth/api/mesh/health_srv.rst
  doc/connectivity/bluetooth/api/mesh/heartbeat.rst
  doc/connectivity/bluetooth/api/mesh/lcd_cli.rst
  doc/connectivity/bluetooth/api/mesh/lcd_srv.rst
  doc/connectivity/bluetooth/api/mesh/models.rst
  doc/connectivity/bluetooth/api/mesh/msg.rst
  doc/connectivity/bluetooth/api/mesh/od_cli.rst
  doc/connectivity/bluetooth/api/mesh/od_srv.rst
  doc/connectivity/bluetooth/api/mesh/op_agg_cli.rst
  doc/connectivity/bluetooth/api/mesh/priv_beacon_cli.rst
  doc/connectivity/bluetooth/api/mesh/priv_beacon_srv.rst
  doc/connectivity/bluetooth/api/mesh/provisioning.rst
  doc/connectivity/bluetooth/api/mesh/proxy.rst
  doc/connectivity/bluetooth/api/mesh/sar_cfg.rst
  doc/connectivity/bluetooth/api/mesh/sar_cfg_cli.rst
  doc/connectivity/bluetooth/api/mesh/sar_cfg_srv.rst
  doc/connectivity/bluetooth/api/mesh/shell.rst
  doc/connectivity/bluetooth/bluetooth-arch.rst
  doc/connectivity/bluetooth/overview.rst
  doc/introduction/index.rst
  doc/kernel/timeutil.rst
  doc/security/vulnerabilities.rst
  include/zephyr/bluetooth/mesh.h
  include/zephyr/bluetooth/mesh/blob_srv.h
  include/zephyr/bluetooth/mesh/cfg.h
  include/zephyr/bluetooth/mesh/dfu_cli.h
  include/zephyr/bluetooth/mesh/dfu_metadata.h
  include/zephyr/bluetooth/mesh/dfu_srv.h
  include/zephyr/bluetooth/mesh/main.h
  samples/bluetooth/mesh/README.rst
  samples/bluetooth/mesh_demo/README.rst
  samples/bluetooth/mesh_provisioner/README.rst
  samples/boards/nrf/mesh/onoff-app/README.rst
  samples/boards/nrf/mesh/onoff_level_lighting_vnd_app/README.rst
  samples/boards/reel_board/mesh_badge/README.rst
  subsys/bluetooth/Kconfig.logging
  subsys/bluetooth/common/Kconfig
  subsys/bluetooth/mesh/Kconfig
  subsys/bluetooth/mesh/access.h
  subsys/bluetooth/mesh/settings.c
  subsys/bluetooth/mesh/shell/Kconfig
  subsys/bluetooth/mesh/shell/shell.c
  tests/bsim/bluetooth/mesh/README.rst
  tests/bsim/bluetooth/mesh/prj.conf
  tests/bsim/bluetooth/mesh/prj_mesh1d1.conf
  tests/bsim/bluetooth/mesh/src/mesh_test.h
Labels: area: Kernel, area: Bluetooth, area: Documentation, area: Samples, area: RISCV, platform: nRF, platform: ESP32, area: Bluetooth Mesh

#65924 net: sockets: Add additional checks to recvmsg()
  subsys/net/lib/sockets/sockets.c
  tests/net/socket/udp/src/main.c
Labels: area: Networking, area: Sockets

#65928 net: lib: coap: Add support to query CoAP service running state
  include/zephyr/net/coap_service.h
  subsys/net/lib/coap/coap_server.c
Labels: area: Networking

#65933 wifi: Check WPA-PSK passphrase length
  subsys/net/l2/wifi/wifi_mgmt.c
Labels: area: Networking, area: Wi-Fi, Trivial

#65944 bluetooth: Add CPF attribute to BAS battery level.
  subsys/bluetooth/services/bas.c
Labels: area: Bluetooth, area: Bluetooth Host

#65962 doc: usermode: Improve documentation
  include/zephyr/sys/kobject.h
Labels: Trivial, area: Userspace, area: Base OS, area: Documentation Infrastructure

#65999 drivers: mdio_nxp_enet: fix ampersands typo
  drivers/mdio/mdio_nxp_enet.c
Labels: platform: NXP, Trivial

#66010 net: gptp: fix announce message len
  subsys/net/l2/ethernet/gptp/gptp_messages.h
Labels: area: Networking, Trivial

#66015 net: l2: wifi: Fix Print of SSID in WIFI status
  subsys/net/l2/wifi/wifi_shell.c
Labels: area: Networking, area: Wi-Fi, Trivial

#65874 doc: release: 3.6: Add new R-Car Gen4 SoC series
  doc/releases/release-notes-3.6.rst
Labels: Release Notes

#65650 ITE: drivers/gpio: Correct the wake up control input
  drivers/gpio/gpio_ite_it8xxx2.c
Labels: area: GPIO, Trivial, platform: ITE

#65729 [v2.7-branch] cmake: modules: dts: Fix board revision 0 overlay
  cmake/dts.cmake
Labels: area: Build System

#62643 drivers: sensor: bmi323 interrupt fix
  drivers/sensor/bmi323/bmi323.c
Labels: area: Sensors

#65958 Bluetooth: audio: has: Fix coverity issues
  subsys/bluetooth/audio/has.c
Labels: area: Bluetooth, area: Bluetooth Audio

#66001 devicetree: remove label property accessors
  doc/releases/migration-guide-3.6.rst
  dts/bindings/test/vnd,non-deprecated-label.yaml
  include/zephyr/devicetree.h
  include/zephyr/devicetree/gpio.h
  include/zephyr/devicetree/spi.h
  tests/lib/devicetree/api/app.overlay
  tests/lib/devicetree/api/src/main.c
Labels: area: Devicetree, Release Notes, area: Devicetree Binding

#66019 doc: migration-guide: 3.6: Add recommended change to native_sim
  doc/releases/migration-guide-3.6.rst
Labels: Release Notes

#66043 boards nrf5340bsim_cpuapp: Select approprite 802154 radio in DT
  boards/posix/nrf_bsim/nrf5340bsim_nrf5340_cpuapp.dts
Labels: Trivial, platform: nRF BSIM

#66037 mimxrt1040_evk: document USER_LED and jumper J80
  boards/arm/mimxrt1040_evk/doc/index.rst
Labels: area: Boards, area: Documentation, platform: NXP, Trivial

#66005 Update wifi shell help
  subsys/net/l2/wifi/wifi_shell.c
Labels: area: Networking, area: Wi-Fi

#65998 drivers: nxp_enet: simplify driver header
  drivers/ethernet/eth_nxp_enet.c
  drivers/mdio/mdio_nxp_enet.c
  drivers/ptp_clock/ptp_clock_nxp_enet.c
  include/zephyr/drivers/ethernet/eth_nxp_enet.h
Labels: platform: NXP, area: Ethernet, area: Clocks

#66074 dts: arm: stm32f7 vref calibration address fixed
  dts/arm/st/f7/stm32f7.dtsi
  dts/arm/st/f7/stm32f723.dtsi
Labels: platform: STM32, Trivial

#65609 Bluetooth: Shell: Workaround coverity uint comparation
  subsys/bluetooth/shell/bt.c
Labels: area: Bluetooth, Coverity, area: Bluetooth Host

#66000 cmake/compiler/: drop ERROR_QUIET when looking for compiler --version
  cmake/compiler/arcmwdt/generic.cmake
  cmake/compiler/armclang/generic.cmake
  cmake/compiler/gcc/generic.cmake
Labels: bug, area: Build System, area: Toolchains

#66090 doc: blobs: fix double 'command'
  doc/contribute/bin_blobs.rst
Labels: area: Documentation, Trivial

#66105 boards: arm: rzt2m_starterkit: fix documentation rendering
  boards/arm/rzt2m_starterkit/doc/index.rst
Labels: area: Documentation, Trivial

#66098 boards: mimxrt101x_evk: add chosen dtcm
  boards/arm/mimxrt1010_evk/mimxrt1010_evk.dts
  boards/arm/mimxrt1015_evk/mimxrt1015_evk.dts
Labels: platform: NXP, Trivial

#66083 Bluetooth: Testlib: ATT read fixes
  tests/bluetooth/common/testlib/src/att_read.c
Labels: area: Bluetooth, area: Tests, Trivial

#65965 tests/x86: Clarify DMAR output
  tests/arch/x86/info/src/acpi.c
Labels: area: X86, area: Tests, Trivial, platform: X86

#65243 arch: arm: Use returned reason from secure fault handle function
  arch/arm/core/cortex_m/fault.c
Labels: area: ARM, Trivial

#65930 twister: qemu: Fix race condition at QEMUHandler
  scripts/pylib/twister/twisterlib/handlers.py
Labels: area: Twister

#66066 drivers: eth: sam: Fix regression from 62833
  drivers/ethernet/eth_sam_gmac.c
Labels: platform: Microchip SAM, area: Ethernet, Regression

#66069 drivers: wifi: esp32: Mute implicit function declaration warning
  drivers/wifi/esp32/src/esp_wifi_drv.c
Labels: platform: ESP32, area: Wi-Fi

#66026 dts: arm: nordic: nrf53/nrf91: Fix GPREGRET register addresses
  dts/arm/nordic/nrf5340_cpuapp_peripherals.dtsi
  dts/arm/nordic/nrf91_peripherals.dtsi
Labels: platform: nRF

#66146 tests: Bluetooth: add missing param to testlib
  tests/bluetooth/common/testlib/include/testlib/att_read.h
  tests/bluetooth/common/testlib/src/att_read.c
  tests/bsim/bluetooth/host/att/long_read/main.c
Labels: area: Bluetooth, area: Tests, Hotfix, area: Bluetooth Host

#66137 shell: fix shell instance name typo
  subsys/shell/shell_cmds.c
Labels: area: Shell, Trivial

#66156 logging: Fix using simplified message creation mode
  include/zephyr/logging/log_msg.h
Labels: area: Logging, Trivial

#65647 doc: mgmt/osdp: Fix doxygen comments
  include/zephyr/mgmt/osdp.h
Labels: area: Documentation, area: OSDP

#65885 Various cleanups and simplifications on gpio-keys
  drivers/input/input_gpio_keys.c
Labels: area: Input

#65443 drivers: ethernet: phy_mii: Fix phy_id check
  drivers/ethernet/phy/phy_mii.c
Labels: area: Ethernet

#65969 modem: modem_cellular: add U-blox SARA-R5 as modem
  drivers/modem/Kconfig.cellular
  drivers/modem/modem_cellular.c
  dts/bindings/modem/u-blox,sara-r5.yaml
Labels: Trivial, area: Devicetree Binding, area: Modem Drivers

#65703 input: kbd_matrix: add actual-key-mask support
  drivers/input/input_kbd_matrix.c
  dts/bindings/input/kbd-matrix-common.yaml
  include/zephyr/input/input_kbd_matrix.h
  tests/drivers/build_all/input/app.overlay
Labels: area: Devicetree Binding, area: Input

#65960 tests: thread_apis: Remove unneeded option
  tests/kernel/threads/thread_apis/prj.conf
  tests/kernel/threads/thread_error_case/prj.conf
Labels: area: Kernel

#66072 net: ipv6: Silently drop unwanted NA messages
  subsys/net/ip/ipv6_nbr.c
Labels: area: Networking

#66103 doc: sphinx: Load Read The Docs theme as a Sphinx extension
  doc/conf.py
Labels: area: Documentation Infrastructure

#66116 doc: net: sockets: fix terms list for Socket offloading section
  doc/connectivity/networking/api/sockets.rst
Labels: area: Networking

#66045 boards: arm: apollo4p_evb: Add internal pullups to buttons and LEDs
  boards/arm/apollo4p_evb/apollo4p_evb.dts
Labels: platform: Ambiq

#66061 twister: Improve recording at Harness
  doc/develop/test/twister.rst
  scripts/pylib/twister/twisterlib/handlers.py
  scripts/pylib/twister/twisterlib/harness.py
  scripts/pylib/twister/twisterlib/reports.py
  scripts/pylib/twister/twisterlib/testinstance.py
  scripts/schemas/twister/testsuite-schema.yaml
  scripts/tests/twister/test_handlers.py
  scripts/tests/twister/test_harness.py
Labels: area: Documentation, area: Twister, area: Benchmarks

#65003 scripts: twister: testinstance: store run id between builds
  scripts/pylib/twister/twisterlib/testinstance.py
Labels: area: Twister, area: Testsuite

#66219 cmake: tfm: propagate Zephyr Python3 interpreter to TF-M build
  modules/trusted-firmware-m/CMakeLists.txt
Labels: Trivial, area: TF-M

#65607 Bluetooth: VCP: Add bt_vcp_vol_ctlr_get_by_conn
  include/zephyr/bluetooth/audio/vcp.h
  subsys/bluetooth/audio/vcp_vol_ctlr.c
Labels: area: Bluetooth, area: Bluetooth Audio

#66129 LwM2M device error list optionally store in settings
  subsys/net/lib/lwm2m/Kconfig
  subsys/net/lib/lwm2m/lwm2m_obj_device.c
Labels: area: LWM2M

#65637 drivers: console: Small Kconfig fixes for Xtensa
  drivers/console/Kconfig
Labels: area: Console

#65035 Add Quadrature Decoder support for S32
  boards/arm/mr_canhubk3/mr_canhubk3-pinctrl.dtsi
  boards/arm/mr_canhubk3/mr_canhubk3.dts
  drivers/sensor/CMakeLists.txt
  drivers/sensor/Kconfig
  drivers/sensor/qdec_nxp_s32/CMakeLists.txt
  drivers/sensor/qdec_nxp_s32/Kconfig
  drivers/sensor/qdec_nxp_s32/qdec_nxp_s32.c
  dts/arm/nxp/nxp_s32k344_m7.dtsi
  dts/bindings/misc/nxp,s32-lcu.yaml
  dts/bindings/misc/nxp,s32-trgmux.yaml
  dts/bindings/sensor/nxp,s32-qdec.yaml
  include/zephyr/dt-bindings/sensor/qdec_nxp_s32.h
Labels: area: Sensors, platform: NXP, area: Devicetree Binding

#66054 llvm: Allow llvm-readelf
  cmake/bintools/llvm/target.cmake
Labels: area: Build System, area: Toolchains, backport v3.5-branch

#66168 doc: add EXTRA_DTC_OVERLAY_FILE to list of important build variables
  doc/develop/application/index.rst
Labels: area: Documentation

#66184 tests: benchmark: Add case for object core stats
  tests/benchmarks/app_kernel/testcase.yaml
  tests/benchmarks/latency_measure/testcase.yaml
Labels: area: Benchmarks

#66191 kernel: Update k_sleep() and k_usleep() return values
  include/zephyr/kernel.h
  kernel/sched.c
Labels: area: Kernel

#66192 drivers: sensor: mcp9600: fix wrong register address
  drivers/sensor/mcp9600/mcp9600.c
Labels: bug, area: Sensors

#66190 added xiao_esp32c3 conf and overlay files to allow proper compilation…
  samples/net/wifi/boards/xiao_esp32c3.conf
  samples/net/wifi/boards/xiao_esp32c3.overlay
Labels: area: Networking, area: Samples, area: Wi-Fi

#66266 include/zephyr/net: Add 'brief' to group description
  include/zephyr/net/wifi.h
Labels: area: Networking, area: Wi-Fi, Trivial

#65946 tests: drivers: coredump: Enable code coverage
  tests/drivers/coredump/coredump_api/src/main.c
Labels: area: Coredump

#62185 feat: add support for TDK NTCG103JF103FT1 thermistor
  drivers/sensor/ntc_thermistor/Kconfig
  drivers/sensor/ntc_thermistor/ntc_thermistor.c
  dts/bindings/sensor/tdk,ntcg163jf103ft1.yaml
  dts/bindings/vendor-prefixes.txt
  tests/drivers/build_all/sensor/adc.dtsi
Labels: area: Sensors, area: Devicetree Binding

#65662 tests: btp_mcp: Fix dead code warning
  tests/bluetooth/tester/src/btp_mcp.c
Labels: area: Bluetooth, Trivial

#66297 pm: device_runtime: don't assert in ISR put
  subsys/pm/device_runtime.c
Labels: area: Power Management, Hotfix

#66099 Fix/add net_context option setters and getters API docs
  include/zephyr/net/net_context.h
Labels: area: Networking

#66215 drivers: ssp: Bug fix for Reverted CPA check condition
  drivers/dai/intel/ssp/ssp.c
Labels: platform: Intel ADSP, area: DAI

#66221 west.yml: MCUboot synchronization from upstream
  west.yml
Labels: manifest, manifest-mcuboot

#66233 net: sntp: Add option for SNTP uncertainty
  include/zephyr/net/sntp.h
  subsys/net/lib/sntp/Kconfig
  subsys/net/lib/sntp/sntp.c
  subsys/net/lib/sntp/sntp_pkt.h
Labels: area: Networking

#66237 drivers: modem: hl7800: fix low power modes
  drivers/modem/Kconfig.hl7800
  drivers/modem/hl7800.c
Labels: bug, priority: low, area: Modem Drivers

#66241 test: drivers: sensor: adltc2990: fix double promotion
  tests/drivers/sensor/adltc2990/src/main.c
Labels: area: Sensors

#66256 samples: subsys: display: lvgl: Update README
  samples/subsys/display/lvgl/README.rst
Labels: area: Samples, area: Display

#66296 doc: pm: nrf target does not enable PM
  doc/services/pm/system.rst
Labels: area: Power Management, Trivial

#65761 drivers: intc: plic: set edge-triggered register address using compat
  drivers/interrupt_controller/intc_plic.c
  dts/riscv/andes/andes_v5_ae350.dtsi
Labels: area: RISCV, area: Interrupt Controller

#66034 manifest: hal_nordic: Update revision with fixed workaround in nrfx_qspi
  west.yml
Labels: manifest, manifest-hal_nordic

#66252 drivers: i2c: i2c_ambiq: fixing error in bitrate setting
  drivers/i2c/i2c_ambiq.c
Labels: area: I2C, Trivial, platform: Ambiq

#64589 moduels: hal_ethos_u: guard module options
  modules/hal_ethos_u/Kconfig
Labels: area: ARM, Trivial

#65496 doc: vuln: Disclose information about CVE-2023-4424
  doc/security/vulnerabilities.rst
Labels: area: Documentation

#65389 drivers: eth_nxp_s32_netc: si: use instance-based DT macros
  drivers/ethernet/eth_nxp_s32_netc_priv.h
  drivers/ethernet/eth_nxp_s32_netc_psi.c
  drivers/ethernet/eth_nxp_s32_netc_vsi.c
  west.yml
Labels: platform: NXP, area: Ethernet, manifest, manifest-hal_nxp

#65981 bluetooth: tester: Enable Periodic Advertising support
  tests/bluetooth/tester/prj.conf
Labels: area: Bluetooth

#66009 scripts/build: make struct_tags.json deterministic
  scripts/build/parse_syscalls.py
Labels: bug, area: Build System

#66047 bluetooth: shell: Use helper function to convert string to int
  subsys/bluetooth/shell/bt.c
Labels: area: Bluetooth, area: Bluetooth Host

#66051 drivers: dma_mcux_lpc: Clear out the dma channel structure
  drivers/dma/dma_mcux_lpc.c
Labels: area: DMA, platform: NXP, Trivial

#66079 drivers: spi: mcux: lpspi: fix error on first configure on MKE1xF
  drivers/spi/spi_mcux_lpspi.c
Labels: bug, area: SPI, platform: NXP, Regression, backport v3.4-branch, backport v3.5-branch

#66088 Bluetooth: Shell: Only auto-connect to unconnected devices
  subsys/bluetooth/shell/bt.c
Labels: area: Bluetooth, area: Bluetooth Host

#66111 tests: bsim: gatt: Fix missing connection reference release
  tests/bsim/bluetooth/host/gatt/settings/src/utils.c
Labels: area: Bluetooth, area: Bluetooth Host

#66175 doc: mimxrt1040_evk: fix documentation links
  boards/arm/mimxrt1040_evk/doc/index.rst
Labels: platform: NXP

#66224 tz: Remove unused trustzone driver
  arch/arm/core/cortex_m/tz/CMakeLists.txt
  arch/arm/core/cortex_m/tz/arm_core_tz.c
  arch/arm/include/cortex_m/tz.h
Labels: area: ARM

#66225 drivers: pwm: mcux_ftm: check against period cycles overflow
  drivers/pwm/pwm_mcux_ftm.c
Labels: area: PWM, platform: NXP

#66261 tests: fatal: Add message explaining OOPS
  tests/kernel/fatal/message_capture/src/main.c
Labels: area: Kernel

#66273 Remove (optional) dummy functions for the display API
  drivers/display/display_hx8394.c
  drivers/display/display_intel_multibootfb.c
  drivers/display/display_mcux_elcdif.c
  drivers/display/display_nrf_led_matrix.c
  drivers/display/display_otm8009a.c
  drivers/display/display_rm67162.c
  drivers/display/display_rm68200.c
  drivers/display/display_sdl.c
  drivers/display/display_st7735r.c
  drivers/display/display_st7789v.c
  drivers/display/display_stm32_ltdc.c
Labels: platform: STM32, platform: NXP, area: Display

#66278 dts: arm: ambiq: Add SoC compat string
  dts/arm/ambiq/ambiq_apollo4p.dtsi
  dts/arm/ambiq/ambiq_apollo4p_blue.dtsi
Labels: platform: Ambiq

#66282 net: wifi: esp32: disable automatic reconnection on leaving
  drivers/wifi/esp32/src/esp_wifi_drv.c
Labels: platform: ESP32, area: Wi-Fi

#66285 wifi: Add status enumerations
  include/zephyr/net/wifi_mgmt.h
Labels: area: Networking, area: Wi-Fi

#66293 intel_adsp: ace: add firmware loading tool
  soc/xtensa/intel_adsp/tools/acetool.py
Labels: platform: Intel ADSP

#66359 boards: arm: Add RTC clock source for mikroe_mini_m4_for_stm32
  boards/arm/mikroe_mini_m4_for_stm32/mikroe_mini_m4_for_stm32.dts
Labels: bug, platform: STM32, Hotfix, backport v3.5-branch

#66294 doc: doxygen: move float_apis group into correct place
  include/zephyr/arch/x86/ia32/arch.h
  include/zephyr/kernel.h
Labels: area: Kernel, area: Documentation, area: X86, area: Architectures

#66307 boards: xtensa: docs: rimage is no more a separate git repository
  boards/xtensa/intel_adsp_cavs25/doc/intel_adsp_generic.rst
Labels: platform: Intel ADSP

#66310 rtio: Fix i2c implementation
  drivers/i2c/CMakeLists.txt
  drivers/i2c/i2c_rtio.c
  include/zephyr/drivers/i2c.h
Labels: area: I2C

#66329 sys: arch_interface: fix doc in arch_user_mode_enter
  include/zephyr/sys/arch_interface.h
Labels: Trivial, area: Base OS

#66334 include: arch: arm: Fix arch_curr_cpu() for Cortex-M
  include/zephyr/arch/arm/arch_inlines.h
Labels: area: ARM, area: Architectures

#66313 modules: hal_nordic: nRF 802.15.4 customizable asserts
  modules/hal_nordic/Kconfig
  modules/hal_nordic/nrf_802154/CMakeLists.txt
  modules/hal_nordic/nrf_802154/include/nrf_802154_assert_zephyr.h
  modules/hal_nordic/nrf_802154/nrf_802154_assert_handler.c
Labels: platform: nRF

#66342 net: Move trickle files to lib
  subsys/net/ip/CMakeLists.txt
  subsys/net/ip/Kconfig
  subsys/net/lib/CMakeLists.txt
  subsys/net/lib/Kconfig
  subsys/net/lib/trickle/CMakeLists.txt
  subsys/net/lib/trickle/Kconfig
  subsys/net/lib/trickle/trickle.c
Labels: area: Networking

#66017 modules: liblc3: Bump to 1.0.4
  west.yml
Labels: manifest, manifest-liblc3

#66199 drivers: nxp_s32_netc: configure to grant SI permissions
  drivers/ethernet/eth_nxp_s32_netc_psi.c
Labels: platform: NXP, area: Ethernet

#66327 manifest: update hal_nxp for s32k3 lpspi.
  west.yml
Labels: platform: NXP, Trivial, manifest, manifest-hal_nxp

#61439 drivers: display: uc81xx: add support for uc8175
  drivers/display/Kconfig.uc81xx
  drivers/display/uc81xx.c
  drivers/display/uc81xx_regs.h
  dts/bindings/display/ultrachip,uc8175.yaml
Labels: area: Display, area: Devicetree Binding

#61318 mgmt: mcumgr: allow for user defined payload
  include/zephyr/mgmt/mcumgr/mgmt/mgmt.h
  subsys/mgmt/mcumgr/mgmt/Kconfig
  subsys/mgmt/mcumgr/mgmt/src/mgmt.c
  subsys/mgmt/mcumgr/smp/src/smp.c
Labels: area: mcumgr, Release Notes

#66338 sys: Modify ATOMIC_BITMAP_SIZE macro: num_bits = 0
  include/zephyr/sys/atomic.h
Labels: Trivial, area: Base OS

#66364 doc: connectivity: networking: api: Add doxygengroup for coap_mgmt
  doc/connectivity/networking/api/coap_server.rst
Labels: area: Networking, Trivial

#66386 net: if: Tweak the documentation of multicast monitor API
  include/zephyr/net/net_if.h
Labels: area: Networking, Trivial

#66318 Bluetooth: has: Check writable preset support on preset registration
  subsys/bluetooth/audio/has.c
Labels: area: Bluetooth, area: Bluetooth Audio

#66323 include: arm: mpu: add missing RAM NOCACHE region define for armv8-r
  include/zephyr/arch/arm/mpu/arm_mpu_v8.h
Labels: area: ARM, area: Architectures

#66320 drivers: intc: manage multi-level interrupt configs
  drivers/interrupt_controller/Kconfig.clic
  drivers/interrupt_controller/Kconfig.multilevel
  include/zephyr/irq_multilevel.h
  include/zephyr/irq_nextlevel.h
Labels: area: RISCV, area: Interrupt Controller

#65895 twister: ignore testplan filters for integration mode
  scripts/pylib/twister/twisterlib/testplan.py
Labels: area: Twister

#66140 soc: stm32: add Kconfig-selectable cache enables
  soc/arm/st_stm32/stm32f7/soc.c
  soc/arm/st_stm32/stm32h7/soc_m7.c
Labels: platform: STM32

#66303 driver: crypto: SHA: npcx: fix SHA driver for npcx4 QS chip
  drivers/crypto/crypto_npcx_sha.c
  dts/arm/nuvoton/npcx/npcx4.dtsi
Labels: area: Crypto / RNG, platform: Nuvoton NPCX, platform: Nuvoton Numicro Numaker

#64991 cmake: calculate the md5 sum using the built-in string command
  share/zephyr-package/cmake/zephyr_export.cmake
  share/zephyrunittest-package/cmake/zephyr_export.cmake
Labels: bug, priority: low, area: Build System

#65922 [RFC] risc-v: drivers: intc_plic: enabled interrupts to be handled by all cores
  drivers/interrupt_controller/intc_plic.c
Labels: area: RISCV, area: Interrupt Controller

#66025 net: lib: coap: Add new API to configure retransmission settings
  include/zephyr/net/coap.h
  subsys/net/lib/coap/Kconfig
  subsys/net/lib/coap/coap.c
  tests/net/lib/coap_client/CMakeLists.txt
Labels: area: Networking

#64468 intel_adsp: ace: clock gating in idle
  soc/xtensa/intel_adsp/Kconfig
  soc/xtensa/intel_adsp/ace/multiprocessing.c
  soc/xtensa/intel_adsp/ace/power.c
Labels: area: Kernel, area: Power Management, area: Xtensa, platform: Intel ADSP

#66238 drivers: sdhc: imx_usdhc: explicitly set host_io fields, add fallthrough to switch statement
  drivers/sdhc/imx_usdhc.c
Labels: platform: NXP, area: Disk Access

#66287 subsys: shell_telent: don't close connection on EAGAIN
  subsys/shell/backends/shell_telnet.c
Labels: area: Shell

#66337 xtensa: mmu: Fix partition permission
  arch/xtensa/core/ptables.c
  include/zephyr/arch/xtensa/xtensa_mmu.h
Labels: area: Xtensa, area: Architectures

#64524 samples: zbus: benchmark: complete refactoring and add msg subscriber to benchmark
  samples/subsys/zbus/benchmark/CMakeLists.txt
  samples/subsys/zbus/benchmark/Kconfig
  samples/subsys/zbus/benchmark/README.rst
  samples/subsys/zbus/benchmark/benchmark_256KB.robot
  samples/subsys/zbus/benchmark/prj.conf
  samples/subsys/zbus/benchmark/sample.yaml
  samples/subsys/zbus/benchmark/src/benchmark.c
  samples/subsys/zbus/benchmark/src/lis.c
  samples/subsys/zbus/benchmark/src/msg_sub.c
  samples/subsys/zbus/benchmark/src/sub.c
Labels: area: Samples, area: Zbus

#66376 samples: Bluetooth: Mesh: remove nrf53_ns settings related workaround
  samples/bluetooth/mesh/boards/nrf5340dk_nrf5340_cpuapp_ns.conf
  samples/bluetooth/mesh_demo/boards/nrf5340dk_nrf5340_cpuapp_ns.conf
  samples/bluetooth/mesh_provisioner/boards/nrf5340dk_nrf5340_cpuapp_ns.conf
Labels: area: Bluetooth, area: Samples, Trivial, area: Bluetooth Mesh

#66395 net: Add fallback macro for nef_if_mon functions
  subsys/net/ip/net_if.c
Labels: area: Networking, Trivial

#66390 modules: mbedtls: Remove check_config.h
  modules/mbedtls/configs/config-tls-generic.h
Labels: area: Crypto / RNG, Trivial

#64583 settings: file: do not unlink the settings file unnecessarily
  subsys/settings/src/settings_file.c
Labels: area: File System, Trivial, area: Settings

#66214 shell: correct z_shell_spaces_trim when len equal to zero
  subsys/shell/shell_utils.c
Labels: area: Shell, Trivial

#66213 tests: testinstance: enforce utf-8 write
  scripts/pylib/twister/twisterlib/testinstance.py
Labels: Trivial, area: Twister

#66169 drivers: clock_control: smartbond: Fix rc32k calibration
  drivers/clock_control/clock_control_smartbond.c
Labels: area: Clock Control, Trivial, platform: Renesas SmartBond

#66355 drivers: can: drop POSIX from the native Linux SocketCAN driver name
  boards/posix/native_sim/doc/index.rst
  boards/posix/native_sim/native_sim.dts
  doc/releases/migration-guide-3.6.rst
  doc/releases/release-notes-3.2.rst
  drivers/can/CMakeLists.txt
  drivers/can/Kconfig
  drivers/can/Kconfig.native_linux
  drivers/can/can_native_linux.c
  drivers/can/can_native_linux_adapt.c
  drivers/can/can_native_linux_adapt.h
  dts/bindings/can/zephyr,native-linux-can.yaml
  tests/drivers/build_all/can/testcase.yaml
Labels: area: native port, area: CAN, Release Notes, area: Devicetree Binding

#65165 drivers: udc_nrf: submit resume event after RWUP is initiated
  drivers/usb/udc/udc_nrf.c
Labels: area: Drivers, area: USB, platform: nRF

#66429 dts: riscv: Fix a typo in riscv,isa for mpfs
  dts/riscv/microchip/mpfs.dtsi
Labels: area: RISCV, Trivial

#62810 twister: minor refactoring in "skip to error"
  scripts/pylib/twister/twisterlib/testplan.py
Labels: Trivial, area: Twister

#64695 bluetooth: bas: remove select SENSOR
  subsys/bluetooth/services/Kconfig.bas
Labels: area: Bluetooth, Trivial, area: Bluetooth Host

#63829 os: timing: polish doxygen
  doc/kernel/timing_functions/index.rst
  include/zephyr/sys/arch_interface.h
  include/zephyr/timing/timing.h
Labels: area: Kernel, area: Base OS

#66414 arch: arm: remove aarch32 from include header guards
  arch/arm/core/mpu/arm_core_mpu_dev.h
  include/zephyr/arch/arm/arch.h
  include/zephyr/arch/arm/arch_inlines.h
  include/zephyr/arch/arm/asm_inline.h
  include/zephyr/arch/arm/asm_inline_gcc.h
  include/zephyr/arch/arm/cortex_a_r/cpu.h
  include/zephyr/arch/arm/cortex_a_r/lib_helpers.h
  include/zephyr/arch/arm/cortex_a_r/sys_io.h
  include/zephyr/arch/arm/cortex_a_r/timer.h
  include/zephyr/arch/arm/cortex_m/fpu.h
  include/zephyr/arch/arm/cortex_m/memory_map.h
  include/zephyr/arch/arm/cortex_m/nvic.h
  include/zephyr/arch/arm/error.h
  include/zephyr/arch/arm/irq.h
  include/zephyr/arch/arm/misc.h
  include/zephyr/arch/arm/mpu/arm_mpu.h
  include/zephyr/arch/arm/mpu/nxp_mpu.h
  include/zephyr/arch/arm/nmi.h
  include/zephyr/arch/arm/syscall.h
  include/zephyr/arch/arm/thread.h
  modules/cmsis/cmsis_core.h
Labels: area: ARM, area: Architectures, Trivial

#66428 arch: xtensa: check for xt-clang instead of xcc-clang
  arch/xtensa/Kconfig
Labels: area: Xtensa, Trivial

#65815 tests: Bluetooth: add babblesim connection stress test
  tests/bsim/bluetooth/host/compile.sh
  tests/bsim/bluetooth/host/misc/conn_stress/central/CMakeLists.txt
  tests/bsim/bluetooth/host/misc/conn_stress/central/prj.conf
  tests/bsim/bluetooth/host/misc/conn_stress/central/src/main.c
  tests/bsim/bluetooth/host/misc/conn_stress/peripheral/CMakeLists.txt
  tests/bsim/bluetooth/host/misc/conn_stress/peripheral/prj.conf
  tests/bsim/bluetooth/host/misc/conn_stress/peripheral/src/main.c
  tests/bsim/bluetooth/host/misc/conn_stress/scripts/_conn_stress.sh
Labels: area: Bluetooth, area: Tests, area: Bluetooth Host

#66232 dts: boards: stm32h562: Adding USART11
  dts/arm/st/h5/stm32h562.dtsi
Labels: platform: STM32

#66383 Bluetooth: has: Fix control point error return code
  subsys/bluetooth/audio/has.c
Labels: area: Bluetooth, area: Bluetooth Audio
