Repository zephyrproject-rtos/zephyr, pull requests merged in 2023-08, with the labels that each got.

#60933 sensor: dht: return error if channel not supported
  drivers/sensor/dht/dht.c
Labels: area: Sensors

#60993 net: openthread: Initialize PSA crypto when random is initializing
  modules/openthread/platform/crypto_psa.c
Labels: manifest-openthread

#59065 Revert "cmake: linker: arm: put RAM sections in RAM region"
  cmake/linker_script/arm/linker.cmake
  cmake/modules/extensions.cmake
Labels: bug, area: Build System, backport v3.4-branch

#60996 drivers: spi_nrfx_*: Add support for optional WAKE line
  drivers/spi/CMakeLists.txt
  drivers/spi/Kconfig.nrfx
  drivers/spi/spi_nrfx_common.c
  drivers/spi/spi_nrfx_common.h
  drivers/spi/spi_nrfx_spi.c
  drivers/spi/spi_nrfx_spim.c
  drivers/spi/spi_nrfx_spis.c
  dts/bindings/spi/nordic,nrf-spi-common.yaml
Labels: area: SPI, platform: nRF, area: Devicetree Binding

#60462 llvm: Add ARMv6-M, ARMv7-M, ARMv8-M Mainline and Baseline targets
  cmake/toolchain/llvm/target.cmake
Labels: area: Build System, area: Toolchains

#60460 clang: Don't specify FP16 format
  arch/arm/core/aarch32/Kconfig
  cmake/compiler/clang/target.cmake
  cmake/compiler/clang/target_arm.cmake
Labels: area: Build System, area: ARM, area: Toolchains

#59856 cmake/compiler/clang/target.cmake: Improve support for different runtime libraries
  cmake/compiler/clang/target.cmake
Labels: area: Build System, area: Toolchains

#60734 Bluetooth: audio: tbs: Fix List_Item_Length value in CCL
  subsys/bluetooth/audio/tbs.c
Labels: area: Bluetooth, area: Bluetooth Audio

#60736 Bluetooth: audio: tbs: Refactor service definition macro
  subsys/bluetooth/audio/tbs.c
Labels: area: Bluetooth, area: Bluetooth Audio

#60740 kernel/sched: fix thread selection when ABORTING + PENDING
  kernel/sched.c
Labels: bug, priority: high, area: Kernel

#60969 add NXP orphaned files to its area
  MAINTAINERS.yml
Labels: area: Process

#60816 ethernet: sam-gmac: make phy a phandle of the ethernet device
  boards/arm/atsame54_xpro/atsame54_xpro.dts
  boards/arm/sam4e_xpro/sam4e_xpro.dts
  boards/arm/sam_e70_xplained/sam_e70_xplained-common.dtsi
  boards/arm/sam_v71_xult/sam_v71_xult-common.dtsi
  drivers/ethernet/eth_sam_gmac.c
  drivers/mdio/mdio_sam.c
  dts/arm/atmel/sam4e.dtsi
  dts/arm/atmel/same5x.dtsi
  dts/arm/atmel/same70.dtsi
  dts/bindings/ethernet/atmel,gmac-common.yaml
Labels: platform: Microchip SAM, area: Ethernet, area: Devicetree Binding

#60999 build: relocation: Fix long command-line invocations
  cmake/linker/ld/target_relocation.cmake
  scripts/build/gen_relocate_app.py
Labels: area: Build System, area: Toolchains, area: Userspace

#61045 libc/picolibc: Remove unused read_stdin/write_stdout hooks
  include/zephyr/sys/libc-hooks.h
  lib/libc/picolibc/libc-hooks.c
Labels: area: C Library, area: Base OS

#61029 tests: build_all: sensors: drop a bunch of redundant status = okay
  tests/drivers/build_all/sensor/i2c.dtsi
  tests/drivers/build_all/sensor/spi.dtsi
Labels: area: Sensors

#61065 manifest: Update nRF HW models to latest
  west.yml
Labels: manifest, manifest-nrf_hw_models

#60534 Bluetooth: Host: Check connection status before sending credits
  subsys/bluetooth/host/l2cap.c
Labels: area: Bluetooth, area: Bluetooth Host

#61071 Bluetooth: Controller: Remove separate done memq
  subsys/bluetooth/controller/ll_sw/lll.h
  subsys/bluetooth/controller/ll_sw/ull.c
  subsys/bluetooth/controller/ll_sw/ull_conn.c
  subsys/bluetooth/controller/ll_sw/ull_conn_internal.h
Labels: area: Bluetooth, area: Bluetooth Controller

#61081 manifest: Update nRF HW models to latest
  west.yml
Labels: bug, platform: nRF52 BSIM, Hotfix, manifest, manifest-nrf_hw_models

#60814 ethernet: esp32: make phy a phandle of the ethernet device
  boards/xtensa/esp32_ethernet_kit/esp32_ethernet_kit.dts
  drivers/ethernet/eth_esp32.c
  dts/bindings/ethernet/espressif,esp32-eth.yaml
Labels: area: Ethernet, platform: ESP32, area: Devicetree Binding

#61085 boards: intel_ish: fix the documentation page
  boards/x86/intel_ish/doc/index.rst
Labels: platform: X86

#61096 drivers: adc: support adc shell for mr_canhubk3
  drivers/adc/adc_shell.c
Labels: area: ADC

#60912 npcx: Update erase function to allow 0x1000 byte erase size
  drivers/flash/flash_npcx_fiu_nor.c
  drivers/flash/spi_nor.h
  dts/bindings/flash_controller/nuvoton,npcx-fiu-nor.yaml
Labels: area: Flash, area: Devicetree Binding, platform: Nuvoton NPCX

#61091 tests: Re-enable the generic sensor test
  tests/drivers/build_all/sensor/testcase.yaml
Labels: area: Sensors

#57668 Bluetooth: Host: Use RPA as responder address if BT_PRIVACY=y
  subsys/bluetooth/host/hci_core.c
Labels: area: Bluetooth, area: Bluetooth Host

#60578 modules: Updated Percepio TraceRecorder to version 4.8.0.hotfix2
  modules/TraceRecorder/CMakeLists.txt
  west.yml
Labels: manifest, manifest-TraceRecorderSource

#61120 MAINTAINERS: add self as maintainer of Intel ISH platform
  MAINTAINERS.yml
Labels: area: Process

#61036 llvm: Add support for selecting runtime library
  cmake/linker/ld/target_base.cmake
  cmake/linker/lld/target_base.cmake
  cmake/toolchain/llvm/clang_compiler_rt.cfg
  cmake/toolchain/llvm/clang_libgcc.cfg
  cmake/toolchain/llvm/generic.cmake
  cmake/toolchain/llvm/target.cmake
  lib/Kconfig
  lib/runtime/Kconfig
  scripts/ci/check_compliance.py
Labels: area: Build System, area: Toolchains, area: Coding Guidelines, area: Continuous Integration

#60250 kernel: Add support to override banner
  kernel/Kconfig
  kernel/banner.c
Labels: area: Kernel

#61037 Introduce comparison for timepoint and timeout values
  include/zephyr/sys_clock.h
  tests/kernel/timer/timepoints/src/main.c
Labels: area: Kernel

#61103 samples: usb: hid: remove SYS_INIT
  samples/subsys/usb/hid/src/main.c
Labels: area: USB, area: Samples

#61068 doc: build: Add details on application version system
  doc/build/index.rst
  doc/build/version/index.rst
Labels: area: Build System, area: Documentation

#61027 ITE: drivers/i2c: Channel C/i2c2 cannot use FIFO mode
  drivers/i2c/Kconfig.it8xxx2
  drivers/i2c/i2c_ite_it8xxx2.c
  dts/bindings/i2c/ite,it8xxx2-i2c.yaml
  dts/riscv/ite/it81xx2.dtsi
Labels: area: I2C, area: Devicetree Binding, platform: ITE

#60943 drivers: flash: spi_nor: select largest valid erase operation
  drivers/flash/spi_nor.c
Labels: area: Flash, backport v2.7-branch, backport v3.2-branch, backport v3.3-branch, backport v3.4-branch

#60898 Fix #58408 by always using GCC's full version
  cmake/compiler/gcc/target.cmake
Labels: area: Build System, area: Toolchains

#61121 drivers: bluetooth: hci: spi: Check and propagate return values
  drivers/bluetooth/hci/spi.c
Labels: area: Bluetooth, Trivial

#61131 tests: newlib/thread_safety: exclude acrn_ehl_crb
  tests/lib/newlib/thread_safety/testcase.yaml
Labels: area: C Library

#61063 mgmt: mcumgr: grp: os_mgmt: Add force parameter to reset command
  include/zephyr/mgmt/mcumgr/grp/os_mgmt/os_mgmt_callbacks.h
  include/zephyr/mgmt/mcumgr/mgmt/callbacks.h
  subsys/mgmt/mcumgr/grp/os_mgmt/src/os_mgmt.c
Labels: area: mcumgr

#61114 doc: release: 3.5: Add MCUmgr release notes
  doc/releases/release-notes-3.5.rst
Labels: Release Notes

#60313 arch: posix: break debugger on fatal error
  arch/posix/Kconfig
  arch/posix/core/CMakeLists.txt
  arch/posix/core/fatal.c
  arch/posix/core/fatal_trap.c
Labels: area: native port

#61095 drivers: nxp_s32_netc: fix init priorities
  drivers/ethernet/Kconfig.nxp_s32_netc
  drivers/ethernet/eth_nxp_s32_netc_priv.h
  drivers/ethernet/eth_nxp_s32_netc_psi.c
  soc/arm/nxp_s32/s32ze/Kconfig.defconfig.series
Labels: platform: NXP, area: Ethernet

#61123 boards: bt510, b610: move some gpio-keys entries zephyr,user [WAS: boards: bt510, b610: remove some gpio-keys entries for non keys device]
  boards/arm/bt510/bt510.dts
  boards/arm/bt610/bt610.dts
Labels: platform: Laird Connectivity

#61177 MAINTAINERS: Add tristan-google as collaborator
  MAINTAINERS.yml
Labels: area: Process

#61089 drivers: modem: Remove unnecessary MODEM_SHELL dependency
  drivers/modem/Kconfig
Labels: area: Modem

#61117 drivers: dma: intel-adsp-hda: make sure that channels are disabled be…
  drivers/dma/dma_intel_adsp_hda.c
Labels: area: DMA

#60945 posix: signal: extend strsignal buf to cover entire INT range
  lib/posix/signal.c
  tests/posix/common/src/signal.c
Labels: area: POSIX

#60639 sensors: ist8310: Add Mag driver
  drivers/sensor/CMakeLists.txt
  drivers/sensor/Kconfig
  drivers/sensor/ist8310/CMakeLists.txt
  drivers/sensor/ist8310/Kconfig
  drivers/sensor/ist8310/ist8310.c
  drivers/sensor/ist8310/ist8310.h
  drivers/sensor/ist8310/ist8310_i2c.c
  dts/bindings/sensor/istentek,ist8310.yaml
  dts/bindings/vendor-prefixes.txt
  tests/drivers/build_all/sensor/i2c.dtsi
Labels: area: Sensors, area: Devicetree Binding

#60902 doc: vulnerabilities: Update documentation about published CVEs
  doc/security/vulnerabilities.rst
Labels: area: Documentation

#61164 usb: device: Fix transfer slot leak without callback
  subsys/usb/device/usb_transfer.c
Labels: area: USB

#61138 rtio: Fix signed compare warning
  include/zephyr/rtio/rtio.h
Labels: bug, area: RTIO

#61174 ARC: scripts: twister: fix toolchain filtering
  scripts/pylib/twister/twisterlib/platform.py
Labels: area: Twister

#60857 net: event: provide complete information about the prefix in events
  include/zephyr/net/net_event.h
  subsys/net/ip/net_if.c
  subsys/net/ip/net_private.h
Labels: area: Networking

#60949 sensors: shell: implement rounding for q31_t
  drivers/sensor/sensor_shell.c
Labels: area: Sensors

#61130 lib/cbprintf: CONFIG_CBPRINTF_LIBC_SUBSTS should be optional
  lib/os/Kconfig.cbprintf
Labels: area: Formatting Output

#61156 net: lwm2m: Restructure LwM2M Kconfig menu
  subsys/net/lib/lwm2m/Kconfig
Labels: area: LWM2M

#61159 Bluetooth: Controller: Fix bug in read_codecs_v2()
  subsys/bluetooth/controller/hci/hci.c
Labels: area: Bluetooth, area: Bluetooth Controller

#61185 drivers: sensor: lis3mdl: always use continuous mode
  drivers/sensor/lis3mdl/lis3mdl.c
Labels: area: Sensors

#61105 drivers: flash: npcx: Fix offset alignment check bug
  drivers/flash/flash_npcx_fiu_nor.c
Labels: area: Flash, platform: Nuvoton NPCX

#59418 cmake: extensions: board revisions can be optional
  cmake/modules/extensions.cmake
  doc/hardware/porting/board_porting.rst
Labels: area: Build System

#61125 drivers: serial: cmsdk_apb: fix irq_rx_ready deviation
  drivers/serial/uart_cmsdk_apb.c
Labels: area: UART

#60452 fs: littlefs: use void * instead of int for dev_id
  subsys/fs/littlefs_fs.c
Labels: area: File System

#61237 Revert "ztest: Fix test statistics reporting"
  subsys/testsuite/include/zephyr/tc_util.h
  subsys/testsuite/ztest/src/ztest_new.c
Labels: Hotfix, area: Testsuite

#60602 drivers: sensor: icp10125 fix double-promotion warnings
  drivers/sensor/icp10125/icp10125.c
Labels: area: Sensors

#61238 MAINTAINERS: add samples/boards/google to Google platforms
  MAINTAINERS.yml
Labels: area: Process

#60594 test: drivers: sensor: generic: fix double-promotions
  tests/drivers/sensor/generic/src/main.c
Labels: area: Sensors

#61228 boards: doc: Update mimxrt1024 docs with FlexSPI DQS info
  boards/arm/mimxrt1024_evk/doc/index.rst
Labels: area: Boards, platform: NXP

#61215 net: iface: Allow NULL pointer to be handled in net_if_is_ip_offloaded
  include/zephyr/net/net_if.h
Labels: area: Networking

#61207 doc: services: device_mgmt: smp_groups: Fix OP values
  doc/services/device_mgmt/smp_groups/smp_group_0.rst
  doc/services/device_mgmt/smp_groups/smp_group_1.rst
Labels: area: Documentation, area: mcumgr, backport v3.4-branch

#61058 doc: app_development: add header tags
  doc/develop/application/index.rst
Labels: area: Documentation

#60871 boards: efr32_radio: Fix CONFIG_SYS_CLOCK_HW_CYCLES_PER_SEC
  boards/arm/efr32_radio/efr32_radio_brd4187c_defconfig
Labels: platform: SiLabs

#60872 boards: efr32_radio: Enable on-chip DC-DC converter
  boards/arm/efr32_radio/efr32_radio_brd4187c_defconfig
Labels: platform: SiLabs

#60605 tests: lib: cbprintf_package: fix long-double promotion warning
  tests/lib/cbprintf_package/src/main.c
Labels: area: Formatting Output

#61270 net: wifi: shell: fix parameter description error
  subsys/net/l2/wifi/wifi_shell.c
Labels: area: Networking

#61258 [v3.3-branch] canbus: isotp: Fix context buffer memory leaks
  subsys/canbus/isotp/isotp.c
Labels: bug, area: CAN, Backport

#61259 [v3.4-branch] canbus: isotp: Fix context buffer memory leaks
  subsys/canbus/isotp/isotp.c
Labels: bug, area: CAN, Backport

#60559 drivers: peci: doc: Doxygen cleanup
  include/zephyr/drivers/peci.h
Labels: area: PECI

#61140 ev11l78a: initial import of the UPD301C Basic Sink board.
  boards/arm/ev11l78a/Kconfig.board
  boards/arm/ev11l78a/Kconfig.defconfig
  boards/arm/ev11l78a/board.cmake
  boards/arm/ev11l78a/doc/img/ev11l78a.jpg
  boards/arm/ev11l78a/doc/index.rst
  boards/arm/ev11l78a/ev11l78a-pinctrl.dtsi
  boards/arm/ev11l78a/ev11l78a.dts
  boards/arm/ev11l78a/ev11l78a.yaml
  boards/arm/ev11l78a/ev11l78a_defconfig
  boards/arm/ev11l78a/pre_dt_board.cmake
  boards/arm/ev11l78a/support/openocd.cfg
  samples/drivers/adc/boards/ev11l78a.overlay
  tests/drivers/adc/adc_api/boards/ev11l78a.overlay
  tests/drivers/uart/uart_async_api/testcase.yaml
Labels: area: ADC, area: UART

#61307 board: mimxrt1160_evk: Add missing CANFD fields
  boards/arm/mimxrt1160_evk/mimxrt1160_evk_cm7.dts
Labels: platform: NXP, Hotfix

#61257 [v2.7-branch] canbus: isotp: Fix context buffer memory leaks
  subsys/canbus/isotp/isotp.c
Labels: bug, area: CAN, Backport

#61289 soc: arm: nordic_nrf: fix poweroff for nrf53/91
  soc/arm/nordic_nrf/common/poweroff.c
Labels: platform: nRF

#61044 sensor: max17055: support fetching individual channels + other fixes
  drivers/sensor/max17055/max17055.c
Labels: area: Sensors

#61186 sensors: Fix overflow in default decoder
  drivers/sensor/default_rtio_sensor.c
Labels: area: Sensors

#61199 samples: sensor: change to use the app.overlay file
  samples/sensor/ams_iAQcore/CMakeLists.txt
  samples/sensor/ams_iAQcore/README.rst
  samples/sensor/ams_iAQcore/app.overlay
  samples/sensor/ens210/CMakeLists.txt
  samples/sensor/ens210/README.rst
  samples/sensor/ens210/app.overlay
Labels: area: Sensors

#61214 bindings: gpio-qdec use INPUT_REL_WHEEL as example
  dts/bindings/input/gpio-qdec.yaml
Labels: Trivial, area: Devicetree Binding, area: Input

#61252 drivers: ieee802154: nrf5: fix handling multiple CCA
  drivers/ieee802154/ieee802154_nrf5.c
Labels: area: IEEE 802.15.4

#61268 drivers: wifi: esp32: choose channel 0 by default
  drivers/wifi/esp32/src/esp_wifi_drv.c
Labels: platform: ESP32, area: WiFi

#61275 Bluetooth: controller: Introduce vendor ticker operations for ULL_LOW
  subsys/bluetooth/controller/ll_sw/ull.c
Labels: area: Bluetooth, area: Bluetooth Controller

#61276 Bluetooth: controller: Prevent ULL stuck in semaphore
  subsys/bluetooth/controller/ll_sw/ull.c
Labels: area: Bluetooth, area: Bluetooth Controller

#61286 Bluetooth: Host: Explicitly ignore return value of auth latch
  subsys/bluetooth/host/smp.c
Labels: priority: low, area: Bluetooth, Coverity, area: Bluetooth Host

#61292 tests: net: tcp: Default disable logging in TCP socket test
  tests/net/socket/tcp/prj.conf
Labels: area: Networking, area: Sockets

#61295 gpio: nxp_s32: use CONFIG_GPIO_INIT_PRIORITY
  drivers/gpio/gpio_nxp_s32.c
Labels: area: GPIO, platform: NXP

#61297 mbox: nxp_s32: fix semicolon typos
  drivers/mbox/mbox_nxp_s32_mru.c
Labels: platform: NXP

#61305 driver: wifi: esp32: enable iface when enable ap mode
  drivers/wifi/esp32/src/esp_wifi_drv.c
Labels: platform: ESP32, area: WiFi

#61023 Build system: disable `OUTPUT_DISASSEMBLY` by default
  Kconfig.zephyr
Labels: area: Build System, area: Kconfig

#61279 Bluetooth: controller: Fix CIS offset equivalent calculation
  subsys/bluetooth/controller/ll_sw/ull_llcp_cc.c
Labels: area: Bluetooth, area: Bluetooth Controller

#57781 tests/cmsis_rtos_v2: increase main thread sleep time
  tests/subsys/portability/cmsis_rtos_v2/src/mutex.c
  tests/subsys/portability/cmsis_rtos_v2/src/semaphore.c
Labels: area: Portability, area: CMSIS API Layer

#61328 Revert "sensors: Fix overflow in default decoder"
  drivers/sensor/default_rtio_sensor.c
Labels: area: Sensors

#61239 ztest: Fix test statistics reporting
  subsys/testsuite/include/zephyr/tc_util.h
  subsys/testsuite/ztest/src/ztest_new.c
Labels: area: Testsuite

#61329 doc: sys: onoff: cleanup doxygen documentation
  include/zephyr/sys/onoff.h
Labels: area: Base OS

#60515 drivers: dac: doc: Cleanup Doxygen documentation
  include/zephyr/drivers/dac.h
Labels: area: DAC

#61325 scripts: ci: check_compliance: Replace dead Kconfig doc link
  scripts/ci/check_compliance.py
Labels: area: Coding Guidelines, area: Continuous Integration

#60703 west flash: openocd: support using modustoolbox added
  boards/arm/cy8ckit_062_ble/doc/index.rst
  boards/arm/cy8ckit_062_wifi_bt/doc/index.rst
  boards/arm/cy8cproto_062_4343w/doc/index.rst
  boards/arm/cy8cproto_063_ble/doc/index.rst
Labels: platform: Infineon

#61323 usb_tcpc: fix typo.
  include/zephyr/drivers/usb_c/usbc_tcpc.h
Labels: Trivial, area: USB-C

#61321 west.yaml: MCUboot synchronization from upstream
  west.yml
Labels: area: MCUBoot, manifest, manifest-mcuboot

#61101 Bluetooth: Mesh: Fixed OP_AGG_SRV dependency of OP_AGG_CLI
  subsys/bluetooth/mesh/op_agg.c
Labels: area: Bluetooth, area: Bluetooth Mesh

#61106 debug: arc: expose thread relinquish cause
  subsys/debug/thread_info.c
Labels: area: Debugging

#61147 net: l2: ppp: ppp uart usage fixes
  drivers/net/ppp.c
  include/zephyr/net/ppp.h
  subsys/net/l2/ppp/ppp_internal.h
  subsys/net/l2/ppp/ppp_l2.c
Labels: area: Networking, dev-review

#61338 dts: vendor-prefixes: remove facebook and add meta
  dts/bindings/vendor-prefixes.txt
Labels: area: Devicetree, area: Devicetree Binding, backport v2.7-branch, backport v3.2-branch, backport v3.3-branch, backport v3.4-branch

#61314 drivers: gpio: mchp: Twister fix for test_input_output failure
  drivers/gpio/gpio_mchp_xec_v2.c
Labels: area: GPIO, platform: Microchip MEC

#60195 bluetooth: tester: Added support for testing CSIS.
  tests/bluetooth/tester/CMakeLists.txt
  tests/bluetooth/tester/overlay-le-audio.conf
  tests/bluetooth/tester/src/btp/btp.h
  tests/bluetooth/tester/src/btp/btp_csis.h
  tests/bluetooth/tester/src/btp/bttester.h
  tests/bluetooth/tester/src/btp_core.c
  tests/bluetooth/tester/src/btp_csis.c
Labels: area: Bluetooth

#61012 Update to TF-M 1.8
  modules/mbedtls/CMakeLists.txt
  modules/trusted-firmware-m/CMakeLists.txt
  modules/trusted-firmware-m/interface/interface.c
  west.yml
Labels: manifest, manifest-trusted-firmware-m, area: TF-M, manifest-mbedtls, manifest-tf-m-tests

#61118 Bluetooth: controller: some arguments are unsigned instead of int
  subsys/bluetooth/controller/ll_sw/ull_adv_aux.c
Labels: area: Bluetooth, Trivial, area: Bluetooth Controller

#61301 subsys: input: rename callback define macro to INPUT_CALLBACK_DEFINE
  doc/services/input/index.rst
  drivers/kscan/kscan_input.c
  include/zephyr/input/input.h
  subsys/input/input_longpress.c
  subsys/input/input_utils.c
  tests/drivers/input/gpio_keys/src/main.c
  tests/subsys/input/api/src/main.c
  tests/subsys/input/input_longpress/src/main.c
Labels: area: Kscan, area: Input

#60829 tests: watchdog: Do not fail on non supported option
  tests/drivers/watchdog/wdt_basic_reset_none/src/main.c
Labels: area: Watchdog, area: Tests

#60694 Bluetooth: gatt: Fix setting actual error in notify_cb
  subsys/bluetooth/host/gatt.c
Labels: area: Bluetooth, area: Bluetooth Host

#61351 dts: vendor-prefixes: deprecate facebook and add meta vendor prefix
  dts/bindings/vendor-prefixes.txt
Labels: area: Devicetree, area: Devicetree Binding, backport v2.7-branch, backport v3.2-branch, backport v3.3-branch, backport v3.4-branch

#61050 scripts: build: gen_isr_tables: make bit masks configurable
  doc/kernel/services/interrupts.rst
  drivers/interrupt_controller/Kconfig.multilevel
  include/zephyr/irq.h
  scripts/build/gen_isr_tables.py
  tests/kernel/gen_isr_table/src/main.c
  tests/kernel/gen_isr_table/testcase.yaml
Labels: area: Kernel, area: Build System, area: Interrupt Controller

#61344 drivers/modem/gsm_ppp.c: Remove direct call to PPP API
  drivers/modem/gsm_ppp.c
Labels: area: Modem

#61326 doc: develop/application: add info about VERSION
  doc/develop/application/index.rst
Labels: area: Documentation

#61240 drivers: regulator-fixed: extend api of driver (list/count voltages)
  drivers/regulator/regulator_fixed.c
  dts/bindings/regulator/regulator-fixed.yaml
  include/zephyr/drivers/regulator.h
Labels: area: Devicetree Binding, area: Regulators

#61226 Bluetooth: ISO: Fix HCI SDU length sent to controller
  subsys/bluetooth/host/conn.c
Labels: area: Bluetooth, area: Bluetooth Host

#61388 intel_adsp: hda: fix usage of FIFORDY bit
  drivers/dma/dma_intel_adsp_hda.c
  soc/xtensa/intel_adsp/common/include/intel_adsp_hda.h
  tests/boards/intel_adsp/hda/src/smoke.c
Labels: area: DMA, platform: Intel ADSP

#60614 doc: time_units: Add Time Units Helpers to Time Utility documentation section
  include/zephyr/sys/time_units.h
Labels: area: Base OS

#61340 ARC: tests: re-enable cpu_idle test for SMP nSIM platforms
  tests/kernel/context/src/main.c
Labels: area: Kernel, area: ARC

#61352 scripts: zephyr_module: Tolerate symlinks
  scripts/zephyr_module.py
Labels: area: Build System

#61372 doc: net: conn_mgr: Doxygen cleanup
  include/zephyr/net/conn_mgr_connectivity.h
Labels: area: Networking

#61392 samples: enable build only test for nxp_adsp_imx8m
  samples/subsys/ipc/openamp_rsc_table/sample.yaml
Labels: area: IPC

#61408 doc: mgmt: mcumgr: groups: smp_group_0: Minor typo fixes
  doc/services/device_mgmt/smp_groups/smp_group_0.rst
Labels: area: mcumgr, Trivial

#61415 doc: lwm2m: samples: fix formatting issue
  samples/net/lwm2m_client/README.rst
Labels: area: LWM2M

#61416 boards: x86: Add intel_ prefix to Intel Raptor Lake boards
  boards/x86/intel_rpl/CMakeLists.txt
  boards/x86/intel_rpl/Kconfig.board
  boards/x86/intel_rpl/Kconfig.defconfig
  boards/x86/intel_rpl/board.cmake
  boards/x86/intel_rpl/doc/index.rst
  boards/x86/intel_rpl/intel_rpl_s_crb.dts
  boards/x86/intel_rpl/intel_rpl_s_crb.yaml
  boards/x86/intel_rpl/intel_rpl_s_crb_defconfig
  samples/drivers/smbus/sample.yaml
  samples/drivers/watchdog/boards/intel_rpl_s_crb.overlay
  tests/drivers/spi/spi_loopback/boards/intel_rpl_s_crb.conf
  tests/drivers/spi/spi_loopback/boards/intel_rpl_s_crb.overlay
  tests/drivers/watchdog/wdt_basic_api/boards/intel_rpl_s_crb.overlay
Labels: area: SPI, area: Watchdog, platform: X86, area: SMBus

#61409 doc: Doxygen fixes in conn.h
  include/zephyr/bluetooth/conn.h
Labels: area: Bluetooth

#59841 soc: arm: imx_rt10xx: support enet1 external clock
  soc/arm/nxp_imx/rt/soc_rt10xx.c
Labels: platform: NXP

#60655 cmake: modules: Add zephyr_code_relocate_ifdef() macro
  cmake/modules/extensions.cmake
Labels: area: Build System

#60778 Bluetooth: Mesh: Use NRPA for private proxy advertisements
  subsys/bluetooth/mesh/proxy_srv.c
Labels: area: Bluetooth, area: Bluetooth Mesh

#60828 drivers: cc13xx_cc26xx: pwm: introduce pwm driver
  drivers/pwm/CMakeLists.txt
  drivers/pwm/Kconfig
  drivers/pwm/Kconfig.cc13xx_cc26xx_timer
  drivers/pwm/pwm_cc13xx_cc26xx_timer.c
  dts/arm/ti/cc13xx_cc26xx.dtsi
  dts/bindings/pwm/ti,cc13xx-cc26xx-timer-pwm.yaml
  dts/bindings/timer/ti,cc13xx-cc26xx-timer.yaml
  tests/drivers/build_all/pwm/testcase.yaml
Labels: area: PWM, area: Devicetree Binding, platform: TI SimpleLink

#61363 POSIX arch: Fix literal floating comparison in 32bit targets
  arch/posix/CMakeLists.txt
Labels: area: native port, backport v3.4-branch

#61371 manifest: Update nRF HW models to latest
  west.yml
Labels: Trivial, manifest, manifest-nrf_hw_models

#60418 fb: cfb: cleanup
  subsys/fb/cfb.c
Labels: area: Display

#60419 samples: subsystem: display: cfb: Improve to using more CFB functions
  samples/subsys/display/cfb/src/main.c
Labels: area: Display

#60735 Bluetooth: audio: tbs: Fix possible buffer overflow
  subsys/bluetooth/audio/tbs.c
Labels: area: Bluetooth, area: Bluetooth Audio

#61187 spi: nxp_s32: use spi_cs_is_gpio() in config initializer
  drivers/spi/spi_nxp_s32.c
Labels: area: SPI, platform: NXP

#61194 drivers: regulator: shell: add a shipmode command
  drivers/regulator/regulator_shell.c
Labels: area: Regulators

#61335 net: lwm2m: doc: Misc fixes to LwM2M doxygen comments
  include/zephyr/net/lwm2m.h
  include/zephyr/net/lwm2m_path.h
Labels: area: Networking

#61433 tests: Fix app_kernel benchmark to run on cavs25
  tests/benchmarks/app_kernel/src/fifo_b.c
  tests/benchmarks/app_kernel/src/mailbox_b.c
  tests/benchmarks/app_kernel/src/master.c
  tests/benchmarks/app_kernel/src/master.h
  tests/benchmarks/app_kernel/src/memmap_b.c
  tests/benchmarks/app_kernel/src/mutex_b.c
  tests/benchmarks/app_kernel/src/pipe_b.c
  tests/benchmarks/app_kernel/src/pipe_r.c
  tests/benchmarks/app_kernel/src/sema_b.c
Labels: area: Tests, area: Testsuite

#61456 boards: fix typos in cy8ckit_062s4 docs and config
  boards/arm/cy8ckit_062s4/board.cmake
  boards/arm/cy8ckit_062s4/cy8ckit_062s4_m4_defconfig
  boards/arm/cy8ckit_062s4/doc/index.rst
Labels: platform: Infineon

#60067 boards: xtensa: Add support for YD-ESP32 board
  boards/xtensa/yd_esp32/Kconfig.board
  boards/xtensa/yd_esp32/Kconfig.defconfig
  boards/xtensa/yd_esp32/Kconfig.sysbuild
  boards/xtensa/yd_esp32/board.cmake
  boards/xtensa/yd_esp32/doc/img/yd_esp32.png
  boards/xtensa/yd_esp32/doc/index.rst
  boards/xtensa/yd_esp32/support/openocd.cfg
  boards/xtensa/yd_esp32/yd_esp32-pinctrl.dtsi
  boards/xtensa/yd_esp32/yd_esp32.dts
  boards/xtensa/yd_esp32/yd_esp32.yaml
  boards/xtensa/yd_esp32/yd_esp32_defconfig
  samples/bluetooth/hci_uart/boards/yd_esp32.conf
  samples/bluetooth/hci_uart/boards/yd_esp32.overlay
  samples/boards/esp32/deep_sleep/boards/yd_esp32.conf
  samples/boards/esp32/flash_encryption/boards/yd_esp32.overlay
  samples/boards/esp32/flash_encryption/sample.yaml
  samples/drivers/adc/boards/yd_esp32.overlay
  samples/drivers/counter/alarm/boards/yd_esp32.overlay
  samples/drivers/dac/boards/yd_esp32.overlay
  samples/drivers/ipm/ipm_esp32/boards/yd_esp32.overlay
  samples/net/wifi/boards/yd_esp32.conf
  samples/net/wifi/boards/yd_esp32.overlay
  samples/sensor/grow_r502a/boards/yd_esp32.overlay
  samples/subsys/settings/boards/yd_esp32.conf
  tests/drivers/adc/adc_api/boards/yd_esp32.overlay
  tests/drivers/counter/counter_basic_api/boards/yd_esp32.overlay
  tests/drivers/dac/dac_api/boards/yd_esp32.overlay
  tests/drivers/dac/dac_api/src/test_dac.c
  tests/drivers/gpio/gpio_basic_api/boards/yd_esp32.overlay
  tests/drivers/pwm/pwm_loopback/boards/yd_esp32.overlay
  tests/drivers/spi/spi_loopback/boards/yd_esp32.conf
  tests/drivers/spi/spi_loopback/boards/yd_esp32.overlay
  tests/subsys/debug/coredump_backends/boards/yd_esp32.overlay
Labels: area: SPI, area: ADC, area: PWM, area: Counter, area: Debugging, platform: ESP32, area: LED, area: DAC

#60189 drivers: dma: remove unnecessary null check
  drivers/dma/dma_mchp_xec.c
Labels: area: DMA, platform: Microchip MEC

#61419 doc: boards: intel_adl: Update documentation
  boards/x86/intel_adl/doc/index.rst
Labels: platform: X86

#61471 boards: x86: Add intel_ prefix to Elkhart Lake boards
  boards/x86/intel_ehl/CMakeLists.txt
  boards/x86/intel_ehl/Kconfig.board
  boards/x86/intel_ehl/Kconfig.defconfig
  boards/x86/intel_ehl/board.cmake
  boards/x86/intel_ehl/doc/index.rst
  boards/x86/intel_ehl/intel_ehl_crb.dts
  boards/x86/intel_ehl/intel_ehl_crb.yaml
  boards/x86/intel_ehl/intel_ehl_crb_defconfig
  boards/x86/intel_ehl/intel_ehl_crb_sbl.dts
  boards/x86/intel_ehl/intel_ehl_crb_sbl.yaml
  boards/x86/intel_ehl/intel_ehl_crb_sbl_defconfig
  samples/drivers/smbus/sample.yaml
  samples/drivers/watchdog/boards/intel_ehl_crb.overlay
  samples/subsys/edac/README.rst
  samples/subsys/edac/sample.yaml
  samples/subsys/portability/cmsis_rtos_v1/philosophers/src/main.c
  tests/drivers/gpio/gpio_basic_api/boards/intel_ehl_crb.overlay
  tests/drivers/watchdog/wdt_basic_api/boards/intel_ehl_crb.overlay
  tests/kernel/fpu_sharing/float_disable/testcase.yaml
  tests/kernel/timer/timer_monotonic/testcase.yaml
  tests/posix/common/testcase.yaml
  tests/subsys/edac/ibecc/README.rst
  tests/subsys/edac/ibecc/testcase.yaml
  tests/subsys/edac/ibecc_cov/testcase.yaml
Labels: area: Kernel, area: GPIO, area: Watchdog, area: POSIX, area: Portability, platform: X86, area: CMSIS API Layer, area: EDAC, area: SMBus

#61502 canbus: isotp: convert SF length check from ASSERT to runtime check
  subsys/canbus/isotp/isotp.c
Labels: bug, area: CAN, backport v2.7-branch, backport v3.3-branch, backport v3.4-branch
