Repository zephyrproject-rtos/zephyr, pull requests merged in 2023-04, with the labels that each got.

#56444 drivers: i3c: cdns: set tx fifo threshold interrupt to half the fifo
  drivers/i3c/i3c_cdns.c
Labels: area: I3C

#56388 gpio: fix armclang compiler warnings with is*() functions
  drivers/gpio/gpio_shell.c
Labels: area: GPIO

#56283 drivers: spi: esp32xx: Fix word size issue
  drivers/spi/spi_esp32_spim.c
  drivers/spi/spi_esp32_spim.h
Labels: area: SPI, platform: ESP32

#56400 ARC: MWDT: fix build with cpp98 standard
  include/zephyr/toolchain/mwdt.h
Labels: area: ARC

#56430 Remove unnecessary project configuration in bsim tests
  tests/bsim/bluetooth/ll/conn/prj_split.conf
  tests/bsim/bluetooth/ll/conn/prj_split_low_lat.conf
  tests/bsim/bluetooth/ll/conn/prj_split_privacy.conf
  tests/bsim/bluetooth/ll/edtt/gatt_test_app/prj_llcp.conf
  tests/bsim/bluetooth/ll/edtt/hci_test_app/prj_dut_llcp.conf
  tests/bsim/bluetooth/ll/edtt/hci_test_app/prj_tst_llcp.conf
  tests/bsim/bluetooth/mesh/prj.conf
  tests/bsim/bluetooth/mesh/prj_mesh1d1.conf
Labels: area: Bluetooth, area: Bluetooth Mesh, area: Bluetooth Controller

#56454 tests: drivers: counter: nrf_rtc: Add delay to the start of test_short_relative_alarm test
  tests/drivers/counter/counter_basic_api/src/test_counter.c
Labels: area: Counter

#49212 boards: arm: add PhyBOARD Polis (i.MX8MM)
  CODEOWNERS
  boards/arm/mimx8mm_phyboard_polis/Kconfig.board
  boards/arm/mimx8mm_phyboard_polis/Kconfig.defconfig
  boards/arm/mimx8mm_phyboard_polis/board.cmake
  boards/arm/mimx8mm_phyboard_polis/doc/img/PEB-EVAL-01.jpg
  boards/arm/mimx8mm_phyboard_polis/doc/img/phyBOARD-Polis.jpg
  boards/arm/mimx8mm_phyboard_polis/doc/index.rst
  boards/arm/mimx8mm_phyboard_polis/mimx8mm_phyboard_polis-pinctrl.dtsi
  boards/arm/mimx8mm_phyboard_polis/mimx8mm_phyboard_polis.dts
  boards/arm/mimx8mm_phyboard_polis/mimx8mm_phyboard_polis.yaml
  boards/arm/mimx8mm_phyboard_polis/mimx8mm_phyboard_polis_defconfig
Labels: platform: NXP

#56307 logging: Added BLE Backend Service
  include/zephyr/logging/log_backend_ble.h
  samples/subsys/logging/ble_backend/CMakeLists.txt
  samples/subsys/logging/ble_backend/README.rst
  samples/subsys/logging/ble_backend/prj.conf
  samples/subsys/logging/ble_backend/sample.yaml
  samples/subsys/logging/ble_backend/src/main.c
  subsys/logging/backends/CMakeLists.txt
  subsys/logging/backends/Kconfig
  subsys/logging/backends/Kconfig.ble
  subsys/logging/backends/log_backend_ble.c
Labels: area: Bluetooth, area: Logging

#56475 Bluetooth: Shell: Guard HRS adv calls with broadcaster
  tests/bluetooth/shell/src/main.c
Labels: area: Bluetooth, Trivial

#56296 drivers: adc_mcux_lpadc: Fix the config initilization
  drivers/adc/adc_mcux_lpadc.c
Labels: area: ADC, platform: NXP

#55940 drivers: sensors: Implement MAX31865 sensor
  drivers/sensor/CMakeLists.txt
  drivers/sensor/Kconfig
  drivers/sensor/max31865/CMakeLists.txt
  drivers/sensor/max31865/Kconfig
  drivers/sensor/max31865/max31865.c
  drivers/sensor/max31865/max31865.h
  dts/bindings/sensor/maxim,max31865.yaml
  tests/drivers/build_all/sensor/spi.dtsi
Labels: area: Sensors, area: Devicetree Binding

#55890 z_sched_init: don't use arch_num_cpus()
  kernel/sched.c
Labels: area: Kernel

#56445 MAINTAINERS: add XenuIsWatching as collaborator for i3c
  MAINTAINERS.yml
Labels: area: Process

#56493 MAINTAINERS: Add golowanow as collaborator for Twister
  MAINTAINERS.yml
Labels: area: Process

#56488 spi: Remove extranous logging message for SAM
  drivers/spi/spi_sam.c
Labels: area: SPI, platform: Microchip SAM

#56441 sched: clean up timeslicing default settings
  kernel/sched.c
Labels: area: Kernel

#56128 input: convert the ft5336 driver from kscan to input
  boards/arm/mimxrt1050_evk/Kconfig.defconfig
  boards/arm/mimxrt1050_evk/mimxrt1050_evk.dts
  boards/arm/mimxrt1060_evk/Kconfig.defconfig
  boards/arm/mimxrt1060_evk/mimxrt1060_evk.dts
  boards/arm/mimxrt1064_evk/Kconfig.defconfig
  boards/arm/mimxrt1064_evk/mimxrt1064_evk.dts
  boards/arm/stm32f746g_disco/Kconfig.defconfig
  boards/arm/stm32f746g_disco/stm32f746g_disco.dts
  boards/arm/stm32f7508_dk/Kconfig.defconfig
  boards/arm/stm32f7508_dk/stm32f7508_dk.dts
  boards/arm/stm32f769i_disco/Kconfig.defconfig
  boards/arm/stm32f769i_disco/stm32f769i_disco.dts
  boards/arm/stm32h7b3i_dk/Kconfig.defconfig
  boards/arm/stm32h7b3i_dk/stm32h7b3i_dk.dts
  boards/shields/adafruit_2_8_tft_touch_v2/Kconfig.defconfig
  boards/shields/adafruit_2_8_tft_touch_v2/dts/adafruit_2_8_tft_touch_v2.dtsi
  boards/shields/buydisplay_2_8_tft_touch_arduino/Kconfig.defconfig
  boards/shields/buydisplay_2_8_tft_touch_arduino/buydisplay_2_8_tft_touch_arduino.overlay
  boards/shields/buydisplay_3_5_tft_touch_arduino/Kconfig.defconfig
  boards/shields/buydisplay_3_5_tft_touch_arduino/buydisplay_3_5_tft_touch_arduino.overlay
  drivers/input/CMakeLists.txt
  drivers/input/Kconfig
  drivers/input/Kconfig.ft5336
  drivers/input/input_ft5336.c
  drivers/kscan/CMakeLists.txt
  drivers/kscan/Kconfig
Labels: platform: STM32, platform: NXP, area: Shields, area: Kscan, area: Input

#56405 scripts: twister: fix zephyr base sanitizing
  scripts/pylib/twister/twisterlib/runner.py
Labels: area: Twister

#56496 logging: Fixed BLE backend when used alone
  subsys/logging/backends/log_backend_ble.c
Labels: area: Logging

#55978 doc: kconfig: setting: Add "fragment" to text
  doc/build/kconfig/setting.rst
Labels: area: Build System, area: Kconfig

#55935 module: openthread: align OT_DNS_UPSTREAM_QUERY configs with upstream
  modules/openthread/CMakeLists.txt
  modules/openthread/Kconfig.features
  west.yml
Labels: manifest, manifest-openthread

#56464 Bluetooth: audio: Introduce helper BT_AUDIO_RX(TX) flags
  include/zephyr/bluetooth/audio/bap.h
  subsys/bluetooth/audio/Kconfig
  subsys/bluetooth/audio/Kconfig.ascs
  subsys/bluetooth/audio/Kconfig.bap
  subsys/bluetooth/audio/ascs.c
  subsys/bluetooth/audio/cap_stream.c
  subsys/bluetooth/audio/shell/bap.c
  tests/bluetooth/audio/mocks/src/bap_stream.c
Labels: area: Bluetooth, area: Bluetooth Audio

#56467 Bluetooth: audio: endpoint: Remove redundant conditional
  subsys/bluetooth/audio/bap_endpoint.h
Labels: area: Bluetooth, area: Bluetooth Audio

#56468 Bluetooth: audio: iso: Remove code duplicates
  subsys/bluetooth/audio/bap_iso.c
Labels: area: Bluetooth, area: Bluetooth Audio

#56477 Bluetooth: Audio: Add select BT_GATT_DYNAMIC_DB for audio services
  subsys/bluetooth/audio/Kconfig.aics
  subsys/bluetooth/audio/Kconfig.cap
  subsys/bluetooth/audio/Kconfig.has
  subsys/bluetooth/audio/Kconfig.mcs
  subsys/bluetooth/audio/Kconfig.micp
  subsys/bluetooth/audio/Kconfig.tbs
  subsys/bluetooth/audio/Kconfig.vcp
Labels: area: Bluetooth, Trivial, area: Bluetooth Audio

#56480 drivers: uart_nrfx_uarte: Revert workaround for bytes dropping
  boards/arm/nrf5340_audio_dk_nrf5340/Kconfig.defconfig
  boards/arm/nrf5340dk_nrf5340/Kconfig.defconfig
  boards/arm/nrf9160dk_nrf9160/Kconfig.defconfig
  drivers/serial/Kconfig.nrfx
  drivers/serial/uart_nrfx_uarte.c
Labels: area: UART, platform: nRF

#56391 shell: fix armclang compiler warnings with is*() functions
  samples/subsys/shell/shell_module/src/dynamic_cmd.c
  subsys/shell/shell.c
  subsys/shell/shell_help.c
  subsys/shell/shell_utils.c
Labels: area: Shell

#56389 libc: fix armclang compiler warnings with is*() functions
  lib/libc/minimal/source/stdlib/atoi.c
  lib/libc/minimal/source/stdlib/strtol.c
  lib/libc/minimal/source/stdlib/strtoll.c
  lib/libc/minimal/source/stdlib/strtoul.c
  lib/libc/minimal/source/stdlib/strtoull.c
  tests/lib/c_lib/src/main.c
Labels: area: C Library

#56354 drivers: peci: move CONFIG_PECI_INTERRUPT_DRIVEN inside if statement
  drivers/peci/Kconfig
Labels: Trivial, area: PECI

#56509 tests: logging: log_links: Set CONFIG_LOG_DOMAIN_NAME in the test
  tests/subsys/logging/log_links/prj.conf
Labels: area: Logging

#56384 adc: fix armclang compiler warnings with is*() functions
  drivers/adc/adc_shell.c
Labels: area: ADC

#56483 driver: usb_serial: esp32c3: fix USB port behavior
  drivers/serial/serial_esp32_usb.c
Labels: area: UART, platform: ESP32

#56446 tests: posix: common: remove test_clock_gettime_rollover
  tests/posix/common/src/clock.c
Labels: area: POSIX

#56426 Bluetooth: Mesh: Add asynchronous API to Private Beacon Client
  include/zephyr/bluetooth/mesh/priv_beacon_cli.h
  subsys/bluetooth/mesh/priv_beacon_cli.c
Labels: area: Bluetooth, area: Bluetooth Mesh

#56236 cmake: add CMake configure dependency for VERSION file
  cmake/modules/version.cmake
Labels: area: Build System

#56327 cmake: strip paths in build output based on Kconfig option
  CMakeLists.txt
  Kconfig.zephyr
Labels: area: Build System

#56533 samples: cmsis_rtos_v1: philosophers: increas CMSIS_THREAD_MAX_STACK_SIZE
  samples/subsys/portability/cmsis_rtos_v1/philosophers/prj.conf
Labels: area: Portability, Hotfix, area: CMSIS API Layer

#56362 [Backport v3.3-branch] drivers: dac: sam: add missing zephyr/kernel.h include
  drivers/dac/dac_sam.c
Labels: platform: Microchip SAM, Backport, area: DAC

#56302 doc: Add old toolchain pages to redirects
  doc/_scripts/redirects.py
Labels: area: Documentation Infrastructure

#56223 soc: mec172x: Add hardware debug configuration
  soc/arm/microchip_mec/mec172x/Kconfig.soc
  soc/arm/microchip_mec/mec172x/soc.c
Labels: platform: Microchip MEC

#56318 tests: kernel: timer_behavior: Decrease tick rate for nRF
  tests/kernel/timer/timer_behavior/Kconfig
Labels: area: Kernel

#55820 shell: fix assert when bypass mode is set
  subsys/shell/shell.c
Labels: bug, area: Shell

#56544 tests: net: websocket: exclude 64 bit platforms
  tests/net/socket/websocket/testcase.yaml
Labels: area: Networking, area: Sockets, Hotfix

#55729 samples: metairq_dispatch: Ensure large enough queues
  samples/kernel/metairq_dispatch/src/main.c
  samples/kernel/metairq_dispatch/src/msgdev.c
Labels: area: Kernel

#56543 tests: regulator: Update RT685 for LPADC rewrite
  tests/drivers/regulator/voltage/boards/mimxrt685_evk_cm33.overlay
Labels: platform: NXP, area: Regulators

#56522 subsys: logging: Changed log template to consider default log level
  subsys/logging/Kconfig.template.log_config
Labels: area: Logging

#56559 net: openthread: Remove duplicate option `TREL` in openthread.
  modules/openthread/Kconfig.thread
  modules/openthread/platform/openthread-core-zephyr-config.h
Labels: manifest-openthread

#56560 doc: Document LwM2M pause and resume states
  doc/connectivity/networking/api/images/lwm2m_engine_state_machine.png
  doc/connectivity/networking/api/lwm2m.rst
Labels: area: Networking

#55320 Add ASCS and BAP tests handling
  tests/bluetooth/tester/CMakeLists.txt
  tests/bluetooth/tester/overlay-le-audio.conf
  tests/bluetooth/tester/src/btp/btp.h
  tests/bluetooth/tester/src/btp/btp_ascs.h
  tests/bluetooth/tester/src/btp/btp_bap.h
  tests/bluetooth/tester/src/btp/btp_pacs.h
  tests/bluetooth/tester/src/btp/bttester.h
  tests/bluetooth/tester/src/btp_bap.c
  tests/bluetooth/tester/src/btp_core.c
Labels: area: Bluetooth

#56532 bsim tests: run_parallel: Allow providing tests explicitly
  tests/bsim/run_parallel.sh
Labels: platform: nRF52 BSIM

#56552 samples: sensors: Remove warp7_m4 from fxas21002 platform_allow list
  samples/sensor/fxas21002/sample.yaml
Labels: area: Sensors

#56199 bluetooth: Fix linking issues with armclang
  subsys/bluetooth/host/adv.c
Labels: area: Bluetooth, area: Bluetooth Host

#56561 cmake: dts: remove generation of legacy device_extern.h
  cmake/modules/dts.cmake
Labels: area: Build System

#56571 samples: Update fs format sample README
  samples/subsys/fs/format/README.md
  samples/subsys/fs/format/README.rst
Labels: area: File System

#56541 runners: bossac: add --delay option
  scripts/west_commands/runners/bossac.py
Labels: area: West

#56514 drivers: serial: ns16550: Add support for Async APIs
  drivers/serial/Kconfig.ns16550
  drivers/serial/uart_ns16550.c
Labels: area: UART

#56596 samples: Bluetooth: hci_spi: Fix RAM overflow
  samples/bluetooth/hci_spi/prj.conf
Labels: area: Bluetooth, Hotfix

#56513 input: ft5336: move the ft5336 binding under input
  dts/bindings/input/focaltech,ft5336.yaml
Labels: Trivial, area: Devicetree Binding

#56577 drivers: intc: mchp_ecia_xec: Ensure correct device init order
  drivers/interrupt_controller/Kconfig
  drivers/interrupt_controller/intc_mchp_ecia_xec.c
Labels: platform: Microchip MEC, area: Interrupt Controller

#56497 drivers: ssp: Ignore link clock_source for non-ACE platforms
  drivers/dai/intel/ssp/ssp.c
Labels: area: DMA, platform: Intel ADSP, area: DAI

#56510 shell: uart: Fix wait for DTR before TX
  include/zephyr/shell/shell_uart.h
  subsys/shell/backends/Kconfig.backends
  subsys/shell/backends/shell_uart.c
Labels: area: Shell

#56606 net: lwm2m: Remove lwm2m_path_to_string
  subsys/net/lib/lwm2m/lwm2m_rw_senml_cbor.c
  subsys/net/lib/lwm2m/lwm2m_util.c
  subsys/net/lib/lwm2m/lwm2m_util.h
  tests/net/lib/lwm2m/engine/src/lwm2m_observation.c
Labels: area: Networking, area: LWM2M

#56476 Bluetooth: shell: Guard adv_opt with CONFIG_BT_BROADCASTER
  subsys/bluetooth/shell/bt.c
Labels: area: Bluetooth, Trivial

#56607 tests: boot: test_mcuboot: Add mcuboot log level
  scripts/ci/check_compliance.py
  tests/boot/test_mcuboot/sysbuild/mcuboot.conf
  tests/boot/test_mcuboot/testcase.yaml
Labels: manifest-mcuboot, area: Continuous Integration

#56289 boards: xtensa: m5stickc_plus: fix baudrate
  boards/xtensa/m5stickc_plus/board.cmake
  boards/xtensa/m5stickc_plus/doc/index.rst
Labels: area: Boards, platform: ESP32

#55532 subsys: canbus: isotp: Allow to override ISOTP_FIXED_ADDR_* constants
  include/zephyr/canbus/isotp.h
  subsys/canbus/isotp/Kconfig
  subsys/canbus/isotp/isotp.c
Labels: area: CAN

#56335 drivers: gpio: Update NXP GPIO driver for the updated IP Block
  drivers/gpio/gpio_mcux.c
  soc/arm/nxp_kinetis/k2x/soc.h
  soc/arm/nxp_kinetis/k6x/soc.h
  soc/arm/nxp_kinetis/k8x/soc.h
  soc/arm/nxp_kinetis/ke1xf/soc.h
  soc/arm/nxp_kinetis/kl2x/soc.h
  soc/arm/nxp_kinetis/kv5x/soc.h
  soc/arm/nxp_kinetis/kwx/soc.h
Labels: area: GPIO, platform: NXP

#56608 net: lwm2m: Default lifetime is also a minimum accepted lifetime
  subsys/net/lib/lwm2m/Kconfig
  subsys/net/lib/lwm2m/lwm2m_rd_client.c
  tests/net/lib/lwm2m/lwm2m_rd_client/src/stubs.c
  tests/net/lib/lwm2m/lwm2m_rd_client/src/stubs.h
Labels: area: Networking, area: LWM2M

#55843 test: test-config: update test config usage
  doc/develop/test/twister.rst
Labels: area: Documentation, area: Twister

#56555 boards: nucleo_f303k8: Fix clock configuration
  boards/arm/nucleo_f303k8/nucleo_f303k8.dts
Labels: platform: STM32

#56616 board: teensy: improve on-board SPI flash support
  boards/arm/teensy4/teensy40.dts
  boards/arm/teensy4/teensy41.dts
Labels: Hotfix

#56621 docs: release: 3.4: add input subsystem notes
  doc/releases/release-notes-3.4.rst
Labels: area: Documentation, Release Notes

#49724 board: arm: Add PhyBOARD Pollux
  boards/arm/mimx8mp_phyboard_pollux/Kconfig.board
  boards/arm/mimx8mp_phyboard_pollux/Kconfig.defconfig
  boards/arm/mimx8mp_phyboard_pollux/board.cmake
  boards/arm/mimx8mp_phyboard_pollux/doc/img/PEB-EVAL-01.jpg
  boards/arm/mimx8mp_phyboard_pollux/doc/img/Phyboard_Pollux.jpg
  boards/arm/mimx8mp_phyboard_pollux/doc/index.rst
  boards/arm/mimx8mp_phyboard_pollux/mimx8mp_phyboard_pollux-pinctrl.dtsi
  boards/arm/mimx8mp_phyboard_pollux/mimx8mp_phyboard_pollux.dts
  boards/arm/mimx8mp_phyboard_pollux/mimx8mp_phyboard_pollux.yaml
  boards/arm/mimx8mp_phyboard_pollux/mimx8mp_phyboard_pollux_defconfig
Labels: platform: NXP

#51354 code_data_relocation: also match on object file name
  scripts/build/gen_relocate_app.py
Labels: area: Build System, area: Userspace

#51465 Sensor ms5837
  drivers/sensor/ms5837/ms5837.c
  drivers/sensor/ms5837/ms5837.h
Labels: area: Sensors, Stale

#51517 smp: Add BUILD_ASSERT to make sure Kconfig values are the same
  kernel/init.c
Labels: area: Kernel, Stale

#51805 drivers: console: uart_console.c: suggestion to add new line for unix or linux host
  drivers/console/uart_console.c
Labels: area: Console

#51878 drivers: sensor: bmp388: Add I2C-base or SPI-base interface in build …
  drivers/sensor/bmp388/CMakeLists.txt
  drivers/sensor/bmp388/bmp388.c
  drivers/sensor/bmp388/bmp388.h
  drivers/sensor/bmp388/bmp388_i2c.c
  drivers/sensor/bmp388/bmp388_spi.c
  drivers/sensor/bmp388/bmp388_trigger.c
Labels: area: Sensors, area: Devicetree Binding

#53409 test: spi: update fast test frequecny for em_starterkit
  tests/drivers/spi/spi_loopback/boards/em_starterkit.overlay
Labels: area: SPI

#53765 drivers: i2c: i2c_dw: add bus mutex
  drivers/i2c/i2c_dw.c
  drivers/i2c/i2c_dw.h
Labels: area: I2C

#54161 drivers: timer: added MTIMER_DIVIDER register initialization
  drivers/timer/riscv_machine_timer.c
Labels: area: Timer

#54268 drivers: ethernet: stm32: avoid unnecessary casts, silence warnings
  drivers/ethernet/eth_stm32_hal.c
Labels: platform: STM32, area: Ethernet

#54465 soc: arm: atmel_sam0: improved samd20/samd21/samr21 clocking mechanism
  boards/arm/adafruit_trinket_m0/adafruit_trinket_m0_defconfig
  boards/arm/arduino_nano_33_iot/arduino_nano_33_iot_defconfig
  soc/arm/atmel_sam0/common/Kconfig.samd2x
  soc/arm/atmel_sam0/common/soc_samd2x.c
  soc/arm/atmel_sam0/samd20/soc.h
  soc/arm/atmel_sam0/samd21/soc.h
  soc/arm/atmel_sam0/samr21/soc.h
Labels: platform: Microchip SAM

#54882 dma_dw: separate intel specific registers from synopsys ones
  drivers/dma/Kconfig.dw_common
  drivers/dma/dma_dw_common.c
  drivers/dma/dma_dw_common.h
Labels: area: DMA

#55381 Microchip: fixup DTS files for MEC172xNLJ support
  dts/arm/microchip/mec172x/mec172xnlj-pinctrl.dtsi
  dts/arm/microchip/mec172xnlj.dtsi
Labels: platform: Microchip MEC

#55394 shell: backends: telnet: init structure before first function call
  subsys/shell/backends/shell_telnet.c
Labels: area: Shell

#55795 tests: drivers: watchdog: Add TI TPS382x test
  tests/drivers/watchdog/wdt_basic_api/boards/mimxrt1050_evk_ti_tps382x.overlay
  tests/drivers/watchdog/wdt_basic_api/testcase.yaml
Labels: area: Watchdog

#55810 edac: ibecc: Use GENMASK64() macro
  drivers/edac/ibecc.h
Labels: area: EDAC

#55830 drivers: peci: microchip: Enabled low power mode
  boards/arm/mec1501modular_assy6885/mec1501modular_assy6885.dts
  boards/arm/mec15xxevb_assy6853/mec15xxevb_assy6853.dts
  drivers/peci/peci_mchp_xec.c
  dts/arm/microchip/mec152x/mec152xhsz-pinctrl.dtsi
  dts/arm/microchip/mec172x/mec172xnsz-pinctrl.dtsi
  samples/drivers/peci/boards/mec172xevb_assy6906.overlay
  samples/drivers/peci/prj.conf
Labels: platform: Microchip MEC, area: PECI

#55950 samples: net: wifi: esp32: add auto dhcpv4 to esp32 boards
  samples/net/wifi/boards/esp32.conf
  samples/net/wifi/boards/esp32c3_devkitm.conf
Labels: area: Networking

#56135 net: wifi: Log failure reason for AP mode
  subsys/net/l2/wifi/wifi_shell.c
Labels: area: Networking

#56179 Bluetooth: Host: Fix legacy OOB pairing as central
  subsys/bluetooth/host/smp.c
Labels: area: Bluetooth, Regression, area: Bluetooth Qualification, area: Bluetooth Host

#56194 tests: Bluetooth: Unicast audio test with source stream
  tests/bsim/bluetooth/audio/src/bap_unicast_client_test.c
  tests/bsim/bluetooth/audio/src/bap_unicast_server_test.c
Labels: area: Bluetooth, area: Bluetooth Audio

#56240 Bluetooth: Mesh: Remove incorrect opcode check in RPR Client
  subsys/bluetooth/mesh/rpr_cli.c
Labels: area: Bluetooth, area: Bluetooth Mesh

#56244 soc: mec172x: Fix interrupt unmasking in SoC PM restore path
  soc/arm/microchip_mec/mec172x/power.c
Labels: platform: Microchip MEC

#56257 tests/boards/mec15xxevb_assy6853/qspi: Fix typo in test
  tests/boards/mec15xxevb_assy6853/qspi/src/main.c
Labels: platform: Microchip MEC

#56126 doc: recommend sys_clock_cycle_get_64() when clock rate is really fast
  include/zephyr/drivers/timer/system_timer.h
Labels: area: Timer

#54126 DA1469x i2c driver
  boards/arm/da1469x_dk_pro/da1469x_dk_pro-pinctrl.dtsi
  boards/arm/da1469x_dk_pro/da1469x_dk_pro.dts
  boards/arm/da1469x_dk_pro/da1469x_dk_pro.yaml
  boards/arm/da1469x_dk_pro/da1469x_dk_pro_defconfig
  drivers/i2c/CMakeLists.txt
  drivers/i2c/Kconfig
  drivers/i2c/Kconfig.smartbond
  drivers/i2c/i2c_smartbond.c
  dts/arm/renesas/smartbond/da1469x.dtsi
  dts/bindings/i2c/renesas,smartbond-i2c.yaml
Labels: area: I2C, area: Devicetree Binding, platform: Renesas, platform: Renesas SmartBond

#55275 drivers: sensor: bmi270: Add support for motion, DRDY triggers
  drivers/sensor/bmi270/CMakeLists.txt
  drivers/sensor/bmi270/Kconfig
  drivers/sensor/bmi270/bmi270.c
  drivers/sensor/bmi270/bmi270.h
  drivers/sensor/bmi270/bmi270_config_file.h
  drivers/sensor/bmi270/bmi270_trigger.c
  dts/bindings/sensor/bosch,bmi270-i2c.yaml
Labels: area: Sensors, area: Devicetree Binding

#56487 sam: atsamc2x: dmac enable, fix uart-async
  boards/arm/atsamc21n_xpro/atsamc21n_xpro.yaml
  dts/arm/atmel/samc2x.dtsi
  tests/drivers/dma/chan_blen_transfer/boards/atsamc21n_xpro.overlay
  tests/drivers/dma/loop_transfer/boards/atsamc21n_xpro.overlay
  tests/drivers/uart/uart_async_api/boards/atsamc21n_xpro.overlay
  tests/drivers/uart/uart_async_api/testcase.yaml
Labels: area: UART, area: DMA, platform: Microchip SAM

#56663 emul: Use STRUCT_SECTION macros for emul devices
  cmake/linker_script/common/common-rom.cmake
  include/zephyr/drivers/emul.h
  include/zephyr/linker/common-rom/common-rom-misc.ld
  subsys/emul/emul.c
Labels: area: Build System, area: HW Emulation

#56626 Bluetooth: logging: don't imply LOG_FUNC_NAME_PREFIX_*
  subsys/bluetooth/Kconfig.logging
Labels: area: Bluetooth

#56490 twister: Add configurable flashing timeout
  doc/develop/test/twister.rst
  scripts/pylib/twister/twisterlib/environment.py
  scripts/pylib/twister/twisterlib/handlers.py
  scripts/pylib/twister/twisterlib/hardwaremap.py
  scripts/schemas/twister/hwmap-schema.yaml
Labels: Enhancement, area: Documentation, area: Twister

#56546 templates: bug: add a note about project forks
  .github/ISSUE_TEMPLATE/bug_report.md
Labels: area: Continuous Integration

#56661 twister: Fix DeviceHandler hangs without suitable DUT
  scripts/pylib/twister/twisterlib/handlers.py
Labels: bug, area: Twister

#56693 twister: Alleviate DeviceHandler serial port TOCTOU
  scripts/pylib/twister/twisterlib/handlers.py
Labels: bug, area: Twister

#56698 tests: interrupt: Fix armclang compiler warning
  tests/kernel/interrupt/src/dynamic_isr.c
Labels: area: Kernel

#51879 drivers: sensor: bmm150: Add I2C-base or SPI-base interface in build …
  drivers/sensor/bmm150/CMakeLists.txt
  drivers/sensor/bmm150/bmm150.c
  drivers/sensor/bmm150/bmm150.h
  drivers/sensor/bmm150/bmm150_i2c.c
  drivers/sensor/bmm150/bmm150_spi.c
  dts/bindings/sensor/bosch,bmm150-i2c.yaml
  dts/bindings/sensor/bosch,bmm150-spi.yaml
  dts/bindings/sensor/bosch,bmm150.yaml
  tests/drivers/build_all/sensor/spi.dtsi
Labels: area: Sensors, area: Devicetree Binding

#56696 boards: stm32h747i_disco: fix gpio_leds definition
  boards/arm/stm32h747i_disco/stm32h747i_disco.dtsi
Labels: platform: STM32

#56700 dts: xtensa: espressif: esp32s2: Add TWAI node
  dts/xtensa/espressif/esp32s2.dtsi
Labels: area: Xtensa, platform: ESP32

#56717 include: rtio: Remove use of deprecated ceiling_fraction macro
  include/zephyr/rtio/rtio.h
Labels: Hotfix, area: RTIO

#56701 twister: ignore remapped ELF file when getting ELF name
  scripts/pylib/twister/twisterlib/testinstance.py
Labels: Hotfix, area: Twister

#56718 tests: Bluetooth: move `multiple_id` test
  tests/bsim/bluetooth/host/compile.sh
  tests/bsim/bluetooth/ll/compile.sh
  tests/bsim/bluetooth/ll/multiple_id/CMakeLists.txt
  tests/bsim/bluetooth/ll/multiple_id/prj.conf
  tests/bsim/bluetooth/ll/multiple_id/src/main.c
  tests/bsim/bluetooth/ll/multiple_id/tests_scripts/multiple.sh
Labels: area: Bluetooth, area: Bluetooth Controller, area: Bluetooth Host

#56505 drivers: clock_control: stm32f3: Enable PWR clock to access BDCR
  drivers/clock_control/clock_stm32f0_f3.c
Labels: platform: STM32, area: Clock Control

#56712 tests/bsim: run_parallel: Improve help message
  tests/bsim/run_parallel.sh
Labels: platform: nRF52 BSIM, Trivial

#56587 arch: xtensa: Fix xtensa error handler
  arch/xtensa/core/xtensa-asm2.c
  include/zephyr/arch/xtensa/arch.h
Labels: area: Xtensa

#56406 modules: hal_infineon: Added abstraction-rtos asset for Infenion Cat1
  modules/hal_infineon/CMakeLists.txt
  modules/hal_infineon/Kconfig
  modules/hal_infineon/abstraction-rtos/CMakeLists.txt
  modules/hal_infineon/abstraction-rtos/include/COMPONENT_ZEPHYR/cyabs_rtos_impl.h
  modules/hal_infineon/abstraction-rtos/source/COMPONENT_ZEPHYR/cyabs_rtos_zephyr.c
Labels: manifest-hal_infineon

#56671 docs/build-flash-debug: expand one-time CMake arguments section
  doc/develop/west/build-flash-debug.rst
Labels: area: Documentation, area: West

#56694 dts: nxp: Mark the USB RAM region as RAM in the MPU
  dts/arm/nxp/nxp_lpc55S2x_common.dtsi
  dts/arm/nxp/nxp_lpc55S6x_common.dtsi
  dts/arm/nxp/nxp_rt5xx_common.dtsi
  dts/arm/nxp/nxp_rt6xx_common.dtsi
Labels: platform: NXP

#56719 tests: Bluetooth: add implied `CONFIG_BT_MAX_CONN=1`
  tests/bsim/bluetooth/host/security/bond_overwrite_allowed/prj.conf
  tests/bsim/bluetooth/host/security/bond_overwrite_denied/prj.conf
Labels: area: Bluetooth, area: Bluetooth Host

#56722 drivers: w1: added casting
  include/zephyr/drivers/w1.h
Labels: area: W1

#56730 samples/tests: bluetooth: Remove qemu_cortex_m3
  samples/bluetooth/central_iso/sample.yaml
  samples/bluetooth/direct_adv/sample.yaml
  samples/bluetooth/mesh_provisioner/sample.yaml
  samples/bluetooth/peripheral/sample.yaml
  samples/bluetooth/peripheral_accept_list/sample.yaml
  samples/bluetooth/peripheral_hids/sample.yaml
  samples/bluetooth/peripheral_iso/sample.yaml
  tests/bluetooth/mesh_shell/reduced_legacy.conf
  tests/bluetooth/mesh_shell/testcase.yaml
  tests/bluetooth/shell/testcase.yaml
Labels: area: Bluetooth, area: Bluetooth Mesh

#56736 boards: riscv32: Fix arch setting in board YAML
  boards/riscv/esp32c3_devkitm/esp32c3_devkitm.yaml
  boards/riscv/icev_wireless/icev_wireless.yaml
  boards/riscv/stamp_c3/stamp_c3.yaml
  boards/riscv/xiao_esp32c3/xiao_esp32c3.yaml
Labels: area: RISCV, platform: ESP32, Trivial

#56315 Bluetooth: Mesh: Link Close without success should fail NPPI procedure
  subsys/bluetooth/mesh/prov.c
  subsys/bluetooth/mesh/prov.h
  subsys/bluetooth/mesh/prov_device.c
  subsys/bluetooth/mesh/provisioner.c
Labels: area: Bluetooth, area: Bluetooth Mesh

#56728 Bluetooth: Logging: Make `BT_LOG` and `BT_LOG_LEGACY` hidden symbols
  subsys/bluetooth/Kconfig.logging
Labels: area: Bluetooth

#56351 Bluetooth: Mesh: Shell: Documentation cleanup
  doc/connectivity/bluetooth/api/mesh/shell.rst
  subsys/bluetooth/mesh/shell/blob.c
  subsys/bluetooth/mesh/shell/cfg.c
  subsys/bluetooth/mesh/shell/dfd.c
  subsys/bluetooth/mesh/shell/dfu.c
  subsys/bluetooth/mesh/shell/health.c
  subsys/bluetooth/mesh/shell/od_priv_proxy.c
  subsys/bluetooth/mesh/shell/op_agg.c
  subsys/bluetooth/mesh/shell/priv_beacon.c
  subsys/bluetooth/mesh/shell/rpr.c
  subsys/bluetooth/mesh/shell/sar.c
  subsys/bluetooth/mesh/shell/shell.c
  subsys/bluetooth/mesh/shell/sol_pdu_rpl.c
  subsys/bluetooth/mesh/shell/utils.c
  subsys/bluetooth/mesh/shell/utils.h
Labels: area: Bluetooth, area: Bluetooth Mesh

#56485 Bluetooth: Mesh: check buffer tailroom before relaying proxy message
  subsys/bluetooth/mesh/proxy_msg.c
Labels: area: Bluetooth, area: Bluetooth Mesh

#56447 Bluetooth: Controller: Fix BIG handle when operation cancelled by Host
  subsys/bluetooth/controller/ll_sw/ull_sync_iso.c
Labels: area: Bluetooth, area: Bluetooth Controller

#56755 mgmt: mcumgr: grp: fs_mgmt: set .upload flag in file_access_data if uploading
  subsys/mgmt/mcumgr/grp/fs_mgmt/src/fs_mgmt.c
Labels: bug, area: mcumgr

#56748 drivers: sensor: lsm6dso: round up to the nearest odr
  drivers/sensor/lsm6dso/lsm6dso.c
Labels: area: Sensors

#56547 cmake: toolchain: cache property GNULD_LINKER_IS_BFD
  cmake/modules/FindGnuLd.cmake
Labels: bug, priority: high, area: Build System, platform: Intel ADSP

#56619 doc: regulators: improve introduction
  doc/hardware/peripherals/regulators.rst
Labels: area: Regulators

#56322 Bluetooth: audio: csis: Fix Big Endianness for RSI generation
  include/zephyr/bluetooth/audio/csip.h
  subsys/bluetooth/audio/csip_crypto.c
  subsys/bluetooth/audio/csip_crypto.h
  subsys/bluetooth/audio/csip_set_coordinator.c
  subsys/bluetooth/audio/csip_set_member.c
Labels: area: Bluetooth, area: Bluetooth Audio

#56743 drivers: disk: sdmmc_stm32 support for clock divisor
  drivers/disk/sdmmc_stm32.c
  dts/bindings/mmc/st,stm32-sdmmc.yaml
Labels: platform: STM32, area: Disk Access, area: Devicetree Binding

#56747 canbus: isotp: fix single frame state machine stuck issue
  subsys/canbus/isotp/isotp.c
Labels: bug, area: CAN, backport v3.3-branch

#56781 bluetooth: Fix compiler warning with arm-clang
  subsys/bluetooth/mesh/pb_adv.c
Labels: area: Bluetooth, area: Bluetooth Mesh

#56766 drivers: i2c: ite: use correct I2C init priority
  drivers/i2c/i2c_ite_enhance.c
  drivers/i2c/i2c_ite_it8xxx2.c
Labels: area: I2C, Trivial, platform: ITE

#56785 cmake: extensions: fix zephyr_dt_preprocess() CPP handling
  cmake/modules/extensions.cmake
Labels: area: Build System, Hotfix

#56784 doc: Add INFINEON Prefix to ifx supported boards
  boards/arm/cy8ckit_062_ble/doc/index.rst
  boards/arm/cy8ckit_062_wifi_bt/doc/index.rst
  boards/arm/cy8cproto_062_4343w/doc/index.rst
Labels: platform: Infineon

#56773 drivers: i2c: remove deprecated I2C_NODE_MASTER
  include/zephyr/drivers/i2c.h
Labels: area: I2C, Trivial

#56553 shell: backends: add SHELL_BACKEND_RTT_BUFFER option
  doc/services/shell/index.rst
  subsys/shell/backends/Kconfig.backends
  subsys/shell/backends/shell_rtt.c
Labels: area: Shell

#56760 drivers: flash: stm32 ospi add dlyb bypass prop
  drivers/flash/flash_stm32_ospi.c
  dts/bindings/ospi/st,stm32-ospi.yaml
Labels: area: Flash, platform: STM32, area: Devicetree Binding, area: OSPI

#56674 sample: Bluetooth: Fix broadcast audio source sink conf file
  samples/bluetooth/broadcast_audio_sink/README.rst
  samples/bluetooth/broadcast_audio_sink/boards/nrf52840dk_nrf52840.conf
  samples/bluetooth/broadcast_audio_sink/boards/nrf52_bsim.conf
  samples/bluetooth/broadcast_audio_sink/overlay-bt_ll_sw_split.conf
  samples/bluetooth/broadcast_audio_sink/sample.yaml
  samples/bluetooth/broadcast_audio_source/README.rst
  samples/bluetooth/broadcast_audio_source/boards/nrf52840dk_nrf52840.conf
  samples/bluetooth/broadcast_audio_source/boards/nrf52_bsim.conf
  samples/bluetooth/broadcast_audio_source/boards/nrf5340dk_nrf5340_cpuapp.conf
  samples/bluetooth/broadcast_audio_source/overlay-bt_ll_sw_split.conf
  samples/bluetooth/broadcast_audio_source/sample.yaml
Labels: area: Bluetooth, area: Samples, area: Bluetooth Audio

#56796 soc_inf: Refactor native tasks into own header
  boards/posix/native_posix/timer_model.c
  drivers/serial/uart_native_posix.c
  soc/posix/inf_clock/posix_native_task.h
  soc/posix/inf_clock/soc.h
  tests/bsim/bluetooth/ll/edtt/common/edtt_driver_bsim.c
Labels: area: Bluetooth, area: UART, area: native port, platform: nRF52 BSIM, Trivial, area: Bluetooth Controller

#56794 init/device: add missing __noasan
  include/zephyr/device.h
  include/zephyr/init.h
Labels: bug, area: Device Model

#56813 Sample: Bluetooth: fix broadcast audio source sink conf file
  samples/bluetooth/broadcast_audio_sink/sample.yaml
  samples/bluetooth/broadcast_audio_source/sample.yaml
Labels: area: Bluetooth, Hotfix, Trivial

#56282 tests: Bluetooth: Mesh: add bsims test for DFU Client losing all targets
  tests/bsim/bluetooth/mesh/src/test_dfu.c
  tests/bsim/bluetooth/mesh/tests_scripts/dfu/dfu_cli_all_targets_lost_on_apply.sh
  tests/bsim/bluetooth/mesh/tests_scripts/dfu/dfu_cli_all_targets_lost_on_caps_get.sh
  tests/bsim/bluetooth/mesh/tests_scripts/dfu/dfu_cli_all_targets_lost_on_metadata.sh
  tests/bsim/bluetooth/mesh/tests_scripts/dfu/dfu_cli_all_targets_lost_on_update_get.sh
  tests/bsim/bluetooth/mesh/tests_scripts/dfu/dfu_cli_all_targets_lost_on_verify.sh
Labels: area: Bluetooth, area: Bluetooth Mesh

#56731 bluetooth: audio: Only build code if BT_CONN is enabled
  subsys/bluetooth/audio/CMakeLists.txt
Labels: area: Bluetooth, area: Bluetooth Audio

#56371 NXP LPC55s16 USB-HS support
  boards/arm/lpcxpresso55s16/lpcxpresso55s16.dts
  boards/arm/lpcxpresso55s16/lpcxpresso55s16.yaml
  dts/arm/nxp/nxp_lpc55S1x_common.dtsi
  soc/arm/nxp_lpc/lpc55xxx/Kconfig.defconfig.lpc55S16
Labels: area: USB, platform: NXP

#56821 init: set init_entry.dev to NULL
  include/zephyr/init.h
Labels: area: Device Model
