Repository zephyrproject-rtos/zephyr, pull requests merged in 2024-04, with the labels that each got.

#70823 soc: st: stm32 devices: SW JTAG port pins config with hw model V2
  soc/st/stm32/Kconfig
  soc/st/stm32/common/CMakeLists.txt
  soc/st/stm32/common/pm_debug_swj.c
Labels: platform: STM32

#70852 net: dhcpv4: remove conditions in header
  include/zephyr/net/dhcpv4.h
Labels: area: Networking

#70845 samples: net: vlan: Support all three network interfaces
  samples/net/vlan/Kconfig
  samples/net/vlan/prj.conf
  samples/net/vlan/src/main.c
Labels: area: Networking, area: Samples

#70182 drivers: sensor: qdec_stm32: add optional encoder mode
  drivers/sensor/qdec_stm32/qdec_stm32.c
  dts/bindings/sensor/st,stm32-qdec.yaml
Labels: area: Sensors, platform: STM32, area: Devicetree Binding

#70941 soc: nuvoton: numaker: disable DWT in Kconfig
  soc/nuvoton/numaker/m2l31x/Kconfig
Labels: Trivial, platform: Nuvoton Numicro Numaker

#70809 samples: drivers: led_strip: Correcting document title to 'LED strip'
  samples/drivers/led_strip/README.rst
Labels: area: Samples, area: LED, Trivial

#70698 bluetooth: nus: Change Kconfigs prefix to BT_ZEPHYR_NUS
  doc/releases/release-notes-3.7.rst
  drivers/serial/Kconfig.bt
  include/zephyr/linker/common-ram.ld
  samples/bluetooth/peripheral_nus/prj.conf
  samples/subsys/logging/logger/overlay-bt.conf
  samples/subsys/shell/shell_module/overlay-bt.conf
  snippets/nus-console/README.rst
  snippets/nus-console/nus-console.conf
  subsys/bluetooth/services/CMakeLists.txt
  subsys/bluetooth/services/nus/CMakeLists.txt
  subsys/bluetooth/services/nus/Kconfig.nus
  subsys/bluetooth/services/nus/nus.c
  subsys/bluetooth/services/nus/nus_inst.c
Labels: area: Bluetooth, area: Build System, area: UART, area: Samples, area: Logging, area: Shell, Release Notes, area: Linker Scripts, area: Bluetooth Host

#70862 tests: drivers: counter: counter_basic_api
  tests/drivers/counter/counter_basic_api/src/test_counter.c
Labels: area: Counter

#70772 nxp: imx: change CONFIG_SOC_<name> to match the value
  boards/nxp/imx8mp_evk/Kconfig.imx8mp_evk
  boards/nxp/imx8mp_evk/board.cmake
  boards/nxp/imx8qm_mek/Kconfig.imx8qm_mek
  boards/nxp/imx8qm_mek/board.cmake
  boards/nxp/imx8qxp_mek/Kconfig.imx8qxp_mek
  boards/nxp/imx8qxp_mek/board.cmake
  boards/phytec/mimx8mp_phyboard_pollux/Kconfig.mimx8mp_phyboard_pollux
  boards/toradex/verdin_imx8mp/Kconfig.verdin_imx8mp
  drivers/clock_control/clock_control_mcux_ccm.c
  soc/nxp/imx/imx8/CMakeLists.txt
  soc/nxp/imx/imx8/Kconfig
  soc/nxp/imx/imx8/Kconfig.defconfig
  soc/nxp/imx/imx8/Kconfig.soc
  soc/nxp/imx/imx8m/CMakeLists.txt
  soc/nxp/imx/imx8m/Kconfig
  soc/nxp/imx/imx8m/Kconfig.defconfig.mimx8ml8.m7
  soc/nxp/imx/imx8m/Kconfig.defconfig.mimx8ml8_adsp
  soc/nxp/imx/imx8m/Kconfig.soc
  soc/nxp/imx/imx8x/CMakeLists.txt
  soc/nxp/imx/imx8x/Kconfig
  soc/nxp/imx/imx8x/Kconfig.defconfig
  soc/nxp/imx/imx8x/Kconfig.soc
  submanifests/optional.yaml
  west.yml
Labels: area: Clock Control, manifest, manifest-hal_nxp, manifest-sof, platform: NXP Drivers, platform: NXP MPU

#62785 Documentation: Update list of available shell
  doc/develop/west/install.rst
  doc/develop/west/zephyr-cmds.rst
Labels: area: Documentation, area: West

#69267 hwmv2 boards: arm: Add support for WeAct Studio MiniSTM32H743 Core board
  boards/weact/mini_stm32h743/Kconfig.defconfig
  boards/weact/mini_stm32h743/Kconfig.mini_stm32h743
  boards/weact/mini_stm32h743/board.cmake
  boards/weact/mini_stm32h743/board.yml
  boards/weact/mini_stm32h743/doc/img/stm32h7xx.webp
  boards/weact/mini_stm32h743/doc/index.rst
  boards/weact/mini_stm32h743/mini_stm32h743.dts
  boards/weact/mini_stm32h743/mini_stm32h743.yaml
  boards/weact/mini_stm32h743/mini_stm32h743_defconfig
  samples/subsys/display/lvgl/boards/mini_stm32h743.conf
Labels: area: Samples, area: Display

#70776 ITE: drivers/i2c: Add a property selecting to drive I2C recovery mode
  drivers/i2c/i2c_ite_enhance.c
  drivers/i2c/i2c_ite_it8xxx2.c
  dts/bindings/i2c/ite,common-i2c.yaml
Labels: area: I2C, area: Devicetree Binding, platform: ITE

#70711 driver: input: gt911: Support case that no dedicated reset pin
  drivers/input/input_gt911.c
Labels: area: Input

#70985 twister: pytest: escape expected command regex
  scripts/pylib/pytest-twister-harness/src/twister_harness/helpers/shell.py
Labels: bug, Trivial, area: Twister

#70922 Bluetooth: host: tweak up the bluetooth thread names
  subsys/bluetooth/host/hci_core.c
  subsys/bluetooth/host/long_wq.c
Labels: area: Bluetooth, area: Bluetooth Host

#70917 posix: convert static inline functions to library functions
  include/zephyr/posix/arpa/inet.h
  include/zephyr/posix/netdb.h
  include/zephyr/posix/poll.h
  include/zephyr/posix/sys/select.h
  include/zephyr/posix/sys/socket.h
  lib/posix/options/net.c
Labels: area: Networking, area: POSIX

#70853 scripts: west_commands: linkserver: fix probe serial number support
  scripts/west_commands/runners/linkserver.py
Labels: bug, area: West, Trivial

#70266 lpcxpresso55s69 post-hwmv2 fixup
  tests/drivers/pwm/pwm_api/src/test_pwm.c
Labels: area: PWM, platform: NXP, HWMv2

#70868 net: dhcpv6: Add configurable DUID buffer length
  include/zephyr/net/dhcpv6.h
  subsys/net/lib/dhcpv6/Kconfig
Labels: area: Networking

#70943 Check for the existence of pthread_rwlockattr_getpshared() and pthread_rwlockattr_setpshared() seems missing.
  tests/posix/headers/src/pthread_h.c
Labels: area: POSIX

#71011 boards: nxp: vmu_rt1170: Fix USDHC by setting PWR and CD gpio's correctly
  boards/nxp/vmu_rt1170/vmu_rt1170-pinctrl.dtsi
  boards/nxp/vmu_rt1170/vmu_rt1170.dts
Labels: platform: NXP, Trivial

#70982 linker: nxp: add orphan linker section
  soc/nxp/imx/imx8m/adsp/linker.ld
Labels: Trivial, platform: NXP MPU, platform: NXP Xtensa

#70513 random: add sys_rand8_get() and sys_rand16_get()
  include/zephyr/random/random.h
Labels: area: Random

#70427 scripts: tests: twister_blackbox: Add test_ignore_platform_key
  scripts/tests/twister_blackbox/test_data/tests/platform_key/dummy/CMakeLists.txt
  scripts/tests/twister_blackbox/test_data/tests/platform_key/dummy/prj.conf
  scripts/tests/twister_blackbox/test_data/tests/platform_key/dummy/src/main.c
  scripts/tests/twister_blackbox/test_data/tests/platform_key/dummy/test_data.yaml
  scripts/tests/twister_blackbox/test_filter.py
Labels: area: Twister

#70881 doc: generate sitemap.xml
  doc/conf.py
  doc/requirements.txt
Labels: area: Documentation Infrastructure

#70958 Correct the I2C reset bit
  dts/arm/rpi_pico/rp2040.dtsi
Labels: Trivial, platform: Raspberry Pi Pico

#70883 drivers: ieee802154: fix configuring CSL IE in ACK
  modules/openthread/platform/radio.c
Labels: area: OpenThread

#71025 tests: posix: headers: fix undefined ref to zsock_socketpair
  tests/posix/headers/prj.conf
Labels: area: POSIX, Trivial

#70175 drivers: clock_control: stm32wba: Fix clock configuration in case of chain loaded applications
  drivers/clock_control/clock_stm32_ll_wba.c
Labels: platform: STM32, area: Clock Control

#70924 net: lwm2m: device object: Fix coverage compatibility
  subsys/net/lib/lwm2m/lwm2m_obj_device.c
Labels: area: LWM2M

#70942 net: shell: Add printout when hostname changes
  subsys/net/lib/shell/events.c
Labels: area: Networking

#70954 doc: Bluetooth: Mesh: Clarify AES usage in DFU metadata
  doc/connectivity/bluetooth/api/mesh/dfu.rst
Labels: area: Bluetooth, area: Bluetooth Mesh

#70992 scripts: pylib: twister: Remove unused Twister flags
  scripts/pylib/twister/twisterlib/environment.py
Labels: Trivial, area: Twister

#71008 samples: shell: shell_module: Add harness to the Bluetooth config
  samples/subsys/shell/shell_module/sample.yaml
Labels: area: Samples, area: Shell, Trivial

#70731 net: tcp: Deprecate CONFIG_NET_TCP_ACK_TIMEOUT
  doc/releases/migration-guide-3.7.rst
  subsys/net/ip/Kconfig.tcp
  subsys/net/ip/tcp.c
  tests/net/all/prj.conf
Labels: area: Networking, Release Notes

#68842 hwmv2: boards: Add bl654_dvk pa variant
  boards/lairdconnect/bl654_dvk/Kconfig.defconfig
  boards/lairdconnect/bl654_dvk/bl654_dvk_nrf52840_pa.dts
  boards/lairdconnect/bl654_dvk/bl654_dvk_nrf52840_pa.yaml
  boards/lairdconnect/bl654_dvk/bl654_dvk_nrf52840_pa_defconfig
  boards/lairdconnect/bl654_dvk/board.yml
  boards/lairdconnect/bl654_dvk/doc/bl654_dvk.rst
Labels: area: ADC, area: Samples, platform: Laird Connectivity

#70373 Bluetooth: Audio: Broadcast Assistant: Check add_source duplication
  subsys/bluetooth/audio/bap_broadcast_assistant.c
Labels: area: Bluetooth, area: Bluetooth Audio

#70925 driver: watchdog: prevent floating point usage
  drivers/watchdog/wdt_ene_kb1200.c
  soc/ene/kb1200/reg/wdt.h
Labels: area: Watchdog

#71049 drivers: can: transceiver: gpio: automatically select GPIO
  boards/nxp/mr_canhubk3/Kconfig.defconfig
  boards/nxp/ucans32k1sic/Kconfig.defconfig
  drivers/can/transceiver/Kconfig
Labels: area: CAN, Trivial, platform: NXP S32

#70993 MAINTAINERS: STM32 Platforms: Reflect recent changes
  MAINTAINERS.yml
Labels: area: Process

#70618 drivers: serial: rpi_pico: Enable uart FIFO
  drivers/serial/uart_rpi_pico.c
Labels: area: UART, platform: Raspberry Pi Pico

#70692 Samples: Bluetooth: Add encrypted broadcast audio source
  samples/bluetooth/broadcast_audio_source/Kconfig
  samples/bluetooth/broadcast_audio_source/src/main.c
Labels: area: Bluetooth, area: Samples

#70709 docs: pm: Improve device power management overview
  doc/services/pm/api/index.rst
  doc/services/pm/device.rst
Labels: area: Power Management

#71067 xtensa: dc233c: Fix build warning in DTS on leading zeros
  dts/xtensa/dc233c.dtsi
Labels: area: Xtensa, Trivial

#70669 drivers: serial: bt: Make TX flush non-deferrable
  drivers/serial/uart_bt.c
Labels: area: UART, Trivial

#70687 samples: logging: logger: Add harness to the BT configuration
  samples/subsys/logging/logger/sample.yaml
Labels: area: Samples, area: Logging, Trivial

#71070 drivers: eth_nxp_enet_qos: Fixed unused variable warning with CONFIG_NET_STATISTICS_ETHERNET disabled
  drivers/ethernet/eth_nxp_enet_qos/eth_nxp_enet_qos_mac.c
Labels: area: Ethernet, Hotfix, Trivial

#65259 drivers: sensors: add ST lis2dux12 accelerometer support
  drivers/sensor/CMakeLists.txt
  drivers/sensor/Kconfig
  drivers/sensor/lis2dux12/CMakeLists.txt
  drivers/sensor/lis2dux12/Kconfig
  drivers/sensor/lis2dux12/lis2dux12.c
  drivers/sensor/lis2dux12/lis2dux12.h
  drivers/sensor/lis2dux12/lis2dux12_trigger.c
  dts/bindings/sensor/st,lis2dux12-common.yaml
  dts/bindings/sensor/st,lis2dux12-i2c.yaml
  dts/bindings/sensor/st,lis2dux12-spi.yaml
  include/zephyr/dt-bindings/sensor/lis2dux12.h
  modules/hal_st/Kconfig
  tests/drivers/build_all/sensor/app.overlay
  tests/drivers/build_all/sensor/i2c.dtsi
  tests/drivers/build_all/sensor/sensors_die_temp.conf
  tests/drivers/build_all/sensor/sensors_trigger_global.conf
  tests/drivers/build_all/sensor/sensors_trigger_none.conf
  tests/drivers/build_all/sensor/sensors_trigger_own.conf
  tests/drivers/build_all/sensor/spi.dtsi
Labels: area: Drivers, area: Sensors, area: Devicetree Binding

#69438 drivers: input: pinnacle: add driver for Cirque Pinnacle 1CA027 based trackpads
  drivers/input/CMakeLists.txt
  drivers/input/Kconfig
  drivers/input/Kconfig.pinnacle
  drivers/input/input_pinnacle.c
  dts/bindings/input/cirque,pinnacle-common.yaml
  dts/bindings/input/cirque,pinnacle-i2c.yaml
  dts/bindings/input/cirque,pinnacle-spi.yaml
  dts/bindings/vendor-prefixes.txt
  tests/drivers/build_all/input/app.overlay
Labels: area: Samples, area: Devicetree Binding, area: Input

#70976 scripts: set_maintainer: add log messages for skipped collabs
  scripts/set_assignees.py
Labels: area: Continuous Integration

#71045 drivers: net: nsos: fix compatibility with CONFIG_POSIX_API=n
  drivers/net/nsos_sockets.c
Labels: area: Networking, Trivial

#71085 samples: board: esp32: rename board config to meet proper cpu cluster
  samples/subsys/fs/fs_sample/boards/esp_wrover_kit_esp32_procpu.conf
  samples/subsys/fs/fs_sample/boards/esp_wrover_kit_esp32_procpu.overlay
Labels: area: File System, area: Samples, Trivial

#70763 drivers: sensor: dht: Add lock IRQ option
  drivers/sensor/dht/Kconfig
  drivers/sensor/dht/dht.c
Labels: area: Sensors

#69968 soc: nordic: Refactor soc_secure.h
  drivers/hwinfo/hwinfo_nrf.c
  drivers/ieee802154/ieee802154_nrf5.c
  soc/nordic/common/soc_secure.h
Labels: platform: nRF, area: HWINFO, area: IEEE 802.15.4

#65943 shell: Add synchronization for prompt-string access in shell
  include/zephyr/shell/shell.h
  subsys/shell/Kconfig
  subsys/shell/shell.c
Labels: bug, area: Shell

#71099 mgmt: hawkbit: little cleanup
  subsys/mgmt/hawkbit/hawkbit.c
Labels: Trivial, area: hawkBit

#71056 llext: invalidate instruction cache after loading extension
  subsys/llext/llext.c
Labels: Trivial, area: Linkable Loadable Extensions

#71028 doc: guidelines: add a note about ascii and emojis
  doc/contribute/guidelines.rst
Labels: area: Documentation, area: Coding Guidelines

#71026 mgmt: hawkbit: optimize poll_sleep
  subsys/mgmt/hawkbit/hawkbit.c
Labels: area: hawkBit

#71016 modules: hal_infineon: wifi_host_driver: Fix blob case
  modules/hal_infineon/wifi-host-driver/CMakeLists.txt
Labels: platform: Infineon

#71021 net: if: No error if mcast group join fails because iface down
  subsys/net/ip/net_if.c
Labels: area: Networking

#70812 doc: pm: Clarify a device pm note
  doc/services/pm/device.rst
Labels: area: Power Management

#70241 mgmt: hawkbit: Add support for reboot after update
  include/zephyr/mgmt/hawkbit.h
  subsys/mgmt/hawkbit/hawkbit.c
  subsys/mgmt/hawkbit/shell.c
Labels: area: hawkBit

#69632 drivers: bluetooth: hci: Support reading long events in ST SPI v1
  drivers/bluetooth/hci/hci_spi_st.c
Labels: area: Bluetooth, area: Bluetooth Host

#69228 tests: lib: gui: lvgl: add LittleFS block device support
  tests/lib/gui/lvgl/boards/stm32h747i_disco_stm32h747xx_m7.conf
  tests/lib/gui/lvgl/boards/stm32h747i_disco_stm32h747xx_m7.overlay
  tests/lib/gui/lvgl/prj_blk.conf
  tests/lib/gui/lvgl/src/main.c
  tests/lib/gui/lvgl/testcase.yaml
Labels: area: Tests, area: LVGL

#71046 net: tcp: Give a warning to user if packet cloning fails
  subsys/net/ip/tcp.c
Labels: area: Networking

#71029 arch/riscv: remove the `Kconfig.core` file
  arch/riscv/Kconfig
  arch/riscv/Kconfig.core
  boards/qemu/riscv32_xip/qemu_riscv32_xip_defconfig
  boards/sifive/hifive1/Kconfig
  soc/sifive/sifive_freedom/fe300/Kconfig
Labels: area: RISCV

#70884 docs: Bluetooth: Add sections on GTBS and GMCS
  doc/connectivity/bluetooth/bluetooth-le-audio-arch.rst
Labels: area: Bluetooth, area: Bluetooth Audio

#70769 doc: pm: Update system pm diagram
  doc/services/pm/images/system-pm.svg
  doc/services/pm/system.rst
Labels: area: Power Management

#71060 net: zperf_shell: Fix IPv6 invalid warning
  subsys/net/lib/zperf/zperf_shell.c
Labels: area: Networking

#68951 drivers: flash: flash_rpi_pico: Added buffered flash write for addresses in flash
  drivers/flash/flash_rpi_pico.c
Labels: area: Flash, platform: Raspberry Pi Pico

#70911 net: lib: http: Correct http_client edge-case behavior
  subsys/net/lib/http/http_client.c
Labels: area: Networking

#71014 Fix missing includes for seeed_xiao_expansion_board
  boards/shields/seeed_xiao_expansion_board/seeed_xiao_expansion_board.overlay
Labels: area: Shields, Trivial

#71159 cmake: remove stray overlay file from target sources
  samples/modules/tflite-micro/magic_wand/CMakeLists.txt
Labels: area: Samples, Trivial, area: Neural Networks

#70793 llext: add support for relocatable objects on Xtensa
  arch/xtensa/core/elf.c
  include/zephyr/llext/llext.h
  include/zephyr/llext/loader.h
  subsys/llext/llext.c
Labels: area: Xtensa, area: Linkable Loadable Extensions

#71006 kernel: move nothread support to own file
  kernel/CMakeLists.txt
  kernel/include/kthread.h
  kernel/nothread.c
  kernel/sched.c
  kernel/thread.c
Labels: area: Kernel

#70389 drivers: can: mcp251xfd: Add can statistics support
  drivers/can/can_mcp251xfd.c
Labels: area: CAN

#71161 boards: nxp: vmu_rt1170: dts use gpio-keys
  boards/nxp/vmu_rt1170/vmu_rt1170.dts
Labels: platform: NXP, Trivial

#69994 boards: sparkfun: Fix sparkfun_pro_micro_rp2040 gpiomap
  boards/adafruit/kb2040/sparkfun_pro_micro_connector.dtsi
  boards/sparkfun/pro_micro_rp2040/sparkfun_pro_micro_connector.dtsi
  doc/releases/migration-guide-3.7.rst
  dts/bindings/gpio/sparkfun-pro-micro-header.yaml
Labels: Release Notes, area: Devicetree Binding, platform: Raspberry Pi Pico

#71075 MAINTAINERS: hawkbit: add myself as maintainer
  MAINTAINERS.yml
Labels: area: Process

#66463 boards: esp32s3_devkitc: initial board support
  boards/espressif/esp32s3_devkitc/Kconfig.defconfig
  boards/espressif/esp32s3_devkitc/Kconfig.esp32s3_devkitc
  boards/espressif/esp32s3_devkitc/Kconfig.sysbuild
  boards/espressif/esp32s3_devkitc/board.cmake
  boards/espressif/esp32s3_devkitc/board.yml
  boards/espressif/esp32s3_devkitc/doc/index.rst
  boards/espressif/esp32s3_devkitc/esp32s3_devkitc-pinctrl.dtsi
  boards/espressif/esp32s3_devkitc/esp32s3_devkitc_esp32s3_appcpu.dts
  boards/espressif/esp32s3_devkitc/esp32s3_devkitc_esp32s3_appcpu.yaml
  boards/espressif/esp32s3_devkitc/esp32s3_devkitc_esp32s3_appcpu_defconfig
  boards/espressif/esp32s3_devkitc/esp32s3_devkitc_esp32s3_procpu.dts
  boards/espressif/esp32s3_devkitc/esp32s3_devkitc_esp32s3_procpu.yaml
  boards/espressif/esp32s3_devkitc/esp32s3_devkitc_esp32s3_procpu_defconfig
  boards/espressif/esp32s3_devkitc/support/openocd.cfg
Labels: area: ADC, platform: ESP32

#71139 tests: drivers: uart: uart_mix_fifo_poll: Add nRF54L15 to platform allow
  tests/drivers/uart/uart_mix_fifo_poll/testcase.yaml
Labels: area: UART, Trivial

#70616 modules: hal_nordic: Add missing nrfx_config entries for nRF54L15
  modules/hal_nordic/nrfx/nrfx_config_nrf54l15_enga_application.h
Labels: bug, platform: nRF

#70893 boards: st: nucleo_wb55rg: add mcuboot-{led0,button0} aliases
  boards/st/nucleo_wb55rg/nucleo_wb55rg.dts
Labels: platform: STM32

#70928 boards: st: stm32l1_disco: enable eeprom and watchdog
  boards/st/stm32l1_disco/doc/index.rst
  boards/st/stm32l1_disco/stm32l1_disco.dts
  boards/st/stm32l1_disco/stm32l1_disco.yaml
Labels: platform: STM32

#70901 boards: st: nucleo_wb55rg: leds aliases
  boards/st/nucleo_wb55rg/nucleo_wb55rg.dts
Labels: platform: STM32

#70749 Bluetooth: BAP: Shell: Fix bad err check for PAST sync
  subsys/bluetooth/audio/shell/bap_scan_delegator.c
Labels: area: Bluetooth, Trivial, area: Bluetooth Audio

#70746 Bluetooth: Audio: Shell: Fix snk_chan_cnt for AC_5
  subsys/bluetooth/audio/shell/cap_initiator.c
  subsys/bluetooth/audio/shell/gmap.c
Labels: area: Bluetooth, area: Bluetooth Audio

#70744 Bluetooth: BAP: Shell: Fix state lookup with PAST
  subsys/bluetooth/audio/shell/bap_scan_delegator.c
Labels: area: Bluetooth, area: Bluetooth Audio

#70743 Bluetooth: BAP: Shell: Fix documentation for broadcast_code
  doc/connectivity/bluetooth/api/shell/bap_broadcast_assistant.rst
  subsys/bluetooth/audio/shell/bap_broadcast_assistant.c
Labels: area: Bluetooth, area: Bluetooth Audio

#70742 Bluetooth: BAP: Shell: Add support for "unknown" PA interval in mod_src
  doc/connectivity/bluetooth/api/shell/bap_broadcast_assistant.rst
  subsys/bluetooth/audio/shell/bap_broadcast_assistant.c
Labels: area: Bluetooth, area: Bluetooth Audio

#70727 Bluetooth: Audio: Remove !found dbg log in codec.c
  subsys/bluetooth/audio/codec.c
Labels: area: Bluetooth, Trivial, area: Bluetooth Audio

#70894 docs: Bluetooth: Add additional notes to BAP related services
  doc/connectivity/bluetooth/bluetooth-le-audio-arch.rst
Labels: area: Bluetooth, area: Bluetooth Audio

#71082 doc: Bluetooth: setup redirects
  doc/_scripts/redirects.py
Labels: area: Documentation Infrastructure

#66462 boards: esp32s2_devkitc: initial board support
  boards/espressif/esp32s2_devkitc/Kconfig.defconfig
  boards/espressif/esp32s2_devkitc/Kconfig.esp32s2_devkitc
  boards/espressif/esp32s2_devkitc/Kconfig.sysbuild
  boards/espressif/esp32s2_devkitc/board.cmake
  boards/espressif/esp32s2_devkitc/board.yml
  boards/espressif/esp32s2_devkitc/doc/index.rst
  boards/espressif/esp32s2_devkitc/esp32s2_devkitc-pinctrl.dtsi
  boards/espressif/esp32s2_devkitc/esp32s2_devkitc.dts
  boards/espressif/esp32s2_devkitc/esp32s2_devkitc.yaml
  boards/espressif/esp32s2_devkitc/esp32s2_devkitc_defconfig
  boards/espressif/esp32s2_devkitc/support/openocd.cfg
Labels: area: ADC, platform: ESP32, area: DAC

#69321 Bluetooth: Audio: broadcast assistant sync to PA
  samples/bluetooth/broadcast_audio_assistant/prj.conf
  samples/bluetooth/broadcast_audio_assistant/src/main.c
Labels: area: Bluetooth, area: Samples, area: Bluetooth Audio

#70745 Bluetooth: CAP: Shell: Stop all streams by default
  doc/connectivity/bluetooth/api/shell/cap.rst
  subsys/bluetooth/audio/shell/cap_initiator.c
Labels: area: Bluetooth, area: Bluetooth Audio

#69716 boards: sheilds: Add RaspberryPi Pico to UNO FlexyPin Adapter
  boards/shields/rpi_pico_uno_flexypin/Kconfig.shield
  boards/shields/rpi_pico_uno_flexypin/doc/img/rpi_pico_uno_flexypin.png
  boards/shields/rpi_pico_uno_flexypin/doc/index.rst
  boards/shields/rpi_pico_uno_flexypin/rpi_pico_uno_flexypin.overlay
Labels: area: Shields

#71224 drivers: sensor: ite_cvmp_it8xxx2: Move init priority into if check
  drivers/sensor/ite/ite_vcmp_it8xxx2/Kconfig
Labels: area: Sensors, Trivial, platform: ITE

#71214 doc: driver: input: espressif touch_sensor Typo
  dts/bindings/input/espressif,esp32-touch-sensor.yaml
Labels: platform: ESP32, Trivial, area: Devicetree Binding, area: Input

#71110 MAINTAINERS: Add decsny as DT collaborator
  MAINTAINERS.yml
Labels: area: Process

#71210 net: connection: Log an error when running out of contexts
  subsys/net/ip/connection.c
Labels: area: Networking, Trivial

#71123 boards: nucleo_h563zi: Fix APB3 bus clock
  boards/st/nucleo_h563zi/nucleo_h563zi-common.dtsi
Labels: platform: STM32

#71117 GNSS: Increase size of hdop
  drivers/gnss/gnss_nmea0183.c
  include/zephyr/drivers/gnss.h
Labels: area: GNSS

#71000 kernel: Clean up mailbox async msg configuration
  kernel/mailbox.c
Labels: area: Kernel, Trivial

#71132 cmake: extensions: introduce zephyr_syscall_include_directories
  CMakeLists.txt
  cmake/modules/extensions.cmake
Labels: area: Build System

#69388 drivers: ieee802154: gracefully handle invalid Ack timestamp
  drivers/ieee802154/ieee802154_nrf5.c
Labels: area: IEEE 802.15.4

#70694 Bluetooth: BAP: Only dump active receive states
  subsys/bluetooth/audio/bap_scan_delegator.c
Labels: area: Bluetooth, area: Bluetooth Audio

#70748 Bluetooth: Audio: Shell: Disable EATT support
  tests/bluetooth/shell/audio.conf
Labels: area: Bluetooth, Trivial, area: Bluetooth Audio

#71135 net: wifi: Remove constraints for dwell time
  include/zephyr/net/wifi_mgmt.h
  subsys/net/l2/wifi/wifi_shell.c
Labels: area: Networking, area: Wi-Fi

#71144 ci: twister: Remove Blackbox artifacts
  .github/workflows/twister_tests_blackbox.yml
Labels: area: Continuous Integration

#71039 doc: releases: release-notes: 3.7: add informations on random helpers
  doc/releases/release-notes-3.7.rst
Labels: Trivial, Release Notes

#70975 wifi: airoc: remove dependency on CYHAL
  drivers/wifi/infineon/airoc_whd_hal.c
  drivers/wifi/infineon/airoc_wifi.h
  modules/hal_infineon/CMakeLists.txt
  modules/hal_infineon/Kconfig
Labels: area: Wi-Fi, platform: Infineon

#70752 kernel: timeout: Optimize setting next alarm
  kernel/timeout.c
Labels: area: Kernel, area: Timer

#71155 net: Restore the default networking behavior on qemu platforms
  subsys/net/ip/Kconfig
Labels: area: Networking

#71266 net: lib: coap: set MAX_RETRANSMIT maximum to 100
  subsys/net/lib/coap/Kconfig
Labels: area: Networking, Trivial

#71091 gitlint: do not allow treewide as an area in commit messages
  .gitlint
  scripts/ci/twister_ignore.txt
  scripts/gitlint/zephyr_commit_rules.py
Labels: Trivial, area: Coding Guidelines, area: Continuous Integration

#71103 doc: add openocd as a dependency for mac
  doc/develop/getting_started/index.rst
Labels: area: Documentation, Trivial

#70756 tests: intel_adsp: Add vecbase lock test
  tests/boards/intel_adsp/smoke/src/main.c
Labels: platform: Intel ADSP

#71184 net: mdns_responder: Avoid joining IPv4 mcast group if iface is down
  subsys/net/lib/dns/mdns_responder.c
Labels: area: Networking

#71162 Updated west.yml to Fix FlexPWM for LPC55XXX
  west.yml
Labels: manifest, manifest-hal_nxp

#71120 samples: subsys: settings: Add configuration for nRF54L15
  samples/subsys/settings/boards/nrf54l15pdk_nrf54l15_cpuapp.conf
  samples/subsys/settings/sample.yaml
Labels: area: Samples, Trivial, area: Settings

#68858 modbus: Respect CONFIG_UART_USE_RUNTIME_CONFIGURE flag
  subsys/modbus/Kconfig
  subsys/modbus/modbus_serial.c
Labels: area: modbus

#71301 tests: Fix missed renames
  samples/subsys/tracing/boards/mps2_an521_cpu0.overlay
  tests/drivers/coredump/coredump_api/boards/qemu_riscv32_qemu_virt_riscv32_smp.overlay
  tests/lib/shared_multi_heap/boards/mps2_an521_cpu0.overlay
Labels: area: Samples, Regression, Hotfix, area: Tracing, area: Coredump

#71292 boards: m5stack: m5stack_atom_lite file ending typo fixed
  boards/m5stack/m5stack_atom_lite/board.yml
Labels: Trivial

#71207 samples: sensor: qdec: Allow coverage calculation
  samples/sensor/qdec/src/main.c
Labels: area: Sensors, area: Samples

#71206 net: dhcpv4_server: Fix positive error codes returned
  subsys/net/lib/dhcpv4/dhcpv4_server.c
Labels: area: Networking

#71202 net: dns-sd: Do not use sockaddr struct directly
  subsys/net/lib/dns/dns_sd.c
Labels: area: Networking

#71078 tests/bsim/common sh: Improve getting test name/relative path
  tests/bsim/sh_common.source
Labels: platform: nRF BSIM

#71219 MAINTAINERS: update SiLabs maintainers
  MAINTAINERS.yml
Labels: area: Process

#71116 MAINTAINERS: update for x86 arch and platform
  MAINTAINERS.yml
Labels: area: Process, Trivial

#71303 drivers: eth: stellaris: Fix build error
  drivers/ethernet/eth_stellaris.c
Labels: area: Ethernet, Trivial

#71223 drivers/sensor: use sensor APIs to convert to units
  drivers/sensor/st/iis2iclx/iis2iclx.c
  drivers/sensor/st/iis2iclx/iis2iclx.h
  drivers/sensor/st/ism330dhcx/ism330dhcx.c
  drivers/sensor/st/ism330dhcx/ism330dhcx.h
  drivers/sensor/st/lsm6dso/lsm6dso.c
  drivers/sensor/st/lsm6dso/lsm6dso.h
  drivers/sensor/st/lsm6dso16is/lsm6dso16is.c
  drivers/sensor/st/lsm6dso16is/lsm6dso16is.h
  drivers/sensor/st/lsm6dsv16x/lsm6dsv16x.c
  drivers/sensor/st/lsm6dsv16x/lsm6dsv16x.h
Labels: Enhancement, area: Drivers, area: Sensors

#71201 samples: sensor: isl29035: Align sample definition
  samples/sensor/isl29035/sample.yaml
Labels: area: Sensors, area: Samples, Trivial

#71087 samples: sensor: qdec: Add nRF54L15 to platform allow
  samples/sensor/qdec/sample.yaml
Labels: area: Sensors, area: Samples, Trivial

#70875 drivers: memc: fix FlexRAM bank cfg issue
  drivers/memc/memc_nxp_flexram.h
Labels: area: MEMC, platform: NXP Drivers

#71322 doc: device_mgmt: Fix typo in link text
  doc/services/device_mgmt/mcumgr.rst
Labels: area: mcumgr, Trivial

#71313 modules: lvgl: Kconfig: Add missing stubs for DMA2D kconfig symbols
  modules/lvgl/Kconfig
Labels: bug, Trivial, area: LVGL

#71234 boards: espressif: Update documentation
  boards/espressif/esp32s2_devkitc/doc/index.rst
  boards/espressif/esp32s3_devkitc/doc/index.rst
Labels: platform: ESP32

#71232 drivers: net: nsos: update unwatched file descriptor with poll()
  drivers/net/nsos.h
  drivers/net/nsos_adapt.c
  drivers/net/nsos_sockets.c
Labels: area: Networking

#71320 sysbuild: add SoC-specific sysbuild configuration
  cmake/modules/hwm_v2.cmake
  share/sysbuild/Kconfig
  share/sysbuild/images/CMakeLists.txt
  share/sysbuild/images/soc/CMakeLists.txt
Labels: area: Build System, Trivial, area: Sysbuild

#70983 boards: xenvm: return userspace testcases for XenVM board
  boards/xen/xenvm/xenvm.yaml
  boards/xen/xenvm/xenvm_xenvm_gicv3.yaml
Labels: area: Xen Platform

#71237 drivers: wifi: esp_at: do not connect socket on bind(INADDR_ANY)
  drivers/wifi/esp_at/esp_offload.c
Labels: area: Wi-Fi

#71173 drivers: lpc55s36: Remove deprecated CSS driver
  boards/nxp/lpcxpresso55s36/doc/index.rst
  boards/nxp/lpcxpresso55s36/lpcxpresso55s36.yaml
  drivers/entropy/CMakeLists.txt
  drivers/entropy/Kconfig.mcux
  drivers/entropy/entropy_mcux_css.c
  dts/arm/nxp/nxp_lpc55S3x_common.dtsi
  dts/bindings/rng/nxp,css-v2.yaml
  west.yml
Labels: platform: NXP, area: Crypto / RNG, area: Devicetree Binding, manifest, manifest-hal_nxp, platform: NXP Drivers

#71359 intel_adsp: ipc: Fix policy state lock usage
  soc/intel/intel_adsp/common/ipc.c
Labels: bug, priority: high, Hotfix, platform: Intel ADSP

#71340 boards: nxp: imx8qm_mek: add `adsp` suffix to board defconfig
  boards/nxp/imx8qm_mek/imx8qm_mek_mimx8qm6_adsp_defconfig
Labels: Trivial, platform: NXP MPU

#71204 fs: ext2: Fix calculating fs_memory in ext2_format
  subsys/fs/ext2/ext2_format.c
  tests/subsys/fs/ext2/src/utils.c
Labels: area: File System

#70999 toolchain: gcc: Simplify `GEN_ABSOLUTE_SYM` and `GEN_ABSOLUTE_SYM_KCONFIG`
  include/zephyr/toolchain/gcc.h
Labels: area: Toolchains

#70897 samples: subsys: nvs fix hard fault when running on stm32 targets
  samples/subsys/nvs/boards/b_u585i_iot02a.overlay
  samples/subsys/nvs/boards/nucleo_f091rc.conf
  samples/subsys/nvs/boards/nucleo_g071rb.conf
Labels: area: Samples, platform: STM32

#70120 drivers: adc: adc_ads1119: Fix configuration register access.
  drivers/adc/adc_ads1119.c
Labels: bug, area: ADC
