Repository zephyrproject-rtos/zephyr, pull requests merged in 2024-01, with the labels that each got.

#67071 posix: mqueue: pop mode as int with va_arg()
  lib/posix/mqueue.c
  tests/posix/common/testcase.yaml
Labels: area: POSIX

#65207 doc: Static Analysis requirement
  doc/contribute/guidelines.rst
  doc/project/project_roles.rst
  doc/project/release_process.rst
Labels: area: Documentation, area: Security, area: Coding Guidelines

#66106 LOG: DICT: Forward the User Context Void pointer to back end
  subsys/logging/log_output_dict.c
Labels: area: Logging

#66229 drivers: flash: stm32 ospi flash driver erase large size
  drivers/flash/flash_stm32_ospi.c
Labels: area: Flash, platform: STM32

#66280 boards: Add support for stm32h750b_dk
  boards/arm/stm32h750b_dk/Kconfig.board
  boards/arm/stm32h750b_dk/Kconfig.defconfig
  boards/arm/stm32h750b_dk/arduino_r3_connector.dtsi
  boards/arm/stm32h750b_dk/board.cmake
  boards/arm/stm32h750b_dk/doc/img/stm32h750b_dk.png
  boards/arm/stm32h750b_dk/doc/index.rst
  boards/arm/stm32h750b_dk/stm32h750b_dk.dts
  boards/arm/stm32h750b_dk/stm32h750b_dk.yaml
  boards/arm/stm32h750b_dk/stm32h750b_dk_defconfig
  boards/arm/stm32h750b_dk/support/openocd.cfg
Labels: area: DMA, platform: STM32

#66886 logging: make CONFIG_LOG_ALWAYS_RUNTIME build check less ambiguous
  subsys/logging/log_core.c
Labels: area: Logging, Trivial

#67062 modem: cmux: fix frame data length encoding
  subsys/modem/modem_cmux.c
Labels: Trivial, area: Modem

#67072 boards/posix: Handle SDL2 compile vars with multiple values
  boards/posix/common/sdl/CMakeLists.txt
Labels: area: native port, Trivial

#66520 sysbuild: kconfig: Unset shield config value variable
  share/sysbuild/cmake/modules/sysbuild_kconfig.cmake
Labels: area: Build System, Trivial, area: Sysbuild, backport v3.4-branch, backport v3.5-branch

#66992 drivers: retained_mem: Add generic retained register driver
  drivers/retained_mem/CMakeLists.txt
  drivers/retained_mem/Kconfig.zephyr
  drivers/retained_mem/retained_mem_zephyr_reg.c
  dts/bindings/retained_mem/zephyr,retained-reg.yaml
Labels: area: Devicetree Binding, area: Retained Memory

#66614 Reorganize nrf_802154 Kconfig
  modules/hal_nordic/Kconfig
  modules/hal_nordic/nrf_802154/CMakeLists.txt
Labels: platform: nRF

#66681 boards: deprecated: Remove boards deprecated pre-Zephyr 2.7
  boards/deprecated.cmake
Labels: area: Boards

#66885 net: lib: sockets: Initialize iovec to 0 at start of func
  subsys/net/lib/sockets/sockets.c
Labels: area: Networking, area: Sockets, Trivial

#66906 lib: crc: address absence of crc4, crc4_ti in crc_types array
  lib/crc/crc_shell.c
Labels: area: Utilities

#66995 kernel: work: Fix race in work queue thread
  include/zephyr/kernel.h
  kernel/work.c
Labels: area: Kernel

#67003 drivers: wifi: esp_at: fix last rx data loss in Passive Receive mode
  drivers/wifi/esp_at/esp_socket.c
Labels: area: Wi-Fi

#67103 drivers: gpio: pca953x: check return values from I2C API functions
  drivers/gpio/gpio_pca953x.c
Labels: bug, area: GPIO

#67116 Doc: Clearify bt_conn_set_security documentation
  include/zephyr/bluetooth/conn.h
Labels: area: Bluetooth, Trivial

#66872 net: context: Fix the v4 mapped address handling in sendto
  subsys/net/ip/net_context.c
Labels: area: Networking

#66756 drivers: pwm: stm32: Catch overflows in 2-channel capture
  drivers/pwm/pwm_stm32.c
Labels: area: PWM, platform: STM32

#66908 pm: device_runtime: Add missing include to header
  include/zephyr/pm/device_runtime.h
Labels: area: Power Management, Trivial

#66991 Modem patch null dereference in chat module
  subsys/modem/modem_chat.c
Labels: area: Modem

#66239 modem: cmux: Patch resync mechanism
  subsys/modem/modem_cmux.c
Labels: area: Modem

#65878 drivers: regulator: fixed: Removed pin state setting from init
  drivers/regulator/regulator_fixed.c
Labels: bug, area: Regulators

#66504 manifest: zscilib: update revision for double promotion fix
  submanifests/optional.yaml
Labels: manifest, manifest-zscilib

#66617 adsp: hda: accept 16 byte alignment for HDA buffer size
  soc/xtensa/intel_adsp/common/include/intel_adsp_hda.h
Labels: platform: Intel ADSP

#67148 cmake: update description of board_runner_args() function
  cmake/modules/extensions.cmake
Labels: area: Build System, Trivial

#67150 net: openthread: increase TCAT stack size
  modules/openthread/Kconfig.thread
Labels: Trivial, area: OpenThread

#66610 tests: crypto: rand32: Check return code of sys_csrand_get
  tests/crypto/rand32/src/main.c
Labels: area: Crypto / RNG

#66746 drivers: mbox: Add nxp mbox multi-channel support
  drivers/mbox/mbox_nxp_imx_mu.c
Labels: platform: NXP, area: mbox

#66755 kernel: avoid useless context switch
  kernel/sched.c
Labels: area: Kernel, Trivial

#67022 dts: nxp: kw41z : fix ram size issue
  dts/arm/nxp/nxp_kw41z.dtsi
Labels: bug, area: C Library, platform: NXP, Trivial

#67102 drivers: bluetooth: hci: Fix uninitialized array index, issue #66806
  drivers/bluetooth/hci/spi.c
Labels: area: Bluetooth, area: Bluetooth Host

#67061 soc: arm: ambiq: Remove the redundant configurations
  soc/arm/ambiq/apollo4x/Kconfig.defconfig.apollo4p
  soc/arm/ambiq/apollo4x/Kconfig.defconfig.apollo4p_blue
Labels: platform: Ambiq

#67111 drivers: regulator: max20335: fix unused-const-variable warnings
  drivers/regulator/regulator_max20335.c
Labels: area: Regulators

#67160 Bluetooth: Audio: fix doxygen warnings
  include/zephyr/bluetooth/audio/gmap_lc3_preset.h
Labels: area: Bluetooth, Trivial, area: Bluetooth Audio

#67032 drivers: flash : stm32: STM32L4P5xx fix page calculation from offset
  drivers/flash/flash_stm32l4x.c
Labels: area: Flash, platform: STM32, Trivial

#66179 dts: arm: renesas: ra: fix incorrect node name for sci devices
  dts/arm/renesas/ra/ra-cm4-common.dtsi
Labels: platform: Renesas, platform: Renesas RA

#61195 charger: add a driver for bq25180
  drivers/charger/CMakeLists.txt
  drivers/charger/Kconfig
  drivers/charger/Kconfig.bq25180
  drivers/charger/charger_bq25180.c
  dts/bindings/charger/ti,bq25180.yaml
  tests/drivers/build_all/charger/i2c.dtsi
Labels: area: Devicetree Binding, area: Regulators, platform: TI SimpleLink, area: Charger

#62243 drivers: spi: align dspi and lpspi spi_mcux_transfer_next_packet
  drivers/spi/spi_mcux_dspi.c
  drivers/spi/spi_mcux_lpspi.c
Labels: area: SPI, platform: NXP

#66172 boards: mimxrt1040_evk: add LinkServer and Pyocd
  boards/arm/mimxrt1040_evk/board.cmake
Labels: platform: NXP

#66194 MIMXRT595_EVK clock choices for FRO
  soc/arm/nxp_imx/rt5xx/Kconfig.soc
  soc/arm/nxp_imx/rt5xx/soc.c
Labels: area: Boards, platform: NXP

#66569 boards: lpcxpresso55s: Set CONFIG_MCUBOOT_BOOTLOADER_MODE_OVERWRITE_ONLY
  boards/arm/lpcxpresso55s06/Kconfig.defconfig
  boards/arm/lpcxpresso55s16/Kconfig.defconfig
  boards/arm/lpcxpresso55s28/Kconfig.defconfig
  boards/arm/lpcxpresso55s36/Kconfig.defconfig
  boards/arm/lpcxpresso55s69/Kconfig.defconfig
Labels: platform: NXP

#66692 boards: arm: enable CONFIG_USB_DC_HAS_HS_SUPPORT
  boards/arm/nucleo_h723zg/Kconfig.defconfig
  boards/arm/nucleo_h7a3zi_q/Kconfig.defconfig
Labels: platform: STM32

#67136 drivers: ieee802154: set 'ieee802154_radio_api' as 'static const'
  drivers/ieee802154/ieee802154_b91.c
  drivers/ieee802154/ieee802154_cc1200.c
  drivers/ieee802154/ieee802154_cc13xx_cc26xx.c
  drivers/ieee802154/ieee802154_cc13xx_cc26xx_subg.c
  drivers/ieee802154/ieee802154_cc2520.c
  drivers/ieee802154/ieee802154_dw1000.c
  drivers/ieee802154/ieee802154_kw41z.c
  drivers/ieee802154/ieee802154_mcr20a.c
  drivers/ieee802154/ieee802154_nrf5.c
  drivers/ieee802154/ieee802154_rf2xx.c
  drivers/ieee802154/ieee802154_uart_pipe.c
Labels: area: IEEE 802.15.4, platform: TI SimpleLink

#67121 drivers: spi: set 'spi_driver_api' as 'static const'
  drivers/spi/mspi_ambiq.c
  drivers/spi/spi_ambiq.c
  drivers/spi/spi_andes_atcspi200.c
  drivers/spi/spi_b91.c
  drivers/spi/spi_bitbang.c
  drivers/spi/spi_emul.c
  drivers/spi/spi_gd32.c
  drivers/spi/spi_gecko.c
  drivers/spi/spi_litespi.c
  drivers/spi/spi_numaker.c
  drivers/spi/spi_oc_simple.c
  drivers/spi/spi_opentitan.c
  drivers/spi/spi_pl022.c
  drivers/spi/spi_rpi_pico_pio.c
  drivers/spi/spi_sifive.c
Labels: area: SPI, platform: SiLabs, platform: Raspberry Pi Pico, platform: GD32, platform: Ambiq, platform: Nuvoton Numicro Numaker

#67141 Bluetooth: controller: fix procedure collision handling
  subsys/bluetooth/controller/ll_sw/ull_llcp_remote.c
  tests/bluetooth/controller/ctrl_conn_update/src/main.c
Labels: bug, area: Bluetooth, area: Bluetooth Controller

#67143 CI bsim workflow: Update changed-files action version
  .github/workflows/bsim-tests.yaml
Labels: area: Continuous Integration

#67159 include: util: Add mem_xor functions
  include/zephyr/sys/util.h
  subsys/bluetooth/audio/csip_crypto.c
  subsys/bluetooth/controller/ll_sw/nordic/lll/lll_adv_iso.c
  subsys/bluetooth/controller/ll_sw/nordic/lll/lll_sync_iso.c
  subsys/bluetooth/controller/ll_sw/ull_conn_iso.c
  subsys/bluetooth/controller/util/mem.c
  subsys/bluetooth/controller/util/mem.h
  subsys/bluetooth/host/smp.c
  tests/unit/util/main.c
Labels: area: Bluetooth, area: Bluetooth Controller, area: Bluetooth Host, area: Base OS, area: Testsuite, area: Bluetooth Audio

#67172 Drivers regulator add regulator init microamps
  drivers/regulator/regulator_common.c
  dts/bindings/regulator/regulator.yaml
  include/zephyr/drivers/regulator.h
Labels: area: Devicetree Binding, area: Regulators, platform: ADI

#66300 logging: mipi_syst: Add CONFIG_LOG_MIPI_SYST_DISABLE_TIMESTAMP
  subsys/logging/Kconfig.formatting
  subsys/logging/mipi_syst/platform.h
Labels: area: Logging

#67219 linkserver: nxp: enable linkserver to be the default runner
  boards/common/linkserver.board.cmake
Labels: platform: NXP, Trivial

#67200 modem: cmux: Add DLCI receive buffer overrun LOG WRN
  subsys/modem/modem_cmux.c
Labels: Trivial, area: Modem

#67129 twister: support parallel coverage with lcov >=2.0
  scripts/pylib/twister/twisterlib/coverage.py
Labels: area: Twister

#67230 boards: doc: align board ram usage with dts settings
  boards/arm/frdm_k64f/frdm_k64f.yaml
  boards/arm/frdm_kw41z/frdm_kw41z.yaml
  boards/arm/lpcxpresso11u68/lpcxpresso11u68.yaml
  boards/arm/mimx8mm_evk/mimx8mm_evk.yaml
  boards/arm/mimx8mm_phyboard_polis/mimx8mm_phyboard_polis.yaml
  boards/arm/mimx8mq_evk/mimx8mq_evk_cm4.yaml
  boards/arm/mimxrt1010_evk/mimxrt1010_evk.yaml
  boards/arm/twr_kv58f220m/twr_kv58f220m.yaml
Labels: platform: NXP, Trivial

#67240 boards: lpcxpresso55s69: fix crystal frequency
  boards/arm/lpcxpresso55s69/doc/index.rst
Labels: platform: NXP, Trivial

#66475 Twister tests expansion: TestInstance
  scripts/tests/twister/test_testinstance.py
Labels: area: Twister

#66173 scripts: tests: twister: Platform module test expansion
  scripts/tests/twister/test_platform.py
Labels: area: Tests, area: Twister

#67070 bluetooth: tester: Add CCP Tests
  tests/bluetooth/tester/overlay-le-audio.conf
  tests/bluetooth/tester/src/btp/btp_ccp.h
  tests/bluetooth/tester/src/btp_ccp.c
Labels: area: Bluetooth

#67248 doc: Update copyright notice in the documentation
  doc/conf.py
Labels: Trivial, area: Documentation Infrastructure

#63377 PM: Add testing pm_device_state_str function in device_driver_init testcase.
  tests/subsys/pm/device_driver_init/src/main.c
Labels: area: Power Management

#66588 doc: vuln: Add CVEs under embargo
  doc/security/vulnerabilities.rst
Labels: area: Documentation

#67233 samples: drivers: uart: native_tty: Remove superfluous cmake lines
  samples/drivers/uart/native_tty/CMakeLists.txt
Labels: area: UART, area: Samples, Trivial

#66135 intel_adsp: ipc: pm action in busy state
  soc/xtensa/intel_adsp/common/ipc.c
Labels: Trivial, platform: Intel ADSP

#67260 doc: roles: Remove ambiguity for static analysis
  doc/project/project_roles.rst
Labels: area: Documentation, Trivial

#65867 doc: contribute: fix heading formatting
  doc/contribute/bin_blobs.rst
  doc/contribute/contributor_expectations.rst
  doc/contribute/external.rst
Labels: area: Documentation

#66892 driver: display: sdl: Fix input together with SDL_DISPLAY_ZOOM_PCT
  drivers/display/display_sdl_bottom.c
Labels: area: Display

#67018 boards: xtensa: m5stack_core2: swap-xy touch input
  boards/xtensa/m5stack_core2/m5stack_core2.dts
Labels: platform: ESP32, Trivial

#66606 timer: ambiq_stimer: Correct set_timeout's delta clock calculation
  drivers/timer/ambiq_stimer.c
Labels: area: Timer, platform: Ambiq

#66672 linkserver: nxp: add support for frdm-k64f
  boards/arm/frdm_k64f/board.cmake
  boards/arm/frdm_k64f/doc/index.rst
Labels: platform: NXP

#66708 linkserver: nxp: add support for rt685
  boards/arm/mimxrt685_evk/board.cmake
  boards/arm/mimxrt685_evk/doc/index.rst
Labels: platform: NXP

#67192 net: openthread: add missing cmake option
  modules/openthread/CMakeLists.txt
  modules/openthread/platform/openthread-core-zephyr-config.h
Labels: area: OpenThread

#67203 samples: ipc: multi_endpoint: Fix synchronisation of data receiving
  samples/subsys/ipc/ipc_service/multi_endpoint/remote/src/main.c
  samples/subsys/ipc/ipc_service/multi_endpoint/src/main.c
Labels: area: Samples, area: IPC

#67236 doc: hardware: peripherals: can: add CAN shell documentation
  doc/hardware/peripherals/can/index.rst
  doc/hardware/peripherals/can/shell.rst
Labels: area: Documentation, area: CAN

#67156 drivers: usb: stm32U5 power supply of usb device controller
  drivers/usb/device/usb_dc_stm32.c
  drivers/usb/udc/udc_stm32.c
Labels: area: USB, platform: STM32

#67189 drivers: gpio: stm32: fix init power state
  drivers/gpio/gpio_stm32.c
Labels: area: GPIO, platform: STM32

#67075 drivers: clock_control: clock_stm32_ll_h7.c
  drivers/clock_control/clock_stm32_ll_h7.c
Labels: platform: STM32, area: Clock Control

#67188 boards: arm: stm32h573i_dk is connected to a 512Mbit octoflash
  boards/arm/stm32h573i_dk/doc/index.rst
Labels: platform: STM32, Trivial

#67174 board: arm: nucleo-l4r5zi: flashing with STM32CubeProgrammer
  boards/arm/nucleo_l4r5zi/board.cmake
  boards/arm/nucleo_l4r5zi/doc/index.rst
Labels: platform: STM32

#67095 drivers: ethernet: stm32: Enabling HW checksum offloading for STM32H7.
  drivers/ethernet/Kconfig.stm32_hal
Labels: platform: STM32, area: Ethernet, Trivial

#67076 Nucleo h745zi q refactor clock config
  boards/arm/nucleo_h745zi_q/nucleo_h745zi_q_m7.dts
Labels: platform: STM32

#66891 clock_control: stm32f4: add PLLR division factor
  drivers/clock_control/clock_stm32f2_f4_f7.c
  dts/bindings/clock/st,stm32f4-pll-clock.yaml
Labels: platform: STM32, area: Clock Control, area: Devicetree Binding

#66922 boards: riscv: stamp_c3: Update systimer configuration
  boards/riscv/stamp_c3/stamp_c3_defconfig
Labels: area: RISCV

#66910 Stm32 fix incorrect redefinition of PM symbol in defconfig file
  soc/arm/st_stm32/stm32f4/Kconfig.defconfig.series
Labels: platform: STM32

#65948 drivers: w1: add zephyr-gpio driver
  drivers/w1/CMakeLists.txt
  drivers/w1/Kconfig
  drivers/w1/Kconfig.zephyr_gpio
  drivers/w1/w1_zephyr_gpio.c
  dts/bindings/w1/zephyr,w1-gpio.yaml
  tests/drivers/build_all/w1/CMakeLists.txt
  tests/drivers/build_all/w1/app.overlay
  tests/drivers/build_all/w1/prj.conf
  tests/drivers/build_all/w1/src/main.c
  tests/drivers/build_all/w1/testcase.yaml
Labels: area: Devicetree Binding, area: W1

#66858 manifest: hal_nordic: update revision to have nrfx 3.3.0 release
  west.yml
Labels: manifest, manifest-hal_nordic

#67110 drivers: regulator: max20335: allow current limit operations only for BUCKs
  drivers/regulator/regulator_max20335.c
Labels: area: Regulators

#67118 tests: Bluetooth: Mesh: optimize proxy beacon test
  tests/bsim/bluetooth/mesh/src/test_beacon.c
  tests/bsim/bluetooth/mesh/tests_scripts/priv_beacon/proxy_adv_multi_subnet_coex.sh
Labels: area: Bluetooth, area: Bluetooth Mesh

#67162 docs: Fix rzt2m starterkit docs formatting
  boards/arm/rzt2m_starterkit/doc/index.rst
Labels: bug, area: Documentation, Trivial

#66404 boards: xtensa: add Kincony KC868-A32 module suppport
  CODEOWNERS
  boards/xtensa/kincony_kc868_a32/Kconfig.board
  boards/xtensa/kincony_kc868_a32/Kconfig.defconfig
  boards/xtensa/kincony_kc868_a32/Kconfig.sysbuild
  boards/xtensa/kincony_kc868_a32/board.cmake
  boards/xtensa/kincony_kc868_a32/doc/img/kincony_kc868_a32.jpg
  boards/xtensa/kincony_kc868_a32/doc/index.rst
  boards/xtensa/kincony_kc868_a32/kincony_kc868_a32-pinctrl.dtsi
  boards/xtensa/kincony_kc868_a32/kincony_kc868_a32.dts
  boards/xtensa/kincony_kc868_a32/kincony_kc868_a32.yaml
  boards/xtensa/kincony_kc868_a32/kincony_kc868_a32_defconfig
  boards/xtensa/kincony_kc868_a32/support/openocd.cfg
  tests/lib/devicetree/devices/testcase.yaml
Labels: area: Devicetree, platform: ESP32

#66865 twister: coverage: Fix device handler coverage collection mode
  scripts/pylib/twister/twisterlib/handlers.py
  scripts/tests/twister/test_handlers.py
Labels: bug, Code Coverage, area: Twister

#67207 icm42688: Fix minor issues
  drivers/sensor/icm42688/icm42688_trigger.c
Labels: area: Sensors

#67308 doc: input: few minor fixes
  doc/services/input/gpio-kbd.rst
Labels: area: Documentation, Trivial, area: Input

#67293 dts: npcx: sha: fix the incorrect unit address
  dts/arm/nuvoton/npcx/npcx4.dtsi
Labels: Trivial, platform: Nuvoton NPCX, platform: Nuvoton Numicro Numaker

#67019 west: sign.py: add "REM" support to pass comments through cpp
  scripts/west_commands/sign.py
Labels: Enhancement, area: Toolchains, area: West, area: Audio, platform: Intel ADSP, manifest-rimage

#66592 fs: fuse: Avoid possible buffer overflow
  subsys/fs/fuse_fs_access.c
Labels: area: File System

#67329 doc: Fix sentence
  doc/kernel/services/other/atomic.rst
Labels: area: Kernel, area: Documentation, Trivial

#67310 ci: do_not_merge: check for dev and arch review labels as well
  .github/workflows/do_not_merge.yml
Labels: Hotfix, area: Continuous Integration

#67125 x86: ia32/gdbstub: remove dead code
  arch/x86/core/ia32/gdbstub.c
Labels: area: X86

#66685 drivers: i2c: i2c_dw: Fixed integer overflow in i2c_dw_data_ask().
  drivers/i2c/i2c_dw.c
Labels: area: I2C, Trivial, Backport, backport v2.7-branch

#62511 tests: bsim: Bluetooth: BAP Broadcast update to 2 bis
  tests/bsim/bluetooth/audio/prj.conf
  tests/bsim/bluetooth/audio/src/bap_broadcast_source_test.c
Labels: area: Bluetooth, area: Bluetooth Audio

#66182 scripts: zspdx: Include modules as packages in zephyr.spdx
  CMakeLists.txt
  doc/develop/west/zephyr-cmds.rst
  scripts/west_commands/zspdx/walker.py
Labels: area: Build System, area: Documentation, area: West

#66711 drivers: qspi: added operation timeout
  drivers/flash/Kconfig.nordic_qspi_nor
  drivers/flash/nrf_qspi_nor.c
Labels: area: Flash, platform: nRF, area: Devicetree Binding

#67316 drivers: mdio: nxp_enet: Fix "expected statement" clangsa error
  drivers/mdio/mdio_nxp_enet.c
Labels: platform: NXP, Trivial, area: MDIO

#67334 drivers: i2c: i2c_mcux_lpi2c: fix base address declarations
  drivers/i2c/i2c_mcux_lpi2c.c
Labels: area: I2C, platform: NXP, Trivial

#67338 emul: Add stub `release` impl. for emulated SPI driver
  drivers/spi/spi_emul.c
Labels: area: SPI, Trivial

#67342 doc: ztest: remove reference to non-existing test
  doc/develop/test/ztest.rst
Labels: area: Documentation, Trivial, area: Testsuite

#66652 drivers: nrf_qspi_nor: Deactivate QSPI peripheral after initialization
  drivers/flash/nrf_qspi_nor.c
Labels: area: Flash

#67241 drivers: spi: nrfx: Deactivate CS from thread context
  drivers/spi/spi_nrfx_spi.c
  drivers/spi/spi_nrfx_spim.c
Labels: area: SPI, platform: nRF

#66666 drivers: input: select multithreading on drivers using a thread
  drivers/input/Kconfig.evdev
  drivers/input/Kconfig.it8xxx2
  drivers/input/Kconfig.kbd_matrix
  drivers/input/Kconfig.npcx
Labels: area: Input

#64915 runners: jlink: Add support for J-Link ethernet
  scripts/west_commands/runners/jlink.py
Labels: area: West

#63981 scripts: tests: twister_blackbox: Add more tests test_printouts.py
  scripts/tests/twister_blackbox/test_printouts.py
Labels: area: Twister, area: Scripts

#67209 sd: add timeout when taking SD card lock for data operations
  subsys/sd/sd_ops.c
  subsys/sd/sdio.c
Labels: area: Disk Access

#67154 drivers: serial: ns16550: Add IOPORT_ENABLED check condition
  drivers/serial/uart_ns16550.c
Labels: area: UART

#66439 Adds runtime input power properties
  include/zephyr/drivers/charger.h
Labels: area: Charger

#67291 drivers: usb_dc_native_posix: do callback for ZLPs
  drivers/usb/device/usb_dc_native_posix.c
Labels: area: USB, area: native port

#67301 drivers:intc_plic: fix plic PLIC_TRIG_LEVEL define mistake
  drivers/interrupt_controller/intc_plic.c
Labels: bug, area: RISCV, Trivial, area: Interrupt Controller

#67323 west.yml: MCUboot synchronization from upstream
  west.yml
Labels: manifest, manifest-mcuboot

#67330 Fix mfd ad5592 software reset
  drivers/mfd/mfd_ad5592.c
Labels: area: MFD

#67031 doc: Add note that some versions of displays are not supported
  boards/arm/stm32h747i_disco/doc/index.rst
  boards/shields/st_b_lcd40_dsi1_mb1166/doc/index.rst
Labels: platform: STM32, area: Shields

#67086 driver: usb: change function parameter name from class to base_class.
  include/zephyr/usb/usbd.h
  subsys/usb/device_next/usbd_device.c
Labels: area: USB, Experimental

#67252 Update the ppp documentation
  doc/connectivity/networking/api/ppp.rst
Labels: area: Networking

#66600 drivers: input: add an analog-axis driver
  doc/services/input/index.rst
  drivers/input/CMakeLists.txt
  drivers/input/Kconfig
  drivers/input/Kconfig.analog_axis
  drivers/input/input_analog_axis.c
  drivers/input/input_analog_axis_settings.c
  dts/bindings/input/analog-axis.yaml
  include/zephyr/input/input_analog_axis.h
  include/zephyr/input/input_analog_axis_settings.h
  tests/drivers/build_all/input/app.overlay
  tests/drivers/build_all/input/testcase.yaml
Labels: area: Devicetree Binding, area: Input

#63994 kernel: Implement k_sleep for Single Thread
  kernel/sched.c
Labels: area: Kernel

#66752 scripts: tests: Removal of straggling folders
  scripts/tests/twister/test_harness.py
  scripts/tests/twister/test_testplan.py
  scripts/tests/twister_blackbox/conftest.py
  scripts/tests/twister_blackbox/test_hardwaremap.py
  scripts/tests/twister_blackbox/test_printouts.py
  scripts/tests/twister_blackbox/test_qemu.py
  scripts/tests/twister_blackbox/test_report.py
Labels: area: Twister

#67412 tests: net: lwm2m_engine: workaround stack overflow on qemu_x86
  tests/net/lib/lwm2m/lwm2m_engine/boards/qemu_x86.conf
Labels: area: Networking, area: LWM2M, Trivial

#67409 drivers: i2c: i2c_mcux_lpi2c: fix unused variable warning
  drivers/i2c/i2c_mcux_lpi2c.c
Labels: area: I2C, platform: NXP, Trivial

#67445 twister: hotfix for unimplemented harnesses
  scripts/pylib/twister/twisterlib/harness.py
  scripts/pylib/twister/twisterlib/runner.py
Labels: Hotfix, area: Twister

#67224 net: posix Fix name collision with __bswap
  drivers/fpga/fpga_zynqmp.c
  drivers/input/input_gt911.c
  include/zephyr/sys/byteorder.h
  subsys/net/ip/utils.c
  subsys/shell/modules/devmem_service.c
  tests/drivers/smbus/smbus_emul/src/smbus.c
  tests/lib/cpp/cxx/src/main.cpp
Labels: area: Networking, area: Shell, area: C++, area: Base OS, area: FPGA, area: Input, area: SMBus

#67388 MAINTAINERS: Update for Bluetooth host
  MAINTAINERS.yml
Labels: area: Process, Trivial

#67421 MAINTAINERS: Add HaavardRei as BT Mesh collaborator
  MAINTAINERS.yml
Labels: area: Process, Trivial

#66907 drivers: flash: spi_nor: ensure paired calling of acquire/release_device
  drivers/flash/spi_nor.c
Labels: area: Flash

#67208 input: gpio_keys: implement polling mode support
  drivers/input/input_gpio_keys.c
  dts/bindings/input/gpio-keys.yaml
  tests/drivers/build_all/input/app.overlay
Labels: area: Devicetree Binding, area: Input

#67249 net: lwm2m: add gateway_obj prefix check to lwm2m_message_handler
  subsys/net/lib/lwm2m/lwm2m_message_handling.c
  subsys/net/lib/lwm2m/lwm2m_message_handling.h
  subsys/net/lib/lwm2m/lwm2m_obj_gateway.c
  subsys/net/lib/lwm2m/lwm2m_obj_gateway.h
Labels: area: LWM2M

#67416 boards: google_dragonclaw: limit frequency of an unused clock
  boards/arm/google_dragonclaw/google_dragonclaw.dts
Labels: area: Boards, platform: STM32, Trivial

#67222 drivers: regulator: max20335: add support for ship mode
  drivers/regulator/Kconfig.max20335
  drivers/regulator/regulator_max20335.c
Labels: area: Regulators

#67332 ci: update elasticsearch index with merged PR data
  .github/workflows/stats_merged_prs.yml
  scripts/ci/stats/merged_prs.py
Labels: area: Continuous Integration

#66765 drivers: pwm: fix esp32-s3 ledc pwm low frequency range
  drivers/pwm/pwm_led_esp32.c
Labels: area: PWM, platform: ESP32

#67403 drivers: charger: bq24190: fix api and init functions references
  drivers/charger/charger_bq24190.c
Labels: area: Charger

#67351 Enable mailbox in Arduino Portenta H7 DTS
  boards/arm/arduino_portenta_h7/arduino_portenta_h7-common.dtsi
Labels: platform: STM32, area: IPM

#67183 west.yml: hal_ambiq: Update stimer HAL.
  west.yml
Labels: manifest, manifest-hal_ambiq

#67350 drivers: serial: uart_rcar: fix reading of SCFRDR register
  drivers/serial/uart_rcar.c
Labels: area: UART, platform: Renesas R-Car

#67384 doc: extensions: zephyr-domain: some fixes
  doc/_extensions/zephyr/domain.py
  doc/conf.py
Labels: area: Documentation Infrastructure

#67385 Bluetooth: L2CAP: separate LE from BR/EDR a bit more
  subsys/bluetooth/host/avdtp.c
  subsys/bluetooth/host/hfp_hf.c
  subsys/bluetooth/host/l2cap_br.c
  subsys/bluetooth/host/l2cap_br_interface.h
  subsys/bluetooth/host/l2cap_br_internal.h
  subsys/bluetooth/host/l2cap_internal.h
  subsys/bluetooth/host/rfcomm.c
  subsys/bluetooth/host/sdp.c
Labels: area: Bluetooth, area: Bluetooth Host

#67391 tests: Add thread suspend-resume SMP stress test
  tests/kernel/smp_suspend/CMakeLists.txt
  tests/kernel/smp_suspend/prj.conf
  tests/kernel/smp_suspend/src/main.c
  tests/kernel/smp_suspend/testcase.yaml
Labels: area: Kernel

#67414 xtensa: mmu: Fix mmu initialization
  arch/xtensa/core/mmu.c
Labels: area: Xtensa

#66242 sensors: Add Bosch BMA4xx-series driver
  drivers/sensor/CMakeLists.txt
  drivers/sensor/Kconfig
  drivers/sensor/bma4xx/CMakeLists.txt
  drivers/sensor/bma4xx/Kconfig
  drivers/sensor/bma4xx/bma4xx.c
  drivers/sensor/bma4xx/bma4xx.h
  drivers/sensor/bma4xx/bma4xx_i2c.c
  drivers/sensor/bma4xx/bma4xx_spi.c
  dts/bindings/sensor/bosch,bma4xx-common.yaml
  dts/bindings/sensor/bosch,bma4xx-i2c.yaml
  dts/bindings/sensor/bosch,bma4xx-spi.yaml
  tests/drivers/build_all/sensor/i2c.dtsi
Labels: area: Sensors, area: Samples, area: Devicetree Binding

#66671 modem: modem_cmux: optimize modem_cmux_transmit_frame to save ROM
  subsys/modem/modem_cmux.c
Labels: area: Modem

#67470 net: wifi_shell: Add example of scan option
  subsys/net/l2/wifi/wifi_shell.c
Labels: area: Networking, area: Wi-Fi, Trivial

#67443 soc: arm: nxp_imx: enable CONFIG_CACHE_MANAGEMENT for RT1xxx M7 cores
  soc/arm/nxp_imx/rt/Kconfig.defconfig.series
Labels: platform: NXP, Trivial
