Repository zephyrproject-rtos/zephyr, pull requests merged in 2024-09, with the labels that each got.

#77723 Driver: hci_nxp_setup: Change log message to LOG_DBG
  drivers/bluetooth/hci/hci_nxp_setup.c
Labels: area: Bluetooth, area: Bluetooth Host, platform: NXP Drivers

#77702 samples: Bluetooth: ISO: Rename ISO central and peripheral
  MAINTAINERS.yml
  doc/_scripts/redirects.py
  samples/bluetooth/iso_central/CMakeLists.txt
  samples/bluetooth/iso_central/README.rst
  samples/bluetooth/iso_central/overlay-bt_ll_sw_split.conf
  samples/bluetooth/iso_central/prj.conf
  samples/bluetooth/iso_central/sample.yaml
  samples/bluetooth/iso_central/src/main.c
  samples/bluetooth/iso_peripheral/CMakeLists.txt
  samples/bluetooth/iso_peripheral/README.rst
  samples/bluetooth/iso_peripheral/prj.conf
  samples/bluetooth/iso_peripheral/sample.yaml
  samples/bluetooth/iso_peripheral/src/main.c
Labels: area: Bluetooth, area: Process, area: Samples, area: Bluetooth ISO, area: Documentation Infrastructure

#77571 boards: renesas: update xtal clock frequency on Renesas RA boards
  boards/renesas/ek_ra6m1/ek_ra6m1.dts
  boards/renesas/ek_ra6m2/doc/index.rst
Labels: bug, platform: Renesas RA

#77180 logging: fix color being shown even if disabled
  subsys/logging/log_output.c
  tests/subsys/logging/log_output/Kconfig
  tests/subsys/logging/log_output/prj.conf
  tests/subsys/logging/log_output/src/log_output_test.c
Labels: area: Logging

#76786 Drivers: Counter: Added flag for counting up
  drivers/counter/timer_dtmr_cmsdk_apb.c
  drivers/counter/timer_tmr_cmsdk_apb.c
Labels: area: Counter

#74585 drivers: dma: intel_adsp_hda: change L1 exit defaults
  drivers/dma/Kconfig.intel_adsp_hda
Labels: bug, area: DMA, platform: Intel ADSP

#77731 drivers/espi: it8xxx2: Fix mask when SRAM size not the power of 2
  drivers/espi/espi_it8xxx2.c
Labels: area: eSPI, platform: ITE, size: XS

#77730 Bluetooth: Host: Minor doc and rename for LE remote feature exchange
  subsys/bluetooth/host/conn.c
  subsys/bluetooth/host/conn_internal.h
  subsys/bluetooth/host/hci_core.c
Labels: area: Bluetooth, area: Bluetooth Host

#77729 boards: st: Fix false arduino_gpio support
  boards/st/stm32h735g_disco/stm32h735g_disco.yaml
  boards/st/stm32h750b_dk/stm32h750b_dk.dts
Labels: platform: STM32, size: XS

#77728 samples: modules: use zephyr:code-sample directive
  samples/modules/canopennode/README.rst
  samples/modules/chre/README.rst
  samples/modules/cmsis_dsp/cmsis_dsp.rst
  samples/modules/compression/lz4/README.rst
  samples/modules/index.rst
  samples/modules/lvgl/lvgl.rst
  samples/modules/nanopb/README.rst
  samples/modules/tflite-micro/hello_world/README.rst
  samples/modules/tflite-micro/magic_wand/README.rst
  samples/modules/tflite-micro/tflite-micro.rst
  samples/modules/tflite-micro/tflm_ethosu/README.rst
  samples/modules/thrift/hello/README.rst
  samples/modules/thrift/thrift.rst
Labels: area: Samples, area: CAN, area: Neural Networks, area: Compression, area: CHRE, area: Thrift, area: Serialization

#77581 dts: xtensa: intel_adsp: Set soft-off state as disabled
  dts/xtensa/intel/intel_adsp_cavs25.dtsi
Labels: area: Xtensa, platform: Intel ADSP

#76710 Bluetooth: DIS: Add support for new characteristics
  include/zephyr/bluetooth/uuid.h
  subsys/bluetooth/services/Kconfig.dis
  subsys/bluetooth/services/dis.c
Labels: area: Bluetooth, area: Bluetooth Host

#77830 boards: shields: add NXP vendor name to shields
  boards/shields/g1120b0mipi/doc/index.rst
  boards/shields/rk043fn02h_ct/doc/index.rst
  boards/shields/rk043fn66hs_ctg/doc/index.rst
  boards/shields/rk055hdmipi4m/doc/index.rst
  boards/shields/rk055hdmipi4ma0/doc/index.rst
Labels: area: Documentation, platform: NXP, area: Shields, Trivial

#77733 Bug fix on vendor-prefixes list compliance validation
  scripts/ci/check_compliance.py
Labels: area: Coding Guidelines, area: Continuous Integration

#77820 soc: nordic: nrf54l15: add missing include
  soc/nordic/nrf54l/soc.c
Labels: platform: nRF, Trivial, size: XS

#77553 adc: adc_nrfx_saadc: support `ADC_ACQ_TIME_MAX`
  drivers/adc/adc_nrfx_saadc.c
Labels: area: ADC, platform: nRF, size: XS

#77456 net: Make sure net_buf data size is large enough for IPv6
  subsys/net/ip/net_pkt.c
Labels: area: Networking

#77448 net: dns: Add more error codes to gai_strerror()
  subsys/net/lib/sockets/getaddrinfo.c
Labels: area: Networking, area: Sockets

#77213 net: lwm2m: fix buffer size check for U16 resource
  subsys/net/lib/lwm2m/lwm2m_registry.c
Labels: area: LWM2M, size: XS

#77125 net: lib: http_server: prevent falsely matching HTTP headers
  subsys/net/lib/http/http_server_http1.c
Labels: area: Networking

#77043 samples:net:wifi:boards: rdrw612bga: Modify CONFIG_POSIX_MAX_FDS config.
  samples/net/wifi/boards/rd_rw612_bga.conf
Labels: area: Networking, area: Samples, area: Wi-Fi, size: XS

#75374 arch: riscv: add an option for empty spurious interrupt handler
  arch/Kconfig
  arch/riscv/core/irq_manage.c
Labels: area: RISCV, area: Architectures

#77909 tests: mgmt: mcumgr: enum_mgmt: Fix removed zcbor function
  tests/subsys/mgmt/mcumgr/enum_mgmt/src/main.c
Labels: area: mcumgr, Hotfix, Trivial, size: XS

#77788 twister: Pass device flash timeout to pytest-harness.
  scripts/pylib/pytest-twister-harness/src/twister_harness/device/hardware_adapter.py
  scripts/pylib/pytest-twister-harness/src/twister_harness/plugin.py
  scripts/pylib/pytest-twister-harness/src/twister_harness/twister_harness_config.py
  scripts/pylib/twister/twisterlib/harness.py
Labels: area: Twister

#77769 Bluetooth: Mesh: Clarify log to run out of retransmission attempt
  subsys/bluetooth/mesh/transport.c
Labels: area: Bluetooth, area: Bluetooth Mesh, size: XS

#77726 drivers: dma: intel-adsp-hda: Report total_copied bytes on ACE2/3
  drivers/dma/dma_intel_adsp_hda.c
  soc/intel/intel_adsp/common/include/intel_adsp_hda.h
Labels: area: DMA, platform: Intel ADSP

#77704 bluetooth: controller: Use CONFIG_BT_LLL_VENDOR_* instead of CONFIG_SOC_COMPATIBLE_*
  subsys/bluetooth/controller/CMakeLists.txt
Labels: area: Bluetooth, platform: nRF, area: Bluetooth Controller

#77548 Ignore failure to set random address when restarting the scanner and using host-based privacy
  subsys/bluetooth/host/id.c
Labels: area: Bluetooth, area: Bluetooth Host

#75887 soc: nordic: Use 31250 Hz as system tick rate for GRTC
  soc/nordic/Kconfig.defconfig
Labels: platform: nRF, size: XS

#75151 Bluetooth: BAP: Add support for reconfiguring unicast group
  include/zephyr/bluetooth/audio/bap.h
  subsys/bluetooth/audio/bap_endpoint.h
  subsys/bluetooth/audio/bap_unicast_client.c
  subsys/bluetooth/audio/shell/bap.c
  tests/bsim/bluetooth/audio/src/bap_unicast_client_test.c
  tests/bsim/bluetooth/audio/test_scripts/bap_unicast_client_reconf_group.sh
Labels: area: Bluetooth, area: Bluetooth Audio, platform: nRF BSIM

#73953 dts: arm: st: add npgios to all stm32 gpio controllers
  dts/arm/st/l4/stm32l496.dtsi
  dts/arm/st/wb/stm32wb.dtsi
  dts/bindings/gpio/st,stm32-gpio.yaml
Labels: area: GPIO, platform: STM32

#75522 fs: fatfs: extend fatfs module cfg to support GPT and multi partitions
  modules/fatfs/zephyr_fatfs_config.h
  subsys/fs/Kconfig.fatfs
Labels: area: File System, area: Storage

#76174 drivers: watchdog: nrfx wdt without IRQs
  drivers/watchdog/Kconfig.nrfx
  drivers/watchdog/wdt_nrfx.c
  modules/hal_nordic/nrfx/nrfx_config.h
Labels: area: Watchdog, platform: nRF

#76651 arm64: linker: move data section between rodata and bss
  Kconfig.zephyr
  include/zephyr/arch/arm64/scripts/linker.ld
Labels: area: Architectures, area: Kconfig, area: ARM64

#77725 ITE: usb: it82xx2: enable RESUME interrupt and fix the ready bit issue
  drivers/usb/device/usb_dc_it82xx2.c
Labels: area: USB

#77771 set hostap crypto configuration to default - WIFI_NM_WPA_SUPPLICANT_CRYPTO_ALT, remove PSA dependency and fix build errors
  modules/hostap/Kconfig
Labels: area: Wi-Fi

#77947 boards: xtensa/sample_controller: no HAL for xcc or xt-clang
  soc/cdns/xtensa_sample_controller/Kconfig
Labels: area: Xtensa, Trivial, size: XS

#77942 boards: nrf54l15bsim: DTS cleanup
  boards/native/nrf_bsim/nrf54l15bsim_nrf54l15_cpuapp.dts
Labels: Trivial, platform: nRF BSIM

#77914 board: imx93_evk: fix document introduced by hwmv2
  boards/nxp/imx93_evk/doc/index.rst
Labels: Trivial, platform: NXP MPU

#77862 arm/gicv3: set routing affinity before enable IRQ
  drivers/interrupt_controller/intc_gicv3.c
Labels: area: Interrupt Controller, platform: ARM

#77811 doc: release: 4.0: Add note about .elf flash support
  doc/releases/release-notes-4.0.rst
Labels: Release Notes

#77829 MAINTAINERS: hawkBit: remove myself from the collaborator
  MAINTAINERS.yml
Labels: area: Process, Trivial

#77807 soc: stm32 decrease ticks per sec if sysclock is not LPTIM
  soc/st/stm32/Kconfig.defconfig
Labels: platform: STM32

#77805 drivers: dma: intel_adsp_hda: fix intel_adsp_hda_unused() check
  soc/intel/intel_adsp/common/include/intel_adsp_hda.h
Labels: platform: Intel ADSP, size: XS

#77796 Bluetooth: AICS: Replace bools with atomic
  subsys/bluetooth/audio/aics_client.c
  subsys/bluetooth/audio/aics_internal.h
Labels: area: Bluetooth, area: Bluetooth Audio

#77718 fix xtensa-sample-controller.ld to avoid .note.GNU-stack warnings
  soc/cdns/xtensa_sample_controller/include/xtensa-sample-controller.ld
Labels: area: Xtensa, Trivial

#77682 boards: ezurio: fix qspi definition
  boards/ezurio/mg100/Kconfig.defconfig
  boards/ezurio/pinnacle_100_dvk/Kconfig.defconfig
Labels: platform: Ezurio

#77032 include: cbprintf: drop deprecated CBPRINTF_PACKAGE_COPY_* macros
  doc/releases/release-notes-4.0.rst
  include/zephyr/sys/cbprintf.h
Labels: Release Notes, area: Formatting Output

#76773 shell: backends: rtt: Set panic_mode flag
  subsys/shell/backends/shell_rtt.c
Labels: area: Shell

#77783 modules: mcuboot: update to the latest
  west.yml
Labels: manifest, manifest-trusted-firmware-m, manifest-mcuboot, manifest-hal_espressif, size: XS

#77873 cmake: emu: qemu: pkill monitor_15_4
  cmake/emu/qemu.cmake
Labels: area: Networking, area: Build System, area: IEEE 802.15.4

#77569 FIX fs: nvs: nvs fix static analysis error caused by mismatched variable assignment
  subsys/fs/nvs/nvs.c
Labels: area: File System, size: XS

#77446 tests: drivers: Extend coverage for NRF GRTC timer
  tests/drivers/timer/nrf_grtc_timer/boards/nrf54h20dk_nrf54h20_cpuapp.overlay
  tests/drivers/timer/nrf_grtc_timer/src/main.c
Labels: platform: nRF

#76869 i2c: i2c_nrfx_twim: remove data from `.data`
  drivers/i2c/i2c_nrfx_twim.c
Labels: area: I2C, platform: nRF

#75372 xen: Make XEN_INTERFACE_VERSION configurable
  arch/arm64/core/xen/CMakeLists.txt
  arch/arm64/core/xen/Kconfig
  include/zephyr/xen/public/grant_table.h
  include/zephyr/xen/public/memory.h
  include/zephyr/xen/public/xen.h
Labels: Stale, area: ARM64, area: Xen Platform

#77750 Bluetooth: mesh: transport: logic fix for unseg msgs
  subsys/bluetooth/mesh/transport.c
Labels: area: Bluetooth, area: Bluetooth Mesh

#75703 drivers: serial: uart_nrfx_uarte: Patch RX init
  drivers/serial/uart_nrfx_uarte.c
Labels: area: UART, platform: nRF

#77206 doc: rpi_pico fix I2C1 default peripheral mapping
  boards/raspberrypi/rpi_pico/doc/index.rst
Labels: Trivial, platform: Raspberry Pi Pico

#77441 usb: device_next: msc: Allow user to sort LUNs
  include/zephyr/usb/class/usbd_msc.h
  samples/subsys/usb/mass/src/main.c
Labels: area: USB, area: Samples

#67942 bindesc: Add support for the build version values
  include/zephyr/bindesc.h
  scripts/west_commands/bindesc.py
  subsys/bindesc/Kconfig.version
  subsys/bindesc/bindesc_version.c
Labels: area: West, area: Binary Descriptors

#77971 mgmt: mcumgr: os_mgmt: fix millisecond return
  doc/releases/release-notes-4.0.rst
  subsys/mgmt/mcumgr/grp/os_mgmt/src/os_mgmt.c
Labels: area: mcumgr, Trivial, Release Notes, size: XS

#78006 arm64: linker: leave app_smem before .data
  include/zephyr/arch/arm64/scripts/linker.ld
Labels: area: Architectures, Hotfix, area: ARM64

#77927 drivers: sensors: explorir_m: fix uart flush early termination
  drivers/sensor/explorir_m/explorir_m.c
Labels: bug, area: Sensors, Trivial

#77891 samples: sensor: use zephyr:code-sample directive
  boards/nordic/thingy52/doc/index.rst
  boards/shields/frdm_stbc_agm01/doc/index.rst
  boards/shields/x_nucleo_53l0a1/doc/index.rst
  samples/sensor/accel_polling/README.rst
  samples/sensor/adc_cmp_npcx/README.rst
  samples/sensor/adt7420/README.rst
  samples/sensor/amg88xx/README.rst
  samples/sensor/ams_iAQcore/README.rst
  samples/sensor/apds9960/README.rst
  samples/sensor/bme280/README.rst
  samples/sensor/bmi270/README.rst
  samples/sensor/bq274xx/README.rst
  samples/sensor/ccs811/README.rst
  samples/sensor/co2_polling/README.rst
  samples/sensor/dht_polling/README.rst
  samples/sensor/die_temp_polling/README.rst
  samples/sensor/ds18b20/README.rst
  samples/sensor/fdc2x1x/README.rst
  samples/sensor/fxas21002/README.rst
  samples/sensor/fxos8700/README.rst
  samples/sensor/grove_light/README.rst
  samples/sensor/grove_temperature/README.rst
  samples/sensor/grow_r502a/README.rst
  samples/sensor/hts221/README.rst
  samples/sensor/i3g4250d/README.rst
  samples/sensor/icm42605/README.rst
  samples/sensor/ina219/README.rst
  samples/sensor/isl29035/README.rst
  samples/sensor/jc42/README.rst
  samples/sensor/lis2dh/README.rst
  samples/sensor/lps22hb/README.rst
  samples/sensor/lps22hh/README.rst
  samples/sensor/lps22hh_i3c/README.rst
  samples/sensor/lsm303dlhc/README.rst
  samples/sensor/lsm6dsl/README.rst
  samples/sensor/lsm6dso/README.rst
  samples/sensor/lsm6dso_i2c_on_i3c/README.rst
  samples/sensor/magn_polling/README.rst
  samples/sensor/max17262/README.rst
  samples/sensor/max30101/README.rst
  samples/sensor/max6675/README.rst
  samples/sensor/mcux_acmp/README.rst
  samples/sensor/mcux_lpcmp/README.rst
  samples/sensor/mpr/README.rst
  samples/sensor/mpu6050/README.rst
  samples/sensor/ms5837/README.rst
  samples/sensor/proximity_polling/README.rst
  samples/sensor/qdec/README.rst
  samples/sensor/sensor_shell/README.rst
  samples/sensor/sgp40_sht4x/README.rst
  samples/sensor/sht3xd/README.rst
  samples/sensor/sm351lt/README.rst
  samples/sensor/soc_voltage/README.rst
  samples/sensor/th02/README.rst
  samples/sensor/thermometer/README.rst
  samples/sensor/tmp108/README.rst
  samples/sensor/tmp112/README.rst
  samples/sensor/vcnl4040/README.rst
  samples/sensor/veaa_x_3/README.rst
  samples/sensor/vl53l0x/README.rst
Labels: area: Sensors, area: Samples, platform: nRF, area: Shields

#77852 doc: net: qemu: minor fixes (socat)
  doc/connectivity/networking/qemu_setup.rst
Labels: area: Networking, area: Documentation, area: QEMU

#77447 tests: drivers: Allow configurable i2c speed for bme688 test
  tests/drivers/i2c/i2c_bme688/Kconfig
  tests/drivers/i2c/i2c_bme688/src/main.c
Labels: area: I2C

#77408 Drivers: led: lp5562: re-use already linked engine
  drivers/led/lp5562.c
Labels: area: LED

#76314 drivers: spi: renesas: Support Renesas RA8 SPI driver
  boards/renesas/ek_ra8d1/doc/index.rst
  boards/renesas/ek_ra8d1/ek_ra8d1-pinctrl.dtsi
  boards/renesas/ek_ra8d1/ek_ra8d1.dts
  boards/renesas/ek_ra8m1/doc/index.rst
  boards/renesas/ek_ra8m1/ek_ra8m1-pinctrl.dtsi
  boards/renesas/ek_ra8m1/ek_ra8m1.dts
  boards/renesas/mck_ra8t1/doc/index.rst
  boards/renesas/mck_ra8t1/mck_ra8t1-pinctrl.dtsi
  boards/renesas/mck_ra8t1/mck_ra8t1.dts
  drivers/spi/CMakeLists.txt
  drivers/spi/Kconfig
  drivers/spi/Kconfig.renesas_ra8
  drivers/spi/spi_b_renesas_ra8.c
  dts/arm/renesas/ra/ra8/ra8x1.dtsi
  dts/bindings/spi/renesas,ra8-spi-b.yaml
  modules/Kconfig.renesas_fsp
  tests/drivers/spi/spi_controller_peripheral/boards/ek_ra8m1.conf
  tests/drivers/spi/spi_controller_peripheral/boards/ek_ra8m1.overlay
  tests/drivers/spi/spi_loopback/boards/ek_ra8d1.conf
  tests/drivers/spi/spi_loopback/boards/ek_ra8d1.overlay
  tests/drivers/spi/spi_loopback/boards/ek_ra8m1.conf
  tests/drivers/spi/spi_loopback/boards/ek_ra8m1.overlay
  tests/drivers/spi/spi_loopback/boards/mck_ra8t1.conf
  tests/drivers/spi/spi_loopback/boards/mck_ra8t1.overlay
Labels: area: SPI, area: Crypto / RNG, platform: Renesas RA

#75293 rtio: Add default i2c submit handler
  doc/services/rtio/index.rst
  drivers/i2c/CMakeLists.txt
  drivers/i2c/Kconfig
  drivers/i2c/Kconfig.nrfx
  drivers/i2c/Kconfig.sam_twihs
  drivers/i2c/gpio_i2c_switch.c
  drivers/i2c/i2c_ambiq.c
  drivers/i2c/i2c_andes_atciic100.c
  drivers/i2c/i2c_b91.c
  drivers/i2c/i2c_bcm_iproc.c
  drivers/i2c/i2c_cc13xx_cc26xx.c
  drivers/i2c/i2c_cc32xx.c
  drivers/i2c/i2c_dw.c
  drivers/i2c/i2c_emul.c
  drivers/i2c/i2c_ene_kb1200.c
  drivers/i2c/i2c_esp32.c
  drivers/i2c/i2c_gd32.c
  drivers/i2c/i2c_gecko.c
  drivers/i2c/i2c_gpio.c
  drivers/i2c/i2c_ifx_cat1.c
  drivers/i2c/i2c_ifx_xmc4.c
  drivers/i2c/i2c_imx.c
  drivers/i2c/i2c_ite_enhance.c
  drivers/i2c/i2c_ite_it8xxx2.c
  drivers/i2c/i2c_litex.c
  drivers/i2c/i2c_ll_stm32.c
  drivers/i2c/i2c_lpc11u6x.c
  drivers/i2c/i2c_max32.c
  drivers/i2c/i2c_mchp_mss.c
  drivers/i2c/i2c_mchp_xec.c
  drivers/i2c/i2c_mchp_xec_v2.c
  drivers/i2c/i2c_mcux.c
  drivers/i2c/i2c_mcux_flexcomm.c
  drivers/i2c/i2c_nios2.c
  drivers/i2c/i2c_npcx_port.c
  drivers/i2c/i2c_nrfx_twim.c
  drivers/i2c/i2c_numaker.c
  drivers/i2c/i2c_rcar.c
  drivers/i2c/i2c_rtio_default.c
  drivers/i2c/i2c_rv32m1_lpi2c.c
  drivers/i2c/i2c_sam0.c
  drivers/i2c/i2c_sam4l_twim.c
  drivers/i2c/i2c_sam_twi.c
  drivers/i2c/i2c_sbcon.c
  drivers/i2c/i2c_sc18im704.c
  drivers/i2c/i2c_sedi.c
  drivers/i2c/i2c_sifive.c
  drivers/i2c/i2c_smartbond.c
  drivers/i2c/i2c_tca954x.c
  drivers/i2c/i2c_xilinx_axi.c
  include/zephyr/drivers/i2c.h
  tests/drivers/i2c/i2c_ram/testcase.yaml
  tests/subsys/rtio/rtio_i2c/CMakeLists.txt
  tests/subsys/rtio/rtio_i2c/boards/native_sim.overlay
  tests/subsys/rtio/rtio_i2c/dts/bindings/zephyr,blocking-emul.yaml
  tests/subsys/rtio/rtio_i2c/include/blocking_emul.hpp
  tests/subsys/rtio/rtio_i2c/prj.conf
  tests/subsys/rtio/rtio_i2c/src/blocking_emul.cpp
  tests/subsys/rtio/rtio_i2c/src/main.cpp
  tests/subsys/rtio/rtio_i2c/testcase.yaml
Labels: area: I2C, area: RTIO

#73690 kernel: userspace: Fix dynamic thread stack allocation for RISC-V
  kernel/userspace.c
Labels: area: Kernel, area: Userspace

#78007 boards: nordic: nrf9280pdk: update board documentation
  boards/nordic/nrf9280pdk/doc/index.rst
Labels: platform: nRF, Trivial

#77991 scripts: pylib: twister: fix missing newlines at handler.log
  scripts/pylib/twister/twisterlib/handlers.py
Labels: Trivial, area: Twister, size: XS

#77899 logging: fix color for shell log backend
  subsys/logging/Kconfig.formatting
Labels: area: Logging, size: XS

#77688 dts: arm: st: h7: fix flash on M4 board targets
  dts/arm/st/h7/stm32h745Xi_m4.dtsi
  dts/arm/st/h7/stm32h747Xi_m4.dtsi
  dts/arm/st/h7/stm32h755Xi_m4.dtsi
  samples/drivers/flash_shell/boards/stm32h745i_disco_stm32h745xx_m4.overlay
  samples/drivers/flash_shell/boards/stm32h747i_disco_stm32h747xx_m4.overlay
  samples/drivers/flash_shell/sample.yaml
  tests/subsys/mgmt/mcumgr/fs_mgmt_hash_supported/testcase.yaml
Labels: area: Samples, area: Flash, platform: STM32, area: mcumgr

#78027 doc: fix trivial typo
  boards/espressif/esp32_devkitc_wroom/doc/index.rst
  boards/espressif/esp32_devkitc_wrover/doc/index.rst
  boards/espressif/esp32_ethernet_kit/doc/index.rst
  boards/espressif/esp32c3_devkitc/doc/index.rst
  boards/espressif/esp32c3_devkitm/doc/index.rst
  boards/espressif/esp32c3_rust/doc/index.rst
  boards/espressif/esp32c6_devkitc/doc/index.rst
  boards/espressif/esp32s2_devkitc/doc/index.rst
  boards/espressif/esp32s2_saola/doc/index.rst
  boards/espressif/esp32s3_devkitc/doc/index.rst
  boards/espressif/esp32s3_devkitm/doc/index.rst
  boards/espressif/esp8684_devkitm/doc/index.rst
  boards/espressif/esp_wrover_kit/doc/index.rst
  boards/franzininho/esp32s2_franzininho/doc/index.rst
  boards/hardkernel/odroid_go/doc/index.rst
  boards/heltec/heltec_wifi_lora32_v2/doc/index.rst
  boards/heltec/heltec_wireless_stick_lite_v3/doc/index.rst
  boards/lilygo/ttgo_lora32/doc/index.rst
  boards/lilygo/ttgo_t8c3/doc/index.rst
  boards/luatos/esp32c3_luatos_core/doc/index.rst
  boards/luatos/esp32s3_luatos_core/doc/index.rst
  boards/m5stack/m5stickc_plus/doc/index.rst
  boards/m5stack/stamp_c3/doc/index.rst
  boards/nordic/nrf54l15dk/doc/index.rst
  boards/olimex/olimex_esp32_evb/doc/index.rst
  boards/others/icev_wireless/doc/index.rst
  boards/seeed/xiao_esp32c3/doc/index.rst
  boards/seeed/xiao_esp32s3/doc/index.rst
  boards/vcc-gnd/yd_esp32/doc/index.rst
  cmake/modules/kernel.cmake
  samples/net/dhcpv4_client/README.rst
  samples/subsys/fs/format/README.rst
  samples/subsys/fs/fs_sample/README.rst
  samples/subsys/mgmt/updatehub/README.rst
  samples/subsys/nvs/README.rst
  samples/subsys/settings/README.rst
Labels: area: Networking, area: File System, Trivial, area: Settings

#78025 cmake: remove spurious parenthese just added to xt-ld/linker_flags
  cmake/linker/xt-ld/linker_flags.cmake
Labels: area: Build System, area: Toolchains, Hotfix, size: XS

#77874 manifest: mbedtls: update to 3.6.1
  doc/releases/release-notes-4.0.rst
  west.yml
Labels: Release Notes, manifest, manifest-mbedtls, size: XS, backport v3.7-branch

#77748 Bluetooth: CAP: Revert order of CAP stream callbacks
  subsys/bluetooth/audio/cap_stream.c
Labels: area: Bluetooth, area: Bluetooth Audio

#75640 Fixes return value of i2s_stm32_write by returning queue_put() return and fix I2S format channel count.
  drivers/i2s/i2s_ll_stm32.c
Labels: platform: STM32, area: I2S

#71104 board: add support for VCC-GND STM32H750VB
  boards/vcc-gnd/yd_stm32h750vb/Kconfig.defconfig
  boards/vcc-gnd/yd_stm32h750vb/Kconfig.yd_stm32h750vb
  boards/vcc-gnd/yd_stm32h750vb/board.cmake
  boards/vcc-gnd/yd_stm32h750vb/board.yml
  boards/vcc-gnd/yd_stm32h750vb/doc/img/yd_stm32h750vb.png
  boards/vcc-gnd/yd_stm32h750vb/doc/index.rst
  boards/vcc-gnd/yd_stm32h750vb/support/openocd.cfg
  boards/vcc-gnd/yd_stm32h750vb/yd_stm32h750vb.dts
  boards/vcc-gnd/yd_stm32h750vb/yd_stm32h750vb.yaml
  boards/vcc-gnd/yd_stm32h750vb/yd_stm32h750vb_defconfig
Labels: area: Boards, platform: STM32

#69633 modules: hal_nordic: Enforce nrf-regtool minimum version
  modules/hal_nordic/CMakeLists.txt
Labels: platform: nRF, Trivial, size: XS

#77276 Bluetooth: TBS: Fix type of uri in bt_tbs_valid_uri
  subsys/bluetooth/audio/tbs.c
  subsys/bluetooth/audio/tbs_internal.h
Labels: area: Bluetooth, Trivial, area: Bluetooth Audio

#77346 Bluetooth: TBS: Add UTF8 requirement to Kconfigs
  subsys/bluetooth/audio/Kconfig.tbs
Labels: area: Bluetooth, Trivial, area: Bluetooth Audio

#77406 Bluetooth: CAP: Fix dependency on BT_BAP_STREAM
  subsys/bluetooth/audio/audio.c
  subsys/bluetooth/audio/audio_internal.h
  subsys/bluetooth/audio/bap_broadcast_source.c
  subsys/bluetooth/audio/bap_stream.c
  subsys/bluetooth/audio/bap_stream.h
  subsys/bluetooth/audio/cap_commander.c
  tests/bluetooth/audio/cap_commander/Kconfig
  tests/bluetooth/audio/cap_commander/uut/CMakeLists.txt
Labels: bug, area: Bluetooth, area: Bluetooth Audio

#77240 Bluetooth: TBS: Fix type of uri in call_alloc
  subsys/bluetooth/audio/tbs.c
Labels: area: Bluetooth, Trivial, area: Bluetooth Audio

#77490 Bluetooth: TBS: Allow multiple callbacks for client
  doc/releases/release-notes-4.0.rst
  include/zephyr/bluetooth/audio/tbs.h
  samples/bluetooth/hap_ha/src/ccp_call_ctrl.c
  samples/bluetooth/tmap_peripheral/src/ccp_call_ctrl.c
  subsys/bluetooth/audio/tbs_client.c
  subsys/bluetooth/audio/tbs_internal.h
  tests/bluetooth/tester/src/audio/btp_ccp.c
  tests/bsim/bluetooth/audio/src/tbs_client_test.c
Labels: area: Bluetooth, area: Samples, Release Notes, area: Bluetooth Qualification, area: Bluetooth Audio

#77903 manifest: update hal_nordic revision
  west.yml
Labels: manifest, manifest-hal_nordic, size: XS

#77906 Bluetooth: Host: Fix unable to start scanning after scan param failure
  subsys/bluetooth/host/scan.c
Labels: area: Bluetooth, area: Bluetooth Host

#77939 net: fix compiler warning -Wtype-limits
  include/zephyr/net/net_if.h
Labels: area: Networking

#77755 shell: kernel: do a cold reboot by standard
  subsys/shell/modules/kernel_service.c
Labels: area: Shell, Trivial, size: XS

#77147 doc: optimization: link to sysbuild commands
  doc/develop/optimizations/tools.rst
Labels: area: Documentation

#77878 tools: net-tools: place net-tools inside tools
  boards/native/native_sim/doc/index.rst
  cmake/emu/qemu.cmake
  doc/connectivity/networking/native_sim_setup.rst
  doc/connectivity/networking/network_monitoring.rst
  doc/connectivity/networking/networking_with_multiple_instances.rst
  doc/connectivity/networking/qemu_802154_setup.rst
  doc/connectivity/networking/qemu_eth_setup.rst
  doc/connectivity/networking/qemu_setup.rst
  doc/develop/west/basics.rst
  samples/net/dns_resolve/README.rst
  samples/net/sockets/http_client/README.rst
  west.yml
Labels: area: Networking, area: Build System, area: Documentation, area: Samples, area: native port, area: Sockets, area: West, manifest, manifest-net-tools

#77943 i2c: nrf_twi: Add cast to const buffer pointers
  drivers/i2c/i2c_nrfx_twi_rtio.c
Labels: area: I2C, platform: nRF

#78052 cleanup STM32H750 dtsi file: remove unnecessary inclusion
  dts/arm/st/h7/stm32h750.dtsi
Labels: platform: STM32, Hotfix, size: XS

#77238 Bluetooth: TBS: Fix issues with lookup_inst_by_uri_scheme
  subsys/bluetooth/audio/tbs.c
Labels: area: Bluetooth, Trivial, area: Bluetooth Audio

#77925 Bluetooth: Document parallel scanner and initiator param selection
  include/zephyr/bluetooth/bluetooth.h
  include/zephyr/bluetooth/conn.h
Labels: area: Bluetooth, area: Bluetooth Host

#76393 drivers: video: introduce CONFIG_VIDEO_LOG_LEVEL
  drivers/video/Kconfig
  drivers/video/Kconfig.stm32_dcmi
  drivers/video/mt9m114.c
  drivers/video/ov2640.c
  drivers/video/ov5640.c
  drivers/video/ov7670.c
  drivers/video/ov7725.c
  drivers/video/video_common.c
  drivers/video/video_mcux_csi.c
  drivers/video/video_mcux_mipi_csi2rx.c
  drivers/video/video_stm32_dcmi.c
  drivers/video/video_sw_generator.c
Labels: priority: low, area: Drivers, area: Logging, platform: STM32, area: Video, platform: NXP Drivers

#77933 doc: process for adding a maintainer if the candidate does not have a role
  doc/project/project_roles.rst
Labels: area: Documentation, Process

#77928 soc: intel_adsp: ace: Configurable SRAM retention mode and cleanup
  soc/intel/intel_adsp/ace/Kconfig
  soc/intel/intel_adsp/ace/sram.c
Labels: platform: Intel ADSP

#77926 soc: nordic: add enabled instances validation for nRF54L series
  soc/nordic/validate_enabled_instances.c
Labels: platform: nRF

#77923 dts: arm: st: stm32h5: fix spi 1-3 clocks
  dts/arm/st/h5/stm32h5.dtsi
Labels: bug, platform: STM32, backport v3.7-branch

#77871 drivers: stm32: Make some config symbols menuconfig symbols
  drivers/flash/Kconfig.stm32
  drivers/pinctrl/Kconfig.stm32
  drivers/smbus/Kconfig
  drivers/watchdog/Kconfig.stm32
Labels: area: USB, area: Flash, area: Watchdog, platform: STM32, area: Pinctrl, area: SMBus

#76772 doc: kernel: fix k_poll example
  doc/kernel/services/polling.rst
Labels: area: Kernel

#76729 dts: nordic: nrf5340: Change nRF5340 IPC backend to icbmsg
  boards/ezurio/bl5340_dvk/bl5340_dvk_nrf5340_cpuapp_partition_conf.dtsi
  boards/ezurio/bl5340_dvk/bl5340_dvk_nrf5340_cpunet_common.dtsi
  boards/ezurio/bl5340_dvk/bl5340_dvk_nrf5340_shared_sram_planning_conf.dtsi
  dts/arm/nordic/nrf5340_cpuapp_ipc.dtsi
  dts/arm/nordic/nrf5340_cpunet.dtsi
  dts/common/nordic/nrf5340_shared_sram_partition.dtsi
Labels: platform: nRF, platform: Panasonic, platform: Ezurio

#75705 tests: Bluetooth: BAP: Use fallbacks for bcast bsim tests
  tests/bsim/bluetooth/audio/src/bap_broadcast_sink_test.c
  tests/bsim/bluetooth/audio/src/bap_broadcast_source_test.c
Labels: area: Bluetooth, area: Bluetooth Audio

#78019 doc: generation: fix link to zephyr.tag
  doc/contribute/documentation/generation.rst
Labels: area: Documentation, Trivial, size: XS

#77946 samples: subsys: use zephyr:code-sample directive
  doc/services/debugging/debugmon.rst
  doc/services/ipc/ipc_service/backends/ipc_service_icbmsg.rst
  samples/subsys/dap/README.rst
  samples/subsys/debug/debugmon/README.rst
  samples/subsys/debug/fuzz/README.rst
  samples/subsys/ipc/ipc_service/multi_endpoint/README.rst
  samples/subsys/sip_svc/README.rst
Labels: area: Samples, area: Debugging, area: IPC, area: dap

#77918 doc: samples: Improve code sample list styling
  doc/_extensions/zephyr/domain.py
  doc/_static/css/custom.css
Labels: area: Documentation Infrastructure

#77976 drivers: usb_dc_rpi_pico: Fixed connected handling
  drivers/usb/device/usb_dc_rpi_pico.c
Labels: area: Drivers, area: USB

#78003 subsys: net: Fix sntp clock init Kconfig depends
  subsys/net/lib/config/Kconfig
Labels: area: Networking, size: XS

#78062 soc: nordic: nrf52: fix used define for enabling DCDC converter
  soc/nordic/nrf52/soc.c
Labels: bug, platform: nRF, Trivial, size: XS

#77867 hostap: fix SAP UDP RX low throughput in 5GHz
  modules/hostap/src/supp_main.c
Labels: area: Wi-Fi, size: XS

#77578 drivers: input: input_gt911: fix OOB buffer write to touch points array
  drivers/input/input_gt911.c
Labels: area: Input

#77790 Bluetooth: Controller: Support FAKE_ENTROPY_NATIVE_POSIX
  subsys/bluetooth/controller/Kconfig
  subsys/bluetooth/controller/Kconfig.ll_sw_split
  subsys/bluetooth/controller/ll_sw/nordic/lll/lll.c
Labels: area: Bluetooth, area: Bluetooth Controller

#77787 tests: drivers.gpio.1pin: re-enable hifive1
  tests/drivers/gpio/gpio_api_1pin/testcase.yaml
Labels: area: GPIO, size: XS

#77709 drivers: video: esp32s3: add support for cam interface
  drivers/video/CMakeLists.txt
  drivers/video/Kconfig
  drivers/video/Kconfig.esp32_dvp
  drivers/video/video_esp32_dvp.c
  dts/bindings/video/espressif,esp32-cam.yaml
  dts/xtensa/espressif/esp32s3/esp32s3_common.dtsi
Labels: area: Xtensa, platform: ESP32, area: Video

#77601 doc: fix app extension build-args and improve qemu docs
  doc/_extensions/zephyr/application.py
Labels: area: Networking, area: Documentation, area: Documentation Infrastructure

#76177 driver: wifi: esp32: add APSTA support
  drivers/wifi/esp32/Kconfig.esp32
  drivers/wifi/esp32/src/esp_wifi_drv.c
  samples/boards/esp32/wifi_apsta_mode/CMakeLists.txt
  samples/boards/esp32/wifi_apsta_mode/README.rst
  samples/boards/esp32/wifi_apsta_mode/boards/esp32_devkitc_wroom_procpu.conf
  samples/boards/esp32/wifi_apsta_mode/boards/esp32_devkitc_wroom_procpu.overlay
  samples/boards/esp32/wifi_apsta_mode/prj.conf
  samples/boards/esp32/wifi_apsta_mode/src/main.c
Labels: area: Networking, area: Samples, platform: ESP32, area: Wi-Fi

#72050 drivers: led_strip: ws2812_gpio: Add support for nRF52 SOC
  doc/build/dts/api/api.rst
  doc/releases/release-notes-4.0.rst
  drivers/led_strip/Kconfig.ws2812
  drivers/led_strip/ws2812_gpio.c
  dts/bindings/led_strip/worldsemi,ws2812-gpio.yaml
  samples/drivers/led_strip/boards/bbc_microbit.conf
Labels: area: Build System, area: Samples, area: Devicetree, area: Kconfig, area: LED, Release Notes, area: Devicetree Binding

#78060 scripts: pylib: twister: Write version to testplan.json
  scripts/pylib/twister/twisterlib/twister_main.py
Labels: Trivial, area: Twister

#78087 sys: atomic: Minor upates to atomic_test* function docs
  include/zephyr/sys/atomic.h
Labels: Trivial, area: Base OS

#78015 drivers: wifi: esp_at: only log errors in active mode with full IPD
  drivers/wifi/esp_at/esp.c
Labels: area: Wi-Fi

#78107 Hotfix for #78099 - Segfault on nrf5340 bsim simulations during IPC init
  boards/ezurio/bl5340_dvk/bl5340_dvk_nrf5340_cpuapp_partition_conf.dtsi
  boards/ezurio/bl5340_dvk/bl5340_dvk_nrf5340_cpunet_common.dtsi
  boards/ezurio/bl5340_dvk/bl5340_dvk_nrf5340_shared_sram_planning_conf.dtsi
  dts/arm/nordic/nrf5340_cpuapp_ipc.dtsi
  dts/arm/nordic/nrf5340_cpunet.dtsi
  dts/common/nordic/nrf5340_shared_sram_partition.dtsi
Labels: platform: nRF, Hotfix, platform: Ezurio

#78119 uart: nrfx: fix config check
  drivers/serial/uart_nrfx_uarte.c
Labels: area: UART, platform: nRF, Hotfix, size: XS

#78033 boards: nordic: nrf54l15dk: enable HWFC
  boards/nordic/nrf54l15dk/nrf54l15_cpuapp_common.dtsi
  boards/nordic/nrf54l15dk/nrf54l15dk_nrf54l15_cpuflpr.dts
Labels: platform: nRF

#78032 docs: don't show doc version admonition on main
  doc/_templates/layout.html
Labels: area: Documentation Infrastructure

#77986 drivers: usb: udc_dwc2: Notify upper layer on failed TX
  drivers/usb/udc/udc_dwc2.c
Labels: area: USB

#77080 scripts: twister: Elevate Status Error
  scripts/pylib/twister/twisterlib/error.py
  scripts/pylib/twister/twisterlib/harness.py
  scripts/pylib/twister/twisterlib/runner.py
  scripts/pylib/twister/twisterlib/testinstance.py
  scripts/pylib/twister/twisterlib/testsuite.py
  scripts/tests/twister/test_errors.py
  scripts/tests/twister/test_handlers.py
Labels: area: Twister

#77910 arch: riscv: fatal: always print `mcause` & `mtval`, make `cause_str()` reusable
  arch/riscv/core/fatal.c
Labels: area: RISCV

#77746 tests: Bluetooth: Run Audio BSIM test on nrf5340bsim
  samples/bluetooth/hci_ipc/nrf5340_cpunet_iso-bt_ll_sw_split.conf
  tests/bsim/bluetooth/audio/Kconfig.sysbuild
  tests/bsim/bluetooth/audio/compile.sh
  tests/bsim/bluetooth/audio/overlay-bt_ll_sw_split.conf
  tests/bsim/bluetooth/audio/prj.conf
  tests/bsim/bluetooth/audio/src/bap_unicast_server_test.c
  tests/bsim/bluetooth/audio/sysbuild.cmake
  tests/bsim/bluetooth/audio/test_scripts/cap_broadcast_ac_14.sh
  tests/bsim/bluetooth/compile.nrf5340bsim_nrf5340_cpuapp.sh
  tests/bsim/bluetooth/tests.nrf5340bsim_nrf5340_cpuapp.txt
Labels: area: Bluetooth, area: Samples, area: Bluetooth Host, area: Bluetooth Audio, platform: nRF BSIM

#76889 ci: elasticsearch: Upload script improvements
  scripts/ci/upload_test_results_es.py
Labels: area: Continuous Integration

#76173 usb: cdc_acm: Fix tx false data drop logging
  subsys/usb/device/class/cdc_acm.c
Labels: area: USB

#78152 maintainers: add kartben as Documentation Infrastructure maintainer
  MAINTAINERS.yml
Labels: area: Process, Trivial, size: XS

#78057 Intel: ADSP: move HPSRAM mask into assembly
  soc/intel/intel_adsp/ace/asm_memory_management.h
  soc/intel/intel_adsp/ace/power.c
  soc/intel/intel_adsp/ace/power_down.S
Labels: platform: Intel ADSP

#78054 soc: nrf: Update systemoff sequence for nRF54L15
  soc/nordic/common/poweroff.c
Labels: platform: nRF

#77969 bluetooth: AVDTP: Check buffer len before pulling data
  subsys/bluetooth/host/classic/avdtp.c
Labels: area: Bluetooth, area: Bluetooth Classic

#77481 Bluetooth: ISO: Update includes for ISO files
  include/zephyr/bluetooth/iso.h
  subsys/bluetooth/host/iso.c
  subsys/bluetooth/host/iso_internal.h
Labels: area: Bluetooth, area: Bluetooth Host, area: Bluetooth ISO

#77192 shell: rename `shell_xxx_impl` wrapper functions to `shell_fprintf_xxx`
  include/zephyr/shell/shell.h
  subsys/net/lib/shell/net_shell_private.h
  subsys/shell/shell.c
Labels: area: Networking, area: Shell

#75472 espressif: clean up unused code
  drivers/adc/adc_esp32.c
  drivers/clock_control/clock_control_esp32.c
  drivers/dma/dma_esp32_gdma.c
  drivers/flash/flash_esp32.c
  drivers/gpio/gpio_esp32.c
  drivers/i2c/i2c_esp32.c
  drivers/pwm/pwm_led_esp32.c
  drivers/pwm/pwm_mc_esp32.c
  drivers/regulator/regulator_axp192.c
  drivers/sensor/espressif/esp32_temp/esp32_temp.c
  drivers/sensor/espressif/pcnt_esp32/pcnt_esp32.c
  drivers/serial/serial_esp32_usb.c
  drivers/serial/uart_esp32.c
  drivers/spi/spi_esp32_spim.c
  drivers/watchdog/wdt_esp32.c
  drivers/wifi/esp32/src/esp_wifi_drv.c
  soc/espressif/common/loader.c
  soc/espressif/esp32/esp32-mp.c
  soc/espressif/esp32/soc_appcpu.c
  soc/espressif/esp32s3/esp32s3-mp.c
  soc/espressif/esp32s3/soc_appcpu.c
  west.yml
Labels: platform: ESP32, manifest, manifest-hal_espressif

#74235 pm: policy: low latency events handling
  include/zephyr/pm/policy.h
  subsys/pm/pm.c
  subsys/pm/policy.c
  tests/subsys/pm/policy_api/src/main.c
Labels: area: Power Management

#73164 drivers: sensor: add apds9253 driver
  drivers/sensor/CMakeLists.txt
  drivers/sensor/Kconfig
  drivers/sensor/apds9253/CMakeLists.txt
  drivers/sensor/apds9253/Kconfig
  drivers/sensor/apds9253/apds9253.c
  drivers/sensor/apds9253/apds9253.h
  dts/bindings/sensor/avago,apds9253.yaml
  include/zephyr/dt-bindings/sensor/apds9253.h
  tests/drivers/build_all/sensor/i2c.dtsi
Labels: area: Sensors, area: Devicetree Binding

#78071 drivers: serial: ambiq uart update
  drivers/serial/uart_pl011_ambiq.h
Labels: area: UART, platform: Ambiq, size: XS

#78026 x86: skip printing args when unwinding stack
  arch/x86/core/fatal.c
Labels: area: X86

#77703 Bluetooth: conn: move auto-init procedures to system workqueue
  subsys/bluetooth/host/conn.c
  subsys/bluetooth/host/conn_internal.h
  subsys/bluetooth/host/hci_core.c
  subsys/bluetooth/host/hci_core.h
Labels: area: Bluetooth, area: Bluetooth Host

#78170 twister: fix dts path for module
  scripts/pylib/twister/twisterlib/environment.py
Labels: bug, Trivial, area: Twister, size: XS

#78118 MWDT: linker: fix regresion
  cmake/linker/arcmwdt/target.cmake
Labels: area: Build System, area: Toolchains, area: ARC, Hotfix

#78092 manifest: Update nRF hw models to latest
  west.yml
Labels: Trivial, manifest, manifest-nrf_hw_models, size: XS

#78081 manifest: Update hal_nordic with nrfx changes
  west.yml
Labels: manifest, manifest-hal_nordic, size: XS

#78065 arch: riscv: optionally stores a pointer to csf in `struct arch_esf`
  arch/riscv/Kconfig
  arch/riscv/core/isr.S
  arch/riscv/core/offsets/offsets.c
  doc/releases/release-notes-4.0.rst
  include/zephyr/arch/riscv/exception.h
Labels: area: RISCV, area: Architectures, Release Notes

#77950 drivers: display: stm32_ltdc: fix return value
  drivers/display/display_stm32_ltdc.c
Labels: platform: STM32, area: Display
