Repository zephyrproject-rtos/zephyr, pull requests merged in 2024-03, with the labels that each got.

#69605 ec_host_cmd: shi_ite: add missing include
  subsys/mgmt/ec_host_cmd/backends/ec_host_cmd_backend_shi_ite.c
Labels: Trivial, area: ec_host_cmd

#69339 drivers: sensor: adxl367: fix trigger support
  drivers/sensor/adxl367/adxl367_trigger.c
Labels: bug, area: Sensors, platform: ADI

#68752 drivers: ethernet: w5500: Add link status detection
  drivers/ethernet/eth_w5500.c
  drivers/ethernet/eth_w5500_priv.h
Labels: area: Ethernet

#67987 dts: bindings: spi: Add memory-region to nrf-spis
  dts/bindings/spi/nordic,nrf-spis.yaml
Labels: platform: nRF, Trivial, area: Devicetree Binding

#69613 boards: Raspberry Pi pico pwm led adjustment
  boards/raspberrypi/rpi_pico/rpi_pico.dts
  samples/basic/blinky_pwm/boards/rpi_pico.overlay
  samples/basic/blinky_pwm/sample.yaml
Labels: area: Samples, platform: Raspberry Pi Pico

#69660 hwmv2: scripts: ci: check_compliance: improve the "not sorted" command
  scripts/ci/check_compliance.py
Labels: area: Coding Guidelines, area: Continuous Integration

#69659 twister: add unit_testing soc and board
  scripts/pylib/twister/boards/unit/unit_testing/board.yml
  scripts/pylib/twister/soc/unit/unit_testing/soc.yml
  scripts/pylib/twister/twisterlib/testplan.py
Labels: area: Twister

#69556 tests: kernel/cache: Do not invd the whole cache
  tests/kernel/cache/src/test_cache_api.c
Labels: area: Kernel, area: Cache

#69086 samples: Bluetooth: Few fixups for USB data for broadcast audio sink
  samples/bluetooth/broadcast_audio_sink/prj.conf
  samples/bluetooth/broadcast_audio_sink/src/main.c
Labels: area: Bluetooth, area: Samples, area: Bluetooth Audio

#69654 doc: fix broken Sphinx by updating to Sphinx 5.0.2
  doc/conf.py
  scripts/requirements-doc.txt
Labels: LTS, Hotfix, area: Documentation Infrastructure

#69674 scripts: utils: board_v1_to_v2: drop board_legacy prefix
  scripts/utils/board_v1_to_v2.py
Labels: Trivial

#69561 Blutooth: controller: Implement ISO test mode for sync receiver
  subsys/bluetooth/controller/ll_sw/lll_sync_iso.h
  subsys/bluetooth/controller/ll_sw/ull_conn_iso.c
  subsys/bluetooth/controller/ll_sw/ull_iso.c
  subsys/bluetooth/controller/ll_sw/ull_iso_types.h
  subsys/bluetooth/controller/ll_sw/ull_sync_iso.c
  subsys/bluetooth/controller/ll_sw/ull_sync_iso_internal.h
Labels: area: Bluetooth, area: Bluetooth Controller

#69687 hwmv2: MAINTAINERS: Fix NXP maintainer yaml
  MAINTAINERS.yml
Labels: area: Process

#69620 release: add v2.7.6 release notes
  doc/releases/release-notes-2.7.rst
Labels: area: Documentation, Release Notes

#69698 release: Zephyr 2.7.6
  VERSION
Labels: LTS

#69628 doc: release: update eol for ltsv2 to 2025-01-26
  doc/releases/index.rst
Labels: area: Documentation, LTS

#69704 ci: doc-publish: Publish API coverage docs only when available
  .github/workflows/doc-publish-pr.yml
  .github/workflows/doc-publish.yml
Labels: area: Continuous Integration

#69665 subsys/net/conn_mgr: set a thread name
  subsys/net/conn_mgr/conn_mgr_monitor.c
Labels: area: Networking, Trivial

#69581 modules: hal_nordic: remove weak nrf_802154_clock_hfclk_ready
  modules/hal_nordic/nrf_802154/sl_opensource/platform/nrf_802154_clock_zephyr.c
Labels: platform: nRF

#69573 Bluetooth: ISO: Add CONFIG_BT_ISO_{RX/TX}
  subsys/bluetooth/Kconfig
  subsys/bluetooth/Kconfig.iso
  subsys/bluetooth/host/buf.c
  subsys/bluetooth/host/conn.c
  subsys/bluetooth/host/hci_core.c
  subsys/bluetooth/host/iso.c
  subsys/bluetooth/shell/iso.c
Labels: area: Bluetooth, area: Bluetooth Host

#69482 kernel: move priority queue handling to own file/header
  include/zephyr/kernel/internal/sched_priq.h
  include/zephyr/kernel_includes.h
  include/zephyr/kernel_structs.h
  kernel/CMakeLists.txt
  kernel/include/priority_q.h
  kernel/include/wait_q.h
  kernel/priority_queues.c
  kernel/sched.c
Labels: area: Kernel

#69519 buildsystem: Enable LTO also for the application
  CMakeLists.txt
  lib/libc/newlib/CMakeLists.txt
  lib/libc/picolibc/CMakeLists.txt
Labels: area: Build System, area: C Library

#63664 samples: usb: mass Raspberry Pi Pico Support
  samples/subsys/usb/mass/boards/rpi_pico.overlay
Labels: area: USB, area: Samples, platform: Raspberry Pi Pico

#69713 tests: drivers/flash: fix suite identifier
  tests/drivers/flash/common/testcase.yaml
Labels: area: Flash, Hotfix, Trivial

#69242 samples: http_get: move 'not CONFIG_NATIVE_LIBC' filter to POSIX build
  samples/net/sockets/http_get/sample.yaml
Labels: area: Networking, area: Samples, area: Sockets, hwmv2-likely-conflict

#69635 MAINTAINERS: Add decsny to ADC collaborator
  MAINTAINERS.yml
Labels: area: Process, Trivial

#69502 stm32 watchdog testing on stm32c031 nucleo board
  samples/drivers/watchdog/sample.yaml
Labels: area: GPIO, area: Samples, area: Watchdog, platform: STM32, area: Clock Control, area: Devicetree Binding, hwmv2-likely-conflict

#69670 ci: fix doc workflow on schedule
  .github/workflows/doc-build.yml
Labels: Trivial, area: Continuous Integration

#69727 soc: nxp: fix duplicate SOC_MIMX8MP definition
  soc/nxp/imx/imx8m/Kconfig.soc
Labels: Trivial, platform: NXP MPU

#69723 doc: porting: Add a section on the new hardware model
  doc/hardware/porting/board_porting.rst
  doc/releases/migration-guide-3.7.rst
Labels: Release Notes

#69324 boards: nrf54l15pdk_nrf54l15 support west attach
  boards/nordic/nrf54l15pdk/board.cmake
Labels: platform: nRF

#69600 Bluetooth: Mesh: Fix dev key selection in SAR Cfg Client
  subsys/bluetooth/mesh/sar_cfg_cli.c
Labels: area: Bluetooth, area: Bluetooth Mesh

#69591 Bluetooth: HFP: Fix session pointer invalid issue
  subsys/bluetooth/host/hfp_hf.c
  subsys/bluetooth/host/hfp_internal.h
Labels: area: Bluetooth, area: Bluetooth Host, area: Bluetooth Classic

#69589 shell: fix shell_stop command
  subsys/shell/shell.c
Labels: area: Shell

#68876 input: kbd_matrix: skip column with empty mask
  drivers/input/input_kbd_matrix.c
Labels: area: Input

#69535 drivers: clock_control: Fix STM32H5 MCO2 support
  drivers/clock_control/Kconfig.stm32
Labels: platform: STM32, area: Clock Control, Trivial

#69760 doc: porting: HW model: fix an issue link
  doc/hardware/porting/board_porting.rst
Labels: Hotfix, Trivial

#64792 hwmv2: sysbuild: include HWMv2 Kconfig in sysbuild
  share/sysbuild/CMakeLists.txt
  share/sysbuild/Kconfig
  share/sysbuild/Kconfig.v1
  share/sysbuild/Kconfig.v2
Labels: area: Build System, area: Kconfig, area: West, area: Coding Guidelines, area: Continuous Integration, area: Documentation Infrastructure, area: Sysbuild, area: Board/SoC configuration

#69744 snippets: nordic-ppr-ram: fix board identifier
  snippets/nordic-ppr-ram/snippet.yml
Labels: bug, area: Build System, Trivial

#69688 MAINTAINERS: add myself as riscv collaborator
  MAINTAINERS.yml
Labels: area: Process, area: RISCV, Trivial

#69685 MAINTAINERS: Add pdgendt as networking collaborator
  MAINTAINERS.yml
Labels: area: Networking, area: Process, Trivial

#69666 maintainers: Update Arm maintainer and collabs
  MAINTAINERS.yml
Labels: area: Process

#69741 maintainers: Update Kconfig paths
  MAINTAINERS.yml
Labels: area: Process, Trivial

#69768 soc: nxp: Fix issues caught in CI from HWMv2 port
  soc/nxp/imxrt/imxrt10xx/lpm_rt1064.c
  soc/nxp/imxrt/imxrt11xx/power.c
Labels: bug, platform: NXP, Hotfix, Trivial

#69758 x86: revert removing soc.h from atom soc
  arch/x86/core/early_serial.c
  drivers/counter/counter_cmos.c
  drivers/disk/nvme/nvme_controller.c
  drivers/timer/hpet.c
  soc/intel/atom/soc.h
  subsys/bluetooth/host/hci_core.c
Labels: area: Bluetooth, area: X86, area: Counter, area: Timer, Hotfix, area: Disk Access, area: Bluetooth Host, platform: X86, HWMv2

#69636 input: pat912x: add a bunch of settings
  drivers/input/input_pat912x.c
  dts/bindings/input/pixart,pat912x.yaml
  include/zephyr/input/input_pat912x.h
  tests/drivers/build_all/input/app.overlay
Labels: area: Devicetree Binding, area: Input

#69539 cmake: Set memusage property for lld
  cmake/linker/lld/linker_flags.cmake
Labels: area: Build System, area: Toolchains

#69286 tests: bluetooth: tester: add nrf54l15 configs
  tests/bluetooth/tester/boards/nrf54l15pdk_nrf54l15_cpuapp.conf
  tests/bluetooth/tester/boards/nrf54l15pdk_nrf54l15_cpuapp.overlay
Labels: area: Bluetooth

#67045 soc/arm/renesas_rzt2m: set default System Clock Control register values
  dts/arm/renesas/rz/rzt2m.dtsi
  soc/renesas/rzt2m/soc.c
  soc/renesas/rzt2m/soc.h
Labels: bug, platform: Renesas R-Car, platforms: Renesas, platforms: Renesas RZ

#69641 nvs: improve nvs_flash_cmp_const()
  subsys/fs/nvs/nvs.c
Labels: area: File System

#67732 doc: develop: test: Blackbox explanation
  doc/develop/test/index.rst
  doc/develop/test/twister/sample_blackbox_test.py
  doc/develop/test/twister/twister_blackbox.rst
Labels: area: Documentation

#68543 scripts: tests: Blackbox test expansion - shuffle
  scripts/tests/twister_blackbox/test_shuffle.py
Labels: area: Twister

#69084 scripts: tests: Blackbox test expansion - footprint
  scripts/tests/twister_blackbox/test_footprint.py
Labels: area: Twister

#69750 tracing: segger-sysview: fix compilation error
  subsys/tracing/sysview/tracing_sysview.h
Labels: Trivial, area: Tracing

#68624 CI: Add Coverage Analysis
  .github/workflows/codecov.yaml
  scripts/ci/coverage/coverage_analysis.py
Labels: area: Continuous Integration

#67595 twister: qemu: add QEMU support on Windows in twister
  scripts/pylib/twister/twisterlib/handlers.py
  scripts/pylib/twister/twisterlib/testinstance.py
  scripts/tests/twister/test_testinstance.py
Labels: area: Twister

#69344 drivers: dai: sai: use TDR/RDR for fifo base address computation
  drivers/dai/nxp/sai/sai.h
Labels: area: DAI

#69777 MAINTAINERS: Fix username typo on NXP MPU
  MAINTAINERS.yml
Labels: bug, area: Process, Trivial, platform: NXP MPU

#68614 drivers: display: Add LED-Strip matrix display driver
  drivers/display/CMakeLists.txt
  drivers/display/Kconfig
  drivers/display/Kconfig.led_strip_matrix
  drivers/display/display_led_strip_matrix.c
  dts/bindings/display/led-strip-matrix.yaml
  tests/drivers/build_all/display/app.overlay
Labels: area: Display, area: Devicetree Binding

#68650 scripts: tests: Blackbox test expansion - output
  scripts/tests/twister_blackbox/test_output.py
Labels: area: Twister

#68655 scripts: tests: Blackbox test expansion - outfile
  scripts/tests/twister_blackbox/conftest.py
  scripts/tests/twister_blackbox/test_data/samples/hello_world/CMakeLists.txt
  scripts/tests/twister_blackbox/test_data/samples/hello_world/prj.conf
  scripts/tests/twister_blackbox/test_data/samples/hello_world/src/main.c
  scripts/tests/twister_blackbox/test_data/samples/hello_world/test_sample.yaml
  scripts/tests/twister_blackbox/test_outfile.py
Labels: area: Twister

#68561 scripts: tests: Blackbox test expansion - quarantine
  scripts/tests/twister_blackbox/test_quarantine.py
  scripts/tests/twister_blackbox/test_runner.py
Labels: area: Twister

#68477 scripts: tests: Blackbox test expansion - testlist
  scripts/tests/twister_blackbox/test_testlist.py
Labels: area: Twister

#68984 script: tests: Blackbox test expansion - report
  scripts/tests/twister_blackbox/test_report.py
Labels: area: Twister

#69032 Bluetooth Host: HCI_RESERVE settings for G24-DK2601B
  subsys/bluetooth/host/Kconfig
Labels: area: Bluetooth, platform: SiLabs, Trivial, area: Bluetooth Host

#68759 dts: bindings: nxp,edma: force dma-cells number to 2
  dts/bindings/dma/nxp,edma.yaml
Labels: area: Devicetree Binding, platform: NXP Drivers

#69683 tests: latency_measure: Add k_stack object support
  tests/benchmarks/latency_measure/README.rst
  tests/benchmarks/latency_measure/src/main.c
  tests/benchmarks/latency_measure/src/stack.c
Labels: area: Benchmarks

#69797 manifest: remove .git suffixes from repo-paths
  west.yml
Labels: Trivial

#69427 [backport v3.5-branch] drivers: can: mcan: fix handling of bus-off status events
  drivers/can/can_mcan.c
Labels: area: CAN, Backport

#69799 ci: codecov: fix platform names for hwmv2
  .github/workflows/codecov.yaml
Labels: Hotfix, area: Continuous Integration

#68661 boards: mps2_an521: Fix qemu error on Windows
  boards/arm/mps2/board.cmake
Labels: platform: ARM

#69803 net: ip: Fix for improper offset return by `net_pkt_find_offset()`
  subsys/net/ip/net_pkt.c
Labels: area: Networking, Trivial, backport v2.7-branch, backport v3.5-branch, backport v3.6-branch

#69804 MAINTAINERS: remove inactive CAN collaborator
  MAINTAINERS.yml
Labels: area: Process, Trivial

#69822 it8xxx2_evb: use correct SoC
  boards/ite/it8xxx2_evb/Kconfig.it8xxx2_evb
  boards/ite/it8xxx2_evb/board.yml
Labels: Hotfix, Trivial, platform: ITE, HWMv2

#69295 net: Add more specific dependencies for specialized samples
  samples/net/dsa/sample.yaml
  samples/net/gptp/sample.yaml
  samples/net/lldp/sample.yaml
  samples/net/openthread/coprocessor/sample.yaml
  samples/net/vlan/sample.yaml
Labels: area: Networking, area: Samples, area: OpenThread

#69796 twister: normalize platform name when packaging
  scripts/pylib/twister/twisterlib/package.py
Labels: Hotfix, area: Twister, HWMv2

#67911 drivers: spi: nrf: Add new SPIS instances
  drivers/spi/Kconfig.nrfx
  drivers/spi/spi_nrfx_spis.c
  modules/hal_nordic/nrfx/Kconfig
  modules/hal_nordic/nrfx/nrfx_config.h
  soc/nordic/common/Kconfig.peripherals
Labels: area: SPI, platform: nRF, area: Devicetree Binding

#69485 net: lib: Add debug for sockets total and owner
  subsys/net/lib/sockets/sockets_service.c
Labels: area: Networking, area: Sockets

#69571 Bluetooth: Mesh: Prevent duplicate cdb appkeys
  include/zephyr/bluetooth/mesh/cdb.h
  subsys/bluetooth/mesh/cdb.c
Labels: area: Bluetooth, area: Bluetooth Mesh

#69690 x86: prefix x86 SSBD and IBRS related kconfigs with X86
  arch/x86/Kconfig
  arch/x86/core/spec_ctrl.c
  doc/releases/migration-guide-3.7.rst
Labels: area: X86, Release Notes

#69725 Bluetooth: Mesh: Add missing model extensions
  subsys/bluetooth/mesh/Kconfig
Labels: area: Bluetooth, area: Bluetooth Mesh

#69829 boards: espressif: esp32s3_devkitm: Correct filename typo
  boards/espressif/esp32s3_devkitm/esp32s3_devkitm_esp32s3_procpu.yaml
Labels: platform: ESP32, Trivial

#68410 logging: Add option to not generate dictionary database always
  CMakeLists.txt
  subsys/logging/Kconfig.misc
Labels: area: Build System, area: Logging

#69664 lib/os/printk.c: use ARG_UNUSED() for char_out()
  lib/os/printk.c
Labels: Trivial, area: Base OS

#69722 input: add a pmw3610 driver
  drivers/input/CMakeLists.txt
  drivers/input/Kconfig
  drivers/input/Kconfig.pmw3610
  drivers/input/input_pmw3610.c
  dts/bindings/input/pixart,pmw3610.yaml
  tests/drivers/build_all/input/app.overlay
Labels: area: Devicetree Binding, area: Input

#69540 kernel/userspace: Fix dynamic thread stack allocation at userspace
  kernel/userspace.c
  tests/kernel/threads/dynamic_thread_stack/prj.conf
  tests/kernel/threads/dynamic_thread_stack/src/main.c
Labels: area: Kernel, area: Userspace

#69756 drivers: can: minor improvements to internal timing calculation code
  drivers/can/can_common.c
Labels: area: CAN

#69837 scripts/check_compliance: pass --no-ext-diff to git diff
  scripts/ci/check_compliance.py
Labels: Trivial, area: Coding Guidelines, area: Continuous Integration

#69560 ec_host_cmd: introduce Host Command state
  include/zephyr/mgmt/ec_host_cmd/ec_host_cmd.h
  subsys/mgmt/ec_host_cmd/ec_host_cmd_handler.c
Labels: In progress, area: ec_host_cmd

#68696 boards: arm: rpi_pico: Add default serial for connector definition
  boards/raspberrypi/rpi_pico/rpi_pico-common.dtsi
Labels: Trivial, platform: Raspberry Pi Pico

#69381 logging: support using real time as timestamp
  subsys/logging/Kconfig.processing
  subsys/logging/log_core.c
Labels: area: Logging

#69762 modules: crypto: update tinycrypt revision
  west.yml
Labels: manifest, manifest-tinycrypt

#69763 doc: migration-guide-3.7: Add IPv4 netmask information
  doc/releases/migration-guide-3.7.rst
Labels: area: Networking, Release Notes

#69843 sys: Include sys/util.h header in sys/atomic.h
  include/zephyr/sys/atomic.h
Labels: Trivial, area: Base OS

#69864 drivers/disk: make name field in struct disk_info const
  include/zephyr/drivers/disk.h
Labels: Trivial, area: Disk Access

#69889 samples: pong: k_thread_foreach needs CONFIG_THREAD_MONITOR
  samples/boards/bbc_microbit/pong/src/main.c
Labels: area: Samples, Hotfix

#69861 adc: Use int64_t in voltage divider calculation to avoid overflow
  include/zephyr/drivers/adc/voltage_divider.h
Labels: area: ADC, Trivial

#69776 boards: nxp: set correct rimage target for ADSP
  boards/nxp/imx8qm_mek/board.cmake
  boards/nxp/imx8qxp_mek/board.cmake
Labels: platform: NXP MPU

#69738 Bluetooth: ATT: lock scheduler when sending from user thread
  subsys/bluetooth/host/att.c
Labels: bug, area: Bluetooth, area: Bluetooth Host

#68678 Bluetooth samples: Add USE_SPECIFIC_BROADCAST_CHANNEL Kconfig
  samples/bluetooth/broadcast_audio_sink/Kconfig
  samples/bluetooth/broadcast_audio_sink/src/main.c
Labels: area: Bluetooth, area: Samples

#67359 Bluetooth: tester: Add support for BTP_GAP_SET_POWERED command
  tests/bluetooth/tester/src/btp_gap.c
Labels: area: Bluetooth

#69245 Bluetooth: Controller: Remove experimental from LE Set Host Feature
  subsys/bluetooth/controller/Kconfig
Labels: area: Bluetooth, area: Bluetooth Controller

#69574 Bluetooth: BAP: Apply missing guards for Kconfig values
  include/zephyr/bluetooth/audio/audio.h
  subsys/bluetooth/audio/Kconfig.bap
  subsys/bluetooth/audio/shell/audio.h
  subsys/bluetooth/audio/shell/bap.c
  tests/bluetooth/shell/testcase.yaml
Labels: area: Bluetooth, area: Bluetooth Audio

#69616 Bluetooth: Controller: Fix per adv interval value check
  subsys/bluetooth/controller/hci/hci.c
Labels: area: Bluetooth, area: Bluetooth Controller

#69729 LE Audio: bt_bap_broadcast_sink_cb.syncable should provide the BIGInfo
  include/zephyr/bluetooth/audio/bap.h
  samples/bluetooth/broadcast_audio_sink/src/main.c
  samples/bluetooth/public_broadcast_sink/src/main.c
  samples/bluetooth/tmap_bmr/src/bap_broadcast_sink.c
  subsys/bluetooth/audio/bap_broadcast_sink.c
  subsys/bluetooth/audio/shell/bap.c
  tests/bluetooth/tester/src/btp_bap_broadcast.c
  tests/bsim/bluetooth/audio/src/bap_broadcast_sink_test.c
  tests/bsim/bluetooth/audio/src/cap_acceptor_test.c
  tests/bsim/bluetooth/audio/src/pbp_public_broadcast_sink_test.c
Labels: area: Bluetooth, area: Samples, area: Bluetooth Audio

#69893 doc: arch: fix typo in arm_cortex_m.rst
  doc/hardware/arch/arm_cortex_m.rst
Labels: area: ARM, Trivial

#69887 ci: twister: increase matrix size for push jobs
  .github/workflows/twister.yaml
Labels: Trivial, area: Continuous Integration

#69795 github: upgrade all setup-python actions to v5
  .github/workflows/devicetree_checks.yml
  .github/workflows/hello_world_multiplatform.yaml
  .github/workflows/pylib_tests.yml
  .github/workflows/scripts_tests.yml
  .github/workflows/twister_tests.yml
  .github/workflows/twister_tests_blackbox.yml
  .github/workflows/west_cmds.yml
Labels: area: Continuous Integration

#69918 drivers: input: Fix uninitialized closest_mv variable warning
  drivers/input/input_adc_keys.c
Labels: bug, Trivial, area: Input

#68933 Set name for acquisition thread of MCP320x
  drivers/adc/adc_mcp320x.c
Labels: area: ADC

#69907 drivers: modem_cellular: allow leaving out the chat_filter parameter
  drivers/modem/modem_cellular.c
Labels: Trivial, area: Modem Drivers

#69903 tests: llext: Set min_ram requirement for readonly_mpu variant
  tests/subsys/llext/hello_world/testcase.yaml
Labels: Trivial, area: Linkable Loadable Extensions

#69816 doc: drivers: gpio: detail scancodes from example
  dts/bindings/gpio/zephyr,gpio-emul-sdl.yaml
Labels: area: Devicetree Binding

#69888 net: zperf: Fix multicast data failure to receive server's AckFIN packet
  subsys/net/lib/zperf/zperf_udp_uploader.c
Labels: area: Networking

#69067 sched: finalize_cancel_locked can early return
  kernel/work.c
Labels: area: Kernel, Trivial

#69798 MAINTAINERS: Add NXP DAI maintainer and collabs
  MAINTAINERS.yml
Labels: area: Process

#69340 samples: Bluetooth: Broadcast sink: Add proper parsing decoding of LC3 data
  samples/bluetooth/broadcast_audio_sink/src/main.c
Labels: area: Bluetooth, area: Samples, area: Bluetooth Audio

#69879 west.yml: mcuboot: update espressif entries for hwmv2
  west.yml
Labels: manifest, manifest-mcuboot

#69841 net: lib: shell: Fix IPv6 neighbor build
  subsys/net/lib/shell/nbr.c
Labels: area: Networking

#68845 MAINTAINERS: Add self to LED strip as collaborator
  MAINTAINERS.yml
Labels: area: Process, Trivial

#69783 kconfig: shell: increase shell stack size for OpenThread
  subsys/shell/Kconfig
Labels: area: Shell, Trivial

#69077 boards: thingy52: deprecate board
  boards/nordic/thingy52/doc/index.rst
Labels: platform: nRF

#69933 boards: silabs: fix typo
  boards/silabs/index.rst
Labels: platform: SiLabs, Trivial

#69850 net: sockets: packet: Ignore the packet type if LL address is not set
  subsys/net/lib/sockets/sockets_packet.c
Labels: area: Networking, area: Sockets

#69867 drivers: Bluetooth: HCI: Reduce logging of No available ISO buffers
  drivers/bluetooth/hci/ipc.c
Labels: area: Bluetooth, area: Bluetooth Host

#69869 drivers: eth: esp32: support setting mac address during runtime
  drivers/ethernet/eth_esp32.c
Labels: area: Ethernet, platform: ESP32

#69648 ite/it8xxx2: add support for jtag debug interface
  soc/ite/ec/common/chip_chipregs.h
  soc/ite/ec/common/vector.S
  soc/ite/ec/it8xxx2/Kconfig
Labels: area: RISCV, platform: ITE

#69873 soc: intel_adsp/ace: use CONFIG_XTENSA_MORE_SPIN_RELAX_NOPS
  soc/intel/intel_adsp/ace/Kconfig.defconfig.series
Labels: platform: Intel ADSP

#69874 net: dhcpv4: Network interface netmask was set too early
  include/zephyr/net/net_if.h
  subsys/net/lib/dhcpv4/dhcpv4.c
Labels: area: Networking

#69877 kernel: timeout: optimize z_timeout_expires()
  kernel/timeout.c
Labels: area: Kernel

#69964 MAINTAINERS: associate lorawan tests with area
  MAINTAINERS.yml
Labels: area: Process, Trivial

#69967 drivers counter nrfx RTC: Fix ISR prototype
  drivers/counter/counter_nrfx_rtc.c
Labels: area: Counter, platform: nRF, Trivial

#69689 llext: Rework hello_world test case to be simple
  cmake/compiler/gcc/target_arm.cmake
  subsys/logging/log_minimal.c
  tests/subsys/llext/hello_world/CMakeLists.txt
  tests/subsys/llext/hello_world/src/test/test_llext_simple.c
  tests/subsys/llext/simple/CMakeLists.txt
  tests/subsys/llext/simple/Kconfig
  tests/subsys/llext/simple/prj.conf
  tests/subsys/llext/simple/src/hello_world_ext.c
  tests/subsys/llext/simple/src/logging_ext.c
  tests/subsys/llext/simple/src/test_llext_simple.c
  tests/subsys/llext/simple/testcase.yaml
Labels: area: Build System, area: Toolchains, area: Logging, area: Linkable Loadable Extensions

#69870 Bluetooth: BAP: Add input validation for bt_bap_ep_get_info
  include/zephyr/bluetooth/audio/bap.h
  subsys/bluetooth/audio/bap_stream.c
Labels: area: Bluetooth, Trivial, area: Bluetooth Audio

#69885 samples: bluetooth: peripheral_esp: remove magic numbers in example
  samples/bluetooth/peripheral_esp/src/main.c
Labels: area: Bluetooth, area: Samples

#69043 Bluetooth: BAP: BA: Add additional PAST log in past_available
  subsys/bluetooth/audio/bap_broadcast_assistant.c
Labels: area: Bluetooth, Trivial, area: Bluetooth Audio

#68969 Bluetooth: BAP: Shell: Modify bcast sink streams to use shell_stream
  subsys/bluetooth/audio/shell/bap.c
Labels: area: Bluetooth, area: Bluetooth Audio

#67917 LE Audio shell better LTV prints
  doc/connectivity/bluetooth/api/shell/bap.rst
  subsys/bluetooth/audio/shell/audio.h
  subsys/bluetooth/audio/shell/bap.c
Labels: area: Bluetooth, area: Bluetooth Audio

#69979 posix: syslog: Fix uninitialized variable error
  lib/posix/options/syslog.c
Labels: area: POSIX

#69679 Bluetooth: Mesh: make models metadata const
  doc/releases/migration-guide-3.7.rst
  include/zephyr/bluetooth/mesh/access.h
  include/zephyr/bluetooth/mesh/health_srv.h
  subsys/bluetooth/mesh/access.c
  subsys/bluetooth/mesh/shell/shell.c
  tests/bluetooth/tester/src/btp_mesh.c
  tests/bsim/bluetooth/mesh/src/test_lcd.c
Labels: area: Bluetooth, area: API, Release Notes, area: Bluetooth Mesh, Breaking API Change

#69894 logging: fix typo in include file log_msg.h
  include/zephyr/logging/log_msg.h
Labels: area: Logging, Trivial

#69963 scripts: snippets: Fix path output on windows
  scripts/snippets.py
Labels: bug, Trivial, backport v3.5-branch, backport v3.6-branch

#69960 boards: nordic: nrf54h20pdk: add debugging support using J-Link
  boards/nordic/nrf54h20pdk/board.cmake
  boards/nordic/nrf54h20pdk/support/nrf54h20_cpurad.JLinkScript
Labels: platform: nRF

#69940 arch: arm64: correct a comment on CONFIG_ARM64_STACK_PROTECTION
  arch/arm64/core/cortex_r/arm_mpu.c
Labels: Trivial, area: ARM64

#70004 tests: drivers: can: shell: skip dtiming test if CAN FD is not enabled
  tests/drivers/can/shell/src/main.c
Labels: area: CAN, Trivial

#69871 drivers: adc: stm32: disable ADC before writing oversampling bits for g0
  drivers/adc/adc_stm32.c
Labels: area: ADC, platform: STM32

#69702 dts: stm32h723.dtsi: fix timers23 address format warning
  dts/arm/st/h7/stm32h723.dtsi
Labels: platform: STM32, Trivial, area: Devicetree Binding

#68366 adsp: power: make needlessly global assembly functions static
  soc/intel/intel_adsp/ace/power.c
  soc/intel/intel_adsp/cavs/power.c
  soc/intel/intel_adsp/common/multiprocessing.c
Labels: area: Kernel, platform: Intel ADSP

#68593 dts: arm: stm32h7 MPU attribute for the external Memory
  dts/arm/st/h7/stm32h7.dtsi
  dts/arm/st/h7/stm32h7a3.dtsi
Labels: platform: STM32

#69423 boards: arm: sensortile_box_pro: init CDC_ACM console only if present.
  boards/st/sensortile_box_pro/board.c
Labels: area: Boards, area: Console, platform: STM32
