Repository zephyrproject-rtos/zephyr, pull requests merged in 2024-08, with the labels that each got.

#75310 boards: shields: Allow adding source code to shields
  boards/CMakeLists.txt
  boards/shields/CMakeLists.txt
Labels: area: Shields

#75648 boards: st: stm32h750 disco kit rd/wr the sdram2
  boards/st/stm32h750b_dk/stm32h750b_dk.dts
  boards/st/stm32h750b_dk/stm32h750b_dk.yaml
Labels: platform: STM32, size: XS

#76156 usb: device_next: hid: move few pointer to a config struct
  subsys/usb/device_next/class/usbd_hid.c
Labels: area: USB

#76246 boards: shields: Add support for Mikroe BLE TINY Click shield
  boards/shields/mikroe_ble_tiny_click/Kconfig.defconfig
  boards/shields/mikroe_ble_tiny_click/Kconfig.shield
  boards/shields/mikroe_ble_tiny_click/doc/ble-tiny-click.webp
  boards/shields/mikroe_ble_tiny_click/doc/da14531-hci-binary.webp
  boards/shields/mikroe_ble_tiny_click/doc/index.rst
  boards/shields/mikroe_ble_tiny_click/mikroe_ble_tiny_click.overlay
Labels: area: Shields

#76273 drivers: input: cst816s: Configure before enabling interrupts on init
  drivers/input/input_cst816s.c
Labels: area: Input

#76329 boards: st: sensortile_box_pro: remove hts221 sensor
  boards/st/sensortile_box_pro/doc/index.rst
  boards/st/sensortile_box_pro/sensortile_box_pro.dts
  samples/boards/sensortile_box_pro/sensors-on-board/README.rst
  samples/boards/sensortile_box_pro/sensors-on-board/prj.conf
  samples/boards/sensortile_box_pro/sensors-on-board/src/main.c
Labels: area: Boards, area: Sensors, area: Documentation, area: Samples, platform: STM32, backport v3.7-branch

#76346 arm64: linker: remove ARM32 remnants
  include/zephyr/arch/arm64/scripts/linker.ld
Labels: area: Architectures, area: ARM64

#76383 Fix Odroid Go boot error
  boards/hardkernel/odroid_go/Kconfig.defconfig
Labels: platform: ESP32, size: XS, backport v3.7-branch

#76406 drivers: hwinfo: add numaker for rmc-backed device id
  drivers/hwinfo/CMakeLists.txt
  drivers/hwinfo/Kconfig
  drivers/hwinfo/hwinfo_numaker_rmc.c
Labels: area: HWINFO, platform: Nuvoton Numicro Numaker

#76420 net: coap_client: allow application to add block2 option to requests
  doc/connectivity/networking/api/coap_client.rst
  include/zephyr/net/coap_client.h
  subsys/net/lib/coap/coap_client.c
Labels: area: Networking

#76421 Bluetooth: DIS: integrate app version into FW revision characteristic
  subsys/bluetooth/services/Kconfig.dis
Labels: area: Bluetooth, area: Bluetooth Host

#76425 tests: bluetooth: tester: Enable DIS service
  tests/bluetooth/tester/prj.conf
Labels: area: Bluetooth

#76439 doc: net: fix Sphinx C domain roles usage
  doc/connectivity/networking/api/net_l2.rst
  doc/connectivity/networking/conn_mgr/main.rst
Labels: area: Networking, area: Documentation

#76563 drivers: flash: stm32h7: Fix unused variable warning
  drivers/flash/flash_stm32h7x.c
Labels: area: Flash, platform: STM32, Hotfix

#76436 ci: doc-build: compress HTML docs more efficiently
  .github/workflows/doc-build.yml
Labels: area: Continuous Integration

#76568 debug: thread_analyzer: fix casting pointer to int warning
  subsys/debug/thread_analyzer.c
Labels: area: Debugging, Trivial, size: XS

#76567 debug: thread_analyzer: fix incorrect k_thread_foreach_unlocked argument
  subsys/debug/thread_analyzer.c
Labels: area: Debugging, Trivial

#76470 net: lwm2m: Always emit DISCONNECTED event
  subsys/net/lib/lwm2m/lwm2m_rd_client.c
Labels: area: LWM2M

#76463 net: wifi: Add iterable_sections header file
  subsys/net/l2/wifi/wifi_nm.ld
Labels: area: Networking, area: Wi-Fi

#76399 drivers/interrupt: it8xxx2: Register interrupt number 0 to handle
  drivers/interrupt_controller/intc_ite_it8xxx2.c
  drivers/interrupt_controller/intc_ite_it8xxx2_v2.c
Labels: area: Interrupt Controller, platform: ITE

#76323 lis2dux12: fix mode argument when setting odr
  drivers/sensor/st/lis2dux12/lis2dux12.c
Labels: bug, priority: low, area: Drivers, area: Sensors, area: Samples, area: Shields, size: XS, backport v3.7-branch

#75961 drivers: i2c_dw: Fixes #75463, interrupt routine for i2c target mode
  drivers/i2c/i2c_dw.c
Labels: area: I2C

#75154 tests: Bluetooth: Add multi-central robustness test
  tests/bsim/bluetooth/host/l2cap/compile.sh
  tests/bsim/bluetooth/host/l2cap/multilink_peripheral/CMakeLists.txt
  tests/bsim/bluetooth/host/l2cap/multilink_peripheral/Kconfig
  tests/bsim/bluetooth/host/l2cap/multilink_peripheral/prj.conf
  tests/bsim/bluetooth/host/l2cap/multilink_peripheral/src/central.c
  tests/bsim/bluetooth/host/l2cap/multilink_peripheral/src/data.h
  tests/bsim/bluetooth/host/l2cap/multilink_peripheral/src/dut.c
  tests/bsim/bluetooth/host/l2cap/multilink_peripheral/src/main.c
  tests/bsim/bluetooth/host/l2cap/multilink_peripheral/test_scripts/_compile.sh
  tests/bsim/bluetooth/host/l2cap/multilink_peripheral/test_scripts/run.sh
Labels: area: Bluetooth, area: Bluetooth Host, platform: nRF BSIM

#74448 soc: nordic: common: dmm: Initialize dmm as early as possible
  soc/nordic/common/dmm.c
  soc/nordic/common/dmm.h
  soc/nordic/nrf54h/soc.c
Labels: platform: nRF, size: XS

#76584 samples: fix adafruit_feather board name
  samples/drivers/spi_flash/boards/adafruit_feather_nrf52840_sense.conf
  samples/sensor/bme680/boards/adafruit_feather_nrf52840_sense.overlay
  samples/sensor/bme680/sample.yaml
  samples/subsys/usb/mass/README.rst
  samples/subsys/usb/mass/boards/adafruit_feather_nrf52840_sense.overlay
  samples/subsys/usb/mass/sample.yaml
Labels: area: Sensors, area: USB, area: Samples, Hotfix, size: XS

#76581 scripts: west_commands: build: Fix empty testcase
  scripts/west_commands/build.py
Labels: area: West, Trivial

#76580 tests: net: http_server: tls: Reduce test memory footprint
  tests/net/lib/http_server/tls/prj.conf
Labels: area: Networking, Hotfix

#76570 MAINTAINERS: Add ADI collaborators
  MAINTAINERS.yml
Labels: area: Process, Trivial

#76531 maintainers: Fixes for Renesas RA Platforms
  MAINTAINERS.yml
Labels: area: Process, Trivial

#76482 coredump: significantly increase efficiency for small write block sizes
  subsys/debug/coredump/Kconfig
  subsys/debug/coredump/coredump_backend_flash_partition.c
Labels: area: Debugging, size: XS

#76479 tests: flash: erase_blocks: Add support of flash program size > 128
  tests/drivers/flash/erase_blocks/src/main.c
Labels: area: Flash

#76459 tests: unit: list: test "safeness" of safe iteration
  tests/unit/list/slist.c
Labels: area: Utilities

#76201 coredump: use memmove instead of memcpy
  subsys/debug/coredump/coredump_backend_flash_partition.c
Labels: area: Debugging, size: XS

#76100 linker: section_tags: fix missing include
  include/zephyr/linker/section_tags.h
Labels: bug, area: Linker Scripts, size: XS, backport v3.7-branch

#75790 github: workflows: Update manifest action to detect impostor commits
  .github/workflows/manifest.yml
Labels: area: Continuous Integration

#68565 samples/soc_flash_nrf: Fix soc_flash_nrf doc and printfs
  samples/drivers/soc_flash_nrf/README.rst
Labels: area: Samples, area: Flash

#76488 drivers: adc: esp32: Fix calibration scheme for esp32s3
  drivers/adc/adc_esp32.c
Labels: area: ADC, platform: ESP32

#76608 ci: manifest: fix wrong version being used for action-manifest
  .github/workflows/manifest.yml
Labels: Hotfix, area: Continuous Integration, size: XS

#76525 dts: bindings: nordic: Require pinctrl-names together with pinctrl-0
  dts/bindings/audio/nordic,nrf-pdm.yaml
  dts/bindings/can/nordic,nrf-can.yaml
  dts/bindings/flash_controller/nordic,nrf-qspi.yaml
  dts/bindings/i2c/nordic,nrf-twi-common.yaml
  dts/bindings/i2s/nordic,nrf-i2s.yaml
  dts/bindings/pwm/nordic,nrf-pwm.yaml
  dts/bindings/sensor/nordic,nrf-qdec.yaml
  dts/bindings/serial/nordic,nrf-uart-common.yaml
  dts/bindings/spi/nordic,nrf-spi-common.yaml
Labels: area: SPI, area: I2C, area: PWM, area: UART, area: Sensors, area: Flash, platform: nRF, area: CAN, area: I2S

#76524 RV-8263-C8 change error to ENODATA in get time function
  drivers/rtc/rtc_rv8263.c
Labels: area: RTC, size: XS

#76507 doc: shields: Add section on using Source Code
  doc/hardware/porting/shields.rst
Labels: area: Documentation, area: Shields

#76518 drivers: i3c: common: Do not treat GETCAPS failure as error for 1.0 d…
  drivers/i3c/i3c_common.c
Labels: bug, area: I3C, size: XS, backport v3.7-branch

#76455 misc: move lorem ipsum text to zephyr/misc/lorem_ipsum.h
  include/zephyr/misc/lorem_ipsum.h
  samples/compression/lz4/src/main.c
  samples/net/sockets/echo_client/src/echo-client.c
  samples/net/sockets/packet/src/packet.c
  samples/net/sockets/websocket_client/src/main.c
  tests/drivers/ipm/src/main.c
  tests/net/lib/coap_client/src/main.c
  tests/net/lib/mqtt_pubsub/src/test_mqtt_pubsub.c
  tests/net/socket/websocket/src/main.c
  tests/net/tcp/src/main.c
Labels: area: Networking, area: Samples, area: Sockets, area: IPM

#76157 pm: refactor pm_device_driver_init
  include/zephyr/pm/device.h
  subsys/pm/device.c
Labels: area: Power Management

#75888 twister: Skip scanning non-ztest tests in Twister
  scripts/pylib/twister/twisterlib/runner.py
  scripts/pylib/twister/twisterlib/testplan.py
  scripts/pylib/twister/twisterlib/testsuite.py
  scripts/tests/twister/test_runner.py
Labels: area: Twister

#75863 doc: boards NXP VMU RT1170 remove broken links
  boards/nxp/vmu_rt1170/doc/index.rst
Labels: platform: NXP

#76624 boards: add missing deprecated board entry for adafruit feather
  boards/deprecated.cmake
Labels: Trivial

#76618 tests: bsim: Bluetooth: Host: Fix RPA expired old time value
  tests/bsim/bluetooth/host/privacy/peripheral/src/tester_rpa_expired.c
Labels: area: Bluetooth, Trivial, area: Bluetooth Host, size: XS

#76534 soc: nxp: s32: fix siul2 instance for input pinmuxing
  include/zephyr/dt-bindings/pinctrl/nxp-s32-pinctrl.h
  soc/nxp/s32/s32k3/pinctrl_soc.h
  soc/nxp/s32/s32ze/pinctrl_soc.h
  west.yml
Labels: area: Devicetree Binding, manifest, manifest-hal_nxp, area: Pinctrl, platform: NXP S32

#76529 bluetooth: make monitor timestamps roll over less
  subsys/bluetooth/host/monitor.c
Labels: area: Bluetooth, area: Bluetooth Host

#76426 manifest: Update nRF hw models to latest
  west.yml
Labels: manifest, manifest-nrf_hw_models, size: XS

#71509 Fix regulator reference count underflow
  drivers/regulator/regulator_common.c
Labels: area: Regulators

#75530 drivers: hwinfo: Add support for generating device id from device addr
  drivers/hwinfo/Kconfig
  drivers/hwinfo/hwinfo_nrf.c
Labels: platform: nRF, area: HWINFO

#76145 drivers: intc: nxp: convert wkpu to native driver
  drivers/gpio/gpio_nxp_s32.c
  drivers/interrupt_controller/Kconfig.nxp_s32
  drivers/interrupt_controller/intc_wkpu_nxp_s32.c
  dts/bindings/interrupt-controller/nxp,s32-wkpu.yaml
  include/zephyr/drivers/interrupt_controller/intc_wkpu_nxp_s32.h
  west.yml
Labels: area: GPIO, area: Interrupt Controller, manifest, manifest-hal_nxp, platform: NXP S32

#76613 drivers: eth: nxp,enet-qos: Fix MAC address check
  drivers/ethernet/eth_nxp_enet_qos/eth_nxp_enet_qos_mac.c
Labels: area: Ethernet, Trivial, platform: NXP Drivers, size: XS

#76555 boards: nucleo_u5a5zj_q: Fix storage address
  boards/st/nucleo_u5a5zj_q/nucleo_u5a5zj_q.dts
Labels: platform: STM32, size: XS

#76552 modules: Kconfig.stm32: remove duplicate Kconfig symbol for RAMCFG
  modules/Kconfig.stm32
Labels: platform: STM32

#76547 tests: flash: erase_blocks: Add README file
  tests/drivers/flash/erase_blocks/README.rst
Labels: area: Flash

#76483 drivers: eswifi: Fix memory buffer allocation in off_read_work
  drivers/wifi/eswifi/eswifi_socket.c
Labels: area: Wi-Fi

#75806 logging: Trigger logging thread when above threshold
  subsys/logging/log_core.c
Labels: bug, area: Logging, size: XS, backport v3.7-branch

#75591 drivers: ethernet: nxp_enet: Fused MAC address fixes
  drivers/ethernet/nxp_enet/eth_nxp_enet.c
Labels: bug, area: Ethernet, platform: NXP Drivers, backport v3.7-branch

#74590 soc: nordic: Fix APPROTECT with TF-M
  soc/nordic/Kconfig
Labels: platform: nRF

#76363 soc: nxp: s32: convert power control to native drivers
  boards/nxp/mr_canhubk3/mr_canhubk3.dts
  dts/arm/nxp/nxp_s32k344_m7.dtsi
  dts/bindings/power/nxp,s32-mc-me.yaml
  dts/bindings/power/nxp,s32-mc-rgm.yaml
  dts/bindings/power/nxp,s32k3-pmc.yaml
  soc/nxp/s32/Kconfig
  soc/nxp/s32/common/CMakeLists.txt
  soc/nxp/s32/common/mc_me.c
  soc/nxp/s32/common/mc_rgm.c
  soc/nxp/s32/common/power_soc.c
  soc/nxp/s32/s32k3/CMakeLists.txt
  soc/nxp/s32/s32k3/Kconfig
  soc/nxp/s32/s32k3/pmc.c
  west.yml
Labels: manifest, manifest-hal_nxp, platform: NXP S32

#76532 clang-format: add FOREACH macros
  .clang-format
Labels: area: Coding Guidelines

#76663 actions: manifest: Update to include fix to impostor commits.
  .github/workflows/manifest.yml
Labels: Hotfix, area: Continuous Integration, size: XS

#75903 drivers: adc: fix missing ref_internal in adc_sam0
  drivers/adc/adc_sam0.c
Labels: area: ADC, platform: Microchip SAM, size: XS, backport v3.7-branch

#70477 soc: ti: simplelink: cc13x2_cc26x2: allow basic BT without zepyhr stack
  soc/ti/simplelink/cc13x2_cc26x2/Kconfig
  soc/ti/simplelink/cc13x2_cc26x2/Kconfig.defconfig
Labels: platform: TI SimpleLink

#76620 boards: litex: activate sfdp runtime
  boards/enjoydigital/litex_vexriscv/litex_vexriscv_defconfig
Labels: bug, area: RISCV, Hotfix, platform: LiteX, size: XS

#76562 rtio: Enable submit/consume semaphores by default
  subsys/rtio/Kconfig
Labels: area: RTIO

#75906 tests: bsim: set log level from command-line argument
  tests/bsim/bluetooth/host/misc/sample_test/Kconfig
  tests/bsim/bluetooth/host/misc/sample_test/prj.conf
  tests/bsim/bluetooth/host/misc/sample_test/src/dut.c
  tests/bsim/bluetooth/host/misc/sample_test/src/main.c
  tests/bsim/bluetooth/host/misc/sample_test/src/peer.c
  tests/bsim/bluetooth/host/misc/sample_test/test_scripts/run.sh
Labels: area: Bluetooth, area: Bluetooth Host, platform: nRF BSIM

#75894 doc: getting_started: remove global Python setup
  doc/develop/getting_started/index.rst
Labels: area: Documentation

#73001 samples: move video from subsys to drivers
  doc/_scripts/redirects.py
  samples/drivers/video/capture/CMakeLists.txt
  samples/drivers/video/capture/README.rst
  samples/drivers/video/capture/boards/mimxrt1170_evk_mimxrt1176_cm7.conf
  samples/drivers/video/capture/prj.conf
  samples/drivers/video/capture/sample.yaml
  samples/drivers/video/capture/src/main.c
  samples/drivers/video/tcpserversink/CMakeLists.txt
  samples/drivers/video/tcpserversink/README.rst
  samples/drivers/video/tcpserversink/prj.conf
  samples/drivers/video/tcpserversink/sample.yaml
  samples/drivers/video/tcpserversink/src/main.c
  samples/drivers/video/video.rst
Labels: area: Samples, area: Video, area: Documentation Infrastructure

#76666 net: http: fix %d format string to %zu
  subsys/net/lib/http/http_server_http1.c
Labels: area: Networking, Trivial, size: XS

#76434 drivers: i3c: add i3c hdr ddr inline helper func
  include/zephyr/drivers/i3c.h
  include/zephyr/drivers/i3c/hdr_ddr.h
Labels: area: I3C

#76126 drivers: i3c: cdns: only configure tsco for rev 1p4 and above
  drivers/i3c/i3c_cdns.c
Labels: area: I3C

#74386 lib: posix: implement `_POSIX_THREAD_PRIO_PROTECT`
  doc/services/portability/posix/aep/index.rst
  doc/services/portability/posix/conformance/index.rst
  doc/services/portability/posix/option_groups/index.rst
  include/zephyr/posix/pthread.h
  lib/posix/options/mutex.c
  tests/posix/common/src/mutex.c
  tests/posix/headers/src/pthread_h.c
Labels: area: POSIX

#74208 mgmt: hawkbit: move to kernel heap
  subsys/mgmt/hawkbit/Kconfig
  subsys/mgmt/hawkbit/hawkbit.c
Labels: area: hawkBit

#76598 MAINTAINERS: Remove generic Bluetooth group
  MAINTAINERS.yml
Labels: area: Process

#76595 soc: nxp: imxrt: Register log module to soc.c
  soc/nxp/imxrt/imxrt11xx/soc.c
  soc/nxp/imxrt/imxrt5xx/cm33/soc.c
  soc/nxp/imxrt/imxrt6xx/cm33/soc.c
Labels: platform: NXP

#76460 drivers: sensor: tmag5273: Add support for tmag3001
  drivers/sensor/ti/tmag5273/Kconfig
  drivers/sensor/ti/tmag5273/tmag5273.c
  drivers/sensor/ti/tmag5273/tmag5273.h
  dts/bindings/sensor/ti,tmag5273.yaml
Labels: area: Sensors, platform: TI SimpleLink

#76453 Bluetooth: Controller: Separate SDU interval for C_to_P and P_to_C
  subsys/bluetooth/controller/ll_sw/lll.h
  subsys/bluetooth/controller/ll_sw/ull_central_iso.c
Labels: area: Bluetooth, area: Bluetooth Controller

#76095 Bluetooth: Controller: Fix scoring for scan_aux events
  subsys/bluetooth/controller/ll_sw/lll_scan.h
  subsys/bluetooth/controller/ll_sw/ull_scan.c
  subsys/bluetooth/controller/ll_sw/ull_scan_aux.c
Labels: area: Bluetooth, area: Bluetooth Controller

#76038 Bluetooth: Controller: BT_TICKER_REMAINDER_SUPPORT conditional
  subsys/bluetooth/controller/Kconfig.ll_sw_split
  subsys/bluetooth/controller/ticker/ticker.c
  subsys/bluetooth/controller/ticker/ticker.h
Labels: area: Bluetooth, area: Bluetooth Controller

#75956 bluetooth: controller: Add LLCP TX to tx_ack FIFO size
  subsys/bluetooth/controller/ll_sw/ull.c
Labels: area: Bluetooth, area: Bluetooth Controller

#75952 Bluetooth: controller: Add lll_sync_iso_flush interface to LLL
  subsys/bluetooth/controller/ll_sw/lll_sync_iso.h
  subsys/bluetooth/controller/ll_sw/nordic/lll/lll_sync_iso.c
  subsys/bluetooth/controller/ll_sw/ull_sync_iso.c
  subsys/bluetooth/controller/ll_sw/ull_sync_types.h
Labels: area: Bluetooth, area: Bluetooth Controller

#75756 Bluetooth: tester: Increase the adv buf size to consider the extend adv
  tests/bluetooth/tester/src/btp_gap.c
Labels: area: Bluetooth

#75651 modules: hostap: src: add get_version cmd support
  modules/hostap/src/supp_api.c
  modules/hostap/src/supp_api.h
  modules/hostap/src/supp_main.c
Labels: area: Wi-Fi

#73937 Bluetooth: Controller: Change condition in while to Boolean
  subsys/bluetooth/controller/ll_sw/nordic/hal/nrf5/debug.h
  subsys/bluetooth/controller/ll_sw/nordic/lll/lll_conn.c
  subsys/bluetooth/controller/ll_sw/openisa/hal/RV32M1/debug.h
Labels: area: Bluetooth, area: Bluetooth Controller

#76680 mailmap: missing entry for Manuel Argüelles
  .mailmap
Labels: Trivial, size: XS

#76611 lora: driver: sx12xx: fix driver recv func when RX error occurs
  drivers/lora/sx12xx_common.c
Labels: area: LoRa

#76610 drivers: bt_nxp: Use DT code partition if needed
  boards/nxp/frdm_rw612/Kconfig.defconfig
  boards/nxp/rd_rw612_bga/Kconfig.defconfig
  drivers/bluetooth/hci/Kconfig
Labels: area: Bluetooth, platform: NXP, area: Bluetooth Host

#76605 Fix c++ cupport for lwm2m.h header
  include/zephyr/net/lwm2m.h
Labels: area: Networking

#76560 scripts: nrf_common: Use cfg for SUIT paths
  scripts/west_commands/runners/nrf_common.py
Labels: area: West

#74378 boards: WeAct: Add STM32F405 Core board
  boards/weact/stm32f405_core/Kconfig.weact_stm32f405_core
  boards/weact/stm32f405_core/board.cmake
  boards/weact/stm32f405_core/board.yml
  boards/weact/stm32f405_core/doc/img/stm32f405_core.jpg
  boards/weact/stm32f405_core/doc/index.rst
  boards/weact/stm32f405_core/support/openocd.cfg
  boards/weact/stm32f405_core/weact_stm32f405_core.dts
  boards/weact/stm32f405_core/weact_stm32f405_core.yaml
  boards/weact/stm32f405_core/weact_stm32f405_core_defconfig
Labels: area: Boards, platform: STM32

#74063 wifi: utils: Get correct channel count
  subsys/net/l2/wifi/wifi_utils.c
Labels: area: Networking, area: Wi-Fi, size: XS

#76386 scripts: twister: twisterlib: `cwd` relative path
  scripts/pylib/twister/twisterlib/reports.py
Labels: Trivial, area: Twister

#74968 tests: subsys: storage: flash_map: Extend timeout storage.flash_map.mpu
  tests/subsys/storage/flash_map/testcase.yaml
Labels: area: Storage, Trivial, size: XS

#75611 net: ptp: Misc clock sync bugs
  subsys/net/lib/ptp/clock.c
Labels: bug, area: Networking, backport v3.7-branch

#75784 boards: nrf5340dk: create shared file for LEDs/buttons/connector
  boards/nordic/nrf5340dk/nrf5340_cpuapp_common.dtsi
  boards/nordic/nrf5340dk/nrf5340dk_common.dtsi
  boards/nordic/nrf5340dk/nrf5340dk_nrf5340_cpunet.dts
Labels: platform: nRF

#76348 net: net_if: fix net_if_send_data for offloaded ifaces
  subsys/net/ip/net_if.c
Labels: area: Networking, backport v3.6-branch, backport v3.7-branch

#76617 drivers: input: cst816s: add cst816d support
  drivers/input/input_cst816s.c
Labels: area: Input

#76701 west.yml: remove two redundant repo-path
  west.yml
Labels: Trivial

#76310 drivers: ssp: fix program of MLCS register
  drivers/dai/intel/ssp/ssp.c
  drivers/dai/intel/ssp/ssp_regs_v1.h
  drivers/dai/intel/ssp/ssp_regs_v2.h
  drivers/dai/intel/ssp/ssp_regs_v3.h
  dts/xtensa/intel/intel_adsp_ace30_ptl.dtsi
Labels: area: Xtensa, platform: Intel ADSP, area: DAI

#76407 drivers: flash: Do not select NRFX_RRAMC while building with TF-M
  drivers/flash/Kconfig.nrf_rram
Labels: area: Flash, size: XS

#76703 tests: drivers: rtc: rtc_api: test_update_callback
  tests/drivers/rtc/rtc_api/src/test_update_callback.c
Labels: area: RTC, Trivial

#76649 testsuite: coverage: Correct value of GCOV_COUNTERS for gcc 14
  subsys/testsuite/coverage/coverage.h
Labels: area: Testsuite

#76646 Add: Support for pyOCD for STM32H43 nucleo board
  boards/st/nucleo_h743zi/board.cmake
  boards/st/nucleo_h743zi/doc/index.rst
Labels: platform: STM32

#76636 net: ip: utils: simplify logic in `net_byte_to_hex` and `z_impl_net_addr_ntop`
  subsys/net/ip/utils.c
Labels: area: Networking

#76553 clang-format: IndentGotoLabels false
  .clang-format
Labels: area: GPIO, area: Coding Guidelines, size: XS

#76045 arch: riscv: stacktrace: fix output without `ra` on the stack top
  arch/riscv/core/stacktrace.c
Labels: bug, area: RISCV, backport v3.7-branch

#75915 linker: esp32: fix cpp rom region
  soc/espressif/esp32/default.ld
Labels: bug, platform: ESP32, size: XS, backport v3.7-branch

#75814 drivers: udc: add opaque pointer to store upper layer private data
  drivers/usb/udc/udc_common.c
  include/zephyr/drivers/usb/udc.h
  subsys/usb/device_next/usbd_core.c
  tests/drivers/udc/src/main.c
Labels: area: USB, Experimental, backport v3.7-branch

#76678 i3c: drivers: check for reserved addresses for i2c scan
  drivers/i3c/i3c_shell.c
Labels: area: I3C

#76671 net: openthread: Handle deprecated IPv6 addresses correctly
  subsys/net/l2/openthread/openthread_utils.c
Labels: area: Networking, area: OpenThread

#76670 drivers: sensor: Fix DHT20 build failure with CRC configured
  drivers/sensor/aosong/dht20/dht20.c
  tests/drivers/build_all/sensor/prj.conf
Labels: area: Sensors, size: XS

#76345 drivers: pinctrl: rp2040: oe-override option
  drivers/pinctrl/pinctrl_rpi_pico.c
  dts/bindings/pinctrl/raspberrypi,pico-pinctrl.yaml
  include/zephyr/dt-bindings/pinctrl/rpi-pico-rp2040-pinctrl.h
  soc/raspberrypi/rp2xxx/pinctrl_soc.h
Labels: area: Devicetree Binding, area: Pinctrl, platform: Raspberry Pi Pico

#76312 driver: clock: Update clock control driver for Renesas RA8M1
  boards/renesas/ek_ra8m1/doc/index.rst
  boards/renesas/ek_ra8m1/ek_ra8m1_defconfig
  drivers/clock_control/CMakeLists.txt
  drivers/clock_control/Kconfig
  drivers/clock_control/Kconfig.renesas_ra8
  drivers/clock_control/clock_control_renesas_ra_cgc.c
  dts/arm/renesas/ra/ra8/r7fa8m1xh.dtsi
  dts/arm/renesas/ra/ra8/ra8x1.dtsi
  dts/bindings/clock/renesas,ra8-cgc-pclk.yaml
  include/zephyr/drivers/clock_control/renesas_ra_cgc.h
  include/zephyr/dt-bindings/clock/ra_clock.h
  soc/renesas/ra/ra8m1/Kconfig
  soc/renesas/ra/ra8m1/soc.c
Labels: area: Clock Control, area: Devicetree Binding, platform: Renesas RA, platforms: Renesas RA

#75199 boards: nucleo_h533re: configure USB
  boards/st/nucleo_h533re/doc/index.rst
  boards/st/nucleo_h533re/nucleo_h533re.dts
  boards/st/nucleo_h533re/nucleo_h533re.yaml
Labels: area: USB, platform: STM32

#74964 boards: Add support 01space esp32c3 0.42 oled
  boards/01space/esp32c3_042_oled/Kconfig.defconfig
  boards/01space/esp32c3_042_oled/Kconfig.esp32c3_042_oled
  boards/01space/esp32c3_042_oled/Kconfig.sysbuild
  boards/01space/esp32c3_042_oled/board.cmake
  boards/01space/esp32c3_042_oled/board.yml
  boards/01space/esp32c3_042_oled/doc/img/esp32c3_042_oled.webp
  boards/01space/esp32c3_042_oled/doc/img/esp32c3_042_oled_pinout.webp
  boards/01space/esp32c3_042_oled/doc/index.rst
  boards/01space/esp32c3_042_oled/esp32c3_042_oled-pinctrl.dtsi
  boards/01space/esp32c3_042_oled/esp32c3_042_oled.dts
  boards/01space/esp32c3_042_oled/esp32c3_042_oled.yaml
  boards/01space/esp32c3_042_oled/esp32c3_042_oled_defconfig
  boards/01space/esp32c3_042_oled/support/openocd.cfg
  boards/01space/index.rst
  dts/bindings/vendor-prefixes.txt
Labels: area: Samples, area: Display, area: Devicetree Binding

#74437 dts: microchip: mec5: Base MEC5 MEC174x DTSI files
  dts/arm/microchip/mec5.dtsi
  dts/arm/microchip/mec5/mec5_dma_chan16.dtsi
  dts/arm/microchip/mec5/mec5_dma_chan20.dtsi
  dts/arm/microchip/mec5/mec5_eeprom_8kb.dtsi
  dts/arm/microchip/mec5/mec5_gpspi_v1.dtsi
  dts/arm/microchip/mec5/mec5_gpspi_v2.dtsi
  dts/arm/microchip/mec5/mec5_pkg176_pwms.dtsi
  dts/arm/microchip/mec5/mec5_pkg176_uarts.dtsi
  dts/arm/microchip/mec5/mec5_power_guards.dtsi
  dts/arm/microchip/mec5_mec1743qlj.dtsi
  dts/arm/microchip/mec5_mec1743qsz.dtsi
  dts/arm/microchip/mec5_mec1753qlj.dtsi
  dts/arm/microchip/mec5_mec1753qsz.dtsi
  dts/arm/microchip/mec5_mech1723nlj.dtsi
  dts/arm/microchip/mec5_mech1723nsz.dtsi
Labels: platform: Microchip MEC

#73783 modules: hal_nordic: dvfs: added callback when scaling done
  modules/hal_nordic/nrfs/dvfs/Kconfig
  modules/hal_nordic/nrfs/dvfs/ld_dvfs_handler.c
  modules/hal_nordic/nrfs/dvfs/ld_dvfs_handler.h
Labels: platform: nRF

#74959 libc: newlib: add config to use custom sbrk
  include/zephyr/sys/libc-hooks.h
  lib/libc/newlib/Kconfig
  lib/libc/newlib/libc-hooks.c
Labels: area: C Library, area: Base OS

#76478 Bluetooth: Mesh: Add brg_cfg_cli commands to shell
  doc/connectivity/bluetooth/api/mesh/shell.rst
  subsys/bluetooth/mesh/shell/CMakeLists.txt
  subsys/bluetooth/mesh/shell/Kconfig
  subsys/bluetooth/mesh/shell/brg_cfg.c
  tests/bluetooth/mesh_shell/src/main.c
Labels: area: Bluetooth, area: Bluetooth Mesh

#76591 Bluetooth: Mesh: Populate Bridge Config Server
  doc/connectivity/bluetooth/api/mesh/brg_cfg_srv.rst
  subsys/bluetooth/mesh/brg_cfg.c
  subsys/bluetooth/mesh/brg_cfg.h
  subsys/bluetooth/mesh/brg_cfg_srv.c
  tests/bluetooth/mesh/brg/src/main.c
Labels: area: Bluetooth, area: Bluetooth Mesh

#76768 samples: drivers: mbox: fix nRF54H20 cpuapp<>cpuflpr channel regex
  samples/drivers/mbox/sample.yaml
Labels: bug, area: Samples, Trivial, area: mbox, size: XS

#76692 manifest: Update hal_nordic with nonsecure PPIB fix
  west.yml
Labels: manifest, manifest-hal_nordic, size: XS

#76765 divers: clock_control: npcx: HFCBCD3 in CDCG is only available in npcx4
  drivers/clock_control/clock_control_npcx.c
Labels: area: Clock Control, Trivial, platform: Nuvoton NPCX

#76725 boards: google_dragonclaw: enable rng module
  boards/google/dragonclaw/google_dragonclaw.dts
Labels: area: Crypto / RNG, Trivial

#76465 samples: SMF: LVGL: SMF-based Calculator
  samples/subsys/smf/smf_calculator/CMakeLists.txt
  samples/subsys/smf/smf_calculator/README.rst
  samples/subsys/smf/smf_calculator/img/smf_calculator.svg
  samples/subsys/smf/smf_calculator/prj.conf
  samples/subsys/smf/smf_calculator/sample.yaml
  samples/subsys/smf/smf_calculator/src/main.c
  samples/subsys/smf/smf_calculator/src/main.h
  samples/subsys/smf/smf_calculator/src/smf_calculator_thread.c
  samples/subsys/smf/smf_calculator/src/smf_calculator_thread.h
  samples/subsys/smf/smf_calculator/src/smf_console_cmds.c
Labels: area: Samples, area: State Machine Framework

#75679 tests: kernel: timer behavior lower SYS_CLOCK_TICKS_PER_SEC
  soc/st/stm32/Kconfig.defconfig
Labels: area: Kernel, platform: STM32

#75585 kernel: fatal: Fix NO_OPTIMIZATIONS build (logging + no multithreading)
  kernel/fatal.c
Labels: bug, area: Kernel, backport v3.7-branch

#73637 testsuite: busy_sim: Few improvements
  subsys/testsuite/busy_sim/busy_sim.c
Labels: area: Testsuite

#76457 drivers: intc_ite_it8xxx2: disable debug mode then reset for tests
  drivers/interrupt_controller/intc_ite_it8xxx2.c
  soc/ite/ec/common/chip_chipregs.h
Labels: area: Interrupt Controller, platform: ITE

#76731 net: ipv6: route: get nexthop's LL address only if relevant
  subsys/net/ip/route.c
Labels: area: Networking

#76727 drivers: hwinfo: add the HWINFO_HAS_DRIVER Kconfig option
  drivers/hwinfo/Kconfig
Labels: area: HWINFO

#76721 net: lwm2m: Allow SenML-CBOR floats decoded as int
  subsys/net/lib/lwm2m/lwm2m_rw_senml_cbor.c
Labels: area: LWM2M

#76504 pm: Remove deprecated symbol references
  samples/boards/stm32/power_mgmt/stop3/prj.conf
  soc/renesas/smartbond/da1469x/Kconfig.defconfig
  tests/lib/cpp/cxx/prj.conf
Labels: area: Samples, platform: STM32, area: C++, platform: Renesas SmartBond

#76046 intel_adsp/ace: power: pad the hpsram_mask passed to power_down
  soc/intel/intel_adsp/ace/power.c
Labels: platform: Intel ADSP

#76528 net: wifi: shell: streamline codebase
  subsys/net/l2/wifi/wifi_shell.c
Labels: area: Networking, area: Wi-Fi

#76742 net: dns_sd: add missing header file and fix code samples in documentation
  include/zephyr/net/dns_sd.h
Labels: area: Networking

#76377 tests: posix + libc/thrd: one tier0 integration platform per arch, improved libc coverage
  tests/lib/c_lib/thrd/testcase.yaml
  tests/posix/common/testcase.yaml
  tests/posix/eventfd/testcase.yaml
  tests/posix/fs/testcase.yaml
  tests/posix/getentropy/testcase.yaml
  tests/posix/getopt/testcase.yaml
  tests/posix/headers/testcase.yaml
  tests/posix/net/testcase.yaml
  tests/posix/pthread_pressure/testcase.yaml
  tests/posix/shm/testcase.yaml
Labels: area: C Library, area: POSIX

#76760 logging: Optimize ble notification size
  subsys/logging/backends/log_backend_ble.c
Labels: area: Logging

#76571 security: Update information for CVE-2023-4262
  doc/security/vulnerabilities.rst
Labels: area: Documentation

#75932 ipc: ipc_service: pbuf: Add option to disable cache management
  tests/subsys/ipc/pbuf/prj.conf
Labels: area: IPC

#75204 sensor/ntc_thermistor: Corrected the type of adc values to accept 16 bits
  drivers/sensor/ntc_thermistor/ntc_thermistor.c
Labels: area: Sensors

#71708 drivers: vcnl36825t: fix power consumption issues
  drivers/sensor/vishay/vcnl36825t/vcnl36825t.c
  drivers/sensor/vishay/vcnl36825t/vcnl36825t.h
Labels: area: Sensors

#71519 scripts: support soc/boards in Zephyr modules
  scripts/ci/check_compliance.py
Labels: area: Coding Guidelines, area: Continuous Integration

#76788 net: wifi_utils: correct channel scan range in Wi-Fi 6GHz
  subsys/net/l2/wifi/wifi_utils.c
Labels: area: Networking, area: Wi-Fi

#76775 clang-format: add SpaceBeforeInheritanceColon False
  .clang-format
Labels: area: Coding Guidelines, size: XS

#75147 modules: mbedtls: add x509write.c source file
  modules/mbedtls/CMakeLists.txt
Labels: area: Crypto / RNG, size: XS
