Repository zephyrproject-rtos/zephyr, pull requests merged in 2024-06, with the labels that each got.

#73575 Revert "test: lwm2m: Raise POSIX_MAX_FDS for native_sim"
  tests/net/lib/lwm2m/interop/boards/native_sim.conf
Labels: area: Networking, area: LWM2M, Trivial

#73552 boards: infineon: cyw20829m2evk_02: Remove the incorrect flash node
  boards/infineon/cyw920829m2evk_02/cyw920829m2evk_02.dts
  dts/arm/infineon/cat1b/cyw20829/cyw20829.dtsi
Labels: Trivial, platform: Infineon

#73550 MAINTAINERS: Add niym-ot to Bluetooth Audio
  MAINTAINERS.yml
Labels: area: Process, Trivial

#73546 charger: Change GRobertZieba collaborator to personal account
  MAINTAINERS.yml
Labels: area: Process, Trivial

#73471 drivers: ieee802154: nrf5: sleep if idle when `RxOnWhenIdle=0`
  drivers/ieee802154/ieee802154_nrf5.c
Labels: platform: nRF, area: OpenThread, area: IEEE 802.15.4

#73469 boards: nxp: mimxrt10xx: fix non-optimal sector distribution
  boards/nxp/mimxrt1010_evk/mimxrt1010_evk.dts
  boards/nxp/mimxrt1015_evk/mimxrt1015_evk.dts
  boards/nxp/mimxrt1020_evk/mimxrt1020_evk.dts
  boards/nxp/mimxrt1024_evk/mimxrt1024_evk.dts
  boards/nxp/mimxrt1040_evk/mimxrt1040_evk.dts
  boards/nxp/mimxrt1050_evk/mimxrt1050_evk_mimxrt1052_hyperflash.overlay
  boards/nxp/mimxrt1050_evk/mimxrt1050_evk_mimxrt1052_qspi.overlay
  boards/nxp/mimxrt1060_evk/mimxrt1060_evk_mimxrt1062_hyperflash.overlay
  boards/nxp/mimxrt1060_evk/mimxrt1060_evk_mimxrt1062_qspi.overlay
  boards/nxp/mimxrt1062_fmurt6/mimxrt1062_fmurt6.dts
  boards/nxp/mimxrt1064_evk/mimxrt1064_evk.dts
Labels: platform: NXP

#72575 include: riscv: add RISC-V arch atomic operations
  include/zephyr/arch/riscv/atomic.h
  tests/arch/riscv/atomic/CMakeLists.txt
  tests/arch/riscv/atomic/prj.conf
  tests/arch/riscv/atomic/src/main.c
  tests/arch/riscv/atomic/testcase.yaml
Labels: area: Kernel, area: RISCV, area: Architectures, area: Base OS

#72435 Add a shield for DVP FPC 24-pins mt9m114 camera modules
  boards/nxp/mimxrt1064_evk/mimxrt1064_evk.dts
  boards/shields/dvp_fpc24_mt9m114/Kconfig.shield
  boards/shields/dvp_fpc24_mt9m114/boards/mimxrt1064_evk.overlay
  boards/shields/dvp_fpc24_mt9m114/doc/index.rst
  boards/shields/dvp_fpc24_mt9m114/dvp_fpc24_mt9m114.overlay
Labels: platform: NXP, area: Shields

#73604 samples: video: tcpserversink: fix build regression
  samples/subsys/video/tcpserversink/src/main.c
Labels: area: Samples, platform: NXP, Regression, Hotfix, Trivial

#72922 added necessary DT_DRV_COMPAT #define in akm09918 sensor decoder
  drivers/sensor/asahi_kasei/akm09918c/akm09918c_decoder.c
Labels: area: Sensors

#73558 dts: gd: fix uart4 irq wrong
  dts/arm/gd/gd32f4xx/gd32f4xx.dtsi
Labels: Trivial, platform: GD32

#73321 [Backport v3.5-branch] drivers: can: shell: fully initialize frame before sending and use correct DLC in output
  drivers/can/can_shell.c
Labels: area: CAN, Trivial, Backport

#73620 samples: net: mqtt_publisher: increase num of thread to allowed
  samples/net/mqtt_publisher/boards/frdm_k64f.conf
Labels: area: Networking, area: Samples, Trivial

#73497 boards: stm32wb5mmg_dk: add button support
  boards/st/stm32wb5mm_dk/doc/stm32wb5mm_dk.rst
  boards/st/stm32wb5mm_dk/stm32wb5mm_dk.dts
Labels: platform: STM32

#73445 Bluetooth: CSIP: Make set_member_by_conn a public function
  include/zephyr/bluetooth/audio/csip.h
  subsys/bluetooth/audio/cap_common.c
  subsys/bluetooth/audio/csip_internal.h
  subsys/bluetooth/audio/csip_set_coordinator.c
  tests/bluetooth/audio/cap_commander/uut/csip.c
Labels: area: Bluetooth, area: Bluetooth Audio

#72683 Bluetooth: Audio: Update documentation for bt_audio_codec_qos
  include/zephyr/bluetooth/audio/audio.h
Labels: area: Bluetooth, area: Bluetooth Audio

#73627 [fix] CI BT mesh tests fail to build due to MBEDTLS kconfig
  subsys/bluetooth/mesh/Kconfig
  tests/crypto/mbedtls/prj.conf
Labels: area: Bluetooth, area: Crypto / RNG, Hotfix, area: Bluetooth Mesh

#73504 drivers: can: mcan: skip read/write to mram if data length is 0
  drivers/can/can_mcan.c
Labels: bug, area: CAN

#73500 dts: arm: st: mp1: fix exti interrupt numbering
  dts/arm/st/mp1/stm32mp157.dtsi
Labels: bug, platform: STM32, backport v3.5-branch, backport v3.6-branch

#73498 soc: nordic: Select new nrf54lx compatible kconfig option
  soc/nordic/nrf54l/Kconfig
Labels: platform: nRF, Trivial

#73464 tests: Bluetooth: Mesh: move semaphores out bsim initializations
  tests/bsim/bluetooth/mesh/src/test_friendship.c
Labels: area: Bluetooth, area: Bluetooth Mesh

#73622 drivers: rtc: rtc_shell: fix milliseconds display
  drivers/rtc/rtc_shell.c
Labels: area: RTC, Trivial

#73510 drivers: clock_control: nrf_auxpll: add lock timeout
  drivers/clock_control/clock_control_nrf_auxpll.c
Labels: platform: nRF, area: Clock Control

#70947 usb: cdc_acm: add locks around `ring_buf_put`
  subsys/usb/device/class/cdc_acm.c
  subsys/usb/device_next/class/usbd_cdc_acm.c
Labels: area: USB

#71106 boards: shields: Add nRF9160 DK overlay for arduino_uno_click shield
  boards/shields/arduino_uno_click/boards/nrf9160dk_nrf9160.overlay
  boards/shields/arduino_uno_click/boards/nrf9160dk_nrf9160_arduino_uno_click_common.dtsi
  boards/shields/arduino_uno_click/boards/nrf9160dk_nrf9160_ns.overlay
Labels: area: Shields

#73639 net: lwm2m: Block-Wise response NUM field fix
  subsys/net/lib/lwm2m/lwm2m_message_handling.c
Labels: area: LWM2M, Trivial

#73613 boards: shields: arceli_eth_w5500: Fix spelling and broken link
  boards/shields/arceli_eth_w5500/doc/index.rst
Labels: area: Shields, Trivial

#73612 scripts: requirements: run-tests: add python-can
  scripts/requirements-run-test.txt
Labels: area: CAN, Trivial

#73607 boards: nxp: vmu_rt1170: fix dummy cycle value in flash configuration
  boards/nxp/vmu_rt1170/flexspi_nor_config.c
Labels: platform: NXP, Trivial

#73561 usb: device_next: initialize BOS device caps number
  subsys/usb/device_next/usbd_ch9.c
Labels: area: USB, Trivial

#73516 net: http_server: Send chunked response correctly
  subsys/net/lib/http/http_server_http1.c
Labels: area: Networking

#73515 Bluetooth: Document reasons for HCI command timeouts
  subsys/bluetooth/host/hci_core.c
Labels: area: Bluetooth, area: Bluetooth Host

#73363 west.yml: hal_stm32: Don't include legacy headers anymore
  west.yml
Labels: manifest, manifest-hal_stm32

#73284 Renesas: Smartbond: Update counter driver to work with PM
  drivers/counter/counter_smartbond_timer.c
Labels: area: Counter, platform: Renesas SmartBond

#73032 Bluetooth: BAP: Unicast client Split start and connect
  doc/connectivity/bluetooth/api/audio/shell/bap.rst
  doc/releases/migration-guide-3.7.rst
  include/zephyr/bluetooth/audio/bap.h
  samples/bluetooth/bap_unicast_client/src/main.c
  samples/bluetooth/tmap_peripheral/src/bap_unicast_sr.c
  subsys/bluetooth/audio/bap_stream.c
  subsys/bluetooth/audio/bap_unicast_client.c
  subsys/bluetooth/audio/bap_unicast_client_internal.h
  subsys/bluetooth/audio/cap_common.c
  subsys/bluetooth/audio/cap_initiator.c
  subsys/bluetooth/audio/cap_internal.h
  subsys/bluetooth/audio/cap_stream.c
  subsys/bluetooth/audio/shell/bap.c
  tests/bluetooth/audio/mocks/src/bap_unicast_client.c
  tests/bluetooth/tester/src/btp_bap_unicast.c
  tests/bsim/bluetooth/audio/prj.conf
  tests/bsim/bluetooth/audio/src/bap_unicast_client_test.c
Labels: area: Bluetooth, area: Samples, Release Notes, area: Bluetooth Audio, platform: nRF BSIM

#72941 include: kernel: added missing parenthesis
  include/zephyr/kernel.h
Labels: area: Kernel

#73463 usb: device_next: Rename usbd_contex to usbd_context
  cmake/linker_script/common/common-ram.cmake
  include/zephyr/usb/usbd.h
  samples/bluetooth/hci_usb/src/main.c
  samples/subsys/usb/cdc_acm/src/main.c
  samples/subsys/usb/common/sample_usbd.h
  samples/subsys/usb/common/sample_usbd_init.c
  samples/subsys/usb/console/src/main.c
  samples/subsys/usb/hid-keyboard/src/main.c
  samples/subsys/usb/hid-mouse/src/main.c
  samples/subsys/usb/mass/src/main.c
  samples/subsys/usb/uac2_explicit_feedback/src/main.c
  subsys/usb/device_next/class/bt_hci.c
  subsys/usb/device_next/class/loopback.c
  subsys/usb/device_next/class/usbd_cdc_acm.c
  subsys/usb/device_next/class/usbd_cdc_ecm.c
  subsys/usb/device_next/class/usbd_hid.c
  subsys/usb/device_next/class/usbd_msc.c
  subsys/usb/device_next/class/usbd_uac2.c
  subsys/usb/device_next/usbd_ch9.c
  subsys/usb/device_next/usbd_ch9.h
  subsys/usb/device_next/usbd_class.c
  subsys/usb/device_next/usbd_class.h
  subsys/usb/device_next/usbd_config.c
  subsys/usb/device_next/usbd_config.h
  subsys/usb/device_next/usbd_core.c
  subsys/usb/device_next/usbd_data.ld
  subsys/usb/device_next/usbd_desc.c
  subsys/usb/device_next/usbd_desc.h
  subsys/usb/device_next/usbd_device.c
  subsys/usb/device_next/usbd_device.h
  subsys/usb/device_next/usbd_endpoint.c
  subsys/usb/device_next/usbd_init.c
  subsys/usb/device_next/usbd_init.h
  subsys/usb/device_next/usbd_interface.c
  subsys/usb/device_next/usbd_interface.h
  subsys/usb/device_next/usbd_msg.c
  subsys/usb/device_next/usbd_msg.h
  subsys/usb/device_next/usbd_shell.c
Labels: area: Bluetooth, area: Build System, area: USB, area: Samples, area: Bluetooth Host

#73608 manifest: Update hal_adi to pick up newlib compatibility fix
  west.yml
Labels: Hotfix, manifest, manifest-hal_adi

#73642 boards: st: stm32c0116_dk defines the select pin with zephyr,code
  boards/st/stm32c0116_dk/stm32c0116_dk.dts
Labels: platform: STM32, Trivial

#73641 boards nrf_bsim: Add NVIC_GetEnableIRQ()
  boards/native/nrf_bsim/common/cmsis/cmsis.c
Labels: Trivial, platform: nRF BSIM

#73479 llext: add `pre_located` test
  tests/subsys/llext/simple/CMakeLists.txt
  tests/subsys/llext/simple/src/pre_located_ext.c
  tests/subsys/llext/simple/src/test_llext_simple.c
Labels: area: Linkable Loadable Extensions

#73354 subsys: llext: add _POSIX_C_SOURCE definition
  subsys/llext/CMakeLists.txt
Labels: Trivial, area: Linkable Loadable Extensions

#72358 llext: add support for SLID-based linking
  CMakeLists.txt
  boards/qemu/x86/qemu_x86_tiny.ld
  cmake/llext-edk.cmake
  cmake/modules/extensions.cmake
  include/zephyr/arch/arc/v2/linker.ld
  include/zephyr/arch/arm/cortex_a_r/scripts/linker.ld
  include/zephyr/arch/arm/cortex_m/scripts/linker.ld
  include/zephyr/arch/arm64/scripts/linker.ld
  include/zephyr/arch/mips/linker.ld
  include/zephyr/arch/nios2/linker.ld
  include/zephyr/arch/posix/linker.ld
  include/zephyr/arch/riscv/common/linker.ld
  include/zephyr/arch/sparc/linker.ld
  include/zephyr/arch/x86/ia32/linker.ld
  include/zephyr/arch/x86/intel64/linker.ld
  include/zephyr/linker/llext-sections.ld
  include/zephyr/llext/symbol.h
  scripts/build/llext_inject_slids.py
  scripts/build/llext_prepare_exptab.py
  scripts/build/llext_slidlib.py
  soc/andestech/ae350/linker.ld
  soc/cdns/dc233c/include/xtensa-dc233c.ld
  soc/cdns/xtensa_sample_controller/include/xtensa-sample-controller.ld
  soc/espressif/esp32/default.ld
  soc/espressif/esp32/default_appcpu.ld
  soc/espressif/esp32c3/default.ld
  soc/espressif/esp32s2/default.ld
  soc/espressif/esp32s3/default.ld
  soc/espressif/esp32s3/default_appcpu.ld
  soc/infineon/cat1b/cyw20829/linker.ld
  soc/intel/intel_adsp/ace/ace-link.ld
  soc/intel/intel_adsp/cavs/include/xtensa-cavs-linker.ld
  soc/ite/ec/it8xxx2/linker.ld
  soc/nxp/imx/imx8/adsp/linker.ld
  soc/nxp/imx/imx8m/adsp/linker.ld
  soc/nxp/imx/imx8ulp/adsp/linker.ld
  soc/nxp/imx/imx8x/adsp/linker.ld
  soc/nxp/imx/imx9/a55/linker.ld
  soc/nxp/imxrt/imxrt5xx/f1/linker.ld
  soc/openisa/rv32m1/linker.ld
  soc/st/stm32/stm32mp1x/linker.ld
  subsys/llext/Kconfig
  subsys/llext/llext.c
  tests/subsys/llext/simple/src/test_llext_simple.c
  tests/subsys/llext/simple/testcase.yaml
Labels: area: llext

#73517 intel_adsp/ace: power: fix address space annotation for powerdown
  soc/intel/intel_adsp/ace/power.c
Labels: Trivial, platform: Intel ADSP

#73541 tests: drivers: can: api: add test for frame without data
  tests/drivers/can/api/src/classic.c
Labels: area: CAN

#73476 tests: i2c_ram: Add fixture for i2c_ram testing
  tests/drivers/i2c/i2c_ram/testcase.yaml
Labels: area: I2C

#73260 docs: Add pytest files to a scope triggering doc-build workflow
  .github/workflows/doc-build.yml
Labels: Trivial, area: Continuous Integration

#72417 tests: Made pointer parameters explicitely const where non-const pointer parameters are not needed
  tests/kernel/device/src/mmio.c
Labels: area: Kernel, area: Architectures, Trivial, area: Coding Guidelines, area: Device Model

#72219 subsys: added parentheses verifying the lack of ambiguities
  subsys/logging/log_minimal.c
Labels: area: Logging, Trivial, area: Coding Guidelines

#73245 snippets: cdc-acm-console: Redirect Shell target to USB
  snippets/cdc-acm-console/cdc-acm-console.overlay
Labels: area: Build System, Trivial

#73554 samples: bluetooth: Enable PM on rd_rw612_bga
  samples/bluetooth/central_ht/boards/rd_rw612_bga.conf
  samples/bluetooth/peripheral_ht/boards/rd_rw612_bga.conf
Labels: area: Bluetooth, area: Samples, Trivial

#73662 [fix] CI many tests fail to build due to MBEDTLS kconfig (part 2)
  subsys/random/Kconfig
  tests/crypto/mbedtls/prj.conf
Labels: area: Crypto / RNG, Trivial, area: Userspace, area: JSON, area: Random

#73657 usb: device_next: Update remote wakeup log level
  subsys/usb/device_next/usbd_device.c
Labels: area: USB, Trivial

#73547 MAINTAINERS: add hostlink channel driver sources to Synopsys Platforms entry
  MAINTAINERS.yml
Labels: area: Process

#73522 bluetooth: mesh: fix lpn receive window timing error
  subsys/bluetooth/mesh/lpn.c
Labels: area: Bluetooth, area: Bluetooth Mesh

#73494 drivers: espi: npcx: add support 66MHz eSPI clock
  drivers/espi/espi_npcx.c
Labels: area: eSPI, platform: Nuvoton NPCX

#73467 usb: device_next: hid: fix Get Report buffer handling
  include/zephyr/usb/class/usbd_hid.h
  subsys/usb/device_next/class/usbd_hid.c
Labels: area: USB, Experimental

#73439 arch/x86: Make irq_offload SMP-safe on x86_64
  arch/x86/core/intel64/irq_offload.c
  tests/kernel/smp_abort/testcase.yaml
Labels: area: Kernel, area: X86

#72893 twister: handle exceptions when running binaries
  scripts/pylib/twister/twisterlib/runner.py
  scripts/tests/twister/test_runner.py
Labels: area: Twister

#73698 drivers: flash: flash_util: params may be unused
  drivers/flash/flash_util.c
Labels: area: Flash, Hotfix, Trivial

#72730 samples: basic: blinky_pwm: add testing base on console output
  samples/basic/blinky_pwm/sample.yaml
  samples/basic/blinky_pwm/src/main.c
Labels: area: Samples

#72882 drivers: entropy: stm32 entropy driver add semaphore protection
  drivers/entropy/entropy_stm32.c
Labels: platform: STM32, area: Crypto / RNG

#73571 llext: automatically identify and merge similar sections
  include/zephyr/llext/elf.h
  include/zephyr/llext/loader.h
  subsys/llext/llext.c
Labels: area: Linkable Loadable Extensions

#73564 Bluetooth: BAP: Shell: Add endpoint state info
  subsys/bluetooth/audio/shell/bap.c
Labels: area: Bluetooth, area: Bluetooth Audio

#73562 boards: nxp: mimxrt1020evk: Fix enet dts
  boards/nxp/mimxrt1020_evk/doc/index.rst
  boards/nxp/mimxrt1020_evk/mimxrt1020_evk-pinctrl.dtsi
  boards/nxp/mimxrt1020_evk/mimxrt1020_evk.dts
Labels: platform: NXP

#73204 riscv: Align _isr_wrapper to 64 bytes for CLIC
  arch/riscv/Kconfig
  soc/common/riscv-privileged/vector.S
Labels: area: RISCV

#73700 net: wifi_shell: Resolve filter settings mismatch
  subsys/net/l2/wifi/wifi_shell.c
Labels: area: Networking, area: Wi-Fi, Trivial

#73526 Bluetooth: Mesh: Fix PB GATT adv name
  subsys/bluetooth/mesh/pb_gatt_srv.c
Labels: area: Bluetooth, area: Bluetooth Mesh

#73678 Renesas: Smartbond: Update Renesas HAL submodule
  west.yml
Labels: Trivial, manifest, manifest-hal_renesas, platform: Renesas SmartBond

#73233 soc: psoc6: update pinctrl for PSoC6 MCU (legacy)
  boards/cypress/cy8ckit_062_ble/cy8ckit_062_ble_common.dtsi
  boards/cypress/cy8ckit_062_ble/cy8ckit_062_ble_cy8c6347-pinctrl.dtsi
  boards/cypress/cy8ckit_062_ble/cy8ckit_062_ble_cy8c6347_m0_0_0_0.overlay
  boards/cypress/cy8ckit_062_ble/cy8ckit_062_ble_cy8c6347_m0_1_0_0.overlay
  boards/cypress/cy8ckit_062_ble/cy8ckit_062_ble_cy8c6347_m4_0_0_0.overlay
  boards/cypress/cy8ckit_062_wifi_bt/cy8ckit_062_wifi_bt_cy8c6247-pinctrl.dtsi
  boards/cypress/cy8ckit_062_wifi_bt/cy8ckit_062_wifi_bt_cy8c6247_m0.dts
  boards/cypress/cy8ckit_062_wifi_bt/cy8ckit_062_wifi_bt_cy8c6247_m4.dts
  drivers/pinctrl/pinctrl_ifx_cat1.c
  drivers/serial/Kconfig.psoc6
  drivers/serial/uart_psoc6.c
  drivers/spi/Kconfig.psoc6
  drivers/spi/spi_psoc6.c
  dts/arm/infineon/cat1a/legacy/psoc6-pinctrl.dtsi
  dts/arm/infineon/cat1a/legacy/psoc6.dtsi
  dts/bindings/pinctrl/cypress,psoc6-pinctrl.yaml
  dts/bindings/serial/cypress,psoc6-uart.yaml
  dts/bindings/spi/cypress,psoc6-spi.yaml
  soc/infineon/cat1a/CMakeLists.txt
  soc/infineon/cat1a/psoc6_legacy/pinctrl_soc.h
  soc/infineon/cat1a/psoc6_legacy/soc.h
  soc/infineon/cat1a/psoc6_legacy/soc_gpio.c
  soc/infineon/cat1a/psoc6_legacy/soc_gpio.h
Labels: area: SPI, area: UART, area: Devicetree Binding, area: Pinctrl, platform: Infineon

#73123 drivers: adc: adc_ad559x: fix 5593 adc read
  drivers/adc/adc_ad559x.c
Labels: area: ADC

#70964 drivers/sensor: lps22hh: Enable fetching individual sensor channels
  drivers/sensor/st/lps22hh/lps22hh.c
Labels: area: Sensors

#73672 soc: renesas: ra: added support for segger rtt
  soc/renesas/ra/Kconfig
Labels: Trivial, platform: Renesas RA

#73584 soc: intel_adsp: tools: add intel_adsp_ace30 support to cavstool.py
  soc/intel/intel_adsp/tools/cavstool.py
Labels: platform: Intel ADSP

#73270 doc: describe Kconfig tracking symbol
  doc/build/kconfig/setting.rst
Labels: area: Build System, area: Kconfig

#73149 modules: lvgl: lvgl_fs: Free file on close
  modules/lvgl/lvgl_fs.c
Labels: Trivial, area: LVGL

#73444 submanifests: optional: Sync upstream nanopb
  submanifests/optional.yaml
Labels: manifest, manifest-nanopb

#73046 boards: rak5010: add blackmagicprobe runner
  boards/rak/rak5010/board.cmake
Labels: Trivial

#72538 xtensa: mmu: MMU re-initialization API
  arch/xtensa/core/ptables.c
  include/zephyr/arch/xtensa/xtensa_mmu.h
Labels: area: Xtensa, area: Architectures

#72761 drivers/flash/spi_nor: Fix DPD exit
  drivers/flash/spi_nor.c
Labels: bug, priority: medium, area: Flash, Trivial

#73727 boards: nxp: frdm_k22f: fix the flash size value
  boards/nxp/frdm_k22f/doc/index.rst
  boards/nxp/frdm_k22f/frdm_k22f.dts
  dts/arm/nxp/nxp_k22fn512.dtsi
Labels: platform: NXP, Trivial

#73711 bluetooth: hci_nxp: move vendor specific setup to its dedicated place
  drivers/bluetooth/hci/Kconfig
  drivers/bluetooth/hci/hci_nxp.c
Labels: area: Bluetooth, Trivial, area: Bluetooth Host

#73596 Fix for issue #72394 and additional checks for CONFIG_FILE_SYSTEM_MAX_FILE_NAME
  include/zephyr/fs/fs_interface.h
Labels: area: File System

#73602 ci: doc-build: Reduce parallel job count to 14
  .github/workflows/doc-build.yml
Labels: area: Continuous Integration

#73605 soc: atmel: sam: Add invalidate d-cache at z_arm_platform_init
  soc/atmel/sam/same70/soc.c
  soc/atmel/sam/samv71/soc.c
Labels: platform: Microchip SAM

#73640 drivers: serial: nrfx_uarte: Allow use of legacy shim on RISCV cores
  drivers/serial/Kconfig.nrfx
  drivers/serial/Kconfig.nrfx_uart_instance
  drivers/serial/uart_nrfx_uarte.c
Labels: area: UART, platform: nRF

#73572 tests: nordic: Enable I2C tests
  boards/nordic/nrf54h20dk/nrf54h20dk_nrf54h20_cpuapp.yaml
  tests/boards/nrf/i2c/i2c_slave/testcase.yaml
Labels: area: I2C, platform: nRF

#73412 Do not automatically set all PSA_WANT symbols when BUILD_WITH_TFM
  modules/trusted-firmware-m/Kconfig.tfm
  samples/tfm_integration/psa_crypto/prj.conf
Labels: area: Samples, area: TF-M

#73346 RTC MC146818: Fix incorrect field comparisons
  drivers/rtc/rtc_mc146818.c
Labels: area: RTC, Trivial

#72164 scripts: twister: Do not report filtered test instances by default
  scripts/pylib/twister/twisterlib/environment.py
  scripts/pylib/twister/twisterlib/reports.py
  scripts/tests/twister_blackbox/test_report.py
  scripts/tests/twister_blackbox/test_runner.py
Labels: area: Twister

#73733 drivers: dma: intel_adsp_hda: change L1 exit defaults
  drivers/dma/Kconfig.intel_adsp_hda
Labels: area: DMA, Trivial, platform: Intel ADSP

#73222 mbedtls: remove unused kconfigs for Blowfish, ARC4 and MD4
  doc/releases/migration-guide-3.7.rst
  modules/mbedtls/Kconfig.tls-generic
  modules/mbedtls/configs/config-tls-generic.h
Labels: area: Crypto / RNG, Release Notes

#72734 samples: basic: fade_led: add testing base on console output
  samples/basic/fade_led/sample.yaml
  samples/basic/fade_led/src/main.c
Labels: area: Samples

#73689 drivers: mcux_lptmr_timer: Fix compat string error
  drivers/counter/Kconfig.mcux_lptmr
  drivers/timer/Kconfig.mcux_lptmr
  drivers/timer/mcux_lptmr_timer.c
Labels: bug, area: Counter, area: Timer, Hotfix, Trivial, platform: NXP Drivers

#73806 boards: nxp: imx93_evk: remove deprecated CAN controller properties
  boards/nxp/imx93_evk/imx93_evk_mimx9352_a55.dts
Labels: area: CAN, Hotfix, platform: NXP MPU

#73403 scripts/kconfig: Introduce dt_node_ph_prop_path function
  scripts/kconfig/kconfigfunctions.py
Labels: area: Devicetree, area: Kconfig, platform: Renesas SmartBond

#73361 Bluetooth: Tester: Adjust bap ext adv options
  tests/bluetooth/tester/src/btp_bap_broadcast.c
  tests/bluetooth/tester/src/btp_cap.c
Labels: area: Bluetooth

#73663 Bluetooth: Controller: Correct power levels for bsim targets
  subsys/bluetooth/controller/Kconfig
Labels: area: Bluetooth, area: Bluetooth Controller

#73664 modules: hal_nordic: nrfx: Use soc compatible definition
  modules/hal_nordic/nrfx/nrfx_config.h
Labels: platform: nRF

#73674 tracing: add missing calls for k_wakeup/k_thread_user_mode_enter
  subsys/tracing/ctf/ctf_top.c
  subsys/tracing/ctf/ctf_top.h
  subsys/tracing/ctf/tracing_ctf.h
  subsys/tracing/ctf/tsdl/metadata
Labels: area: Tracing

#73675 twister: Ensure serial-pty process termination
  scripts/pylib/twister/twisterlib/handlers.py
  scripts/tests/twister/test_handlers.py
Labels: area: Twister

#73740 docs: Move sensor.rst to sensor/index.rst
  MAINTAINERS.yml
  doc/_scripts/redirects.py
  doc/hardware/peripherals/index.rst
  doc/hardware/peripherals/sensor/index.rst
Labels: area: Process, area: Sensors, area: Documentation, Trivial, area: Documentation Infrastructure

#73755 doc: release-notes-3.7: Update release notes for Ambiq changes
  doc/releases/release-notes-3.7.rst
Labels: Trivial, Release Notes

#73764 MAINTAINERS: add pdgendt as ethernet collaborator
  MAINTAINERS.yml
Labels: area: Process, Trivial, size: XS

#73780 test: lwm2m: Increase FDS for native_sim
  tests/net/lib/lwm2m/interop/boards/native_sim.conf
Labels: area: Networking, area: LWM2M, Trivial

#73782 kernel: avoid Boolean-to-integer type casts
  include/zephyr/kernel.h
Labels: area: Kernel, Trivial

#73808 posix: re-introduce PTHREAD_RWLOCK_INITIALIZER
  include/zephyr/posix/pthread.h
  lib/posix/options/rwlock.c
Labels: area: POSIX, Trivial

#73811 drivers: can: mcux: flexcan: calculate and set proper TDCO
  drivers/can/can_mcux_flexcan.c
Labels: area: CAN, Trivial, platform: NXP Drivers

#73699 subsys: task_wdt: Feed hardware watchdog only when its started
  subsys/task_wdt/task_wdt.c
Labels: area: Task Watchdog

#73695 dts: boards: stm32h562: add timers 15, 16 and 17
  dts/arm/st/h5/stm32h562.dtsi
Labels: platform: STM32

#73693 doc: update Infocenter links to TechDocs links
  boards/nordic/nrf21540dk/doc/index.rst
  boards/nordic/nrf51dk/doc/index.rst
  boards/nordic/nrf51dongle/doc/index.rst
  boards/nordic/nrf52833dk/doc/index.rst
  boards/nordic/nrf52840dk/doc/index.rst
  boards/nordic/nrf52840dongle/doc/index.rst
  boards/nordic/nrf52dk/doc/index.rst
  boards/nordic/nrf5340_audio_dk/doc/index.rst
  boards/nordic/nrf5340dk/doc/index.rst
  boards/nordic/nrf9131ek/doc/index.rst
  boards/nordic/nrf9151dk/doc/index.rst
  boards/nordic/nrf9160dk/doc/index.rst
  boards/nordic/nrf9161dk/doc/index.rst
  boards/nordic/thingy52/doc/index.rst
  boards/nordic/thingy53/doc/index.rst
Labels: platform: nRF

#73684 boards: shields: adafruit_2_8_tft_touch_v2: fix RW612 board overlay
  boards/shields/adafruit_2_8_tft_touch_v2/boards/rd_rw612_bga.overlay
Labels: area: Shields, Trivial

#73682 soc: nxp: imxrt11xx: support configuration of ARM PLL
  boards/nxp/mimxrt1160_evk/mimxrt1160_evk.dtsi
  boards/nxp/mimxrt1170_evk/mimxrt1170_evk.dtsi
  boards/nxp/vmu_rt1170/vmu_rt1170.dtsi
  dts/arm/nxp/nxp_rt1160.dtsi
  dts/arm/nxp/nxp_rt1170.dtsi
  dts/arm/nxp/nxp_rt11xx.dtsi
  soc/nxp/imxrt/imxrt11xx/soc.c
Labels: platform: NXP

#73626 drives: pinctrl: ITE: Add a property configure pin current strength
  drivers/pinctrl/pinctrl_ite_it8xxx2.c
  dts/bindings/pinctrl/ite,it8xxx2-pinctrl.yaml
  dts/riscv/ite/it81xx2.dtsi
  dts/riscv/ite/it82xx2.dtsi
  soc/ite/ec/common/pinctrl_soc.h
Labels: area: RISCV, area: Devicetree Binding, platform: ITE, area: Pinctrl

#73124 tests: subsys: sensing: add sensing test skeleton
  tests/subsys/sensing/CMakeLists.txt
  tests/subsys/sensing/README.rst
  tests/subsys/sensing/boards/native_sim.conf
  tests/subsys/sensing/boards/native_sim.overlay
  tests/subsys/sensing/prj.conf
  tests/subsys/sensing/src/main.c
  tests/subsys/sensing/testcase.yaml
Labels: area: Sensor Subsystem

#66488 dtlib: Allow deleting the root node
  scripts/dts/python-devicetree/src/devicetree/dtlib.py
  scripts/dts/python-devicetree/tests/test_dtlib.py
Labels: bug, area: Devicetree

#73322 soc: nordic: nrf53: Remove broken PM_S2RAM support
  soc/nordic/nrf53/soc.c
Labels: platform: nRF

#73817 ci: test_plan: fix handling of v2 boards
  scripts/ci/test_plan.py
  scripts/ci/twister_ignore.txt
Labels: Hotfix, area: Continuous Integration

#73702 twister: hardwaremap: avoid exceptions when generating hardware map
  scripts/pylib/twister/twisterlib/hardwaremap.py
  scripts/tests/twister/test_hardwaremap.py
Labels: area: Twister

#73742 drivers: nxp_enet: Disable hw accel with IPV6
  drivers/ethernet/nxp_enet/Kconfig
Labels: area: Ethernet, Trivial, size: XS

#73718 boards: nxp: mimxrt11xx: fix non-optimal sector distribution
  boards/nxp/mimxrt1160_evk/mimxrt1160_evk.dtsi
  boards/nxp/mimxrt1170_evk/mimxrt1170_evk.dtsi
  boards/nxp/mimxrt1170_evk/mimxrt1170_evk_mimxrt1176_cm4_B.overlay
  boards/nxp/mimxrt1170_evk/mimxrt1170_evk_mimxrt1176_cm7_B.overlay
  boards/nxp/vmu_rt1170/vmu_rt1170.dtsi
Labels: platform: NXP

#73701 samples: drivers: clock_control_litex: clean up DTS snippet in README
  samples/drivers/clock_control_litex/README.rst
Labels: area: Samples, platform: LiteX

#73696 drivers: timer: Optimized the ambiq stimer driver
  drivers/timer/ambiq_stimer.c
Labels: area: Timer, platform: Ambiq

#73535 drivers: pinctrl: esp32: Use BIT macro when writing pin value
  drivers/pinctrl/pinctrl_esp32.c
Labels: platform: ESP32, area: Pinctrl

#73461 drivers: udc_dwc2: Abort wait when PHY is not clocked
  drivers/usb/udc/udc_dwc2.c
  drivers/usb/udc/udc_dwc2.h
  drivers/usb/udc/udc_dwc2_vendor_quirks.h
Labels: area: USB

#72289 boards: esp32: don't enable spiram for mcuboot
  boards/espressif/esp32_ethernet_kit/Kconfig.defconfig
  boards/hardkernel/odroid_go/Kconfig.defconfig
Labels: platform: ESP32

#71897 Provide instructions for implementing unit testing.
  doc/develop/test/ztest.rst
Labels: area: Documentation, area: Testsuite

#73590 modules:lvgl: Fix invalid encoder button input events
  modules/lvgl/input/lvgl_encoder_input.c
Labels: area: LVGL

#73199 soc: riscv: litex: add reboot
  boards/enjoydigital/litex_vexriscv/litex_vexriscv.dts
  dts/bindings/riscv/litex,soc-controller.yaml
  dts/riscv/riscv32-litex-vexriscv.dtsi
  soc/litex/litex_vexriscv/CMakeLists.txt
  soc/litex/litex_vexriscv/Kconfig.defconfig
  soc/litex/litex_vexriscv/reboot.c
Labels: area: RISCV, area: Devicetree Binding, platform: LiteX

#73730 drivers: spi: remove deprecated functions
  doc/develop/api/terminology.rst
  doc/releases/release-notes-3.7.rst
  include/zephyr/drivers/spi.h
Labels: area: SPI, area: Documentation, Release Notes

#73729 maintainers: add glenn-andrews as SMF collaborator
  MAINTAINERS.yml
Labels: area: Process

#73665 Update tcpserversink sample
  samples/subsys/video/tcpserversink/README.rst
  samples/subsys/video/tcpserversink/sample.yaml
  samples/subsys/video/tcpserversink/src/main.c
Labels: area: Samples

#73198 soc: nordic: nrf54h: Retrigger TASK_FREQ_CHANGE
  soc/nordic/nrf54h/soc.c
Labels: platform: nRF

#72658 boards: introduce bytesatwork byteSENSI-L
  boards/bytesatwork/bytesensi_l/Kconfig
  boards/bytesatwork/bytesensi_l/Kconfig.bytesensi_l
  boards/bytesatwork/bytesensi_l/Kconfig.defconfig
  boards/bytesatwork/bytesensi_l/board.cmake
  boards/bytesatwork/bytesensi_l/board.yml
  boards/bytesatwork/bytesensi_l/bytesensi_l.dts
  boards/bytesatwork/bytesensi_l/bytesensi_l.yaml
  boards/bytesatwork/bytesensi_l/bytesensi_l_defconfig
  boards/bytesatwork/bytesensi_l/bytesensi_l_pinctrl.dtsi
  boards/bytesatwork/bytesensi_l/doc/img/byteSENSI-L.jpg
  boards/bytesatwork/bytesensi_l/doc/index.rst
  boards/bytesatwork/bytesensi_l/pre_dt_board.cmake
  boards/bytesatwork/index.rst
  dts/bindings/vendor-prefixes.txt
Labels: area: Process, area: Devicetree Binding

#70074 include: posix: Avoid compiler warning about return type mismatched
  include/zephyr/posix/time.h
Labels: area: POSIX, Trivial

#72628 drivers: input: sbus remote controller support
  boards/nxp/vmu_rt1170/doc/index.rst
  boards/nxp/vmu_rt1170/vmu_rt1170_mimxrt1176_cm7.dts
  drivers/input/CMakeLists.txt
  drivers/input/Kconfig
  drivers/input/Kconfig.sbus
  drivers/input/input_sbus.c
  dts/bindings/input/futaba,sbus.yaml
  dts/bindings/vendor-prefixes.txt
Labels: platform: NXP, area: Devicetree Binding, area: Input

#73744 Revert "drivers/console/xtensa_sim_console: force `\r\n` byte sequence"
  drivers/console/xtensa_sim_console.c
Labels: area: Console

#73726 scripts: set_assignees.py: No trivial label for single-line changes
  scripts/set_assignees.py
Labels: area: Continuous Integration

#73691 doc: project roles: reviewer and assignee clarification
  doc/contribute/contributor_expectations.rst
  doc/project/project_roles.rst
Labels: area: Documentation, Process

#73343 testsuite: add dependency to `COVERAGE_GCOV_HEAP_SIZE`
  subsys/testsuite/Kconfig
Labels: Trivial, area: Testsuite

#72470 twister: footprint: Add optional detailed JSON report on symbols
  scripts/pylib/twister/twisterlib/environment.py
  scripts/pylib/twister/twisterlib/reports.py
  scripts/pylib/twister/twisterlib/runner.py
Labels: Enhancement, area: Twister, Footprint

#73872 sensing: Fix build warning on invalid array index
  subsys/sensing/sensor_mgmt.h
Labels: bug, area: Tests, Trivial, area: Sensor Subsystem

#73336 soc/da1469x: Fix CONFIG_SYS_CLOCK_*_PER_SEC defines
  soc/renesas/smartbond/da1469x/Kconfig.defconfig
Labels: area: Devicetree, area: Kconfig, platform: Renesas SmartBond

#73704 manifest: update hal_nordic with nrfx_gpiote fix
  west.yml
Labels: manifest, manifest-hal_nordic

#73830 manifest: Update nRF hw models to latest
  west.yml
Labels: Trivial, manifest, manifest-nrf_hw_models, platform: nRF BSIM

#73902 drivers: flash: flash_shell: Fix unused variables
  drivers/flash/flash_shell.c
Labels: area: Flash, Hotfix, Trivial

#73774 kernel: added missing parenthesis
  include/zephyr/spinlock.h
  kernel/include/mmu.h
  kernel/mmu.c
Labels: area: Kernel

#73770 drivers: ethernet: stm32 eth hal driver align PTP Config Status
  drivers/ethernet/eth_stm32_hal.c
  drivers/ethernet/eth_stm32_hal_priv.h
  samples/net/gptp/sample.yaml
Labels: area: Networking, area: Samples, platform: STM32, area: Ethernet

#73767 mqtt: doc: remove Unicode "fullwidth left parenthesis" from code comment
  include/zephyr/shell/shell_mqtt.h
Labels: area: Shell, Trivial

#73835 samples: drivers: adc: Add nrf54l15 to platform_allow
  samples/drivers/adc/adc_dt/sample.yaml
  samples/drivers/adc/adc_sequence/sample.yaml
Labels: area: ADC, area: Samples, Trivial
