Repository zephyrproject-rtos/zephyr, pull requests merged in 2024-07, with the labels that each got.

#74641 bluetooth: host/classic: Fix possible buffer overflow
  subsys/bluetooth/host/classic/rfcomm.c
Labels: bug, area: Bluetooth, area: Bluetooth Host, area: Bluetooth Classic

#75217 drivers: gnss: gnss_u_blox_m10: fix compiler warning
  drivers/gnss/gnss_u_blox_m10.c
Labels: Trivial, area: GNSS, size: XS

#74865 driver: spi: gd32: fix spi reg clear wrong flag
  drivers/spi/spi_gd32.c
Labels: bug, area: SPI, platform: GD32

#74341 drivers: clock_control: ra: fix issue with setting memwait cycles
  drivers/clock_control/clock_control_renesas_ra.c
Labels: area: Clock Control, platforms: Renesas RA

#75233 doc: css: Use body color for captions
  doc/_static/css/custom.css
Labels: bug, Trivial, area: Documentation Infrastructure

#75231 doc: boards: stm32h747i_disco: minor fix
  boards/st/stm32h747i_disco/doc/index.rst
Labels: area: Documentation, platform: STM32, Trivial

#75214 doc: release: 3.7: Release notes for Renesas EK-RA8M1 board
  doc/releases/release-notes-3.7.rst
Labels: Trivial, Release Notes

#75188 boards: nxp: lpcxpresso55xxx: list USB device as supported
  boards/nxp/lpcxpresso55s16/lpcxpresso55s16.yaml
  boards/nxp/lpcxpresso55s36/lpcxpresso55s36.yaml
Labels: area: USB, platform: NXP, Trivial

#75085 drivers: ethernet: stm32: fix PTP on STM32F7
  drivers/ethernet/eth_stm32_hal_priv.h
Labels: bug, platform: STM32, area: Ethernet, size: XS

#75083 dts: pinctrl: unify pinctrl binding for imx8mp/n/m
  boards/nxp/imx8mm_evk/imx8mm_evk-pinctrl.dtsi
  boards/nxp/imx8mn_evk/imx8mn_evk-pinctrl.dtsi
  boards/phytec/mimx8mm_phyboard_polis/mimx8mm_phyboard_polis-pinctrl.dtsi
  dts/arm/nxp/nxp_imx8mm_m4.dtsi
  dts/arm64/nxp/nxp_mimx8mm_a53.dtsi
  dts/arm64/nxp/nxp_mimx8mn_a53.dtsi
Labels: bug, area: Xtensa, platform: NXP, area: Devicetree Binding, area: ARM64, area: Pinctrl, platform: NXP Drivers, platform: NXP MPU

#75081 drivers: uart: uart_elementary: Add missing pull-ups to nrf54h20dk
  tests/drivers/uart/uart_elementary/boards/nrf54h20dk_nrf54h20_cpuapp_dual_uart.overlay
Labels: area: UART

#75078 MAINTAINERS: add valeriosetti as collaborator for Mbed TLS module
  MAINTAINERS.yml
Labels: area: Process, size: XS

#75067 drivers: i2c: bugfix for ambiq i2c driver
  drivers/i2c/i2c_ambiq.c
Labels: area: I2C, platform: Ambiq

#74627 boards: st: fix sysbuild multi image flash
  boards/st/nucleo_h533re/board.cmake
  boards/st/nucleo_h563zi/board.cmake
  boards/st/nucleo_u575zi_q/board.cmake
  boards/st/stm32f429i_disc1/board.cmake
  boards/st/stm32h573i_dk/board.cmake
  boards/st/stm32h750b_dk/board.cmake
  boards/st/stm32h7b3i_dk/board.cmake
  boards/st/stm32h7s78_dk/board.cmake
  boards/st/stm32u5a9j_dk/board.cmake
Labels: platform: STM32

#74970 device: only define/initialize metadata for DT devices
  include/zephyr/device.h
Labels: bug, area: Device Model

#75272 ci: move github runners from macos-11 to macos-14
  .github/workflows/devicetree_checks.yml
  .github/workflows/west_cmds.yml
Labels: Hotfix, area: Continuous Integration

#75239 doc: esp32: fix rendering of MCUboot note
  boards/espressif/esp32_devkitc_wroom/doc/index.rst
  boards/espressif/esp32_devkitc_wrover/doc/index.rst
  boards/espressif/esp32_ethernet_kit/doc/index.rst
  boards/espressif/esp32c3_devkitm/doc/index.rst
  boards/espressif/esp32c6_devkitc/doc/index.rst
  boards/espressif/esp32s2_devkitc/doc/index.rst
  boards/espressif/esp32s2_saola/doc/index.rst
  boards/espressif/esp32s3_devkitc/doc/index.rst
  boards/espressif/esp32s3_devkitm/doc/index.rst
  boards/espressif/esp_wrover_kit/doc/index.rst
  boards/franzininho/esp32s2_franzininho/doc/index.rst
  boards/hardkernel/odroid_go/doc/index.rst
  boards/heltec/heltec_wifi_lora32_v2/doc/index.rst
  boards/heltec/heltec_wireless_stick_lite_v3/doc/index.rst
  boards/lilygo/ttgo_lora32/doc/index.rst
  boards/lilygo/ttgo_t8c3/doc/index.rst
  boards/luatos/esp32c3_luatos_core/doc/index.rst
  boards/luatos/esp32s3_luatos_core/doc/index.rst
  boards/m5stack/m5stickc_plus/doc/index.rst
  boards/m5stack/stamp_c3/doc/index.rst
  boards/olimex/olimex_esp32_evb/doc/index.rst
  boards/others/icev_wireless/doc/index.rst
  boards/seeed/xiao_esp32c3/doc/index.rst
  boards/seeed/xiao_esp32s3/doc/index.rst
  boards/vcc-gnd/yd_esp32/doc/index.rst
Labels: bug, area: Documentation, platform: ESP32, Trivial

#75109 ARCMWDT: Fix issues with posix types
  include/zephyr/posix/posix_types.h
  lib/libc/arcmwdt/include/signal.h
Labels: area: C Library, area: POSIX, area: C++

#75129 drivers: udc_stm32: Implement driver API to get actual device speed and fix ZLP handling
  drivers/usb/udc/udc_stm32.c
Labels: bug, area: Drivers, area: USB, platform: STM32, Experimental

#75104 boards: nordic: Change NRFS logs to debug level
  modules/hal_nordic/nrfs/backends/nrfs_backend_ipc_service.c
  modules/hal_nordic/nrfs/dvfs/ld_dvfs.c
  modules/hal_nordic/nrfs/dvfs/ld_dvfs_handler.c
Labels: platform: nRF

#75036 boards: infineon: cyw920829m2evk_02: update documentation
  boards/infineon/cyw920829m2evk_02/doc/img/cyw920829m2evk_02.webp
  boards/infineon/cyw920829m2evk_02/doc/index.rst
Labels: area: Documentation, platform: Infineon

#74989 lib: smf: use `while (true)` in `get_child_of` for better clarity
  lib/smf/smf.c
Labels: area: State Machine Framework

#74915 drivers: serial: pl011: add support for hardware flow control
  drivers/serial/uart_pl011.c
Labels: bug, area: UART

#74564 scripts: west robot & simulation: Fix OOT
  doc/develop/test/twister.rst
  samples/subsys/shell/shell_module/sample.yaml
  scripts/pylib/twister/twisterlib/handlers.py
  scripts/pylib/twister/twisterlib/harness.py
  scripts/schemas/twister/testsuite-schema.yaml
  scripts/tests/twister/test_harness.py
  scripts/west_commands/runners/renode-robot.py
  tests/drivers/console/line_splitting/testcase.yaml
Labels: area: Documentation, area: Samples, area: Console, area: Shell, area: West, area: Twister

#75295 tests: arm_irq_vector_table: Fix RT/WXXX
  tests/arch/arm/arm_irq_vector_table/src/arm_irq_vector_table.c
Labels: bug, area: ARM, platform: NXP, Trivial

#75240 west: commands: runners: canopen: increase default SDO timeout
  scripts/west_commands/runners/canopen_program.py
Labels: bug, area: CAN, area: West, Trivial, size: XS

#75300 net: dns: Avoid superfluous error message
  subsys/net/lib/dns/dispatcher.c
Labels: bug, area: Networking, Trivial, size: XS

#75299 riscv: fix compilation error when building OOT SoC with custom `__soc_is_irq`
  include/zephyr/arch/riscv/irq.h
Labels: bug, area: RISCV, area: Architectures, Regression, Trivial, area: Base OS, size: XS

#75153 Bluetooth: host: ensure ownership of conn on TX path
  subsys/bluetooth/host/conn.c
  subsys/bluetooth/host/conn_internal.h
  subsys/bluetooth/host/hci_core.h
Labels: bug, area: Bluetooth, area: Bluetooth Host

#75149 drivers: ethernet: phy_mii: check if there is a mdio config
  drivers/ethernet/phy/phy_mii.c
Labels: area: Ethernet

#75156 doc: detail how to find the drop-down version selector
  doc/_templates/layout.html
Labels: area: Documentation Infrastructure, size: XS

#73991 west.yml: hal_stm32: remove autoconf.h includes
  west.yml
Labels: manifest, manifest-hal_stm32, size: XS

#75306 drivers: udc_stm32: only check for HS_SPEED if defined
  drivers/usb/udc/udc_stm32.c
Labels: bug, area: USB, platform: STM32, Trivial

#74850 west.yml: TF-M: Fix 2 issues preventing usage on STM32 targets
  west.yml
Labels: manifest, manifest-trusted-firmware-m, size: XS

#74511 doc: doxygen: provide a way to override configs locally
  doc/CMakeLists.txt
  doc/zephyr.doxyfile.in
Labels: area: Documentation Infrastructure

#75218 dts: riscv: Fix incorrect plic size
  dts/riscv/efinix/sapphire_soc.dtsi
Labels: area: RISCV, size: XS

#75222 doc: net: Add info about misc network config options
  doc/connectivity/networking/api/net_config.rst
Labels: area: Networking

#75228 twister: Fix gTest harness
  scripts/pylib/twister/twisterlib/harness.py
  scripts/tests/twister/test_harness.py
Labels: bug, area: Twister

#75062 docs: Add icm42688 changes to migration guide
  doc/releases/migration-guide-3.7.rst
Labels: Release Notes

#75221 doc: modules: fix indentation
  doc/develop/modules.rst
Labels: area: Build System, area: Documentation, Trivial, size: XS

#75359 samples: modules: canopennode: add bootloader argument
  samples/modules/canopennode/README.rst
Labels: area: Documentation, area: Samples, area: CAN, Trivial, size: XS

#75269 net: ipv6-pe: Verify that hmac calculation was ok
  subsys/net/ip/ipv6_pe.c
Labels: area: Networking, Coverity

#75245 tests: dma/chan_blen_transfer: place TX buf in RAM
  tests/drivers/dma/chan_blen_transfer/src/test_dma.c
Labels: bug, area: DMA, size: XS

#75235 Bluetooth: BAP: Broadcast: Fix state checks
  subsys/bluetooth/audio/bap_broadcast_sink.c
  subsys/bluetooth/audio/bap_broadcast_source.c
Labels: area: Bluetooth, area: Bluetooth Audio

#75206 drivers: adc: lmp90xxx: fix checksum mismatch return value
  drivers/adc/adc_lmp90xxx.c
Labels: bug, area: ADC, Trivial, backport v3.5-branch, backport v3.6-branch, size: XS

#75108 intel-adsp/ace: fix firmware panic on MTL
  soc/intel/intel_adsp/ace/power.c
  soc/intel/intel_adsp/ace/power_down.S
Labels: bug, priority: high, platform: Intel ADSP

#75268 soc: nordic: Fix run once regex issue and add missing entries
  soc/nordic/soc.yml
Labels: platform: nRF

#75238 drivers: wifi/airoc: Update cb_search to check SSID length
  drivers/wifi/infineon/airoc_wifi.c
Labels: bug, area: Wi-Fi

#75392 drivers: nsos: add missing 'break' in switch statements
  drivers/net/nsos_adapt.c
  drivers/net/nsos_sockets.c
Labels: area: Networking, Coverity, Trivial

#75280 github: hello_world_multiplatform: upgrade from macos-12 to macos-13
  .github/workflows/hello_world_multiplatform.yaml
Labels: area: Continuous Integration, size: XS

#75301 drivers: serial: uart_max32: Fixing bugs and code optimizations
  drivers/serial/uart_max32.c
Labels: area: UART, platform: ADI

#75097 ISM330DHCX sensor: Fix 72617
  drivers/sensor/st/ism330dhcx/ism330dhcx.c
Labels: bug, priority: low, area: Drivers, area: Sensors

#75290 drivers i2c I2C_DW:Fix I2C scan example
  drivers/i2c/Kconfig.dw
  drivers/i2c/i2c_dw.c
Labels: area: I2C

#75175 Bluetooth: Mesh: Bridge Configuration Client/Server API
  include/zephyr/bluetooth/mesh.h
  include/zephyr/bluetooth/mesh/access.h
  include/zephyr/bluetooth/mesh/brg_cfg.h
  include/zephyr/bluetooth/mesh/brg_cfg_cli.h
  include/zephyr/bluetooth/mesh/brg_cfg_srv.h
  subsys/bluetooth/mesh/CMakeLists.txt
  subsys/bluetooth/mesh/Kconfig
  subsys/bluetooth/mesh/brg_cfg_cli.c
  subsys/bluetooth/mesh/brg_cfg_srv.c
  tests/bsim/bluetooth/mesh/prj.conf
Labels: area: Bluetooth, area: Bluetooth Mesh

#75226 dts: x86: intel: ish: Remove d0i1 and modify d0i2
  dts/x86/intel/intel_ish5.dtsi
Labels: platform: X86, platform: Intel ISH

#75305 soc: nxp_s32: disable TCP/UDP software checksum only if ethernet driver enabled
  soc/nxp/s32/s32k3/Kconfig.defconfig
  soc/nxp/s32/s32ze/Kconfig.defconfig
Labels: bug, platform: NXP S32

#75436 samples/net/dhcpv4_client: Exclude native_posix due to EVENTFD
  samples/net/dhcpv4_client/sample.yaml
Labels: bug, area: Networking, area: Samples, Trivial

#75343 doc: release/migration-notes/3.7: add bits about PCIe, I3C, UART and Xtensa
  doc/releases/migration-guide-3.7.rst
  doc/releases/release-notes-3.7.rst
Labels: Trivial, Release Notes

#75316 west.yml: stm32: Set __SAUREGION_PRESENT to 0 for STM32H503
  west.yml
Labels: manifest, manifest-hal_stm32, size: XS

#75313 Bluetooth: remove host/adv/resume test
  tests/bsim/bluetooth/host/adv/compile.sh
  tests/bsim/bluetooth/host/adv/resume/CMakeLists.txt
  tests/bsim/bluetooth/host/adv/resume/prj.conf
  tests/bsim/bluetooth/host/adv/resume/prj_2.conf
  tests/bsim/bluetooth/host/adv/resume/src/bs_bt_utils.c
  tests/bsim/bluetooth/host/adv/resume/src/bs_bt_utils.h
  tests/bsim/bluetooth/host/adv/resume/src/dut.c
  tests/bsim/bluetooth/host/adv/resume/src/main.c
  tests/bsim/bluetooth/host/adv/resume/src/tester.c
  tests/bsim/bluetooth/host/adv/resume/test_scripts/_compile.sh
  tests/bsim/bluetooth/host/adv/resume/test_scripts/run_adv_resume.sh
  tests/bsim/bluetooth/host/adv/resume/test_scripts/run_adv_resume_2.sh
Labels: area: Bluetooth, area: Tests, area: Bluetooth Host, platform: nRF BSIM

#75338 boards: imx93_evk: ca55: correct board name in yaml
  boards/nxp/imx93_evk/imx93_evk_mimx9352_a55.yaml
Labels: bug, platform: NXP MPU, size: XS

#75323 Bluetooth: Host: Remove conn param update checks
  subsys/bluetooth/host/conn.c
Labels: bug, area: Bluetooth, area: Bluetooth Host

#75297 tests: logging/dictionary: fix pytest failures on hardware
  tests/subsys/logging/dictionary/pytest/test_logging_dictionary.py
Labels: area: Logging

#75174 ace: power: replace pseudo-assembly movi
  soc/intel/intel_adsp/ace/asm_memory_management.h
Labels: platform: Intel ADSP

#75354 doc: security: Disclose CVE-2024-3332
  doc/releases/release-notes-3.7.rst
  doc/security/vulnerabilities.rst
Labels: area: Documentation, Release Notes

#75477 drivers: eeprom: emulator: correct improper exponentiation
  drivers/eeprom/eeprom_emulator.c
Labels: Trivial, area: EEPROM, size: XS

#74186 manifest: Bump libmetal and open-amp
  west.yml
Labels: area: IPC, manifest, manifest-open-amp, manifest-libmetal

#75430 Bluetooth: ISO: Tone down some dbg logs
  subsys/bluetooth/host/iso.c
Labels: area: Bluetooth, Trivial, area: Bluetooth Host

#75366 Bluetooth: A2DP: Check if pointer is valid
  subsys/bluetooth/host/classic/a2dp.c
Labels: area: Bluetooth, area: Bluetooth Host, area: Bluetooth Classic

#75363 net: mqtt: Fix possible socket leak with websocket transport
  subsys/net/lib/mqtt/mqtt_transport_websocket.c
Labels: bug, area: Networking, backport v3.5-branch, backport v3.6-branch

#75368 Bluetooth: A2DP: Fix NULL pointer references issue
  subsys/bluetooth/host/classic/a2dp.c
Labels: area: Bluetooth, area: Bluetooth Host, area: Bluetooth Classic, size: XS

#75367 Bluetooth: A2DP: Fix NULL pointer references issue
  subsys/bluetooth/host/classic/a2dp.c
Labels: area: Bluetooth, area: Bluetooth Host, area: Bluetooth Classic, size: XS

#75369 Bluetooth: A2DP: Check the pointer before using
  subsys/bluetooth/host/classic/a2dp.c
Labels: area: Bluetooth, area: Bluetooth Host, area: Bluetooth Classic

#75371 scripts: west_commands: Fix west boards for SoC and arch in modules
  scripts/west_commands/boards.py
Labels: bug, area: West

#75401 Bluetooth: GATT: factor out notify callback
  subsys/bluetooth/host/gatt.c
Labels: bug, area: Bluetooth, area: Bluetooth Host

#75346 fb: cfb: Fix CID 394240
  subsys/fb/cfb.c
Labels: bug, Coverity, area: Display

#75333 soc: intel_socfpga_std/cyclonev: enforce ARM_AARCH32_MMU
  soc/intel/intel_socfpga_std/cyclonev/Kconfig
Labels: bug, platform: Intel SoC FPGA Agilex, size: XS

#75381 Bluetooth: GATT: Add additional documention to bt_gatt_unsubscribe
  include/zephyr/bluetooth/gatt.h
Labels: area: Bluetooth, area: Documentation

#75386 drivers: memc: fix Kconfig option MEMC_STM32
  drivers/memc/Kconfig.stm32
  soc/st/stm32/Kconfig.defconfig
Labels: bug, platform: STM32, area: MEMC

#75393 Bluetooth: host: disallow scan with timeout when BT_PRIVACY=y
  include/zephyr/bluetooth/bluetooth.h
  subsys/bluetooth/host/scan.c
Labels: bug, area: Bluetooth, area: Bluetooth Host

#75394 drivers: nsos: fix resource leak in nsos_adapt_accept() error path
  drivers/net/nsos_adapt.c
Labels: area: Networking, Coverity, size: XS

#75396 drivers: wifi: esp_at: use memcpy() to copy SSID
  drivers/wifi/esp_at/esp.c
Labels: Coverity, area: Wi-Fi, size: XS

#75397 drivers: wifi: esp_at: check if MAC address was parsed successfully
  drivers/wifi/esp_at/esp.c
Labels: Coverity, area: Wi-Fi

#75385 samples: Bluetooth: central_iso: Remove K_FOREVER for buf alloc
  samples/bluetooth/central_iso/src/main.c
Labels: area: Bluetooth, area: Samples

#75281 samples: net: zperf: Optimize configuration for better performance
  samples/net/zperf/README.rst
  samples/net/zperf/prj.conf
Labels: area: Networking, area: Samples

#75529 include: drivers: fix typo
  include/zephyr/drivers/adc/adc_npcx_threshold.h
  include/zephyr/drivers/bluetooth.h
  include/zephyr/drivers/bluetooth/hci_driver.h
  include/zephyr/drivers/can.h
  include/zephyr/drivers/clock_control/clock_control_numaker.h
  include/zephyr/drivers/dai.h
  include/zephyr/drivers/dma.h
  include/zephyr/drivers/dma/dma_stm32.h
  include/zephyr/drivers/emul.h
  include/zephyr/drivers/emul_sensor.h
  include/zephyr/drivers/fuel_gauge.h
  include/zephyr/drivers/gnss.h
  include/zephyr/drivers/gpio.h
  include/zephyr/drivers/i2c/rtio.h
  include/zephyr/drivers/i2c/target/eeprom.h
  include/zephyr/drivers/i3c/ccc.h
  include/zephyr/drivers/mfd/axp192.h
  include/zephyr/drivers/misc/timeaware_gpio/timeaware_gpio.h
  include/zephyr/drivers/modem/hl7800.h
  include/zephyr/drivers/mspi.h
  include/zephyr/drivers/pcie/endpoint/pcie_ep.h
  include/zephyr/drivers/pcie/pcie.h
  include/zephyr/drivers/usb/usb_bc12.h
  include/zephyr/drivers/usb_c/usbc_pd.h
  include/zephyr/drivers/usb_c/usbc_vbus.h
  include/zephyr/drivers/w1.h
Labels: Trivial

#75404 kernel kconfig: Do not enable STATIC_INIT_GNU w the old native_posix
  include/zephyr/linker/common-rom/common-rom-init.ld
  kernel/Kconfig
Labels: bug, area: Kernel, area: Linker Scripts

#75552 boards: frdm_rw612: Fix flash size
  boards/nxp/frdm_rw612/frdm_rw612.dts
Labels: bug, platform: NXP, Trivial, size: XS

#75543 doc: fix typo in multiple directories before v3.7.0 release
  doc/build/kconfig/tips.rst
  doc/connectivity/bluetooth/api/audio/bluetooth-le-audio-arch.rst
  doc/connectivity/bluetooth/api/audio/shell/bap.rst
  doc/connectivity/networking/api/lwm2m.rst
  doc/connectivity/networking/api/ptp.rst
  doc/connectivity/usb/device/usb_device.rst
  doc/develop/flash_debug/probes.rst
  doc/develop/west/build-flash-debug.rst
  doc/kernel/services/interrupts.rst
  doc/kernel/services/smp/smp.rst
  doc/releases/release-notes-3.7.rst
Labels: area: Documentation, Trivial

#75417 test: pytest: add linkserver support in pytest
  scripts/pylib/pytest-twister-harness/src/twister_harness/device/hardware_adapter.py
Labels: Trivial, area: Twister

#75415 watchdog: wdt_nrfx: return errors, not assertions
  drivers/watchdog/wdt_nrfx.c
Labels: area: Watchdog, platform: nRF

#75328 drivers: gpio: imx rt11xx: fix wrong gpio pull disable mask
  drivers/gpio/gpio_mcux_igpio.c
Labels: bug, area: GPIO, platform: NXP Drivers, size: XS

#75426 board: imx8mp_evk: update doc to add remoteproc boot
  boards/nxp/imx8mp_evk/doc/index.rst
Labels: area: Documentation, platform: NXP MPU

#75528 kernel: fix typo
  kernel/Kconfig
  kernel/Kconfig.smp
  kernel/dynamic.c
  kernel/include/ksched.h
  kernel/mmu.c
  kernel/sched.c
  kernel/timeout.c
Labels: area: Kernel, Trivial

#75456 doc: hardware: peripherals: eeprom: reorganize and add EEPROM shell page
  MAINTAINERS.yml
  doc/_scripts/redirects.py
  doc/hardware/peripherals/eeprom/api.rst
  doc/hardware/peripherals/eeprom/index.rst
  doc/hardware/peripherals/eeprom/shell.rst
  doc/hardware/peripherals/index.rst
Labels: area: Process, area: Documentation, area: EEPROM, area: Documentation Infrastructure

#75444 modules: lvgl: fix initialization macro syntax
  modules/lvgl/input/lvgl_common_input.c
Labels: area: LVGL, size: XS

#75459 net: buf: Add `const` to net_buf API
  include/zephyr/net/buf.h
  subsys/net/buf.c
  subsys/net/buf_simple.c
Labels: area: Networking Buffers

#75248 soc: nxp: add flashing configuration
  soc/nxp/imxrt/soc.yml
  soc/nxp/kinetis/soc.yml
  soc/nxp/lpc/soc.yml
  soc/nxp/mcx/soc.yml
  soc/nxp/rw/soc.yml
Labels: bug, platform: NXP

#75303 MAINTAINERS: use shorter, more intuitive label for llext
  MAINTAINERS.yml
Labels: area: Process, Trivial, area: llext, area: Linkable Loadable Extensions, size: XS

#75541 soc: esp32c6: remove idle source file
  soc/espressif/esp32c6/idle.c
Labels: platform: ESP32, Trivial

#75470 Bluetooth samples: Broadcast code handling
  samples/bluetooth/bap_broadcast_sink/src/main.c
Labels: area: Bluetooth, area: Samples, area: Bluetooth Audio

#75465 sample: usb: allow samples to be built on all platforms with 'usbd'
  samples/subsys/usb/cdc_acm/sample.yaml
  samples/subsys/usb/hid-keyboard/sample.yaml
  samples/subsys/usb/hid-mouse/sample.yaml
  samples/subsys/usb/mass/sample.yaml
  samples/subsys/usb/shell/sample.yaml
Labels: area: USB, area: Samples, Experimental

#75441 modules: mbedtls: properly guard PSA_CRYPTO_C
  modules/mbedtls/Kconfig.tls-generic
  modules/mbedtls/configs/config-tls-generic.h
Labels: area: Crypto / RNG

#75155 fs: nvs: Add more strict checks to determine if an ATE is valid
  subsys/fs/nvs/nvs.c
Labels: area: File System

#74924 kernel: corrected parameter names
  kernel/sched.c
  kernel/thread.c
Labels: area: Kernel

#75560 doc: relnotes/3.7: Add info about CVE-2024-6258
  doc/releases/release-notes-3.7.rst
Labels: Trivial, Release Notes

#75516 drivers: eth: esp32: fix build to enable statistics
  drivers/ethernet/eth_esp32.c
Labels: bug, area: Ethernet, platform: ESP32, Trivial

#75422 drivers: i2c: configure sleep pins for Smartbond I2C
  boards/renesas/da14695_dk_usb/da14695_dk_usb-pinctrl.dtsi
  boards/renesas/da14695_dk_usb/da14695_dk_usb.dts
Labels: platform: Renesas SmartBond

#74395 lib: os: mpsc_pbuf: Do not use sem when CONFIG_MULTITHREADING=n
  lib/os/mpsc_pbuf.c
Labels: bug, area: Logging

#75058 sensors: ICM42688 read/writes chain callbacks
  drivers/sensor/tdk/icm42688/icm42688_rtio_stream.c
Labels: bug, area: Sensors

#75606 requirements: bump pyelftools to >=0.29
  scripts/requirements-base.txt
Labels: Trivial, size: XS

#75475 Driver: i2c_ll_stm32_v2: Remove log msg on boot
  drivers/i2c/i2c_ll_stm32_v2.c
Labels: area: I2C, platform: STM32

#75473 wifi: esp32: fix memory leak
  drivers/wifi/esp32/src/esp_wifi_drv.c
Labels: platform: ESP32, area: Wi-Fi

#75223 scripts: twisterlib: coverage: fix multiple branch excludes
  scripts/pylib/twister/twisterlib/coverage.py
Labels: area: Twister

#75597 test: logging: dictionary: fix build error with minimal libc
  tests/subsys/logging/dictionary/src/main.c
Labels: bug, area: Logging, Trivial, size: XS

#75595 tests: logging: log_backend_uart: fix build error
  tests/subsys/logging/log_backend_uart/src/main.c
Labels: bug, area: Logging, Trivial

#75566 Bluetooth: BAP: Remove doc for past_sync in pa_sync_req
  include/zephyr/bluetooth/audio/bap.h
Labels: area: Bluetooth, area: Documentation, Trivial, area: Bluetooth Audio

#75480 drivers: sensor: wsen_itds: fix device ID mismatch return value
  drivers/sensor/wsen/wsen_itds/itds.c
Labels: area: Sensors, size: XS

#75512 soc: silabs: Include series-specific Kconfig
  soc/silabs/Kconfig
  soc/silabs/silabs_s0/Kconfig
  soc/silabs/silabs_s1/Kconfig
  soc/silabs/silabs_s2/Kconfig
Labels: bug, platform: Silabs

#75496 Fix net mgmt blocks syswq and synchronous does not build without event info
  subsys/net/ip/net_mgmt.c
Labels: area: Networking

#75412 sensor: lps22hh: fix: Prevent overwriting values not fetched
  drivers/sensor/st/lps22hh/lps22hh.c
Labels: bug, area: Sensors

#75110 llext: add explicit cast to fix Coverity CID: 392507
  subsys/llext/llext_load.c
Labels: bug, Trivial, area: llext, size: XS

#75495 MAINTAINERS: STM32 Platforms: collaborators: remove ajarmouni-st
  MAINTAINERS.yml
Labels: area: Process, size: XS

#73205 samples: hid-mouse: protect report buffer
  samples/subsys/usb/hid-mouse/prj.conf
  samples/subsys/usb/hid-mouse/src/main.c
Labels: bug, area: USB, area: Samples

#75503 Bluetooth: shell: A2DP: fix compiling issues
  subsys/bluetooth/shell/a2dp.c
Labels: area: Bluetooth, area: Bluetooth Host, area: Bluetooth Classic

#75525 net: sockets: services: Don't modify pollfd array from other threads
  subsys/net/lib/sockets/sockets_service.c
Labels: area: Networking, area: Sockets

#75518 bluetooth: fix typo in (include/zephyr/bluetooth, subsys/bluetooth/)
  include/zephyr/bluetooth/audio/bap.h
  include/zephyr/bluetooth/audio/csip.h
  include/zephyr/bluetooth/classic/a2dp.h
  include/zephyr/bluetooth/conn.h
  include/zephyr/bluetooth/mesh/cfg_cli.h
  include/zephyr/bluetooth/mesh/dfd_srv.h
  include/zephyr/bluetooth/mesh/dfu_metadata.h
  include/zephyr/bluetooth/mesh/op_agg_cli.h
  include/zephyr/bluetooth/uuid.h
  subsys/bluetooth/audio/shell/audio.h
  subsys/bluetooth/audio/shell/bap.c
  subsys/bluetooth/host/classic/Kconfig
  subsys/bluetooth/host/smp.c
  subsys/bluetooth/shell/bt.c
  subsys/bluetooth/shell/bt.h
Labels: area: Bluetooth, area: Bluetooth Mesh, area: Bluetooth Host, area: Bluetooth Audio, area: Bluetooth Classic

#75486 llext: disable verbose for SLID generation scripts
  CMakeLists.txt
  cmake/modules/extensions.cmake
Labels: bug, area: Build System, Trivial

#72526 west: Regex based version finding in OpenOCD runner
  scripts/west_commands/runners/intel_cyclonev.py
  scripts/west_commands/runners/openocd.py
Labels: area: West

#75095 tests: drivers: no pll2 when testing the clock control on the stm32h7 serie
  tests/drivers/clock_control/stm32_clock_configuration/stm32h7_core/boards/clear_clocks.overlay
Labels: platform: STM32, area: Tests, area: Clock Control

#75123 tests: rtc: time_incrementing: set nsec member
  tests/drivers/rtc/rtc_api/src/test_time.c
  tests/drivers/rtc/rtc_api/src/test_time_incrementing.c
  tests/drivers/rtc/rtc_api/src/test_y2k.c
Labels: bug, area: Tests, area: RTC

#75411 sensor: lis2dux12: fix: CID 363712: Initialize mode-fs
  drivers/sensor/st/lis2dux12/lis2dux12_trigger.c
Labels: bug, area: Sensors, size: XS

#75526 drivers: wifi: esp_at: fix UDP socket setup
  drivers/wifi/esp_at/esp.h
  drivers/wifi/esp_at/esp_offload.c
  drivers/wifi/esp_at/esp_socket.c
Labels: area: Wi-Fi

#75645 Bluetooth: TBS: Remove BT_TBS_TECHNOLOGY_IP
  include/zephyr/bluetooth/audio/tbs.h
  subsys/bluetooth/audio/tbs.c
  subsys/bluetooth/audio/tbs_internal.h
Labels: area: Bluetooth, Trivial, area: Bluetooth Audio

#75659 subsys: net: net_mgmt: fixed typo in doxygen
  include/zephyr/net/net_mgmt.h
Labels: area: Networking, Trivial, size: XS

#75642 samples: logging: disable usermode for bytesensi_l
  samples/subsys/logging/logger/sample.yaml
Labels: area: Samples, area: Logging, Trivial

#75421 dts: npx: Fix sramx offset for LPC55S06
  dts/arm/nxp/nxp_lpc55S06_ns.dtsi
Labels: bug, platform: NXP, Trivial, size: XS

#75315 doc: guidelines: update coding guidelines docs
  doc/contribute/coding_guidelines/index.rst
Labels: area: Documentation, area: Coding Guidelines

#74312 config: esp32: configurable UART FIFO thresholds
  drivers/serial/Kconfig.esp32
  drivers/serial/uart_esp32.c
Labels: area: UART, platform: ESP32

#75668 MAINTAINERS: Remove thalley from Bluetooth group
  MAINTAINERS.yml
Labels: area: Process, Trivial, size: XS

#75627 drivers: dac: dac_ad56xx: Fix channel range check
  drivers/dac/dac_ad56xx.c
Labels: bug, Trivial, area: DAC, size: XS

#74392 drivers: sensor: maxim: max31865: Fix fault bit clearing
  drivers/sensor/maxim/max31865/max31865.c
  drivers/sensor/maxim/max31865/max31865.h
Labels: bug, area: Sensors, platform: ADI

#75493 drivers: ptp_clock_nxp_enet: add module_dev to driver config
  drivers/ptp_clock/ptp_clock_nxp_enet.c
Labels: bug, area: Clocks, platform: NXP Drivers, size: XS

#75198 drivers: cc13xx_cc26xx: pwm: enable pwm(gpt) in sleep/deepsleep mode
  drivers/pwm/pwm_cc13xx_cc26xx_timer.c
Labels: area: PWM, platform: TI SimpleLink

#72545 drivers: watchdog: Refine the atcwdt200 driver's code.
  drivers/watchdog/wdt_andes_atcwdt200.c
Labels: area: Watchdog, platform: Andes

#75485 tests: drivers: adc_api: use proper printf format
  tests/drivers/adc/adc_api/src/test_adc.c
Labels: area: ADC, size: XS

#75620 tests: logging/dictionary: filter for backend
  tests/subsys/logging/dictionary/testcase.yaml
Labels: bug, area: Logging, Trivial

#75623 tests: logging/dictionary: pytest only looks at last output
  tests/subsys/logging/dictionary/pytest/test_logging_dictionary.py
Labels: bug, area: Logging, Trivial

#75649 MAINTAINERS: add maintainer and collaborator for DAP controller
  MAINTAINERS.yml
Labels: area: Process, Trivial

#75483 picolibc: guarantee the mutual exclusivity of `_USE_MODULE`/`_USE_TOOLCHAIN` in a `choice`
  lib/libc/picolibc/Kconfig
Labels: area: C Library, area: picolibc
