Repository zephyrproject-rtos/zephyr, pull requests merged in 2024-05, with the labels that each got.

#72061 sensor: default_rtio: Minor improvements to debug log messages
  drivers/sensor/default_rtio_sensor.c
Labels: area: Sensors

#72060 sensor: decoder: Use helper API to compute header size
  drivers/sensor/default_rtio_sensor.c
Labels: area: Sensors

#72069 drivers: flash: andes_qspi: fix shadow variable error
  drivers/flash/flash_andes_qspi.c
Labels: area: Flash

#72047 soc: imx7d: fix CPP application building error (issue: 64784)
  soc/nxp/imx/imx7d/soc.h
Labels: platform: NXP MPU

#67401 bluetooth: hci: refactored bluetooth hci packet type indicators
  drivers/bluetooth/hci/h4.c
  drivers/bluetooth/hci/hci_ambiq.c
  drivers/bluetooth/hci/hci_b91.c
  drivers/bluetooth/hci/hci_esp32.c
  drivers/bluetooth/hci/hci_psoc6_bless.c
  drivers/bluetooth/hci/hci_spi_st.c
  drivers/bluetooth/hci/hci_stm32wba.c
  drivers/bluetooth/hci/ipc.c
  drivers/bluetooth/hci/ipm_stm32wb.c
  drivers/bluetooth/hci/spi.c
  drivers/bluetooth/hci/userchan.c
  include/zephyr/bluetooth/hci_types.h
Labels: area: Bluetooth, platform: STM32, area: Bluetooth Host, platform: Ambiq

#72076 arch x86: avoid to use undefined macros in #if expressions
  arch/x86/core/prep_c.c
  arch/x86/core/x86_mmu.c
Labels: area: X86

#72082 mgmt: hawkbit: samples: use CONFIG_NET_CONFIG_NEED_IPV4
  samples/subsys/mgmt/hawkbit/CMakeLists.txt
  samples/subsys/mgmt/hawkbit/prj.conf
  samples/subsys/mgmt/hawkbit/src/dhcp.c
  samples/subsys/mgmt/hawkbit/src/dhcp.h
  samples/subsys/mgmt/hawkbit/src/main.c
Labels: area: Samples, area: hawkBit

#72027 drivers: regulator: shell: add is_enabled cmd
  drivers/regulator/regulator_shell.c
Labels: area: Regulators

#72095 arch: avoided dead stores
  arch/x86/zefi/printf.h
Labels: area: X86

#72093 kernel: made copied datatype explicit
  kernel/msg_q.c
Labels: area: Kernel

#72084 includes: avoid to use undefined macros in #if expressions
  include/zephyr/linker/common-ram.ld
  include/zephyr/logging/log_msg.h
  include/zephyr/sys/__assert.h
Labels: area: Logging, area: Linker Scripts, area: Base OS

#72006 tests: bsim: Bluetooth: Reduce multiple id test execution iterations
  tests/bsim/bluetooth/ll/multiple_id/prj.conf
  tests/bsim/bluetooth/ll/multiple_id/src/main.c
  tests/bsim/bluetooth/ll/multiple_id/tests_scripts/multiple.sh
Labels: area: Bluetooth, area: Bluetooth Controller, platform: nRF BSIM

#71984 kernel: avoid to convert pointers to incomplete type using the pointer to first item
  kernel/include/mmu.h
  kernel/userspace.c
Labels: area: Kernel, area: Userspace

#71856 includes: explicit cast of destination bitwidth of left shift
  include/zephyr/dt-bindings/pcie/pcie.h
Labels: area: Devicetree Binding, area: Coding Guidelines

#71677 tests: drivers: spi: spi_slave: Add nrf54h20dk
  tests/drivers/spi/spi_slave/boards/nrf54h20dk_nrf54h20_common.dtsi
  tests/drivers/spi/spi_slave/boards/nrf54h20dk_nrf54h20_cpuapp.overlay
  tests/drivers/spi/spi_slave/boards/nrf54h20dk_nrf54h20_cpurad.overlay
  tests/drivers/spi/spi_slave/src/main.c
  tests/drivers/spi/spi_slave/testcase.yaml
Labels: area: SPI

#71281 Bluetooth: Mesh: Update models metadata API
  doc/releases/migration-guide-3.7.rst
  include/zephyr/bluetooth/mesh/access.h
  include/zephyr/bluetooth/mesh/health_srv.h
  include/zephyr/bluetooth/mesh/shell.h
  subsys/bluetooth/mesh/access.c
  subsys/bluetooth/mesh/shell/shell.c
  tests/bluetooth/mesh_shell/src/main.c
  tests/bluetooth/tester/src/btp_mesh.c
  tests/bsim/bluetooth/mesh/src/mesh_test.c
  tests/bsim/bluetooth/mesh/src/test_lcd.c
Labels: area: Bluetooth, area: API, Release Notes, area: Bluetooth Mesh, Breaking API Change

#72088 kernel: avoid to use undefined macros in #if expressions
  kernel/include/kernel_internal.h
  kernel/include/kthread.h
  kernel/init.c
  kernel/thread.c
Labels: area: Kernel

#72109 kernel: Drop non-negative from timeout descriptions
  include/zephyr/kernel.h
Labels: area: Kernel

#72187 ci: check_compliance: use inclusive language
  scripts/ci/check_compliance.py
Labels: Trivial, area: Coding Guidelines, area: Continuous Integration

#71629 sys: sflist: replace unative_t with uintptr_t
  include/zephyr/sys/sflist.h
Labels: area: Base OS

#71855 kernel: timeslicing: add time slice reset in slice per thread api
  kernel/timeslicing.c
Labels: area: Kernel, Trivial

#71890 include: sys: util: implement `NUM_VA_ARGS`
  include/zephyr/sys/util_macro.h
  tests/lib/sys_util/src/main.c
Labels: area: Base OS, area: Utilities

#71895 input: analog_axis: use k_sem for locking
  drivers/input/input_analog_axis.c
Labels: area: Input

#72113 subsys/settings: add a function to save subtree
  include/zephyr/settings/settings.h
  subsys/settings/src/settings_store.c
Labels: area: Settings

#72114 lorawan/nvm: do not call settings_save() after writing individual settings
  subsys/lorawan/nvm/lorawan_nvm_settings.c
Labels: area: Settings, area: LoRa

#71918 mgmt: hawkbit: reset action id
  include/zephyr/mgmt/hawkbit.h
  subsys/mgmt/hawkbit/hawkbit.c
  subsys/mgmt/hawkbit/shell.c
Labels: area: hawkBit

#72099 kernel: avoided dead stores
  kernel/mem_slab.c
  kernel/sched.c
  kernel/sem.c
  kernel/work.c
Labels: area: Kernel

#72036 mgmt: updatehub: Fix json arrays
  subsys/mgmt/updatehub/updatehub.c
  subsys/mgmt/updatehub/updatehub_priv.h
Labels: area: UpdateHub

#71187 doc: kernel: code-relocation: Remove kernel example and add tips
  doc/kernel/code-relocation.rst
Labels: area: Kernel

#71963 west: linkserver: change to flash command line as required by v1.5.xx
  scripts/west_commands/runners/linkserver.py
Labels: area: West, Trivial

#72186 west.yaml: update hal_espressif after SDHC porting
  west.yml
Labels: Hotfix, manifest, manifest-hal_espressif

#65776 boards: arm: arduino_uno_r4: add Arduino connector for minima/wifi
  boards/arduino/uno_r4/arduino_uno_r4_minima.dts
  boards/arduino/uno_r4/arduino_uno_r4_wifi.dts
Labels: area: GPIO, platforms: Renesas, platforms: Renesas RA

#72165 kernel: coding guidelines: add explicit cast to void
  kernel/smp.c
Labels: area: Kernel

#72079 docs: Bluetooth: Audio: Move audio related files to subdir
  MAINTAINERS.yml
  doc/_scripts/redirects.py
  doc/connectivity/bluetooth/api/audio/audio.rst
  doc/connectivity/bluetooth/api/audio/bap.rst
  doc/connectivity/bluetooth/api/audio/bluetooth-le-audio-arch.rst
  doc/connectivity/bluetooth/api/audio/cap.rst
  doc/connectivity/bluetooth/api/audio/coordinated_sets.rst
  doc/connectivity/bluetooth/api/audio/img/ble_audio_arch.svg
  doc/connectivity/bluetooth/api/audio/img/cap_proc.svg
  doc/connectivity/bluetooth/api/audio/img/gaf.svg
  doc/connectivity/bluetooth/api/audio/img/zephyr_gaf.svg
  doc/connectivity/bluetooth/api/audio/media.rst
  doc/connectivity/bluetooth/api/audio/microphone.rst
  doc/connectivity/bluetooth/api/audio/shell/bap.rst
  doc/connectivity/bluetooth/api/audio/shell/bap_broadcast_assistant.rst
  doc/connectivity/bluetooth/api/audio/shell/bap_scan_delegator.rst
  doc/connectivity/bluetooth/api/audio/shell/cap.rst
  doc/connectivity/bluetooth/api/audio/shell/ccp.rst
  doc/connectivity/bluetooth/api/audio/shell/csip.rst
  doc/connectivity/bluetooth/api/audio/shell/gmap.rst
  doc/connectivity/bluetooth/api/audio/shell/mcp.rst
  doc/connectivity/bluetooth/api/audio/shell/pbp.rst
  doc/connectivity/bluetooth/api/audio/shell/tmap.rst
  doc/connectivity/bluetooth/api/audio/volume.rst
  doc/connectivity/bluetooth/api/index.rst
  doc/connectivity/bluetooth/index.rst
Labels: area: Bluetooth, area: Process, area: Documentation Infrastructure

#71884 bluetooth: tester: Add support for OTS
  tests/bluetooth/tester/CMakeLists.txt
  tests/bluetooth/tester/prj.conf
  tests/bluetooth/tester/src/btp/btp.h
  tests/bluetooth/tester/src/btp/btp_ots.h
  tests/bluetooth/tester/src/btp/bttester.h
  tests/bluetooth/tester/src/btp_core.c
  tests/bluetooth/tester/src/btp_ots.c
Labels: area: Bluetooth

#71295 MAINTAINERS: Update Renesas maintainers
  MAINTAINERS.yml
Labels: area: Process

#71709 samples: mgmt: hawkbit: update sample
  samples/subsys/mgmt/hawkbit/README.rst
  samples/subsys/mgmt/hawkbit/prj.conf
Labels: area: Samples, area: hawkBit

#71824 kernel: fatal: log which IRQn is triggering on spurious IRQs
  arch/arm/core/fatal.c
Labels: area: Kernel, area: ARM, area: Architectures

#72249 samples: drivers: gnss: boards: adjust mimxrt1062 dts overlay
  samples/drivers/gnss/boards/mimxrt1062_fmurt6.overlay
Labels: area: Samples, Trivial

#72242 drivers: gnss: gnss_lcx6g: replace spinlock with sem
  drivers/gnss/gnss_quectel_lcx6g.c
Labels: Trivial, area: GNSS

#72246 drivers: gnss: gnss_publish: replace spinlock with sem
  drivers/gnss/gnss_publish.c
Labels: Trivial, area: GNSS

#72256 Kernel: Fix comments for doc build.
  include/zephyr/kernel.h
Labels: area: Kernel, Trivial

#72253 arch: arm: cortex-m: Change character used to mark immediate operand
  arch/arm/core/cortex_m/irq_relay.S
Labels: area: ARM, Trivial

#72216 drivers: gpio: fix bug with Px15 pins
  drivers/gpio/gpio_numaker.c
Labels: area: GPIO, Trivial, platform: Nuvoton Numicro Numaker

#72201 drivers: ncp5623: check led_info for all LEDs
  drivers/led/ncp5623.c
Labels: area: LED, Trivial

#72166 lib: os: coding guidelines: add explicit cast to void
  lib/os/sem.c
Labels: Trivial, area: Base OS

#72130 drivers: i2s: stm32: use length from i2s_write
  drivers/i2s/i2s_ll_stm32.c
Labels: platform: STM32, Trivial, area: I2S

#72025 STM32 I2C LL V1 Master Receive Handling
  drivers/i2c/i2c_ll_stm32_v1.c
Labels: area: I2C, platform: STM32

#71610 boards: nordic: nrf54h20dk: Update memory map
  boards/nordic/nrf54h20dk/nrf54h20dk_nrf54h20-memory_map.dtsi
Labels: platform: nRF

#72065 driver: hwinfo: andes: add missing Kconfig dependency
  drivers/hwinfo/Kconfig
Labels: Trivial, area: HWINFO

#72277 sysbuild: cmake: fix incorrect function name in error message
  share/sysbuild/cmake/modules/sysbuild_extensions.cmake
Labels: area: Build System, Trivial, area: Sysbuild

#72066 arch: coding guidelines: add explicit cast to void
  arch/x86/core/x86_mmu.c
Labels: area: X86, Trivial

#71950 Bluetooth: OTS: Fix calling obj_created callback with NULL conn
  subsys/bluetooth/services/ots/ots.c
Labels: area: Bluetooth, Trivial, area: Bluetooth Host

#72261 Bluetooth: conn: check `k_work_submit()` retcode
  subsys/bluetooth/host/conn.c
Labels: area: Bluetooth, Trivial, area: Bluetooth Host

#72271 Bluetooth: ATT: add debug log for timeout override
  subsys/bluetooth/host/att.c
Labels: area: Bluetooth, Trivial, area: Bluetooth Host

#72276 Bluetooth: Fix spelling in some public header files
  include/zephyr/bluetooth/bluetooth.h
  include/zephyr/bluetooth/l2cap.h
  include/zephyr/bluetooth/uuid.h
Labels: area: Bluetooth, Trivial

#72334 tests: net: tls: fix failures
  samples/net/sockets/http_get/overlay-tls.conf
  tests/net/socket/tls/prj.conf
Labels: area: Networking, area: Samples, area: Sockets, Hotfix

#68796 samples: drivers: display: Fix drawing on non-x8 height VTILED display
  samples/drivers/display/src/main.c
Labels: bug, area: Samples

#71017 soc: renesas: ra: configure option settings memory
  soc/renesas/ra/ra4m1/CMakeLists.txt
  soc/renesas/ra/ra4m1/Kconfig
  soc/renesas/ra/ra4m1/opt_set_mem.ld
  soc/renesas/ra/ra4m1/soc.c
Labels: platforms: Renesas RA

#71440 net: l2: ppp: Fix terminate requests
  subsys/net/l2/ppp/ppp_l2.c
Labels: area: Networking

#71800 usb: device: Do not claim to be USB 3.2 device
  include/zephyr/usb/usb_ch9.h
  samples/subsys/usb/webusb/src/main.c
  subsys/usb/device/usb_descriptor.c
Labels: area: USB, area: Samples

#71926 net: lwm2m: Move one Kconfig to engine features submenu
  subsys/net/lib/lwm2m/Kconfig
Labels: area: LWM2M

#72236 kernel: coding guidelines: cast unused arguments to void
  kernel/userspace.c
Labels: area: Kernel, Trivial, area: Userspace

#72155 spelling: Replace occurrences of "iff" with "if and only if"
  drivers/counter/maxim_ds3231.c
  dts/bindings/base/mutable.yaml
  include/zephyr/bluetooth/addr.h
  kernel/mmu.c
  scripts/pylib/twister/twisterlib/testsuite.py
  scripts/spelling.txt
  scripts/west_commands/zspdx/scanner.py
  subsys/fs/ext2/ext2_ops.c
  tests/kernel/workq/work/src/main.c
Labels: Trivial

#72089 tests: avoid to use undefined macros in #if expressions
  tests/subsys/logging/log_api/src/mock_backend.c
Labels: area: Logging, Trivial

#72058 dts/arm/st: wl: decrease Sub-GHz SPI frequency to 8MHz
  dts/arm/st/wl/stm32wl.dtsi
Labels: platform: STM32, Trivial, area: LoRa

#72054 drivers: clock_control: add support for MSI clock on STM32WL
  include/zephyr/dt-bindings/clock/stm32wl_clock.h
Labels: platform: STM32, area: Clock Control, Trivial, area: Devicetree Binding

#72252 samples: Bluetooth: broadcast_audio_sink: remove nRF52820 from sample.yaml
  samples/bluetooth/broadcast_audio_sink/sample.yaml
Labels: area: Bluetooth, area: Samples, Trivial, area: Bluetooth Audio

#72295 soc: st: stm32: stm32f1x: remove hwmv1 stuff
  soc/st/stm32/stm32f1x/Kconfig.defconfig.stm32f100xx
Labels: platform: STM32, Trivial

#72317 QEMU: Fix issue 72191
  boards/qemu/x86/board.cmake
Labels: Trivial, platform: X86, area: ACPI

#66100 drivers: dai: intel: ssp: Only setup mclk/bclk when it is needed by role
  drivers/dai/intel/ssp/ssp.c
  drivers/dai/intel/ssp/ssp.h
Labels: platform: Intel ADSP, area: DAI

#72073 drivers: avoid to use undefined macros in #if expressions
  drivers/serial/uart_nrfx_uarte.c
Labels: area: UART, platform: nRF, Trivial

#72105 tests: net: reuseaddr_reuseport: Fix zassert statements
  tests/net/socket/reuseaddr_reuseport/src/main.c
Labels: area: Networking, area: Sockets

#72148 net: Do not directly use net_buf size field
  subsys/net/ip/net_pkt.c
  subsys/net/ip/tcp.c
  subsys/net/lib/dns/llmnr_responder.c
  subsys/net/lib/dns/mdns_responder.c
  subsys/net/lib/dns/resolve.c
Labels: area: Networking

#72159 net: coap_client: handle observe requests as intended
  include/zephyr/net/coap_client.h
  subsys/net/lib/coap/coap_client.c
Labels: area: Networking

#72198 pm: re-program timer HW only when the exit latency is not zero
  subsys/pm/pm.c
Labels: area: Power Management

#72210 drivers: tmag5273 add missing ifdef around CRC support
  drivers/sensor/ti/tmag5273/tmag5273.c
Labels: area: Sensors

#72225 libc: minimal: Add 'noreturn' attribute to abort() and exit()
  lib/libc/common/source/stdlib/abort.c
  lib/libc/minimal/include/stdlib.h
  lib/libc/minimal/source/stdlib/exit.c
Labels: area: C Library

#72235 dts: stm32wba: Fix RNG base address
  dts/arm/st/wba/stm32wba.dtsi
Labels: platform: STM32

#72184 Renesas: Smartbond: Update MIPI DBI driver to work with PM
  boards/renesas/da1469x_dk_pro/Kconfig.defconfig
  drivers/mipi_dbi/mipi_dbi_smartbond.c
Labels: platform: Renesas SmartBond, area: Display Controller

#72384 boards: croxel_cx1825: disable CDC-ACM logging by default
  boards/croxel/croxel_cx1825/Kconfig.defconfig
Labels: Hotfix

#72053 drivers: gnss: Add Luat Air530z driver
  drivers/gnss/CMakeLists.txt
  drivers/gnss/Kconfig
  drivers/gnss/Kconfig.luatos_air530z
  drivers/gnss/gnss_luatos_air530z.c
  dts/bindings/gnss/luatos,air530z.yaml
Labels: area: Devicetree Binding, area: GNSS

#72124 mgmt: hawkbit: change the tls certificate tag
  include/zephyr/mgmt/hawkbit.h
  samples/subsys/mgmt/hawkbit/overlay-tls.conf
  samples/subsys/mgmt/hawkbit/sample.yaml
  subsys/mgmt/hawkbit/Kconfig
  subsys/mgmt/hawkbit/hawkbit.c
Labels: area: Samples, area: hawkBit

#72158 soc/intel_adsp: ipc: initialize semaphore in driver init
  soc/intel/intel_adsp/common/ipc.c
Labels: platform: Intel ADSP

#72081 net: config: correct dependency of NET_CONFIG*
  subsys/net/lib/config/Kconfig
Labels: area: Networking

#72228 arch: x86: coding guidelines: cast unused arguments to void
  arch/x86/core/intel64/fatal.c
  arch/x86/core/intel64/thread.c
  arch/x86/core/x86_mmu.c
  arch/x86/include/x86_mmu.h
  arch/x86/zefi/zefi.c
Labels: area: X86

#72321 fs: fuse: fix fuse include path
  subsys/fs/CMakeLists.txt
Labels: area: File System, Trivial

#69909 MAINTAINERS: Add collaborator for OA TC6 and T1S driver (lan865x)
  MAINTAINERS.yml
Labels: area: Process, Trivial

#72300 mgmt: updatehub: Fix mark for update
  subsys/mgmt/updatehub/updatehub_storage.c
Labels: Trivial, area: UpdateHub, backport v3.5-branch, backport v3.6-branch

#72259 Documentation: Update Polling API
  doc/kernel/services/polling.rst
Labels: area: Kernel

#72257 cmake: llvm: arm: Remove '--specs' when building with clang for arm
  cmake/toolchain/llvm/target.cmake
Labels: area: Build System, area: Toolchains

#69593 Bluetooth: CAP: Commander Reception start procedure
  include/zephyr/bluetooth/audio/cap.h
  subsys/bluetooth/audio/bap_internal.h
  subsys/bluetooth/audio/bap_scan_delegator.c
  subsys/bluetooth/audio/cap_commander.c
  subsys/bluetooth/audio/cap_common.c
  subsys/bluetooth/audio/cap_internal.h
  tests/bluetooth/audio/cap_commander/prj.conf
  tests/bluetooth/audio/cap_commander/uut/CMakeLists.txt
  tests/bluetooth/audio/cap_commander/uut/bap_broadcast_assistant.c
Labels: area: Bluetooth, area: Bluetooth Audio

#72239 arch: riscv: only use `z_riscv_fatal_error_csf` if `CONFIG_EXCEPTION_DEBUG`
  arch/riscv/core/isr.S
Labels: area: RISCV

#71097 Add migration guide for MAX31790
  doc/releases/migration-guide-3.7.rst
Labels: Release Notes

#71581 drivers: dai: ssp: fix MN_MDIVCTRL_M_DIV_ENABLE for ACE+ platform
  drivers/dai/intel/ssp/ssp.h
Labels: platform: Intel ADSP, area: DAI

#72209 Bluetooth: Remove legacy debug symbols
  doc/connectivity/bluetooth/api/audio/shell/bap_broadcast_assistant.rst
  doc/connectivity/bluetooth/api/audio/shell/bap_scan_delegator.rst
  doc/connectivity/bluetooth/api/audio/shell/ccp.rst
  doc/connectivity/bluetooth/api/audio/shell/csip.rst
  doc/releases/release-notes-3.7.rst
  drivers/bluetooth/hci/cyw43xxx.c
  drivers/bluetooth/hci/hci_psoc6_bless.c
  scripts/kconfig/hardened.csv
  subsys/bluetooth/Kconfig.logging
  subsys/bluetooth/audio/Kconfig.tmap
  subsys/bluetooth/common/Kconfig.template.log_config_bt
  subsys/bluetooth/mesh/rpr_cli.c
  subsys/bluetooth/mesh/rpr_srv.c
  tests/bluetooth/ctrl_isoal/Kconfig
Labels: area: Bluetooth, area: Kconfig, Release Notes, area: Bluetooth Mesh, area: Bluetooth Host, area: Bluetooth Audio

#72224 boards: silabs: efr32_radio: Remove duplicate usart0 definition
  boards/silabs/efr32_radio/efr32_radio_efr32mg12p432f1024gl125.dts
  boards/silabs/efr32_radio/efr32_radio_efr32mg12p433f1024gm68.dts
  dts/arm/silabs/efr32xg12p-pinctrl.dtsi
Labels: platform: SiLabs

#71163 ARCMWDT: Fix building under hwmv2 model
  cmake/bintools/arcmwdt/target.cmake
  cmake/toolchain/arcmwdt/generic.cmake
Labels: area: Build System, area: Toolchains, area: ARC

#72392 linker: lld: cortex_m: Place .ARM.exidx sections when using lld
  include/zephyr/arch/arm/cortex_m/scripts/linker.ld
Labels: area: ARM, area: Architectures, Trivial

#72238 dts: nordic: nrf54h20: Disable USBHS core cache
  soc/nordic/nrf54h/CMakeLists.txt
  soc/nordic/nrf54h/Kconfig
  soc/nordic/nrf54h/mpu_regions.c
Labels: platform: nRF

#72157 net: if: Extend the usage of rejoining the multicast groups
  subsys/net/ip/net_if.c
Labels: area: Networking

#72262 Bluetooth: host: handle not getting a buffer
  subsys/bluetooth/host/hci_core.c
Labels: area: Bluetooth, Trivial, area: Bluetooth Host

#72283 net: lwm2m: Fix pull-context on queue mode
  subsys/net/lib/lwm2m/lwm2m_engine.c
  subsys/net/lib/lwm2m/lwm2m_message_handling.c
Labels: area: LWM2M

#72290 tests: i2c: i2c_target_api: fix b_u585i_iot02a test
  tests/drivers/i2c/i2c_target_api/boards/b_u585i_iot02a.overlay
Labels: area: I2C

#72366 usb: device_next: Properly store enumeration speed
  subsys/usb/device_next/usbd_core.c
Labels: area: USB, Trivial

#72387 doc: sysbuild: Fix namespace example
  doc/build/sysbuild/index.rst
Labels: area: Build System, area: Documentation, Trivial, area: Sysbuild

#72422 drivers: ethernet: ksz8863 Fix wrong register for tail tag enable
  drivers/ethernet/dsa_ksz8xxx.c
Labels: area: Ethernet, Trivial

#71457 mbedtls: compile FFDH support in PSA mode
  modules/mbedtls/CMakeLists.txt
Labels: area: Crypto / RNG, Trivial

#72432 docs: nvme: Fix formatting issue
  doc/services/storage/disk/nvme.rst
Labels: area: Documentation, area: Storage, Trivial

#72296 llext: add support for STT_OBJECT relocations
  subsys/llext/llext.c
Labels: area: Linkable Loadable Extensions

#72285 tests/kernel/context: Detect spurious wakes during timeout check
  tests/kernel/context/src/main.c
Labels: area: Kernel

#72279 arch: arm: cortex-r: Add compiler tuning for Cortex-R82
  arch/arm64/core/fatal.c
  arch/arm64/core/reset.S
  arch/arm64/core/reset.c
  cmake/gcc-m-cpu.cmake
  include/zephyr/arch/arm64/lib_helpers.h
Labels: area: Build System, area: Architectures, area: ARM64

#71239 boards:shields: Round Display for Xiao
  boards/seeed/seeeduino_xiao/seeed_xiao_connector.dtsi
  boards/seeed/xiao_ble/seeed_xiao_connector.dtsi
  boards/seeed/xiao_esp32c3/seeed_xiao_connector.dtsi
  boards/seeed/xiao_esp32s3/seeed_xiao_connector.dtsi
  boards/shields/seeed_xiao_round_display/Kconfig.defconfig
  boards/shields/seeed_xiao_round_display/Kconfig.shield
  boards/shields/seeed_xiao_round_display/doc/img/seeed_xiao_round_display.webp
  boards/shields/seeed_xiao_round_display/doc/index.rst
  boards/shields/seeed_xiao_round_display/seeed_xiao_round_display.overlay
  samples/subsys/display/lvgl/README.rst
Labels: area: Samples, area: Display, area: Shields, area: Devicetree Binding

#69732 tfm: cmake: Delete dead CMake code
  modules/trusted-firmware-m/CMakeLists.txt
Labels: area: TF-M

#72233 debug: stack: coding guidelines: cast unused arguments to void
  include/zephyr/debug/stack.h
Labels: area: Debugging

#72327 soc: espressif: add misssing external xtal kconfig entry
  soc/espressif/esp32/Kconfig.rtc
  soc/espressif/esp32c3/Kconfig.rtc
  soc/espressif/esp32s2/Kconfig.rtc
  soc/espressif/esp32s3/Kconfig.rtc
Labels: platform: ESP32

#72315 boards: st: add adc-keys support for stm32c0116_dk
  boards/st/stm32c0116_dk/stm32c0116_dk.dts
Labels: platform: STM32

#72266 modules: nanopb: Pull upstream fixes
  modules/nanopb/nanopb.cmake
  submanifests/optional.yaml
Labels: Trivial, manifest, manifest-nanopb, area: Serialization

#72410 MAINTAINERS: GNSS: Add collaborators
  MAINTAINERS.yml
Labels: area: Process, Trivial

#72408 MAINTAINERS: replace SebastianBoe with Vge0rge
  MAINTAINERS.yml
Labels: area: Process, Trivial

#72346 drivers: linker: added missing parenthesis
  include/zephyr/linker/linker-defs.h
Labels: area: Linker Scripts

#72337 drivers: rtc: small fixes for STM32 RTC driver
  drivers/rtc/rtc_ll_stm32.c
Labels: platform: STM32, area: RTC

#72335 net: lwm2m: efficent cbor record data structure
  subsys/net/lib/lwm2m/lwm2m_senml_cbor.patch
  subsys/net/lib/lwm2m/lwm2m_senml_cbor_types.h
Labels: area: LWM2M

#72333 Bluetoioth: CAP: Shell: Added qos config to unicast_start cmd
  subsys/bluetooth/audio/shell/cap_initiator.c
Labels: area: Bluetooth, area: Bluetooth Audio

#72322 posix: barrier: remove deprecated and non-std declaration macro
  include/zephyr/posix/pthread.h
Labels: area: POSIX

#71992 input: it8xxx2_kbd: fix col_size build warning range
  drivers/input/input_ite_it8xxx2_kbd.c
Labels: platform: ITE, area: Input

#71112 mcuboot: Remove OVERWRITE_ONLY from DIRECT_XIP modes.
  modules/Kconfig.mcuboot
Labels: area: MCUBoot

#70041 Bluetooth: controller: Sync ISO Establishment fixes
  subsys/bluetooth/controller/ll_sw/lll.h
  subsys/bluetooth/controller/ll_sw/lll_sync_iso.h
  subsys/bluetooth/controller/ll_sw/nordic/lll/lll_sync_iso.c
  subsys/bluetooth/controller/ll_sw/ull_sync_iso.c
Labels: area: Bluetooth, area: Bluetooth Controller

#72351 MAINTAINERS: Add overlay-le-audio.conf to Bluetooth Audio
  MAINTAINERS.yml
Labels: area: Bluetooth, area: Bluetooth Audio

#72445 boards stm32h747i_disco: Add missing mdio node
  boards/st/stm32h747i_disco/stm32h747i_disco_stm32h747xx_m7.dts
Labels: platform: STM32, Hotfix

#72367 drivers/sensor: lsm6dsl: use sensor APIs to convert to units
  drivers/sensor/st/lsm6dsl/lsm6dsl.c
  drivers/sensor/st/lsm6dsl/lsm6dsl.h
Labels: bug, area: Drivers, area: Sensors

#72362 drivers: gpio: shell: add toggle command
  drivers/gpio/Kconfig
  drivers/gpio/gpio_shell.c
Labels: area: GPIO

#72361 drivers: sensor: adxl362: fix temperature conversion
  drivers/sensor/adi/adxl362/adxl362.c
  drivers/sensor/adi/adxl362/adxl362.h
Labels: area: Sensors, platform: ADI

#72355 kconfig: openthread: Fix PSA Key Ref config for RCP architecture
  subsys/net/l2/openthread/Kconfig
Labels: area: Networking, area: OpenThread

#72147 Bluetooth: Controller: BIG/CIG count based upon app configs
  subsys/bluetooth/controller/Kconfig
  tests/bluetooth/controller/ctrl_cis_create/prj.conf
  tests/bluetooth/controller/ctrl_cis_terminate/prj.conf
Labels: area: Bluetooth, area: Bluetooth Controller

#71928 drivers: i2c_shell: Add direct_read sub command
  drivers/i2c/i2c_shell.c
Labels: area: I2C

#71665 Bluetooth: bsim/att/pipeline: add rx tx priority inverted prj
  tests/bsim/bluetooth/host/att/compile.sh
  tests/bsim/bluetooth/host/att/pipeline/dut/Kconfig
  tests/bsim/bluetooth/host/att/pipeline/dut/rx_tx_prio_invert.extra.conf
  tests/bsim/bluetooth/host/att/pipeline/test_scripts/_compile.sh
  tests/bsim/bluetooth/host/att/pipeline/test_scripts/run_test_shall_not_pipeline_variant_rx_tx_prio_invert.sh
  tests/bsim/bluetooth/host/att/pipeline/test_scripts/run_test_tolerate_pipeline_variant_rx_tx_prio_invert.sh
Labels: area: Bluetooth, area: Bluetooth Host, platform: nRF BSIM

#71115 Fixes Master Mode for I2C DW Driver
  drivers/i2c/i2c_dw.c
Labels: area: I2C

#66048 scripts: Update uf2conv.py from upstream git.
  scripts/build/uf2conv.py
  scripts/build/uf2families.json
Labels: area: Build System

#72357 boards: st: nucleo_u575zi_q: add USB OTG_FS
  boards/st/nucleo_u575zi_q/doc/index.rst
  boards/st/nucleo_u575zi_q/nucleo_u575zi_q-common.dtsi
Labels: platform: STM32

#70898 twister: testplan: enable runtime quarantine
  scripts/pylib/twister/twisterlib/testplan.py
Labels: area: Twister

#72465 include: linker: common-rom: Remove unused http_resource_desc section
  include/zephyr/linker/common-rom/common-rom-net.ld
Labels: Trivial, area: Linker Scripts

#72421 boards: nxp: frdm_mcxn947: Add pyocd runner support
  boards/nxp/frdm_mcxn947/board.cmake
Labels: platform: NXP, Trivial

#72360 Bluetooth: controller: Implement macros for vendor assert information
  subsys/bluetooth/controller/Kconfig.ll_sw_split
  subsys/bluetooth/controller/hal/debug.h
  subsys/bluetooth/controller/ll_sw/ull_adv_aux.c
  subsys/bluetooth/controller/ll_sw/ull_adv_sync.c
  subsys/bluetooth/controller/ll_sw/ull_conn.c
  subsys/bluetooth/controller/ll_sw/ull_conn_iso.c
  subsys/bluetooth/controller/ll_sw/ull_scan.c
  subsys/bluetooth/controller/ll_sw/ull_sync.c
  subsys/bluetooth/controller/ll_sw/ull_sync_iso.c
Labels: area: Bluetooth, area: Bluetooth Controller

#72426 libc/picolibc: Support Picolibc for toolchains without bundled Picolibc
  lib/libc/Kconfig
Labels: area: C Library, Trivial

#72397 arch: Made pointer parameters explicitely const where non-const pointer parameters are not needed
  arch/arc/core/mpu/arc_core_mpu.c
  arch/arc/core/mpu/arc_mpu_common_internal.h
  arch/arc/core/mpu/arc_mpu_v4_internal.h
  arch/arm/core/mpu/arm_core_mpu.c
  arch/arm/core/mpu/arm_core_mpu_dev.h
  arch/arm/core/mpu/arm_mpu.c
  arch/arm/core/mpu/arm_mpu_v7_internal.h
  arch/arm/core/mpu/arm_mpu_v8_internal.h
  arch/arm/core/mpu/nxp_mpu.c
  arch/arm64/core/userspace.S
  arch/riscv/core/pmp.c
  arch/x86/core/x86_mmu.c
  arch/xtensa/core/mpu.c
  arch/xtensa/core/ptables.c
  include/zephyr/arch/arc/v2/mpu/arc_core_mpu.h
  include/zephyr/arch/arch_interface.h
Labels: area: ARM, area: X86, area: ARC, area: Xtensa, area: RISCV, area: Architectures, area: Coding Guidelines, area: ARM64, platform: NXP Drivers

#72383 llext: add a multi-file test case
  tests/subsys/llext/simple/CMakeLists.txt
  tests/subsys/llext/simple/src/multi_file_ext1.c
  tests/subsys/llext/simple/src/multi_file_ext2.c
  tests/subsys/llext/simple/src/test_llext_simple.c
Labels: area: Linkable Loadable Extensions

#72379 drivers: bluetooth: hci: Fix int conversion warning
  drivers/bluetooth/hci/hci_spi_st.c
Labels: area: Bluetooth, area: Bluetooth Host

#72294 drivers: counter: stm32_rtc: fix clk disable for WBAX
  drivers/counter/counter_ll_stm32_rtc.c
Labels: area: Counter, platform: STM32, Trivial

#72029 drivers: regulator: shell: print all 6-digits of micro values
  drivers/regulator/regulator_shell.c
Labels: area: Regulators
