Repository zephyrproject-rtos/zephyr, pull requests merged in 2025-04, with the labels that each got.

#87733 ci: github: bump the actions-deps group across 1 directory with 8 updates
  .github/workflows/assigner.yml
  .github/workflows/backport_issue_check.yml
  .github/workflows/bsim-tests-publish.yaml
  .github/workflows/bsim-tests.yaml
  .github/workflows/bug_snapshot.yaml
  .github/workflows/clang.yaml
  .github/workflows/codecov.yaml
  .github/workflows/codeql.yml
  .github/workflows/coding_guidelines.yml
  .github/workflows/compliance.yml
  .github/workflows/daily_test_version.yml
  .github/workflows/devicetree_checks.yml
  .github/workflows/doc-build.yml
  .github/workflows/doc-publish-pr.yml
  .github/workflows/doc-publish.yml
  .github/workflows/footprint-tracking.yml
  .github/workflows/hello_world_multiplatform.yaml
  .github/workflows/issue_count.yml
  .github/workflows/license_check.yml
  .github/workflows/manifest.yml
  .github/workflows/pinned-gh-actions.yml
  .github/workflows/pylib_tests.yml
  .github/workflows/release.yml
  .github/workflows/scorecards.yml
  .github/workflows/scripts_tests.yml
  .github/workflows/stats_merged_prs.yml
  .github/workflows/twister-publish.yaml
  .github/workflows/twister.yaml
  .github/workflows/twister_tests.yml
  .github/workflows/twister_tests_blackbox.yml
  .github/workflows/west_cmds.yml
Labels: area: Continuous Integration, platform: nRF BSIM

#86998 manifest: microchip: Update Microchip HAL to latest MEC5 changes
  west.yml
Labels: manifest, manifest-hal_microchip, size: XS

#87758 dts: rp2350: Fix USB controller base address
  dts/arm/raspberrypi/rpi_pico/rp2350.dtsi
Labels: platform: Raspberry Pi Pico

#87767 west: runners: openocd: Fix version format regression
  scripts/west_commands/runners/openocd.py
Labels: Regression, area: West, size: XS

#87788 tests: spi_loopback: Fix synchronization testing mistakes
  tests/drivers/spi/spi_loopback/src/spi.c
Labels: area: SPI

#87799 iar: toolchain: Enable TOOLCHAIN_HAS_BUILTIN_FFS
  cmake/toolchain/iar/Kconfig.defconfig
Labels: area: Build System, area: Toolchains

#86029 samples: net: wifi: remove redundant options from esp32 conf overlays
  samples/net/wifi/shell/socs/esp32_procpu.conf
  samples/net/wifi/shell/socs/esp32c3.conf
  samples/net/wifi/shell/socs/esp32c3_usb.conf
  samples/net/wifi/shell/socs/esp32c6_hpcore.conf
  samples/net/wifi/shell/socs/esp32s2.conf
  samples/net/wifi/shell/socs/esp32s3_procpu.conf
Labels: area: Networking, area: Samples, area: Wi-Fi

#86971 soc: mimxrt1180: Add USB Device support
  boards/nxp/mimxrt1180_evk/mimxrt1180_evk_mimxrt1189_cm33.dts
  boards/nxp/mimxrt1180_evk/mimxrt1180_evk_mimxrt1189_cm7.dts
  soc/nxp/imxrt/imxrt118x/soc.c
Labels: platform: NXP

#87790 net: virtual: Clear multicast bit when generating link address
  subsys/net/l2/virtual/virtual.c
Labels: area: Networking

#87591 tests: subsys: usb: bos: Remove dummy_descriptor struct
  tests/subsys/usb/bos/src/test_bos.c
Labels: area: USB

#87749 boards: nordic: add 'iron' board variant
  boards/nordic/nrf54h20dk/Kconfig.nrf54h20dk
  boards/nordic/nrf54h20dk/board.yml
  boards/nordic/nrf54h20dk/nrf54h20dk_nrf54h20_cpuapp_iron.dts
  boards/nordic/nrf54h20dk/nrf54h20dk_nrf54h20_cpuapp_iron_0_9_0.yaml
  boards/nordic/nrf54h20dk/nrf54h20dk_nrf54h20_cpuapp_iron_defconfig
  samples/drivers/watchdog/boards/nrf54h20dk_nrf54h20_cpuapp_iron.overlay
  scripts/west_commands/runners/nrf_common.py
  soc/nordic/nrf54h/Kconfig.soc
  tests/drivers/adc/adc_api/boards/nrf54h20dk_nrf54h20_cpuapp_iron.overlay
  tests/drivers/watchdog/wdt_basic_api/boards/nrf54h20dk_nrf54h20_cpuapp_iron.conf
  tests/drivers/watchdog/wdt_basic_api/boards/nrf54h20dk_nrf54h20_cpuapp_iron.overlay
Labels: area: ADC, area: Samples, area: Watchdog, platform: nRF, area: West

#86734 [Backport v3.7-branch] net: if: Release the interface lock early in IPv6 RS timeout handler
  include/zephyr/net/net_if.h
  subsys/net/ip/net_if.c
Labels: area: Networking, Backport

#87965 arch: arm: fix ci failure
  include/zephyr/arch/arm/cortex_a_r/scripts/linker.ld
  include/zephyr/arch/arm/cortex_m/scripts/linker.ld
Labels: area: ARM, area: Architectures, Hotfix

#87797 doc: nxp: adopt zephyr:board-supported-hw directive
  boards/nxp/frdm_k22f/doc/index.rst
  boards/nxp/frdm_k64f/doc/index.rst
  boards/nxp/frdm_k82f/doc/index.rst
  boards/nxp/frdm_ke15z/doc/index.rst
  boards/nxp/frdm_ke17z/doc/index.rst
  boards/nxp/frdm_ke17z512/doc/index.rst
  boards/nxp/frdm_kl25z/doc/index.rst
  boards/nxp/frdm_kw41z/doc/index.rst
  boards/nxp/frdm_mcxa156/doc/index.rst
  boards/nxp/frdm_mcxc242/doc/index.rst
  boards/nxp/frdm_mcxc444/doc/index.rst
  boards/nxp/frdm_mcxn236/doc/index.rst
  boards/nxp/frdm_mcxn947/doc/index.rst
  boards/nxp/frdm_mcxw71/doc/index.rst
  boards/nxp/frdm_mcxw72/doc/index.rst
  boards/nxp/frdm_rw612/doc/index.rst
  boards/nxp/imx8mm_evk/doc/index.rst
  boards/nxp/imx8mn_evk/doc/index.rst
  boards/nxp/imx8mp_evk/doc/index.rst
  boards/nxp/imx8mq_evk/doc/index.rst
  boards/nxp/imx91_evk/doc/index.rst
  boards/nxp/imx93_evk/doc/index.rst
  boards/nxp/imx95_evk/doc/index.rst
  boards/nxp/lpcxpresso11u68/doc/index.rst
  boards/nxp/lpcxpresso51u68/doc/index.rst
  boards/nxp/lpcxpresso54114/doc/index.rst
  boards/nxp/lpcxpresso55s06/doc/index.rst
  boards/nxp/lpcxpresso55s16/doc/index.rst
  boards/nxp/lpcxpresso55s28/doc/index.rst
  boards/nxp/lpcxpresso55s36/doc/index.rst
  boards/nxp/lpcxpresso55s69/doc/index.rst
  boards/nxp/ls1046ardb/doc/index.rst
  boards/nxp/mcxw72_evk/doc/index.rst
  boards/nxp/mimxrt1010_evk/doc/index.rst
  boards/nxp/mimxrt1015_evk/doc/index.rst
  boards/nxp/mimxrt1020_evk/doc/index.rst
  boards/nxp/mimxrt1024_evk/doc/index.rst
  boards/nxp/mimxrt1040_evk/doc/index.rst
  boards/nxp/mimxrt1050_evk/doc/index.rst
  boards/nxp/mimxrt1060_evk/doc/index.rst
  boards/nxp/mimxrt1062_fmurt6/doc/index.rst
  boards/nxp/mimxrt1064_evk/doc/index.rst
  boards/nxp/mimxrt1160_evk/doc/index.rst
  boards/nxp/mimxrt1170_evk/doc/index.rst
  boards/nxp/mimxrt1180_evk/doc/index.rst
  boards/nxp/mimxrt595_evk/doc/index.rst
  boards/nxp/mimxrt685_evk/doc/index.rst
  boards/nxp/mimxrt700_evk/doc/index.rst
  boards/nxp/mr_canhubk3/doc/index.rst
  boards/nxp/rd_rw612_bga/doc/index.rst
  boards/nxp/rddrone_fmuk66/doc/index.rst
  boards/nxp/s32z2xxdc2/doc/index.rst
  boards/nxp/twr_ke18f/doc/index.rst
  boards/nxp/twr_kv58f220m/doc/index.rst
  boards/nxp/ucans32k1sic/doc/index.rst
  boards/nxp/usb_kw24d512/doc/index.rst
  boards/nxp/vmu_rt1170/doc/index.rst
Labels: platform: NXP, platform: NXP S32, platform: NXP Drivers, platform: NXP MPU, platform: NXP Robotics

#87612 modules: hal_nordic: bump regtool to 9.0.0
  modules/hal_nordic/CMakeLists.txt
Labels: platform: nRF, size: XS

#87741 net: lib: mqtt: Add extra MQTT 5.0 ifdefs to prevent compile errors
  include/zephyr/net/mqtt.h
Labels: area: Networking

#87805 bluetooth: hci_nxp: disallow standby usage while sending HCI MSG
  drivers/bluetooth/hci/hci_nxp.c
Labels: area: Bluetooth, area: Bluetooth HCI, platform: NXP Drivers

#87806 Bluetooth: Fix deadlock with settings and bt_hci_cmd_send_sync()
  subsys/bluetooth/host/id.c
  subsys/bluetooth/host/id.h
  subsys/bluetooth/host/keys.c
  tests/bluetooth/host/keys/mocks/id.c
  tests/bluetooth/host/keys/mocks/id.h
Labels: area: Bluetooth, area: Bluetooth Host

#87814 soc: nordic: add option for forcing RAM power on reboot
  soc/nordic/common/CMakeLists.txt
  soc/nordic/common/Kconfig
  soc/nordic/common/reboot.c
Labels: platform: nRF

#86895 drivers: eSPI: microchip: Port80 Multibyte
  drivers/espi/Kconfig.xec
  drivers/espi/espi_mchp_xec_host_v2.c
Labels: area: eSPI, platform: Microchip MEC

#87042 mcumgr/img_mgmt: Allow erase pending image by default
  subsys/mgmt/mcumgr/grp/img_mgmt/Kconfig
Labels: area: mcumgr, size: XS

#87280 Bluetooth: Controller: Fix assert when flushing multiple CISes
  subsys/bluetooth/controller/ll_sw/ull_conn_iso.c
Labels: area: Bluetooth, area: Bluetooth Controller

#87683 Bluetooth: Classic: L2CAP: support reject response
  subsys/bluetooth/host/classic/l2cap_br.c
Labels: area: Bluetooth, area: Bluetooth Classic

#87813 drivers: adc: ad405x: Add diff support and res used form adc spec
  drivers/adc/adc_ad405x.c
Labels: area: ADC, platform: ADI

#87824 soc: nordic: nrf54: Indicate presence of DWT
  soc/nordic/nrf54h/Kconfig
  soc/nordic/nrf54l/Kconfig
Labels: platform: nRF

#87831 dts: arm: st: add stm32l071X8 & stm32l071Xz dtsi files
  dts/arm/st/l0/stm32l071X8.dtsi
  dts/arm/st/l0/stm32l071Xz.dtsi
Labels: platform: STM32

#87859 serial: stm32: unconditional policy locks for async TX
  drivers/serial/uart_stm32.c
Labels: area: UART, platform: STM32

#87865 drv: ft8xx: extend single-letter function argument names
  drivers/misc/ft8xx/ft8xx_copro.c
  include/zephyr/drivers/misc/ft8xx/ft8xx_copro.h
Labels: area: Display

#87867 samples: net: echo-server: Refactor tunnel support
  samples/net/common/Kconfig
  samples/net/common/common.cmake
  samples/net/common/net_sample_common.h
  samples/net/common/tunnel.c
  samples/net/sockets/echo_server/CMakeLists.txt
  samples/net/sockets/echo_server/Kconfig
  samples/net/sockets/echo_server/overlay-tunnel.conf
  samples/net/sockets/echo_server/src/common.h
Labels: area: Networking, area: Samples, area: Sockets

#87872 drivers: video: gc2145: Add Chip ID 0x2145
  drivers/video/gc2145.c
Labels: area: Drivers, area: Video, area: camera

#87868 Refactor net-shell DHCP client printouts
  subsys/net/lib/shell/iface.c
Labels: area: Networking

#88020 samples: net: common: Check that tunnel config options are valid
  samples/net/common/tunnel.c
Labels: area: Networking, area: Samples, Hotfix

#85892 cfb: support text draw for non-vtiled displays
  subsys/fb/cfb.c
Labels: area: Display

#85893 Cfb fixes
  include/zephyr/display/cfb.h
  samples/subsys/display/cfb/src/main.c
  subsys/fb/cfb.c
  subsys/fb/cfb_shell.c
Labels: area: Samples, area: Display

#86548 drivers: can_mcp251xfd: Add XSTBY option
  drivers/can/can_mcp251xfd.c
  drivers/can/can_mcp251xfd.h
  dts/bindings/can/microchip,mcp251xfd.yaml
Labels: area: CAN

#87501 drivers: reset: Add generic reset MMIO driver
  drivers/reset/CMakeLists.txt
  drivers/reset/Kconfig
  drivers/reset/Kconfig.mmio
  drivers/reset/reset_mmio.c
  dts/bindings/reset/reset-mmio.yaml
  tests/drivers/reset/mmio/CMakeLists.txt
  tests/drivers/reset/mmio/boards/qemu_cortex_m3.overlay
  tests/drivers/reset/mmio/prj.conf
  tests/drivers/reset/mmio/src/main.c
  tests/drivers/reset/mmio/testcase.yaml
Labels: area: Devicetree

#88004 usb: device_next: avoid false error logging in CDC ACM
  subsys/usb/device_next/class/usbd_cdc_acm.c
Labels: area: USB, Trivial, Experimental, size: XS

#87973 west.yml: Update libmetal and open-amp cmake minimum version to 3.16
  west.yml
Labels: Hotfix, manifest, manifest-open-amp, manifest-libmetal

#86285 drivers: dac: Add TI DAC161S997 driver
  drivers/dac/CMakeLists.txt
  drivers/dac/Kconfig
  drivers/dac/Kconfig.dac161s997
  drivers/dac/dac_dac161s997.c
  dts/bindings/dac/ti,dac161s997.yaml
  include/zephyr/drivers/dac/dac161s997.h
  tests/drivers/build_all/dac/app.overlay
Labels: platform: TI, area: DAC, platform: TI SimpleLink

#86439 cmake: mcuboot: remove obsolete check for west to sign
  cmake/mcuboot.cmake
Labels: area: Build System, area: MCUBoot

#86533 edtlib: binding: Add a title keyword
  doc/_scripts/gen_devicetree_rest.py
  doc/build/dts/bindings-syntax.rst
  doc/build/dts/bindings-upstream.rst
  scripts/dts/python-devicetree/src/devicetree/edtlib.py
  scripts/dts/python-devicetree/tests/test-bindings/defaults.yaml
  scripts/dts/python-devicetree/tests/test_edtlib.py
Labels: area: Build System, area: Devicetree, area: Documentation Infrastructure

#87885 Bluetooth: Classic: Check LK before clearing it
  subsys/bluetooth/host/hci_core.c
Labels: area: Bluetooth, area: Bluetooth Host, size: XS

#87812 tests: littlefs: fix false negative test_lfs_basic
  tests/subsys/fs/littlefs/src/test_lfs_basic.c
Labels: area: File System

#87825 tests: littlefs: fix test_fs_mkfs_custom littlefs_init_cfg() fail
  tests/subsys/fs/littlefs/src/testfs_mkfs.c
Labels: area: File System

#86989 tests: nvs: allow to build & run on real platforms
  tests/subsys/fs/nvs/Kconfig
  tests/subsys/fs/nvs/src/main.c
Labels: area: File System

#86308 Drivers: DAI: Intel: DMIC: Program start symmetrically for PDMx
  drivers/dai/intel/dmic/dmic.c
Labels: area: DAI

#86682 driver: flash: mcux_flexspi_nor: Fix for is25lpxxxd chips
  drivers/flash/flash_mcux_flexspi_nor.c
Labels: area: Flash, platform: NXP Drivers

#87693 drivers: ethernet: stm32: remove hal api v1 ptp code
  drivers/ethernet/Kconfig.stm32_hal
  drivers/ethernet/eth_stm32_hal.c
Labels: platform: STM32, area: Ethernet

#87425 llext-edk: fix BOARD_TARGET variable generation to be Zephyr-compatible
  cmake/llext-edk.cmake
Labels: area: Build System, area: llext, size: XS

#87599 drivers: mfd: Add ambiq iom binding file
  boards/ambiq/apollo3_evb/apollo3_evb.dts
  boards/ambiq/apollo3_evb/apollo3_evb_connector.dtsi
  boards/ambiq/apollo3p_evb/apollo3p_evb.dts
  boards/ambiq/apollo3p_evb/apollo3p_evb_connector.dtsi
  boards/ambiq/apollo4p_blue_kxr_evb/apollo4p_blue_kxr_evb.dts
  boards/ambiq/apollo4p_evb/apollo4p_evb.dts
  boards/ambiq/apollo4p_evb/apollo4p_evb_connector.dtsi
  boards/rakwireless/rak11720/rak11720.dts
  drivers/i2c/i2c_ambiq.c
  drivers/spi/spi_ambiq_bleif.c
  drivers/spi/spi_ambiq_spic.c
  dts/arm/ambiq/ambiq_apollo3_blue.dtsi
  dts/arm/ambiq/ambiq_apollo3p_blue.dtsi
  dts/arm/ambiq/ambiq_apollo4p.dtsi
  dts/arm/ambiq/ambiq_apollo4p_blue.dtsi
  dts/bindings/i2c/ambiq,i2c.yaml
  dts/bindings/mfd/ambiq,iom.yaml
  dts/bindings/spi/ambiq,spi.yaml
Labels: area: SPI, area: I2C, platform: Ambiq, area: MFD

#87648 boards: nordic: use JLink device for FLPR on nRF54L15 SoC
  boards/nordic/nrf54l15dk/board.cmake
Labels: platform: nRF

#87916 samples: smp: pi: use K_SEM_DEFINE() for simplicity
  samples/arch/smp/pi/src/main.c
Labels: area: Samples

#87889 drivers: eth: native_tap: Add MAC parameter input from cmd line
  drivers/ethernet/eth_native_tap.c
Labels: area: native port, area: Ethernet

#88025 scripts: ci: compliance: Check .pyi files with ruff
  scripts/ci/check_compliance.py
Labels: Trivial, area: Coding Guidelines, area: Continuous Integration, size: XS

#87933 toolchain: llvm: Use clang's __INTN_C/__UINTN_C macros for clang 20.1+
  include/zephyr/toolchain/llvm.h
Labels: area: Toolchains

#87492 drivers: dma_wch: Add __used instead of disabling unused function warning
  drivers/dma/dma_wch.c
Labels: area: DMA

#88077 drivers: gpio: rz: Fix a build error
  drivers/gpio/gpio_renesas_rz.h
Labels: area: GPIO, Hotfix, platforms: Renesas RZ

#87861 serial: cmsdk_apb: fix `irq_is_pending`
  drivers/serial/uart_cmsdk_apb.c
Labels: area: UART

#88088 ci: Run all Blackbox tests
  .github/workflows/twister_tests_blackbox.yml
Labels: Hotfix, area: Continuous Integration, size: XS

#87329 soc: imx9: fix pinctrl drive strength setting
  soc/nxp/imx/imx9/imx91/pinctrl_soc.h
  soc/nxp/imx/imx9/imx93/pinctrl_soc.h
  soc/nxp/imx/imx9/imx95/pinctrl_soc.h
Labels: platform: NXP MPU

#87887 manifest: update hal_nordic to have nrfx_twim handler setter & getter
  west.yml
Labels: manifest, manifest-hal_nordic, size: XS

#86464 cmake: linker: dont place device tree memories at absolute addresses
  cmake/modules/extensions.cmake
Labels: area: Build System, size: XS

#87567 wifi: drivers: siwx91x: Add Wi-Fi version command support
  drivers/wifi/siwx91x/siwx91x_wifi.c
Labels: platform: Silabs, area: Wi-Fi

#87811 Bluetooth: Controller: Fix an error code in ll_adv_sync_ad_data_set
  subsys/bluetooth/controller/ll_sw/ull_adv_sync.c
Labels: area: Bluetooth, area: Bluetooth Controller, size: XS

#87911 drivers: video: ov5640: add support to QVGA and QQVGA in CSI mode
  drivers/video/ov5640.c
Labels: area: Video

#87952 tests: logging: logging.thread: fix Ztest log corruption
  tests/subsys/logging/log_core_additional/src/log_test.c
Labels: area: Logging

#87957 dts: bindings: spi: Fix "nordic,nrf-spis" binding
  dts/bindings/spi/nordic,nrf-spi-common.yaml
  dts/bindings/spi/nordic,nrf-spi.yaml
  dts/bindings/spi/nordic,nrf-spim.yaml
  dts/bindings/spi/nordic,nrf-spis.yaml
Labels: area: SPI, platform: nRF, area: Devicetree Binding

#87962 cmake: fix Zephyr module ext order
  cmake/modules/zephyr_module.cmake
Labels: area: Build System

#88120 Revert "dts: bindings: spi: Fix "nordic,nrf-spis" binding"
  dts/bindings/spi/nordic,nrf-spi-common.yaml
  dts/bindings/spi/nordic,nrf-spi.yaml
  dts/bindings/spi/nordic,nrf-spim.yaml
  dts/bindings/spi/nordic,nrf-spis.yaml
Labels: area: SPI, platform: nRF, Hotfix

#87666 bluetooth: classic: Fix remote name resolving with multiple devices
  include/zephyr/bluetooth/classic/classic.h
  subsys/bluetooth/host/classic/br.c
Labels: area: Bluetooth, area: Bluetooth Classic

#87808 tests: zms: decrease verbosity
  tests/subsys/fs/zms/prj.conf
Labels: area: File System

#87920 sensor: dts: Add sensor-device.yaml to all instances
  dts/bindings/sensor/ams,as6212.yaml
  dts/bindings/sensor/ist,tsic-xx6.yaml
  dts/bindings/sensor/nordic,nrf-temp-nrfs.yaml
  dts/bindings/sensor/nxp,p3t1755-common.yaml
  dts/bindings/sensor/pixart,paa3905.yaml
  dts/bindings/sensor/st,stm32-digi-temp.yaml
  dts/bindings/sensor/st,stm32-qdec.yaml
Labels: area: Sensors, platform: STM32, platform: nRF, platform: NXP Drivers

#87979 wifi: nrf_wifi: Adjust default heap size for driver init failures
  drivers/wifi/nrf_wifi/Kconfig.nrfwifi
Labels: area: Wi-Fi, size: XS

#88094 drivers: serial: silabs: add __maybe_unused to eusart dma callback
  drivers/serial/uart_silabs_eusart.c
Labels: area: UART, platform: Silabs, Hotfix

#86504 boards: common: programatically set MAX32_TARGET_CFG
  boards/common/openocd-adi-max32.boards.cmake
Labels: platform: ADI

#87592 tests: mgmt: mcumgr: Disable clang warning
  include/zephyr/toolchain/llvm.h
  tests/subsys/mgmt/mcumgr/settings_mgmt/src/main.c
Labels: area: Toolchains, area: mcumgr

#87855 drivers: sensor: current_amp: add calibration option
  drivers/sensor/current_amp/current_amp.c
  dts/bindings/iio/afe/current-sense-amplifier.yaml
  include/zephyr/drivers/adc/current_sense_amplifier.h
Labels: area: ADC, area: Sensors, area: Devicetree

#87878 tests: kernel/sleep: exclude npcx platforms from the test
  tests/kernel/sleep/testcase.yaml
Labels: area: Kernel

#87948 kernel: timeout: Reduce number of sys_clock_elapsed calls
  kernel/timeout.c
Labels: area: Kernel

#86676 drivers: can: stm32_bxcan: fix filter config
  drivers/can/can_stm32_bxcan.c
Labels: platform: STM32, area: CAN

#86749 drivers: gpio: fix pcal6534 by updating register map
  drivers/gpio/gpio_pca_series.c
Labels: area: GPIO

#87755 Bluetooth: Controller: Single recv thread for HCI-only builds
  subsys/bluetooth/controller/Kconfig.ll_sw_split
  subsys/bluetooth/controller/hci/hci.c
  subsys/bluetooth/controller/hci/hci_driver.c
Labels: area: Bluetooth, area: Bluetooth Controller

#88019 soc: intel_adsp: ace30: set MMU permissions for rom_ext
  soc/intel/intel_adsp/ace/include/adsp_memory.h
  soc/intel/intel_adsp/ace/mmu_ace30.c
Labels: platform: Intel ADSP

#88021 modules: nrf_wifi: Remove unnecessary check
  modules/nrf_wifi/bus/CMakeLists.txt
Labels: area: Wi-Fi

#87967 Bluetooth: BAP: Scan delegator BIS sync updates
  subsys/bluetooth/audio/bap_scan_delegator.c
Labels: area: Bluetooth, area: Bluetooth Audio

#87969 soc: Add support for STM32F479
  dts/arm/st/f4/stm32f479.dtsi
  dts/arm/st/f4/stm32f479Xi.dtsi
  soc/st/stm32/soc.yml
  soc/st/stm32/stm32f4x/Kconfig.defconfig.stm32f479xx
  soc/st/stm32/stm32f4x/Kconfig.soc
Labels: platform: STM32

#88029 scripts: ci: check_compliance: Disallow board hooks in defconfigs
  scripts/ci/check_compliance.py
Labels: area: Coding Guidelines, area: Continuous Integration

#88030 drivers: udc: fix it82xx2 and numaker drivers compilation
  drivers/usb/udc/udc_it82xx2.c
  drivers/usb/udc/udc_numaker.c
Labels: area: Drivers, area: USB, Regression, Experimental

#88031 openthread: map Thread network interface state
  subsys/net/l2/openthread/Kconfig
  subsys/net/l2/openthread/openthread.c
Labels: area: Networking, area: OpenThread

#88034 Revert "drivers: dma: intel_adsp_hda: change L1_EXIT defaults"
  drivers/dma/Kconfig.intel_adsp_hda
Labels: area: DMA, size: XS

#87879 dts: silabs: interrupt levels corrected
  dts/arm/silabs/efr32bg22.dtsi
  dts/arm/silabs/efr32bg27.dtsi
  dts/arm/silabs/efr32bg2x.dtsi
  dts/arm/silabs/efr32mg21.dtsi
  dts/arm/silabs/efr32mg24.dtsi
  dts/arm/silabs/efr32xg23.dtsi
  dts/arm/silabs/xg29/xg29.dtsi
Labels: platform: Silabs

#87058 bluetooth: host: Fixed missing guard for BT_SETTINGS_DEFINE
  subsys/bluetooth/host/gatt.c
Labels: area: Bluetooth, area: Settings, area: Bluetooth Host

#87191 MAINTAINERS: add tdk team as TDK Sensors maintainers and collaborators
  MAINTAINERS.yml
Labels: area: Process

#87499 MAINTAINERS: Introduce WCH platforms
  MAINTAINERS.yml
Labels: area: Process

#87895 scripts: support quoted sysbuild Kconfig settings in twister
  scripts/pylib/twister/twisterlib/runner.py
Labels: area: Twister

#88040 Tests: Bluetooth: Classic: Bumble `power_on()` will fail on Linux
  tests/bluetooth/classic/sdp_c/pytest/test_sdp.py
  tests/bluetooth/classic/sdp_s/pytest/test_sdp.py
Labels: area: Bluetooth, area: Bluetooth Classic

#88046 net: Add CONFIG_NET_SOCKETS_PACKET_CLONE_TIMEOUT
  subsys/net/ip/Kconfig
  subsys/net/ip/connection.c
Labels: area: Networking, area: Sockets

#88133 dts: arm: silabs: Fix clock and interrupt definitions for xg22
  dts/arm/silabs/efr32bg22.dtsi
  dts/arm/silabs/efr32bg27.dtsi
  dts/arm/silabs/efr32bg2x.dtsi
Labels: platform: Silabs, Hotfix

#88150 sensor: bme280: clamp humidity to non-negative
  drivers/sensor/bosch/bme280/bme280.c
Labels: area: Sensors, Trivial, size: XS

#86807 drivers: i2c: tca954x: add support for idle disconnect
  drivers/i2c/i2c_tca954x.c
  dts/bindings/i2c/ti,tca954x-base.yaml
Labels: area: I2C, platform: TI SimpleLink

#86939 NXP LPSPI: Refactoring to remove dependency of HAL in XFER drivers
  drivers/spi/spi_nxp_lpspi/Kconfig
  drivers/spi/spi_nxp_lpspi/spi_nxp_lpspi.c
  drivers/spi/spi_nxp_lpspi/spi_nxp_lpspi_common.c
  drivers/spi/spi_nxp_lpspi/spi_nxp_lpspi_dma.c
  drivers/spi/spi_nxp_lpspi/spi_nxp_lpspi_priv.h
Labels: area: SPI, platform: NXP Drivers

#88050 net: coap_client: Fix CoAP client thread priority
  subsys/net/lib/coap/coap_client.c
Labels: area: Networking, backport v3.7-branch, backport v4.1-branch

#88053 drivers: sensors: bma4xx: add I2C_RTIO Kconfig for I2C
  drivers/sensor/bosch/bma4xx/Kconfig
Labels: area: Sensors, size: XS

#88056 tests: littlefs: fix test_lfs_basic for medium and large partitions
  tests/subsys/fs/littlefs/src/test_lfs_basic.c
Labels: area: File System

#88127 west.yml: Update NXP HAL to fix HIFI DSP build
  west.yml
Labels: Hotfix, manifest, manifest-hal_nxp, size: XS

#88159 Bluetooth: HFP_AG: Initialize variable to avoid warning
  subsys/bluetooth/host/classic/hfp_ag.c
Labels: area: Bluetooth, Hotfix, Trivial, area: Bluetooth Classic, size: XS

#86261 tests: Add benchmark for IPI performance
  tests/benchmarks/ipi_metric/CMakeLists.txt
  tests/benchmarks/ipi_metric/Kconfig
  tests/benchmarks/ipi_metric/boards/qemu_cortex_a53_qemu_cortex_a53_smp.conf
  tests/benchmarks/ipi_metric/boards/qemu_cortex_a53_qemu_cortex_a53_smp.overlay
  tests/benchmarks/ipi_metric/boards/qemu_x86_64.conf
  tests/benchmarks/ipi_metric/boards/qemu_x86_64.overlay
  tests/benchmarks/ipi_metric/prj.conf
  tests/benchmarks/ipi_metric/src/ipi_metric_preemptive.c
  tests/benchmarks/ipi_metric/src/ipi_metric_primitive.c
  tests/benchmarks/ipi_metric/testcase.yaml
Labels: area: Benchmarks

#87212 doc: kernel: fatal: update "Build Assertions" section intro paragraph
  doc/kernel/services/other/fatal.rst
Labels: area: Kernel

#87517 kernel: system_work_q: make `k_work_queue_config cfg` as `static const`
  kernel/system_work_q.c
Labels: area: Kernel, size: XS

#88061 ztest: Fix confusing SKIP log
  subsys/testsuite/ztest/Kconfig
  subsys/testsuite/ztest/src/ztest.c
  tests/ztest/fail/CMakeLists.txt
  tests/ztest/fail/Kconfig
  tests/ztest/fail/core/CMakeLists.txt
  tests/ztest/fail/testcase.yaml
Labels: area: Testsuite

#88142 tests: drivers: build_all: sensor: i2c.dtsi fix address typo
  tests/drivers/build_all/sensor/i2c.dtsi
Labels: area: Sensors, Trivial, size: XS

#86692 data: json: remove extra braces causing designated-initializer errors in C++
  include/zephyr/data/json.h
Labels: area: JSON

#87912 gitlint: Add ignored rules for dependabot
  .gitlint
Labels: area: Coding Guidelines

#87994 soc: espressif: update restart procedure
  soc/espressif/esp32/soc.c
  soc/espressif/esp32/soc_appcpu.c
  soc/espressif/esp32c2/soc.c
  soc/espressif/esp32c3/soc.c
  soc/espressif/esp32c6/soc.c
  soc/espressif/esp32s2/soc.c
  soc/espressif/esp32s3/soc.c
  soc/espressif/esp32s3/soc_appcpu.c
  west.yml
Labels: platform: ESP32, manifest, manifest-hal_espressif

#88190 ci: twister: set number of jobs to use
  .github/workflows/clang.yaml
  .github/workflows/twister.yaml
Labels: area: Continuous Integration

#87959 soc: renesas: rz: Fix loader program
  soc/renesas/rz/common/loader_program.S
Labels: Hotfix, platforms: Renesas RZ

#88084 MAINTAINERS: Update collaborator for Renesas RA Platform
  MAINTAINERS.yml
Labels: area: Process, Trivial, size: XS

#86038 soc: espressif: esp32: Enable DRAM1 usage
  boards/m5stack/m5stack_core2/m5stack_core2_procpu_defconfig
  soc/espressif/esp32/Kconfig
  soc/espressif/esp32/default.ld
  soc/espressif/esp32/memory.h
Labels: platform: ESP32

#87446 soc: nuvoton: npcx: refactor npcx soc hierarchy for future chip support
  soc/nuvoton/npcx/Kconfig.soc
  soc/nuvoton/npcx/common/CMakeLists.txt
  soc/nuvoton/npcx/common/npcxn/include/clock_def.h
  soc/nuvoton/npcx/common/npcxn/include/reg_def.h
  soc/nuvoton/npcx/common/npcxn/registers.c
  soc/nuvoton/npcx/common/reg/reg_access.h
  soc/nuvoton/npcx/common/reg_access.h
  soc/nuvoton/npcx/common/soc_clock.h
  soc/nuvoton/npcx/common/soc_pins.h
  soc/nuvoton/npcx/npcx4/Kconfig.soc
  soc/nuvoton/npcx/npcx4/soc.h
  soc/nuvoton/npcx/npcx7/Kconfig.soc
  soc/nuvoton/npcx/npcx7/soc.h
  soc/nuvoton/npcx/npcx9/Kconfig.soc
  soc/nuvoton/npcx/npcx9/soc.h
Labels: platform: Nuvoton NPCX

#88078 bluetooth: classic: hfp: sco_conn is null in hfp sco_disconnected callback
  subsys/bluetooth/host/classic/sco.c
Labels: area: Bluetooth, area: Bluetooth Classic

#87927 manifest: hal_atmel: bump hash for missing macro
  west.yml
Labels: platform: Microchip SAM, manifest, manifest-hal_atmel, size: XS

#88202 boards: nordic: thingy53: specify `ble` support
  boards/nordic/thingy53/thingy53_nrf5340_cpuapp.yaml
Labels: platform: nRF, Trivial, size: XS

#87418 board: sensry: add starter-kit-board
  boards/sensry/ganymed_sk/Kconfig.ganymed_sk
  boards/sensry/ganymed_sk/board.cmake
  boards/sensry/ganymed_sk/board.yml
  boards/sensry/ganymed_sk/doc/img/ganymed_sk.webp
  boards/sensry/ganymed_sk/doc/index.rst
  boards/sensry/ganymed_sk/ganymed_sk_sy120-pinctrl.dtsi
  boards/sensry/ganymed_sk/ganymed_sk_sy120_gbm.dts
  boards/sensry/ganymed_sk/ganymed_sk_sy120_gbm.yaml
  boards/sensry/ganymed_sk/ganymed_sk_sy120_gbm_defconfig
  boards/sensry/ganymed_sk/ganymed_sk_sy120_gen1.dts
  boards/sensry/ganymed_sk/ganymed_sk_sy120_gen1.yaml
  boards/sensry/ganymed_sk/ganymed_sk_sy120_gen1_defconfig
Labels: platform: sensry

#87455 boards: pico_spe_series: add support
  boards/kws/common/pico_spe-pinctrl-common.dtsi
  boards/kws/index.rst
  boards/kws/pico2_spe/Kconfig.defconfig
  boards/kws/pico2_spe/Kconfig.pico2_spe
  boards/kws/pico2_spe/board.cmake
  boards/kws/pico2_spe/board.yml
  boards/kws/pico2_spe/doc/img/pico2_spe.webp
  boards/kws/pico2_spe/doc/index.rst
  boards/kws/pico2_spe/pico2_spe-pinctrl.dtsi
  boards/kws/pico2_spe/pico2_spe.dtsi
  boards/kws/pico2_spe/pico2_spe_rp2350a_m33.dts
  boards/kws/pico2_spe/pico2_spe_rp2350a_m33.yaml
  boards/kws/pico2_spe/pico2_spe_rp2350a_m33_defconfig
  boards/kws/pico2_spe/support/openocd.cfg
  boards/kws/pico_spe/Kconfig
  boards/kws/pico_spe/Kconfig.defconfig
  boards/kws/pico_spe/Kconfig.pico_spe
  boards/kws/pico_spe/board.cmake
  boards/kws/pico_spe/board.yml
  boards/kws/pico_spe/doc/img/pico_spe.webp
  boards/kws/pico_spe/doc/index.rst
  boards/kws/pico_spe/pico_spe-pinctrl.dtsi
  boards/kws/pico_spe/pico_spe.dts
  boards/kws/pico_spe/pico_spe.yaml
  boards/kws/pico_spe/pico_spe_defconfig
  boards/kws/pico_spe/support/openocd.cfg
  dts/bindings/vendor-prefixes.txt
  tests/drivers/adc/adc_api/boards/pico2_spe_rp2350a_m33.overlay
  tests/drivers/adc/adc_api/boards/pico_spe.overlay
Labels: area: ADC, area: Devicetree

#88043 bluetooth: host: att: Remove superfluous functions and misleading checks
  subsys/bluetooth/host/att.c
Labels: area: Bluetooth, area: Bluetooth Host

#83943 boards: lilygo: ttgo_tbeam: initial support
  boards/lilygo/ttgo_tbeam/Kconfig
  boards/lilygo/ttgo_tbeam/Kconfig.sysbuild
  boards/lilygo/ttgo_tbeam/Kconfig.ttgo_tbeam
  boards/lilygo/ttgo_tbeam/board.cmake
  boards/lilygo/ttgo_tbeam/board.yml
  boards/lilygo/ttgo_tbeam/doc/img/ttgo_tbeam.webp
  boards/lilygo/ttgo_tbeam/doc/index.rst
  boards/lilygo/ttgo_tbeam/support/openocd.cfg
  boards/lilygo/ttgo_tbeam/ttgo_tbeam-pinctrl.dtsi
  boards/lilygo/ttgo_tbeam/ttgo_tbeam_esp32_appcpu.dts
  boards/lilygo/ttgo_tbeam/ttgo_tbeam_esp32_appcpu.yaml
  boards/lilygo/ttgo_tbeam/ttgo_tbeam_esp32_appcpu_defconfig
  boards/lilygo/ttgo_tbeam/ttgo_tbeam_esp32_procpu.dts
  boards/lilygo/ttgo_tbeam/ttgo_tbeam_esp32_procpu.yaml
  boards/lilygo/ttgo_tbeam/ttgo_tbeam_esp32_procpu_defconfig
Labels: area: Boards, area: Regulators, area: MFD

#87863 boards: intel: Updated TSC frequency values
  boards/intel/adl/Kconfig.defconfig
  boards/intel/rpl/Kconfig.defconfig
Labels: platform: X86

#86940 samples: Bluetooth: bap_broadcast_source nRF5340 audio dk + nRF21540 FEM
  samples/bluetooth/bap_broadcast_source/boards/nrf5340_audio_dk_nrf5340_cpuapp_nrf21540_ek.overlay
  samples/bluetooth/bap_broadcast_source/sample.yaml
Labels: area: Bluetooth, area: Samples, area: Bluetooth Audio

#86425 drivers: sensor: ti: opt3001: add support for trigger_set
  drivers/sensor/ti/opt3001/CMakeLists.txt
  drivers/sensor/ti/opt3001/Kconfig
  drivers/sensor/ti/opt3001/opt3001.c
  drivers/sensor/ti/opt3001/opt3001.h
  drivers/sensor/ti/opt3001/opt3001_trigger.c
  dts/bindings/sensor/ti,opt3001.yaml
  tests/drivers/build_all/sensor/sensors_trigger_global.conf
  tests/drivers/build_all/sensor/sensors_trigger_none.conf
  tests/drivers/build_all/sensor/sensors_trigger_own.conf
Labels: area: Sensors, platform: TI SimpleLink

#88058 tests: littlefs: fix large partition mounting
  tests/subsys/fs/littlefs/src/testfs_lfs.c
Labels: area: File System, size: XS

#86395 drivers: counter: rts5912: add support slow timer counter driver
  drivers/counter/CMakeLists.txt
  drivers/counter/Kconfig
  drivers/counter/Kconfig.rts5912_slwtmr
  drivers/counter/counter_realtek_rts5912_slwtmr.c
  dts/bindings/counter/realtek,rts5912-slwtimer.yaml
  soc/realtek/ec/rts5912/reg/reg_slwtmr.h
Labels: area: Counter, platform: Realtek EC

#88049 drivers: rtc: add nxp pcf2123 driver
  drivers/rtc/CMakeLists.txt
  drivers/rtc/Kconfig
  drivers/rtc/Kconfig.pcf2123
  drivers/rtc/rtc_pcf2123.c
  dts/bindings/rtc/nxp,pcf2123.yaml
Labels: area: RTC, platform: NXP Drivers

#85830 bluetooth: hci: SPI backend boot timeout
  drivers/bluetooth/hci/Kconfig
  drivers/bluetooth/hci/hci_spi_st.c
  drivers/bluetooth/hci/spi.c
Labels: area: Bluetooth, platform: STM32, area: Bluetooth HCI

#88112 drivers: clock_control: nrf: Apply fix for nRF54L anomaly 30.
  drivers/clock_control/Kconfig.nrf
  drivers/clock_control/clock_control_nrf.c
Labels: platform: nRF, area: Clock Control

#88147 bluetooth: host: Disabled warning for misaligned access
  subsys/bluetooth/host/classic/a2dp.c
Labels: area: Bluetooth, area: Build System, area: Toolchains, area: Bluetooth Host, area: Bluetooth Classic

#87809 zms: fix the detection of gc_done ATE
  subsys/fs/zms/zms.c
Labels: area: File System, size: XS

#83830 Re-enable `-Wunused-function` for clang
  cmake/compiler/clang/compiler_flags.cmake
Labels: area: Build System, area: Toolchains, size: XS

#87530 json: Fix calculation of object size
  lib/utils/json.c
  tests/lib/json/src/main.c
Labels: area: JSON, area: Utilities

#87883 drivers: display: sdl: Ensure draw is performed from init thread
  drivers/display/Kconfig.sdl
  drivers/display/display_sdl.c
Labels: area: Display

#88156 Bluetooth: pacs: Fixed pacs_get_available_context
  subsys/bluetooth/audio/pacs.c
Labels: bug, area: Bluetooth, area: Bluetooth Audio

#86356 Adds esp32 bt controller supported features
  drivers/bluetooth/hci/Kconfig
Labels: area: Bluetooth, area: Xtensa, area: RISCV, platform: ESP32, area: Bluetooth HCI

#88169 soc: nordic: Disable cache for soft peripheral RAM region in nRF54H/nRF92
  soc/nordic/common/nrf54hx_nrf92x_mpu_regions.c
Labels: platform: nRF

#88166 net: openthread: Add missing error checks
  subsys/net/l2/openthread/openthread.c
Labels: area: Networking, area: OpenThread

#87787 drivers: i3c: fix read flag for i3c_hdr_ddr_read
  include/zephyr/drivers/i3c/hdr_ddr.h
Labels: area: I3C

#88173 tests: bluetooth: tester: Add helper for supported commands response
  tests/bluetooth/tester/src/audio/btp_aics.c
  tests/bluetooth/tester/src/audio/btp_bap.c
  tests/bluetooth/tester/src/audio/btp_cap.c
  tests/bluetooth/tester/src/audio/btp_cas.c
  tests/bluetooth/tester/src/audio/btp_ccp.c
  tests/bluetooth/tester/src/audio/btp_csip.c
  tests/bluetooth/tester/src/audio/btp_csis.c
  tests/bluetooth/tester/src/audio/btp_hap.c
  tests/bluetooth/tester/src/audio/btp_has.c
  tests/bluetooth/tester/src/audio/btp_mcp.c
  tests/bluetooth/tester/src/audio/btp_micp.c
  tests/bluetooth/tester/src/audio/btp_pbp.c
  tests/bluetooth/tester/src/audio/btp_tmap.c
  tests/bluetooth/tester/src/audio/btp_vcp.c
  tests/bluetooth/tester/src/btp.c
  tests/bluetooth/tester/src/btp/bttester.h
  tests/bluetooth/tester/src/btp_core.c
  tests/bluetooth/tester/src/btp_gap.c
  tests/bluetooth/tester/src/btp_gatt.c
  tests/bluetooth/tester/src/btp_l2cap.c
  tests/bluetooth/tester/src/btp_mesh.c
  tests/bluetooth/tester/src/btp_ots.c
Labels: area: Bluetooth, area: Bluetooth Qualification, area: Bluetooth Audio

#88145 pm: Optimize pre-wakeup in suspend procedure
  subsys/pm/Kconfig
  subsys/pm/pm.c
Labels: area: Power Management

#88176 net: nsos_sockets: Fix incorrect connect() return code on ECONNREFUSED
  drivers/net/nsos_sockets.c
Labels: area: Networking, size: XS

#87848 shields: display: Add Waveshare Pico LCD 1.14
  boards/shields/waveshare_pico_lcd_1_14/Kconfig.defconfig
  boards/shields/waveshare_pico_lcd_1_14/Kconfig.shield
  boards/shields/waveshare_pico_lcd_1_14/boards/pico_plus2_rp2350b_m33.overlay
  boards/shields/waveshare_pico_lcd_1_14/boards/rpi_pico.overlay
  boards/shields/waveshare_pico_lcd_1_14/boards/rpi_pico2_rp2350a_m33.overlay
  boards/shields/waveshare_pico_lcd_1_14/boards/w5500_evb_pico.overlay
  boards/shields/waveshare_pico_lcd_1_14/boards/w5500_evb_pico2_rp2350a_m33.overlay
  boards/shields/waveshare_pico_lcd_1_14/doc/index.rst
  boards/shields/waveshare_pico_lcd_1_14/waveshare_pico_lcd_1_14.overlay
  boards/shields/waveshare_pico_lcd_1_14/waveshare_pico_lcd_1_14_buttons.overlay
  boards/shields/waveshare_pico_lcd_1_14/waveshare_pico_lcd_1_14_display.overlay
Labels: area: Shields

#87858 shields: display: Add Waveshare Pico OLED 1.3
  boards/shields/waveshare_pico_oled_1_3/Kconfig.defconfig
  boards/shields/waveshare_pico_oled_1_3/Kconfig.shield
  boards/shields/waveshare_pico_oled_1_3/boards/pico_plus2_rp2350b_m33.overlay
  boards/shields/waveshare_pico_oled_1_3/boards/rpi_pico.overlay
  boards/shields/waveshare_pico_oled_1_3/boards/rpi_pico2_rp2350a_m33.overlay
  boards/shields/waveshare_pico_oled_1_3/boards/w5500_evb_pico.overlay
  boards/shields/waveshare_pico_oled_1_3/boards/w5500_evb_pico2_rp2350a_m33.overlay
  boards/shields/waveshare_pico_oled_1_3/doc/index.rst
  boards/shields/waveshare_pico_oled_1_3/waveshare_pico_oled_1_3.overlay
  boards/shields/waveshare_pico_oled_1_3/waveshare_pico_oled_1_3_buttons.overlay
  boards/shields/waveshare_pico_oled_1_3/waveshare_pico_oled_1_3_display.overlay
Labels: area: Shields

#88117 ci: Remove "Building C object" from blackbox inline logs test.
  scripts/tests/twister_blackbox/test_output.py
Labels: area: Twister
