Repository zephyrproject-rtos/zephyr, pull requests merged in 2025-09, with the labels that each got.

#95086 subsys: modem: add macro MODEM_CHAT_MATCH_WILDCARD_DEFINE
  include/zephyr/modem/chat.h
Labels: area: Modem

#94741 Command for listing flash partitions
  drivers/flash/flash_shell.c
Labels: area: Flash

#95064 bluetooth: mesh: pb_adv: check TotalLength against adv buf length
  subsys/bluetooth/mesh/pb_adv.c
Labels: area: Bluetooth, area: Bluetooth Mesh

#94578 toolchain: arcmwdt: override unsuitable default implementations
  cmake/compiler/arcmwdt/target.cmake
  cmake/linker/arcmwdt/target.cmake
Labels: area: Build System, area: Toolchains, Regression

#87983 tests: Bluetooth: Tester: CCP BSIM test
  tests/bsim/bluetooth/tester/CMakeLists.txt
  tests/bsim/bluetooth/tester/src/audio/ccp_central.c
  tests/bsim/bluetooth/tester/src/audio/ccp_peripheral.c
  tests/bsim/bluetooth/tester/src/bsim_btp.h
  tests/bsim/bluetooth/tester/src/test_main.c
  tests/bsim/bluetooth/tester/tests_scripts/ccp.sh
Labels: area: Bluetooth, area: Bluetooth Qualification, area: Bluetooth Host, area: Bluetooth Audio, platform: nRF BSIM

#94527 west: runners: nrf_common: Delete deprecated suit handling
  scripts/ci/check_compliance.py
  scripts/west_commands/runners/nrf_common.py
  scripts/west_commands/runners/nrfutil.py
Labels: area: West, area: Coding Guidelines, area: Continuous Integration

#94521 drivers: usb: udc: refine log message in udc_common.c
  drivers/usb/udc/udc_common.c
Labels: area: USB

#95295 drivers: flash: shell: Fix printing partitions without labels
  drivers/flash/flash_shell.c
Labels: area: Flash, Hotfix

#95108 drivers: i3c: Correct initialization order by setting controller info…
  drivers/i3c/i3c_dw.c
Labels: area: I3C

#94841 linker: Split nocache memory sections into loadable and non-loadable
  arch/common/nocache.ld
  include/zephyr/linker/linker-defs.h
  include/zephyr/linker/section_tags.h
  include/zephyr/linker/sections.h
  kernel/init.c
  kernel/xip.c
Labels: area: Kernel, area: Build System, area: Toolchains, area: Architectures, area: Linker Scripts, backport v4.2-branch

#94654 drivers: counter: Fix mspm0 alarm cancellation
  drivers/counter/counter_mspm0_timer.c
Labels: bug, area: Counter, platform: Texas Instruments MSPM0

#94724 drivers: clock_control: Fix setting hfxt oscillator in mspm0 clock
  drivers/clock_control/clock_control_mspm0.c
Labels: bug, area: Clock Control, platform: Texas Instruments MSPM0

#95061 bluetooth: mesh: pb_adv: check SegN in Transaction Continuation PDU
  subsys/bluetooth/mesh/pb_adv.c
Labels: area: Bluetooth, area: Bluetooth Mesh, size: XS

#95023 MAINTAINERS: Add @glneo as TI K3 Platforms maintainer
  MAINTAINERS.yml
Labels: area: Process

#89995 Bluetooth: ISO: Add check to prevent premature BIG termination
  include/zephyr/bluetooth/iso.h
  subsys/bluetooth/host/iso.c
  subsys/bluetooth/host/iso_internal.h
Labels: area: Bluetooth, area: Bluetooth ISO

#95122 boards: nxp: frdm_mcxn947: deactivate eth phy on cpu1
  boards/nxp/frdm_mcxn947/frdm_mcxn947.dtsi
  boards/nxp/frdm_mcxn947/frdm_mcxn947_mcxn947_cpu0.dtsi
Labels: platform: NXP

#94903 drivers: disk: sdmmc_stm32: Add compatibility macros for STM32F4 SDIO
  drivers/disk/sdmmc_stm32.c
Labels: platform: STM32, area: Disk Access

#95072 tests: counter: Remove unused line
  tests/drivers/counter/counter_basic_api/src/test_counter.c
Labels: area: Counter, size: XS

#95315 boards: renesas: add 3 LED support
  boards/renesas/ek_ra4m2/ek_ra4m2.dts
Labels: Trivial, platform: Renesas RA

#87177 boards: adafruit: add initial support for esp32 feather v2
  boards/adafruit/feather_esp32/Kconfig
  boards/adafruit/feather_esp32/Kconfig.adafruit_feather_esp32
  boards/adafruit/feather_esp32/adafruit_feather_esp32-pinctrl.dtsi
  boards/adafruit/feather_esp32/adafruit_feather_esp32_appcpu.dts
  boards/adafruit/feather_esp32/adafruit_feather_esp32_appcpu.yaml
  boards/adafruit/feather_esp32/adafruit_feather_esp32_appcpu_defconfig
  boards/adafruit/feather_esp32/adafruit_feather_esp32_procpu.dts
  boards/adafruit/feather_esp32/adafruit_feather_esp32_procpu.yaml
  boards/adafruit/feather_esp32/adafruit_feather_esp32_procpu_defconfig
  boards/adafruit/feather_esp32/board.cmake
  boards/adafruit/feather_esp32/board.yml
  boards/adafruit/feather_esp32/doc/img/adafruit_feather_esp32.webp
  boards/adafruit/feather_esp32/doc/index.rst
  samples/drivers/led/led_strip/boards/adafruit_feather_esp32_procpu.conf
Labels: area: Samples, area: LED

#95184 MAINTAINERS: add entry for the firmware subsystem
  MAINTAINERS.yml
Labels: area: Process

#95221 include: drivers: rtc: counter: deprecate counter-based DS3231 driver
  doc/releases/release-notes-4.3.rst
  dts/bindings/counter/maxim,ds3231.yaml
  include/zephyr/drivers/rtc/maxim_ds3231.h
  samples/drivers/counter/maxim_ds3231/README.rst
Labels: area: Samples, area: Counter, area: RTC, Release Notes, platform: ADI

#95235 modbus: serial: rename `rtu_tx_adu` to `modbus_rtu_tx_adu`
  subsys/modbus/modbus_serial.c
Labels: area: modbus

#94974 phy_adin2111.c: ethernet: phy: correctly assign state parameter with state from device
  drivers/ethernet/phy/phy_adin2111.c
Labels: bug, area: Ethernet, Trivial, platform: ADI, size: XS

#95333 boards: infineon: increase boostrap size for cyw920829
  dts/arm/infineon/cat1b/cyw20829/cyw20829.dtsi
Labels: Hotfix, platform: Infineon, size: XS

#95055 drivers: sensor: explorir_m: check transceive return value in init
  drivers/sensor/explorir_m/explorir_m.c
Labels: area: Sensors

#95206 boards: shields: Add Adafruit LIS2MDL magnetometer shield
  boards/shields/adafruit_lis2mdl/Kconfig.shield
  boards/shields/adafruit_lis2mdl/adafruit_lis2mdl.overlay
  boards/shields/adafruit_lis2mdl/doc/adafruit_lis2mdl.webp
  boards/shields/adafruit_lis2mdl/doc/index.rst
  boards/shields/adafruit_lis2mdl/shield.yml
  samples/sensor/magn_polling/sample.yaml
Labels: area: Sensors, area: Samples, area: Shields

#95197 drivers: i2s: stm32 sai fix tx callback mem_buff release
  drivers/i2s/i2s_stm32_sai.c
Labels: platform: STM32, area: I2S

#95210 boards: shields: Add Adafruit VCNL4040 proximity sensor shield
  boards/shields/adafruit_vcnl4040/Kconfig.shield
  boards/shields/adafruit_vcnl4040/adafruit_vcnl4040.overlay
  boards/shields/adafruit_vcnl4040/doc/adafruit_vcnl4040.webp
  boards/shields/adafruit_vcnl4040/doc/index.rst
  boards/shields/adafruit_vcnl4040/shield.yml
  samples/sensor/vcnl4040/sample.yaml
Labels: area: Sensors, area: Samples, area: Shields

#95198 drivers: sensor: paj7620: Fix potential integer overflow in driver
  drivers/sensor/pixart/paj7620/paj7620.c
Labels: area: Sensors, size: XS

#95204 boards: shields: Add product photos to some shields
  boards/shields/adafruit_2_8_tft_touch_v2/doc/adafruit_2_8_tft_touch_v2.webp
  boards/shields/adafruit_2_8_tft_touch_v2/doc/index.rst
  boards/shields/adafruit_featherwing_128x32_oled/doc/adafruit_featherwing_128x32_oled.webp
  boards/shields/adafruit_featherwing_128x32_oled/doc/index.rst
  boards/shields/adafruit_pca9685/doc/adafruit_pca9685.webp
  boards/shields/adafruit_pca9685/doc/index.rst
Labels: area: Shields

#95207 boards: shields: Add Adafruit 24LC32 EEPROM shield
  boards/shields/adafruit_24lc32/Kconfig.shield
  boards/shields/adafruit_24lc32/adafruit_24lc32.overlay
  boards/shields/adafruit_24lc32/doc/adafruit_24lc32.webp
  boards/shields/adafruit_24lc32/doc/index.rst
  boards/shields/adafruit_24lc32/shield.yml
  samples/drivers/eeprom/sample.yaml
Labels: area: Samples, area: Shields, area: EEPROM

#95199 drivers: i2s: stm32 sai fix H7xx dma configuration
  drivers/i2s/i2s_stm32_sai.c
Labels: platform: STM32, area: I2S

#95138 ec_host_cmd: shi: npcx: not reset when receiving bad data
  subsys/mgmt/ec_host_cmd/backends/ec_host_cmd_backend_shi_npcx.c
Labels: area: ec_host_cmd

#95212 boards: shields: Add Adafruit DPS310 pressure sensor shield
  boards/shields/adafruit_dps310/Kconfig.shield
  boards/shields/adafruit_dps310/adafruit_dps310.overlay
  boards/shields/adafruit_dps310/doc/adafruit_dps310.webp
  boards/shields/adafruit_dps310/doc/index.rst
  boards/shields/adafruit_dps310/shield.yml
  samples/sensor/pressure_polling/sample.yaml
Labels: area: Sensors, area: Samples, area: Shields

#95216 boards: shields: Add Adafruit AHT20 temp and humidity sensor shield
  boards/shields/adafruit_aht20/Kconfig.shield
  boards/shields/adafruit_aht20/adafruit_aht20.overlay
  boards/shields/adafruit_aht20/doc/adafruit_aht20.webp
  boards/shields/adafruit_aht20/doc/index.rst
  boards/shields/adafruit_aht20/shield.yml
  samples/sensor/dht_polling/sample.yaml
Labels: area: Sensors, area: Samples, area: Shields

#95219 boards: shields: Add Sparkfun RV8803 RTC shield
  boards/shields/sparkfun_rv8803/Kconfig.shield
  boards/shields/sparkfun_rv8803/doc/index.rst
  boards/shields/sparkfun_rv8803/doc/sparkfun_rv8803.webp
  boards/shields/sparkfun_rv8803/shield.yml
  boards/shields/sparkfun_rv8803/sparkfun_rv8803.overlay
  samples/drivers/rtc/sample.yaml
Labels: area: Samples, area: RTC, area: Shields

#91735 boards: raspberrypi: rpi_pico: Add MCUboot variants
  boards/raspberrypi/rpi_pico/board.yml
  boards/raspberrypi/rpi_pico/rpi_pico_rp2040_mcuboot.dts
  boards/raspberrypi/rpi_pico/rpi_pico_rp2040_mcuboot.yaml
  boards/raspberrypi/rpi_pico/rpi_pico_rp2040_mcuboot_defconfig
  boards/raspberrypi/rpi_pico/rpi_pico_rp2040_w_mcuboot.dts
  boards/raspberrypi/rpi_pico/rpi_pico_rp2040_w_mcuboot.yaml
  boards/raspberrypi/rpi_pico/rpi_pico_rp2040_w_mcuboot_defconfig
  boards/raspberrypi/rpi_pico2/Kconfig.rpi_pico2
  boards/raspberrypi/rpi_pico2/board.yml
  boards/raspberrypi/rpi_pico2/rpi_pico2_rp2350a_m33_mcuboot.dts
  boards/raspberrypi/rpi_pico2/rpi_pico2_rp2350a_m33_mcuboot.yaml
  boards/raspberrypi/rpi_pico2/rpi_pico2_rp2350a_m33_mcuboot_defconfig
  boards/raspberrypi/rpi_pico2/rpi_pico2_rp2350a_m33_w_mcuboot.dts
  boards/raspberrypi/rpi_pico2/rpi_pico2_rp2350a_m33_w_mcuboot.yaml
  boards/raspberrypi/rpi_pico2/rpi_pico2_rp2350a_m33_w_mcuboot_defconfig
  tests/drivers/adc/adc_api/testcase.yaml
Labels: area: ADC, platform: Raspberry Pi Pico

#95181 doc: usb: re-organize doxygen groups for usb hardware
  doc/_doxygen/groups.dox
  include/zephyr/drivers/usb/udc.h
  include/zephyr/drivers/usb/uhc.h
  include/zephyr/drivers/usb/usb_bc12.h
  include/zephyr/drivers/usb_c/usbc_tc.h
Labels: area: Documentation, area: USB, area: Documentation Infrastructure, area: USB-C

#93661 dts/boards: nordic: nrf5340: Split partition into s and ns versions
  boards/nordic/nrf5340_audio_dk/nrf5340_audio_dk_nrf5340_cpuapp.dts
  boards/nordic/nrf5340_audio_dk/nrf5340_audio_dk_nrf5340_cpuapp_common.dtsi
  boards/nordic/nrf5340_audio_dk/nrf5340_audio_dk_nrf5340_cpuapp_ns.dts
  boards/nordic/nrf5340dk/nrf5340_cpuapp_common.dtsi
  boards/nordic/nrf5340dk/nrf5340dk_nrf5340_cpuapp.dts
  boards/nordic/nrf5340dk/nrf5340dk_nrf5340_cpuapp_ns.dts
  boards/nordic/nrf7002dk/nrf5340_cpuapp_common.dtsi
  boards/nordic/nrf7002dk/nrf7002dk_nrf5340_cpuapp.dts
  boards/nordic/nrf7002dk/nrf7002dk_nrf5340_cpuapp_nrf7001.dts
  boards/nordic/thingy53/thingy53_nrf5340_common.dtsi
  boards/nordic/thingy53/thingy53_nrf5340_cpuapp.dts
  boards/nordic/thingy53/thingy53_nrf5340_cpuapp_ns.dts
  boards/panasonic/pan1783/pan1783_evb_nrf5340_cpuapp.dts
  boards/panasonic/pan1783/pan1783_nrf5340_cpuapp_common.dtsi
  boards/panasonic/pan1783/pan1783a_evb_nrf5340_cpuapp.dts
  boards/panasonic/pan1783/pan1783a_pa_evb_nrf5340_cpuapp.dts
  boards/raytac/an7002q_db/nrf5340_cpuapp_common.dtsi
  boards/raytac/an7002q_db/raytac_an7002q_db_nrf5340_cpuapp.dts
  boards/raytac/mdbt53_db_40/raytac_mdbt53_db_40_nrf5340_cpuapp.dts
  boards/raytac/mdbt53_db_40/raytac_mdbt53_db_40_nrf5340_cpuapp_common.dts
  boards/raytac/mdbt53_db_40/raytac_mdbt53_db_40_nrf5340_cpuapp_ns.dts
  boards/raytac/mdbt53v_db_40/raytac_mdbt53v_db_40_nrf5340_cpuapp.dts
  boards/raytac/mdbt53v_db_40/raytac_mdbt53v_db_40_nrf5340_cpuapp_common.dts
  boards/raytac/mdbt53v_db_40/raytac_mdbt53v_db_40_nrf5340_cpuapp_ns.dts
  dts/vendor/nordic/nrf5340_cpuapp_ns_partition.dtsi
  dts/vendor/nordic/nrf5340_cpuapp_partition.dtsi
  dts/vendor/nordic/nrf5340_sram_partition.dtsi
Labels: platform: nRF, platform: Panasonic

#95049 scripts: Generate and use env file for zephyr module paths
  Kconfig.zephyr
  cmake/modules/kconfig.cmake
  doc/_extensions/zephyr/kconfig/__init__.py
  scripts/ci/check_compliance.py
  scripts/zephyr_module.py
  share/sysbuild/Kconfig
Labels: area: Build System, area: Kconfig, area: Coding Guidelines, area: Continuous Integration, area: Documentation Infrastructure, area: Sysbuild

#95251 twister: Improve error message when test failed
  scripts/pylib/pytest-twister-harness/src/twister_harness/helpers/utils.py
  scripts/pylib/pytest-twister-harness/tests/helpers/utils_test.py
Labels: area: Twister

#94852 boards: amd: kv260_r5: update ttc0 clock frequency
  boards/amd/kv260_r5/kv260_r5.dts
  soc/xlnx/zynqmp/Kconfig.defconfig
Labels: platform: Xilinx

#94865 soc: nordic: nrf54h: turn off NRFS DVFS service
  soc/nordic/nrf54h/Kconfig
Labels: platform: nRF, size: XS

#95274 Revert "tests: ram_context_for_isr: exclude STM32C0 boards"
  tests/application_development/ram_context_for_isr/testcase.yaml
Labels: area: Build System

#94597 west: mbedtls: Bump to 3.6.4
  doc/releases/release-notes-3.7.rst
  west.yml
Labels: Release Notes, manifest, manifest-mbedtls, size: XS

#94765 include: usb: bos: add doxygen documentation
  include/zephyr/usb/bos.h
Labels: area: USB

#95261 shields: add MikroE LSM6DSL Click shield
  boards/shields/mikroe_lsm6dsl_click/Kconfig.shield
  boards/shields/mikroe_lsm6dsl_click/doc/images/mikroe_lsm6dsl_click.webp
  boards/shields/mikroe_lsm6dsl_click/doc/index.rst
  boards/shields/mikroe_lsm6dsl_click/mikroe_lsm6dsl_click.overlay
  boards/shields/mikroe_lsm6dsl_click/shield.yml
  samples/sensor/accel_trig/sample.yaml
Labels: area: Sensors, area: Samples, area: Shields

#95262 shields: add MikroE AIR-QUALITY-3 Click shield
  boards/mikroe/clicker_ra4m1/mikroe_clicker_ra4m1.yaml
  boards/shields/mikroe_air_quality_3_click/Kconfig.shield
  boards/shields/mikroe_air_quality_3_click/doc/images/mikroe_air_quality_3_click.webp
  boards/shields/mikroe_air_quality_3_click/doc/index.rst
  boards/shields/mikroe_air_quality_3_click/mikroe_air_quality_3_click.overlay
  boards/shields/mikroe_air_quality_3_click/shield.yml
  samples/sensor/ccs811/sample.yaml
Labels: area: Sensors, area: Samples, area: Shields

#94970 drivers: spi: spi_renesas_ra Use the correct hardware chip select
  drivers/spi/spi_renesas_ra.c
Labels: area: SPI, platform: Renesas RA

#95289 usb: device_next: avoid false error logging in CDC ECM/NCM
  subsys/usb/device_next/class/usbd_cdc_ecm.c
  subsys/usb/device_next/class/usbd_cdc_ncm.c
Labels: bug, area: USB

#95396 flash: spi_nor: Fix VLA error when building with clang
  drivers/flash/spi_nor.c
Labels: area: Flash, Trivial, size: XS

#95434 ci: manifest: install west, do not use requirement file
  .github/workflows/manifest.yml
Labels: Hotfix, area: Continuous Integration

#95439 ci: coverage: add a flag for test coverage
  .github/workflows/codecov.yaml
Labels: Trivial, area: Continuous Integration

#94486 soc: mcx: Add mcx cmc hwinfo binding
  drivers/hwinfo/Kconfig.mcux_mcx_cmc
  dts/arm/nxp/nxp_mcxa153.dtsi
  dts/arm/nxp/nxp_mcxa156.dtsi
  dts/arm/nxp/nxp_mcxa266.dtsi
  dts/arm/nxp/nxp_mcxa346.dtsi
  dts/arm/nxp/nxp_mcxnx4x_common.dtsi
  dts/bindings/hwinfo/nxp,cmc-reset-cause.yaml
  modules/hal_nxp/mcux/Kconfig.mcux
  soc/nxp/mcx/mcxa/Kconfig
  soc/nxp/mcx/mcxn/Kconfig
Labels: platform: NXP, area: HWINFO, platform: NXP Drivers

#95313 Bluetooth: Audio: shell: docs: Update broadcast assistant documentation
  doc/connectivity/bluetooth/shell/audio/bap_broadcast_assistant.rst
Labels: area: Bluetooth, area: Bluetooth Audio

#95305 drivers: ethernet: phy: update ksz8081 with interrupt support
  drivers/ethernet/phy/phy_microchip_ksz8081.c
Labels: area: Ethernet

#88167 tests: Bluetooth: Tester: MCP BSIM test
  tests/bsim/bluetooth/tester/CMakeLists.txt
  tests/bsim/bluetooth/tester/src/audio/mcp_central.c
  tests/bsim/bluetooth/tester/src/audio/mcp_peripheral.c
  tests/bsim/bluetooth/tester/src/bsim_btp.h
  tests/bsim/bluetooth/tester/src/test_main.c
  tests/bsim/bluetooth/tester/tests_scripts/mcp.sh
Labels: area: Bluetooth, area: Bluetooth Qualification, area: Bluetooth Host, area: Bluetooth Audio, platform: nRF BSIM

#93940 modules: Add VID and CID Kconfigs
  cmake/mcuboot.cmake
  modules/Kconfig.mcuboot
Labels: area: Build System, area: MCUBoot

#79324 Bluetooth: CCP: Add support for set/get provider name
  doc/connectivity/bluetooth/shell/audio/ccp.rst
  include/zephyr/bluetooth/audio/ccp.h
  subsys/bluetooth/audio/Kconfig.ccp
  subsys/bluetooth/audio/Kconfig.tbs
  subsys/bluetooth/audio/ccp_call_control_server.c
  subsys/bluetooth/audio/shell/ccp_call_control_server.c
  subsys/bluetooth/audio/tbs.c
  tests/bluetooth/audio/ccp_call_control_server/src/main.c
Labels: area: Bluetooth, area: Bluetooth Audio

#95187 include: devicetree: Add more PHA specifier macros
  include/zephyr/devicetree.h
  scripts/dts/gen_defines.py
  scripts/dts/python-devicetree/src/devicetree/edtlib.py
  tests/lib/devicetree/api/src/main.c
Labels: area: Devicetree

#90298 west: blobs: fetch `--allow-regex` filter
  doc/develop/west/zephyr-cmds.rst
  scripts/west_commands/blobs.py
Labels: area: Documentation, area: West

#92517 drivers: sensor: wsen_isds_2536030320001: add sensor driver
  doc/releases/release-notes-4.3.rst
  drivers/sensor/wsen/CMakeLists.txt
  drivers/sensor/wsen/Kconfig
  drivers/sensor/wsen/wsen_isds_2536030320001/CMakeLists.txt
  drivers/sensor/wsen/wsen_isds_2536030320001/Kconfig
  drivers/sensor/wsen/wsen_isds_2536030320001/wsen_isds_2536030320001.c
  drivers/sensor/wsen/wsen_isds_2536030320001/wsen_isds_2536030320001.h
  drivers/sensor/wsen/wsen_isds_2536030320001/wsen_isds_2536030320001_trigger.c
  drivers/sensor/wsen/wsen_sensors_common.h
  dts/bindings/sensor/we,wsen-isds-2536030320001-common.yaml
  dts/bindings/sensor/we,wsen-isds-2536030320001-i2c.yaml
  dts/bindings/sensor/we,wsen-isds-2536030320001-spi.yaml
  tests/drivers/build_all/sensor/i2c.dtsi
  tests/drivers/build_all/sensor/sensors_trigger_global.conf
  tests/drivers/build_all/sensor/sensors_trigger_none.conf
  tests/drivers/build_all/sensor/sensors_trigger_own.conf
Labels: area: Sensors, Release Notes

#95356 drivers: flash: shell: fix KiB symbol spelling
  drivers/flash/flash_shell.c
Labels: area: Flash, Trivial, size: XS

#95497 scripts: west_commands: twister_cmd: Fix twister wrapper
  scripts/west_commands/twister_cmd.py
Labels: area: West, Hotfix, area: Twister

#95470 stm32: include: zephyr: drivers: dma: update ll_dma_get_channel_instance macro
  include/zephyr/drivers/dma/dma_stm32.h
Labels: area: DMA, platform: STM32, Hotfix

#95166 drivers: i2s: nrf_tdm: Allow using 8 channels
  drivers/i2s/i2s_nrf_tdm.c
Labels: platform: nRF, area: I2S

#95382 Bluetooth: host: adv: revert 39cb574 to fix spurious error log
  subsys/bluetooth/host/adv.c
Labels: area: Bluetooth, area: Bluetooth Host, size: XS

#95394 doc: releases: add shell mqtt backend kconfigs
  doc/releases/release-notes-4.3.rst
Labels: Release Notes

#95511 shields: devicetree: fix typos introduced using Arduino header constants
  boards/shields/waveshare_epaper/waveshare_epaper_gdeh0213b1.overlay
  boards/shields/waveshare_epaper/waveshare_epaper_gdew042t2-p.overlay
  boards/shields/x_nucleo_iks01a2/x_nucleo_iks01a2.overlay
Labels: area: Shields, Hotfix

#95018 samples: openamp: espressif: move configs from SoC to board level
  samples/subsys/ipc/openamp/Kconfig.sysbuild
  samples/subsys/ipc/openamp/boards/esp32_devkitc_procpu.overlay
  samples/subsys/ipc/openamp/boards/esp32s3_devkitc_procpu.overlay
  samples/subsys/ipc/openamp/remote/boards/esp32_devkitc_appcpu.overlay
  samples/subsys/ipc/openamp/remote/boards/esp32s3_devkitc_appcpu.overlay
Labels: area: Samples, area: IPC, area: Open AMP

#95384 bluetooth: avdtp: fix the issue of registering same endpoint
  subsys/bluetooth/host/classic/avdtp.c
Labels: area: Bluetooth, area: Bluetooth Classic

#95409 drivers: pwm: Fix prescaler configuration
  drivers/pwm/pwm_max32.c
Labels: area: PWM, platform: ADI

#92664 soc: nordic: nrf53: assign pin xl1,xl2 to app core if lfxo disabled
  soc/nordic/nrf53/Kconfig
  soc/nordic/nrf53/soc.c
Labels: platform: nRF

#95188 event api that allows events to be cleared and avoids phantom events
  doc/kernel/services/synchronization/events.rst
  include/zephyr/kernel.h
  include/zephyr/kernel/thread.h
  kernel/events.c
  tests/kernel/events/event_api/src/test_event_apis.c
Labels: area: Kernel

#94596 west: mbedtls: Bump to 3.6.4
  doc/releases/release-notes-4.1.rst
  west.yml
Labels: Release Notes, manifest, manifest-mbedtls, size: XS

#93503 Backport 89351 to v3.7 branch: Fix operation bounds check for Flash Map API
  subsys/storage/flash_map/flash_map_priv.h
Labels: area: Storage, size: XS

#95485 doc: shields: fix wrong board name for mimxrt1170_evk//cm7
  boards/shields/rk055hdmipi4m/doc/index.rst
  boards/shields/rk055hdmipi4ma0/doc/index.rst
Labels: area: Shields, Trivial

#95481 [MXCHIP - AZ3166 IoT Dev kit] add accel0 alias for compatibility with accel_pooling sample
  boards/mxchip/az3166_iotdevkit/az3166_iotdevkit.dts
Labels: Trivial

#94676 drivers: w1: use correct reset byte for overdrive mode
  drivers/w1/w1_zephyr_serial.c
Labels: area: W1

#95165 drivers: gpio: rts5912 remap gpio number
  include/zephyr/dt-bindings/gpio/realtek-gpio.h
Labels: area: GPIO, platform: Realtek EC

#95443 drivers: flash_mspi: Implement flash API get_size
  drivers/flash/flash_mspi_nor.c
Labels: area: Flash, area: MSPI

#95225 tests: posix: common: use realtime clock instead of monotonic
  tests/posix/common/src/mutex.c
  tests/posix/common/src/pthread.c
Labels: area: Tests, area: POSIX

#95393 samples: Enable Direct XIP through sysbuild
  samples/subsys/mgmt/mcumgr/smp_svr/sample.yaml
Labels: area: Samples, area: mcumgr, size: XS

#95449 modules: hostap: WPA Auto security supports WPA/WPA2 mixed mode
  modules/hostap/src/supp_api.c
Labels: area: Wi-Fi

#95459 net: config: sntp: add resync interval range
  subsys/net/lib/config/Kconfig
Labels: area: Networking

#95327 samples: Bluetooth: Changes to connected CS samples
  samples/bluetooth/channel_sounding/src/connected_cs_initiator.c
  samples/bluetooth/channel_sounding/src/connected_cs_reflector.c
Labels: area: Bluetooth, area: Samples, area: Bluetooth Host

#95371 mgmt: hawkbit: Add option to not reboot system after update
  doc/releases/release-notes-4.3.rst
  subsys/mgmt/hawkbit/Kconfig
  subsys/mgmt/hawkbit/hawkbit.c
Labels: Release Notes, area: hawkBit

#95420 boards: silabs: xg29_rb4412a: add dht alias and regulator for si7021 sensor
  boards/silabs/radio_boards/xg29_rb4412a/xg29_rb4412a.dts
Labels: platform: Silabs

#95472 soc: nordic: ironside: Update boot report structures and error codes
  samples/boards/nordic/nrf_ironside/update/src/main.c
  soc/nordic/ironside/include/nrf_ironside/boot_report.h
Labels: area: Samples, platform: nRF

#95483 doc: conf.py: fix warnings about docs appearing in index and index-tex
  doc/conf.py
Labels: area: Documentation Infrastructure

#95546 samples: adc_dt: correct pin allocation for xg29_rb4412a
  samples/drivers/adc/adc_dt/boards/xg29_rb4412a.overlay
Labels: area: ADC, area: Samples, Trivial

#95641 tests: Bluetooth: Audio: Increase timeout for AC tests
  tests/bsim/bluetooth/audio/test_scripts/audio_config_tests/_ac_common.sh
Labels: area: Bluetooth, Trivial, area: Bluetooth Audio, platform: nRF BSIM, size: XS

#95501 COLLABORATORS: add lstnl as hal_nordic and nRF Platforms collaborator
  MAINTAINERS.yml
Labels: area: Process

#95716 Bluetooth: BAP: Fix compile issue with ep->status.state
  subsys/bluetooth/audio/bap_unicast_client.c
Labels: area: Bluetooth, Hotfix, area: Bluetooth Audio

#94379 toolchain: llvm: Provide working BUILD_ASSERT macro
  include/zephyr/toolchain/llvm.h
Labels: area: Toolchains

#95089 Shell battery fixes
  drivers/sensor/shell_battery.c
Labels: area: Sensors

#95465 kernel: do not include ksched.h in subsys/soc code
  arch/arc/core/smp.c
  arch/arm/core/cortex_a_r/smp.c
  arch/arm/core/cortex_a_r/thread.c
  arch/arm/core/cortex_m/thread.c
  arch/arm/core/cortex_m/thread_abort.c
  arch/arm64/core/smp.c
  arch/arm64/core/thread.c
  arch/riscv/core/ipi_clint.c
  arch/riscv/core/smp.c
  arch/riscv/core/thread.c
  arch/rx/core/thread.c
  arch/x86/core/fatal.c
  arch/x86/core/ia32/thread.c
  arch/x86/core/intel64/fatal.c
  arch/x86/core/intel64/irq.c
  arch/x86/core/intel64/smp.c
  arch/x86/core/intel64/thread.c
  arch/x86/core/userspace.c
  arch/xtensa/core/vector_handlers.c
  kernel/include/ipi.h
  kernel/include/kernel_internal.h
  kernel/include/ksched.h
  kernel/include/kthread.h
  soc/espressif/esp32/esp32-mp.c
  soc/intel/intel_adsp/ace/multiprocessing.c
  soc/intel/intel_adsp/cavs/multiprocessing.c
  subsys/portability/cmsis_rtos_v1/cmsis_kernel.c
  subsys/portability/cmsis_rtos_v2/thread.c
  subsys/tracing/sysview/sysview.c
  subsys/tracing/sysview/sysview_config.c
Labels: area: Kernel, platform: ESP32, area: Portability, area: Tracing, platform: Intel ADSP, area: CMSIS API Layer

#95471 mgmt: hawkbit: move variable declaration out of if
  subsys/mgmt/hawkbit/hawkbit.c
Labels: bug, area: hawkBit

#95504 doc: zbus: swap boxes to match bullet points
  doc/services/zbus/images/zbus_type_of_observers.svg
Labels: area: Zbus

#95590 boards: nordic: nrf9160dk: fix NS application SRAM
  boards/nordic/nrf9160dk/nrf9160dk_nrf9160_ns.dts
Labels: platform: nRF, Trivial, size: XS

#95486 shields: add MikroE ILLUMINANCE Click shield
  boards/shields/mikroe_illuminance_click/Kconfig.shield
  boards/shields/mikroe_illuminance_click/doc/images/mikroe_illuminance_click.webp
  boards/shields/mikroe_illuminance_click/doc/index.rst
  boards/shields/mikroe_illuminance_click/mikroe_illuminance_click.overlay
  boards/shields/mikroe_illuminance_click/shield.yml
  samples/sensor/light_polling/sample.yaml
Labels: area: Sensors, area: Samples, area: Shields

#94927 tests: drivers: spi: spi_loopback: skip timing test when COVERAGE
  tests/drivers/spi/spi_loopback/src/spi.c
Labels: area: SPI, Trivial

#95413 drivers: counter: Remove unused config
  drivers/counter/Kconfig.esp32_rtc
  drivers/counter/Kconfig.esp32_tmr
Labels: area: Counter, platform: ESP32, Trivial

#95601 boards: atmel: Fix devicetree style
  boards/atmel/sam/sam4e_xpro/sam4e_xpro.dts
  boards/atmel/sam/sam4s_xplained/sam4s_xplained.dts
  boards/atmel/sam/sam_v71_xult/sam_v71_xult-common.dtsi
  boards/atmel/sam0/samr21_xpro/samr21_xpro.dts
Labels: platform: Microchip SAM, Trivial

#95516 drivers: i3c: max32: Do not exit CCC if no known I3C devices exist
  drivers/i3c/i3c_max32.c
Labels: area: I3C, platform: ADI

#94722 drivers: mspi_dw: Add support for DQS line
  drivers/mspi/mspi_dw.c
Labels: area: MSPI

#94754 tests: drivers: spi: loopback: Fix cache coherency on size9/size24
  tests/drivers/spi/spi_loopback/src/spi.c
Labels: area: SPI

#95538 drivers: interrupt_controller: stm32: Fix range handling
  drivers/interrupt_controller/intc_gpio_stm32.c
Labels: platform: STM32, area: Interrupt Controller, size: XS

#94912 tests: kernel: fix thread_runtime_stats compiler optimization issue
  tests/kernel/usage/thread_runtime_stats/src/test_thread_runtime_stats.c
Labels: area: Kernel

#95541 manifest: hal_nxp: bump reference to include pagesize fix
  west.yml
Labels: platform: NXP, manifest, manifest-hal_nxp, size: XS

#95564 net: wifi: Add default for max managed interfaces
  subsys/net/l2/wifi/Kconfig
Labels: area: Networking, area: Wi-Fi, size: XS

#95013 snippets: Add snippet to use XIAO serial pins for the console
  snippets/xiao-serial-console/README.rst
  snippets/xiao-serial-console/snippet.yml
  snippets/xiao-serial-console/xiao-serial-console.conf
  snippets/xiao-serial-console/xiao-serial-console.overlay
Labels: area: Build System

#95621 MAINTAINERS: Add myself as Renesas RA Platforms collaborator
  MAINTAINERS.yml
Labels: area: Process

#95589 sensor: voltage_divider: request calibration
  drivers/sensor/voltage_divider/voltage.c
Labels: area: Sensors, size: XS

#95593 ci: codecov: upload test results to codecov
  .github/workflows/twister.yaml
Labels: area: Continuous Integration

#95612 boards: shields: Add Sparkfun SHTC3 humidity sensor shield
  boards/shields/sparkfun_shtc3/Kconfig.shield
  boards/shields/sparkfun_shtc3/doc/index.rst
  boards/shields/sparkfun_shtc3/doc/sparkfun_shtc3.webp
  boards/shields/sparkfun_shtc3/shield.yml
  boards/shields/sparkfun_shtc3/sparkfun_shtc3.overlay
  samples/sensor/dht_polling/sample.yaml
Labels: area: Sensors, area: Samples, area: Shields

#95613 boards: shields: Add Sparkfun Environmental Combo shield
  boards/shields/sparkfun_environmental_combo/Kconfig.shield
  boards/shields/sparkfun_environmental_combo/doc/index.rst
  boards/shields/sparkfun_environmental_combo/doc/sparkfun_environmental_combo.webp
  boards/shields/sparkfun_environmental_combo/shield.yml
  boards/shields/sparkfun_environmental_combo/sparkfun_environmental_combo.overlay
  samples/sensor/bme280/sample.yaml
Labels: area: Sensors, area: Samples, area: Shields

#94986 drivers: fuelgauge: add support for TI bq40z50 chip
  drivers/fuel_gauge/CMakeLists.txt
  drivers/fuel_gauge/Kconfig
  drivers/fuel_gauge/bq40z50/CMakeLists.txt
  drivers/fuel_gauge/bq40z50/Kconfig
  drivers/fuel_gauge/bq40z50/bq40z50.c
  drivers/fuel_gauge/bq40z50/bq40z50.h
  drivers/fuel_gauge/bq40z50/emul_bq40z50.c
  dts/bindings/fuel-gauge/ti,bq40z50.yaml
  tests/drivers/build_all/fuel_gauge/i2c.dtsi
  tests/drivers/fuel_gauge/bq40z50/CMakeLists.txt
  tests/drivers/fuel_gauge/bq40z50/boards/native_sim.conf
  tests/drivers/fuel_gauge/bq40z50/boards/native_sim.overlay
  tests/drivers/fuel_gauge/bq40z50/boards/rpi_pico.overlay
  tests/drivers/fuel_gauge/bq40z50/prj.conf
  tests/drivers/fuel_gauge/bq40z50/src/test_bq40z50.c
  tests/drivers/fuel_gauge/bq40z50/testcase.yaml
Labels: area: Fuel Gauge, platform: TI SimpleLink

#94652 Bluetooth: SDP: Notify partial records if RX buf is full
  subsys/bluetooth/host/classic/sdp.c
Labels: area: Bluetooth, area: Bluetooth Classic

#94516 Replace ~ when creating library names from path
  cmake/modules/extensions.cmake
Labels: area: Build System

#95444 bluetooth: avdtp: fix dereferencing null pointer sep
  subsys/bluetooth/host/classic/avdtp.c
Labels: area: Bluetooth, area: Bluetooth Classic

#95102 drivers: spi: litex: litespi: flush pending irq before enable
  drivers/spi/spi_litex_litespi.c
Labels: bug, area: SPI, platform: LiteX, size: XS

#95323 mcuboot: kconfig: improve help
  modules/Kconfig.mcuboot
Labels: area: Build System, area: MCUBoot

#95631 fs: Shell command ls to list file sizes
  doc/releases/release-notes-4.3.rst
  subsys/fs/Kconfig
  subsys/fs/shell.c
Labels: area: File System, Release Notes

#95652 soc: silabs: Support image properties for Series 2
  soc/silabs/silabs_s2/CMakeLists.txt
  soc/silabs/silabs_s2/Kconfig
  soc/silabs/silabs_s2/soc_image_properties.c
  soc/silabs/silabs_s2/soc_image_properties.ld
Labels: platform: Silabs

#95765 soc_native: Fix missing include of stdbool.h
  soc/native/inf_clock/posix_soc.h
Labels: area: native port, Trivial, size: XS

#94932 modules: openthread: configure MLE and supervision in openthread_init
  modules/openthread/openthread.c
Labels: area: OpenThread

#95063 tests: net: traffic_class: Lower the number of run tests
  tests/net/traffic_class/testcase.yaml
Labels: area: Networking

#95507 boards: beagle: pocketbeagle_2: a53: Enable PSCI
  boards/beagle/pocketbeagle_2/pocketbeagle_2_am6232_a53_defconfig
  dts/arm64/ti/ti_am62x_a53.dtsi
Labels: area: ARM64, platform: BeagleBoard

#95561 boards: silabs: Remove nonfunctional wakeup trigger
  boards/silabs/dev_kits/sltb010a/CMakeLists.txt
  boards/silabs/dev_kits/sltb010a/Kconfig
  boards/silabs/dev_kits/sltb010a/board.c
  boards/silabs/dev_kits/sltb010a/dts/bindings/silabs,gecko-wake-up-triggers.yaml
  boards/silabs/dev_kits/sltb010a/thunderboard.dtsi
  boards/silabs/dev_kits/xg24_dk2601b/Kconfig
  boards/silabs/dev_kits/xg24_dk2601b/board.c
  boards/silabs/dev_kits/xg24_dk2601b/dts/bindings/silabs,gecko-wake-up-trigger.yaml
  boards/silabs/dev_kits/xg24_dk2601b/xg24_dk2601b.dts
  boards/silabs/dev_kits/xg24_ek2703a/CMakeLists.txt
  boards/silabs/dev_kits/xg24_ek2703a/Kconfig
  boards/silabs/dev_kits/xg24_ek2703a/board.c
  boards/silabs/dev_kits/xg24_ek2703a/dts/bindings/silabs,gecko-wake-up-trigger.yaml
  boards/silabs/dev_kits/xg24_ek2703a/xg24_ek2703a.dts
  boards/silabs/dev_kits/xg27_dk2602a/CMakeLists.txt
  boards/silabs/dev_kits/xg27_dk2602a/Kconfig
  boards/silabs/dev_kits/xg27_dk2602a/board.c
  boards/silabs/dev_kits/xg27_dk2602a/dts/bindings/silabs,gecko-wake-up-triggers.yaml
  boards/silabs/dev_kits/xg27_dk2602a/thunderboard.dtsi
  boards/sparkfun/thing_plus_matter_mgm240p/CMakeLists.txt
  boards/sparkfun/thing_plus_matter_mgm240p/Kconfig
  boards/sparkfun/thing_plus_matter_mgm240p/board.c
  boards/sparkfun/thing_plus_matter_mgm240p/dts/bindings/silabs,gecko-wake-up-trigger.yaml
  boards/sparkfun/thing_plus_matter_mgm240p/sparkfun_thing_plus_matter_mgm240p.dts
Labels: platform: Silabs

#95675 soc/ambiq/apollo5x: fix Kconfig `ARMV8_1_M_PMU_EVENTCNT` being globally set
  soc/ambiq/apollo5x/Kconfig
  soc/ambiq/apollo5x/Kconfig.soc
Labels: platform: Ambiq

#93583 modules: hal_nordic: nrfx: Add support for custom NRFX_DIR on Sysbuild
  modules/hal_nordic/nrfx/CMakeLists.txt
Labels: platform: nRF

#95681 drivers: i2c: stm32: fix compilation with DMA
  drivers/i2c/i2c_ll_stm32_v2.c
Labels: area: I2C, platform: STM32, size: XS, backport v4.2-branch

#95100 MAINTAINERS: add Networking DSA area
  MAINTAINERS.yml
Labels: area: Process

#95548 net: context: Make sure TCP allocation is not leaked
  subsys/net/ip/net_context.c
Labels: area: Networking, backport v3.7-branch, backport v4.1-branch, backport v4.2-branch

#95457 tests: benchmarks: Increase min_ram for benchmark.thread_metric.interrupt
  tests/benchmarks/thread_metric/testcase.yaml
Labels: area: Benchmarks, size: XS

#95392 boards: arm: Select TF-M symbols via Kconfig instead of defconfig
  boards/arm/mps2/Kconfig
  boards/arm/mps2/mps2_an521_cpu0_ns_defconfig
  boards/arm/mps3/Kconfig
  boards/arm/mps3/mps3_corstone300_an547_ns_defconfig
  boards/arm/mps3/mps3_corstone300_an552_ns_defconfig
  boards/arm/mps3/mps3_corstone300_fvp_ns_defconfig
  boards/arm/mps3/mps3_corstone310_an555_ns_defconfig
  boards/arm/mps3/mps3_corstone310_fvp_ns_defconfig
  boards/arm/mps4/Kconfig
  boards/arm/mps4/mps4_corstone315_fvp_ns_defconfig
  boards/arm/mps4/mps4_corstone320_fvp_ns_defconfig
  boards/arm/v2m_musca_b1/Kconfig
  boards/arm/v2m_musca_b1/v2m_musca_b1_musca_b1_ns_defconfig
  boards/arm/v2m_musca_s1/Kconfig
  boards/arm/v2m_musca_s1/v2m_musca_s1_musca_s1_ns_defconfig
Labels: platform: ARM

#95231 boards: Add Adafruit Metro RP2040
  boards/adafruit/metro_rp2040/Kconfig
  boards/adafruit/metro_rp2040/Kconfig.adafruit_metro_rp2040
  boards/adafruit/metro_rp2040/Kconfig.defconfig
  boards/adafruit/metro_rp2040/adafruit_metro_rp2040-pinctrl.dtsi
  boards/adafruit/metro_rp2040/adafruit_metro_rp2040.dts
  boards/adafruit/metro_rp2040/adafruit_metro_rp2040.yaml
  boards/adafruit/metro_rp2040/adafruit_metro_rp2040_defconfig
  boards/adafruit/metro_rp2040/arduino_r3_connector.dtsi
  boards/adafruit/metro_rp2040/board.cmake
  boards/adafruit/metro_rp2040/board.yml
  boards/adafruit/metro_rp2040/doc/img/adafruit_metro_rp2040.webp
  boards/adafruit/metro_rp2040/doc/index.rst
Labels: area: Boards, platform: Raspberry Pi Pico

#95034 boards: opta: revert change of qspi flash spi-bus-width
  boards/arduino/opta/arduino_opta_stm32h747xx_m7.dts
Labels: size: XS

#94142 drivers: ethernet: eth_stm32_hal split v1 and v2
  drivers/ethernet/CMakeLists.txt
  drivers/ethernet/eth_stm32_hal_v1.c
  drivers/ethernet/eth_stm32_hal_v2.c
Labels: platform: STM32, area: Ethernet

#95242 tests: posix: Increase min_ram for xsi.single_process.newlib
  tests/posix/xsi_single_process/testcase.yaml
Labels: area: POSIX, size: XS

#93692 arm_arch_timer: Move timer enablement after comparison value set
  drivers/timer/arm_arch_timer.c
Labels: area: Timer, size: XS

#95573 arch: xtensa: clean up interrupt handling
  arch/xtensa/Kconfig
  arch/xtensa/core/CMakeLists.txt
  arch/xtensa/core/vector_handlers.c
  arch/xtensa/core/xtensa_intgen.py
  arch/xtensa/core/xtensa_intgen.tmpl
  soc/amd/acp_6_0/Kconfig
  soc/cdns/dc233c/Kconfig.defconfig
  soc/cdns/sample_controller32/include/_soc_inthandlers.h
  soc/cdns/xtensa_sample_controller/include/_soc_inthandlers.h
  soc/espressif/common/include/_soc_inthandlers.h
  soc/intel/intel_adsp/ace/_soc_inthandlers.h
  soc/intel/intel_adsp/cavs/_soc_inthandlers.h
  soc/mediatek/mt8xxx/Kconfig
  soc/nxp/imx/imx8/adsp/_soc_inthandlers.h
  soc/nxp/imx/imx8m/adsp/_soc_inthandlers.h
  soc/nxp/imx/imx8ulp/adsp/_soc_inthandlers.h
  soc/nxp/imx/imx8x/adsp/_soc_inthandlers.h
  soc/nxp/imxrt/imxrt5xx/Kconfig
  soc/nxp/imxrt/imxrt5xx/f1/include/_soc_inthandlers.h
  soc/nxp/imxrt/imxrt6xx/hifi4/include/_soc_inthandlers.h
  soc/nxp/imxrt/imxrt7xx/hifi1/Kconfig
  soc/nxp/imxrt/imxrt7xx/hifi4/Kconfig
Labels: area: Xtensa, platform: NXP, platform: ESP32, platform: Intel ADSP, platform: NXP MPU, platform: NXP Xtensa

#95962 tests: posix: xsi_single_process: reduce min ram to 16 kiB
  tests/posix/xsi_single_process/testcase.yaml
Labels: area: Tests, area: POSIX, Hotfix, size: XS

#95868 sensors: Add missing const to `sensor_read_async_mempool`
  include/zephyr/drivers/sensor.h
Labels: area: Sensors, Trivial, size: XS

#95016 dts: am64x: add remaining SPI nodes
  dts/vendor/ti/am64x_main.dtsi
  dts/vendor/ti/am64x_mcu.dtsi
Labels: platform: TI K3

#95833 arch: common: nocache.ld: One nocache MPU region
  arch/common/nocache.ld
Labels: area: Architectures

#95569 usb: device_next: cdc_acm: switch irq_lock to spinlock
  subsys/usb/device_next/class/usbd_cdc_acm.c
Labels: area: USB

#95785 soc: nordic: uicr: Fix dependency issue
  soc/nordic/common/uicr/sysbuild.cmake
Labels: platform: nRF
