Repository zephyrproject-rtos/zephyr, pull requests merged in 2025-06, with the labels that each got.

#90593 drivers: can: mcp2515: various code quality fixes
  drivers/can/can_mcp2515.c
  drivers/can/can_mcp2515.h
Labels: area: CAN

#90761 modules: hal_wch: update the HAL to pull in CH32V00x support
  drivers/pwm/pwm_wch_gptm.c
  modules/hal_wch/hal_ch32fun.h
  west.yml
Labels: area: PWM, manifest, manifest-hal_wch, platform: WinChipHead

#90786 net: tcp: Change SYN FIN to use send_data_timer
  subsys/net/ip/tcp.c
  subsys/net/ip/tcp_private.h
  subsys/net/lib/shell/conn.c
  tests/net/tcp/src/main.c
Labels: area: Networking

#89982 drivers: usb: Prevent from perpetual locked state
  drivers/usb/device/usb_dc_stm32.c
Labels: area: USB, platform: STM32, backport v3.7-branch, backport v4.0-branch, backport v4.1-branch

#89908 drivers: sensor: Add support for BH1730 ambient light sensor
  drivers/sensor/rohm/CMakeLists.txt
  drivers/sensor/rohm/Kconfig
  drivers/sensor/rohm/bh1730/CMakeLists.txt
  drivers/sensor/rohm/bh1730/Kconfig
  drivers/sensor/rohm/bh1730/bh1730.c
  dts/bindings/sensor/rohm,bh1730.yaml
  tests/drivers/build_all/sensor/i2c.dtsi
Labels: area: Sensors

#90911 few MAINTAINER file additions /fixes
  MAINTAINERS.yml
Labels: area: Process, Trivial

#90948 github: hello_world_multiplatform: set the toolchain list
  .github/workflows/hello_world_multiplatform.yaml
Labels: Trivial, area: Continuous Integration, size: XS

#90971 soc: esp32c6: Fix clock references
  dts/riscv/espressif/esp32c6/esp32c6_common.dtsi
Labels: area: RISCV, platform: ESP32, Hotfix

#89816 mgmt: hawkbit: add shell autohandler timeout Kconfig
  subsys/mgmt/hawkbit/Kconfig
  subsys/mgmt/hawkbit/shell.c
Labels: area: hawkBit

#90888 soc: npcx: Add __packed to flags struct in npcx_pinctrl
  soc/nuvoton/npcx/common/pinctrl_soc.h
Labels: Trivial, platform: Nuvoton NPCX, size: XS

#89807 drivers: serial: nrfx_uarte: Support for low power polling mode
  drivers/serial/Kconfig.nrfx
  drivers/serial/uart_nrfx_uarte.c
Labels: area: UART, platform: nRF

#90849 net: sockets: Enable gethostname even if socket-offloading is selected
  subsys/net/lib/sockets/CMakeLists.txt
Labels: area: Networking, area: Sockets, size: XS

#88429 modules: hal_nordic: nrfs: update manifest
  west.yml
Labels: manifest, manifest-hal_nordic, size: XS

#90705 bluetooth: improve the controller address resolution enablement
  subsys/bluetooth/host/id.c
Labels: area: Bluetooth, area: Bluetooth Host

#87917 modules/zcbor: Added building of zcbor_print.c to zcbor module
  modules/zcbor/CMakeLists.txt
Labels: area: CBOR, size: XS

#90822 .github: convert templates to use forms
  .github/ISSUE_TEMPLATE/002_enhancement.md
  .github/ISSUE_TEMPLATE/002_enhancement.yml
  .github/ISSUE_TEMPLATE/003_rfc-proposal.md
  .github/ISSUE_TEMPLATE/003_rfc-proposal.yml
  .github/ISSUE_TEMPLATE/004_feature_request.md
  .github/ISSUE_TEMPLATE/004_feature_request.yml
  .github/ISSUE_TEMPLATE/006_nomination.md
  .github/ISSUE_TEMPLATE/006_nomination.yml
  .github/ISSUE_TEMPLATE/007_ext-source.md
  .github/ISSUE_TEMPLATE/007_ext-source.yml
Labels: area: Continuous Integration

#90879 boards: renesas: ek_ra6m4: added arduino labels
  boards/renesas/ek_ra6m4/ek_ra6m4.dts
Labels: platform: Renesas RA

#90881 sw_isr_table: Add braces around subobject
  include/zephyr/sw_isr_table.h
Labels: area: Interrupt Controller

#90883 net: ip: 6lo: Fix undefined behavior reported by UBSAN
  subsys/net/ip/6lo.c
Labels: area: Networking

#90796 drivers: spi: fix the update of spi_context tx & rx length
  drivers/spi/spi_context.h
Labels: area: SPI

#88693 tests: drivers: spi: Add support spi_controller_peripheral for Renesas RA
  tests/drivers/spi/spi_controller_peripheral/boards/ek_ra2a1.conf
  tests/drivers/spi/spi_controller_peripheral/boards/ek_ra2a1.overlay
  tests/drivers/spi/spi_controller_peripheral/boards/ek_ra4m1.conf
  tests/drivers/spi/spi_controller_peripheral/boards/ek_ra4m1.overlay
  tests/drivers/spi/spi_controller_peripheral/boards/ek_ra6e2.conf
  tests/drivers/spi/spi_controller_peripheral/boards/ek_ra6e2.overlay
  tests/drivers/spi/spi_controller_peripheral/boards/ek_ra6m1.conf
  tests/drivers/spi/spi_controller_peripheral/boards/ek_ra6m1.overlay
  tests/drivers/spi/spi_controller_peripheral/boards/ek_ra6m2.conf
  tests/drivers/spi/spi_controller_peripheral/boards/ek_ra6m2.overlay
  tests/drivers/spi/spi_controller_peripheral/boards/ek_ra6m3.conf
  tests/drivers/spi/spi_controller_peripheral/boards/ek_ra6m3.overlay
  tests/drivers/spi/spi_controller_peripheral/boards/ek_ra6m4.conf
  tests/drivers/spi/spi_controller_peripheral/boards/ek_ra6m4.overlay
  tests/drivers/spi/spi_controller_peripheral/boards/ek_ra6m5.conf
  tests/drivers/spi/spi_controller_peripheral/boards/ek_ra6m5.overlay
  tests/drivers/spi/spi_controller_peripheral/boards/fpb_ra6e2.conf
  tests/drivers/spi/spi_controller_peripheral/boards/fpb_ra6e2.overlay
Labels: area: SPI, platform: Renesas RA

#90626 tests: drivers: spi_loopback: Fix NULL rx buff testcase
  tests/drivers/spi/spi_loopback/src/spi.c
Labels: area: SPI, size: XS

#90928 west.yml: Update hal_silabs revision
  west.yml
Labels: manifest, manifest-hal_silabs, size: XS

#82765 subsys: ipc: icbmsg: Add a workqueue name
  subsys/ipc/ipc_service/backends/ipc_icbmsg.c
Labels: area: IPC

#90590 dts: rw6xx: (trivial) fix flexcomm14 node name
  dts/arm/nxp/nxp_rw6xx_common.dtsi
Labels: platform: NXP, Trivial, size: XS

#90943 Bluetooth: BAP: SD: Fix missing clear of notify flag on reject
  subsys/bluetooth/audio/bap_scan_delegator.c
Labels: area: Bluetooth, area: Bluetooth Audio

#90951 drivers: stepper: tmc50xx: add a null pointer check
  drivers/stepper/adi_tmc/tmc50xx.c
Labels: platform: ADI, size: XS, area: Stepper

#90893 soc: rpi_pico: Set the default SYS_CLOCK_HW_CYCLES_PER_SEC from dt
  boards/adafruit/kb2040/adafruit_kb2040_defconfig
  boards/adafruit/macropad_rp2040/adafruit_macropad_rp2040_defconfig
  boards/adafruit/qt_py_rp2040/adafruit_qt_py_rp2040_defconfig
  boards/kws/pico2_spe/pico2_spe_rp2350a_m33_defconfig
  boards/kws/pico_spe/pico_spe_defconfig
  boards/pimoroni/pico_plus2/pico_plus2_rp2350b_m33_defconfig
  boards/raspberrypi/rpi_pico/rpi_pico_defconfig
  boards/raspberrypi/rpi_pico/rpi_pico_rp2040_w_defconfig
  boards/raspberrypi/rpi_pico2/rpi_pico2_rp2350a_m33_defconfig
  boards/seeed/xiao_rp2040/xiao_rp2040_defconfig
  boards/sparkfun/pro_micro_rp2040/sparkfun_pro_micro_rp2040_defconfig
  boards/waveshare/rp2040_zero/rp2040_zero_defconfig
  boards/wiznet/w5500_evb_pico/w5500_evb_pico_defconfig
  boards/wiznet/w5500_evb_pico2/Kconfig.defconfig
  soc/raspberrypi/rpi_pico/rp2040/Kconfig.defconfig
  soc/raspberrypi/rpi_pico/rp2350/Kconfig.defconfig
Labels: platform: Raspberry Pi Pico

#90871 llext: add dynamic heap allocation support
  doc/services/llext/config.rst
  include/zephyr/llext/llext.h
  subsys/llext/Kconfig
  subsys/llext/llext_mem.c
  subsys/llext/llext_priv.h
  tests/subsys/llext/src/test_llext.c
  tests/subsys/llext/testcase.yaml
Labels: area: llext

#91079 Revert "drivers: spi: fix the update of spi_context tx & rx length"
  drivers/spi/spi_context.h
  drivers/spi/spi_nxp_lpspi/spi_nxp_lpspi.c
Labels: area: SPI, Hotfix, platform: NXP Drivers

#88989 [Backport v3.7-branch] driver: timer: npcx: fix timer accuracy issue
  drivers/timer/npcx_itim_timer.c
Labels: area: Timer, Backport

#90877 [BACKPORT] modules: lvgl: Register print callback after lv_init
  modules/lvgl/lvgl.c
Labels: Backport, area: LVGL

#90617 twister: Adjust status for quarantined instances
  scripts/pylib/twister/twisterlib/reports.py
  scripts/pylib/twister/twisterlib/runner.py
  scripts/pylib/twister/twisterlib/testplan.py
  scripts/pylib/twister/twisterlib/twister_main.py
  scripts/tests/twister/test_runner.py
  scripts/tests/twister/test_testplan.py
  scripts/tests/twister_blackbox/test_quarantine.py
Labels: area: Twister

#90983 scripts: west_commands: patch: Support Python 3.10
  scripts/west_commands/patch.py
Labels: area: West

#91023 sys: slist: remove stray FIXME
  include/zephyr/sys/sflist.h
  include/zephyr/sys/slist.h
Labels: Trivial, area: Base OS

#91046 arch: riscv: core: Fix type
  arch/riscv/core/reset.S
Labels: area: RISCV, Trivial

#90839 sd: fix incorrect error logging
  subsys/sd/sd.c
Labels: Trivial, area: Disk Access

#91133 boards: shields: nrf7002: docs: Fix blobs command
  boards/shields/nrf7002eb/doc/index.rst
  boards/shields/nrf7002ek/doc/index.rst
Labels: area: Shields, area: Wi-Fi, Trivial

#91025 npcx_i2c_ctrl_transfer does not match original declaration
  drivers/i2c/i2c_npcx_controller.c
Labels: area: I2C, platform: Nuvoton NPCX, size: XS

#91002 twister: reports: try to show more build failures in generated summary
  scripts/pylib/twister/twisterlib/reports.py
Labels: area: Twister

#88041 drivers: clock_control: nrf2_lfclk: Fix selecting lowest power clock
  drivers/clock_control/clock_control_nrf2_lfclk.c
Labels: platform: nRF, area: Clock Control

#86881 cmake: add tfm / tfa image information to build info
  modules/trusted-firmware-a/CMakeLists.txt
  modules/trusted-firmware-m/CMakeLists.txt
Labels: area: TF-M, area: TF-A

#86987 samples: subsys: setting does not apply to sector size of 128K
  samples/subsys/settings/README.rst
  samples/subsys/settings/sample.yaml
Labels: area: Samples, area: Settings

#87462 drivers: adc: ti_am335x: initial support
  drivers/adc/CMakeLists.txt
  drivers/adc/Kconfig
  drivers/adc/Kconfig.ti_am335x
  drivers/adc/adc_ti_am335x.c
  dts/bindings/adc/ti,am335x-adc.yaml
Labels: area: ADC, platform: TI SimpleLink, platform: TI K3

#88432 sys: Remove static modifier
  include/zephyr/sys/spsc_lockfree.h
Labels: area: Base OS, size: XS

#90717 drivers: i3c: npcx: add support for target reset request handling
  drivers/i3c/i3c_npcx.c
Labels: platform: Nuvoton NPCX, area: I3C

#90995 scripts: ci: add vermin (min python version check)
  .gitignore
  scripts/ci/check_compliance.py
  scripts/requirements-actions.in
  scripts/requirements-actions.txt
  scripts/requirements-compliance.txt
Labels: area: Coding Guidelines, area: Continuous Integration

#90997 Add instructions for btsnoop and RTT logging in README
  tests/bluetooth/tester/README.rst
Labels: area: Bluetooth, area: Bluetooth Qualification

#91142 include: sys_clock: Fix compilation when SYS_CLOCK_EXISTS is disabled
  include/zephyr/sys_clock.h
Labels: area: Kernel, Trivial

#89894 Stm32h7rs flash restore flash size of 64KB
  drivers/flash/flash_stm32h7x.c
Labels: area: Flash, platform: STM32

#90460 boards: st: nucleo_l433rc_p: add die_temp, vref, and vbat nodes
  boards/st/nucleo_l433rc_p/nucleo_l433rc_p.dts
Labels: platform: STM32

#90805 Drivers: stm32: i2c rtio: Fix 'timings' array size
  drivers/i2c/i2c_ll_stm32_rtio.c
Labels: bug, area: I2C, platform: STM32, area: RTIO

#89634 drivers: mbox: TI Secure Proxy mbox drivers
  drivers/mbox/CMakeLists.txt
  drivers/mbox/Kconfig
  drivers/mbox/Kconfig.ti_secproxy
  drivers/mbox/mbox_ti_secproxy.c
  dts/bindings/mbox/ti,secure-proxy.yaml
Labels: platform: TI SimpleLink, area: mbox

#90949 drivers: gpio: smartbond: fix PM_DEVICE_DEFINE usage
  drivers/gpio/gpio_smartbond.c
Labels: area: GPIO, Trivial, platform: Renesas SmartBond

#90439 drivers: pwm: fix an off-by-one error in the CH32V PWM driver
  drivers/pwm/pwm_wch_gptm.c
Labels: area: PWM, platform: WinChipHead

#90918 samples: circular_dma: fix DMA config for nucleo_c031c6
  samples/boards/st/uart/circular_dma/boards/nucleo_c031c6.overlay
Labels: area: Samples, platform: STM32, size: XS

#91049 tests: kernel: timer: cycle64: Add support for GRTC
  tests/kernel/timer/cycle64/testcase.yaml
Labels: area: Kernel

#91053 doc: kernel: Clarify relationship between direct and ZLI interrupts
  doc/kernel/services/interrupts.rst
  include/zephyr/arch/arm/irq.h
  include/zephyr/irq.h
Labels: area: Kernel, area: ARM, area: Architectures, area: Interrupt Controller

#91059 manifest: Update nRF hw models to latest
  west.yml
Labels: manifest, manifest-nrf_hw_models, size: XS

#91062 drivers: spi_nrfx_spim: Fix SPIM_REQUESTS_CLOCK() and calls to it
  drivers/spi/spi_nrfx_spim.c
Labels: bug, area: SPI, platform: nRF

#91152 drivers: flash: Fix unused function warning on LPC55S69
  drivers/flash/soc_flash_mcux.c
Labels: area: Flash, Trivial, platform: NXP Drivers, size: XS

#91179 kernel: Guard SYS_CLOCK_HW_CYCLES_PER_SEC to avoid spurious empty macro
  kernel/Kconfig
Labels: area: Kernel, Hotfix, Trivial, size: XS

#86513 tests: adltc2990: bugfix & increase coverage
  drivers/sensor/adi/adltc2990/adltc2990.c
  drivers/sensor/adi/adltc2990/adltc2990_emul.c
  drivers/sensor/adi/adltc2990/adltc2990_reg.h
  tests/drivers/sensor/adltc2990/src/main.c
Labels: area: Sensors, platform: ADI

#90431 drivers: disk: nvme: fix include guard typo
  drivers/disk/nvme/nvme.h
  drivers/disk/nvme/nvme_helpers.h
Labels: Trivial, area: Disk Access

#90797 tests: drivers: spi: spi_loopback: configure spi latency expectation
  tests/drivers/spi/spi_loopback/Kconfig
  tests/drivers/spi/spi_loopback/boards/nrf54h20dk_nrf54h20_cpuapp.conf
  tests/drivers/spi/spi_loopback/boards/nrf54h20dk_nrf54h20_cpurad.conf
  tests/drivers/spi/spi_loopback/src/spi.c
Labels: area: SPI

#89263 driver: crypto: add crypto driver for rts5912
  drivers/crypto/CMakeLists.txt
  drivers/crypto/Kconfig
  drivers/crypto/Kconfig.rts5912
  drivers/crypto/crypto_rts5912_priv.h
  drivers/crypto/crypto_rts5912_sha.c
  dts/arm/realtek/ec/rts5912.dtsi
  dts/bindings/crypto/realtek,rts5912-sha.yaml
  soc/realtek/ec/rts5912/reg/reg_crypto.h
Labels: area: Crypto / RNG, platform: Realtek EC

#91206 drivers: sensor: memsic: fix typos in Kconfig
  drivers/sensor/memsic/mc3419/Kconfig
Labels: area: Sensors, Trivial

#91092 MAINTAINERS: Add maintainer for ITE EC platform and drivers
  MAINTAINERS.yml
Labels: area: Process

#91093 boards: imx93_evk: refine board document
  boards/nxp/imx93_evk/doc/index.rst
Labels: platform: NXP MPU

#91247 drivers: flash: use negative errno in Renesas RA HP
  drivers/flash/soc_flash_renesas_ra_hp_ex_op.c
Labels: area: Flash, Trivial, platform: Renesas RA, size: XS

#91272 tests: posix: xsi_single_process: remove unnecessary min_ram filter
  tests/posix/xsi_single_process/testcase.yaml
Labels: area: Tests, area: POSIX, Hotfix, size: XS

#91101 scripts: zephyr_module.py: Take EXTRA_ZEPHYR_MODULES variable into account
  scripts/zephyr_module.py
Labels: area: Build System

#91215 dts: st: stm32l4r5: re-add SDMMC `idma` property
  dts/arm/st/l4/stm32l4p5.dtsi
Labels: platform: STM32, Trivial

#91066 wifi: esp32s3: Fix IRQ allocation
  west.yml
Labels: platform: ESP32, area: Wi-Fi, manifest, manifest-hal_espressif, size: XS

#91126 drivers: serial: ns16550: clock subsys correction
  drivers/serial/uart_ns16550.c
Labels: area: UART, size: XS

#91204 net: http: Fix __z_http_service_define fields incorrectly ordered C++20
  include/zephyr/net/http/service.h
Labels: area: Networking, Trivial, size: XS, area: HTTP

#91209 drivers: sensor: fix sensor_handlers checks
  drivers/sensor/sensor_handlers.c
Labels: area: Sensors, Trivial, size: XS

#91233 drivers: sensor: adi: adxl362: change return type of ret variable
  drivers/sensor/adi/adxl362/adxl362.c
Labels: area: Sensors, Trivial, platform: ADI, size: XS

#91245 drivers: led: fix LED_BRIGTHNESS_MAX typo
  drivers/led/ht16k33.c
  drivers/led/is31fl3194.c
  drivers/led/is31fl3216a.c
  drivers/led/is31fl3733.c
  drivers/led/led_dac.c
  drivers/led/led_pwm.c
  drivers/led/led_shell.c
  drivers/led/lp3943.c
  drivers/led/lp50xx.c
  drivers/led/lp5562.c
  drivers/led/lp5569.c
  drivers/led/ncp5623.c
  drivers/led/pca9633.c
  drivers/led/tlc59108.c
  include/zephyr/drivers/led.h
Labels: area: LED, Trivial, Release Notes

#91246 drivers: gpio: cc23x0: return negative error codes
  drivers/gpio/gpio_cc23x0.c
Labels: area: GPIO, Trivial

#91248 drivers: sensor: bma4xx_emul: add missing break statement
  drivers/sensor/bosch/bma4xx/bma4xx_emul.c
Labels: area: Sensors, Trivial, size: XS

#91251 pinctrl: raspberrypi: rp2350: fix copy-paste error
  include/zephyr/dt-bindings/pinctrl/rpi-pico-pinctrl-common.h
Labels: Trivial, area: Pinctrl, size: XS

#91310 drivers: input: esp32: fix reference voltage assignment
  drivers/input/input_esp32_touch_sensor.c
Labels: platform: ESP32, Trivial, area: Input, size: XS

#89683 drivers: spi: spi_pico_pio: Fix data size issue
  drivers/spi/spi_rpi_pico_pio.c
Labels: area: SPI, platform: Raspberry Pi Pico

#91143 cmake: Fix warning if a Zephyr library is created in app-mode
  cmake/modules/extensions.cmake
Labels: area: Build System, size: XS

#91150 arch: Add config for downstream toolchains to support local ISR tables
  arch/Kconfig
Labels: area: Architectures

#90447 posix: fnmatch: fix known bugs in fnmatch()
  lib/posix/options/fnmatch.c
  tests/posix/c_lib_ext/src/fnmatch.c
Labels: area: POSIX

#91135 drivers: sensor: sensirion: sht4x: add device power management support
  drivers/sensor/sensirion/sht4x/sht4x.c
  drivers/sensor/sensirion/sht4x/sht4x.h
Labels: area: Sensors

#91167 drivers: adc: fix overflow and div-by-zero in adc_ad7124_odr_to_fs
  drivers/adc/adc_ad7124.c
Labels: area: ADC, platform: ADI

#91325 drivers: mdio: fix typo in macro name
  drivers/mdio/mdio_stm32_hal.c
Labels: platform: STM32, Trivial, area: MDIO

#91202 drivers: spi_ll_stm32: Add LOG to indicate that DMA cannot be enabled
  drivers/spi/spi_ll_stm32.c
Labels: area: SPI, platform: STM32, Trivial, size: XS

#91171 net: l2: wifi: Fix mode change issue in Wi-Fi shell
  subsys/net/l2/wifi/wifi_shell.c
Labels: area: Networking, area: Wi-Fi

#90953 driver: sensor: as6212: fix sampling frequency
  drivers/sensor/ti/tmp108/tmp108.c
  drivers/sensor/ti/tmp108/tmp108.h
Labels: area: Sensors

#91177 drivers: serial: sedi: add ifndef to uart busy set
  drivers/serial/uart_sedi.c
Labels: area: UART, platform: Intel ISH

#90376 test: Bluetooth: Tester: Fix build with EATT disabled
  tests/bluetooth/tester/src/btp_gatt.c
  tests/bluetooth/tester/src/btp_l2cap.c
Labels: area: Bluetooth, area: Bluetooth Qualification

#90643 sysbuild: Allow to use file suffix DTS overlays
  share/sysbuild/cmake/modules/sysbuild_extensions.cmake
Labels: area: Build System, area: Sysbuild

#91185 boards: nxp: mimxrt1170_evk: Add arduino GPIO/SPI/UART header nodes
  boards/nxp/mimxrt1170_evk/mimxrt1170_evk.dtsi
Labels: platform: NXP

#89578 Bluetooth: SDP: Don't clear l2cap chan on disconnect
  subsys/bluetooth/host/classic/sdp.c
Labels: area: Bluetooth, area: Bluetooth Classic

#90225 tests:bluetooth:tester: Add support for PAST
  tests/bluetooth/tester/prj.conf
  tests/bluetooth/tester/src/btp/btp_gap.h
  tests/bluetooth/tester/src/btp_gap.c
Labels: area: Bluetooth, area: Bluetooth Qualification

#91106 bluetooth: keys: addr is null and assert in bt_keys_find_addr
  subsys/bluetooth/host/keys.c
Labels: area: Bluetooth, area: Bluetooth Host, size: XS

#91174 Bluetooth: Classic: HFP_HF: Fix out of bounds potential issue
  subsys/bluetooth/host/classic/hfp_hf.c
Labels: area: Bluetooth, area: Bluetooth Classic

#91328 Fix quincy
  boards/google/quincy/google_quincy.dts
Labels: Trivial

#91238 drivers: dac: max22017: return negative errno
  drivers/dac/dac_max22017.c
Labels: Trivial, area: DAC, platform: ADI, size: XS

#91100 samples: bluetooth: enable PM standby on rd_rw612_bga and frdm_rw612
  samples/bluetooth/central_ht/boards/frdm_rw612.conf
  samples/bluetooth/central_ht/boards/frdm_rw612.overlay
  samples/bluetooth/central_ht/boards/rd_rw612_bga.conf
  samples/bluetooth/central_ht/boards/rd_rw612_bga.overlay
  samples/bluetooth/peripheral_ht/boards/frdm_rw612.conf
  samples/bluetooth/peripheral_ht/boards/frdm_rw612.overlay
  samples/bluetooth/peripheral_ht/boards/rd_rw612_bga.conf
  samples/bluetooth/peripheral_ht/boards/rd_rw612_bga.overlay
Labels: area: Bluetooth, area: Samples, area: Bluetooth Host

#91194 Spi loopback adjustments
  tests/drivers/spi/spi_loopback/src/spi.c
Labels: area: SPI

#91352 doc native: Clarify that in Windows one needs a VM for native_sim
  boards/native/doc/arch_soc.rst
Labels: area: Documentation, area: native port, Trivial

#90828 drivers: mbox_nxp_imx_mu: change send to return negative error
  drivers/mbox/mbox_nxp_imx_mu.c
Labels: area: mbox, platform: NXP Drivers

#90933 dts: arm: ti: Fix length of pinctrl block in J722s
  dts/arm/ti/j722s_main.dtsi
Labels: platform: TI SimpleLink, platform: TI K3, size: XS

#91372 boards: google_quincy: Enable NPCX firmware header
  boards/google/quincy/google_quincy_defconfig
Labels: Trivial

#91068 boards: nxp: mcxn947: enable the default MCU-Boot swap mode
  boards/nxp/frdm_mcxn947/Kconfig.defconfig
  boards/nxp/frdm_mcxn947/Kconfig.sysbuild
  boards/nxp/frdm_mcxn947/frdm_mcxn947.dtsi
  boards/nxp/frdm_mcxn947/frdm_mcxn947_mcxn947_cpu0_qspi.dts
  boards/nxp/mcx_n9xx_evk/Kconfig.defconfig
  boards/nxp/mcx_n9xx_evk/Kconfig.sysbuild
  boards/nxp/mcx_n9xx_evk/mcx_n9xx_evk.dtsi
  boards/nxp/mcx_n9xx_evk/mcx_n9xx_evk_mcxn947_cpu0_qspi.dts
Labels: platform: NXP

#91158 Bluetooth: Classic: SDP: Avoid invalid `session->param` be accessed
  subsys/bluetooth/host/classic/sdp.c
Labels: area: Bluetooth, area: Bluetooth Classic

#91176 tests: llext-edk: fix test timeout on some workloads
  tests/misc/llext-edk/testcase.yaml
Labels: Trivial, area: llext, size: XS

#91213 usb: device_next: allow to use label as interface string descriptor
  dts/bindings/usb/zephyr,hid-device.yaml
  samples/subsys/usb/hid-keyboard/app.overlay
  samples/subsys/usb/hid-keyboard/large_in_report.overlay
  samples/subsys/usb/hid-mouse/usbd_next.overlay
  subsys/usb/device_next/class/usbd_hid.c
Labels: area: USB, area: Samples, area: Devicetree, Experimental

#91224 drivers: voltage_divider: handle ADC PM
  drivers/sensor/voltage_divider/voltage.c
Labels: area: Sensors

#91230 drivers: intc_wch_pfic: correct/optimize interrupt disable logic
  drivers/interrupt_controller/intc_wch_pfic.c
Labels: area: Interrupt Controller, size: XS, platform: WinChipHead

#91237 drivers: dac: esp32: avoid out-of-range channel ID
  drivers/dac/dac_esp32.c
Labels: platform: ESP32, area: DAC, size: XS

#91253 devicetree: Use `IS_EQ()` for `DT_SAME_NODE()`
  include/zephyr/devicetree.h
Labels: area: Devicetree, size: XS

#91331 Documentation: Correct typo – 'singing' to 'signing'
  doc/build/signing/index.rst
Labels: area: Build System, Trivial

#91407 manifest lvgl: Update to fork with hotfix for Zephyr
  west.yml
Labels: Hotfix, manifest, manifest-lvgl, area: LVGL, size: XS

#87482 modbus: serial: Ignore received data when reception is disabled
  subsys/modbus/modbus_internal.h
  subsys/modbus/modbus_serial.c
Labels: area: modbus

#90154 bluetooth: cyw43xxx: support autobaud feature
  drivers/bluetooth/hci/Kconfig.infineon
  drivers/bluetooth/hci/h4_ifx_cyw43xxx.c
Labels: area: Bluetooth, area: Bluetooth HCI, platform: Infineon

#90986 Samples: Bluetooth: HR: Remove use of ISO config for IPC
  samples/bluetooth/central_hr/overlay-bt_ll_sw_split.conf
  samples/bluetooth/central_hr/sample.yaml
  samples/bluetooth/central_hr/sysbuild.cmake
  samples/bluetooth/peripheral_hr/overlay-bt_ll_sw_split.conf
  samples/bluetooth/peripheral_hr/sample.yaml
  samples/bluetooth/peripheral_hr/sysbuild.cmake
Labels: area: Bluetooth, area: Samples, area: Bluetooth Host

#91076 drivers: ethernet: phy_mii: restart autoneg after phy_configure_link
  drivers/ethernet/phy/phy_mii.c
Labels: area: Ethernet

#91435 modbus: fix Apache-2.0 SPDX License identifier case
  subsys/modbus/modbus_client.c
  subsys/modbus/modbus_internal.h
  subsys/modbus/modbus_serial.c
  subsys/modbus/modbus_server.c
Labels: Trivial, area: modbus

#90153 bluetooth: cyw43xxx: support PatchRAM files with multiple LaunchRAM commands
  drivers/bluetooth/hci/h4_ifx_cyw43xxx.c
Labels: area: Bluetooth, area: Bluetooth HCI, platform: Infineon

#90605 west: runners: nrfutil: Add key file when present to west flash command
  scripts/west_commands/runners/nrf_common.py
  scripts/west_commands/runners/nrfutil.py
Labels: area: West, area: Coding Guidelines, area: Continuous Integration

#91162 Bluetooth: Classic: SDP: Fix buf leak issue
  subsys/bluetooth/host/classic/sdp.c
Labels: area: Bluetooth, area: Bluetooth Classic

#91306 manifest: update hal_nordic revision to integrate nrfx 3.12.1
  west.yml
Labels: manifest, manifest-hal_nordic, size: XS

#91168 Bluetooth: Host: Update LE legacy pairing check
  subsys/bluetooth/host/smp.c
Labels: area: Bluetooth, area: Bluetooth Host

#91196 boards: mcx_n9xx_evk: Fix name in mcx_n9xx_evk_mcxn947_cpu1.yaml
  boards/nxp/mcx_n9xx_evk/mcx_n9xx_evk_mcxn947_cpu1.yaml
Labels: platform: NXP, Trivial, size: XS

#89274 boards: nxp_rw612: add u-blox EVK-IRIS-W1x support
  MAINTAINERS.yml
  boards/u-blox/ubx_evk_iris_w1/CMakeLists.txt
  boards/u-blox/ubx_evk_iris_w1/Kconfig.defconfig
  boards/u-blox/ubx_evk_iris_w1/Kconfig.ubx_evk_iris_w1
  boards/u-blox/ubx_evk_iris_w1/board.cmake
  boards/u-blox/ubx_evk_iris_w1/board.yml
  boards/u-blox/ubx_evk_iris_w1/doc/index.rst
  boards/u-blox/ubx_evk_iris_w1/doc/ubx_evk_iris_w1.webp
  boards/u-blox/ubx_evk_iris_w1/fidelex_flash_config.c
  boards/u-blox/ubx_evk_iris_w1/macronix_flash_config.c
  boards/u-blox/ubx_evk_iris_w1/pre_dt_board.cmake
  boards/u-blox/ubx_evk_iris_w1/revision.cmake
  boards/u-blox/ubx_evk_iris_w1/ubx_evk_iris_w1_common.dtsi
  boards/u-blox/ubx_evk_iris_w1/ubx_evk_iris_w1_rw612-pinctrl.dtsi
  boards/u-blox/ubx_evk_iris_w1/ubx_evk_iris_w1_rw612.dts
  boards/u-blox/ubx_evk_iris_w1/ubx_evk_iris_w1_rw612.yaml
  boards/u-blox/ubx_evk_iris_w1/ubx_evk_iris_w1_rw612_fidelex_defconfig
  boards/u-blox/ubx_evk_iris_w1/ubx_evk_iris_w1_rw612_macronix_defconfig
Labels: area: Process

#91305 stm32: tests: drivers: adc: adc_api: enable nocache memory for nucleo_f7
  tests/drivers/adc/adc_api/boards/nucleo_f746zg.conf
Labels: area: ADC, size: XS

#91339 boards: nrf54h20_iron: Allow radio updates
  boards/nordic/nrf54h20dk/Kconfig.defconfig
  boards/nordic/nrf54h20dk/nrf54h20dk_nrf54h20_cpuapp_iron.dts
  boards/nordic/nrf54h20dk/nrf54h20dk_nrf54h20_cpurad_iron.dts
  modules/Kconfig.mcuboot
  soc/nordic/nrf54h/soc.c
Labels: platform: nRF, area: MCUBoot

#88926 board: raytac: Add support for raytac_mdbt50q_cx_40_dongle
  boards/raytac/mdbt50q_cx_40_dongle/CMakeLists.txt
  boards/raytac/mdbt50q_cx_40_dongle/Kconfig
  boards/raytac/mdbt50q_cx_40_dongle/Kconfig.defconfig
  boards/raytac/mdbt50q_cx_40_dongle/Kconfig.raytac_mdbt50q_cx_40_dongle
  boards/raytac/mdbt50q_cx_40_dongle/board.c
  boards/raytac/mdbt50q_cx_40_dongle/board.cmake
  boards/raytac/mdbt50q_cx_40_dongle/board.yml
  boards/raytac/mdbt50q_cx_40_dongle/doc/img/raytac_mdbt50q_cx_40_dongle.webp
  boards/raytac/mdbt50q_cx_40_dongle/doc/img/raytac_mdbt50q_cx_40_dongle_button_led.webp
  boards/raytac/mdbt50q_cx_40_dongle/doc/index.rst
  boards/raytac/mdbt50q_cx_40_dongle/fstab-debugger.dtsi
  boards/raytac/mdbt50q_cx_40_dongle/fstab-stock.dtsi
  boards/raytac/mdbt50q_cx_40_dongle/pre_dt_board.cmake
  boards/raytac/mdbt50q_cx_40_dongle/raytac_mdbt50q_cx_40_dongle_nrf52840-pinctrl.dtsi
  boards/raytac/mdbt50q_cx_40_dongle/raytac_mdbt50q_cx_40_dongle_nrf52840.dts
  boards/raytac/mdbt50q_cx_40_dongle/raytac_mdbt50q_cx_40_dongle_nrf52840.yaml
  boards/raytac/mdbt50q_cx_40_dongle/raytac_mdbt50q_cx_40_dongle_nrf52840_defconfig
Labels: area: Boards, platform: nRF

#88760 soc: nordic: common: poweroff: Set VPR to remain in its reset state
  soc/nordic/common/poweroff.c
Labels: platform: nRF

#88983 scripts: ci: check_compliance.py: Fix check_disallowed_defconfigs: Windows
  scripts/ci/check_compliance.py
Labels: area: Coding Guidelines, area: Continuous Integration

#88633 regulator: npm1300: configure active discharge
  drivers/regulator/regulator_npm1300.c
  dts/bindings/regulator/nordic,npm1300-regulator.yaml
Labels: platform: nRF, area: Regulators

#90594 drivers: clock_control_nrf: Prevent break from becoming dead code
  drivers/clock_control/clock_control_nrf.c
Labels: platform: nRF, area: Clock Control, Trivial

#91298 tests: Bluetooth: Update ICS to TCRL 2025-2
  tests/bluetooth/qualification/ICS_Zephyr_Bluetooth_Host.bqw
  tests/bluetooth/qualification/ICS_Zephyr_Bluetooth_Host.pts
Labels: area: Bluetooth, area: Bluetooth Qualification

#91351 modules: hostap: Fix DPP security mode show issue
  modules/hostap/src/supp_api.c
Labels: area: Wi-Fi

#89044 samples: boards: nordic: system_off fixes
  samples/boards/nordic/system_off/sample.yaml
  samples/boards/nordic/system_off/src/main.c
Labels: area: Samples, platform: nRF

#90682 drivers: cache: nrf: ifdef NRF_CACHE_HAS_LINEADDR
  drivers/cache/cache_nrf.c
Labels: platform: nRF, area: Cache

#91321 dts: arm: microchip: Organize MEC parts into a subfolder
  boards/microchip/mec1501modular_assy6885/mec1501modular_assy6885-pinctrl.dtsi
  boards/microchip/mec15xxevb_assy6853/mec15xxevb_assy6853-pinctrl.dtsi
  boards/microchip/mec172xevb_assy6906/mec172xevb_assy6906.dts
  boards/microchip/mec172xmodular_assy6930/mec172xmodular_assy6930.dts
  boards/microchip/mec_assy6941/mec_assy6941_mec1743_qlj.dts
  boards/microchip/mec_assy6941/mec_assy6941_mec1743_qsz.dts
  boards/microchip/mec_assy6941/mec_assy6941_mec1753_qlj.dts
  boards/microchip/mec_assy6941/mec_assy6941_mec1753_qsz.dts
  dts/arm/microchip/mec/mec1501hsz.dtsi
  dts/arm/microchip/mec/mec152x/mec1523hsz-pinctrl.dtsi
  dts/arm/microchip/mec/mec152x/mec152xhsz-pinctrl.dtsi
  dts/arm/microchip/mec/mec1727nsz.dtsi
  dts/arm/microchip/mec/mec172x/mec172x-vw-routing.dtsi
  dts/arm/microchip/mec/mec172x/mec172xnlj-pinctrl.dtsi
  dts/arm/microchip/mec/mec172x/mec172xnsz-pinctrl.dtsi
  dts/arm/microchip/mec/mec172x_common.dtsi
  dts/arm/microchip/mec/mec172xnlj.dtsi
  dts/arm/microchip/mec/mec172xnsz.dtsi
  dts/arm/microchip/mec/mec5.dtsi
  dts/arm/microchip/mec/mec5/mec5_dma_chan16.dtsi
  dts/arm/microchip/mec/mec5/mec5_dma_chan20.dtsi
  dts/arm/microchip/mec/mec5/mec5_eeprom_8kb.dtsi
  dts/arm/microchip/mec/mec5/mec5_gpspi_v1.dtsi
  dts/arm/microchip/mec/mec5/mec5_gpspi_v2.dtsi
  dts/arm/microchip/mec/mec5/mec5_i3c.dtsi
  dts/arm/microchip/mec/mec5/mec5_pkg176_pwms.dtsi
  dts/arm/microchip/mec/mec5/mec5_pkg176_uarts.dtsi
  dts/arm/microchip/mec/mec5/mec5_power_guards.dtsi
  dts/arm/microchip/mec/mec5_mec1743qlj.dtsi
  dts/arm/microchip/mec/mec5_mec1743qsz.dtsi
  dts/arm/microchip/mec/mec5_mec1753qlj.dtsi
  dts/arm/microchip/mec/mec5_mec1753qsz.dtsi
  dts/arm/microchip/mec/mec5_mech1723nlj.dtsi
  dts/arm/microchip/mec/mec5_mech1723nsz.dtsi
Labels: platform: Microchip MEC

#91369 doc: wifi: Add certificate generation instructions
  doc/connectivity/networking/api/wifi.rst
  doc/releases/release-notes-4.2.rst
Labels: area: Networking, area: Wi-Fi, Release Notes

#91531 manifest: update hal_nxp with fix for RW61x wifi compilation
  west.yml
Labels: Hotfix, manifest, manifest-hal_nxp, size: XS

#91379 drivers: video: common: avoid dead code in functions with retry
  drivers/video/video_common.c
Labels: area: Video

#91411 i2c: npcx: Verify msg is not null
  drivers/i2c/i2c_npcx_controller.c
Labels: area: I2C, Trivial, platform: Nuvoton NPCX, size: XS

#91541 Bluetooth: Remove useless `sys_cpu_to_le16` for `uint8_t` type
  subsys/bluetooth/host/hci_core.c
Labels: area: Bluetooth, Trivial, area: Bluetooth Host, size: XS

#91235 soc: sensry: fix irq enable/disable
  soc/sensry/ganymed/sy1xx/common/soc.c
Labels: platform: sensry

#91081 doc: wifi: siwx91x: Add Wi-Fi features documentation
  boards/silabs/radio_boards/common/wifi.rst
  boards/silabs/radio_boards/siwx917_rb4338a/doc/index.rst
  boards/silabs/radio_boards/siwx917_rb4342a/doc/index.rst
Labels: platform: Silabs
