Repository zephyrproject-rtos/zephyr, pull requests merged in 2025-10, with the labels that each got.

#96615 boards: nxp: mimxrt1180_evk: update jlinkscript for cm33/cm7
  boards/nxp/mimxrt1180_evk/jlinkscript/evkmimxrt1180_cm33.jlinkscript
  boards/nxp/mimxrt1180_evk/jlinkscript/evkmimxrt1180_cm7.jlinkscript
Labels: platform: NXP, platform: NXP MCU

#96646 Bluetooth: Host: Add note about recycled for BT_LE_ADV_OPT_CONN
  include/zephyr/bluetooth/bluetooth.h
Labels: area: Bluetooth, area: Bluetooth Host

#96658 boards: Add Adafruit Trinkey QT2040 board
  boards/adafruit/trinkey_qt2040/Kconfig
  boards/adafruit/trinkey_qt2040/Kconfig.adafruit_trinkey_qt2040
  boards/adafruit/trinkey_qt2040/Kconfig.defconfig
  boards/adafruit/trinkey_qt2040/adafruit_trinkey_qt2040.dts
  boards/adafruit/trinkey_qt2040/adafruit_trinkey_qt2040.yaml
  boards/adafruit/trinkey_qt2040/adafruit_trinkey_qt2040_defconfig
  boards/adafruit/trinkey_qt2040/board.cmake
  boards/adafruit/trinkey_qt2040/board.yml
  boards/adafruit/trinkey_qt2040/doc/img/adafruit_trinkey_qt2040.webp
  boards/adafruit/trinkey_qt2040/doc/index.rst
Labels: area: Boards/SoCs

#96659 boards: Add Waveshare RP2040-Keyboard-3 development board
  boards/waveshare/rp2040_keyboard_3/Kconfig
  boards/waveshare/rp2040_keyboard_3/Kconfig.defconfig
  boards/waveshare/rp2040_keyboard_3/Kconfig.rp2040_keyboard_3
  boards/waveshare/rp2040_keyboard_3/board.cmake
  boards/waveshare/rp2040_keyboard_3/board.yml
  boards/waveshare/rp2040_keyboard_3/doc/img/rp2040_keyboard_3.webp
  boards/waveshare/rp2040_keyboard_3/doc/index.rst
  boards/waveshare/rp2040_keyboard_3/rp2040_keyboard_3.dts
  boards/waveshare/rp2040_keyboard_3/rp2040_keyboard_3.yaml
  boards/waveshare/rp2040_keyboard_3/rp2040_keyboard_3_defconfig
Labels: area: Boards/SoCs

#96665 boards: Add Waveshare RP2040-GEEK board
  boards/waveshare/rp2040_geek/Kconfig
  boards/waveshare/rp2040_geek/Kconfig.defconfig
  boards/waveshare/rp2040_geek/Kconfig.rp2040_geek
  boards/waveshare/rp2040_geek/board.cmake
  boards/waveshare/rp2040_geek/board.yml
  boards/waveshare/rp2040_geek/doc/img/rp2040_geek.webp
  boards/waveshare/rp2040_geek/doc/index.rst
  boards/waveshare/rp2040_geek/rp2040_geek-pincontrol.dtsi
  boards/waveshare/rp2040_geek/rp2040_geek.dts
  boards/waveshare/rp2040_geek/rp2040_geek.yaml
  boards/waveshare/rp2040_geek/rp2040_geek_defconfig
Labels: area: Boards/SoCs

#96681 drivers: serial: pl011: only declare ambiq pm action when used
  drivers/serial/uart_pl011_ambiq.h
Labels: area: UART, platform: Ambiq, size: XS

#96685 soc: nordic: nrf54h: s2ram: Support disabled MPU
  soc/nordic/nrf54h/pm_s2ram.c
Labels: platform: nRF, area: Boards/SoCs

#96709 drivers: power_domain: nrf_gpio_pad_group: Fix DT macro
  drivers/power_domain/power_domain_nrf_gpio_pad_group.c
Labels: area: Power Management, platform: nRF, size: XS

#96563 soc: stm32g0: Add configurable FLASH prefetch option for G0B0/G0B1/G0C1
  soc/st/stm32/stm32g0x/Kconfig.defconfig
  soc/st/stm32/stm32g0x/soc.c
Labels: platform: STM32, area: Boards/SoCs

#96408 soc: nuvoton: numicro: Disable m48x SPIM cache
  soc/nuvoton/numicro/m48x/soc.c
Labels: platform: Nuvoton Numicro Numaker

#96733 MAINTAINERS: Add op amp maintainers
  MAINTAINERS.yml
Labels: area: MAINTAINER File

#96726 net: sockets: Reserve a default heap space for getaddrinfo
  subsys/net/lib/sockets/Kconfig
Labels: area: Networking, area: Sockets

#96722 llext: only build fs_loader.c if file-systems are enabled
  subsys/llext/CMakeLists.txt
Labels: area: llext, size: XS

#96660 lib: smf: remove unreachable case in get_lca_of()
  lib/smf/smf.c
Labels: area: State Machine Framework

#96511 drivers: sensor: voltage-divider: Add skip-calibration property
  drivers/sensor/voltage_divider/voltage.c
  dts/bindings/iio/afe/voltage-divider.yaml
Labels: area: Sensors, area: Devicetree, area: Boards/SoCs, area: Devicetree Bindings

#96429 drivers: sensor: voltage_divider: Use k_timepoint_t for absolute time
  drivers/sensor/voltage_divider/voltage.c
Labels: area: Sensors

#93637 drivers: i2c_sedi: add API to retrieve current configuration
  drivers/i2c/i2c_sedi.c
Labels: area: I2C, platform: Intel ISH

#96764 net: mqtt_sn: Implement updating will topic and message
  doc/connectivity/networking/api/mqtt_sn.rst
  include/zephyr/net/mqtt_sn.h
  subsys/net/lib/mqtt_sn/mqtt_sn.c
  tests/net/lib/mqtt_sn_client/src/mqtt_sn_client.c
Labels: area: Networking, area: Tests

#96759 drivers: disk: sdmmc_stm32: fix compilation error for SDMMC_STM32_EMMC
  drivers/disk/sdmmc_stm32.c
Labels: platform: STM32, area: Disk Access

#96786 Fix nrf board variants flashing
  boards/nordic/nrf54h20dk/board.yml
Labels: platform: nRF, area: Boards/SoCs

#96774 drivers: sensor: explorir_m: fix variable mix-up
  drivers/sensor/explorir_m/explorir_m.c
Labels: area: Sensors

#96744 tests: Bluetooth: Audio: Fix uninitalized value
  tests/bluetooth/audio/mocks/src/gatt.c
Labels: area: Bluetooth, area: Tests, Trivial, area: Bluetooth Audio, size: XS

#96723 include: arch: arm: cortex_m: Move ITCM before .text
  include/zephyr/arch/arm/cortex_m/scripts/linker.ld
Labels: area: ARM, area: Architectures

#96464 drivers: spi: spi_ll_stm32: add support for IO swap
  drivers/spi/spi_ll_stm32.c
  drivers/spi/spi_ll_stm32.h
  dts/bindings/spi/st,stm32-spi-common.yaml
Labels: area: SPI, platform: STM32

#96695 soc: nordic: nrf54h: increase default log stack size if CONFIG_PM=y
  soc/nordic/nrf54h/Kconfig.defconfig
Labels: platform: nRF, Trivial, area: Boards/SoCs

#96900 soc: nordic: common: mram_latency: Fix returning uninitialized value
  soc/nordic/common/mram_latency.c
Labels: platform: nRF, Trivial, area: Boards/SoCs

#74029 modbus: support async modbus serial
  subsys/modbus/Kconfig
  subsys/modbus/modbus_serial.c
Labels: area: modbus

#96603 Add resource table section for imx8m imx9 series soc
  soc/nxp/imx/CMakeLists.txt
  soc/nxp/imx/rsc_table.ld
Labels: platform: NXP, platform: NXP MPU, area: Boards/SoCs

#96710 littlefs: boards: delete frdm_mcxa156 configuration
  samples/subsys/fs/littlefs/boards/frdm_mcxa156.conf
  tests/subsys/fs/littlefs/boards/frdm_mcxa156.conf
Labels: area: File System, area: Samples, area: Tests

#96760 net: http_server: Fix crash when cb refuses new websocket connection
  subsys/net/lib/http/http_server_core.c
Labels: area: Networking, area: HTTP

#96789 cmake: use zephyr_file_copy(...) instead of file(COPY_FILE ...)
  cmake/modules/extensions.cmake
Labels: area: Build System, size: XS

#96813 shell: fix app version sub commands
  subsys/shell/modules/app_version_service.c
Labels: area: Shell

#96820 doc: release notes: add LVGL zephyr regions options
  doc/releases/release-notes-4.3.rst
Labels: Release Notes

#96838 cmake: add net_socket_service_desc to common-rom.cmake
  cmake/linker_script/common/common-rom.cmake
Labels: area: Build System

#96830 modem: modem_cellular: revert baudrate on reset
  drivers/modem/modem_cellular.c
Labels: area: Modem Drivers

#96825 manifest: Move to latest hal_adi
  west.yml
Labels: manifest, platform: ADI, manifest-hal_adi, size: XS

#96775 drivers: rtc: modify Nuvoton numaker driver for compatibility
  drivers/rtc/rtc_numaker.c
Labels: area: RTC, platform: Nuvoton Numicro Numaker

#96609 sysbuild: support application CMakePresets.json files with sysbuild
  doc/build/sysbuild/index.rst
  scripts/west_commands/build.py
  share/sysbuild/CMakeLists.txt
  share/sysbuild/CMakePresets.json
Labels: area: Build System, area: West, area: Sysbuild

#89837 drivers: bluetooth: hci: Introduce bt_spi_close to support bt_disable
  drivers/bluetooth/hci/hci_spi_st.c
Labels: area: Bluetooth, platform: STM32, area: Bluetooth HCI

#96942 ci: Switch to CI image v0.28.5
  .github/workflows/bsim-tests.yaml
  .github/workflows/clang.yaml
  .github/workflows/codecov.yaml
  .github/workflows/errno.yml
  .github/workflows/footprint-tracking.yml
  .github/workflows/twister.yaml
Labels: area: Continuous Integration, platform: nRF BSIM

#96987 ci: errno: use action-zephyr-setup action
  .github/workflows/errno.yml
Labels: Trivial, area: Continuous Integration

#96982 ci: Switch to CI image v0.28.6
  .github/workflows/bsim-tests.yaml
  .github/workflows/clang.yaml
  .github/workflows/codecov.yaml
  .github/workflows/doc-build.yml
  .github/workflows/footprint-tracking.yml
  .github/workflows/twister.yaml
Labels: area: Continuous Integration, platform: nRF BSIM

#96946 doc: fix peripheral to peripheral_hr
  boards/native/nrf_bsim/doc/nrf52_bsim.rst
Labels: Trivial, platform: nRF BSIM, size: XS, area: Boards/SoCs

#96893 boards: st: nucleo_g431kb: fix lptim1 domain clock
  boards/st/nucleo_g431kb/nucleo_g431kb.dts
Labels: platform: STM32, size: XS, area: Boards/SoCs

#96890 linker: nxp: imxrt6xx: hifi4: add missing include
  soc/nxp/imxrt/imxrt6xx/hifi4/linker.ld
Labels: platform: NXP, platform: NXP Xtensa, platform: NXP MCU, area: Boards/SoCs

#96885 Fixes #96880 - unneccessary log file deletion
  subsys/logging/backends/log_backend_fs.c
Labels: area: Logging, size: XS

#96875 scripts: dts: fix CMake DT API helper for compatible properties
  scripts/dts/gen_dts_cmake.py
Labels: bug, area: Devicetree

#96855 drivers: pinctrl: nrf: use HAL defines
  drivers/pinctrl/pinctrl_nrf.c
Labels: platform: nRF, area: Pinctrl

#96795 soc: st: Add missing definition for STM32H742xx
  soc/st/stm32/soc.yml
Labels: platform: STM32, size: XS, area: Boards/SoCs

#96513 modules: hal_silabs: Add shim for sl_memory_manager_pool APIs
  modules/hal_silabs/simplicity_sdk/CMakeLists.txt
  modules/hal_silabs/simplicity_sdk/src/sl_memory_manager_pool_shim.c
Labels: platform: Silabs

#93826 sys: cbprintf: logging: fix equivalent branches in argify macro
  include/zephyr/sys/cbprintf_internal.h
Labels: area: Formatting Output, size: XS

#97009 ci: set two more ccache-cache-key false flags
  .github/workflows/doc-build.yml
  .github/workflows/errno.yml
Labels: Trivial, area: Continuous Integration

#96846 scripts: compliance: Add basic cmake style checks
  scripts/ci/check_compliance.py
Labels: area: Continuous Integration, area: Linters

#96969 scripts: set_assignee: add tests as a meta area
  scripts/set_assignees.py
Labels: Trivial, area: Continuous Integration, area: MAINTAINER File

#94706 tests: ram_context_for_isr: exclude frdm_k32l2b3/k32l2b31a.
  tests/application_development/ram_context_for_isr/testcase.yaml
Labels: area: Build System, area: Tests, Trivial, size: XS

#90035 Proposal for modification of the unit test documentation
  doc/develop/test/ztest.rst
Labels: area: Testsuite

#94102 modules: systemview: Systemview section move to .dtcm_bss
  west.yml
Labels: area: Debugging, manifest, manifest-segger, size: XS

#96897 modem: cmux: auto calculate work buffer sizes
  doc/releases/migration-guide-4.3.rst
  drivers/modem/modem_cellular.c
  include/zephyr/modem/cmux.h
  subsys/modem/Kconfig
Labels: Release Notes, area: Modem, area: Modem Drivers

#96901 soc: nordic: uicr: fix SPIM CSN CTRLSEL values
  soc/nordic/common/uicr/gen_periphconf_entries.py
  soc/nordic/common/uicr/periphconf/builder.py
Labels: platform: nRF, platform: nRF IronSide SE, area: Boards/SoCs

#96921 tests: boot: Fix bootloader.mcuboot boot loop for nrf platforms
  tests/boot/test_mcuboot/sysbuild.cmake
Labels: area: Tests, area: MCUBoot, area: Bootloader

#96905 net_buf: do not assert on buffer reset when flags are set
  lib/net_buf/buf.c
Labels: area: Networking Buffers, size: XS

#96837 drivers: timer: nrf_grtc: Move GRTC initialization to early init
  drivers/timer/nrf_grtc_timer.c
Labels: area: Timer, platform: nRF

#96687 boards: add WeAct Studio ESP32-S3-B board support
  boards/weact/weact_esp32s3_b/Kconfig
  boards/weact/weact_esp32s3_b/Kconfig.sysbuild
  boards/weact/weact_esp32s3_b/Kconfig.weact_esp32s3_b
  boards/weact/weact_esp32s3_b/board.cmake
  boards/weact/weact_esp32s3_b/board.yml
  boards/weact/weact_esp32s3_b/doc/img/weact_esp32s3_b.webp
  boards/weact/weact_esp32s3_b/doc/index.rst
  boards/weact/weact_esp32s3_b/support/openocd.cfg
  boards/weact/weact_esp32s3_b/weact_esp32s3_b-pinctrl.dtsi
  boards/weact/weact_esp32s3_b/weact_esp32s3_b_appcpu.dts
  boards/weact/weact_esp32s3_b/weact_esp32s3_b_appcpu.yaml
  boards/weact/weact_esp32s3_b/weact_esp32s3_b_appcpu_defconfig
  boards/weact/weact_esp32s3_b/weact_esp32s3_b_procpu.dts
  boards/weact/weact_esp32s3_b/weact_esp32s3_b_procpu.yaml
  boards/weact/weact_esp32s3_b/weact_esp32s3_b_procpu_defconfig
Labels: area: Boards/SoCs

#94621 mbox nxp imx mu
  drivers/mbox/mbox_nxp_imx_mu.c
Labels: platform: NXP, area: mbox, platform: NXP Drivers

#96932 tests: Update smp test to support 12 CPUs
  tests/kernel/smp/src/main.c
Labels: area: Kernel, area: Tests

#96376 drivers: sensor: st: lis2du12: add SENSOR_TRIG_DELTA support
  drivers/sensor/st/lis2du12/lis2du12.c
  drivers/sensor/st/lis2du12/lis2du12.h
  drivers/sensor/st/lis2du12/lis2du12_trigger.c
  dts/bindings/sensor/st,lis2du12-common.yaml
Labels: area: Sensors

#96366 MAINTAINERS: Add self as collaborator
  MAINTAINERS.yml
Labels: area: MAINTAINER File

#97075 west.yml: espressif: use Zephyr utils for MIN/MAX
  west.yml
Labels: platform: ESP32, Hotfix, manifest, manifest-hal_espressif, size: XS

#96894 tests: posix: signals: adjust expectations for real-time signals
  lib/posix/options/signal.c
  tests/posix/signals/src/main.c
Labels: area: Tests, area: POSIX, Hotfix

#96867 shields: arduino: Add support for Arduino Modulino Thermo
  boards/shields/arduino_modulino_thermo/Kconfig.shield
  boards/shields/arduino_modulino_thermo/arduino_modulino_thermo.overlay
  boards/shields/arduino_modulino_thermo/doc/img/arduino_modulino_thermo.webp
  boards/shields/arduino_modulino_thermo/doc/index.rst
  boards/shields/arduino_modulino_thermo/shield.yml
Labels: area: Shields, area: Boards/SoCs

#96939 include: kernel: doc: improve slab API "isr-ok" documentation
  include/zephyr/kernel.h
Labels: area: Kernel

#96289 AMP rpmsg samples fix
  samples/subsys/ipc/rpmsg_service/CMakeLists.txt
  samples/subsys/ipc/rpmsg_service/Kconfig
  samples/subsys/ipc/rpmsg_service/Kconfig.sysbuild
  samples/subsys/ipc/rpmsg_service/remote/Kconfig
  samples/subsys/ipc/rpmsg_service/remote/socs/esp32_procpu.overlay
  samples/subsys/ipc/rpmsg_service/remote/socs/esp32s3_procpu.overlay
  samples/subsys/ipc/rpmsg_service/remote/src/main.c
  samples/subsys/ipc/rpmsg_service/sample.yaml
  samples/subsys/ipc/rpmsg_service/socs/esp32_procpu.overlay
  samples/subsys/ipc/rpmsg_service/socs/esp32s3_procpu.overlay
  samples/subsys/ipc/rpmsg_service/src/main.c
  samples/subsys/ipc/rpmsg_service/sysbuild.cmake
Labels: area: Samples, area: IPC, area: Open AMP

#96749 tests: flash: Fix disable_spi_nor filtering
  tests/drivers/flash/common/Kconfig
  tests/drivers/flash/common/src/main.c
  tests/drivers/flash/common/testcase.yaml
Labels: area: Flash, area: Tests

#96947 modem: select `UART_USE_RUNTIME_CONFIGURE`
  drivers/modem/Kconfig.cellular
Labels: area: Modem Drivers, size: XS

#97039 driver: i2s: fix nxp i2s fifo combine values
  drivers/i2s/i2s_mcux_sai.c
Labels: platform: NXP, Trivial, area: I2S

#96959 west.yml: update hal_stm32 revision for stm32wba LL url update
  west.yml
Labels: platform: STM32, manifest, manifest-hal_stm32, size: XS, Binary Blobs Modified

#96972 soc: ironside: add min and max values for update
  samples/boards/nordic/nrf_ironside/update/src/main.c
  soc/nordic/ironside/include/nrf_ironside/update.h
  soc/nordic/ironside/update.c
Labels: area: Samples, platform: nRF, platform: nRF IronSide SE, area: Boards/SoCs

#97095 boards: nordic: nrf54lm20dk: remove support for wdt from flpr
  boards/nordic/nrf54lm20dk/nrf54lm20dk_nrf54lm20a_cpuflpr.yaml
Labels: platform: nRF, Trivial, size: XS, area: Boards/SoCs

#96979 drivers/sensor/: lis2dux12/lsm6dsv16x: use helpers
  drivers/sensor/st/lis2dux12/lis2dux12.h
  drivers/sensor/st/lis2dux12/lis2dux12_rtio_stream.c
  drivers/sensor/st/lsm6dsv16x/lsm6dsv16x_rtio_stream.c
Labels: Enhancement, area: Drivers, area: Sensors, area: RTIO

#96922 net: openthread: Expand OpenThread features
  modules/openthread/Kconfig
  modules/openthread/Kconfig.features
  modules/openthread/platform/openthread-core-zephyr-config.h
Labels: area: OpenThread

#96142 Bluetooth: BAP: Shell: 0-init some global variables
  subsys/bluetooth/audio/shell/bap.c
Labels: area: Bluetooth, area: Bluetooth Audio

#96991 release: Zephyr v4.2.1
  VERSION
Labels: size: XS

#97003 tests: drivers: flash: Improve compatibility with 64-bit platforms
  tests/drivers/flash/common/src/main.c
Labels: area: Flash, area: Tests

#97005 tests: logging: Improve compatibility with 64-bit platforms
  tests/subsys/logging/log_backend_uart/src/main.c
  tests/subsys/logging/log_core_additional/src/log_test.c
Labels: area: Logging, area: Tests

#97019 boards: st: nucleo_c071rb: Add pull-up to user button
  boards/st/nucleo_c071rb/nucleo_c071rb.dts
Labels: platform: STM32, size: XS, area: Boards/SoCs

#96732 samples: subsys: mgmt: mcumgr: smp-svr: Enable for BeagleConnect Freedom
  samples/subsys/mgmt/mcumgr/smp_svr/802154-subg.conf
  samples/subsys/mgmt/mcumgr/smp_svr/README.rst
  samples/subsys/mgmt/mcumgr/smp_svr/sample.yaml
Labels: area: Samples, area: mcumgr

#96940 drivers: i2c: minor update to Infineon driver
  drivers/i2c/i2c_ifx_cat1_pdl.c
Labels: area: I2C, platform: Infineon

#96970 scripts: utils: migrate_mcumgr_kconfigs: Remove old Kconfigs
  scripts/utils/migrate_mcumgr_kconfigs.py
Labels: area: mcumgr

#97032 openthread: platform: radio_spinel: Spinel variables on global memory
  modules/openthread/platform/radio_spinel.cpp
Labels: area: OpenThread

#94242 boards: qemu/xtensa: ignore FPU and SMP testing tags
  boards/qemu/xtensa/qemu_xtensa_dc233c.yaml
  boards/qemu/xtensa/qemu_xtensa_dc233c_mmu.yaml
  boards/qemu/xtensa/qemu_xtensa_sample_controller32_mpu.yaml
Labels: area: Xtensa

#96742 tests: Bluetooth: Codec: Modify unittests to native_sim
  tests/bluetooth/audio/codec/CMakeLists.txt
  tests/bluetooth/audio/codec/prj.conf
  tests/bluetooth/audio/codec/src/main.c
  tests/bluetooth/audio/codec/testcase.yaml
  tests/bluetooth/audio/codec/uut/CMakeLists.txt
Labels: area: Bluetooth, area: Tests, area: Bluetooth Audio

#96743 tests: Bluetooth: PACS: Modify unittests to native_sim
  tests/bluetooth/audio/pacs/CMakeLists.txt
  tests/bluetooth/audio/pacs/testcase.yaml
  tests/bluetooth/audio/pacs/uut/CMakeLists.txt
Labels: area: Bluetooth, area: Tests, area: Bluetooth Audio

#97036 tests: drivers: uart: uart_async_api: Enable test on nrf54h20 PPR XIP
  tests/drivers/uart/uart_async_api/boards/nrf54h20dk_nrf54h20_cpuppr_xip.conf
  tests/drivers/uart/uart_async_api/boards/nrf54h20dk_nrf54h20_cpuppr_xip.overlay
Labels: area: UART, area: Tests

#97139 tests: bluetooth: tester: Fix extra newline in logs
  tests/bluetooth/tester/src/btp_mesh.c
Labels: area: Bluetooth, area: Tests, Trivial, area: Bluetooth Qualification, size: XS

#97038 tests: drivers: flash: Fix fixture assignment for the supply-gpios test
  tests/drivers/flash/common/testcase.yaml
Labels: area: Flash, area: Tests

#97014 Fix temperature value calculation for ds18s20
  drivers/sensor/maxim/ds18b20/ds18b20.c
Labels: area: Sensors, platform: ADI, size: XS

#96538 drivers: timer: nrf_grtc_timer: use a function for cc enable check
  drivers/timer/nrf_grtc_timer.c
Labels: area: Timer, platform: nRF
